@font-face
  font-family: 'GraphikLCG'
  font-display: swap
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GraphikLCG'
  font-display: swap
  src: url('../fonts/GraphikLCG-Bold.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Bold.woff') format('woff')
  font-weight: Bold
  font-style: normal

@font-face
  font-family: 'GraphikLCG'
  font-display: swap
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Acrom'
  font-display: swap
  src: url('../fonts/Acrom-Regular.woff2') format('woff2'),
  url('../fonts/Acrom-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Acrom'
  font-display: swap
  src: url('../fonts/Acrom-Medium.woff2') format('woff2'),
  url('../fonts/Acrom-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Acrom'
  font-display: swap
  src: url('../fonts/Acrom-ExtraBold.woff2') format('woff2'),
  url('../fonts/Acrom-ExtraBold.woff') format('woff')
  font-weight: 800
  font-style: normal
