mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        .scr1__img(style="background: transparent url('img/src1-bg.jpg') no-repeat center center; background-size: cover;")
          .scr1__bus
            img(src="img/scr1-img.png" alt="")

        .scr1__content
          h1.scr1__title.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.2s") Предоставим автобус для группы
            span.accent  от 18 человек
            |  в&nbsp;любую точку Крыма

          p.scr1__desc.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.6s") В нашем распоряжении больше
            b  50 автомобилей от 30 до 55 мест,
            |  каждый из которых оборудован кондиционером, телевизором и микрофоном

          .scr1__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad(href="#") Рассчитать стоимость поездки

        ul.scr1__feat
          li.wow.fadeInLeft(data-wow-duration="0.8s" data-wow-delay="0.6s")
            h3.scr1__feat-title.xtitle Безопасные перевозки
              br
              |  за счёт регулярного ТО

            .scr1__feat-text
              p Наличие собственное ремонтной базы и инженеров-механиков позволяет проходить регулярное ТО
          li.wow.fadeInLeft(data-wow-duration="0.8s" data-wow-delay="0.4s")
            h3.scr1__feat-title.xtitle Комфортные поездки за счёт


            .scr1__feat-text
              p Все кондиционеры и освещение в салоне исправны, есть большие багажные отделения и полки для ручной клади
          li.wow.fadeInLeft(data-wow-duration="0.8s" data-wow-delay="0.2s")
            h3.scr1__feat-title.xtitle Мед. обследование водителей
              br
              |  перед каждым выездом

            .scr1__feat-text
              p Наличие штата профессиональных водителей, которые проходят медицинское обследование перед каждым рейсом

  // /.scr1
