mixin scr_tours()
  section.scr_tours.tours.blue-bg(id="scr_tours")
    .container
      h2.page-title Изучите Крым с помощью авторских туров
      .page-desc
        p Программы туров продуманны до мелочей и рассчитаны на группы людей любого возраста

      .tours__wrap
        .tours__slider#tours__slider
          .swiper-wrapper
            .swiper-slide
              .tours__item
                .tours__content
                  h3.tours__title.xtitle горные туры
                  .tours__text
                    p Название «Карадаг» по одной из версий означает «Черная гора». Карадаг — один из древнейших вулканов Европы, относится к Юрскому периоду. Последние извержение вулкана было 160 миллионов лет назад, около 130 миллионов лет назад произошел тектонический сдвиг вулкана...
                  .tours__btns
                    .btn__wrap
                      a.xbtn.xbtn--red(href="#") Узнать подробнее

                .tours__img
                  img(src="img-temp/tours-1.jpg" alt="" data-object-fit-cover)

            .swiper-slide
              .tours__item
                .tours__content
                  h3.tours__title.xtitle винные ТУРЫ
                  .tours__text
                    p Название «Карадаг» по одной из версий означает «Черная гора». Карадаг — один из древнейших вулканов Европы, относится к Юрскому периоду. Последние извержение вулкана было 160 миллионов лет назад, около 130 миллионов лет назад произошел тектонический сдвиг вулкана...
                    p Название «Карадаг» по одной из версий означает «Черная гора». Карадаг — один из древнейших вулканов Европы, относится к Юрскому периоду. Последние извержение вулкана было 160 миллионов лет назад, около 130 миллионов лет назад произошел тектонический сдвиг вулкана...
                  .tours__btns
                    .btn__wrap
                      a.xbtn.xbtn--red(href="#") Узнать подробнее

                .tours__img
                  img(src="img-temp/tours-2.jpg" alt="" data-object-fit-cover)

            .swiper-slide
              .tours__item
                .tours__content
                  h3.tours__title.xtitle горные туры
                  .tours__text
                    p Название «Карадаг» по одной из версий означает «Черная гора». Карадаг — один из древнейших вулканов Европы, относится к Юрскому периоду. Последние извержение вулкана было 160 миллионов лет назад, около 130 миллионов лет назад произошел тектонический сдвиг вулкана...
                  .tours__btns
                    .btn__wrap
                      a.xbtn.xbtn--red(href="#") Узнать подробнее

                .tours__img
                  img(src="img-temp/tours-1.jpg" alt="" data-object-fit-cover)

            .swiper-slide
              .tours__item
                .tours__content
                  h3.tours__title.xtitle винные ТУРЫ
                  .tours__text
                    p Название «Карадаг» по одной из версий означает «Черная гора». Карадаг — один из древнейших вулканов Европы, относится к Юрскому периоду. Последние извержение вулкана было 160 миллионов лет назад, около 130 миллионов лет назад произошел тектонический сдвиг вулкана...
                  .tours__btns
                    .btn__wrap
                      a.xbtn.xbtn--red(href="#") Узнать подробнее

                .tours__img
                  img(src="img-temp/tours-2.jpg" alt="" data-object-fit-cover)

        .tours__slider-btns
          .swiper-dots

  // /.scr_tours
