mixin scr_feat()
  section.scr_feat.feat.grey-bg(id="scr_feat")
    .container
      .feat__top
        h2.page-title Заказав поездку у нас
          br
          |  Вы
          span.accent  гарантировано
          |  получите:

        ul.feat__list.types__list
          li
            .types__item
              .types__img.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.2s")
                img(src="img/feat/img-1.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Безопасность
                  br
                  |  пассажиров
                .types__text
                  p Если что-то вышло из строя по нашей вине - мы устраним проблему за свой счет
          li
            .types__item
              .types__img.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.4s")
                img(src="img/feat/img-2.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Лучшие цены
                  br
                  |  в регионе
                .types__text
                  p Если что-то вышло из строя по нашей вине - мы устраним проблему за свой счет

      .feat__bottom
        ul.feat__list.types__list
          li
            .types__item
              .types__img.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.2s")
                img(src="img/feat/img-3.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Комфортное
                  br
                  |  времяпрепровождение
                .types__text
                  p Если что-то вышло из строя по нашей вине - мы устраним проблему за свой счет
          li
            .types__item
              .types__img.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.4s")
                img(src="img/feat/img-4.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Широкий выбор
                  br
                  |  модельного ряда
                .types__text
                  p Если что-то вышло из строя по нашей вине - мы устраним проблему за свой счет
          li
            .types__item
              .types__img.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.6s")
                img(src="img/feat/img-5.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Помощь
                  br
                  |  в разгрузке багажа
                .types__text
                  p Если что-то вышло из строя по нашей вине - мы устраним проблему за свой счет
          li
            .types__item
              .types__img.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.8s")
                img(src="img/feat/img-6.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Медицинское
                  br
                  |  обследование водителей
                .types__text
                  p Если что-то вышло из строя по нашей вине - мы устраним проблему за свой счет

      .feat__btns
        .btn__wrap.btn__wrap--grad.btn__wrap--red
          a.xbtn.xbtn--grad(href="#") Рассчитать стоимость поездки

  // /.scr_feat
