mixin scr_types()
  section.scr_types.types.grey-bg(id="scr_types")
    .container
      h2.page-title Каждый год мы проезжаем
        br
        span.accent  более 60 000 км,
        |  чтобы доставлять
        br
        |  вас в любой город Крыма

      .types__wrap
        ol.types__list
          li
            .types__item
              a.types__img.img-link.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.2s" href="#")
                img(src="img/types/img-1.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Детские перевозки
                b.types__price от 1 500 р
                a.types__link.xlink(href="#") Узнать больше

          li
            .types__item
              a.types__img.img-link.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.4s" href="#")
                img(src="img/types/img-2.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Свадебные перевозки
                b.types__price от 1 500 р
                a.types__link.xlink(href="#") Узнать больше

          li
            .types__item
              a.types__img.img-link.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.6s" href="#")
                img(src="img/types/img-3.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Корпоративные
                  br
                  |  перевозки
                b.types__price от 1 500 р
                a.types__link.xlink(href="#") Узнать больше

          li
            .types__item
              a.types__img.img-link.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="0.8s" href="#")
                img(src="img/types/img-4.jpg" alt="" data-object-fit-cover)

              .types__content
                h3.types__title.xtitle Экскурсии
                b.types__price от 1 500 р
                a.types__link.xlink(href="#") Узнать больше

  // /.scr_types
