mixin scr_clients()
  section.scr_clients.clients.blue-bg(id="scr_clients")
    .container
      h2.page-title Нам доверяют свою транспортировку:

      .clients__wrap
        .clients__slider#clients__slider
          .swiper-wrapper
            .swiper-slide
              .clients__item
                .clients__img
                  img(src="img-temp/clients/img-1.jpg" alt="" data-object-fit-contain)

                .clients__content
                  h3.clients__title.xtitle Детский лагерь
                    br
                    |  им. Казакевича

                  .clients__text
                    p Детский оздоровительный лагерь-пансионат имени А. В. Казакевича ведет свою историю с далекого 1976 года. Расположенный в поселке Песчаное Бахчисарайского района, пансионат уже которое десятилетие демонстрирует высокий уровень приема и размещения детей из многих городов и стран.
            .swiper-slide
              .clients__item
                .clients__img
                  img(src="img-temp/clients/img-2.jpg" alt="" data-object-fit-contain)

                .clients__content
                  h3.clients__title.xtitle Международный детский центр Артек

                  .clients__text
                    p «Лагерь-санаторий в Артеке» (первоначальное название детского центра) создан в 1925 году по инициативе председателя Российского общества Красного Креста Зиновия Петровича Соловьёва. Первым его руководителем стал врач Фёдор Фёдорович Шишмарёв. Первая смена «Артека» открылась 16 июня 1925 года
            .swiper-slide
              .clients__item
                .clients__img
                  img(src="img-temp/clients/img-3.jpg" alt="" data-object-fit-contain)

                .clients__content
                  h3.clients__title.xtitle Детский оздоровительный лагерь «Сатера»

                  .clients__text
                    p В лагере созданы все условия для полноценного пребывания и отдыха детей. Проживание организовано в корпусах с благоустроенными номерами со всеми удобствами. В 2017 годы введен в эксплуатацию современный большой 4-этажный корпус с комфортабельными номерами, из окон которых открывается бесподобный вид на море и пейзажи черноморского

        .clients__slider-btns.swiper-slider-nav
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_clients
