mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .lead__df
        .lead__content
          p.lead__title Заполните форму и получите
            span  скидку 10%
            |  на первую поездку
          .lead__desc
            p В нашем распоряжении больше
              b  50 автомобилей от 30 до 55 мест,
              |  каждый из которых оборудован кондиционером, телевизором и микрофоном

        .lead__form
          .form.wpcf7
            .form__decor1
              svg(x='0px', y='0px', preserveAspectRatio="none", viewbox='0 0 377 504', style='enable-background:new 0 0 523 722;', xml:space='preserve')
                g.form__decor-st
                  path.st1(d='M7.58 26.457L368.557.604C373.218.27 377 3.784 377 8.452v487.095c0 4.668-3.782 8.453-8.443 8.453H7.58C3.391 504 0 500.418 0 495.999v-461c0-4.418 3.391-8.242 7.58-8.542z')

            .form__decor2
              svg(fill-rule='evenodd', fill="transparent", stroke-width='1px', stroke='rgba(0,50,101,0.16)', preserveAspectRatio="none", viewBox="0 0 367 491", x="0px", y="0px")
                path(d='M10.738 28.366l344.7-24.856c4.45-.321 8.062 3.057 8.062 7.546v468.317c0 4.488-3.612 8.127-8.062 8.127h-344.7c-3.999 0-7.238-3.444-7.238-7.692V36.58c0-4.249 3.239-7.926 7.238-8.214z')

            p.form__title Заполните форму
            p.form__desc И наш менеджер свяжется с вами в&nbsp;течение часа

            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--grad
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Задать вопрос')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead
