mixin scr_vehicles()
  section.scr_vehicles.vehicles.grey-bg(id="scr_vehicles")
    .container
      h2.page-title Мы предлагаем в аренду пассажирские автобусы
        br
        |  вместительностью
        span.accent  от 18 до 55 мест

      .vehicles__df
        ul.tabs__nav.js-tabs__nav
          li.current
            a(href="#vehicles__tab-0") Автобусы на 30 мест
          li
            a(href="#vehicles__tab-1") Автобусы на 35 мест
          li
            a(href="#vehicles__tab-2") Автобусы на 50 мест
          li
            a(href="#vehicles__tab-3") Автобусы на 55 мест

        ul.vehicles__tabs
          li.vehicles__tab#vehicles__tab-0
            .vehicles__wrap

              //. У каждого слайдера свой ID (меняется цифра в месте "tab-" (в зависимости от номера таба) и "slider-")
              .vehicles__slider#vehicles__tab-0-slider-0
                .swiper-wrapper
                  .swiper-slide
                    .vehicles__item.decor-wrap
                      .vehicles__gallery

                        //. У каждого слайдера свой ID (меняется цифра)
                        .vehicles__gallery-slider#vehicles__gallery-slider-0
                          .swiper-wrapper
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)

                        //. У каждого слайдера свой ID (меняется цифра)
                        .vehicles__gallery-thumbs#vehicles__gallery-thumbs-0
                          .swiper-wrapper
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)

                      .vehicles__info
                        h3.vehicles__title Mercedes Sprinter
                        ul.vehicles__feat
                          li
                            dl
                              dt Год выпуска:
                              dd 2017 г.
                          li
                            dl
                              dt Вместимость:
                              dd 20 мест
                          li
                            dl
                              dt Стоимость за 1 ч
                              dd от 1000 р/чел
                        ul.vehicles__add
                          li Три варианта длины автомобиля: компактный, стандартный и удлиненный
                          li Два варианта высоты крыши: стандартная и высокая
                          li До трех рядов сидений, возможна комплектация рядами по два и по три сиденья
                          li Доступны варианты с максимально допустимой общей массой 3 000 и 3 500 кг
                          li Доступны варианты с задним и полным приводом

                        .vehicles__btns
                          .btn__wrap.btn__wrap--grad.btn__wrap--red
                            a.xbtn.xbtn--grad(href="#") Рассчитать стоимость поездки

                  .swiper-slide
                    .vehicles__item.decor-wrap
                      .vehicles__gallery

                        //. У каждого слайдера свой ID (меняется цифра)
                        .vehicles__gallery-slider#vehicles__gallery-slider-1
                          .swiper-wrapper
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)

                        //. У каждого слайдера свой ID (меняется цифра)
                        .vehicles__gallery-thumbs#vehicles__gallery-thumbs-1
                          .swiper-wrapper
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)

                      .vehicles__info
                        h3.vehicles__title Mercedes Sprinter
                        ul.vehicles__feat
                          li
                            dl
                              dt Год выпуска:
                              dd 2017 г.
                          li
                            dl
                              dt Вместимость:
                              dd 20 мест
                          li
                            dl
                              dt Стоимость за 1 ч
                              dd от 1000 р/чел
                        ul.vehicles__add
                          li Три варианта длины автомобиля: компактный, стандартный и удлиненный
                          li Два варианта высоты крыши: стандартная и высокая
                          li До трех рядов сидений, возможна комплектация рядами по два и по три сиденья

                        .vehicles__btns
                          .btn__wrap.btn__wrap--grad.btn__wrap--red
                            a.xbtn.xbtn--grad(href="#") Рассчитать стоимость поездки

                  .swiper-slide
                    .vehicles__item.decor-wrap
                      .vehicles__gallery

                        //. У каждого слайдера свой ID (меняется цифра)
                        .vehicles__gallery-slider#vehicles__gallery-slider-2
                          .swiper-wrapper
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              a.vehicles__gallery-img.fancybox(href="img-temp/vehicles-img.jpg")
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)

                        //. У каждого слайдера свой ID (меняется цифра)
                        .vehicles__gallery-thumbs#vehicles__gallery-thumbs-2
                          .swiper-wrapper
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)
                            .swiper-slide
                              .vehicles__gallery-thumb
                                img(src="img-temp/vehicles-img.jpg" alt="" data-object-fit-cover)

                      .vehicles__info
                        h3.vehicles__title Mercedes Sprinter
                        ul.vehicles__feat
                          li
                            dl
                              dt Год выпуска:
                              dd 2017 г.
                          li
                            dl
                              dt Вместимость:
                              dd 20 мест
                          li
                            dl
                              dt Стоимость за 1 ч
                              dd от 1000 р/чел
                        ul.vehicles__add
                          li Три варианта длины автомобиля: компактный, стандартный и удлиненный
                          li Два варианта высоты крыши: стандартная и высокая
                          li До трех рядов сидений, возможна комплектация рядами по два и по три сиденья

                        .vehicles__btns
                          .btn__wrap.btn__wrap--grad.btn__wrap--red
                            a.xbtn.xbtn--grad(href="#") Рассчитать стоимость поездки

              .vehicles__slider-btns.swiper-slider-nav
                button.swiper-button-prev
                .swiper-dots
                button.swiper-button-next


  // /.scr_vehicles
