mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      .blog__top
        h2.page-title Последние новости
        a.blog__link.xlink(href="#") Все новости

      .blog__wrap
        .blog__slider#blog__slider
          .swiper-wrapper
            .swiper-slide
              .blog__item
                a.blog__img.img-link(href="#")
                  img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-03-02") 02 марта 2021
                  a(href="#")
                    h3.xtitle.blog__title В России появится единый центр контроля водителей
                  .blog__text
                    p Идет работа по созданию единого центра контроля за водителями, который будет аккумулировать всю ...
            .swiper-slide
              .blog__item
                a.blog__img.img-link(href="#")
                  img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-03-02") 02 марта 2021
                  a(href="#")
                    h3.xtitle.blog__title В России появится единый центр контроля водителей
                  .blog__text
                    p Идет работа по созданию единого центра контроля за
            .swiper-slide
              .blog__item
                a.blog__img.img-link(href="#")
                  img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-03-02") 02 марта 2021
                  a(href="#")
                    h3.xtitle.blog__title В России появится единый центр контроля водителей
                  .blog__text
                    p Идет работа по созданию единого центра контроля за водителями, который будет аккумулировать всю ...
            .swiper-slide
              .blog__item
                a.blog__img.img-link(href="#")
                  img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-03-02") 02 марта 2021
                  a(href="#")
                    h3.xtitle.blog__title В России появится единый центр контроля водителей
                  .blog__text
                    p Идет работа по созданию единого центра контроля за водителями, который будет аккумулировать всю ...

        .blog__slider-btns
          .swiper-dots

  // /.scr_blog
