mixin scr_certs()
  section.scr_certs.certs.grey-bg(id="scr_certs")
    .container
      h2.page-title Мы обладаем всеми необходимыми лицензиями
        br
        |  для осуществления перевозок

      .certs__slider#certs__slider
        .swiper-wrapper
          .swiper-slide
            .certs__item
              a.certs__img.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="")

              .certs__text
                p Лицензия на осуществление деятельности по перевозкам пассажиров и иных лиц автобусами
          .swiper-slide
            .certs__item
              a.certs__img.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="")

              .certs__text
                p Лицензия на осуществление деятельности по перевозкам пассажиров и иных лиц автобусами
          .swiper-slide
            .certs__item
              a.certs__img.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="")

              .certs__text
                p Лицензия на осуществление деятельности по перевозкам пассажиров и иных лиц автобусами
          .swiper-slide
            .certs__item
              a.certs__img.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="")

              .certs__text
                p Лицензия на осуществление деятельности по перевозкам пассажиров и иных лиц автобусами
          .swiper-slide
            .certs__item
              a.certs__img.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="")

              .certs__text
                p Лицензия на осуществление деятельности по перевозкам пассажиров и иных лиц автобусами

      .certs__slider-btns.swiper-slider-nav
        button.swiper-button-prev
        .swiper-dots
        button.swiper-button-next

  // /.scr_certs
