mixin socials()
  section.socials(id="socials")
    a.socials__link.socials__link--wa.xbtn.xbtn--circle(href="https://api.whatsapp.com/send?phone=79787690479", rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#wa")
    a.socials__link.socials__link--viber.xbtn.xbtn--circle(href='viber://chat?number=79787690479', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#viber")
    a.socials__link.socials__link--envelope.xbtn.xbtn--circle(href="#", rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#envelope")

  // /.socials

mixin socials--footer()
  section.socials.socials--footer(id="socials-footer")
    a.socials__link.socials__link--wa.xbtn.xbtn--circle(href="https://api.whatsapp.com/send?phone=79787690479", rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#wa")
    a.socials__link.socials__link--viber.xbtn.xbtn--circle(href='viber://chat?number=79787690479', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#viber")

  // /.socials
