@font-face
  font-family: 'AvenirNext'
  font-display: swap
  src: local('AvenirNextCyr'),
  url('../fonts/Avenir/AvenirNextCyr-Regular.woff2') format('woff2'),
  url('../fonts/Avenir/AvenirNextCyr-Regular.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextCyr-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'AvenirNext'
  font-display: swap
  src: local('AvenirNextCyr'),
  url('../fonts/Avenir/AvenirNextCyr-Medium.woff2') format('woff2'),
  url('../fonts/Avenir/AvenirNextCyr-Medium.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextCyr-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'AvenirNext'
  font-display: swap
  src: local('AvenirNextCyr'),
  url('../fonts/Avenir/AvenirNextCyr-Bold.woff2') format('woff2'),
  url('../fonts/Avenir/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextCyr-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'AvenirNextDemi'
  font-display: swap
  src: local('AvenirNextCyr-Demi'),
  url('../fonts/Avenir/AvenirNextCyr-Demi.woff2') format('woff2'),
  url('../fonts/Avenir/AvenirNextCyr-Demi.woff') format('woff'),
  url('../fonts/Avenir/AvenirNextCyr-Demi.ttf') format('truetype')
  font-weight: normal
  font-style: normal
