mixin scr_products()
  section.scr_products.products(id="scr_products")
    .container
      h2.title.title--type1.title--decored1 Мы
        strong  выполняем все работы,
        |  связанные
        br
        |  с декором и оформлением окон

    .slider1.products__slider#products__slider
      .container
        .slider1__arrows.products__arrows

      .slider1__slides.products__slides

        .slider1__slide.products__slide
          .products__wrap
            .products__item
              .products__img
                .img-wrap(style="background: transparent url('img-temp/prod/img-prod-1.jpg') no-repeat center center;background-size: cover;")

              .products__content
                h3.products__title Продажа тканей

                span.products__price от 1 500 р/пм

                .link__wrap
                  a.link(href="#") заказать

        .slider1__slide.products__slide
          .products__wrap
            .products__item
              .products__img
                .img-wrap(style="background: transparent url('img-temp/prod/img-prod-2.jpg') no-repeat center center;background-size: cover;")

              .products__content
                h3.products__title изготовление
                  br
                  |  жалюзи

                span.products__price от 2 000 р/пм

                .link__wrap
                  a.link(href="#") заказать

        .slider1__slide.products__slide
          .products__wrap
            .products__item
              .products__img
                .img-wrap(style="background: transparent url('img-temp/prod/img-prod-3.jpg') no-repeat center center;background-size: cover;")

              .products__content
                h3.products__title пошив штор,
                  br
                  |  покрывал, подушек

                span.products__price от 1 500 р/пм

                .link__wrap
                  a.link(href="#") заказать

        .slider1__slide.products__slide
          .products__wrap
            .products__item
              .products__img
                .img-wrap(style="background: transparent url('img-temp/prod/img-prod-4.jpg') no-repeat center center;background-size: cover;")

              .products__content
                h3.products__title установка
                  br
                  |  рулонных жалюзи

                span.products__price от 1 500 р/пм

                .link__wrap
                  a.link(href="#") заказать

        .slider1__slide.products__slide
          .products__wrap
            .products__item
              .products__img
                .img-wrap(style="background: transparent url('img-temp/prod/img-prod-5.jpg') no-repeat center center;background-size: cover;")

              .products__content
                h3.products__title продажа карнизов
                  br
                  |  и фурнитуры

                span.products__price от 500 р

                .link__wrap
                  a.link(href="#") заказать

        .slider1__slide.products__slide
          .products__wrap
            .products__item
              .products__img
                .img-wrap(style="background: transparent url('img-temp/prod/img-prod-1.jpg') no-repeat center center;background-size: cover;")

              .products__content
                h3.products__title Продажа тканей

                span.products__price от 1 500 р/пм

                .link__wrap
                  a.link(href="#") заказать

        .slider1__slide.products__slide
          .products__wrap
            .products__item
              .products__img
                .img-wrap(style="background: transparent url('img-temp/prod/img-prod-1.jpg') no-repeat center center;background-size: cover;")

              .products__content
                h3.products__title Продажа тканей

                span.products__price от 1 500 р/пм

                .link__wrap
                  a.link(href="#") заказать

      .container
        .slider1__dots.slider1__dots--blue.products__dots

  // /.scr_products
