mixin scr1()
  section.scr1(id="scr1")
    .scr1__slider#scr1__slider
      .scr1__slides
        .scr1__slide
          .scr1__img(style="background: transparent url('img-temp/scr1/img-scr1-1.jpg') no-repeat center center; background-size: cover;")
          .container
            p.scr1__title.wow.fadeIn(data-wow-duration="0.8s") Более 19 лет
              br
              |  на рынке дистрибуции
              br
              |  в Крыму

        .scr1__slide
          .scr1__img(style="background: transparent url('img-temp/scr1/img-scr1-1.jpg') no-repeat center center; background-size: cover;")
          .container
            p.scr1__title.wow.fadeIn(data-wow-duration="0.8s") Более 19 лет

        .scr1__slide
          .scr1__img(style="background: transparent url('img-temp/scr1/img-scr1-1.jpg') no-repeat center center; background-size: cover;")
          .container
            p.scr1__title.wow.fadeIn(data-wow-duration="0.8s") Более 19 лет

        .scr1__slide
          .scr1__img(style="background: transparent url('img-temp/scr1/img-scr1-1.jpg') no-repeat center center; background-size: cover;")
          .container
            p.scr1__title

    .scr1__slider-wrap
      .container
        .scr1__slider-inner
          .scr1__points.scr1__slider2#scr1__slider2
            .scr1__slides2
              .scr1__slide2
                .scr1__item
                  span.scr1__num 01
                  p.scr1__text Сотрудничаем со всеми ведущими торговыми сетями

              .scr1__slide2
                .scr1__item
                  span.scr1__num 02
                  p.scr1__text Создали собственную торговую марку «Крымская Коровка»

              .scr1__slide2
                .scr1__item
                  span.scr1__num 03
                  p.scr1__text Автоматизированная и четконалаженная логистика со 100% линией холода

              .scr1__slide2
                .scr1__item
                  span.scr1__num 04
                  p.scr1__text Доставка в течение суток

    .video__wrap
      .container
        a.video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
          .video__text Смотреть видео
            br
            |  о компании

            svg.svg-text
              use(xlink:href="img/svg/sprite.svg#lines")

          .video__play

  // /.scr1
