mixin scr_career()
  section.scr_career.career(id="scr_career")
    .career__slider.slider1#career__slider
      .career__slides.slider1__slides
        .career__slide.slider1__slide
          .career__item
            img(src="img/img-career.jpg" alt="" width="1920" height="520")
        .career__slide.slider1__slide
          .career__item
            img(src="img/img-career.jpg" alt="" width="1920" height="520")

      .career__arrows
        .container
          .career__arrows-wrap

      .container
        .career__dots.slider1__dots
    // /. career__slider


    .career__videos.grey-bg
      .container
        h1.title Начать карьеру

        p.desc Согласно главным ценностям компании, сотрудники – один из важнейших ресурсов основных бизнес-процессов.
          br
          |  Именно поэтому ООО «Крымская сырная компания» ценит каждого сотрудника-профессионала в своем составе.

        ul.career__videos-list
          li.career__videos-item
            a.fancybox(href="https://www.youtube.com/embed/cI4ryatVkKw?controls=1&showinfo=0&autoplay=1&loop=1&playlist=cI4ryatVkKw" style="background: transparent url(img-temp/videos/img1.jpg) no-repeat center center; background-size: cover;" data-fancybox-type="iframe")
              .video
                .video__play

              span.career__videos-text Смотреть видео как мы работаем

          li.career__videos-item
            a.fancybox(href="https://www.youtube.com/embed/cI4ryatVkKw?controls=1&showinfo=0&autoplay=1&loop=1&playlist=cI4ryatVkKw" style="background: transparent url(img-temp/videos/img2.jpg) no-repeat center center; background-size: cover;" data-fancybox-type="iframe")
              .video
                .video__play

              span.career__videos-text Смотреть видео как мы отдыхаем

    // /. career__videos

  // /.scr_career
