mixin scr_about()
  section.scr_about.about.grey-bg(id="scr_about")
    .container
      h2.title О компании

    .container
      .row
        .col-md-8.col-sm-7
          ul.about__list
            li.about__item.wow.fadeInUp(data-wow-duration="0.8s")
              span.about__year 2000
                small  год
              p.about__text Компания была основана
                br
                |  и начала свою деятельность
                br
                |  в Крыму

            li.about__item.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.2s")
              span.about__year 2007
                small  год
              p.about__text Наша компании является
                br
                |  безусловным лидером на
                br
                |  сырном рынке Крымаму

          .about__img
            noscript
              img.lazy(src="img/img-about-1.jpg" alt="Наша компания" width="800" height="533")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about-1.jpg" alt="Наша компания" width="800" height="533")

        .col-md-4.col-sm-5
          .features
            ul.features__list
              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.2s")
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-1")
                p.features__text Мы постоянно совершенствуем наш&nbsp;профессионализм и улучшаем сервис

              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.3s")
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-2")
                p.features__text Дистрибуция сырной продукции

              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.4s")
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-3")
                p.features__text Более 200 сотрудников

              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.5s")
                .features__img
                  noscript
                    img.lazy(src="img/trademark.png" alt="Крымская коровка" width="149" height="48")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/trademark.png" alt="Крымская коровка" width="149" height="48")
                p.features__text Собственная торговая марка «Крымская&nbsp;Коровка»


  // /.scr_about
