mixin scr_about()
  section.scr_about.about.grey-bg(id="scr_about")
    .container
      h2.title О нас

      p.about__desc
        strong Крымская Сырная Компания
        |  – ведущий дистрибьютор на сырном рынке в Крыму, который начала свою деятельность в 2000 году. Основное направление деятельности – дистрибьюция различных видов сыра и масла на всей территории Крыма и города Севастополя. С 2014 года наша компания начала осваивать новые рынки и сотрудничать с ведущими сырными брендами Российской Федерации и Белоруссии. Сегодня мы активно осваиваем территорию всей Российской Федерации.

    .container
      .row
        .col-md-8.col-sm-7
          .about__content
            .article
              p.about__title Крымская Сырная Компания, это:
              ul
                li Гибкость и свобода - мы ценим идеи и вовлечённость каждого сотрудника, а еще у нас нет дресс-кода.
                li Команда профессионалов - амбициозные проекты и множество возможностей для развития карьеры внутри компании.
                li Работа с креативным подходом - осваиваем новые рынки и создаем новые бренды.

          .about__img
            noscript
              img.lazy(src="img/img-about-1.jpg" alt="Наша компания" width="800" height="533")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about-1.jpg" alt="Наша компания" width="800" height="533")

        .col-md-4.col-sm-5
          .features
            ul.features__list
              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.2s")
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-1")
                p.features__text Мы постоянно совершенствуем наш&nbsp;профессионализм и улучшаем сервис

              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.3s")
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-2")
                p.features__text Дистрибуция сырной продукции

              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.4s")
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-3")
                p.features__text Более 200 сотрудников

              li.features__item.wow.fadeInRight(data-wow-duration="0.8s" data-wow-delay="0.5s")
                .features__img
                  noscript
                    img.lazy(src="img/trademark.png" alt="Крымская коровка" width="149" height="48")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/trademark.png" alt="Крымская коровка" width="149" height="48")
                p.features__text Собственная торговая марка «Крымская&nbsp;Коровка»


  // /.scr_about
