mixin scr_mission()
  section.scr_mission.mission.grey-bg(id="scr_mission")
    .container
      h1.title Миссия и ценности
      p.desc Наша миссия - предвосхищать ожидания партнеров, оказывая наилучший дистрибьюторский сервис

      .colored
        ul.mission__list.colored__list
          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Прозрачность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Прозрачность - это высокий уровень доверия к нам со стороны наших клиентов, к нам как работодателю по отношению к своим сотрудников. Мы компания, которая выстраивает долгосрочные отношения на таких критериях как честность, порядочность, открытость.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Проактивность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") это активная жизненная позиция лидера, его ощущение личной ответственности за происходящее с ним и вокруг него. Эффективный лидер, объясняя свои успехи и неудачи, берет ответственность на себя, не ища виноватых. Лидер активно воздействует на ситуацию исходя из собственной системы ценностей.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Системность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Системность для нас — это взаимосвязанные части одного целого, одной идеи, каждый в этом целом привносит что-то уникальное. Нас характеризует приоритет интеллектуальных решений над эмоциональными, ценим осознанное отношение к труду.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Креативность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") В нашей компании это обмен информацией, отсутствие переживаний (сомнений) и&nbsp;готовность брать на себя ответственность за риск в выборе новых партнёров.
              br
              |  Мы - это команда, которая старается мыслить и действовать не шаблонно.
              br
              |  Ценим инновационность в людях и работе.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Профессионализм
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Мы как команда профессионалов постоянно развиваемся в своей сфере, мы всегда открыты к новым идеям и советам.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") Инновационность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") В нашей компании это обмен информацией, отсутствие переживаний (сомнений) и&nbsp;готовность брать на себя ответственность за риск в выборе новых партнёров.
              br
              |  Мы - это команда, которая старается мыслить и действовать не шаблонно.
              br
              |  Ценим инновационность в людях и работе.


  // /.scr_mission

mixin scr_mission--clients()
  section.scr_mission.mission.mission--clients(id="scr_mission")
    .container
      h1.title Что получают наши клиенты

      .colored
        ul.mission__list.colored__list
          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Широкий ассортимент
              br
              |  продукции современных
              br
              |  брендов

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Экспертный
              br
              |  уровень продаж

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Гибкая
              br
              |  ценовая политика

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Бесперебойная
              br
              |  поставка товара

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Полный комплект
              br
              |  сопроводительных
              br
              |  документов на товар

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") Внимательное
              br
              |  отношение к каждому
              br
              |  клиенту

      h2.title2 Наши сотрудники – профессионалы своего дела:

      ul.team__list
        li.team__item
          .team__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-team-1")

          .team__content
            h3 наша торговая команда
            .team__text
              p проконсультируют и ответят на все
                br
                |  ваши вопросы, договорятся
                br
                |  об индивидуальных условиях
        li.team__item
          .team__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-team-2")

          .team__content
            h3 наши менеджеры
            .team__text
              p сопровождают работу каждого
                br
                |  из нас на всех этапах
        li.team__item
          .team__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-team-3")

          .team__content
            h3 наши логисты
            .team__text
              p соберут для вас заказ к отправке
                br
                |  и доставят к месту назначения

  // /.scr_mission


mixin scr_mission--career()
  section.scr_mission.mission.mission--career(id="scr_mission")
    .container
      h2.title Работа в ООО «Крымская сырная компания» это:

      .colored
        ul.mission__list.colored__list
          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Карьерный рост

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/career/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Корпоративный
              br
              |  отдых

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/career/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Профессиональное
              br
              |  развитие

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/career/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Организованная
              br
              |  система обучения

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/career/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Стабильность
              br
              |  и уверенность в будущем


      .mission__bottom
        p
          strong ООО «КРЫМСКАЯ СЫРНАЯ КОМПАНИЯ»
          |  – постоянное профессиональное движение вперед, которое достигается только за счет командной работы!
        p Мы рады видеть в своей команде как людей с большим профессиональным опытом, так и тех, кто только начинает свой карьерный путь. Мы помогаем нашим сотрудникам развиваться, создаём благоприятные условия для эффективной работы, поощеряем добросовестный труд и инициативу. В истории нашей компании много примеров успешного профессионального и карьерного роста со стартовых позиций.

      .mission__slider.slider1#mission__slider
        .mission__slides.slider1__slides
          .mission__slide.slider1__slide
            a.mission__slide-item.fancybox(href="img-temp/career-slider/img-1.jpg" data-fancybox-group="mission")
              noscript
                img.lazy(src="img-temp/career-slider/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career-slider/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .mission__slide.slider1__slide
            a.mission__slide-item.fancybox(href="img-temp/career-slider/img-2.jpg" data-fancybox-group="mission")
              noscript
                img.lazy(src="img-temp/career-slider/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career-slider/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .mission__slide.slider1__slide
            a.mission__slide-item.fancybox(href="img-temp/career-slider/img-3.jpg" data-fancybox-group="mission")
              noscript
                img.lazy(src="img-temp/career-slider/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career-slider/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .mission__slide.slider1__slide
            a.mission__slide-item.fancybox(href="img-temp/career-slider/img-3.jpg" data-fancybox-group="mission")
              noscript
                img.lazy(src="img-temp/career-slider/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/career-slider/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)


        .mission__dots.slider1__dots

  // /.scr_mission



mixin scr_mission--provider()
  section.scr_mission.mission.mission--clients.mission--provider(id="scr_mission")
    .container
      h1.title Мы предлагаем своим партнерам:

      .colored
        ul.mission__list.colored__list
          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/providers/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/providers/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Эффективную команду
              br
              |  службы продаж

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/providers/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/providers/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Продвижение
              br
              |  и укрепление брендов

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/providers/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/providers/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Гибкая
              br
              |  ценовая политика

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/providers/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/providers/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Введение продукции в
              |  торговые сети региона,
              |  розничные торговые точки,
              |  сегмент HoReCa

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/providers/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/providers/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Информационную
              |  и маркетинговую поддержку
              |  продаж в розничных
              |  торговых точках

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/providers/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/providers/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") Предоставляем отчет
              br
              |  и постаналитику
              br
              |  продвижения бренда


  // /.scr_mission

