mixin scr_mission()
  section.scr_mission.mission.grey-bg(id="scr_mission")
    .container
      h1.title Миссия и ценности
      p.desc Наша миссия - предвосхищать ожидания партнеров, оказывая наилучший дистрибьюторский сервис

      .colored
        ul.mission__list.colored__list
          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Прозрачность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Проактивность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Системность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Креативность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Профессионализм
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/mission/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/mission/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") Инновационность
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.


  // /.scr_mission

mixin scr_mission--clients()
  section.scr_mission.mission.mission--clients(id="scr_mission")
    .container
      h1.title Что получают наши клиенты

      .colored
        ul.mission__list.colored__list
          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-1.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Широкий ассортимент
              br
              |  продукции современных
              br
              |  брендов
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.1s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-2.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Экспертный
              br
              |  уровень продаж
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-3.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Гибкая
              br
              |  ценовая политика
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.3s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-4.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Бесперебойная
              br
              |  поставка товара
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-5.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Полный комплект
              br
              |  сопроводительных
              br
              |  документов на товар
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.5s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

          li.mission__item.colored__item.colored__item--img
            noscript
              img.lazy(src="img-temp/clients/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clients/img-6.jpg" alt="" width="380" height="337" data-object-fit-cover)

          li.mission__item.colored__item
            h3.mission__title.colored__title.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") Внимательное
              br
              |  отношение к каждому
              br
              |  клиенту
            p.mission__text.colored__text.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s") Как принято считать, представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.

      h2.title2 Наши сотрудники – профессионалы своего дела:

      ul.team__list
        li.team__item
          .team__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-team-1")

          .team__content
            h3 наша торговая команда
            .team__text
              p проконсультируют и ответят на все Ваши
                br
                |  вопросы, помогут заполнить заявку,
                br
                |  договорятся об индивидуальных условиях
        li.team__item
          .team__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-team-2")

          .team__content
            h3 наши менеджеры
            .team__text
              p проконсультируют и ответят на все Ваши
                br
                |  вопросы, помогут заполнить заявку,
                br
                |  договорятся об индивидуальных условиях
        li.team__item
          .team__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-team-3")

          .team__content
            h3 наши логисты
            .team__text
              p соберут для Вас заказ, подготовят
                br
                |  к отправке и проконтролируют
                br
                |  доставку до Вашего склада

  // /.scr_mission
