mixin scr_main()
  section.scr_main.main(id="scr_main" style="background: transparent url('img/bg-main.jpg') no-repeat center center; background-size: cover;")
    ul.main__list
      li.main__item

        a.main__link(href="#")
          .main__logo
            .logo
              img(src="img/svg/logo.svg" alt="лого")

            p.logo__text Дистрибьютор сыра и масла

          .main__overlay(style="background: transparent url('img/img-main-1.jpg') no-repeat center center; background-size: cover;")

          h2.main__title о нас

          .main__info
            p.main__text Являемся лидерами на сырном рынке
              br
              |  Крыма с 2007 года

            .main__btns
              span.btn.btn--arrow подробнее

      li.main__item
        a.main__link(href="#")
          .main__overlay(style="background: transparent url('img/img-main-2.jpg') no-repeat center center; background-size: cover;")

          h2.main__title продукция

          .main__info
            p.main__text Мы постоянно увеличиваем ассортимент
              br
              |  продукции, исходя из потребительского спроса.
              br
              |  Более 300 наименований вкуснейшего сыра.

            .main__btns
              span.btn.btn--arrow подробнее

      li.main__item
        a.main__link(href="#")
          .main__overlay(style="background: transparent url('img/img-main-3.jpg') no-repeat center center; background-size: cover;")

          h2.main__title партнерство

          .main__info
            p.main__text Более 19 лет активно работаем с крупными
              br
              |  продуктовыми ритейлерами, ХоРеКа и линейной
              br
              |  розницей, зарекомендовав себя как долгосрочный
              br
              |  и надежный партнер


            .main__btns
              span.btn.btn--arrow подробнее

      li.main__item
        a.main__link(href="#")
          .main__overlay(style="background: transparent url('img/img-main-4.jpg') no-repeat center center; background-size: cover;")

          h2.main__title карьера

          .main__info
            p.main__text КРЫМСКАЯ СЫРНАЯ КОМПАНИЯ –
              br
              |  Постоянное профессиональное движение вперед,
              br
              |  которое достигается только за счет командной
              br
              |  работы профессионалов!

            .main__btns
              span.btn.btn--arrow подробнее




    .copyright
      p.text Copyright © 2019 Симферополь
      a(href="#") Политика конфиденциальности
    a.made(href="https://sheer82.ru/")
      span.text Сделано в Sheer

  // /.scr_main
