mixin scr_docs()
  section.scr_docs.docs.content-wrap.content-wrap--right.grey-bg(id="scr_docs")
    .container
      h1.title документы

      .row
        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица

        .col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/img-docs.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/img-docs.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-docs.jpg" alt="" width="125" height="90")

            .docs__desc Свидетельство о государственной регистрации юридического лица


      .docs__bottom
        .docs__download
          a.docs__link(href="#" download)
            span.text Скачать шаблон договора
            span.btn.btn--download скачать
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-download")

        +paginator

  // /.scr_docs
