mixin scr_discuss()
  section.scr_discuss.discuss(id="scr_discuss")
    .container
      .discuss__wrap
        p.discuss__title Не нашли свою вакансию?
          br
          |  обсудите карьеру
          br
          |  с HR - директором

        .discuss__btns
          a.btn(href="#") обсудить карьеру

        .discuss__img
          noscript
            img.lazy(src="img/img-discuss.jpg" alt="Девушка" width="358" height="370")
          img.lazy(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-discuss.jpg" alt="Девушка" width="358" height="370")

  // /.scr_discuss
