mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .lead__wrap
        p.lead__title Связаться с нашим менеджером

        .lead__form
          .bg-img
            noscript
              img.lazy(src="img/img-lead-1.png" alt="" width="793" height="511")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-lead-1.png" alt="" width="793" height="511")
          .form.wpcf7
            form.wpcf7-form
              p.form__title Задайте вопрос нашему менеджеру

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-email")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-message(type='text', name='your-message', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Сообщение')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-msg")

              .form__item.form__item--submit
                input.wpcf7-form-control.wpcf7-submit.btn--grad(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead


mixin scr_lead--partners()
  section.scr_lead.lead.lead--partners(id="scr_lead")
    .container
      .lead__wrap

        .lead__form
          .bg-img
            noscript
              img.lazy(src="img/img-lead-1.png" alt="" width="793" height="511")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-lead-1.png" alt="" width="793" height="511")

          .form.wpcf7
            form.wpcf7-form
              p.form__title Обратная связь

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-email")

              .form__item
                span.wpcf7-form-control-wrap.your-theme.text-input.text-input--icon
                  select
                    option(value="") Выбрать тему
                    option(value="") Выбрать тему2
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-theme")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text(type='text', name='your-text', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Сообщение')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-msg")

              .form__item.form__item--submit
                input.wpcf7-form-control.wpcf7-submit.btn--grad(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead
