mixin scr_partners()
  section.scr_partners.partners.grey-bg(id="scr_partners")
    .container
      h1.title Поставляем продукцию ведущих брендов

      .partners__slider.slider1#partners__slider
        .partners__slides.slider1__slides
          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-1.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-1.svg" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-2.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-2.png" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-3.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-3.png" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-4.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-4.jpg" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-1.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-1.svg" alt="" width="125" height="90")

        .partners__dots.slider1__dots

      .partners__bottom
        a.partners__link(href="#") Все бренды

  // /.scr_partners



mixin scr_partners--provider()
  section.scr_partners.partners.partners--provider.grey-bg(id="scr_partners")
    .container
      h1.title Более 5000 торговых точек получают
        br
        |  нашу продукцию

      .partners__slider.slider1#partners__slider
        .partners__slides.slider1__slides
          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-5.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-5.png" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-6.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-6.jpg" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-5.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-5.png" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-6.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-6.jpg" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-5.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-5.png" alt="" width="125" height="90")

          .partners__slide.slider1__slide
            .partners__item
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-partners-6.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-partners-6.jpg" alt="" width="125" height="90")


        .partners__dots.slider1__dots

  // /.scr_partners



mixin scr_partners--page()
  section.scr_partners.partners.partners--page.grey-bg(id="scr_partners")
    .container
      h1.title Поставляем продукцию ведущих брендов

      ul.partners__list
        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-1.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-1.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-2.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-2.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-3.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-3.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-4.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-4.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-5.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-5.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-6.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-6.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-7.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-7.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-8.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-8.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-9.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-9.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-10.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-10.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-11.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-11.png" alt="" width="125" height="90")

        li.partners__item
          .partners__img
            noscript
              img.lazy(src="img-temp/brands/img-12.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/brands/img-12.png" alt="" width="125" height="90")


    +scr_lead--partners

  // /.scr_partners
