mixin scr_brand()
  section.scr_brand.brand(id="scr_brand")
    .container

      .brand__wrap
        .brand__top
          .brand__top-wrap
            h1.brand__title наш бренд

            .brand__logo
              noscript
                img.lazy(src="img/logo-brand.png" alt="" width="570" height="185")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/logo-brand.png" alt="" width="570" height="185")

            .brand__btns
              a.btn.btn--transparent(href="#") Перейти на официальный сайт

            .brand__desc
              p Кто как ни дистрибьютор знает, какой товар необходим покупателю и какого он должен быть качества?!

              p Так, желание радовать покупателя качественным и вкусным сыром — привело к созданию ТМ «Крымская Коровка».

        .brand__bottom
          .brand__bottom-wrap
            p.brand__big-text У нас есть, то чего нет ни у кого!
              br
              strong  много особенного
              br
              span.brand__main-text  сыра
              br
              span  С «Крымскими вкусами»

            ul.brand__features
              li.brand__features-item
                i.brand__features-icon
                  img(src="img/brand-icons/icon-1.png", alt="Иконка")

                p.brand__features-desc Мы взяли лучшее у крымского полуострова
                  br
                  |  и создали потрясающий сыр.

              li.brand__features-item
                i.brand__features-icon
                  img(src="img/brand-icons/icon-2.png", alt="Иконка")

                p.brand__features-desc Мы используем крымские уникальные
                  br
                  |  ингредиенты, которые появились
                  br
                  |  и распространены на территории Крыма.

              li.brand__features-item
                i.brand__features-icon
                  img(src="img/brand-icons/icon-3.png", alt="Иконка")

                p.brand__features-desc Мы делаем вкусный и качественный сыр только из натуральных компонентов.


  // /.scr_brand
