mixin scr_employees()
  section.scr_employees.employees.content-wrap.content-wrap--right(id="scr_employees")
    .container
      h2.title сотрудники «Крымской сырной компании»

      nav.tabs-nav.tabs-nav--nolink
        ul.tabs-nav__list
          li.tabs-nav__item.active
            a(href="#employees-tabs-0") отдел продаж
          li.tabs-nav__item
            a(href="#employees-tabs-1") маркетинговый отдел
          li.tabs-nav__item
            a(href="#employees-tabs-2") логистика
          li.tabs-nav__item
            a(href="#employees-tabs-3") администрация

      ul.employees__tabs
        li.employees__tab#employees-tabs-0
          .employees__slider.slider1#employees__slider0
            .employees__slides.slider1__slides
              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании


              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании


              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании


            .employees__dots.slider1__dots


        li.employees__tab#employees-tabs-1
          .employees__slider.slider1#employees__slider1
            .employees__slides.slider1__slides
              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании


              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Петров
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании


              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании

              .employees__slide.slider1__slide
                .employees__item
                  .employees__img-wrap
                    .employees__img.employees__img--first
                      img(src="img-temp/employees/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .employees__img.employees__img--second
                      img(src="img-temp/employees/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .employees__info
                    h3.employees__name Иванов
                      br
                      |  Иван Александрович

                    p.employees__job Директор компании


            .employees__dots.slider1__dots


  // /.scr_employees
