mixin scr_vacancies()
  section.scr_vacancies.vacancies.grey-bg(id="scr_vacancies")
    .container
      h2.title вакансии

      ul.vacancies__list
        li.vacancies__item
          .top
            h2 Мерчендайзер направления сети в г. Севастополь
            button.open
          .hidden
            .vacancies__unit
              h3.vacancies__title Требования к кандидату:
              ul
                li Опыт работы мерчендайзером (предпочтительно - продукты питания) от 1-года.
                li Навыки ведения переговоров.
                li Знание шагов торгового визита, техники продаж.

            .vacancies__unit
              h3.vacancies__title Обязанности:
              ul
                li Выкладка товара в ТТ.
                li Ротация продукции согласно принципа FIFO
                li Проведение дегустаций в ТТ
                li Администрирование оформления возвратов

            .vacancies__unit
              h3.vacancies__title Условия работы:
              ul
                li Достойный уровень заработной платы.
                li Официальное оформление, согласно требований ТК РФ.
                li Работа в команде профессионалов.
                li Профессиональный и карьерный рост

            .vacancies__btns
              a.btn(href="#") откликнуться на вакансию

        li.vacancies__item
          .top
            h2 Торговый представитель (г. Симферополь)
            button.open
          .hidden
            .vacancies__unit
              h3.vacancies__title Требования к кандидату:
              ul
                li Опыт работы мерчендайзером (предпочтительно - продукты питания) от 1-года.
                li Навыки ведения переговоров.
                li Знание шагов торгового визита, техники продаж.

            .vacancies__unit
              h3.vacancies__title Обязанности:
              ul
                li Выкладка товара в ТТ.
                li Ротация продукции согласно принципа FIFO
                li Проведение дегустаций в ТТ
                li Администрирование оформления возвратов

            .vacancies__btns
              a.btn(href="#") откликнуться на вакансию

        li.vacancies__item
          .top
            h2 Торговый представитель (г. Севастополь)
            button.open
          .hidden
            .vacancies__unit
              h3.vacancies__title Требования к кандидату:
              ul
                li Опыт работы мерчендайзером (предпочтительно - продукты питания) от 1-года.
                li Навыки ведения переговоров.
                li Знание шагов торгового визита, техники продаж.

            .vacancies__unit
              h3.vacancies__title Обязанности:
              ul
                li Выкладка товара в ТТ.
                li Ротация продукции согласно принципа FIFO
                li Проведение дегустаций в ТТ
                li Администрирование оформления возвратов

            .vacancies__btns
              a.btn(href="#") откликнуться на вакансию

        li.vacancies__item
          .top
            h2 Экспедитор
            button.open
          .hidden
            .vacancies__unit
              h3.vacancies__title Требования к кандидату:
              ul
                li Опыт работы мерчендайзером (предпочтительно - продукты питания) от 1-года.
                li Навыки ведения переговоров.
                li Знание шагов торгового визита, техники продаж.

            .vacancies__unit
              h3.vacancies__title Обязанности:
              ul
                li Выкладка товара в ТТ.
                li Ротация продукции согласно принципа FIFO
                li Проведение дегустаций в ТТ
                li Администрирование оформления возвратов

            .vacancies__btns
              a.btn(href="#") откликнуться на вакансию

  // /.scr_vacancies
