mixin scr_clients()
  section.scr_clients.clients.grey-bg(id="scr_clients")
    .container
      h1.title Покупателям

      p.desc.desc--second Крымская Сырная Компания, является представителем ведущих брендов сыров на рынке Российской Федерации. Мы представлены на самом высоком уровне и по всем каналам продаж. Секрет нашей компании в команде, которые, знают, как развивать сырные бренды на территории Крыма и в любом канале продаж.

      .company__slider.slider1#company__slider
        .company__slides.slider1__slides
          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/customers/img-1.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/customers/img-1.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title розничные магазины

              .company__hidden
                p Работаем со всеми
                  br
                  |  сетями Крыма

          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/customers/img-2.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/customers/img-2.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title Оптовая торговля

          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/customers/img-3.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/customers/img-3.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title Торговые сети

          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/customers/img-4.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/customers/img-4.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title хорека

        .company__dots.slider1__dots


  // /.scr_clients
