mixin scr_news()
  section.scr_news.news.content-wrap(id="scr_news")
    .container
      h1.title новости

      .row
        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее

        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов

              .news__btns
                a.link.link--arrow(href="#") Подробнее


        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее


        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее


        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее


        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее


        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее


        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее


        .col-md-4.col-sm-6
          .news__wrap
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .news__content
                a.news__title(href="#")
                  h2 Выставка сыров в Крыму

                p Ожидается приезд сыроделов из Москвы, Костромы и Казани, Владимирской, Липецкой, Калужской, Смоленской, Ярославской и Тульской...

              .news__btns
                a.link.link--arrow(href="#") Подробнее





      +paginator

  // /.scr_news
