mixin scr_company()
  section.scr_company.company(id="scr_company")
    .container
      h2.title Наша компания

      .company__slider.slider1#company__slider
        .company__slides.slider1__slides
          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/company/img-1.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/company/img-1.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title Партнеры

          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/company/img-2.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/company/img-2.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title Торговая команда

          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/company/img-3.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/company/img-3.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title логистика

          .company__slide.slider1__slide
            a.company__item(href="#")
              .company__img
                noscript
                  img.lazy(src="img-temp/company/img-4.jpg" alt="" width="276" height="398" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/company/img-4.jpg" alt="" width="276" height="398" data-object-fit-cover)

              h3.company__title Операционная
                br
                |  деятельность

        .company__dots.slider1__dots

  // /.scr_company
