mixin scr_story()
  section.scr_story.story(id="scr_story")
    .container
      h1.title История развития

      .story__slider#story__slider
        .story__slides
          .story__slide
            .story__wrap
              span.story__year 2000
                small  год
              .story__line
              .story__content
                p.story__text Основание компании,
                  br
                  |  продана первая голова сыра
          .story__slide
            .story__wrap
              span.story__year 2002
                small  год
              .story__line
              .story__content
                p.story__text Основание дистрибьюционной сети. Построение системы продаж.
          .story__slide
            .story__wrap
              span.story__year 2004
                small  год
              .story__line
              .story__content
                p.story__text Контракты с ведущими брендами на сырном рынке Украины.
          .story__slide
            .story__wrap
              span.story__year 2006
                small  год
              .story__line
              .story__content
                p.story__text Эксклюзивные представители торговых марок «Шостка», «Пырятин», «Клуб Сыра». Ведущими дистрибьюторами на сырном рынке Крыма.
          .story__slide
            .story__wrap
              span.story__year 2006
                small  год
              .story__line
              .story__content
                p.story__text Эксклюзивные представители торговых марок «Шостка», «Пырятин», «Клуб Сыра». Ведущими дистрибьюторами на сырном рынке Крыма.



      p.story__bottom Мы имеем колоссальный опыт продаж и развития брендов – качественно и быстро!

  // /.scr_story
