mixin scr_story()
  section.scr_story.story(id="scr_story")
    .container
      h1.title История развития

      .story__slider#story__slider
        .story__slides
          .story__slide
            .story__wrap
              span.story__year 2000
                small  год
              .story__line
          .story__slide
            .story__wrap
              span.story__year 2002
                small  год
              .story__line
          .story__slide
            .story__wrap
              span.story__year 2004
                small  год
              .story__line
          .story__slide
            .story__wrap
              span.story__year 2006
                small  год
              .story__line

      .story__slider2#story__slider2
        .story__slides2
          .story__slide2
            .story__item2
              ul.story__list
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
          .story__slide2
            .story__item2
              ul.story__list
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
          .story__slide2
            .story__item2
              ul.story__list
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
          .story__slide2
            .story__item2
              ul.story__list
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году
                li.story__item
                  p.story__text Компания была основана и начала свою деятельность в Крыму в 2000 году


      p.story__bottom Мы имеем колоссальный опыт продаж и развития брендов – качественно и быстро!

  // /.scr_story
