mixin scr_contacts()
  section.scr_contacts.contacts.grey-bg(id="scr_contacts")
    .container
      .contacts__df
        .contacts__content
          h1.title контакты

          .contacts__content-df

            .contacts__item
              h2 партнерам

              p.contacts__text тел.
                a(href="tel:+79781234567" rel="nofollow")  +7 (978) 123-45-67
              p.contacts__text e-mail:
                a(href="mailto:ks@ksk-crimea.ru" rel="nofollow")  ks@ksk-crimea.ru

            .contacts__item
              h2 трудоустройство

              p.contacts__text тел.
                a(href="tel:+79789718443" rel="nofollow")  +7 (978) 971 84 43
              p.contacts__text e-mail:
                a(href="mailto:hr@ksk-crimea.ru" rel="nofollow")  hr@ksk-crimea.ru

            .contacts__item
              h2 По общим
                br
                |  вопросам

              p.contacts__text тел.
                a(href="tel:+7978234568" rel="nofollow")  +7 (978) 23-45-68
              p.contacts__text e-mail:
                a(href="mailto:office@ksk-crimea.ru" rel="nofollow")  office@ksk-crimea.ru

            .contacts__item
              h2 Горячая линия
                br
                |  служба КРО

              p.contacts__text тел.
                a(href="tel:88008008000" rel="nofollow")  8 (800) 800-80-00

            .contacts__item
              h2 Центральный офис

              p.contacts__text г. Симферополь,
                br
                |  ул. Севастопольская, 123

            .contacts__item
              h2 Мы в соц. сетях

              ul.contacts__socials
                li.contacts__socials-item
                  a(href="#" rel="nofollow")
                    i.fa.fa-vk

                li.contacts__socials-item
                  a(href="#" rel="nofollow")
                    i.fa.fa-youtube-play

                li.contacts__socials-item
                  a(href="#" rel="nofollow")
                    i.fa.fa-instagram


        .contacts__form
          .form.wpcf7
            form.wpcf7-form
              p.form__title Обратная связь

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-email")

              .form__item
                span.wpcf7-form-control-wrap.your-theme.text-input.text-input--icon
                  select
                    option(value="") Выбрать тему
                    option(value="") Выбрать тему2
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-theme")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text(type='text', name='your-text', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Сообщение')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-msg")

              .form__item.form__item--submit
                input.wpcf7-form-control.wpcf7-submit.btn--grad(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon


    .contacts__map#contacts__map(style="background: transparent url('img/map.jpg') no-repeat center center; background-size: cover;")


  // /.scr_contacts
