mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-facebook
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-youtube-play
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram



  // /.socials
