@charset "UTF-8";
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url(fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/* Миксин замены цвета placeholder у input. Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000, 14px) */
/* Переопределение стилей fancybox */
.fancybox-lock {
  max-width: 100%;
  overflow: hidden !important; }

.fancybox-overlay {
  background: none;
  background-color: rgba(0, 0, 0, 0.5); }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../libs/fancybox/fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  background: none;
  top: 5px;
  right: 5px;
  display: block;
  width: 50px;
  height: 50px;
  background: #1da4a4;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .fancybox-close::before, .fancybox-close::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 80%;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .fancybox-close::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .fancybox-close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }
  .fancybox-close:hover {
    opacity: 1; }
    .fancybox-close:hover::before, .fancybox-close:hover::after {
      background: #fff; }

.fancybox-nav {
  background: transparent url(../libs/fancybox/blank.gif); }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: none; }

.fancybox-next, .fancybox-prev {
  width: 25%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.fancybox-prev:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 164, 164, 0.2)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(29, 164, 164, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, rgba(29, 164, 164, 0.2) 0%, rgba(0, 0, 0, 0) 100%); }

.fancybox-next:hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(29, 164, 164, 0.2)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, rgba(29, 164, 164, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(270deg, rgba(29, 164, 164, 0.2) 0%, rgba(0, 0, 0, 0) 100%); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background: none; }
  #fancybox-loading div {
    background-image: url(../libs/fancybox/fancybox_loading@2x.gif); } }

.msg {
  position: relative;
  display: block;
  margin-right: 14px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .msg:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .msg--wa {
    width: 17px;
    height: 18px; }
  .msg--vi {
    width: 17px;
    height: 19px; }
    .msg--vi .msg__icon {
      fill: #834894; }
  .msg__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; }

.form {
  position: relative;
  z-index: 30;
  width: 100%;
  padding: 32px 39px 20px 32px;
  -webkit-box-shadow: 5px 9px 30px 0px rgba(29, 163, 163, 0.2);
          box-shadow: 5px 9px 30px 0px rgba(29, 163, 163, 0.2);
  background-color: #ffffff;
  border-radius: 6.0px;
  /* media */ }
  .form__title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #1da4a4;
    text-align: center; }
  .form input, .form textarea {
    font-family: "Ubuntu", sans-serif; }
  .form .text-input {
    display: block;
    width: 100%; }
    .form .text-input input, .form .text-input textarea {
      background: none;
      border: none;
      outline: none;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      resize: none;
      width: 100%;
      margin-bottom: 16px;
      padding-left: 17px;
      background-color: #ffffff;
      border: 1.0px solid #d1e0eb;
      border-radius: 6.0px;
      font-size: 16px;
      line-height: 1.5;
      color: #666666; }
      .form .text-input input::-webkit-input-placeholder, .form .text-input textarea::-webkit-input-placeholder {
        color: #666666;
        font-size: 14px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Ubuntu", sans-serif; }
      .form .text-input input::-moz-placeholder, .form .text-input textarea::-moz-placeholder {
        color: #666666;
        font-size: 14px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Ubuntu", sans-serif; }
      .form .text-input input:-ms-input-placeholder, .form .text-input textarea:-ms-input-placeholder {
        color: #666666;
        font-size: 14px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Ubuntu", sans-serif; }
      .form .text-input input:hover, .form .text-input input:focus, .form .text-input textarea:hover, .form .text-input textarea:focus {
        border-color: rgba(105, 181, 71, 0.6); }
      .form .text-input input:focus::-webkit-input-placeholder, .form .text-input textarea:focus::-webkit-input-placeholder {
        color: #fff;
        font-size: 14px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Ubuntu", sans-serif; }
      .form .text-input input:focus::-moz-placeholder, .form .text-input textarea:focus::-moz-placeholder {
        color: #fff;
        font-size: 14px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Ubuntu", sans-serif; }
      .form .text-input input:focus:-ms-input-placeholder, .form .text-input textarea:focus:-ms-input-placeholder {
        color: #fff;
        font-size: 14px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Ubuntu", sans-serif; }
    .form .text-input input {
      height: 50px; }
    .form .text-input textarea {
      height: 116px;
      padding: 15px 19px 10px;
      background-color: #ffffff;
      border: 1.0px solid #d1e0eb;
      border-radius: 6.0px; }
  .form .submit__wrap {
    margin-top: 10px;
    margin-bottom: 25px; }
  .form .accept label {
    display: block;
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 300;
    color: #1da4a4; }
    .form .accept label > span {
      position: relative;
      display: inline-block; }
    .form .accept label:hover {
      color: #69b547; }
      .form .accept label:hover .accept__icon::before {
        background-color: #69b547; }
  .form .accept__icon {
    position: absolute;
    top: 50%;
    left: -21px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border: 1.0px solid #999999;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form .accept__icon::before {
      content: '';
      position: absolute;
      top: -webkit-calc(50% - 3px);
      top: calc(50% - 3px);
      left: -webkit-calc(50% - 3px);
      left: calc(50% - 3px);
      display: block;
      width: 6px;
      height: 6px;
      background-color: #1da4a4;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
  .form .accept input {
    display: none; }
  .form .accept input:checked + span i::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  @media screen and (max-width: 576px) {
    .form {
      width: 360px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 500px) {
    .form__title {
      margin-bottom: 20px;
      font-size: 26px; } }
  @media screen and (max-width: 400px) {
    .form {
      padding: 22px 17px 20px 17px; }
      .form .accept label {
        font-size: 12px; }
      .form .accept__icon {
        width: 14px;
        height: 14px; }
      .form .text-input input {
        height: 47px; }
      .form .text-input textarea {
        height: 75px; } }

/* form */
.paginator {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  /* media */ }
  .paginator .page-numbers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 17px;
    font-weight: 500;
    font-size: 16px; }
  .paginator .page-numbers, .paginator .prev, .paginator .next {
    position: relative;
    text-decoration: none;
    line-height: 1.2;
    color: #999999;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .paginator .page-numbers:hover, .paginator .prev:hover, .paginator .next:hover {
      color: #69b547; }
  .paginator .prev, .paginator .next {
    display: block;
    font-size: 13px; }
    .paginator .prev .icon, .paginator .next .icon {
      position: absolute;
      top: -webkit-calc(50% - 5px);
      top: calc(50% - 5px);
      width: 16px;
      height: 11px; }
  .paginator .prev {
    margin-right: 30px; }
    .paginator .prev .icon {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      left: -30px; }
    .paginator .prev:hover .icon {
      left: -25px; }
  .paginator .next {
    margin-left: 30px; }
    .paginator .next .icon {
      right: -30px; }
    .paginator .next:hover .icon {
      right: -25px; }
  .paginator li.current .page-numbers {
    color: #69b547; }
  @media screen and (max-width: 500px) {
    .paginator .prev, .paginator .next {
      margin: 0;
      font-size: 0;
      width: 16px;
      height: 11px; }
    .paginator .prev .icon {
      left: -10px; }
    .paginator .next .icon {
      right: -10px; }
    .paginator .page-numbers {
      padding: 10px; } }

/* paginator */
.breadcrumbs {
  position: relative;
  padding: 22px 0; }
  .breadcrumbs ol {
    margin: 0;
    padding: 0;
    list-style: none; }
    .breadcrumbs ol li {
      position: relative;
      display: inline-block; }
      .breadcrumbs ol li a {
        text-decoration: none;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .breadcrumbs ol li a[href]:hover {
          color: #69b547; }
      .breadcrumbs ol li a, .breadcrumbs ol li span {
        font-size: 13px;
        line-height: 24px; }
      .breadcrumbs ol li:not(:last-of-type)::after {
        content: '>';
        margin: 0 4px;
        font-size: 13px; }
  @media screen and (max-width: 400px) {
    .breadcrumbs {
      padding: 15px 0; } }

/* breadcrumbs */
.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .socials__link {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 19px;
    background-color: #a8c0bf;
    border-radius: 3.0px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: 0.3s  ease-in-out;
    -o-transition: 0.3s  ease-in-out;
    transition: 0.3s  ease-in-out; }
    .socials__link:last-of-type {
      margin-right: 0; }
    .socials__link .fa {
      color: #fff;
      font-weight: 400;
      font-size: 17px; }
    .socials__link:hover {
      -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
              transform: translateY(-2px);
      background: rgba(29, 164, 164, 0.8); }

/* socials */
.licenses {
  position: relative;
  padding-top: 72px;
  padding-bottom: 57px;
  /* media */ }
  .licenses__slider {
    position: relative;
    margin-left: 37px;
    margin-right: 37px; }
  .licenses__slide {
    padding: 0 30px; }
  .licenses__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .licenses__img {
    text-align: center;
    width: 100%; }
    .licenses__img a {
      position: relative;
      display: block;
      overflow: hidden;
      border-radius: 4px; }
      .licenses__img a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 4px solid transparent;
        -webkit-border-image: -webkit-gradient(linear, left bottom, left top, from(#0e6b68), color-stop(50%, #81d4d7), to(#0e6b68));
        -webkit-border-image: linear-gradient(0deg, #0e6b68 0%, #81d4d7 50%, #0e6b68 100%);
             -o-border-image: -o-linear-gradient(bottom, #0e6b68 0%, #81d4d7 50%, #0e6b68 100%);
                border-image: -webkit-gradient(linear, left bottom, left top, from(#0e6b68), color-stop(50%, #81d4d7), to(#0e6b68));
                border-image: linear-gradient(0deg, #0e6b68 0%, #81d4d7 50%, #0e6b68 100%);
        border-image-slice: 1;
        z-index: 1; }
  .licenses__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center; }
  .licenses__dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  @media screen and (max-width: 992px) {
    .licenses__slider {
      margin-left: 0;
      margin-right: 0; } }
  @media screen and (max-width: 400px) {
    .licenses {
      padding-top: 40px; } }

/* licenses */
.reviews {
  position: relative;
  padding-top: 127px;
  padding-bottom: 147px;
  /* media */ }
  .reviews__slider {
    position: relative;
    margin-left: 53px;
    margin-right: 53px; }
  .reviews__slide {
    padding: 0 15px; }
  .reviews__wrap {
    height: 100%;
    border-radius: 3.0px;
    padding: 65px 30px 50px;
    text-align: center;
    background-color: #ebf5f6; }
  .reviews__author {
    font-size: 18px;
    line-height: 1.33333;
    font-weight: 500;
    color: #0e6b68; }
  .reviews__desc {
    margin-bottom: 39px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500; }
  .reviews__review, .reviews__city {
    line-height: 1.5; }
  .reviews__city {
    margin-top: 42px; }
  .reviews .slick-arrow {
    top: -webkit-calc(50% - 35px);
    top: calc(50% - 35px); }
  .reviews__dots {
    position: absolute;
    bottom: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  @media screen and (max-width: 992px) {
    .reviews__slider {
      margin-left: 0;
      margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .reviews__wrap {
      padding: 45px 20px 30px; } }
  @media screen and (max-width: 650px) {
    .reviews__desc {
      margin-bottom: 20px;
      font-size: 14px; }
    .reviews__review, .reviews__city {
      font-size: 14px; }
    .reviews__city {
      margin-top: 30px; } }
  @media screen and (max-width: 400px) {
    .reviews {
      padding-top: 40px;
      padding-bottom: 40px; }
      .reviews__dots {
        bottom: -30px; } }

/* reviews */
.reviews-page .reviews {
  padding-top: 10px;
  padding-bottom: 40px; }
  .reviews-page .reviews__item {
    height: 100%;
    padding-bottom: 32px; }
  .reviews-page .reviews__wrap {
    height: 100%; }
  .reviews-page .reviews .paginator {
    margin-top: 10px; }
  @media screen and (max-width: 768px) {
    .reviews-page .reviews__wrap {
      padding: 35px 15px 30px; } }
  @media screen and (max-width: 500px) {
    .reviews-page .reviews {
      padding-bottom: 20px; }
      .reviews-page .reviews__item {
        padding-bottom: 22px; }
      .reviews-page .reviews .paginator {
        margin-top: 0; } }
  @media screen and (max-width: 400px) {
    .reviews-page .reviews__wrap {
      padding: 25px 10px 25px; } }

/* reviews-page reviews */
.about {
  position: relative;
  background: #fff url("../img/bg-about.jpg") no-repeat top center;
  padding-top: 42px;
  -webkit-box-shadow: 13px 23px 38px 0px rgba(29, 163, 163, 0.1);
          box-shadow: 13px 23px 38px 0px rgba(29, 163, 163, 0.1);
  z-index: 5;
  /* media */ }
  .about__nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 22px; }
    .about__nav-item {
      margin-right: 154px; }
      .about__nav-item:last-of-type {
        margin-right: 0; }
  .about__link {
    position: relative;
    display: block;
    padding: 25px 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #0e6b68;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .about__link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: transparent;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .about__link.active {
      color: #69b547; }
      .about__link.active::before {
        background-color: #69b547; }
    .about__link:hover {
      color: #69b547; }
  .about__tabs {
    padding: 0;
    margin: 0;
    list-style: none; }
  .about__tab {
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    max-height: 10000px;
    opacity: 1; }
    .about__tab:not(.active) {
      max-height: 0;
      overflow: hidden;
      opacity: 0; }
    .about__tab .left {
      position: relative;
      width: 59.91228070175439%;
      z-index: 1; }
  .about__content {
    padding-top: 71px;
    padding-bottom: 10px; }
  .about__img {
    position: absolute;
    right: -100%;
    bottom: 0;
    width: 771px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: -1; }
    .about__img .img__wrap {
      position: relative;
      width: auto;
      height: 100%; }
      .about__img .img__wrap::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(40%, transparent)), -webkit-gradient(linear, right top, left top, from(#fff), color-stop(40%, transparent));
        background-image: -o-linear-gradient(left, #fff 0%, transparent 40%), -o-linear-gradient(right, #fff 0%, transparent 40%);
        background-image: linear-gradient(90deg, #fff 0%, transparent 40%), linear-gradient(-90deg, #fff 0%, transparent 40%);
        z-index: 2; }
    .about__img img {
      position: relative;
      display: inline-block;
      max-width: 100%;
      width: auto;
      height: 100%;
      z-index: 1; }
  @media screen and (max-width: 992px) {
    .about__img {
      width: 100%; } }
  @media screen and (max-width: 750px) {
    .about__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .about__nav-item {
        width: 100%;
        margin-right: 0; }
    .about__link {
      padding: 15px;
      color: #fff;
      background-color: rgba(29, 164, 164, 0.7);
      border: 1px solid rgba(255, 255, 255, 0.4); }
      .about__link::before {
        content: none; }
      .about__link.active {
        color: #fff;
        background-color: rgba(105, 181, 71, 0.7); }
      .about__link:hover {
        color: #fff;
        background-color: rgba(105, 181, 71, 0.7); }
    .about__tab .left {
      width: 100%; }
    .about__tab .cite {
      margin-right: 250px; }
    .about__img {
      width: 250px;
      height: 200px;
      right: -30px; } }
  @media screen and (max-width: 500px) {
    .about {
      padding-top: 10px; }
      .about__content {
        padding-top: 41px; }
      .about .cite {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-right: auto;
        max-width: 60%; }
      .about__img {
        right: auto;
        left: 52%; } }
  @media screen and (max-width: 400px) {
    .about .cite {
      width: 55%;
      margin-top: 50px; }
    .about__link {
      padding: 12px;
      font-size: 14px; }
    .about__img {
      left: 36%; } }

/* about */
.features {
  position: relative;
  padding-top: 72px;
  padding-bottom: 95px;
  z-index: 1;
  /* media */ }
  .features::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: transparent url("../img/svg/bg-features.svg") no-repeat center 76px;
    z-index: -1;
    background-size: cover; }
  .features__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 56px;
    background: #fff;
    border: 1px solid #28a7a6;
    border-radius: 3px; }
  .features__nav {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 360px;
    z-index: 2; }
  .features__link {
    display: block;
    padding: 33px 15px 29px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
    background: #1da4a4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
    .features__link.active {
      color: #0e6b68;
      background: #fff; }
    .features__link:not(.active):hover {
      -webkit-transform: translateX(-10px);
          -ms-transform: translateX(-10px);
              transform: translateX(-10px); }
  .features__tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-shadow: 5px 9px 15px 0px rgba(29, 163, 163, 0.1);
            box-shadow: 5px 9px 15px 0px rgba(29, 163, 163, 0.1); }
  .features__tab {
    padding: 60px 60px 10px 120px; }
    .features__tab:not(#fetures-tab-0) {
      display: none; }
  .features .btn__wrap {
    text-align: right; }
  @media screen and (max-width: 992px) {
    .features__tab {
      padding: 60px 30px 10px 60px; }
    .features__link {
      padding: 30px 15px 26px;
      font-size: 14px; } }
  @media screen and (max-width: 800px) {
    .features__nav {
      width: 50%; }
    .features .btn__wrap {
      margin-top: 10px; } }
  @media screen and (max-width: 700px) {
    .features__tab {
      padding: 70px 20px 10px 40px; } }
  @media screen and (max-width: 600px) {
    .features__wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .features__nav {
      width: 100%; }
    .features__link {
      padding: 15px; }
    .features__tab {
      padding-bottom: 20px;
      padding-top: 40px; } }
  @media screen and (max-width: 500px) {
    .features {
      padding-top: 40px;
      padding-bottom: 45px; }
      .features__wrap {
        margin-top: 26px; } }
  @media screen and (max-width: 400px) {
    .features__link {
      font-size: 13px;
      padding: 12px; }
    .features__tab {
      padding-bottom: 10px;
      padding-top: 30px;
      padding-left: 30px; } }

/* features */
.steps {
  position: relative;
  padding: 53px 22px 270px;
  /* media */ }
  .steps__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #0e6b68;
    text-align: center; }
  .steps__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 48px; }
  .steps__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #0e6b68; }
    .steps__item:last-of-type {
      margin-bottom: 0; }
    .steps__item:hover {
      -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
              transform: translateX(5px); }
  .steps__icon {
    width: 40px;
    height: 40px;
    margin-right: 27px; }
  .steps__bottom {
    position: absolute;
    bottom: -139px;
    left: -40px;
    display: block;
    width: 401px;
    height: 386px; }
  @media screen and (max-width: 768px) {
    .steps__item {
      margin-bottom: 16px;
      font-size: 13px; }
    .steps__icon {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      width: 26px;
      height: 26px;
      margin-right: 22px; } }
  @media screen and (max-width: 576px) {
    .steps {
      padding: 23px 0 20px;
      background-color: #fff; }
      .steps__title {
        font-size: 28px; }
      .steps__list {
        margin-top: 25px; }
      .steps__item br {
        display: none; }
      .steps__bottom {
        position: relative;
        margin-top: 20px;
        top: 0;
        left: 0;
        bottom: auto;
        width: 100%;
        height: auto; } }
  @media screen and (max-width: 400px) {
    .steps__title {
      font-size: 23px; } }

/* steps */
.questions {
  position: relative;
  /* media */ }
  .questions::before {
    content: '';
    position: absolute;
    top: 26px;
    left: 99px;
    display: block;
    width: 1214px;
    height: 626px;
    background: transparent url("../img/svg/bg-features.svg") no-repeat center center;
    background-size: cover;
    opacity: 0.3; }
  .questions__wrap {
    padding-top: 50px;
    padding-bottom: 20px; }
  .questions .title {
    text-align: center; }
  .questions__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 40px; }
  .questions__item {
    margin-bottom: 20px;
    padding: 0 21px 0 68px;
    -webkit-box-shadow: 7px 13px 20px 0px rgba(29, 163, 163, 0.1);
            box-shadow: 7px 13px 20px 0px rgba(29, 163, 163, 0.1);
    background-color: #ffffff;
    border-radius: 6px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .questions__item:hover {
      -webkit-box-shadow: 7px 13px 30px 0px rgba(29, 163, 163, 0.3);
              box-shadow: 7px 13px 30px 0px rgba(29, 163, 163, 0.3); }
    .questions__item h3 {
      font-size: 16px;
      font-weight: 500;
      max-width: 100%; }
  .questions .top {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 82px;
    cursor: pointer; }
    .questions .top:hover .open::before, .questions .top:hover .open::after {
      background-color: #1da4a4; }
  .questions .hidden {
    display: none;
    padding-bottom: 28px; }
  .questions .open {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    left: -49px;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .questions .open::before, .questions .open::after {
      content: '';
      position: absolute;
      top: -webkit-calc(50% - 1px);
      top: calc(50% - 1px);
      left: -webkit-calc(50% - 8px);
      left: calc(50% - 8px);
      width: 16px;
      height: 2px;
      background-color: #69b547;
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-transition: opacity 1s, -webkit-transform 0.5s;
      transition: opacity 1s, -webkit-transform 0.5s;
      -o-transition: transform 0.5s, opacity 1s;
      transition: transform 0.5s, opacity 1s;
      transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s; }
    .questions .open::before {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .questions .open.active::before {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0; }
  .questions .article p {
    line-height: 1.5; }
    .questions .article p:last-of-type {
      margin-bottom: 0; }
  @media screen and (max-width: 992px) {
    .questions__item h3 {
      font-size: 15px;
      line-height: 1.4; }
    .questions .article p {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    .questions__list {
      margin-top: 30px; }
    .questions__item {
      padding: 0 21px 0 45px; }
      .questions__item h3 {
        font-size: 13px;
        line-height: 1.3; }
    .questions .open {
      left: -32px; }
    .questions .article p {
      font-size: 13px;
      line-height: 1.4; } }
  @media screen and (max-width: 400px) {
    .questions__wrap {
      padding-top: 20px; } }

/* questions */
.news {
  position: relative;
  padding-top: 58px;
  padding-bottom: 50px;
  /* media */ }
  .news .btn__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    padding-bottom: 4px; }
  .news__wrap {
    height: 100%;
    padding-bottom: 45px; }
  .news__list {
    margin-top: 65px; }
  .news__slider {
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    margin-left: -15px; }
  .news__slides {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .news__slide {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
    width: 33.3%; }
  .news__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 40px 25px 35px 35px;
    -webkit-box-shadow: 5px 9px 30px 0px rgba(29, 164, 164, 0.2);
            box-shadow: 5px 9px 30px 0px rgba(29, 164, 164, 0.2);
    background-color: #ffffff;
    border-radius: 6.0px;
    text-decoration: none;
    color: #7b7c7e;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .news__item:hover {
      -webkit-box-shadow: 5px 9px 40px 0px rgba(29, 164, 164, 0.3);
              box-shadow: 5px 9px 40px 0px rgba(29, 164, 164, 0.3); }
      .news__item:hover h2, .news__item:hover h3 {
        color: #69b547; }
  .news__content {
    -webkit-box-flex: 1px;
    -webkit-flex-grow: 1px;
        -ms-flex-positive: 1px;
            flex-grow: 1px; }
  .news .link--arrow::before {
    content: none; }
  .news .article h2, .news .article h3 {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 1.55556;
    font-weight: 500;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .news .article time {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #0e6b68; }
  .news .article p {
    line-height: 1.5; }
    .news .article p:last-of-type {
      margin-bottom: 44px; }
  @media screen and (max-width: 992px) {
    .news__slides {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .news__slide {
      width: 50%; } }
  @media screen and (max-width: 768px) {
    .news {
      padding-top: 118px; }
      .news__list {
        margin-top: 25px; } }
  @media screen and (max-width: 700px) {
    .news .article h3 {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 1.4; }
    .news .article p {
      font-size: 14px; }
      .news .article p:last-of-type {
        margin-bottom: 34px; }
    .news .article time {
      margin-bottom: 20px; }
    .news__item {
      padding: 30px 25px 25px 25px; } }
  @media screen and (max-width: 576px) {
    .news {
      padding-top: 20px; } }
  @media screen and (max-width: 500px) {
    .news__wrap {
      padding-bottom: 22px; } }
  @media screen and (max-width: 400px) {
    .news .btn__wrap {
      padding-bottom: 0; } }

/* news */
.news-page .news {
  padding-top: 10px;
  padding-bottom: 40px; }
  .news-page .news__list {
    margin-top: 0; }

/* news-page news */
.lead {
  position: relative;
  padding-bottom: 44px;
  /* media */ }
  .lead .bg-img {
    position: absolute;
    top: 34px;
    left: 307px;
    width: 443px;
    height: 409px;
    z-index: -1; }
  .lead__content {
    position: relative;
    padding-top: 100px;
    z-index: 1; }
  .lead__title {
    margin-bottom: 54px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #1da4a4; }
    .lead__title strong {
      font-weight: 700;
      text-transform: uppercase; }
  .lead__desc {
    color: #666666; }
  .lead__form {
    position: relative;
    z-index: 2;
    padding-top: 44px; }
  @media screen and (max-width: 768px) {
    .lead__title {
      margin-bottom: 24px;
      font-size: 24px; }
    .lead__desc {
      font-size: 14px; } }
  @media screen and (max-width: 576px) {
    .lead__content {
      padding-top: 40px; }
    .lead .bg-img {
      left: 45%; }
    .lead__title {
      width: 80%; }
    .lead__desc {
      width: 80%; } }
  @media screen and (max-width: 400px) {
    .lead .bg-img {
      left: 0;
      top: 104px;
      opacity: 0.2; }
    .lead__title {
      width: 100%;
      margin-bottom: 20px;
      font-size: 22px; }
    .lead__desc {
      width: 100%; }
    .lead__form {
      padding-top: 24px; } }

/* lead */
.message {
  position: relative;
  padding: 56px 0;
  /* media */ }
  .message .form {
    position: relative;
    padding-top: 28px;
    padding-left: 56px;
    padding-right: 56px;
    width: 728px;
    max-width: 100%;
    margin: 0 auto;
    z-index: 1; }
    .message .form__top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .message .form__top .left {
        width: -webkit-calc((100% - 39px) / 2);
        width: calc((100% - 39px) / 2); }
      .message .form__top .right {
        width: -webkit-calc((100% - 39px) / 2);
        width: calc((100% - 39px) / 2); }
    .message .form__bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .message .form__bottom .right {
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        width: -webkit-calc((100% - 39px) / 2);
        width: calc((100% - 39px) / 2);
        margin-left: 10px; }
    .message .form .bg-img {
      position: absolute;
      top: -65px;
      right: -250px;
      display: block;
      width: 322px;
      height: 330px;
      z-index: 1; }
    .message .form .bg-img-2 {
      position: absolute;
      bottom: -40px;
      right: -457px;
      display: block;
      width: 493px;
      height: 61px;
      z-index: -1; }
  @media screen and (max-width: 768px) {
    .message .form .bg-img,
    .message .form .bg-img-2 {
      display: none; } }
  @media screen and (max-width: 650px) {
    .message .form {
      padding-left: 25px;
      padding-right: 25px; } }
  @media screen and (max-width: 500px) {
    .message .form__top, .message .form__bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .message .form__top .left, .message .form__bottom .left {
        width: 100%; }
      .message .form__top .right, .message .form__bottom .right {
        width: 100%; }
    .message .form__bottom .left {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
    .message .form .accept label > span {
      margin-left: 15px; } }

/* message */
.news-item {
  position: relative;
  /* media */ }
  .news-item h1.title {
    padding-top: 0;
    padding-bottom: 24px; }
  .news-item__wrap {
    background-color: #f9fbfb; }
  .news-item__content {
    padding: 45px 192px 45px; }
  .news-item .article ul li {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5; }
    .news-item .article ul li::before {
      content: none; }
  @media screen and (max-width: 1070px) {
    .news-item__content {
      padding: 45px 42px; } }
  @media screen and (max-width: 700px) {
    .news-item__content {
      padding: 45px 30px; } }
  @media screen and (max-width: 500px) {
    .news-item__content {
      padding: 30px 15px; } }
  @media screen and (max-width: 400px) {
    .news-item h1.title {
      font-size: 20px; } }

/* news-item  */
.contacts {
  position: relative;
  /* media */ }
  .contacts__col {
    padding-bottom: 28px;
    text-align: center;
    height: 100%; }
  .contacts__wrap {
    height: 100%;
    background-color: #f9fbfb;
    border-radius: 3.0px;
    padding: 52px 48px 70px; }
  .contacts__item {
    margin-bottom: 46px; }
    .contacts__item:last-of-type {
      margin-bottom: 0; }
    .contacts__item--left .text {
      padding-left: 20px;
      text-align: left; }
  .contacts h3 {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #0e6b68; }
  .contacts .text {
    margin-bottom: 10px; }
    .contacts .text:last-of-type {
      margin-bottom: 0; }
    .contacts .text strong {
      font-weight: 500; }
  .contacts .msg {
    margin-right: 14px; }
    .contacts .msg:last-of-type {
      margin-right: 0; }
    .contacts .msg__wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .contacts__phone {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .contacts__phone:hover {
      color: #69b547; }
  @media screen and (max-width: 1170px) {
    .contacts__item--left .text {
      padding-left: 0; } }
  @media screen and (max-width: 1070px) {
    .contacts__wrap {
      padding: 42px 28px 50px; } }
  @media screen and (max-width: 992px) {
    .contacts h3 {
      margin-bottom: 12px;
      font-size: 16px; }
    .contacts .text {
      margin-bottom: 6px;
      font-size: 14px; }
    .contacts__phone {
      font-size: 14px; }
    .contacts__item {
      margin-bottom: 30px; }
    .contacts__wrap {
      padding: 32px 15px 30px; } }
  @media screen and (max-width: 650px) {
    .contacts .col-wrap {
      padding: 0 10px; } }
  @media screen and (max-width: 450px) {
    .contacts .col-wrap {
      max-width: 100%;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
    .contacts__col {
      padding-bottom: 15px; }
    .contacts__wrap {
      padding-top: 20px;
      padding-bottom: 20px; }
    .contacts__item--left .text {
      text-align: center; } }

/* contacts */
.footer {
  position: relative;
  /* media */ }
  .footer__top {
    padding-top: 57px;
    padding-bottom: 54px; }
  .footer .logo {
    display: block;
    width: 261px;
    height: 57px;
    max-width: 100%;
    margin-bottom: 36px;
    text-decoration: none; }
    .footer .logo svg {
      width: 100%;
      height: 100%;
      fill: #fff; }
  .footer__phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px; }
    .footer__phones .phones__link {
      margin-right: 13px;
      font-weight: 700;
      color: #1da4a4;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      text-decoration: none; }
      .footer__phones .phones__link:hover {
        color: #69b547; }
  .footer__item {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.71429;
    color: #666666; }
    .footer__item strong {
      font-weight: 500;
      margin-right: 2px; }
  .footer__bottom {
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__bottom .text {
      font-size: 13px;
      line-height: 1.23077;
      color: #1da4a4; }
  .footer .menu-df {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 30px; }
    .footer-menu:first-of-type {
      width: 19.48051948051948%;
      margin-right: 30px;
      padding-left: 35px; }
    .footer-menu:nth-of-type(2) {
      width: 42.50295159386068%;
      margin-right: 30px; }
    .footer-menu:nth-of-type(3) {
      width: 30.93270365997639%; }
    .footer-menu__item {
      margin-bottom: 42px; }
      .footer-menu__item:last-of-type {
        margin-bottom: 0; }
    .footer-menu h4,
    .footer-menu .footer-menu__item--single > .menu > li > a {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      color: #1da4a4;
      text-decoration: none;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .footer-menu h4 {
      margin-bottom: 25px; }
    .footer-menu .footer-menu__item--single > .menu > li > a {
      display: block; }
      .footer-menu .footer-menu__item--single > .menu > li > a:hover {
        color: #69b547; }
    .footer-menu .menu {
      padding: 0;
      margin: 0;
      list-style: none; }
      .footer-menu .menu > li {
        margin-bottom: 22px; }
        .footer-menu .menu > li:last-of-type {
          margin-bottom: 0; }
        .footer-menu .menu > li > a {
          font-size: 14px;
          line-height: 1.2;
          text-decoration: none;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .footer-menu .menu > li > a:hover {
            color: #69b547; }
          .footer-menu .menu > li > a span {
            display: block; }
  .footer .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .footer .made {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .footer .made .icon {
      width: 60px;
      height: 22px;
      margin-left: 13px;
      fill: #1da4a4;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .footer .made:hover .text {
      color: #69b547; }
    .footer .made:hover .icon {
      fill: #69b547; }
  .footer .to-top {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 100;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(153, 153, 153, 0.3);
            box-shadow: 0px 0px 10px 0px rgba(153, 153, 153, 0.3);
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.9; }
    .footer .to-top .fa {
      color: #1da4a4;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      font-size: 20px;
      font-weight: 800; }
    .footer .to-top:hover {
      opacity: 1;
      -webkit-box-shadow: 0 0 15px 0 rgba(29, 164, 164, 0.3);
              box-shadow: 0 0 15px 0 rgba(29, 164, 164, 0.3); }
      .footer .to-top:hover .fa {
        color: #69b547; }
  @media screen and (max-width: 992px) {
    .footer-menu:first-of-type {
      padding-left: 0; } }
  @media screen and (max-width: 768px) {
    .footer .menu-df {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer-menu {
      padding-top: 0; }
      .footer-menu:first-of-type {
        width: 100%;
        margin-right: 0;
        padding-top: 10px; }
      .footer-menu:nth-of-type(2) {
        width: 100%;
        margin-right: 0; }
      .footer-menu:nth-of-type(3) {
        width: 100%; }
      .footer-menu h4,
      .footer-menu .footer-menu__item--single > .menu > li > a {
        display: inline-block;
        text-transform: uppercase;
        max-width: 90%; }
      .footer-menu__item {
        margin-bottom: 20px; }
        .footer-menu__item:last-of-type {
          margin-bottom: 20px; }
        .footer-menu__item:not(.footer-menu__item--single) .menu {
          display: none;
          padding-bottom: 20px;
          padding-top: 10px; }
      .footer-menu h4 {
        position: relative;
        margin-bottom: 0;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .footer-menu h4::after {
          content: '';
          position: absolute;
          top: 2px;
          right: -18px;
          display: block;
          width: 8px;
          height: 8px;
          border-bottom: 2px solid #1da4a4;
          border-left: 2px solid #1da4a4;
          -webkit-transform-origin: center;
              -ms-transform-origin: center;
                  transform-origin: center;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .footer-menu h4:hover {
          color: #69b547; }
          .footer-menu h4:hover::after {
            border-color: #69b547; }
        .footer-menu h4.active::after {
          -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
                  transform: rotate(135deg); } }
  @media screen and (max-width: 576px) {
    .footer__top {
      text-align: center; }
    .footer .logo {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; }
    .footer__phones {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 15px; }
    .footer__item {
      margin-bottom: 15px; }
    .footer-menu:first-of-type {
      padding-top: 30px; }
    .footer__bottom {
      height: 70px; }
      .footer__bottom .copyright .text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px; }
    .footer .to-top {
      top: 10px; } }
  @media screen and (max-width: 400px) {
    .footer-menu h4,
    .footer-menu .footer-menu__item--single > .menu > li > a {
      max-width: 100%;
      width: 100%; }
    .footer-menu h4 {
      padding-right: 15px;
      padding-left: 15px; }
      .footer-menu h4::after {
        right: 0; }
    .footer-menu__item, .footer-menu__item:last-of-type {
      margin-bottom: 10px; }
    .footer-menu .menu > li {
      margin-bottom: 0; }
      .footer-menu .menu > li > a {
        display: block;
        padding: 5px; } }

/* footer */
