html,
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

body {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
  
  background-color: #293449;
}

.main-header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  min-height: 40px;
}

.main-header-top a {
  text-decoration: none;
  color: white;
}

.logo {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 220px;
  padding-top: 10px;
  
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
                      0 5px 0 0 rgba(238, 54, 67, 1);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 rgba(238, 54, 67, 1);
  border: none;
  outline: none;
}

.logo[href]:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
                      0 5px 0 0 #ca2c37;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ca2c37;
}

.logo[href]:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
                      0 5px 0 0 #ba2732;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
              0 5px 0 0 #ba2732;
}

.main-header-search {
  position: relative;
  
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 270px;
}

.search-input {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: inherit;
  height: 42px;
  padding-left: 48px;
  padding-bottom: 3px;
  
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  color: white;
  
  background: #293449 url("../img/sprite-search.png") no-repeat -15px -18px;
  border: none;
  outline: none;
}

.search-input:hover {
  background: #212a3a url("../img/sprite-search.png") no-repeat -15px -172px;
}

.search-input:focus {
  color: black;
  
  background: white url("../img/sprite-search.png") no-repeat -15px -95px;
}

.search-input::-webkit-input-placeholder {
  color: white;
}

.search-input:-moz-placeholder {
  color: white;
}

.search-input::-moz-placeholder {
  color: white;
}

.search-input:-ms-input-placeholder {
  color: white;
}
  
.main-header-bookmarks {
  position: relative;
  
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding-left: 44px;
  padding-top: 12px;
  padding-bottom: 9px;
  
  border: none;
  outline: none;
}

.main-header-bookmarks:hover {
  background-color: #212a3a;
}

.main-header-bookmarks:hover::before {
  opacity: 1;
}

.main-header-bookmarks:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #161d29;
}

.main-header-bookmarks:active::before {
  opacity: 0.5;
}

.main-header-bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -5px;
  opacity: 0.3;
}

.main-header-cart {
  position: relative;
  
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 9px;
  
  border: none;
  outline: none;
}

.main-header-cart:hover {
  background-color: #212a3a;
  border: none;
}

.main-header-cart:hover::before {
  opacity: 1;
}

.main-header-cart:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #161d29;
}

.main-header-cart:active::before {
  opacity: 0.5;
}

.main-header-cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;

  width: 17px;
  height: 16px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -29px -5px;
  opacity: 0.3;
}

.main-header .order-btn {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  
  text-align: center;
  
  background-color: #63a63e;
  border: none;
  outline: none;
}

.main-header .order-btn:hover {
  background-color: #5fbb2d;
}

.main-header .order-btn:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #518534;
}

.main-header-bottom {
  padding-bottom: 60px;
  
  background-color: #f1f5f7;
}

.main-header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 46px;
  padding-bottom: 39px;
}

.middle-catalog {
  padding-bottom: 38px;
}

.main-header-middle a {
  text-decoration: none;
  color: black;
}

.main-header-about {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 198px;
  padding: 0 53px;
  padding-top: 3px;
  margin-right: 15px;
  
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.main-header-contacts {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 270px;
  margin-right: 70px;
}

a.main-header-phone {
  position: relative;
  
  display: block;
  margin-bottom: 4px;
  padding-left: 71px;
  padding-top: 10px;
  padding-bottom: 11px;
  
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  
  border: 3px solid white;
  
  cursor: pointer;
}

a.main-header-phone:hover {
  color: #ca2c37;
}

a.main-header-phone:active {
  color: #ba2732;
}

.main-header-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -167px -114px;
}

.main-header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-block {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 280px;

  font-size: 0;
}

.user-sign-buttons {
  font-size: 0;
}

.sign-in,
.profile-btn,
.sign-out {
  position: relative;
  
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 140px;
  margin-right: 11px;
  padding-left: 46px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 13px;
  
  font-size: 21px;
  line-height: 18px;
  vertical-align: top;
  
  background-color: white;
}

.profile-btn {
  max-width: 253px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 253px;
  min-height: 45px;
  margin-left: -20px;
  margin-right: 0;
  padding-left: 46px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 13px;
}

.sign-out {
  max-width: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 45px;
  min-height: 45px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 0px;
  
  font-size: 0;
}

.sign-in::before,
.profile-btn::before,
.sign-out::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 17px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -165px -88px;
}

.profile-btn::before {
  background-position: -196px -77px;
}

.sign-out::before {
  left: 16px;
  
  width: 21px;
  height: 17px;
  background-position: -208px -110px;
}

.sign-in:hover {
  color: #ee3643;
}

.profile-btn:hover::before {
  background-position: -246px -143px;
}

.sign-in:hover::before {
  background-position: -203px -145px;
}

.sign-out:hover::before {
  background-position: -246px -110px;
}

.sign-in:active::before,
.sign-out:active::before {
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -165px -88px;
}

.sign-in:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-btn:active::before {
  background-position: -196px -77px;
}

.sign-up {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 150px;
  padding: 0 24px;
  padding-top: 14px;
  padding-bottom: 13px;
  
  font-size: 21px;
  line-height: 18px;
  vertical-align: top;
  
  background-color: white;
}

.sign-up:hover {
  color: #ee3643;
}

.sign-up:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-personal-buttons {
  font-size: 0;
}

.user-personal-buttons a {
  display: inline-block;
  margin-right: 30px;
  
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  vertical-align: middle;
  color: #32425c;
}

.user-personal-buttons a:hover {
  color: #ee3643;
}

.user-personal-buttons a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-orders {
  position: relative;
}

.user-orders::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 45%;
  
  width: 0;
  height: 0;
  border: 2px solid #32425c;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.main-header .main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 11px;
  
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
  box-shadow: inset 0 -5px 0 0 #293449;
  border: none;
  
  list-style: none;
}

.main-header .main-navigation a {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 23px;
  
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: white;
  
  border: none;
  outline: none;
}

.main-header .main-navigation a:first-child {
  padding-left: 28px;
  padding-right: 32px;
}

.main-header .main-navigation a[href]:hover,
.main-header .main-navigation .active {
  background-color: #293449;
}

.main-header .main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #1d2739;
}

.promo {
  padding-top: 59px;
  padding-bottom: 53px;
}

.promo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.promo-item {
  position: relative;
  
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 20px;
  width: 300px;
  min-height: 123px;
}

.promo-top .promo-item:first-child::before {
  content: "";
  position: absolute;
  bottom: 27px;
  right: 43px;

  width: 43px;
  height: 65px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -113px -114px;
}

.promo-top .promo-item:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background: url("../img/new-flag.png") no-repeat;
}

.promo-top .promo-item:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: 29px;
  right: 28px;

  width: 74px;
  height: 60px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -114px;
}

.promo-top .promo-item:last-child::before {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 31px;

  width: 78px;
  height: 61px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -195px -5px;
}

.promo-top .promo-item:first-child {
  background-color: #f6b22d;
}

.promo-top .promo-item:nth-child(2) {
  background-color: #4aafde;
}

.promo-top .promo-item:last-child {
  background-color: #cc79d1;
}

.promo-bottom .promo-item:first-child::before {
  content: "";
  position: absolute;
  bottom: 25px;
  right: 45px;

  width: 58px;
  height: 71px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -126px -5px;
}

.promo-bottom .promo-item:first-child {
  background-color: #85d179;
}

.promo-bottom .promo-item:last-child::before {
  content: "";
  position: absolute;
  bottom: 28px;
  right: 31px;

  width: 78px;
  height: 62px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -38px;
}

.promo-bottom .promo-item:last-child {
  margin: 0;
  
  background-color: #f6b22d;
}

.promo-title {
  margin-bottom: 12px;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: white;
}

.promo .btn {
  display: inline-block;
  width: 135px;
  margin-left: 2px;
  padding: 10px 0;
  
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
  
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.promo .btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo .btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promo-items-bottom {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.promo-bottom .promo-item {
  margin-bottom: 20px;
}

.promo-slider {
  position: relative;
  
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}

.promo-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 620px;
  min-height: 266px;
  padding-left: 24px;
  padding-top: 26px;
}

.promo-slide .promo-title-main {
  margin-bottom: 3px;
  
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: white;
  text-transform: uppercase;
}

.promo-slide p {
  margin-bottom: 125px;
  
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: white;
}

.promo-slide:first-child {
  background: black url("../img/index-slide-1.jpg") no-repeat;
}

.promo-slide:nth-child(2) {
  display: none;
  
  background: black url("../img/index-slide-2.jpg") no-repeat;
}

.promo-slide .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 195px;
  
  background-color: #ee3643;
}

.promo-slide .btn:hover {
  background-color: #ca2c37;
}

.promo-slide .btn:active {
  background-color: #ba2732;
}

.promo-prev,
.promo-next {
  position: absolute;
  top: 50%;
  
  width: 29px;
  height: 29px;
  margin-top: -14px;
  
  background-color: transparent;
  border: none;
  border-right: 3px solid white;
  border-top: 3px solid white;
  outline: none;
  
  cursor: pointer;
}

.promo-prev {
  left: 32px;
  
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.promo-next {
  right: 32px;

  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-indicator-left,
.slider-indicator-right {
  position: absolute;
  left: 50%;
  top: 220px;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin-left: -15px;
  
  border: 2px solid white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.slider-indicator-left {
  background-color: #ee3643;
}

.slider-indicator-right {
  margin-left: 5px;
  
  background-color: white;
}

.popular {
  margin-bottom: 21px;
}

.popular-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 89px;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-top: 30px;
  padding-right: 24px;
  
  background-color: #f7f3ec;
}
  
.popular-brands .popular-header {
  padding-left: 24px;
}

.popular-header .btn {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 253px;
  height: 38px;
  margin-top: -5px;
  padding: 12px 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  
  background-color: #ee3643;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.popular-header .btn:hover {
  background-color: #ca2c37;
}

.popular-header .btn:active {
  background-color: #ba2732;
}

.products-title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 540px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.card {
  position: relative;
  
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: black;
  
  border: 1px solid #e5e5e5;
}

.popular-products-item img,
.catalog-item-image {
  margin-bottom: 9px;
}

.card .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 218px;
  height: 166px;
  padding: 43px 0;
  
  background-color: white;
}

.card .actions .buy,
.card .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  font-weight: normal;
  font-size: 14px;  
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
 -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.card .actions .bookmark {
  color: #32425c;
  
  background: white;
  border-bottom-color: #63a63e;
}

.card .actions {
  display: none;
}

.card:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.card .buy {
  position: relative;
}

.card:hover .actions {
  display: block;
}

.card .buy::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  
  width: 17px;
  height: 17px;
  
  background: transparent url("../img/spritesheet.png") no-repeat -30px -5px;
  opacity: 0.3;
}

.card .bookmark:hover {
  border: 3px solid #32425c;
  border-bottom-color: #32425c;
}

.card .bookmark:active {
  border: 3px solid #32425c;
  border-bottom-color: #32425c;
  opacity: 0.3;
}

.card .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.card .buy:active {
  background-color: #367315;
  border: 3px solid #367315;
  border-bottom-color: #367315;
}

.card p,
.card .product-title {
  width: 190px;
  min-height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card .product-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: black;
}

.old-price {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 20px;
  margin-bottom: 17px;
  
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.current-price {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 140px;
  margin-left: 5px;
  padding: 8px 38px;
  
  font-size: 17px;
  line-height: 18px;
  color: white;
  
  background-color: #ee3643;
  background-image: linear-gradient(-135deg, white 14px, transparent 14px, transparent),
                    linear-gradient(-45deg, white 14px, transparent 14px, transparent);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.brand-btn {
  position: relative;
  
  min-height: 145px;
  max-height: 145px;
}

.brand-btn:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.5;
}

.brand-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.brand-btn:first-child {
  margin-bottom: 20px;
}

.popular-brands {
  margin-bottom: 0;
  padding-bottom: 85px;  
}

.popular-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.service {
  background-color: #f2f6f8;
}

.service .container {
  padding-top: 68px;
  padding-bottom: 102px;
}

.service .section-title {
  padding-bottom: 29px;
}

.service-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 68px;
}

.service-slider-btn {
  display: block;
  width: 240px;
  min-height: 61px;
  padding-left: 22px;
  padding-bottom: 4px;
  
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: white;
  
  background-color: #32425c;
  border: none;
  outline: none;
  -webkit-box-shadow: inset 0 -1px 0 0 #293449,
                      inset 0 1px 0 0 #405069;
  box-shadow: inset 0 -1px 0 0 #293449,
              inset 0 1px 0 0 #405069;

  cursor: pointer;
}

.service-slider-btn:hover {
  background-color: #293449;
}

.service-slider-btn:active {
  color: #405069;
  
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.service-slider-btn.active {
  color: #32425c;
  
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  cursor: auto;
}

.service-slider-nav {
  position: relative;

  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 80px;
}

.service-slider-nav::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 230px;

  width: 10px;
  height: 279px;

  background: url("../img/service-shadow.png") no-repeat center center;
  opacity: 0.25;
}

.service-slide {
  position: relative;
  z-index: 100;
  
  width: 380px;
}

.service-slide p {
  position: relative;
  z-index: 100;
}

.service-slides {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.service-title {
  width: 160px;
  margin-bottom: 31px;
  padding-top: 5px;
  
  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.service-slide:first-child::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 151px;
  z-index: 0;

  width: 467px;
  height: 261px;

  background: url("../img/delivery-img.png") no-repeat center center;
}

.service-slide:nth-child(2) {
  display: none;
}

.service-slide:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 251px;

  width: 389px;
  height: 283px;

  background: url("../img/guarantee-img.png") no-repeat center center;
}

.service-slide:nth-child(3) {
  display: none;
}

.service-slide:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 176px;

  width: 465px;
  height: 284px;

  background: url("../img/credit-img.png") no-repeat center center;
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 86px;
}

.company-info .section-title {
  margin-bottom: 30px;
}

.company-info p {
  margin-bottom: 24px;
}

.company-about {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 560px;
}

.company-about p:nth-of-type(2) {
  width: 400px;
  margin-bottom: 21px;
}

.company-about .btn:hover {
  background-color: #ca2c37;
}

.company-about .btn:active {
  background-color: #ba2732;
}

ul.transport-companies {
  padding-left: 35px;
  
  list-style: none;
}

.transport-companies {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.transport-companies li {
  position: relative;
  margin-bottom: 18px;
}

.transport-companies li::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -35px;
  
  width: 25px;
  height: 2px;
  border-bottom: 2px solid #ee3643;
}

.transport-companies li:last-child {
  margin-bottom: 44px;
}

.company-info .btn {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin-top: -5px;
  padding: 12px 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  
  background-color: #ee3643;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.company-info .btn:hover {
  background-color: #ca2c37;
}

.company-info .btn:active {
  background-color: #ba2732;
}

.company-contacts {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
}

.company-contacts .btn {
  width: 300px;
}

.company-contacts p {
  width: 182px;
  margin-bottom: 30px;
}

.map-click img {
  margin-bottom: 37px;
}

.main-footer {
  background-color: #32425c;
}

.main-footer .logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  padding: 18px 40px;
  padding-bottom: 16px;
  
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.main-footer .main-navigation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 680px;
}

.main-footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  border: none;
  
  list-style: none;
}

.main-footer nav a {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 30px;
  padding-top: 38px;
  padding-right: 30px;
  padding-bottom: 2px;
  
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: white;
  
  border: none;
  outline: none;
}

.main-footer nav li:last-child a {
  padding-right: 0;
}

.main-footer nav a:hover {
  text-decoration: underline;
}

.main-footer nav a:active {
  text-decoration: none;
  
  opacity: 0.5;
}

.main-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.main-footer p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: white;
}

.main-footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 48px;
}

.main-footer-contacts {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 350px;
}

.second-navigation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 590px;
}

nav.second-navigation a {
  padding-left: 30px;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 10px;
  
  color: rgba(255, 209, 128, 1);
}

.second-navigation ul li:first-child a {
  padding-left: 0;
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: white;
  
  background-color: #293449;
}

.main-footer-bottom a {
  text-decoration: none;
  color: white;
}

.main-footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 38px;
  padding-bottom: 35px;
}

.main-footer-bottom p {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 320px;
  margin-right: 60px;
  
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 200px;
  margin-right: 60px;
  padding-left: 8px;
}

.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 1px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  vertical-align: middle;

  background: #212a3a url("../img/sprite-social.png") no-repeat center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social-btn-vk {
  background-position: -90px -92px;
}

.social-btn-fb {
  background-position: -15px -20px;
}

.social-btn-inst {
  background-position: -88px -20px;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.footer-mail {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 150px;
  margin-right: 10px;
}

.footer-mail a {
  color: #ffd180;
}

.footer-copyright {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 110px;
  padding-left: 28px;
}

.footer-copyright a {
  display: block;
  
  color: #ffd180;
}

.footer-mail a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-mail a:active,
.footer-copyright a:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-content {
  position: absolute;
  top: 2500px;
  left: 50%;
  z-index: 100;
  
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 620px;
  min-height: 430px;
  
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  
  background-color: white;
  -webkit-box-shadow: inset 0 7px 0 0 #ee3643;
  box-shadow: inset 0 7px 0 0 #ee3643,
              0 20px 20px 5px rgba(0, 0, 0, 0.5);
  
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-content-top {
  padding: 0 80px;
  padding-top: 52px;
}

.write-us-form input,
.write-us-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 4px 0;
  padding-left: 13px;
  
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  
  border: 2px solid #d7dcde;
  outline: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border-color: #32425c;
  outline-color: #32425c;
}

.write-us-form textarea {
  width: 100%;
  min-height: 114px;
  margin-bottom: 37px;
  
  resize: none;
}

.modal-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.modal-flex-container label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.modal-flex-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
}

.modal-content-close {
  position: absolute;
  top: 11px;
  right: 6px;

  width: 30px;
  height: 30px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: none;
  
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 3px;

  width: 25px;
  height: 5px;
  background-color: #ee3643;
  border-radius: 2px;
 -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-content-close:hover::before {
  background-color: #ca2c37;
}

.modal-content-close:hover::after {
  background-color: #ca2c37;
}

.modal-content-close:active::before {
  background-color: #ba2732;
}

.modal-content-close:active::after {
  background-color: #ba2732;
}

.modal-content-footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 110px;
  padding: 34px 80px;
  
  text-align: center;
  
  background-color: #f1f1f1;
}

.modal-content-footer .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: white;

  background-color: #ee3643;
  border: none;
  outline: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.modal-content-footer .btn:hover {
  background-color: #ca2c37;
}

.modal-content-footer .btn:active {
  padding: 0 0;
  background-color: #ba2732;
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  
  display: none;

  width: 960px;
  min-height: 445px;

  background: #e9e5dc url("../img/map-popup.png") no-repeat center;
  -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*catalog.html*/
.not-empty {
  background-color: #ee3643;
}

.products {
  padding-top: 17px;
  padding-bottom: 60px;
}

.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs a {
  position: relative;
  margin-right: 37px;
  
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  color: black;
}

.breadcrumbs a:nth-child(n+2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  
  width: 8px;
  height: 8px;
  margin-top: -6px;
  
  background-color: transparent;
  border-right: 1px solid #cdd1d8;
  border-top: 1px solid #cdd1d8;
  
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs a:first-child {
  display: inline-block;
  width: 16px;
  height: 16px;
  
  font-size: 0;
  vertical-align: middle;
  
  background: white url("../img/spritesheet.png") no-repeat -112px -87px;
}

.products-title-main {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 28px;
  padding-bottom: 30px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #32425c;
  
  background-color: #f2f6f8;
}

.products-catalog-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.filters-form fieldset {
  padding: 0;
  
  border: none;
}

.filters-form .products-catalog-title {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  margin-bottom: 10px;
  padding: 10px 18px;
  
  vertical-align: middle;
  
  background-color: #f7f3ec;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

fieldset.price-filter {
  font-size: 0;
  margin-bottom: 15px;
  padding-bottom: 7px;
  
  border-bottom: 1px solid #e5e5e5;
}

.price-filter .form-title {
  margin-bottom: 16px;
}

.filters-form ul {
  padding-left: 0;
  
  font-size: 15px;
  line-height: 20px;
  
  list-style: none;
}

.filter-range {
  position: relative;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 80px;
  margin-bottom: 8px;
  padding: 38px 0;
  
  text-align: center;
  
  background-color: #f7f3ec;
}

.filter-range .scale {
  height: 2px;
  margin: 0 20px;
  
  background: #d7dcde;
}

.filter-range .bar {
  width: 88%;
  height: 2px;
  
  background: #00ca74;
}

.filter-range .toggle {
  position: absolute;
  top: 28px;
  left: 0;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  -moz-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  
  cursor: pointer;
}

.filter-range .toggle-min {
  left: 20px;
}

.filter-range .toggle-max {
  left: 160px;
}

.price-first,
.price-last {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 95px;
  min-height: 38px;
  
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  vertical-align: middle;
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.price-first {
  margin-right: 10px;
}

.price-dash {
  display: inline-block;
  width: 10px;
  height: 1px;
  margin-right: 10px;
  margin-bottom: 17px;
  
  vertical-align: middle;
  
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  
  font-size: 0;
}

.filters-form {
  width: 220px;
  
  text-transform: uppercase;
}

.form-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.brands-filter ul {
  margin-bottom: 15px;
  padding-bottom: 5px;
  
  border-bottom: 1px solid #e5e5e5;
}

.filters-form .brands-filter .form-title {
  margin-bottom: 15px;
}

.price-filter input {
  margin-bottom: 18px;
  
  background-color: #f7f3ec;
  border: none;
}

.brands-filter input[type="checkbox"],
.power-filter input[type="radio"] {
  display: none;
}

.brands-filter li,
.power-filter li {
  margin-bottom: 17px;
}

.brands-filter input[type="checkbox"] + label {
  margin-top: -18px;
}

.brands-filter input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 9px;
  
  vertical-align: middle;
  
  background: white url("../img/spritesheet.png") no-repeat -56px -5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.brands-filter input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;
  
  background: white url("../img/spritesheet.png") no-repeat -89px -5px;
  border: none;
}

.brands-filter input[type="checkbox"]:hover + label::before {
  background: white url("../img/spritesheet.png") no-repeat -98px -42px;
}

.brands-filter input[type="checkbox"]:checked:hover + label::before {
  background: white url("../img/spritesheet.png") no-repeat -251px -75px;
}

.power-filter .form-title {
  margin-bottom: 13px;
}

.power-filter li {
  padding-left: 2px;
}

.power-filter input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  margin-right: 13px;
  
  vertical-align: middle;

  border: 4px solid white;
  -webkit-box-shadow: 0 0 0 3px #c1c1c1;
          box-shadow: 0 0 0 3px #c1c1c1;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.power-filter input[type="radio"]:hover + label::before {
  border: 4px solid white;
  -webkit-box-shadow: 0 0 0 3px #b5b5b5;
          box-shadow: 0 0 0 3px #b5b5b5;
}

.power-filter input[type="radio"]:checked + label::before {
  background: #c1c1c1;
  border: 4px solid white;
  -webkit-box-shadow: 0 0 0 3px #c1c1c1;
          box-shadow: 0 0 0 3px #c1c1c1;
}

.power-filter input[type="radio"]:checked:hover + label::before {
  background: #b5b5b5;
  border: 4px solid white;
  -webkit-box-shadow: 0 0 0 3px #b5b5b5;
          box-shadow: 0 0 0 3px #b5b5b5;
}

.power-filter input[type="radio"]:disabled + label {
  opacity: 0.4;
}

.power-filter {
  margin-bottom: 62px;
}

.filters-form .btn {
  width: 140px;
  padding: 10px 0;
  
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: none;
}

.filters-form .btn:hover {
  border-color: #bdc6ca;
}

.filters-form .btn:active {
  border-color: #ee3643;
}

.sorting {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 700px;
  margin-bottom: 20px;
  padding: 8px 18px;
  padding-top: 10px;
  padding-bottom: 6px;
  
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  
  background-color: #f7f3ec;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  
  cursor: pointer;
}

.sorting .products-catalog-title {
  margin-right: 137px;
}

.sorting a {
  border-bottom: 1px dotted #ee3643;
}

.sorting-options.active {
  color: #ee3643;
  
  border: none;
}

.sorting a:hover {
  color: black;
  
  border-bottom: 1px solid #ee3643;
}

a.sorting-options:active {
  color: #ee3643;
  
  border: none;
}

a.sorting-options:first-of-type {
  margin-right: 68px;
}

a.sorting-options:nth-of-type(2) {
  margin-right: 63px;
}

a.sorting-options:nth-of-type(3) {
  margin-right: 43px;
}

.sorting-btn-asc {
  margin-right: 30px;
}

.sorting-btn-asc,
.sorting-btn-desc {
  position: relative;
  
  font-size: 0;
}

.sorting-btn-asc::after,
.sorting-btn-desc::after {
  content: "";
  position: absolute;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 0;
  height: 0;
  
  border-top: 5px solid #f7f3ec;
  border-left: 5px solid #f7f3ec;
  border-right: 5px solid #f7f3ec;
  border-bottom: 8px solid #c6c2bd;
}

.sorting-btn-desc::after {
  top: -10px;
  
  border-top: 8px solid #c6c2bd;
  border-left: 5px solid #f7f3ec;
  border-right: 5px solid #f7f3ec;
  border-bottom: 5px solid #f7f3ec;
}
  
.sorting-btn-desc.active::after {
  border-top-color: #ee3643;
}
  
.sorting-btn-asc.active::after {
  border-bottom-color: #ee3643;
}
  
.sorting-btn-desc:hover::after {
  border-top-color: black;
}
  
.sorting-btn-asc:hover::after {
  border-bottom-color: black;
}

.sorting-btn-desc:active::after {
  border-top-color: #ee3643;
}
  
.sorting-btn-asc:active::after {
  border-bottom-color: #ee3643;
}

.catalog {
  width: 700px;
}

.products-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}

.paginator {
  font-size: 0;
}

.paginator .btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  
  font-size: 13px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: black;
  
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.paginator .btn[href]:hover {
  border-color: #bdc6ca;
}

.paginator .btn[href]:active {
  border-color: #ee3643;
}

.paginator .btn.active {
  color: white;
  
  background-color: #ee3643;
}

.paginator .btn:last-child {
  width: 140px;
}

.catalog-item.flag-new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 59px;

  background: url("../img/new-flag.png") no-repeat;
}

.product-about {
  background-color: #f2f6f8;
}

.product-about .container {
  padding-top: 64px;
  padding-bottom: 70px;
}

.product-about .section-title {
  margin-bottom: 30px;
}

.modal-cart {
  position: absolute;
  top: 411px;
  left: 50%;
  z-index: 100;
  
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 620px;
  height: 282px;
  max-height: 282px;
  
  font-size: 30px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  
  background-color: white;
  -webkit-box-shadow: inset 0 7px 0 0 #ee3643;
  box-shadow: inset 0 7px 0 0 #ee3643,
              0 20px 20px 5px rgba(0, 0, 0, 0.5);
  
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-cart-top {
  position: relative;
  
  padding: 78px 80px;
  padding-left: 136px;
  
  text-align: center;
}

.modal-cart-top::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  
  width: 64px;
  height: 64px;
  
  background-color: #63a63e;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.modal-cart-top::after {
  content: "";
  position: absolute;
  top: 74px;
  left: 98px;

  width: 28px;
  height: 14px;
  
  background-color: transparent;
  border-left: 7px solid white;
  border-bottom: 7px solid white;
  border-radius: 1px;
  
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-cart-footer input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
}

.modal-cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 110px;
  padding: 34px 80px;
  
  text-align: center;
  
  background-color: #f1f1f1;
}

.modal-cart-footer .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

  background-color: white;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: none;
}

.modal-cart-footer .btn.active {
  color: white;
  
  background-color: #ee3643;
}

.modal-cart-footer .btn:hover {
  background-color: #e5e5e5;
}

.modal-cart-footer .btn.active:hover {
  background-color: #ca2c37;
}

.modal-cart-footer .btn:active,
.modal-cart-footer .btn.active:active {
  padding: 0 0;
  
  color: white;
  
  background-color: #ba2732;
}

.modal-cart-footer .btn:active {
  background-color: #bdc6ca;
}