.footer
  position: relative
  background-color: #02353b
  &__top
    display: flex
    padding-top: 32px
    padding-bottom: 22px
  &__col
    flex-shrink: 0
    padding-right: 20px
    &:first-of-type
      width: 29.53784326858674%
    &:nth-of-type(2)
      width: 29.13596784996651%
    &:nth-of-type(3)
      flex-grow: 1
    &:last-of-type
      padding-right: 0
  &__title
    margin-top: 0
    margin-bottom: 28px
    font-family: $font
    font-size: 18px
    font-weight: 700
    color: #2fcde0
  &__item
    margin-bottom: 18px
    font-size: 14px
    color: #ffffff
    &:last-of-type
      margin-bottom: 0
  &__link
    display: block
    text-decoration: none
    outline: none
    font-size: 16px
    color: #ffffff
    transition: 0.3s
    &:hover
      color: $accent2
  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
      & > a
        display: block
        text-decoration: none
        outline: none
        font-size: 14px
        color: #ffffff
        transition: 0.3s
        &:hover
          color: $accent2

  &__menu
    padding-top: 4px
    .menu
      & > li
        margin-bottom: 24px
        &:last-of-type
          margin-bottom: 0
        & > a
          font-size: 16px
          font-weight: 700
          color: #f8fcf6

  &__bottom
    border-top: 1px solid rgba(138,198,75,0.2)
    &-df
      height: 62px
      display: flex
      align-items: center
    .text
      font-size: 14px
      line-height: 16px
      color: #ffffff
    a.text
      text-decoration: none
      outline: none
      transition: 0.3s
      &:hover
        color: $accent2
  &__politics
    margin-right: 70px
  &__copyright
    margin-right: 99px
  .made
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #fff
      transition: 0.3s
    &:hover
      .icon
        fill: $accent2


  // @media screen and (max-width: 1023px)

  // max-width 1023px

  // @media screen and (max-width: 991px)

  // max-width 991px

  @media screen and (max-width: 767px)
    &__bottom
      &-df
        justify-content: space-between
      .footer__politics
        margin-right: 30px
      .footer__copyright
        margin-right: 30px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__bottom
      &-df
        flex-direction: column
        align-items: center
        justify-content: flex-start
        text-align: center
        height: auto
        padding: 10px 0
      .footer__politics
        margin-right: 0
        margin-bottom: 15px
      .footer__copyright
        margin-right: 0
        margin-bottom: 15px

  // max-width 650px

  @media screen and (max-width: 575px)
    &__bottom
      height: auto

  // max-width 575px

/* footer */
