.form
  position: relative
  z-index: 30
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  padding: 69px 40px 60px
  &__decor1
    position: absolute
    top: -10px
    left: -29px
    width: calc(100% + 60px)
    height: calc(100% + 40px)
    z-index: -1
    svg
      width: 100%
      height: 100%
  &__decor2
    position: absolute
    top: 17px
    left: 13px
    width: calc(100% - 28px)
    height: calc(100% - 48px)
    z-index: -1
    svg
      width: 100%
      height: 100%

  &__title
    margin-bottom: 11px
    padding-left: 9px
    font-family: $font2
    font-size: 24px
    color: #094b53
    text-align: center
  &__desc
    margin-bottom: 20px
    font-weight: 500
    color: #094b53
    text-align: center

  input,textarea
    font-family: $form-font

  .text-input
    display: block
    width: 100%

    input,textarea
      background: none
      border: none
      outline: none
      transition: 0.3s
      resize: none

      width: 322px
      padding-top: 15px
      padding-bottom: 15px
      border-bottom: 1px solid rgba(9,75,83,0.2)
      font-size: 16px
      font-weight: 500
      color: #094b53

      @include placeholder(#094b53, 16px)

      &:focus
        @include placeholder(#fff, 18px)
      &:hover
        border-color: rgba(9,75,83,0.4)

    textarea
      height: 50px

  &__item
    margin-bottom: 35px
    text-align: center
    &--submit
      position: relative
      z-index: 1
      margin-top: 53px
      .xbtn
        width: 268px
    &:last-of-type
      margin-bottom: 0

  .accept
    display: block
    margin-top: 45px
    label
      display: block
      width: 100%
      cursor: pointer
      transition: 0.3s
      text-align: center

      font-size: 13px
      line-height: 1.2
      font-weight: 400
      color: #094b53

      & > span
        position: relative
        display: inline-block
        padding-left: 24px
      .accept__icon
        position: absolute
        top: 0
        left: 0

        display: block
        width: 17px
        height: 17px
        border: 1px solid #094b53
        border-radius: 50%
        &::before
          content: ''
          position: absolute
          top: calc(50% - 3px)
          left: calc(50% - 5px)

          display: block
          width: 9px
          height: 6px
          background: transparent url('../img/svg/tick.svg') no-repeat center center
          background-size: contain
          transition: 0.3s
          opacity: 0

      &:hover
        color: $accent2

    input
      display: none

    input:checked + span
      .accept__icon
        &::before
          opacity: 1


  // @media screen and (max-width: 1070px)

  //   max-width 1070px

  // @media screen and (max-width: 991px)

  //   max-width 991px

  @media screen and (max-width: 575px)
    padding: 50px 50px 80px
    &__title
      width: calc(100% + 40px)
      margin-left: -20px
      margin-bottom: 10px
      padding-left: 0
      font-size: 20px
    &__desc
      width: calc(100% + 40px)
      margin-left: -20px
      font-size: 13px
    .text-input
      input,textarea
        width: 100%
        padding-top: 12px
        padding-bottom: 12px
        @include placeholder(#094b53, 13px)

        &:focus
          @include placeholder(#fff, 13px)
    .accept
      width: calc(100% + 40px)
      margin-left: -20px
      label
        font-size: 10.6px
        .accept__icon
          width: 15px
          height: 15px
          &::before
            top: calc(50% - 2px)
            left: calc(50% - 3px)
            width: 7px
            height: 4px
    &__item
      &--submit
        margin-top: 43px

  //   max-width 575px

  @media screen and (max-width: 400px)
    padding: 50px 40px 60px
    &__title
      margin-bottom: 5px
      font-size: 17px
    &__item
      &--submit
        margin-top: 33px

  //   max-width 400px

 /* form */
