.pager
  position: relative
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  padding-top: 21px
  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    width: 100%
    & > li
      position: relative
      line-height: 1.2
      transition: 0.3s
      &:first-of-type
        margin-right: auto
      &:last-of-type
        margin-left: auto
      .page-numbers:not(.prev):not(.next)
        position: relative
        display: block
        text-decoration: none
        outline: none
        padding-left: 26px
        padding-right: 26px
        font-size: 16px
        font-weight: 700
        text-transform: uppercase
        color: $accent
        cursor: pointer
        transition: 0.3s
        &:hover
          color: #2ecddf
        &.current
          color: #2ecddf


  @media screen and (max-width: 991px)
    padding-top: 0
    ul
      & > li
        .page-numbers:not(.prev):not(.next)
          padding-left: 16px
          padding-right: 16px

  // max-width 991px

  @media screen and (max-width: 575px)
    ul
      flex-wrap: wrap
      & > li
        .page-numbers:not(.prev):not(.next)
          padding-left: 11px
          padding-right: 11px
          font-size: 14px

  // max-width 575px

 /* paginator */
