.scr2
  position: relative
  background: transparent url('../img/scr2-bg.jpg') no-repeat right bottom
  background-size: cover
  min-height: 1348px
  padding-top: 1px
  z-index: 2
  &::before
    content: ''
    position: absolute
    top: -545px
    left: 50%
    transform: translateX(-50%)
    display: block
    width: 100%
    min-width: 1920px
    height: 1058px
    background: transparent url('../img/clouds-big.png') no-repeat center center
    background-size: cover
    z-index: -1
  .container
    max-width: 1830px
  .page-title
    margin-bottom: 76px
    padding-right: 334px
    text-align: right
  &__wrap
    padding-right: 51px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    width: 765px
    margin-left: auto

  &__item
    width: calc(50% - 35px)
    padding-bottom: 120px
    margin-right: 70px
    &:nth-of-type(2n)
      margin-right: 0
  &__num
    display: block
    margin-bottom: 8px
    font-size: 30px
    line-height: 55px
    font-weight: 900
    color: #094b53
    strong
      font-size: 60px
      opacity: 0
    sup
      top: -0.8em
      font-size: 15px
  &__text
    font-size: 18px
    line-height: 1.555555555555556 /* 28 / 18 */
    color: #333333
  &__feat
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    width: 1140px
    margin: -463px auto 100px
    & > li
      &:nth-of-type(2)
        padding-top: 265px
    &-item
      position: relative
      width: 360px
      height: 360px
      background-color: rgba(9,75,83,0.9)
      border-radius: 50%
      padding-top: 144px
      padding-left: 60px
      padding-right: 38px
      h3
        margin-top: 0
        margin-bottom: 12px
        font-family: $font
        font-size: 18px
        line-height: 1.333333333333333 /* 24 / 18 */
        font-weight: 500
        color: #ffffff
      &:hover
        .scr2__feat-num
          top: -80px
    &-text
      font-size: 14px
      line-height: 1.571428571428571 /* 22 / 14 */
      color: #ffffff
    &-num
      position: absolute
      top: -66px
      left: 56px
      display: block
      font-size: 200px
      line-height: 1
      font-weight: 700
      color: #ffffff
      transition: 0.3s


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* scr2 */
