.post
  position: relative
  padding-bottom: 70px
  .container
    max-width: 1347px
  .breadcrumbs
    margin-top: -40px
  &__wrap
    margin-top: 22px
    padding: 26px 24px 33px 38px
  &__title
    margin-top: 0
    margin-bottom: 46px
    padding-top: 11px
    font-family: $font
    font-size: 36px
    line-height: 1.333333333333333 /* 48 / 36 */
    font-weight: 500
    color: $accent


  @media screen and (max-width: 1650px)
    .breadcrumbs
      margin-top: 10px

  // max-width 1650px

  @media screen and (max-width: 1170px)
    &__title
      margin-bottom: 27px
      font-size: 29px
      br
        display: none

  // max-width 1170px

  @media screen and (max-width: 767px)
    padding-bottom: 40px
    &__wrap
      padding: 26px 24px 13px 24px
    &__title
      margin-bottom: 17px
      font-size: 21px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__title
      font-size: 18px

  // max-width 500px

/* post */
