.contacts
  position: relative
  background: transparent url('../img/contacts-bg.jpg') no-repeat top center
  background-size: cover
  .page-title
    margin-bottom: 78px
  &__df
    position: relative
    display: flex
    padding-top: 22px
    padding-bottom: 118px
    z-index: 1
  &__info
    flex-grow: 1
    text-align: center
    margin-bottom: 20px
    padding: 60px 30px 30px
  &__form
    position: relative
    flex-shrink: 0
    max-width: 454px
    margin-left: 112px
  &__item
    margin-bottom: 70px
    &:last-of-type
      margin-bottom: 0
  &__title,
  &__text
    font-size: 18px
    line-height: 1.444444444444444 /* 26 / 18 */
  &__title
    margin-top: 0
    font-family: $font
    font-weight: 700
    color: #094b53
  .about__leaf
    top: auto
    left: -278px
    bottom: -80px


  @media screen and (max-width: 1400px)
    &__df
      padding-bottom: 88px
    &__info
      padding: 50px 30px 30px
    &__form
      margin-left: 42px
    &__item
      margin-bottom: 55px

  // max-width 1400px

  @media screen and (max-width: 1070px)
    .page-title
      margin-bottom: 40px
    &__item
      margin-bottom: 40px
    &__title,
    &__text
      font-size: 16px

  // max-width 1070px

  @media screen and (max-width: 850px)
    &__df
      flex-direction: column
      align-items: center
      padding-bottom: 50px
    &__info
      width: 100%
      margin-bottom: 40px
      padding-top: 30px
    &__form
      margin-left: 0
    .about__leaf
      display: none

  // max-width 850px

  @media screen and (max-width: 767px)
    .page-title
      margin-bottom: 20px
    &__item
      margin-bottom: 20px
    &__title,
    &__text
      font-size: 14px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__df
      padding-bottom: 40px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__info
      width: calc(100% + 30px)
      margin-left: 0

  // max-width 500px

/* contacts */
