.cases
  position: relative
  padding-top: 60px
  padding-bottom: 127px
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 2064px
    background: transparent url('../img/cases-bg.jpg') no-repeat center bottom
    background-size: cover
    z-index: -1
  .page-title
    margin-bottom: 17px
  &__df
    position: relative
    display: flex
    align-items: flex-start
    .scr2__feat-bird1
      bottom: auto
      top: -120px
      left: 84.11528150134048%
      transform: rotate(-10deg)
  &__wrap
    position: relative
    width: calc(100% - 445px)
    margin-right: 34px
    margin-top: 30px
  &__slider
    overflow: hidden
    padding: 20px 40px
    margin: -20px -40px
    &-btns
      .swiper-button-prev,
      .swiper-button-next
        top: 50%
        transform: translateY(-50%)
      .swiper-button-prev
        left: -7px
      .swiper-button-next
        right: -7px
      .swiper-dots
        bottom: -52px
  &__item
    position: relative
    display: block
    text-decoration: none
    outline: none
    height: 620px
    padding: 11px
    background-color: #ffffff
    box-shadow: 0px 20px 35px 0px rgba(215,212,212,0.4)
    border-radius: 15px
    transition: 0.3s
    &:hover
      box-shadow: 0px 10px 25px 0px rgba(215,212,212,0.7)
  &__img
    height: 100%
    img
      display: block
  &__title
    position: absolute
    left: 0
    bottom: 0
    max-width: 100%
    padding: 20px 24px 24px
    background-color: #ffffff
    border-radius: 8px
    text-align: center
    font-size: 18px
    font-weight: 700
    color: $accent
  .scr2__feat
    flex-shrink: 0
    width: 516px
    margin-right: -108px
    margin-top: 0
    display: block
    & > li
      &:nth-of-type(2)
        margin-top: -76px
        padding-top: 0
        .scr2__feat-item
          margin-left: auto
          margin-right: 0
      &:nth-of-type(3)
        margin-top: -31px
    &-item
      width: 263px
      height: 263px
      padding-left: 10px
      padding-right: 10px
      padding-top: 47px
      text-align: center
      h3
        text-shadow: 0px 7px 8px rgba(9,75,83,0.7)
        font-size: 48px
        line-height: 0.8
        font-weight: 900
        color: #ffffff
        span
          font-size: 30px
  &--page
    padding-top: 0
    padding-bottom: 0
    .section_wr
      padding-top: 144px
      padding-bottom: 9px
    &::before
      content: none
    .container
      max-width: 1170px
      & > .page-title
        text-align: center
  &__feat
    margin: 0
    padding: 0
    list-style: none
    display: flex
    margin-bottom: 34px
    padding-top: 20px
    & > li
      width: 33.3%
      padding: 0 15px
      text-align: center
    &-num
      margin-bottom: 12px
      line-height: 1.2
      font-weight: 900
      color: #215d64
      font-size: 30px
      span
        font-size: 48px
    &-text
      color: #666666
  &__list
    margin: 0
    padding: 0
    list-style: none
    & > li
      padding-bottom: 47px
  &__content
    padding-top: 37px
  &__text
    max-width: 970px
    padding: 37px 10px 0 32px
    b
      color: #094b53
  &--servs
    position: relative
    margin-top: -170px
    padding-top: 0
    overflow: hidden
    z-index: 10
    &::before
      top: auto
      left: auto
      right: 0
      bottom: -650px
      display: block
      width: 917px
      height: 1595px
      background: transparent url('../img/about-bg.png') no-repeat right center
      background-size: contain
    .cases__wrap
      width: 100%
      margin-right: 0
    .container
      max-width: 1170px
    .page-title
      text-align: center


  @media screen and (max-width: 1700px)
    &__wrap
      width: calc(100% - 675px)

  // max-width 1700px

  @media screen and (max-width: 1400px)
    z-index: 2
    &__wrap
      width: calc(100% - 565px)
    &__item
      height: 490px
    .scr2__feat
      width: 466px
      &-item
        width: 223px
        height: 223px
        h3
          font-size: 38px
          span
            font-size: 20px
      &-text
        font-size: 13px
    &--servs
      z-index: 10

  // max-width 1400px

  @media screen and (max-width: 1300px)
    &--page
      .section_wr
        padding-top: 104px
    &__feat
      margin-bottom: 24px
      &-num
        font-size: 20px
        span
          font-size: 40px
      &-text
        font-size: 14px
    &--servs
      margin-top: -80px

  // max-width 1300px

  @media screen and (max-width: 1070px)
    &::before
      bottom: -540px
      height: 864px
    &__wrap
      width: 100%
    &__item
      height: 490px
    .scr2__feat
      display: none

  // max-width 1400px

  @media screen and (max-width: 991px)
    &--page
      .cases__item
        height: 410px
    &__text
      padding: 27px 10px 0

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-top: 0
    padding-bottom: 97px
    &__item
      height: 432px
      padding: 7px
    .scr2__feat-bird1
      display: none
    &__slider-btns
      .swiper-dots
        bottom: -42px
    &--page
      padding-bottom: 0
      .cases__item
        height: 350px
    &__text
      padding: 20px 10px 0
      font-size: 14px
    &__feat
      margin-bottom: 20px
      &-num
        font-size: 18px
        span
          font-size: 32px
      &-text
        font-size: 13px

  // max-width 767px

  @media screen and (max-width: 575px)
    &::before
      content: none
    &__wrap
      margin-top: 10px
    &__title
      font-size: 12px
      padding: 13px 15px 16px 18px
    &__feat
      margin-bottom: 15px
      padding-top: 10px
      & > li
        padding: 0 3px
      &-num
        font-size: 15px
        span
          font-size: 28px
      &-text
        font-size: 12px
        br
          display: none
    &--page
      .cases__item
        height: 270px
    &__list
      & > li
        padding-bottom: 30px
    &--servs
      margin-top: -50px
      padding-bottom: 77px
      .cases__slider-btns
        .swiper-dots
          bottom: -22px

  // max-width 575px

  @media screen and (max-width: 400px)
    &__item
      height: 402px

  // max-width 400px

/* cases */
