.prod
  position: relative
  padding-bottom: 165px
  z-index: 5
  .page-title
    margin-bottom: 42px
    text-align: center
  &__cont
    position: relative
    padding-top: 39px
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: -115px
      left: -273px
      width: 990px
      height: 1096px
      background: transparent url('../img/svg/prod-plan.svg') no-repeat center center
      background-size: contain
      transform: rotate(73deg)
      opacity: 0.2
      z-index: -1
  &__wrap
    position: relative
    padding-left: 16px
    padding-right: 16px
  &__slider
    overflow: hidden
    margin: -10px -20px -30px
    padding: 10px 20px 30px
    .swiper-slide
      height: auto
  &__item
    display: flex
    flex-direction: column
    padding: 10px 12px 12px
    background-color: #ffffff
    box-shadow: 0px 20px 35px 0px rgba(215,212,212,0.4)
    border-radius: 15px
    height: 100%
  &__top
    position: relative
  &__btns
    position: absolute
    top: 12px
    right: 16px
    z-index: 2
    .xbtn--circle
      .icon
        width: 24px
        height: 22px
        fill: #2dcadd
      &:hover
        .icon
          fill: #ffffff
  &__img
    position: relative
    display: block
    text-decoration: none
    outline: none
    height: 248px
    border-top-left-radius: 13px
    border-top-right-radius: 13px
    overflow: hidden
    img
      display: block
  &__main
    flex-grow: 1
    display: flex
    flex-direction: column
    border: 1px solid #eaf3fa
  &__content
    flex-grow: 1
    padding: 18px 13px 18px
    border-top: none
    border-bottom-left-radius: 13px
    border-bottom-right-radius: 13px
    a
      display: block
      text-decoration: none
      outline: none
      &:hover
        h3
          color: $accent2
    h3
      font-family: $font
      margin-top: 0
      margin-bottom: 24px
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
      font-weight: 500
      color: $accent
      text-align: center
      transition: 0.3s
    table
      width: 100%
      border-collapse: collapse
      td
        padding-bottom: 7px
        font-size: 16px
        color: #666666
        &:first-of-type
          font-weight: 500
        &:last-of-type
          text-align: right
  &__price
    margin-top: auto
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 12px
    font-family: $font2
    font-size: 26px
    color: #dbb877
    text-align: center


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* prod */
