.blog
  position: relative
  padding-bottom: 51px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    padding-top: 35px
    & > li
      width: calc((100% - 40px) / 3)
      margin-right: 20px
      padding-bottom: 30px
      &:nth-of-type(3n)
        margin-right: 0
  &__item
    position: relative
    height: 100%
    padding: 13px
    background-color: #ffffff
    box-shadow: 0px 20px 35px 0px rgba(215,212,212,0.4)
    border-radius: 15px
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 13px
      right: 13px
      bottom: 13px
      left: 13px
      display: block
      border: 1px solid #eaf3fa
      border-radius: 13px
      z-index: -1
  &__img
    display: block
    text-decoration: none
    outline: none
    height: 335px
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    overflow: hidden
    img
      display: block
      height: 100%
      transform: scale(1.1)
      transition: 0.3s
    &:hover
      img
        transform: scale(1)
  &__content
    padding: 17px 15px 40px 20px
    time
      display: block
      margin-bottom: 24px
      font-family: $font2
      font-size: 18px
      color: #dbb877
    a
      display: block
      text-decoration: none
      outline: none
      &:hover
        h2
          color: $accent2
    h2
      min-height: 54px
      margin-top: 0
      margin-bottom: 32px
      font-family: $font
      font-size: 24px
      line-height: 1.2
      font-weight: 500
      color: $accent
      transition: 0.3s
  &__text
    color: #666666


  @media screen and (max-width: 1400px)
    &__img
      height: 265px
    &__content
      padding: 17px 15px 30px
      time
        margin-bottom: 16px
        font-size: 16px
      h2
        min-height: 45px
        margin-bottom: 20px
        font-size: 19px
    &__text
      font-size: 14px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__img
      height: 215px
    &__content
      h2
        min-height: 35px
        margin-bottom: 20px
        font-size: 17px

  // max-width 1170px

  @media screen and (max-width: 991px)
    padding-bottom: 31px
    &__img
      height: 195px
    &__content
      h2
        min-height: 31px
        font-size: 16px
        br
          display: none

  // max-width 991px

  @media screen and (max-width: 870px)
    &__list
      padding-top: 25px
      & > li
        width: calc((100% - 20px) / 2)
        margin-right: 20px
        padding-bottom: 20px
        &:nth-of-type(3n)
          margin-right: 20px
        &:nth-of-type(2n)
          margin-right: 0

  // max-width 870px

  @media screen and (max-width: 575px)
    &__list
      & > li
        width: calc((100% - 10px) / 2)
        margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 10px
    &__content
      h2
        min-height: 25px
        font-size: 15px
    &__item
      padding: 7px
      &::before
        top: 7px
        right: 7px
        bottom: 7px
        left: 7px
    &__content
      padding: 15px 10px 20px

  // max-width 575px

  @media screen and (max-width: 530px)
    &__list
      & > li
        width: 100%
        margin-right: 0
        &:nth-of-type(3n)
          margin-right: 0

  // max-width 530px

/* blog */
