.company
  position: relative
  padding-top: 138px
  padding-bottom: 741px
  background: transparent url('../img/company-img.jpg') no-repeat center bottom
  background-size: contain
  .page-title
    text-align: center
  &__df
    display: flex
    align-items: flex-start
  &__info
    flex-grow: 1
    margin-right: 20px
    padding-top: 16px
  &__img
    order: 2
    flex-shrink: 0
    width: 53.6813922356091%
    border: 8px solid #feffff
    box-shadow: 0px 20px 68px -8px rgba(9,75,83,0.2)
    border-radius: 8px
    overflow: hidden
    &-wrap
      border-radius: 8px
      background-color: #86bae4
      overflow: hidden
      img
        display: block
  &__title
    margin-top: 0
    margin-bottom: 30px
    font-size: 36px
    line-height: 1.2
    letter-spacing: 0.025em
    color: #094b53
  &__text
    b
      font-weight: 500
    p
      margin-bottom: 25px
      &:last-of-type
        margin-bottom: 0
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    padding-top: 54px
    padding-bottom: 20px
    & > li
      width: 25%
      padding-bottom: 44px
      padding-right: 15px
      &:last-of-type
        padding-right: 0
  &__item
    display: block
    text-decoration: none
    outline: none
    color: #094b53
    font-size: 16px
    transition: 0.4s ease-in-out
    b
      font-size: 24px
      font-weight: 500
    &:hover
      color: $accent2
  &__feat
    margin: 0
    padding: 0
    list-style: none
    display: flex
    margin-bottom: 52px
    & > li
      width: 27.71084337349398%
      margin-right: 30px
      padding: 25px 20px 24px 61px
      background: #fff url('../img/svg/icons/bookmark.svg') no-repeat  21px 28px
      background-size: 23px 31px
      box-shadow: 0px 20px 35px 0px rgba(215,212,212,0.4)
      border-radius: 15px
      color: #094b53
      transition: 0.4s ease-in-out
      &:hover
        box-shadow: 0px 20px 35px 0px rgba(215,212,212,0.7)
      strong
        font-weight: 700
      &:nth-of-type(2)
        width: 30.52208835341365%
      &:last-of-type
        width: 38.08567603748327%
        margin-right: 0
    ul
      margin: 0
      padding: 0
      & > li
        margin-bottom: 0
        transform: none
  &__add
    display: flex
    align-items: center
  &__left
    flex-shrink: 0
    width: 68.27309236947791%
    padding: 30px 218px 32px 50px
    background-color: #ffffff
    box-shadow: 0px 20px 35px 0px rgba(215,212,212,0.4)
    border-radius: 15px
    p
      margin-bottom: 23px
      &:last-of-type
        margin-bottom: 0
  &__right
    margin-left: -140px
    padding: 43px 78px 43px 60px
    background-color: #094b53
    border-radius: 15px
    color: #ffffff
    a
      text-decoration: none
      outline: none
      font-weight: 700
      color: #fff
      transition: 0.4s ease-in-out
      &:hover
        color: $accent2


  @media screen and (max-width: 1400px)
    &__feat
      & > li
        padding: 25px 20px 24px 41px
        font-size: 14px
        background-position: 11px 28px

  // max-width 1400px

  @media screen and (max-width: 1300px)
    padding-top: 88px
    padding-bottom: 301px

  // max-width 1300px

  @media screen and (max-width: 1170px)
    &__info
      padding-top: 0
    &__img
      width: 33.681392%
      box-shadow: 0px 10px 48px -8px rgba(9,75,83,0.2)
    &__title
      margin-bottom: 20px
      font-size: 30px
    &__text
      font-size: 14px
      p
        margin-bottom: 15px
    &__list
      padding-top: 34px
      & > li
        padding-bottom: 24px
        padding-right: 10px
        & > a
          font-size: 14px
          b
            font-size: 19px
    &__left
      padding: 30px 128px 32px 30px
      font-size: 14px
      p
        margin-bottom: 13px
    &__right
      margin-left: -90px
      padding: 23px
      font-size: 14px

  // max-width 1170px

  @media screen and (max-width: 991px)
    padding-bottom: 211px
    &__df
      display: block
    &__info
      margin-right: 0
    &__img
      float: right
      width: 250px
      max-width: 45%
      margin-bottom: 15px
      margin-left: 15px
      border-width: 4px
    &__feat
      & > li
        width: 24.71084337349398%
        margin-right: 15px
        padding: 15px 10px 15px 31px
        background-position: 7px 18px
        background-size: 18px 15px
        font-size: 13px
        &:nth-of-type(2)
          width: 27.52208835341365%
        &:last-of-type
          width: 42.08567603748327%

  // max-width 991px

  @media screen and (max-width: 767px)
    &__title
      font-size: 25px
    &__text
      font-size: 13px
      p
        margin-bottom: 12px
    &__list
      & > li
        & > a
          font-size: 12px
          b
            font-size: 16px
    &__feat
      display: block
      margin-bottom: 30px
      & > li
        width: 100%
        margin-right: 0
        margin-bottom: 10px
        &:nth-of-type(2)
          width: 100%
        &:last-of-type
          width: 100%
    &__add
      display: block
    &__left
      width: 100%
      padding-right: 30px
    &__right
      margin-left: 0
      margin-top: 30px

  // max-width 767px

  @media screen and (max-width: 700px)
    &__list
      & > li
        width: 33.3%

  // max-width 700px

  @media screen and (max-width: 575px)
    padding-bottom: 111px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__list
      padding-bottom: 10px
      & > li
        width: 50%
        padding-bottom: 14px
        padding-right: 10px
        &:nth-of-type(2n)
          padding-right: 0
    &__feat
      & > li
        font-size: 12px
        strong
          font-size: 12px
    &__left
      padding: 20px 20px 22px
      font-size: 13px
    &__right
      padding: 20px
      font-size: 13px

  // max-width 500px

  @media screen and (max-width: 450px)
    .page-title
      display: none
    &__df
      display: flex
      flex-direction: column
    &__img
      width: 100%
      max-width: 100%
      margin-bottom: 0
      margin-top: 15px
      margin-left: 0
      float: none
    &__list
      & > li
        & > a
          b
            font-size: 14px

  // max-width 450px

/* company */
