.advts
  position: relative
  padding-bottom: 290px
  &__list
    margin: 0
    padding: 0
    list-style: none
    padding-top: 52px
  &__item
    display: flex
    margin-bottom: 140px
    &:nth-of-type(2n)
      .advts__img
        order: -1
        margin-left: -54px
        margin-right: 100px
    &:last-of-type
      margin-bottom: 0
      .advts__content
        padding-right: 64px
  &__content
    flex-grow: 1
  &__text
    margin-bottom: 80px
    font-size: 16px
    line-height: 1.625 /* 26 / 16 */
  &__btns
    .xbtn
      min-width: 268px
  &__img
    flex-shrink: 0
    width: 54.78901540522438%
    height: 500px
    margin-left: 88px
    background-color: #86bae4
    border: 8px solid #feffff
    box-shadow: 0px 20px 68px -8px rgba(9,75,83,0.2)
    border-radius: 8px
    overflow: hidden
    img
      display: block
      transition: 0.3s
    &:hover
      img
        transform: scale(1.1)
        transition: 1.5s


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* advts */
