.scr_card
  position: relative
  padding-top: 15px
  padding-bottom: 96px
  .container
    max-width: 1347px
  .breadcrumbs
    margin-bottom: 24px
  &__df
    position: relative
    display: flex
    justify-content: space-between
    padding: 37px 20px 52px 40px
    z-index: 1
  &__left
    width: 52.66507557677009%
    margin-right: 30px
  &__info
    flex-grow: 1
    max-width: 535px
    &-list
      margin: 0
      padding: 0
      list-style: none
      display: flex
      margin-bottom: 37px
      & > li
        width: 33.3%
        padding-right: 10px
        color: #666666
        &:last-of-type
          padding-right: 0
        b
          display: block
          margin-bottom: 12px
          font-weight: 500

  &__links
    display: flex
    padding-top: 20px
  &__link
    display: block
    text-decoration: none
    outline: none
    margin-right: 62px
    font-size: 16px
    font-weight: 500
    text-decoration: underline
    color: #094b53
    transition: 0.4s ease-in-out
    &:hover
      color: $accent2
    &:last-of-type
      margin-right: 0
  &__title
    margin-top: 0
    margin-bottom: 41px
    font-size: 30px
    font-weight: 500
    color: #094b53
  &__statuses
    display: flex
    margin-bottom: 48px
  &__status
    display: flex
    align-items: center
    justify-content: center
    min-width: 155px
    height: 42px
    margin-right: 17px
    padding: 0 20px
    background-color: #f0f5fb
    border-radius: 3px
    font-size: 14px
    font-weight: 500
    color: #094b53
    transition: 0.4s ease-in-out
    &.active
      background-color: #dbb877
      color: #fff
  &__price
    display: block
    font-family: $font2
    font-size: 26px
    font-weight: 400
    color: #dbb877
    &--dollar
      margin-bottom: 8px
      font-size: 30px
  &__btns
    padding-top: 47px
    display: flex
    align-items: center
    .btn__wrap
      margin-right: 32px
      border-radius: 27.5px
      &::after
        border-radius: 27.5px
      .xbtn
        height: 68px
        min-width: 228px
    .xbtn--circle
      width: 51px
      height: 51px
      box-shadow: 0px 5px 15px 0px rgba(12,147,163,0.2)
      .icon
        fill: #2dcadd


  @media screen and (max-width: 1170px)
    &__title
      margin-bottom: 24px
      font-size: 24px
    &__info
      &-list
        & > li
          font-size: 14px
          b
            margin-bottom: 6px
    &__statuses
      margin-bottom: 28px
    &__status
      min-width: 115px
      height: 38px
      margin-right: 8px
      padding: 0 20px
      font-size: 13px
    &__price
      font-size: 20px
      &--dollar
        margin-bottom: 3px
        font-size: 26px
    &__btns
      padding-top: 27px
      .btn__wrap
        margin-right: 22px
        .xbtn
          height: 58px
          min-width: 188px
    &__links
      padding-top: 10px
    &__link
      margin-right: 42px
      font-size: 14px

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__title
      margin-bottom: 14px
      font-size: 20px
    &__info
      &-list
        margin-bottom: 27px
        & > li
          font-size: 13px
          b
            margin-bottom: 2px
    &__status
      min-width: 95px
      padding: 0 10px
      font-size: 12px

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-bottom: 56px
    &__df
      flex-direction: column
      align-items: center
      padding: 27px 20px 42px
    &__left
      width: 100%
      max-width: 500px
      margin-right: 0
    &__links
      padding-top: 0
    &__info
      width: 100%
      max-width: 100%
      padding-top: 40px

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* scr_card */
