.socials
  position: relative
  &::before,
  &::after
    content: ''
    position: absolute
    left: 50%
    display: block
    width: 1px
    height: 416px
  &::before
    top: -440px
    background-image: linear-gradient(0.0deg, #ffffff 0%, rgba(255,255,255,0.0) 100%)
  &::after
    bottom: -183px
    height: 159px
    background-image: linear-gradient(180.0deg, #ffffff 0%, rgba(255,255,255,0.0) 100%)
  &__link
    margin-bottom: 30px
    &--viber
      .icon
        fill: #7360F2
    &--wa
      .icon
        fill: #33CE62
    &:last-of-type
      margin-bottom: 0

/* socials */
