.footer
  position: relative
  height: 57px
  display: flex
  align-items: center
  background-color: $accent
  .text
    font-size: 13px
    line-height: 16px
    color: #ffffff

  .copyright
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    a
      font-size: 12px
      transition: 0.2s
      &:hover
        opacity: 0.8

  .made
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #fff
      transition: 0.3s

    &:hover
      .icon
        fill: rgba(#fff,.7)

  /* media */

  @media screen and (max-width: 575px)
    &__bottom
      height: 70px
      .copyright .text
        text-align: center
        margin: 0 auto
        margin-bottom: 10px
  // max-width 575px

/* footer */
