mixin footer(logotype)
  footer.footer(id="footer")
    a.to-top(href="#page_wr")
      i.fa.fa-angle-up
    .footer__top
      .container
        .row
          .col-lg-3.col-md-4
            .logo__wrap
              if logotype == "a"
                #{logotype}.logo(href="index.html")
                  img(src="img/svg/logo.svg" alt="лого")
              else
                #{logotype}.logo
                  img(src="img/svg/logo.svg" alt="лого")

            .footer__phones-wrap
              .footer__phones
                  a.phones__link(href="tel:" rel="nofollow") +7 963 472 00 41
                  a.msg.msg--wa(href="https://api.whatsapp.com/send?phone=79634720041")
                    svg.msg__icon
                      use(xlink:href="img/svg/sprite.svg#icon-wa")
                  a.msg.msg--vi(href="viber://chat?number=79634720041")
                    svg.msg__icon
                      use(xlink:href="img/svg/sprite.svg#icon-viber")
              .footer__phones
                a.phones__link(href="tel:" rel="nofollow") +7 963 472 00 42
                  a.msg.msg--vi(href="viber://chat?number=79634720041")
                    svg.msg__icon
                      use(xlink:href="img/svg/sprite.svg#icon-viber")

            .footer__item
              p г. Челябинск,
                br
                |  Свердловский проспект, 84Б,
                br
                |  офис, 414
            .footer__item
              p Время работы:
                br
                |  По будням с 09:00 - 18:00
            .footer__item
              p
                strong ОГРН:
                |  1107746478597
                br
                strong ИНН/КПП:
                |  7736619233
                br
                strong Дата регистрации:
                |  10.06.2010
                br
                strong ОКПО:
                |  66861525

            a.link.link--green(href="#") Политика конфиденциальности

          .col-lg-9.col-md-8
            .menu-df
              ul.footer__menu.footer-menu
                li.footer-menu__item
                  h4 Компания
                  ul.menu
                    li
                      a(href="#")
                        span О компании
                    li
                      a(href="#")
                        span Цены
                    li
                      a(href="#")
                        span Отзывы
                    li
                      a(href="#")
                        span Новости
                    li
                      a(href="#")
                        span Контакты

              ul.footer__menu.footer-menu
                li.footer-menu__item
                  h4 Центр учета
                  ul.menu
                    li
                      a(href="#")
                        span Ведение бухгалтерского учета
                    li
                      a(href="#")
                        span Подготовка и сдача налоговой отчетности
                    li
                      a(href="#")
                        span Ведение управленческого учета для
                          br
                          |  собственников
                    li
                      a(href="#")
                        span Регистрация ИП и ООО , открытие
                          br
                          |  расчетных счетов
                    li
                      a(href="#")
                        span Ведение кадрового учета
                    li
                      a(href="#")
                        span Ведение учета на период банкротства
                          br
                          |  ликвидируем ИП, ООО
                li.footer-menu__item.footer-menu__item--single
                  ul.menu
                    li
                      a(href="#") Центр внедрения программных продуктов
                li.footer-menu__item
                  h4 Создание эффективной финансовой службы
                  ul.menu
                    li
                      a(href="#")
                        span Подбор кадров
                    li
                      a(href="#")
                        span Тестирование работников
                    li
                      a(href="#")
                        span Анализ бизнес-процессов
                    li
                      a(href="#")
                        span Разработка инструкций

              ul.footer__menu.footer-menu
                li.footer-menu__item
                  h4 Центр финансов
                  ul.menu
                    li
                      a(href="#")
                        span Создание финансовой модели
                    li
                      a(href="#")
                        span Планирование и разработка бюджета
                    li
                      a(href="#")
                        span Проведение финансовый анализа
                    li
                      a(href="#")
                        span Снижение расходов
                li.footer-menu__item
                  h4 Центр налогового планирования
                  ul.menu
                    li
                      a(href="#")
                        span Снижение налоговой нагрузки
                    li
                      a(href="#")
                        span Сокращение налоговых рисков
                    li
                      a(href="#")
                        span Консультация и помощь в подборе
                          br
                          |  варианта налогооблажения
                li.footer-menu__item
                  h4 Центр обучения для руководителей
                  ul.menu
                    li
                      a(href="#")
                        span Как «читать» баланс
                    li
                      a(href="#")
                        span Как правильно посчитать прибыль
                    li
                      a(href="#")
                        span Как быстро убедиться в правильности
                          br
                          |  налоговых отчетов

      // /.container
    // /.footer__top

    .footer__bottom.grey-bg
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

