mixin modal__count()
  section.modal.modal__count(id="modal__count")
    .modal-count__content.modal__content
      button.btn.btn--circle.close
      .modal__wrap
        .modal__inner
          .form.wpcf7
            .decor-wrap.decor-wrap--2
              svg.outer
                use(xlink:href="img/svg/sprite.svg#bg-cta-1")
              svg.inner(fill="rgba(15,195,212,.35)" style="fill:rgba(15,195,212,.35);")
                use(xlink:href="img/svg/sprite.svg#bg-cta-2")

              p.form__title Заказать
                br
                |  индивидуальный
                br
                |  просчёт

              form.wpcf7-form
                .form__content
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      label
                        span.label__text Введите Ваше имя
                        input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input
                      label
                        span.label__text Введите телефон
                        input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (978) ___-__-__')

                .form__item
                  .btn__wrap.btn__wrap--grad
                    input.wpcf7-form-control.wpcf7-submit.btn--grad(type='submit', value='заказать просчёт')

                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon



      // /. form
    // /. modal-count__content
  // /. modal__count

mixin modal__tariff()
  section.modal.modal__tariff(id="modal__tariff")
    .modal-tariff__content.modal__content
      button.btn.btn--circle.close
      .modal__wrap
        .modal__inner
          .form.form--tariff
            .decor-wrap.decor-wrap--2
              svg.outer
                use(xlink:href="img/svg/sprite.svg#bg-cta-1")
              svg.inner(fill="rgba(15,195,212,.35)" style="fill:rgba(15,195,212,.35);")
                use(xlink:href="img/svg/sprite.svg#bg-cta-2")
              .modal-tariff__item
                .tariff__top
                  .hr-wrap
                    h3.tariff__title пакет
                      strong  Эконом

                .tariff__content
                  table
                    tr
                      th
                        span Карниз:
                      td 1,6 метра
                    tr
                      th
                        span Ткань:
                      td 2 100 р.
                    tr
                      th
                        span Монтажная лента:
                      td 1 800 р.
                    tr
                      th
                        span Подхваты + косая бейка:
                      td 630 р.
                    tr
                      th
                        span Пошив штор:
                      td 1 700 р.
                    tr
                      th
                        span Карниз + установка:
                      td 1 400 р.

                b.tariff__price итого 6 010 р.

                .btns__wrap
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-another-modal(href="#modal__count") Хочу также

      // /. form
    // /. modal-tariff__content
  // /. modal__tariff

mixin modal__callback()
  section.modal.modal__callback(id="modal__callback")
    .modal-callback__content.modal__content
      button.btn.btn--circle.close
      .modal__wrap
        .modal__inner
          .form.form--callback
            .decor-wrap.decor-wrap--2
              svg.outer
                use(xlink:href="img/svg/sprite.svg#bg-cta-1")
              svg.inner(fill="rgba(15,195,212,.35)" style="fill:rgba(15,195,212,.35);")
                use(xlink:href="img/svg/sprite.svg#bg-cta-2")

              p.form__title Заказать
                  br
                  |  обратный звонок

              form.wpcf7-form

                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    label
                      span.label__text Введите Ваше имя
                      input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input
                    label
                      span.label__text Введите телефон
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (978) ___-__-__')

                .form__item
                  .btn__wrap.btn__wrap--grad
                    input.wpcf7-form-control.wpcf7-submit.btn--grad(type='submit', value='отправить')

      // /. form
    // /. modal-callback__content
  // /. modal__callback
