mixin paginator()
  ul.paginator
    li
      a.prev(href='#') Назад
        svg.icon
          use(xlink:href="img/svg/sprite.svg#icon-arrow")

    li.current
      span.page-numbers 1
    li
      a.page-numbers(href='#') 2
    li
      a.page-numbers(href='#') 3

    li
      a.next(href='#') Вперед
        svg.icon
          use(xlink:href="img/svg/sprite.svg#icon-arrow")

  // /.paginator
