mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__title
        h1 Решаем задачи Вашего бизнеса
          br
          |  с помощью эффективного
          br
          |  бухгалтерского обслуживания
        p.desc Найдем  ключ к оптимизации налогов
          br
          |  и расходов с гарантией по договору

    section.advantages
      .container
        .row
          .col-sm-6.col-md-4.col-lg-3.advantages__wrap
            .advantages__item
              .advantages__img
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-1")

              .advantages__text
                p Снижаем налоговую
                  br
                  |  нагрузку и сокращаем
                  br
                  |  налоговые риски
          .col-sm-6.col-md-4.col-lg-3.advantages__wrap
            .advantages__item
              .advantages__img
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-2")

              .advantages__text
                p Ведем учет на период
                  br
                  |  банкротства.
                  br
                  |  Ликвидируем ИП, ООО
          .col-sm-6.col-md-4.col-lg-3.advantages__wrap
            .advantages__item
              .advantages__img
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-3")

              .advantages__text
                p Проводим финансовый
                  br
                  |  анализ, планируем
                  br
                  |  и разрабатываем бюджеты,
                  br
                  |  снижаем расходы
          .col-sm-6.col-md-4.col-lg-3.advantages__wrap
            .advantages__item
              .advantages__img
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-4")

              .advantages__text
                p Обучаем собственников
                  br
                  |  и руководителей правильно
                  br
                  |  считать прибыль и читать
                  br
                  |  баланс


  // /.scr1
