mixin scr1()
  section.scr1(id="scr1")
    .bg-img
    .container

      h1 Изготавливаем,
        br
        |  продаем и осуществляем монтаж
        strong
          span.ttu  штор
          |  и
          span.ttu  жалюзи
        |  по цене на 15% ниже рыночных
        br
        |  в Краснодаре

      p.desc Выполняем весь цикл работ: от замеров,
        br
        |  проработки дизайна до отпаривания и навески

      .btns__wrap
        .btn__wrap.btn__wrap--grad
          a.btn(href="#") Получить индивидуальный просчет

  // /.scr1
