mixin scr_cta()
  section.scr_cta.cta(id="scr_cta")
    .container
      .cta__df
        .cta__content
          .bg-img
            noscript
              img.lazy(src="img/img-cta-1.png" alt="" width="433" height="433" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-cta-1.png" alt="" width="433" height="433" data-object-fit-contain)

          p.title.title--type1 Закажите
            strong  бесплатный
            br
            |  выезд дизайнера с образцами

          ul.cta__list
            li.cta__item
              .cta__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cta-1")

              .cta__text
                p.cta__title
                  strong Консультация дизайнера
                  |  по подбору
                  br
                  |  оптимального варианта

            li.cta__item
              .cta__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cta-2")

              .cta__text
                p.cta__title
                  strong Замеры и расчет
                  |  стоимости Вашего
                  br
                  |  заказа

        .cta__form
          .form.wpcf7
            .cta__wrap.decor-wrap.decor-wrap--2
              svg.outer
                use(xlink:href="img/svg/sprite.svg#bg-cta-1")
              svg.inner
                use(xlink:href="img/svg/sprite.svg#bg-cta-2")

              p.form__title Заполните форму

              form.wpcf7-form
                .form__content
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      label
                        span.label__text Введите Ваше имя
                        input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input
                      label
                        span.label__text Введите телефон
                        input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (978) ___-__-__')

                .form__item
                  .btn__wrap.btn__wrap--grad
                    input.wpcf7-form-control.wpcf7-submit.btn--grad(type='submit', value='заказать бесплатный выезд')

                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon

  // /.scr_cta
