mixin scr_tariff()
  section.scr_tariff.tariff.bg-type1(id="scr_tariff")
    .container
      .tariff__wrap.decor-wrap.decor-wrap--1
        svg.outer
          use(xlink:href="img/svg/sprite.svg#bg-tariff-2")
        svg.inner
          use(xlink:href="img/svg/sprite.svg#bg-tariff-3")
        h2.title.title--type2.title--decored2 Выберите
          strong  оптимальный ценовой сегмент
          |  —
          br
          |  мы оформим окна, которые идеально впишутся
          br
          |  в Ваш интерьер

        .tariff__list
          .tariff__outer
            .tariff__item
              .tariff__item-wrap
                .tariff__top
                  .tariff__img(style="background: transparent url('img-temp/tariffs/img-tariff-1.jpg') no-repeat center center; background-size: cover;")

                  .hr-wrap
                    h3.tariff__title пакет
                      strong  Эконом

                .tariff__content
                  p.tariff__text Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление не даёт нам иного выбора

                b.tariff__price от 5 000 р.

                .link__wrap
                  a.link.open-modal(href="#modal__tariff") подробнее

          .tariff__outer
            .tariff__item
              .tariff__item-wrap
                .tariff__top
                  .tariff__img(style="background: transparent url('img-temp/tariffs/img-tariff-2.jpg') no-repeat center center; background-size: cover;")

                  .hr-wrap
                    h3.tariff__title пакет
                      strong  стандарт

                .tariff__content
                  p.tariff__text Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление не даёт нам иного выбора

                b.tariff__price от 7 000 р.

                .link__wrap
                  a.link.open-modal(href="#modal__tariff") подробнее

          .tariff__outer
            .tariff__item
              .tariff__item-wrap
                .tariff__top
                  .tariff__img(style="background: transparent url('img-temp/tariffs/img-tariff-3.jpg') no-repeat center center; background-size: cover;")

                  .hr-wrap
                    h3.tariff__title пакет
                      strong  VIP

                .tariff__content
                  p.tariff__text Не следует, однако,

                b.tariff__price от 15 000 р.

                .link__wrap
                  a.link.open-modal(href="#modal__tariff") подробнее

        .tariff__dots.dots-white

  // /.scr_tariff
