mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h2.title.title--type1
        span.title__big Отзывы
        |  Более
        strong  1000
        |  довольных клиентов

      .reviews__wrap.decor-border
        .slider1.reviews__slider#reviews__slider
          .slider1__slides.reviews__slides
            .slider1__slide.reviews__slide
              .reviews__slide-wrap
                .reviews__item
                  .reviews__img
                    noscript
                      img.lazy(src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")

                  .svg-wrap
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='650px', height='1406px', viewbox='0 0 650 1406')
                      symbol#phone-frame1
                        path(fill='url(#pattern1)', fill-rule='evenodd', d='M133.000,1.000 C133.000,1.000 144.702,-0.189 145.000,10.000 C145.000,10.000 138.656,43.404 180.000,53.000 L330.000,53.000 L467.000,53.000 C467.000,53.000 505.608,52.254 506.000,10.000 C506.000,10.000 505.691,0.743 516.000,1.000 L575.000,1.000 C575.000,1.000 647.012,-2.251 649.000,70.000 L649.000,1325.000 C649.000,1325.000 659.126,1403.811 576.000,1405.000 L80.000,1405.000 C80.000,1405.000 -2.027,1413.015 1.000,1325.000 L1.000,67.000 C1.000,67.000 3.657,2.124 69.000,1.000 L133.000,1.000 Z')

                      use(xlink:href='#phone-frame1')

                      pattern#pattern1(width='100%', height='100%', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                        image(xlink:href='img-temp/img-reviews.jpg', height='1', width='1')

            .slider1__slide.reviews__slide
              .reviews__slide-wrap
                .reviews__item
                  .reviews__img
                    noscript
                      img.lazy(src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")

                  .svg-wrap
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='650px', height='1406px', viewbox='0 0 650 1406')
                      symbol#phone-frame2
                        path(fill='url(#pattern2)', fill-rule='evenodd', d='M133.000,1.000 C133.000,1.000 144.702,-0.189 145.000,10.000 C145.000,10.000 138.656,43.404 180.000,53.000 L330.000,53.000 L467.000,53.000 C467.000,53.000 505.608,52.254 506.000,10.000 C506.000,10.000 505.691,0.743 516.000,1.000 L575.000,1.000 C575.000,1.000 647.012,-2.251 649.000,70.000 L649.000,1325.000 C649.000,1325.000 659.126,1403.811 576.000,1405.000 L80.000,1405.000 C80.000,1405.000 -2.027,1413.015 1.000,1325.000 L1.000,67.000 C1.000,67.000 3.657,2.124 69.000,1.000 L133.000,1.000 Z')

                      use(xlink:href='#phone-frame2')

                      pattern#pattern2(width='100%', height='100%', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                        image(xlink:href='img-temp/img-reviews.jpg', height='1', width='1')

            .slider1__slide.reviews__slide
              .reviews__slide-wrap
                .reviews__item
                  .reviews__img
                    noscript
                      img.lazy(src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")

                  .svg-wrap
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='650px', height='1406px', viewbox='0 0 650 1406')
                      symbol#phone-frame3
                        path(fill='url(#pattern3)', fill-rule='evenodd', d='M133.000,1.000 C133.000,1.000 144.702,-0.189 145.000,10.000 C145.000,10.000 138.656,43.404 180.000,53.000 L330.000,53.000 L467.000,53.000 C467.000,53.000 505.608,52.254 506.000,10.000 C506.000,10.000 505.691,0.743 516.000,1.000 L575.000,1.000 C575.000,1.000 647.012,-2.251 649.000,70.000 L649.000,1325.000 C649.000,1325.000 659.126,1403.811 576.000,1405.000 L80.000,1405.000 C80.000,1405.000 -2.027,1413.015 1.000,1325.000 L1.000,67.000 C1.000,67.000 3.657,2.124 69.000,1.000 L133.000,1.000 Z')

                      use(xlink:href='#phone-frame3')

                      pattern#pattern3(width='100%', height='100%', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                        image(xlink:href='img-temp/img-reviews.jpg', height='1', width='1')


            .slider1__slide.reviews__slide
              .reviews__slide-wrap
                .reviews__item
                  .reviews__img
                    noscript
                      img.lazy(src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-reviews.jpg" alt="" width="473" height="1024")

                  .svg-wrap
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='650px', height='1406px', viewbox='0 0 650 1406')
                      symbol#phone-frame4
                        path(fill='url(#pattern4)', fill-rule='evenodd', d='M133.000,1.000 C133.000,1.000 144.702,-0.189 145.000,10.000 C145.000,10.000 138.656,43.404 180.000,53.000 L330.000,53.000 L467.000,53.000 C467.000,53.000 505.608,52.254 506.000,10.000 C506.000,10.000 505.691,0.743 516.000,1.000 L575.000,1.000 C575.000,1.000 647.012,-2.251 649.000,70.000 L649.000,1325.000 C649.000,1325.000 659.126,1403.811 576.000,1405.000 L80.000,1405.000 C80.000,1405.000 -2.027,1413.015 1.000,1325.000 L1.000,67.000 C1.000,67.000 3.657,2.124 69.000,1.000 L133.000,1.000 Z')

                      use(xlink:href='#phone-frame4')

                      pattern#pattern4(width='100%', height='100%', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                        image(xlink:href='img-temp/img-reviews.jpg', height='1', width='1')

          .slider1__dots.slider1__dots--blue.reviews__dots
  // /.scr_reviews
