mixin scr_reviews()

  section.scr_reviews.reviews(id="scr_reviews")
    .container
      +breadcrumbs--reviews
    .container
      .row
        .col-sm-6
          .reviews__item
            .reviews__wrap
              h3.reviews__author Иванов Александр Анатольевич
              p.reviews__desc Руководитель компании «ПромСтрой»

              p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

              p.reviews__city г. Москва

        .col-sm-6
          .reviews__item
            .reviews__wrap
              h3.reviews__author Смирнов Алексей Петрович
              p.reviews__desc Руководитель компании «Альфа-Транс»

              p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

              p.reviews__city г. Челябинск

        .col-sm-6
          .reviews__item
            .reviews__wrap
              h3.reviews__author Иванов Александр Анатольевич
              p.reviews__desc Руководитель компании «ПромСтрой»

              p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

              p.reviews__city г. Москва

        .col-sm-6
          .reviews__item
            .reviews__wrap
              h3.reviews__author Иванов Александр Анатольевич
              p.reviews__desc Руководитель компании «ПромСтрой»

              p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

              p.reviews__city г. Москва

        .col-sm-6
          .reviews__item
            .reviews__wrap
              h3.reviews__author Смирнов Алексей Петрович
              p.reviews__desc Руководитель компании «Альфа-Транс»

              p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

              p.reviews__city г. Челябинск

        .col-sm-6
          .reviews__item
            .reviews__wrap
              h3.reviews__author Смирнов Алексей Петрович
              p.reviews__desc Руководитель компании «Альфа-Транс»

              p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

              p.reviews__city г. Челябинск

    +paginator
  // /.scr_reviews
