mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .bg-img
    .container
      h2.title.title--type1 Как мы работаем?

      ul.steps__list
        li.steps__item
          .steps__num 01
            span.steps__circle
              span.outer__circle
                svg
                  use(xlink:href="#iconCircle")
          .steps__desc
            p Пригласите дизайнера/
              br
              |  замерщика

        li.steps__item
          .steps__num 02
            span.steps__circle
              span.outer__circle
                svg
                  use(xlink:href="#iconCircle")
          .steps__desc
            p Выберите ткань и модель
              br
              |  Ваших будущих штор,
              br
              |  карнизов

        li.steps__item
          .steps__num 03
            span.steps__circle
              span.outer__circle
                svg
                  use(xlink:href="#iconCircle")
          .steps__desc
            p Согласуйте эскизы

        li.steps__item
          .steps__num 04
            span.steps__circle
              span.outer__circle
                svg
                  use(xlink:href="#iconCircle")

          .steps__desc
            p Наши швеи - специалисты
              br
              |  высокого класса изготовят
              br
              |  точно в срок

        li.steps__item
          .steps__num 05
            span.steps__circle
              span.outer__circle
                svg
                  use(xlink:href="#iconCircle")
          .steps__desc
            p Вы радуетесь красоте
              br
              |  и уюту в Вашем доме!

        li.steps__item
          .steps__num 06
            span.steps__circle
              span.outer__circle
                svg
                  use(xlink:href="#iconCircle")
          .steps__desc
            p Мы произведем
              br
              |  безупречный монтаж
              br
              |  карнизов и штор

  // /.scr_steps
