mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .container
      h2.title.title--type2 Мы в инстаграме

      .insta__slider.slider1#insta__slider
        .insta__slides.slider1__slides
          .insta__slide.slider1__slide.insta__slide--big
            .insta__slide-wrap
              a.insta__img.fancybox(href="img-temp/insta/img-insta-1.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-1--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-1--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide
            .insta__slide-wrap
              a.insta__img.fancybox(href="img-temp/insta/img-insta-2.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-2--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-2--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

              a.insta__img.fancybox(href="img-temp/insta/img-insta-3.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-3--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-3--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide
            .insta__slide-wrap
              a.insta__img.fancybox(href="img-temp/insta/img-insta-4.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-4--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-4--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

              a.insta__img.fancybox(href="img-temp/insta/img-insta-5.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-5--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-5--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide
            .insta__slide-wrap
              a.insta__img.fancybox(href="img-temp/insta/img-insta-6.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-6--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-6--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

              a.insta__img.fancybox(href="img-temp/insta/img-insta-7.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-7--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-7--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide
            .insta__slide-wrap
              a.insta__img.fancybox(href="img-temp/insta/img-insta-8.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-8--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-8--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

              a.insta__img.fancybox(href="img-temp/insta/img-insta-9.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-9--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-9--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide
            .insta__slide-wrap
              a.insta__img.fancybox(href="img-temp/insta/img-insta-6.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-6--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-6--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

              a.insta__img.fancybox(href="img-temp/insta/img-insta-7.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-7--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-7--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide
            .insta__slide-wrap
              a.insta__img.fancybox(href="img-temp/insta/img-insta-8.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-8--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-8--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

              a.insta__img.fancybox(href="img-temp/insta/img-insta-9.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-9--small.jpg" alt="" width="369" height="369" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-9--small.jpg" alt="" width="369" height="369" data-object-fit-cover)

        .insta__dots.slider1__dots.slider1__dots--brown


      p.title.title--type2
        strong Приглашаем
        |  посетить наш салон
      ul.insta__feat
        li.insta__feat-item
          p Лично оцените
            br
            |  качество продукции
        li.insta__feat-item
          p Получите рекомендации
            br
            |  специалистов
        li.insta__feat-item
          p Выберите  из более
            br
            |  500 образцов

    section.contacts.contacts--desktop#contacts1
      .container
        .contacts__content
          .contacts__wrap.decor-wrap.decor-wrap--2
            svg.outer
              use(xlink:href="img/svg/sprite.svg#bg-cta-1")
            svg.inner
              use(xlink:href="img/svg/sprite.svg#bg-cta-2")

            .logo__wrap
              .logo
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#logo")

            .contacts__item.contacts__item--top
              p г. Краснодар, ЖК Панорама
                br
                |  ул. Восточно-Кругликовская, 22, эт, 2

            .contacts__item
              .msg__wrap
                a.msg.msg--vi(href="viber://chat?number=79181247924")
                  svg.msg__icon
                    use(xlink:href="img/svg/sprite.svg#icon-viber")
                a.msg.msg--wa(href="https://api.whatsapp.com/send?phone=79181247924")
                  svg.msg__icon
                    use(xlink:href="img/svg/sprite.svg#icon-wa")

              a.contacts__link(href="tel:+79181247924" rel="nofollow")
                strong +7 918 124-79-24

            .contacts__item
              .msg__wrap
                span.msg
                  img(src="img/icon-envelope.png" alt="")

              a.contacts__link(href="mailto:salonshtor.kira@yandex.ru" rel="nofollow") salonshtor.kira@yandex.ru

            .contacts__item
              .msg__wrap
                .msg.msg--insta
                  img(src="img/svg/orig/icon-insta.svg" alt="")

              a.contacts__link(href="#" rel="nofollow") salonshtor_kira_krd

            .contacts__item
              p Пн-Пт 10:00-19:00; Сб 10:00-15:00
                br
                |  Вс – выходной

  // /.scr_insta

