mixin scr_contacts()
  section.contacts.contacts--mobile#contacts2
    .container
      .contacts__content
        .contacts__wrap.decor-wrap.decor-wrap--2
          svg.outer
            use(xlink:href="img/svg/sprite.svg#bg-cta-1")
          svg.inner(fill="rgba(15,195,212,.35)" style="fill:rgba(15,195,212,.35);")
            use(xlink:href="img/svg/sprite.svg#bg-cta-2")

          .decor__content
            .logo__wrap
              .logo
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#logo")

            .contacts__item.contacts__item--top
              p г. Краснодар, ЖК Панорама
                br
                |  ул. Восточно-Кругликовская, 22, эт, 2

            .contacts__item
              .msg__wrap
                a.msg.msg--vi(href="viber://chat?number=79181247924")
                  svg.msg__icon
                    use(xlink:href="img/svg/sprite.svg#icon-viber")
                a.msg.msg--wa(href="https://api.whatsapp.com/send?phone=79181247924")
                  svg.msg__icon
                    use(xlink:href="img/svg/sprite.svg#icon-wa")

              a.contacts__link(href="tel:+79181247924" rel="nofollow")
                strong +7 918 124-79-24

            .contacts__item
              .msg__wrap
                span.msg
                  img(src="img/icon-envelope.png" alt="")

              a.contacts__link(href="mailto:salonshtor.kira@yandex.ru" rel="nofollow") salonshtor.kira@yandex.ru

            .contacts__item
              .msg__wrap
                .msg.msg--insta
                  img(src="img/svg/orig/icon-insta.svg" alt="")

              a.contacts__link(href="#" rel="nofollow") salonshtor_kira_krd

            .contacts__item
              p Пн-Пт 10:00-19:00; Сб 10:00-15:00
                br
                |  Вс – выходной



  // /.scr_contacts
