mixin scr_features()
  section.scr_features.features(id="scr_features")

    .container
      ul.features__list
        li.features__item
          .features__top.hr-wrap
            .icon__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-feat-1")

            h2 Собственное
              br
              |  производство

          .features__bottom
            p.features__desc Изготовливаем шторы и жалюзи под окна любого размера и конфигурации от 1 рабочего дня

        // /.features__item
        li.features__item
          .features__top.hr-wrap
            .icon__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-feat-2")

            h2 Широкий выбор
              br
              |  ценовых сегментов

          .features__bottom
            p.features__desc 4000 образцов ткани,
              br
              |  500 видов ткани жалюзи
              br
              |  и рулонных штор,
              br
              |  более 50 видов карнизов
              br
              |  и фурнитуры под
              br
              |  любой стиль интерьера

        // /.features__item
        li.features__item
          .features__top.hr-wrap
            .icon__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-feat-3")

            h2 Большой опыт

          .features__bottom
            p.features__desc Работаем 11 лет,
              br
              |  за это время пошито
              br
              |  2 000 м
              sup 2
              |  штор,
              br
              |  1 000 м
              sup 2
              |  жалюзи
              br
              |  по индивидуальным проектам
        // /.features__item
      // /.features__list

  // /.scr_features
