mixin scr_news()
  section.scr_news.news(id="scr_news")
    .container
      .row
        .col-lg-6.offset-md-4.col-md-5.col-sm-8.col-6
          h2.title Новости
        .col-lg-2.col-md-3.col-sm-4.col-6
          .btn__wrap
            a.link.link--arrow(href="#") Все новости
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-arrow")

    .news__list
      .container
        .slider1.news__slider#news__slider
          .slider1__slides.news__slides
            .slider1__slide.news__slide
              a.news__item(href="#")
                .news__content
                  .article
                    h3 ИП на УСН будут платить 1-процентные фиксированные взносы с прибыли, а не с дохода

                    time(datetime='2019-07-01') 01 июля 2019

                    p В ближайшее время Правительство планирует принять поправки в НК...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")
            .slider1__slide.news__slide
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Утвердят новый порядок

                    time(datetime='2019-07-01') 01 июля 2019

                    p На федеральном портале опубликован текст проекта об утверждении...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")
            .slider1__slide.news__slide
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Что делать, если вы не согласны с требованием об уплате налога: советы от ИФНС

                    time(datetime='2019-07-01') 01 июля 2019

                    p В последнее время

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .slider1__dots.news__dots

  // /.scr_news

mixin scr_news--news()
  section.scr_news.news(id="scr_news")
    .news__list
      .container
        .row
          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 ИП на УСН будут платить 1-процентные фиксированные взносы с прибыли, а не с дохода

                    time(datetime='2019-07-01') 01 июля 2019

                    p В ближайшее время Правительство планирует принять поправки в НК...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Утвердят новый порядок предоставления сведений из ЕГРЮЛ и ЕГРИП

                    time(datetime='2019-07-01') 01 июля 2019

                    p На федеральном портале опубликован текст проекта об утверждении...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Что делать, если вы не согласны с требованием об уплате налога: советы от ИФНС

                    time(datetime='2019-07-01') 01 июля 2019

                    p В последнее время налогоплательщики стали регулярно получать из...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")
          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 ИП на УСН будут платить 1-процентные фиксированные взносы с прибыли, а не с дохода

                    time(datetime='2019-07-01') 01 июля 2019

                    p В ближайшее время Правительство планирует принять поправки в НК...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Утвердят новый порядок предоставления сведений из ЕГРЮЛ и ЕГРИП

                    time(datetime='2019-07-01') 01 июля 2019

                    p На федеральном портале опубликован текст проекта об утверждении...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Что делать, если вы не согласны с требованием об уплате налога: советы от ИФНС

                    time(datetime='2019-07-01') 01 июля 2019

                    p В последнее время налогоплательщики стали регулярно получать из...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 ИП на УСН будут платить 1-процентные фиксированные взносы с прибыли, а не с дохода

                    time(datetime='2019-07-01') 01 июля 2019

                    p В ближайшее время Правительство планирует принять поправки в НК...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Утвердят новый порядок предоставления сведений из ЕГРЮЛ и ЕГРИП

                    time(datetime='2019-07-01') 01 июля 2019

                    p На федеральном портале опубликован текст проекта об утверждении...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .col-sm-6.col-lg-4
            .news__wrap
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Что делать, если вы не согласны с требованием об уплате налога: советы от ИФНС

                    time(datetime='2019-07-01') 01 июля 2019

                    p В последнее время налогоплательщики стали регулярно получать из...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

        +paginator


  // /.scr_news


mixin scr_news--news-item()
  section.scr_news.news(id="scr_news")
    .container
      .row
        .col-lg-10.col-md-9.col-sm-8
          h2.title Похожие новости
        .col-lg-2.col-md-3.col-sm-4
          .btn__wrap
            a.link.link--arrow(href="#") Все новости
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-arrow")

    .news__list
      .container
        .slider1.news__slider#news__slider
          .slider1__slides.news__slides
            .slider1__slide.news__slide
              a.news__item(href="#")
                .news__content
                  .article
                    h3 ИП на УСН будут платить 1-процентные фиксированные взносы с прибыли, а не с дохода

                    time(datetime='2019-07-01') 01 июля 2019

                    p В ближайшее время Правительство планирует принять поправки в НК...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")
            .slider1__slide.news__slide
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Утвердят новый порядок

                    time(datetime='2019-07-01') 01 июля 2019

                    p На федеральном портале опубликован текст проекта об утверждении...

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")
            .slider1__slide.news__slide
              a.news__item(href="#")
                .news__content
                  .article
                    h3 Что делать, если вы не согласны с требованием об уплате налога: советы от ИФНС

                    time(datetime='2019-07-01') 01 июля 2019

                    p В последнее время

                .btn__wrap
                  span.link.link--arrow Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

          .slider1__dots.news__dots

  // /.scr_news
