mixin scr_center()
  section.scr_center.center.grey-bg(id="scr_center")
    .container
      .center__wrap
        ul.center__nav.tabs__nav
          li.center__nav-item.tabs__nav-item
            a.center__link.tabs__link.active(href="#") Ведение бухгалтерского учета
          li.center__nav-item.tabs__nav-item
            a.center__link.tabs__link(href="#") Подготовка и сдача налоговой отчетности
          li.center__nav-item.tabs__nav-item
            a.center__link.tabs__link(href="#") Ведение управленческого учета
              br
              |  для собственников
          li.center__nav-item.tabs__nav-item
            a.center__link.tabs__link(href="#") Регистрирация ИП и ООО
          li.center__nav-item.tabs__nav-item
            a.center__link.tabs__link(href="#") Ведение кадрового учета
          li.center__nav-item.tabs__nav-item
            a.center__link.tabs__link(href="#") Ведение учета на период банкротства
          li.center__nav-item.tabs__nav-item
            a.center__link.tabs__link(href="#") Ликвидация ИП, ООО

        ul.center__tabs.tabs
          li.center__tab.tabs__tab
            .article
              h2 Подготовка и сдача налоговой отчетности

              p
                strong Составление и сдача отчетности - обязанность любого предприятия, грамотно и корректно составленный отчет поможет избежать претензий со стороны налоговых органов, фондов и статистики, избежать финансовых потерь в виде штрафов за несвоевременное предоставление отчетности, штрафов и пеней за искажение сумм к уплате в бюджет.

              h3 Когда может понадобиться данная услуга:

              ul
                li Ваша компания или ИП временно не ведет деятельность и Вам необходимо сдать нулевую бухгалтерскую и налоговую отчетность («нулевку»)
                li В вашей компании нет человека с необходимым уровнем опыта и знаний по подготовке и сдаче отчетности, но заводить первичную документацию правильно вы можете самостоятельно
                li Вам необходимо отправить отчет в госорган (ФНС, ПФР, ФСС) по электронным каналам связи, но вы не заключили договор с компанией оператором, которая предоставляет данную услугу
                li Срок сдачи отчетности на бумажном носителе прошел и что бы Вас не оштрафовали за несвоевременную сдачу отчетности, ее необходимо сдать по электронным каналам связи
                li Вам требуется восстановление бухгалтерского и налогового учета и подача просроченной или корректирующей отчетности в госорганы

              h3 Что получаете Вы?

              ul
                li Грамотную и профессиональную подгтовку документации\
                li Своевременную сдачу отчетности в соответствующие органы
                li Оперативное реагирование на любые нововведения и изменения в налоговом законодательстве
                li Отличное знание инструкция по заполнению деклараций и отчетов
                li Отсутствие нареканий и проблем с государственными органами контроля

              h3 Что входит в услугу «Подготовка и сдача отчетности»

              ul
                li Формирование отчетов во все госорганы (ФНС, ПФР, ФСС) как в электронном виде, так и на бумажном носителе
                li Контроль получения и принятия отчета госорганом при отправке по электронным каналам связи.
                li Предоставление клиенту квитанций об отправке, получении и принятии отчета в электронном виде.
                li При отправке почтой России предоставление клиенту квитанции с отметкой почты о том, что отчет был отправлен
                li Взаимодействие с госорганами в рамках данной услуги
                li Ответственность за результат согласно договору

  // /.scr_center
