mixin scr_orders()
  section.scr_orders.orders(id="scr_orders")
    .bg-img
    .container
      .orders__wrap.decor-wrap.decor-wrap--1
        svg.outer
          use(xlink:href="img/svg/sprite.svg#bg-tariff-2")
        svg.inner
          use(xlink:href="img/svg/sprite.svg#bg-tariff-3")

        h2.title.title--type2.title--decored2
          strong  Команда профессионалов
          |  готова
          br
          |  выполнить заказы любой сложности

        .slider1.orders__slider#orders__slider
          .orders__slides.slider1__slides
            .orders__slide.slider1__slide
              .orders__slide-wrap
                .orders__item
                  .orders__img
                    noscript
                      img.lazy(src="img-temp/orders/img-order-1.jpg" alt="" width="640" height="360" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/orders/img-order-1.jpg" alt="" width="640" height="360" data-object-fit-cover)
            .orders__slide.slider1__slide
              .orders__slide-wrap
                .orders__item
                  .orders__img
                    noscript
                      img.lazy(src="img-temp/orders/img-order-2.jpg" alt="" width="640" height="360" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/orders/img-order-2.jpg" alt="" width="640" height="360" data-object-fit-cover)
            .orders__slide.slider1__slide
              .orders__slide-wrap
                .orders__item
                  .orders__img
                    noscript
                      img.lazy(src="img-temp/orders/img-order-3.jpg" alt="" width="640" height="360" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/orders/img-order-3.jpg" alt="" width="640" height="360" data-object-fit-cover)

          .orders__dots.slider1__dots
  // /.scr_orders
