@charset "UTF-8";
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url(fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/* Миксин замены цвета placeholder у input. Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000, 14px) */
.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .socials__link {
    display: block;
    width: 39px;
    height: 39px;
    line-height: 39px;
    margin-right: 23px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(198, 194, 198, 0.5);
    -webkit-transition: 0.3s  ease-in-out;
    -o-transition: 0.3s  ease-in-out;
    transition: 0.3s  ease-in-out; }
    .socials__link:last-of-type {
      margin-right: 0; }
    .socials__link .fa {
      font-weight: 400;
      font-size: 17px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .socials__link:hover {
      -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
              transform: translateY(-2px);
      background: rgba(74, 47, 90, 0.7); }
      .socials__link:hover .fa {
        color: #fff; }

/* socials */
.form {
  position: relative;
  z-index: 30;
  width: 100%;
  /* media */ }
  .form .text-input {
    display: block;
    width: 100%; }
    .form .text-input input, .form .text-input textarea {
      background: none;
      border: none;
      outline: none;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      resize: none;
      font-family: "Muller", sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      color: #4a2f5a;
      background-color: #f7f7f7;
      border: 1.0px solid #cccccc;
      border-radius: 24.0px; }
      .form .text-input input::-webkit-input-placeholder, .form .text-input textarea::-webkit-input-placeholder {
        color: #0d001a;
        font-size: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Muller", sans-serif;
        font-style: italic; }
      .form .text-input input::-moz-placeholder, .form .text-input textarea::-moz-placeholder {
        color: #0d001a;
        font-size: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Muller", sans-serif;
        font-style: italic; }
      .form .text-input input:-ms-input-placeholder, .form .text-input textarea:-ms-input-placeholder {
        color: #0d001a;
        font-size: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Muller", sans-serif;
        font-style: italic; }
      .form .text-input input:focus::-webkit-input-placeholder, .form .text-input textarea:focus::-webkit-input-placeholder {
        color: transparent;
        font-size: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Muller", sans-serif;
        font-style: italic; }
      .form .text-input input:focus::-moz-placeholder, .form .text-input textarea:focus::-moz-placeholder {
        color: transparent;
        font-size: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Muller", sans-serif;
        font-style: italic; }
      .form .text-input input:focus:-ms-input-placeholder, .form .text-input textarea:focus:-ms-input-placeholder {
        color: transparent;
        font-size: 12px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-family: "Muller", sans-serif;
        font-style: italic; }
      .form .text-input input:hover, .form .text-input input:focus, .form .text-input textarea:hover, .form .text-input textarea:focus {
        border-color: rgba(74, 47, 90, 0.5); }
    .form .text-input input {
      height: 50px;
      line-height: 50px;
      padding-left: 24px; }
  .form .accept label {
    display: block;
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: center; }
    .form .accept label > span {
      position: relative;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .form .accept input {
    display: none; }
  .form__item--subscribe {
    width: 570px; }
    .form__item--subscribe .text-input input {
      width: 100%;
      padding-right: 187px; }
    .form__item--subscribe .btn__wrap {
      position: absolute;
      top: 0;
      right: -1px; }
    .form__item--subscribe input[type="submit"] {
      height: 50px;
      line-height: 50px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 16px;
      border-radius: 25.0px; }
  .form .search-wrap {
    position: relative;
    width: 249px; }
    .form .search-wrap .text-input {
      width: 100%; }
      .form .search-wrap .text-input input {
        width: 100%;
        height: 38px;
        line-height: 38px;
        background: none; }
  .form .search-wrap button,
  .form .open-search {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 42px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#b98cab), to(#f8c2dc));
    background-image: -o-linear-gradient(bottom, #b98cab 0%, #f8c2dc 100%);
    background-image: linear-gradient(0deg, #b98cab 0%, #f8c2dc 100%);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
    overflow: hidden; }
    .form .search-wrap button::before,
    .form .open-search::before {
      content: '';
      position: absolute;
      top: -30px;
      left: -100%;
      width: 20px;
      height: -webkit-calc(100% + 100px);
      height: calc(100% + 100px);
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-transform: rotate(35deg);
          -ms-transform: rotate(35deg);
              transform: rotate(35deg);
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      z-index: 100; }
    .form .search-wrap button .icon,
    .form .open-search .icon {
      width: 15px;
      height: 15px;
      fill: #ffffff; }
    .form .search-wrap button:hover,
    .form .open-search:hover {
      -webkit-box-shadow: 0 0 15px 0 rgba(241, 122, 178, 0.3);
              box-shadow: 0 0 15px 0 rgba(241, 122, 178, 0.3); }
      .form .search-wrap button:hover::before,
      .form .open-search:hover::before {
        left: 100%; }
  .form--search .open-search {
    position: relative;
    display: none; }
  @media screen and (max-width: 992px) {
    .form__item--subscribe {
      width: 100%; } }
  @media screen and (max-width: 375px) {
    .form--subscribe input[type=submit] {
      padding-left: 25px;
      padding-right: 25px; }
    .form--subscribe .text-input input {
      padding-right: 157px; } }

/* form */
.products {
  position: relative;
  padding-top: 32px;
  padding-bottom: 43px;
  /* media */ }
  .products .title {
    padding-bottom: 20px; }
  .products .slick-arrow {
    top: -webkit-calc(50% - 22px);
    top: calc(50% - 22px); }
  .products .slick-prev {
    left: -44px; }
  .products .slick-next {
    right: -44px; }
  .products__slide {
    padding: 15px; }
  .products__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 0 18px 28px 27px;
    -webkit-box-shadow: 0px 15px 35px 0px rgba(239, 205, 205, 0.2);
            box-shadow: 0px 15px 35px 0px rgba(239, 205, 205, 0.2);
    background-color: #ffffff;
    border-radius: 6.0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-text-decoration: n .products__item ne;
            text-decoration: n .products__item ne; }
    .products__item:hover {
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-box-shadow: 0px 15px 35px 0px rgba(239, 205, 205, 0.4);
              box-shadow: 0px 15px 35px 0px rgba(239, 205, 205, 0.4); }
  .products__label {
    position: absolute;
    top: 15px;
    left: 19px;
    display: block;
    width: 51px;
    height: 51px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #4a2f5a;
    border-radius: 50%; }
    .products__label--action {
      background-color: #a47a9c; }
  .products__img {
    display: block;
    height: 258px;
    padding-top: 44px;
    padding-bottom: 24px; }
    .products__img img {
      width: 100%;
      height: 100%; }
  .products__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .products__content h2, .products__content h3 {
      height: 52px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
      overflow: hidden; }
    .products__content .desc {
      font-size: 14px;
      line-height: 1.285714285714286; }
  .products .price__wrap {
    padding-top: 24px;
    padding-bottom: 14px;
    text-align: center; }
    .products .price__wrap--two {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .products .price__wrap .price {
      display: block; }
      .products .price__wrap .price--current {
        font-size: 24px;
        font-weight: 700;
        color: #4a2f5a; }
      .products .price__wrap .price--last {
        font-size: 18px;
        font-weight: 400;
        color: #999999;
        text-decoration: line-through;
        margin-right: 10px; }
  .products .btns__wrap {
    text-align: center; }
  .products a {
    text-decoration: none;
    cursor: pointer;
    outline: none; }
  .products .marks {
    position: absolute;
    top: 25px;
    right: 19px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5; }
    .products .marks li:not(:last-of-type) {
      margin-right: 12px; }
    .products .marks li button, .products .marks li a {
      background: none;
      outline: none;
      border: none;
      display: inline-block;
      width: 19px;
      height: 19px;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .products .marks li button.button-diagram, .products .marks li a.button-diagram {
        width: 14px;
        height: 19px;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg); }
      .products .marks li button.button-wish, .products .marks li a.button-wish {
        width: 17px;
        height: 15px; }
      .products .marks li button:hover .icon, .products .marks li a:hover .icon {
        fill: #f17ab2; }
      .products .marks li button .icon--full, .products .marks li a .icon--full {
        display: none; }
      .products .marks li button.active .icon--empty, .products .marks li a.active .icon--empty {
        display: none; }
      .products .marks li button.active .icon--full, .products .marks li a.active .icon--full {
        display: block;
        fill: #f17ab2; }
  @media screen and (max-width: 992px) {
    .products__slide {
      padding-left: 10px;
      padding-right: 10px; } }
  @media screen and (max-width: 700px) {
    .products__img {
      height: 116px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .products__label {
      top: 8px;
      left: 9px;
      width: 32px;
      height: 32px;
      font-size: 8.8px;
      line-height: 33px; }
      .products__label--action {
        font-size: 11.3px; }
    .products .marks {
      top: 8px;
      right: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 105px; }
      .products .marks li:not(:last-of-type) {
        margin-right: 0;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; }
    .products__item {
      padding: 0 13px 10px 10px; }
    .products .btns__wrap {
      display: none; }
    .products .price__wrap {
      padding-top: 14px;
      padding-bottom: 0; } }
  @media screen and (max-width: 500px) {
    .products {
      padding-top: 8px; }
      .products .title {
        padding-bottom: 0; }
      .products__content h2, .products__content h3 {
        height: auto;
        font-size: 14px;
        line-height: 1.2; }
      .products__content .desc {
        font-size: 11px;
        line-height: 1.2; }
      .products .price__wrap .price--last {
        font-size: 14px; }
      .products .price__wrap .price--current {
        font-size: 18px; }
      .products__slide {
        padding-left: 5px;
        padding-right: 5px; } }

/* products */
#scr_products1 {
  padding-bottom: 0; }

#scr_products2 {
  padding-top: 17px; }
  @media screen and (max-width: 500px) {
    #scr_products2 {
      margin-top: 3px;
      padding-bottom: 15px; } }

.insta {
  position: relative;
  padding-bottom: 35px;
  /* media */ }
  .insta .container {
    position: relative;
    padding-top: 44px;
    z-index: 1; }
    .insta .container::before {
      content: '#';
      position: absolute;
      top: 17px;
      right: 98px;
      display: block;
      font-family: "Circe", sans-serif;
      font-size: 343.2px;
      line-height: 0.9;
      font-weight: 800;
      color: rgba(247, 247, 247, 0.5);
      z-index: -1; }
  .insta .title {
    padding-bottom: 39px; }
  .insta__blocks {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .insta__block--two {
    width: 23.07017543859649%; }
  .insta__block--one {
    width: 310px;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(217, 201, 211, 0.5);
            box-shadow: 0px 5px 15px 0px rgba(217, 201, 211, 0.5); }
    .insta__block--one .insta__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s; }
      .insta__block--one .insta__img.active {
        position: static;
        z-index: 1;
        opacity: 1; }
  .insta__block--text {
    margin-left: auto;
    width: 180px;
    padding-top: 85px; }
    .insta__block--text .fa {
      margin-bottom: 28px;
      font-size: 23px; }
    .insta__block--text .strong {
      margin-bottom: 26px;
      font-size: 30px;
      line-height: 1.06666666667;
      font-weight: 700; }
    .insta__block--text .at {
      display: block;
      margin-bottom: 44px;
      font-size: 18px; }
    .insta__block--text .desc {
      margin-bottom: 40px;
      line-height: 1.2; }
  .insta__item {
    position: relative;
    display: block;
    text-decoration: none; }
    .insta__item--small {
      height: 263px;
      margin-bottom: 25px; }
    .insta__item--big {
      height: 551px; }
  .insta__img {
    height: 100%; }
  .insta__author {
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 32px 10px 8px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #f7f7f7), color-stop(20%, rgba(247, 247, 247, 0.9)), color-stop(40%, rgba(247, 247, 247, 0.8)), to(transparent));
    background-image: -o-linear-gradient(0, #f7f7f7 0%, rgba(247, 247, 247, 0.9) 20%, rgba(247, 247, 247, 0.8) 40%, transparent 100%);
    background-image: linear-gradient(0, #f7f7f7 0%, rgba(247, 247, 247, 0.9) 20%, rgba(247, 247, 247, 0.8) 40%, transparent 100%); }
  .insta .author-img {
    width: 36px;
    height: 35px;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden; }
  .insta .author-name {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none; }
  .insta__front {
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer; }
    .insta__front:hover {
      -webkit-box-shadow: 0 15px 35px 0 rgba(74, 47, 90, 0.2);
              box-shadow: 0 15px 35px 0 rgba(74, 47, 90, 0.2);
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px); }
  .insta__review {
    max-height: 103%;
    overflow: auto; }
  .insta .btn__wrap {
    width: 100%; }
  .insta .btn {
    padding: 17px 40px 16px 28px;
    font-size: 14px;
    border-radius: 25px; }
  .insta .article p:last-of-type {
    margin-bottom: 0; }
  @media screen and (max-width: 1070px) {
    .insta__blocks {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .insta__block--two {
      width: -webkit-calc((100% - 310px - 60px) / 2);
      width: calc((100% - 310px - 60px) / 2); }
    .insta__block--text {
      margin-left: 0;
      padding-top: 25px; } }
  @media screen and (max-width: 768px) {
    .insta {
      display: none; }
      .insta img {
        display: none; } }

/* insta */
.blog {
  position: relative;
  padding-top: 46px;
  padding-bottom: 52px;
  /* media */ }
  .blog .title {
    padding-bottom: 42px; }
  .blog h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3; }
  .blog__title {
    text-decoration: none; }
  .blog__block--one {
    height: 516px; }
    .blog__block--one .blog__content {
      position: absolute;
      bottom: 38px;
      left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: auto;
      padding-bottom: 0; }
      .blog__block--one .blog__content h3 {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .blog__block--one .blog__content .btn {
        font-size: 16px;
        padding: 12px 45px; }
  .blog__item {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none; }
    .blog__item--small {
      height: 240px;
      margin-bottom: 36px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .blog__item--small:hover {
        -webkit-box-shadow: 0px 15px 35px 0px rgba(74, 47, 90, 0.2);
                box-shadow: 0px 15px 35px 0px rgba(74, 47, 90, 0.2);
        -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
                transform: translateY(-10px); }
        .blog__item--small:hover h3 {
          color: #4a2f5a; }
    .blog__item--big {
      height: 100%; }
    .blog__item--right-bottom {
      text-align: right; }
      .blog__item--right-bottom .blog__content {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto; }
      .blog__item--right-bottom::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 445px;
        height: 200px;
        background: #c3dde0;
        -webkit-transform-origin: top right;
            -ms-transform-origin: top right;
                transform-origin: top right;
        -webkit-transform: rotate(-27deg);
            -ms-transform: rotate(-27deg);
                transform: rotate(-27deg); }
    .blog__item--right-top {
      text-align: right; }
      .blog__item--right-top .blog__content {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-top: 20px; }
      .blog__item--right-top::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 292px;
        height: 400px;
        background: #f1d5d1;
        -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
                transform-origin: top left;
        -webkit-transform: rotate(-44deg);
            -ms-transform: rotate(-44deg);
                transform: rotate(-44deg); }
  .blog .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .blog__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding: 34px 25px 13px 30px;
    z-index: 1; }
  .blog__img {
    max-width: 156px;
    min-width: 100px;
    margin-left: 10px; }
  .blog__wrap--mobile {
    display: none; }
  @media screen and (max-width: 992px) {
    .blog__content {
      padding: 14px 15px 13px 10px; } }
  @media screen and (max-width: 768px) {
    .blog {
      background: #fff; }
      .blog__wrap--desktop {
        display: none; }
      .blog__wrap--mobile {
        display: block; }
      .blog__slide {
        padding: 10px; }
      .blog__item {
        margin-bottom: 0;
        height: 233px; } }
  @media screen and (max-width: 500px) {
    .blog {
      padding-top: 20px;
      padding-bottom: 0; }
      .blog .title {
        padding-bottom: 12px; }
      .blog__slide {
        padding: 5px;
        padding-bottom: 0; } }

/* blog */
.we {
  position: relative;
  padding-top: 51px;
  padding-bottom: 27px;
  /* media */ }
  .we .title {
    padding-top: 29px;
    padding-bottom: 23px;
    font-size: 30px;
    text-align: left; }
  .we .df {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .we__img {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 488px;
    margin-right: 67px; }
    .we__img img {
      display: block;
      border-radius: 6px; }
  .we .article p:last-of-type {
    margin-bottom: 0; }
  .we__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .we__link {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-decoration: none; }
    .we__link:hover img {
      -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
              transform: translateX(5px); }
    .we__link img {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 19px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .we__autograph {
    width: 206px;
    height: 119px; }
  @media screen and (max-width: 992px) {
    .we .df {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .we__img {
      width: 240px;
      height: 240px; }
    .we__content {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .we {
      display: none; }
      .we img {
        display: none;
        visibility: hidden; } }

/* we */
.cta {
  position: relative;
  padding-top: 3px;
  background: #e0dee0;
  /* media */ }
  .cta__wrap {
    padding: 38px 0;
    background-color: rgba(255, 255, 255, 0.6); }
  .cta .df {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .cta__title {
    margin-right: 79px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a2f5a; }
  @media screen and (max-width: 992px) {
    .cta__title {
      margin-right: 20px;
      font-size: 20px; }
    .cta__subscribe {
      width: 50%;
      margin-left: auto; } }
  @media screen and (max-width: 768px) {
    .cta {
      padding-top: 0; }
      .cta .df {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      .cta__title {
        margin-right: 0;
        text-align: center; }
      .cta__subscribe {
        width: 450px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px; } }
  @media screen and (max-width: 400px) {
    .cta__wrap {
      padding-top: 20px;
      padding-bottom: 22px; }
    .cta__title {
      font-size: 14px; } }

/* cta */
.footer {
  position: relative;
  background: #e0dee0;
  padding-top: 29px;
  /* media */ }
  .footer__top {
    padding-bottom: 35px; }
  .footer__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-menu__item:nth-of-type(-n + 2) {
    width: 17.46031746031746%; }
  .footer-menu__item:nth-of-type(3) {
    width: 27.83068783068783%;
    padding-left: 68px; }
  .footer-menu__item:nth-of-type(4) {
    width: 27.83068783068783%; }
  .footer .payment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .payment__title {
      margin-top: 12px;
      margin-right: 35px;
      font-size: 14px;
      line-height: 1.714285714285714;
      opacity: 0.5; }
    .footer .payment__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer .payment__item {
      margin-right: 43px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .payment__item--df .icon {
        margin-right: 15px;
        width: 31px;
        height: 42px;
        fill: rgba(173, 166, 172, 0.5); }
      .footer .payment__item--df span {
        font-family: 'GothamPro',sans-serif;
        font-size: 12px;
        line-height: 1.2;
        color: #ada6ac; }
      .footer .payment__item img {
        width: auto;
        max-width: 100%; }
  .footer .menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer .menu > li {
      margin-bottom: 10px; }
      .footer .menu > li > a {
        font-size: 14px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .footer .menu > li > a:hover {
          color: #66407c; }
  .footer h4 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a2f5a; }
  .footer__middle {
    padding-bottom: 28px; }
  .footer__contacts-content a, .footer__contacts-content p {
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.2; }
    .footer__contacts-content a.strong, .footer__contacts-content p.strong {
      font-weight: 700; }
  .footer__bottom {
    height: 53px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid rgba(13, 0, 26, 0.3); }
    .footer__bottom .text {
      font-size: 13px;
      line-height: 16px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .footer .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    opacity: 0.5; }
  .footer .made {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    text-decoration: none; }
    .footer .made .icon {
      opacity: 0.7;
      width: 60px;
      height: 22px;
      margin-left: 13px;
      fill: #0d001a;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .footer .made:hover .text {
      color: #4a2f5a; }
    .footer .made:hover .icon {
      fill: #4a2f5a; }
  .footer .to-top {
    position: absolute;
    right: 30px;
    top: 50px;
    z-index: 100;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(153, 153, 153, 0.3);
            box-shadow: 0px 0px 10px 0px rgba(153, 153, 153, 0.3);
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.9; }
    .footer .to-top .fa {
      color: #4a2f5a;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      font-size: 20px;
      font-weight: 800; }
    .footer .to-top:hover {
      opacity: 1; }
      .footer .to-top:hover .fa {
        color: #4a2f5a; }
  .footer__logo {
    display: none; }
  @media screen and (max-width: 992px) {
    .footer .made {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .footer-menu__item:nth-of-type(3) {
      padding-left: 28px; }
    .footer .to-top {
      top: 20px; }
    .footer .payment__title {
      display: none; }
    .footer .payment__list {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .footer .payment__item {
      margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .footer .to-top {
      right: 10px;
      width: 40px;
      height: 40px;
      opacity: .5; } }
  @media screen and (max-width: 650px) {
    .footer {
      padding-top: 0; }
      .footer__logo {
        display: block;
        padding-top: 11px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(164, 122, 156, 0.3); }
      .footer .logo__wrap {
        width: 167px;
        height: 44px;
        margin: 0 auto; }
      .footer-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer-menu__item {
          width: -webkit-calc(100% + 30px) !important;
          width: calc(100% + 30px) !important;
          margin-left: -15px;
          padding: 0 15px;
          border-bottom: 1px solid rgba(164, 122, 156, 0.3); }
          .footer-menu__item:nth-of-type(3) {
            padding-left: 15px; }
        .footer-menu .menu {
          max-height: 0;
          overflow: hidden;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }
          .footer-menu .menu > li > a {
            display: block;
            font-size: 14px;
            line-height: 1.2;
            color: #4a2f5a;
            text-decoration: none; }
          .footer-menu .menu.active {
            max-height: 5000px;
            -webkit-transition: 1.5s;
            -o-transition: 1.5s;
            transition: 1.5s; }
      .footer h4 {
        position: relative;
        margin-bottom: 0;
        padding: 10px 0; }
        .footer h4::after {
          content: '';
          position: absolute;
          top: -webkit-calc(50% - 5px);
          top: calc(50% - 5px);
          right: 0;
          display: block;
          width: 9px;
          height: 9px;
          border-left: 2px solid #4a2f5a;
          border-bottom: 2px solid #4a2f5a;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          -webkit-transform-origin: center;
              -ms-transform-origin: center;
                  transform-origin: center;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .footer h4.active::after {
          top: -webkit-calc(50% - 3px);
          top: calc(50% - 3px);
          -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
                  transform: rotate(135deg); }
      .footer .socials {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: -webkit-calc(100% + 30px);
        width: calc(100% + 30px);
        margin-left: -15px;
        padding-top: 19px;
        border-top: 1px solid rgba(164, 122, 156, 0.3); }
      .footer .to-top {
        top: 16px; }
      .footer__contacts-content {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        .footer__contacts-content.active {
          max-height: 5000px;
          -webkit-transition: 1.5s;
          -o-transition: 1.5s;
          transition: 1.5s; }
      .footer__middle {
        padding-bottom: 10px; } }
  @media screen and (max-width: 576px) {
    .footer__bottom {
      height: 70px; }
      .footer__bottom .copyright .text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px; }
    .footer .made {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (max-width: 500px) {
    .footer .payment__list {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .footer .payment__item {
      margin-right: 10px;
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px); }
      .footer .payment__item:nth-of-type(2n) {
        margin-right: 0; }
      .footer .payment__item:last-of-type {
        width: 100%; } }

/* footer */
