mixin certs()
  .certs
    .certs__slider.slider1#certs__slider
      .certs__slides.slider1__slides
        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-1.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-2.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-3.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-3.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

      .certs__dots.slider1__dots


  // /.certs


mixin certs--clinic()
  .certs.certs--clinic
    .certs__slider.slider1#certs__slider--clinic
      .certs__slides.slider1__slides
        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-1.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-2.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-3.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-3.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-2.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-1.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

        .certs__slide.slider1__slide
          a.fancybox.certs__item(href="img-temp/certs/cert-2.jpg" data-fancybox-group="certs")
            noscript
              img.lazy(src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/certs/cert-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

      .certs__dots.slider1__dots


  // /.certs
