mixin scr1()
  section.scr1(id="scr1")
    .bg-img(style="background: transparent url('img/bg-scr1.jpg') no-repeat center center; background-size: cover;")
    .container
      h1.scr1__title Помогаю людям становиться
        br
        strong  здоровее, красивее, счастливее
        br
        |  более 20 лет

      .scr1__btns
        .btn__wrap
          a.btn.btn--orange.open-modal(href="#") Запись на бесплатную консультацию

      .scr1__adv
        .scr1__adv-img
          noscript
            img.lazy(src="img/doctorman.png" alt="" width="487" height="734")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/doctorman.png" alt="" width="487" height="734")
        .scr1__adv-shadow
          noscript
            img.lazy(src="img/bg-shadow.png" alt="" width="1161" height="855")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/bg-shadow.png" alt="" width="1161" height="855")

        ul.scr1__adv-list
          li.scr1__adv-item
            .scr1__content
              span.scr1__adv-num &gt;20
              span.scr1__adv-text  лет практики
          li.scr1__adv-item
            .scr1__content
              span.scr1__adv-num 2 780
              span.scr1__adv-text  и более консультаций
                br
                |  в год
          li.scr1__adv-item
            .scr1__content
              span.scr1__adv-num 130
              span.scr1__adv-text  успешно проведенных
                br
                |  операций

  // /.scr1
