mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    h2.title вопрос-ответ
    ul.faq__list
      li.faq__item
        .top
          h2 Продолжительность пребывания пациентов в стационаре?
          button.open
        .hidden
          .article
            p  В среднем продолжительность пребывания пациентов в стационаре после бариатрической операции занимает от 3 до 5 дней. Но в каждом случае всё протекает индивидуально и зависит от самочувствия пациента и наличия сопутствующих заболеваний
      li.faq__item
        .top
          h2 С чего начинать подготовку к операции?
          button.open
        .hidden
          .article
            p  В среднем продолжительность пребывания пациентов в стационаре после бариатрической операции занимает от 3 до 5 дней. Но в каждом случае всё протекает индивидуально и зависит от самочувствия пациента и наличия сопутствующих заболеваний
      li.faq__item
        .top
          h2 Вероятность, что вес снова вернется?
          button.open
        .hidden
          .article
            p  В среднем продолжительность пребывания пациентов в стационаре после бариатрической операции занимает от 3 до 5 дней. Но в каждом случае всё протекает индивидуально и зависит от самочувствия пациента и наличия сопутствующих заболеваний
      li.faq__item
        .top
          h2 Как остановить переедание?
          button.open
        .hidden
          .article
            p  В среднем продолжительность пребывания пациентов в стационаре после бариатрической операции занимает от 3 до 5 дней. Но в каждом случае всё протекает индивидуально и зависит от самочувствия пациента и наличия сопутствующих заболеваний


  // /.scr_faq
