mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      .contacts__df
        .contacts__left
          .contacts__img
            noscript
              img.lazy(src="img/img-contacts.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-contacts.jpg" alt="" width="125" height="90")

        .contacts__right
          h1.title-second Контакты
          .contacts__content
            p.contacts__name сиюхов
              br
              |  руслан шумафович

            p.contacts__desc доктор-хирург

            ul.contacts__links
              li.contacts__links-item
                a(href="tel:89284177828" rel="nofollow")
                  span.contacts__icon
                    i.fa.fa-phone

                  span.contacts__text
                    strong 8 (928) 417-78-28

              li.contacts__links-item
                a(href="https://ok.ru/group/56304103129333" rel="nofollow")
                  span.contacts__icon
                    i.fa.fa-odnoklassniki

                  span.contacts__text ok.ru/group/56304103129333

              li.contacts__links-item
                a(href="https://vk.com/club186574838" rel="nofollow")
                  span.contacts__icon
                    i.fa.fa-vk

                  span.contacts__text vk.com/club186574838

              li.contacts__links-item
                a(href="mailto:siuhov@mail.ru" rel="nofollow")
                  span.contacts__icon
                    i.fa.fa-envelope

                  span.contacts__text siuhov@mail.ru

  // /.scr_contacts
