mixin scr_posts()
  section.scr_posts.posts(id="scr_posts")
    .container
      .row
        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота

                  p Главным методом лечения грыж является проведение операции. Герниопластика – это хирургическое вмешательство, направленное на устранение...

        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота

                  p Главным методом
        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота
        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота

                  p Главным методом лечения грыж является проведение операции. Герниопластика – это хирургическое вмешательство, направленное на устранение...

        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота

                  p Главным методом
        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота
        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота

                  p Главным методом лечения грыж является проведение операции. Герниопластика – это хирургическое вмешательство, направленное на устранение...

        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота

                  p Главным методом
        .col-lg-4.col-sm-6
          .posts__wrap
            .posts__item
              a.posts__img(href="#")
                noscript
                  img.lazy(src="img-temp/posts/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/posts/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .posts__content
                .article
                  time(datetime="2019-10-12") 12 октября 2019

                  a(href="#")
                    h2 Хирургическое лечение
                      br
                      |  грыж живота

      +paginator

  // /.scr_posts
