mixin scr_price()
  section.scr_price.price(id="scr_price")
    .container
      h1.title-second Стоимость услуг

      .price__table
        table
          thead
            tr
              td Наименование
              td Цена, руб.
          tbody
            tr
              td прием врача-хирурга
              td 11 812
            tr
              td повторный прием врача-хирурга
              td 8 629
            tr
              td дистанционная консультация врача-хирурга
              td 11 812
            tr
              td лапароскопическое наложение бандажа на желудок при морбидном ожирении
              td 30 850
            tr
              td лапароскопическая гастропликация
              td 141 459
            tr
              td лапароскопическое желудочное шунтирование
              td 176 824
            tr
              td вертикальная резекция желудка
              td 424 378
            tr
              td лапароскопическая фундопликация
              td 353 648

  // /.scr_price
