mixin scr_aside()
  section.scr_aside.aside(id="scr_aside")
    .form.wpcf7.form--general
      form.wpcf7-form
        p.form__title остались вопросы?

        .form__item
          span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
            input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ф.И.О.')
            i.input-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#iconMan")

        .form__item
          span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
            input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
            i.input-icon
              img(src="img/svg/iconMail.svg" alt="иконка")

        .form__item
          span.wpcf7-form-control-wrap.your-date.text-input.text-input--icon
            input.wpcf7-form-control.wpcf7-text.wpcf7-date(type='text', name='your-date', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Дата, время')
            i.input-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#iconDate")

        .form__item
          span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
            label(for="your-msg")
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#iconMsg")
              span.text Ваше сообщение
            textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false')

        .form__item
          span.wpcf7-form-control-wrap.your-file.text-input.text-input--file
            label
              input.wpcf7-form-control.wpcf7-text.wpcf7-file(type='file', name='your-file', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Прикрепить файлы с результатами исследований')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#iconClip")
              span.text Прикрепить файлы с результатами исследований

        .form__item.form__item--submit
          .btn__wrap
            input.wpcf7-form-control.wpcf7-submit.btn.btn--orange(type='submit', value='Отправить')

        .form__item
          span.wpcf7-form-control-wrap.accept
            span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
              span.wpcf7-list-item
                label
                  input(type='checkbox', name='accept', value='Даю согласие на обработку персональных данных', checked='checked')
                  span.wpcf7-list-item-label Даю согласие на обработку персональных данных
                    i.accept__icon


  // /.scr_aside

mixin scr_aside--reviews()
  section.scr_aside.aside.aside--reviews(id="scr_aside")
    .form.wpcf7.form--general
      form.wpcf7-form
        p.form__title оставить отзыв

        .form__item
          span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
            input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ф.И.О.')
            i.input-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#iconMan")

        .form__item
          span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
            input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
            i.input-icon
              img(src="img/svg/iconMail.svg" alt="иконка")

        .form__item
          span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
            label(for="your-msg")
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#iconMsg")
              span.text Ваш отзыв
            textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false')

        .form__item.form__item--submit
          .btn__wrap
            input.wpcf7-form-control.wpcf7-submit.btn.btn--orange(type='submit', value='Отправить отзыв')

        .form__item
          span.wpcf7-form-control-wrap.accept
            span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
              span.wpcf7-list-item
                label
                  input(type='checkbox', name='accept', value='Даю согласие на обработку персональных данных', checked='checked')
                  span.wpcf7-list-item-label Даю согласие на обработку персональных данных
                    i.accept__icon


  // /.scr_aside
