mixin scr_branch()
  section.scr_branch.branch(id="scr_branch")
    .container
      +breadcrumbs--branch

      h1.title-second Хирургия ожирения

      .branch__top
        .branch__content
          .article
            p Хирургия ожирения включает в себя определенные операции для лечения ожирения. Эти операции способствуют некоторым изменениям пищевой системы. Сегодня выполняются при помощи лапароскопических методов.

            p Главная причина ожирения - употребление вместе с пищей большого числа калорий. Когда в организме происхоит чрезмерное накопление жира полностью нарушается обмен веществ и увеличивается точка насыщения.

            p При операциях ожирения существует два основных процесса. Один из них - это уменьшение объема желудка. Уменьшение желудка, ранее способного на принятие 1-1.5 л до 100 мл способствует насыщению пациента маленькой порцией пищи. Чувство насыщения – результат, определяющий превосходство операции другим методам. Диета, здоровое питание в основном безуспешны из -за чувства голода и недоедания.

        .branch__img
          noscript
            img.lazy(src="img-temp/img-branch.jpg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-branch.jpg" alt="" width="125" height="90")

      .branch__main
        .branch__results
          +scr_result

        .branch__content
          .article
            p Вторая процедура - это сокращение длины кишечника , посредством создания нового перехода из желудка и тонкой кишки. В этом случае не происходит удаление, а обеспечивается соединение пищи , поступающей из желудка на 1.5-2.м тонкой кишки, что уменьшает поглощение пищи.

            p Наиболее распространенная операция первой группы - это лапароскопическая рукавная резекция желудка. В этом случае не используется аппарат или зонд. Происходит удаление большой части желудка, примерно % 85. Оставшаяся часть напоминает по форме трубку, поэтому процедура называется иногда трубчатой.

            p Распространенной операцией второй группы является шунтирование желудка . В ходе операции уменьшается объем желудка. Сумка малого желудка соединяется с нижней частью кишечника. Цель заключается в выведении части жиров и калорий без усваивания.

            p Такие операции оказывают действие на метаболические болезни ожирения, вызванные , диабетом, повышенным давлением, высоким уровнем холестерина. Кровяное давление восстанавливается сразу вне зависимости от похудения, уменьшается содержание жиров в крови. Часто наблюдается, что больные , сахар которых ранее был равен 450 , у которых были диабетическая стопа, проблемы с почками перестают принимать инсулин или лекарства после операции.


  // /.scr_branch
