mixin scr_clinic()
  section.scr_clinic.clinic(id="scr_clinic")
    .clinic__top
      .container
        .row
          .col-md-7.col-sm-8
            .clinic__content
              h1.title-second о клинике

              p.clinic__desc Государственное бюджетное учреждение здравоохранения
                br
                strong  «Краевая клиническая больница №2»
                br
                |  министерства здравоохранения Краснодарского края (ГБУЗ «ККБ №2»)


              .article
                p одно из крупнейших медицинских учреждений Кубани, которое не только показывает стабильно высокие результаты, но выступает новатором в различных научно-практических областях отечественного здравоохранения, достойно отвечает вызовам современной, быстро меняющейся конкурентной среды, что регулярно отмечается соответствующими наградами и достижениями на городском, краевом и федеральном уровнях.

          .col-md-5.col-sm-4
            .clinic__img
              noscript
                img.lazy(src="img/img-clinic.jpg" alt="Здание клиники" width="457" height="258")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-clinic.jpg" alt="Здание клиники" width="457" height="258")

    .container
      .clinic__feat
        ul.clinic__feat-list
          li.clinic__feat-item
            p.clinic__feat-text Мощное реанимационное отделение
              br
              |  позволяющее выхаживать самых
              br
              |  сложных пациентов.
          li.clinic__feat-item
            p.clinic__feat-text Опытные хирурги, имеющие опыт более
              br
              |  400 лапароскопических вмешательств
              br
              |  на желудке и пищеводе и 15-летний стаж.
          li.clinic__feat-item
            p.clinic__feat-text Высококлассные анестезиологи, имеющие
              br
              |  опыт анестезиологического сопровождения
              br
              |  операций любой сложности и длительности.
          li.clinic__feat-item
            p.clinic__feat-text Одно из крупнейших лечебно-диагностических
              br
              |  объединений на Юге России.
          li.clinic__feat-item
            p.clinic__feat-text Самое современное диагностическое
              br
              |  и лечебное оборудование.

      .clinic__slider.slider1#clinic__slider
        .clinic__slides.slider1__slides
          .clinic__slide.slider1__slide
            a.clinic__item.fancybox(href="img-temp/clinic/img-clinic-1.jpg" data-fancybox-group="clinic")
              noscript
                img.lazy(src="img-temp/clinic/img-clinic-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clinic/img-clinic-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .clinic__slide.slider1__slide
            a.clinic__item.fancybox(href="img-temp/clinic/img-clinic-2.jpg" data-fancybox-group="clinic")
              noscript
                img.lazy(src="img-temp/clinic/img-clinic-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clinic/img-clinic-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .clinic__slide.slider1__slide
            a.clinic__item.fancybox(href="img-temp/clinic/img-clinic-3.jpg" data-fancybox-group="clinic")
              noscript
                img.lazy(src="img-temp/clinic/img-clinic-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/clinic/img-clinic-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .clinic__slide.slider1__slide
            a.clinic__item.fancybox(href="img/img-clinic.jpg" data-fancybox-group="clinic")
              noscript
                img.lazy(src="img/img-clinic.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-clinic.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .clinic__dots.slider1__dots


      +certs--clinic

  // /.scr_clinic
