mixin scr_categories()
  section.scr_categories.categories(id="scr_categories")
    .container
      ul.categories__list
        li.categories__item.active
          a(href="#") Герниология
        li.categories__item
          a(href="#") Хирургия ожирения
        li.categories__item
          a(href="#") Болезни пищевода желудка и ДПК
        li.categories__item
          a(href="#") Желчнокаменная болезнь

  // /.scr_categories
