mixin scr_doctor()
  section.scr_doctor.doctor(id="scr_doctor")
    .doctor__img
      noscript
        img.lazy(src="img/img-doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1103" height="905")
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1103" height="905")
    .container
      .row
        .col-lg-6.offset-lg-6
          .doctor__content
            h3.doctor__title сиюхов
              br
              |  руслан шумафович

            p.doctor__desc доктор-хирург

            p.doctor__text
              strong Образование:
              |  Кубанская государственная медицинская академия, окончание 1998 с красным дипломомом

            p.doctor__text
              strong Карьера:
              |  Краевая клиническая больница № 2

            p.doctor__text
              strong Информация о клинике:
              |  Государственное бюджетное учреждение здравоохранения «Краевая клиническая больница №2» министерства здравоохранения Краснодарского края (ГБУЗ «ККБ №2») – одно из крупнейших медицинских учреждений Кубани, которое обладает одной из самых мощных лечебно-диагностических баз. В ККБ 2 выполняются все наиболее сложные оперативные вмешательства на органах брюшной полости в том числе трансплантация печени. Клиника оснащена оборудованием последнего поколения.

            p.doctor__text
              strong Сертификаты и дипломы

            +certs


  // /.scr_doctor


mixin scr_doctor--doctor()
  section.scr_doctor.doctor.doctor--doctor(id="scr_doctor")
    .doctor__img
      noscript
        img.lazy(src="img/img-doctor--doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1324" height="1131")
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-doctor--doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1324" height="1131")
    .container
      .row
        .col-lg-6.offset-lg-6
          .doctor__content
            h3.doctor__title сиюхов
              br
              |  руслан шумафович

            p.doctor__desc доктор-хирург

            p.doctor__text
              strong Образование:
              |  Кубанская государственная медицинская академия, окончание 1998 с красным дипломомом

            p.doctor__text
              strong Карьера:
              |  Краевая клиническая больница № 2

            p.doctor__text
              strong Информация о клинике:
              |  Государственное бюджетное учреждение здравоохранения «Краевая клиническая больница №2» министерства здравоохранения Краснодарского края (ГБУЗ «ККБ №2») – одно из крупнейших медицинских учреждений Кубани, которое обладает одной из самых мощных лечебно-диагностических баз. В ККБ 2 выполняются все наиболее сложные оперативные вмешательства на органах брюшной полости в том числе трансплантация печени. Клиника оснащена оборудованием последнего поколения.

            p.doctor__text
              strong Сертификаты и дипломы

            +certs


  // /.scr_doctor
