mixin scr_result()
  section.scr_result.result(id="scr_result")
    h2.title результаты
    .result__slider.slider1#result__slider
      .result__slides.slider1__slides
        .result__slide.slider1__slide
          .result__item
            .result__df
              .result__before
                figure.result__img
                  p
                    noscript
                      img.lazy(src="img-temp/beforeExample.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/beforeExample.jpg" alt="" width="125" height="90")

                  figcaption.result__text Фото до - вес 130 кг

              .result__after
                figure.result__img
                  p
                    noscript
                      img.lazy(src="img-temp/afterExample.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/afterExample.jpg" alt="" width="125" height="90")

                  figcaption.result__text После 7 месяцев -47 кг

        .result__slide.slider1__slide
          .result__item
            .result__df
              .result__before
                figure.result__img
                  p
                    noscript
                      img.lazy(src="img-temp/beforeExample.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/beforeExample.jpg" alt="" width="125" height="90")

                  figcaption.result__text Фото до - вес 130 кг

              .result__after
                figure.result__img
                  p
                    noscript
                      img.lazy(src="img-temp/afterExample.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/afterExample.jpg" alt="" width="125" height="90")

                  figcaption.result__text После 7 месяцев -47 кг

      .result__dots.slider1__dots

  // /.scr_result
