mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs

      .post__top
        h1.post__title грыжа спигелиевой
          br
          |  (полулунной) линии

      .post__main
        .article
          p ГРЫЖА ЖИВОТА (абдоминальная грыжа) – это выхождение внутренних органов, покрытых брюшиной, через естественные или приобретенные отверстия из брюшной полости под кожу или в соседние полости.

          p Согласно общепринятой классификации, все грыжи живота специалисты разделяют на две большие группы.

          p Первая - это наружные (лат. hemiae abdominales externae), вторая - внутренние, (лат. herniae abdominales internae), которые выходят в карманы брюшины либо в отверстия внутри брюшной полости.

          p Внутренние грыжи составляют примерно 25%, а наружные, соответственно – 75%.

          p НАРУЖНЫЕ ГРЫЖИ ЖИВОТА (hernia abdominalis externa) - относятся к числу самых распространённых хирургических заболеваний и представляют собой выхождение внутренних органов, покрытых париетальным (пристеночным) листком брюшины, из брюшной полости через естественные (щели в белой линии живота, пупочное кольцо, треугольник Пети, промежуток Гринфельта-Лесгафта) либо патологические, то есть приобретенные вследствие травм, операций или болезней дефекты в мышечно-апоневротическом слое брюшной стенки. Причём обязательным условием здесь является целостность кожных покровов, в противном случае говорят об эвентерации.

          p Формироваться вентральные грыжи могут абсолютно в любом возрасте (включая младенческий), но чаще всего с ними сталкиваются у дошкольников, пожилых лиц и стариков.

          p Грыжи живота бывают врождёнными, а могут возникать от усилия - на фоне резкого повышения уровня внутрибрюшного давления, от слабости - при атрофии мышц и снижении эластичности брюшной стенки и, как уже было отмечено выше, после хирургических вмешательств и травм. Также существует и такое понятие, как искусственные грыжи.

          p Чаще грыжи спигелиевой линии возникают у женщин в пожилом возрасте и локализуются на одной стороне, значительно реже они бывают одновременно и справа, и слева. В ряде случаев эти образования способны достигать значительной величины (с голову ребёнка!).

          img(src="img-temp/img-post.jpg" alt="" width="125" height="90")

          p Это грыжи брюшной стенки, которые возникают вдоль субумбиликального участка спигелиевой линии и выходят через спигелиеву фасцию, состоящую из сросшихся апоневрозов поперечной и внутренней косой мышц живота и расположенную с латеральной стороны между брюшками данных мышц и прямой мышцей живота - с медиальной.

          p Известно, что ниже пупка волокна спигелиевой фасции направлены более-менее параллельно и поэтому при определённых условиях могут расщепляться, позволяя брюшине с предбрюшинной клетчаткой выпячиваться наружу через щелевидный дефект. Однако при этом они, как правило, удерживаются благодаря наличию покрывающего их апоневроза наружной косой мышцы живота. Вот почему грыжи полулунной линии называют интерстициальными, то есть локализующимися между мышцами брюшной стенки. Хотя грыжевой мешок здесь вполне может располагаться и подкожно, и проперитонеально (предбрюшинно).

          p Как и любые другие истинные грыжи, грыжи спигелиевой линии имеют обязательные компоненты. Ими являются грыжевые ворота, грыжевой мешок и его содержимое - внутренние органы, попавшие в его полость. Чаще всего это большой сальник, тонкая и сигмовидная кишка и аппендикс, обладающие довольно большой подвижностью.

  // /.scr_post
