mixin scr_services()
  section.scr_services.services(id="scr_services")
    .container
      .row
        .col-md-6
          ul.services__list
            li.services__item.active
              a(href="#serv-tab-0")
                .services__icon
                  img(src="img/svg/icons/gerniolog.svg" alt="Иконка")

                h3.services__title Герниология
            li.services__item
              a(href="#serv-tab-1")
                .services__icon
                  img(src="img/svg/icons/fat.svg" alt="Иконка")

                h3.services__title Хирургия ожирения
            li.services__item
              a(href="#serv-tab-2")
                .services__icon
                  img(src="img/svg/icons/stomach.svg" alt="Иконка")

                h3.services__title Болезни пищевода
                  br
                  |  желудка и ДПК
            li.services__item
              a(href="#serv-tab-3")
                .services__icon
                  img(src="img/svg/icons/bile.svg" alt="Иконка")

                h3.services__title Желчнокаменная
                  br
                  |  болезнь

        .col-md-6
          ul.services__tabs
            li.services__tab#serv-tab-0
              .services__content
                h3.services__tab-title.title Герниология
                p.services__text Основная причина формирования грыжи — слабость тканей в определённых областях брюшной стенки (т.н. грыжевые ворота). Само по себе перемещение органов брюшной полости в грыжевой мешок не является чем-либо жизненно опасным, но при грыже велика вероятность развития ущемления. Так, при кашле, или поднятии тяжестей, натуживании, под воздействием повышенного внутрибрюшного давления грыжевые ворота расширяются, допуская перемещение внутренних органов в грыжевой мешок. Обратному перемещению внутренних органов мешает эластичность грыжевых ворот (вспомните — кольцо всегда легче надеть на палец, чем снять его).
              .services__btns
                button.services__show
                  span Читать полностью

            li.services__tab#serv-tab-1
              .services__content
                h3.services__tab-title.title Хирургия ожирения
                p.services__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Живет ведущими семь составитель, оксмокс напоивший возвращайся взгляд снова пояс до, на берегу, сбить по всей, о там. Безорфографичный ты если, парадигматическая.
              .services__btns
                button.services__show
                  span Читать полностью

            li.services__tab#serv-tab-2
              .services__content
                h3.services__tab-title.title Болезни пищевода
                    br
                    |  желудка и ДПК
                p.services__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Но большой, страна предложения грустный это, вершину единственное своего сбить.
              .services__btns
                button.services__show
                  span Читать полностью

            li.services__tab#serv-tab-3
              .services__content
                h3.services__tab-title.title Желчнокаменная
                    br
                    |  болезнь
                p.services__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Бросил океана грустный семь он, пунктуация дал свой о взгляд но запятых буквенных если дорогу даже строчка города это на берегу, использовало то там живет своих lorem. Продолжил, безопасную одна, свою напоивший, единственное вдали последний, снова приставка эта она сбить на берегу. Осталось залетают они живет назад послушавшись инициал, букв безорфографичный родного, эта коварный имеет встретил но ее гор подзаголовок своих, использовало страну сбить власти. Страна страну маленькая рукописи строчка сих деревни. Собрал жизни переписывается себя языкового оксмокс. Раз его возвращайся, снова, заголовок несколько обеспечивает проектах? Живет подпоясал необходимыми не раз снова.
              .services__btns
                button.services__show
                  span Читать полностью


  // /.scr_services
