mixin scr_doctor()
  section.scr_doctor.doctor(id="scr_doctor")
    .doctor__img
      noscript
        img.lazy(src="img/img-doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1103" height="905")
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1103" height="905")
    .container
      .row
        .col-lg-6.offset-lg-6
          .doctor__content
            h3.doctor__title сиюхов
              br
              |  руслан шумафович

            p.doctor__desc доктор-хирург

            p.doctor__text
              strong Образование:
              |  Кубанская государственная медицинская академия, окончание 1998 с красным дипломомом

            p.doctor__text
              strong Карьера:
              |  Краевая клиническая больница № 2

            p.doctor__text
              strong Информация о клинике:
              |  Государственное бюджетное учреждение здравоохранения «Краевая клиническая больница №2» министерства здравоохранения Краснодарского края (ГБУЗ «ККБ №2») – одно из крупнейших медицинских учреждений Кубани, которое обладает одной из самых мощных лечебно-диагностических баз. В ККБ 2 выполняются все наиболее сложные оперативные вмешательства на органах брюшной полости в том числе трансплантация печени. Клиника оснащена оборудованием последнего поколения.

            p.doctor__text
              strong Сертификаты и дипломы

            +certs


  // /.scr_doctor


mixin scr_doctor--doctor()
  section.scr_doctor.doctor.doctor--doctor(id="scr_doctor")
    .container
      .doctor__img
        noscript
          img.lazy(src="img/img-doctor--doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1324" height="1131")
        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-doctor--doctor.jpg" alt="доктор Сиюхов Р.Ш." width="1324" height="1131")
      .row
        .col-lg-7.col-md-9
          .doctor__content
            h1.doctor__title сиюхов
              br
              |  руслан шумафович

            p.doctor__desc Врач-хирург высшей категории.
              br
              |  Кандидат медицинских наук.

            p.doctor__text
              strong Опыт работы:
              |  21 год

            p.doctor__text
              strong Специализация:
              |  хиругия, хирургия ожирени я

            p.doctor__text
              strong Образование:
              |  В 1998 г. с отличием окончил Кубанскую медицинскую академию. В этом же году принят на работу в Российский центр функциональной хирургической гастроэнтерологии. В 2005 г. защитил диссертацию и получил ученую степень кандидата медицинских наук.

            p.doctor__text
              strong Опыт работы:
              |  В 2006 г. назначен на должность заведующего хирургическим отделением № 4. В 2008 г. перешел на работу в гастроэнтерологический центр при ГБУЗ «ККБ №2» г. Краснодар. Имеет опыт более 600 лапароскопических вмешательств на желудке из них более 100 при лишнем весе.

            +certs

            +socials--doctor


  // /.scr_doctor
