mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    ul.reviews__list
      li.reviews__item
        .article
          time(datetime="2019-10-12") 12 октября 2019
          h3 мирослав
            br
            |  александрович

          p В своём стремлении повысить качество жизни, они забывают, что курс на социально-ориентированный национальный проект требует определения и уточнения новых предложений. Кстати, представители современных социальных резервов могут быть подвергнуты целой серии независимых исследований. Как принято считать, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований.

      li.reviews__item
        .article
          time(datetime="2019-10-12") 12 октября 2019
          h3 мирослав
            br
            |  александрович

          p В своём стремлении повысить качество жизни, они забывают, что курс на социально-ориентированный национальный проект требует определения и уточнения новых предложений. Кстати, представители современных социальных резервов могут быть подвергнуты целой серии независимых исследований. Как принято считать, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований.

      li.reviews__item
        .article
          time(datetime="2019-10-12") 12 октября 2019
          h3 мирослав
            br
            |  александрович

          p В своём стремлении повысить качество жизни, они забывают, что курс на социально-ориентированный национальный проект требует определения и уточнения новых предложений. Кстати, представители современных социальных резервов могут быть подвергнуты целой серии независимых исследований. Как принято считать, базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть подвергнуты целой серии независимых исследований.



  // /.scr_reviews
