mixin socials()
  section.socials(id="socials")
    a.socials__link(href='https://ok.ru/group/56304103129333', rel='nofollow', target='_blank')
      i.fa.fa-odnoklassniki
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk

  // /.socials

mixin socials--doctor()
  section.socials.socials--doctor(id="socials-doctor")
    ul.socials__list
      li.socials__item
        a.socials__link(href='https://ok.ru/group/56304103129333', rel='nofollow', target='_blank')
          i.fa.fa-odnoklassniki
        a.socials__text(href='https://ok.ru/group/56304103129333', rel='nofollow', target='_blank') ok.ru/group/56304103129333

      li.socials__item
        a.socials__link(href='vk.com/club186574838', rel='nofollow', target='_blank')
          i.fa.fa-vk
        a.socials__text(href='vk.com/club186574838', rel='nofollow', target='_blank') vk.com/club186574838

  // /.socials
