mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__col
          h3.footer__title Карта сайта

          ul.menu
            li.menu-item
              a(href="#") О компании
              ul.sub-menu
                li.menu-item
                  a(href="#") О нас
                li.menu-item
                  a(href="#") Команда
                li.menu-item
                  a(href="#") Вакансии
                li.menu-item
                  a(href="#") Лицензии
            li.menu-item
              a(href="#") Проекты
            li.menu-item
              a(href="#") Отзывы
            li.menu-item
              a(href="#") Вопрос-ответ
            li.menu-item
              a(href="#") Блог
            li.menu-item
              a(href="#") Контакты

        .footer__col.footer__col--catalog
          h3.footer__title Услуги

          .footer__df
            ul.menu
              li.menu-item
                a(href="#") Кондиционеры
                ul.sub-menu
                  li.menu-item
                    a(href="#") Диагностика
                  li.menu-item
                    a(href="#") Ремонт
                  li.menu-item
                    a(href="#") Техническое обслуживание
                  li.menu-item
                    a(href="#") Монтаж
                  li.menu-item
                    a(href="#") Демонтаж
                  li.menu-item
                    a(href="#") Заправка

              li.menu-item
                a(href="#") Холодильники
                ul.sub-menu
                  li.menu-item
                    a(href="#") Тех. осмотр
                  li.menu-item
                    a(href="#") Ремонт
                  li.menu-item
                    a(href="#") Монтаж
                  li.menu-item
                    a(href="#") Демонтаж
                  li.menu-item
                    a(href="#") Заправка

            ul.menu
              li.menu-item
                a(href="#") Стиральные машины
                ul.sub-menu
                  li.menu-item
                    a(href="#") Тех. осмотр
                  li.menu-item
                    a(href="#") Ремонт
                  li.menu-item
                    a(href="#") Монтаж
                  li.menu-item
                    a(href="#") Демонтаж
              li.menu-item
                a(href="#") Духовые шкафы
                ul.sub-menu
                  li.menu-item
                    a(href="#") Тех. осмотр
                  li.menu-item
                    a(href="#") Ремонт
                  li.menu-item
                    a(href="#") Монтаж
                  li.menu-item
                    a(href="#") Демонтаж

            ul.menu
              li.menu-item
                a(href="#") Газовые плиты
                ul.sub-menu
                  li.menu-item
                    a(href="#") Тех. осмотр
                  li.menu-item
                    a(href="#") Ремонт
                  li.menu-item
                    a(href="#") Монтаж
                  li.menu-item
                    a(href="#") Демонтаж
              li.menu-item
                a(href="#") Бойлеры
                ul.sub-menu
                  li.menu-item
                    a(href="#") Тех. осмотр
                  li.menu-item
                    a(href="#") Ремонт
                  li.menu-item
                    a(href="#") Установка
              li.menu-item
                a(href="#") Телевизоры
                ul.sub-menu
                  li.menu-item
                    a(href="#") Тех. осмотр
                  li.menu-item
                    a(href="#") Ремонт

        .footer__col
          h3.footer__title Контакты

          .footer__text
            p г. Севастополь,
              br
              |  Индустриальная улица, 28

          .footer__text
            .footer__phones
              a(href="tel:+79782592973" rel="nofollow") +7 978 259-29-73
              a.header__msg.header__msg--wa(href="https://api.whatsapp.com/send?phone=79782592973" rel="nofollow")
            a(href="mailto:info@kondicioner-sevastopol.ru" rel="nofollow") info@kondicioner-sevastopol.ru

          .footer__text
            p Время работы:
              br
              |  Пн-Сб с 09:00 до 18:00

          +socials

      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2020&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

