mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__info
          .scr1__bg
            img(src="img/scr1-bg.jpg" alt="" data-object-fit-cover)
          h1.scr1__title Получите качественный
            br
            strong.violet  ремонт бытовой техники
            br
            |  с бесплатной диагностикой
            br
            |  в день заявки

          p.scr1__text Работаем с физ и юр лицами с НДС и без НДС:
          ul.scr1__list
            li в квартирах и домах
            li в офисах и административных зданиях
            li на объектах санитарно-курортного назначения
            li на гос объектах

          .scr1__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.open-modal(href="#") Записаться на бесплатную
                br
                |  диагностику

        ul.scr1__feat
          li
            .scr1__feat-item
              svg.bg-icon
                use(xlink:href="img/svg/sprite.svg#feat-bg")
              .scr1__feat-bg
                img(src="img/haier-logo.png" alt="")

              p.scr1__feat-text Мы-единственный официальный
                strong  сервисный центр Haier
                |  в Севастополе — обслуживаем  и территорию в пределах
                br
                |  50 км от города

          li
            .scr1__feat-item
              svg.bg-icon
                use(xlink:href="img/svg/sprite.svg#feat-bg")
              .scr1__feat-bg
                span 10%

              p.scr1__feat-text Предоставляем скидку
                strong  10%
                br
                |  при повторном обращении
                br
                |  в сервисную службу

          li
            .scr1__feat-item
              svg.bg-icon
                use(xlink:href="img/svg/sprite.svg#feat-bg")

              p.scr1__feat-text
                strong  Работаем с широким перечнем
                  br
                  |  брендов:
                |  Samsung, Gree, LG, Zanussi,
                br
                |  Dahatsu, Daichi, Daikin

  // /.scr1
