mixin scr_faq()
  section.scr_faq.faq.grey-bg.section_wr(id="scr_faq")
    .container
      h2.page-title
        strong.violet Топ 10 самых частых вопросов
        br
        |  о поломках бытовой техники и экспертные  ответы на них

      .faq__df
        .faq__wrap
          ul.faq__list
            li.faq__item
              .top
                h3 Можно ли включать кондиционер зимой при минусовой температуре на улице
                button.open
              .hidden
                .article
                  p  Можно ли включать кондиционер при минусовой температуре на обогрев? Да, можно. Но нужно учитывать несколько факторов и особенностей конкретного устройства. Во время работы в режиме обогрева фреон в жидком виде поступает в наружный блок, там испаряется, забирая часть теплоты. После чего компрессором газообразный хладагент перекачивается во внутренний блок, где в испарителе он конденсируется, высвобождая накопленное тепло. Так происходит работа кондиционера на обогрев зимой.

            li.faq__item
              .top
                h3 Какие фильтры устанавливаются в кондиционерах и от чего они защищают?
                button.open
              .hidden
                .article
                  p  Можно ли включать кондиционер при минусовой температуре на обогрев? Да, можно. Но нужно учитывать несколько факторов и особенностей конкретного устройства. Во время работы в режиме обогрева фреон в жидком виде поступает в наружный блок, там испаряется, забирая часть теплоты. После чего компрессором газообразный хладагент перекачивается во внутренний блок, где в испарителе он конденсируется, высвобождая накопленное тепло. Так происходит работа кондиционера на обогрев зимой.

            li.faq__item
              .top
                h3 Как часто нужно менять фильтры?
                button.open
              .hidden
                .article
                  p  Можно ли включать кондиционер при минусовой температуре на обогрев? Да, можно. Но нужно учитывать несколько факторов и особенностей конкретного устройства. Во время работы в режиме обогрева фреон в жидком виде поступает в наружный блок, там испаряется, забирая часть теплоты. После чего компрессором газообразный хладагент перекачивается во внутренний блок, где в испарителе он конденсируется, высвобождая накопленное тепло. Так происходит работа кондиционера на обогрев зимой.

            li.faq__item
              .top
                h3 Можно ли установить кондиционер самостоятельно?
                button.open
              .hidden
                .article
                  p  Можно ли включать кондиционер при минусовой температуре на обогрев? Да, можно. Но нужно учитывать несколько факторов и особенностей конкретного устройства. Во время работы в режиме обогрева фреон в жидком виде поступает в наружный блок, там испаряется, забирая часть теплоты. После чего компрессором газообразный хладагент перекачивается во внутренний блок, где в испарителе он конденсируется, высвобождая накопленное тепло. Так происходит работа кондиционера на обогрев зимой.

            li.faq__item
              .top
                h3 Кто осуществляет гарантийное обслуживание (гарантийный ремонт) кондиционера?
                button.open
              .hidden
                .article
                  p  Можно ли включать кондиционер при минусовой температуре на обогрев? Да, можно. Но нужно учитывать несколько факторов и особенностей конкретного устройства. Во время работы в режиме обогрева фреон в жидком виде поступает в наружный блок, там испаряется, забирая часть теплоты. После чего компрессором газообразный хладагент перекачивается во внутренний блок, где в испарителе он конденсируется, высвобождая накопленное тепло. Так происходит работа кондиционера на обогрев зимой.

        .faq__form
          .form.form--general.wpcf7
            form.wpcf7-form
              h2.form__title Остались вопросы?

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input
                  textarea(name="textarea-text" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="review" aria-required="true" aria-invalid="false" placeholder="Вопрос")

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--grad
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Получить бесплатную консультацию')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_faq
