mixin scr_spec()
  section.scr_spec.spec.section_wr.grey-bg(id="scr_spec")
    .container
      h2.page-title В нашей команде работают сертифицированные специалисты
        br
        |  и эксперты своего дела

      .spec__slider-wrap
        .spec__slider#spec__slider
          .swiper-wrapper
            .swiper-slide
              .spec__item
                .spec__img
                  img(src="img-temp/spec-img.jpg" alt="" data-object-fit-cover)

                .spec__info
                  h3.spec__title
                    span Иванов
                    |  Иван Иванович

                  .spec__text
                    p Специалист попроектированию
                      br
                      b Опыт работы:
                      |  10 лет
            .swiper-slide
              .spec__item
                .spec__img
                  img(src="img-temp/spec-img.jpg" alt="" data-object-fit-cover)

                .spec__info
                  h3.spec__title
                    span Иванов
                    |  Иван Иванович

                  .spec__text
                    p Специалист попроектированию
                      br
                      b Опыт работы:
                      |  10 лет
            .swiper-slide
              .spec__item
                .spec__img
                  img(src="img-temp/spec-img.jpg" alt="" data-object-fit-cover)

                .spec__info
                  h3.spec__title
                    span Иванов
                    |  Иван Иванович

                  .spec__text
                    p Специалист попроектированию
                      br
                      b Опыт работы:
                      |  10 лет
            .swiper-slide
              .spec__item
                .spec__img
                  img(src="img-temp/spec-img.jpg" alt="" data-object-fit-cover)

                .spec__info
                  h3.spec__title
                    span Иванов
                    |  Иван Иванович

                  .spec__text
                    p Специалист попроектированию
                      br
                      b Опыт работы:
                      |  10 лет
            .swiper-slide
              .spec__item
                .spec__img
                  img(src="img-temp/spec-img.jpg" alt="" data-object-fit-cover)

                .spec__info
                  h3.spec__title
                    span Иванов
                    |  Иван Иванович

                  .spec__text
                    p Специалист попроектированию
                      br
                      b Опыт работы:
                      |  10 лет

        .spec__slider-btns
          button.swiper-button-prev
          button.swiper-button-next

  // /.scr_spec
