mixin scr_serv()
  section.scr_serv.serv.grey-bg.section_wr(id="scr_serv")
    .container
      h2.page-title Мы предоставляем услуги комплексно и по-отдельности для частных лиц
        br
        |  и компаний различных масштабов и специализаций

      ul.tabs__nav
        li.current
          a(href="#serv__tab-0") Сервис кондиционеров
        li
          a(href="#serv__tab-1") Сервис холодильников
        li
          a(href="#serv__tab-2") Сервис стиральных машин
        li
          a(href="#serv__tab-3") Сервис духовых шкафов
        li
          a(href="#serv__tab-4") Сервис газовых плит
        li
          a(href="#serv__tab-5") Сервис бойлеров
        li
          a(href="#serv__tab-6") Сервис телевизоров

      ul.serv__tabs
        li.serv__tab#serv__tab-0
          .serv__df
            .serv__left
              .page-table
                table
                  tr
                    td Диагностика работы кондиционера
                    td бесплатно
                  tr
                    td Поиск утечки фреона (азот, фреон, течеискатель)
                    td от 2 000 руб и 1 день
                  tr
                    td Разборка / сборка внешнего блока кондиционера
                    td 500 руб
                  tr
                    td Монтаж кондиционера
                    td от 5000 руб и 1 день

              .serv__form
                .form.wpcf7
                  form.wpcf7-form
                    .form__wrap
                      .form__item
                        span.wpcf7-form-control-wrap.your-tel.text-input
                          input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш номер телефона')

                      .btn__wrap.btn__wrap--grad
                        input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Заказать сервис кондиционера')

                .btn__wrap
                  a.xbtn.xbtn--trspt(href="#") Смотреть все услуги
                    br
                    |  по сервису

            .serv__info
              .serv__text
                p Собственные 3 бригады высококвалифицированных специалистов с опытом работы более 10 лет

              .serv__text
                p Занимаемся продажей кондиционеров - поможем подобрать оптимальный вариант без переплат
                a(href="#") Перейти в интернет-магазин

              .serv__text
                p Являемся официальный сервисный центр Haier в&nbsp;Севастополе, а также обслуживаем более 20&nbsp;брендов кондиционеров

        li.serv__tab#serv__tab-1
          .serv__df
            .serv__left
              .page-table
                table
                  tr
                    td Диагностика работы кондиционера
                    td бесплатно
                  tr
                    td Поиск утечки фреона (азот, фреон, течеискатель)
                    td от 2 000 руб и 1 день

              .serv__form
                .form.wpcf7
                  form.wpcf7-form
                    .form__wrap
                      .form__item
                        span.wpcf7-form-control-wrap.your-tel.text-input
                          input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш номер телефона')

                      .btn__wrap.btn__wrap--grad
                        input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Заказать сервис кондиционера')

                .btn__wrap
                  a.xbtn.xbtn--trspt(href="#") Смотреть все услуги
                    br
                    |  по сервису

            .serv__info
              .serv__text
                p Собственные 3 бригады высококвалифицированных специалистов с опытом работы более 10 лет

              .serv__text
                p Занимаемся продажей кондиционеров - поможем подобрать оптимальный вариант без переплат
                a(href="#") Перейти в интернет-магазин

              .serv__text
                p Являемся официальный сервисный центр Haier в&nbsp;Севастополе, а также обслуживаем более 20&nbsp;брендов кондиционеров


  // /.scr_serv
