mixin scr_cases()
  section.scr_cases.cases.section_wr(id="scr_cases")
    .container
      h2.page-title За
        strong.violet  5 лет
        |  работы произвели установку и
        strong.violet  ремонт 1500 единиц техники,
        br
        |  являемся постоянными партнерами ведущих крымских компаний

      .cases__slider-wrap
        .cases__slider#cases__slider
          .swiper-wrapper
            .swiper-slide
              .cases__item
                .cases__img(style="background: #1e222e url('img-temp/cases-1.jpg') no-repeat center center; background-size: cover;")

                .cases__info
                  h3.cases__title Установка сплит-систем для номерного фонда
                    br
                    |  отеля «Аквамарин», г. Севастополь

                  .cases__text
                    p
                      b Что сделано:
                      br
                      |  закупили, доставили и установили 250 сплит-систем  закупили, доставили и установили 250 сплит-систем закупили, доставили и установили 250 сплит-систем Таким образом постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации модели развития.

                  .cases__text
                    p
                      b Сроки:
                      |  35 дней

                  .cases__btns
                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad.open-modal(href="#") Хотим так же

            .swiper-slide
              .cases__item
                .cases__img(style="background: #1e222e url('img-temp/cases-1.jpg') no-repeat center center; background-size: cover;")

                .cases__info
                  h3.cases__title Установка сплит-систем для номерного фонда
                    br
                    |  отеля «Аквамарин», г. Севастополь

                  .cases__text
                    p
                      b Что сделано:
                      br
                      |  закупили, доставили и установили 250 сплит-систем  закупили, доставили

                  .cases__text
                    p
                      b Сроки:
                      |  35 дней

                  .cases__btns
                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad.open-modal(href="#") Хотим так же

        .cases__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next



  // /.scr_cases
