mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__info
          .logo__wrap
            if logotype == "a"
              #{logotype}.logo(href="index.html")
                img(src="img/svg/logo.svg" alt="лого")
            else
              #{logotype}.logo
                img(src="img/svg/logo.svg" alt="лого")

            p.logo__text Уникальное арт-пространство
              br
              |  трансформер в Крыму

          .footer__item
            p.footer__text г. Симферополь, ул. К. Маркса, 28
          .footer__item
            a.footer__link.open-modal(href="#") Смотреть на карте
          .footer__item
            a.footer__text(href="tel:+79782583795" rel="nofollow") +7 (978) 258-37-95

        .footer__menu
          ul.menu
            li.menu-item
              a(href="#") Выставки
            li.menu-item
              a(href="#") Концерты
            li.menu-item
              a(href="#") Вечеринки
            li.menu-item
              a(href="#") Конференции
            li.menu-item
              a(href="#") Лекции

          ul.menu
            li.menu-item
              a(href="#") Иммерсивный театр
            li.menu-item
              a(href="#") Презентации
            li.menu-item
              a(href="#") Открытая cреда
            li.menu-item
              a(href="#") Вечерний бар

      // /.footer__top
    // /.container

    .container
      .footer__socials
        +socials

    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
              a(href="#") Политика конфиденциальности
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

