mixin header(logotype)
  header.header(id="header")
    .header__menu
      ul.menu
        li.menu-item.menu-item-has-children
          a(href="#") О нас
            span.arrow
          ul.sub-menu
            li.menu-item
              a(href="#") о Соте
            li.menu-item
              a(href="#") команда
            li.menu-item
              a(href="#") партнеры
            li.menu-item
              a(href="#") правила арт-пространства

        li.menu-item.menu-item-has-children
          a(href="#") Для бизнеса
            span.arrow
          ul.sub-menu
            li.menu-item
              a(href="#") аренда
            li.menu-item
              a(href="#") конференц-сервис
            li.menu-item
              a(href="#") корпоративные мероприятия

        li.menu-item.menu-item-has-children
          a(href="#") Резиденты
            span.arrow
          ul.sub-menu
            li.menu-item
              a(href="#") DJ сэты
            li.menu-item
              a(href="#") ведущие
            li.menu-item
              a(href="#") группы

        li.menu-item.menu-item-has-children
          a(href="#") Календарь
            br
            |  мероприятий
            span.arrow
          ul.sub-menu
            li.menu-item
              a(href="#") выставки
            li.menu-item
              a(href="#") концерты
            li.menu-item
              a(href="#") вечеринки
            li.menu-item
              a(href="#") конференции
            li.menu-item
              a(href="#") лекции

        li.menu-item
          a(href="#") Новости

        li.menu-item
          a(href="#") Контакты

    .header__wrap
      button.burger#header__burger
        span.burger__wrap
          span.line
          span.line
          span.line


      .logo__wrap
        if logotype == "a"
          #{logotype}.logo(href="index.html")
            img(src="img/svg/logo.svg" alt="лого")
        else
          #{logotype}.logo
            img(src="img/svg/logo.svg" alt="лого")

        p.logo__text Цифровое арт-пространство
          br
          |  в Симферополе

      .header__btns
        .btn__wrap
          a.btn.btn--transparent(href="#")
            span Календарь мероприятий

      .header__info
        .header__phones
          a.btn.btn--circle.mobile(href="tel:+79782583795" rel="nofollow")
            i.fa.fa-phone
          a.header__phone.desktop(href="tel:+79782583795" rel="nofollow") +7 (978) 258-37-95
          a.header__phone.desktop(href="tel:+79782585844" rel="nofollow") +7 (978) 258 58 44


    // /.header__wrap



mixin header--second(logotype)
  header.header.header--second(id="header")
    .container
      .header__menu
        ul.menu
          li.menu-item.menu-item-has-children
            a(href="#") О нас
              span.arrow
            ul.sub-menu
              li.menu-item
                a(href="#") о Соте
              li.menu-item
                a(href="#") команда
              li.menu-item
                a(href="#") партнеры
              li.menu-item
                a(href="#") правила арт-пространства

          li.menu-item.menu-item-has-children
            a(href="#") Для бизнеса
              span.arrow
            ul.sub-menu
              li.menu-item
                a(href="#") аренда
              li.menu-item
                a(href="#") конференц-сервис
              li.menu-item
                a(href="#") корпоративные мероприятия

          li.menu-item.menu-item-has-children
            a(href="#") Резиденты
              span.arrow
            ul.sub-menu
              li.menu-item
                a(href="#") DJ сэты
              li.menu-item
                a(href="#") ведущие
              li.menu-item
                a(href="#") группы

          li.menu-item.menu-item-has-children
            a(href="#") Календарь
              br
              |  мероприятий
              span.arrow
            ul.sub-menu
              li.menu-item
                a(href="#") выставки
              li.menu-item
                a(href="#") концерты
              li.menu-item
                a(href="#") вечеринки
              li.menu-item
                a(href="#") конференции
              li.menu-item
                a(href="#") лекции

          li.menu-item
            a(href="#") Новости

          li.menu-item
            a(href="#") Контакты

      .header__wrap
        button.burger#header__burger
          span.burger__wrap
            span.line
            span.line
            span.line

        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              img(src="img/svg/logo.svg" alt="лого")
          else
            #{logotype}.logo
              img(src="img/svg/logo.svg" alt="лого")

        .header__menu-second
          ul.menu
            li.menu-item
              a(href="#") О нас

            li.menu-item
              a(href="#") Для бизнеса

            li.menu-item
              a(href="#") Резиденты

            li.menu-item
              a(href="#") Календарь мероприятий

            li.menu-item
              a(href="#") Новости

            li.menu-item
              a(href="#") Контакты


        .header__info
          .header__phones
            a.btn.btn--circle.mobile(href="tel:+79782583795" rel="nofollow")
              i.fa.fa-phone
            a.header__phone.desktop(href="tel:+79782583795" rel="nofollow") +7 (978) 258-37-95


    // /.header__wrap
