mixin scr1()
  section.scr1(id="scr1")
    .scr1__wrap
      .swiper-container.scr1-top#scr1__slider
        .swiper-wrapper.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
          .swiper-slide
            .scr1__slide-wrap
              .scr1__bg(style="background: transparent url(img/scr1-bg.jpg) no-repeat center center; background-size: cover;")
              .scr1__content
                h2.scr1__title Мультимедийная выставка
                  br
                  strong  «Ван Гог — Живые полотна»

                p.scr1__date 30 ноября — 25 декабря 2019, начало в 10:00

              .scr1__btns
                .btn__wrap.btn__wrap--arrow
                  a.btn.btn--arrow(href="#") Забронировать

          .swiper-slide
            .scr1__slide-wrap
              .scr1__bg(style="background: transparent url(img/scr1-bg-2.jpg) no-repeat center center; background-size: cover;")
              .scr1__content
                h2.scr1__title ПЕРФОМАНС БАР
                  br
                  strong  «Новый год в новом арт-пространстве»

                p.scr1__date Ночь с 31 декабря на 01 января 2020, начало в 23:00

              .scr1__btns
                .btn__wrap.btn__wrap--arrow
                  a.btn.btn--arrow(href="#") Забронировать

          .swiper-slide
            .scr1__slide-wrap
              .scr1__bg(style="background: transparent url(img/scr1-bg.jpg) no-repeat center center; background-size: cover;")
              .scr1__content
                h2.scr1__title Мультимедийная выставка

                p.scr1__date 30 ноября — 25 декабря 2019, начало в 10:00

              .scr1__btns
                .btn__wrap.btn__wrap--arrow
                  a.btn.btn--arrow(href="#") Купить билет

          .swiper-slide
            .scr1__slide-wrap
              .scr1__bg(style="background: transparent url(img/scr1-bg.jpg) no-repeat center center; background-size: cover;")
              .scr1__content
                h2.scr1__title Мультимедийная выставка

                p.scr1__date 30 ноября — 25 декабря 2019, начало в 10:00

              .scr1__btns
                .btn__wrap.btn__wrap--arrow
                  a.btn.btn--arrow(href="#") Купить билет

          .swiper-slide
            .scr1__slide-wrap
              .scr1__bg(style="background: transparent url(img/scr1-bg.jpg) no-repeat center center; background-size: cover;")
              .scr1__content
                h2.scr1__title Мультимедийная выставка

                p.scr1__date 30 ноября — 25 декабря 2019, начало в 10:00

              .scr1__btns
                .btn__wrap.btn__wrap--arrow
                  a.btn.btn--arrow(href="#") Купить билет


      .scr1__bottom
        .swiper-container.scr1-thumbs#scr1__slider-thumbs
          .swiper-wrapper
            .swiper-slide.wow.fadeInUp(data-wow-duration="0.7s" data-wow-delay="0.2s")
              .scr1__slide2-wrap
                p.scr1__slide-title 02 ноября
                p.scr1__slide-desc Мультимедийная выставка
                  br
                  |  «Ожившие полотна»
            .swiper-slide.wow.fadeInUp(data-wow-duration="0.7s" data-wow-delay="0.4s")
              .scr1__slide2-wrap
                p.scr1__slide-title 10 ноября
                p.scr1__slide-desc Тренинг от маркетингового
                  br
                  |  агентства «ArtLab»
            .swiper-slide.wow.fadeInUp(data-wow-duration="0.7s" data-wow-delay="0.6s")
              .scr1__slide2-wrap
                p.scr1__slide-title 15 ноября
                p.scr1__slide-desc Выставка современного
                  br
                  |  искусства «Naturally Naked»
            .swiper-slide.wow.fadeInUp(data-wow-duration="0.7s" data-wow-delay="0.8s")
              .scr1__slide2-wrap
                p.scr1__slide-title 30 ноября
                p.scr1__slide-desc Мультимедийная выставка
                  br
                  |  «Ван Гог - Живые полотна»
            .swiper-slide.wow.fadeInUp(data-wow-duration="0.7s" data-wow-delay="1s")
              .scr1__slide2-wrap
                p.scr1__slide-title 30 ноября
                p.scr1__slide-desc Мультимедийная выставка
                  br
                  |  «Ван Гог - Живые полотна»


        .slider__btns
          button.swiper-button-next
          .slider__counts
            span.slider__curr 1
            span.slider__sum 3
          button.swiper-button-prev

  // /.scr1
