mixin scr_rules()
  section.scr_rules.rules(id="scr_rules")
    .container
      .rules__df
        .rules__content
          .article
            p.desc SOTA Digital Art Space - мультифункциональное трансформирующееся цифровое арт-пространство, созданное в 2019 году для разработки и реализации мультимедийных проектов.

            h2
              strong
                big Вход на мероприятия
                  br
                  span  по билету/абонементу/пригласительному

        .rules__img
          noscript
            img.lazy(src="img-temp/img-rules.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-rules.jpg" alt="" width="125" height="90" data-object-fit-cover)

      .rules__grey
        .rules__content
          .article
            .rules__grey-top
              h2
                span Часы работы:

              p
                big Выставка с 12:00 до 17:00, каждый день.
                  br
                  |  Касса прекращает выдачу билетов за 1 час до закрытия.

              p
                big Вечерние мероприятия с 19:00 до 22:00, смотрите нашу
                  a(href="#")  афишу

            p В зале работают администратор, охранник, консультанты.
              br
              |  Обязанность наших сотрудников - обеспечивать максимально комфортные условия нахождения в арт-пространстве.
              br
              |  Вы всегда можете обратиться к ним за консультацией

      .rules__do
        .rules__content
          .article
            h2
              span Чем можно заниматься в нашем арт-пространстве:

            ul
              li Вы можете посетить любое наше мероприятие, предварительно
                br
                |  купив на него билет или воспользоваться абонементом.

              li Посидеть в интернете - WiFi у нас бесплатный!

              li Познакомиться с новыми интересными людьми.

              li Можно фотографировать, делать селфи, снимать видео для публикации в Ваших соцсетях с хештегами #SOTADigitalArtSpace #artSOTA.

              li На спецмероприятиях фото/видео-техникой пользоваться запрещено. Об этом Вас обязательно предупредят на входе

      .rules__more
        .rules__content
          .article
            h2
              span Подробно

            p Пропуском в SOTA Digital Art Space является билет (или его эквивалент - абонемент, пригласительный).
            p Возможность приобретать билеты открывается после прохождения&nbsp;
              a(href="#")
                strong регистрации
            p Дети до 12 лет могут находиться у нас только в присутствии сопровождающих старше 18 лет.
            p Администрация может отказать в посещении без объяснения причин.

            p
              strong Мы будем вынуждены отказать Вам в посещении, если:
            ul
              li Вы находитесь в состоянии сильного алкогольного/наркотического опьянения.
              li Вы ведете себя недружелюбно/неадекватно или вели в прошлые посещения. (На усмотрение администратора).
              li Вы нарушаете общественный порядок (На усмотрение администратора).
              li Вы совершаете противоправные действия.

      .rules__yellow
        h2 У нас запрещается:

        ul
          li Заниматься несанкционированной торговлей.
          li Проносить с собой алкоголь.
          li Нарушать УК и АК РФ.
          li Нарушать общественный порядок
            br
            |  (настоятельно не рекомендуем приставать к людям и портить материальное имущество).
          li Курить в местах, не предназначенных для этого.
          li Использование пиротехники.
          li Оспаривать решения администратора.
          li Находиться в местах, предназначенных только для персонала.
          li Отвлекать администратора от работы.
          li Передвигать мебель без согласования с администратором.
          li Использовать фото/видео-технику на мероприятиях, где фото/видео-съемка запрещена.

      .rules__adding
        .article
          p
            i Если Вы нарушаете правила нашего арт-пространства и работник зала делает Вам замечание на этот счет, вспомните, что мы всегда акцентируем внимание на просьбу ознакомиться со всем вышеперечисленным. Пожалуйста, не воспринимайте замечания работника зала, как личное оскорбление.

          p
            i SOTA Digital Art Space не несет ответственности за оставленные Вами вещи.

    .rules__bottom.grey-bg
      .container
        .rules__bottom-wrap
          .rules__content
            .article
              h2
                span Если Вы хотите:

              ul
                li Провести мероприятие (лекция, мастер-класс, семинар, форум,
                  br
                  |  деловое мероприятие, светское событие и др.);
                li Оставить отзыв или пожелание;
                li В случае спорной ситуации;

              p.rules__bottom-desc
                strong
                  big Вы можете
                    span  написать на нашу почту info@sotahub.ru,
                    |  Вам ответят!

              p
                em
                  strong Внимание!
                  br
                  |  Если вы не смогли посетить выставочное мероприятие в указанную на билете дату, не расстраивайтесь. Билет остается действителен в течение 30 дней с даты покупки. Для замены билета в день посещения (правило будни/выходные) обратитесь к администратору.

  // /.scr_rules
