mixin scr_feat()
  section.scr_feat.feat.grey-bg(id="scr_feat")
    .container
      ul.feat__list
        li.feat__item
          span.feat__icon
            img.icon(src="img/svg/icons/feat-1.svg", alt="Иконка")

          p.feat__text моментальная смена
            br
            |  30 экспозиций в один клик

        li.feat__item
          span.feat__icon
            img.icon(src="img/svg/icons/feat-2.svg", alt="Иконка")

          p.feat__text оптимизация пространства
            br
            |  под любые задачи

        li.feat__item
          span.feat__icon
            img.icon(src="img/svg/icons/feat-3.svg", alt="Иконка")

          p.feat__text полное погружение
            br
            |  в происходящее

  // /.scr_feat
