mixin scr_visit()
  section.scr_visit.visit(id="scr_visit")
    .visit__bg(style="background: transparent url(img/visit-bg.jpg) no-repeat center center; background-size: cover;")
    .container
      h2.title Планируйте свой визит

      .visit__df
        .visit__content
          .article
            p Дорогие друзья, приглашаем вас стать участниками нового образовательно-развлекательного проекта от холдинга «СИМФЕРО»

            p В Симферополе впервые открывает двери
            h3
              span цифровое арт-пространство «сота»

            p Здесь вас ожидают иммерсивные ШОУ, мультимедийные ВЫСТАВКИ современного и классического искусства, впечатляющие КОНЦЕРТЫ и другие удивительные СОБЫТИЯ.

            p
              strong
                span афиша
              |  включает дневные и вечерние мероприятия. В их числе детские, молодежные, спортивные, театральные, выставочные, образовательные, развлекательные программы.

            p А еще пространство цифрового арт-центра подходит для проведения деловых мероприятий и успешных бизнес-презентаций.

            p
              strong
                span сота
              |  - это новый формат городского досуга ДЛЯ творческих и активных людей ЛЮБОГО ВОЗРАСТА.

            p Следите за нашими новостями.
            p Желаем интересных и полезных визитов в СОТУ!




        .visit__video
          a.visit__video-link.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
            span.visit__video-bg
              img(src="img/visit-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

            span.visit__video-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")
            span.visit__video-play

          p.visit__info при покупке билетов на сайте —
            br
            strong  скидка 10%










  // /.scr_visit
