mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      .decor-wrap2
        .decor-wrap2__img
        .post__top.grey-bg
          .post__top-wrap
            +breadcrumbs--post

            h1.post__title На какие иммерсивные шоу стоит сходить этой зимой?

            .article
              time(datetime="")
                span 15 ноября

        .post__main
          .article.clearfix
            p Наступила зима. Москвичи и гости столицы достают из закромов гардероба шарфы и теплые свитера, и перестают проводить выходные, гуляя в парках и скверах города. Зима — лучшее время для того, чтобы посещать кино и музеи. А для тех, кто хочет открыть для себя что-то совершенно новое и получить незабываемые впечатления мы предлагаем посетить следующие иммерсивные шоу:
            p «Суини Тодд» — это «Гамлет в музыке». Зрители отмечают, что в этом мюзикле есть глубокий, непростой сюжет, есть непошлый юмор и сильная драматургия. И все это подкреплено роскошной и очень сложной музыкой.

            p
              strong
                big Ирина Апексимова, директор театра на Таганке:
                br
                |  Иммерсивные шоу – это отсутствие четвертой стены. Для людей, неискушенных театром, возможность понюхать, потрогать, где-то выпить, где-то посидеть рядом с артистами – будет чем-то необычным. В случае с нашим спектаклем, зритель становится жителем города Лондона и участником процесса: артисты играют в непосредственной близости, а действие происходит на 360°.

            p У нас есть еще так называемые симультанные декорации. В театре принято, что место действия определяют декорации.
              br
              |  В спектакле «Суини Тодд маньяк-цирюльник с Флит-стрит» они выстроены все сразу и не меняются.
              br
              br
              |  Этот спектакль соткан из сложных решений и экспериментальных идей. Мы сделали все для того, чтобы зритель был максимально погружен в действие, которое происходит вокруг него, и у нас это получилось.

            .post__slider.slider1#post__slider
              .swiper-wrapper
                .swiper-slide
                  a.fancybox.post__img(href="img-temp/insta/img-1.jpg" data-fancybox-group="post")
                    img(src="img-temp/insta/img-1.jpg", alt="" data-object-fit-cover)
                .swiper-slide
                  a.fancybox.post__img(href="img-temp/insta/img-2.jpg"  data-fancybox-group="post")
                    img(src="img-temp/insta/img-2.jpg", alt="" data-object-fit-cover)
                .swiper-slide
                  a.fancybox.post__img(href="img-temp/insta/img-3.jpg"  data-fancybox-group="post")
                    img(src="img-temp/insta/img-3.jpg", alt="" data-object-fit-cover)


              .slider__btns
                button.swiper-button-next
                .slider__dots
                button.swiper-button-prev

            h2
              span почему?

            h2 Зима — лучшее время для того,
              br
              |  чтобы посещать кино и музеи

            p Приятно, граждане, наблюдать, как явные признаки победы институционализации преданы социально-демократической анафеме. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: перспективное планирование предоставляет широкие возможности для глубокомысленных рассуждений. Господа, дальнейшее развитие различных форм деятельности не оставляет шанса для прогресса профессионального сообщества.

            h2
              span Ближайшие даты:

            p 04 декабря в 19:00
            p 05 декабря в 19:00
            p 06 декабря в 19:00


  // /.scr_post
