mixin scr_team()
  section.scr_team.team(id="scr_team")
    .container
      .team__cont
        .team__top
          ul.team__tabs
            li.team__tab#team__tab-0
              .team__tab-wrap
                .team__photo
                  .team__photo-front
                    noscript
                      img.lazy(src="img-temp/team/img-2.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-2.png" alt="" width="125" height="90")
                  .team__photo-back
                    noscript
                      img.lazy(src="img-temp/team/img-2-hover.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-2-hover.png" alt="" width="125" height="90")

                .team__title-cont
                  .team__title-wrap
                    p.team__name
                      strong  Евгений Дегтяренко
                      br
                      a(href="tel:+79785002828" rel="nofollow")
                        strong  +7 978 500 28 28
                    p.team__job Директор

                    p
                      a(href="mailto:mice@sotahub.ru") mice@sotahub.ru

            li.team__tab#team__tab-1
              .team__tab-wrap
                .team__photo
                  .team__photo-front
                    noscript
                      img.lazy(src="img-temp/team/img-3.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-3.png" alt="" width="125" height="90")
                  .team__photo-back
                    noscript
                      img.lazy(src="img-temp/team/img-3-hover.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-3-hover.png" alt="" width="125" height="90")

                .team__title-cont
                  .team__title-wrap
                    p.team__name
                      strong  Евгений Дегтяренко
                      br
                      a(href="tel:+79785002828" rel="nofollow")
                        strong  +7 978 500 28 28
                    p.team__job Директор

                    p
                      a(href="mailto:mice@sotahub.ru") mice@sotahub.ru

            li.team__tab#team__tab-2
              .team__tab-wrap
                .team__photo
                  .team__photo-front
                    noscript
                      img.lazy(src="img-temp/team/img-4.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-4.png" alt="" width="125" height="90")
                  .team__photo-back
                    noscript
                      img.lazy(src="img-temp/team/img-4.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-4.png" alt="" width="125" height="90")

                .team__title-cont
                  .team__title-wrap
                    p.team__name
                      strong  Евгений Дегтяренко
                      br
                      a(href="tel:+79785002828" rel="nofollow")
                        strong  +7 978 500 28 28
                    p.team__job Директор

                    p
                      a(href="mailto:mice@sotahub.ru") mice@sotahub.ru

            li.team__tab#team__tab-3
              .team__tab-wrap
                .team__photo
                  .team__photo-front
                    noscript
                      img.lazy(src="img-temp/team/img-5.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-5.png" alt="" width="125" height="90")
                  .team__photo-back
                    noscript
                      img.lazy(src="img-temp/team/img-5-hover.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-5-hover.png" alt="" width="125" height="90")

                .team__title-cont
                  .team__title-wrap
                    p.team__name
                      strong  Евгений Дегтяренко
                      br
                      a(href="tel:+79785002828" rel="nofollow")
                        strong  +7 978 500 28 28
                    p.team__job Директор

                    p
                      a(href="mailto:mice@sotahub.ru") mice@sotahub.ru

            li.team__tab#team__tab-4
              .team__tab-wrap
                .team__photo
                  .team__photo-front
                    noscript
                      img.lazy(src="img-temp/team/img-6.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-6.png" alt="" width="125" height="90")
                  .team__photo-back
                    noscript
                      img.lazy(src="img-temp/team/img-6-hover.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-6-hover.png" alt="" width="125" height="90")

                .team__title-cont
                  .team__title-wrap
                    p.team__name
                      strong  Евгений Дегтяренко
                      br
                      a(href="tel:+79785002828" rel="nofollow")
                        strong  +7 978 500 28 28
                    p.team__job Директор

                    p
                      a(href="mailto:mice@sotahub.ru") mice@sotahub.ru



        .team__list.swiper-container#team__slider
          .swiper-wrapper
            .swiper-slide
              .team__item
                a.team__wrap.active(href="#team__tab-0")
                  .team__hexa
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#team-hexa")

                  h3.team__title Евгений
                    br
                    |  Дегтяренко
                  p.team__job Директор

            .swiper-slide
              .team__item
                a.team__wrap(href="#team__tab-1")
                  .team__hexa
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#team-hexa")

                  h3.team__title Виталий
                    br
                    |  Чеботарев
                  p.team__job Менеджер по связям
                    br
                    |  с организаторами
                    br
                    |  мероприятий

            .swiper-slide
              .team__item
                a.team__wrap(href="#team__tab-2")
                  .team__hexa
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#team-hexa")

                  h3.team__title Вильдан
                    br
                    |  Милушев
                  p.team__job Продюссер

            .swiper-slide
              .team__item
                a.team__wrap(href="#team__tab-3")
                  .team__hexa
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#team-hexa")

                  h3.team__title Ольга
                    br
                    |  Бородина
                  p.team__job Менеджер по связям
                    br
                    |  с общественностью

            .swiper-slide
              .team__item
                a.team__wrap(href="#team__tab-4")
                  .team__hexa
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#team-hexa")

                  h3.team__title Татьяна
                    br
                    |  Никич
                  p.team__job Управляющий

          .slider__btns
            button.swiper-button-next
            .slider__dots
            button.swiper-button-prev

  // /.scr_team
