mixin scr_led()
  section.scr_led.led(id="scr_led")
    .container
      .led__desc
        p Все стены пространства —
          br
          span.accent
            strong 30
            |  проекционных видеоэкранов
          br
          |  (4х6 м)

        p
          span.accent Над сценой фронтальный LED-экран
            br
            |  повышенной чёткости и контрастности
          br
          |  (P 2,5 мм, 768x2048 пикс, размер 1,92x5,12 м,
          br
          |  соотношение сторон 3x8)

  // /.scr_led
