mixin scr_poster()
  section.scr_poster.poster(id="scr_poster")
    .container
      .decor-wrap2
        .decor-wrap2__img
        .poster__top.grey-bg
          +breadcrumbs

          .poster__info
            h1.poster__title Кибер-карнавал
              br
              |  новогодняя ночь в новом
              br
              |  арт-пространстве

            .article
              p
                strong
                  span  31 декабря

                |  Сбор гостей в
                strong
                  |&nbsp;
                  span 21:00

              p Начало праздничного шоу в
                strong
                  |&nbsp;
                  span 23:00

        .poster__main
          .poster__info
            .article
              p Новый год в стиле КИБЕР-КАРНАВАЛ в новом
                br
                |  арт-пространстве SOTA!

              p На фоне постоянно меняющихся видео-декораций
                br
                |  с технологиями 3D-мэйпинга и Cinema 360

              p Перформанс-бар и розыгрыши подарков

              p Новогоднее меню от нашего партнера - лучшего
                br
                |  ресторана Симферополя «СИМФЕРО»

            .poster__btns
              .btn__wrap.btn__wrap--arrow
                a.btn.btn--arrow(href="#") Забронировать

          .poster__img
            noscript
              img.lazy(src="img/poster-img.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/poster-img.jpg" alt="" width="125" height="90")


        .poster__people.grey-bg
          ul.poster__people-list
            li.poster__people-item
              .article
                p Популярные московские диджеи
                p.poster__people-name
                  span DJ Ivan Roudyk и DJ Nils

            li.poster__people-item
              .article
                p Ведущие иммерсивного шоу
                p.poster__people-name
                  span Таня Никич и Мия Зарринг

        .poster__bottom
          p Подробности и забронировать столик:
            br
            a(href="tel:+79782585844" rel="nofollow") +7 (978) 258-58-44
            | ,
            a(href="tel:+79785002828" rel="nofollow")  +7 (978) 500-28-28


  // /.scr_poster
