mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    .container
      .partners__df
        .partners__text
          .partners__desc
            p
              big Нас выбирают
              br
              |  лидеры ключевых отраслей

          ul.partners__text-list
            li Городская администрация
            li Международная логистика
            li Здравоохранение
            li Финансы
            li Коммуникации
            li Образование
            li Производство
            li Строительство


        .partners__wrap
          ul.partners__list
            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-3.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-4.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-4.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-5.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-5.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-6.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-6.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-7.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-7.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-8.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-8.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-9.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-9.png" alt="" width="125" height="90" data-object-fit-contain)

          ul.partners__list.partners__list--bottom
            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-10.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-10.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-11.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-11.png" alt="" width="125" height="90" data-object-fit-contain)

            li.partners__item
              .partners__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#partners-hexa")
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-12.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-12.png" alt="" width="125" height="90" data-object-fit-contain)


        .partners__bottom
          .article
            p
              span сота центр —
              br
              |  место встречи лидеров,
              br
              |  формирующих экосистему
              br
              |  развития полуострова

  // /.scr_partners
