mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .container
      h2.title Мы в Инстаграм

      .insta__wrap
        ul.insta__list
          li.insta__item
            a.insta__link(href="#" rel="nofollow")
              span.insta__link-wrap

              span.insta__text #sota_simferopol

          li.insta__item
            a.insta__img.fancybox(href="img-temp/insta/img-1.jpg"  data-fancybox-group="insta")
              noscript
                img.lazy(src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.insta__item
            a.insta__img.fancybox(href="img-temp/insta/img-2.jpg"  data-fancybox-group="insta")
              noscript
                img.lazy(src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.insta__item
            a.insta__img.fancybox(href="img-temp/insta/img-3.jpg"  data-fancybox-group="insta")
              noscript
                img.lazy(src="img-temp/insta/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

  // /.scr_insta
