mixin scr_tabs()
  section.scr_tabs.tabs(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item.active
            a(href="#")
              span аренда
          li.tabs__item
            a(href="#")
              span конференц-сервис
          li.tabs__item
            a(href="#")
              span корпоративные мероприятия


        h2.title--second
          span аренда Digital Art Space

  // /.scr_tabs

mixin scr_tabs--conf()
  section.scr_tabs.tabs(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item
            a(href="#")
              span аренда
          li.tabs__item.active
            a(href="#")
              span конференц-сервис
          li.tabs__item
            a(href="#")
              span корпоративные мероприятия


        h2.title--second
          span конференц-сервис

  // /.scr_tabs

mixin scr_tabs--corp()
  section.scr_tabs.tabs(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item
            a(href="#")
              span аренда
          li.tabs__item
            a(href="#")
              span конференц-сервис
          li.tabs__item.active
            a(href="#")
              span корпоративные мероприятия


        h2.title--second
          span корпоративные мероприятия

  // /.scr_tabs


mixin scr_tabs--about()
  section.scr_tabs.tabs.tabs--about(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap.decor-wrap--about

        ul.tabs__list
          li.tabs__item.active
            a(href="#")
              span о Соте
          li.tabs__item
            a(href="#")
              span команда
          li.tabs__item
            a(href="#")
              span партнёры
          li.tabs__item
            a(href="#")
              span правила арт-пространства


        h2.title--second
          span SOTA Digital Art Space

        .tabs__desc
          p SOTA Digital Art Space - мультифункциональное трансформирующееся цифровое арт-пространство, созданное в 2019 году для разработки и реализации мультимедийных проектов. Сочетание передовых технологий на стыке мультимедийных, кинематографических и интерактивных решений, позволяет привлекать внимание Зрителя и повышает степень восприятия на новый уровень.
          p Комплексное инженерное решение SOTA Digital Art Space объединяет в себе мобильные модульные подвесные конструкции, динамическое сценическое освещение, акустическую систему 5.1, панорамный проекционный экран, студию производства и онлайн-монтажа видео в формате Cinema 360° и позволяет оптимизировать пространство цифрового арт-центра под любые задачи в сфере демонстрации и ре/презентации.

  // /.scr_tabs


mixin scr_tabs--rules()
  section.scr_tabs.tabs.tabs--about.tabs--rules(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap.decor-wrap--about

        ul.tabs__list
          li.tabs__item
            a(href="#")
              span о Соте
          li.tabs__item
            a(href="#")
              span команда
          li.tabs__item
            a(href="#")
              span партнёры
          li.tabs__item.active
            a(href="#")
              span правила арт-пространства


        h2.title--second
          span правила SOTA Digital Art Space



  // /.scr_tabs

mixin scr_tabs--partners()
  section.scr_tabs.tabs.tabs--about.tabs--rules(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item
            a(href="#")
              span о Соте
          li.tabs__item
            a(href="#")
              span команда
          li.tabs__item.active
            a(href="#")
              span партнёры
          li.tabs__item
            a(href="#")
              span правила арт-пространства


        h2.title--second
          span партнеры Digital Art Space


  // /.scr_tabs

mixin scr_tabs--team()
  section.scr_tabs.tabs.tabs--about.tabs--rules.tabs--team(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item
            a(href="#")
              span о Соте
          li.tabs__item.active
            a(href="#")
              span команда
          li.tabs__item
            a(href="#")
              span партнёры
          li.tabs__item
            a(href="#")
              span правила арт-пространства


        h2.title--second
          span команда Digital Art Space


  // /.scr_tabs
