mixin scr_tabs()
  section.scr_tabs.tabs(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item.active
            a(href="#")
              span аренда
          li.tabs__item
            a(href="#")
              span конференц-сервис
          li.tabs__item
            a(href="#")
              span корпоративные мероприятия


        h2.title--second
          span аренда Digital Art Space

  // /.scr_tabs

mixin scr_tabs--conf()
  section.scr_tabs.tabs(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item
            a(href="#")
              span аренда
          li.tabs__item.active
            a(href="#")
              span конференц-сервис
          li.tabs__item
            a(href="#")
              span корпоративные мероприятия


        h2.title--second
          span конференц-сервис

  // /.scr_tabs

mixin scr_tabs--corp()
  section.scr_tabs.tabs(id="scr_tabs")
    .container
      .tabs__wrap.decor-wrap

        ul.tabs__list
          li.tabs__item
            a(href="#")
              span аренда
          li.tabs__item
            a(href="#")
              span конференц-сервис
          li.tabs__item.active
            a(href="#")
              span корпоративные мероприятия


        h2.title--second
          span корпоративные мероприятия

  // /.scr_tabs
