mixin scr_corp-photos()
  section.scr_corp-photos.corp-photos.grey-bg(id="scr_corp-photos")
    .container
      .swiper-container.corp-photos__slider#corp-photos__slider
        .swiper-wrapper
          .swiper-slide.corp-photos__slide
            a.corp-photos__img.fancybox(href="img-temp/photos/img-1.jpg" data-fancybox-group="corp-photos")
              noscript
                img.lazy(src="img-temp/photos/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/photos/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .swiper-slide.corp-photos__slide
            a.corp-photos__img.fancybox(href="img-temp/photos/img-2.jpg" data-fancybox-group="corp-photos")
              noscript
                img.lazy(src="img-temp/photos/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/photos/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .swiper-slide.corp-photos__slide
            a.corp-photos__img.fancybox(href="img-temp/photos/img-3.jpg" data-fancybox-group="corp-photos")
              noscript
                img.lazy(src="img-temp/photos/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/photos/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .swiper-slide.corp-photos__slide
            a.corp-photos__img.fancybox(href="img-temp/photos/img-1.jpg" data-fancybox-group="corp-photos")
              noscript
                img.lazy(src="img-temp/photos/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/photos/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .swiper-slide.corp-photos__slide
            a.corp-photos__img.fancybox(href="img-temp/photos/img-2.jpg" data-fancybox-group="corp-photos")
              noscript
                img.lazy(src="img-temp/photos/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/photos/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .swiper-slide.corp-photos__slide
            a.corp-photos__img.fancybox(href="img-temp/photos/img-3.jpg" data-fancybox-group="corp-photos")
              noscript
                img.lazy(src="img-temp/photos/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/photos/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

  // /.scr_corp-photos
