mixin scr_events()
  section.scr_events.events(id="scr_events")
    .container
      .events__top
        h2.title Лучшие события

        a(href="#").link Смотреть полный календарь
          i.link__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

      ul.events__nav
        li
          a(href="#events__tab-0") Выставки
        li
          a(href="#events__tab-1") Концерты
        li
          a(href="#events__tab-2") Вечеринки
        li
          a(href="#events__tab-3") Конференции
        li
          a(href="#events__tab-4") Лекции
        li.active
          a(href="#events__tab-5") Иммерсивный театр
        li
          a(href="#events__tab-6") Презентации
        li
          a(href="#events__tab-7") Открытая cреда
        li
          a(href="#events__tab-8") Вечерний бар

      ul.events__tabs
        li.events__tab#events__tab-0
          ul.events__list
            li.events__item.events__item--photo
              a.events__wrap(href="#")
                .events__img
                  img(src="img-temp/events/img-1.jpg", alt="Событие", data-object-fit-cover-top)

                time(datetime="2019-12-31") 31 декабря 2019

                .events__bottom
                  h3.events__title Официальное
                    br
                    |  открытие

                  .events__desc
                    p Вечеринка для своих
                      br
                      |  По приглашениям

            li.events__item.events__item--text
              a.events__wrap(href="#")

                time(datetime="2019-11-15") 15 ноября

                .events__bottom
                  h3.events__title Правдивая и полная
                    br
                    |  история Джека
                    br
                    |  Потрошителя

                  .events__desc
                    p Иммерсивный спектакль-эссе
                      br
                      |  о взаимодействии человека
                      br
                      |  с темой насилия.

            li.events__item.events__item--photo
              a.events__wrap(href="#")
                .events__img
                  img(src="img-temp/events/img-3.jpg", alt="Событие", data-object-fit-cover-top)

                time(datetime="2019-12-31") 31 декабря 2019

                .events__bottom
                  h3.events__title Официальное
                    br
                    |  открытие

                  .events__desc
                    p Вечеринка для своих
                      br
                      |  По приглашениям

            li.events__item.events__item--text
              a.events__wrap(href="#")

                time(datetime="2019-11-15") 15 ноября

                .events__bottom
                  h3.events__title Правдивая и полная
                    br
                    |  история Джека
                    br
                    |  Потрошителя

                  .events__desc
                    p Иммерсивный спектакль-эссе
                      br
                      |  о взаимодействии человека
                      br
                      |  с темой насилия.


            li.events__item.events__item--photo
              a.events__wrap(href="#")
                .events__img
                  img(src="img-temp/events/img-2.jpg", alt="Событие", data-object-fit-cover-top)

                time(datetime="2019-12-31") 31 декабря 2019

                .events__bottom
                  h3.events__title Официальное
                    br
                    |  открытие

                  .events__desc
                    p Вечеринка для своих
                      br
                      |  По приглашениям

            li.events__item.events__item--text
              a.events__wrap(href="#")

                time(datetime="2019-11-15") 15 ноября

                .events__bottom
                  h3.events__title Правдивая и полная
                    br
                    |  история Джека
                    br
                    |  Потрошителя

                  .events__desc
                    p Иммерсивный спектакль-эссе
                      br
                      |  о взаимодействии человека
                      br
                      |  с темой насилия.

        li.events__tab#events__tab-1
          ul.events__list
            li.events__item.events__item--photo
              a.events__wrap(href="#")
                .events__img
                  img(src="img-temp/events/img-1.jpg", alt="Событие", data-object-fit-cover-top)

                time(datetime="2019-12-31") 31 декабря 2019

                .events__bottom
                  h3.events__title Официальное
                    br
                    |  открытие

                  .events__desc
                    p Вечеринка для своих
                      br
                      |  По приглашениям

            li.events__item.events__item--text
              a.events__wrap(href="#")

                time(datetime="2019-11-15") 15 ноября

                .events__bottom
                  h3.events__title Правдивая и полная
                    br
                    |  история Джека
                    br
                    |  Потрошителя

                  .events__desc
                    p Иммерсивный спектакль-эссе
                      br
                      |  о взаимодействии человека
                      br
                      |  с темой насилия.

            li.events__item.events__item--photo
              a.events__wrap(href="#")
                .events__img
                  img(src="img-temp/events/img-1.jpg", alt="Событие", data-object-fit-cover-top)

                time(datetime="2019-12-31") 31 декабря 2019

                .events__bottom
                  h3.events__title Официальное
                    br
                    |  открытие

                  .events__desc
                    p Вечеринка для своих
                      br
                      |  По приглашениям

            li.events__item.events__item--text
              a.events__wrap(href="#")

                time(datetime="2019-11-15") 15 ноября

                .events__bottom
                  h3.events__title Правдивая и полная
                    br
                    |  история Джека
                    br
                    |  Потрошителя

                  .events__desc
                    p Иммерсивный спектакль-эссе
                      br
                      |  о взаимодействии человека
                      br
                      |  с темой насилия.


            li.events__item.events__item--photo
              a.events__wrap(href="#")
                .events__img
                  img(src="img-temp/events/img-1.jpg", alt="Событие", data-object-fit-cover-top)

                time(datetime="2019-12-31") 31 декабря 2019

                .events__bottom
                  h3.events__title Официальное
                    br
                    |  открытие

                  .events__desc
                    p Вечеринка для своих
                      br
                      |  По приглашениям

            li.events__item.events__item--text
              a.events__wrap(href="#")

                time(datetime="2019-11-15") 15 ноября

                .events__bottom
                  h3.events__title Правдивая и полная
                    br
                    |  история Джека
                    br
                    |  Потрошителя

                  .events__desc
                    p Иммерсивный спектакль-эссе
                      br
                      |  о взаимодействии человека
                      br
                      |  с темой насилия.



  // /.scr_events
