mixin scr_format()
  section.scr_format.format(id="scr_format")
    .container
      h2.title--second
        span формат мультимедиа и возможности

      .format__desc
        p Возможность рассмотреть мельчайшие детали изображений/видео-презентаций
          br
          |  30 видео-проекционных экранов с технологией Сinema 360 круговая проекция
          br
          |  фото и видео по всему периметру зала

      ul.format__list
        li.format__item
          .format__img
            noscript
              img.lazy(src="img/format-img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/format-img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

          p.format__title Кинопоказ

        li.format__item
          .format__img
            noscript
              img.lazy(src="img/format-img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/format-img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

          p.format__title ток-шоу

        li.format__item
          .format__img
            noscript
              img.lazy(src="img/format-img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/format-img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

          p.format__title фешн показ


  // /.scr_format
