mixin scr_visit()
  section.scr_visit.visit(id="scr_visit")
    .visit__bg(style="background: transparent url(img/visit-bg.jpg) no-repeat center center; background-size: cover;")
    .container
      h2.title Планируйте свой визит

      .visit__df
        .visit__content
          p.visit__date 30 ноября — 25 декабря 2019, начало в 10:00
          p.visit__text Дорогие друзья, приглашаем Вас на мультимедийные
            br
            |  иммерсивные выставки:

          p.visit__event
            span «Ван Гог - Живые полотна»

          p.visit__event
            span «Густав Климт. Золото модерна»

          p.visit__text В стоимость билета входит просмотр 2-х данных выставок,
            br
            |  а также посещение выставки современного искусства

          p.visit__event
            span «Медиатор»

          p.visit__text Следите за расписанием.
            br
            |  Желаем Вам приятного просмотра!


        .visit__video
          a.visit__video-link.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
            span.visit__video-bg
              img(src="img/visit-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

            span.visit__video-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")
            span.visit__video-play

          p.visit__info при покупке билетов на сайте —
            br
            strong  скидка 10%










  // /.scr_visit
