mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__df.about__grey.about__df--first
        .about__content
          .article
            h2
              span Cinema 360° проекторы

            p Благодаря уникальной технологии Cinema 360° проекторы синхронно выводят изображения и видео на стены, превращающиеся в панорамный экран, а музыка или голос рассказчика, ведущего или спикера позволяет Зрителям видеть всё в мельчайших деталях и полностью погрузиться в атмосферу происходящего мультимедиа-события.

            p Взаимодействие Зрителя с мультимедиа-контентом проектов SOTA Digital Art Space в любой их форме позволяет по-новому взглянуть на способы демонстрации любых изображений, видео, презентаций, объектов искусства/истории и гармонично сочетает в себе обучение с развлечением.

            p Режиссура, драматургия и атмосфера мультимедиа-проектов SOTA Digital Art Space объединяют в себе оживающие изображения, панорамное видео и выступления рассказчика, ведущего мероприятия, спикера, DJ и музыкальной группы.

        .about__img.about__img--yellow
          noscript
            img.lazy(src="img-temp/about/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

      .decor-wrap2
        .about__df.about__df--second
          .about__img
            noscript
              img.lazy(src="img-temp/about/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .about__yellow-wrap
            .about__yellow
              .article
                p.about__desc
                  big
                    strong Цифровой мир
                    |  - язык современного поколения, ставший неотъемлемой частью нашей жизни

                p Наша главная цель - создание мультимедийных проектов на новом уровне восприятия, понимания, осознания и обучения в формате развлечения.

                p Мультимедийные проекты SOTA Digital Art Space - всегда яркие и захватывающие зрелища, созданные привлекать и деликатно удерживать внимание, и заставляют  Зрителей испытывать новые эмоции и сопереживать происходящему.

      .decor-wrap3
        .about__df.about__grey.about__df--three
          .about__content
            .article
              h2
                span Команда SOTA Digital Art Space

              p Команда SOTA Digital Art Space открыта для развития и партнёрства и применяет полученный опыт в совместных проектах с музеями, учебными и образовательными учреждениями, государственными компаниями и корпорациями для создания и распространения мультимедийных проектов различного содержания и масштаба.

              .about__links
                a(href="#")
                  span познакомиться с командой

          .about__img
            noscript
              img.lazy(src="img-temp/about/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)


  // /.scr_about
