mixin scr_cta()
  section.scr_cta.cta(id="scr_cta")
    .container
      .cta__df
        p.cta__title подписка на новости

        .cta__form
          .form.wpcf7
            form.wpcf7-form
              .form__df
                .form__col
                  .form__item
                    span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш e-mail')
                      i.input-icon
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-mail")

                .form__col
                  .form__item.form__item--submit
                    .btn__wrap.btn__wrap--arrow
                      button.wpcf7-form-control.wpcf7-submit.btn.btn--arrow(type='submit') Подписаться на рассылку

  // /.scr_cta
