mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      .contacts__df
        .contacts__content
          h1.title Контакты

          .contacts__rows
            .contacts__row.contacts__row--headings
              .contacts__col
                h2.contacts__title Адрес:
              .contacts__col
                h2.contacts__title Телефон:
              .contacts__col
                h2.contacts__title Время работы:

            .contacts__row
              .contacts__col
                .contacts__text
                  p г. Симферополь,
                    br
                    |  ул. К. Маркса, 28
              .contacts__col
                .contacts__text
                  a(href="tel:+79782583795" rel="nofollow") +7 (978) 258-37-95
              .contacts__col
                .contacts__text
                  p Пн - Пт с 10:00 до 20:00
                    br
                    |  Сб - Вс с 10:00 до 22:00

            .contacts__row
              .contacts__col
                .contacts__text
                  p г. Москва,
                    br
                    |  ул. Пушкина, 12
              .contacts__col
                .contacts__text
                  a(href="tel:+79001234567" rel="nofollow") +7 (900) 123-45-67
              .contacts__col
                .contacts__text
                  p Пн - Пт с 10:00 до 20:00
                    br
                    |  Сб - Вс с 10:00 до 22:00

          .contacts__socials
            a.contacts__socials-link(href='#', rel='nofollow', target='_blank')
              span.contacts__hexa
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#cont-hexa")
              i.fa.fa-vk
            a.contacts__socials-link(href='#', rel='nofollow', target='_blank')
              .contacts__hexa
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#cont-hexa")
              i.fa.fa-facebook
            a.contacts__socials-link(href='#', rel='nofollow', target='_blank')
              span.contacts__hexa
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#cont-hexa")
              i.fa.fa-youtube-play
            a.contacts__socials-link(href='#', rel='nofollow', target='_blank')
              span.contacts__hexa
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#cont-hexa")
              i.fa.fa-instagram



        .contacts__form
          .form.form--general.form--grey.grey-bg.wpcf7
            form.wpcf7-form
              p.form__title вопрос или предложение
                br
                |  по сотрудничеству

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ф.И.О.')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-msg.text-input.textarea-input.text-input--icon
                  label(for="msg-ta")
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-msg")
                  textarea#msg-ta.wpcf7-form-control.wpcf7-textarea(name='your-review', cols='40', rows='10', aria-invalid='false', placeholder='Сообщение')

              .form__item
                .btn__wrap.btn__wrap--arrow.btn__wrap--black
                  button.btn.btn--black.btn--arrow(type='submit') Отправить

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon


    .contacts__map#contacts__map(style="background: transparent url('img/map.jpg') no-repeat center center; background-size: cover;")




  // /.scr_contacts
