mixin scr_info()
  section.scr_info.info.info--rent.grey-bg(id="scr_info")
    .info__bg
      noscript
        img.lazy(src="img/info-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/info-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
    .container
      .info__content
        .article
          p Вы можете организовать в нашем цифровом арт-пространстве конференцию, презентацию и любого формата корпоративное мероприятие, включая день рождения компании.

          .info__list
            h3 мы поможем на всех этапах:

            ul
              li.info__list-item
                .info__list-icon
                  img(src="img/svg/icons/info1.svg", alt="Иконка")
                .info__list-text
                  p
                    strong
                      span от концепции
              li.info__list-item
                .info__list-icon
                  img(src="img/svg/icons/info2.svg", alt="Иконка")
                .info__list-text
                  p
                    strong
                      span до постпродакшена

  // /.scr_info

mixin scr_info--conf()
  section.scr_info.info.info--conf.grey-bg(id="scr_info")
    .info__bg
      noscript
        img.lazy(src="img/info-bg-conf.jpg" alt="" width="125" height="90" data-object-fit-cover)
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/info-bg-conf.jpg" alt="" width="125" height="90" data-object-fit-cover)
    .container
      .info__content
        .article
          h3
            strong
              span конференция, семинар, презентация, саммит, конгресс, официальный приём

          p Расположенное в историческом центре Симферополя, неподалёку от здания Государственного Совета Республики, SOTA Digital Art Space обладает всеми возможностями для организации и проведения ярких презентаций, конференций, саммитов, конгрессов, официальных приёмов на высоком международном уровне и самых запоминающихся мероприятий и встреч.

          p Просторное и отлично освещённое комфортабельное с исключительно приятной атмосферой, дизайнерским интерьером, современными конференц-технологиями и площадью 500 м2 идеально подходит как для уединённых камерных собраний, так и масштабных деловых встреч до 300 Гостей.

  // /.scr_info

mixin scr_info--corp()
  section.scr_info.info.info--corp.grey-bg(id="scr_info")
    .info__bg
      noscript
        img.lazy(src="img/info-bg-corp.jpg" alt="" width="125" height="90" data-object-fit-cover)
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/info-bg-corp.jpg" alt="" width="125" height="90" data-object-fit-cover)
    .container
      .info__content
        .article
          h3
            strong
              span Уникальный сценарий и профессиональные
                br
                |  артисты на корпоратив:

          p.big необычная встреча гостей, анимация в зале, шоу-программа на сцене, интерактивный спектакля и участие  костюмированных артистов в корпоративной дискотеке.

          p Необычное приветствие гостей, анимация в зале, взаимодействие со зрителем  30 минут – 1 час. Возможно участие артистов оригинального жанра (живые статуи, фокусники, жонглёры, воздушные гимнасты, великаны на ходулях и т.д.).

          p Формат участия Вашего мероприятия с профессиональной театральной командой SOTA Digital Art Space может варьироваться от выступления на сцене в качестве встречи гостей, анимации в зале, перформанс Гоу-Гоу до постановочного шоу и костюмированной вечеринки. Каждый раз это уникальное действо. Незабываемое, позитивное и яркое.

  // /.scr_info
