mixin script-map()
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" unselectable="on" scroll="false")
  script.
    (function($){
      createMap('contacts__map',[44.953168, 34.095116]);

      function createMap(xID,coords) {

        if ($("#" + xID + "").length > 0) {

          var myMap;

          // Дождёмся загрузки API и готовности DOM.
          ymaps.ready(init);

          function init () {
              myMap = new ymaps.Map(xID, {
                  center: coords,
                  zoom: 18
              }, {
                  searchControlProvider: 'yandex#search'
              });

              // Создаём макет содержимого.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),

                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    hintContent: 'адрес',
                    balloonContent: 'ул. К. Маркса, 28'
                }, {
                  // Опции.
                  // Необходимо указать данный тип макета.
                  iconLayout: 'default#image',
                  // Своё изображение иконки метки.
                  iconImageHref: 'img/svg/pin.svg',
                  // Размеры метки.
                  iconImageSize: [41, 51],
                  // Смещение левого верхнего угла иконки относительно
                  // её "ножки" (точки привязки).
                  iconImageOffset: [-15, -60]
                });

            myMap.geoObjects
                .add(myPlacemark);

            myMap.behaviors.disable('scrollZoom');
          }
        }
      }

    })(jQuery);
