.breadcrumbs
  position: relative
  padding-top: 15px
  padding-bottom: 14px
  ol
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      display: inline-block

      a,
      span span
        text-decoration: none
        font-size: 16px
        transition: 0.3s
        &[href]:hover
          color: $accent2

      &:not(:last-of-type)
        &::after
          content: '/'
          margin: 2px 4px


  @media screen and (max-width: 500px)
    ol
      li
        a,
        span span
          font-size: 14px
        &:not(:last-of-type)
          &::after
            margin: 1px 3px

  // max-width 500px

/* breadcrumbs */
