.pager
  position: relative
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  padding-top: 30px
  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    & > li
      position: relative
      line-height: 1.2
      transition: 0.3s

      .page-numbers
        display: block
        text-decoration: none
        outline: none
      .page-numbers:not(.prev):not(.next)
        position: relative
        padding-left: 27px
        padding-right: 27px
        font-size: 16px
        line-height: 1.2
        font-weight: 500
        transition: 0.3s
        &:not(.current):hover
          color: $accent2
      .page-numbers.prev,
      .page-numbers.next
        display: flex
        justify-content: center


  @media screen and (max-width: 575px)
    ul
      flex-wrap: wrap
      & > li
        .page-numbers:not(.prev):not(.next)
          padding-left: 11px
          padding-right: 11px
          font-size: 14px
        .prev
          margin-right: 30px
        .next
          margin-left: 30px

  // max-width 575px

  @media screen and (max-width: 430px)
    padding-top: 10px

  // max-width 430px

 /* paginator */
