.scr1
  position: relative
  z-index: 1
  .container
    max-width: 1580px
    padding-left: 30px
    padding-right: 30px
  &__df
    display: flex
    min-height: 623px
  &__content
    width: 870px
    padding-top: 80px
    padding-bottom: 20px
  &__title
    margin-top: 0
    margin-bottom: 50px
    font-size: 45px
    line-height: 1.333333333333333
    font-weight: 600
    &.mobile
      display: none
    &.desktop
      display: block
  &__feat
    margin: 0
    padding: 0
    list-style: none
    margin-bottom: 46px
    & > li
      position: relative
      margin-bottom: 8px
      padding-left: 21px
      font-size: 20px
      font-weight: 600
      &::before
        content: '•'
        position: absolute
        top: 2px
        left: 0
        color: #daa976
      &:last-of-type
        margin-bottom: 0
  &__anna
    display: flex
    align-items: flex-end
  &__text
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding: 24px 36px 15px
    background-color: #fefcfa
    box-shadow: 0px 13px 25px 0px rgba(185,175,165,0.33)
    border-radius: 8px
    transition: 0.4s ease-in-out
    z-index: 1
    &:hover
      box-shadow: 0px 13px 35px 0px rgba($accent2,0.53)
    &::before
      content: ''
      position: absolute
      top: 7px
      right: 7px
      bottom: 7px
      left: 7px
      border: 1px solid #e1d9c9
      border-radius: 6px
      z-index: -1
    &-title
      margin-bottom: 4px
      font-size: 20px
      font-weight: 600
    &-desc
      font-size: 15px
      line-height: 1.2
      font-weight: 500
    &-wrap
      flex-shrink: 0
      margin-right: -66px
      margin-left: -25px
      padding-bottom: 28px
    &-decor
      position: absolute
      top: -9px
      width: 27px
      height: 27px
      background-color: #ffffff
      box-shadow: 0px 6px 10px 0px rgba(60,60,60,0.25)
      border-radius: 6px
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: block
        width: 8px
        height: 8px
        background-color: #d1c4b3
        border-radius: 3px
  &__img
    img
      display: block
      width: auto
      height: 604px


  @media screen and (max-width: 1600px)
    &__df
      min-height: 553px
    &__content
      padding-top: 50px
    &__title
      margin-bottom: 40px
      font-size: 42px
    &__img
      img
        height: 514px
    &__feat
      & > li
        font-size: 18px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    &__df
      min-height: 513px
    &__content
      padding-top: 40px
    &__title
      margin-bottom: 30px
      font-size: 35px
    &__img
      img
        height: 480px
    &__feat
      & > li
        font-size: 16px

  // max-width 1400px

  @media screen and (max-width: 1230px)
    &__df
      min-height: 503px
    &__content
      width: 580px
    &__title
      margin-bottom: 25px
      font-size: 30px
    &__img
      img
        height: 460px

  // max-width 1230px

  @media screen and (max-width: 991px)
    &__df
      min-height: 423px
    &__title
      margin-bottom: 18px
      font-size: 21px
    &__img
      img
        height: 400px
    &__feat
      & > li
        font-size: 15px
    &__text
      padding: 24px 26px 15px
      &-title
        font-size: 18px
      &-desc
        font-size: 14px

  // max-width 991px

  @media screen and (max-width: 767px)
    .container
      padding-left: 15px
      padding-right: 15px
    &__df
      min-height: 0px
    &__anna
      display: none
    &__feat
      display: none
    &__content
      width: 100%
      padding-top: 90px
      padding-bottom: 35px
    &__title
      margin-bottom: 70px
      padding-left: 30px
      padding-right: 30px
      font-size: 24px
      line-height: 1.416666666666667 /* 34 / 24 */
      text-align: center
      &.mobile
        display: block
      &.desktop
        display: none
    &__btns
      text-align: center
      .btn__wrap
        &::before,
        &::after
          bottom: 5px
          border-radius: 34.5px
      .xbtn
        height: 69px
        padding-left: 32px
        padding-right: 32px
        border-radius: 34.5px
        font-size: 16px
        span span
          display: none

  // max-width 767px

  @media screen and (max-width: 575px)
    background-image: url('../img/scr1-bg-mobile.jpg') !important

  // max-width 575px

/* scr1 */
