.spec
  position: relative
  padding-top: 35px
  padding-bottom: 36px
  background-color: rgba(225,217,201,0.6)
  &__wrap
    position: relative
    margin-bottom: 42px
    margin-top: 35px
  &__slider
    overflow: hidden
    margin: -20px -25px
    padding: 20px 25px
    .swiper-slide
      height: auto
  &__item
    display: flex
    flex-direction: column
    height: 100%
    background-color: #ffffff
    box-shadow: 0px 7px 30px 0px rgba(185,175,165,0.2)
    border-radius: 8px
    padding: 12px
    padding-bottom: 29px
    &-btns
      display: flex
      align-items: center
      justify-content: space-between
      padding-left: 12px
      padding-right: 16px
      .btn__wrap
        margin-right: 10px
        box-shadow: none
        &::before,
        &::after
          bottom: 0
        &::before
          box-shadow: inset 0px 0px 21px 0px rgba(255,255,255,0.31)
      .xbtn
        height: 50px
        padding: 0 15px
        font-size: 13px
  &__img
    position: relative
    display: block
    text-decoration: none
    outline: none
    height: 320px
    background-color: #ffffff
    border-radius: 6px
    overflow: hidden
    img
      display: block
      height: 100%
      transform: scale(1.1)
      transition: 0.3s ease-in-out 0.1s
    &:hover
      img
        transform: scale(1)
        transition: 0.3s ease-in-out
  &__content
    flex-grow: 1
    padding: 20px 3px 20px 12px
    &-top
      display: flex
      justify-content: space-between
      margin-bottom: 16px
    &-item
      padding-right: 10px
      font-size: 14px
      font-weight: 500
      b
        font-weight: 600
      p
        margin-bottom: 23px
        &:last-of-type
          margin-bottom: 0
  &__title
    margin: 0 20px 0 0
    font-size: 20px
    line-height: 1.4 /* 28 / 20 */
    font-weight: 600
  &__link
    display: block
    font-size: 13px
  &__btns
    text-align: center
    .xbtn
      height: 69px
      border-radius: 34.5px
      padding-left: 62px
      padding-right: 62px
      font-size: 16px
  &__video
    display: block
    text-decoration: none
    outline: none
    width: 29px
    height: 20px
    margin-top: 6px
    .icon
      display: block
      fill: #b9afa5
      transition: 0.4s ease-in-out
    &:hover
      .icon
        fill: $accent2


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* spec */
