.servs
  position: relative
  padding-top: 44px
  padding-bottom: 27px
  &__slider
    &-btns
      .swiper-dots
        position: static
        display: none
  &__df
    display: flex
  &__col
    &:first-of-type
      width: 31.57894736842105%
      margin-right: 47px
      .servs__slider
        .swiper-wrapper
          flex-direction: column
        .swiper-slide
          margin-bottom: 21px
          &:nth-of-type(2n + 1)
            .servs__item
              align-items: flex-end
            .servs__content
              align-items: flex-end
              text-align: right

    &:last-of-type
      width: 64.47368421052632%
      .servs__title
        background-color: #e1d9c9
      .servs__content
        min-height: 257px
        padding: 18px 20px 13px 24px
      .servs__slider
        .swiper-wrapper
          flex-wrap: wrap
        .swiper-slide
          width: calc((100% - 17px) / 2)
          margin-right: 17px
          margin-bottom: 25px
          &:nth-of-type(2n)
            margin-right: 0
          &:nth-of-type(1),
          &:nth-of-type(2)
            .servs__item
              align-items: flex-end
            .servs__content
              align-items: flex-end
              text-align: right
          &:nth-of-type(2),
          &:nth-of-type(3)
            .servs__item
              min-height: 360px
          &:nth-of-type(3)
            margin-top: -103px

  &__title
    position: relative
    text-decoration: none
    outline: none
    display: flex
    align-items: center
    justify-content: center
    margin-top: 0
    margin-bottom: 30px
    height: 49px
    background-color: $accent
    font-size: 20px
    line-height: 1.2
    font-weight: 600
    text-transform: uppercase
    text-align: center
    transition: 0.3s
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background: $grad
      opacity: 0
      transition: 0.4s ease-in-out
      z-index: -1
    &:hover
      color: #fff
      &::before
        opacity: 1

  &__item
    text-decoration: none
    outline: none
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-start
    min-height: 200px
    background-color: #d1c4b3
    border-radius: 8px
    overflow: hidden
    transition: 0.4s ease-in-out 0.1s
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background: rgba(darken($accent,20%), .5)
      transition: 0.4s ease-in-out 0.1s
      opacity: 0
      z-index: 2
    &:hover
      box-shadow: 0 5px 20px rgba(#000, 0.3)
    &.hidden
      opacity: 0.8
      transition: 0.4s ease-in-out
      &::before
        opacity: 1
        transition: 0.4s ease-in-out
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    img
      display: block

  &__content
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 17px 17px 9px 18px
    &-title
      font-size: 18px
      line-height: 1.2
      font-weight: 600
      text-transform: uppercase
  &__count
    font-size: 14px
    font-weight: 500
    b
      font-weight: 600


  @media screen and (max-width: 1400px)
    &__col
      &:last-of-type
        .servs__content
          min-height: 217px
        .servs__slider
          .swiper-slide
            &:nth-of-type(2),
            &:nth-of-type(3)
              .servs__item
                min-height: 315px
    &__item
      min-height: 170px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    padding-top: 30px
    &__col
      &:first-of-type
        width: 32.578947%
        margin-right: 37px
      &:last-of-type
        .servs__content
          min-height: 177px
        .servs__slider
          .swiper-slide
            &:nth-of-type(2),
            &:nth-of-type(3)
              .servs__item
                min-height: 230px
            &:nth-of-type(3)
              margin-top: -53px
    &__item
      min-height: 130px

  // max-width 1170px

  @media screen and (max-width: 900px)
    &__df
      display: block
    &__col
      &:first-of-type
        width: 100%
        margin-right: 0
        margin-bottom: 15px
        .servs__slider
          .swiper-wrapper
            flex-direction: row
          .swiper-slide
            margin-bottom: 0
      &:last-of-type
        width: 100%
        margin-bottom: 0
        .servs__slider
          .swiper-wrapper
            flex-wrap: nowrap
          .swiper-slide
            margin-bottom: 0
            &:nth-of-type(2),
            &:nth-of-type(3)
              .servs__item
                min-height: 177px
            &:nth-of-type(3)
              margin-top: 0

        .servs__content
          padding: 15px 10px 9px 16px

    &__item
      min-height: 177px
    &__slider
      &-btns
        .swiper-dots
          display: flex
          margin-top: 15px
        .swiper-pagination-bullet-active
          background-color: rgba(#d1c4b3, 0.5)
    &__content
      padding: 15px 10px 9px 16px
      &-title
        font-size: 15px
    &__count
      font-size: 13px

  // max-width 900px

  @media screen and (max-width: 500px)
    &__title
      height: 44px
      font-size: 16px
    &__content
      &-title
        font-size: 14px

  // max-width 500px

/* servs */
