.problems
  position: relative
  padding-top: 40px
  padding-bottom: 228px
  &__wrap
    position: relative
    margin-top: 48px
  &__slider
    padding: 35px 30px
    margin: -35px -30px
  &__item
    position: relative
    height: 100%
    background-color: #e1d9c9
    box-shadow: 0px 13px 25px 0px rgba(185,175,165,0.2)
    border-radius: 8px
    transition: 0.4s ease-in-out
    z-index: 1
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      max-height: 200px
      border-bottom-left-radius: 8px
      border-bottom-right-radius: 8px
      overflow: hidden
      background-image: linear-gradient(0.0deg, rgba(lighten($accent,5%),0.9) 0%, rgba($accent,0) 100%)
      transition: 0s
      z-index: 1
    &.active
      box-shadow: 0px 13px 25px 0px rgba(185,175,165,0.6)
      .problems__img
        opacity: 0.3
      .problems__title,
      .problems__desc
        transform: translateY(-100px) scale(1.2)
      &::before
        max-height: 250%
        transition: 0.3s ease-in-out

  &__content
    display: block
    text-decoration: none
    outline: none
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    min-height: 520px
    padding: 17px
    text-align: center
    z-index: 2
  &__title
    margin-top: 0
    margin-bottom: 12px
    font-size: 30px
    line-height: 1.2
    font-weight: 600
    text-transform: uppercase
    transition: 0.4s ease-in-out
  &__desc
    font-size: 14px
    font-weight: 500
    transition: 0.4s ease-in-out
  &__img
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    z-index: -1
    border-radius: 8px
    overflow: hidden
    transition: 0.4s ease-in-out
    img
      display: block
  &__btns
    position: absolute
    bottom: -113px
    left: 50%
    transform: translateX(-50%)
    .xbtn
      height: 69px
      padding-left: 30px
      padding-right: 30px
      font-size: 16px
      border-radius: 34.5px
      white-space: nowrap


  @media screen and (max-width: 1400px)
    padding-bottom: 178px
    &__content
      min-height: 340px
    &__btns
      bottom: -103px

  // max-width 1400px

  @media screen and (max-width: 991px)
    &__btns
      .xbtn
        height: 64px
        padding-left: 20px
        padding-right: 20px
        font-size: 14px

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-bottom: 138px
    &__wrap
      margin-top: 38px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__content
      min-height: 290px
      padding: 17px 10px
    &__title
      margin-bottom: 8px
      font-size: 25px
    &__desc
      font-size: 13px
    &__item
      &.active
        .problems__title,
        .problems__desc
          transform: translateY(-100px) scale(1.03)
    &__btns
      bottom: -93px

  // max-width 575px

  @media screen and (max-width: 500px)
    padding-top: 30px
    padding-bottom: 115px
    &__btns
      min-width: 90%
      bottom: -83px
      .xbtn
        width: 100%
        height: 54px
        padding-left: 10px
        padding-right: 10px
        font-size: 13px
        line-height: 1.4
        white-space: normal
        text-align: center

  // max-width 500px

  @media screen and (max-width: 400px)
    &__title
      font-size: 21px
    &__desc
      font-size: 12px

  // max-width 400px

/* problems */
