.insta
  position: relative
  padding-top: 50px
  padding-bottom: 59px
  &__wrap
    margin-top: 55px
  &__slider
    &-btns
      display: none
  &__item
    position: relative
    display: block
    text-decoration: none
    outline: none
    height: 260px
    background-color: #fad381
    border-radius: 6px
    overflow: hidden
    z-index: 1
    &::before,
    &::after
      content: ''
      position: absolute
      display: block
      z-index: 1
    &::before
      width: 100%
      height: 100%
      background: rgba($accent2, 0.3)
      transition: 0.4s ease-in-out
      opacity: 0
    &::after
      top: calc(50% - 25px)
      left: calc(50% - 25px)
      width: 50px
      height: 50px
      transform: scale(0.4)
      opacity: 0
      transition: 0.2s ease-in-out
      background: transparent url('../img/svg/search.svg') no-repeat center center
      background-size: contain
    img
      display: block
      height: 100%
      transform: scale(1.3)
      transition: 0.3s
    &:hover
      &::before
        opacity: 1
      &::after
        transform: scale(1)
        opacity: 1
        transition: 0.3s ease-in-out
      img
        transform: scale(1)
        opacity: 0.8



  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* insta */
