.before-after
  position: relative
  padding-top: 38px
  padding-bottom: 190px
  &__wrap
    position: relative
    margin-top: 32px
  &__slider
    margin: -30px
    padding: 30px
    overflow: hidden
  &__item
    position: relative
    display: flex
    border-radius: 8px
  &__col
    position: relative
    display: block
    text-decoration: none
    outline: none
    width: calc((100% - 30px) / 2)
    margin-right: 30px
    z-index: 1
    &:nth-of-type(2n)
      margin-right: 0
    &::before
      content: ''
      position: absolute
      bottom: -15px
      left: 10px
      right: 10px
      display: block
      height: 100%
      background-color: #f9f8f8
      box-shadow: 0px 7px 10px 0px rgba(178,172,165,0.15)
      border-radius: 6px
      z-index: -1
  &__img
    height: 448px
    overflow: hidden
    border-radius: 8px
    img
      display: block
      transform: scale(1.1)
  &--problem
    padding-bottom: 110px


  @media screen and (max-width: 1400px)
    padding-bottom: 160px
    &--problem
      padding-bottom: 110px
    &__img
      height: 388px

  // max-width 1400px

  @media screen and (max-width: 1070px)
    padding-bottom: 120px
    &--problem
      padding-bottom: 110px
    &__img
      height: 328px

  // max-width 1070px

  @media screen and (max-width: 767px)
    padding-bottom: 70px
    &__col
      width: calc((100% - 15px) / 2)
      margin-right: 15px
    &__img
      height: 258px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 30px
    .swiper-slider-nav
      bottom: -11px
      .swiper-dots
        position: static
      .swiper-pagination-bullet-active
        background-color: $accent2
    &__img
      height: 228px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__col
      width: calc((100% - 10px) / 2)
      margin-right: 10px
    &__img
      height: 188px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__img
      height: 148px

  // max-width 400px

/* before-after */
