.single-serv
  position: relative
  &__main
    padding-bottom: 40px
  &__wrap
    padding: 14px 20px 38px
    background-color: #f7f6f5
    border-radius: 8px
  &__df
    display: flex
    margin-bottom: 15px
    padding-left: 60px
  &__chars
    flex-grow: 1
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
  &__item
    display: flex
    align-items: center
    width: 44.44444444444444%
    margin-bottom: 14px
    padding-right: 20px
    &:nth-of-type(2n)
      width: 55.55555555555556%
    .feat__icon
      width: 59px
      height: 59px
      padding: 14px
      margin-bottom: 0
      margin-right: 16px
      img
        width: 100%
  &__img
    height: 360px
    margin-bottom: 18px
    background-color: #e1d9c9
    border-radius: 8px
    overflow: hidden
  &__title
    font-weight: 600
  &__text
    display: block
    font-size: 18px
    line-height: 1.2
    font-weight: 500
    background-image: linear-gradient(180.0deg, #b9afa5 0%, #e1d9c9 100%)
    background-clip: text
    -webkit-text-fill-color: transparent
  &__add
    flex-shrink: 0
    width: 320px
    &-title
      margin-bottom: 17px
      font-size: 18px
      line-height: 1.2
      font-weight: 600
    ul
      padding-left: 17px
      li
        margin-bottom: 17px
        font-size: 16px
        line-height: 1.2
        font-weight: 500
        &:last-of-type
          margin-bottom: 0
  &__btns
    text-align: center
    .btn__wrap
      margin-right: 30px
      &:last-of-type
        position: relative
        top: -6px
        margin-right: 0
      &--grad
        &::before,
        &::after
          bottom: 1px
          border-radius: 34.5px
    .xbtn
      &--grad
        height: 69px
        padding-left: 36px
        padding-right: 36px
        padding-bottom: 5px
        border-radius: 34.5px
        font-size: 16px
      &--trsp
        height: 74px
        padding-left: 39px
        padding-right: 39px
        border-radius: 35.5px
        text-align: left
        font-size: 16px
        line-height: 1.2
  &__prices
    padding-top: 28px
    padding-bottom: 40px
    background-color: rgba(225,217,201,0.2)
    .page-title
      margin-bottom: 29px
      text-align: left
    &-title
      margin-top: 0
      margin-bottom: 10px
      font-size: 24px
      line-height: 1.2
      font-weight: 500
    &-desc
      font-weight: 500
    hr
      margin-top: 20px
      margin-bottom: 17px
      border-color: rgba(222,182,114,0.2)
      border-bottom: none
    &-btns
      margin-top: 36px
      text-align: center
      .xbtn
        flex-direction: column
        height: 71px
        padding-left: 49px
        padding-right: 49px
        border-radius: 35.5px
  &__nav
    margin: 0
    padding: 0
    list-style: none
    display: flex
    margin-bottom: 25px
    & > li
      margin-right: 18px
      &:last-of-type
        margin-right: 0
      & > a
        text-decoration: none
        outline: none
        position: relative
        display: flex
        align-items: center
        justify-content: center
        height: 74px
        padding-left: 23px
        padding-right: 23px
        background-color: #fefcfa
        box-shadow: 0px 13px 25px 0px rgba(185,175,165,0.33)
        border-radius: 8px
        font-weight: 600
        transition: 0.4s ease-in-out
        text-align: center
        z-index: 1
        &::before
          content: ''
          position: absolute
          top: 7px
          right: 7px
          bottom: 7px
          left: 7px
          border: 1px solid #e1d9c9
          border-radius: 6px
          transition: 0.4s ease-in-out
          z-index: -1
        &:hover
          background-color: #e1d9c9
          box-shadow: 0px 13px 25px 0px rgba(185,175,165,0)
          &::before
            border-color: rgba(255,255,255,0.6)
      &.current
        & > a
          background-color: #e1d9c9
          box-shadow: 0px 13px 25px 0px rgba(185,175,165,0)
          &::before
            border-color: rgba(255,255,255,0.6)
  &__tabs
    position: relative
    margin: 0
    padding: 0
    list-style: none
    z-index: 2
  &__tab
    padding: 25px 58px 31px 51px
    background-color: #ffffff
    box-shadow: 0px 7px 10px 0px rgba(178,172,165,0.15)
    border-radius: 8px
    &:not(#single-serv__tab-0)
      display: none
  &__table
    margin-bottom: 20px
    table
      width: 100%
      border-collapse: collapse
    td
      padding: 14px 18px 13px 24px
      font-size: 16px
      line-height: 1.2
      font-weight: 500
    thead
      background-color: #e1d9c9
      td
        font-weight: 600
    tbody
      tr
        &:nth-of-type(2n + 1)
          background-color: rgba(225,217,201,0.1)



  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* single-serv */
