.about
  position: relative
  padding-top: 28px
  padding-bottom: 96px
  background-color: rgba(249,247,244,0.6)
  &__top
    margin-bottom: 56px
  &__wrap
    position: relative
    display: flex
    min-height: 509px
    margin-top: 32px
    background-color: #ffffff
    box-shadow: 0px 7px 30px 0px rgba(185,175,165,0.2)
    border-radius: 8px
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 14px
      right: 14px
      bottom: 14px
      left: 17px
      display: block
      background-color: rgba(255,255,255,0.0)
      border: 1px solid #e1d9c9
      border-radius: 6px
      z-index: -1
  &__info
    flex-grow: 1
    padding: 72px 15px 75px 73px
    font-weight: 500
    p
      margin-bottom: 25px
      &:last-of-type
        margin-bottom: 0
    b
      font-weight: 600
  &__img
    flex-shrink: 0
    display: flex
    padding-bottom: 14px
    padding-right: 33px
    .scr1__anna
      position: static
    .scr1__img
      img
        height: 496px
    .scr1__text
      &-wrap
        margin-left: -10px
        margin-right: -216px
        padding-bottom: 18px
  &__gallery
    overflow: hidden
    width: 955px
    max-width: 100%
    padding: 15px 25px
    margin: -15px -25px
    &-wrap
      position: relative
      display: flex
      justify-content: center
    &-nav
      .swiper-button-prev
        left: 0
      .swiper-button-next
        right: 0
  &__item
    display: block
    text-decoration: none
    outline: none
    position: relative
    padding: 11px
    &-wrap
      position: absolute
      top: 16px
      left: 0
      right: 0
      bottom: 0
      width: 103%
      height: 96%
      z-index: 1
      svg
        width: 100%
        height: 100%
    &-bg
      position: absolute
      top: 27px
      left: 11px
      right: 11px
      bottom: 11px
      display: block
      width: calc(100%)
      height: 97%
      svg
        width: 100%
        height: 100%
    .icon-main
      position: relative
      z-index: 2
      width: calc(100% + 40px)
      margin-left: -15px


  @media screen and (max-width: 1170px)
    &__info
      padding: 42px 15px 45px 43px
      p
        margin-bottom: 15px

  // max-width 1170px

  @media screen and (max-width: 991px)
    padding-bottom: 66px
    &__top
      margin-bottom: 36px
    &__wrap
      min-height: 419px
    &__img
      .scr1__img
        img
          height: 406px
    &__info
      font-size: 14px

  // max-width 991px

  @media screen and (max-width: 767px)
    .swiper-slider-nav
      bottom: -31px
    &__wrap
      top: 8px
      right: 8px
      bottom: 8px
      left: 8px
      min-height: 0
      margin-top: 22px
    &__img
      display: none
    &__info
      padding: 32px 35px 35px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__wrap
      width: calc(100% + 40px)
      margin-left: -28px
    &__gallery
      padding: 15px 15px
      margin: -15px -15px
    &__item
      &-bg,
      &-wrap
        display: none

  // max-width 575px

  @media screen and (max-width: 450px)
    padding-bottom: 10px
    .swiper-slider-nav
      display: none
    &__gallery
      &-nav
        .swiper-button-prev
          left: -10px
        .swiper-button-next
          right: -10px

  // max-width 450px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* about */
