.catalog-about
  position: relative
  background-color: rgba(225,217,201,0.1)
  padding-top: 92px
  padding-bottom: 112px
  overflow: hidden
  .page-title
    margin-bottom: 32px
    text-align: left
  &::before
    content: ''
    position: absolute
    top: -126px
    left: 9.84375%
    display: block
    width: 872px
    height: 930px
    background: transparent url('../img/svg/decor.svg') no-repeat center center
    background-size: contain
    z-index: -1
  &__text
    font-weight: 500


  @media screen and (max-width: 1170px)
    padding-top: 62px
    padding-bottom: 62px

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__text
      font-size: 14px

  // max-width 991px

  @media screen and (max-width: 575px)
    padding-top: 30px
    padding-bottom: 30px
    .page-title
      margin-bottom: 22px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__text
      font-size: 13px

  // max-width 500px

/* catalog-about */
