.certs
  flex-shrink: 0
  position: relative
  width: 380px
  margin-right: 30px
  &__slider
    margin: -20px
    padding: 20px
    overflow: hidden
    &-nav
      position: absolute
      left: 0
      display: flex
      align-items: flex-end
      width: 100%
      bottom: -30px
      .swiper-button-prev
        margin-right: 20px
      .swiper-button-disabled
        display: flex
      .swiper-button-next
        margin-left: 20px
      .swiper-button-prev,
      .swiper-button-next
        position: static
        box-shadow: none
        background: none
        width: auto
        height: auto
        .icon
          width: 7px
          height: 12px
          fill: #b9afa5
          &:nth-of-type(2)
            margin-left: -1px
        &:hover
          .icon
            fill: $accent2
  &__item
    position: relative
    display: inline-block
    text-decoration: none
    outline: none
    padding: 10px
    background-color: #ffffff
    box-shadow: 0px 7px 10px 0px rgba(178,172,165,0.15)
    border-radius: 6px
    overflow: hidden
    transition: 0.3s
    &::after
      content: ''
      position: absolute
      left: 8px
      right: 8px
      bottom: -12px
      display: block
      height: 100%
      background-color: #fbfbfb
      box-shadow: 0px 7px 10px 0px rgba(178,172,165,0.15)
      border-radius: 6px
      z-index: -1
    &:hover
      box-shadow: 0px 7px 10px 0px rgba($accent2,0.6)
    img
      display: block
      width: auto
      height: auto
      max-width: 100%
      max-height: 521px


  @media screen and (max-width: 1600px)
    width: 340px
    &__item
      img
        max-height: 451px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    width: 300px
    &__item
      img
        max-height: 425px

  // max-width 1600px

  @media screen and (max-width: 991px)
    width: 270px
    &__slider
      &-nav
        bottom: -20px

  // max-width 991px

  @media screen and (max-width: 767px)
    width: 100%
    margin-right: 0
    &__item
      img
        max-height: 275px
    &__slider
      &-nav
        bottom: -1px
        display: flex
        justify-content: center

  // max-width 767px

  @media screen and (max-width: 450px)
    &__slider
      overflow: visible
      &-nav
        display: flex
        justify-content: center
        width: 100%
        bottom: 51px
        .swiper-button-prev,
        .swiper-button-next
          display: none

  // max-width 450px

/* certs */
