.blog
  position: relative
  padding-bottom: 32px
  &__wrap
    height: 100%
    padding-bottom: 26px
  &__item
    display: flex
    flex-direction: column
    height: 100%
    padding: 25px 34px 26px 38px
    background-color: rgba(232,232,233,0.3)
    border-radius: 6.0px
  &__top
    flex-grow: 1
  .blog__title
    margin-top: 0
    margin-bottom: 22px
    font-size: 24px
    line-height: 1.2
  .article
    padding-right: 19px
    time
      font-size: 14px
      line-height: 1.428571428571429 /* 20 / 14 */
  &__bottom
    display: flex
    justify-content: space-between
  .blog__link
    display: block
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    color: $accent
    text-decoration: none
    outline: none
    transition: 0.3s
    &:hover
     color: $accent2
     text-decoration: none
  .paginator
    padding-top: 13px


  @media screen and (max-width: 1070px)
    &__item
      padding: 25px 20px 26px 25px
    .blog__title
      margin-bottom: 15px
      font-size: 22px

  // max-width 1070px

  @media screen and (max-width: 991px)
    .blog__title
      margin-bottom: 12px
      font-size: 18px
      br
        display: none
    .article
      padding-right: 0

  // max-width 991px

  @media screen and (max-width: 767px)
    &__item
      padding: 25px 20px 26px 20px
    .article
      p
        font-size: 13px

  // max-width 767px

/* blog */
