.mission
  position: relative
  &__top
    display: flex
    padding-bottom: 28px
  .article
    p
      margin-bottom: 27px
      line-height: 1.714285714285714 /* 24 / 14 */
      &:last-of-type
        margin-bottom: 0
    img
      width: 457px
      margin-left: 15px
    blockquote
      max-width: calc(100% - 487px)
      margin-right: 15px
      margin-bottom: 26px
      padding: 28px 25px 28px 45px
      background-color: #e8e8e9
      p
        font-size: 18px
        line-height: 1.333333333333333 /* 24 / 18 */
        font-weight: 700
        color: $accent

  &__nums
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    width: 100%
    background-color: #e8e8e9
    &-item
      width: 25.6140350877193%
      padding: 29px 10px 30px
    &-circle
      display: flex
      align-items: center
      justify-content: center
      width: 100px
      height: 100px
      margin-bottom: 14px
      margin-left: auto
      margin-right: auto
      background-color: #961d1d
      border-radius: 50%
      font-size: 60px
      line-height: 1.2
      font-weight: 700
      color: #ffffff
      text-align: center
      span
        display: block
    &-text
      display: block
      font-size: 15px
      line-height: 1.333333333333333 /* 20 / 15 */
      font-weight: 500
      color: #961d1d
      text-align: center


  @media screen and (max-width: 1070px)
    .article
      img
        width: 400px
      blockquote
        max-width: calc(100% - 430px)

  // max-width 1070px

  @media screen and (max-width: 991px)
    .article
      img
        width: 40%
      blockquote
        max-width: calc(60% - 30px)
        padding: 18px 15px 18px 25px
        background-color: #e8e8e9
        p
          font-size: 16px
    &__nums
      &-item
        width: calc(33.3% - 10px)

  // max-width 991px

  @media screen and (max-width: 767px)
    .article
      img
        width: 30%
      blockquote
        max-width: calc(70% - 30px)
        p
          font-size: 14px
    &__nums
      &-circle
        width: 77px
        height: 77px
        margin-bottom: 11px
        font-size: 42px
      &-text
        font-size: 14px

  // max-width 767px

  @media screen and (max-width: 575px)
    .article
      img
        width: 100%
        margin-left: auto
      blockquote
        max-width: 100%
        margin-right: 0
      p
        margin-bottom: 15px
    &__nums
      &-circle
        width: 60px
        height: 60px
        margin-bottom: 11px
        font-size: 29px
      &-text
        font-size: 13px

  // max-width 575px

  @media screen and (max-width: 450px)
    &__nums
      flex-direction: column
      align-items: center
      &-item
        width: 100%
        padding: 19px 10px 10px

  // max-width 450px

/* mission */
