.reviews
  position: relative
  padding-bottom: 22px
  .title-second
    margin-bottom: 30px
  .reviews__title
    margin-top: 0
    margin-bottom: 6px
    font-size: 20px
    line-height: 1.5 /* 30 / 20 */
  &__wrap
    height: 100%
    padding-bottom: 31px
  &__item
    height: 100%
    padding: 27px 55px 50px
    background-color: rgba(255,255,255,0.6)
    border-radius: 6.0px
  .article
    p
      margin-bottom: 0
    time
      display: block
      margin-bottom: 22px

  @media screen and (max-width: 991px)
    &__item
      padding: 17px 25px 20px

  // max-width 991px

  @media screen and (max-width: 767px)
    .title-second
      margin-bottom: 20px
    &__item
      padding: 17px 15px 20px
    &__title
      margin-bottom: 0
      font-size: 18px
    .article
      p
        font-size: 13px
      time
        margin-bottom: 12px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-bottom: 15px
    &__wrap
      padding-bottom: 15px

  // max-width 575px

/* reviews */
