.docs
  position: relative
  padding-top: 5px
  padding-bottom: 11px
  .title-second
    margin-bottom: 30px
    text-align: left
  &__text
    font-size: 14px
    line-height: 1.2
  &__img
    display: block
    margin-bottom: 15px
    text-decoration: none
    outline: none
    img
      display: block
  &__wrap
    padding-bottom: 24px

  @media screen and (max-width: 500px)
    &__text
      font-size: 12px

  // max-width 500px

/* docs */
