mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__wrap
        p.footer__title
          strong Успей купить!
          |  Подпишись и успей
          br
          |  словить все акции

        .footer__form
          .form
            form(method="post" action="#")
              .form__df
                .form__item.form__item--text
                  input.form-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Email')

                .form__item
                  input.btn(type='submit', value='Подписаться')

              .form__item.form__item--ckeckbox
                label
                  input(type='checkbox', name='subscribe', value='Подписаться на новости', checked='checked')
                  span Подписаться на новости
                    i.ckeckbox__icon


      // /.footer__wrap
    // /.container
  // /.footer

