mixin scripts()
  script(src='libs/jquery.min.js')
  script(src='libs/jquery.lazyload.min.js')
  script(src='libs/svg4everybody.min.js')
  script(src='libs/ofi.min.js')

  script(src='js/common.js')

