mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__wrap
        .footer__politics
          a.text(href="#") Политика конфиденциальности

        .footer__copyright
          p.text г. Симферополь   © ИП Скрипцов А.В.    2020 г.

      // /.footer__bottom
    // /.container
  // /.footer

