mixin scr1()
  section.scr1(id="scr1")
    ul.scr1__bg
      li
        img(src="img/scr1-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
      li
        img(src="img/scr1-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
      li
        img(src="img/scr1-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
      li
        img(src="img/scr1-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
      li
        img(src="img/scr1-5.jpg" alt="" width="125" height="90" data-object-fit-cover)

    .container

      .scr1__content
        h1.scr1__title Проект
          br
          strong  «Крымская весна. Хроника эмоций»

        .scr1__desc
          p нацелен на то, чтобы школьники и молодежь России и других стран мира узнали правдивую информацию о причинах и ходе Крымской весны 2014 г., в результате которой Крым вернулся в состав России

        ul.scr1__logos
          li
            img.lazy(src="img/svg/icons/scr1-insight.svg" alt="" width="125" height="90")
          li
            img.lazy(src="img/svg/icons/scr1-rosmol.svg" alt="" width="125" height="90")
          li
            img.lazy(src="img/svg/icons/scr1-tavrida.svg" alt="" width="125" height="90")

  // /.scr1
