mixin scr_gallery()
  section.scr_gallery.gallery(id="scr_gallery")
    .container
      h2.page-title Галерея

      .gallery__slider-wrap
        .gallery__slider#gallery__slider
          .swiper-wrapper
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-1.jpg")
                img.lazy(src="img-temp/gallery/img-1.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-2.jpg")
                img.lazy(src="img-temp/gallery/img-2.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-3.jpg")
                img.lazy(src="img-temp/gallery/img-3.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-4.jpg")
                img.lazy(src="img-temp/gallery/img-4.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-5.jpg")
                img.lazy(src="img-temp/gallery/img-5.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-6.jpg")
                img.lazy(src="img-temp/gallery/img-6.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-4.jpg")
                img.lazy(src="img-temp/gallery/img-4.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-5.jpg")
                img.lazy(src="img-temp/gallery/img-5.jpg" alt="" width="435" height="284" data-object-fit-cover)
            .swiper-slide
              a.gallery__item.fancybox(href="img-temp/gallery/img-6.jpg")
                img.lazy(src="img-temp/gallery/img-6.jpg" alt="" width="435" height="284" data-object-fit-cover)

        .gallery__slider-btns
          .swiper-dots

  // /.scr_gallery
