mixin scr_video()
  section.scr_video(id="scr_video")
    .container
      a.scr_video__video.fancybox(href="https://www.youtube.com/embed/IaizT2HYEig?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=UozzeMR2JR4" data-fancybox-type="iframe")
        p.scr_video__top Фильм «Крымская весна. Хроника эмоций»

        h3.scr_video__title
          strong Крымская весна
          br
          |  Хроника эмоций

        span.scr_video__play

      .scr_video__btns#scr_video-download
        .btn__wrap
          a.xbtn.xbtn--download(href="#" download) Скачать фильм
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-download")

  // /.scr_video
