mixin scr_dates()
  section.scr_dates(id="scr_dates")
    .container
      .scr_dates__wrap
        .scr_dates__slider#scr_dates__slider
          .swiper-wrapper
            .swiper-slide
              .scr_dates__item
                .scr_dates__info
                  p.scr_dates__date КРЫМСКАЯ ВЕСНА – 2014
                  h2.page-title ХРОНИКА ОСНОВНЫХ СОБЫТИЙ

                  .scr_dates__content
                    p.scr_dates__content-date 1-2 декабря 2013 г
                    p.scr_dates__content-title Заседание в крымском парламенте

                    .article
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…

                .scr_dates__img
                  img.lazy(src="img-temp/dates-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .swiper-slide
              .scr_dates__item
                .scr_dates__info
                  p.scr_dates__date КРЫМСКАЯ ВЕСНА – 2014
                  h2.page-title ХРОНИКА ОСНОВНЫХ СОБЫТИЙ

                  .scr_dates__content
                    p.scr_dates__content-date 1-2 декабря 2013 г
                    p.scr_dates__content-title Заседание в крымском парламенте

                    .article
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…
                      p Уже 1 декабря 2013 г. события в столице Украины стали предметом обсуждения на внеочередном заседании Президиума ВС АРК, по итогам которого было принято Обращение к крымчанам, где была дана чёткая и жёсткая оценка происходящего. В Обращении, в частности, говорилось: « События последних дней в Киеве вызывают серьезную тревогу за будущее нашей страны. Под угрозу поставлены политическая и экономическая стабильность в государстве, его целостность и сами основы конституционного строя…

                .scr_dates__img
                  img.lazy(src="img-temp/dates-img.jpg" alt="" width="125" height="90" data-object-fit-cover)


        .scr_dates__slider-nav
          .scr_dates__slider-nums
            .swiper-pagination

          .scr_dates__slider-btns
            button.swiper-button-prev
            button.swiper-button-next

  // /.scr_dates
