doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title MEGA ГРАД | интерактивный развлекательный город профессий

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#7c6eae')
    // Custom Browsers Color End

    link(rel='stylesheet', href='libs/animate.css')
    link(rel='stylesheet', href='css/main.min.css')

    include blocks/header.pug
    include blocks/nav.pug
    include blocks/scr1.pug
    include blocks/scr_lead.pug
    include blocks/scr_individual.pug
    include blocks/scr_group.pug
    include blocks/scr_bday.pug
    include blocks/scr_partners.pug
    include blocks/scr_follow.pug
    include blocks/footer.pug
    include blocks/socials.pug

  body.main-page

    #page_wr.page_wr
      +header("div")
      +scr1
      // тут будет второй экран

      +scr_lead
      +scr_individual
      +scr_group
      +scr_bday
      +scr_partners
      +scr_follow

    +footer

    script(src='js/libs/jquery.min.js')
    script(src='js/libs/wow.min.js')
    script(src='js/libs/jquery.maskedinput.min.js')
    script(src='js/libs/slick.min.js')
    script(src='js/libs/svg4everybody.min.js')
    script(src='libs/fancybox/jquery.fancybox.pack.js')
    script(src='libs/fancybox/helpers/jquery.fancybox-buttons.js')
    script(src='js/new/common.js')
    script(src='js/slider.js')

