/* FRANCHISE media */
.franchise-page {

  @media screen and (max-width: 1170px) {
    .screen_1 {
      .rusant2__label {
        padding-bottom: 0;
        left: 11%;
      }
    }

  } /* max-width 1170px */

  @media screen and (max-width: 1110px) {

    .screen_1 {
      .rusant {
        width: 840px;
        height: 480px;
        background: url(../imgs/rusant.png) 100% 100% no-repeat;
        position: absolute;
        right: -220px;
        bottom: 0;
        .df_ {
          left: 238px;
          top: 290px;
        }
      }
      .rusant2__label {
        padding-bottom: 0;
        left: 20%;
      }
    }

  } /* max-width 1110px */

  @media screen and (max-width: 1050px) {

    .screen_sheer {  
      .right {
        width: 40%;
      }
      &__bottom {
        margin-bottom: 10px;
        padding-left: 15%;
        .screen_sheer__text {
          padding: 0;
        }
      }
    }

  } /* max-width 1050px */


  @media screen and (max-width: 1024px) {

    .screen_1 {
      .btns_wr {        
        margin-top: 30px;
        text-align: left;
        .btn {
          display: block;
          width: 255px;
          margin-bottom: 20px;
          &--transparent {
            width: 255px;
            margin-right: auto;
          }
        }
      }
      .rusant2__label {
        left: 30%;
      }
    }
  } /* /. max-width 1024px */

  @media screen and (max-width: 992px) {
    .scr_clients {
      &__list {
        p {
          font-size: 20px;
        }
        .percent {
          font-size: 60px;
          small {
            font-size: 40px;
          }
        }
        .before {
          left: -346px;
          .line {
            width: 150px;
          }
          &--sector {
            left: -302px;
            .line {
              width: 100px;
            }
          }
        }
      }
    }
  } /* max-width 992px */

  @media screen and (max-width: 880px) {
    .screen_1 {
      background-size: cover;
    }

    .screen_1 {
      .rusant {
        background: none;
      }
    }

    .scr_clients {
      .circle {
        width: 300px;
        height: 300px;  
        .sector {
          svg {
            width: 170px;
          }
        }
      }
      &__list {
        padding-top: 0;
        padding-left: 0;
        li {
          margin-bottom: 40px;
        }
        .before {
          left: -250px;
          top: 20px;
          .line {
            width: 80px;
          }
          .percent {
            font-size: 50px;
            small {
              font-size: 40px;
            }
          }
        }
      }
    }
  } /* max-width 880px */

  @media screen and (max-width: 810px) {
    .screen_sheer {  
      &__bottom {
        padding-left: 10%;
        margin-bottom: 0;
      }
    }
  } /* max-width 880px */

  @media screen and (max-width: 780px) {
    .scr_clients {
      &__list {
        p {
          font-size: 18px;
          line-height: 1.2;
        }
        .before {
          left: -220px;
          .line {
            width: 60px;
          }
          .percent {
            font-size: 45px;
            small {
              font-size: 35px;
            }
          }
        }
      }
      .left {
        .screen_sheer__text {
          margin-left: 0;
          font-size: 20px;
        }
      }
    }
  } /* max-width 780px */

  @media screen and (max-width: 740px) {
    .screen_sheer {  
      .df {
        flex-wrap: wrap;
      }
      &__text {
        br {
          display: none;
        }
      }
      .left {
        width: 100%;        
      }
      .right {
        width: 100%;
      }
      &__numbers {
        justify-content: space-between;
        li {
          width: auto;
          padding-left: 0;
        }
      }
    }
  } /* max-width 740px */

  @media screen and (max-width: 700px) {    
    .scr_clients {
      .circle {
        width: 220px;
        height: 220px;
        .sector {
          svg {
            width: 125px;
          }
        }
      }
      &__list {
        padding-left: 20px;
        
        li {
          margin-bottom: 20px;
        }
        .before {
          position: static;
          top: 0;
          left: 0;
          margin-bottom: 5px;
          .percent {
            color: $accent;
            font-size: 30px;
            small {
              font-size: 20px;              
            }
          }
          .line {
            display: none;
          }
        }
      }
    }
  } /* max-width 700px */

  @media screen and (max-width: 660px) {
    .screen_sheer {  
      &__numbers {
        justify-content: flex-start;
        li {
          width: 50%;    
          margin-bottom: 55px;
          &:nth-of-type(2n) {
            padding-left: 20px;
          }
        }
      }
      .wr {
        background: none;
      }
      .img__wrap {
        display: block;
      }
      &__bottom {
        margin-top: 30px;
      }
    }
  } /* max-width 660px */

  @media screen and (max-width: 600px) {
    .screen_1 {
      .wr {
        .title {
          font-size: 28px;
          line-height: 1.2;
        }
      }
    }
  } /* max-width 600px */

  @media screen and (max-width: 570px) {
    .scr_clients {
      .title {
        text-align: center;
      }
      .title-desc {
        text-align: center;
      }
      .df {
        flex-direction: column;
      }
      .left{
        width: 100%;
        .screen_sheer__text {
          margin-bottom: 20px;
        }
      }
      .right {
        width: 100%;        
      }
      &__list {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 0;
        li {
          margin-bottom: 30px;
        }
      }
      .circle {
        display: none;
      }
    }
  } /* max-width 570px */


  @media screen and (max-width: 500px) {

    .screen_1 {
      .wr {
        .btn_wr {
          text-align: center;
          .btn {
            width: 100%;
            &--transparent {
              display: inline-block;
              width: auto;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .features {
      .article {
        font-size: 16px;
      }
      .features__title .sub {
        font-size: 18px;
      }
    }

    .screen_sheer {  
      &__desc {
        font-size: 20px;
      }
      &__text {        
        font-size: 20px;
        &--big {
          margin-top: 0;
          font-size: 28px;
        }
      }
      &__bottom {
        padding-left: 0;        
      }
    }

  } /* /. max-width 500 */

  @media screen and (max-width: 400px) {
    .screen_form_kp {
      &__list {
        margin-bottom: 30px;
        li {
          padding-left: 42px;
          font-size: 18px;
          &:not(:last-of-type) {
            margin-bottom: 25px;
          }
          i {
            font-size: 22px;
          }
        }
      }
    }

    .screen_parters {
      .wr {
        padding-top: 80px;
        .sub_wr {
          padding: 0;
        }
        .item {
          width: 50%;
          .img_wr {
            width: 100%;
            height: 48px;
            img {          
              max-height: 48px;
              margin: 0 auto;
            }
          }        
        }
      }
    }

    .screen_sheer {  
      padding-top: 40px;
      .title {
        font-size: 26px;
        margin-bottom: 0;
      }
      .df {
        margin-top: 30px;
      }
      &__desc {
        font-size: 18px;
      }
      &__text {        
        font-size: 18px;
        &--big {
          font-size: 24px;
        }
      }
      &__numbers {
        li {
          margin-bottom: 40px;
          .num {
            font-size: 28px;
          }
          .text {
            font-size: 14px;
          }
        }
      }
    }
    .img__wrap {
      width: 100%;
      height: auto;
    }
  } /* /. max-width 400 */

}