.modal
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 0
  background-color: rgba(0,0,0,0.6)
  z-index: 1000
  opacity: 0
  overflow: hidden
  &.active
    display: block
    opacity: 1
    min-height: 100vh
  &__content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    width: 100%
    max-width: 581px
    opacity: 0
    transition: 0.7s

    &::before,
    &::after
      content: ''
      position: absolute
      top: -24px

      display: block
      width: 200px
      height: 745px

      background: transparent url('../img/decor-modal.png') no-repeat center center
      background-size: contain
      z-index: -1
    &::before
      left: -73px
    &::after
      right: -85px

    &.visible
      opacity: 1

  &__wrap
    display: flex
    justify-content: center
    width: 100%
    padding: 24px 0
    background: #f3f3f3 url('../img/bg-cta.png') repeat center center
    background-size: 112px 108px
    border-radius: 10px

  &__inner
    width: 392px
    max-width: 100%

  .form
    max-height: 100vh
    overflow: auto
    width: calc(100% + 100px)
    margin-left: -50px
    padding: 50px
    z-index: 0
    &__title
      margin-bottom: 22px
    label
      .label__text
        margin-bottom: 3px
    .btn__wrap
      margin-top: 3px
    .btn__wrap--grad input[type=submit]
      padding-top: 27px
      padding-bottom: 26px
    &--tariff
      .decor-wrap
        padding-top: 28px
        padding-bottom: 45px
      .btn__wrap
        max-width: 280px
      .btns__wrap
        margin-top: 24px
        text-align: center

  .decor-wrap
    padding-bottom: 32px

  .close
    position: absolute
    top: 16px
    right: 18px
    &::before,
    &::after
      content: ''
      position: absolute
      top: calc(50% - 1px)
      left: calc(50% - 8px)

      display: block
      width: 16px
      height: 2px
      background-color: $accent2
      border-radius: 1.5px
      opacity: 1
      transition: 0.3s

    &:hover
      transform: translateY(-5px)
    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)

  table
    border-collapse: collapse
    width: 100%
    th,td
      text-align: left
    th
      overflow: hidden
      font-size: 13px
      line-height: 24px
      font-weight: 400
      letter-spacing: 0.1em
      padding-right: 10px
      span
        position: relative
        display: inline-block
        &::after
          content: '...................................................'
          position: absolute
          left: 100%
          bottom: 0
    td
      padding: 5px 0
      font-size: 18px
      line-height: 24px
      font-weight: 400
      letter-spacing: 0.1em
      color: $accent2
  .tariff__price
    margin-top: 17px
    font-size: 24px
  .tariff__content
    padding-top: 35px

  /* media */
  @media screen and (max-width: 768px)
    .close
      top: 26px
      z-index: 100
  // max-width 600px

  @media screen and (max-width: 560px)
    &__content
      width: 100%
    table
      td
        font-size: 15px

  // max-width 560px

 /* modal */
