.contacts
  position: relative
  &__col
    padding-bottom: 28px
    text-align: center
    height: 100%
  &__wrap
    height: 100%
    background-color: #f9fbfb
    border-radius: 3.0px
    padding: 52px 48px 70px
  &__item
    margin-bottom: 46px
    &:last-of-type
      margin-bottom: 0
    &--left
      .text
        padding-left: 20px
        text-align: left
  h3
    margin-bottom: 27px
    font-size: 18px
    line-height: 24px
    font-weight: 500
    color: $title-c
  .text
    margin-bottom: 10px
    &:last-of-type
      margin-bottom: 0
    strong
      font-weight: 500

  .msg
    margin-right: 14px
    margin-bottom: 15px
    &:last-of-type
      margin-right: 0
    &__wrap
      display: flex
      align-items: center
      justify-content: center
  &__phone
    display: block
    margin-bottom: 10px

    font-weight: 500
    text-decoration: none
    transition: 0.3s
    &:hover
      color: $accent2

  /* media */
  @media screen and (max-width: 1170px)
    &__item
      &--left
        .text
          padding-left: 0
  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__wrap
      padding: 42px 28px 50px
  // max-width 1070px

  @media screen and (max-width: 992px)
    h3
      margin-bottom: 12px
      font-size: 16px
    .text
      margin-bottom: 6px
      font-size: 14px
    &__phone
      font-size: 14px
    &__item
      margin-bottom: 30px
    &__wrap
      padding: 32px 15px 30px
  // max-width 992px

  @media screen and (max-width: 650px)
    .col-wrap
      padding: 0 10px
  // max-width 650px

  @media screen and (max-width: 450px)
    .col-wrap
      max-width: 100%
      flex-basis: 100%
    &__col
      padding-bottom: 15px
    &__wrap
      padding-top: 20px
      padding-bottom: 20px
    &__item
      &--left
        .text
          text-align: center
  // max-width 450px

/* contacts */
