.center
  position: relative
  margin-bottom: 6px
  padding-top: 33px
  padding-bottom: 52px

  &__wrap
    display: flex
  &__nav
    margin-right: 30px
  &__tabs
    margin: 0
    padding: 0
    list-style: none

    flex-grow: 1
    padding-top: 20px

  .article
    h2
      margin-bottom: 40px
      font-size: 30px
      line-height: 1.2
      font-weight: 300
    h3
      margin: 25px 0
      font-size: 16px
      line-height: 1.5
      color: $title-c
      font-weight: 500
    ul
      li
        margin-bottom: 0
        text-indent: 14px
        font-weight: 400
        &::before
          left: 0
          background-color: $title-c

  /* media */
  @media screen and (max-width: 680px)
    &__wrap
      flex-direction: column
    &__tabs
      padding-top: 40px
      width: 100%
  // max-width 680px

  @media screen and (max-width: 500px)
    &__tabs
      padding-top: 30px
    .article
      h2
        margin-bottom: 20px
        font-size: 26px
  // max-width 500px

  @media screen and (max-width: 400px)
    &__tabs
      padding-top: 20px
    .article
      h2
        margin-bottom: 15px
        font-size: 20px
      h3
        margin: 14px 0
  // max-width 400px

/* center */
