.map
  position: relative
  margin-top: -70px
  height: 540px
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0

    display: block
    width: 100%
    height: 35%
    background: linear-gradient(180deg, #fff 0%, transparent 100%)
    z-index: 2

  .inner-map
    width: 100%
    height: 100%
    background: #f3f3f3 url('../img/map.jpg') no-repeat center center
    background-size: cover


  /* media */
  @media screen and (max-width: 768px)
    height: 350px

  // max-width 768px

/* map */
