.lead
  position: relative
  padding-top: 97px
  padding-bottom: 20px
  overflow: hidden
  .bg-img
    position: absolute
    top: -60px
    right: 109px

    display: block
    width: 1201px
    height: calc(100% + 30px)
    background: transparent url('../img/bg-lead.jpg') no-repeat center bottom
    background-size: contain

  .form
    width: 411px
    max-width: 100%
    form
      padding-left: 46px
      padding-right: 46px
    &__title
      font-size: 21px
      strong
        font-size: 30px
    input[type=submit]
      margin-top: 16px
      margin-bottom: 39px

  /* media */
  @media screen and (max-width: 1500px)
    .bg-img
      right: 0

  // max-width 1500px

  @media screen and (max-width: 1200px)
    .bg-img
      right: auto
      left: 100px

  // max-width 1200px

  @media screen and (max-width: 768px)
    padding-top: 35px

  // max-width 768px

  @media screen and (max-width: 576px)
    .bg-img
      left: 0
      width: 100%
      background-image: url('../img/bg-lead--mobile.jpg')
    .form
      margin-left: auto
      margin-right: auto
      &__title
        font-size: 17px
        strong
          font-size: 24px
      &__desc
        font-size: 13px
        line-height: 1.3

  // max-width 576px

  @media screen and (max-width: 400px)
    .form
      form
        padding-left: 15px
        padding-right: 15px
      &__title
        strong
          font-size: 22px

  // max-width 400px

/* lead */
