.structure
  position: relative
  padding-top: 30px
  padding-bottom: 55px

  &__img
    margin-top: 25px

    img
      width: 100%

  .btn__wrap
    margin-top: -20px
    text-align: center

  /* media */

  @media screen and (max-width: 576px)
    padding-top: 0
  // max-width 576px

  @media screen and (max-width: 500px)
    .btn__wrap
      margin-top: 10px
  // max-width 500px

/* structure */
