.best
  position: relative
  padding-bottom: 39px

  &__slider
    width: calc(100% + 30px)
    margin-left: -15px
    margin-top: 30px
  &__slide
    padding: 15px
    padding-top: 25px
  &__item
    display: flex
    flex-direction: column

    padding: 23px 10px 22px
    box-shadow: 0px 0px 25px 0px rgba(111,115,123,0.3)
    max-width: 360px
    height: 100%
    background-color: #ffffff
    border-radius: 6.0px
    text-align: center
    transition: 0.2s
    h3
      font-size: 16px
      line-height: 24px
      font-weight: 300
      color: #1f3f69
      text-transform: none
      strong
        font-family: 'Museo Cyrl', sans-serif
        font-weight: 500
  &__content
    flex-grow: 1
  &__price
    font-size: 16px
    line-height: 24px
    font-weight: 300
    color: #666666
  .best__btn
    width: 214px
    max-width: 95%
    padding-top: 15px
    padding-bottom: 15px
    margin-top: 5px
    margin-bottom: 26px

    text-transform: none
    font-family: 'GoogleSans', sans-serif
    font-size: 18px
    line-height: 1.2
    font-weight: 400
    color: #ffffff
    box-shadow: 0 20px 10px -10px rgba(#ff0000,0.63)
    &:hover
      transform: translateY(3px)
      box-shadow: 0 12px 10px -10px rgba(#ff0000,0.63)
    &:focus
      transform: translateY(4px)
      box-shadow: 0 10px 10px -10px rgba(#ff0000,0.63)
  &__link
    display: block
    text-align: center
    font-family: 'GoogleSans', sans-serif
    font-size: 14px
    line-height: 1.2
    font-weight: 400
    color: #02396e
    transition: 0.3s
    &:hover
      color: rgba(#ff0000,0.8)
      text-decoration: underline
  &__img
    margin: 10px 0

  /* media */
  @media screen and (max-width: 1320px)
    .slick-prev
      left: -30px
    .slick-next
      right: -30px

  @media screen and (max-width: 1250px)
    .slick-arrow
      opacity: 0.7
      width: 50px
      height: 50px
      top: calc(50% - 25px)
      &::before
        width: 32px
        height: 32px
      &:hover
        opacity: 1
    .slick-prev
      left: -10px
    .slick-next
      right: -10px

  // max-width 1320px

  @media screen and (max-width: 992px)
    &__item
      h3
        font-size: 14px
        line-height: 20px
    &__price
      font-size: 13px
    .best__btn
      font-size: 16px
      padding-top: 12px
      padding-bottom: 12px

  // max-width 992px

  @media screen and (max-width: 768px)
    &__slide
      padding-left: 10px
      padding-right: 10px
    &__item
      h3
        font-size: 13px

  // max-width 768px

  @media screen and (max-width: 576px)
    &__slider
      margin-top: 0

  // max-width 576px

  @media screen and (max-width: 450px)
    &__slider
      width: 100%
      margin-left: 0
  // max-width 450px

/* best */
