mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__col
          h3.footer__title.js-footer__title Каталог
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .footer__hidden
            ul.menu
              li.menu-item
                a(href="#") Игрушки и игры
              li.menu-item
                a(href="#") Товары для малышей
              li.menu-item
                a(href="#") Всё для праздника
              li.menu-item
                a(href="#") Развитие и творчество
              li.menu-item
                a(href="#") Прогулки и поездки
              li.menu-item
                a(href="#") Спорт и отдых
              li.menu-item
                a(href="#") Детская мебель
              li.menu-item
                a(href="#") Канцтовары
              li.menu-item
                a(href="#") Разное
              li.menu-item
                a(href="#") Хиты продаж
              li.menu-item
                a(href="#") Новинки

        .footer__col
          h3.footer__title.js-footer__title О компании
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .footer__hidden
            ul.menu
              li.menu-item
                a(href="#") О нас
              li.menu-item
                a(href="#") Партнёры
              li.menu-item
                a(href="#") Отзывы

          h3.footer__title.js-footer__title О магазине
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .footer__hidden
            ul.menu
              li.menu-item
                a(href="#") Оплата и доставка
              li.menu-item
                a(href="#") Обмен и возврат товара

        .footer__col
          a.footer__title(href="#") Оптовым покупателям
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          a.footer__title(href="#") Последние новости
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .footer__socials
            h3.footer__title.footer__title--socials Мы в соцсетях
            +socials

        .footer__col
          h3.footer__title Контакты

          a.footer__phone(href="tel:" rel="nofollow") +7 (978) 510-62-68

          .footer__text
            p Республика Крым, г. Симферополь:
              br
              |  ул. Беспалова, 110д, рынок "Марьино", 2 этаж
              br
              |  пр. Победы, 56, ТЦ "Таир"
              br
              |  ул. Гагарина, 20а, ТЦ "Гудзон", 2 этаж

      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2021&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

