mixin modal__callback()
  section.modal.modal__callback(id="modal__callback")
    .modal__content
      button.close
        svg.icon
          use(xlink:href="img/svg/sprite.svg#circle")

      .form.form--general
        form
          p.form__title Заказать звонок
          .form__desc
            p Заполните форму и наш специалист свяжется с Вами в течение 60 секунд

          .form__item
            span.your-name.text-input
              input(type='text', name='your-name', value='',  placeholder='Имя')

          .form__item
            span.your-tel.text-input
              input(type='tel', name='your-tel', value='',  placeholder='+7 (___) ___-__-__')

          .form__item.form__item--submit
            .btn__wrap.btn__wrap--red
              input.xbtn.xbtn--red(type='submit', value='Отправить')

          .form__item
            span.accept
              label
                input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                span Я согласен с политикой конфиденциальности
                  i.accept__icon

      // /. form
    // /. modal__content
  // /. modal
