mixin scr1()
  section.scr1(id="scr1")
    .container
      span.scr1__menu-btn Каталог
      .scr1__df
        aside.scr1__menu-wrap
          .scr1__menu-item.scr1__menu
            ul.menu
              li.menu-item
                a(href="#")
                  span.menu-item__text Игрушки
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
                    .sub-menu__item
                      a(href="#") Игрушки для малышей
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Погремушки
                        li.menu-item
                          a(href="#") Ночники, проекторы
                        li.menu-item
                          a(href="#") Мобили, подвески, дуги
                        li.menu-item
                          a(href="#") Развивающие музыкальные игрушки
                        li.menu-item
                          a(href="#") Коврики для малышей
                        li.menu-item
                          a(href="#") Игрушки из дерева, бизиборды
                        li.menu-item
                          a(href="#") Игрушки для купания, рыбалки
                        li.menu-item
                          a(href="#") Сортеры, пирамиды, кубики, шнуровка
                        li.menu-item
                          a(href="#") Каталки, неваляшки, юлы
                        li.menu-item
                          a(href="#") Кукольные театры
                        li.menu-item
                          a(href="#") Толокары, качалки, прыгуны
                    .sub-menu__item
                      a(href="#") Конструкторы
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Лего
                        li.menu-item
                          a(href="#") Конструкторы для малышей
                        li.menu-item
                          a(href="#") Конструкторы 6+
                        li.menu-item
                          a(href="#") Электронные, магнитные, металлические конструкторы
                    .sub-menu__item
                      a(href="#") Настольные игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Игры-ходилки
                        li.menu-item
                          a(href="#") Экономические игры
                        li.menu-item
                          a(href="#") Хоккей, футбол, бильярд
                        li.menu-item
                          a(href="#") Логические игры и головоломки
                        li.menu-item
                          a(href="#") Пазлы, 3Д пазлы
                    .sub-menu__item
                      a(href="#") Сюжетно-ролевые игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Кухни, посуда, бытовая техника
                        li.menu-item
                          a(href="#") Кассы, магазины, овощи, фрукты
                        li.menu-item
                          a(href="#") Наборы помощниц и хозяюшек
                        li.menu-item
                          a(href="#") Наборы парикмахера и салоны красоты
                        li.menu-item
                          a(href="#") Доктор, стоматолог, ветеринар
                        li.menu-item
                          a(href="#") Наборы инструментов
                        li.menu-item
                          a(href="#") Наборы полицейского, пожарного, военного
                    .sub-menu__item
                      a(href="#") Радиоуправляемые игрушки
                    .sub-menu__item
                      a(href="#") Мягкие игрушки
                    .sub-menu__item
                      a(href="#") Животные и динозавры
                    .sub-menu__item
                      a(href="#") Интерактивные игрушки
                    .sub-menu__item
                      a(href="#") Мультгерои
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Бен 10
                        li.menu-item
                          a(href="#") Мончичи
                        li.menu-item
                          a(href="#") Полирабокар
                        li.menu-item
                          a(href="#") Свинка Пеппа
                        li.menu-item
                          a(href="#") Герои в масках
                        li.menu-item
                          a(href="#") Черепашки Ниндзя
                        li.menu-item
                          a(href="#") Герои Марвел
                        li.menu-item
                          a(href="#") Щенячий патруль
              li.menu-item
                a(href="#")
                  span.menu-item__text Автокресла
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
              li.menu-item
                a(href="#")
                  span.menu-item__text Коляски
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская мебель
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская одежда
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская обувь
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Аксессуары
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Активный отдых
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Школа
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Кормление
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Уход и гигиена
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Мамам
                  span.menu-item__btn

        .scr1__right
          .scr1__right-df
            .scr1__slider-wrap
              .scr1__slider#scr1__slider
                .swiper-wrapper
                  .swiper-slide
                    a.scr1__slider-item.fancybox(href="img-temp/scr1-img.jpg")
                      img(src="img-temp/scr1-img.jpg" alt="")
                  .swiper-slide
                    a.scr1__slider-item.fancybox(href="img-temp/scr1-img.jpg")
                      img(src="img-temp/scr1-img.jpg" alt="")

              .scr1__slider-btns
                button.swiper-button-prev
                .swiper-dots
                button.swiper-button-next

            ul.scr1__add
              li
                .scr1__add-img
                  picture
                    source(srcset='img-temp/scr1-add-1--mobile.jpg', media='(max-width: 575px)')
                    source(srcset='img-temp/scr1-add-1.jpg')
                    img(src='img-temp/scr1-add-1.jpg', alt='')
              li
                .scr1__add-img
                  picture
                    source(srcset='img-temp/scr1-add-2--mobile.jpg', media='(max-width: 575px)')
                    source(srcset='img-temp/scr1-add-2.jpg')
                    img(src='img-temp/scr1-add-2.jpg', alt='')

          .scr1__feat#scr1__feat
            .swiper-wrapper
              .swiper-slide
                .scr1__feat-item
                  .scr1__feat-icon
                    img(src="img/svg/icons/feat-1.svg" alt="" data-object-fit-contain-top)
                  span.scr1__feat-text
                    b Цены ниже рыночных
                      br
                      |  на 20%
                    |  Цены меньше, чем у конкурентов на 20%, за счет прямых поставок от производителя

              .swiper-slide
                .scr1__feat-item
                  .scr1__feat-icon
                    img(src="img/svg/icons/feat-2.svg" alt="" data-object-fit-contain-top)
                  span.scr1__feat-text
                    b Доставка в течение
                      br
                      |  2 часов
                    |  Заказ от 2 000 рублей по Симферополю осуществляется бесплатно в течение 2 часов

              .swiper-slide
                .scr1__feat-item
                  .scr1__feat-icon
                    img(src="img/svg/icons/feat-3.svg" alt="" data-object-fit-contain-top)
                  span.scr1__feat-text
                    b Весь товар на сайте
                      br
                      |  есть в наличии
                    |  Более 10 000 наименований товаров для детей доступно в 3-х магазинах

  // /.scr1

mixin scr1--inner()
  section.scr1.scr1--inner(id="scr1")
    .container
      .scr1__top
        .scr1__logo1
          img(src="img/logo.png" alt="лого")
        .scr1__logo2
          img(src="img/logo2.png" alt="лого")
          p.scr1__logo2-text Профессиональная косметика
            br
            |  от производителя оптом
            br
            |  и в розницу

        .scr1__item.scr1__item--address
          p Симферополь, ул. Кубанская, 15
          span.scr1__item-btn
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

        .scr1__item.scr1__item--links
          a.scr1__phone.xlink(href="tel:+79789883424" rel="nofollow") +7 978 988-34-24
          span.scr1__item-btn
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .scr1__hidden
            svg.scr1__hidden-cont(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 175 163.5', style='enable-background:new 0 0 175 163.5;', xml:space='preserve' preserveAspectRatio="none" fill="#FFFFFF" stroke="#E4E4E4" )
              path(d='M166.5,163H8.5c-4.4,0-8-3.6-8-8V15c0-4.4,3.6-8,8-8h35.2L50,0.7L56.3,7h110.2c4.4,0,8,3.6,8,8v140\
              C174.5,159.4,170.9,163,166.5,163z')

            .footer__msgs
              a.footer__msg.footer__msg--wa(href="https://api.whatsapp.com/send?phone=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#wa")

              a.footer__msg.footer__msg--viber(href="viber://chat?number=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#viber")

              //. Тут поменять ссылку на актуальную
              a.footer__msg.footer__msg--tg(href="https://t.me/79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#telegram")

            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79789883424" rel="nofollow") +7 978 988-34-24
            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79788990639" rel="nofollow") +7 978 899-06-39
            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79788882445" rel="nofollow") +7 978 888-24-45

        .scr1__search
          .form.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-search.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-search(type='tel', name='your-search', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Поиск по каталогу')

                button.open-search(type='button')
                  svg.icon
                    use(xlink:href='img/svg/sprite.svg#icon-search')

        .scr1__btns
          button.scr1__btn.scr1__btn--search
            svg.icon
              use(xlink:href='img/svg/sprite.svg#icon-search')
          button.scr1__btn
            svg.icon
              use(xlink:href='img/svg/sprite.svg#compare')
          button.scr1__btn
            svg.icon
              use(xlink:href='img/svg/sprite.svg#heart')
          button.scr1__btn.scr1__btn--cart
            svg.icon
              use(xlink:href='img/svg/sprite.svg#cart')
            span.scr1__btn-num 2

          .scr1__hidden
            svg.scr1__hidden-cont(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 175 163.5', style='enable-background:new 0 0 175 163.5;', xml:space='preserve' preserveAspectRatio="none" fill="#FFFFFF" stroke="#E4E4E4" )
              path(d='M166.5,163H8.5c-4.4,0-8-3.6-8-8V15c0-4.4,3.6-8,8-8h35.2L50,0.7L56.3,7h110.2c4.4,0,8,3.6,8,8v140\
              C174.5,159.4,170.9,163,166.5,163z')

            p.scr1__cart-total На сумму:
              b 1500 Р

mixin scr1--card()
  section.scr1.scr1--card(id="scr1")
    .container
      span.scr1__menu-btn Каталог
      .scr1__df

        aside.scr1__menu-wrap
          .scr1__menu-item.scr1__menu
            ul.menu
              li.menu-item
                a(href="#")
                  span.menu-item__text Игрушки
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
                    .sub-menu__item
                      a(href="#") Игрушки для малышей
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Погремушки
                        li.menu-item
                          a(href="#") Ночники, проекторы
                        li.menu-item
                          a(href="#") Мобили, подвески, дуги
                        li.menu-item
                          a(href="#") Развивающие музыкальные игрушки
                        li.menu-item
                          a(href="#") Коврики для малышей
                        li.menu-item
                          a(href="#") Игрушки из дерева, бизиборды
                        li.menu-item
                          a(href="#") Игрушки для купания, рыбалки
                        li.menu-item
                          a(href="#") Сортеры, пирамиды, кубики, шнуровка
                        li.menu-item
                          a(href="#") Каталки, неваляшки, юлы
                        li.menu-item
                          a(href="#") Кукольные театры
                        li.menu-item
                          a(href="#") Толокары, качалки, прыгуны
                    .sub-menu__item
                      a(href="#") Конструкторы
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Лего
                        li.menu-item
                          a(href="#") Конструкторы для малышей
                        li.menu-item
                          a(href="#") Конструкторы 6+
                        li.menu-item
                          a(href="#") Электронные, магнитные, металлические конструкторы
                    .sub-menu__item
                      a(href="#") Настольные игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Игры-ходилки
                        li.menu-item
                          a(href="#") Экономические игры
                        li.menu-item
                          a(href="#") Хоккей, футбол, бильярд
                        li.menu-item
                          a(href="#") Логические игры и головоломки
                        li.menu-item
                          a(href="#") Пазлы, 3Д пазлы
                    .sub-menu__item
                      a(href="#") Сюжетно-ролевые игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Кухни, посуда, бытовая техника
                        li.menu-item
                          a(href="#") Кассы, магазины, овощи, фрукты
                        li.menu-item
                          a(href="#") Наборы помощниц и хозяюшек
                        li.menu-item
                          a(href="#") Наборы парикмахера и салоны красоты
                        li.menu-item
                          a(href="#") Доктор, стоматолог, ветеринар
                        li.menu-item
                          a(href="#") Наборы инструментов
                        li.menu-item
                          a(href="#") Наборы полицейского, пожарного, военного
                    .sub-menu__item
                      a(href="#") Радиоуправляемые игрушки
                    .sub-menu__item
                      a(href="#") Мягкие игрушки
                    .sub-menu__item
                      a(href="#") Животные и динозавры
                    .sub-menu__item
                      a(href="#") Интерактивные игрушки
                    .sub-menu__item
                      a(href="#") Мультгерои
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Бен 10
                        li.menu-item
                          a(href="#") Мончичи
                        li.menu-item
                          a(href="#") Полирабокар
                        li.menu-item
                          a(href="#") Свинка Пеппа
                        li.menu-item
                          a(href="#") Герои в масках
                        li.menu-item
                          a(href="#") Черепашки Ниндзя
                        li.menu-item
                          a(href="#") Герои Марвел
                        li.menu-item
                          a(href="#") Щенячий патруль
              li.menu-item
                a(href="#")
                  span.menu-item__text Автокресла
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
              li.menu-item
                a(href="#")
                  span.menu-item__text Коляски
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская мебель
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская одежда
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская обувь
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Аксессуары
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Активный отдых
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Школа
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Кормление
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Уход и гигиена
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Мамам
                  span.menu-item__btn

        .scr1__right
          .scr1__card
            +breadcrumbs

            .scr1__card-df
              .scr1__card-left
                .scr1__card-wrap.scr1__card-wrap--thumbs
                  .scr1__card-thumbs#scr1__card-thumbs
                    .swiper-wrapper
                      .swiper-slide
                        .scr1__card-thumb
                          img(src="img-temp/card-img.jpg" alt="" data-object-fit-contain)
                      .swiper-slide
                        .scr1__card-thumb
                          img(src="img-temp/card-img-2.jpg" alt="" data-object-fit-contain)
                      .swiper-slide
                        .scr1__card-thumb
                          img(src="img-temp/card-img-3.jpg" alt="" data-object-fit-contain)
                      .swiper-slide
                        .scr1__card-thumb
                          img(src="img-temp/card-img.jpg" alt="" data-object-fit-contain)
                      .swiper-slide
                        .scr1__card-thumb
                          img(src="img-temp/card-img-2.jpg" alt="" data-object-fit-contain)
                      .swiper-slide
                        .scr1__card-thumb
                          img(src="img-temp/card-img-3.jpg" alt="" data-object-fit-contain)

                  .scr1__card-thumbs-btns
                    button.swiper-button-prev(type="button")
                    .swiper-dots
                    button.swiper-button-next(type="button")


                .scr1__card-wrap
                  .scr1__card-gallery#scr1__card-gallery
                    .swiper-wrapper
                      .swiper-slide
                        .scr1__card-item
                          a.scr1__card-img.fancybox(href="img-temp/card-img.jpg" data-fancybox-group="gallery")
                            img(src="img-temp/card-img.jpg" alt="" data-object-fit-contain)

                          .prod__top
                            span.prod__label.prod__label--action Хит

                            .prod__btns
                              button.prod__btn.prod__btn--like(type="button")
                                svg.icon
                                  use(xlink:href="img/svg/sprite.svg#heart")
                                svg.icon.hidden
                                  use(xlink:href="img/svg/sprite.svg#heart--filled")
                      .swiper-slide
                        .scr1__card-item
                          a.scr1__card-img.fancybox(href="img-temp/card-img-2.jpg" data-fancybox-group="gallery")
                            img(src="img-temp/card-img-2.jpg" alt="" data-object-fit-contain)

                          .prod__top
                            span.prod__label.prod__label--action Хит

                            .prod__btns
                              button.prod__btn.prod__btn--like(type="button")
                                svg.icon
                                  use(xlink:href="img/svg/sprite.svg#heart")
                                svg.icon.hidden
                                  use(xlink:href="img/svg/sprite.svg#heart--filled")
                      .swiper-slide
                        .scr1__card-item
                          a.scr1__card-img.fancybox(href="img-temp/card-img-3.jpg" data-fancybox-group="gallery")
                            img(src="img-temp/card-img-3.jpg" alt="" data-object-fit-contain)

                          .prod__top
                            span.prod__label.prod__label--action Хит

                            .prod__btns
                              button.prod__btn.prod__btn--like(type="button")
                                svg.icon
                                  use(xlink:href="img/svg/sprite.svg#heart")
                                svg.icon.hidden
                                  use(xlink:href="img/svg/sprite.svg#heart--filled")
                      .swiper-slide
                        .scr1__card-item
                          a.scr1__card-img.fancybox(href="img-temp/card-img.jpg" data-fancybox-group="gallery")
                            img(src="img-temp/card-img.jpg" alt="" data-object-fit-contain)

                          .prod__top
                            span.prod__label.prod__label--action Хит

                            .prod__btns
                              button.prod__btn.prod__btn--like(type="button")
                                svg.icon
                                  use(xlink:href="img/svg/sprite.svg#heart")
                                svg.icon.hidden
                                  use(xlink:href="img/svg/sprite.svg#heart--filled")
                      .swiper-slide
                        .scr1__card-item
                          a.scr1__card-img.fancybox(href="img-temp/card-img-2.jpg" data-fancybox-group="gallery")
                            img(src="img-temp/card-img-2.jpg" alt="" data-object-fit-contain)

                          .prod__top
                            span.prod__label.prod__label--action Хит

                            .prod__btns
                              button.prod__btn.prod__btn--like(type="button")
                                svg.icon
                                  use(xlink:href="img/svg/sprite.svg#heart")
                                svg.icon.hidden
                                  use(xlink:href="img/svg/sprite.svg#heart--filled")
                      .swiper-slide
                        .scr1__card-item
                          a.scr1__card-img.fancybox(href="img-temp/card-img-3.jpg" data-fancybox-group="gallery")
                            img(src="img-temp/card-img-3.jpg" alt="" data-object-fit-contain)

                          .prod__top
                            span.prod__label.prod__label--action Хит

                            .prod__btns
                              button.prod__btn.prod__btn--like(type="button")
                                svg.icon
                                  use(xlink:href="img/svg/sprite.svg#heart")
                                svg.icon.hidden
                                  use(xlink:href="img/svg/sprite.svg#heart--filled")

              .scr1__card-right
                .scr1__card-content
                  .prod__rate
                    span
                    span
                    span
                    span
                    span

                  h1.scr1__card-title Игрушка мягкая Disney
                    br
                    |  Холодное сердце 2

                  p.scr1__card-article Штрих код: 123456

                  .scr1__card-is
                    p.scr1__card-active В наличии:
                      b  в 3 магазинах

                    .scr1__card-hidden
                      .scr1__card-hidden-item
                        .scr1__card-hidden-top
                          p г. Симферополь,
                            b  пр. Победы, 56 ТЦ "Таир"
                          span.scr1__card-hidden-is В наличии
                        .scr1__card-hidden-bottom
                          p пн-вс  10-00 до 21-00,
                            a(href="tel:+79785106268" rel="nofollow")  +7 (978) 510-62-68
                      .scr1__card-hidden-item
                        .scr1__card-hidden-top
                          p г. Симферополь,
                            b  ул. Беспалова, 110д
                          span.scr1__card-hidden-is В наличии
                        .scr1__card-hidden-bottom
                          p пн-вс  10-00 до 21-00,
                            a(href="tel:+79785106268" rel="nofollow")  +7 (978) 510-62-68
                      .scr1__card-hidden-item
                        .scr1__card-hidden-top
                          p г. Симферополь,
                            b  ул. Гагарина, 20а ТЦ "Гудзон"
                          span.scr1__card-hidden-isnot Нет в наличии
                        .scr1__card-hidden-bottom
                          p пн-вс  10-00 до 21-00,
                            a(href="tel:+79785106268" rel="nofollow")  +7 (978) 510-62-68
                      .scr1__card-hidden-item
                        .scr1__card-hidden-top
                          p г. Симферополь,
                            b  ул. Беспалова, 158а
                          span.scr1__card-hidden-isnot Нет в наличии
                        .scr1__card-hidden-bottom
                          p пн-вс  10-00 до 21-00,
                            a(href="tel:+79785106268" rel="nofollow")  +7 (978) 510-62-68

                  .prod__prices
                    span.prod__price--new 3 799 Р
                    span.prod__price--old 3900 Р

                  .prod__quant
                    .quantity
                      button.quantity-arrow.quantity-arrow-minus(type='button') –
                      input.quantity-num(type='number', value='1')
                      button.quantity-arrow.quantity-arrow-plus(type='button') +

                    span.prod__price--sum итого:
                      b
                        span  3799
                        |  Р

                  .scr1__card-btns
                    .btn__wrap.btn__wrap--red
                      a.xbtn.xbtn--red(href="#") В корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#cart")

                    .btn__wrap.btn__wrap--red.btn__wrap--blue
                      a.xbtn.xbtn--red.xbtn--blue(href="#") Купить в 1 клик

      ul.scr1__tabs-nav
        li.current
          a(href="#scr1__tab-0") О товаре
        li
          a(href="#scr1__tab-1") Отзывы

      ul.scr1__tabs
        li.scr1__tab#scr1__tab-0
          .scr1__tab-df
            .scr1__tab-content
              .article
                p В этом малютке кроется огненный дух! Почувствуйте себя героем любимой сказки, играя с мягкой саламандрой Бруни Disney из «Холодное сердце 2»!

                ul
                  li Игрушка сделана в виде персонажа мультфильма «Холодное сердце 2» - ящерицы-огненного духа.

                  li На спине саламандры – гребешок в виде пламени. Запустите подсветку, и он засияет, как настоящий!

                  li Звуковые эффекты, как в мультфильме.

                  li Длина игрушки – около 30 см.

                p
                  b ВНИМАНИЕ! Для работы требуются 3 батарейки ААА

            .scr1__tab-table
              table
                tbody
                  tr
                    td Код товара
                    td 1000104619
                  tr
                    td Страна-производитель
                    td Китай
                  tr
                    td Габариты упаковки
                    td 15см x 30см x 13см
                  tr
                    td Вес упаковки
                    td 0,58 кг

  // /.scr1

mixin scr1--catalog()
  section.scr1.scr1--card(id="scr1")
    .container
      span.scr1__menu-btn Каталог
      .scr1__df

        aside.scr1__menu-wrap
          .scr1__menu-item.scr1__menu
            ul.menu
              li.menu-item
                a(href="#")
                  span.menu-item__text Игрушки
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
                    .sub-menu__item
                      a(href="#") Игрушки для малышей
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Погремушки
                        li.menu-item
                          a(href="#") Ночники, проекторы
                        li.menu-item
                          a(href="#") Мобили, подвески, дуги
                        li.menu-item
                          a(href="#") Развивающие музыкальные игрушки
                        li.menu-item
                          a(href="#") Коврики для малышей
                        li.menu-item
                          a(href="#") Игрушки из дерева, бизиборды
                        li.menu-item
                          a(href="#") Игрушки для купания, рыбалки
                        li.menu-item
                          a(href="#") Сортеры, пирамиды, кубики, шнуровка
                        li.menu-item
                          a(href="#") Каталки, неваляшки, юлы
                        li.menu-item
                          a(href="#") Кукольные театры
                        li.menu-item
                          a(href="#") Толокары, качалки, прыгуны
                    .sub-menu__item
                      a(href="#") Конструкторы
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Лего
                        li.menu-item
                          a(href="#") Конструкторы для малышей
                        li.menu-item
                          a(href="#") Конструкторы 6+
                        li.menu-item
                          a(href="#") Электронные, магнитные, металлические конструкторы
                    .sub-menu__item
                      a(href="#") Настольные игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Игры-ходилки
                        li.menu-item
                          a(href="#") Экономические игры
                        li.menu-item
                          a(href="#") Хоккей, футбол, бильярд
                        li.menu-item
                          a(href="#") Логические игры и головоломки
                        li.menu-item
                          a(href="#") Пазлы, 3Д пазлы
                    .sub-menu__item
                      a(href="#") Сюжетно-ролевые игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Кухни, посуда, бытовая техника
                        li.menu-item
                          a(href="#") Кассы, магазины, овощи, фрукты
                        li.menu-item
                          a(href="#") Наборы помощниц и хозяюшек
                        li.menu-item
                          a(href="#") Наборы парикмахера и салоны красоты
                        li.menu-item
                          a(href="#") Доктор, стоматолог, ветеринар
                        li.menu-item
                          a(href="#") Наборы инструментов
                        li.menu-item
                          a(href="#") Наборы полицейского, пожарного, военного
                    .sub-menu__item
                      a(href="#") Радиоуправляемые игрушки
                    .sub-menu__item
                      a(href="#") Мягкие игрушки
                    .sub-menu__item
                      a(href="#") Животные и динозавры
                    .sub-menu__item
                      a(href="#") Интерактивные игрушки
                    .sub-menu__item
                      a(href="#") Мультгерои
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Бен 10
                        li.menu-item
                          a(href="#") Мончичи
                        li.menu-item
                          a(href="#") Полирабокар
                        li.menu-item
                          a(href="#") Свинка Пеппа
                        li.menu-item
                          a(href="#") Герои в масках
                        li.menu-item
                          a(href="#") Черепашки Ниндзя
                        li.menu-item
                          a(href="#") Герои Марвел
                        li.menu-item
                          a(href="#") Щенячий патруль
              li.menu-item
                a(href="#")
                  span.menu-item__text Автокресла
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
              li.menu-item
                a(href="#")
                  span.menu-item__text Коляски
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская мебель
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская одежда
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская обувь
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Аксессуары
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Активный отдых
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Школа
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Кормление
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Уход и гигиена
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Мамам
                  span.menu-item__btn

        .scr1__right
          +scr_prod--page

  // /.scr1

mixin scr1--categories()
  section.scr1.scr1--card(id="scr1")
    .container
      span.scr1__menu-btn Каталог
      .scr1__df

        aside.scr1__menu-wrap
          .scr1__menu-item.scr1__menu
            ul.menu
              li.menu-item
                a(href="#")
                  span.menu-item__text Игрушки
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
                    .sub-menu__item
                      a(href="#") Игрушки для малышей
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Погремушки
                        li.menu-item
                          a(href="#") Ночники, проекторы
                        li.menu-item
                          a(href="#") Мобили, подвески, дуги
                        li.menu-item
                          a(href="#") Развивающие музыкальные игрушки
                        li.menu-item
                          a(href="#") Коврики для малышей
                        li.menu-item
                          a(href="#") Игрушки из дерева, бизиборды
                        li.menu-item
                          a(href="#") Игрушки для купания, рыбалки
                        li.menu-item
                          a(href="#") Сортеры, пирамиды, кубики, шнуровка
                        li.menu-item
                          a(href="#") Каталки, неваляшки, юлы
                        li.menu-item
                          a(href="#") Кукольные театры
                        li.menu-item
                          a(href="#") Толокары, качалки, прыгуны
                    .sub-menu__item
                      a(href="#") Конструкторы
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Лего
                        li.menu-item
                          a(href="#") Конструкторы для малышей
                        li.menu-item
                          a(href="#") Конструкторы 6+
                        li.menu-item
                          a(href="#") Электронные, магнитные, металлические конструкторы
                    .sub-menu__item
                      a(href="#") Настольные игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Игры-ходилки
                        li.menu-item
                          a(href="#") Экономические игры
                        li.menu-item
                          a(href="#") Хоккей, футбол, бильярд
                        li.menu-item
                          a(href="#") Логические игры и головоломки
                        li.menu-item
                          a(href="#") Пазлы, 3Д пазлы
                    .sub-menu__item
                      a(href="#") Сюжетно-ролевые игры
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Кухни, посуда, бытовая техника
                        li.menu-item
                          a(href="#") Кассы, магазины, овощи, фрукты
                        li.menu-item
                          a(href="#") Наборы помощниц и хозяюшек
                        li.menu-item
                          a(href="#") Наборы парикмахера и салоны красоты
                        li.menu-item
                          a(href="#") Доктор, стоматолог, ветеринар
                        li.menu-item
                          a(href="#") Наборы инструментов
                        li.menu-item
                          a(href="#") Наборы полицейского, пожарного, военного
                    .sub-menu__item
                      a(href="#") Радиоуправляемые игрушки
                    .sub-menu__item
                      a(href="#") Мягкие игрушки
                    .sub-menu__item
                      a(href="#") Животные и динозавры
                    .sub-menu__item
                      a(href="#") Интерактивные игрушки
                    .sub-menu__item
                      a(href="#") Мультгерои
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Бен 10
                        li.menu-item
                          a(href="#") Мончичи
                        li.menu-item
                          a(href="#") Полирабокар
                        li.menu-item
                          a(href="#") Свинка Пеппа
                        li.menu-item
                          a(href="#") Герои в масках
                        li.menu-item
                          a(href="#") Черепашки Ниндзя
                        li.menu-item
                          a(href="#") Герои Марвел
                        li.menu-item
                          a(href="#") Щенячий патруль
              li.menu-item
                a(href="#")
                  span.menu-item__text Автокресла
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
                    .sub-menu__item
                      a(href="#") Игрушки для девочек
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Куклы
                        li.menu-item
                          a(href="#") Пупсы
                        li.menu-item
                          a(href="#") Коляски, манежи для кукол
                        li.menu-item
                          a(href="#") Дома, мебель, машинки для кукол
                        li.menu-item
                          a(href="#") Бижутерия и косметика
                        li.menu-item
                          a(href="#") Аксессуары и одежда для кукол
                        li.menu-item
                          a(href="#") Лошадки и единороги
                        li.menu-item
                          a(href="#") Сумочки, кометички
              li.menu-item
                a(href="#")
                  span.menu-item__text Коляски
                  span.menu-item__btn
                .sub-menu__wrap
                  span.sub-menu__close
                  .sub-menu__cols
                    .sub-menu__item
                      a(href="#") Игрушки для мальчиков
                      ul.sub-menu
                        li.menu-item
                          a(href="#") Скритчеры, Гуджутсу
                        li.menu-item
                          a(href="#") Инфинити Надо
                        li.menu-item
                          a(href="#") Ж/Д, треки, парковки, гаражи
                        li.menu-item
                          a(href="#") Машины
                        li.menu-item
                          a(href="#") Разный транспорт
                        li.menu-item
                          a(href="#") Роботы, трансформеры
                        li.menu-item
                          a(href="#") Военные наборы
                        li.menu-item
                          a(href="#") Оружие и аксессуары
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская мебель
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская одежда
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Детская обувь
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Аксессуары
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Активный отдых
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Школа
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Кормление
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Уход и гигиена
                  span.menu-item__btn
              li.menu-item
                a(href="#")
                  span.menu-item__text Мамам
                  span.menu-item__btn

        .scr1__right
          +scr_categories

  // /.scr1
