mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .container
      h2.certs__title Свидетельства и сертификаты

      .certs__wrap
        .certs__slider#certs__slider
          .swiper-wrapper
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-1.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-1.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-2.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-2.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-3.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-3.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-4.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-4.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-1.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-1.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-2.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-2.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-3.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-3.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-4.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-4.jpg" alt="")

        .certs__slider-btns
          button.swiper-button-prev(type="button")
          button.swiper-button-next(type="button")

  // /.scr_certs
