mixin scr_deliver()
  section.scr_deliver.deliver(id="scr_deliver")
    .container
      h1.page-title Оплата и доставка

      .deliver__row
        .deliver__df
          .deliver__left.decor-wrap
            p.deliver__title Всегда рады видеть Вас в наших магазинах по адресам в г. Симферополь:

            ul.deliver__items
              li
                b пр. Победы, 56 ТЦ "Таир"
                br
                |  Режим работы:
                br
                b  с 9.00 до 20.00
              li
                b ул. Беспалова, 110д
                br
                |  Режим работы:
                br
                b  с 9.00 до 19.00
              li
                b ул. Гагарина, 20а ТЦ "Гудзон"
                br
                |  Режим работы:
                br
                b  с 9.00 до 20.00

          .deliver__right.decor-wrap
            p.deliver__title Сделать заказ можно по телефону:

            ul.deliver__items
              li
                b
                  a(href="tel:+79785106268" rel="nofollow") +7 (978) 510-62-68
                  | ,
                  a(href="tel:+79788365125" rel="nofollow")  +7 (978) 836-51-25

                br
                |  Ежедневно
                br
                b  с 9.00 до 18.00

      .deliver__row
        .decor-wrap
          .deliver__title Способы оплаты:

          ul.deliver__feat
            li Оплата наличными при самовывозе из наших магазинов либо курьеру при доставке товара.
            li Оплата банковской картой онлайн.

          .deliver__bottom
            .deliver__text
              p Наш сайт подключен к интернет-эквайрингу РНКБ Банка (ПАО), и Вы можете оплатить Товар банковской картой Visa, MasterCard, Maestro и МИР. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей предпроцессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.

            ul.deliver__payment
              li
                img(src="img/deliver/pay-1.svg" alt="" data-object-fit-contain-top)
              li
                img(src="img/deliver/pay-2.svg" alt="" data-object-fit-contain-top)
              li
                img(src="img/deliver/pay-3.svg" alt="" data-object-fit-contain-top)
              li
                img(src="img/deliver/pay-4.svg" alt="" data-object-fit-contain-top)

      .deliver__row
        .decor-wrap
          .deliver__title Условия самовывоза товара:

          .deliver__desc
            p
              b На сегодняшний день в нашем интернет-магазине товар можно забрать на условиях самовывоза  по адресу:

          ul.deliver__items
            li
              b пр. Победы, 56 ТЦ "Таир"
              br
              |  Режим работы:
              br
              b  с 9.00 до 20.00
            li
              b ул. Беспалова, 110д
              br
              |  Режим работы:
              br
              b  с 9.00 до 19.00
            li
              b ул. Гагарина, 20а ТЦ "Гудзон"
              br
              |  Режим работы:
              br
              b  с 9.00 до 20.00

      .deliver__row
        .decor-wrap
          .deliver__title Условия доставки товара:

          .deliver__desc
            p
              b Стоимость доставки по Симферополю 150 руб.&nbsp;&nbsp;&nbsp;&nbsp;При заказе товаров от 2000 руб. - бесплатная доставка.
              br
              |  Доставка осуществляется в течение 1-2 часов с момента заказа.

          .deliver__desc
            p
              b Доставка в другие города Крыма согласно тарифам ТК.
              |  Работаем с транспортными компаниями КИТ, MagicTrans, СДЭК, Почта России

          ul.deliver__nav.js-deliver__nav
            li.current
              a(href="#deliver__tab-0") КИТ
            li
              a(href="#deliver__tab-1") Magic Trans
            li
              a(href="#deliver__tab-2") СДЭК
            li
              a(href="#deliver__tab-3") Почта России

          ul.deliver__tabs
            li.deliver__tab#deliver__tab-0
              ul.deliver__companies
                li
                  b Севастополь
                  br
                  |  Фиолентовское шоссе, 1/7
                  br
                  a(href="tel:88692777550" rel="nofollow") 8 (8692) 777-550
                  |,
                  a(href="tel:89782072705" rel="nofollow")  8 (978) 207-27-05
                  br
                  a(href="mailto:sevastopol@magic-trans.ru" rel="nofollow") sevastopol@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной
                li
                  b Ялта
                  br
                  |  ул. Дзержинского, 5
                  br
                  a(href="tel:+79785596764" rel="nofollow") +7 (978) 559-67-64
                  |,
                  a(href="tel:+79785596765" rel="nofollow")  +7 (978) 559-67-65
                  br
                  a(href="mailto:yalta@magic-trans.ru" rel="nofollow") yalta@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной
                li
                  b Евпатория
                  br
                  |  ул. Дм. Ульянова, 72
                  br
                  a(href="tel:+79785596764" rel="nofollow") +7 (978) 559-67-64
                  |,
                  a(href="tel:+79785596765" rel="nofollow")  +7 (978) 559-67-65
                  br
                  a(href="mailto:yalta@magic-trans.ru" rel="nofollow") yalta@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной
                li
                  b Саки
                  br
                  |  Фиолентовское шоссе, 1/7
                  br
                  a(href="tel:88692777550" rel="nofollow") 8 (8692) 777-550
                  |,
                  a(href="tel:89782072705" rel="nofollow")  8 (978) 207-27-05
                  br
                  a(href="mailto:sevastopol@magic-trans.ru" rel="nofollow") sevastopol@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной
                li
                  b Керчь
                  br
                  |  ул. Дзержинского, 5
                  br
                  a(href="tel:+79785596764" rel="nofollow") +7 (978) 559-67-64
                  |,
                  a(href="tel:+79785596765" rel="nofollow")  +7 (978) 559-67-65
                  br
                  a(href="mailto:yalta@magic-trans.ru" rel="nofollow") yalta@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной
                li
                  b Феодосия
                  br
                  |  ул. Дм. Ульянова, 72
                  br
                  a(href="tel:+79785596764" rel="nofollow") +7 (978) 559-67-64
                  |,
                  a(href="tel:+79785596765" rel="nofollow")  +7 (978) 559-67-65
                  br
                  a(href="mailto:yalta@magic-trans.ru" rel="nofollow") yalta@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной

            li.deliver__tab#deliver__tab-1
              ul.deliver__companies
                li
                  b Севастополь
                  br
                  |  Фиолентовское шоссе, 1/7
                  br
                  a(href="tel:88692777550" rel="nofollow") 8 (8692) 777-550
                  |,
                  a(href="tel:89782072705" rel="nofollow")  8 (978) 207-27-05
                  br
                  a(href="mailto:sevastopol@magic-trans.ru" rel="nofollow") sevastopol@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной
                li
                  b Ялта
                  br
                  |  ул. Дзержинского, 5
                  br
                  a(href="tel:+79785596764" rel="nofollow") +7 (978) 559-67-64
                  |,
                  a(href="tel:+79785596765" rel="nofollow")  +7 (978) 559-67-65
                  br
                  a(href="mailto:yalta@magic-trans.ru" rel="nofollow") yalta@magic-trans.ru
                  br
                  |  График работы:
                  br
                  |  Пн - Пт: с 9:00 до 18:00
                  br
                  |  Сб: с 9:00 до 13:00, Вс: выходной

  // /.scr_deliver
