mixin scr_dayprod()
  section.scr_dayprod.dayprod(id="scr_prod-day")
    .container
      h2.page-title Товар дня

      .dayprod__df
        a.dayprod__img(href="#")
          .prod__top
            .prod__btns
              span.prod__btn.prod__btn--like
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#heart")
                svg.icon.hidden
                  use(xlink:href="img/svg/sprite.svg#heart--filled")

          img(src="img-temp/prod-day.jpg" alt="" data-object-fit-contain)

        .dayprod__content
          .dayprod__content-top
            span.dayprod__article Артикул: YM-360B

            //. количество span = рейтингу
            .prod__rate
              span
              span
              span
              span
              span

          h3.dayprod__title Прогулочная коляска Babyton Cosmo

          .dayprod__text
            p Маневренная и проходимая коляска Babyton Cosmo подходит для поездок по любым дорогам. Современный и стильный дизайн коляски подарит вам дополнительное удовольствие от прогулок. Спинка регулируется в трёх положениях, в том числе в горизонтальном. Для того, чтобы малышу было ещё удобнее отдыхать предусмотрена регулируемая подножка...

          .prod__prices
            span.prod__price--new 3 799 Р
            span.prod__price--old 3900 Р

          .dayprod__content-btns
            .btn__wrap.btn__wrap--red
              a.xbtn.xbtn--red(href="#")
                span.xbtn__percent 10%
                |  Экономия 2 270 Р

        .dayprod__clock
          p До конца акции:
          #countdown

  // /.scr_prod-day
