mixin scr_insta()
  section.scr_insta.insta.grey-bg(id="scr_insta")
    .container
      h2.page-title Мы в instagram
      a.insta__link.xlink(href="#") #димасик

      .insta__wrap
        .insta__slider#insta__slider
          .swiper-wrapper
            .swiper-slide
              a.insta__item.link-watch.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-1.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.insta__item.link-watch.fancybox(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-2.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.insta__item.link-watch.fancybox(href="img-temp/insta/img-3.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-3.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.insta__item.link-watch.fancybox(href="img-temp/insta/img-4.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-4.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.insta__item.link-watch.fancybox(href="img-temp/insta/img-4.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-5.jpg" alt="" data-object-fit-cover)

        .insta__slider-btns
          button.swiper-button-prev(type="button")
          button.swiper-button-next(type="button")

  // /.scr_insta
