mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs--post
      .post__df
        .post__main
          .post__top
            .post__top-left
              h1.post__title Как выбрать беговел

              ul.post__links
                li
                  a(href="#") Что учесть при выборе беговела
                li
                  a(href="#") Выбрать беговел по возрасту ребенка
                li
                  a(href="#") Популярные бренды
                li
                  a(href="#") Как собрать и отрегулировать
                li
                  a(href="#") Советы по обучению малыша

            .post__img
              img(src="img-temp/post-img.jpg" alt="" data-object-fit-cover)

          .post__wrap
            .article.clearfix
              blockquote.alignright
                p Велосипед без педалей во многих странах стал пользоваться популярностью среди взрослых и детей. Данное средство передвижения внешним видом напоминает велосипед, только присутствует одно отличительное свойство – отсутствие педалей. Такой вид имеет много разных наименований – беговел, велосамокат, велобег, велокат, бегунок.

              h2 Для чего необходим велосипед, который не имеет педалей?

              p На первый взгляд, казалось бы, велобег совсем бесполезное средство, но это вовсе не так, эта чудо техника позволяет ребенку научиться руководить балансом своего тела.

              p Малышу поначалу очень сложно крутить педали, именно поэтому он в первую очередь должен научиться держать равновесие, и только после этого, он с легкостью сможет пользоваться настоящим двухколесным велосипедом.

              h2 Беговел имеет много положительных качеств

              ul
                li
                  b Комфортность.
                  |  Небольшой вес в среднем от 3 до 5 кг, позволяет нести его в руках маме, когда ребенок отказывается ехать на нем.

                li
                  b Безопасность.
                  |  Даже если на этом транспортном средстве достаточно быстро разогнаться, упасть на нем трудно, так как ребенок может тормозить самостоятельно или просто опираться на ножки.

                li
                  b Прост в обучении.
                  |  Благодаря устройству, ребенок способен научится держать баланс своего тела. В беговеле нет педалей и дополнительных колес, что позволяет управлять им более уверенно.

                li
                  b Удовлетворение для ребенка.
                  |  От езды на велокате, малыш получает достаточно много приятных эмоций и ощущений.

                li
                  b Вес.
                  |  Легкий велокат будет прост в использовании, как для ребенка, так и его родителей. На прогулке достаточно часто придется переносить его с места на место, поэтому небольшой вес будет очень кстати.


        aside.post__blog
          +scr_blog--post

  // /.scr_post
