mixin scr_brands()
  section.scr_brands.brands(id="scr_brands")
    .container
      .brands__wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-1.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-2.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-3.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-4.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-5.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-3.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-4.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/brands/img-5.jpg" alt="" data-object-fit-contain)

        .brands__slider-btns.swiper-btns
          button.swiper-button-prev(type="button")
          .swiper-dots
          button.swiper-button-next(type="button")

  // /.scr_brands
