mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .lead__df
        p.lead__title
          strong Заполните форму
          |  и получите фирменную кружку в подарок при покупке от 3000 Р

        .lead__img
          img(src="img/lead-img2.png" alt="" data-object-fit-contain)
          span.lead__img-arrow

        .lead__form
          .form
            form
              .form__wrap
                .form__item
                  span.your-tel.text-input
                    input(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                .btn__wrap.btn__wrap--red
                  input.xbtn.xbtn--red(type='submit', value='Отправить')

  // /.scr_lead
