mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      h1.page-title О компании

      .about__df
        .about__content
          .about__block
            p
              b Свой первый магазин мы открыли в 2005 г. и он составлял 4 кв.м.
                br
                |  Это был первый наш старт. На сегодняшний день у нас в Симферополе
                br
                |  3 детских магазина магазина игрушек «Димасик».

          ul.about__shops
            li Первый магазин
              br
              |  ул. Беспалова, 110д
              b 500 кв.м.
            li Второй магазин
              br
              |  пр. Победы, 56 ТЦ "Таир"
              b 500 кв.м.
            li Третий магазин
              br
              |  ул. Гагарина, 20а ТЦ "Гудзон"
              b 360 кв.м.

          .about__cols
            .about__block
              p.about__block-title более
                b  15
                br
                |  лет работы

              p мы набрались достаточного опыта и&nbsp;у&nbsp;нас сложились стойчивые взаимоотношения с поставщиками.

            .about__block
              p.about__block-title
                b  30 000
                br
                |  наименований

              p детских товаров. В их перечень входят всевозможные игры и игрушки, одежда, обувь, велосипеды, коляски, ходунки, стульчики для кормления, электромобили и многое другое

          .about__text
            p
              b Производителями являются разные страны: Россия, Украина, Белоруссия, Китай, США, Германия, Польша, Пакистан, Индонезия, и др.

          .about__text
            p
              b Основная наша цель –
              |  предоставить покупателю широкий ассортимент товаров по самым доступным и конкурентным ценам. Мы всегда работаем на прямую с производителями товаров.

          .about__text
            p
              b Главные наши ключи к успеху –
              |  это честность, порядочность и доброжелательность.

          h2.certs__title Свидетельства и сертификаты

          .about__text
            p
              b Имея большой опыт работы мы наработали авторитет и положительные отзывы от производителей по предоставлению качественной продукции

        .about__imgs
          .about__img
            img(src="img-temp/about-img.jpg" alt="" data-object-fit-cover)
          .about__img
            img(src="img-temp/contacts-img.jpg" alt="" data-object-fit-cover)

          .about__block.about__block--bottom
            p
              b Наша репутация - дополнительный плюс вам

  // /.scr_about
