mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h1.page-title Отзывы

      ul.reviews__list
        li.reviews__item
          .reviews__img
            img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

          .reviews__content
            h2.reviews__name Ирина Нуреева
            time(datetime="2021-01-10") 10 января 2021
            .reviews__text
              p Отличный магазин с доступными ценами. Всегда огромный выбор товаров. На новогодних праздниках были хорошие скидки. Спасибо, "Димасик" , за подарки для детей! Товары разного качества и ,соответственно, разные цены, но ассортимент достаточно не плохой.покупали игрушки и одежду для детей. Хороший выбор развивающих игрушек. Рядом с домом. Цены нормальные. Ассортимент огромный.

        li.reviews__item
          .reviews__img
            img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

          .reviews__content
            h2.reviews__name Ирина Нуреева
            time(datetime="2021-01-10") 10 января 2021
            .reviews__text
              p Отличный магазин с доступными ценами. Всегда огромный выбор товаров. На новогодних праздниках были хорошие скидки. Спасибо, "Димасик" , за подарки для детей! Товары разного качества и ,соответственно, разные цены, но ассортимент достаточно не плохой.покупали игрушки и одежду для детей. Хороший выбор развивающих игрушек. Рядом с домом. Цены нормальные. Ассортимент огромный.

        li.reviews__item
          .reviews__img
            img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

          .reviews__content
            h2.reviews__name Ирина Нуреева
            time(datetime="2021-01-10") 10 января 2021
            .reviews__text
              p Отличный магазин с доступными ценами. Всегда огромный выбор товаров. На новогодних праздниках были хорошие скидки. Спасибо, "Димасик" , за подарки для детей! Товары разного качества и ,соответственно, разные цены, но ассортимент достаточно не плохой.покупали игрушки и одежду для детей. Хороший выбор развивающих игрушек. Рядом с домом. Цены нормальные. Ассортимент огромный.

        li.reviews__item
          .reviews__img
            img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

          .reviews__content
            h2.reviews__name Ирина Нуреева
            time(datetime="2021-01-10") 10 января 2021
            .reviews__text
              p Отличный магазин с доступными ценами. Всегда огромный выбор товаров. На новогодних праздниках были хорошие скидки. Спасибо, "Димасик" , за подарки для детей! Товары разного качества и ,соответственно, разные цены, но ассортимент достаточно не плохой.покупали игрушки и одежду для детей. Хороший выбор развивающих игрушек. Рядом с домом. Цены нормальные. Ассортимент огромный.

      +paginator

  // /.scr_reviews
