mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h2.page-title Последние новости и статьи

      .blog__top
        ul.tabs-nav.tabs-nav--blog.js-tabs-nav
          li.current
            a(href="#blog__tab-0") Новости
          li
            a(href="#blog__tab-1") Акции
          li
            a(href="#blog__tab-2") Статьи

        a.xlink(href="#") Все новости


      ul.blog__tabs
        li.blog__tab#blog__tab-0
          ul.blog__list
            li
              .blog__item
                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Деревянные игрушки для&nbsp;детей – экологичные, безопасные, интересные

                .blog__img
                  img(src="img-temp/blog/img-1.png" alt="" data-object-fit-contain)
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-4.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?

  // /.scr_blog

mixin scr_blog--page()
  section.scr_blog.blog.blog--page(id="scr_blog")
    .container
      h1.page-title Новости и статьи

      ul.tabs-nav3.js-tabs-nav
        li.current
          a(href="#blog__tab-0") Советы молодым мамам
        li
          a(href="#blog__tab-1") Идеи для подарков
        li
          a(href="#blog__tab-2") Игрушки из натуральных материалов
        li
          a(href="#blog__tab-3") советы по выбору игрушки

      ul.blog__tabs
        li.blog__tab#blog__tab-0
          ul.blog__list
            li
              .blog__item
                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Деревянные игрушки для&nbsp;детей – экологичные, безопасные, интересные

                .blog__img
                  img(src="img-temp/blog/img-1.png" alt="" data-object-fit-contain)

                .blog__bottom
                  p Деревянные игрушки всегда ценились родителями и не только как дань прошлому. В первую очередь дерево экологичный материал...
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-4.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-4.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Деревянные игрушки для&nbsp;детей – экологичные, безопасные, интересные

                .blog__img
                  img(src="img-temp/blog/img-1.png" alt="" data-object-fit-contain)

                .blog__bottom
                  p Деревянные игрушки всегда ценились родителями и не только как дань прошлому. В первую очередь дерево экологичный материал...
            li
              .blog__item
                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Деревянные игрушки для&nbsp;детей – экологичные, безопасные, интересные

                .blog__img
                  img(src="img-temp/blog/img-1.png" alt="" data-object-fit-contain)

                .blog__bottom
                  p Деревянные игрушки всегда ценились родителями и не только как дань прошлому. В первую очередь дерево экологичный материал...
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?
            li
              .blog__item
                .blog__img
                  img(src="img-temp/blog/img-4.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-01") 1 апреля 2021

                  .blog__text
                    p Велобег для детей – зачем он нужен и как выбрать?

      +paginator

  // /.scr_blog

mixin scr_blog--post()
  section.scr_blog.blog.blog--post(id="scr_blog")
    h2.page-title Новые статьи

    ul.blog__list
      li
        .blog__item
          .blog__img
            img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

          .blog__content
            time(datetime="2021-04-01") 1 апреля 2021

            .blog__text
              p Велобег для детей – зачем он нужен и как выбрать?
      li
        .blog__item
          .blog__img
            img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

          .blog__content
            time(datetime="2021-04-01") 1 апреля 2021

            .blog__text
              p Велобег для детей – зачем он нужен и как выбрать?

  // /.scr_blog
