mixin scr_buyers()
  section.scr_buyers.buyers(id="scr_buyers")
    .container
      h1.page-title Оптовым покупателям
      .buyers__top(style="background: transparent url('img/buyers-bg.jpg') no-repeat center center; background-size: cover;")
        .buyers__info
          .buyers__text
            p Наша компания «ДИМАСИК» (ИП Тимощук Т. А.) является официальным дистрибьютером СООО&nbsp;ПП «Полесье» на территории Р Крым

          img(src="img/buyers-logo.png" alt="")

      h2.buyers__title Мы гарантируем:

      ul.buyers__feat
        li
          .buyers__feat-item
            img(src="img/svg/icons/buyers-1.svg" alt="")

            .buyers__feat-text
              p Постоянное наличие основного ассортимента «Полесье» на нашем складе по&nbsp;адресу:
                br
                strong  г. Симферополь, ул. Беспалова, 158а
              p
                b Минимальные цены, такие же как
                  br
                  |  у завода производителя

        li
          .buyers__feat-item
            img(src="img/svg/icons/buyers-2.svg" alt="")

            .buyers__feat-text
              p Качество товара, соответствующее техническим условиям и нормам производителя
          .buyers__feat-item
            img(src="img/svg/icons/buyers-3.svg" alt="")

            .buyers__feat-text
              p Наличие сертификата на продукцию, подтверждающий его качество

        li
          .buyers__feat-item
            img(src="img/svg/icons/buyers-4.svg" alt="")

            .buyers__feat-text
              p Возможность заказать товар по прайсу либо выбрать необходимый товар на нашем складе
          .buyers__feat-item
            img(src="img/svg/icons/buyers-5.svg" alt="")

            .buyers__feat-text
              p Быструю доставку по Симферополю и&nbsp;территории Крым

      .buyers__middle
        .buyers__feat-item
          .buyers__feat-text
            h3 Бесплатная доставка:
            p по Симферополю при заказе
              br
              b  от минимальной суммы

            p по Республике Крым при заказе
              br
              b  от 20 000 руб.
            br
            p
              b Мы работаем с юридическими лицами и&nbsp;индивидуальными предпринимателями

            p
              b Минимальная сумма заказа

            b.buyers__feat-price 10 000 руб.

        .buyers__contacts
          p Мы продаем игрушки, несущие добро
            br
            |  в дома людей и дарящие улыбку малышам!

          a(href="tel:+79788365125" rel="nofollow") +7 (978) 836-51-25, Татьяна
          a(href="tel:+79788365126" rel="nofollow") +7 (978) 836-51-26, Геннадий
          a(href="mailto:crimea-polesie@ya.ru" rel="nofollow") crimea-polesie@ya.ru

        .buyers__feat-item
          a.buyers__feat-img.fancybox(href="img-temp/letter.jpg")
            img(src="img-temp/letter.jpg" alt="")

      .buyers__form
        .form.form--general
          form
            p.form__title Обратная связь
            .form__desc
              p Заполните форму и наш специалист свяжется с Вами в течение 60 секунд

            .form__df
              .form__col
                .form__item
                  span.your-name.text-input
                    input(type='text', name='your-name', value='',  placeholder='Имя')

                .form__item
                  span.your-tel.text-input
                    input(type='tel', name='your-tel', value='',  placeholder='+7 (___) ___-__-__')

              .form__col
                .form__item
                  span.your-msg.text-input
                    textarea(name='your-msg', placeholder='Сообщение')

            .form__item.form__item--submit
              .btn__wrap.btn__wrap--red
                input.xbtn.xbtn--red(type='submit', value='Отправить')

            .form__item
              span.accept
                label
                  input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                  span Согласие на обработку персональных данных
                    i.accept__icon



  // /.scr_buyers
