mixin scr_categories()
  section.scr_categories.categories(id="scr_categories")
    +breadcrumbs--categories

    h1.page-title Игрушки и игры

    ul.categories__list
      li
        .categories__item
          .categories__content
            h3.categories__title Игрушки для мальчиков
            ul
              li
                a.xlink(href="#") Скритчеры, Гуджутсу
              li
                a.xlink(href="#") Инфинити Надо
              li
                a.xlink(href="#") Ж/Д, треки, парковки, гаражи
              li
                a.xlink(href="#") Машины
              li
                a.xlink(href="#") Скритчеры, Гуджутсу
              li
                a.xlink(href="#") Инфинити Надо
              li
                a.xlink(href="#") Ж/Д, треки, парковки, гаражи
              li
                a.xlink(href="#") Машины
            button.categories__all.xlink(type="button") Все 8 категорий

          .categories__img
            img(src="img/categ/img-1.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Игрушки для девочек
            ul
              li
                a.xlink(href="#") Куклы
              li
                a.xlink(href="#") Пупсы
              li
                a.xlink(href="#") Коляски, манежи для кукол
              li
                a.xlink(href="#") Дома, мебель, машинки для кукол

            button.categories__all.xlink(type="button") Все 8 категорий

          .categories__img
            img(src="img/categ/img-2.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Настольные игры
            ul
              li
                a.xlink(href="#") Игры-ходилки
              li
                a.xlink(href="#") Экономические игры
              li
                a.xlink(href="#") Хоккей, футбол, бильярд
              li
                a.xlink(href="#") Логические игры и головоломки

            button.categories__all.xlink(type="button") Все 5 категорий

          .categories__img
            img(src="img/categ/img-3.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Сюжетно-ролевые игры
            ul
              li
                a.xlink(href="#") Кухни, посуда, бытовая техника
              li
                a.xlink(href="#") Кассы, магазины, овощи, фрукты
              li
                a.xlink(href="#") Наборы помощниц и хозяюшек
              li
                a.xlink(href="#") Наборы парикмахера и салоны красоты

            button.categories__all.xlink(type="button") Все 7 категорий

          .categories__img
            img(src="img/categ/img-4.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Игрушки для малышей
            ul
              li
                a.xlink(href="#") Погремушки
              li
                a.xlink(href="#") Ночники, проекторы
              li
                a.xlink(href="#") Мобили, подвески, дуги
              li
                a.xlink(href="#") Развивающие музыкальные игрушки

            button.categories__all.xlink(type="button") Все 11 категорий

          .categories__img
            img(src="img/categ/img-5.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Конструкторы
            ul
              li
                a.xlink(href="#") Лего
              li
                a.xlink(href="#") Конструкторы для малышей
              li
                a.xlink(href="#") Конструкторы 6+
              li
                a.xlink(href="#") Электронные, магнитные,    металлические конструкторы

            button.categories__all.xlink(type="button")

          .categories__img
            img(src="img/categ/img-6.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Мультгерои
            ul
              li
                a.xlink(href="#") Бен 10
              li
                a.xlink(href="#") Мончичи
              li
                a.xlink(href="#") Полирабокар
              li
                a.xlink(href="#") Свинка Пеппа

            button.categories__all.xlink(type="button") Все 8 категорий

          .categories__img
            img(src="img/categ/img-7.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Интерактивные
              br
              |  игрушки

          .categories__img
            img(src="img/categ/img-8.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Животные
              br
              |  и динозавры

          .categories__img
            img(src="img/categ/img-9.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Радиоуправляемые
              br
              |  игрушки

          .categories__img
            img(src="img/categ/img-10.jpg" alt="" data-object-fit-contain-top)

      li
        .categories__item
          .categories__content
            h3.categories__title Мягкие игрушки

          .categories__img
            img(src="img/categ/img-11.jpg" alt="" data-object-fit-contain-top)

  // /.scr_categories
