mixin scr_vk()
  section.scr_vk.grey-bg(id="scr_vk")
    .container
      h2.page-title Мы в Vkontakte
      a.insta__link.xlink(href="#") #димасик

      .scr_vk__wrap
        .scr_vk__slider#scr_vk__slider
          .swiper-wrapper
            .swiper-slide
              #vk_post_-140452164_15598
                script(type='text/javascript').
                  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
                  (function() {
                  if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-140452164_15598', -140452164, 15598, '47y3KLLBn6tdfBuDgvFPyxYJyjU')) setTimeout(arguments.callee, 50);
                  }());
            .swiper-slide
              #vk_post_-140452164_15565
                script(type='text/javascript').
                  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
                  (function() {
                  if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-140452164_15565', -140452164, 15565, 'Has5mzl7Dx7Phw6Dl4YEn0J7z54')) setTimeout(arguments.callee, 50);
                  }());

            .swiper-slide
              #vk_post_-140452164_15554
                script(type='text/javascript').
                  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
                  (function() {
                  if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-140452164_15554', -140452164, 15554, 'qe5pnYGsFofxRiLF_jl_MUEArBc')) setTimeout(arguments.callee, 50);
                  }());


        .scr_vk__slider-btns
          button.swiper-button-prev(type="button")
          button.swiper-button-next(type="button")

  // /.scr_insta
