.form
  position: relative
  z-index: 30
  width: 100%

  input,textarea
    font-family: $form-font

  .text-input
    display: block
    width: 100%

    input,textarea
      background: none
      border: none
      outline: none
      transition: 0.3s
      resize: none


      // @include placeholder(#999999, 18px)

      &:focus
        // @include placeholder(#fff, 18px)

    textarea
      // height: 136px

  .accept
    label
      display: block
      width: 100%
      cursor: pointer
      transition: 0.3s
      text-align: center

      & > span
        position: relative
        display: inline-block
        transition: 0.3s

    input
      display: none

    input:checked + span

  // @media screen and (max-width: 1070px)

  //   max-width 1070px

  // @media screen and (max-width: 991px)

  //   max-width 991px

  // @media screen and (max-width: 575px)

  //   max-width 575px

 /* form */
