.modal
  position: relative
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 0
  background-color: rgba(26,29,35,0.7)
  z-index: 1000
  opacity: 0
  overflow: hidden
  &.active
    display: block
    opacity: 1
    min-height: 100vh
  &__content
    display: flex
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    width: 480px
    max-width: 100%
    opacity: 0
    transition: 0.7s

    &.visible
      opacity: 1

  .form
    max-height: 100vh
    padding: 55px 90px
    overflow: auto
    width: 100%
    z-index: 0

  .close
    background: none
    border: none
    outline: none

    cursor: pointer
    z-index: 300
    transition: 0.3s

    position: absolute
    top: 2px
    right: 4px

    display: block
    width: 30px
    height: 30px
    &::before,&::after
      content: ''
      position: absolute
      top: 50%
      left: 50%

      display: block
      width: 13px
      height: 3px
      background-color: #fff
      border-radius: 1.5px
      transition: 0.3s

    &::before
      transform: translate(-50%,-50%) rotate(45deg)

    &::after
      transform: translate(-50%,-50%) rotate(-45deg)

    &:hover
      &::before,&::after
        background-color: $accent2


  @media screen and (max-width: 575px)
    .form
      padding: 45px 70px

  // max-width 575px

  @media screen and (max-width: 450px)
    .form
      padding: 45px 40px

  // max-width 450px

  @media screen and (max-width: 450px)
    .form
      padding: 45px 30px

  // max-width 450px

 /* modal */
