.category
  position: relative
  &__gallery
    position: relative
    margin-bottom: 10px
    &-slider
      overflow: hidden
    .swiper-button-prev,
    .swiper-button-next
      position: absolute
      top: 50%
      transform: translateY(-50%)
    .swiper-button-prev
      left: -38px
    .swiper-button-next
      right: -38px
  &__item
    display: block
    text-decoration: none
    outline: none
    height: 343px


  @media screen and (max-width: 1230px)
    &__gallery
      &-slider
        width: calc(100% - 30px)
        margin-left: 15px
      .swiper-button-prev
        left: -18px
      .swiper-button-next
        right: -18px

  // max-width 1230px

  @media screen and (max-width: 1070px)
    &__item
      height: 300px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__item
      height: 250px

  // max-width 991px

  @media screen and (max-width: 800px)
    &__item
      height: 200px

  // max-width 800px

  // @media screen and (max-width: 767px)

  // max-width 767px

  @media screen and (max-width: 575px)
    &__gallery
      margin-bottom: 0

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* category */
