.partners
  position: relative
  padding-top: 47px
  padding-bottom: 97px
  &__list
    margin: 0
    padding: 0
    list-style: none
    margin-top: 62px
    .swiper-wrapper
      display: flex
      justify-content: space-between
      align-items: center
  &__item
    margin: 0 22px
    width: auto
    height: auto
    flex-shrink: 1


  @media screen and (max-width: 991px)
    padding-bottom: 47px

  // max-width 991px

  @media screen and (max-width: 575px)
    padding-top: 37px
    padding-bottom: 37px
    &__list
      margin-top: 32px
    &__item
      margin: 0
      flex-shrink: 0

  // max-width 575px

  @media screen and (max-width: 500px)
    &__list
      margin-top: 22px

  // max-width 500px

/* partners
