.brands
  position: relative
  padding-top: 59px
  padding-bottom: 76px
  &::before
    background-image: linear-gradient(to top, rgba(211, 209, 208, 0.8) 0%, rgba(248, 247, 247, 0.8) 100%)
  .page-title
    margin-bottom: 40px
  &__slider
    overflow: hidden
    width: calc(100% + 30px)
    margin-left: -15px
    padding: 20px 15px
    &-wrap
      position: relative
  &__item
    height: 114px
    padding: 21px 33px
    background-color: #ffffff
    transition: 0.3s
    &:hover
      box-shadow: 0 5px 20px rgba($accent, 0.2)


  @media screen and (max-width: 1170px)
    padding-top: 49px
    padding-bottom: 46px
    .page-title
      margin-bottom: 20px

  // max-width 1170px

  @media screen and (max-width: 767px)
    padding-top: 29px
    padding-bottom: 16px
    .page-title
      margin-bottom: 5px
    &__item
      height: 94px
      padding: 15px 10px
    &__slider
      &-btns
        display: none

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 20px

  // max-width 575px

/* brands */
