.prod
  position: relative
  padding-top: 101px
  padding-bottom: 128px
  .page-title
    margin-bottom: 49px
  &__slider
    overflow: hidden
    &-wrap
      position: relative
    .swiper-slide
      height: auto
  &__item
    display: flex
    flex-direction: column
    height: 100%
    padding-bottom: 30px
    text-align: center
    background-color: #ffffff
    border-radius: 8px
    overflow: hidden
  &__img
    display: block
    text-decoration: none
    outline: none
    height: 229px
    overflow: hidden
    img
      display: block
      height: 100%
      transition: 0.3s
    &:hover
      img
        transform: scale(1.1)
        transition: 0.8s
  &__content
    flex-grow: 1
    padding: 23px 15px 22px
    a
      display: block
      text-decoration: none
      outline: none
      margin-bottom: 8px
      h2,h3
        min-height: 46px
        font-size: 18px
        line-height: 1.444444444444444 /* 26 / 18 */
        font-weight: 700
        text-transform: uppercase
        transition: .3s
      &:hover
        h2,h3
          color: $accent
  &__price
    display: block
    color: $accent
    font-size: 16px
    font-weight: 700
    span
      font-size: 24px
      font-weight: 800
  &__square
    display: block
    font-weight: 500


  @media screen and (max-width: 1400px)
    padding-top: 80px
    padding-bottom: 58px
    .page-title
      margin-bottom: 39px
    &__img
      height: 169px
    &__content
      a
        h2,h3
          font-size: 16px
    &__price
      font-size: 15px
      span
        font-size: 22px
    &__square
      font-size: 15px

  // max-width 1400px

  @media screen and (max-width: 1070px)
    padding-top: 60px
    padding-bottom: 38px
    .page-title
      margin-bottom: 29px
    &__content
      a
        h2,h3
          min-height: 41px
          font-size: 14px
    &__price
      font-size: 14px
      span
        font-size: 19px
    &__square
      font-size: 14px

  // max-width 1070px

  @media screen and (max-width: 850px)
    &__item
      padding-bottom: 25px
    &__content
      padding: 18px 15px
    &__img
      height: 139px

  // max-width 850px

  @media screen and (max-width: 575px)
    padding-top: 30px

  // max-width 575px

  @media screen and (max-width: 500px)
    padding-bottom: 20px
    &__item
      padding-bottom: 20px
    &__content
      a
        h2,h3
          min-height: 37px
          font-size: 12px
    &__price
      font-size: 13px
      span
        font-size: 17px
    &__square
      font-size: 13px

  // max-width 500px

  @media screen and (max-width: 430px)
    &__content
      padding: 15px 10px
      a
        h2,h3
          min-height: 32px
          font-size: 10px
    &__price
      font-size: 12px
      span
        font-size: 14px
    &__square
      font-size: 12px

  // max-width 430px

/* prod */
