.breadcrumbs
  position: relative
  margin-top: -2px
  padding-bottom: 16px
  ol
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      display: inline-block
      a,
      span span
        text-decoration: none
        line-height: 1.2
        transition: 0.3s
        color: #787484
        &[href]
          color: #433f4f
        &[href]:hover
          color: $accent2

      &:not(:last-of-type)
        &::after
          content: '/'
          margin: 2px 4px
  &--delivery
    padding-top: 9px
    padding-bottom: 11px
    margin-top: 0
    border-bottom: 1px solid #EDE7F6
    ol
      li
        a,
        span span
          font-size: 12px


  @media screen and (max-width: 500px)
    ol
      li
        a,
        span span
          font-size: 14px
      &:not(:last-of-type)
          margin: 2px 2px

  // max-width 500px

/* breadcrumbs */
