.action
  position: relative
  &__wrap
    padding-top: 46px
    padding-bottom: 35px
    text-align: center
    color: #ffffff
    background: transparent url('../img/action-bg.jpg') no-repeat center center
    background-size: cover
    border-radius: 10px
  &__title
    font-size: 45px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
  &__desc
    font-size: 24px
    line-height: 1.2
    font-weight: 500
    color: #ffffff


  @media screen and (max-width: 991px)
    &__wrap
      padding-top: 26px
      padding-bottom: 25px
    &__title
      font-size: 40px
    &__desc
      font-size: 20px

  // max-width 991px

  @media screen and (max-width: 500px)
    &__wrap
      padding-top: 20px
      padding-bottom: 20px
    &__title
      font-size: 30px
    &__desc
      font-size: 17px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__title
      font-size: 25px
    &__desc
      font-size: 15px

  // max-width 400px

/* action */
