.insta
  position: relative
  padding-top: 42px
  padding-bottom: 64px
  .page-title
    margin-bottom: 8px
  &__wrap
    margin-top: 32px
  &__slider
    &-btns
      display: none
  &__item
    height: 260px
    border-radius: 8px
    overflow: hidden


  @media screen and (max-width: 1400px)
    padding-top: 30px
    padding-bottom: 49px
    &__item
      height: 240px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__slider
      &-btns
        display: block
        .swiper-dots
          .swiper-pagination-bullet-active
            background-color: rgba(#9575cd, 0.2)

  // max-width 1400px

  @media screen and (max-width: 991px)
    text-align: center
    &__item
      height: 200px

  // max-width 991px

  @media screen and (max-width: 575px)
    padding-bottom: 30px
    &__wrap
      margin-top: 20px

  // max-width 575px

/* insta */
