.brands
  position: relative
  padding-top: 32px
  padding-bottom: 74px
  .page-title
    text-align: center
  &__wrap
    position: relative
    margin-top: 58px
  &__slider
    overflow: hidden
    margin-left: 30px
    margin-right: 30px
    &-btns
      .swiper-dots
        display: none
  &__img
    display: flex
    align-items: center
    justify-content: center
    height: 99px
    padding-left: 15px
    padding-right: 15px
    opacity: 0.65
    transition: 0.4s ease-in-out
    img
      display: block
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%
    &:hover
      opacity: 1


  @media screen and (max-width: 991px)
    position: relative
    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 15px
      right: 15px
      display: block
      height: 1px
      background-color: rgba(133, 130, 140, 0.3)
    &__img
      height: 80px

  // max-width 991px

  @media screen and (max-width: 575px)
    padding-top: 30px
    padding-bottom: 30px
    &__wrap
      margin-top: 28px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__img
      padding: 15px
    &__slider
      margin-left: 0
      margin-right: 0
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          display: none
        .swiper-dots
          display: flex
          .swiper-pagination-bullet-active
            background-color: rgba(#9575cd, 0.2)

  // max-width 500px

/* brands */
