.about
  position: relative
  &__wrap
    padding-top: 50px
    padding-bottom: 50px
  &__tabs
    margin: 0
    padding: 0
    list-style: none
  &__tab
    padding-top: 31px
    &:not(#about__tab-0)
      display: none
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    & > li
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      &:nth-of-type(3n)
        margin-right: 0
  &__item
    display: flex
    flex-direction: column
    align-items: center
    height: 100%
    padding: 29px 25px
    background: #FFFFFF
    border: 1px solid #E4E4E4
    box-shadow: 0px 7px 10px rgba(149, 117, 205, 0.14)
    border-radius: 8px
    text-align: center
    transition: 0.4s ease-in-out
    &:hover
      box-shadow: 0px 7px 10px rgba(149, 117, 205, 0.34)
  &__img
    display: flex
    flex-direction: column
    align-items: center
    width: 95%
    max-width: 169px
    height: 55px
    margin-bottom: 14px
    img
      display: block
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%
  &__title
    margin-top: 0
    margin-bottom: 13px
    font-weight: 500
    font-size: 24px
    color: #433F4F
  &__text
    font-weight: 500


  @media screen and (max-width: 1400px)
    &__wrap
      padding-top: 30px
      padding-bottom: 30px
    &__list
      & > li
        width: calc((100% - 20px) / 3)
        margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 0
    &__item
      padding: 20px 15px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__img
      height: 45px
      margin-bottom: 10px
    &__title
      margin-bottom: 9px
      font-size: 21px
    &__text
      font-size: 14px

  // max-width 1170px

  @media screen and (max-width: 767px)
    &__list
      display: block
      & > li
        width: 100%
        margin-right: 0
        margin-bottom: 10px
        &:nth-of-type(3n)
          margin-bottom: 0

  // max-width 767px

/* about */
