.lead
  position: relative
  &__df
    display: flex
    align-items: center
    justify-content: space-between
    padding: 42px 77px 39px 51px
    background: transparent url('../img/lead-bg.jpg') no-repeat center center
    background-size: cover
    border-radius: 10px
  &__content
    position: relative
  &__title
    font-size: 45px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #433f4f
  &__desc
    font-size: 24px
    line-height: 1.2
    font-weight: 500
    color: #433f4f
  &__img
    position: absolute
    top: -53px
    left: 472px
    width: 370px
    height: 180px
  &__form
    position: relative
    z-index: 1


  @media screen and (max-width: 1170px)
    &__df
      padding: 32px 20px 29px 20px
    &__img
      top: -33px
      left: 482px
      width: 310px
      height: 150px
    &__title
      font-size: 38px
    &__desc
      font-size: 20px

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__form
      width: 350px
      margin-left: 20px

  // max-width 991px

  @media screen and (max-width: 767px)
    text-align: center
    &__img
      display: none
    &__form
      margin-left: 0
      margin-top: 25px
    &__df
      flex-direction: column
      align-items: center
    &__title
      font-size: 32px
    &__desc
      font-size: 18px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__title
      font-size: 25px
    &__desc
      font-size: 16px

  // max-width 500px

/* lead */
