.company
  position: relative
  padding-top: 35px
  padding-bottom: 50px
  &__df
    display: flex
  &__main
    flex-grow: 1
    .article
      b
        font-weight: 500
  &__feat
    flex-shrink: 0
    width: 430px
    margin-left: 30px
    ul
      margin: 0
      padding: 0
      list-style: none
      & > li
        margin-bottom: 20px
        padding: 18px 10px 18px 52px
        border: 1px solid #D2C4E8
        box-shadow: 0px 7px 10px rgba(149, 117, 205, 0.14)
        border-radius: 8px
        background: #FFFFFF url('../img/svg/check.svg') no-repeat 20px center
        background-size: 20px 18px
        color: #787484
        transition: 0.4s ease-in-out
        &:last-of-type
          margin-bottom: 0
        &:hover
          box-shadow: 0px 7px 15px rgba(149, 117, 205, 0.34)

  &__title
    margin-top: 0
    margin-bottom: 17px
    font-weight: 500
    font-size: 24px
    color: #433F4F


  @media screen and (max-width: 1170px)
    &__feat
      width: 380px
      ul
        & > li
          margin-bottom: 15px
          padding: 16px 10px 16px 42px
          font-size: 14px
          box-shadow: 0px 7px 9px rgba(149, 117, 205, 0.14)
          background-position: 15px center
          background-size: 15px 14px

  // max-width 1170px

  @media screen and (max-width: 900px)
    &__title
      font-size: 19px
    &__feat
      width: 320px
      margin-left: 20px
      ul
        & > li
          margin-bottom: 12px
          padding: 13px 10px 13px 36px
          font-size: 13px
          background-position: 12px center
          background-size: 13px 12px

  // max-width 900px

  @media screen and (max-width: 650px)
    padding-top: 25px
    padding-bottom: 30px
    &__df
      display: block
    &__feat
      width: 100%
      margin-left: 0
      margin-top: 20px

  // max-width 650px

/* company */
