.pager
  position: relative
  margin: 0
  padding: 0
  list-style: none

  padding-top: 20px
  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 100%
    & > li
      position: relative
      margin: 2px 6px
      line-height: 1.2
      transition: 0.3s
      &:first-of-type
        margin-right: 151px
      &:last-of-type
        margin-left: 151px

      .page-numbers, .prev, .next
        text-decoration: none
        outline: none
        display: flex
        align-items: center
        justify-content: center
        min-width: 43px
        height: 43px
        background-color: #ffffff
        box-shadow: 0px 0px 15px 0px rgba(85,134,164,0.15)
        padding-left: 5px
        padding-right: 5px
        border-radius: 50%
        transition: 0.3s
        &:not(.current):hover
          box-shadow: 0px 0px 15px 0px rgba(85,134,164,0.4)
      .page-numbers:not(.prev):not(.next)
        position: relative
        font-size: 18px
        font-weight: 500
        color: #2d5266
        &.current
          background-color: #2d5266
          color: #ffffff
      .prev,
      .next
        position: relative
        &::before
          content: ''
          display: block
          width: 11px
          height: 16px
          background: transparent url('../img/svg/arrow-blue.svg') no-repeat center center
          background-size: contain
      .prev
        &::before
          transform: rotate(180deg)


  @media screen and (max-width: 1170px)
    ul
      & > li
        &:first-of-type
          margin-right: 51px
        &:last-of-type
          margin-left: 51px

  // max-width 1170px

  @media screen and (max-width: 767px)
    padding-top: 10px
    ul
      & > li
        &:first-of-type
          margin-right: 31px
        &:last-of-type
          margin-left: 31px
        .page-numbers:not(.prev):not(.next)
          font-size: 15px
        .page-numbers, .prev, .next
          min-width: 36px
          height: 36px
        .prev, .next
          &::before
            width: 9px
            height: 13px

  // max-width 767px

 /* paginator */
