.scr1
  position: relative
  padding-top: 25px
  padding-bottom: 50px
  overflow-x: hidden
  &__df
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__wrap
    position: relative
    width: 59.07473309608541%
  &__slider
    overflow: hidden
    margin: -15px
    padding: 15px
    &-item
      position: relative
      display: block
      text-decoration: none
      outline: none
      background-color: #7bbee2
      border-radius: 8px
      overflow: hidden
      transition: 0.4s ease-in-out
      img
        display: block
      &:hover
        box-shadow: 0 0 15px rgba($accent, 0.5)
      .btn__wrap
        position: absolute
        left: 41px
        bottom: 47px
    &-btns
      position: absolute
      left: 44px
      right: 20px
      bottom: 17px
      z-index: 50
  &__img
    display: block
    text-decoration: none
    outline: none
    width: 38.64768683274021%
    background-color: #6f7477
    border-radius: 8px
    overflow: hidden
    transition: 0.4s ease-in-out
    img
      display: block
    &:hover
      box-shadow: 0 0 15px rgba($accent, 0.5)
  &__feat
    &-btns
      display: none
    &-item
      height: 100%
      padding: 22px 31px 22px 34px
      background-color: #ffffff
      box-shadow: 0px 15px 15px 0px rgba(85,134,164,0.15)
      border-radius: 8px
      transition: 0.4s ease-in-out
      &:hover
        box-shadow: 0px 10px 10px 0px rgba(85,134,164,0.3)
    &-df
      display: flex
      align-items: flex-start
      margin-bottom: 8px
    &-content
      padding-right: 15px
      padding-top: 15px
      h3
        margin-top: 0
        margin-bottom: 0
        font-size: 18px
        line-height: 1.555555555555556
        font-weight: 700
    &-text
      max-width: 215px
      font-size: 14px
    &-icon
      position: relative
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: center
      width: 76px
      height: 76px
      background-color: rgba(123,190,226,0.5)
      border-radius: 50%
      z-index: 1
      &::before
        content: ''
        position: absolute
        top: 6px
        right: 6px
        bottom: 6px
        left: 6px
        background-color: rgba(123,190,226,0.5)
        border: 1px solid rgba(255,255,255,0.32)
        border-radius: 50%
        z-index: -1
      img
        display: block
        max-width: 35px
        max-height: 40px


  @media screen and (max-width: 1400px)
    &__feat
      &-item
        padding: 16px
      &-content
        padding-top: 0
        h3
          font-size: 15px
          line-height: 1.455556
      &-text
        font-size: 13px
      &-icon
        width: 66px
        height: 66px
        img
          max-width: 29px
          max-height: 34px

  // max-width 1400px

  @media screen and (max-width: 767px)
    padding-bottom: 25px
    &__feat
      &-btns
        display: block
        padding-top: 20px
        .swiper-dots
          justify-content: center

  // max-width 767px

  @media screen and (max-width: 650px)
    &__df
      display: block
    &__wrap
      width: 100%
    &__slider
      &-btns
        position: static
        width: 100%
        margin-top: 20px
        .swiper-dots
          justify-content: center
    &__img
      width: 300px
      margin: 20px auto

  // max-width 650px

  @media screen and (max-width: 575px)
    &__feat
      &-item
        padding: 10px
      &-content
        h3
          font-size: 13px
      &-icon
        width: 50px
        height: 50px
        img
          max-width: 20px
          max-height: 26px
        &::before
          top: 3px
          right: 3px
          bottom: 3px
          left: 3px
    &__slider
      &-item
        .btn__wrap
          left: 11px
          bottom: 7px

  // max-width 575px

/* scr1 */
