.brands
  position: relative
  padding-top: 49px
  padding-bottom: 60px
  overflow-x: hidden
  &__slider
    overflow: hidden
    &-wrap
      position: relative
    &-btns
      .swiper-dots
        display: none
      .swiper-button-prev
        left: -19px
      .swiper-button-next
        right: -19px
  &__img
    display: flex
    align-items: center
    justify-content: center
    height: 241px
    padding: 20px
    background-color: #ffffff
    border: 1px solid rgba(189,222,240,0.32)
    border-radius: 10px
    transition: 0.4s ease-in-out
    &:hover
      border-color: $accent
    img
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%


  @media screen and (max-width: 1400px)
    &__img
      height: 161px

  // max-width 1400px

  @media screen and (max-width: 767px)
    padding-top: 30px
    padding-bottom: 30px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__slider
      &-btns
        .swiper-dots
          display: flex
          justify-content: center
          padding-top: 20px
        .swiper-button-prev,
        .swiper-button-next
          display: none

  // max-width 500px

  @media screen and (max-width: 430px)
    &__img
      height: 121px
      padding: 10px

  // max-width 430px

/* brands */
