.jobs
  position: relative
  padding-top: 56px
  padding-bottom: 71px
  overflow-x: hidden
  &__df
    display: flex
  &__col
    width: calc((100% - 24px) / 2)
    margin-right: 24px
    &:nth-of-type(2n)
      margin-right: 0
  .hidden
    .article
      font-size: 14px
      line-height: 1.5
      h3
        font-size: 18px
        font-weight: 700
      ul
        list-style: disc
      ul,
      ol
        columns: 2
        column-gap: 30
        margin: 0
        padding: 0
        & > li
          margin-bottom: 2px
          transform: none


  @media screen and (max-width: 1240px)
    &__col
      width: calc((100% - 14px) / 2)
      margin-right: 14px
      &:nth-of-type(2n)
        margin-right: 0

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__df
      display: block
    &__col
      width: 100%
      margin-right: 0

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-top: 30px
    padding-bottom: 20px

  // max-width 767px

  @media screen and (max-width: 500px)
    .hidden
      .article
        font-size: 13px
        h3
          font-size: 16px
        ul,
        ol
          columns: 1

  // max-width 500px

/* jobs */
