.works
  position: relative
  padding-top: 46px
  padding-bottom: 62px
  overflow-x: hidden
  &__slider
    overflow: hidden
    &-wrap
      position: relative
    &-btns
      .swiper-dots
        display: none
      .swiper-button-prev
        left: -19px
      .swiper-button-next
        right: -19px
  &__item
    display: block
    text-decoration: none
    outline: none
    height: 345px
    border: 1px solid rgba(189,222,240,0.32)
    border-radius: 10px
    overflow: hidden
    img
      transition: 0.4s ease-in-out
    &:hover
      img
        transform: scale(1.1)
        transition: 0.8s ease-in-out
  .scr_card__footer
    padding-bottom: 0


  @media screen and (max-width: 1400px)
    &__item
      height: 275px

  // max-width 1400px

  @media screen and (max-width: 767px)
    padding-top: 30px
    padding-bottom: 30px

  @media screen and (max-width: 500px)
    &__item
      height: 225px
    &__slider
      &-btns
        .swiper-dots
          display: flex
          justify-content: center
          padding-top: 20px
        .swiper-button-prev,
        .swiper-button-next
          display: none

  // max-width 500px

/* works */
