.blog
  position: relative
  padding-bottom: 42px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li
      width: calc((100% - 90px) / 4)
      margin-right: 30px
      padding-bottom: 27px
      &:nth-of-type(4n)
        margin-right: 0
  &__item
    display: flex
    flex-direction: column
    height: 100%
    border: 1px solid rgba(189,222,240,0.32)
    border-radius: 10px
  &__img
    display: block
    text-decoration: none
    outline: none
    height: 243px
    border: 1px solid rgba(189,222,240,0.32)
    border-radius: 10px
    overflow: hidden
    img
      transition: 0.8s ease-in-out
    &:hover
      img
        transform: scale(1.1)
  &__content
    flex-grow: 1
    padding: 17px 16px 21px
    h2,
    h3
      a
        display: block
        text-decoration: none
        outline: none
        min-height: 60px
        padding-bottom: 10px
        border-bottom: 1px solid #e3edf3
        font-size: 18px
        line-height: 1.333333333333333
        font-weight: 700
        transition: 0.4s ease-in-out
        &:hover
          color: $accent2
    p
      padding-top: 12px
      font-size: 14px
  &__bottom
    padding: 0 16px 27px
  &__link
    display: block
    outline: none
    font-size: 14px
    font-weight: 500
    color: #2d5266
    transition: 0.4s ease-in-out
    &:hover
      color: $accent2

  &__title
    margin-top: 0
    margin-bottom: 40px
    font-size: 24px
    font-weight: 700

  &--post
    padding: 32px 15px 37px 30px
    background-color: #f7f8f9
    .blog__list
      display: block
      & > li
        width: 100%
        margin-right: 0
        padding-bottom: 31px
    .blog__item
      padding: 0
      border: none
      flex-direction: row
    .blog__img
      flex-shrink: 0
      width: 135px
      height: 101px
      margin-right: 15px
      background-color: #f7f8f9
      border-radius: 10px
    .blog__right
      flex-grow: 1
      display: flex
      flex-direction: column
    .blog__content
      padding: 0
      h2,
      h3
        a
          min-height: 0
          padding-bottom: 2px
          border-bottom: none
          font-size: 18px
          line-height: 1.333333333333333
          font-weight: 700
    .blog__bottom
      padding: 0
      padding-top: 5px
  &__btns
    text-align: center


  @media screen and (max-width: 1600px)
    &__list
      & > li
        width: calc((100% - 30px) / 4)
        margin-right: 10px
        padding-bottom: 17px
        &:nth-of-type(4n)
          margin-right: 0

  // max-width 1600px

  @media screen and (max-width: 1400px)
    &__img
      height: 193px
    &__content
      padding: 12px 10px 16px
      h2,
      h3
        a
          min-height: 56px
          font-size: 16px
      p
        padding-top: 8px
        font-size: 13px
    &__bottom
      padding: 0 10px 17px
    &__link
      font-size: 13px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__list
      & > li
        width: calc((100% - 20px) / 3)
        margin-right: 10px
        padding-bottom: 17px
        &:nth-of-type(4n)
          margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 0

  // max-width 1170px

  @media screen and (max-width: 650px)
    padding-bottom: 30px
    &__list
      & > li
        width: calc((100% - 10px) / 2)
        margin-right: 10px
        padding-bottom: 17px
        &:nth-of-type(3n)
          margin-right: 10px
        &:nth-of-type(2n)
          margin-right: 0
    &__content
      h2,
      h3
        a
          min-height: 0

  // max-width 650px

  @media screen and (max-width: 575px)
    &--post
      padding: 20px 10px
      .blog__list
        & > li
          padding-bottom: 20px
      .blog__img
        flex-shrink: 0
        width: 105px
        height: 91px
        margin-right: 10px
      .blog__content
        padding: 0
        h2,
        h3
          a
            font-size: 16px

  // max-width 575px

  @media screen and (max-width: 450px)
    &__list
      & > li
        width: 100%
        margin-right: 0
        &:nth-of-type(3n)
          margin-right: 0

  // max-width 450px

/* blog */
