.credit
  position: relative
  &__top
    margin-bottom: 25px
    padding: 45px 20px 55px 52px
    background-color: #ffffff
    border-radius: 8px
    color: #fff
    h2
      margin-bottom: 42px
      font-size: 40.4px
      line-height: 1.2
      font-weight: 900
      span
        position: relative
        display: inline-block
        font-size: 31px
        line-height: 1.451612903225806
        text-transform: uppercase
        z-index: 1
        &::before
          content: ''
          position: absolute
          top: -2px
          right: -2px
          bottom: -2px
          left: -2px
          background-color: #7bbee2
          z-index: -1
    ul
      li
        font-size: 18px
        line-height: 1.555555555555556
        font-weight: 700
  &__info
    display: flex
    margin-bottom: 35px
    padding: 32px 40px 37px 31px
    background-color: #f7f8f9
    border-radius: 3px
  &__col
    flex-grow: 1
    display: flex
    padding-right: 50px
    &:last-of-type
      padding-right: 0
    span
      display: block
      margin-right: 13px
      font-size: 30px
      font-weight: 500
      color: $accent
    p
      padding-top: 4px
      font-size: 14px
      line-height: 1.285714285714286
      font-weight: 500
      color: $accent
  &__feat
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li
      width: calc((100% - 37px) / 2)
      margin-right: 37px
      padding-bottom: 28px
      &:nth-of-type(2n)
        margin-right: 0
      .scr1__feat-icon
        margin-right: 20px
      .scr1__feat-content
        padding-top: 5px
        padding-right: 0
        h3
          margin-bottom: 14px
      .scr1__feat-text
        max-width: 100%


  @media screen and (max-width: 1400px)
    &__info
      padding: 20px
    &__col
      padding-right: 20px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__info
      display: block
    &__col
      margin-right: 0
      margin-bottom: 20px
    &__feat
      & > li
        width: 100%
        margin-right: 0
        padding-bottom: 20px
    &__top
      padding: 25px 30px 25px
      h2
        margin-bottom: 22px
        font-size: 34.4px
        span
          font-size: 24px
      ul
        li
          font-size: 16px
    .guarantee__wrapper
      .article
        margin-bottom: 30px

  // max-width 1170px

  @media screen and (max-width: 500px)
    &__top
      h2
        font-size: 30px
        span
          font-size: 20px
      ul
        li
          font-size: 14px
    .guarantee__wrapper
      .article
        margin-bottom: 20px
        font-size: 14px

  // max-width 500px

/* credit */
