.socials
  display: flex
  &__link
    display: flex
    align-items: center
    justify-content: center
    width: 33px
    height: 33px
    background-color: rgba(123,190,226,0.2)
    margin-right: 17px

    text-decoration: none
    text-align: center
    border-radius: 50%
    transition: 0.3s  ease-in-out
    &:last-of-type
      margin-right: 0
    .icon
      display: block
      width: 16px
      height: 17px
      fill: #ffffff
    &:hover
      transform: translateY(-2px)
      background: rgba(123,190,226,1)
  &--card
    .socials__link
      background-color: #7bbee2
    & > a
      text-decoration: none
      outline: none
      display: flex
      align-items: center
      margin-right: 40px
      transition: 0.4s ease-in-out
      &:hover
        color: #7bbee2
      &:last-of-type
        margin-right: 0
      span
        margin-left: 10px
        font-size: 14px


  @media screen and (max-width: 575px)
    justify-content: center

  // max-width 575px

/* socials */
