.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  &__top
    display: flex
    justify-content: space-between
    padding-top: 20px
    padding-bottom: 12px
  .logo
    order: -1
    display: block
    width: 108px
    height: 69px
    margin-right: 19px
    text-decoration: none
    &__wrap
      display: flex
      align-items: center
    &__content
      font-size: 12px
      line-height: 1.75
      strong
        font-size: 15px
        line-height: 1.2
        font-weight: 700

  &__address
    display: flex
    align-items: center
    font-size: 14px
    &::before
      content: ''
      display: block
      width: 45px
      height: 45px
      margin-right: 19px
      background: transparent url('../img/addr-icon.png') no-repeat center center
      background-size: cover
      border: 3px solid #ffffff
      border-radius: 50%
    a
      display: block
      text-decoration: none
      outline: none
      transition: 0.4s ease-in-out
      &:hover
        color: $accent
  &__phones
    display: flex
    align-items: center
    justify-content: flex-end
    .xbtn
      margin-left: 19px
      animation: pulse_yellow 2s infinite
    .mobile
      display: none
  &__phone
    display: block
    text-decoration: none
    outline: none
    font-size: 18px
    font-weight: 500
    letter-spacing: 0.015em
    transition: 0.4s ease-in-out
    &:hover
      color: $accent
    &:last-of-type
      letter-spacing: normal

  &__bottom
    background-color: rgba(11,31,50,0.5)
    nav
      display: flex
      align-items: center
      width: calc(100% + 15px)
      .burger
        margin-right: 52px

  .menu
    flex-grow: 1
    padding: 0
    margin: 0
    list-style: none

    display: flex
    justify-content: space-between
    align-items: center
    & > li
      & > a
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        outline: none
        height: 50px
        padding-left: 15px
        padding-right: 15px
        text-transform: uppercase
        letter-spacing: 0.05em
        text-align: center
        transition: 0.2s ease-in-out
        &:hover
          background-color: $accent
          color: $accent2

  &.fixed
    .header__top
      display: none
    .header__bottom
      background-color: rgba(11, 31, 50, 1)
    .logo
      width: 68px
      height: 39px
    nav
      .xbtn
        width: 37px
        height: 37px
        margin-left: 20px


  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* .header */
