.prod
  position: relative
  background: #071827 url('../img/prod-bg.jpg') no-repeat bottom center
  background-size: contain
  padding-top: 32px
  padding-bottom: 674px
  z-index: 3
  &::after
    content: ''
    position: absolute
    left: 0
    bottom: -130px
    display: block
    width: 100%
    height: 1257px
    background: transparent url('../img/prod-bg.jpg') no-repeat top center
    background-size: cover
    z-index: -1
  &__more
    span
      display: block
      margin-bottom: 0
      padding-left: 25px
  &__top
    display: flex
    justify-content: space-between
    margin-bottom: 42px
    .page-title
      flex-grow: 1
      display: flex
      p
        margin-right: 45px
        &:last-of-type
          margin-right: 0
    .page-desc
      width: 29.76190476190476%
      padding: 24px 0 24px 40px
      border-left: 1px solid rgba(255,255,255,0.3)

  &__wrap
    position: relative
    margin-bottom: 51px
  &__slider
    overflow: hidden
    &-btns
      .swiper-dots
        display: none
  &__item
    display: flex
    flex-direction: column
    height: 100%
    padding-bottom: 32px
    background-color: #ffffff
    border: 1px solid rgba(255,255,255,0.2)
    border-radius: 8px
    color: $accent2
    overflow: hidden
  &__img
    display: block
    text-decoration: none
    outline: none
    overflow: hidden
    height: 17vw
    img
      display: block
      height: 100%
      transition: 0.3s
    &:hover
      img
        transform: scale(1.1)
        transition: 0.8s
  &__content
    flex-grow: 1
    padding: 15px 30px 51px
    h2,h3
      a
        display: block
        text-decoration: none
        outline: none
        width: calc(100% + 10px)
        margin-left: -5px
        margin-bottom: 29px
        font-size: 20px
        line-height: 1.4
        font-weight: 600
        color: $accent2
        text-align: center
        transition: 0.4s ease-in-out
        &:hover
          opacity: 0.8
  &__chrs
    display: flex
    justify-content: space-between
    overflow: hidden
    margin-bottom: 8px
    &:last-of-type
      margin-bottom: 0
    span
      position: relative
      display: block
      background-color: #fff
      &:first-of-type
        padding-right: 4px
        font-weight: 500
        &::after
          content: '................................................................................................'
          position: absolute
          left: 100%
          bottom: 0
          display: block
      &:last-of-type
        padding-left: 4px
        text-align: right

  &__price
    display: block
    text-align: center
    font-family: $font2
    font-size: 30px
    font-weight: 700

  &__btns
    text-align: center


  @media screen and (max-width: 1700px)
    .page-title
      br
        display: none
    &__top
      .page-desc
        width: 43.761905%
        padding: 14px 0 14px 15px

  // max-width 1700px

  @media screen and (max-width: 1400px)
    padding-bottom: 214px
    &__item
      padding-bottom: 22px
    &__top
      display: block
    &__img
      height: 15vw
    &__content
      padding: 15px 15px 21px
      h2,h3 
        a           
          margin-bottom: 19px
          font-size: 17px
    &__price
      font-size: 26px

  // max-width 1400px

  @media screen and (max-width: 1200px)    
    padding-bottom: 104px
    &__top
      .page-desc 
        width: 450px
        max-width: 100%
    &__slider
      &-btns
        .swiper-dots
          display: flex 
          justify-content: center
        .swiper-button-prev,
        .swiper-button-next
          display: none
    &__img      
      height: 20vw

  // max-width 1200px

  @media screen and (max-width: 1070px)
    &__top
      .page-title p  
        margin-right: 25px

  // max-width 1070px

  @media screen and (max-width: 767px)
    &__img      
      height: 27vw
    &__top
      .page-title
        display: block

  // max-width 767px

  @media screen and (max-width: 575px)
    &::after
      height: 977px
    &__chrs
      span 
        font-size: 14px
    &__content
      padding: 12px
      h2,h3 
        a           
          margin-bottom: 14px
          font-size: 15px
    &__price      
      font-size: 22px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__img
      height: 51vw

  // max-width 500px

  @media screen and (max-width: 400px)
    &__top
      .page-title 
        p 
          margin-right: 15px

  // max-width 400px

/* prod */
