.why 
  position: relative
  min-height: 1065px
  padding-top: 82px
  padding-bottom: 20px
  background: #0b1f32 url('../img/why-bg.jpg') no-repeat top center
  background-size: cover
  &__list
    position: relative
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    & > li 
      width: 50%
      max-width: 592px
      margin-bottom: 70px        
      background-color: transparent
      border-color: transparent
      .hidden
        display: block
        opacity: 0
        transition: 0.3s
      &.active
        background-color: rgba(255, 255, 255, 0.1)
        border-color: rgba(255, 255, 255, 0.2)
        .hidden
          opacity: 1
      &:nth-child(2)
        margin-left: auto 
        margin-right: 100px
      &:nth-child(3)
        margin-left: auto 
        margin-right: 20px
      &:nth-child(4)
        max-width: 500px
      &:nth-child(5)
        margin-top: -53px
        margin-right: 160px
    .top
      justify-content: flex-start
      padding-left: 17px
      .open
        margin-right: 19px
  

  @media screen and (max-width: 1600px)
    &__list
      & > li 
        margin-bottom: 50px  
        &:nth-child(2)
          margin-right: 50px
        &:nth-child(5)
          margin-right: 50px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    min-height: 835px
    padding-top: 52px
    &__list
      & > li 
        max-width: 512px

  // max-width 1400px

  @media screen and (max-width: 1170px)     
    min-height: 0
    padding-bottom: 50px
    &__list
      & > li 
        width: calc(50% - 5px)
        margin-bottom: 10px  
        &:nth-child(2n)
          margin-right: 0
        &:nth-child(3)
          margin-left: 0
          margin-right: 10px
        &:nth-child(5)
          margin-top: 0
          margin-right: 10px
    
  // max-width 1170px 

  @media screen and (max-width: 991px) 
    padding-top: 30px
    &__list
      display: block
      & > li 
        width: 100%
        max-width: 100%
        margin-right: 0
        background-color: rgba(255, 255, 255, 0.1)
        border-color: rgba(255, 255, 255, 0.2)
        .hidden
          opacity: 1
        &:nth-child(4)
          max-width: 100%

  // max-width 991px 

/* why */
