.director
  position: relative
  padding-top: 115px
  background-color: #0b1f32
  z-index: 7
  &__wrap
    position: relative
    padding-left: 97px
    &::before 
      content: ''
      position: absolute
      top: -150px
      left: 394px
      display: block
      width: 1409px
      height: 1956px
      background: transparent url('../img/director-shine.png') no-repeat center center
      background-size: contain
      z-index: -1
  &__content
    max-width: 650px
    .article
      p 
        margin-bottom: 63px
        &:last-of-type
          margin-bottom: 0
  &__bottom
    display: flex 
    padding-top: 8px
  &__btns
    margin-right: 120px
    padding-top: 52px
  &__signature
    flex-shrink: 0
    width: 319px
    margin-right: 86px
  &__photo
    margin-right: -72px
  &__img
    position: absolute
    left: 926px
    bottom: -10px
    width: 698px
    z-index: -1
  &__info
    padding-top: 41px
  &__name
    display: flex
    align-items: center
    justify-content: center
    height: 67px
    margin-bottom: 30px
    padding-left: 28px
    padding-right: 28px
    background-color: #ffffff
    border-radius: 6px
    font-size: 24px
    font-weight: 500
    color: #0b1f32
    text-align: center
  &__occupation
    font-size: 18px
    line-height: 1.444444444444444
    color: #ffffff


  @media screen and (max-width: 1600px)
    padding-top: 35px
    &__wrap      
      padding-left: 30px
    .page-title 
      margin-bottom: 34px
      font-size: 50px
    &__content
      .article p 
        margin-bottom: 33px
    &__signature      
      width: 269px
      margin-right: 46px
    &__name            
      height: 57px
      margin-bottom: 20px
      padding-left: 18px
      padding-right: 18px
      font-size: 20px
    &__occupation 
      font-size: 16px
    &__img      
      left: 776px   
      width: 458px

  // max-width 1600px

  @media screen and (max-width: 1170px)
    &__content      
      max-width: 520px
    .page-title
      margin-bottom: 24px
      font-size: 43px
    &__btns      
      margin-right: 50px
    &__signature 
      width: 219px
      margin-right: 36px
    &__name      
      height: 52px
      padding-left: 8px
      padding-right: 8px
      font-size: 18px
    &__occupation
      font-size: 14px
    &__img
      left: 606px      
      width: 388px

  // max-width 1170px

  @media screen and (max-width: 991px)
    padding-top: 15px
    &__btns      
      margin-right: 20px
      padding-top: 29px
    &__signature 
      width: 159px
      margin-right: 26px
    &__name      
      height: 42px
      font-size: 16px
    &__occupation 
      font-size: 13px
    &__img      
      left: 526px
      width: 308px

  // max-width 991px

  @media screen and (max-width: 767px)
    .page-title      
      font-size: 34px
    &__wrap
      padding-left: 0      
    &__content      
      max-width: 440px
      .article
        p           
          margin-bottom: 13px
    &__signature      
      width: 129px
      margin-right: 16px
    &__name      
      font-size: 14px
    &__occupation 
      font-size: 12px
    &__img
      left: 416px

  // max-width 767px

  @media screen and (max-width: 700px)
    &__img
      position: static
      margin: 30px auto 0
    &__info
      position: absolute
      bottom: 25px
      left: 0
    &__signature      
      position: absolute
      right: 0
      bottom: 0
      margin-right: 0

  // max-width 700px

  @media screen and (max-width: 400px)
    &__signature  
      margin-right: -40px

  // max-width 400px

/* director */
