.insta 
  position: relative
  padding-top: 34px
  padding-bottom: 145px
  background-color: $accent2
  &__top
    display: flex
    align-items: flex-end
    justify-content: space-between
    .page-title
      margin-bottom: 0
  &__link
    flex-shrink: 0
    display: block
    text-decoration: none
    outline: none
    margin-bottom: 15px
    margin-left: 10px
    padding-left: 72px
    opacity: 0.17
    background: transparent url('../img/svg/insta.svg') no-repeat left center
    background-size: 42px 42px
    transition: 0.4s ease-in-out
    span 
      display: block
    &:hover
      opacity: 1
  &__wrap
    position: relative
  &__slider
    overflow: hidden
    &-btns 
      display: none
  &__item
    display: block
    text-decoration: none
    outline: none
    height: 398px
    padding: 14px
    background-color: rgba(255,255,255,0.05)
    border: 1px solid rgba(255,255,255,0.2)
    border-radius: 8px
    transition: 0.4s ease-in-out
    &:hover
      background-color: rgba(255,255,255,0.25)
        

  @media screen and (max-width: 1600px)
    &__item
      height: 328px
      padding: 8px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    padding-bottom: 85px
    &__item
      height: 268px

  // max-width 1400px

  @media screen and (max-width: 1170px) 
    &__link      
      padding-left: 62px
      font-size: 14px
    
  // max-width 1170px 

  @media screen and (max-width: 1070px) 
    &__item
      height: 208px
    
  // max-width 1070px 

  @media screen and (max-width: 900px) 
    &__slider
      &-btns 
        display: block
        .swiper-dots
          justify-content: center      
    &__link
      margin-bottom: 4px      
      padding-left: 45px
      font-size: 13px      
      background-size: 34px 34px

  // max-width 900px 

  @media screen and (max-width: 767px) 
    padding-bottom: 45px
    &__link
      margin-left: 0
      margin-bottom: 25px

  // max-width 767px 

/* insta */
