.build
  position: relative
  background-color: #0b1f32
  padding-top: 20px
  padding-bottom: 63px
  z-index: 4
  .page-desc
    max-width: 734px
  &__df
    display: flex
    padding: 10px 10px 10px 56px
    background-color: rgba(255,255,255,0.05)
    border: 1px solid rgba(255,255,255,0.2)
    border-radius: 6px
  &__nav
    flex-shrink: 0
    width: 400px
    margin-right: 47px
    span
      display: block
      padding-top: 34px
      font-family: $font2
      font-size: 36px
      font-weight: 700
      margin-bottom: 51px
    ul
      margin: 0
      padding: 0
      list-style: none
      & > li
        & > a
          position: relative
          display: flex
          padding-top: 35px
          padding-bottom: 35px
          padding-left: 58px
          text-decoration: none
          outline: none
          border-top: 1px solid rgba(255,255,255,0.3)
          font-size: 24px
          &:hover
            color: $accent
          &::before,
          &::after
            content: ''
            position: absolute
            top: calc(50% - 18px)
            left: 0
            display: block
            width: 36px
            height: 36px
            border-radius: 50%
            background: transparent url('../img/build-circle.png') no-repeat center center
            background-size: contain
            transition: 0.4s ease-in-out
          &::after
            background-image: url('../img/build-circle-active2.png')
            opacity: 0
        &.current
          & > a
            &::before
              opacity: 0
            &::after
              opacity: 1
  &__tabs
    margin: 0
    padding: 0
    list-style: none
  &__tab
    height: 100%
    border-radius: 6px
    overflow: hidden
    &:not(:first-of-type)
      display: none
  &__btns
    padding-top: 42px
    text-align: center


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* build */
