.lead
  position: relative
  z-index: 6
  padding-top: 124px
  padding-bottom: 152px
  background: #0b1f32 url('../img/discuss-bg.jpg') no-repeat left bottom
  background-size: 1293px 1053px
  &__content
    max-width: 1043px
    margin-left: auto
  &__df
    display: flex
    justify-content: space-between
    background-color: rgba(255,255,255,0.05)
    border: 1px solid rgba(255,255,255,0.2)
    border-radius: 6px
    padding: 20px
    margin-top: 120px
  &__feat
    flex-shrink: 0
    flex-grow: 1
    max-width: 500px
    margin-right: 20px
    padding: 32px 20px 20px 40px
    background-color: rgba(255,255,255,0.1)
    border: 1px solid rgba(255,255,255,0.2)
    border-radius: 6px
    p
      margin-bottom: 50px
      font-size: 24px
      line-height: 1.416666666666667
    ul
      margin: 0
      padding: 0
      list-style: none
      & > li
        max-width: 340px
        margin-bottom: 64px
        font-size: 18px
        line-height: 1.444444444444444
        &:last-of-type
          margin-bottom: 0
  &__right
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding-bottom: 22px
    &-title
      max-width: 375px
      padding-top: 25px
      margin-bottom: 25px
      font-family: $font
      font-size: 30px
      line-height: 1.333333333333333
      font-weight: 700
      color: $accent
    &-desc
      max-width: 375px
      margin-bottom: 45px
      font-size: 18px
      line-height: 1.666666666666667
  &__form
    max-width: 375px
    padding-top: 40px


  @media screen and (max-width: 1600px)        
    padding-top: 24px
    padding-bottom: 92px
    background-size: 833px auto
    &__df      
      padding: 10px
      margin-top: 60px
    &__feat      
      max-width: 420px
      margin-right: 0px
      padding: 22px 20px 20px 20px
      p         
        margin-bottom: 30px
        font-size: 20px
      ul 
        & > li          
          margin-bottom: 44px
          font-size: 16px
    &__content      
      max-width: 873px

  // max-width 1600px

  @media screen and (max-width: 1400px)   
    padding-top: 24px
    padding-bottom: 30px
    background-size: 603px auto
    &__df      
      padding: 6px
      margin-top: 40px
    &__feat      
      max-width: 360px
      padding: 15px
      p         
        margin-bottom: 20px
        font-size: 18px
      ul 
        & > li          
          margin-bottom: 35px
          font-size: 14px
    &__content      
      max-width: 753px
    &__form      
      max-width: 335px
      padding-top: 30px
    &__right
      &-title         
        max-width: 335px
        padding-top: 15px
        margin-bottom: 15px
        font-size: 23px
      &-desc        
        max-width: 325px
        margin-bottom: 25px
        font-size: 16px

  // max-width 1400px

  @media screen and (max-width: 1170px)    
    background-size: 533px auto
    background-position: -150px 100%
    &__content
      max-width: 723px
    &__form      
      max-width: 305px
    &__right
      &-title         
        max-width: 305px
    &__content      
      max-width: 793px

  // max-width 1170px

  @media screen and (max-width: 767px)
    background-size: 353px auto    
    background-position: -90px 100%
    &__df
      flex-direction: column
    &__content
      max-width: 100%
    &__feat
      max-width: 100%
      margin-bottom: 20px      
    &__form      
      max-width: 325px

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* lead */
