.blog 
  position: relative
  padding-bottom: 143px
  background-color: $accent2  
  .page-title
    margin-bottom: 45px
  &__wrap
    position: relative
    margin-bottom: 63px
    padding-left: 24px
    padding-right: 24px    
  &__slider
    overflow: hidden
    &-btns 
      .swiper-dots
        display: none
      .swiper-button-prev
        left: -2px
      .swiper-button-next
        right: -2px
  &__item
    height: 100%
    padding: 17px 
    padding-bottom: 33px
    background-color: rgba(255,255,255,0.05)
    border: 1px solid rgba(255,255,255,0.2)
    border-radius: 6px
    transition: 0.4s ease-in-out
    &:hover
      background-color: rgba(255,255,255,0.15)
  &__img
    display: block
    text-decoration: none
    outline: none
    height: 315px
    border-radius: 6px
    overflow: hidden
    img 
      transition: 0.4s ease-in-out
    &:hover
      img 
        transform: scale(1.1)
        transition: 0.8s ease-in-out
  &__content
    padding-top: 16px
    time 
      display: block
      margin-bottom: 25px
    h2,h3 
      a 
        display: block
        text-decoration: none
        outline: none
        margin-bottom: 15px
        font-family: $font
        font-size: 26px
        line-height: 1.384615384615385
        font-weight: 500
        color: $accent
        transition: 0.4s ease-in-out
        &:hover
          color: #fff

  &__bottom
    text-align: center
  &__link
    display: inline-block
    outline: none
    font-family: $font2
    font-size: 18px
    color: $accent
    transition: 0.4s ease-in-out
    &:hover 
      color: #fff
  

  @media screen and (max-width: 1600px)
    &__wrap
      margin-bottom: 43px
    &__item
      padding: 12px
      padding-bottom: 19px
    &__img
      height: 255px
    &__content
      time
        margin-bottom: 15px
      h2,h3 
        a           
          font-size: 20px

  // max-width 1600px

  @media screen and (max-width: 1400px)    
    padding-bottom: 93px
    &__wrap
      margin-bottom: 30px
    &__item
      padding: 8px
      padding-bottom: 12px
    &__img
      height: 210px
    &__content
      time
        margin-bottom: 10px
        font-size: 14px
      h2,h3 
        a           
          font-size: 18px

  // max-width 1400px

  @media screen and (max-width: 1170px) 
    &__wrap
      padding-left: 0
      padding-right: 0
    &__slider
      &-btns
        .swiper-dots
          display: flex
          justify-content: center
        .swiper-button-prev,
        .swiper-button-next
          display: none
    
  // max-width 1170px 

  @media screen and (max-width: 991px) 
    &__img
      height: 170px
    &__content
      h2,h3 
        a           
          font-size: 16px

  // max-width 991px 

  @media screen and (max-width: 767px)
    padding-bottom: 53px 
    .page-title 
      margin-bottom: 25px

  // max-width 767px 

/* blog */
