.build
  position: relative
  background-color: #0b1f32
  padding-top: 20px
  padding-bottom: 63px
  z-index: 4
  .page-desc
    max-width: 734px
  &__df
    display: flex
    padding: 10px 10px 10px 56px
    background-color: rgba(255,255,255,0.05)
    border: 1px solid rgba(255,255,255,0.2)
    border-radius: 6px
  &__nav
    flex-shrink: 0
    width: 400px
    margin-right: 47px
    span
      display: block
      padding-top: 34px
      font-family: $font2
      font-size: 36px
      font-weight: 700
      margin-bottom: 51px
    ul
      margin: 0
      padding: 0
      list-style: none
      & > li
        & > a
          position: relative
          display: flex
          padding-top: 32px
          padding-bottom: 32px
          padding-left: 58px
          text-decoration: none
          outline: none
          border-top: 1px solid rgba(255,255,255,0.3)
          font-size: 24px
          &:hover
            color: $accent
          &::before,
          &::after
            content: ''
            position: absolute
            top: calc(50% - 18px)
            left: 0
            display: block
            width: 36px
            height: 36px
            border-radius: 50%
            background: transparent url('../img/build-circle.png') no-repeat center center
            background-size: contain
            transition: 0.4s ease-in-out
          &::after
            background-image: url('../img/build-circle-active2.png')
            opacity: 0
        &.current
          & > a
            &::before
              opacity: 0
            &::after
              opacity: 1
  &__tabs
    flex-grow: 1
    margin: 0
    padding: 0
    list-style: none
  &__tab
    height: 100%
    border-radius: 6px
    overflow: hidden
    &:not(:first-of-type)
      display: none
  &__btns
    padding-top: 42px
    text-align: center 
  &__map
    height: 100%
    min-height: 630px
    background-color: #ffffff
    border-radius: 6px
    overflow: hidden


  @media screen and (max-width: 1400px)
    &__df
      padding-left: 26px
    &__nav      
      width: 340px
      margin-right: 37px
      span         
        padding-top: 24px
        font-size: 30px
        margin-bottom: 31px
      ul 
        & > li 
          & > a             
            padding-top: 20px
            padding-bottom: 20px
            padding-left: 48px
            font-size: 20px
            &::before,
            &::after               
              top: calc(50% - 15px)
              width: 30px
              height: 30px
    &__map
      min-height: 400px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__df
      padding-left: 15px
    &__nav      
      width: 300px
      margin-right: 27px
      span        
        padding-top: 14px
        font-size: 22px
        margin-bottom: 21px 
      ul 
        & > li 
          & > a             
            padding-top: 15px
            padding-bottom: 15px
            padding-left: 36px
            font-size: 18px
            &::before,
            &::after               
              top: calc(50% - 13px)
              width: 26px
              height: 26px

  // max-width 1170px

  @media screen and (max-width: 767px)
    padding-bottom: 43px
    &__df
      display: block
      padding-left: 10px
    &__nav
      width: 100%
      margin-bottom: 20px
      span         
        padding-top: 10px
        font-size: 19px
        margin-bottom: 15px
      ul 
        & > li 
          & > a 
            padding-top: 11px
            padding-bottom: 11px
            padding-left: 36px
            font-size: 14px
    &__map
      min-height: 320px

  // max-width 767px

/* build */
