.socials
  display: flex
  &__link
    display: flex
    align-items: center
    justify-content: center
    width: 52px
    height: 52px
    background-color: rgba(255,255,255,0.3)
    margin-right: 48px

    text-decoration: none
    text-align: center
    border-radius: 50%
    transition: 0.3s  ease-in-out
    &:last-of-type
      margin-right: 0
    .icon
      display: block
      width: 28px
      height: 28px
      fill: #ffffff
      transition: 0.4s ease-in-out
    &:hover
      transform: translateY(-2px)
      background-color: #fff
      .icon
        fill: $accent2
  
  &--footer
    padding-top: 37px
    .socials__link
      width: 34px
      height: 34px
      margin-right: 22px
      background-color: rgba(210,211,211,0.3)
      .icon
        width: 18px
        height: 17px
      &:last-of-type
        margin-right: 0
      &:hover
        background-color: rgba(210,211,211,1)
  
  
  @media screen and (max-width: 1400px)
    &__link
      width: 48px
      height: 48px
      margin-right: 28px
      .icon
        width: 21px
        height: 21px

  //   max-width 1400px

/* socials */
