.contacts {
  position: relative;
  padding-top: 53px;

  &__top {
    display: flex;
    padding-top: 65px;
  }

  &__item {
    &--left {
      width: 57.14%;
    }
    &--right {
      width: 42.86%;
      padding-left: 34px;
    }
  }

  h3 {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
  }

  a.contacts__text {
    transition: 0.5s;
    &:hover {
      color: $accent;
    }
  }

  .socials {
    margin-top: 53px;
    margin-bottom: 63px;
  }

  .socials__link {
    border-color: #333333;
    .fa {
      color: #333333;
    }
    &:hover {
      border-color: $accent;
      .fa {
        color: $accent;
      }
    }
  }


  /* media */
  @media screen and (max-width: 992px) {
    &__top {
      flex-direction: column;
    }

    &__item {
      &--left {
        width: 100%;
        margin-bottom: 40px;
      }
      &--right {
        width: 100%;
        padding-left: 0;
      }
    }

    .socials {
      margin-top: 40px;
    }

  } /* max-width 992px */

  @media screen and (max-width: 500px) {
    .socials {
      margin-bottom: 40px;
    }
    .form {
      margin-bottom: 30px;
    }
  } /* max-width 500px */

  @media screen and (max-width: 400px) {

  }

} /* contacts */
