.socials {

  display: flex;
  &__link {
    display: block;
    width: 29px;
    height: 29px;
    margin-right: 24px;
    border: 2px solid #a7a9ac;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    background-color: transparent;
    transition: border-color 0.5s, box-shadow 0.5s, transform 3s cubic-bezier(.1, -1.5, .1, 2.5);
    &:last-of-type {
      margin-right: 0;
    }
    .fa {
      color: #a7a9ac;
      font-weight: 800;
      font-size: 14px;
      transition: 0.5s;
    }
    &:hover {
      border-color: #0088fc;
      .fa {
        color: #0088fc;
      }
      transform: rotateY(-360deg);
      box-shadow: 1px 1px 10px rgba(#0088fc,0.1);
    }
  }

} /* socials */
