mixin header(logotype)
  header.header(id="header")
    .header__wr.wr
      button.burger#header-burger
        span.burger__wrap
          span.line

      .header__address
        span.header__title Как добраться

        p.header__text г. Симферополь, Евпаторийское шоссе, 8
          br
          |  ТРЦ «МЕГАНОМ»

      .header__menu
        ul.menu
          li
            a.inner-link(href="#scr_buy") Купить билет
          li
            a.inner-link(href="#scr_about") О катке
          li
            a.inner-link(href="#scr_price") Прайс
          li
            a.inner-link(href="#scr_serv") Услуги

      .header__phone
        a.header__link.desktop(href="tel:+88002506603" rel="nofollow") 8 800 250 66 03
        a.btn.btn--circled.mobile(href="tel:+88002506603" rel="nofollow")
          i.fa.fa-phone

        p.header__text Ежедневно с 10:00 до 22:00
          br
          |  Чистка льда 15:00-15:45; 19:00-19:45


    // /.header__wr
