mixin scr1()
  section.scr1(id="scr1" style="background: #fff url('img/bg-scr1.jpg') no-repeat center top; background-size: 100% 80%;")
    .scr1__img
      noscript
        img.lazy(src="img/img-scr1.png" alt="" width="967" height="541")
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1.png" alt="" width="967" height="541")

    .scr1__content
      h1.scr1__title
        noscript
          img.lazy(src="img/title-scr1.png" alt="" width="474" height="148")
        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/title-scr1.png" alt="" width="474" height="148")

        |  на льду круглый год
        br
        |  от
        strong  100
        |  рублей

      p.scr1__desc со
        strong  скидкой 10%
        |  при покупке билета онлайн

      .scr1__btns
        .btn__wrap.btn__wrap--shadowed.btn__wrap--bordered
          a.btn.btn--bordered.inner-link(href="#") Купить билет

    +scr_features


  // /.scr1
