mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .wr
      .insta__wr
        .insta__df
          .insta__content
            p.insta__title Мы в instagram
            p.insta__hash
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-insta")

              span.insta__hash-text #меганомкаток

          .insta__slider.slider1#insta__slider
            .insta__slides.slider1__slides
              .insta__slide.slider1__slide
                .insta__item
                  a.fancybox.insta__img(href="img-temp/insta/img-insta-1.jpg" data-fancybox-group="insta")
                    noscript
                      img.lazy(src="img-temp/insta/img-insta-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .insta__slide.slider1__slide.insta__slide--two
                .insta__item.insta__item--two
                  a.fancybox.insta__img(href="img-temp/insta/img-insta-2.jpg" data-fancybox-group="insta")
                    noscript
                      img.lazy(src="img-temp/insta/img-insta-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  a.fancybox.insta__img(href="img-temp/insta/img-insta-3.jpg" data-fancybox-group="insta")
                    noscript
                      img.lazy(src="img-temp/insta/img-insta-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .insta__slide.slider1__slide.insta__slide--two
                .insta__item.insta__item--two
                  a.fancybox.insta__img(href="img-temp/insta/img-insta-4.jpg" data-fancybox-group="insta")
                    noscript
                      img.lazy(src="img-temp/insta/img-insta-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  a.fancybox.insta__img(href="img-temp/insta/img-insta-5.jpg" data-fancybox-group="insta")
                    noscript
                      img.lazy(src="img-temp/insta/img-insta-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-5.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .insta__slide.slider1__slide.insta__slide--two
                .insta__item.insta__item--two
                  a.fancybox.insta__img(href="img-temp/insta/img-insta-6.jpg" data-fancybox-group="insta")
                    noscript
                      img.lazy(src="img-temp/insta/img-insta-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-6.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  a.fancybox.insta__img(href="img-temp/insta/img-insta-7.jpg" data-fancybox-group="insta")
                    noscript
                      img.lazy(src="img-temp/insta/img-insta-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-7.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .insta__dots.slider1__dots

  // /.scr_insta
