mixin scr_price()
  section.scr_price.price(id="scr_price")
    .wr
      .price__wr
        .price__top
          h2.title Наши цены
          a.price__link(href="#") Условия приобретения

        p.price__desc Приобрести билеты можно на сайте или в кассе катка
        p.price__desc Билет включает в себя 1 час катания. Перекаты - 3 р./минута


        .price__table
          .price__table-cont
            table
              thead
                tr
                  td(rowspan="2") Сеансы
                  td(rowspan="2") Время работы
                  td(rowspan="2") Детский, до 7-ми лет
                  td(rowspan="2") Взрослый
                  td(colspan="2") Льготная категория:
                tr
                  td Студенты
                  td Пенсионеры
                    br
                    |  Многодетные

              tbody
                tr
                  td(rowspan="3").price__title
                    strong Будние дни:
                    br
                    |  понедельник, вторник,
                    br
                    |  среда, четверг
                  td 10:00 – 13:00
                  td(colspan="4")
                    span.price__price 150 ₽
                tr
                  td 14:00  – 21:00
                  td
                    strong 280 ₽
                  td
                    strong 330 ₽
                  td
                    strong 300 ₽
                  td
                    strong 250 ₽
                tr
                  td Безлимит
                  td
                    strong 500 ₽
                  td
                    strong 700 ₽
                  td
                    strong 500 ₽
                  td
                    strong 500 ₽

                tr
                  td.price__title
                    strong выходные дни
                      br
                      |  праздники, каникулы
                  td 10:00 – 21:00
                  td
                    strong 300 ₽
                  td(colspan="2")
                    span.price__price 380 ₽
                  td
                    strong 250 ₽

                tr
                  td.price__title
                    strong групповое посещение
                  td(colspan="2")
                    strong от 10 человек
                  td(colspan="3")
                    span.price__price 250 ₽
                    strong /человек


                tr
                  td.price__title
                    strong групповое посещение
                  td(colspan="2")
                    strong от 10 человек
                  td(colspan="3")
                    span.price__price 250 ₽
                    strong /человек

                tr
                  td.price__title
                    strong групповое посещение
                  td(colspan="2")
                    strong от 10 человек
                  td(colspan="3")
                    span.price__price 250 ₽
                    strong /человек

        .price__btns
          button.price__show
            i.price__icon
            i.price__icon

  // /.scr_price
