mixin scr_about()
  section.scr_about.about(id="scr_about")
    .wr
      .about__wr
        h2.title О катке

        .about__df
          ul.about__list
            li.about__item
              .about__img
                noscript
                  img.lazy(src="img/img-about-1.png" alt="Лёд" width="208" height="60")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about-1.png" alt="Лёд" width="208" height="60")

              p.about__text Ледовое поле
                br
                strong  700 м2

            li.about__item
              .about__img
                noscript
                  img.lazy(src="img/img-about-2.png" alt="Девочка с коньками" width="203" height="184")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about-2.png" alt="Девочка с коньками" width="203" height="184")

              p.about__text За это время осчастливили
                br
                |  более
                strong  500 000 человек

            li.about__item
              .about__img
                noscript
                  img.lazy(src="img/img-about-3.png" alt="Шесть лет" width="122" height="189")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about-3.png" alt="" width="122" height="189")

              p.about__text Каток работает
                br
                strong  6 лет

            li.about__item
              .about__img
                noscript
                  img.lazy(src="img/img-about-4.png" alt="Коньки" width="224" height="187")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about-4.png" alt="Коньки" width="224" height="187")

              p.about__text В нашем прокате более
                br
                strong  500 пар коньков
                br
                |  от 26 до 48 размера

          .about__slider.slider1#about__slider
            .about__slides.slider1__slides
              .about__slide.slider1__slide
                .about__slide-item
                  noscript
                    img.lazy(src="img-temp/img-about.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-about.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .about__slide.slider1__slide
                .about__slide-item
                  noscript
                    img.lazy(src="img-temp/img-about.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-about.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .about__arrows.slider1__arrows

        .about__bottom
          +socials

  // /.scr_about
