mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .wr
      .lead__wr
        .lead__df
          p.lead__title Что нужно знать,
            br
            |  если собрались
            br
            strong  на каток впервые?

          .lead__form
            .lead__img
              noscript
                img.lazy(src="img/img-lead.png" alt="" width="587" height="643")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-lead.png" alt="" width="587" height="643")

            .form.wpcf7
              form.wpcf7-form
                .form__wrap
                  p.form__title Заполните форму и вы получите
                    br
                    |  топ-10 лайфхаков

                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                      i.input-icon
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-user")

                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
                      i.input-icon
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-phone")

                  .form__item
                    span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш e-mail')
                      i.input-icon
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-email")

                  .form__item.form__item--submit
                    .btn__wrap.btn__wrap--bordered
                      input.wpcf7-form-control.wpcf7-submit.btn.btn--bordered(type='submit', value='Отправить')

                  .form__item
                    span.wpcf7-form-control-wrap.accept
                      span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                        span.wpcf7-list-item
                          label
                            input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                            span.wpcf7-list-item-label Согласие на обработку персональных данных
                              i.accept__icon


  // /.scr_lead
