mixin scr_features()
  section.scr_features.features(id="scr_features")
    ul.features__list
      li.features__item
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-scr1-1")
        p.features__text Индивидуальные и групповые занятия
          br
          |  с профессиональным тренером

      li.features__item
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-scr1-2")
        p.features__text Обучение фигурному катанию
          br
          |  Вашего ребенка

      li.features__item
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-scr1-3")
        p.features__text Большая зона фудкорта
          br
          |  вокруг катка




  // /.features
