mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .wr
      .serv__wr
        h2.title Услуги

        .serv__list.slider1#serv__slider
          .serv__slides.slider1__slides
            .serv__slide.slider1__slide
              .serv__item
                p.serv__title катание
                  br
                  |  с инструктором
                  br
                  small  (в группе от 2-х чел.)

                span.serv__price цена:
                  strong  200 ₽

                .serv__img
                  noscript
                    img.lazy(src="img/img-serv-1.png" alt="защита коньков" width="377" height="221")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-serv-1.png" alt="защита коньков" width="377" height="221")

            .serv__slide.slider1__slide
              .serv__item
                p.serv__title аренда
                  br
                  |  ледового
                  br
                  |  помощника

                span.serv__price цена:
                  strong  200 ₽

                .serv__img
                  noscript
                    img.lazy(src="img/img-serv-2.png" alt="мишка помощник" width="184" height="281")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-serv-2.png" alt="мишка помощник" width="184" height="281")

            .serv__slide.slider1__slide
              .serv__item
                p.serv__title индивидуальные
                  br
                  |  занятия
                  br
                  |  с тренером

                span.serv__price цена:
                  strong  600 ₽

                .serv__img
                  noscript
                    img.lazy(src="img/img-serv-3.png" alt="коньки" width="241" height="248")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-serv-3.png" alt="коньки" width="241" height="248")

            .serv__slide.slider1__slide
              .serv__item
                p.serv__title заточка
                  br
                  |  коньков

                span.serv__price цена:
                  strong  200 ₽

                .serv__img
                  noscript
                    img.lazy(src="img/img-serv-4.png" alt="конёк" width="204" height="327")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-serv-4.png" alt="конёк" width="204" height="327")

            .serv__slide.slider1__slide
              .serv__item
                p.serv__title Костюм
                  br
                  |  кигуруми

                span.serv__price цена:
                  strong  100 ₽

                .serv__img
                  noscript
                    img.lazy(src="img/img-serv-5.png" alt="девочка в костюме кигуруми" width="291" height="345")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-serv-5.png" alt="девочка в костюме кигуруми" width="291" height="345")

            .serv__slide.slider1__slide
              .serv__item
                p.serv__title АРЕНДА
                  br
                  |  защиты

                span.serv__price цена:
                  strong  100 ₽

                .serv__img
                  noscript
                    img.lazy(src="img/img-serv-6.png" alt="защита" width="220" height="330")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-serv-6.png" alt="защита" width="220" height="330")

          .serv__dots.slider1__dots

  // /.scr_serv
