mixin socials()
  section.ice-socials(id="ice-socials")
    p.ice-socials__title Мы в социальных сетях:
    a.ice-socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon.icon--insta
        use(xlink:href="img/svg/sprite.svg#icon-insta")
    a.ice-socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon.icon-vk
        use(xlink:href="img/svg/sprite.svg#icon-vk")



  // /.socials
