mixin footer(logotype)
  footer.footer(id="footer")
    a.to-top(href="#page_wr")
      i.fa.fa-angle-up
    .footer__top
      .container
        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              svg
                use(xlink:href="img/svg/sprite.svg#logo1")            
          else 
            #{logotype}.logo
              svg
                use(xlink:href="img/svg/sprite.svg#logo1")

          p.logo__title Завод кровельных 
            br
            | материалов в Крыму

      // /.container
    // /.footer__top 

    .footer__middle
      .container
        .df
          ul.footer__menu.footer-menu
            li.footer-menu__item
              h4 Компания
              ul.menu
                li
                  a(href="#") 
                    span О компании
                li
                  a(href="#") 
                    span Производственные мощности
                li
                  a(href="#") 
                    span Сертификаты качества
                li
                  a(href="#") 
                    span Отзывы
                li
                  a(href="#") 
                    span Вакансии

            li.footer-menu__item
              h4 Продукция
              ul.menu
                li
                  a(href="#") 
                    span Металлочерепица
                li
                  a(href="#") 
                    span Профнастил
                li
                  a(href="#") 
                    span Еврозаборы
                li
                  a(href="#") 
                    span Металлосайдинг
                li
                  a(href="#") 
                    span Ворота, калитки
                li
                  a(href="#") 
                    span Комплектующие
                li
                  a(href="#") 
                    span Водосточные системы
                li
                  a(href="#") 
                    span Мансардные окна
                li
                  a(href="#") 
                    span Лестницы чердачные
                li
                  a(href="#") 
                    span Металлокассеты
                li
                  a(href="#") 
                    span Гладкий лист

            li.footer-menu__item.footer-menu__item--strong
              ul.menu.menu--strong
                li
                  a(href="#") 
                    span Сотрудничество
                li
                  a(href="#") 
                    span Услуги
                li
                  a(href="#") 
                    span Оплата и доставка
                li
                  a(href="#") 
                    span Новости
                li
                  a(href="#") 
                    span Скачать прайс

          .footer__info
            h4 Контакты

            p.address АР Крым, с. Трудовое, ул. Ореховая, 6

            .phones  
              .left
                p г. Симферополь
                a.phones__link(href='tel:+79780905552', rel='nofollow') +7 (978) 090 555 2
                a.phones__link(href='tel:+79880334777', rel='nofollow') +7 (988) 033 47 77                
                a.phones__link(href='mailto:evrostroy.invest@ya.ru', rel='nofollow') evrostroy.invest@ya.ru
              // /.left 
              .right
                p г. Феодосия
                a.phones__link(href='tel:+79880332888', rel='nofollow') +7 (988) 033-2-888
                a.phones__link(href='tel:+79780905558', rel='nofollow') +7 (978) 090 555 8
                a.phones__link(href='mailto:evrostroy_fe@mail.ru', rel='nofollow') evrostroy_fe@mail.ru
              // /.right               
            // /.phones 
            
            .schedule
              h4 Режим работы
              p пн-пт: с 08:30 до 17:30 (обед с 13:00 до 14:00)
                br
                |  сб: с 08:30 до 13:00, вс: выходной

            +socials       
        // /.df

      // /.container
    // /.footer__middle

      
    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom   
  // /.footer
  