mixin header(logotype)
  header.header(id="header")
    .header__top
      .container
        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              img(src="img/svg/logo.svg" alt="лого")
          else 
            #{logotype}.logo
              img(src="img/svg/logo.svg" alt="лого")
          p.logo__title Завод кровельных 
            br
            | материалов в Крыму
            
        .header__info
          p.header__text Крым, с. Трудовое, ул. Ореховая 6
          a.link.header__text(href="mailto:krym-krovlya.rf@mail.ru", rel="nofollow") krym-krovlya.rf@mail.ru
        // /.header__info  

        .phones            
          ul.phones__list
            li.phones__item
              h4.phones__title.header__text Симферополь 
              .phones__links
                a.link.phones__link(href='+79787088004', rel='nofollow') +7 (978) 
                  strong 70 88 004
            
            li.phones__item
              h4.phones__title.header__text Феодосия 
              .phones__links
                a.link.phones__link(href='+79880332888', rel='nofollow') +7 (988) 
                  strong 033 2 888
            
        // /.phones  
      // /.container  
    // /.header__top  

    +header__nav