mixin header__nav()
  nav.header__nav
    .container
      .main-menu
        button.burger__wrap#header-burger
          //- span.text Меню
          span.burger            
            span.line
        ul.menu
          li.menu-item
            a(href="#") Продукция                
          li.menu-item.menu-item-has-children
            a(href="#") О компании    
            ul.sub-menu
              li.menu-item
                a(href="#") О компании
              li.menu-item
                a(href="#") Производственные мощности
              li.menu-item
                a(href="#") Сертификаты качества
              li.menu-item
                a(href="#") Отзывы
              li.menu-item
                a(href="#") Вакансии

          li.menu-item
            a(href="#") Услуги  
          li.menu-item
            a(href="#") Сотрудничество  
          li.menu-item
            a(href="#") Оплата и доставка      
          li.menu-item.current-menu-item
            a(href="#") Новости  
          li.menu-item
            a(href="#") Контакты  

    // /.container  
  // /.header__nav  
