mixin paginator()
  ul.paginator    
    li
      a.prev(href='#')
        span.icon__wrap
          svg.icon(width='17', height='13')
            use(xlink:href='img/svg/sprite.svg#iconArrow')
       
    li.current
      span.page-numbers 1
    li
      a.page-numbers(href='#') 2
    li
      a.page-numbers(href='#') 3
    li
      a.next.link.link--strong(href='#')
        span.text Вперед
        span.arrow

        
  // /.paginator