mixin scr1()
  section.scr1(id="scr1")
    .container.df 
      button.burger__wrap#scr1-burger          
        span.burger            
          span.line
        span.text Каталог

      .scr1__menu-wrap
        span.decor-line
        ul.menu
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-1')
              p.text Металлочерепица
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-2')
              p.text Еврозаборы
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-3')
              p.text Профнастил
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-4')
              p.text Металлосайдинг
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-5')
              p.text Ворота и калитки
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-6')
              p.text Водосточные системы
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-7')
              p.text Комплектующие
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-8')
              p.text Мансардные окна
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-9')
              p.text Лестницы чердачные
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-10')
              p.text Металлокассеты
          li.menu-item
            a(href="#") 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#icon-products-11')
              p.text Гладкий лист
          
      .scr1__right
        p.desc1 Профессионализм 
          br
          |  проверенный временем  

        h1.title1 Производим и реализовываем
          br
          strong  кровельные и фасадные 
            br
            |  материалы
          br
          |  в Крыму более 10 лет
        
        a.btn.btn--grad(href="#") Расcчитать стоимость кровли
    // /.container  
  // /.scr1  
