mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .container
      .slider1.certs__slider(id="certs__slider")
        .slider1__slides.certs__slides
          .slider1__slide.certs__slide
            a.fancybox(href="img/img-cert.jpg" data-fancybox-group="certs")
              img(src="img/img-cert--small.jpg" alt="сертификат" data-object-fit)

          .slider1__slide.certs__slide
            a.fancybox(href="img/img-cert.jpg" data-fancybox-group="certs")
              img(src="img/img-cert--small.jpg" alt="сертификат" data-object-fit)

          .slider1__slide.certs__slide
            a.fancybox(href="img/img-cert.jpg" data-fancybox-group="certs")
              img(src="img/img-cert--small.jpg" alt="сертификат" data-object-fit)

          .slider1__slide.certs__slide
            a.fancybox(href="img/img-cert.jpg" data-fancybox-group="certs")
              img(src="img/img-cert--small.jpg" alt="сертификат" data-object-fit)

        // /.certs__slides 
        
        .slider1__dots.certs__dots
      
        // /.slider1__dots  
      // /.certs__slider  
    // /.container  
  // /.scr_certs  
