mixin scr_about()
  section.scr_about.about(id="scr_about")
    .about__top 
      .container
        .row
          .col-md-6.left
            .article
              h2.title2 Основное направление нашей работы

              p.desc производство и реализация металлочерепицы, профнастила, водостоков, фасадных материалов. Металлочерепица «Дюна», «Монтеррей», «Адамант», «Каскад» кровельные комплектующие, системы отделки фасадов по всему Крыму.

              blockquote 
                p «Строительство домов и коттеджей – не самое легкое дело, поэтому следует приобретать лишь качественные стройматериалы и обращаться за помощью к профессионалам. Именно крыша подвергается влиянию всех атмосферных осадков и страдает от перепадов температур, поэтому следует выбирать самые высококачественные влагоустойчивые кровельные материалы. 

                p В противном случае через несколько лет кровля может повредиться и это доставит множество хлопот, особенно в холодное время года.»
          .col-md-6.right
            figure
              a.video.fancybox(href="https://www.youtube.com/embed/962VmrIh9vQ?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=sjqKTctJs1k" data-fancybox-type="iframe")     
                .bg-img(style="background: transparent url('../img/video-img.jpg') no-repeat center center;          background-size: cover;")
                span.play
              figcaption Компания «Кровельный мир» является крупнейшим производителем кровельных и фасадных материалов в Крыму.
  
    .about__middle
      .container
        .row
          .col-md-6.left
            .article
              p
                strong Производственная компания «Кровельный мир» 
                  br 
                  |  предлагает влагоустойчивый, стойкий к механическим и химическим воздействиям кровельный материал для крыши любых размеров и форм.
              p.desc Современное оборудование позволяет нам производить, 
                br
                |  а Вам купить профнастил и металлочерепицу по лучшим 
                br
                |  ценам в кратчайшие сроки по всему Крыму.
          
          .col-md-6.right  
            .article
              ul
                li Поможем подобрать материалы, оптимально сочетающие в себе приемлемую цену и высокое качество 

                li Рассчитаем необходимое количество материалов

                li Приедем на объект и произведем замеры

                li Оптимально укомплектуем все необходимые элементы для правильного устройства кровли и фасада, а также всех вспомогательных систем. 

                li Обеспечим поставку материалов на объект.

    .about__bottom
      .container
        .row
          .col-md-8.offset-md-2
            p Приложим все усилия для того, чтобы Вы остались довольны не&nbsp;только результатом работы, но и нашим сервисом!
        
  // /.scr_about  
