mixin scr_services()
  section.scr_services.services(id="scr_services")
    .container
      h2.title2 Монтаж кровли
      .row
        .col-sm-6
          .left
            .article
              p Кровля является одним из главных элементов конструкции дома и к её монтажу следует подходить с профессиональными знаниями и опытом. 

              p От качественного выполнения работ зависит эксплуатационный срок кровли, уровень защиты от влаги, теплоизоляционные характеристики, уют и безопасность Вашего дома.
        
        .col-sm-6
          .right
            blockquote
              p Являясь профессионалами своего дела 
                br
                |  мы в короткие сроки и с гарантией качества 
                br
                |  осуществим монтаж кровли.

    .container
      ul.services__features.services-features
        li
          .services-features__wrap
            svg
              use(xlink:href="img/svg/sprite.svg#bg-services")
          .services-features__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#serv-features-1")
          .services-features__content
            h3 Сопровождение

            p Персональное сопровождение всего хода сделки опытными сотрудниками, начиная от выбора материалов до полного завершения монтажно-строительных работ

        li
          .services-features__wrap
            svg
              use(xlink:href="img/svg/sprite.svg#bg-services")
          .services-features__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#serv-features-2")
          .services-features__content
            h3 Опытные монтажники

            p Опытные монтажные бригады, которые  формируются не из сезонных разнорабочих, а из специально обученных специалистов

        li
          .services-features__wrap
            svg
              use(xlink:href="img/svg/sprite.svg#bg-services")
          .services-features__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#serv-features-3")
          .services-features__content
            h3 Документы

            p Документальное оформление всех этапов сделки, согласно действующего нормативно-правового поля, обеспечивающие защиту Ваших интересов


    // /.scr_services  
