mixin scr_pay()
  section.scr_pay.pay(id="scr_pay")
    .container
      h2.title2 Как мы работаем

      ul.pay__list
        li.pay__item.pay__item--main
          .pay__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-pay-1")
          h3 Заявка/
            br
            |  звонок

        li.pay__item.pay__item--arrow

        li.pay__item.pay__item--main
          .pay__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-pay-2")
          h3 Выезд 
            br
            |  на замер

        li.pay__item.pay__item--arrow
          
        li.pay__item.pay__item--main
          .pay__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-pay-3")
          h3 Выбор 
            br
            |  материала

        li.pay__item.pay__item--arrow
          
        li.pay__item.pay__item--main
          .pay__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-pay-4")
          h3 Составление 
            br
            |  сметы

        li.pay__item.pay__item--arrow
          
        li.pay__item.pay__item--main
          .pay__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-pay-5")
          h3 Заключение 
            br
            |  сделки

        li.pay__item.pay__item--arrow
          
        li.pay__item.pay__item--main
          .pay__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-pay-6")
          h3 Доставка 
            br
            |  и расчет
  
    .pay__bottom
      .container
        .row
          .col-md-6.col-sm-7    
            .left
              p Доставка приобретенного Вами мaтepиaлa осуществляется специализированным транспортом в любое удобное время для клиента, хоть ночью!

          .col-xl-6.offset-xl-0.col-md-5.col-sm-4.offset-sm-1
            .pay__bg-wrap
              .pay__bg

  // /.scr_pay  
