mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      .reviews__slider-wrap
        .reviews__slider#reviews__slider
          .reviews__slides
            .reviews__slide
              .reviews__wrap
                svg
                  use(xlink:href="img/svg/sprite.svg#bg-reviews" )
              .reviews__content
                .reviews__content-top
                  time(datetime='2019-05-29') 29.05.19, 
                  b.town &nbsp;Симферополь
                .article                  
                  h2 Новиков. С. И.
                  p Не следует, однако, забывать, что убежденность некоторых оппонентов не оставляет шанса для инновационных методов управления процессами. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии заблокированы в рамках своих собственных рациональных ограничений. Разнообразный и богатый опыт говорит нам, что современная методология разработки влечет за собой процесс внедрения и модернизации своевременного выполнения сверхзадачи.

            .reviews__slide
              .reviews__wrap
                svg
                  use(xlink:href="img/svg/sprite.svg#bg-reviews" )
              .reviews__content
                .reviews__content-top
                  time(datetime='2019-05-29') 29.05.19, 
                  b.town &nbsp;Симферополь
                .article                  
                  h2 Новиков. С. И.
                  p Не следует, однако, забывать, что убежденность некоторых оппонентов не оставляет шанса для инновационных методов управления процессами. Являясь всего лишь
                  
            .reviews__slide
              .reviews__wrap
                svg
                  use(xlink:href="img/svg/sprite.svg#bg-reviews" )
              .reviews__content
                .reviews__content-top
                  time(datetime='2019-05-29') 29.05.19, 
                  b.town &nbsp;Симферополь
                .article                  
                  h2 Новиков. С. И.
                  p Не следует, однако, забывать, что убежденность некоторых оппонентов не оставляет шанса для инновационных методов управления процессами. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии заблокированы в рамках своих собственных рациональных ограничений. Разнообразный и богатый опыт говорит нам, что современная методология разработки влечет за собой процесс внедрения и модернизации своевременного выполнения сверхзадачи.
                  p Не следует, однако, забывать, что убежденность некоторых оппонентов не оставляет шанса для инновационных методов управления процессами. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии заблокированы в рамках своих собственных рациональных ограничений. Разнообразный и богатый опыт говорит нам, что современная методология разработки влечет за собой процесс внедрения и модернизации своевременного выполнения сверхзадачи.

          .reviews__dots


      .btn__wrap 
        a.btn.btn--grad(href="#") Отавить отзыв


    // /.scr_reviews  
