mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .row
        .col-lg-7.col-md-6
          p.lead__title Получите быстрый и точный расчет стоимости кровли
            strong  бесплатно
          section.scr_advantages.advantages
            ul.advantages__list
              li.advantages__item
                .advantages__img
                  img(src="img/img-adv-1.png" alt="Кровля" data-object-fit2)
                .advantages__icon.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.3s")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-adv-1")
                .advantages__text 
                  p
                    strong Профессиональная помощь 
                    br
                    |  в выборе материалов
              li.advantages__item
                .advantages__img
                  img(src="img/img-adv-2.png" alt="Кровля" data-object-fit2)
                .advantages__icon.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.4s")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-adv-2")
                .advantages__text 
                  p
                    strong Расчет количества 
                    br
                    |  и стоимости материалов
              li.advantages__item
                .advantages__img
                  img(src="img/img-adv-3.png" alt="Кровля" data-object-fit2)
                .advantages__icon.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.5s")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-adv-3")
                .advantages__text 
                  p
                    strong Выезд замерщика в 
                    br
                    |  удобное для Вас время
          // /.scr_advantages  
        // /.col

        .col-lg-5.col-md-6
          .form.wpcf7
            form.wpcf7-form
              p.form__title Оставьте заявку
              p.form__desc наш специалист перезвонит, 
                br
                |  проконсультурует и направит 
                br
                |  замерщика на Ваш объект


              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
              
              .form__item
                input.wpcf7-form-control.wpcf7-submit.btn--grad(type='submit', value='Получить расчет стоимости')
                  
              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label                        
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Я согласен с политикой конфиденциальности    
                          i.accept__icon      
              

          // /.form
        // /.col
      // /.row
    // /.container   

  // /.scr_lead  
