mixin scr_news-news()
  section.scr_news.news(id="scr_news")
    .container
      h1.title Новости

      .row
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-1.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
 
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-2.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
 
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-3.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
 
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-4.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
                
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-1.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
 
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-2.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
 
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-3.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
 
        .col-sm-6
          a.news__item(href="#")
            .img__wrap
              img(src="img/news/img-news-4.jpg" alt="" data-object-fit)
            .news__right
              .article
                time(datetime='2019-05-29') 29.05.19
                h2 Новое поступление 
                  br
                  |  продукции
                p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
              .link__wrap
                span.news__link.link.link--strong Подробнее
 
          
      +paginator       
  // /.scr_news