mixin scr_products()
  section.scr_products.products(id="scr_products")
    .container
      ul.products__nav
        li.current
          a.btn(href="#products-tab0") Хит продаж
        li
          a.btn(href="#products-tab1") Акции
    
    .products__tab#products-tab0
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              span.label.label--hit Хит продаж

              a.products__img(href="")
                img(src="img/products/img-products-1.jpg" alt="Металлочерепица Адаманте" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Металлочерепица 
                    br
                    |  Adamante

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              span.label.label--action Акция

              a.products__img(href="")
                img(src="img/products/img-products-2.jpg" alt="Металлочерепица Каскаде" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Металлочерепица  
                    br
                    |  Cascade

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              a.products__img(href="")
                img(src="img/products/img-products-3.jpg" alt="Профнастил ПС (ПК) - 21" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Профнастил ПС
                    br
                    |  (ПК) - 21 

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              a.products__img(href="")
                img(src="img/products/img-products-4.jpg" alt="Металлочерепица Дьюн" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Металлочерепица 
                    br
                    |  Dune

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ

    .products__tab#products-tab1
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              span.label.label--action Акция
              
              a.products__img(href="")
                img(src="img/products/img-products-1.jpg" alt="Металлочерепица Адаманте" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Металлочерепица 
                    br
                    |  Adamante

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              span.label.label--action Акция
              
              a.products__img(href="")
                img(src="img/products/img-products-2.jpg" alt="Металлочерепица Каскаде" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Металлочерепица  
                    br
                    |  Cascade

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              span.label.label--action Акция
              
              a.products__img(href="")
                img(src="img/products/img-products-3.jpg" alt="Профнастил ПС (ПК) - 21" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Профнастил ПС
                    br
                    |  (ПК) - 21 

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ
          .col-xl-3.col-lg-4.col-sm-6
            .products__item
              span.label.label--action Акция
              
              a.products__img(href="")
                img(src="img/products/img-products-4.jpg" alt="Металлочерепица Дьюн" data-object-fit2)
              .products__info
                a.products__title-wrap(href="#")
                  h3.products__title Металлочерепица 
                    br
                    |  Dune

                .products__price
                  span Цена за м
                    sup 2
                  b 2 299 Р

                .products__bottom
                  a.link.link--strong(href="#") Подробнее
                  a.btn.btn--brown(href="#") Быстрый заказ

    
  // /.scr_products  
