mixin scr_news()
  section.scr_news.news(id="scr_news")
    .news__top
      h2.news__title Новости
      a.link.link--strong(href="#") Все новости

    ul.news__list
      li.news__item
        .article
          time(datetime='2019-05-29') 29.05.19
          a(href="#")
            h3 Новое поступление 
              br
              |  продукции
          p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
        .link__wrap
          a.news__link.link.link--strong(href="#") Подробнее
      li.news__item
        .article
          time(datetime='2019-05-29') 29.05.19
          a(href="#")
            h3 Новое поступление 
              br
              |  продукции
          p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
        .link__wrap
          a.news__link.link.link--strong(href="#") Подробнее
      li.news__item
        .article
          time(datetime='2019-05-29') 29.05.19
          a(href="#")
            h3 Новое поступление 
              br
              |  продукции
          p Также как высококачественный прототип будущего проекта играет важную роль в формировании новых принципов...
        .link__wrap
          a.news__link.link.link--strong(href="#") Подробнее


    // /.scr_news  
