mixin scr_features()
  section.scr_features.features(id="scr_features")
    .features__decor
      img(src="img/decor-features-1.png" alt="кровля" data-object-fit2)
    p.features__title Более 
      strong  2 000 
      |  м
      sup 2 
      br
      |  кровельных материалов
      br
      b  производится 
      |  каждый год

    ul.features__list
      li.features__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s")
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-features-1")
        .features__text
          p Организуем 
            strong  доставку материала 
            br
            |  в любое удобное время для клиента
      li.features__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.4s")
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-features-2")
        .features__text
          p Выполним 
            strong  срочный заказ
            br
            |  в течение одного дня
      li.features__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.5s")
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-features-3")
        .features__text
          p Все станки   
            strong  российского 
            br
            strong  и импортного
            |  производства
      li.features__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.6s")
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-features-4")
        .features__text
          p Все исходное 
            strong  сырье
            br
            strong  российского
            |  производства
      li.features__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.7s")
        .features__icon
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-features-5")
        .features__text
          p Все менеджеры –  
            strong  квалифицированные
            br
            |  и способны решить любой вопрос 


    // /.scr_features  
