mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    .container
      h2.partners__title Наши партнёры
        // /.col
      // /.row
      .slider1.partners__slider(id="partners__slider")
        .slider1__slides.partners__slides
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s")
              img(src="img/img-partners-1.png" alt="Новацентр")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.1s")
              img(src="img/img-partners-2.png" alt="Владоград")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.2s")
              img(src="img/img-partners-3.jpg" alt="Нордсайд")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s")
              img(src="img/img-partners-4.png" alt="Дёке")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.4s")
              img(src="img/img-partners-1.png" alt="Новацентр")
        
        // /.partners__slides          
        .slider1__dots.partners__dots

        // /.partners__dots        
      // /.partners__slider
      // /.row
    // /.container        
  // /.scr_partners
