mixin scr_news-item()
  section.scr_news-item.news-item(id="scr_news-item")
    .container
      +breadcrumbs

      .news-item__img
        img(src="img/news/img-news-item-1.jpg" alt="" data-object-fit)      
      
      h1 Как выбрать кровельные материалы?
      
      .article
        p Многообразие видов кровельных материалов, представленных на современном рынке, с одной стороны, позволяет подобрать подходящее покрытие на любой вкус и кошелек, с другой - ставит перед покупателем нелегкую задачу: как сделать выбор и не ошибиться?

        p Современные материалы для кровли производятся из металлов, керамики, битума, полимеров, цемента и песка, композитов. Они различаются по внешнему виду, весу, цене, сложности установки. Большинство покупателей интересуют, прежде всего, эстетические свойства покрытия и его ценовые показатели.
        
        h2 Стоимость кровельных материалов складывается 
          br
          |  из нескольких составляющих
        
        ul
          li Во-первых, это собственно цена покрытия за квадратный метр. Следует помнить, что при монтаже некоторых видов кровли на сложных крышах остается количество обрезков, и стоимость покрытия существенно возрастает, иногда в 1,5-2 раза. Поэтому для сложных крыш разумнее выбирать кровельные материалы с листами меньшего размера.

          li Во-вторых, нужно учесть цену сопутствующих материалов, в частности, основы под покрытие. Например, к стоимости гибкой черепицы добавляется стоимость листов влагостойкой фанеры, на которые кладется покрытие.

          li В-третьих, итоговая цена будет зависеть от стоимости работы. Здесь все просто: чем сложнее крыша, тем дороже монтаж. Конечную сумму вам может назвать только специалист, все приблизительные расчеты “на глаз”, скорее всего, окажутся далеки от реальности.

    // /.scr_news-item  
