mixin breadcrumbs()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Каталог
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Латексные шары
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Круглые с рисунком
        meta(itemprop='position', content='3')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') BLACK&amp;YELLOW 2 ст. рис Мужская лига
        meta(itemprop='position', content='4')

  // /.breadcrumbs

mixin breadcrumbs--post()
  #breadcrumbs.breadcrumbs.breadcrumbs--post
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Блог
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Воздушные шары на День рождения мальчику
        meta(itemprop='position', content='3')

  // /.breadcrumbs
