mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .side-menu__wrap
          ul.side-menu
            li.menu-item.menu-item--decor
              a(href="#")
                noscript
                  img.lazy(src="img/svg/icons/balloons2.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/balloons2.svg" alt="" width="125" height="90")

                .menu-item-text Композиции из гелиевых шаров и печать на шарах

            li.menu-item.menu-item--decor
              a(href="#")
                noscript
                  img.lazy(src="img/svg/icons/bouquet.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/bouquet.svg" alt="" width="125" height="90")

                .menu-item-text Упаковка для цветов

            li.menu-item
              a(href="#") Латексные шары
            li.menu-item
              a(href="#") Фольгированные шары
            li.menu-item
              a(href="#") Сервировка стола
            li.menu-item
              a(href="#") Свечи для торта
            li.menu-item
              a(href="#") Товары для праздника
            li.menu-item
              a(href="#") Подарочная упаковка
            li.menu-item
              a(href="#") Карнавальная продукция
            li.menu-item
              a(href="#") Декор и аксессуары
            li.menu-item
              a(href="#") Оборудование для шаров и гелия
            li.menu-item
              a(href="#") Гелий

        .scr1__main.page-main
          .page-top
            .page-top__menu
              button(type="button") все категории товаров
              ul
                li

            .page-top__search
              .form.form--search
                form.wpcf7-form
                  .search-wrap
                    .text-input
                      input(type='search', placeholder='Поиск по каталогу')
                    button(type='submit')
                      svg.icon
                        use(xlink:href='img/svg/sprite.svg#icon-search')

            .page-top__total
              a.page-top__cart.open-modal(href="#")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cart")

                .page-top__cart-sum 0

              .page-top__sum Итого:
                strong  250 Р


          .scr1__menu
            ul.menu
              li.menu-item.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.2s")
                a(href="#")
                  .scr1__menu-icon
                    noscript
                      img.lazy(src="img/svg/icons/cake.svg" alt="" width="125" height="90" )
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/cake.svg" alt="" width="125" height="90" )

                  .scr1__menu-text День рождения

              li.menu-item.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.4s")
                a(href="#")
                  .scr1__menu-icon
                    noscript
                      img.lazy(src="img/svg/icons/teddy-bear.svg" alt="" width="125" height="90" )
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/teddy-bear.svg" alt="" width="125" height="90" )

                  .scr1__menu-text Новорожденный

              li.menu-item.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.6s")
                a(href="#")
                  .scr1__menu-icon
                    noscript
                      img.lazy(src="img/svg/icons/champagne.svg" alt="" width="125" height="90" )
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/champagne.svg" alt="" width="125" height="90" )

                  .scr1__menu-text Свадьба

              li.menu-item.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.8s")
                a(href="#")
                  .scr1__menu-icon
                    noscript
                      img.lazy(src="img/svg/icons/balloons.svg" alt="" width="125" height="90" )
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/balloons.svg" alt="" width="125" height="90" )

                  .scr1__menu-text День влюбленных

              li.menu-item.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1s")
                a(href="#")
                  .scr1__menu-icon
                    noscript
                      img.lazy(src="img/svg/icons/coat-of-arms.svg" alt="" width="125" height="90" )
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/coat-of-arms.svg" alt="" width="125" height="90" )

                  .scr1__menu-text Символика России


            a.scr1__menu-all(href="#") Все

          .scr1__slider-wrap
            .scr1__slider#scr1__slider
              .swiper-wrapper
                .swiper-slide.scr1__slide
                  noscript
                    img.lazy(src="img-temp/slider/img-1.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/slider/img-1.jpg" alt="" width="125" height="90")
                .swiper-slide.scr1__slide
                  noscript
                    img.lazy(src="img-temp/slider/img-1.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/slider/img-1.jpg" alt="" width="125" height="90")

            .scr1__slider-btns
              button.swiper-button-prev(type="button")
              .swiper-dots
              button.swiper-button-next(type="button")

          ul.scr1__feat
            li.scr1__feat-item
              p
                strong Самый большой скад-магазин
                |  товаров для праздника в Крыму  &#62;400 м
                sup 2
                |  с ассортиментом более 10 000 наименований
            li.scr1__feat-item
              p
                strong Цены ниже чем у конкурентов
                |  за счет того, что мы являемся импортером от заводов-производителей
            li.scr1__feat-item
              p
                strong Бесплатное обучение
                |  надуванию гелиевых шаров для новых клиентов

  // /.scr1
