mixin scr_prod-item()
  section.scr_prod-item.prod-item(id="scr_prod-item")
    .container
      .prod-item__cont
        .prod-item__df
          +side-menu


          .prod-item__main.page-main
            .page-top
              .page-top__menu
                button(type="button") все категории товаров
                ul
                  li

              .page-top__search
                .form.form--search
                  form.wpcf7-form
                    .search-wrap
                      .text-input
                        input(type='search', placeholder='Поиск по каталогу')
                      button(type='submit')
                        svg.icon
                          use(xlink:href='img/svg/sprite.svg#icon-search')

              .page-top__total
                a.page-top__cart.open-modal(href="#")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-cart")

                  .page-top__cart-sum 0

                .page-top__sum Итого:
                  strong  250 Р


            +breadcrumbs

            p.prod-item__title.mobile MP 12"/30см BLACK&amp;YELLOW 2 ст. рис
              br
              |  Мужская лига 50 шт

            .prod-item__wrap
              .prod-item__left
                .prod-item__slider-wrap
                  .prod-item__slider#prod-item__slider
                    .swiper-wrapper
                      .swiper-slide.prod-item__slide
                        .prod-item__top
                          .prod__btns
                            button.prod__btn(type="button")
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-heart")

                        a.prod-item__img.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="prod-item")
                          noscript
                            img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .swiper-slide.prod-item__slide
                        .prod-item__top
                          .prod__btns
                            button.prod__btn(type="button")
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-heart")

                        a.prod-item__img.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="prod-item")
                          noscript
                            img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)


                  .prod-item__btns.swiper-btns
                    button.swiper-button-prev
                    .swiper-dots
                    button.swiper-button-next


                .prod-item__socials
                  span Поделиться:
                  +socials--prod-item

              .prod-item__right
                h1.prod-item__title.desktop MP 12"/30см BLACK&amp;YELLOW 2 ст. рис
                  br
                  |  Мужская лига 50 шт

                .prod-item__right-df
                  .prod-item__content
                    span.prod__article Артикул:
                      strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Размер:
                        span.prod__table-td 12"
                      .prod__table-row
                        span.prod__table-th В упаковке:
                        span.prod__table-td 100 шт.
                      .prod__table-row
                        span.prod__table-th Бренд:
                        span.prod__table-td «Flexmetal» Испания
                      .prod__table-row
                        span.prod__table-th Штрих код:
                        span.prod__table-td 45485
                      .prod__table-row
                        span.prod__table-th В наличии:
                        span.prod__table-td 50 шт.

                    .prod-item__prices
                      .prod-item__prices-top
                        .prod-item__text Оптовая цена:
                          strong  500 Р
                        .prod-item__text Все условия
                          strong  опта

                      .prod-item__prices-list
                        span.prod-item__price.prod-item__price--old 600 Р
                        span.prod-item__price.prod-item__price--new 550 Р
                        span.prod-item__price.prod-item__price--one 17.58 р. за 1 шт


                      .prod__bottom
                        .prod__quant
                          .quantity
                            button.quantity-arrow.quantity-arrow-minus(type='button') -
                            input.quantity-num(type='number', value='1')
                            button.quantity-arrow.quantity-arrow-plus(type='button') +

                        .btn__wrap.btn__wrap--grad
                          a.prod__to-cart.btn(href="#")
                            span Купить


                    .prod-item__form
                      .form.form--general.wpcf7
                        form.wpcf7-form

                          .form__item
                            span.wpcf7-form-control-wrap.your-tel.text-input
                              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                          .form__item.form__item--submit
                            .btn__wrap.btn__wrap--grad.btn__wrap--green
                              input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Купить в один клик')


                  ul.prod-item__delivery
                    li
                      strong Самовывоз со склада
                        br
                        |  в Симферополе
                    li
                      strong Доставка по
                        br
                        |  Симферополю - 100 руб
                    li
                      strong Доставка по Крыму:
                      br
                      |  курьером по графику,
                      br
                      |  автобусом
                    li
                      strong Доставка по РФ:
                      br
                      |  ТК, почтой
                    li
                      strong Оплата:
                      br
                      |  наличными, на р/счет,
                      br
                      |  онлайн через сайт

                      ul.prod-item__pay
                        li
                          .footer__pay-img
                            noscript
                              img.lazy(src="img-temp/pay/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/pay/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        li
                          .footer__pay-img
                            noscript
                              img.lazy(src="img-temp/pay/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/pay/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        li
                          .footer__pay-img
                            noscript
                              img.lazy(src="img-temp/pay/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/pay/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)


            .prod-item__info
              ul.prod-item__info-nav
                li.current
                  a(href="#prod-item__tab-0") Описание
                li
                  a(href="#prod-item__tab-1") Характеристики
                li
                  a(href="#prod-item__tab-2") Видео

              ul.prod-item__tabs
                li.prod-item__tab#prod-item__tab-0
                  .article
                    p Воздушный шар из 100% натурального латекса без искусственных добавок.
                    p Специально разработанная формула производста Sempertex® обеспечивает высочайшее качество продукции. Все шары изготавливаются из мягкого, легкого в обращении латекса, что позволяет продукции быть прочной, долговечной и иметь безупречное качество.

                li.prod-item__tab#prod-item__tab-1
                  .article
                    p Воздушный шар из 100% натурального латекса без искусственных добавок.

                li.prod-item__tab#prod-item__tab-2
                  .article
                    p Воздушный шар из 100% натурального латекса без искусственных добавок.
                    p Специально разработанная формула производста Sempertex® обеспечивает высочайшее качество продукции.




  // /.scr_prod-item
