mixin scr_discount()
  section.scr_discount.discount(id="scr_discount")
    .container
      .contacts__cont
        .page-top.page-top--second
          .page-top__menu
            button(type="button") все категории товаров
            ul
              li

          .page-top__search
            .form.form--search
              form.wpcf7-form
                .search-wrap
                  .text-input
                    input(type='search', placeholder='Поиск по каталогу')
                  button(type='submit')
                    svg.icon
                      use(xlink:href='img/svg/sprite.svg#icon-search')

          .page-top__total
            a.page-top__cart.open-modal(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-cart")

              .page-top__cart-sum 0

            .page-top__sum Итого:
              strong  250 Р

        .discount__wrap
          h1.title--second Скидки

          .discount__desc
            p В нашем интернет-магазине указаны розничные и базовые оптовые цены

          .deliver__discl
            p
              strong Компания «Шародеи» предоставляет Вам следующие скидки:

          h2.discount__title Скидка на «Разовую закупку»

          .discount__table
            .discount__table-title
              p
                strong Скидка на продукцию

            .discount__table-wrap
              table
                tr
                  td Сумма, руб.
                  td 5000
                  td 7500
                  td 9000
                  td 12000
                  td 15000
                  td 20000
                  td 25000
                  td 30000
                  td 40000
                  td 50000
                  td 60000
                  td 80000
                  td 90000
                  td 100000
                  td 110000
                  td 120000
                  td 130000
                tr
                  td Скидка, %
                  td 3%
                  td 5%
                  td 6%
                  td 7%
                  td 8%
                  td 9%
                  td 10%
                  td 11%
                  td 13%
                  td 15%
                  td 16%
                  td 17%
                  td 18%
                  td 19%
                  td 20%
                  td 21%
                  td 22%
                tr
                  td
                    div Скидка на АА
                  td
                    div 6%
                  td
                    div 8%
                  td
                    div 9%
                  td
                    div 10%
                  td
                    div 11%
                  td
                    div 12%
                  td
                    div 13%
                  td
                    div 14%
                  td
                    div 16%
                  td
                    div 18%
                  td
                    div 19%
                  td
                    div 20%
                  td
                    div 21%
                  td
                    div 22%
                  td
                    div 23%
                  td
                    div 24%
                  td
                    div 25%


          .discount__text
            p Разовая закупка – это закупка со 100% оплатой. Такая закупка также засчитывается в квартальную накопительную скидку
              br
              |  * Дополнительная скидка, + к Вашей основной скидке на ассортимент с артикулами АА

          br

          h2.discount__title Скидка «Квартальная»

          .discount__table
            .discount__table-title
              p
                strong Накопительная скидка за квартал


            .discount__table-wrap

              table
                tr
                  td Сумма, руб.
                  td 5000
                  td 7500
                  td 9000
                  td 12000
                  td 15000
                  td 20000
                  td 25000
                  td 30000
                  td 40000
                  td 50000
                  td 60000
                  td 80000
                  td 90000
                  td 100000
                  td 110000
                  td 120000
                  td 130000
                tr
                  td Скидка на товар
                  td 3%
                  td 5%
                  td 6%
                  td 7%
                  td 8%
                  td 9%
                  td 10%
                  td 11%
                  td 13%
                  td 15%
                  td 16%
                  td 17%
                  td 18%
                  td 19%
                  td 20%
                  td 21%
                  td 22%
                tr
                  td
                    div Скидка на АА
                  td
                    div 6%
                  td
                    div 8%
                  td
                    div 9%
                  td
                    div 10%
                  td
                    div 11%
                  td
                    div 12%
                  td
                    div 13%
                  td
                    div 14%
                  td
                    div 16%
                  td
                    div 18%
                  td
                    div 19%
                  td
                    div 20%
                  td
                    div 21%
                  td
                    div 22%
                  td
                    div 23%
                  td
                    div 24%
                  td
                    div 25%
                tr
                  td Скидка на гелий
                  td 3%
                  td 5%
                  td 6%
                  td 7%
                  td 8%
                  td 9%
                  td 10%
                  td 11%
                  td 13%
                  td 15%
                  td 16%
                  td 17%
                  td 18%
                  td 19%
                  td 20%
                  td 21%
                  td 22%


          .discount__add
            .discount__add-col
              h3 Оптовая цена действует:
              ul
                li От закупки на 1000 руб.
                li При наличии статуса “Оптовый Клиент”

            .discount__add-col
              h3 Статус оптового клиента можно получить:
              ul
                li При разовой закупке товара от 3000 руб.
                li При общей закупке в течение квартала от 5000 руб.

          .discount__bottom
            p расчет скидок на следующий  квартал  будет производиться по итогам покупок в предыдущем квартале 2020 года согласно данной таблице. в сумму покупки товара не входит газ гелий, а также баллоная тара и доставка.



  // /.scr_discount
