mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .container
      .insta__df
        .insta__info
          h2.title Шародеи
            br
            |  в инстаграм

          a.insta__hash(href="#") #шародей


        .insta__slider-wrap
          .insta__slider#insta__slider
            .swiper-wrapper
              .swiper-slide.insta__slide.insta__slide--big
                a.insta__item.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                  noscript
                    img.lazy(src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .swiper-slide.insta__slide.insta__slide--two
                a.insta__item.fancybox(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                  noscript
                    img.lazy(src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.insta__item.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                  noscript
                    img.lazy(src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)


              .swiper-slide.insta__slide.insta__slide--two
                a.insta__item.fancybox(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                  noscript
                    img.lazy(src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.insta__item.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                  noscript
                    img.lazy(src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)


              .swiper-slide.insta__slide.insta__slide--two
                a.insta__item.fancybox(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                  noscript
                    img.lazy(src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.insta__item.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                  noscript
                    img.lazy(src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)


          .insta__slider-btns
            .swiper-dots

  // /.scr_insta
