mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      .contacts__cont
        .page-top.page-top--second
          .page-top__menu
            button(type="button") все категории товаров
            ul
              li

          .page-top__search
            .form.form--search
              form.wpcf7-form
                .search-wrap
                  .text-input
                    input(type='search', placeholder='Поиск по каталогу')
                  button(type='submit')
                    svg.icon
                      use(xlink:href='img/svg/sprite.svg#icon-search')

          .page-top__total
            a.page-top__cart.open-modal(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-cart")

              .page-top__cart-sum 0

            .page-top__sum Итого:
              strong  250 Р

        .post__wrap
          +breadcrumbs--post

          .post__top
            h1.post__title Воздушные шары
              br
              |  на День рождения мальчику

            time(datetime="2020-05-20") 20 мая 2020

            .post__bg
              noscript
                img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .article
            h2 Выбираем шары на День рождения мальчику
            p Воздушные шары на День рождения мальчику могут быть разноцветными, любо можно выдержать цветовую гамму в холодных мужских цветах: голубом, синем, зеленом и серебряном. Но можно также использовать такие универсальные цвета как серебристый и золото. Но это только когда вы планируете, так называемое, классическое (не тематическое) украшение праздника. Тематическое же оформление предполагает обыгрывание темы взятой из любимого ребенком фильма или мультика. Лучше всего когда эта тема красной нитью проходит сквозь весь праздник. Эту тему могут обыгрывать аниматоры, она может присутствовать и в праздничном торте. Не и , конечно, ей стоит подчинить в таком случае и оформление дня рождения мальчика шарами, взяв из нее и цветовую гамму тоже. Например, если вашему ребенку интересна морская тематика, то можно использовать синий, белый и голубой цвета. Он недавно прочитал Остров сокровищ и мечтает стать пиратом? Тогда украсьте его комнату шарами с веселым Роджером, якорями и пиратскими бригантинами. В Черно- золотой цветовой гамме. В любом случае лучше отталкиваться от вкусов вашего ребенка, который лучше всего знаете только вы. Ну а мы подскажем вам как лучше подобрать шарики в выбранной вами тематике.

            blockquote
              div
                p
                  strong Оформить комнату воздушными шарами на День рождения мальчику можно недорого и классно, если придерживаться нашим простым советам:
                  br
                  |  выберите одного из любимых персонажей вашего сына или тем, и обыграйте их. Это могут быть Пираты, Щенячий патруль, Спортивная или Футбольная темы. Затем украсьте комнату именинника придерживаясь выбранной цветовой гаммы и тематики. Если все сделать правильно, вы получите красивое, стильное украшение, которое обязательно понравится вашему сыну и его гостям.

            .post__also
              span.post__also-read
                i
                |  Читайте также

              ul.post__also-links
                li
                  a(href="#") Оформление шариками комнаты на День рождения мальчика
                li
                  a(href="#") Украшение шарами зала ресторана на День рождения мальчика
                li
                  a(href="#") Заказ шариков ко Дню рождения мальчику


            h2 Шары на День рождения мальчику 1 год

            p Шары на День рождения мальчику в 1 год лучше брать яркие, красочные, а оформления делать совсем простые. Ребенок в таком возрасте не слишком вникает в детали, но хорошо воспринимает картину в целом и яркие шарики доставят ему удовольствие.

            ol
              li Наиболее хитовые композиции из шаров на День рождения мальчику сейчас это:
                br
                |  Фонтаны и букеты из гелиевых шаров с цифрами
                br
                |  Тематические фонтаны и букеты из гелиевых шариков с любимыми детскими персонажами
                br
                |  Ходячие (стоячие) фигуры такие как Человек-Паук, Бэтмен, Железный человек, Молния Макуин, грозный тираннозавр Рэкс


              li Фольгированные шары, наполненные гелием с поздравительными надписями на День рождения мальчику
                br
                |  Фольгированные гелиевые шары на День рождения мальчику в виде зверей, животных, морских обитателей, различной техники, персонажей мультфильмов, и т.д. Эти шарики мы наполняем газом гелий и они летают до недели и дольше. шары- агаты, 3D сферы и т.д.


  // /.scr_post
