mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      .prod__cont
        ul.tabs-nav
          li.current
            a(href="#prod__tab-0") Акционный товар
          li
            a(href="#prod__tab-1") Новинки
          li
            a(href="#prod__tab-2") Товар с наибольшей выгодой

        ul.prod__tabs
          li.prod__tab#prod__tab-0
            .prod__wrap
              .prod__slider#prod__slider-0-0
                .swiper-wrapper
                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Набор воздушных шаров
                            br
                            |  «Сердца красные» 5 шт. 10"
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +


                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик

                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-2.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Свинка Джорж Супер,
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик


                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Набор воздушных шаров
                            br
                            |  «Сердца красные» 5 шт. 10"
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +


                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик

                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-2.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Свинка Джорж Супер,
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик


                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Набор воздушных шаров
                            br
                            |  «Сердца красные» 5 шт. 10"
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +


                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик

                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-2.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Свинка Джорж Супер,
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                .swiper-dots
                button.swiper-button-next(type="button")


          li.prod__tab#prod__tab-1
            .prod__wrap
              .prod__slider#prod__slider-0-1
                .swiper-wrapper
                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Набор воздушных шаров
                            br
                            |  «Сердца красные» 5 шт. 10"
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +


                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик

                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-2.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Свинка Джорж Супер,
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик


                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Набор воздушных шаров
                            br
                            |  «Сердца красные» 5 шт. 10"
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +


                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик

                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Свинка Джорж Супер,
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик


                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Набор воздушных шаров
                            br
                            |  «Сердца красные» 5 шт. 10"
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +


                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик

                  .swiper-slide.prod__slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#icon-heart")

                      a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                        noscript
                          img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                      .prod__main
                        .prod__content
                          h3.prod__title Свинка Джорж Супер,
                          .prod__desc
                            p «Flexmetal» Испания

                          span.prod__article Артикул:
                            strong  1202-2809

                        .prod__table
                          .prod__table-row
                            span.prod__table-th Опт:
                            span.prod__table-td 61,05 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р
                          .prod__table-row
                            span.prod__table-th Розница:
                            span.prod__table-td 74 Р

                        .prod__bottom
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') -
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.prod__to-cart.btn(href="#")
                              span В корзину
                              svg.icon
                                use(xlink:href="img/svg/sprite.svg#icon-cart")

                        a.prod__link.open-modal(href="#") Купить в один клик


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                .swiper-dots
                button.swiper-button-next(type="button")


  // /.scr_prod

mixin scr_prod--collections()
  section.scr_prod.prod.prod--collections(id="scr_prod--collections")
    .container
      .prod__cont
        h2.title Подборки к праздникам

        ul.prod__collections
          li.current
            a(href="#") День рождения
          li
            a(href="#") Новорожденный
          li
            a(href="#") Свадьба
          li
            a(href="#") День влюбленных
          li
            a(href="#") Женский день
          li
            a(href="#") Символика России
          li
            a(href="#") День Победы
          li
            a(href="#") День знаний
          li
            a(href="#") Выпускной
          li
            a(href="#") Хэллоуин
          li
            a(href="#") Новый год

        .prod__wrap
          .prod__slider#prod__slider-1
            .swiper-wrapper
              .swiper-slide.prod__slide
                .prod__item
                  .prod__top

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Набор воздушных шаров
                        br
                        |  «Сердца красные» 5 шт. 10"
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +


                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик

              .swiper-slide.prod__slide
                .prod__item
                  .prod__top

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Свинка Джорж Супер,
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик


              .swiper-slide.prod__slide
                .prod__item
                  .prod__top

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Набор воздушных шаров
                        br
                        |  «Сердца красные» 5 шт. 10"
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +


                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик

              .swiper-slide.prod__slide
                .prod__item
                  .prod__top

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Свинка Джорж Супер,
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик


              .swiper-slide.prod__slide
                .prod__item
                  .prod__top

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Набор воздушных шаров
                        br
                        |  «Сердца красные» 5 шт. 10"
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +


                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик

              .swiper-slide.prod__slide
                .prod__item
                  .prod__top

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Свинка Джорж Супер,
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
            .swiper-dots
            button.swiper-button-next(type="button")

  // /.scr_prod


mixin scr_prod--hits()
  section.scr_prod.prod.prod--hits(id="scr_prod--hits")
    .container
      .prod__cont
        .prod__cont-top
          h2.title Хиты продаж

          .btn__wrap
            a.btn.btn--orange(href="#")
              span Смотреть все
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-arrow")


        .prod__wrap
          .prod__slider#prod__slider-2
            .swiper-wrapper
              .swiper-slide.prod__slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Набор воздушных шаров
                        br
                        |  «Сердца красные» 5 шт. 10"
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +


                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик

              .swiper-slide.prod__slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Свинка Джорж Супер,
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик


              .swiper-slide.prod__slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Набор воздушных шаров
                        br
                        |  «Сердца красные» 5 шт. 10"
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +


                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик

              .swiper-slide.prod__slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Свинка Джорж Супер,
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик


              .swiper-slide.prod__slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Набор воздушных шаров
                        br
                        |  «Сердца красные» 5 шт. 10"
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +


                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик

              .swiper-slide.prod__slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-heart")

                  a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                    noscript
                      img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .prod__main
                    .prod__content
                      h3.prod__title Свинка Джорж Супер,
                      .prod__desc
                        p «Flexmetal» Испания

                      span.prod__article Артикул:
                        strong  1202-2809

                    .prod__table
                      .prod__table-row
                        span.prod__table-th Опт:
                        span.prod__table-td 61,05 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р
                      .prod__table-row
                        span.prod__table-th Розница:
                        span.prod__table-td 74 Р

                    .prod__bottom
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') -
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.prod__to-cart.btn(href="#")
                          span В корзину
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#icon-cart")

                    a.prod__link.open-modal(href="#") Купить в один клик


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
            .swiper-dots
            button.swiper-button-next(type="button")

    // /.scr_prod
