mixin scr_landing-price()
  section.scr_landing-price.landing-price(id="scr_landing-price")
    .container
      .landing-price__cont
        .landing-price__wrap.contacts__wrap
          h2.title--second Прайс на наши шары

          .landing-price__df
            .landing-price__table
              table
                thead
                  tr
                    td Название
                    td Цена
                    td Фото
                tbody
                  tr
                    td
                      a(href="#") Обычный шар латекс цветной 12”
                        br
                        |  (30см) воздух+ палочка
                    td 30 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Обычный шар латексцветной
                        br
                        |  12” (30см)
                    td 50 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Обычный шар латекс цветной
                        br
                        |  с надписью, рисунком 12” (30cм)
                    td 60 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Хром (30см)
                    td 100 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Хром (30см)
                    td 100 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Хром (30см)
                    td 100 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .landing-price__table
              table
                thead
                  tr
                    td Название
                    td Цена
                    td Фото
                tbody
                  tr
                    td
                      a(href="#") Обычный шар латекс цветной 12”
                        br
                        |  (30см) воздух+ палочка
                    td 30 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Обычный шар латексцветной
                        br
                        |  12” (30см)
                    td 50 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Обычный шар латекс цветной
                        br
                        |  с надписью, рисунком 12” (30cм)
                    td 60 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Хром (30см)
                    td 100 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  tr
                    td
                      a(href="#") Хром (30см)
                    td 100 Р
                    td
                      .landing-price__img
                        noscript
                          img.lazy(src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing-price/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)


          .landing-price__btns
            .btn__wrap
              button.btn.btn--orange Смотреть больше
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-arrow")


  // /.scr_landing-price
