mixin scr_deliver()
  section.scr_deliver.deliver(id="scr_deliver")
    .container
      .contacts__cont
        .page-top.page-top--second
          .page-top__menu
            button(type="button") все категории товаров
            ul
              li

          .page-top__search
            .form.form--search
              form.wpcf7-form
                .search-wrap
                  .text-input
                    input(type='search', placeholder='Поиск по каталогу')
                  button(type='submit')
                    svg.icon
                      use(xlink:href='img/svg/sprite.svg#icon-search')

          .page-top__total
            a.page-top__cart.open-modal(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-cart")

              .page-top__cart-sum 0

            .page-top__sum Итого:
              strong  250

        .deliver__wrap
          h1.title--second Оплата и доставка

          .deliver__discl
            p Наш интернет-магазин осуществляет доставку по Крыму и другим регионам России следующими способами:

          ul.deliver__list
            li
              .deliver__item.deliver__item--deliver
                h2.deliver__title Доставка по Крыму

                .article
                  ul
                    li
                      strong Курьером по Симферополю и Крыму - 100 руб.
                      br
                      |  (при предварительном заказе)

                    li
                      strong Автобусом до города – 50 руб.
                      br
                      |  (стоимость доставки до автобуса в Симферополе)

                    p
                      strong Так же Вы можете забрать заказ с нашего магазина
                        br
                        |  по адресу:
                      |  г. Симферополь, ул. Севастопольская, 31
                      br
                      |  (база мясокомбината)

            li
              .deliver__item.deliver__item--deliver
                h2.deliver__title Доставка по РФ

                .article
                  ul
                    li
                      strong Транспортной компанией за пределы Крыма – 50 руб.
                      br
                      |  (стоимость доставки до ТК; доставка ТК до Вашего города оплачивается отдельно, исходя из её тарифов)

                    li
                      strong Почтой России – 50 руб.
                      br
                      |  (стоимость доставки до отделения почты России; доставка почтой России до Вашего города оплачивается отдельно, исходя из её тарифов)

            li
              .deliver__item
                h2.deliver__title Способы оплаты:

                .article
                  ul
                    li
                      strong Наличными через кассу магазина.

                    li
                      strong Оплата на расчетный счет ИП в любом отделении банка,
                        br
                        |  либо через онлайн банк.

                    li
                      strong Через моментальный платеж на нашем сайте
                        br
                        |  с платежной карты МИР
                      br
                      |  (Данная услуга еще не подключена, ведутся работы.)

            li
              .deliver__item.deliver__item--requisites
                h2.deliver__title Реквизиты для оплаты:

                .article
                  .deliver__df
                    .deliver__col
                      p
                        strong ИП: Янковский Сергей Леонидович
                      p
                        strong ИНН: 910200338782
                      p
                        strong ОГРН: 314910234303633
                      p
                        strong КПП: 0

                    .deliver__col
                      p
                        strong в РНКБ (ОАО) г. Москва
                      p
                        strong р/с 40802810640480000969
                      p
                        strong к/с 30101810335100000607
                      p
                        strong БИК: 044525607


  // /.scr_deliver
