mixin scr_landing()
  section.scr_landing.landing(id="scr_landing")
    .container
      .contacts__cont
        .page-top.page-top--second
          .page-top__menu
            button(type="button") все категории товаров
            ul
              li

          .page-top__search
            .form.form--search
              form.wpcf7-form
                .search-wrap
                  .text-input
                    input(type='search', placeholder='Поиск по каталогу')
                  button(type='submit')
                    svg.icon
                      use(xlink:href='img/svg/sprite.svg#icon-search')

          .page-top__total
            a.page-top__cart.open-modal(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-cart")

              .page-top__cart-sum 0

            .page-top__sum Итого:
              strong  250 Р


        .landing__top
          .contacts__wrap
            .landing__top-top
              .landing__top-btns
                ul.prod__collections
                  li.current
                    a(href="#") Композиции из гелиевых шаров
                  li
                    a(href="#") Печать на шарах

              .landing__top-phone
                p Для заказа гелиевых шаров:
                  a(href="tel:89789245454" rel="nofollow")  8 978 924 54 54

            .landing__info
              .landing__img
                noscript
                  img.lazy(src="img/landing-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/landing-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .landing__content
                h1.landing__title Создаем праздничное настроение из воздуха, гелия и шариков

                .landing__desc
                  p и доставляем его по Симферополю
                    br
                    |  в день заказа

                .btn__wrap.btn__wrap--grad
                  a.btn.open-modal(href="#") Рассчитать стоимость композиции


            ul.scr1__feat
              li.scr1__feat-item
                p
                  strong Гарантируем время
                    br
                    |  полета шариков летом
                    br
                    |  от 2 дней и более
              li.scr1__feat-item
                p
                  strong Бесплатная доставка
                    br
                    |  от 1 300 р
              li.scr1__feat-item
                p
                  strong При доставке отправляем
                    br
                    |  1-2 дополнительных шара
                    br
                    |  для перестраховки
              li.scr1__feat-item
                p
                  strong Мы доставляем
                    br
                    |  в ТОЧНОЕ время

          ul.landing__types
            li
              .landing__types-text
                p
                  strong Гелиевые шары —
                  br
                  |  обязательный атрибут любого мероприятия, ведь они позволяют мгновенно создать праздничное настроение и привлечь внимание к событию. Украшение помещения гелиевыми шарами — недорогой и эффектный способ создания праздничной атмосферы на свадьбах, юбилеях, днях рождения и любых других вечеринках.

              .landing__types-img
                noscript
                  img.lazy(src="img-temp/landing/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            li
              .landing__types-img
                noscript
                  img.lazy(src="img-temp/landing/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .landing__types-text
                p
                  strong Шарики добавляют помещению легкости
                  br
                  |  а после окончания мероприятия можно провести ритуал — загадать желание и выпустить их в небо. Без них сложно представить детский день рождения, выпускной из детского сада или школы, встречу из роддома, свадьбу.


            li
              .landing__types-text
                p
                  strong Шары различных цветов и форм
                  br
                  |  сами по себе станут прекрасным сюрпризом и дополнят подарок. Собранные в разноцветное облако или причудливую тематическую композицию, они обязательно подарят Вашим близким ощущение радости и поднимут настроение.

              .landing__types-img
                noscript
                  img.lazy(src="img-temp/landing/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/landing/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)


  // /.scr_landing
