mixin scr_collections()
  section.scr_collections.collections(id="scr_collections")
    .container
      .collections__cont
        .collections__cont-top
          h2.title Подборки по темам

          .btn__wrap
            a.btn.btn--orange(href="#")
              span Смотреть все
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-arrow")


        ul.collections__list
          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.2s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Супергерои

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Босс Молокосос

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.6s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Трансформеры

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.8s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Принцессы

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Куклы

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.2s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Феи

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Единороги


  // /.scr_collections

mixin scr_collections--landing()
  section.scr_collections.collections.collections--landing(id="scr_collections")
    .container
      .collections__cont
        h2.title--second Огромный выбор гелиевых композиций по тематикам и поводу

        ul.collections__list
          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.2s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Фонтаны из шаров

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Шары под потолок

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.6s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Коробка-сюрприз

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="0.8s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Напольные композиции

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-5.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-5.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Буквы и надписи

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.2s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-6.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-6.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Букеты из шаров

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-7.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-7.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Цифры

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-8.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-8.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Большие фигуры

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-9.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-9.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Герои мультфильмов

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-10.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-10.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Ходячие фигуры

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-11.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-11.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Гиганты и сферы
                br
                |  с Вашей надписью

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-12.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-12.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Гендерные

          li.collections__wrap.wow.fadeInUp(style="visibility: hidden" data-wow-duration="0.8s" data-wow-delay="1.4s")
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/land-13.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/land-13.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h3.collections__title Светящиеся шары.


  // /.scr_collections
