mixin scr_collections()
  section.scr_collections.collections(id="scr_collections")
    .container
      .collections__cont
        .collections__cont-top
          h2.title Подборки по темам

          .btn__wrap
            a.btn.btn--orange(href="#")
              span Смотреть все
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-arrow")


        ul.collections__list
          li.collections__wrap
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Супергерои

          li.collections__wrap
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Босс Молокосос

          li.collections__wrap
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Трансформеры

          li.collections__wrap
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Принцессы

          li.collections__wrap
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Куклы

          li.collections__wrap
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Феи

          li.collections__wrap
            a.collections__item(href="#")
              .collections__img
                noscript
                  img.lazy(src="img/compilation/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/compilation/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              h2.collections__title Единороги


  // /.scr_collections
