mixin scr_landing-more()
  section.scr_landing-more.landing-more(id="scr_landing-more")
    .container
      .landing-more__df.contacts__wrap
        .landing-more__pay
          h2.title--second Оплата

          .landing-more__blue
            ul
              li Наличными при доставке
              li С помощью&nbsp;
                a(href="#") моментального платежа
                |  на сайте

                .prod-item__delivery
                  ul.prod-item__pay
                    li
                      .footer__pay-img
                        noscript
                          img.lazy(src="img-temp/pay/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/pay/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    li
                      .footer__pay-img
                        noscript
                          img.lazy(src="img-temp/pay/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/pay/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                    li
                      .footer__pay-img
                        noscript
                          img.lazy(src="img-temp/pay/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/pay/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

              li На расчетный счет


          .landing-more__desc
            p В счёт суммы для просчёта бесплатной доставки
              br
              |  входят только гелиевые шары или композиции
              br
              |  из шаров с воздухом, доп. товары не учитываются.

        .landing-more__deliver
          h2.title--second Доставка

          .landing-more__blue
            ul
              li Доставка заказа в пределах города: от 1300 руб., с 9:00 до 18:00 бесплатно.
              li Если заказ меньше 1300 руб., стоимость доставки составляет 150 руб.
              li Доставка заказа в пределах города: до 9:00 и после 18:00, стоит 150 руб.
              li Доставка заказа за черту города (Чистенькое, ГРЭС, Строгоновка): от 2450 руб., с 9:00 до 18:00 бесплатно.
              li Если заказ меньше 2450 руб., стоимость доставки составляет 250 руб.
              li Доставка заказа за черту города (Чистенькое, ГРЭС, Строгоновка): до 9:00 и после 18:00, стоит 300 руб.



  // /.scr_landing-more
