mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    .container
      .partners__wrap
        .partners__slider#partners__slider
          .swiper-wrapper
            .swiper-slide.partners__slide
              .partners__item
                .partners__bg
                  noscript
                    img.lazy(src="img-temp/partners/bg-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/bg-1.jpg" alt="" width="125" height="90" data-object-fit-cover)


                .partners__logo
                  img( src="img-temp/partners/img-1.svg" alt="" width="125" height="90")

                .partners__text
                  p
                    strong гелий
                    br
                    |  в Крыму

            .swiper-slide.partners__slide
              .partners__item
                .partners__bg
                  noscript
                    img.lazy(src="img-temp/partners/bg-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/bg-2.jpg" alt="" width="125" height="90" data-object-fit-cover)


                .partners__logo
                  img( src="img-temp/partners/img-2.png" alt="" width="125" height="90")

                .partners__text
                  p Интернет-магазин
                    br
                    strong пиротехники
                    br
                    |  в в Крыму

            .swiper-slide.partners__slide
              .partners__item
                .partners__bg
                  noscript
                    img.lazy(src="img-temp/partners/bg-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/bg-1.jpg" alt="" width="125" height="90" data-object-fit-cover)


                .partners__logo
                  img( src="img-temp/partners/img-1.svg" alt="" width="125" height="90")

                .partners__text
                  p
                    strong гелий
                    br
                    |  в Крыму

            .swiper-slide.partners__slide
              .partners__item
                .partners__bg
                  noscript
                    img.lazy(src="img-temp/partners/bg-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/bg-2.jpg" alt="" width="125" height="90" data-object-fit-cover)


                .partners__logo
                  img( src="img-temp/partners/img-2.png" alt="" width="125" height="90")

                .partners__text
                  p Интернет-магазин
                    br
                    strong пиротехники
                    br
                    |  в в Крыму


        .partners__btns.swiper-btns
          button.swiper-button-prev(type="button")
          .swiper-dots
          button.swiper-button-next(type="button")


  // /.scr_partners
