mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      .reviews__cont
        .page-top.page-top--second
          .page-top__menu
            button(type="button") все категории товаров
            ul
              li

          .page-top__search
            .form.form--search
              form.wpcf7-form
                .search-wrap
                  .text-input
                    input(type='search', placeholder='Поиск по каталогу')
                  button(type='submit')
                    svg.icon
                      use(xlink:href='img/svg/sprite.svg#icon-search')

          .page-top__total
            a.page-top__cart.open-modal(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-cart")

              .page-top__cart-sum 0

            .page-top__sum Итого:
              strong  250 Р


        .reviews__wrap
          h1.title--second Отзывы

          .reviews__df
            .reviews__main
              ul.reviews__list
                li
                  .reviews__item
                    h2.reviews__title Катя Фаерворкс
                    p.reviews__desc г. Симферополь
                    .article
                      p Заказываем шарики на День рождения ребенка уже седьмой год подряд. Всегда качественное обслуживание. Рекомендую этот магазин. Прежде всего, укрепление и развитие внутренней структуры создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.

                li
                  .reviews__item
                    h2.reviews__title Катя Фаерворкс
                    p.reviews__desc г. Симферополь
                    .article
                      p Заказываем шарики на День рождения ребенка уже седьмой год подряд. Всегда качественное обслуживание. Рекомендую этот магазин. Прежде всего, укрепление и развитие внутренней структуры создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.

                li
                  .reviews__item
                    h2.reviews__title Катя Фаерворкс
                    p.reviews__desc г. Симферополь
                    .article
                      p Заказываем шарики на День рождения ребенка уже седьмой год подряд. Всегда качественное обслуживание. Рекомендую этот магазин. Прежде всего, укрепление и развитие внутренней структуры создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.

                li
                  .reviews__item
                    h2.reviews__title Катя Фаерворкс
                    p.reviews__desc г. Симферополь
                    .article
                      p Заказываем шарики на День рождения ребенка уже седьмой год подряд. Всегда качественное обслуживание. Рекомендую этот магазин. Прежде всего, укрепление и развитие внутренней структуры создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.


              +paginator--reviews

            .reviews__form
              .form.form--general.form--main.wpcf7
                p.form__title Оставить отзыв

                form.wpcf7-form
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

                  .form__item
                    span.wpcf7-form-control-wrap.your-message.text-input
                      textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="Отзыв")

                  .form__item.form__item--submit
                    .btn__wrap.btn__wrap--grad
                      input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Отправить')

                  .form__item
                    span.wpcf7-form-control-wrap.accept
                      span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                        span.wpcf7-list-item
                          label
                            input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                            span.wpcf7-list-item-label Согласие на обработку персональных данных
                              i.accept__icon



  // /.scr_reviews
