mixin scr_cta()
  section.scr_cta.cta(id="scr_cta")
    .container
      .cta__df
        .cta__title
          p Хотите знать все наши новости первым?
            br
            strong  Подпишитесь на  рассылку!

        .cta__form
          .form.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--grad
                  input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Подписаться')


  // /.scr_cta
