mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      .contacts__cont
        .page-top.page-top--second
          .page-top__menu
            button(type="button") все категории товаров
            ul
              li

          .page-top__search
            .form.form--search
              form.wpcf7-form
                .search-wrap
                  .text-input
                    input(type='search', placeholder='Поиск по каталогу')
                  button(type='submit')
                    svg.icon
                      use(xlink:href='img/svg/sprite.svg#icon-search')

          .page-top__total
            a.page-top__cart.open-modal(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-cart")

              .page-top__cart-sum 0

            .page-top__sum Итого:
              strong  250


        .blog__wrap
          h1.title--second Новости и полезная информация

          ul.blog__list
            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление светодиодных гирлянд

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")


            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление светодиодных гирлянд

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")


            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление светодиодных гирлянд

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")

            li
              .blog__item
                a.blog__img(href="#")
                  noscript
                    img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .blog__content
                  time(datetime="2020-05-20") 20 мая 2020

                  a(href="#")
                    h2 Новое поступление

                .blog__btns
                  a.blog__link(href="#") Подробнее
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-arrow")


          +paginator--reviews


  // /.scr_blog
