mixin side-menu()
  .side-menu__wrap
    ul.side-menu
      li.menu-item.menu-item--decor
        a(href="#")
          noscript
            img.lazy(src="img/svg/icons/balloons2.svg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/balloons2.svg" alt="" width="125" height="90")

          .menu-item-text Композиции из гелиевых шаров и печать на шарах

      li.menu-item.menu-item--decor
        a(href="#")
          noscript
            img.lazy(src="img/svg/icons/bouquet.svg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/bouquet.svg" alt="" width="125" height="90")

          .menu-item-text Упаковка для цветов

      li.menu-item.menu-item-has-children
        a(href="#") Латексные шары
          span.open-menu
        ul.sub-menu
          li.menu-item
            a(href="#") Шары без рисунка
          li.menu-item
            a(href="#") Шары с рисунком
          li.menu-item
            a(href="#") Сердца
          li.menu-item
            a(href="#") Шары для моделирования (ШДМ)
          li.menu-item
            a(href="#") Линколуны
          li.menu-item
            a(href="#") Фигурные шары и панч-боллы
          li.menu-item
            a(href="#") Акционный товар
      li.menu-item
        a(href="#") Фольгированные шары
      li.menu-item.menu-item-has-children
        a(href="#") Сервировка стола
          span.open-menu
        ul.sub-menu
          li.menu-item
            a(href="#") Шары без рисунка
          li.menu-item
            a(href="#") Шары с рисунком
          li.menu-item
            a(href="#") Сердца
      li.menu-item
        a(href="#") Свечи для торта
      li.menu-item
        a(href="#") Товары для праздника
      li.menu-item
        a(href="#") Подарочная упаковка
      li.menu-item
        a(href="#") Карнавальная продукция
      li.menu-item
        a(href="#") Декор и аксессуары
      li.menu-item
        a(href="#") Оборудование для шаров и гелия
      li.menu-item
        a(href="#") Гелий

  // /.scr1
