mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram

  // /.socials

mixin socials--prod-item()
  section.socials.socials--prod-item(id="socials-prod-item")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-facebook
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#icon-telegram")

  // /.socials
