mixin page_catalog()
  button.catalog-close.active(type="button")
    span.catalog-close__wrap
      span.line
  a.catalog-open(href="#")
    .burger
      span.burger__wrap
        span.line

    span Каталог

  .catalog__wrap
    ul.menu
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/discount1.svg" alt="")
          span Скидки
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/kitchen.svg" alt="")
          span Кухни
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/wardrobe1.svg" alt="")
          span Шкафы-купе
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/bed.svg" alt="")
          span Кровати
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/mattress.svg" alt="")
          span Матрасы
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/bed1.svg" alt="")
          span Спальни
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/armchair.svg" alt="")
          span Гостиные
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/furniture.svg" alt="")
          span Прихожие
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/bunk-bed.svg" alt="")
          span Детские
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/sofa.svg" alt="")
          span Мягкая мебель
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/desk.svg" alt="")
          span Офисная мебель
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/closet.svg" alt="")
          span Шкафы распашные
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/chest-of-drawers.svg" alt="")
          span Комоды

  // /.page_top
