.map
  position: relative
  z-index: 2
  &__wrap
    height: 419px
    &:not(#map__wrap-0)
      display: none


  @media screen and (max-width: 767px)
    &__wrap
      height: 350px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__wrap
      height: 279px

  // max-width 500px

/* map */
