.lead
  position: relative
  padding: 24px 0 30px
  background: transparent url('../img/lead-bg.jpg') no-repeat center center
  background-size: cover
  &__inner
    position: relative
    &::before
      content: ''
      position: absolute
      top: -356px
      left: -143px
      display: block
      width: 1506px
      height: 1267px
      background: transparent url('../img/decor3.png') no-repeat center center
      background-size: contain
      z-index: -1
  &__df
    display: flex
    justify-content: space-between
  &__content
    display: flex
    padding-top: 80px
    padding-right: 20px
  &__num
    flex-shrink: 0
    width: 179px
    height: 275px
    margin-right: 20px
  &__form
    width: 390px
    max-width: 100%
  &__title
    margin-bottom: 25px
    padding-top: 12px
    font-family: 'Oranienbaum', serif
    font-size: 60px
    line-height: 1
    color: #ffffff
  &__desc
    font-size: 24px
    line-height: 1.2
    font-weight: 400
    color: #ffffff


  @media screen and (max-width: 1070px)
    &__num
      width: 129px
      height: 235px
    &__text
      padding-top: 22px
    &__title
      margin-bottom: 19px
      font-size: 50px
    &__desc
      font-size: 19px

  // max-width 1070px

  @media screen and (max-width: 991px)
    padding-bottom: 40px
    &__df
      flex-direction: column
    &__content
      justify-content: center
      padding-right: 0
      padding-top: 0
    &__form
      margin-left: auto
      margin-right: auto

  // max-width 991px

  @media screen and (max-width: 700px)
    &__title
      font-size: 42px
      br
        display: none
    &__desc
      font-size: 17px
      br
        display: none
    &__content
      margin-bottom: 20px
    &__num
      width: 119px
      height: 200px

  // max-width 700px

  @media screen and (max-width: 575px)
    &__title
      margin-bottom: 10px
      font-size: 36px
    &__desc
      font-size: 16px
    &__num
      width: 89px
      height: 170px
    &__text
      padding-top: 11px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__title
      font-size: 30px
    &__desc
      font-size: 14px
    &__num
      height: 150px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__num
      width: 59px
      height: 110px
      margin-right: 10px
    &__title
      padding-top: 0
      font-size: 27px

  // max-width 400px

/* lead */
