.nums
  position: relative
  padding-top: 58px
  padding-bottom: 47px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
  &__item
    padding-right: 15px
    text-align: center
    &:last-of-type
      padding-right: 0
  &__num
    opacity: 0
    display: block
    margin-bottom: 6px
    // margin-left: auto
    // margin-right: auto
    &-wrap
      display: flex
      justify-content: center
      text-align: center
      font-family: $font2
      font-size: 60px
      line-height: 1.2
      font-weight: 400
      color: $accent
      i
        font-style: normal
        margin-left: 3px
  &__desc
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 500


  @media screen and (max-width: 1070px)
    padding-top: 0
    &__num
      &-wrap
        font-size: 49px
    &__desc
      font-size: 16px

  // max-width 1070px

  @media screen and (max-width: 850px)
    &__num
      &-wrap
        font-size: 38px
    &__desc
      font-size: 14px

  // max-width 850px

  @media screen and (max-width: 700px)
    padding-bottom: 27px
    &__num
      &-wrap
        font-size: 29px
    &__desc
      font-size: 13px
    &__item
      padding-right: 10px

  // max-width 700px

  @media screen and (max-width: 575px)
    &__list
      flex-wrap: wrap
    &__item
      width: 50%
      margin-bottom: 15px
      &:nth-of-type(2n)
        padding-right: 0

  // max-width 575px

  @media screen and (max-width: 430px)
    &__num
      &-wrap
        font-size: 26px
    &__desc
      font-size: 12px

  // max-width 430px

/* nums */
