$b: #1da4a4
$b2: #0e6b68
$b3: #1da3a3
$g: #69b547

$accent: $b
$accent2: $g

$icon: $accent2
$body-c: #7b7c7e
$title-c: $b2
$shadow-c: $b3

$font: 'Ubuntu', sans-serif

$form-font: $font
$title-font: $font

/* Миксин замены цвета placeholder у input. Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000, 14px) */
@mixin placeholder($color,$size)
  &::-webkit-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &::-moz-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &:-ms-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font

