::selection
  background-color: $accent2
  color: #fff

*
  margin: 0
  padding: 0

html, body
  max-width: 100%
  overflow-x: hidden

body
  position: relative
  width: 100%
  height: 100%
  min-height: 320px

  font-family: $font
  font-size: 16px
  line-height: 1.5 /* 24px / 16px */
  font-weight: 400
  color: $body-color

  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

  &.disabled
    overflow: hidden
    max-height: 100vh

.page_top
  &.margined
    padding-top: 124px
.overlay
  position: absolute
  top: 0
  left: 0

  width: 100%
  height: 100%
  z-index: 500
  background-color: rgba(#000, 0.3)
  display: none
  &.active
    display: block

.bg-grey
  background-color: #f5f5f5

.page_wr
  flex-grow: 1

img
  width: 100%
  height: auto
  border: none

[data-object-fit-cover]
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color

.blur-it
  filter: blur(4px)

.accent
  color: $accent

.blue
  color: $accent2

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  p
    margin-bottom: 28px
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      text-decoration: underline

  img
    width: auto
    max-width: 70%
    margin-left: auto
    margin-right: auto
    height: auto
    display: block
    &.alignleft
      float: left
      margin: 0 30px 30px 0
      max-width: 50%
    &.alignright
      float: right
      margin: 0 0 30px 30px
      max-width: 50%
    &.aligncenter
      margin: 0 auto
  ul,
  ol
    padding-bottom: 1.5em
    padding-left: 0
    padding-right: 1.5em
  ul li,
  ol li
    transform: translateX(1.5em)
    margin-bottom: 26px
    &:last-of-type
      margin-bottom: 0

  ul
    list-style: none
    li
      position: relative
      &::before
        content: ''
        position: absolute
        top: 7px
        left: -22px

        width: 7px
        height: 7px
        background-color: $accent3
        border-radius: 50%
      &.with-children
        margin-bottom: 0
        &::before
          content: none
    ul
      padding-left: 25px
      li
        margin-bottom: 0
        &::before
          background-color: $accent

  h2,h3,h4
    color: #333333
    line-height: 1.2
    font-weight: 500
  h2
    margin-top: 32px
    margin-bottom: 24px
    font-size: 24px
  h3
    margin-top: 30px
    margin-bottom: 20px
    font-size: 20px
  h4
    margin-top: 20px
    margin-bottom: 15px
    font-size: 18px

  blockquote
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: 50px
    padding-left: 14px
    font-weight: 500
    font-style: italic
    &::before
      content: ""
      position: absolute
      top: 0
      left: -3px

      display: block
      width: 3px
      height: 100%
      background-color: #4267b2
    p
      &:last-of-type
        margin-bottom: 0

.clearfix
  &::after
    display: table
    clear: both
    content: ""

.title
  font-size: 30px
  line-height: 1.2
  font-weight: 400
  color: #333333

.icon
  max-width: 100%
  max-height: 100%
  fill: $icon
  transition: 0.5s

.link
  transition: 0.3s

.btn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  cursor: pointer
  text-decoration: none
  transition: 0.5s
  -webkit-appearance: none


input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.btn
  &--circle
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 21px
    height: 21px
    background-color: $accent2
    border-radius: 50%
    .fa
      display: block
      font-size: 14px
      color: #fff
  &--primary
    padding: 12px 17px 11px
    display: inline-block
    border: 1.0px solid #00a6e4
    border-radius: 21.5px
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.03em
    color: #2095f3
    transform: perspective(1px) translateZ(0)
    overflow: hidden
    transition: 0.3s 0.1s
    &::before
      content: ""
      position: absolute
      z-index: -1
      top: -2px
      left: 0
      right: 0
      bottom: -2px
      background: #2095f3
      transform-origin: 50%
      transform: scaleX(0)
      transition: 0.4s ease-out
    &:hover
      color: #fff
      &::before
        transform: scaleX(2)
  &--circle2
    display: flex
    align-items: center
    justify-content: center
    width: 46px
    height: 46px
    background-color: #21c352
    border-radius: 50%
    transition: 0.3s
    .icon
      display: block
      width: 19px
      height: 18px
      margin-left: -2px
      fill: #ffffff
    &:hover
      transform: translateY(-5px)
      box-shadow: 0 10px 10px -5px rgba(darken($accent,20%), 0.4)

input[type="submit"].btn--green,
.btn--green
  display: inline-block
  padding: 13px 35px
  background-color: #21c352
  border-radius: 31.0px
  font-size: 14px
  line-height: 1.285714285714286 /* 18 / 14 */
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 0.03em
  color: #ffffff
  text-align: center
  border: 1px solid $accent
  &:hover
    background-color: #fff
    color: $accent

input[type="submit"].btn--blue,
.btn--blue
  display: inline-block
  padding: 13px 35px
  background-color: #00a6e4
  border-radius: 21.5px
  font-size: 14px
  line-height: 1.2
  letter-spacing: 0.03em
  color: #ffffff
  text-align: center
  border: 1px solid #00a6e4
  &:hover
    background-color: #fff
    color: #00a6e4

.burger
  flex-shrink: 0
  position: relative
  background: none
  outline: none
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  width: 30px
  height: 30px
  &__wrap
    position: relative
    transition: 0.3s

    z-index: 100
    display: block

  &.active
    .burger__wrap
      .line
        transform: translate(-50%,-50%) rotate(45deg)
        &:before,
        &:after
          transform: translateX(0) rotate(-90deg)

  .line
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    &,
    &::after,
    &::before
      position: absolute
      display: block
      width: 22px
      height: 3px
      background-color: #2095f3
      transition: 0.2s ease-in-out

    &::after,
    &::before
      content: ''
      left: 0
    &::before
      transform: translateY(-6px)
    &::after
      transform: translateY(6px)

/* Переопределение стилей yandex map */
[class$='-controls-pane']
  display: none

/* Переопределение стилей slick */
.slick-slide
  -webkit-backface-visibility: hidden
  outline: none

.slick-arrow
  background: none
  border: none
  outline: none

  position: absolute
  top: calc(50% - 20px)
  z-index: 100
  cursor: pointer
  font-size: 0
  transition: 0.3s

  display: block
  box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.25)
  width: 40px
  height: 40px
  background-color: #ffffff
  border-radius: 50%
  &::before
    content: ''
    position: absolute
    top: calc(50% - 4px)
    left: calc(50% - 4px)

    display: block
    width: 8px
    height: 8px
    border-bottom: 2px solid #999999
    border-left: 2px solid #999999
  &:hover
    transform: scale(1.05)
    box-shadow: 0px 7px 25px 0px rgba(0,0,0,0.25)

.slick-prev
  left: -3px
  &::before
    transform: rotate(45deg)

.slick-next
  right: -3px
  &::before
    transform: rotate(-135deg)

.slick-dots
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  font-size: 0
  button
    position: relative
    background: none
    border: none
    outline: none

    display: block

.slider1
  position: relative
  .slick-dots
    li
      margin-right: 22px
      &:last-of-type
        margin-right: 0
      button
        width: 10px
        height: 10px
        background-color: $accent2
        border-radius: 50%
        transition: 0.3s

      &.slick-active
        button
          background-color: $accent

      &:not(.slick-active)
        button
          cursor: pointer

.to-top
  position: fixed
  right: 15px
  bottom: 150px
  z-index: 100
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  padding-bottom: 5px
  border-radius: 50%
  background: $accent3
  cursor: pointer
  transition: 0.5s
  opacity: 0.8
  z-index: 50
  transform: scale(0)
  .fa
    color: #fff
    transition: 0.5s
    font-size: 20px
    font-weight: 800
  &.fixed
    transform: scale(1)
  &:hover
    opacity: 1

/* Переопределение nice-select */
.nice-select
  float: none
  width: 241px
  height: 34px
  padding-left: 14px
  display: flex
  align-items: center
  background-color: #ffffff
  border: 1.0px solid #cccccc
  border-radius: 3.0px

  font-size: 13px
  line-height: 1.2
  letter-spacing: 0.03em
  color: #666666

  transition: .3s
  .option[data-value=""]
    font-size: 14px
    color: #666666
    opacity: 0.7

  .list
    width: 100%
    z-index: 100
    max-height: 0
    left: auto
    right: 0

  &:focus
    border-color: $accent2

  .list
    box-shadow: 0 0 10px rgba($accent2,0.4)

  &::after
    width: 6px
    height: 6px
    border-color: #999999

  .current
    display: block
    overflow: hidden
    color: #666
    font-size: 14px
    &.active
      color: $accent
      font-size: 16px

  &.open
    .list
      width: auto
      max-width: 320px
      max-height: 10000px

/* Переопределение bootstrap */
@media (min-width: 1200px)
  .container
    max-width: 1170px

/* media */
@media screen and (max-width: 1200px)
  .container
    max-width: 100%

// max-width 1200px

@media screen and (max-width: 1070px)
  .nice-select
    width: 200px

// max-width 1070px

@media screen and (max-width: 992px)
  .article
    p
      margin-bottom: 15px
      font-size: 14px
    img
      max-width: 80%
      &.alignleft
        margin: 0 20px 20px 0
      &.alignright
        margin: 0 0 20px 20px

    h2
      margin-top: 25px
      margin-bottom: 20px
      font-size: 20px
    h3
      margin-top: 20px
      margin-bottom: 10px
      font-size: 18px
    h4
      margin-top: 15px
      margin-bottom: 10px
      font-size: 16px

    blockquote
      margin-bottom: 20px
      padding-left: 14px

    ul
      li
        margin-bottom: 16px
        font-size: 14px
        line-height: 1.4

// max-width 992px

@media screen and (max-width: 800px)
  .page_top
    &.margined
      padding-top: 153px

// max-width 800px

@media screen and (max-width: 768px)
  .title
    font-size: 27px

// max-width 768px

@media screen and (max-width: 576px)
  .article
    p
      margin-bottom: 12px
    img
      max-width: 100%
      &.alignleft
        margin-right: auto
        margin-left: auto
        max-width: 100%
      &.alignright
        margin-right: auto
        margin-left: auto
        max-width: 100%

    h2
      margin-top: 15px
      margin-bottom: 10px
      font-size: 18px
    h3
      margin-top: 15px
      margin-bottom: 8px
      font-size: 14px
    h3
      margin-top: 13px
      margin-bottom: 7px
      font-size: 13px
    blockquote
      margin-bottom: 15px
      padding-left: 14px

  .title
    font-size: 18px
    font-weight: 500
  .page_top
    &.margined
      padding-top: 130px

// max-width 576px

@media screen and (max-width: 400px)
  .slider1
    .slick-dots
      li
        margin-right: 4px
        button
          width: 4px
          height: 4px
  .article
    p
      font-size: 13px
      margin-bottom: 10px

// max-width 400px
