mixin breadcrumbs()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Каталог
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Полив сада
        meta(itemprop='position', content='3')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Соединители
        meta(itemprop='position', content='4')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Коннектор - стоп ERGO™ 3/8"
        meta(itemprop='position', content='3')

  // /.breadcrumbs
