mixin footer(logotype)
  footer.footer.grey-bg(id="footer")
    .container
      .footer__df
        .footer__col
          .logo__wrap
            if logotype == "a"
              #{logotype}.logo(href="index.html")
                noscript
                  img.lazy(src="img/logo.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/logo.jpg" alt="" width="125" height="90")

            else
              #{logotype}.logo
                noscript
                  img.lazy(src="img/logo.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/logo.jpg" alt="" width="125" height="90")

          .logo__text
            p Официальный представитель Cellfast и&nbsp;эксклюзивный поставщик инструментов для&nbsp;сада в ЮФО, СКФО и Крыму

          .footer__menu
            h4 Информация

            ul.menu
              li.menu-item
                a(href="#") О нас
              li.menu-item
                a(href="#") Производство
              li.menu-item
                a(href="#") Гарантии и возврат
              li.menu-item
                a(href="#") Оплата и доставка
              li.menu-item
                a(href="#") Вопрос-ответ
              li.menu-item
                a(href="#") Новости
              li.menu-item
                a(href="#") Контакты
              li.menu-item
                a(href="#") Политика конфидициальности

          .footer__socials
            p Соц сети:
            +socials


        .footer__col
          .footer__menu
            h4 каталог

            .footer__menu-catalog
              h5 полив сада

              ul.menu
                li.menu-item
                  a(href="#") Садовые шланги
                li.menu-item
                  a(href="#") Ручные оросители
                li.menu-item
                  a(href="#") Статические оросители
                li.menu-item
                  a(href="#") Коннектора и распредители
                li.menu-item
                  a(href="#") Поливочные ороситель
                    br
                    |  с длинной рукояткой
                li.menu-item
                  a(href="#") Cоединители
                li.menu-item
                  a(href="#") Тележки и катушки

            .footer__menu-catalog
              h5 Другие продукты

              ul.menu
                li.menu-item
                  a(href="#") Технические шланги
                li.menu-item
                  a(href="#") Экспозиции и стенды
                    br
                    |  Новые поступления
                li.menu-item
                  a(href="#") Водосточная Система BRYZA
                li.menu-item
                  a(href="#") Софит BRYZA

        .footer__col
          .footer__menu-catalog
            h5 инструменты и садовые принадлежности

            ul.menu
              li.menu-item
                a(href="#") Топоры
              li.menu-item
                a(href="#") Большой садовый инвентарь
              li.menu-item
                a(href="#") Маленькие садовые инструменты
              li.menu-item
                a(href="#") Секаторы и ножницы
              li.menu-item
                a(href="#") Пилы и полотна
              li.menu-item
                a(href="#") Инструменты для вскапывания
              li.menu-item
                a(href="#") Бордюры и oгородные палисады
              li.menu-item
                a(href="#") Аксессуары
              li.menu-item
                a(href="#") Лески для тримеров
              li.menu-item
                a(href="#") Грабли
              li.menu-item
                a(href="#") Сеялки

        .footer__col
          .footer__item
            a.footer__phone(href="tel:+78001234567" rel="nofollow") +7 (800) 123 45 67
          .footer__item
            .footer__address г. Краснодар, ул. Российская, 315/1, оф 22
              br
              br
              |  режим работы: Пн - Сб 8.00 - 17.00
              br
              br
              a(href="mailto:aquadrim@yandex.ru" rel="nofollow") aquadrim@yandex.ru

          .footer__map#footer__map



      // /.footer__df
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2020&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

