mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        ul.scr1__menu
          li
            a(href="#")
              .scr1__menu-img
                noscript
                  img.lazy(src="img/scr1-feat-1.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-feat-1.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h2.scr1__menu-title полив сада

          li
            a(href="#")
              .scr1__menu-img
                noscript
                  img.lazy(src="img/scr1-feat-2.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-feat-2.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h2.scr1__menu-title инструменты и садовые
                br
                |  принадлежности

          li
            a(href="#")
              .scr1__menu-img
                noscript
                  img.lazy(src="img/scr1-feat-3.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-feat-3.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h2.scr1__menu-title другие продукты

        .scr1__content
          h1.scr1__title Поставляем качественные и высокопрочные
            br
            strong  инструменты для сада
            br
            |  уже более 5 лет

          ul
            li гипермаркетам
            li розничным магазинам
            li садоводам-любителям
            li ландшафтным студиям

          .scr1__btns
            .btn__wrap
              a.btn.btn--blue.open-modal(href="#") Получить специальные условия для бизнеса
            .btn__wrap
              a.btn.btn--transparent(href="#") Смотреть каталог

          .scr1__bg
            noscript
              img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)


      ul.scr1__feat
        li
          .scr1__feat-item
            .scr1__feat-text
              p CELLFAST производит садовые инструменты на 3 заводах
                br
                |  в Польше более 26 лет

            a.link(href="#") О производстве

        li
          .scr1__feat-item
            .scr1__feat-text
              p Качество реализуемой продукции под-тверждено  сертификатами и гарантией до 25 лет на некоторые продукты

            a.link(href="#") Смотреть сертификаты

        li
          .scr1__feat-item
            .scr1__feat-text
              p В шоуруме в Симферополе вы можете купить до 1 500 товаров, оплачивая наличными, на карту или р/счет

            a.link(href="#") Где мы находимся?

        li
          .scr1__feat-item
            .scr1__feat-text
              p Дистрибьюторы: Новацентр, Новацентр1, Новацентр2

            a.link(href="#") Где мы находимся?


  // /.scr1
