mixin scr_prod-item()
  section.scr_prod-item.prod-item(id="scr_prod-item")
    .container
      +breadcrumbs

      .prod-item__df
        ul.prod-item__menu
          li.current
            a(href="#") полив сада
            ul.prod-item__sub-menu
              li
                a(href="#") Садовые шланги
              li
                a(href="#") Ручные оросители
              li
                a(href="#") Статические оросители
              li
                a(href="#") Коннектора и распределители
              li
                a(href="#") Поливочные оросители с длинной рукояткой
              li.current
                a(href="#") Соединители
              li
                a(href="#") Тележки и катушки

          li
            a(href="#") инструменты и садовые принадлежности
            ul.prod-item__sub-menu
              li
                a(href="#") Садовые шланги
              li
                a(href="#") Ручные оросители
              li
                a(href="#") Статические оросители
              li
                a(href="#") Коннектора и распределители

          li
            a(href="#") другие продукты

        .prod-item__content
          h1.prod-item__title Коннектор - стоп ERGO™ 3/8"

          .prod-item__content-df
            .prod-item__pics
              .prod-item__gallery#prod-item__gallery
                .swiper-wrapper
                  .swiper-slide
                    a.prod-item__gallery-item.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="prod-item")
                      noscript
                        img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .swiper-slide
                    a.prod-item__gallery-item.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="prod-item")
                      noscript
                        img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .swiper-slide
                    a.prod-item__gallery-item.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="prod-item")
                      noscript
                        img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)


            .prod-item__content-right
              .prod-item__content-wrap
                .prod-item__info
                  .prod-item__text
                    p
                      b Код продукта:
                      |  53-121
                    p
                      b Артикул:
                      |  АА000000
                    p
                      b Диаметр:
                      |  3/8 (9мм)
                    p
                      b Максимальное давление:
                      br
                      |  6 бар
                    p
                      b Материалы:
                      br
                      |  PC/ABS, нержавеющая сталь

                  .prod-item__info-bottom
                    .prod-item__phone Связаться:
                      a(href="tel:+79780000000" rel="nofollow")  +7 (978) 000 00 00

                    p Склад в Краснодаре 9.00 до 20.00


                .prod-item__deliver
                  .prod-item__deliver-item
                    h3 Доставка:
                    ul
                      li Самовывоз со склада в&nbsp;Краснодаре
                      li Доставка по РФ:
                      li ТК, почтой
                  .prod-item__deliver-item
                    h3 Оплата:
                    ul
                      li Наличными
                      li Картой
                      li На Р/С

          .prod-item__content-df.prod-item__content-df--bottom
            .prod-item__pics
              .prod-item__gallery-tabs#prod-item__gallery-tabs
                .swiper-wrapper
                  .swiper-slide
                    .prod-item__gallery-tabs-item
                      noscript
                        img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .swiper-slide
                    .prod-item__gallery-tabs-item
                      noscript
                        img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  .swiper-slide
                    .prod-item__gallery-tabs-item
                      noscript
                        img.lazy(src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-item-img.jpg" alt="" width="125" height="90" data-object-fit-contain)


            .prod-item__content-right
              .prod-item__bottom
                .prod-item__bottom-left
                  .prod-item__prices
                    span.prod-item__price-old 180 Р
                    span.prod-item__price-new 150 Р

                  .prod-item__quantity
                    .quantity
                      button.quantity-arrow.quantity-arrow-minus(type='button')
                      input.quantity-num(type='number', value='1')
                      button.quantity-arrow.quantity-arrow-plus(type='button')

                .prod-item__bottom-right
                  .btn__wrap
                    a.btn.btn--blue.btn--dark(href="#") Купить


          .prod-item__tabs
            ul.prod-item__nav
              li.current
                a(href="#prod-item__item-0") Описание
              li
                a(href="#prod-item__item-1") Условия возврата
              li
                a(href="#prod-item__item-2") Отзывы

            ul.prod-item__items
              li.prod-item__item#prod-item__item-0
                .prod-item__deliver-item
                  h3 Коннектор - стоп ERGO™ 3/8"
                  ul
                    li внутренний механизм аква-стоп позволяет заменить ороситель или перекрыть воду без необходимости закрытия крана на входе шланга
                    li удлиненный механизм зажима даeт возможность плотно присоединить к шлангу
                    li система SAFETOUCH™ обеспечивает надежную хватку и удобное использование, а также защищает от случайных повреждений
                    li элементы зажимного механизма сделаны из нержавеющей стали
                    li материал PC/ABS
                    li три зажима



  // /.scr_prod-item
