mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h2.page-title Новости и специальные предложения

      ul.blog__list
        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 успех на выставке
                  br
                  |  в кельне

              p Во вторник закончилась выставка spoga+gafa в Кельне. Уже много лет она является крупнейшим ...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast - презентация маятникого оросителя TURBO IDEAL LINE™

              p Во вторник закончилась выставка spoga+gafa в Кельне. Уже много лет она является крупнейшим ...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast

              p Комплект водяной завесы можно прикрепить к крыше, тенту, зонтику или перголе сопла распыляют

  // /.scr_blog

mixin scr_blog--page()
  section.scr_blog.blog.blog--page(id="scr_blog")
    .container
      ul.blog__list
        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 успех на выставке
                  br
                  |  в кельне

              p Во вторник закончилась выставка spoga+gafa в Кельне. Уже много лет она является крупнейшим ...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast - презентация маятникого оросителя TURBO IDEAL LINE™

              p Во вторник закончилась выставка spoga+gafa в Кельне. Уже много лет она является крупнейшим ...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast

              p Комплект водяной завесы можно прикрепить к крыше, тенту, зонтику или перголе сопла распыляют

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast - презентация маятникого оросителя TURBO IDEAL LINE™

              p Во вторник закончилась выставка spoga+gafa в Кельне. Уже много лет она является крупнейшим ...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast

              p Комплект водяной завесы можно прикрепить к крыше, тенту, зонтику или перголе сопла распыляют

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast

              p Комплект водяной завесы можно прикрепить к крыше, тенту, зонтику или перголе сопла распыляют

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast - презентация маятникого оросителя TURBO IDEAL LINE™

              p Во вторник закончилась выставка spoga+gafa в Кельне. Уже много лет она является крупнейшим ...

        li
          .blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-08-31") 31 августа 2020

              a(class="video fancybox" href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                h2 Cellfast

              p Комплект водяной завесы можно прикрепить к крыше, тенту, зонтику или перголе сопла распыляют


      +paginator

  // /.scr_blog
