mixin scr_feat()
  section.scr_feat.feat.grey-bg(id="scr_feat")
    .container
      h2.page-title CELLFAST  -  ведущий производитель и экспортер
        br
        |  садовых принадлежностей в Европе и по всему миру

      .feat__df
        ul.feat__list
          li
            .feat__item
              p Компания
                b  CELLFAST
                |  имеет 25-летний опыт в переработке пластмассы. В производстве садовых инструментов
                b  CELLFAST
                |  использует прочный, термостойкий и долговечный ABS пластик

          li
            .feat__item
              p Рукоятка каждого инструмента выполнена из высококачественного пластика и алюминия с использованием системы
              b  Safe Touch.
              |  Это обеспечивает легкость, надежный захват инструментов и работу без усталости долгое время

          li
            .feat__item
              p Металлические части садовых инструментов
                b  CELLFAST
                |  выполнены из высококачественной нержавеющей стали с содержанием бора. Такие инструменты служат долго при любых температурах и любой влажности

          li
            .feat__item
              p Удобство и эргономичность дизайна инструментов
                b  CELLFAST
                |  получили награды на международных выставках в 2015, 2017, 2018 годах


        a.feat__video(href="#")
          .feat__video-title
            .feat__video-button
            span Смотреть видео о компании

          noscript
            img.lazy(src="img/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)





  // /.scr_feat
