mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs--post

      .post__img
        noscript
          img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

      .post__wrap
        time(datetime="2020-09-17") 17 сентября 2020

        h1.post__title успех на выставке в кельне

        .article.clearfix
          blockquote
            p Автоматическая катушка для шланга ERGO, является настоящим хитом выставки spoga+gafa в Кельне. Это еще одно устройство, которое эстетически и эффектно организует пространство в садах. Представленная на мероприятии катушка завоевала признание гостей.

          p Во вторник закончилась выставка spoga+gafa в Кельне. Уже много лет она является крупнейшим и престижным событием в области садоводства и отдыха в мире. В мероприятии приняли участие более 2 тысяч экспонентов, которые из более 100 стран мира. Как отмечают организаторы, устоявшаяся позиция мероприятия позволяет ей постоянно развиваться. В этом году были представлены, среди прочего, использование новейших технологий в саду, тенденции в городском садоводстве и вопросы, связанные с зеленью будущего, то есть „цифровым садом”. Организаторы представили также последние тенденции, в мебельной области. В настоящее время ценится универсальный дизайн, элегантность, минимализм и использование натуральных материалов. Одновременно мебель в саду должна представлять свободу формы и дизайна. Все эти предположения на 100 процентов соответствовали стенду компании Cellfast, которые идеальным образом сочетает в себе экспозицию со стратегией маркетинга. На фоне других экспонентов пространство компании Cellfast отличается чистой, простой формой. Доминирующим элементом, привлекающим внимание выставочных гостей, является высокий стол из натурального дерева, с желобом, заполненным землей и сочно зелеными растениями. – Это хорошая среда как для деловых переговоров, так и для отдыха, – говорит Рафал Слабик, директор по продажам и маркетингу Cellfast, – благодаря продуманному и последовательному дизайну мы снова смогли создать оазис спокойствия и гармонии, в котором наши партнеры чувствовали себя хорошо", добавляет он. Высокое качество материалов, из которых изготовлен стенд, шагает в ногу с качеством материалов, используемых для производства инструментов и оборудования, используемых для работ в саду.
          br

          img.alignright(src="img-temp/post-img-1.jpg", alt="")

          p Партнеры и клиенты больше всего внимания посвятили в этом году на новинку, которой является автоматическая катушка для шланга ERGO. На этот раз в эстетичном корпусе, который устанавливается на стене, находится шланг. Это предложение для полноразмерных садов, которое идеально организует пространство. Благодаря автоматическому механизму при легком вытягивании шланг скручивается в устройство.
          br
          p Ранее с подобного компактного решения использовали пользователи небольших садов городских. С прошлого года на рынке уже доступна мобильная катушка для шланга ERGO XS, которая пользуется огромным успехом среди клиентов. Интерес к этому устройству, по отзывам клиентов сделали предложение полноразмерным втягивающим устройством очень быстро. – Внедрение оборудования для владельцев больших садов был естественным шагом, – говорит Рафал Слабик от компании Cellfast.
          br
          p Все премьеры, которые были представлены в Кельне были подробно описаны в последнем каталоге компании Cellfast, который также представлен на Выставке spoga+gafa. В предложении на 2020 год появилось много продуктов, расширяющих богатый ассортимент компании Cellfast.



  // /.scr_post
