mixin scr_prod()
  section.scr_prod.prod.grey-bg(id="scr_prod")
    .container
      .prod__top
        h2.page-title ТОП новинок 2020

        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

      .prod__slider#prod__slider
        .swiper-wrapper
          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Адаптер с внешней нарезкой
                  br
                  |  ERGO™ G1/2"

                b.prod__price 520 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-2.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Универсальный адаптер с внутренней нарезкой ERGO™

                  br
                  |  G1/2" - G3/4" - G1"

                b.prod__price 650 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-3.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Мотыга ERGO™

                  span Диаметр: 1525 мм
                    br
                    |  Вес: 0.7 кг

                b.prod__price 1350 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-4.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Совковая лопата ERGO™

                  span Диаметр: 1300 мм
                    br
                    |  Вес: 2,2 кг

                b.prod__price 2100 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-4.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Совковая лопата ERGO™

                  span Диаметр: 1300 мм
                    br
                    |  Вес: 2,2 кг

                b.prod__price 2100 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик


  // /.scr_prod

mixin scr_prod--prod-item()
  section.scr_prod.prod.prod--prod-item.grey-bg(id="scr_prod")
    .container
      .prod__top
        h2.page-title С этим товаром часто покупают

        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

      .prod__slider#prod__slider
        .swiper-wrapper
          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-1.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Адаптер с внешней нарезкой
                  br
                  |  ERGO™ G1/2"

                b.prod__price 520 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-2.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Универсальный адаптер с внутренней нарезкой ERGO™

                  br
                  |  G1/2" - G3/4" - G1"

                b.prod__price 650 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-3.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Мотыга ERGO™

                  span Диаметр: 1525 мм
                    br
                    |  Вес: 0.7 кг

                b.prod__price 1350 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-4.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Совковая лопата ERGO™

                  span Диаметр: 1300 мм
                    br
                    |  Вес: 2,2 кг

                b.prod__price 2100 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img.fancybox(href="img-temp/prod/img-4.jpg")
                span.prod__label.prod__label--hit Хит

                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h2.prod__title Совковая лопата ERGO™

                  span Диаметр: 1300 мм
                    br
                    |  Вес: 2,2 кг

                b.prod__price 2100 Р

                a.link(href="#") Подробнее

                .btn__wrap
                  a.btn.btn--blue(href="#") Купить в один клик


  // /.scr_prod
