@font-face
  font-family: 'ProximaNova'
  font-display: swap
  src: local('ProximaNova'),
  url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ProximaNova'
  font-display: swap
  src: local('ProximaNova'),
  url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
  url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/ProximaNova-RegularIt.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'ProximaNova'
  font-display: swap
  src: local('ProximaNova'),
  url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'ProximaNova'
  font-display: swap
  src: local('ProximaNova'),
  url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'ProximaNova'
  font-display: swap
  src: local('ProximaNova'),
  url('../fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
  url('../fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
  url('../fonts/ProximaNova-ExtrabldIt.ttf') format('truetype')
  font-weight: 900
  font-style: italic
