::selection
  background-color:  #ffbd09
  color: #fff

*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  max-width: 100%
  overflow-x: hidden

body
  position: relative
  width: 100%
  height: 100%

  font-family: $font
  font-size: 16px
  line-height: 1.5 /* 24px / 16px */
  font-weight: 400
  color: $body-color

  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

  &.disabled
    overflow: hidden
    max-height: 100vh

.page_wr
  flex-grow: 1
  &--second
    padding-top: 90px

img
  width: 100%
  height: auto
  border: none

[data-object-fit-cover]
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-cover-top]
  object-fit: cover
  object-position: top center
  font-family: 'object-fit: cover; object-position: top center;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color

.blur-it
  filter: blur(4px)

.accent
  color: $accent

.grey-bg
  background-color: #f5f5f4

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  p
    margin-bottom: 15px
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      text-decoration: underline

  img
    width: auto
    max-width: 100%
    height: auto
    display: block
    &.alignleft
      float: left
      margin: 0 20px 10px 0
    &.alignright
      float: right
      margin: 0 0 10px 20px
    &.aligncenter
      margin: 0 auto
  ul,
  ol
    padding-bottom: 1.5em
    padding-left: 0
    padding-right: 1.5em
  ul li,
  ol li
    transform: translateX(1.5em)

  h2,h3,h4
    line-height: 1.2
    font-weight: 500
  h2
    margin-top: 35px
    margin-bottom: 20px
    font-size: 18px
  h3
    margin-top: 25px
    margin-bottom: 15px
    font-size: 16px
  h4
    margin-top: 20px
    margin-bottom: 10px
    font-size: 14px
  p,h2,h3,h4,time
    span
      position: relative
      z-index: 1
      background-image: linear-gradient(to bottom, $accent 0%, $accent 100%)
      padding-bottom: 3px
      background-position: 0 0.5em
      background-repeat: no-repeat
    strong
      font-weight: 500
      letter-spacing: 0.05em
  big
    font-size: 20px

.clearfix
  &::after
    display: table
    clear: both
    content: ""

.title
  position: relative
  margin-top: 0
  margin-bottom: 61px
  font-size: 48px
  line-height: 1.2
  font-weight: 400
  &::after
    content: ''

    display: block
    width: 69px
    height: 2px
    margin-top: 25px
    background-color: $accent2
  &--second
    text-align: center
    font-size: 18px
    line-height: 1.2
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.05em
    color: #020000
    span
      position: relative
      z-index: 1
      background-image: linear-gradient(to bottom, $accent 0%, $accent 100%)
      padding-bottom: 3px
      background-position: 0 0.5em
      background-repeat: no-repeat

.icon
  max-width: 100%
  max-height: 100%
  fill: $icon
  transition: 0.5s

.link
  position: relative
  display: flex
  align-items: center
  font-size: 14px
  font-weight: 400
  text-decoration: underline
  color: #2c2d2d
  transition: 0.3s
  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    height: 19px
    margin-left: 11px
    background-color: $accent
    transition: 0.3s
    .icon
      display: block
      width: 16px
      height: 11px
      fill: #020000
  &:hover
    .link__icon
      padding-left: 5px

.btn__wrap
  display: inline-block

.btn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  cursor: pointer
  text-decoration: none
  transition: 0.5s ease-in-out
  -webkit-appearance: none
  display: block


input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.btn,
input[type="submit"].btn

  &--transparent
    padding: 18px 23px
    border: 1.0px solid $accent
    font-size: 14px
    line-height: 1.2
    font-weight: 500
    color: $accent
    z-index: 1
    transition: 0.7s ease-in-out
    &::before,
    &::after,
    span::before,
    span::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 0
      height: 100%
      background-color: rgba($accent, 0.5)
      transition: 0.4s
      z-index: -1
    &::after,
    span::after
      left: auto
      right: 0
    span::before,
    span::after
      transition-delay: 0.4s
    &:hover
      color: #000
      &::before,
      &::after,
      span::before,
      span::after
        width: 100%

  &--arrow
    position: relative
    padding: 17px 62px
    background-color: $accent
    font-size: 16px
    line-height: 1.125 /* 18 / 16 */
    font-weight: 500
    color: $accent2
    transition: 0.25s
    z-index: 1
    &:hover
      box-shadow: 0 0.5em 0.5em -0.4em $accent
      transform: translateY(-6px)
  &--circle
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    border: 2px solid $accent
    .fa
      color: $accent
  &--black
    background-color: #020000
    color: #ffffff

.btn__wrap
  position: relative
  &--arrow
    &::after
      content: ''
      position: absolute
      top: calc(50% - 3px)
      right: 24px
      display: block
      width: 7px
      height: 7px
      border-bottom: 2px solid $accent2
      border-left: 2px solid $accent2
      transform: rotate(-135deg)
      z-index: 2
      transition: 0.25s
  &:hover
    .btn--arrow
      box-shadow: 0 0.5em 0.5em -0.4em $accent
      transform: translateY(-0.25em)
    .btn--black
      &:hover
        box-shadow: 0 0.5em 0.5em -0.4em #020000
  &--arrow
    &:hover
      &::after
        right: 16px
        top: calc(50% - 7px)
  &--black
    &::after
      border-color: $accent

.to-top
  position: fixed
  right: 30px
  bottom: 30px
  z-index: 100
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  background: #020000
  .fa
    color: $accent
    transition: 0.5s
    font-size: 20px
    font-weight: 800
  &.fixed
    opacity: 0.9
    &:hover
      opacity: 1

.burger
  flex-shrink: 0
  position: relative
  background: none
  outline: none
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center

  width: 34px
  height: 25px
  transition: 0.3s
  &.active
    transition: all 0.3s ease-in-out 0.6s
    transform: rotate(45deg)
    .line
      &:nth-of-type(2)
        transform: scale(0)
      &:nth-of-type(1),
      &:nth-of-type(3)
        transition-delay: 0.3s
      &:nth-of-type(1)
        transform: translateY(6px)
      &:nth-of-type(3)
        transform: translateY(-6px) rotate(90deg)
        background-color: $accent
  &:hover
    .line
      &:nth-of-type(2)
        background-color: #f1f2f2
      &:nth-of-type(1),
      &:nth-of-type(3)
        background-color: $accent

  &__wrap
    position: relative
    transition: 0.3s

    z-index: 100
    display: block

  .line
    display: block
    width: 34px
    height: 3px
    margin: 3px auto
    background-color: $accent
    transition: all 0.3s ease-in-out
    &:nth-of-type(1),
    &:nth-of-type(3)
      background-color: #f1f2f2

/* Декоры */
.decor-wrap
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    left: -320px
    bottom: -117px
    background: transparent url('../img/decor-left.png') no-repeat center center
    background-size: cover
    width: 346px
    height: 232px
    z-index: -1
  &::after
    content: ''
    position: absolute
    top: -66px
    right: -158px
    background: transparent url('../img/decor-right.png') no-repeat center center
    background-size: cover
    width: 271px
    height: 254px
    z-index: -1

.decor-wrap2
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: -3px
    left: -710px
    width: 776px
    height: 550px
    background: transparent url('../img/svg/decor.svg') no-repeat center center
    background-size: contain
    z-index: -1


/* Переопределение стилей yandex map */
[class$='-controls-pane'],
[class$='-map-copyrights-promo'],
[class$='-copyrights-pane']
  display: none

[class*="-ground-pane"]
  filter: grayscale(100%) url(/img/filter-blue.svg#bluefilter)


/* Переопределение стилей swiper slider */
.swiper-button-next,
.swiper-button-prev
  background: none
  border: none
  position: static
  width: 30px
  height: 30px
  margin: 0
  outline: none

.swiper-button-next:focus,
.swiper-container-rtl .swiper-button-prev:focus
  outline: none

.swiper-button-next:after,
.swiper-button-prev:after
  content: ''
  width: 20px
  height: 14px
  background: transparent url('../img/svg/arrow.svg') no-repeat center center
  background-size: contain
.swiper-button-prev:after
  transform-origin: center
  transform: rotate(180deg)


.slider1
  .slider__btns
    display: flex
    align-items: center
    justify-content: space-between
  .swiper-button-next,
  .swiper-button-prev
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    height: 19px
    background-color: #f5f5f4
    transition: 0.3s
    &::after
      content: ''
      width: 16px
      height: 11px
      background: transparent url('../img/svg/orig/arrow.svg')
    &:hover
      background-color: $accent
  .swiper-button-prev
    &::after
      transform: rotate(0deg)
  .swiper-button-next
    &::after
      transform: rotate(180deg)
  .swiper-pagination-bullet
    width: 5px
    height: 5px
    background-color: #000000
    margin-left: 8px
    margin-right: 8px
    opacity: 1
  .swiper-pagination-bullet-active
    background-color: $accent


/* Переопределение bootstrap */
@media (min-width: 1200px)
  .container
    max-width: 1170px

/* media */
@media screen and (max-width: 1230px)
  .to-top
    right: 15px

// max-width 1230px

@media screen and (max-width: 1200px)
  .container
    max-width: 100%

// max-width 1200px

// @media screen and (max-width: 1023px)

// max-width 1023px

@media screen and (max-width: 991px)
  .title
    margin-bottom: 41px
    font-size: 39px
    &::after
      margin-top: 20px

// max-width 991px

@media screen and (max-width: 767px)
  .title--second
    font-size: 16px

// max-width 767px

@media screen and (max-width: 650px)
  .to-top
    width: 35px
    height: 35px
    .fa
      font-size: 17px

// max-width 650px

@media screen and (max-width: 575px)
  .title
    margin-bottom: 31px
    font-size: 33px
    &::after
      margin-top: 10px
  .btn--arrow,
  input[type="submit"].btn--arrow
    padding: 14px 52px
    font-size: 14px
  input[type="submit"].btn--arrow
    font-size: 16px

// max-width 575px

@media screen and (max-width: 500px)
  .burger
    width: 26px
    .line
      width: 26px

// max-width 500px

@media screen and (max-width: 400px)
  .title
    font-size: 27px

// max-width 400px
