html,body {
  overflow-x: hidden;
}

body {
  font: 100% 'Gotham Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #fff;
  color: #082244;
  font-size: 14px;
  line-height: 1.5em;
  background: #fff; 
  padding-top: 82px;
  }

.secondary-page * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
.secondary-page .yellow {
  color: #fed343; }
.secondary-page .red {
  color: #ff383f; }

.city_after_phone {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  select, textarea, input {
    font-size: 16px !important; } }

.wr {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .wr .wr {
    padding-left: 0;
    padding-right: 0; }

form .wpcf7-response-output, form .wpcf7-not-valid-tip, form div.wpcf7-mail-sent-ok {
  display: none !important; }
  form .wpcf7-not-valid:not(.wpcf7-checkbox) {
    border-color: transparent !important;
    -webkit-box-shadow: inset 0 0 0 1px #ff383f;
            box-shadow: inset 0 0 0 1px #ff383f; }
  form p {
    margin-bottom: 0;
    padding-bottom: 0; }
  form br {
    display: none; }

.ajax-loader {
  display: none !important; }

span.wpcf7-list-item {
  margin: 0; }

.justify {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto; }

.img_wr img {
  display: block;
  max-width: 100%;
  height: auto; }

form .wpcf7-form-control-wrap {
  margin-bottom: 0px;
  display: block; }
  form textarea, form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="number"] {
    height: 57px;
    line-height: 57px;
    background: none;
    border: 1px solid #ccc;
    color: #082244;
    text-indent: 17px;
    font-size: 16px;
    font-family: 'Gotham Pro', sans-serif;
    width: 100%;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 23px; }
  form input[type="submit"], form .wpcf7-submit {
    font-family: 'Gotham Pro', sans-serif;
    height: 50px;
    line-height: 50px;
    background: #ff383f;
    padding: 0 30px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    background: #fa222a;
    background: -webkit-linear-gradient(top, rgba(250, 34, 42, 1) 0%, rgba(255, 56, 63, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 34, 42, 1)), to(rgba(255, 56, 63, 1)));
    background: -o-linear-gradient(top, rgba(250, 34, 42, 1) 0%, rgba(255, 56, 63, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 34, 42, 1) 0%, rgba(255, 56, 63, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa222a', endColorstr='#ff383f',GradientType=0);
    -webkit-box-shadow: 0 5px 0 0 #891e22;
            box-shadow: 0 5px 0 0 #891e22;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out; }
    form input[type="submit"]:hover, form .wpcf7-submit:hover {
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px);
      -webkit-box-shadow: 0 3px 0 #891e22;
              box-shadow: 0 3px 0 #891e22; }
    form input[type="submit"]:focus, form .wpcf7-submit:focus {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-box-shadow: 0 0 0 #891e22;
              box-shadow: 0 0 0 #891e22; }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #082244;
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
  z-index: 110; }
  .header > .wr .menu > li {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header > .wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 82px; }
    .header > .wr > .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      transition: All 0.2s ease-in-out;
      -webkit-transition: All 0.2s ease-in-out;
      -moz-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out; }
      .header > .wr > .logo[href="/"]:hover {
        opacity: 0.7; }
    .header > .wr .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
        .header > .wr .menu > li > a {
          font-size: 16px;
          transition: All 0.2s ease-in-out;
          -webkit-transition: All 0.2s ease-in-out;
          -moz-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out; }
          .header > .wr .menu > li > a:Hover {
            color: #fed343; }
        .header > .wr .menu > li.menu-item-has-children > a {
          position: relative; }
          .header > .wr .menu > li.menu-item-has-children > a:After {
            content: "\f107";
            font-family: 'FontAwesome';
            font-size: 16px;
            color: #fed343;
            padding-left: 6px;
            position: relative;
            top: 2px; }
        .header > .wr .menu > li ul {
          display: block;
          position: absolute;
          opacity: 0;
          height: 0;
          overflow: hidden;
          left: 0;
          top: 82px;
          width: 100%;
          background: #fff;
          padding: 0;
          transition: All 0.2s ease-in-out;
          -webkit-transition: All 0.2s ease-in-out;
          -moz-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out; }
          .header > .wr .menu > li ul.hover {
            padding: 54px 0;
            height: auto;
            overflow: visible;
            z-index: 100;
            opacity: 1;
            -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }
          .header > .wr .menu > li ul .wr {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between; 
            padding-left: 15px;
            padding-right: 15px;}
            .header > .wr .menu > li ul .wr li {
              max-width: calc(20% - 60px);
              display: block; }
              .header > .wr .menu > li ul .wr li span {
                display: inline-block; }
              .header > .wr .menu > li ul .wr li .title {
                font-size: 24px;
                font-weight: 900;
                padding-bottom: 15px;
                border-bottom: 2px solid #fed343;
                margin-bottom: 24px;
                color: #082244; }
              .header > .wr .menu > li ul .wr li .sub {
                display: block;
                font-size: 14px;
                color: #666;
                padding-bottom: 29px;
                line-height: 1.3em; }
              .header > .wr .menu > li ul .wr li b {
                display: inline-block;
                line-height: 35px;
                height: 35px;
                border: 1px solid #071b36;
                border-radius: 35px;
                text-decoration: none;
                font-size: 13px;
                color: #071b36;
                padding: 0 17px;
                transition: All 0.2s ease-in-out;
                -webkit-transition: All 0.2s ease-in-out;
                -moz-transition: All 0.2s ease-in-out;
                -o-transition: All 0.2s ease-in-out; }
                .header > .wr .menu > li ul .wr li b:hover {
                  background: #fa222a;
                  color: #fff;
                  border-color: #fa222a; }
              .header > .wr .menu > li ul .wr li a {
                text-decoration: none; 
                display: block;
                cursor: pointer; }

                .header > .wr .menu > li ul .wr li a:hover b {
                  background: #fa222a;
                  color: #fff;
                  border-color: #fa222a; }
    .header > .wr .right_df {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header > .wr .right_df .left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: right; }
        .header > .wr .right_df .left a {
          font-size: 16px;
          line-height: 1.3em; }
      .header > .wr .right_df .right {
        padding-left: 25px; }
        .header > .wr .right_df .right a.callback i {
          font-size: 18px;
          color: #fed343;
          width: 40px;
          height: 40px;
          border: 1px solid #fed343;
          border-radius: 100%;
          line-height: 40px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          text-align: center;
          display: block; }
    .header > .wr a {
      color: #fff;
      text-decoration: none; }
  .header.fixed {
    position: fixed; }

.header .phone__wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .phone__title {
  color: #fed343;
  margin-right: 20px;
}

.screen_1 {
  overflow: hidden;
  background: #082244 url(../imgs/sc1_bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }
  .screen_1 .wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc(100vh - 82px);
    position: relative;
    max-height: 600px;
     }
    body .screen_1 .rusant {
    background: url(../imgs/rusant.png) 100% 100% no-repeat;
      width: 840px;
      height: 480px;
      position: absolute;
      right: -220px;
      bottom: 0; }
      .screen_1 .wr .rusant .df_ {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        left: 238px;
        top: 290px; }
        .screen_1 .wr .rusant .df_ .text {
          padding-right: 30px;
          font-size: 14px;
          font-weight: 300;
          opacity: 0.5;
          line-height: 1.2em; }
        .screen_1 .wr .rusant .df_ .play {
          text-decoration: none;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          background: #fed343;
          border: 4px solid #cc9e03;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .screen_1 .wr .rusant .df_ .play i {
            color: #082244;
            position: relative;
            left: 1px; }
    .screen_1 .wr .mouse,
    .post_chief__top .mouse {
      position: absolute;
      bottom: 15px;
      width: 20px;
      height: 46px;
      background: url(../imgs/mouse.svg) 0 0 no-repeat;
      left: calc(50% - 10px);
      display: block;
      cursor: pointer;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
      z-index: 10;
      transition: All 0.2s ease-in-out;
      -webkit-transition: All 0.2s ease-in-out;
      -moz-transition: All 0.2s ease-in-out;
      -o-transition: All 0.2s ease-in-out; }
      .screen_1 .wr .mouse:hover,
      .post_chief__top .mouse:hover {
        opacity: 0.7; }
    .screen_1 .wr .slider_wr {
      max-width: 700px; }
      .screen_1 .wr .slider_wr .dots .slick-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 30px; }
        .screen_1 .wr .slider_wr .dots li {
          display: block;
          margin-right: 19px; }
          .screen_1 .wr .slider_wr .dots li button {
            width: 9px;
            height: 9px;
            border: 1px solid #fff;
            background: transparent;
            -moz-appearance: none;
                 appearance: none;
            -webkit-appearance: none;
            border-radius: 100%;
            text-indent: -9999px;
            cursor: pointer;
            transition: All 0.2s ease-in-out;
            -webkit-transition: All 0.2s ease-in-out;
            -moz-transition: All 0.2s ease-in-out;
            -o-transition: All 0.2s ease-in-out; }
          .screen_1 .wr .slider_wr .dots li button:hover {
            opacity: 0.5; }
          .screen_1 .wr .slider_wr .dots li.slick-active button {
            background: #fed343;
            border-color: #fed343;
            opacity: 1; }
      .screen_1 .wr .slider_wr .main_slider {
        height: 185px;
        overflow: hidden; }
        .screen_1 .wr .slider_wr .main_slider .slide .title {
          padding-bottom: 10px;
          line-height: 1em;
          font-size: 45px;
          font-family: 'Panton';
          font-weight: bold;
          color: #fff; }
          .screen_1 .wr .slider_wr .main_slider .slide .title span {
            color: #fed343; }
  .screen_1 .df {
    padding-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .screen_1 .df .item:first-child {
      padding-right: 20px; }
    .screen_1 .df input[type="tel"] {
      line-height: 50px;
      height: 50px;
      border-radius: 50px;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      text-indent: 0;
      padding-left: 22px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 240px;
      font-size: 16px;
      font-family: 'Panton';
      margin-bottom: 0; }
    .screen_1 .df input[type="tel"]::-webkit-input-placeholder {
      color: #fff; }
    .screen_1 .df input[type="tel"]::-moz-placeholder {
      color: #fff; }
    .screen_1 .df input[type="tel"]:-moz-placeholder {
      color: #fff; }
    .screen_1 .df input[type="tel"]:-ms-input-placeholder {
      color: #fff; }
    .screen_1 .df input.wpcf7-form-control.wpcf7-submit {
      font-weight: normal;
      font-size: 16px;
      font-family: 'Panton';
      text-transform: uppercase; }
    .screen_1 .df .label {
      padding-top: 14px;
      font-size: 14px;
      font-family: 'Panton';
      text-align: center; }
    .screen_1 .df .tel_ {
      opacity: 0.5; }
    .screen_1 .df .submit_ span {
      color: #fed343; }

.screen_base .wr {
  padding: 60px 0; }
  .screen_base .wr > .title_wr {
    font-size: 32px;
    text-align: center;
    line-height: 1.4em;
    font-weight: 900;
    font-family: 'Panton';
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #071b36; }
  .screen_base .wr > .sub_wr {
    font-family: 'Panton';
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 30px;
    line-height: 1.5em; }
  .screen_base.screen_left_title .wr > .title_wr {
    text-align: left; }

.btn_wr a {
  background: #ff383f;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 0 30px;
  -webkit-box-shadow: 0 4px 0 #891e22;
          box-shadow: 0 4px 0 #891e22;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  transition: All 0.2s ease-in-out;
  -webkit-transition: All 0.2s ease-in-out;
  -moz-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out; }
  .btn_wr a:hover {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-box-shadow: 0 2px 0 #891e22;
            box-shadow: 0 2px 0 #891e22; }
  .btn_wr a:focus {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: 0 0 0 #891e22;
            box-shadow: 0 0 0 #891e22; }

.form_row label {
  padding-bottom: 15px;
  font-size: 16px;
  display: block; }

.burger {
  position: relative;
  border: none;
  outline: none;
  background: none;
  width: 27px;
  height: 23px;
  margin-bottom: 4px;
  cursor: pointer; }
  .burger__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 27px;
    height: 3px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .burger__line::before, .burger__line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 27px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .burger__line::before {
    top: -9px; }
  .burger__line::after {
    top: 9px; }
  .burger:hover .burger__line {
    background-color: rgba(255, 255, 255, 0.7); }
  .burger:hover .burger__line::before {
    background-color: rgba(255, 255, 255, 0.7); }
  .burger:hover .burger__line::after {
    background-color: rgba(255, 255, 255, 0.7); }
  .burger--active .burger__line {
    background-color: rgba(255, 255, 255, 0) !important; }
  .burger--active .burger__line::before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .burger--active .burger__line::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .burger__wrap {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #aaabb4;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    font-weight: 400; }

.home .screen_1 .wpcf7 input[type="tel"]::-webkit-input-placeholder {
  color: #c2c4d7 !important;
  opacity: 0.7;
  font-weight: 400; }
  .home .screen_1 .wpcf7 input[type="tel"]::-moz-placeholder {
    color: #c2c4d7 !important;
    opacity: 0.7;
    font-weight: 400; }
  .home .screen_1 .wpcf7 input[type="tel"]:-ms-input-placeholder {
    color: #c2c4d7 !important;
    opacity: 0.7;
    font-weight: 400; }
  .home .wr .sub_wr,
  .screen_base .wr > .sub_wr {
    font-weight: 400;
    text-transform: uppercase; }
  .home .slick-dots {
    list-style: none;
    margin-top: 20px; }
  .home .slick-dots li {
    margin: 0 4px; }
  .home .slick-dots button {
    outline: none;
    border: none;
    width: 6px;
    height: 6px;
    text-indent: -9999px;
    border-radius: 100%;
    background: #2a2c44; }
  .home .slick-dots .slick-active button {
    background: #ff383f; }
  
.slick-slide {
  -webkit-backface-visibility: hidden; }

.article-page .wr {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px; }

  .light-page .screen_1 {
    background-image: url('../imgs/contextual/bg-1.jpg'); }
  .light-page .screen_1 .wr {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 88px;
    max-height: 3000px;
    height: 100%; }
  .light-page .screen_1__content {
    max-width: 50%;
    padding-top: 122px; }
  .light-page .screen_1__content .title {
    color: #fff;
    font-family: 'Panton', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 54.89px;
    letter-spacing: 1.26px;
    margin-bottom: 44px;
    text-align: left;
    text-transform: none; }
  .light-page .screen_1__content .title__projects {
    color: #fff;
    font-family: 'Panton', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  .light-page .screen_1__content .title__projects strong {
    font-size: 31px; }
  .light-page .screen_1__content .title__desc {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6; }
  .light-page .screen_1__content .btns_wr {
    margin-top: 100px; }
  .light-page .screen_1__content .btns_wr .btn {
    color: #fff;
    font-family: 'Panton', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    width: 255px;
    height: 50px;
    line-height: 50px; }
  .light-page .screen_1__content .btns_wr .btn--transparent {
    width: auto;
    display: inline-block;
    margin-right: 43px;
    padding-right: 0;
    padding-left: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative; }
    .light-page .screen_1__content .btns_wr .btn--transparent::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 7px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .light-page .screen_1__content .btns_wr .btn--transparent:hover::after {
      -webkit-animation: transp-btn 1s;
              animation: transp-btn 1s; }
  .light-page .screen_1 .rusant {
    width: 786px;
    height: 100%;
    background: none; }
  .light-page .screen_1 .rusant .df_ {
    top: auto;
    bottom: 240px;
    left: 0; }
  .light-page .screen_1 .rusant .df_ .text {
    color: #fff;
    font-family: 'Panton', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: none; }
  .light-page .title {
    font-family: "Panton", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center; }
  .light-page .title-desc {
    font-family: "Panton", sans-serif;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    margin-top: 5px; 
    padding-bottom: 10px;}
  
  .light-page .screen_1 .rusant2 {
    background: transparent url('../imgs/seo/bg-screen1-2.png') no-repeat center bottom;
    background-size: auto 98%; }
  .light-page .screen_1 .rusant2 .df_ {
    left: 160px; }
  .light-page .screen_1 .rusant2 .df_ .text {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
    margin-right: 0;
    margin-left: 50px; }
  .light-page .screen_1 .rusant2__label {
    position: absolute;
    bottom: 21px;
    left: 2%;
    color: #fff;
    font-family: 'Panton', sans-serif;
    font-size: 16px;
    line-height: 22.48px; }
  .light-page .screen_1 .rusant2__label span {
    display: block;
    font-size: 14px; }
  .light-page .header > .wr .menu > li ul .wr li .title {
    text-transform: none;
    line-height: 1.2;
    text-align: left; }
/* light-page */
.contextual-page .wr, .seo-page .wr, .site-page .wr {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px; }
  .contextual-page .btn_wr .btn, .seo-page .btn_wr .btn, .site-page .btn_wr .btn {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fa222a), to(#ff383f));
    background-image: -webkit-linear-gradient(bottom, #fa222a 0%, #ff383f 100%);
    background-image: -o-linear-gradient(bottom, #fa222a 0%, #ff383f 100%);
    background-image: linear-gradient(to top, #fa222a 0%, #ff383f 100%); }
  .contextual-page .c-icon, .seo-page .c-icon, .site-page .c-icon {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fa222a), to(#ff383f)) !important;
    background-image: -webkit-linear-gradient(bottom, #fa222a 0%, #ff383f 100%) !important;
    background-image: -o-linear-gradient(bottom, #fa222a 0%, #ff383f 100%) !important;
    background-image: linear-gradient(to top, #fa222a 0%, #ff383f 100%) !important; }

.site-page .screen_1 {
  background-image: url('../imgs/site/bg-screen1-1.jpg'); }
  .site-page .screen_1 .rusant2 {
    background-image: url('../imgs/site/bg-screen1-2-2.png');
    background-size: auto 85%; }
    
    /*
        crm
    */
  .page-id-2869 .screen_1 .rusant2 {
    background-image: url('../imgs/site/fon.png');
    background-size: auto 85%;
    background-position: center;}   
    
  .site-page .screen_1 .rusant2 .df_ {
    left: 47%; }
  .site-page .screen_1 .btns_wr {
    margin-top: 70px; }
  .site-page .screen_1 .btns_wr .btn {
    width: 276px; }
  .site-page .screen_1 .btns_wr .btn--transparent {
    width: auto;
    margin-right: 33px; }    
/* site-page */

.seo-page .screen_1 {
  background-image: url('../imgs/seo/bg-screen1-1.jpg'); }
  .seo-page .screen_1__content {
    padding-top: 80px; }
  .seo-page .screen_1 .title__projects {
    margin-top: -15px; }
  .seo-page .screen_1 .rusant2 .df_ .text {
    color: #082244;
    font-family: 'Panton', sans-serif;
    font-size: 14px;
    opacity: 1; }
  .seo-page .screen_1 .btns_wr {
    margin-top: 70px; }  
/* SEO-page */


/* FRANCHISE */
.accent {
  color: #ff383f; }

.franchise-page .wr {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px; }

.franchise-page .screen_1 {
  background: #082244 url(../imgs/sc1_bg.jpg) no-repeat center center; }
  .franchise-page .screen_1 .wr {
    z-index: 1; }
  .franchise-page .screen_1__content {
    padding-top: 74px;
    max-width: 55%; }
  .franchise-page .screen_1 .title {
    margin-bottom: 30px;
    letter-spacing: 0.03em; }
  .franchise-page .screen_1 .title__desc {
    max-width: 420px; }
  .franchise-page .screen_1 .btn_wr {
    margin-top: 55px; }
  .franchise-page .screen_1 .rusant {
    width: 840px;
    height: 480px;
    background: url(../imgs/rusant.png) 100% 100% no-repeat;
    position: absolute;
    right: -220px;
    bottom: 0;
    z-index: -1; }
    .franchise-page .screen_1 .rusant .df_ {
      left: 238px;
      top: 290px; }
  .franchise-page .screen_1 .rusant2__label {
    padding-bottom: 0;
    left: 11%; }

@media screen and (max-width: 1450px) {
    .home .screen_1 .wr {
      z-index: 2; }
      .home .screen_1 .wr .rusant {
        z-index: -1;}
    .site-page .screen_1 .rusant2 .df_ {
      left: 42%;
      right: auto; }
      .site-page .screen_1 .rusant2 .df_ .text {
        margin-left: 15px; } }
/* max-width 1450px */
@media screen and (max-width: 1240px) {
  .work_items .item.proj_big_thumb {
    width: calc(50% - 15px);
    height: auto;
    padding-bottom: 25%; }
    .work_items .item.proj_mini_thumb {
      width: calc(25% - 23px);
      height: auto;
      padding-bottom: 25%; }
      .work_items .item.proj_mini_thumb .box {
        padding: 20px;
        padding-bottom: 5px; } }

@media screen and (max-width: 1270px) {
    .site-page .screen_1 .wr .rusant2 {
      right: -15%;
      background-size: auto 82%; }
      .site-page .screen_1 .wr .rusant2 .df_ {
        right: auto; }
        .site-page .screen_1 .wr .rusant2 .df_ .play {
          -ms-flex-negative: 0;
              flex-shrink: 0; }
        .site-page .screen_1 .wr .rusant2 .df_ .text {
          margin-left: 15px;
          padding: 0; }
      .site-page .screen_1 .wr .rusant2__label {
        left: 14%; } }
/* max-width 1270px */

@media screen and (max-width: 1170px) {  
    .header > .wr .menu > li {
      padding-left: 10px;
      padding-right: 10px;
    }
      .light-page .screen_1 .rusant2__label, .home .screen_1 .rusant2__label {
        left: 4%; }
    .home .screen_base .wr, .home .screen_lead_magnet .wr, .home .footer .wr {
      padding-right: 10px;
      padding-left: 10px; } }
/* max-width 1170px */
@media screen and (max-width: 1110px) {  
    .site-page .screen_1__content, .home .screen_1__content {
      z-index: 10; }
      .secondary-page .screen_1__content .btns_wr {
        text-align: center; }
      .secondary-page .screen_1__content .btns_wr .btn {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 100; }
        .light-page .screen_1__content .btns_wr {
          max-width: 350px;
        }
        .secondary-page .screen_1__content .btns_wr .btn--transparent {
          width: auto;
          display: inline-block; }
    .light-page .screen_1 .rusant {
      right: 0;
      width: 48%; }
      .light-page .screen_1 .rusant2, .home .screen_1 .rusant2 {
        right: -40%;
        width: 100%; }
      .light-page .screen_1 .rusant2 .df_, .home .screen_1 .rusant2 .df_ {
        right: 45%;
        left: auto; }
      .light-page .screen_1 .rusant2__label, .home .screen_1 .rusant2__label {
        left: 12%; }
    .site-page .screen_1 .wr .rusant2 {
      right: 0;
      width: 78%; }
      .site-page .screen_1 .wr .rusant2 .df_ {
        left: auto;
        right: 20px; 
        bottom: 120px;
        top:auto;} }
/* max-width 1110px */
@media screen and (max-width: 1024px) {
  .light-page .screen_1__content {
    padding-top: 60px;
  }
  .light-page .screen_1 .rusant2__label {
    display: none;
  }
  .franchise-page .screen_1 .rusant2__label {
    display: none;
  }
      .secondary-page .header, .home .header {
      height: 82px;
      padding-top: 0;
      padding-bottom: 0; }

      .secondary-page .header .wr, .home .header .wr {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .secondary-page .header .menu, .home .header .menu {
        -webkit-box-ordinal-group: 11;
            -ms-flex-order: 10;
                order: 10;
        width: 100%;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        background-color: #fff;
        position: absolute;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        left: 0;
        top: calc(100%);
        margin-top: 0;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; 
      }    
      .light-page .screen_1 .btns_wr, .home .screen_1 .btns_wr {
        margin-top: 40px;
        text-align: center; }
        .light-page .screen_1 .btns_wr .btn, .home .screen_1 .btns_wr .btn {
          width: 100%;
          margin-bottom: 10px; }
        .light-page .screen_1 .btns_wr .btn--transparent, .home .screen_1 .btns_wr .btn--transparent {
          width: auto;
          margin-right: 0; }
      .light-page .screen_1 .rusant2, .home .screen_1 .rusant2 {
        background-size: auto 85%; }
        .light-page .screen_1 .rusant2 .df_, .home .screen_1 .rusant2 .df_ {
          right: 40%; }
    .home .screen_1 {
      padding-top: 80px; }
      .home .screen_1 .wr {
        padding-bottom: 20px; }
      .home .screen_1 .rusant {
        background-size: 750px;
        right: -21%; }
        .home .screen_1 .rusant .df_ {
          left: 280px; }
      .home .screen_1 .slider_wr .main_slider .slide .title {
        font-size: 38px;
        line-height: 1.2; }
      .home .screen_1 .df {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .home .screen_1 .df .item {
          width: 60%;
          margin-bottom: 30px; }
        .home .screen_1 .df .item .label {
          text-align: left; }
    .seo-page .screen_1__content {
      padding-top: 122px; }
    }
/* /. max-width 1024px */
@media screen and (max-width: 992px) {  
    .light-page .screen_1 .title, .home .screen_1 .title {
      font-size: 38px; }
      .light-page .screen_1 .title__desc, .home .screen_1 .title__desc {
        font-size: 14px; }      
    .contacts-page .screen_1__content {
      padding-top: 60px; }
      .contacts-page .screen_1 .wr {
        padding-bottom: 120px; }
      .contacts-page .screen_1 .right {
        right: -200px;
        background-size: auto 77%; }
      .contacts-page .screen_1__contact {
        right: 180px; }
     }
/* max-width 992px */

@media screen and (max-width: 880px) {
      .light-page .screen_1__content, .home .screen_1__content {
        max-width: 60%; }
      .light-page .screen_1 .rusant, .home .screen_1 .rusant {
        width: 50%;
        right: 0 !important; }
        .light-page .screen_1 .rusant .df_, .home .screen_1 .rusant .df_ {
          top: 0;
          left: auto;
          right: 20px; }
      .light-page .screen_1 .rusant2, .home .screen_1 .rusant2 {
        background: none; }
        .light-page .screen_1 .rusant2 .df_ .text, .home .screen_1 .rusant2 .df_ .text {
          color: #fff; }
        .light-page .screen_1 .rusant2__label, .home .screen_1 .rusant2__label {
          display: none; }
      
    .home .screen_1 .rusant {
      background: none; }}
/* max-width 880px */
@media screen and (max-width: 850px) {
  .home .screen_1 .wr {
        padding-bottom: 80px;
        max-height: 100%;
        height: auto;
        padding-left: 15px;
        padding-right: 15px; }}
/* max-width 850px */
@media screen and (max-width: 760px) {   
    .secondary-page .header .menu li ul.sub-menu .wr, .home .header .menu li ul.sub-menu .wr {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-left: 15px;
      padding-right: 15px; }
      .secondary-page .header .menu li ul.sub-menu li, .home .header .menu li ul.sub-menu li {
        width: 47%;
        max-width: 47%;
        margin-bottom: 30px; }      
    .light-page .screen_1 .wr, .home .screen_1 .wr {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .light-page .screen_1 .wr .rusant, .home .screen_1 .wr .rusant {
        width: 100%;
        position: static;
        height: auto;
        top: 0;
        left: 0;
        margin-top: 20px;
        margin-bottom: 20px; }
      .light-page .screen_1 .wr .rusant .df_, .home .screen_1 .wr .rusant .df_ {
        position: static;
        top: 0;
        left: 0; }
      .light-page .screen_1 .wr .rusant .df_ .text, .home .screen_1 .wr .rusant .df_ .text {
        margin-left: 0;
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5; }
      .light-page .screen_1 .wr .rusant .df_ .play, .home .screen_1 .wr .rusant .df_ .play {
        margin-right: 30px; }
      .light-page .screen_1__content, .home .screen_1__content {
        max-width: 100%; }
      .light-page .screen_1__content .btns_wr, .home .screen_1__content .btns_wr {
        margin-top: 20px; }
      .contacts-page .screen_1 .wr {
        padding-bottom: 0; }
      .contacts-page .screen_1 .right {
        position: relative;
        width: 100%;
        height: 400px;
        right: auto;
        left: 0;
        background-size: 100% auto; }
      .contacts-page .screen_1__contact {
        right: 5%; }}
/* max-width 760px */
@media screen and (max-width: 680px) {
   .light-page .screen_1, .home .screen_1 {
      background-image: url('../imgs/contextual/sc1_bg-mobile.jpg'); 
    }}
@media screen and (max-width: 1024px) {
    .header > .wr .right_df {
      margin-left: auto;
      margin-right: 20px;
    }    
        .secondary-page .header .menu.active, .home .header .menu.active {
          opacity: 1;
          max-height: calc(100vh - 82px);
          overflow: auto;}
          .secondary-page .header .menu.active .hover, .home .header .menu.active .hover {
            max-height: 3000px;
            display: block;
        }
        .secondary-page .header .menu > li {
          position: relative;
          display: block;
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          text-align: left;
          color: #082244;
          padding-left: 15px;
          padding-right: 15px; }
          .secondary-page .header .menu > li > a, .home .header .menu > li > a {
            display: block;
            color: #082244;
            font-size: 18px; }
          .secondary-page .header .menu > li .sub-menu, .home .header .menu > li .sub-menu {
            position: relative;
            background: none;
            max-height: 0;
            height: auto;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
            display: none;
            top: calc(100%);
            }
            .secondary-page .header .menu > li .sub-menu.hover, .home .header .menu > li .sub-menu.hover {
              padding-top: 20px;
              padding-bottom: 0;
              -webkit-box-shadow: none;
                      box-shadow: none;
              height: auto;
              -webkit-transition: none;
              -o-transition: none;
              transition: none; }
            .secondary-page .header .menu > li .sub-menu .wr, .home .header .menu > li .sub-menu .wr {
              padding: 0; }
              .secondary-page .header .menu > li .sub-menu .wr li, .home .header .menu > li .sub-menu .wr li {
                width: 100%;
                max-width: 100%;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 20px; }
                .secondary-page .header .menu > li .sub-menu .wr li b, .home .header .menu > li .sub-menu .wr li b {
                  display: none; }
                .secondary-page .header .menu > li .sub-menu .wr li span.title, .home .header .menu > li .sub-menu .wr li span.title {
                  display: inline-block;
                  margin-bottom: 5px;
                  margin-top: 5px;
                  padding: 0;
                  text-align: left;
                  border-bottom: none;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.2;
                  -webkit-transition: 0.5s;
                  -o-transition: 0.5s;
                  transition: 0.5s; }
                  .secondary-page .header .menu > li .sub-menu .wr li span.title br, .home .header .menu > li .sub-menu .wr li span.title br {
                    display: none; }
                .secondary-page .header .menu > li .sub-menu .wr li:first-of-type .title, .home .header .menu > li .sub-menu .wr li:first-of-type .title {
                  margin-top: 0; 
                  margin-bottom: 0;}
                .secondary-page .header .menu > li .sub-menu .wr li .sub, .home .header .menu > li .sub-menu .wr li .sub {
                  display: none; }
                .secondary-page .header .menu > li .sub-menu .wr li a, .home .header .menu > li .sub-menu .wr li a {
                  padding-top: 5px;
                  padding-bottom: 5px;
                  display: block;
                  width: 100%; }
                .secondary-page .header .menu > li .sub-menu .wr li:last-child a, .home .header .menu > li .sub-menu .wr li:last-child a {
                  padding-bottom: 0; }
                .secondary-page .header .menu > li .sub-menu .wr li a:hover span.title, .home .header .menu > li .sub-menu .wr li a:hover span.title {
                  color: #ff383f; }
      .secondary-page .header.fixed .menu li ul.sub-menu.hover, .home .header.fixed .menu li ul.sub-menu.hover {
        overflow-y: auto;
        max-height: calc(100vh - 82px); }
      .secondary-page .header .burger__wrap, .home .header .burger__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 11;
            -ms-flex-order: 10;
                order: 10; }

      }

  @media screen and (max-width: 680px) {    
  .home .screen_1 .slider_wr .main_slider .slide .title {
    font-size: 31px;    
  }  
  .screen_1 .wr .slider_wr .main_slider {
    height: 150px;
    margin-bottom: 15px;
  }
  .screen_1 .df {
    padding-top: 25px;
  }
    .article-page {
      padding-top: 82px; }    
    .home .screen_base .wr {
      padding-left: 15px;
      padding-right: 15px; }
      .home .screen_1 {
        padding-top: 10px; }}
/* max-width 680px */

  @media screen and (max-width: 640px) {
    .secondary-page .header .right_df .left a, .home .header .right_df .left a {
        margin-bottom: 0; }
        .secondary-page .header .right_df .phone__wrap:nth-of-type(n+2) {
          display: none; }   
    .header .phone__title {
      display: none;
    }
    body,.article-page {
      padding-top: 62px;
    }
    .secondary-page .header, .home .header {
      height: 62px;
    }
    .header > .wr {
      height: 62px;
    }
    .secondary-page .header .menu.active, .home .header .menu.active {
      max-height: calc(100vh - 62px);
    }
    .page-template-page-works .screen_base .wr {
      padding-top: 0;
    }
  }
  /* max-width 640px */
  
  
  @media screen and (max-width: 600px) { 
    .contacts-page .screen_1 .right {
      height: 300px;
      background-size: contain; }
    .home .screen_1 .wr .slider_wr .slide .title,
    .light-page .screen_1 .title {
      font-size: 30px; 
      line-height: 1.2;}
      .light-page .screen_1__content .title {
        margin-bottom: 20px;
      }
      .light-page .screen_1__content .title__projects {
        font-size: 16px;
      }
      .light-page .screen_1__content .title__projects strong {
        font-size: 27px;
      }      
    .header .sub-menu {
      margin-top: 0; }}
/* max-width 600px */

@media screen and (max-width: 500px) {  
  .contextual-page .wr, .seo-page .wr, .site-page .wr {
    padding-left: 15px;
    padding-right: 15px;
  }
  .screen_1__content {
    width: 100%;
  }
  body.page-template-page-site-map, body.page-template-page-works {
      padding-top: 80px;
  }
  body.page-template-page-feedbacks-video .site-main, body.page-template-page-feedbacks .site-main {
    padding-top: 30px;
  }  
  .form_row label {
      font-size: 13px;
      margin-bottom: 5px;
      padding-bottom: 0;
  }  
  form textarea, form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="number"] {
    margin-bottom: 15px;
  }  
  form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="number"] {
    height: 44px;
    line-height: 44px;
  }  
  .screen_base .wr {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .screen_1 {
    min-height: calc(100vh - 62px);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .light-page .screen_1 .wr .rusant .df_ .play, .home .screen_1 .wr .rusant .df_ .play {
    margin-right: 20px;
  }
  .home .screen_1 .wr .mouse,.site-page .screen_1 .wr .mouse {
    left: auto;
    right: 30px;
    bottom: 25px;
  }
  .home .screen_1 .wr,.site-page .screen_1 .wr {
    padding-bottom: 10px;
  }
  .seo-page .screen_1 .wr,.contextual-page .screen_1 .wr {
    padding-bottom: 50px;
  }
  .screen_1 .df {
    padding-top: 0; 
  }
  .screen_1 .df .label {
    font-size: 13px;
  }
    .home .screen_1 .wr .slider_wr .slide .title,
    .seo-page .screen_1 .screen_1__content .title, .site-page .screen_1 .screen_1__content .title
    {
      font-size: 24px; }    
    .franchise-page .screen_1 .wr .title br {
      display: none; }
    .screen_1 .wr .slider_wr .main_slider {
      height: 175px;
    }
    .secondary-page .header .logo, .home .header .logo {
      width: 100px; }
      .secondary-page .header .logo img, .home .header .logo img {
        width: 100%; }
      .secondary-page .header .menu > li .sub-menu .wr li span.title, .home .header .menu > li .sub-menu .wr li span.title {
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 0; }         
      .secondary-page .title, .home .title {
        font-size: 22px;
        line-height: 1.2;
        padding-bottom: 20px; }
        .home .title  {
          margin-bottom: 0;
        }
      .secondary-page .title-desc, .home .title-desc {
        font-size: 18px;
        line-height: 22px;
      }      
    .light-page .screen_1__content, .home .screen_1__content {
      padding-top: 40px; }
      .light-page .screen_1__content .title, .home .screen_1__content .title {
        margin-bottom: 20px; }
      .light-page .screen_1__content .title__desc, .home .screen_1__content .title__desc {
        padding: 0; }
      .light-page .screen_1 .rusant, .home .screen_1 .rusant {
        bottom: auto; }
      .light-page .screen_1 .rusant .df_, .home .screen_1 .rusant .df_ {
        bottom: auto;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .screen_1 .wr .rusant .df_ .text {
          font-size: 12px;
        }      
    .contacts-page .screen_1 .right {
      height: auto;
      background: none;
      margin-top: 20px; }
      .contacts-page .screen_1__contact {
        position: static;
        margin-left: 20px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .contacts-page .screen_1__contact a {
        display: block;
        min-width: 240px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; }
        .contacts-page .screen_1__contact a:last-of-type {
          margin-right: auto; }
        .contacts-page .screen_1__contact a::before {
          left: -20px; }
    .home .wr .title_wr,
    .screen_base .wr > .title_wr {
      font-size: 22px; 
      padding-bottom: 10px;}

      .home .screen_1 .wr .slider_wr {
        max-width: 100%; }
        .home .screen_1 .wr .slider_wr .slide .title br {
          display: none; }
        .home .screen_1 .wr .slider_wr .df .item {
          padding-right: 0;
          width: 100%; 
          display: -webkit-box; 
          display: -ms-flexbox; 
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;}
          .home .screen_1 .wr .slider_wr .df .item input,
          .franchise-page .screen_1 .wr .btn_wr .btn {
            width: 100%; 
            max-width: 350px;}
          .franchise-page .screen_1 .wr .btn_wr .btn {
            margin-left: auto;
            margin-right: auto;}
          .home .screen_1 .wr .slider_wr .df .item .label {
            text-align: center; }
      .home .screen_1 .wr .slider_wr .df .wpcf7-form-control-wrap{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
      }
      .home .screen_1 .df .item:last-of-type {
        margin-bottom: 0;
      }
      .screen_1 .df .tel_ {
        display: none;
      }      
    .site-page .screen_1 .wr .rusant2 {
      width: 100%;
      right: auto; }
      .site-page .screen_1 .wr .rusant2 .df_ {
        width: 100%;
        right: auto; }    
    .seo-page .screen_1 .screen_1__content .title, .site-page .screen_1 .screen_1__content .title {
      line-height: 1.2; 
      padding-bottom: 0;}    
        .page-template-page-feedbacks .title {
          font-size: 22px;
          padding-bottom: 6px;
          margin-bottom: 0;
        }}
/* /. max-width 500 */
@media screen and (max-width: 470px) {
    .header .right {
      display: none; }}
/* /. max-width 470 */
@media screen and (max-width: 400px) {  
    .light-page .header .wr .left a, .home .header .wr .left a {
      font-size: 15px; }    
    .site-page .screen_1 .btns_wr .btn {
      font-size: 14px; }
    .page-template-page-works .screen_base .wr {
      padding-top: 10px;
    }}
/* /. max-width 400px */

/* FRANCHISE media */
  @media screen and (max-width: 1170px) {
    .franchise-page .screen_1 .rusant2__label {
      padding-bottom: 0;
      left: 11%; }}
  @media screen and (max-width: 1110px) {
    .franchise-page .screen_1 .rusant2__label {
      left: 20%; }}  
  @media screen and (max-width: 1024px) {  
    .franchise-page .screen_1 .btns_wr {
      margin-top: 30px;
      text-align: left; }
      .franchise-page .screen_1 .btns_wr .btn {
        display: block;
        width: 255px;
        margin-bottom: 20px; }
        .franchise-page .screen_1 .btns_wr .btn--transparent {
          width: 255px;
          margin-right: auto; }
    .franchise-page .screen_1 .rusant2__label {
      left: 30%; }}
  @media screen and (max-width: 992px) {
    .screen_1 .wr {
      height: auto; }}
  @media screen and (max-width: 880px) {
    .franchise-page .screen_1 {
      background-size: cover; }
    .franchise-page .screen_1 .rusant {
      background: none; }
  .franchise-page .screen_1 .rusant .df_ {
    left: auto;
  }}
  @media screen and (max-width: 600px) {
    .franchise-page .screen_1 .wr .title {
      font-size: 28px;
      line-height: 1.2; }}

  @media screen and (max-width: 500px) {

    .franchise-page .screen_base .wr > .sub_wr {
      font-size: 18px;
    }
    .franchise-page .screen_base .wr > .title_wr {
      padding-bottom: 0;
    }    
    .franchise-page .title-desc {
      margin-top: 10px;
    }    
    .franchise-page .screen_1 .wr .title {
      font-size: 24px; }    
    .franchise-page .screen_1 .title__desc br {
      display: none;
    }
    .franchise-page .screen_1 .wr .btn_wr {
      text-align: center; }
      .franchise-page .screen_1 .wr .btn_wr .btn {
        width: 100%; }
        .franchise-page .screen_1 .wr .btn_wr .btn--transparent {
          display: inline-block;
          width: auto;
          margin-bottom: 10px; }}
       
@media screen and (max-width: 350px) {
  .franchise-page .screen_1 .btns_wr {
    margin-top: 10px;
  }
  .light-page .screen_1 .title__desc, .home .screen_1 .title__desc {
    font-size: 13px;
    line-height: 20px;
  }
  .home .screen_1 .wr .slider_wr .slide .title,
  .franchise-page .screen_1 .wr .title,
  .seo-page .screen_1 .screen_1__content .title, .site-page .screen_1 .screen_1__content .title {
    font-size: 20px;
  }
  .franchise-page .screen_1 .wr .title {
    margin-bottom: 0;
  }
  .screen_1 .wr .slider_wr .main_slider {
    height: 125px;
  }
  .home .wr .title_wr, .light-page .wr .title_wr {
    font-size: 22px; }}