@font-face
  font-family: 'GoogleSans'
  font-display: swap
  src: local('GoogleSans'),
  url('../fonts/GoogleSans-Regular.woff2') format('woff2'),
  url('../fonts/GoogleSans-Regular.woff') format('woff'),
  url('../fonts/GoogleSans-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GoogleSans'
  font-display: swap
  src: local('GoogleSans'),
  url('../fonts/GoogleSans-Bold.woff2') format('woff2'),
  url('../fonts/GoogleSans-Bold.woff') format('woff'),
  url('../fonts/GoogleSans-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'GoogleSans'
  font-display: swap
  src: local('GoogleSans'),
  url('../fonts/GoogleSans-Medium.woff2') format('woff2'),
  url('../fonts/GoogleSans-Medium.woff') format('woff'),
  url('../fonts/GoogleSans-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal
