.prod-item
  position: relative
  padding-bottom: 65px
  .container
    max-width: 1776px
    padding-left: 70px
    padding-right: 70px
  &__title
    margin-top: 0
    margin-bottom: 21px
    padding-top: 10px
    font-size: 36px
    font-weight: 600
  &__df
    display: flex
  &__left
    width: 55.19559902200489%
    margin-right: 60px
  &__right
    width: 41.07579462102689%
  &__wrap
    position: relative
    margin-bottom: 36px
  &__imgs
    overflow: hidden
    margin: -20px
    padding: 20px
  &__img
    display: block
    text-decoration: none
    outline: none
    height: 548px
    background-color: #f6f7f7
    border-radius: 8px
    overflow: hidden
    transition: 0.4s ease-in-out
    &:hover
      box-shadow: 0 5px 15px rgba($accent, 0.2)
  &__thumbs
    overflow: hidden
    margin-bottom: 46px
    &-wrap
      position: relative
    &-btns
      .swiper-dots
        display: none
      .swiper-button-prev
        left: -19px
      .swiper-button-next
        right: -19px
  &__thumb
    height: 190px
    background-color: #f6f7f7
    border: 1px solid #cccccc
    border-radius: 8px
    overflow: hidden
    cursor: pointer
    transition: 0.4s ease-in-out
    &:hover
      border-color: $accent2
  &__nav
    margin: 0
    padding: 0
    list-style: none
    display: flex
    & > li
      margin-right: 9px
      &:last-of-type
        margin-right: 0
      & > a
        text-decoration: none
        outline: none
        display: flex
        align-items: center
        justify-content: center
        height: 47px
        padding-left: 17px
        padding-right: 17px
        background-color: #e7e8e9
        border-top-left-radius: 8px
        border-top-right-radius: 8px
        font-size: 16px
        font-weight: 600
        transition: 0.4s ease-in-out
        &:hover
          background-color: #1b703f
          color: #fff
      &.current
        & > a
          background-color: #1b703f
          color: #fff

  &__tabs
    margin: 0
    padding: 0
    list-style: none
  &__tab
    padding: 43px 35px 28px
    background-color: #ffffff
    border: 1px solid #1b703f
    border-radius: 0px 0px 8px 8px
    &:not(#prod-item__tab-0)
      display: none
    .article
      p
        margin-bottom: 30px
        text-indent: 10px
      ul
        margin: 0
        padding: 0
        columns: 2
        column-gap: 76px
        & > li
          margin-bottom: 11px
          transform: none
          &:last-of-type
            margin-bottom: 0
  &__form
    margin-bottom: 36px
    .form
      padding: 39px 55px 21px
      background: transparent url('../img/form-bg.jpg') no-repeat center center
      background-size: cover
      border-radius: 8px
      overflow: hidden
      &__title
        font-size: 30px
        font-weight: 600
        text-align: center
      &__item
        &--submit
          text-align: center
          .btn__wrap
            width: auto
  &__about
    padding: 19px 58px 33px
    background-color: #f6f7f7
    border-radius: 8px
    &-title
      margin-top: 0
      margin-bottom: 22px
      font-size: 30px
      font-weight: 600
      text-align: center
    .reviews__wrap
      margin-top: 0
      margin-bottom: 30px
      &:last-of-type
        margin-bottom: 0
    .reviews__videos
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          background-color: #ffffff
        .swiper-button-prev
          left: -21px
        .swiper-button-next
          right: -21px
        .swiper-dots
          display: none


  @media screen and (max-width: 1700px)
    &__form
      .form
        padding: 37px 35px 15px
        &__title
          font-size: 26px

  // max-width 1700px

  @media screen and (max-width: 1600px)
    &__tab
      .article
        p
          margin-bottom: 20px
        ul
          column-gap: 30px
          & > li
            margin-bottom: 8px
    &__left
      width: 57.19559902200489%
      margin-right: 30px
    &__right
      width: 40.075795%
    &__about
      padding: 19px 35px 33px
    &__img
      height: 408px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    &__tab
      padding: 33px 20px 25px
      .article
        font-size: 14px
    &__nav
      & > li
        margin-right: 4px
        & > a
          height: 40px
          padding-left: 8px
          padding-right: 8px
          font-size: 14px

  // max-width 1400px

  @media screen and (max-width: 1200px)
    .container
      padding-left: 15px
      padding-right: 15px
    &__form
      .form
        padding: 27px 25px 15px
        &__title
          font-size: 20px
    &__wrap
      margin-bottom: 26px
    &__img
      height: 348px
    &__thumb
      height: 150px

  // max-width 1200px

  @media screen and (max-width: 991px)
    &__df
      display: block
    &__left
      width: 100%
      margin-right: 0
      padding-bottom: 35px
    &__right
      width: 100%
    &__form
      max-width: 450px
      margin-left: auto
      margin-right: auto
    &__title
      margin-bottom: 18px
      font-size: 28px
    &__about
      &-title
        margin-bottom: 18px
        font-size: 26px

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-bottom: 30px
    &__img
      height: 308px
    &__thumbs
      margin-bottom: 36px
    &__title
      font-size: 24px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__img
      height: 258px
    &__thumbs
      margin-bottom: 26px
    &__thumb
      height: 130px
    &__tab
      .article
        font-size: 13px
        p
          margin-bottom: 10px
        ul
          columns: 1
          & > li
            margin-bottom: 5px
            font-size: 13px
    &__nav
      display: block
      margin-bottom: 15px
      & > li
        width: 100%
        margin-right: 0
        margin-bottom: 5px
        & > a
          height: 37px
          font-size: 13px
          border-radius: 4px
    &__about
      padding: 15px 25px 23px
      &-title
        margin-bottom: 14px
        font-size: 22px

  // max-width 575px

  @media screen and (max-width: 450px)
    &__tab,
    &__form
      width: calc(100% + 30px)
      margin-left: -15px

  // max-width 450px

/* prod-item */
