.contacts
  position: relative
  padding-top: 41px
  padding-bottom: 29px
  .container
    max-width: 1776px
    padding-left: 70px
    padding-right: 70px
  &__df
    display: flex
    justify-content: space-between
    margin-bottom: 31px

  &__col
    display: flex
    flex-direction: column
    width: calc((100% - 480px - 34px) / 2 - 16px)
    background-color: #f6f7f7
    border-radius: 6px
    overflow: hidden
  &__content
    padding: 30px 20px 32px 50px
  &__title
    margin-top: 0
    margin-bottom: 21px
    font-size: 24px
    font-weight: 600
    color: #000000
  &__text
    font-weight: 500
    b
      font-weight: 600
    p
      margin-bottom: 25px
      &:last-of-type
        margin-bottom: 0
    a
      text-decoration: none
      outline: none
      transition: 0.4s ease-in-out
      &:hover
        color: $accent2
  &__form
    flex-shrink: 0
    width: 480px
    max-width: 100%
    .form
      padding: 45px 65px 30px
      background-color: rgba(165,171,175,0.3)
      border-radius: 8px
      overflow: hidden
      &__title
        font-size: 26px
        line-height: 1.384615384615385 /* 36 / 26 */
        font-weight: 600
  &__map
    height: 348px
    margin-top: auto
  &__bottom
    padding: 44px 20px 74px 50px
    background-color: #f6f7f7
    border-radius: 6px
    &-title
      margin-bottom: 29px
      font-size: 24px
      font-weight: 600
      color: #000000
    &-df
      display: flex
    &-col
      width: 23.1404958677686%
      padding-right: 20px
      font-size: 16px
      line-height: 1.875 /* 30 / 16 */
      font-weight: 500
      &:nth-of-type(2)
        width: 30.95994914176732%
      &:last-of-type
        width: 44.88239033693579%
        padding-right: 0


  @media screen and (max-width: 1450px)
    &__content
      padding: 20px 20px 22px
    &__map
      height: 298px
    &__form
      .form
        padding: 25px 55px 20px
        &__title
          font-size: 21px
    &__bottom
      padding: 44px 20px
      &-col
        font-size: 14px

  // max-width 1170px

  @media screen and (max-width: 1200px)
    .container
      padding-left: 15px
      padding-right: 15px
    &__form
      width: 410px
      .form
        padding: 25px 35px 20px
        &__title
          font-size: 19px
    &__col
      display: flex
      flex-direction: column
      width: calc((100% - 410px - 25px) / 2 - 10px)
    &__map
      height: 258px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__title
      margin-bottom: 10px
      font-size: 20px
    &__text
      font-size: 14px
      p
        margin-bottom: 15px
    &__map
      height: 218px
    &__form
      .form__item
        margin-bottom: 11px
      .accept
        margin-top: 24px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__df
      justify-content: flex-start
      flex-wrap: wrap
    &__form
      margin: 30px auto 0
    &__col
      width: calc(50% - 5px)
      margin-right: 10px
      &:nth-of-type(2)
        margin-right: 0

  // max-width 991px

  @media screen and (max-width: 767px)
    &__bottom
      &-title
        margin-bottom: 20px
        font-size: 19px
      &-df
        display: block
      &-col
        width: 100%
        padding-right: 0
        &:nth-of-type(2)
          width: 100%
        &:last-of-type
          width: 100%

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 21px
    &__content
      padding: 10px 10px 12px
    &__title
      margin-bottom: 8px
      font-size: 18px
    &__text
      font-size: 13px
      p
        margin-bottom: 12px
    &__map
      height: 188px
    &__bottom
      padding: 20px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__title
      font-size: 15px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__col
      width: 100%
      margin-right: 0
      margin-bottom: 20px
    &__form
      margin-top: 10px
      .form
        padding: 25px 15px 20px

  // max-width 400px

/* contacts */
