.lead
  position: relative
  background: transparent url('../img/lead-bg.jpg') no-repeat left center
  background-size: cover
  &__content
    position: relative
    max-width: 640px
    padding-top: 57px
    padding-bottom: 27px
  &__img
    position: absolute
    bottom: -67px
    left: 468px
    width: 580px
    height: 356px
  &__title
    margin-bottom: 48px
    font-size: 24px
    line-height: 1.33333333333 /* 40 / 30 */
    font-weight: 600
    b
      display: block
      margin-bottom: 15px
      font-size: 30px
      font-weight: 600
    strong
      font-weight: 900
  .form
    max-width: 544px
    .accept
      label
        text-align: left
  &--2
    background-image: url('../img/lead-bg-2.jpg')
    .lead__content
      position: relative
      max-width: 100%
      padding-top: 0
      padding-bottom: 0
    .lead__img
      position: absolute
      top: 42px
      left: 420px
      width: 517px
      height: 454px
      z-index: 50
    .lead__title
      width: 420px
      max-width: 100%
      padding-top: 98px
      padding-bottom: 30px

  &__df
    display: flex
  &__form
    flex-shrink: 0
    width: 376px
    margin-left: auto
    .form
      height: 100%


  @media screen and (max-width: 1400px)
    &__form
      width: 356px

  // max-width 1400px

  @media screen and (max-width: 1200px)
    &--2
      .lead__img
        top: 72px
        width: 407px
        height: 414px

  // max-width 1200px

  @media screen and (max-width: 1150px)
    &--2
      .lead__img
        display: none

  // max-width 1150px

  @media screen and (max-width: 850px)
    &--2
      .lead__title
        width: auto
        margin-right: 15px

  @media screen and (max-width: 767px)
    &__content
      padding-top: 37px
    &__title
      margin-bottom: 38px
      font-size: 20px
      b
        margin-bottom: 9px
        font-size: 25px
    &__img
      display: none
    &__df
      flex-direction: column
      align-items: center
    &--2
      .lead__title
        width: 100%
        margin-right: 0
        padding-top: 30px
        padding-bottom: 0
        br
          display: none
    &__form
      margin-left: 0

  // max-width 767px

  @media screen and (max-width: 575px)
    &__title
      margin-bottom: 28px
      font-size: 17px
      b
        margin-bottom: 7px
        font-size: 22px
    .form__title
      font-size: 16px

  // max-width 575px

  @media screen and (max-width: 400px)
    &__title
      margin-bottom: 22px
      font-size: 16px
      b
        font-size: 20px

  // max-width 400px

/* lead */
