.jobs
  position: relative
  padding-top: 41px
  padding-bottom: 31px
  .container
    max-width: 1776px
    padding-left: 70px
    padding-right: 70px
  .section_wr
    padding: 20px 51px 38px 60px
  &__df
    display: flex
  &__main
    flex-grow: 1
  &__right
    flex-shrink: 0
    width: 488px
    margin-left: 67px
  &__feat
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    padding-bottom: 13px
    & > li
      width: calc((100% - 20px) / 2)
      margin-right: 20px
      padding-bottom: 22px
      &:nth-of-type(2n)
        margin-right: 0
    &-item
      display: flex
      flex-direction: column
      align-items: center
      height: 100%
      padding: 20px 15px 26px
      background-color: #ffffff
      box-shadow: 0px 10px 30px 0px #eaebeb
      border-radius: 8px
      text-align: center
      transition: 0.4s ease-in-out
      &:hover
        box-shadow: 0px 10px 30px 0px darken(#eaebeb, 10%)
    &-icon
      width: 49px
      height: 49px
      img
        display: block
    &-title
      max-width: 160px
      padding-top: 16px
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
      font-weight: 600
  &__form
    .form
      padding-top: 19px
      padding-bottom: 20px
      background-color: #dfe1e1
      &__title
        margin-bottom: 5px
        font-size: 24px
        font-weight: 600
        text-align: center
      &__desc
        margin-bottom: 18px
        font-size: 16px
        font-weight: 600
        text-align: center
      &__item
        &--submit
          text-align: center
          .btn__wrap
            max-width: 290px
      .accept
        margin-top: 24px


  @media screen and (max-width: 1400px)
    .section_wr
      padding: 20px 25px 38px
    &__right
      margin-left: 30px
    &__feat
      &-title
        max-width: 150px
        padding-top: 16px
        font-size: 15px
      &-icon
        width: 44px
        height: 44px

  // max-width 1400px

  @media screen and (max-width: 1200px)
    .container
      padding-left: 15px
      padding-right: 15px

  // max-width 1200px

  @media screen and (max-width: 1070px)
    &__right
      width: 388px
    &__form
      .form
        &__title
          font-size: 20px
        &__desc
          margin-bottom: 12px
          font-size: 14px

  // max-width 1070px

  @media screen and (max-width: 900px)
    &__df
      display: block
    &__right
      display: flex
      flex-direction: column
      align-items: center
      width: 100%
      margin-left: 0
      padding-top: 20px
    &__feat
      & > li
        width: calc((100% - 40px) / 3)
        margin-right: 20px
        &:nth-of-type(2n)
          margin-right: 20px
        &:nth-of-type(3n)
          margin-right: 0

  // max-width 900px

  @media screen and (max-width: 767px)
    .section_wr
      padding: 20px 15px 28px

  // max-width 767px

  @media screen and (max-width: 500px)
    padding-top: 0
    padding-bottom: 0
    &__feat
      & > li
        width: calc((100% - 20px) / 3)
        margin-right: 10px
        padding-bottom: 12px
        &:nth-of-type(2n)
          margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 0
      &-item
        padding: 15px 7px 16px
        box-shadow: 0px 5px 10px 0px #d0d2d2
        &:hover
          box-shadow: 0px 5px 10px 0px #d0d2d2
      &-title
        font-size: 13px

  // max-width 500px

  @media screen and (max-width: 450px)
    &__feat
      & > li
        width: calc((100% - 10px) / 2)
        margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 10px
        &:nth-of-type(2n)
          margin-right: 0
      &-icon
        width: 35px
        height: 35px
    &__form
      width: calc(100% + 30px)
      margin-left: -15px
      .form
        padding: 35px 23px 35px
        &__title
          font-size: 17px
        &__desc
          font-size: 14px

  // max-width 450px

/* jobs */
