.buildings
  position: relative
  padding-top: 104px
  padding-bottom: 89px
  &__wrap
    position: relative
    margin-top: 30px
  &__slider
    overflow: hidden
    &-btns
      .swiper-button-prev,
      .swiper-button-next
        top: 108px
      .swiper-dots
        display: none
  &__img
    display: block
    text-decoration: none
    outline: none
    overflow: hidden
    height: 260px
    border-radius: 8px
    img
      transition: 0.4s ease-in-out
    &:hover
      img
        transform: scale(1.1)
  &__title
    display: block
    text-decoration: none
    outline: none
    padding-top: 23px
    font-size: 18px
    line-height: 1.2
    font-weight: 600
    text-align: center
    transition: 0.4s ease-in-out
    &:hover
      color: $accent


  @media screen and (max-width: 1300px)
    &__slider
      &-btns
        .swiper-button-prev
          left: -19px
        .swiper-button-next
          right: -19px

  // max-width 1300px

  @media screen and (max-width: 991px)
    padding-top: 54px
    padding-bottom: 59px
    &__slider
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          top: 88px
    &__img
      height: 210px

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-top: 30px
    padding-bottom: 30px

  // max-width 767px

  @media screen and (max-width: 575px)
    .page-title
      br
        display: none

  // max-width 575px

  @media screen and (max-width: 500px)
    &__slider
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          display: none
        .swiper-dots
          display: flex
          justify-content: center
    &__img
      height: 170px
    &__title
      padding-top: 13px
      font-size: 16px

  // max-width 500px

/* buildings */
