.ceo
  position: relative
  padding-top: 78px
  padding-bottom: 68px
  &__wrap
    columns: 2
    column-gap: 36px
    padding-top: 20px
    font-weight: 500


  @media screen and (max-width: 1170px)
    padding-top: 38px
    padding-bottom: 38px
    &__wrap
      column-gap: 20px
      padding-top: 10px

  // max-width 1170px

  @media screen and (max-width: 767px)
    padding-top: 30px
    padding-bottom: 30px
    &__wrap
      column-gap: 10px
      padding-top: 0
      font-size: 14px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__wrap
      columns: 1
      p
        margin-bottom: 10px
        &:last-of-type
          margin-bottom: 0

  // max-width 575px

/* ceo */
