.price
  position: relative
  padding-top: 35px
  padding-bottom: 51px
  &__wrap
    padding: 27px 50px 60px
  &__nav
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: calc(100% + 30px)
    margin-left: -15px
    margin-bottom: 36px
    & > li
      margin: 5px 15px
      & > a
        display: block
        text-decoration: none
        outline: none
        font-size: 17px
        font-weight: 600
        text-transform: uppercase
        text-align: center
        transition: 0.4s ease-in-out
        &:hover
          color: $accent
        &.active
          color: $accent
  &__title
    margin-top: 0
    margin-bottom: 16px
    font-size: 20px
    font-weight: 600
    text-transform: uppercase
    color: $accent
    text-align: center
  &__content
    padding: 5px 28px 32px
    background-color: #ffffff
    border-radius: 8px
  &__table
    margin-bottom: 27px
    table
      width: 100%
      border-collapse: collapse
      td
        padding: 12px 5px
        font-size: 16px
        font-weight: 500
        color: #000000
        &:first-of-type
          padding-left: 15px
        &:nth-of-type(n + 2)
          text-align: center
      thead
        td
          font-size: 18px
          font-weight: 600
          color: #333333
      tbody
        tr
          &:nth-of-type(2n + 1)
            background-color: #f6f7f7
  &__btns
    text-align: center
    .xbtn
      height: 51px


  @media screen and (max-width: 1600px)
    &__wrap
      padding: 27px 30px 40px
    &__content
      padding: 5px 18px 22px
    &__table
      table
        thead
          td
            font-size: 16px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    &__title
      font-size: 16px
    &__table
      table
        td
          font-size: 14px
        thead
          td
            font-size: 15px

  // max-width 1400px

  @media screen and (max-width: 1200px)
    &__wrap
      padding: 27px 20px 30px
    &__nav
      margin-bottom: 26px
      & > li
        margin: 5px 10px
        & > a
          font-size: 15px

  // max-width 1200px

  @media screen and (max-width: 991px)
    padding-top: 30px
    padding-bottom: 30px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__title
      font-size: 14px
    &__nav
      margin-bottom: 20px
      & > li
        margin: 3px 7px
        & > a
          font-size: 13px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__wrap
      width: calc(100% + 30px)
      margin-left: -15px
      padding: 22px 10px 20px
    &__table
      table
        td
          padding: 11px 5px
          font-size: 13px
          &:first-of-type
            padding-left: 5px
        thead
          td
            font-size: 14px
    &__nav
      flex-wrap: nowrap
      justify-content: flex-start
      overflow: auto
      width: 100%
      margin-left: 0
      margin-bottom: 16px
      padding-bottom: 5px
      & > li
        margin: 3px 10px
        & > a
          font-size: 13px
          white-space: nowrap

  // max-width 575px

  @media screen and (max-width: 500px)
    &__table
      max-width: 100%
      overflow: auto
      table
        width: 475px

  // max-width 500px

/* price */
