.company
  position: relative
  padding-top: 37px
  padding-bottom: 36px
  &__df
    display: flex
    max-width: 952px
    border-radius: 8px
    background-color: #ffffff
  &__content
    flex-grow: 1
    padding: 44px 18px 47px 50px
    font-weight: 500
    p
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
  &__img
    flex-shrink: 0
    width: 408px
    height: 286px
    margin-top: -7px
    margin-bottom: -10px
    margin-right: -249px


  @media screen and (max-width: 1170px)
    &__img
      margin-right: -159px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__content
      padding: 34px 18px 37px 30px
    &__img
      width: 338px
      height: 226px
      margin-right: -119px

  // max-width 1070px

  @media screen and (max-width: 767px)
    &__df
      flex-direction: column
      align-items: center
      padding-bottom: 20px
    &__img
      max-width: 100%
      margin-top: 10px
      margin-bottom: 0
      margin-right: 0
      height: auto
    &__content
      font-size: 14px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 30px
    padding-bottom: 30px

  // max-width 575px

  @media screen and (max-width: 400px)
    &__df
      width: calc(100% + 30px)
      margin-left: -15px

  // max-width 400px

/* company */
