.map
  position: relative
  padding-top: 25px
  .page-title
    margin-bottom: 32px
  &__wrap
    height: 748px


  @media screen and (max-width: 1600px)
    &__wrap
      height: 600px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    &__wrap
      height: 450px

  // max-width 1400px

  @media screen and (max-width: 991px)
    &__wrap
      height: 380px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__wrap
      height: 310px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__wrap
      height: 250px

  // max-width 575px

/* map */
