.about
  position: relative
  padding-top: 90px
  padding-bottom: 77px
  &__df
    display: flex
    max-width: 883px
    margin-left: auto
    margin-right: auto
    border-radius: 8px
    background-color: #ffffff
  &__content
    flex-grow: 1
    padding: 76px 0 20px 54px
    font-weight: 500
    p
      margin-bottom: 20px
    cite
      display: flex
      justify-content: flex-end
      padding-top: 15px
      font-style: normal
      & > span
        display: block
      b
        display: block
        margin-bottom: 12px
        font-size: 18px
        line-height: 1.33
        font-weight: 600
      span span
        display: block
        font-size: 14px
        font-weight: 500
  &__img
    flex-shrink: 0
    width: 271px
    height: 494px
    margin-top: -47px
    margin-right: -163px
    img
      display: block
  &__video
    height: 430px
  &--page
    padding-top: 41px
    padding-bottom: 45px
    .container
      max-width: 1776px
      padding-left: 70px
      padding-right: 70px
  &__wrap
    border-radius: 6px
    padding: 34px 49px 48px 53px
    &-df
      display: flex
      .about__df
        flex-grow: 1
        // width: 55.35248041775457%
      .about__img
        margin-top: -60px
        margin-right: -93px
      .about__content
        padding: 36px 0 20px 44px
  &__slider
    overflow: hidden
    &-wrap
      position: relative
      flex-shrink: 0
      width: 42.75456919060052%
      margin-right: 29px
    &-btns
      .swiper-button-prev,
      .swiper-button-next
        background-color: #fff
      .swiper-button-prev
        left: -21px
      .swiper-button-next
        right: -21px
      .swiper-dots
        display: none
  &__feat
    margin: 0
    padding: 0
    list-style: none
    display: flex
    padding-top: 36px
    & > li
      width: calc((100% - 100px) / 3)
      margin-right: 50px
      &:nth-of-type(3n)
        margin-right: 0
    &-item
      height: 100%
      padding: 19px 28px 39px 34px
      background-color: #ffffff
      box-shadow: 0px 10px 30px 0px #eaebeb
      border-radius: 8px
    &-top
      display: flex
      align-items: center
      margin-bottom: 29px
    &-img
      flex-shrink: 0
      position: relative
      margin-right: 25px
      margin-left: -10px
      width: 99px
      height: 99px
      img
        position: absolute
        top: -5px
        right: -16px
        display: block
        width: 129px
    &-title
      margin-top: 0
      margin-bottom: 0
      font-size: 30px
      line-height: 1.2 /* 36 / 30 */
      font-weight: 600
    &-text
      font-weight: 500
      p
        margin-bottom: 23px
        &:last-of-type
          margin-bottom: 0


  @media screen and (max-width: 1600px)
    &__feat
      & > li
        width: calc((100% - 50px) / 3)
        margin-right: 25px
        &:nth-of-type(3n)
          margin-right: 0
      &-item
        padding: 19px 18px 29px 24px
      &-title
        font-size: 24px
      &-text
        font-size: 14px

  // max-width 1600px

  @media screen and (max-width: 1450px)
    &__wrap
      &-df
        .about__content
          padding: 26px 0 20px 34px
          font-size: 14px
    &__slider
      &-wrap
        width: 38.754569%
        margin-right: 19px

  // max-width 1450px

  @media screen and (max-width: 1170px)
    &__content
      padding: 46px 0 20px 34px
    &__img
      margin-right: -113px

  // max-width 1170px

  @media screen and (max-width: 1200px)
    &--page
      .container
        padding-left: 15px
        padding-right: 15px
    &__feat
      & > li
        width: calc((100% - 20px) / 3)
        margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 0
      &-img
        margin-right: 15px
        margin-left: 4px
        width: 79px
        height: 79px
        img
          width: 109px
      &-title
        font-size: 19px
      &-text
        font-size: 13px
        p
          margin-bottom: 13px

  // max-width 1200px

  @media screen and (max-width: 991px)
    padding-top: 50px
    padding-bottom: 40px
    &__content
      font-size: 14px
    &__img
      margin-right: -83px
    &__wrap
      padding: 28px 39px 31px 33px
      &-df
        flex-direction: column
        align-items: center
    &__slider
      &-wrap
        width: 450px
        max-width: 100%
        margin-right: 0
        margin-bottom: 50px
    &__video
      height: 270px
    &--page
      padding-top: 30px

  // max-width 991px

  @media screen and (max-width: 900px)
    &__feat
      display: block
      & > li
        width: 100%
        margin-right: 0
        margin-bottom: 10px
        &:last-of-type
          margin-bottom: 0

  // max-width 900px

  @media screen and (max-width: 767px)
    &__content
      padding: 26px 0 20px 24px
      border: 3px solid #e5e5e5
      blockquote
        p
          font-style: italic
      cite
        padding-top: 5px
        b
          margin-bottom: 3px
          font-size: 16px
        span span
          font-size: 13px
    &__img
      width: 251px
      height: 454px
      margin: 20px auto 2px
      order: -1
    &__df
      flex-direction: column
    &__wrap-df
      .about__img
        margin-top: 30px
        margin-right: auto
    &__slider
      &-wrap
        margin-bottom: 30px
      &-btns
        .swiper-button-prev
          left: -14px
        .swiper-button-next
          right: -14px

  // max-width 767px

  @media screen and (max-width: 500px)
    padding-top: 30px
    padding-bottom: 30px
    &__content
      padding-right: 20px
      padding-left: 20px
      font-size: 13px
    &__wrap
      width: calc(100% + 30px)
      margin-left: -15px
      padding-left: 15px
      padding-right: 15px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__feat
      &-title
        font-size: 17px

  // max-width 400px

/* about */
