.scr1
  position: relative
  min-height: 820px
  z-index: 1
  .bg-img
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)

    display: block
    width: 100%
    min-width: 1920px
    height: 830px
    background: transparent url('../img/bg-scr1.png') no-repeat top center
    background-size: cover
    z-index: -1

  .desc
    font-size: 18px
    line-height: 1.33333333 /* 24px / 18px */
    letter-spacing: 0.1em
    text-align: center

  .btns__wrap
    padding-top: 48px

  /* media */
  @media screen and (max-width: 1170px)
    .bg-img
      left: auto
      right: 0
      transform: translateX(0)

      width: 1206px
      min-width: 1206px
      background: transparent url('../img/bg-scr1--medium.png') no-repeat top right

  // max-width 1170px

  @media screen and (max-width: 992px)
    .bg-img
      background-image: url('../img/bg-scr1--mobile.png')
      height: 100%
    .desc
      font-size: 16px
  // max-width 992px

  @media screen and (max-width: 768px)
    padding-bottom: 130px
    min-height: 0
    .desc
      font-size: 14px

  // max-width 768px

  @media screen and (max-width: 650px)
    padding-bottom: 40px
  // max-width 650px

  @media screen and (max-width: 500px)
    .desc
      br
        display: none

  // max-width 500px

/* scr1 */
