::selection
  background-color: $accent
  color: #fff

*
  margin: 0
  padding: 0

html, body
  max-width: 100%
  overflow-x: hidden

body
  position: relative
  width: 100%
  height: 100%
  min-height: 320px

  font-family: $font
  font-size: 16px
  line-height: 1.5 /* 24px / 16px */
  font-weight: 400
  color: $body-color

  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

  &.disabled
    overflow: hidden
    max-height: 100vh

.page_wr
  flex-grow: 1

.content-wrap
  position: relative
  overflow: hidden
  z-index: 1
  &::before
    content: ''
    position: absolute
    left: -140px
    bottom: -109px

    display: block
    width: 581px
    height: 762px
    background: transparent url('../img/decor-second.png') no-repeat center center
    background-size: contain
    z-index: -1
  &--right
    &::before
      left: auto
      right: -20px

img
  width: 100%
  height: auto
  border: none

[data-object-fit-cover]
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color

.blur-it
  filter: blur(4px)

.accent
  color: $accent

.grey-bg
  background-color: #f8f8f8

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  p
    margin-bottom: 15px
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      text-decoration: underline

  img
    width: auto
    max-width: 100%
    height: auto
    display: block
    &.alignleft
      float: left
      margin: 0 20px 10px 0
    &.alignright
      float: right
      margin: 0 0 10px 20px
    &.aligncenter
      margin: 0 auto
  ul,
  ol
    list-style-type: none
    padding-bottom: 1.5em
    padding-left: 0
    padding-right: 1.5em
  ul li,
  ol li
    position: relative
    transform: translateX(1.5em)
    font-size: 18px
    line-height: 1.5
    font-weight: 400
    &::before
      content: '•'
      position: absolute
      top: 0
      left: -10px

      font-size: 18px
      color: $accent2
      font-weight: 700

  h2,h3,h4
    line-height: 1.2
    font-weight: 500
  h2
    margin-top: 35px
    margin-bottom: 20px
    font-size: 18px
  h3
    margin-top: 25px
    margin-bottom: 15px
    font-size: 16px
  h4
    margin-top: 20px
    margin-bottom: 10px
    font-size: 14px

.clearfix
  &::after
    display: table
    clear: both
    content: ""

.title
  position: relative
  padding: 0
  margin: 0
  padding-left: 33px
  font-size: 40px
  line-height: 1.2
  font-weight: 400
  text-transform: uppercase
  color: $accent
  &::before
    content: ''
    position: absolute
    top: calc(50% - 35px)
    left: 0

    display: block
    width: 4px
    height: 69px
    background-color: #e63c23
    border-radius: 2.0px

.title2
  font-size: 24px
  line-height: 1.2
  font-weight: 600
  color: #666666
  text-align: center

.desc
  padding-left: 12px
  font-size: 24px
  line-height: 1.2
  font-weight: 600
  &--second
    padding-left: 0

.icon
  max-width: 100%
  max-height: 100%
  fill: $icon
  transition: 0.5s

.link
  transition: 0.3s
  text-decoration: none
  outline: none
  &--arrow
    position: relative
    display: inline-block
    padding-right: 20px
    font-size: 14px
    font-weight: 600
    color: $accent2
    &::after
      content: '\f054'
      position: absolute
      top: 2px
      right: 0

      display: block
      font-family: 'FontAwesome'
      font-weight: 300
      font-size: 12px
      transition: 0.3s
    &:hover
      &::after
        right: -3px

.btn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  cursor: pointer
  text-decoration: none
  transition: 0.5s
  -webkit-appearance: none

  display: inline-block
  padding: 14px 28px
  background-color: $accent2
  border-radius: 25.0px
  font-size: 13px
  font-weight: 700
  text-transform: uppercase
  color: #ffffff
  border: 2px solid $accent2
  &:hover
    background-color: #fff
    color: $accent2

input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.btn
  &--arrow
    width: auto
    height: auto
    background: none
    border: none
    padding: 0
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.1em
    vertical-align: middle
    color: #feffff
    &:hover
      background: none
      color: #feffff
      &::after
        transform: translateX(3px)
    &::after
      content: ''

      display: inline-block
      width: 15px
      height: 11px
      margin-left: 19px
      background: transparent url('../img/svg/arrow.svg') no-repeat center center
      background-size: contain
      transition: 0.3s

.burger
  flex-shrink: 0
  position: relative
  background: none
  outline: none
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  width: 25px
  height: 25px
  &__wrap
    position: relative
    transition: 0.3s

    z-index: 100
    display: block

  &.active
    .burger__wrap
      .line
        transform: translate(-50%,-50%) rotate(45deg)
        background-color: $accent
        &:before,
        &:after
          transform: translateX(0) rotate(-90deg)
          background-color: $accent
    &:hover
      .burger__wrap
        transform: scale(1.1)
        .line
          &,
          &::after,
          &::before
            background-color: $accent

  .line
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    &,
    &::after,
    &::before
      position: absolute
      display: block
      width: 20px
      height: 2px
      background-color: $accent2
      transition: 0.2s ease-in-out

    &::after,
    &::before
      content: ''
      left: 0
    &::before
      transform: translateY(-7px)
    &::after
      transform: translateY(7px)

.video
  position: absolute
  display: flex
  align-items: flex-end
  text-decoration: none
  &__play
    position: relative
    width: 58px
    height: 58px
    margin-bottom: -3px
    margin-left: -5px
    background-color: $accent2
    background-image: $grad
    border-radius: 50%
    transition: 0.3s
    &::before
      content: ''
      position: absolute
      top: calc(50% - 8px)
      left: calc(50% - 6px)

      display: block
      width: 0
      height: 0
      border-top: 8px solid transparent
      border-left: 13px solid #ffffff
      border-bottom: 8px solid transparent
  &:hover
    .video__play
      background-color: #04528a
      background-image: $grad2

.colored
  &__list
    margin: 0
    padding: 0
    list-style: none

    display: flex
    flex-wrap: wrap
  &__item
    width: calc(100% / 3)
    min-height: 337px
    overflow: hidden
    img
      display: block
      width: 100%
      height: 100%
      transition: 1.3s
    &:not(.colored__item--img)
      padding: 20px 50px 40px 59px
      display: flex
      flex-direction: column
      justify-content: center
    &:nth-of-type(6n)
      background-color: #9fc53c
    &:nth-of-type(6n + 2)
      background-color: #04538b
    &:nth-of-type(6n + 4)
      background-color: $accent2
    &:nth-of-type(10n)
      background-color: #9fc53c
    &:nth-of-type(12n)
      background-color: $accent2
    &:hover
      img
        transform: scale(1.1)

  &__title
    margin-bottom: 20px
    font-size: 24px
    line-height: 1.2
    font-weight: 600
    color: #ffffff
  &__text
    font-size: 14px
    line-height: 1.428571428571429 /* 20 / 14 */
    font-weight: 400
    color: #ffffff

.tabs-nav
  &__list
    margin: 0
    padding: 0
    list-style: none

    display: flex
    flex-wrap: wrap
    margin-top: 52px
    margin-bottom: 17px
  &__item
    margin-right: 13px
    margin-bottom: 17px
    &:last-of-type
      margin-right: 1px
    a
      display: flex
      align-items: center
      justify-content: center
      text-decoration: none
      outline: none
      min-width: 210px
      height: 59px
      padding-right: 25px
      padding-left: 25px
      text-align: center
      white-space: nowrap

      background-color: $accent
      border: 2.0px solid $accent
      border-radius: 29.5px
      font-size: 20px
      font-weight: 600
      text-transform: uppercase
      color: #ffffff
      transition: 0.3s
      &:hover
        background-color: #fff
        color: $accent
    &.active
      a
        background-color: #fff
        color: $accent



/* Переопределение стилей yandex map */
[class$='-controls-pane']
  display: none

/* Переопределение стилей slick */
.slick-slide
  -webkit-backface-visibility: hidden
  outline: none

.slick-arrow
  background: none
  border: none
  outline: none

  position: absolute
  top: calc(50% - 10px)

  z-index: 100
  cursor: pointer
  font-size: 0
  transition: 0.3s

  display: block
  width: 20px
  height: 20px
  &::before
    content: ''
    position: absolute
    top: calc(50% - 5px)
    left: calc(50% - 5px)

    display: block
    width: 10px
    height: 10px
    border-bottom: 3px solid #033a62
    border-left: 3px solid #033a62


.slick-prev
  left: -10px
  &::before
    transform: rotate(45deg)


.slick-next
  right: -10px
  &::before
    transform: rotate(-135deg)


.slick-dots
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  font-size: 0
  li
    button
      position: relative
      background: none
      border: none
      outline: none

      display: block
      width: 10px
      height: 10px
      margin: 0 5px
      background-color: $accent
      transition: 0.3s
      border-radius: 50%

    &.slick-active
      button
        background-color: $accent2

    &:not(.slick-active)
      button
        cursor: pointer

.slider1
  position: relative

/* Переопределение bootstrap */
@media (min-width: 1200px)
  .container
    max-width: 1170px

/* media */
@media screen and (max-width: 1500px)
  .content-wrap
    &::before
      left: -200px
    &--right
      &::before
        left: auto
        right: -100px

// max-width 1500px

@media screen and (max-width: 1300px)
  .content-wrap
    &::before
      left: -300px
    &--right
      &::before
        left: auto
        right: -100px

// max-width 1300px

@media screen and (max-width: 1200px)
  .container
    max-width: 100%

// max-width 1200px

@media screen and (max-width: 1070px)
  .tabs-nav
    &__list
      margin-top: 32px
    &__item
      a
        min-width: 190px
        height: 53px
        padding-right: 18px
        padding-left: 18px
        font-size: 16px

// max-width 1070px

@media screen and (max-width: 992px)
  .colored
    &__item
      min-height: 287px
      &:not(.colored__item--img)
        padding: 48px 40px 30px 39px
    &__title
      margin-bottom: 16px
      font-size: 22px

  .content-wrap
    &::before
      width: 366px
      height: 702px
      left: -250px
    &--right
      &::before
        left: auto
        right: -100px

  .tabs-nav
    &__item
      a
        min-width: 160px
        height: 49px
        padding-right: 16px
        padding-left: 16px
        font-size: 14px

// max-width 992px

@media screen and (max-width: 820px)
  .colored
    &__item
      min-height: 257px
      &:not(.colored__item--img)
        padding: 38px 20px 30px 20px

// max-width 820px

@media screen and (max-width: 768px)
  .title
    padding-left: 26px
    font-size: 26px
    &::before
      top: calc(50% - 25px)
      height: 50px

  .colored
    &__item
      min-height: 220px
      &:not(.colored__item--img)
        padding: 18px 20px 20px 20px
    &__title
      margin-bottom: 12px
      font-size: 18px
    &__text
      font-size: 13px
      line-height: 1.4
  .article
    ul li,
    ol li
      font-size: 15px

  .tabs-nav
    &__item
      margin-right: 7px
      a
        min-width: 140px
        height: 44px
        font-size: 13px

// max-width 768px

@media screen and (max-width: 700px)
  .colored
    &__item
      min-height: 0
      padding: 10px !important
      background: none !important
      &.colored__item--img
        display: none
      &:not(.colored__item--img)
        justify-content: flex-start
    &__text
      color: #000
    &__title
      color: #000
  .desc
    font-size: 19px

// max-width 700px

@media screen and (max-width: 576px)
  .colored
    &__item
      width: calc(100% / 2)
  .slick-dots
    li
      button
        width: 7px
        height: 7px
        margin: 0 3px

  .content-wrap
    &::before
      width: 336px
      height: 642px
      left: -200px
      opacity: 0.4
    &--right
      &::before
        left: auto
        right: -150px

// max-width 576px

@media screen and (max-width: 500px)
  .desc
    font-size: 16px
  .colored
    &__title
      margin-bottom: 8px
      font-size: 14px
    &__text
      font-size: 12px
      line-height: 1.3
  .title
    font-size: 22px

  .tabs-nav
    &__list
      flex-direction: column
    &__item
      margin-right: 0
      margin-bottom: 4px
      width: 100%

// max-width 500px

@media screen and (max-width: 400px)
  .title
    padding-left: 16px
    font-size: 19px
    br
      display: none
    &::before
      top: calc(50% - 20px)
      width: 3px
      height: 40px
  .article
    ul li,
    ol li
      font-size: 14px

// max-width 400px
