$b: #04528a
$r: #e63c23

$accent: $b
$accent2: $r

$icon: $accent2
$body-color: #666666

$grad: linear-gradient(34.0deg, rgba(#17509a,0.6) 7%, transparent 68%)
$grad2: linear-gradient(34.0deg, rgba($accent2,0.6) 7%, transparent 68%)

$font: 'Panton', sans-serif

$form-font: 'Panton', sans-serif
$title-font: 'Panton', sans-serif

/* Миксин замены цвета placeholder у input. Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000, 14px) */
@mixin placeholder($color,$size)
  &::-webkit-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &::-moz-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &:-ms-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font

