.pager
  position: relative
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  padding-top: 46px
  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    & > li
      position: relative
      line-height: 1.2
      transition: 0.3s

      .page-numbers, .prev, .next
        display: block
        text-decoration: none
        outline: none
      .page-numbers:not(.prev):not(.next)
        position: relative
        padding-left: 18px
        padding-right: 18px

        font-family: $font2
        font-size: 16px
        line-height: 1.2

        transition: 0.3s

        &.current
          color: $accent
      .prev,
      .next
        display: flex
        align-items: center
        justify-content: center
        width: 49px
        height: 49px
        border: 1.0px solid #b3ad99
        transition: 0.3s
        .icon
          width: 6px
          height: 11px
          fill: #000
        &:hover
          background-color: $accent
          .icon
            fill: #fff
      .prev
        margin-right: 105px
        .icon
          transform: rotate(180deg)
      .next
        margin-left: 105px


  @media screen and (max-width: 991px)
    padding-top: 26px

  // max-width 991px

  @media screen and (max-width: 767px)
    ul
      flex-wrap: wrap
      & > li
        .prev
          margin-right: 60px
        .next
          margin-left: 60px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 16px
    ul
      & > li
        .page-numbers:not(.prev):not(.next)
          padding-left: 10px
          padding-right: 10px
        .prev,
        .next
          width: 35px
          height: 35px
        .prev
          margin-right: 40px
        .next
          margin-left: 40px

  // max-width 575px

 /* paginator */
