mixin scr1()
  section.scr1(id="scr1")
    .scr1__cloud
    .container
      .scr1__df
        aside.scr1__socials
          +socials

        .scr1__content
          .scr1__info
            p.scr1__desc GREEN HALL — это европейское качество строительства,
              br
              |  высокий уровень комфорта и развитая инфраструктура

            h1.scr1__title
              strong Апартаменты премиум класса
                br
                |  на набережной Ялты
              br
              |  с шикарным видом прямо на море

            .scr1__btns
              .btn__wrap.btn__wrap--brown
                a.xbtn.xbtn--brown.open-modal(href="#") Подобрать апартаменты
              .btn__wrap.btn__wrap--blue
                a.xbtn.xbtn--blue.open-modal(href="#") Скачать презентацию

          a.scr1__tour(href="#")
            span.scr1__tour-text Смотреть 3D тур
              br
              |  по объекту

            span.scr1__tour-btn
              img(src="img/svg/icons/rotate-camera.svg" alt="")

  // /.scr1
