mixin scr2()
  section.scr2(id="scr2")
    .container
      ul.scr2__feat
        li
          .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s")
            span.scr2__feat-num.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.8s") 1

            h3 Премиум расположение
            .scr2__feat-text
              p Комплекс расположен на первой линии набережной Ялты, в шаговой доступности от моря, в центре Приморского парка
        li
          .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s")
            span.scr2__feat-num.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="1s") 2

            h3 Панорамный вид
            .scr2__feat-text
              p Из окна своего апартамента
                br
                |  Вы сможете любоваться
                br
                |  великолепным видом на
                br
                |  ялтинское побережье
        li
          .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s")
            span.scr2__feat-num.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="1.2s") 3

            h3 Премиум расположение
            .scr2__feat-text
              p Оригинальность зданию придаёт
                br
                |  форма балконов имеющая
                br
                |  плавную округлую линию
                br
                |  по образу морской волны

      .scr2__wrap
        h2.page-title В здании запроектировано:

        ul.scr2__list
          li.scr2__item
            span.scr2__num
              strong 49
            span.scr2__text Апартаментов премиум класса с&nbsp;панорамным видом на набережную

          li.scr2__item
            span.scr2__num
              strong 4000
              |  м
              sup 2
            span.scr2__text Общая площадь всех апартаментов в&nbsp;ЖК «GREEN HALL»

          li.scr2__item
            span.scr2__num
              strong 55
              |  м
              sup 2
            span.scr2__text Площадь апартаментов от 55 м
              sup 2
              br
              |  с возможностью объединения

          li.scr2__item
            span.scr2__num
              strong 3500
              |  $
            span.scr2__text Стоимость апартаментов начинается от&nbsp;3&nbsp;500&nbsp;$ за м
              sup 2

          li.scr2__item
            span.scr2__num
              strong 15
            span.scr2__text Парковочных мест в многоуровневом паркинге внутри здания

          li.scr2__item
            span.scr2__num
              strong 1
              |  этаж
            span.scr2__text Первый этаж комплекса отдан под&nbsp;коммерческую недвижимость


  // /.scr2
