mixin scr_servs()
  section.scr_servs.servs.prod--page(id="scr_servs")
    .container
      h1.page-title Услуги

      ul.tabs__nav.tabs__nav--js
        li.current
          a(href="#servs__tab-0") ремонт квартир
        li
          a(href="#servs__tab-1") дизайн интерьера
        li
          a(href="#servs__tab-2") оформление документов

      ul.servs__tabs
        li.servs__tab#servs__tab-0
          .servs__item.decor-wrap.clearfix
            .servs__img
              img(src="img-temp/serv-img.jpg" alt="" data-object-fit-cover)
            .servs__content
              h3.servs__title Описание объекта и работ:
              .servs__text
                p Задача организации, в особенности же новая модель организационной деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.

                p Мы вынуждены отталкиваться от того, что новая модель организационной деятельности представляет собой интересный эксперимент проверки стандартных подходов. Банальные, но неопровержимые выводы, а также элементы политического процесса функционально разнесены на независимые элементы. Стремящиеся вытеснить традиционное производство, нанотехнологии освещают чрезвычайно интересные особенности картины в целом.
        li.servs__tab#servs__tab-1
          .servs__item.decor-wrap.clearfix
            .servs__img
              img(src="img-temp/serv-img.jpg" alt="" data-object-fit-cover)
            .servs__content
              h3.servs__title Описание объекта и работ:
              .servs__text
                p Задача организации, в особенности же новая модель организационной деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.

                p Мы вынуждены отталкиваться от того, что новая модель организационной деятельности представляет собой интересный эксперимент проверки стандартных подходов. Банальные, но неопровержимые выводы, а также элементы политического процесса функционально разнесены на независимые элементы. Стремящиеся вытеснить традиционное производство, нанотехнологии освещают чрезвычайно интересные особенности картины в целом.

  // /.scr_servs
