mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .container
      .insta__top
        h2.page-title Мы в Инстаграм
        a.insta__link(href="#") #апартаментыгринхолл

      ul.insta__list
        li
          a.insta__item.fancybox.img-link.img-link--big(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
            img(src="img-temp/insta/img-1.jpg" alt="" data-object-fit-cover)
        li
          a.insta__item.fancybox.img-link.img-link--big(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
            img(src="img-temp/insta/img-2.jpg" alt="" data-object-fit-cover)
        li
          a.insta__item.fancybox.img-link.img-link--big(href="img-temp/insta/img-3.jpg" data-fancybox-group="insta")
            img(src="img-temp/insta/img-3.jpg" alt="" data-object-fit-cover)
        li
          a.insta__item.fancybox.img-link.img-link--big(href="img-temp/insta/img-4.jpg" data-fancybox-group="insta")
            img(src="img-temp/insta/img-4.jpg" alt="" data-object-fit-cover)

  // /.scr_insta
