mixin scr_company()
  section.scr_company.company(id="scr_company")
    .container
      h1.page-title О застройщике

      .company__df.clearfix
        .company__img
          .company__img-wrap
            img(src="img/company-top.jpg" alt="" data-object-fit-cover)

        .company__info
          h2.company__title ООО «Центринвест»

          .company__text
            p
              b Основным видом деятельности ООО«Центринвест» является строительство и продажа элитных объектов недвижимости.

            p
              b Компания работает на рынке 19 лет, имеет 2 филиала в Республике Крым, принимает участие в торгах и заключает государственные контракты.

            p Сильная, уверенная в себе компания, легко проявила себя на рынке, подтвердила свой заслуженный статус надежности, которой составляет 76 % и входит в 3-ку лидеров по категории купля - продажа жилых и не жилых зданий, сооружений и помещений.

            p Мы предлагаем Вашему вниманию самые живописные места на Южном берегу Крыма, где расположены уникальные объекты построенные компанией ООО«Центринвест», которые стремительно набирают свою популярность:

      ul.company__list
        li
          a.company__item(href="#")
            b ЖК «Лето»
            br
            |  (премиум-класс)
        li
          a.company__item(href="#")
            b ЖК «Лотос»
            br
            |  (класс-престиж)
        li
          a.company__item(href="#")
            b «Парус»
            br
            |  (апарт-отель)
        li
          a.company__item(href="#")
            b «Wellness &amp;’ SPA»
            br
            |  (SPA-отель)
        li
          a.company__item(href="#")
            b «ФабрикантЪ»
            br
            |  (ресторан с собственной пивоварней)
        li
          a.company__item(href="#")
            b «Green Hall»
            br
            |  (первая береговая линия)
        li
          a.company__item(href="#")
            b «Набережная»
            br
            |  (на берегу «Приморского пляжа»)
        li
          a.company__item(href="#")
            b «Приморский парк»
            br
            |  (инфраструктура)

      ul.company__feat
        li
          .article
            p
              strong Личный контроль всех этапов работы с объектами проводят наши лучшие специалисты.
        li
          .article
            p
              strong Отдельно работает отдел в сфере проектирования и возведения объектов в элитных поселках.
        li
          .article
            p
              strong Юридический отдел предлагает Вам:
            ul
              li Грамотное составление и оформление всех документов;
              li Юридическое и нотариальное сопровождение;
              li Правовая помощь при продаже недвижимости;
              li Быстрое обслуживание и правильно расставленные      приоритеты.

      .company__add
        .company__left
          p Не сомневайтесь, наша компания ООО«Центринвест» поможет сделать правильный выбор коммерческой недвижимости, объектов первичного рынка.

          p Вы сможете реально увидеть и оценить апартаменты в лучших комплексах, коттеджах или элитных поселках, создать для себя удобства не прилагая лишних усилий.

          p Наша компания ООО «Центринвест» ценит ваше время, следит за Вашим комфортом и гарантирует уверенность в завтрашнем дне.

        .company__right
          p Звоните по номеру
            a(href="tel:+79788177717" rel="nofollow")  +7 (978) 817-77-17
            |  уже сейчас или пишите на почту
            a(href="mailto:ffice@primapark.com" rel="nofollow")  ffice@primapark.com
            |  чтоб узнать подробности. Получите актуальную подборку свободных апартаментов.

  // /.scr_company
