mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      .prod__cont
        h2.page-title Апартаменты под любые предпочтения

        .prod__wrap
          .prod__slider#prod__slider
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              .swiper-slide
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              .swiper-slide
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              .swiper-slide
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              .swiper-slide
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

          .prod__slider-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

  // /.scr_prod

mixin scr_prod--page()
  section.scr_prod.prod.prod--page(id="scr_prod")
    .container
      .prod__cont
        h2.page-title Апартаменты под любые предпочтения

        ul.tabs__nav.tabs__nav--js
          li.current
            a(href="#prod__tab-0") апартаменты
          li
            a(href="#prod__tab-1") коммерческая недвижимость
          li
            a(href="#prod__tab-2") паркинг

        ul.prod__tabs
          li.prod__tab#prod__tab-0
            ul.prod__list
              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.
              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.
              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

            +paginator
          li.prod__tab#prod__tab-1
            ul.prod__list
              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.

              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.
              li
                .prod__item
                  .prod__top
                    a.prod__img.img-link(href="#")
                      img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                    .prod__btns
                      button.xbtn.xbtn--circle.prod__like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#like")

                  .prod__main
                    .prod__content
                      a(href="#")
                        h3 Апартаменты с видом на море

                      table
                        tbody
                          tr
                            td Этаж:
                            td 3
                          tr
                            td Площадь:
                            td 55 м
                              sup 2
                          tr
                            td Окна выходят:
                            td на море

                    p.prod__price 5 256 000 руб.


            +paginator

  // /.scr_prod
