mixin scr_advts()
  section.scr_advts.advts(id="scr_advts")
    .container
      ul.advts__list
        li.advts__item
          .advts__content
            h3.page-title Терраса с выходом на&nbsp;пальмовую аллею

            .advts__text
              p Из-за большого перепада высот на участке, было принято решение обустроить две входные группы. Одна расположена на уровне набережной. Вторая на уровне пальмовой аллее, со стороны Приморского парка. Этаж на уровне пальмовой аллеи имеет открытую террасу, благодаря чему со стороны «Приморского парка» открывается вид на море и зданию придается легкость

            .advts__btns
              .btn__wrap.btn__wrap--brown
                a.xbtn.xbtn--brown(href="#") Прогуляться по аллее

          .advts__img
            img(src="img/advantages/img-1.jpg" alt="" data-object-fit-cover)

        li.advts__item
          .advts__content
            h3.page-title Апартаменты на первой линии набережной

            .advts__text
              p Расположен комплекс с апартаментами «GREEN HALL» на первой линии на набережной, в шаговой доступности от моря, в центре Приморского парка имени Юрия Гагарина, территория которого занимает 2 кв.км и является естественным продолжением Ялтинской набережной.

            .advts__btns
              .btn__wrap.btn__wrap--brown
                a.xbtn.xbtn--brown(href="#") Прогуляться по набережной

          .advts__img
            img(src="img/advantages/img-2.jpg" alt="" data-object-fit-cover)

        li.advts__item
          .advts__content
            h3.page-title Образ морской волны в&nbsp;архитектуре здания

            .advts__text
              p Оригинальность зданию придаёт форма балконов имеющая плавную округлую линию. За основу взят образ морской волны.

            .advts__btns
              .btn__wrap.btn__wrap--brown
                a.xbtn.xbtn--brown(href="#") Вдохновиться дизайном

          .advts__img
            img(src="img/advantages/img-3.jpg" alt="" data-object-fit-cover)

        li.advts__item
          .advts__content
            h3.page-title Смотровая площадка на 6 этаже комплекса

            .advts__text
              p Квартиры в «GREEN HALL», являются показателем статусности жильцов. Из окон открываются панорамные виды на горы и море, а прямо на крыше будет размещен фитнес-центр с бассейном

            .advts__btns
              .btn__wrap.btn__wrap--brown
                a.xbtn.xbtn--brown(href="#") Прогуляться по смотровой

          .advts__img
            img(src="img/advantages/img-4.jpg" alt="" data-object-fit-cover)

  // /.scr_advts
