mixin scr_cases()
  section.scr_cases.cases(id="scr_cases")
    .container
      h2.page-title За 16 лет работы мы сдали в эксплуатацию
        br
        |  более 10 объектов

      .cases__df
        span.scr2__feat-bird1.js-parallax
          img(src="img/bird-2.png" alt="")

        .cases__wrap
          .cases__slider#cases__slider
            .swiper-wrapper
              .swiper-slide
                a.cases__item.fancybox(href="img-temp/prod-img.jpg")
                  .cases__img
                    img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                  .cases__title Ресторан «Фабрикант»
              .swiper-slide
                a.cases__item.fancybox(href="img-temp/prod-img.jpg")
                  .cases__img
                    img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                  .cases__title Ресторан «Фабрикант»
              .swiper-slide
                a.cases__item.fancybox(href="img-temp/prod-img.jpg")
                  .cases__img
                    img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                  .cases__title Ресторан «Фабрикант»

          .cases__slider-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

        ul.scr2__feat
          li
            .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s")
              h3 16
                br
                span  лет работы

              .scr2__feat-text
                p Больше 16 лет на рынке недвижимости премиум
                  br
                  |  класса

          li
            .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s")
              h3 10
                br
                span  объектов

              .scr2__feat-text
                p Уже сданы в эксплуатацию и&nbsp;заселены

          li
            .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s")
              h3 0
                br
                span  просрочек

              .scr2__feat-text
                p По срокам сдачи объектов в&nbsp;эксплуатацию

  // /.scr_cases

mixin scr_cases--page()
  section.scr_cases.cases.cases--page(id="scr_cases")
    .section_wr.section_wr--decored
      .container
        h2.page-title Наши проекты

        ul.cases__feat
          li
            .cases__feat-num
              span 16
              br
              |  лет работы
            p.cases__feat-text Больше 16 лет на рынке
              br
              |  недвижимости премиум класса
          li
            .cases__feat-num
              span 10
              br
              |  объектов
            p.cases__feat-text Уже сданы в эксплуатацию
              br
              |  и заселены
          li
            .cases__feat-num
              span 0
              br
              |  просрочек
            p.cases__feat-text По срокам сдачи объектов
              br
              |  в эксплуатацию

        ul.cases__list
          li
            a.cases__item.fancybox(href="img-temp/proj-1.jpg")
              .cases__img
                img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

              .cases__title Ресторан «Фабрикант»

            .cases__text
              p
                b Описание объекта и работ:
                br
                |  Задача организации, в особенности же новая модель организационной деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.
          li
            a.cases__item.fancybox(href="img-temp/proj-1.jpg")
              .cases__img
                img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

              .cases__title Ресторан «Фабрикант»

            .cases__text
              p
                b Описание объекта и работ:
                br
                |  Задача организации, в особенности же новая модель организационной деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.
          li
            a.cases__item.fancybox(href="img-temp/proj-1.jpg")
              .cases__img
                img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

              .cases__title Ресторан «Фабрикант»

            .cases__text
              p
                b Описание объекта и работ:
                br
                |  Задача организации, в особенности же новая модель организационной деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.

  // /.scr_cases

mixin scr_cases--servs()
  section.scr_cases.cases.cases--servs(id="scr_cases")
    .container
      h2.page-title Наши проекты

      .cases__wrap
        .cases__slider#cases__slider
          .swiper-wrapper
            .swiper-slide
              a.cases__item.fancybox(href="img-temp/proj-1.jpg")
                .cases__img
                  img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

                .cases__title Ресторан «Фабрикант»
            .swiper-slide
              a.cases__item.fancybox(href="img-temp/proj-1.jpg")
                .cases__img
                  img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

                .cases__title Ресторан «Фабрикант»
            .swiper-slide
              a.cases__item.fancybox(href="img-temp/proj-1.jpg")
                .cases__img
                  img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

                .cases__title Ресторан «Фабрикант»

        .cases__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

  // /.scr_cases

mixin scr_cases--company()
  section.scr_cases.cases.cases--company.cases--servs(id="scr_cases")
    .container
      h2.page-title Наши проекты

      ul.cases__feat
        li
          .cases__feat-num
            span 16
            br
            |  лет работы
          p.cases__feat-text Больше 16 лет на рынке
            br
            |  недвижимости премиум класса
        li
          .cases__feat-num
            span 10
            br
            |  объектов
          p.cases__feat-text Уже сданы в эксплуатацию
            br
            |  и заселены
        li
          .cases__feat-num
            span 0
            br
            |  просрочек
          p.cases__feat-text По срокам сдачи объектов
            br
            |  в эксплуатацию

      .cases__wrap
        .cases__slider#cases__slider
          .swiper-wrapper
            .swiper-slide
              a.cases__item.fancybox(href="img-temp/proj-1.jpg")
                .cases__img
                  img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

                .cases__title Ресторан «Фабрикант»
            .swiper-slide
              a.cases__item.fancybox(href="img-temp/proj-1.jpg")
                .cases__img
                  img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

                .cases__title Ресторан «Фабрикант»
            .swiper-slide
              a.cases__item.fancybox(href="img-temp/proj-1.jpg")
                .cases__img
                  img(src="img-temp/proj-1.jpg" alt="" data-object-fit-cover)

                .cases__title Ресторан «Фабрикант»

        .cases__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

  // /.scr_cases
