mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__wrap
        h2.page-title О комплексе:

        ul.tabs__nav.tabs__nav--js
          li.current
            a(href="#about__tab-0") Описание
          li
            a(href="#about__tab-1") Технологии строительства
          li
            a(href="#about__tab-2") Документация
          li
            a(href="#about__tab-3") Ход строительства

        ul.about__tabs
          li.about__tab#about__tab-0
            .about__inner
              ul
                li
                  b Конструктивная схема здания:
                  |  Рамно-связевой каркас с вертикальными диафрагмами и ядром жесткости

                li
                  b Фундамент:
                  |  Монолитная железобетонная плита h=800 мм

                li
                  b Колонны:
                  |  Монолитные железобетонные 600х400 мм

                li
                  b Ригеля:
                  |  Монолитные железобетонные 400х500 мм

                li
                  b Перекрытия:
                  |  Монолитные железобетонные тол. 200 мм

                li
                  b Отопление и горячее водоснабжение:
                  |  Предусмотрены от газовой котельной, расположенной на крыше здания.

                li
                  b Стены наружные и внутренние:
                  |  Из газобетона D 500

                li
                  b Наружные столярные изделия:
                  |  Стеклопакеты мульти-функциональные "8Sunсool", раздвижные алюминиевые системы MFS

                li
                  b Фасад:
                  |  Облицован композитными панелями.

              .about__btns
                .btn__wrap.btn__wrap--brown
                  a.xbtn.xbtn--brown.xbtn--download(href="#" download) Скачать проектную
                    br
                    |  документацию


          li.about__tab#about__tab-1
            .about__inner
              ul
                li
                  b Конструктивная схема здания:
                  |  Рамно-связевой каркас с вертикальными диафрагмами и ядром жесткости

                li
                  b Фундамент:
                  |  Монолитная железобетонная плита h=800 мм

                li
                  b Колонны:
                  |  Монолитные железобетонные 600х400 мм

                li
                  b Ригеля:
                  |  Монолитные железобетонные 400х500 мм

                li
                  b Перекрытия:
                  |  Монолитные железобетонные тол. 200 мм

                li
                  b Отопление и горячее водоснабжение:
                  |  Предусмотрены от газовой котельной, расположенной на крыше здания.

                li
                  b Стены наружные и внутренние:
                  |  Из газобетона D 500

                li
                  b Наружные столярные изделия:
                  |  Стеклопакеты мульти-функциональные "8Sunсool", раздвижные алюминиевые системы MFS

                li
                  b Фасад:
                  |  Облицован композитными панелями.

              .about__btns
                .btn__wrap.btn__wrap--brown
                  a.xbtn.xbtn--brown.xbtn--download(href="#" download) Скачать проектную
                    br
                    |  документацию


  // /.scr_about
