mixin scr_blog()
  section.scr_blog.blog.section_wr.section_wr--decored(id="scr_blog")
    .container
      ul.blog__list
        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Льготная ипотека под 6,5% на&nbsp;покупку нового жилья

              .blog__text
                p Наш банк партнер принимает заявки на льготную ипотеку под ...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Как обстоят дела с покупкой недвижимости в Крыму?

              .blog__text
                p Рассказывает генеральный директор Департамента недвижимости ...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Семь главных правил покупки квартиры в Крыму

              .blog__text
                p Импульсивные покупки квартир — редкость. Чаще всего покупатели...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Льготная ипотека под 6,5% на&nbsp;покупку нового жилья

              .blog__text
                p Наш банк партнер принимает заявки на льготную ипотеку под ...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Как обстоят дела с покупкой недвижимости в Крыму?

              .blog__text
                p Рассказывает генеральный директор Департамента недвижимости ...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Семь главных правил покупки квартиры в Крыму

              .blog__text
                p Импульсивные покупки квартир — редкость. Чаще всего покупатели...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Льготная ипотека под 6,5% на&nbsp;покупку нового жилья

              .blog__text
                p Наш банк партнер принимает заявки на льготную ипотеку под ...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Как обстоят дела с покупкой недвижимости в Крыму?

              .blog__text
                p Рассказывает генеральный директор Департамента недвижимости ...

        li
          .blog__item
            a.blog__img.img-link(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01.03.2021

              a(href="#")
                h2 Семь главных правил покупки квартиры в Крыму

              .blog__text
                p Импульсивные покупки квартир — редкость. Чаще всего покупатели...

      +paginator

  // /.scr_blog
