mixin scr_cases()
  section.scr_cases.cases(id="scr_cases")
    .container
      h2.page-title За 16 лет работы мы сдали в эксплуатацию
        br
        |  более 10 объектов

      .cases__df
        .cases__wrap
          .cases__slider#cases__slider
            .swiper-wrapper
              .swiper-slide
                a.cases__item.fancybox(href="img-temp/prod-img.jpg")
                  .cases__img
                    img(src="img-temp/prod-img.jpg" alt="" data-object-fit-cover)

                  .cases__title Ресторан «Фабрикант»

          .cases__slider-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

        ul.scr2__feat
          li
            .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s")
              h3 16
                br
                span  лет работы

              .scr2__feat-text
                p Больше 16 лет на рынке недвижимости премиум
                  br
                  |  класса

          li
            .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s")
              h3 10
                br
                span  объектов

              .scr2__feat-text
                p Уже сданы в эксплуатацию и&nbsp;заселены

          li
            .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.6s")
              h3 0
                br
                span  просрочек

              .scr2__feat-text
                p По срокам сдачи объектов в&nbsp;эксплуатацию

  // /.scr_cases
