mixin scr_plans()
  section.scr_plans.plans(id="scr_plans")
    .container
      h2.page-title Свободная планировка с возможностью
        br
        |  объединения нескольких апартаментов

      .plans__df
        .plans__stages
          svg.plans__stages-svg(viewbox="0 0 1116 701")

            //. #floor-1-3 - означает третий этаж первого здания, data-house="1" - 1 здание,  data-floor="1" - 1 этаж.
            //. Верхний корпус:
            a.plans__stages-wrap.active(href="#floor-2")
              path.plans__stages-part(d="m 928.32901,459.61793 1.6533,-49.59906 -732.41273,-2.47995 -1e-5,51.25236 z")
            a.plans__stages-wrap(href="#floor-3")
              path.plans__stages-part(d="m 928.34915,407.17293 1.65339,-45.33311 -732.45319,-2.26664 -1e-5,46.84419 z")
            a.plans__stages-wrap(href="#floor-4")
              path.plans__stages-part(d="m 927.5225,357.57387 1.65339,-45.33311 -732.45319,-2.26664 -1e-5,46.84419 z")
            a.plans__stages-wrap(href="#floor-5")
              path.plans__stages-part(d="m 927.5225,307.14816 1.65339,-45.33311 -732.45319,-2.26664 -1e-5,46.84419 z")
            a.plans__stages-wrap(href="#floor-7")
              path.plans__stages-part(d="m 925.8692,162.48424 1.65339,-45.33311 -732.45319,-2.26664 -1e-5,46.84419 z")

          .plans__stages-img
            img(src="img/stages-img.jpg" alt="")

        ul.plans__stage
          li.plans__stage-tab.active#floor-2
            ul.scr2__feat
              li
                .scr2__feat-item
                  span.scr2__feat-num 5

                  h3 Трехкомнатных квартир на этаже
              li
                .scr2__feat-item
                  span.scr2__feat-num 9

                  h3 Двухкомнатных квартир на этаже

            .plans__stage-plan
              .plans__stage-info
                h3.plans__stage-title
                  strong 2
                  |  этаж

                .plans__stage-item
                  p.plans__stage-desc Общее описание:
                  .plans__stage-text
                    p Традиционный городской этаж. Квартиры свободной планировки. В любом периметре мы построим Ваш индивидуальный вариант жилья

                p.plans__stage-add
                  img(src="img/svg/icons/tree.svg" alt="")
                  |  Внутренний двор

              .plans__stage-img
                svg.plans__stage-svg(viewbox="0 0 1008 704")
                  //. Если квартира продана, то добавить класс "sold"
                  //. apt-1-1 - означает первую квартиру на втором этаже
                  a.plans__stage-apt.sold(id="apt-2-1" href="")
                    path.plans__stage-apt-inner(d="M 117.88679,76.377358 327.92453,75.54717 327.09434,272.30189 H 264 l -0.83019,63.09434 -71.39623,2.49056 -0.83018,-65.5849 -73.05661,0 z")
                  a.plans__stage-apt(id="apt-2-2" href="")
                    path.plans__stage-apt-inner(d="m 327.92453,75.54717 h 222.49056 l -0.83018,197.5849 -222.49057,-0.83018 z")
                  a.plans__stage-apt(id="apt-2-3" href="")
                    path.plans__stage-apt-inner(d="M 550.3997,78.867925 H 768.76401 L 767.94922,276.45282 549.58491,275.62264 Z")
                  a.plans__stage-apt.sold(id="apt-2-4" href="")
                    path.plans__stage-apt-inner(d="M 981.28514,77.207547 771.2474,76.377359 772.07759,273.13208 h 63.09434 l 0.83019,63.09434 72.22642,-1e-5 -10e-6,-63.09433 h 73.05661 z")
                  a.plans__stage-apt.sold(id="apt-2-5" href="")
                    path.plans__stage-apt-inner(d="m 908.22642,273.13208 h 78.03773 L 987.09434,532.15095 792,531.32075 l -1.66038,-194.26414 117.88679,-10e-6 z")
                  a.plans__stage-apt.sold(id="apt-2-6" href="")
                    path.plans__stage-apt-inner(d="m 593.01582,337.02767 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt(id="apt-2-7" href="")
                    path.plans__stage-apt-inner(d="m 309.92148,336.19748 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt(id="apt-2-8" href="")
                    path.plans__stage-apt-inner(d="m 192.03468,272.27295 h -78.03773 l -0.83019,259.01887 195.09434,-0.8302 1.66038,-194.26414 -117.88679,-10e-6 z")

                .plans__stages-img-wrap
                  img(src="img/stages-img-2.jpg" alt="")

              .plans__stage-info
                p.plans__stage-add
                  img(src="img/svg/icons/wave.svg" alt="")
                  |  Вид на море

          li.plans__stage-tab#floor-3
            ul.scr2__feat
              li
                .scr2__feat-item
                  span.scr2__feat-num 5

                  h3 Трехкомнатных квартир на этаже
              li
                .scr2__feat-item
                  span.scr2__feat-num 9

                  h3 Двухкомнатных квартир на этаже

            .plans__stage-plan
              .plans__stage-info
                h3.plans__stage-title
                  strong 3
                  |  этаж

                .plans__stage-item
                  p.plans__stage-desc Общее описание:
                  .plans__stage-text
                    p Традиционный городской этаж. Квартиры свободной планировки. В любом периметре мы построим Ваш индивидуальный вариант жилья

                p.plans__stage-add
                  img(src="img/svg/icons/tree.svg" alt="")
                  |  Внутренний двор

              .plans__stage-img
                svg.plans__stage-svg(viewbox="0 0 1008 704")
                  //. Если квартира продана, то добавить класс "sold"
                  //. apt-1-1 - означает первую квартиру на втором этаже
                  a.plans__stage-apt.sold(id="apt-3-1" href="")
                    path.plans__stage-apt-inner(d="M 117.88679,76.377358 327.92453,75.54717 327.09434,272.30189 H 264 l -0.83019,63.09434 -71.39623,2.49056 -0.83018,-65.5849 -73.05661,0 z")
                  a.plans__stage-apt(id="apt-3-2" href="")
                    path.plans__stage-apt-inner(d="m 327.92453,75.54717 h 222.49056 l -0.83018,197.5849 -222.49057,-0.83018 z")
                  a.plans__stage-apt(id="apt-3-3" href="")
                    path.plans__stage-apt-inner(d="M 550.3997,78.867925 H 768.76401 L 767.94922,276.45282 549.58491,275.62264 Z")
                  a.plans__stage-apt.sold(id="apt-3-4" href="")
                    path.plans__stage-apt-inner(d="M 981.28514,77.207547 771.2474,76.377359 772.07759,273.13208 h 63.09434 l 0.83019,63.09434 72.22642,-1e-5 -10e-6,-63.09433 h 73.05661 z")
                  a.plans__stage-apt.sold(id="apt-3-5" href="")
                    path.plans__stage-apt-inner(d="m 908.22642,273.13208 h 78.03773 L 987.09434,532.15095 792,531.32075 l -1.66038,-194.26414 117.88679,-10e-6 z")
                  a.plans__stage-apt.sold(id="apt-3-6" href="")
                    path.plans__stage-apt-inner(d="m 593.01582,337.02767 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt(id="apt-3-7" href="")
                    path.plans__stage-apt-inner(d="m 309.92148,336.19748 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt(id="apt-3-8" href="")
                    path.plans__stage-apt-inner(d="m 192.03468,272.27295 h -78.03773 l -0.83019,259.01887 195.09434,-0.8302 1.66038,-194.26414 -117.88679,-10e-6 z")

                .plans__stages-img-wrap
                  img(src="img/stages-img-2.jpg" alt="")

              .plans__stage-info
                p.plans__stage-add
                  img(src="img/svg/icons/wave.svg" alt="")
                  |  Вид на море

          li.plans__stage-tab#floor-4
            ul.scr2__feat
              li
                .scr2__feat-item
                  span.scr2__feat-num 5

                  h3 Трехкомнатных квартир на этаже
              li
                .scr2__feat-item
                  span.scr2__feat-num 9

                  h3 Двухкомнатных квартир на этаже

            .plans__stage-plan
              .plans__stage-info
                h3.plans__stage-title
                  strong 4
                  |  этаж

                .plans__stage-item
                  p.plans__stage-desc Общее описание:
                  .plans__stage-text
                    p Традиционный городской этаж. Квартиры свободной планировки. В любом периметре мы построим Ваш индивидуальный вариант жилья

                p.plans__stage-add
                  img(src="img/svg/icons/tree.svg" alt="")
                  |  Внутренний двор

              .plans__stage-img
                svg.plans__stage-svg(viewbox="0 0 1008 704")
                  //. Если квартира продана, то добавить класс "sold"
                  //. apt-1-1 - означает первую квартиру на втором этаже
                  a.plans__stage-apt.sold(id="apt-4-1" href="")
                    path.plans__stage-apt-inner(d="M 117.88679,76.377358 327.92453,75.54717 327.09434,272.30189 H 264 l -0.83019,63.09434 -71.39623,2.49056 -0.83018,-65.5849 -73.05661,0 z")
                  a.plans__stage-apt(id="apt-4-2" href="")
                    path.plans__stage-apt-inner(d="m 327.92453,75.54717 h 222.49056 l -0.83018,197.5849 -222.49057,-0.83018 z")
                  a.plans__stage-apt(id="apt-4-3" href="")
                    path.plans__stage-apt-inner(d="M 550.3997,78.867925 H 768.76401 L 767.94922,276.45282 549.58491,275.62264 Z")
                  a.plans__stage-apt.sold(id="apt-4-4" href="")
                    path.plans__stage-apt-inner(d="M 981.28514,77.207547 771.2474,76.377359 772.07759,273.13208 h 63.09434 l 0.83019,63.09434 72.22642,-1e-5 -10e-6,-63.09433 h 73.05661 z")
                  a.plans__stage-apt.sold(id="apt-4-5" href="")
                    path.plans__stage-apt-inner(d="m 908.22642,273.13208 h 78.03773 L 987.09434,532.15095 792,531.32075 l -1.66038,-194.26414 117.88679,-10e-6 z")
                  a.plans__stage-apt.sold(id="apt-4-6" href="")
                    path.plans__stage-apt-inner(d="m 593.01582,337.02767 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt(id="apt-4-7" href="")
                    path.plans__stage-apt-inner(d="m 309.92148,336.19748 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt(id="apt-4-8" href="")
                    path.plans__stage-apt-inner(d="m 192.03468,272.27295 h -78.03773 l -0.83019,259.01887 195.09434,-0.8302 1.66038,-194.26414 -117.88679,-10e-6 z")

                .plans__stages-img-wrap
                  img(src="img/stages-img-2.jpg" alt="")

              .plans__stage-info
                p.plans__stage-add
                  img(src="img/svg/icons/wave.svg" alt="")
                  |  Вид на море

          li.plans__stage-tab#floor-5
            ul.scr2__feat
              li
                .scr2__feat-item
                  span.scr2__feat-num 5

                  h3 Трехкомнатных квартир на этаже
              li
                .scr2__feat-item
                  span.scr2__feat-num 9

                  h3 Двухкомнатных квартир на этаже

            .plans__stage-plan
              .plans__stage-info
                h3.plans__stage-title
                  strong 5
                  |  этаж

                .plans__stage-item
                  p.plans__stage-desc Общее описание:
                  .plans__stage-text
                    p Традиционный городской этаж. Квартиры свободной планировки. В любом периметре мы построим Ваш индивидуальный вариант жилья

                p.plans__stage-add
                  img(src="img/svg/icons/tree.svg" alt="")
                  |  Внутренний двор

              .plans__stage-img
                svg.plans__stage-svg(viewbox="0 0 1008 704")
                  //. Если квартира продана, то добавить класс "sold"
                  //. apt-1-1 - означает первую квартиру на втором этаже
                  a.plans__stage-apt.sold(id="apt-5-1" href="")
                    path.plans__stage-apt-inner(d="M 117.88679,76.377358 327.92453,75.54717 327.09434,272.30189 H 264 l -0.83019,63.09434 -71.39623,2.49056 -0.83018,-65.5849 -73.05661,0 z")
                  a.plans__stage-apt(id="apt-5-2" href="")
                    path.plans__stage-apt-inner(d="m 327.92453,75.54717 h 222.49056 l -0.83018,197.5849 -222.49057,-0.83018 z")
                  a.plans__stage-apt(id="apt-5-3" href="")
                    path.plans__stage-apt-inner(d="M 550.3997,78.867925 H 768.76401 L 767.94922,276.45282 549.58491,275.62264 Z")
                  a.plans__stage-apt.sold(id="apt-5-4" href="")
                    path.plans__stage-apt-inner(d="M 981.28514,77.207547 771.2474,76.377359 772.07759,273.13208 h 63.09434 l 0.83019,63.09434 72.22642,-1e-5 -10e-6,-63.09433 h 73.05661 z")
                  a.plans__stage-apt(id="apt-5-5" href="")
                    path.plans__stage-apt-inner(d="m 908.22642,273.13208 h 78.03773 L 987.09434,532.15095 792,531.32075 l -1.66038,-194.26414 117.88679,-10e-6 z")
                  a.plans__stage-apt.sold(id="apt-5-6" href="")
                    path.plans__stage-apt-inner(d="m 593.01582,337.02767 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt(id="apt-5-7" href="")
                    path.plans__stage-apt-inner(d="m 309.92148,336.19748 h 197.3528 l -0.73639,197.64277 -197.3528,-0.83042 z")
                  a.plans__stage-apt.sold(id="apt-5-8" href="")
                    path.plans__stage-apt-inner(d="m 192.03468,272.27295 h -78.03773 l -0.83019,259.01887 195.09434,-0.8302 1.66038,-194.26414 -117.88679,-10e-6 z")

                .plans__stages-img-wrap
                  img(src="img/stages-img-2.jpg" alt="")

              .plans__stage-info
                p.plans__stage-add
                  img(src="img/svg/icons/wave.svg" alt="")
                  |  Вид на море

  // /.scr_plans
