mixin scr_gallery()
  section.scr_gallery.gallery(id="scr_gallery")
    .container
      .gallery__cont
        span.about__leaf.js-parallax
        span.about__leaf.about__leaf--gallery.js-parallax

        h2.page-title Насладитесь видами GREEN HALL

        .gallery__wrap
          .gallery__slider#gallery__slider
            .swiper-wrapper
              .swiper-slide
                .gallery__item
                  a.gallery__img.fancybox.img-link.img-link--big(href="img-temp/gallery-img.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                .gallery__item
                  a.gallery__img.fancybox.img-link.img-link--big(href="img-temp/gallery-img.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                .gallery__item
                  a.gallery__img.fancybox.img-link.img-link--big(href="img-temp/gallery-img.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)

          .gallery__slider-btns
            .swiper-dots

  // /.scr_gallery

mixin scr_gallery--page()
  section.scr_gallery.gallery.gallery--page.section_wr(id="scr_gallery")
    .container
      .gallery__cont
        h1.page-title Насладитесь видами GREEN HALL

        .gallery__wrap
          .gallery__slider#gallery__slider
            .swiper-wrapper
              .swiper-slide
                .gallery__item
                  a.gallery__img.fancybox.img-link.img-link--big(href="img-temp/gallery-img.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                .gallery__item
                  a.gallery__img.fancybox.img-link.img-link--big(href="img-temp/gallery-img.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                .gallery__item
                  a.gallery__img.fancybox.img-link.img-link--big(href="img-temp/gallery-img.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)

          .gallery__slider-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

  // /.scr_gallery
