mixin scr_post()
  section.scr_post.post.section_wr.section_wr--decored(id="scr_post")
    .container
      +breadcrumbs

      .post__wrap.decor-wrap
        .decor-wrap__inner
          .article.clearfix
            img.alignright(src="img-temp/gallery-img.jpg" alt="")
            h1.post__title Семь главных правил покупки квартиры в Крыму

            time(datetime="2021-03-01") 01.03.2021

            p Импульсивные покупки квартир — редкость. Чаще всего покупатели недвижимости рассудительно относятся к такому крупному приобретению.
            br
            p Чтобы не стать обманутым дольщиком и уберечь себя от приобретения долгостроя, нужно внимательно подходить к выбору объекта и девелопера.
            br
            p Убедиться в компетенции и добросовестности застройщика вам помогут современные электронные сервисы, открытые базы данных, и форумы дольщиков. Рекомендуем ознакомиться с разрешительной документацией, размещенной на официальном сайте жилого комплекса, N 214-ФЗ регламентирует обязательный список документов, для публикации на сайте. Также внимательно изучите сайт девелопера, органов строительного надзора, где региональные власти размещают белые и черные списки строительных компаний. В картотеке арбитражных судов можно найти информацию о наличии или отсутствии дел о банкротстве и судебных процессах.

            blockquote
              h3 Цитата

              p Импульсивные покупки квартир — редкость. Чаще всего покупатели недвижимости рассудительно относятся к такому крупному приобретению. Чтобы не стать обманутым дольщиком и уберечь себя от приобретения долгостроя, нужно внимательно подходить к выбору объекта и девелопера.

            ul
              li
                h3 1 правило
                p Равным образом, консультация с широким активом предоставляет широкие возможности для первоочередных требований. А также явные признаки победы институционализации смешаны с не уникальными данными до степени совершенной неузнаваемости
              li
                h3 2 правило
                p Равным образом, консультация с широким активом предоставляет широкие возможности для первоочередных требований. А также явные признаки победы институционализации смешаны с не уникальными данными до степени совершенной неузнаваемости
              li
                h3 3 правило
                p Равным образом, консультация с широким активом предоставляет широкие возможности для первоочередных требований. А также явные признаки победы институционализации смешаны с не уникальными данными до степени совершенной неузнаваемости

  // /.scr_post
