mixin scr_advts()
  section.scr_advts.advts(id="scr_advts")
    span.advts__bg

    .container
      .advts__wrap
        .advts__list#advts__list
          .swiper-wrapper
            .swiper-slide
              .advts__item
                span.advts__leaf.js-parallax

                .advts__content
                  h3.page-title Терраса с выходом на&nbsp;пальмовую аллею

                  .advts__text
                    p Из-за большого перепада высот на участке, было принято решение обустроить две входные группы. Одна расположена на уровне набережной. Вторая на уровне пальмовой аллее, со стороны Приморского парка. Этаж на уровне пальмовой аллеи имеет открытую террасу, благодаря чему со стороны «Приморского парка» открывается вид на море и зданию придается легкость

                  .advts__btns
                    .btn__wrap.btn__wrap--brown
                      a.xbtn.xbtn--brown(href="#") Прогуляться по аллее

                .advts__img
                  img(src="img/advantages/img-1.jpg" alt="" data-object-fit-cover)

            .swiper-slide
              .advts__item
                span.advts__decor.js-parallax
                span.advts__decor.advts__decor--bg

                .advts__content
                  h3.page-title Апартаменты на первой линии набережной

                  .advts__text
                    p Расположен комплекс с апартаментами «GREEN HALL» на первой линии на набережной, в шаговой доступности от моря, в центре Приморского парка имени Юрия Гагарина, территория которого занимает 2 кв.км и является естественным продолжением Ялтинской набережной.

                  .advts__btns
                    .btn__wrap.btn__wrap--brown
                      a.xbtn.xbtn--brown(href="#") Прогуляться по набережной

                .advts__img
                  img(src="img/advantages/img-2.jpg" alt="" data-object-fit-cover)

            .swiper-slide
              .advts__item
                span.advts__decor.advts__decor--bg

                .advts__content
                  span.scr2__feat-bird2.js-parallax
                    img(src="img/bird-1.png" alt="")

                  h3.page-title Образ морской волны в&nbsp;архитектуре здания

                  .advts__text
                    p Оригинальность зданию придаёт форма балконов имеющая плавную округлую линию. За основу взят образ морской волны.

                  .advts__btns
                    .btn__wrap.btn__wrap--brown
                      a.xbtn.xbtn--brown(href="#") Вдохновиться дизайном

                .advts__img
                  img(src="img/advantages/img-3.jpg" alt="" data-object-fit-cover)

            .swiper-slide
              .advts__item
                span.advts__decor.advts__decor--bg
                .advts__content
                  span.scr2__feat-bird1.js-parallax
                    img(src="img/bird-2.png" alt="")

                  span.advts__decor

                  h3.page-title Смотровая площадка на 6 этаже комплекса

                  .advts__text
                    p Квартиры в «GREEN HALL», являются показателем статусности жильцов. Из окон открываются панорамные виды на горы и море, а прямо на крыше будет размещен фитнес-центр с бассейном

                  .advts__btns
                    .btn__wrap.btn__wrap--brown
                      a.xbtn.xbtn--brown(href="#") Прогуляться по смотровой

                .advts__img
                  img(src="img/advantages/img-4.jpg" alt="" data-object-fit-cover)

        .advts__list-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_advts

mixin scr_advts--about()
  section.scr_advts.advts.advts--about.section_wr(id="scr_advts")
    .container
      h1.page-title О Green Hall

      .advts__cont
        ul.advts__list
          li.advts__item
            .advts__content
              h3.page-title Месторасположение

              .advts__text
                p
                  b Удачное расположение жилого комплекса «GREEN HALL» делает его уникальным местом для проживания и отдыха для тех, кто ценит прекрасную современную архитектуру и богатство окружающей среды. А уже сформированная инфраструктура сделает Ваше пребывание комфортным: рестораны, SPA комплекс, 4-х звездочный отель с пляжной зоной, идеально подходят как для сезонного, так и для круглогодичного отдыха.

                p Расположен Комплекс с апартаментами «GREEN HALL» на первой линии на набережной, в шаговой доступности от моря, в центре Приморского парка имени Юрия Гагарина, территория которого занимает 2 кв.км и является естественным продолжением Ялтинской набережной.

                p Путь к комплексу «GREEN HALL» проходит через пальмовую аллею со стороны Приморского парка и через набережную со стороны моря.

                p Из окна своего апартамента Вы сможете любоваться великолепным видом на ялтинское побережье, а несомненным плюсом является наличие  развитой инфраструктуры, которая подарит Вам полноценный качественный отдых в любое время года.

            .advts__img
              img(src="img/advantages/img-5.jpg" alt="" data-object-fit-cover)

          li.advts__item
            .advts__content
              h3.page-title Образ морской волны
                br
                |  в архитектуре здания

              .advts__text
                p Оригинальность зданию придаёт форма балконов имеющая плавную округлую линию. За основу взят образ морской волны.

            .advts__img
              img(src="img/advantages/img-3.jpg" alt="" data-object-fit-cover)


    .advts__info-wrap
      .container
        .advts__info
          .advts__info-text
            p Этаж на уровне пальмовой аллеи имеет открытую террасу, благодаря чему со стороны Приморского парка открывается вид на море и зданию придается легкость. Из-за большого перепада высот на участке, было принято решение обустроить две входные группы. Одна расположена на уровне набережной. Вторая на уровне пальмовой аллее, со стороны Приморского парка.

            p Сообщение между этажами в здании осуществляется по 2 лестницам и 2 пассажирским лифтам.

          ul.advts__info-nums
            li
              span.advts__info-num
                strong 49
              p Апартаментов премиум класса с панорамным видом на набережную
            li
              span.advts__info-num
                strong 4000
                |  м
                sup 2
              p Апартаментов премиум класса с панорамным видом на набережную

      .advts__info-img
        img(src="img/advts-about.png" alt="" data-object-fit-contain)


// /.scr_advts
