mixin scr_map()
  section.scr_map(id="scr_map")
    .container
      .scr_map__title
        h2.page-title Вы будете иметь доступ ко всем удобствам
          br
          |  современного курорта

    .scr_map__cont#scr_map__cont

    .scr_map__main
      .container
        .scr_map__wrap
          .scr_map__info

  // /.scr_map
