mixin scr_lead()
  section.scr_lead.lead.lead--top(id="scr_lead")
    .container
      h2.page-title Получите визуализацию дизайна интерьеров под наши апартаменты

      .lead__df
        ul.lead__list
          li Более подробная информация о&nbsp;жилом комплексе
          li Изображения фасадов и&nbsp;внутреннего двора
          li Преимущества жилого комплекса

        .lead__form
          .form.wpcf7
            .form__decor1
              svg(x='0px', y='0px', preserveAspectRatio="none", viewbox='0 0 523 722', style='enable-background:new 0 0 523 722;', xml:space='preserve')
                g.st0
                  path.st1(d='M51.9,33.6c146.1-45.6,279.6,2,419,5.8c9.4,0.3,17.1,6.9,17.1,15.2c0,192.9,0,385.8,0,578.7\
                  c0,8.2-7.7,17.1-17.1,19.4c-139.8,33.1-279.9-1.5-419.8-4.2c-9.5-0.2-17.1-6.9-17.1-15.1c0-192.9,0-385.8,0-578.7\
                  C34,46.5,42.1,36.8,51.9,33.6z')


            .form__decor2
              svg(fill-rule='evenodd', fill="transparent", stroke-width='1px', stroke='rgba(9,75,83,0.12)', preserveAspectRatio="none", viewBox="0 0 436 625", x="0px", y="0px")
                path(d='M20.558,22.182 C159.557,-21.194 286.591,24.098 419.249,27.713 C428.207,27.963 435.500,34.308 435.500,42.171 C435.500,225.629 435.500,409.086 435.500,592.543 C435.500,600.365 428.220,608.802 419.238,610.954 C286.235,642.446 152.940,609.564 19.782,606.940 C10.789,606.759 3.500,600.406 3.500,592.543 C3.500,409.086 3.500,225.629 3.500,42.171 C3.493,34.364 11.166,25.148 20.558,22.182 Z')

            p.form__title Заполните короткую форму
            p.form__desc Чтобы получить визуализацию

            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--blue
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--blue(type='submit', value='получить визуализацию')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead

mixin scr_lead--2()
  section.scr_lead.lead.lead--2(id="scr_lead")
    .container
      .lead__df
        .lead__info
          h2.page-title Станьте владельцем коммерческой недвижимости премиум класса на&nbsp;берегу Чёрного моря

          ul.scr2__list
            li
              .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.2s")
                span.scr2__feat-num.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.8s") 50
                  span  м
                    sup 2

                .scr2__feat-text
                  p Площадь от 50 м
                    sup 2
                    |  , с возможностью объединения нескольких помещений
            li
              .scr2__feat-item.wow.flipInY(data-wow-duration="0.8s" data-wow-delay="0.4s")
                span.scr2__feat-num.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="1s") 550 000
                  br
                  span  руб/м
                    sup 2

                .scr2__feat-text Стоимость от 550 000 руб/м
                  sup 2
                  |  со свободной планировкой и предчистовой отделкой

          .lead__btns
            .btn__wrap.btn__wrap--brown
              a.xbtn.xbtn--brown(href="#") Посмотреть планировку

        .lead__form
          .form.wpcf7
            .form__decor1
              svg(x='0px', y='0px', preserveAspectRatio="none", viewbox='0 0 523 722', style='enable-background:new 0 0 523 722;', xml:space='preserve')
                g.st0
                  path.st1(d='M51.9,33.6c146.1-45.6,279.6,2,419,5.8c9.4,0.3,17.1,6.9,17.1,15.2c0,192.9,0,385.8,0,578.7\
                  c0,8.2-7.7,17.1-17.1,19.4c-139.8,33.1-279.9-1.5-419.8-4.2c-9.5-0.2-17.1-6.9-17.1-15.1c0-192.9,0-385.8,0-578.7\
                  C34,46.5,42.1,36.8,51.9,33.6z')


            .form__decor2
              svg(fill-rule='evenodd', fill="transparent", stroke-width='1px', stroke='rgba(9,75,83,0.12)', preserveAspectRatio="none", viewBox="0 0 436 625", x="0px", y="0px")
                path(d='M20.558,22.182 C159.557,-21.194 286.591,24.098 419.249,27.713 C428.207,27.963 435.500,34.308 435.500,42.171 C435.500,225.629 435.500,409.086 435.500,592.543 C435.500,600.365 428.220,608.802 419.238,610.954 C286.235,642.446 152.940,609.564 19.782,606.940 C10.789,606.759 3.500,600.406 3.500,592.543 C3.500,409.086 3.500,225.629 3.500,42.171 C3.493,34.364 11.166,25.148 20.558,22.182 Z')

            span.lead__leaf

            p.form__title Заполните короткую форму
            p.form__desc Чтобы связаться с отделом продаж

            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--blue
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--blue(type='submit', value='подобрать квартиру')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead

mixin scr_lead--3()
  section.scr_lead.lead.lead--3(id="scr_lead")
    .container
      .lead__df
        .lead__info
          h2.page-title Получите весь пакет документов для&nbsp;скачивания

          ul.lead__list
            li Включая договор купли-продажи и&nbsp;проектную документацию

        .lead__form
          .form.wpcf7
            .form__decor1
              svg(x='0px', y='0px', preserveAspectRatio="none", viewbox='0 0 523 722', style='enable-background:new 0 0 523 722;', xml:space='preserve')
                style(type='text/css').
                  .st0{filter:url(#Filter_0);}
                  .st1{fill:#FFFFFF;}
                filter#Filter_0(filterunits='userSpaceOnUse', height='722px', width='523px', x='0px', y='0px')
                  feoffset(dx='0', dy='20', in='SourceAlpha')
                  fegaussianblur(result='blurOut', stddeviation='5.916')
                  feflood(flood-color='rgb(215, 212, 212)', result='floodOut')
                  fecomposite(in='floodOut', in2='blurOut', operator='atop')
                  fecomponenttransfer
                    fefunca(slope='0.4', type='linear')
                  femerge
                    femergenode
                    femergenode(in='SourceGraphic')
                g.st0
                  path.st1(d='M51.9,33.6c146.1-45.6,279.6,2,419,5.8c9.4,0.3,17.1,6.9,17.1,15.2c0,192.9,0,385.8,0,578.7\
                  c0,8.2-7.7,17.1-17.1,19.4c-139.8,33.1-279.9-1.5-419.8-4.2c-9.5-0.2-17.1-6.9-17.1-15.1c0-192.9,0-385.8,0-578.7\
                  C34,46.5,42.1,36.8,51.9,33.6z')


            .form__decor2
              svg(fill-rule='evenodd', fill="transparent", stroke-width='1px', stroke='rgba(9,75,83,0.12)', preserveAspectRatio="none", viewBox="0 0 436 625", x="0px", y="0px")
                path(d='M20.558,22.182 C159.557,-21.194 286.591,24.098 419.249,27.713 C428.207,27.963 435.500,34.308 435.500,42.171 C435.500,225.629 435.500,409.086 435.500,592.543 C435.500,600.365 428.220,608.802 419.238,610.954 C286.235,642.446 152.940,609.564 19.782,606.940 C10.789,606.759 3.500,600.406 3.500,592.543 C3.500,409.086 3.500,225.629 3.500,42.171 C3.493,34.364 11.166,25.148 20.558,22.182 Z')

            p.form__title Заполните короткую форму
            p.form__desc Чтобы получить документацию

            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--blue
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--blue(type='submit', value='получить документацию')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead
