mixin script-map()
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" unselectable="on" scroll="false")
  script.
    (function($){
      createMap('scr_map__cont',[44.483951, 34.155344]);
      xObjectArr = [
        {
          coords: [44.483622, 34.157037],
          title: 'Приморский парк',
        },
        {
          coords: [44.483148, 34.158897],
          title: 'Апараменты «Грин Холл»',
        },
        {
          coords: [44.486966, 34.147451],
          title: 'Школа №2',
        },
        {
          coords: [44.483992, 34.158612],
          title: 'SPA салон',
        },
        {
          coords: [44.481463, 34.151729],
          title: '«Атлантида»',
        },
        {
          coords: [44.487843, 34.138922],
          title: 'Кинотеатр IMAX',
        },
        {
          coords: [44.482947, 34.149560],
          title: 'Магазин',
        },
        {
          coords: [44.488126, 34.160872],
          title: 'Набережная им. Ленина',
        }
      ];

      function createMap(xID,xCenter) {

        if ($("#" + xID + "").length > 0) {

          var myMap;

          // Дождёмся загрузки API и готовности DOM.
          ymaps.ready(init);

          function init () {
              myMap = new ymaps.Map(xID, {
                  center: xCenter,
                  zoom: 16
              }, {
                  searchControlProvider: 'yandex#search'
              });

              // Контейнер для меню.
              var menu = $('<ol></ol>');
              var section = $($('.scr_map'));

                // Создаём макет содержимого.
                  MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                      '<div>$[properties.iconContent]</div>'
                  ),

                  xObjectArr.forEach(function(xel,xi) {
                    window["myPlacemark"+xi] = new ymaps.Placemark(xel.coords, {
                      iconContent: '<button type="button" class="map__pin pin-' + (xi + 1) + ' js-pin">' + (xi + 1) + '<span><svg><use xlink:href="img/svg/sprite.svg#map-tooltip"></use></svg>' + xel.title + '</span></button>'
                    }, {
                      // Опции.
                      balloonPanelMaxMapArea: 0,
                      openTimeout: 0,

                      // Необходимо указать данный тип макета.
                      iconLayout: 'default#imageWithContent',
                      // Своё изображение иконки метки.
                      //- iconImageHref: 'img/svg/pin-golden.svg',
                      iconImageHref: '',
                      // Размеры метки.
                      iconImageSize: [24, 32],
                      // Смещение левого верхнего угла иконки относительно
                      // её "ножки" (точки привязки).
                      iconImageOffset: [-20, -40],

                      // Смещение слоя с содержимым относительно слоя с картинкой.
                      iconContentOffset: [15, 15],
                      // Макет содержимого.
                      iconContentLayout: MyIconContentLayout

                    });
                  });

              xObjectArr.forEach(function(xel,xi) {

                myMap.geoObjects
                    .add(window["myPlacemark"+xi]);


                window["myPlacemark"+xi].events.add("click",function(e) {
                  $(e).find(".pin").addClass('hey');
                });

                var menuItem = $('<li data-pin="pin-' + (xi + 1) + '" class="js-button-pin">' + xel.title + '</li>');

                menuItem
                  .appendTo(menu)
                  .on('mouseover', function() {
                    var btn = $(this);
                    var atr = btn.attr('data-pin');

                    var pins = section.find('.js-pin');
                    var pinsItem = section.find('li');
                    var plOverlay = section.find('[class*="-placemark-overlay"]');
                    pins.removeClass('active');
                    pinsItem.removeClass('active');
                    plOverlay.removeClass('active');
                    btn.toggleClass('active');
                    section.find('.' + atr).toggleClass('active');
                    section.find('.' + atr).parents('[class*="-placemark-overlay"]').toggleClass('active');
                  });
              });

            menu.appendTo('.scr_map__info');

            myMap.behaviors.disable('scrollZoom');
          }
        }
      }

    })(jQuery);
