mixin socials()
  section.socials(id="socials")
    a.socials__link.socials__link--viber.xbtn.xbtn--circle(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#viber")
    a.socials__link.socials__link--wa.xbtn.xbtn--circle(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#wa")

  // /.socials
