mixin footer(logotype)
  footer.footer(id="footer")
    a.to-top(href="#page_wr")
      i.fa.fa-angle-up
    .footer__top
      .footer__logo
        .container
          .logo__wrap
            if logotype == "a"
              #{logotype}.logo(href="index.html")
                img(src="img/logo.png" alt="лого")
            else
              #{logotype}.logo
                img(src="img/logo.png" alt="лого")
      .container
        .row
          .col-xl-10.col-md-9
            ul.footer__menu.footer-menu
              li.footer-menu__item
                h4 Syndicat
                ul.menu
                  li
                    a(href="#")
                      span О нас
                  li
                    a(href="#")
                      span Отзывы
                  li
                    a(href="#")
                      span Блог
                  li
                    a(href="#")
                      span Контакты

              li.footer-menu__item
                h4 Информация
                ul.menu
                  li
                    a(href="#")
                      span Подарки покупателям
                  li
                    a(href="#")
                      span Бонусная программа
                  li
                    a(href="#")
                      span Доставка и оплата
                  li
                    a(href="#")
                      span Условия возврата

              li.footer-menu__item
                h4 Каталог
                ul.menu
                  li
                    a(href="#")
                      span Уход за лицом
                  li
                    a(href="#")
                      span Уход за телом
                  li
                    a(href="#")
                      span Уход за волосами
                  li
                    a(href="#")
                      span Аксессуары
                  li
                    a(href="#")
                      span Акции
                  li
                    a(href="#")
                      span Макияж

              li.footer-menu__item
                h4 Личный кабинет
                ul.menu
                  li
                    a(href="#")
                      span Вход/Регистрация
                  li
                    a(href="#")
                      span Сравнения
                  li
                    a(href="#")
                      span Понравилось
                  li
                    a(href="#")
                      span Корзина
                  li
                    a(href="#")
                      span Мои заказы

          .col-md-3.col-lg-2
            .footer__contacts
              h4 Контакты

              .footer__contacts-content
                a.link.strong(href="tel:+79787876767" rel="nofollow") +7 (978) 787-67-67
                a.link(href="mailto:feyatova@gmail.com") feyatova@gmail.com

                p г.Симферополь,
                  br
                  |  ул. Набережная, 75б

              +socials

      // /.container
    // /.footer__top

    .footer__middle
      .container
        .payment
          p.payment__title Способы оплаты
          ul.payment__list
            li.payment__item
              img(src='img/payment/img-payment-1.png', alt='оплата через Яндекс Деньги')
            li.payment__item
              img(src='img/payment/img-payment-2.png', alt='оплата через Киви')
            li.payment__item
              img(src='img/payment/img-payment-3.png', alt='оплата через рнкб')
            li.payment__item
              img(src='img/payment/img-payment-4.png', alt='оплата через Сбербанк')
            li.payment__item.payment__item--df
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-payment")
              span
                | Безналичный расчет
                br
                |  с НДС и без НДС

      // /.container
    // /.footer__top

    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

