mixin header(logotype)
  header.header(id="header")
    +nav

    .header__middle
      .header__main
        .container
          .row
            .col-md-4.col-2
              .burger__wr
                button.burger__wrap#header-burger
                  span.burger
                    span.line
              .header__phones
                a.link(href="tel:+79787876767") +7 (978)
                  strong  787-67-67
                span.text Whatsapp / Viber

            .col-md-4.col-8
              .logo__wrap
                if logotype == "a"
                  #{logotype}.logo(href="index.html")
                    img(src="img/logo.png" alt="лого")
                else
                  #{logotype}.logo
                    img(src="img/logo.png" alt="лого")
                p.logo__text Магазин корейской косметики

            .col-md-4.col-2
              .header__search

                .form.form--search
                  form.wpcf7-form
                    button.open-search(type='button')
                      svg.icon
                        use(xlink:href='img/svg/sprite.svg#icon-search')
                    .search-wrap
                      .text-input
                        input(type='search', placeholder='Поиск по товарам')
                      button(type='submit')
                        svg.icon
                          use(xlink:href='img/svg/sprite.svg#icon-search')
        // /.container
      // /.header__main

      .container
        .header__middle-menu
          .logo__wrap--fixed
            if logotype == "a"
              #{logotype}.logo--fixed(href="index.html")
                img(src="img/logo--fixed.png" alt="лого")
            else
              #{logotype}.logo--fixed
                img(src="img/logo--fixed.png" alt="лого")
          .header__second-menu
            ul.menu
              li.menu-item.menu-item-has-children
                a(href="#")
                  .icon__wrap
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-menu-1")
                  span Уход за волосами
                .sub-menu__wrap
                  .container
                    ul.sub-menu
                      li.menu-item
                        a(href="#")
                          strong Шаг 1:
                          |  Очищение
                      li.menu-item
                        a(href="#")
                          strong Шаг 2:
                          |  Пилинги и скрабы
                      li.menu-item
                        a(href="#")
                          strong Шаг 3:
                          | Тонеры / Мисты
                      li.menu-item
                        a(href="#")
                          strong Шаг 4:
                          |  Эссенция, сыворотка, ампула
                      li.menu-item
                        a(href="#")
                          strong Шаг 5:
                          |  Уход для зоны вокруг глаз

                    ul.sub-menu
                      li.menu-item
                        a(href="#")
                          strong Шаг 6:
                          |  Лосьон, эмульсия
                      li.menu-item
                        a(href="#")
                          strong Шаг 7:
                          |  Кремы
                      li.menu-item
                        a(href="#")
                          strong Шаг 8:
                          |  Маски
                      li.menu-item
                        a(href="#")
                          strong Шаг 9:
                          |  Защита от солнца

                    .sub-menu__img
                      img(src="img-temp/img-sub-menu-1.jpg", alt="Уход за лицом")

              li.menu-item.menu-item-has-children
                a(href="#")
                  .icon__wrap
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-menu-2")
                  span Уход за лицом
                .sub-menu__wrap
                  .container
                    ul.sub-menu
                      li.menu-item
                        a(href="#")
                          strong Шаг 1:
                          |  Очищение
                      li.menu-item
                        a(href="#")
                          strong Шаг 2:
                          |  Пилинги и скрабы
                      li.menu-item
                        a(href="#")
                          strong Шаг 3:
                          | Тонеры / Мисты
                      li.menu-item
                        a(href="#")
                          strong Шаг 4:
                          |  Эссенция, сыворотка, ампула
                      li.menu-item
                        a(href="#")
                          strong Шаг 5:
                          |  Уход для зоны вокруг глаз

                    ul.sub-menu
                      li.menu-item
                        a(href="#")
                          strong Шаг 6:
                          |  Лосьон, эмульсия
                      li.menu-item
                        a(href="#")
                          strong Шаг 7:
                          |  Кремы
                      li.menu-item
                        a(href="#")
                          strong Шаг 8:
                          |  Маски
                      li.menu-item
                        a(href="#")
                          strong Шаг 9:
                          |  Защита от солнца

                    ul.sub-menu.sub-menu--strong
                      li.menu-item
                        a(href="#")
                          strong Наборы
                      li.menu-item
                        a(href="#")
                          strong Мини – версии
                      li.menu-item
                        a(href="#")
                          strong Космецевтика
                      li.menu-item
                        a(href="#")
                          strong Аксессуары
                      li.menu-item
                        a(href="#")
                          strong Для него
                      li.menu-item
                        a(href="#")
                          strong Дети

                    .sub-menu__img
                      img(src="img-temp/img-sub-menu-1.jpg", alt="Уход за лицом")

              li.menu-item.menu-item-has-children
                a(href="#")
                  .icon__wrap
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-menu-3")
                  span Уход за телом

              li.menu-item.menu-item-has-children
                a(href="#")
                  .icon__wrap
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-menu-4")
                  span Макияж

              li.menu-item.menu-item-has-children
                a(href="#")
                  .icon__wrap
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-menu-5")
                  span Аксессуары

              li.menu-item
                a(href="#")
                  .icon__wrap
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-menu-6")
                  span Акции

          .header__bar.bar.bar--fixed
            .bar__item
              button.button-diagram
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-diagram")
            .bar__item
              button.button-wish
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-heart")
            .bar__item
              a.button-user(href="#")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-user")
          .header__phones.header__phones--fixed
            a.link(href="tel:+79787876767") +7 (978) 787-67-67
        // /.header__second-menu
      // /.container
    // /.header__middle

    .header__bottom.grey-bg
      .container
        .header__menu-letters.menu-letters
          span.menu-letters__title Выберите бренд:
          ul.menu
            li.menu-item.menu-item-has-children.menu-item--all
              a(href="#") Все
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Big Brand Big Brand Big Brand
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Big Brand Big Brand Big Brand
            li.menu-item.menu-item-has-children
              a(href="#") A
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") B
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") C
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") D
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") E
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") F
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") G
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") H
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") I
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") J
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") K
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") L
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") M
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") N
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") O
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") P
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") Q
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") R
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") S
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") T
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") U
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") V
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") W
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") X
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") Y
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") Z
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Brand1
                  li.menu-item
                    a(href="#") Brand2
            li.menu-item.menu-item-has-children
              a(href="#") 0 - 9
              .sub-menu__wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") 1Brand
                  li.menu-item
                    a(href="#") 2Brand
      // /.container
    // /.header__bottom
