mixin nav()
  nav.header__nav
    .container
      .df
        .main-menu
          ul.menu
            // Элементы меню с постфиксом --mobile отображаются только на мобильной версии
            li.menu-item.menu-item-has-children.menu-item--mobile
              a(href="#") Уход за волосами
              ul.sub-menu
                li.menu-item
                  a(href="#")
                    strong Шаг 1:
                    |  Очищение
            li.menu-item.menu-item-has-children.menu-item--mobile
              a(href="#") Уход за лицом
              ul.sub-menu
                li.menu-item
                  a(href="#")
                    strong Шаг 1:
                    |  Очищение
                li.menu-item
                  a(href="#")
                    strong Шаг 2:
                    |  Пилинги и скрабы
                li.menu-item
                  a(href="#")
                    strong Шаг 3:
                    | Тонеры / Мисты
                li.menu-item
                  a(href="#")
                    strong Шаг 4:
                    |  Эссенция, сыворотка, ампула
                li.menu-item
                  a(href="#")
                    strong Шаг 5:
                    |  Уход для зоны вокруг глаз
                li.menu-item
                  a(href="#")
                    strong Шаг 6:
                    |  Лосьон, эмульсия
                li.menu-item
                  a(href="#")
                    strong Шаг 7:
                    |  Кремы
                li.menu-item
                  a(href="#")
                    strong Шаг 8:
                    |  Маски
                li.menu-item
                  a(href="#")
                    strong Шаг 9:
                    |  Защита от солнца
            li.menu-item.menu-item-has-children.menu-item--mobile
              a(href="#") Уход за телом
            li.menu-item.menu-item-has-children.menu-item--mobile
              a(href="#") Макияж
            li.menu-item.menu-item-has-children.menu-item--mobile
              a(href="#") Аксессуары
            li.menu-item.menu-item-has-children.menu-item--mobile
              a(href="#") Акции
            li.menu-item
              a(href="#") О магазине
            li.menu-item
              a(href="#") Бонусная программа
            li.menu-item.current
              a(href="#") Отзывы
            li.menu-item
              a(href="#") Каталог
            li.menu-item
              a(href="#") Бесплатная доставка
            li.menu-item
              a(href="#") Контакты

        .header__bar.bar
          .bar__item
            button.button-diagram
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-diagram")
          .bar__item
            button.button-wish
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-heart")
          .bar__item
            a.button-user.open-modal(href="#modal-login")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-user")
              span.text Войти
          .bar__item.bar__item--cart
            a.button-cart(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-cart")
              span.count 10

    // /.container
  // /.header__nav
