mixin nav()
  nav.header__nav
    .container
      .df
        .main-menu
          //- button.burger__wrap#header-burger
          //-   span.burger
          //-     span.line

          ul.menu
            li.menu-item
              a(href="#") О магазине
            li.menu-item
              a(href="#") Бонусная программа
            li.menu-item
              a(href="#") Отзывы
            li.menu-item
              a(href="#") Каталог
            li.menu-item
              a(href="#") Бесплатная доставка
            li.menu-item
              a(href="#") Контакты

        .header__bar.bar
          .bar__item
            button.button-diagram
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-diagram")
          .bar__item
            button.button-wish
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-heart")
          .bar__item
            a.button-user(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-user")
              span Войти

    // /.container
  // /.header__nav
