mixin scr1()
  section.scr1#scr1
    .slider1.scr1__slider#scr1__slider
      .slider1__slides.scr1__slides
        .slider1__slide.scr1__slide
          picture
            source(srcset='img/img-scr1-1--medium.jpg', media='(max-width: 1170px)')
            source(srcset='img/img-scr1-1.jpg', media='(min-width: 1170px)')
            img(srcset='img/img-scr1-1.jpg', alt='Персональная скидка', src='img/img-scr1-1.jpg')

        .slider1__slide.scr1__slide
          picture
            source(srcset='img/img-scr1-2.jpg', media='(max-width: 1170px)')
            source(srcset='img/img-scr1-2.jpg', media='(min-width: 1170px)')
            img(srcset='img/img-scr1-2.jpg', alt='Персональная скидка', src='img/img-scr1-2.jpg')

      .container
        .scr1__arrows.slider1__arrows
        .scr1__dots.slider1__dots
          span.slider1__num.scr1__num 1

    // /.container
  // /.scr1
