mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .container
      h2.title Отзывы в Инстаграм

      ul.insta__blocks
        li.insta__block.insta__block--two
          .insta__item.insta__item--small
            .insta__front.js_insta__front
              .insta__img
                noscript
                  img(src="img-temp/scr_insta/img-insta-1.jpg" alt="Инста 1" width="640" height="447" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-insta-1.jpg" alt="" width="640" height="447" data-object-fit-cover)
              .insta__author
                .author-img
                  noscript
                    img(src="img-temp/scr_insta/img-author-1.jpg" alt="Инста 1" width="336" height="336" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-author-1.jpg" alt="" width="336" height="336" data-object-fit-cover)
                .author-name @sinitsynaaa
            .insta__back
              .insta__review
                .article
                  p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текста щеке снова дороге которой бросил собрал, себя скатился большого, речью океана большой злых буквенных ipsum проектах, что своего жизни.

          .insta__item.insta__item--small
            .insta__front.js_insta__front
              .insta__img
                noscript
                  img(src="img-temp/scr_insta/img-insta-2.jpg" alt="Инста 2" width="640" height="447" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-insta-2.jpg" alt="" width="640" height="447" data-object-fit-cover)
              .insta__author
                .author-img
                  noscript
                    img(src="img-temp/scr_insta/img-author-2.jpg" alt="Инста 2" width="336" height="336" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-author-2.jpg" alt="" width="336" height="336" data-object-fit-cover)
                .author-name @coach.shine
            .insta__back
              .insta__review
                .article
                  p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.

        li.insta__block.insta__block--one
          .insta__item.insta__item--big
            .insta__img
              noscript
                img(src="img-temp/scr_insta/img-insta-center.jpg" alt="Инста центр" width="359" height="640" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-insta-center.jpg" alt="" width="359" height="640" data-object-fit-cover)

        li.insta__block.insta__block--two
          .insta__item.insta__item--small
            .insta__front.js_insta__front
              .insta__img
                noscript
                  img(src="img-temp/scr_insta/img-insta-3.jpg" alt="Инста 1" width="640" height="447" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-insta-3.jpg" alt="" width="640" height="447" data-object-fit-cover)
              .insta__author
                .author-img
                  noscript
                    img(src="img-temp/scr_insta/img-author-1.jpg" alt="Инста 1" width="336" height="336" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-author-1.jpg" alt="" width="336" height="336" data-object-fit-cover)
                .author-name @sinitsynaaa
            .insta__back
              .insta__review
                .article
                  p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текста щеке снова дороге которой бросил собрал, себя скатился большого, речью океана большой злых буквенных ipsum проектах, что своего жизни.

          .insta__item.insta__item--small
            .insta__front.js_insta__front
              .insta__img
                noscript
                  img(src="img-temp/scr_insta/img-insta-4.jpg" alt="Инста 2" width="640" height="447" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-insta-4.jpg" alt="" width="640" height="447" data-object-fit-cover)
              .insta__author
                .author-img
                  noscript
                    img(src="img-temp/scr_insta/img-author-2.jpg" alt="Инста 2" width="336" height="336" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_insta/img-author-2.jpg" alt="" width="336" height="336" data-object-fit-cover)
                .author-name @coach.shine
            .insta__back
              .insta__review
                .article
                  p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.

        li.insta__block.insta__block--text
          i.fa.fa-instagram
          p.strong Оставьте
            br
            |  ваш отзыв
          span.at @sindycat
          p.desc Поделитесь своими
            br
            |  впечатлениями
            br
            |  от нашей продукции
          .btns__wrap
            .btn__wrap
              a.btn.btn--icon(href="#") Написать отзыв
                span.btn__icon
  // /.scr_insta
