mixin scr_article-item()
  section.scr_article-item.article-item(id="scr_article-item")
    .container
      .row
        .col-md-8.offset-md-2
          +breadcrumbs

          h1.title Они работают, пока вы спите:
            br
            |  топ продуктов для ночного ухода

          .article
            img(src="img-temp/scr_article-item/img-art-1.jpg", alt="")

            p
              strong Наше тело — идеальный механизм. И даже ночью, когда мы спим и видим приятные сны, кожа активно обновляется. Наше задание — помочь ей. В это время она не подвергается негативному воздействию внешних факторов, а мимика находится в состоянии спокойствия Команда makeupstore.ru с радостью поделится информацией о бьюти-продуктах для ночного ухода.

            p Поскольку крем для ночного ухода за кожей должен восстановить гидролипидный баланс и усилить барьерные функции, выбирайте средства, ориентируясь на возраст, состояние, внешний вид и потребности эпидермиса. Для сухого, обезвоженного и зрелого кожного покрова превосходно подойдут средства с густой и насыщенной консистенцией, а для нормального, комбинированного и жирного — более легкие. До 35 лет можно использовать увлажняющие кремы, а после 35-ти отдайте предпочтение регенерирующим. Важно, чтобы в их составе были ретинол (обновляет), витамин С (активизирует синтез коллагена, выравнивает цвет лица, уменьшает и осветляет пигментные пятна), растительные экстракты (тонизируют, успокаивают и снимают воспаления), ретиноиды и коллаген (делают кожный покров более упругим и эластичным), масла (питают и придают мягкость), гиалуроновая кислота (глубоко увлажняет и быстро восстанавливает), BHA- и AHA-кислоты (отшелушивают). Крем Smart Night Custom от Clinique отличается сбалансированным составом (можно выбирать для сухой и для жирной кожи), а Multi Active Revitalizing Night Cream от Clarins обеспечивает длительное увлажнение и разглаживает морщинки.

            img(src="img-temp/scr_article-item/img-art-2.jpg", alt="")

            h2 Сыворотки для ночного ухода за кожей

            p Легкая консистенция и эффективное воздействие — именно так можно описать сыворотки. Средства с высокой концентрацией активных компонентов стимулируют процессы обновления, обеспечивают «доставку» ингредиентов, разглаживают морщинки и придают сияние. По мнению косметологов, правильный выбор средств для ночного ухода и строгое соблюдение всех процедур продлевают молодость кожи на 5-7 лет. Сыворотка от Mizon — превосходное решение для тех, кто хочет устранить тусклый цвет лица и одержать победу в борьбе с первыми признаками старения.

        // /.col
      // /.row
    // /.container
  // /.scr_article-item
