mixin scr_prod-item()
  section.scr_prod-item.prod-item.grey-bg(id="scr_prod-item")
    .container
      +breadcrumbs--products
      h1.prod-item__title.mobile Agatha Blanc spa cleansing water
      p.prod-item__desc.mobile Спа вода-тонер для очищения кожи и пор лица
    .top
      .container
        .row
          .offset-sm-2.col-sm-8.col-md-6.offset-md-0
            .gallery
              ul.marks.marks--gallery
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")

              .fotorama(data-width="100%" data-nav="thumbs" data-fit="contain" data-thumbmargin="12" data-thumbwidth="163" data-thumbheight="163" data-keyboard="true" data-allowfullscreen="true" data-ratio="556/486")
                a(href="img-temp/prod-item/img-prod-item-1.jpg" data-thumb="img-temp/prod-item/img-prod-item-1--thumb.jpg")
                a(href="img-temp/prod-item/img-prod-item-2.jpg" data-thumb="img-temp/prod-item/img-prod-item-2--thumb.jpg")
                a(href="img-temp/prod-item/img-prod-item-3.jpg" data-thumb="img-temp/prod-item/img-prod-item-3--thumb.jpg")
                a(href="img-temp/prod-item/img-prod-item-1.jpg" data-thumb="img-temp/prod-item/img-prod-item-1--thumb.jpg")
                a(href="img-temp/prod-item/img-prod-item-2.jpg" data-thumb="img-temp/prod-item/img-prod-item-2--thumb.jpg")
                a(href="img-temp/prod-item/img-prod-item-3.jpg" data-thumb="img-temp/prod-item/img-prod-item-3--thumb.jpg")
          .col-md-6
            .table__wrap
              h1.prod-item__title.desktop Agatha Blanc spa cleansing water
              p.prod-item__desc.desktop Спа вода-тонер для очищения кожи и пор лица

              p.vendor Артикул: 2933

              .prod-item__table
                table
                  tr
                    th Бренд:
                    td Agatha
                  tr
                    th Категория:
                    td очищение
                  tr
                    th Тип средства:
                    td термальная вода
                  tr
                    th Тип кожи:
                    td для всех типов кожи
                  tr
                    th Эффект:
                    td очищение, увлажнение,
                  tr
                    th Объем:
                    td 300мл

                .price-count__wrap
                  .price__wrap.price__wrap--two
                    b.price.price--last 2 900 Р
                    b.price.price--current 2 600 Р

                  .quantity
                    button.quantity-arrow.quantity-arrow-minus(type='button') -
                    input.quantity-num(type='number', value='1')
                    button.quantity-arrow.quantity-arrow-plus(type='button') +

                .btn__wrap
                  a.btn(href="#") Купить

    .bottom
      .container
        ul.prod-item__nav
          li.current
            a(href="#prod-tabs-0") Описание
          li
            a(href="#prod-tabs-1") Применение
          li
            a(href="#prod-tabs-2") Отзывы

        ul.prod-item__tabs
          li.prod-item__tab#prod-tabs-0
            .article
              p  Agatha Blanc spa cleansing water Спа вода- тонер для очищения кожи и пор лица. Вода обладает нежным ароматом и мягкой текстурой, которая нежно очищает кожу от загрязнений, косметики и позволяет освободить поры, давая им дышать. В состав воды входят натуральные ингредиенты и экстракты растений и цветов, которые благоприятно влияют на кожу. Средство содержит экстракты западной розы, термальную воду, экстракт семян чиа. Термальная вода насыщает кожу минералами и микроэлементами, способствует глубокому очищению и увлажнению кожи. Обладает успокаивающим действием. Экстракт семян чиа придает коже эластичность, оказывает противовоспалительное действие, помогает бороться с акне.
              p Активные компоненты: экстракты западной розы, термальную воду, экстракт семян чиа.
          li.prod-item__tab#prod-tabs-1
            .article
              p  Agatha Blanc spa cleansing water Спа вода- тонер для очищения кожи и пор лица. Вода обладает нежным ароматом и мягкой текстурой, которая нежно очищает кожу от загрязнений, косметики и позволяет освободить поры, давая им дышать.
          li.prod-item__tab#prod-tabs-2
            .article
              p  Agatha Blanc spa cleansing water Спа вода- тонер для очищения кожи и пор лица.



    // /.container
  // /.scr_prod-item
