mixin scr_blog()
  section.scr_blog.blog.grey-bg(id="scr_blog")
    .container
      h2.title Beauty - блог

    .blog__wrap--desktop
      .container
        .row
          .col-md-4
            .blog__block.blog__block--two
              a.blog__item.blog__item--small.blog__item--with-img(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-1.jpg" alt="Блог 1" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-1.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3 Cовременный
                      br
                      |  эффективный
                      br
                      |  лифтинг
                      br
                      |  с  Ottie Bio
                      br
                      |  Tension Serum
                  .blog__img
                    noscript
                      img(src="img-temp/scr_blog/img-blog-1-2.png" alt="Блог 1" width="156" height="193" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-1-2.png" alt="" width="156" height="193" data-object-fit-contain)
              a.blog__item.blog__item--small(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-2.jpg" alt="Блог 1" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-2.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3 Массаж от морщин
                      br
                      |  и мешков
                      br
                      |  под глазами

          .col-md-4
            .blog__block.blog__block--one
              .blog__item.blog__item--big
                .img-bg
                  noscript
                    img(src="img/img-blog-center.jpg" alt="Блог центр" width="358" height="516" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-blog-center.jpg" alt="" width="358" height="516" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3 Определи
                      br
                      |  свой тип кожи
                  .btns__wrap
                    .btn__wrap
                      a.btn(href="#") Пройти тест

          .col-md-4
            .blog__block.blog__block--two
              a.blog__item.blog__item--small.blog__item--right-bottom(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-4.jpg" alt="Блог 4" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-4.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3
                      strong То, что нужно:
                      br
                      |  собери свой идеальный
                      br
                      |  бьюти-бокс
              a.blog__item.blog__item--small.blog__item--right-top(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-5.jpg" alt="Блог 5" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-5.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3
                      strong Индивидуальный подход:
                      br
                      |  собери свой
                      br
                      |  базовый уход
                      br
                      |  с SINDYCAT

    .blog__wrap--mobile
      .container
        .slider1.blog__slider#blog__slider
          .slider1__slides.blog__slides
            .slider1__slide.blog__slide
              a.blog__item.blog__item--small.blog__item--with-img(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-1.jpg" alt="Блог 1" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-1.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3 Cовременный
                      br
                      |  эффективный
                      br
                      |  лифтинг
                      br
                      |  с  Ottie Bio
                      br
                      |  Tension Serum
                  .blog__img
                    noscript
                      img(src="img-temp/scr_blog/img-blog-1-2.png" alt="Блог 1" width="156" height="193" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-1-2.png" alt="" width="156" height="193" data-object-fit-contain)

            .slider1__slide.blog__slide
              a.blog__item.blog__item--small(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-2.jpg" alt="Блог 1" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-2.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3 Массаж от морщин
                      br
                      |  и мешков
                      br
                      |  под глазами

            .slider1__slide.blog__slide
              a.blog__item.blog__item--small.blog__item--right-bottom(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-4.jpg" alt="Блог 4" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-4.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3
                      strong То, что нужно:
                      br
                      |  собери свой идеальный
                      br
                      |  бьюти-бокс

            .slider1__slide.blog__slide
              a.blog__item.blog__item--small.blog__item--right-top(href="#")
                .img-bg
                  noscript
                    img(src="img-temp/scr_blog/img-blog-5.jpg" alt="Блог 5" width="359" height="240" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_blog/img-blog-5.jpg" alt="" width="359" height="240" data-object-fit-cover)
                .blog__content
                  .blog__title
                    h3
                      strong Индивидуальный подход:
                      br
                      |  собери свой
                      br
                      |  базовый уход
                      br
                      |  с SINDYCAT

  // /.scr_blog
