mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      +breadcrumbs--about
    .container
      .row
        .col-lg-5.col-md-6
          .about__content
            p.about__title SINDYCAT магазин корейской
              br
              |  косметики нового поколения

            p.about__text Азия занимает первое место по поставкам косметики в мире. Огромное количество косметических брендов удовлетворит любой запрос. Здесь есть все, эффективная косметика анти-эйдж, гипоаллергенная, косметика ECOCERT- органическая, совместные разработки с французами., американцами, немцами. При этом, цена товара такого качества гораздо ниже европейских марок.

        .col-lg-7.col-md-6
          .about__img
            .img__wrap
              .img__bg
              .img(style="background: transparent url('img/img-about-1.jpg') no-repeat center center; background-size: cover;")

    .about__features.features
      .container
        .features__row.features__row--top
          .features__item.features__item
            h3.features__title Скидки постоянным
              br
              |  покупателям

            p.features__desc Наши самые активные клиенты могут воспользоваться постоянной скидкой, которая действует на все товары.

          .features__item.features__item
            h3.features__title ONLINE-
              br
              |  консультант

            p.features__desc Наши эксперты по красоте и уходу всегда готовы помочь в выборе и подобрать именно те средства, которые будут полностью отвечать Вашим запросам


        .features__row.features__row--bottom
          .features__item.features__item--smallest
            h3.features__title Подарки при
              br
              |  каждом заказе!

            p.features__desc приятный сюрприз в каждой посылке

          .features__item.features__item--small
            h3.features__title Мы осуществляем
              br
              |  доставку по всей России

            p.features__desc красота не имеет границ!

          .features__item
            h3.features__title Широкий ассортимент
              br
              |  и высокое качество

            p.features__desc мы осуществляем строгий отбор брендов,только самое эффективное,и только то, чем пользовались и остались довольны


  // /.scr_about
