mixin scr_products1()
  section.scr_products.products.grey-bg(id="scr_products1")
    .container
      h2.title Хиты продаж
    .container
      .products__slider.slider1#products__slider1
        .products__slides.slider1__slides
          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.active.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 It's Skin Power 10 Formula WH Effector
                p.desc Отбеливающая атививозрастная сыворотка для лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 1 250 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 JAYJUN Eye Gel Patch
                    br
                    |  Roselle Tea
                p.desc Увлажняющие гидрогелевые патчи для области под глазами
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 820 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Besco Collagen Volume Lifting Eye Cream
                p.desc Коллагеновый крем для глаз с лифтинг эффектом
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 400 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

  // /.scr_products (Хиты)

mixin scr_products2()
  section.scr_products.products.grey-bg(id="scr_products2")
    .container
      h2.title Акция
    .container
      .products__slider.slider1#products__slider2
        .products__slides.slider1__slides
          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish.active
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 It's Skin Power 10 Formula WH Effector
                p.desc Отбеливающая атививозрастная сыворотка для лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 1 250 Р
                  b.price.price--current 1 250 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 2 900 Р
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 JAYJUN Eye Gel Patch
                    br
                    |  Roselle Tea
                p.desc Увлажняющие гидрогелевые патчи для области под глазами
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 900 Р
                  b.price.price--current 820 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Besco Collagen Volume Lifting Eye Cream
                p.desc Коллагеновый крем для глаз с лифтинг эффектом
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 500 Р
                  b.price.price--current 400 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 2 900 Р
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

  // /.scr_products (Акции)
