mixin scr_return()
  section.scr_return.return(id="scr_return")
    .container
      h1.title Условия возврата

    .return__main.grey-bg
      .container
        .row
          .col-md-6
            .article
              h2 Как сделать возврат?

              p.attention Мы гарантируем качество всех
                br
                |  продаваемых товаров.

              p
                strong Согласно Постановлению Правительства РФ № 55 от 19.01.1998, парфюмерно-косметические товары надлежащего качества не подлежат обмену или возврату в течение 14 дней.

              p Поэтому, покупателю  парфюмерно-косметического товара необходимо знать, что вернуть его в магазин можно только в том случае, если в нем есть недостатки, либо если при покупке не была предоставлена необходимая и достоверная информация о товаре.

              p.attention Условия обмена товара

              ol
                li
                  span.number 01.
                  |  Обмен товара ненадлежащего качества производится на аналогичный товар надлежащего качества. Либо потребитель может попросить вернуть деньги за товар.

                li
                  span.number 02.
                  |  Обмен товара, который не соответствовал позиции в заказе, производится на товар, соответствующий данной позиции.


                li.important
                  span.number 03.
                  |  Доставка обмениваемого товара осуществляется
                  br
                  |  за счет продавца.

              p Если товар ненадлежащего качества, либо не соответствующий позиции в заказе обнаружен в момент получения заказа, то возврат осуществляется курьеру.

          .col-md-6
            .return__img
              .img__wrap
                .img__bg
                .img(style="background: transparent url('../img/img-return-1.jpg') no-repeat center center; background-size: cover;")


    .container
      .row
        .col-md-6
          .return__actions
            .article
              p.attention Действия клиента по возврату товара

              p Необходимо в свободной форме написать заявление на возврат или обмен товара с указанием номера заказа, контактных данных, причин возврата и отправить: на&nbsp;
                a(href="mailto:feyatova@gmail.com") feyatova@gmail.com
                |  с приложением отчетливого фото товара, на котором видны повреждения или сроки годности.
        .col-md-6
          .return__info
            p.return__warning Обязательно, сохраняйте упаковку товара, в течение гарантийного срока. Товар без упаковки к возврату не принимается!

            .return__phone
              p Телефон для связи:
                a(href="tel:+79787876757")  +7 (978) 787-67-57
  // /.scr_return
