mixin scr_bonus()
  section.scr_bonus.bonus.grey-bg(id="scr_bonus")
    .bonus__top
      .container
        .row
          .col-lg-7.col-md-8
            +breadcrumbs--bonus

            h2 Пропуск в мир приятных
              br
              |  и выгодных покупок

            p.bonus__desc
              span.strong sindycat club
              |  - это дисконтная программа,
              br
              |  позволяющая накапливать скидки
              br
              |  при совершении покупок в магазинах.

            .bonus__small
              h2 Как приобрести карту?

              p
                strong Если Вы еще не являетесь обладателем дисконтной карты
                  span.strong  sindicat
                  |  , совершите покупку на сумму от 1000 рублей и получите клубную карту.

              p Поэтому, покупателю  парфюмерно-косметического товара необходимо знать, что вернуть его в магазин можно только в том случае, если в нем есть недостатки, либо если при покупке не была предоставлена необходимая и достоверная информация о товаре.

          .col-lg-5.col-md-4.bonus__img-wrap
            .bonus__img
              .img(style="background: transparent url('../img/img-bonus-1.png') no-repeat center center; background-size: contain;")

    .container
      .bonus__white
        h2 Как увеличить скидку?

        .bonus__white-content
          .bonus__white-text
            p Чем больше Вы приобретете товаров,
              br
              |  тем больше скидка

          .bonus__white-img
            .icon__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-bonus-1")
            .icon__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-bonus-2")

    .bonus__bottom
      .container
        .row
          .col-lg-4.offset-lg-1.col-md-5.col-sm-6
            .bonus__discount.bonus__discount--left
              p.bonus__discount-title Накопите на карте
              p.bonus__discount-sum
                strong 5 000
                |  руб.
              p.bonus__discount-bottom получите скидку

              .bonus__discount-img
                noscript
                  img(src="img/img-bonus-2.png" alt="Скидка 5%" width="269" height="240" data-object-fit-contain-bottom)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-bonus-2.png" alt="Скидка 5%" width="269" height="240" data-object-fit-contain-bottom)
          .col-lg-4.offset-md-2.col-md-5.col-sm-6
            .bonus__discount.bonus__discount--right
              p.bonus__discount-title Накопите на карте
              p.bonus__discount-sum
                strong 10 000
                |  руб.
              p.bonus__discount-bottom получите скидку

              .bonus__discount-img
                noscript
                  img(src="img/img-bonus-3.png" alt="Скидка 10%" width="270" height="198" data-object-fit-contain-bottom)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-bonus-3.png" alt="Скидка 10%" width="270" height="198" data-object-fit-contain-bottom)

      .container
        p.bonus__add-info Все покупки совершенные
          br
          |  по Вашей карте будут суммироваться


  // /.scr_bonus
