mixin scr_we()
  section.scr_we.we(id="scr_we")
    .container
      .df
        .we__img
          noscript
            img(src="img/img-we.jpg" alt="Девушка" width="507" height="499")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-we.jpg" alt="" width="507" height="499")
        .we__content
          h2.title Мы предлагаем лучшее  качество
            br
            |  по комфортной цене

          .article
            p Прежде чем отправить товар на продажу, тестируем его на себе. Выбор всегда делается в пользу космецевтики, которая способна решить проблему и показать видимый результат.

            p Наша команда постоянно стремится к развитию - мы повышаем квалификацию на профессиональных курсах и семинарах, посещаем отраслевые выставки и держим руку на пульсе инноваций.

            p Работа с проверенным поставщиками позволяет нам не только быть уверенными в оригинальном качестве продукции, но и предлагать цены, которые вас приятно удивят
          .we__bottom
            a.link.we__link(href="#")
              noscript
                img(src="img/svg/logo-insta-colored.svg" alt="инстаграм")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/logo-insta-colored.svg" alt="инстаграм")
              |  @sindycat
            .we__autograph
              noscript
                img(src="img/img-we-autograph.png" alt="автограф")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-we-autograph.png" alt="автограф")

  // /.scr_we
