mixin scr_lk-table()
  section.scr_lk-table.lk-table(id="scr_lk-table")
    .container
      +breadcrumbs--history
    .container
      .table-responsive
        table.table
          thead
            tr
              td.text-right № заказа
              td.text-left Покупатель
              td.text-right Кол-во товара
              td.text-left Статус заказа
              td.text-right Итого
              td.text-left Добавлено
              td
          tbody
            tr
              td.text-right №1
              td.text-left Иванова И. И.
              td.text-right 2
              td.text-left В обработке
              td.text-right 3 350 Р.
              td.text-left 22.07.2019
              td.text-right
                a.link(href="#") Смотреть
            tr
              td.text-right №2
              td.text-left Петрова О. О.
              td.text-right 1
              td.text-left В обработке
              td.text-right 3 350 Р.
              td.text-left 22.07.2019
              td.text-right
                a.link(href="#") Смотреть

    .container
      p.lk-table__shown Показано с 1 по 1 из 1 (всего 1 страниц)

  // /.scr_lk-table
