mixin scr_products1()
  section.scr_products.products.grey-bg(id="scr_products1")
    .container
      h2.title Хиты продаж
    .container
      .products__slider.slider1#products__slider1
        .products__slides.slider1__slides
          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.active.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 It's Skin Power 10 Formula WH Effector
                p.desc Отбеливающая атививозрастная сыворотка для лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 1 250 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 JAYJUN Eye Gel Patch
                    br
                    |  Roselle Tea
                p.desc Увлажняющие гидрогелевые патчи для области под глазами
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 820 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Besco Collagen Volume Lifting Eye Cream
                p.desc Коллагеновый крем для глаз с лифтинг эффектом
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 400 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

  // /.scr_products (Хиты)

mixin scr_products2()
  section.scr_products.products.grey-bg(id="scr_products2")
    .container
      h2.title Акция
    .container
      .products__slider.slider1#products__slider2
        .products__slides.slider1__slides
          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish.active
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 It's Skin Power 10 Formula WH Effector
                p.desc Отбеливающая атививозрастная сыворотка для лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 1 250 Р
                  b.price.price--current 1 250 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content

                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 2 900 Р
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 JAYJUN Eye Gel Patch
                    br
                    |  Roselle Tea
                p.desc Увлажняющие гидрогелевые патчи для области под глазами
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 900 Р
                  b.price.price--current 820 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Besco Collagen Volume Lifting Eye Cream
                p.desc Коллагеновый крем для глаз с лифтинг эффектом
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 500 Р
                  b.price.price--current 400 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 2 900 Р
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

  // /.scr_products (Акции)

mixin scr_products3()
  section.scr_products.products(id="scr_products")
    .products__top
      .container
        .row
          .col-md-8
            +breadcrumbs--products
          .col-md-4
            .products__sort
              span.text Сортировка
              select.products__select.select
                option(value="" selected="") По умолчанию
                option(value="1 вариант") 1 вариант
                option(value="2 вариант") 2 вариант
                option(value="3 вариант") 3 вариант
    .products__bottom
      .container
        .row
          .col-lg-3.col-md-4
            aside.products__filter.filter

              button.filter__menu Фильтр

              .form.form--filter.wpcf7
                ul.filter__list
                  li.filter__item
                    .top
                      p.filter__title Бренд
                      button.open.active

                    .hidden.init-opened
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Apieu, A.H.C.', checked='checked')
                                span.wpcf7-list-item-label Apieu, A.H.C.
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='AGATHA')
                                span.wpcf7-list-item-label AGATHA
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Beauugreen')
                                span.wpcf7-list-item-label Beauugreen
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Bergamo')
                                span.wpcf7-list-item-label Bergamo
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Bosnic')
                                span.wpcf7-list-item-label Bosnic
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Baroness')
                                span.wpcf7-list-item-label Baroness
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Besco')
                                span.wpcf7-list-item-label Besco
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Уход за лицом
                      button.open

                    .hidden
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='1 вариант')
                                span.wpcf7-list-item-label 1 вариант
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Уход за телом
                      button.open.active

                    .hidden.init-opened
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Для тела', checked='checked')
                                span.wpcf7-list-item-label Для тела
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Для ног')
                                span.wpcf7-list-item-label Для ног
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Для рук')
                                span.wpcf7-list-item-label Для рук
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Для зубов')
                                span.wpcf7-list-item-label Для зубов
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Для него')
                                span.wpcf7-list-item-label Для него
                                  i.accept__icon
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Для детей')
                                span.wpcf7-list-item-label Для детей
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Уход за волосами
                      button.open

                    .hidden
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='1 вариант')
                                span.wpcf7-list-item-label 1 вариант
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Макияж
                      button.open

                    .hidden
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='1 вариант')
                                span.wpcf7-list-item-label 1 вариант
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Аксессуары
                      button.open

                    .hidden
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='1 вариант')
                                span.wpcf7-list-item-label 1 вариант
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Тип средства
                      button.open

                    .hidden
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='1 вариант')
                                span.wpcf7-list-item-label 1 вариант
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Тип кожи
                      button.open

                    .hidden
                      .filter__input
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='1 вариант')
                                span.wpcf7-list-item-label 1 вариант
                                  i.accept__icon

                  li.filter__item
                    .top
                      p.filter__title Эффект
                      button.open.active

                    .hidden.init-opened
                      .filter__input.filter__input--pink
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Акции')
                                span.wpcf7-list-item-label Акции
                                  i.accept__icon
                      .filter__input.filter__input--pink
                        span.wpcf7-form-control-wrap.filter__checkbox
                          span.wpcf7-form-control.wpcf7-checkbox
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='filter__checkbox', value='Хит продаж')
                                span.wpcf7-list-item-label Хит продаж
                                  i.accept__icon
                .filter__btns
                  .btn__wrap
                    button.btn(type="submit") Применить
                  button.clear(type="submit")
                    span.text Очистить
                    span.icon

          .col-lg-9.col-md-8
            ul.products__list

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish.active
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                  .products__content
                    a(href="#")
                      h3 It's Skin Power 10 Formula WH Effector
                    p.desc Отбеливающая атививозрастная сыворотка для лица
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 1 250 Р
                      b.price.price--current 1 250 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
                  .products__content

                    a(href="#")
                      h3 Agatha Blanc spa cleansing water
                    p.desc Спа вода-тонер для очищения кожи и пор лица
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 2 900 Р
                      b.price.price--current 2 600 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                  .products__content
                    a(href="#")
                      h3 JAYJUN Eye Gel Patch
                        br
                        |  Roselle Tea
                    p.desc Увлажняющие гидрогелевые патчи для области под глазами
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 900 Р
                      b.price.price--current 820 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                  .products__content
                    a(href="#")
                      h3 Besco Collagen Volume Lifting Eye Cream
                    p.desc Коллагеновый крем для глаз с лифтинг эффектом
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 500 Р
                      b.price.price--current 400 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
                  .products__content
                    a(href="#")
                      h3 Agatha Blanc spa cleansing water
                    p.desc Спа вода-тонер для очищения кожи и пор лица
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 2 900 Р
                      b.price.price--current 2 600 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                  .products__content
                    a(href="#")
                      h3 JAYJUN Eye Gel Patch
                        br
                        |  Roselle Tea
                    p.desc Увлажняющие гидрогелевые патчи для области под глазами
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 900 Р
                      b.price.price--current 820 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                  .products__content
                    a(href="#")
                      h3 Besco Collagen Volume Lifting Eye Cream
                    p.desc Коллагеновый крем для глаз с лифтинг эффектом
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 500 Р
                      b.price.price--current 400 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

              li.products__wrap
                .products__item
                  span.products__label.products__label--action %
                  ul.marks
                    li
                      button.button-diagram
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-diagram")
                    li
                      button.button-wish
                        svg.icon.icon--empty
                          use(xlink:href="img/svg/sprite.svg#icon-heart")
                        svg.icon.icon--full
                          use(xlink:href="img/svg/sprite.svg#icon-heart-full")
                  a.products__img(href="#")
                    noscript
                      img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
                  .products__content
                    a(href="#")
                      h3 Agatha Blanc spa cleansing water
                    p.desc Спа вода-тонер для очищения кожи и пор лица
                  .products__bottom
                    .price__wrap.price__wrap--two
                      b.price.price--last 2 900 Р
                      b.price.price--current 2 600 Р
                    .btns__wrap
                      .btn__wrap
                        a.btn(href="#") Купить

            +paginator


  // /.scr_products (Стр. Продукты)

mixin scr_products4()
  section.scr_products.products(id="scr_products1")
    .container
      h2.title Для достижения максимального эффекта
    .container
      .products__slider.slider1#products__slider1
        .products__slides.slider1__slides
          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.active.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 It's Skin Power 10 Formula WH Effector
                p.desc Отбеливающая атививозрастная сыворотка для лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 1 250 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 JAYJUN Eye Gel Patch
                    br
                    |  Roselle Tea
                p.desc Увлажняющие гидрогелевые патчи для области под глазами
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 820 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Besco Collagen Volume Lifting Eye Cream
                p.desc Коллагеновый крем для глаз с лифтинг эффектом
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 400 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--hit Хит
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

  // /.scr_products (Хиты)

mixin scr_products5()
  section.scr_products.products(id="scr_products2")
    .container
      h2.title Похожие товары
    .container
      .products__slider.slider1#products__slider2
        .products__slides.slider1__slides
          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish.active
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-1.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 It's Skin Power 10 Formula WH Effector
                p.desc Отбеливающая атививозрастная сыворотка для лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 1 250 Р
                  b.price.price--current 1 250 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content

                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 2 900 Р
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-3.jpg" alt="Продукт 3" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 JAYJUN Eye Gel Patch
                    br
                    |  Roselle Tea
                p.desc Увлажняющие гидрогелевые патчи для области под глазами
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 900 Р
                  b.price.price--current 820 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-4.jpg" alt="Продукт 4" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Besco Collagen Volume Lifting Eye Cream
                p.desc Коллагеновый крем для глаз с лифтинг эффектом
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 500 Р
                  b.price.price--current 400 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

          .products__slide.slider1__slide
            .products__item
              span.products__label.products__label--action %
              ul.marks
                li
                  button.button-diagram
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-diagram")
                li
                  button.button-wish
                    svg.icon.icon--empty
                      use(xlink:href="img/svg/sprite.svg#icon-heart")
                    svg.icon.icon--full
                      use(xlink:href="img/svg/sprite.svg#icon-heart-full")
              a.products__img(href="#")
                noscript
                  img(src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 1" width="320" height="424" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_products/img-product-2.jpg" alt="Продукт 2" width="320" height="424" data-object-fit-contain)
              .products__content
                a(href="#")
                  h3 Agatha Blanc spa cleansing water
                p.desc Спа вода-тонер для очищения кожи и пор лица
              .products__bottom
                .price__wrap.price__wrap--two
                  b.price.price--last 2 900 Р
                  b.price.price--current 2 600 Р
                .btns__wrap
                  .btn__wrap
                    a.btn(href="#") Купить

  // /.scr_products (Акции)
