mixin scr_gift()
  section.scr_gift.gift.grey-bg(id="scr_gift")
    .container
      +breadcrumbs--gift

    .container
      .row
        .col-md-6
          p.gift__title Совершай покупки и получай подарки:
            br
            |  пробники в каждом заказе

          ul.gift__list
            li.gift__item
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-gift-1")

              .gift__text
                p
                  strong При покупке от
                  span.price 700&nbsp;Р.
                  br
                  |  листовая маска в подарок

            li.gift__item
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-gift-2")

              .gift__text
                p
                  strong При покупке от
                  span.price 1&nbsp;500&nbsp;Р.
                  br
                  |  миниверсия любимого средства
                  br
                  |  в подарок

        .col-md-6
          .gift__img
            .img__wrap
              .img__bg
              .img(style="background: transparent url('img/img-gift-1.jpg') no-repeat top center; background-size: cover;")

    .container
      .gift__bottom
        p.gift__info *какую именно маску и миниверсию положить - мы решаем сами,
          br
          |  в зависимости от наличия на складе
        .gift__phone
          p Телефон для связи:
            a(href="tel:+79787876757")  +7 (978) 787-67-57
  // /.scr_gift
