mixin scr_delivery()
  section.scr_delivery.delivery.grey-bg(id="scr_delivery")
    .container
      +breadcrumbs--delivery
    .container
      .row
        .col-md-6
          h2 Способы доставки:
          .delivery__item
            h3 По Симферополю:

            .delivery__table
              .delivery__row
                span.delivery__th
                  span.text Курьером
                span.delivery__td 200 р.
              .delivery__row
                span.delivery__th
                  span.text При заказе от 2 000 р
                span.delivery__td БЕСПЛАТНО
              .delivery__row
                span.delivery__th
                  span.text Самовывоз товара
                span.delivery__td с 10:00 до 21:00
              .delivery__row
                span.delivery__th
                  span.text Сроки доставки
                span.delivery__td в день заказа

          .delivery__item
            h3 По Крыму и Севастополю:

            .delivery__table
              .delivery__row
                span.delivery__th
                  span.text СДЭК
                span.delivery__td 200 р.
              .delivery__row
                span.delivery__th
                  span.text При заказе от 2 000 р
                span.delivery__td БЕСПЛАТНО
              .delivery__row
                span.delivery__th
                  span.text Сроки доставки
                span.delivery__td 1-2 дня

          .delivery__item
            h3 По России:

            .delivery__table
              .delivery__row
                span.delivery__th
                  span.text СДЭК
                span.delivery__td 200 р.
              .delivery__row
                span.delivery__th
                  span.text При заказе от 3 000 р
                span.delivery__td БЕСПЛАТНО
              .delivery__row
                span.delivery__th
                  span.text Сроки доставки
                span.delivery__td уточняйте у менеджера

        .col-md-6
          .delivery__right
            .delivery__pay
              h2 Способы доставки:

              ul.delivery__pay-options
                li
                  span.delivery__pay-options-title Оплата картой
                  |  - Вы всегда можете оплатить заказ банковской картой или электронными деньгами web - money. Вы оплачиваете только стоимость покупки, комиссия при оплате on-line не взимается.

                li
                  span.delivery__pay-options-title При получении
                  |  - оплата заказа наличными курьеру нашего магазина возможна в г. Симферополе.

              .payment
                ul.payment__list
                  li.payment__item
                    img(src='img/payment/img-pay-color-1.png', alt='оплата через Яндекс Деньги')
                  li.payment__item
                    img(src='img/payment/img-pay-color-2.png', alt='оплата через Киви')
                  li.payment__item
                    img(src='img/payment/img-pay-color-3.png', alt='оплата через рнкб')
                  li.payment__item
                    img(src='img/payment/img-pay-color-4.png', alt='оплата через Сбербанк')
                  li.payment__item.payment__item--df
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-payment")
                    span
                      | Безналичный расчет
                      br
                      |  с НДС и без НДС

            .delivery__info
              h2 Информирование по статусу Заказа

              p После оформления заказа в интернет-магазине, вы получите СМС/e-mail уведомление об успешном оформлении с номером вашего Заказа. Статус доставки вашего Заказа вы можете отследить в личном кабинете



  // /.scr_delivery
