mixin scr_articles()
  section.scr_articles.articles(id="scr_articles")
    .container
      h1.title Блог

      ul.articles__nav
        li.articles__nav-item
          a.link.articles__link.active(href="#articles__tab-0") уход за кожей
        li.articles__nav-item
          a.link.articles__link(href="#articles__tab-1") уход за волосами
        li.articles__nav-item
          a.link.articles__link(href="#articles__tab-2") макияж
        li.articles__nav-item
          a.link.articles__link(href="#articles__tab-3") новинки
        li.articles__nav-item
          a.link.articles__link(href="#articles__tab-4") специальные предложения

    .articles__tabs
      .articles__tab.active#articles__tab-0
        .container
          .row
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-1.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-1.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Эмульсия, сыворотка, эссенция —
                        br
                        |  в чем разница?
                    .articles__text
                      p Увлажнить, напитать, разгладить морщинки, если таковые посмели появиться. Придать коже сияние, устранить сухость и шелушение. Нейтрализовать воспаления, покраснения и раздражения.
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-2.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-2.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Что такое бустер для лица
                    .articles__text
                      p Вы только успели свыкнуться с сыворотками и тонерами, как дружественная Корея подкидывает в ваш beauty- словарь еще одно трендовое понятие? Выхода нет — придется учиться! Что же такое бустер?
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-3.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-3.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Они работают, пока вы спите:
                        br
                        |  топ продуктов для ночного ухода
                    .articles__text
                      p Наше тело — идеальный механизм. И даже ночью, когда мы спим и видим приятные сны,
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-1.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-1.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Эмульсия, сыворотка, эссенция —
                        br
                        |  в чем разница?
                    .articles__text
                      p Увлажнить, напитать, разгладить морщинки, если таковые посмели появиться. Придать коже сияние, устранить сухость и шелушение. Нейтрализовать воспаления, покраснения и раздражения.
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-2.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-2.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Что такое бустер для лица
                    .articles__text
                      p Вы только успели свыкнуться с сыворотками и тонерами, как дружественная Корея подкидывает в ваш beauty- словарь еще одно трендовое понятие? Выхода нет — придется учиться! Что же такое бустер?
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-3.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-3.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Они работают, пока вы спите:
                        br
                        |  топ продуктов для ночного ухода
                    .articles__text
                      p Наше тело — идеальный механизм. И даже ночью, когда мы спим и видим приятные сны,
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-1.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-1.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Эмульсия, сыворотка, эссенция —
                        br
                        |  в чем разница?
                    .articles__text
                      p Увлажнить, напитать, разгладить морщинки, если таковые посмели появиться. Придать коже сияние, устранить сухость и шелушение. Нейтрализовать воспаления, покраснения и раздражения.
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-2.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-2.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Что такое бустер для лица
                    .articles__text
                      p Вы только успели свыкнуться с сыворотками и тонерами, как дружественная Корея подкидывает в ваш beauty- словарь еще одно трендовое понятие? Выхода нет — придется учиться! Что же такое бустер?
                    time(datetime="2019-07-14") 14 июля 2019
            .col-sm-6.col-md-4
              .articles__wrap
                .articles__item
                  a.articles__img(href="#")
                    noscript
                      img.lazy(src="img-temp/scr_articles/img-art-3.jpg" alt="" width="366" height="201" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/scr_articles/img-art-3.jpg" alt="" width="366" height="201" data-object-fit-cover)

                  .articles__content
                    a.articles__open(href="#")
                      h2 Они работают, пока вы спите:
                        br
                        |  топ продуктов для ночного ухода
                    .articles__text
                      p Наше тело — идеальный механизм. И даже ночью, когда мы спим и видим приятные сны,
                    time(datetime="2019-07-14") 14 июля 2019


    .container
      +paginator
  // /.scr_articles
