mixin socials()
  section.socials(id="socials")
    a.socials__link.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram


mixin socials--modal()
  section.socials.socials--modal(id="socials--modal")
    a.socials__link.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram
    a.socials__link.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-facebook



  // /.socials
