mixin styles-top()
  link(rel='stylesheet', href='libs/normalize.min.css')
  link(rel='stylesheet', href='libs/animate.css')
  link(rel='stylesheet', href='css/first-load.min.css')

mixin styles-bottom()
  link(rel='stylesheet', href='css/main.min.css')
