mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Услуги
            li.menu-item
              a(href="#") Портфолио
            li.menu-item
              a(href="#") Отзывы
            li.menu-item
              a(href="#") Блог
            li.menu-item
              a(href="#") Контакты

        .footer__second-menu
          .footer__second-menu-col
            h3 Каталог

            ul.menu
              li.menu-item
                a(href="#") Карнизы и фурнитура
              li.menu-item
                a(href="#") Жалюзи, рулонные шторы
              li.menu-item
                a(href="#") Электроуправляемые системы
              li.menu-item
                a(href="#") Шторы и фурнитура
              li.menu-item
                a(href="#") Текстиль
              li.menu-item
                a(href="#") Обои
              li.menu-item
                a(href="#") Изделия из полиуретана
              li.menu-item
                a(href="#") Ковровые покрытия, ковры
              li.menu-item
                a(href="#") Одежда и механизация сцен

          .footer__second-menu-col
            h3 Сотрудничество

            ul.menu
              li.menu-item
                a(href="#") Дизайнерам
              li.menu-item
                a(href="#") Дилерам
              li.menu-item
                a(href="#") Отелям и санаториям


      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
              a(href="#") Политика конфиденциальности
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

