mixin scr1()
  section.scr1(id="scr1")
    .scr1__slider#scr1__slider
      .swiper-wrapper
        .scr1__slide.swiper-slide
          .scr1__item

            .scr1__bg
              noscript
                img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .container
              .scr1__content
                h1.scr1__title Оформление
                  br
                  |  стильных интерьеров

                p.scr1__desc для гостиниц, ресторанов, театров,
                  br
                  |  квартир и домов в Крыму

                .btn__wrap.btn__wrap--yellow
                  a.btn.btn--yellow.open-modal(href="#modal__count") Рассчитать стоимость

              .scr1__adv
                ul.scr1__adv-list
                  li.scr1__adv-item
                    p Официальный представитель
                      br
                      |  компании Windeco
                  li.scr1__adv-item
                    p Собственное производство
                      br
                      |  и склад в Симферополе
                  li.scr1__adv-item
                    p Более 3000 тканей различных
                      br
                      |  цветов, фактур и стиля

        .scr1__slide.swiper-slide
          .scr1__item

            .scr1__bg
              noscript
                img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .container
              .scr1__content
                h1.scr1__title Оформление

                p.scr1__desc для гостиниц, ресторанов, театров,

                .btn__wrap.btn__wrap--yellow
                  a.btn.btn--yellow.open-modal(href="#modal__count") Рассчитать стоимость

              .scr1__adv
                ul.scr1__adv-list
                  li.scr1__adv-item
                    p Официальный представитель
                      br
                      |  компании Windeco
                  li.scr1__adv-item
                    p Собственное производство
                      br
                      |  и склад в Симферополе
                  li.scr1__adv-item
                    p Более 3000 тканей различных
                      br
                      |  цветов, фактур и стиля


      .scr1__slider-nav
        button.swiper-button-next
        button.swiper-button-prev
        .swiper-dots


  // /.scr1
