mixin scr_category()
  section.scr_category.category(id="scr_category")
    .container
      +breadcrumbs

      .category__top
        .category__nav
          button.category__filter Фильтр
          ul.category__menu
            li.active
              a(href="#") Карнизы и фурнитура
            li
              a(href="#") Жалюзи, рулонные шторы
            li
              a(href="#") Электроуправляемые системы
            li
              a(href="#") Шторы и фурнитура
            li
              a(href="#") Текстиль
            li
              a(href="#") Обои
            li
              a(href="#") Изделия из полиуретана
            li
              a(href="#") Ковровые покрытия, ковры
            li
              a(href="#") Одежда и механизация сцен

        .category__content
          h1.category__title Электроуправляемые системы

          .category__desc
            p Электроуправляемые карнизы, жалюзи, рулонные шторы,
              br
              |  римские шторы, маркизы

          .category__img
            noscript
              img.lazy(src="img-temp/category-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/category-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .category__text
            p Компания ЭлДом является единственным представительством московской компании «WINDECO» в Крыму, которая является производителем карнизов, электросистем и солнцезащиты. В наличии широкий ассортимент карнизов, жалюзи, рулонных штор, римских штор, маркизов с электроприводом на дистанционном управлении.  В зависимости от вашей оконной конструкции мы предлагаем электроуправляемые карнизы для штор различной формы: прямые - для обычных окон и изогнутые – для эркеров и арок. У вас есть возможность настроить тип открывания карнизов: раздвижной, подъемный и комбинированный.

          .category__btns
            .btn__wrap.btn__wrap--yellow
              a.btn.btn--yellow.open-modal(href="#modal__count") Получить консультацию


      ul.category__feat
        li
          .category__feat-wrap
            p Единственные в Крыму предоставляем гарантированное обслуживание на электросистемы - 5 лет!
        li
          .category__feat-wrap
            p Все материалы сертифицированные,
              br
              |  гипоаллергенные, не выделяют
              br
              |  токсичных веществ.
        li
          .category__feat-wrap
            p Единственный сертифицированный монтажник в Крыму
        li
          .category__feat-wrap
            p Электросистемы адаптированы
              br
              |  к перепадам напряжения в Крыму
        li
          .category__feat-wrap
            p Сроки изготовления от 3 дней
        li
          .category__feat-wrap
            a(href="#" download) Скачать каталог


      .category__gallery
        .category__gallery-slider#category__slider
          .swiper-wrapper
            .category__slide.swiper-slide
              a.category__item.fancybox(href="img-temp/category/img-2.jpg" data-fancybox-group="category")
                noscript
                  img.lazy(src="img-temp/category/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/category/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .category__slide.swiper-slide
              a.category__item.fancybox(href="img-temp/category/img-3.jpg" data-fancybox-group="category")
                noscript
                  img.lazy(src="img-temp/category/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/category/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .category__slide.swiper-slide
              a.category__item.fancybox(href="img-temp/category/img-2.jpg" data-fancybox-group="category")
                noscript
                  img.lazy(src="img-temp/category/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/category/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .category__slide.swiper-slide
              a.category__item.category__item--play.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")

                span.play

                noscript
                  img.lazy(src="img-temp/category/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/category/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)


        button.swiper-button-prev
        button.swiper-button-next



  // /.scr_category
