mixin scr_category()
  section.scr_category.category(id="scr_category")
    .container
      +breadcrumbs

      .category__top
        .category__nav
          ul.category__menu
            li
              a(href="#") Карнизы и фурнитура
            li
              a(href="#") Жалюзи, рулонные шторы
            li
              a(href="#") Электроуправляемые системы
            li
              a(href="#") Шторы и фурнитура
            li
              a(href="#") Текстиль
            li
              a(href="#") Обои
            li
              a(href="#") Изделия из полиуретана
            li
              a(href="#") Ковровые покрытия, ковры
            li
              a(href="#") Одежда и механизация сцен


      .category__gallery
        .category__gallery-slider#category__slider
          .swiper-wrapper
            .category__slide.swiper-slide
              a.category__item.fancybox(href="img-temp/category/img-2.jpg" data-fancybox-group="category")
                noscript
                  img.lazy(src="img-temp/category/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/category/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .category__slide.swiper-slide
              a.category__item.fancybox(href="img-temp/category/img-3.jpg" data-fancybox-group="category")
                noscript
                  img.lazy(src="img-temp/category/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/category/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)


        button.swiper-button-prev
        button.swiper-button-next



  // /.scr_category
