mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      ul.serv__list
        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-1.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title Электроуправляемые системы

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-2.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title Шторы
              br
              |  и фурнитура

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-3.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title Изделия из полиуретана

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-4.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title Карнизы
              br
              |  и фурнитура

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-5.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title рулонные шторы Жалюзи

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-6.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title Ковровые покрытия, ковры

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-7.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title текстиль

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-8.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title обои

        li.serv__item
          a.serv__wrap(href="#")
            span.serv__icon
              img(src="img/svg/icons/icon-prod-9.svg", alt="Иконка", data-object-fit-contain)

            span.serv__title Одежда
              br
              |  и механизация сцен


  // /.scr_serv
