mixin scr_gallery()
  section.scr_gallery.gallery(id="scr_gallery")
    .container
      h1.title Портфолио

      .gallery__wrap.grey-bg
        .gallery__slider#gallery__slider
          .swiper-wrapper
            .gallery__slide.swiper-slide
              a.gallery__slide-img.fancybox(href="img-temp/gallery/img-1.jpg" data-fancybox-group="gallery")
                noscript
                  img.lazy(src="img-temp/gallery/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .gallery__slide.swiper-slide
              a.gallery__slide-img.fancybox(href="img-temp/gallery/img-2.jpg" data-fancybox-group="gallery")
                noscript
                  img.lazy(src="img-temp/gallery/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)



        .gallery__content
          .gallery__text
            h2 mriya resort&amp;spa ялта
            p Правильно подобранные фактуры создают гармоничный интерьер, и чем больше таких сочетаний будет, тем интереснее он в итоге получится

          .gallery__btns.swiper-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next


      .gallery__bottom
        .gallery__slider2#gallery__slider2
          .swiper-wrapper
            .gallery__item.swiper-slide
              a(href="#")
                .gallery__img
                  noscript
                    img.lazy(src="img-temp/gallery/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .gallery__desc
                  p Загородный дом г. Ялта

            .gallery__item.swiper-slide
              a(href="#")
                .gallery__img
                  noscript
                    img.lazy(src="img-temp/gallery/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .gallery__desc
                  p Загородный дом г. Ялта

            .gallery__item.swiper-slide
              a(href="#")
                .gallery__img
                  noscript
                    img.lazy(src="img-temp/gallery/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .gallery__desc
                  p Загородный дом г. Ялта

            .gallery__item.swiper-slide
              a(href="#")
                .gallery__img
                  noscript
                    img.lazy(src="img-temp/gallery/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .gallery__desc
                  p Загородный дом г. Ялта

            .gallery__item.swiper-slide
              a(href="#")
                .gallery__img
                  noscript
                    img.lazy(src="img-temp/gallery/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .gallery__desc
                  p Загородный дом г. Ялта

            .gallery__item.swiper-slide
              a(href="#")
                .gallery__img
                  noscript
                    img.lazy(src="img-temp/gallery/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/gallery/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .gallery__desc
                  p Загородный дом г. Ялта


        button.swiper-button-prev
        button.swiper-button-next

  // /.scr_gallery
