mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      .post__top
        h1.post__title Модные шторы в гостиную 2020:
          br
          |  лучшие решения для интерьера

        .post__desc
          p Стильное оформление окон способно преобразить как самую скромную обстановку, так и стать завершающим штрихом в продуманном до мелочей, благородном интерьере. Какой дизайн и материал штор популярен в 2020 году, рассказываем сегодня.

      .article
        p Шторы как часть декоративного оформления интерьера всегда в моде – и это главное. Меняется только форма, материал и украшения. Где-то гардины используются для защиты от солнечного света или света уличных фонарей, в других квартирах – только для создания уюта и более домашней атмосферы. В обоих случаях актуальный дизайн имеет значение.


        h2 Дизайн штор для гостиной: новинки и тренды 2020

        p
          strong Природные цвета
          |  – один из главных трендов 2020 года. При создании штор дизайнеры вдохновляются пейзажами, оттенками растений: цветовая палитра тканей включает все больше зеленых, фисташковых, болотных тонов. Также популярны землистые цвета: коричневые, охряные, цвета минералов и натуральных камней. И, конечно, нельзя не вспомнить про цвет года по версии Pantone – классический синий, который напоминает о цвете неба и воды.

        img(src="img-temp/post/img-1.jpg", alt="")
        img(src="img-temp/post/img-2.jpg", alt="")

        p
          strong Флористические принты.
          |  Они подходят как для современного, так и более классического интерьера. Если цветовая палитра вашей гостиной довольно темная, светлые цветочные гардины сделают ее поживее.

        p
          strong Геометрические принты.
          |  Шторы в гостиную в современном стиле снова в моде в 2020. Лучше всего смотрятся в интерьере, в котором много однотонных поверхностей. Цвет узора на шторах должен сочетаться с декоративными деталями, подушками и другим текстилем.

        p
          strong Бархат снова появляется в интерьерах.
          |  Гостиная с шторами из бархата приобретет более интимную и романтичную атмосферу.


  // /.scr_post
