mixin scr_cowork()
  section.scr_cowork.cowork(id="scr_cowork")
    .container
      h1.title Сотрудничество

      ul.cowork__nav
        li.current
          a(href="#cowork__tab-0") Дилерам
        li
          a(href="#cowork__tab-1") Дизайнерам
        li
          a(href="#cowork__tab-2") Отелям-санаториям


      ul.cowork__tabs
        li.cowork__tab#cowork__tab-0
          .cowork__df
            .cowork__content
              .cowork__top
                h2.cowork__title Дилерам

                .article
                  p Наш салон интерьера рад предложить сотрудничество дизайнерам, архитекторам, а также организациям, занимающимися строительством и дизайном

                  p Мы предоставляем весь спектр услуг по текстильному оформлению интерьера: замеры, составление эксклюзивного дизайн проекта штор, пошив штор и текстиля, монтаж карнизов и жалюзи.

                  p Для каждого нашего партнера мы разрабатываем индивидуальную систему взаимовыгодного сотрудничества.

              .cowork__feat.grey-bg
                h2.cowork__title Преимущества

                .article
                  ul
                    li Делая заказ у нас вы избегаете лишних расходов,
                      br
                      |  как в случае покупки у компаний посредников

                    li Свобода выбора тканей, расцветок и расценок

                    li Все материалы сертифицированные, гипоаллергенные,
                      br
                      |  не выделяет токсичных веществ

            .cowork__img(style="background: #1e2128 url('img-temp/workers-img.jpg') no-repeat center center; background-size: cover;")

        li.cowork__tab#cowork__tab-1
          .cowork__df
            .cowork__content
              .cowork__top
                h2.cowork__title Дизайнерам

                .article
                  p Наш салон интерьера рад предложить сотрудничество дизайнерам, архитекторам, а также организациям, занимающимися строительством и дизайном

                  p Мы предоставляем весь спектр услуг по текстильному оформлению интерьера: замеры, составление эксклюзивного дизайн проекта штор, пошив штор и текстиля, монтаж карнизов и жалюзи.

              .cowork__feat.grey-bg
                h2.cowork__title Преимущества

                .article
                  ul
                    li Делая заказ у нас вы избегаете лишних расходов,
                      br
                      |  как в случае покупки у компаний посредников

                    li Свобода выбора тканей, расцветок и расценок


            .cowork__img(style="background: #1e2128 url('img-temp/workers-img.jpg') no-repeat center center; background-size: cover;")


      .cowork__form
        .form.form--horizontal.wpcf7
          p.form__title Получить консультацию

          .form__df
            .form__item
              span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-user")

            .form__item
              span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-phone")

            .form__item
              span.wpcf7-form-control-wrap.your-msg.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-msg(type='text', name='your-msg', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Сообщение')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-msg")

          .form__item.form__item--submit
            .btn__wrap.btn__wrap--yellow
              input.wpcf7-form-control.wpcf7-submit.btn.btn--yellow(type='submit', value='Отправить')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon








  // /.scr_cowork
