mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    .container
      h2.title Наши клиенты:

      .partners__list#partners__slider
        .swiper-wrapper
          .partners__item.swiper-slide
            noscript
              img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90")

          .partners__item.swiper-slide
            noscript
              img.lazy(src="img-temp/partners/img-2.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.png" alt="" width="125" height="90")

          .partners__item.swiper-slide
            noscript
              img.lazy(src="img-temp/partners/img-3.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-3.png" alt="" width="125" height="90")

          .partners__item.swiper-slide
            noscript
              img.lazy(src="img-temp/partners/img-4.png" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-4.png" alt="" width="125" height="90")

        .swiper-dots


  // /.scr_partners
