mixin scr_serv-item()
  section.scr_serv-item.serv-item(id="scr_serv-item")
    .container
      h1.title Услуги

      .serv-item__desc
        p В нашем салоне  вы сможете не только приобрести качественные эксклюзивные материалы, но и получить квалифицированное обслуживание от первого шага до курирования объекта уже после завершения ремонта.

      .serv-item__df.clearfix
        .serv-item__img
          noscript
            img.lazy(src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .serv-item__content
          .article
            ul
              li Предоставляем комплекс услуг по доставке, установке, укладке приобретенных у нас изделий, гарантийное и послегарантийное обслуживание, помощь наших специалистов на любой стадии проектирования, строительства, отделки или декора помещения.

              li Профессионально занимаемся одеждой сцены (свет, звук, карнизы, шторы)

              li Пишем техническое задание для тендеров и его сопровождение.

              li Нашими клиентами являются как частные объекты (квартиры, дома), так   и крупные коммерческие объекты: дома отдыха, гостиницы, отели, рестораны, кафе, детские лагеря, бюджетные учреждения.


      .serv-item__df.serv-item__df--2.grey-bg.clearfix
        .serv-item__img
          noscript
            img.lazy(src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .serv-item__content
          .article
            ul
              li Предлагаем дизайн, оформление и пошив штор, покрывал, подушек, валиков, чехлов, скатертей, салфеток и постельного белья и т.д. В нашем салоне большой ассортимент: обоев, портьерных тканей, линолеума, ковров, ковровых покрытий , лепного декора, махровых изделий, постельного белья, столового белья, подушки, одеяла, пледы, все виды карнизов.

              li Профессиональные монтажники  установят любые типы конструкций: профильные, потолочные, декоративные карнизы, жалюзи, рулонные и римские шторы; электросистемы  (карнизы, жалюзи, рулонные шторы, роллеты, маркизы.

              li Сопровождаем проекты от замысла до сдачи под ключ, гарантируя выполнение обязательств по качеству и срокам.

              li Осуществляем выезд в любую точку Крыма



  // /.scr_serv-item
