mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h1.title Блог

      ul.blog__list
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Модные шторы в гостиную 2020:
                  br
                  |  лучшие решения для интерьера

              .blog__text
                p Стильное оформление окон способно преобразить как самую скромную обстановку, так и стать завершающим штрихом в продуманном до мелочей, благородном интерьере.

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Дизайн гостиной — 2020:
                  br
                  |  самые актуальные тренды

              .blog__text
                p Стильное оформление окон способно преобразить как самую скромную обстановку, так и стать завершающим штрихом в продуманном до мелочей, благородном интерьере.

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 15 гостиных с самыми
                  br
                  |  стильными обоями

              .blog__text
                p Стильное оформление окон способно преобразить

        li.blog__item
          .blog__wrap
            a.blog__img.blog__img--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")

              span.play

              noscript
                img.lazy(src="img-temp/blog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 15 гостиных с самыми
                  br
                  |  стильными обоями

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)


            .blog__content
              a(href="#")
                h2 15 гостиных с самыми
                  br
                  |  стильными обоями

              .blog__text
                p Стильное оформление окон способно преобразить

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Модные шторы в гостиную 2020:
                  br
                  |  лучшие решения для интерьера

              .blog__text
                p Стильное оформление окон способно преобразить как самую скромную обстановку, так и стать завершающим штрихом в продуманном до мелочей, благородном интерьере.

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 Дизайн гостиной — 2020:
                  br
                  |  самые актуальные тренды

              .blog__text
                p Стильное оформление окон способно преобразить как самую скромную обстановку, так и стать завершающим штрихом в продуманном до мелочей, благородном интерьере.

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a(href="#")
                h2 15 гостиных с самыми
                  br
                  |  стильными обоями

              .blog__text
                p Стильное оформление окон способно преобразить




      +paginator


  // /.scr_blog
