mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .contacts__map-wrap
      .contacts__map#contacts__map

    .container
      .contacts__wrap
        .logo__wrap
          .logo(href="index.html")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#logo")

        .contacts__address
          p г. Симферополь,
            br
            |  ул. Г. Сталинграда, 8А

        .contacts__phones
          a.contacts__phone.link(href="tel:+79782017978" rel="nofollow") +7 (978) 201-7-978

        .contacts__msgs
          ul.contacts__msgs-list
            li
              a(href="https://api.whatsapp.com/send?phone=79782017978" rel="nofollow")
                i.fab.fa-whatsapp
            li
              a(href="viber://chat?number=79782017978" rel="nofollow")
                i.fab.fa-viber

  // /.scr_contacts
