mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .container
      .steps__wrap
        .steps__img
          noscript
            img.lazy(src="img/steps-img.png" alt="" width="125" height="90" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/steps-img.png" alt="" width="125" height="90" data-object-fit-contain)


        .steps__list#steps__slider
          .swiper-wrapper
            .steps__item.swiper-slide
              span.steps__num 1
              .steps__text
                p Оставьте заявку по телефону
                  br
                  |  или заполните форму

            .steps__item.swiper-slide
              span.steps__num 2
              .steps__text
                p Дизайнер выезжает с каталогами тканей,
                  br
                  |  образцами карнизов и рулонных штор,
                  br
                  |  и поможет правильно подбирать фактуру,
                  br
                  |  цветовое исполнение текстиля для оформления

            .steps__item.swiper-slide
              span.steps__num 3
              .steps__text
                p Монтажник произведет точные
                  br
                  |  замеры для расчета стоимости

            .steps__item.swiper-slide
              span.steps__num 4
              .steps__text
                p Вам не нужно будет беспокоиться
                  br
                  |  за дальнейшее обслуживание
                  br
                  |  электрокарнизов.

                p
                  small Мы единственные в Крыму предоставляем
                    br
                    |  гарантированное обслуживание
                    br
                    |  на электросистемы - 5 лет

            .steps__item.swiper-slide
              span.steps__num 5
              .steps__text
                p Произведем навеску штор,
                  br
                  |  монтаж карнизов

            .steps__item.swiper-slide
              span.steps__num 6
              .steps__text
                p Подберем для вас идеальный вариант
                  br
                  |  и приступим к изготовлению изделий

          .swiper-dots

      .steps__btns
        .btn__wrap
          a.btn.btn--yellow(href="#") Рассчитать стоимость

  // /.scr_steps
