mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      h1.title О нас

      .about__desc
        p Компания «ЭлДом» – профессионально занимается оформлением интерьера на всей территории Республики Крым. У нас квалифицированные пециалисты, которые ежедневно вкладывают в работу свои силы, знания, опыт, энергию и профессионализм. Опыт работы наших сотрудников более 10 лет.

      ul.about__feat
        li
          p Официальное представительство
            br
            |  компаний

          .about__logos
            .about__logo
              noscript
                img.lazy(src="img/about-feat-logo-1.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/about-feat-logo-1.png" alt="" width="125" height="90" data-object-fit-contain)

            .about__logo
              noscript
                img.lazy(src="img/about-feat-logo-2.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/about-feat-logo-2.png" alt="" width="125" height="90" data-object-fit-contain)

        li
          p Собственное
            br
            big производство и склад
            br
            |  в Симферополе

        li
          p
            big Более 3000
            br
            |  тканей различных
            br
            |  цветов, фактур и стиля


      .about__complex
        p.about__complex-title ЭлДом – это комплексный подход:
        .article
          ul
            li Вы экономите время на поиск и подборку материалов

            li При комплексном подходе, будет действовать гибкая система скидок

            li Вы можете увидеть, как будут сочетаться цвета и фактуры выбранных вами материалов

            li Наши специалисты помогут учесть по каждому подходу все нюансы сочетания материалов между собой и разобрать для вас общую концепцию интерьеров

            li Вам не нужно будет повторяться о своих пожеланиях в каждом отдельном направлении

            li Работа с ведущими европейскими, американскими и российскими производителями для того, чтобы предложить для самых требовательных потребителей, дизайнерам интерьера и архитектур большой выбор ассортимента продукции для самых разных направлений, при этом гарантируя качество самой продукции и высокую эстетику, учитывая тенденции рынка.

      .about__mission.grey-bg
        h2.about__mission-title Миссия

        .about__mission-desc
          p сделать так, чтобы ремонт от идеи до воплощения оставил у Вас только позитивные впечатления,
            br
            |  сэкономив Ваше время и деньги, предоставить качественные материалы и обслуживание.

          p
            big Лучшая награда для нас – довольные клиенты!

      .about__bottom
        .about__bottom-content
          p Не бойтесь экспериментировать вместе с нами! Ваш дом – это отражение Вас, он должен гармонировать с Вашим характером, окутывать уютом, дарить вдохновение.

          p
            big Ваш уют – это наша работа!

        .about__bottom-img
          noscript
            img.lazy(src="img/about-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/about-img.jpg" alt="" width="125" height="90" data-object-fit-cover)


  // /.scr1
