mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__content
        h1.scr1__title Получайте
          strong.accent  до 24% годовых
          br
          |  за счёт высоколиквидных инвестиций
          br
          |  в доходные дома

        .scr1__desc
          p Все инвестиции обеспечены несгораемым активом — нашей
            br
            |  имеющейся недвижимостью и доходом от сдачи её в аренду

        .scr1__btns
          .btn__wrap.btn__wrap--red
            a.xbtn.xbtn--red.open-modal(href="#") Хочу получить презентацию о проекте,
              br
              |  финансовую модель и стать инвестором

          a.scr1__play.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
            span.scr1__play-text Видеопрезентация
              br
              |  экспертов
              br
              |  по инвестированию
            span.scr1__play-btn

        ul.scr1__feat
          li.scr1__feat-item
            span.scr1__feat-num 01
              svg.icon
                use(xlink:href="img/svg/sprite.svg#decor")

            span.scr1__feat-text Вы инвестируете от 50 000 руб. под депозит или ежемесячный пассивный доход
          li.scr1__feat-item
            span.scr1__feat-num 02
              svg.icon
                use(xlink:href="img/svg/sprite.svg#decor")

            span.scr1__feat-text Мы строим многоквартирный дом под круглогодичную сдачу в аренду
          li.scr1__feat-item
            span.scr1__feat-num 03
              svg.icon
                use(xlink:href="img/svg/sprite.svg#decor")

            span.scr1__feat-text Вы безопасно сохраняете и преумножаете свои сбережения и можете создать надежный пассивный источник дохода

  // /.scr1
