mixin scr_offer()
  section.scr_offer.offer(id="scr_offer")
    .container
      p.offer__label Предложение ограничено

      .offer__top
        h2.page-title Инвестируйте прямо сейчас
          br
          |  и получите максимальную выгоду
          br
          |  с повышенной доходностью
          span.accent  до

        p.offer__percent
          strong 30%
          |  годовых

      .offer__time
        p.offer__time-title До окончания выгодных условий
          br
          |  инвестирования осталось:

        .offer__time-df
          .offer__time-wrap
            #countdown

  // /.scr_offer
