mixin scr_team()
  section.scr_team.team(id="scr_team")
    .container
      h2.page-title Команда
        span.accent  «Пионеры»
        |  — высококлассные эксперты каждый в&nbsp;своей области: от вопросов поиска участка до управления недвижимостью

      ul.team__list
        li
          .team__item
            .team__img
              img(src="img-temp/team/img-1.jpg" alt="" data-object-fit-cover)

            .team__content
              svg.icon
                use(xlink:href="img/svg/sprite.svg#decor")

              h3.team__title Платон Солнцев
              p.team__desc Генеральный директор
        li
          .team__item
            .team__img
              img(src="img-temp/team/img-2.jpg" alt="" data-object-fit-cover)

            .team__content
              svg.icon
                use(xlink:href="img/svg/sprite.svg#decor")

              h3.team__title Сергей Гаечкин
              p.team__desc Генеральный директор
        li
          .team__item
            .team__img
              img(src="img-temp/team/img-3.jpg" alt="" data-object-fit-cover)

            .team__content
              svg.icon
                use(xlink:href="img/svg/sprite.svg#decor")

              h3.team__title Ирина Макеева
              p.team__desc Менеджер
        li
          .team__item
            .team__img
              img(src="img-temp/team/img-4.jpg" alt="" data-object-fit-cover)

            .team__content
              svg.icon
                use(xlink:href="img/svg/sprite.svg#decor")

              h3.team__title Дмитрий Бессарабов
              p.team__desc Менеджер

  // /.scr_team
