mixin scr_reviews()
  section.scr_reviews.reviews.blue-bg(id="scr_reviews")
    .container
      h2.page-title Мы гордимся тем, что наши инвесторы и арендаторы
        br
        span.accent  довольны сотрудничеством

      ul.tabs__nav.tabs__nav--js
        li.current
          a(href="#reviews__tab-0") Отзывы
        li
          a(href="#reviews__tab-1") Видеотзывы

      ul.reviews__tabs
        li.reviews__tab#reviews__tab-0
          .reviews__slider-wrap
            .reviews__slider#reviews__slider-0
              .swiper-wrapper
                .swiper-slide
                  .reviews__item
                    .reviews__top
                      .reviews__author
                        h3.reviews__title Милана
                        p.reviews__case Дом 21 кв.м на участке 1 сот.

                      time(datetime="2020-08-25") 25 августа 2020

                    .article
                      p Есть над чем задуматься: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы! Есть над чем задуматься: представители современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Противоположная точка зрения подразумевает, что многие известные личности представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. Принимая во внимание показатели успешности, дальнейшее развитие различных форм деятельности, в своём классическом представлении, допускает внедрение вывода текущих активов. Как уже неоднократно упомянуто, интерактивные прототипы формируют глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных рациональных ограничений.

                .swiper-slide
                  .reviews__item
                    .reviews__top
                      .reviews__author
                        h3.reviews__title Милана
                        p.reviews__case Дом 21 кв.м на участке 1 сот.

                      time(datetime="2020-08-25") 25 августа 2020

                    .article
                      p Есть над чем задуматься: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы! Есть над чем задуматься: представители современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.

                .swiper-slide
                  .reviews__item
                    .reviews__top
                      .reviews__author
                        h3.reviews__title Милана
                        p.reviews__case Дом 21 кв.м на участке 1 сот.

                      time(datetime="2020-08-25") 25 августа 2020

                    .article
                      p Есть над чем задуматься: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы! Есть над чем задуматься: представители современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Противоположная точка зрения подразумевает, что многие известные личности представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. Принимая во внимание показатели успешности, дальнейшее развитие различных форм деятельности, в своём классическом представлении, допускает внедрение вывода текущих активов. Как уже неоднократно упомянуто, интерактивные прототипы формируют глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных рациональных ограничений.

            .reviews__slider-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

          .reviews__btns
            .btn__wrap.btn__wrap--red
              a.xbtn.xbtn--red.open-modal(href="#") Оставить отзыв

        li.reviews__tab#reviews__tab-1
          .reviews__slider-wrap
            .reviews__slider#reviews__slider-1
              .swiper-wrapper
                .swiper-slide
                  .reviews__item
                .swiper-slide
                  .reviews__item
                .swiper-slide
                  .reviews__item

            .reviews__slider-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

  // /.scr_reviews
