mixin scr_feat()
  section.scr_feat.feat.blue-bg(id="scr_feat")
    .container
      h2.page-title Преимущества инвестирования
        br
        |  в продукты компании

      ul.feat__list
        li.feat__item
          span.feat__icon
            img(src="img/svg/icons/feat-1.svg" alt="")
          span.feat__text Невысокий порог входа —
            br
            |  от 50 000 руб
        li.feat__item
          span.feat__icon
            img(src="img/svg/icons/feat-2.svg" alt="")
          span.feat__text Высокая доходность —
            br
            |  до 24% годовых
        li.feat__item
          span.feat__icon
            img(src="img/svg/icons/feat-3.svg" alt="")
          span.feat__text Ставка в 2 раза
            br
            |  выгоднее банковских
        li.feat__item
          span.feat__icon
            img(src="img/svg/icons/feat-4.svg" alt="")
          span.feat__text Индивидуальный подход
            br
            |  к каждому инвестору

      .feat__form
        .form.wpcf7
          form.wpcf7-form
            .form__wrap
              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--red
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--red(type='submit', value='Хочу консультацию')

  // /.scr_feat
