mixin scr_docs()
  section.scr_docs.docs(id="scr_docs")
    h2.page-title Договора для ознакомления

    ul.docs__list
      li
        a.docs__item(href="#" download) Скачать шаблон Договора Займа
          br
          |  для физ лиц
      li
        a.docs__item(href="#" download) Скачать шаблон Договора Займа
          br
          |  для физ лиц
      li
        a.docs__item(href="#" download) Скачать шаблон Договора Займа
          br
          |  для физ лиц
      li
        a.docs__item(href="#" download) Скачать шаблон Договора Займа
          br
          |  для физ лиц

  // /.scr_docs
