mixin scr_types()
  section.scr_types.types(id="scr_types")
    .container
      ul.types__list
        li.types__item
          h2.types__title
            strong высокий займ
            br
            |  инвестиции от 50 000 руб.

          p.types__num
            strong 17-24%
            |  годовых

          .types__desc
            p
              b От 3-х месяцев до 2-х лет
              br
              |  Выплата в конце срока

          .types__desc
            p Пример доходности:
              br
              b 1 млн. руб. х 21% =
                strong  210 000 / 1 год
              br
              b 1 млн. руб. х 24% =
                strong  480 000 / 2 года

          .types__desc
            p Гарантии:
              br
              b Договор займа / инвестирование

        li.types__item
          h2.types__title
            strong депозит
            br
            |  инвестиции от 50 000 руб.

          p.types__num
            strong 15-22%

          .types__desc
            p
              b От 3-х месяцев до 2-х лет
              br
              |  Ежемесячные выплаты %

          .types__desc
            p Пример ежемесячной доходности:
              br
              b 1 млн. руб. х 19% =
                strong  15 800 руб.
              br
              b 12,6 млн. руб. х 19% =
                strong  200 000 руб.

          .types__desc
            p Гарантии:
              br
              b Договор займа / инвестирование

  // /.types
