mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    h2.page-title Вопрос - Ответ

    ul.faq__list
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
        .hidden
          .article
            p  Есть над чем задуматься: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы! Есть над чем задуматься: представители современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.

      li.faq__item
        .top
          h3 Какие гарантии, что вы не обманете?
          button.open
        .hidden
          .article
            p  Есть над чем задуматься: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы! Есть над чем задуматься: представители современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.

      li.faq__item
        .top
          h3 Как вы зарабатываете деньги?
          button.open
        .hidden
          .article
            p  Есть над чем задуматься: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы! Есть над чем задуматься: представители современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.

      li.faq__item
        .top
          h3 Для чего вам нужно инвестирование?
          button.open
        .hidden
          .article
            p  Есть над чем задуматься: базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут своевременно верифицированы! Есть над чем задуматься: представители современных социальных резервов превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.

  // /.scr_faq
