mixin scr_garanties()
  section.scr_garanties.garanties(id="scr_garanties")
    .container
      h2.page-title Почему вы
        span.accent  гарантированно
        |  будете иметь
        br
        |  пассивный доход после вклада в Доходные дома?

      ul.garanties__list
        li.garanties__item
          .garanties__img
            img(src="img/garanties-1.png" alt="")

          .garanties__content
            .garanties__title
              span.garanties__title-num 01
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#decor")

              h3 Месторасположение - один из факторов круглогодичной заполняемости квартир

            .garanties__text
              p Крым - один из самых инвестиционно привлекательных регионов РФ: это обусловлено и строительством моста, и трассы Тавриды,      и в целом - благоприятным климатом. Все больше и больше людей приезжают сюда не только в курортный сезон, но и переезжают жить навсегда - рынок недвижимости в Крыму стремительно развивается.

              p Именно г. Севастополь является стратегически важным
                br
                |  вектором направления инвестиционных проектов.


        li.garanties__item
          .garanties__img
            img(src="img/garanties-2.png" alt="")

          .garanties__content
            .garanties__title
              span.garanties__title-num 02
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#decor")

              h3 Собственная строительная компания — мы строим доходные дома по себестоимости

            .garanties__text
              p В первую очередь наша команда - эксперты в строительстве надежных домов с опытом более 10 лет. Мы берем на себя весь цикл работ под ключ: от поиска земельного участка, строительства или реконструкции дома, ремонта и дизайна интерьера - до оформления документов и поиска арендаторов.

              p У нас сильная, дружная и доброжелательная команда, главной ценностью которой является ответственность за будущее.

        li.garanties__item
          .garanties__img
            img(src="img/garanties-3.png" alt="")

          .garanties__content
            .garanties__title
              span.garanties__title-num 03
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#decor")

              h3 Недвижимость - самый надежный и всегда востребованный актив всех времен

            .garanties__text
              p Высокая эффективность инвестиций в объекты недвижимости легко объясняется: вкладывая в драгоценные металлы, Вы вынуждены подстраиваться под курс ЦБ, акции — нестабильны, депозиты в банках не превышают 9% годовых, а просто держать деньги под матрасом - терять накопления из-за инфляции.

              p Инвестирование в недвижимость - надежный способ сохранить и преувеличить Ваши сбережения!

  // /.scr_garanties
