mixin scr_cases()
  section.scr_cases.cases(id="scr_cases")
    .container
      h2.page-title Мы успешно построили, отремонтировали и привлекли
        br
        |  инвестиции в уже
        span.accent  более 5 доходных домов
        |  в Крыму и Москве

      .cases__slider-wrap
        .cases__slider#cases__slider
          .swiper-wrapper
            .swiper-slide
              .cases__item
                a.cases__img.fancybox(href="img-temp/cases-img.jpg")
                  img(src="img-temp/cases-img.jpg" alt="" data-object-fit-cover)

                .cases__content
                  h3.cases__title 17 капсульных студий в  Севастополе

                  .cases__text
                    p
                      b Что сделано:
                      |  приобретены 2 участка по 8 соток с 5ю домами одно / двух этажных в р-не Котовского спуска близ центра Севастополя.

                  .cases__text
                    p
                      b Проведена внутр и внеш реконструкция:
                      |  было сделано 17 студий от 10 до 25 кв м

                  .cases__text
                    p
                      b Описание каждого текста:
                      |  с другой стороны, существующая теория влечет за собой процесс внедрения и модернизации системы массового участия. Кстати, представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть своевременно верифицированы.

                  .cases__text
                    p
                      b Сроки исполнения:
                      |  4 недели

            .swiper-slide
              .cases__item
                a.cases__img.fancybox(href="img-temp/cases-img.jpg")
                  img(src="img-temp/cases-img.jpg" alt="" data-object-fit-cover)

                .cases__content
                  h3.cases__title 17 капсульных студий в  Севастополе

                  .cases__text
                    p
                      b Что сделано:
                      |  приобретены 2 участка по 8 соток с 5ю домами одно / двух этажных в р-не Котовского спуска близ центра Севастополя.

                  .cases__text
                    p
                      b Проведена внутр и внеш реконструкция:
                      |  было сделано 17 студий от 10 до 25 кв м

            .swiper-slide
              .cases__item
                a.cases__img.fancybox(href="img-temp/cases-img.jpg")
                  img(src="img-temp/cases-img.jpg" alt="" data-object-fit-cover)

                .cases__content
                  h3.cases__title 17 капсульных студий в  Севастополе

                  .cases__text
                    p
                      b Что сделано:
                      |  приобретены 2 участка по 8 соток с 5ю домами одно / двух этажных в р-не Котовского спуска близ центра Севастополя.

                  .cases__text
                    p
                      b Проведена внутр и внеш реконструкция:
                      |  было сделано 17 студий от 10 до 25 кв м

        .cases__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

  // /.scr_cases
