mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__wrap
        .about__img
          img(src="img/about-img.jpg" alt="" data-object-fit-cover)

        h2.page-title Проект
          span.accent «Доходный дом 2021»
          |  - один из новых
          br
          |  инвестиционных продуктов, обреченный на успех

        .about__content
          .about__desc
            p «Доходный дом 2021»  —  одноэтажный дом на 8-16 комнат с эксплуатируемой крышей

          .about__text
            p Проект расположен на 2-х земельных участках площадью 8 соток каждый. Участки находятся в собственности компании «Пионеры» в г. Севастополь в частном секторе Ленинского округа.

            p Строительство дома из ЛСТК осуществляется с применением каркасной технологии - практичный вариант для возведение быстромонтируемых зданий.

            p Наш авторский дизайн проекта и отделки, уникальный подход к зонированию ограниченного пространства обеспечивает проекту «Доходный дом 2021» высокую ликвидность.

        .about__bottom
          .about__bottom-left
            .about__bottom-num
              span 9,85 - 17,4
              span млн.
                br
                |  руб

            .about__bottom-desc
              p Необходимые инвестиции
                br
                |  для строительства

          a.about__bottom-right(href="#") Смотреть таблицу расходов
            br
            |  на
            strong  «Доходный дом»

  // /.scr_about
