mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      .socials__link-img
        img(src="img/svg/icons/vk.svg" alt="" data-object-fit-contain)

    a.socials__link(href='#', rel='nofollow', target='_blank')
      .socials__link-img
        img(src="img/svg/icons/ok.svg" alt="" data-object-fit-contain)

    a.socials__link(href='#', rel='nofollow', target='_blank')
      .socials__link-img
        img(src="img/svg/icons/fb.svg" alt="" data-object-fit-contain)

    a.socials__link(href='#', rel='nofollow', target='_blank')
      .socials__link-img
        img(src="img/svg/icons/youtube.svg" alt="" data-object-fit-contain)

    a.socials__link(href='#', rel='nofollow', target='_blank')
      .socials__link-img
        img(src="img/svg/icons/insta.svg" alt="" data-object-fit-contain)

  // /.socials
