mixin footer(logotype)
  footer.footer(id="footer")
    .footer__top
      .container
        .footer__df
          .footer__second-menu
            .footer__second-menu-col
              h3 каталог услуг

              ul.menu
                li.menu-item
                  a(href="#") Вентиляция и кондиционирование
                li.menu-item
                  a(href="#") Водоснабжение и водоотведение
                li.menu-item
                  a(href="#") Системы электроснабжения
                li.menu-item
                  a(href="#") Слаботочные системы
                li.menu-item
                  a(href="#") Отопление и теплоснабжение
                li.menu-item
                  a(href="#") Проектирование металлоконструкций

            .footer__second-menu-col
              h3 о компании

              ul.menu
                li.menu-item
                  a(href="#") О компании
                li.menu-item
                  a(href="#") Документация
                li.menu-item
                  a(href="#") Партнеры

          .footer__menu
            ul.menu
              li.menu-item
                a(href="#") новости и статьи
              li.menu-item
                a(href="#") реализованные проекты
              li.menu-item
                a(href="#") вопрос-ответ
              li.menu-item
                a(href="#") расчёт стоимости

          .footer__contacts
            h3 контакты

            .footer__item
              h4 Телефон:
                a(href="tel:+79780340395" rel="nofollow") +7 978 034-03-95

            .footer__item
              h4 E-mail:
                a(href="mailto:inpromtek@mail.ru" rel="nofollow") inpromtek@mail.ru

            .footer__item
              h4 Адрес:
              p Симферополь, ул. Генерала Васильева, 23 а

            .footer__item
              h4 График работы:
              p Пн - пт с 08:30 до 19:00

        // /.footer__df
      // /.container
    // /.footer__top

    .container
      .footer__bottom
        .footer__politics
          a.text(href="#") Политика конфиденциальности

        .footer__copyright
          p.text г. Симферополь © Copyright  2021&nbsp;г.

        a.made(href="https://sheer82.ru/")
          span.text Сделано в
          svg.icon
            use(xlink:href='img/svg/sprite.svg#iconSheer')

      // /.footer__bottom
    // /.container
  // /.footer
