mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__col
          h4.footer__title Реквизиты:

          .footer__item
            p ООО «Научно-исследовательская лаборато-
              br
              |  рия бетона и железобетона»

          .footer__item
            p ИНН: 2311293201
              br
              |  ОГРН: 1192375058930

        .footer__col
          h4.footer__title Время работы:

          .footer__item
            p Пн-Пт с 09:00 до 18:00
              br
              |  Сб-Вс — выходные

        .footer__col
          h4.footer__title Телефон:

          .footer__item
            a(href="tel:88002019365" rel="nofollow") 8 800 201-93-65

        .footer__col
          h4.footer__title E-mail:

          .footer__item
            a(href="mailto:nil_bj@mail.ru" rel="nofollow") nil_bj@mail.ru



      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2020&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

