mixin scr1()
  section.scr1(id="scr1")
    .scr1__bg
      noscript
        img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)

    .container
      .scr1__df
        .scr1__content
          .scr1__content-top
            h1.scr1__title Исследование прочности и качества
              br
              |  бетона, арматуры и других строительных
              br
              |  материалов в Краснодарском крае и ЮФО

            .scr1__title-add
              p от 400 Р за пробу

            .scr1__desc
              p Берем заказы от одной пробы, предоставляем документацию по испытаниям в день проведения исследования

          .scr1__btns
            .btn__wrap
              a.btn.btn--orange.open-modal(href="#") Рассчитать точную стоимость испытаний

        a.scr1__accr(href="img/accr.pdf" download)
          .scr1__accr-img
            noscript
              img.lazy(src="img/accr.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/accr.jpg" alt="" width="125" height="90")

          .scr1__accr-text
            p Свидетельство
              br
              |  об аккредитации
              br
              |  лаборатории


  // /.scr1
