mixin scr_cases()
  section.scr_cases.cases(id="scr_cases")
    .container
      h2.page-title Примеры реализованных исследований

      .page-desc
        p Наш коллектив работает при Кубанском государственном технологическом
          br
          |  университете, привлекая к исследованиям специалистов высокого класса

      .cases__wrap
        .cases__slider#cases__slider
          .swiper-wrapper
            .swiper-slide
              .cases__item
                h3.cases__title Испытания на объекте капитального строительства

                .cases__df
                  .cases__left
                    .cases__img
                      noscript
                        img.lazy(src="img-temp/cases-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .cases__info
                    .cases__info-title
                      p
                        b Краевая клиническая больница №1
                          br
                          |  имени профессора С.В. Очаповского, г. Краснодар

                    .cases__info-item
                      p
                        b Реконструкция и расширение, 2 очередь
                        br
                        |  (Корректировка проекта с выделением 5 этапов строительства).

                    .cases__info-item
                      p
                        b Испытания включали в себя:
                        |  Современные технологии достигли такого уровня, что современная методология разработки создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса системы массового участия. Разнообразный и богатый опыт говорит нам, что семантический разбор внешних противодействий

            .swiper-slide
              .cases__item
                h3.cases__title Испытания на объекте

                .cases__df
                  .cases__left
                    .cases__img
                      noscript
                        img.lazy(src="img-temp/cases-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .cases__info
                    .cases__info-title
                      p
                        b Краевая клиническая больница №1
                          br
                          |  имени профессора С.В. Очаповского, г. Краснодар

                    .cases__info-item
                      p
                        b Реконструкция и расширение, 2 очередь
                        br
                        |  (Корректировка проекта с выделением 5 этапов строительства).

        .cases__btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_cases
