mixin scr_types()
  section.scr_types.types(id="scr_types")
    .container
      h2.page-title Основные виды испытаний

      .page-desc
        p Используем собственное оборудование, строго придерживаемся
          br
          |  заявленных сроков проведения исследований

      .types__df
        ul.types__menu
          li.current
            a.js-tab(href="#types__tab-0") Определение предела прочности бетона неразрушающим методом в конструкции ГОСТ 22690
          li
            a.js-tab(href="#types__tab-1") Смеси песчано-гравийные ГОСТ 23735, ГОСТ 25607
          li
            a.js-tab(href="#types__tab-2") Бетоны тяжелые и мелкозернистые ГОСТ 26633
          li
            a.js-tab(href="#types__tab-3") Испытания бетонных смесей ГОСТ 10181
          li
            a.js-tab(href="#types__tab-4") Испытания песка ГОСТ 8735
          li
            a.js-tab(href="#types__tab-5") Испытания цемента ГОСТ 310.1-6; 30744
          li
            a.js-tab(href="#types__tab-6") Испытания гравия, щебня ГОСТ 8269.0
          li
            a.js-tab(href="#types__tab-7") Испытания строительных растворов по ГОСТ 5802

        ul.types__tabs
          li.types__tab#types__tab-0
            .types__content
              .types__table
                table
                  thead
                    tr
                      td Наименование испытаний
                      td Количество
                      td Цена

                  tbody
                    tr
                      td Определение прочности бетона механическими методами неразрушающего контроля (ударно-импульсный метод)
                      td 1 участок
                        br
                        |  (100 см2 )
                      td 400 руб.
                    tr
                      td Определение прочности бетона механическими методами неразрушающего контроля (отрыв со скалыванием – вырыв анкера длиной 5 см)
                      td 1 отрыв
                      td 500 руб.
                    tr
                      td Определение прочности бетона механическими методами неразрушающего контроля (отрыв со скалыванием – вырыв анкера  длиной от 5 см до 25 см)
                      td 1 отрыв
                      td 1800 руб.

            .types__form
              .form.wpcf7
                form.wpcf7-form
                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                  .form__item.form__item--submit
                    .btn__wrap
                      input.wpcf7-form-control.wpcf7-submit.btn.btn--orange(type='submit', value='Получить консультацию')

          li.types__tab#types__tab-1
            .types__content
              .types__table
                table
                  thead
                    tr
                      td Наименование испытаний
                      td Количество
                      td Цена

                  tbody
                    tr
                      td Определение прочности бетона механическими методами неразрушающего контроля (ударно-импульсный метод)
                      td 1 участок
                        br
                        |  (100 см2 )
                      td 400 руб.
                    tr
                      td Определение прочности бетона механическими методами неразрушающего контроля (отрыв со скалыванием – вырыв анкера длиной 5 см)
                      td 1 отрыв
                      td 500 руб.

            .types__form
              .form.wpcf7
                form.wpcf7-form
                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item.form__item--submit
                .btn__wrap
                  input.wpcf7-form-control.wpcf7-submit.btn.btn--orange(type='submit', value='Получить консультацию')

      .decor-line
        span.decor-line__line

  // /.scr_types
