mixin scr_feat()
  section.scr_feat.feat(id="scr_feat")
    .container
      ul.feat__list
        li
          .feat__item
            .feat__icon
              noscript
                img.lazy(src="img/svg/icons/pencil.svg" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/pencil.svg" alt="" width="125" height="90")

            .feat__text
              p Работаем при Кубанском государственном технологическом университете

        li
          .feat__item
            .feat__icon
              noscript
                img.lazy(src="img/svg/icons/derrick.svg" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/derrick.svg" alt="" width="125" height="90")

            .feat__text
              p Берем подряды на крупных объектах и&nbsp;у&nbsp;частных застройщиков

        li
          .feat__item
            .feat__icon
              noscript
                img.lazy(src="img/svg/icons/ph-meter.svg" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/ph-meter.svg" alt="" width="125" height="90")

            .feat__text
              p Используем собственное сертифицированное лабораторное оборудование

        li
          .feat__item
            .feat__icon
              noscript
                img.lazy(src="img/svg/icons/test.svg" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/test.svg" alt="" width="125" height="90")

            .feat__text
              p Несем юридическую ответственность за результаты исследований



  // /.scr_feat
