mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .container
      h2.page-title Как мы будем работать на вашем объекте

      ul.steps__list
        li
          .steps__item
            .steps__title Шаг первый

            .steps__lines
              span
              span

            .steps__text
              p Вы оставляете заявку на сайте или звоните по&nbsp;указанным номерам телефонов. С Вами связывается наш специалист, узнает все детали технического задания, проводит первичную консультацию, намечает план действий по проведению необходимых испытаний

        li
          .steps__item
            .steps__title Шаг второй

            .steps__lines
              span
              span

            .steps__text
              p Наш специалист информирует Вас о сроках и стоимости проведения требуемых испытаний, отправляет договор, смету и счет на оплату. При большом объеме работ мы практикуем постоплату

        li
          .steps__item
            .steps__title Шаг третий

            .steps__lines
              span
              span

            .steps__text
              p После подписания договора наши специалисты выезжают на объект вместе с лабораторным оснащением. Происходит подготовка к проведению испытаний

        li
          .steps__item
            .steps__title Шаг четвертый

            .steps__lines
              span
              span

            .steps__text
              p В зависимости от типа испытаний наши специалисты либо проводят их непосредственно на строительном объекте, либо изготавливают образцы для лабораторных исследований

        li
          .steps__item
            .steps__title Шаг пятый

            .steps__lines
              span
              span

            .steps__text
              p После исследований заказчику передаются юридически значимые протоколы испытаний, а также сопровождающая документация для дальнейшего предъявления в контролирующие инстанции (Ростехнадзор, МЧС, архитектурный надзор и т.д)

        li
          .steps__item.steps__item--img
            .steps__img
              noscript
                img.lazy(src="img/steps-img.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/steps-img.png" alt="" width="125" height="90" data-object-fit-contain)






  // /.scr_steps
