::selection
  background-color: $accent2
  color: #fff

*
  margin: 0
  padding: 0

html, body
  max-width: 100%
  overflow-x: hidden

html
  &.disabled
    overflow: hidden

body
  position: relative
  width: 100%
  height: 100%

  font-family: $font
  font-size: 16px
  line-height: 1.5 /* 24px / 16px */
  font-weight: 400
  color: $body-color

  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

  &.disabled
    overflow: hidden
    // max-height: 100vh

.page_wr
  flex-grow: 1
#page_wr
  padding-top: 112px


img
  width: 100%
  height: auto
  border: none

[data-object-fit-cover]
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-cover-top]
  object-fit: cover
  object-position: top center
  font-family: 'object-fit: cover; object-position: top center;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color

.blur-it
  filter: blur(4px)

.accent
  color: $accent

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  p
    margin-bottom: 25px
  strong
    font-weight: 500
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      text-decoration: underline

  img
    width: auto
    max-width: 100%
    height: auto
    display: block
    &.alignleft
      float: left
      margin: 0 20px 10px 0
    &.alignright
      float: right
      margin: 0 0 10px 20px
    &.aligncenter
      margin: 0 auto
  ul,
  ol
    padding-bottom: 1.5em
    padding-left: 0
    padding-right: 1.5em
  ul li,
  ol li
    transform: translateX(1.5em)
  ul
    list-style: none
    li
      position: relative
      &::before
        content: '•'
        position: absolute
        top: -6px
        left: -15px
        font-size: 26px
  b
    font-weight: 500
  h2,h3,h4
    line-height: 1.2
    font-weight: 700
  h2
    margin-top: 35px
    margin-bottom: 20px
    font-size: 30px
  h3
    margin-top: 25px
    margin-bottom: 15px
    font-size: 26px
  h4
    margin-top: 20px
    margin-bottom: 10px
    font-size: 22px

.clearfix
  &::after
    display: table
    clear: both
    content: ""

.grey-bg
  background-color: #f3f8fa

.title
  margin-top: 0
  margin-bottom: 50px
  font-size: 60px
  line-height: 1.2
  font-weight: 700

.icon
  max-width: 100%
  max-height: 100%
  fill: $icon
  transition: 0.5s

.link
  position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 1px
    transform: scale(0.5)
    opacity: 0
    border-radius: 1.5px
    background-color: #fbf0e1
    transition: transform 0.5s, bottom 0.2s, opacity 0.2s
  &:hover
    &::before
      bottom: -2px
      transform: scale(1)
      opacity: 1


.btn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  cursor: pointer
  text-decoration: none
  transition: 0.5s
  -webkit-appearance: none

.btn__wrap
  display: inline-block

.btn,
input[type="submit"].btn
  &--circle
    display: flex
    align-items: center
    justify-content: center

    width: 40px
    height: 40px
    background-color: $accent2
    border-radius: 50%
    transition: 0.3s
    .fa
      color: #013150
      font-size: 20px
    &:hover
      box-shadow: 0 5px 20px rgba($accent2, 0.7)
  &--blue
    display: flex
    align-items: center
    justify-content: center
    padding: 24px 53px 21px
    box-shadow: 0px 10px 20px 0px rgba(#04b5f8,0.7)
    background-color: $accent2
    border-radius: 30.0px
    font-size: 16px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #013150
    &:hover
      box-shadow: 0px 10px 27px 0px rgba(#04b5f8,0.94)
      color: #fff
      text-shadow: 0 0 15px rgba(#fff, 0.5)


input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.burger
  flex-shrink: 0
  position: relative
  background: none
  outline: none
  border: none
  cursor: pointer

  width: 25px
  height: 25px
  &__wrap
    position: relative
    transition: 0.3s

    z-index: 100
    display: block

  .line
    top: 50%
    left: 0
    transform: translateY(-50%)
    &,
    &::after,
    &::before
      position: absolute
      display: block
      width: 20px
      height: 2px
      background-color: #fbf0e1
      transition: 0.4s ease-in-out

    &::after,
    &::before
      content: ''
      left: 0
    &::before
      transform: translateY(-7px)
    &::after
      transform: translateY(7px)
      width: 15px

  &:hover
    .line
      width: 10px
      &::before
        width: 16px
      &::after
        width: 20px

.to-top
  position: fixed
  right: 20px
  bottom: 20px
  z-index: 100
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  width: 37px
  background: rgba($accent, 0.8)
  border-radius: 6px
  box-shadow: 0px 0px 10px 0px rgba($accent,0.3)
  cursor: pointer
  transition: 0.5s
  opacity: 0
  height: 0
  overflow: hidden
  z-index: 250
  .fa
    color: #fff
    transition: 0.5s
    font-size: 18px
    font-weight: 800

  &:hover
    opacity: 1
    box-shadow: 0px 0px 10px 0px rgba($accent,0.7)

  &.fixed
    opacity: 1
    height: 37px

.section__nav
  margin: 0
  padding: 0
  list-style: none
  display: flex
  align-items: center
  & > li
    margin-right: 100px
    &:last-of-type
      margin-right: 0
    & > a
      display: inline-block
      text-decoration: none
      outline: none
      font-size: 18px
      line-height: 1.2
      font-weight: 500
      transition: 0.3s
      &:hover
        color: $accent2
      &::before
        background-color: $accent2
    &.active
      & > a
        color: $accent2
        &::before
          bottom: -6px
          transform: scale(1)
          opacity: 1


/* Переопределение стилей yandex map */
[class$='-controls-pane'],
[class$='-copyrights-pane']
  display: none
[class*=ymaps-2][class*=-ground-pane]
  filter: grayscale(100%)

/* Переопределение стилей fullPage */
#fp-nav
  position: absolute
  top: 240px
  left: 68px
  &::after
    content: ''
    position: absolute
    top: calc(100% + 99px)
    left: calc(50% + 2px)
    width: 1px
    height: 85px
    background-color: $accent2
  &::before
    content: ''
    position: absolute
    top: calc(100% + 52px)
    left: calc(50% - 3px)
    width: 11px
    height: 7px
    background: transparent url('../img/svg/arrow.svg') no-repeat center center
    background-size: contain
  ul
    list-style: none
    li
      margin-left: 0
      margin-right: 0
      margin-bottom: 53px
      cursor: pointer
      &:last-of-type
        margin-bottom: 0
      .fp-tooltip
        display: block
        width: auto
        font-size: 16px
        line-height: 1.2
        color: #000000
        opacity: 1
        overflow: visible
        font-family: $font
        transition: 0.3s 0.2s
    a
      position: relative
      &::after
        content: ''
        position: absolute
        top: calc(50% - 2px)
        left: 37px
        width: 20px
        height: 1px
        background-color: $accent2
        opacity: 0
        transition: 0.3s
      &.active
        &::after
          opacity: 1
      span
        display: none
    a.active + .fp-tooltip
      color: $accent2
  .fp-sr-only
    position: static

.fp-viewing-fp-scr1
  #fp-nav
    ul
      .fp-tooltip
        color: #fff
  .socials
    &__link
      .fa
        display: block
        color: #fff
        font-weight: 400
        font-size: 20px
        transition: color 0.3s 0.3s, text-shadow 0.3s
      &:hover
        .fa
          text-shadow: 0 0 25px rgba(#fff, 1)

/* Переопределение стилей скролла */
.iScrollIndicator
  background-color: rgba($accent, 0.5) !important

/* Переопределение стилей слайдера */
.swiper-dots
  text-align: center
.swiper-pagination-bullet
  width: 7px
  height: 7px
  margin: 0 20px
  background-color: $accent
  opacity: 1
  &.swiper-pagination-bullet-active
    background-color: $accent2
.swiper-button-prev,
.swiper-button-next
  position: static
  background: none
  border: none
  outline: none
  width: 15px
  height: 15px
  margin-top: 0
  &::before
    content: ''
    top: calc(50% - 4px)
    left: calc(50% - 5px)
    width: 11px
    height: 7px
    transform: rotate(90deg)
    background: transparent url('../img/svg/arrow-dark.svg') no-repeat center center
    background-size: contain
  &::after
    content: none
.swiper-button-prev
  margin-right: 100px
.swiper-button-next
  margin-left: 100px
  &::before
    transform: rotate(-90deg)


/* Переопределение bootstrap */
@media (min-width: 1200px)
  .container
    max-width: 1170px

/* media */

@media screen and (max-height: 670px)
  .page_preloader .logo
    width: 400px !important
    height: 150px !important

// max-height 670px

@media screen and (max-height: 550px)
  #fp-nav
    margin-top: -106px
    &::after
      content: none

// max-height 550px

@media screen and (max-width: 1400px)
  #page_wr
    padding-top: 80px
  #fp-nav
    left: 20px

// max-width 1400px

@media screen and (max-width: 1350px)
  #fp-nav
    left: 20px
    ul
      & > li
        & > a
          &::after
            content: none

// max-width 1350px

@media screen and (max-width: 1200px)
  .container
    max-width: 100%
  #fp-nav
    left: 16px

// max-width 1200px

// @media screen and (max-width: 1023px)

// max-width 1023px

@media screen and (max-width: 991px)
  .title
    margin-bottom: 30px
    font-size: 52px
  .section__nav
    & > li
      margin-right: 40px
      & > a
        font-size: 16px

// max-width 991px

@media screen and (max-width: 767px)
  #page_wr
    padding-top: 60px
  .title
    margin-bottom: 18px
    font-size: 45px
  .swiper-button-prev
    margin-right: 40px
  .swiper-button-next
    margin-left: 40px
  .swiper-pagination-bullet
    margin: 0 7px
  .page_preloader .logo
    width: 400px !important
    height: 150px !important

// max-width 767px

@media screen and (max-width: 700px)
  .section__nav
    flex-direction: column
    & > li
      width: 100%
      margin-right: 0
      text-align: center
      & > a
        width: 100%
        padding: 10px 0
        font-size: 16px
        border-bottom: 1px solid rgba($accent, 0.3)
        &::before
          content: none

// max-width 700px

@media screen and (max-width: 575px)
  .article
    font-size: 14px
    line-height: 1.4
    p
      margin-bottom: 15px
  .swiper-button-prev
    margin-right: 20px
  .swiper-button-next
    margin-left: 20px
  .swiper-pagination-bullet
    width: 5px
    height: 5px
    margin: 0 5px

// max-width 575px

@media screen and (max-width: 500px)
  .title
    font-size: 39px
  .page_preloader .logo
    width: 280px !important
    height: 100px !important
  .btn
    &--circle
      width: 35px
      height: 35px

// max-width 500px

@media screen and (max-width: 400px)
  .title
    font-size: 33px

// max-width 400px
