mixin footer()
  section.footer.footer(id="footer")
    .footer__top
      .container
        .df
          .footer__info
            .logo
              img(src="img/svg/logo1.svg" alt="лого")
            p.logo-text Ировой центр для&nbsp;детей от&nbsp;1,5&nbsp;года до&nbsp;14&nbsp;лет

            p.address г. Симферополь, Евпаторийское шоссе,&nbsp;8
              br
              strong ТРК «meganom», 
              |  2&nbsp;этаж
            
            .phones
              .phones__right
                a.phones__link(href='tel:+8005559097', rel='nofollow')
                  |8 (800)
                  b  555-90-97
                span
                  |Ежедневно
                  strong  с 10:00 до 20:00          
            // /.phones 
            +socials

          ul.footer__menu.footer-menu
            li.footer-menu__item
              h4 
                strong О Меgа граде 
              ul.footer-menu__links
                li
                  a.footer-menu__link(href="#") 
                    span О городе
                li
                  a.footer-menu__link(href="#") 
                    span Правила посещения
                li
                  a.footer-menu__link(href="#") 
                    span Сотрудничество
                li
                  a.footer-menu__link(href="#") 
                    span Афиша событий
                li
                  a.footer-menu__link(href="#") 
                    span Льготы

            li.footer-menu__item
              h4 Виды посещений
              ul.footer-menu__links
                li
                  a.footer-menu__link(href="#") 
                    span Индивидуальное
                li
                  a.footer-menu__link(href="#") 
                    span Групповое
                li
                  a.footer-menu__link(href="#") 
                    span День рождения
                li
                  a.footer-menu__link(href="#") 
                    span Выездные программы
                li
                  a.footer-menu__link(href="#") 
                    span Корпоративы для взрослых

            li.footer-menu__item
              h4 Специальные предложения
              ul.footer-menu__links
                li
                  a.footer-menu__link(href="#") 
                    span Акции
                li
                  a.footer-menu__link(href="#") 
                    span Календарные праздники
                li
                  a.footer-menu__link(href="#") 
                    span Для турфирм
                li
                  a.footer-menu__link(href="#") 
                    span Для педагогов
                li
                  a.footer-menu__link(href="#") 
                    span Услуги няни
                li
                  a.footer-menu__link(href="#") 
                    span Мастер-классы

            li.footer-menu__item.footer-menu__item--strong
              ul.footer-menu__links.footer-menu__links--strong
                li
                  a.footer-menu__link(href="#") 
                    span Вопрос-ответ
                li
                  a.footer-menu__link(href="#") 
                    span Фотоотчеты
                li
                  a.footer-menu__link(href="#") 
                    span Цены
                li
                  a.footer-menu__link(href="#") 
                    span Блог
                li
                  a.footer-menu__link(href="#") 
                    span Контакты
                      
        // /.df

        .footer__middle
          .payment
            p.payment__title Способы оплаты:
            ul.payment__list
              li.payment__item
                img(src="img/img-payment-1.png" alt="оплата через Яндекс Деньги")
              li.payment__item
                img(src="img/img-payment-2.png" alt="оплата через Киви")
              li.payment__item
                img(src="img/img-payment-3.png" alt="оплата через рнкб")
              li.payment__item
                img(src="img/img-payment-4.png" alt="оплата через Сбербанк")
              li.payment__item.payment__item--df
                img(src="img/img-payment-5.svg" style="width: 31px; height: 42px;" alt="безналичный расчет")
                span Безналичный расчет
                  br
                  |  с НДС и без НДС


        // /.footer__middle
      // /.container
    // /.footer__top

      
    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в 
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom   
  // /.footer
