mixin header(logotype)
  header.header(id="header")
    .header__top
      .container
        if logotype == "a"
          #{logotype}.logo(href="index.html")
            img(src="img/svg/logo.svg" alt="лого")
        else 
          #{logotype}.logo
            img(src="img/svg/logo.svg" alt="лого")
        .header__info
          p
            |Игровой центр для детей
            br
            |  от 1,5 до 14 лет
        .header__info
          p
            |г. Симферополь, Евпаторийское шоссе, 8
            br
            |ТРК «MEGANOM», 2 этаж
        .phones
          .phones__left
            a.phone.open-modal(href='#modal-call')
              i.fa.fa-phone
          .phones__right
            a.phones__link(href='tel:+8005559097', rel='nofollow')
              |8 (800)
              b  555-90-97
            span
              |Ежедневно
              strong  с 10:00 до 20:00
          // /.phones  
      // /.container  
    // /.header__top  

    .header__bottom
      +nav

    // /.header__bottom  
