mixin scr1()
  section.scr_1(id="scr_1")
    .bg-img
    .container
      .row
        .col-xl-7.col-lg-6.col-md-10
          .scr_1__left
            h1.title.title1
              strong mega град — 
              |  это интерактивный развлекательный город профессий,
            p.desc.desc1 в котором есть всё для интеллектуального 
              br 
              |  и творческого развития Вашего ребенка
            ul.advantages
              li.advantages__item
                svg.icon(style={fill: '#0086cb', width: '40px', height: '41px'})
                  use(xlink:href='img/svg/sprite.svg#iconAdv1')
                span Квалифицированный
                  br
                  |  персонал
              li.advantages__item
                svg.icon(style={fill: '#7c6eae', width: '48px', height: '44px'})
                  use(xlink:href='img/svg/sprite.svg#iconAdv2')
                span Приобретение навыков 
                  br
                  |  в игровой форме
              li.advantages__item
                svg.icon(style={fill: '#d1d627', width: '41px', height: '46px'})
                  use(xlink:href='img/svg/sprite.svg#iconAdv3')
                span Полная 
                  br
                  |  безопасность
              li.advantages__item
                svg.icon(style={fill: '#eb6723', width: '50px', height: '38px'})
                  use(xlink:href='img/svg/sprite.svg#iconAdv4')
                span Профессиональные 
                  br
                  |  актеры
            .btn__wrap.btn--grad__wrap
              a.btn.btn--grad.inner-link(href="#scr2") посмотреть карту города
                span
        .col-xl-5.offset-lg-0.col-lg-6.col-md-7.offset-md-1
          .scr_1__right
            .slider1.scr_1__slider(id="scr1_slider")
              .slider1__slides.scr_1__slides
                .slider1__slide.scr_1__slide
                  .img(style="background: transparent url('img/img-scr1-1.png') no-repeat center top; background-size: contain")
                  .text 
                    p Каждое 
                      i  третье
                      br
                      strong  посещение
                      br 
                      |  за&nbsp;
                      i  1&nbsp;рубль*
                .slider1__slide.scr_1__slide
                  .img(style="background: transparent url('img/img-scr1-3.png') no-repeat center top; background-size: contain")
                  .text 
                    p День Рождения                       
                      br  
                      |  с другом
                      br
                      b  50% скидка                      
                      i  на&nbsp;билет**

              .slider1__dots.scr_1__dots