mixin scr_choose()
  section.scr_choose.choose(id="scr_choose")
    .container      
      h2.title--lined Выберите групповую программу

      .choose__list.slider2(id="choose__slider")
        .choose__slides.slider2__slides
          .choose__wrap.slider2__slide
            .choose__item
              a.choose__img(href="#")
                img(src="img/choose/img-choose-1.jpg" alt="Инженеры" data-object-fit)
              .choose__bottom
                a(href="#")
                  h3 Как выбрать профессию?
                table
                  tbody
                    tr
                      th Возраст:
                      td 7-14&nbsp;лет    
                    tr
                      th Продолжительность:
                      td 2&nbsp;часа
                    tr
                      th Стоимость (от&nbsp;15&nbsp;детей):
                      td 450&nbsp;₽     
                .article
                  p 
                    b Описание: 
                    |  Выбор профессии очень важен для каждого человека, и все мы прекрасно знаем, что самая лучшая работа — это хобби. А самые интересные хобби — они ведь родом из детства. В «MEGA ГРАДе» можно ознакомиться с работой мечты: от подводного археолога до блогера, от полицейского до флориста, танцор, визажист, профессиональный турист — словом, все профессии, о которых только можно мечтать. И до мечты остался всего лишь один шаг! 
                  p И этот шаг - в «MEGA ГРАД»
              // /.choose__bottom
            // /.choose__item
          // /.choose__wrap        
        
          .choose__wrap.slider2__slide
            .choose__item
              a.choose__img(href="#")
                img(src="img/choose/img-choose-2.jpg" alt="Туристы" data-object-fit)
              .choose__bottom
                a(href="#")
                  h3 Лига Крымских Туристов
                table
                  tbody
                    tr
                      th Возраст:
                      td 6-12&nbsp;лет    
                    tr
                      th Продолжительность:
                      td 1&nbsp;час
                    tr
                      th Стоимость (от&nbsp;15&nbsp;детей):
                      td 450&nbsp;₽     
                .article
                  p 
                    b Описание: 
                    |  Собираем рюкзак и отправляемся в увлекательное путешествие по Крыму! Как это не знаете что брать с собой? Повезло, что инструктор Крымов знает всё! Как правильно собраться в поход и что лучше оставить дома; какие опасности могут поджидать юного туриста; что такое зизифус. Всё запомнили? Тогда пошли в поход. Впереди у нас установка настоящей палатки, обустройство походного быта и вечер у костра с приготовленными вкусняшками и легендами от инструктора Крымова.
              // /.choose__bottom
            // /.choose__item
          // /.choose__wrap 

          .choose__wrap.slider2__slide
            .choose__item
              a.choose__img(href="#")
                img(src="img/choose/img-choose-3.jpg" alt="Вечеринка" data-object-fit)
              .choose__bottom
                a(href="#")
                  h3 Вечеринка
                table
                  tbody
                    tr
                      th Возраст:
                      td 7-14&nbsp;лет    
                    tr
                      th Продолжительность:
                      td 2&nbsp;часа
                    tr
                      th Стоимость (от&nbsp;15&nbsp;детей):
                      td 450&nbsp;₽     
                .article
                  p
                    b Описание: 
                    |  Танцевать под популярных исполнителей или разучивать танцы с любимыми сказочными героями. Позвать на вечеринку звезду, или самому стать звездой вечеринки. Бумажные дискотеки, конкурсы, розыгрыши и безудержное веселье. Мы готовы воплотить любую мечту ребенка и устроить незабываемую вечеринку!
              // /.choose__bottom
            // /.choose__item
          // /.choose__wrap 

          .choose__wrap.slider2__slide
            .choose__item
              a.choose__img(href="#")
                img(src="img/choose/img-choose-3.jpg" alt="Вечеринка" data-object-fit)
              .choose__bottom
                a(href="#")
                  h3 Вечеринка
                table
                  tbody
                    tr
                      th Возраст:
                      td 7-14&nbsp;лет    
                    tr
                      th Продолжительность:
                      td 2&nbsp;часа
                    tr
                      th Стоимость (от&nbsp;15&nbsp;детей):
                      td 450&nbsp;₽     
                .article
                  p
                    b Описание: 
                    |  Танцевать под популярных исполнителей или разучивать танцы с любимыми сказочными героями. Позвать на вечеринку звезду, или самому стать звездой вечеринки. Бумажные дискотеки, конкурсы, розыгрыши и безудержное веселье. Мы готовы воплотить любую мечту ребенка и устроить незабываемую вечеринку!
              // /.choose__bottom
            // /.choose__item
          // /.choose__wrap

        // /.choose__slides
        .slider1__dots
      // /.choose__slider
  // /.scr_choose
