mixin scr_master()
  section.scr_master.master(id="scr_master")
    .container
      h1.title 
        strong мастер-классы

    .master__item
      .container
        .row
          .col-md-7.img
            .left         
              .img__wrap     
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/master/img-master-1.jpg">
                  <source srcset="img/master/img-master-1--mobile.jpg">
                  img(src="img/master/img-master-1--mobile.jpg" alt="дети лепят из теста" data-object-fit)
                
          .col-md-5
            .right 
              h2.title--lined Мастер-класс для&nbsp;детей 
                br
                |  от&nbsp;шеф-повара ресторана

              .master__info
                span.date дата : 
                  strong  16 июня
              .master__info
                span.th Время проведения: 
                  span.td  с 11:00 до 16:00
              .master__info
                span.th Возраст: 
                  span.td  от 4-14 лет
              .master__info
                span.th Стоимость участия ребенка: 
                  span.td.td--big  500 ₽

              .btn__wrap.btn--grad__wrap              
                a.btn.btn--grad(href="#") Подробнее
                  span

    .master__item
      .container
        .row
          .col-md-7.img
            .left         
              .img__wrap     
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/master/img-master-2.jpg">
                  <source srcset="img/master/img-master-2--mobile.jpg">
                  img(src="img/master/img-master-2--mobile.jpg" alt="дети играют в пожарных" data-object-fit)
                
          .col-md-5
            .right 
              h2.title--lined Мастер-класс от&nbsp;пожарной
                br
                |  команды МЧС

              .master__info
                span.date дата : 
                  strong  23 июня
              .master__info
                span.th Время проведения: 
                  span.td  с 11:00 до 16:00
              .master__info
                span.th Возраст: 
                  span.td  от 4-14 лет
              .master__info
                span.th Стоимость участия ребенка: 
                  span.td.td--big  500 ₽

              .btn__wrap.btn--grad__wrap              
                a.btn.btn--grad(href="#") Подробнее
                  span
        
  // /.scr_master
