mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      h1.title
        strong контакты
    
    .container
      .contacts__wrap
        .row
          .col-lg-6
            ul.contacts__list
              li
                a.contacts__item(href='tel:+8005559097', rel='nofollow')
                  .contacts__img
                    img(src="img/svg/contacts-1.svg" alt="телефон" style="width: 39px;height: 45px;")
                  .contacts__text
                    span 8&nbsp;(800)&nbsp;555-90-97

              li
                a.contacts__item(href="mailto:megagrad.smf@gmail.com", rel='nofollow')
                  .contacts__img
                    img(src="img/svg/contacts-2.svg" alt="емэйл" style="width: 40px;height: 40px;")
                  .contacts__text
                    span megagrad.smf@gmail.com

              li
                .contacts__item
                  .contacts__img
                    img(src="img/svg/contacts-3.svg" alt="часы работы" style="width: 39px;height: 39px;")
                  .contacts__text
                    span Ежедневно с&nbsp;10:00 до&nbsp;20:00, 
                      br
                      |  без&nbsp;перерывов и&nbsp;выходных

              li
                .contacts__item
                  .contacts__img
                    img(src="img/svg/contacts-4.svg" alt="адрес" style="width: 45px;height: 40px;")
                  .contacts__text
                    span г.&nbsp;Симферополь, Евпаторийское шоссе, 8
                      br
                      |  ТРК&nbsp;«MEGANOM», 2&nbsp;этаж   

              li 
                a.contacts__item(href="#", rel='nofollow')
                  .contacts__img
                    img(src="img/svg/contacts-5.svg" alt="инстаграм" style="width: 36px;height: 36px;")
                  .contacts__text
                    span 
                      strong instagram    

              li
                a.contacts__item(href="#", rel='nofollow')
                  .contacts__img
                    img(src="img/svg/contacts-6.svg" alt="фейсбук" style="width: 36px;height: 36px;")
                  .contacts__text
                    span 
                      strong facebook  

          .col-xl-5.offset-xl-1.col-lg-6.offset-lg-0.col-md-7.offset-md-2.col-sm-8.offset-sm-2.col-10
            .form.wpcf7
              form.wpcf7-form
                p.form__title Форма 
                  br
                  |  обратной связи

                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                    span.icon__wrap
                      svg.icon(width='15', height='15')
                        use(xlink:href='img/svg/sprite.svg#iconFormUser')              
                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                    span.icon__wrap
                      svg.icon(width='14', height='17')
                        use(xlink:href='img/svg/sprite.svg#iconFormPhone')

                .form__item
                    span.wpcf7-form-control-wrap.your-message.textarea-input.text-input.text-input--icon                    
                      textarea#message.wpcf7-form-control.wpcf7-textarea(name='your-message', cols='40', rows='10', aria-invalid='false', placeholder='')
                      label(for='message')
                        span.icon__wrap
                          svg.icon(width='17', height='12')
                            use(xlink:href='img/svg/sprite.svg#iconFormMessage')
                        span.text Сообщение
                
                .form__item.form__item--accept
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку  персональных данных

                .btn__wrap
                  .form__item.form__item--submit.btn--grad__wrap
                    .submit__wrap.submit__wrap--grad
                      input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                      span

  // /.scr_contacts
