mixin scr_follow()
	section.scr_follow.follow(id="scr_follow")
		.container
			.row
				.col-12
					h2.title.title2 
						span.text Следите за нами в
						span.img__wrap
							img(src="img/svg/logo-insta-1.svg" alt="инстаграм")
							img(src="img/svg/logo-insta-2.svg" alt="инстаграм")
				// /.col
			// /.row

			.follow__list.slider1__slider(id="follow__slider")
				.follow__slides.slider1__slides
					.follow__item.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.1s")
						a.follow__link.fancybox(href="img/img-follow-1.jpg" style="background: transparent url('img/img-follow-1.jpg') no-repeat center center;background-size: cover;")
					.follow__item.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
						a.follow__link.fancybox(href="img/img-follow-2.jpg" style="background: transparent url('img/img-follow-2.jpg') no-repeat center center;background-size: cover;")
					.follow__item.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.3s")
						a.follow__link.fancybox(href="img/img-follow-3.jpg" style="background: transparent url('img/img-follow-3.jpg') no-repeat center center;background-size: cover;")
					.follow__item.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.4s")
						a.follow__link.fancybox(href="img/img-follow-4.jpg" style="background: transparent url('img/img-follow-4.jpg') no-repeat center center;background-size: cover;")
					.follow__item.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.5s")
						a.follow__link.fancybox(href="img/img-follow-5.jpg" style="background: transparent url('img/img-follow-5.jpg') no-repeat center center;background-size: cover;")
				.slider1__dots.follow__dots
	// /.scr_follow
