mixin scr_bday()
  section.scr_bday.bday(id="scr_bday")
    .container
      .row
        .col-lg-4.col-md-5.col-sm-7
          h2.title.title2 День рождения
            br
            |  в 
            strong  Мega граде
          p.desc.desc2 Воспоминания полученные 
            br
            |  в&nbsp;детстве – бесценны
        // /.col
      // /.row 
      .row
        .col-lg-5.col-md-6.col-sm-8
          .article
            p
              |  Подарите своему ребенку незабываемый детский праздник!
              |  Именинника и&nbsp;его гостей ждет увлекательная программа 
              |  с&nbsp;профессиональным актером, чаепитием в&nbsp;домике
              |  и&nbsp;целый день в&nbsp;Меgа&nbsp;граде для&nbsp;именинника и&nbsp;его гостей!
        // /.col
      // /.row

      .btn__wrap.btn--grad__wrap
        a.btn.btn--grad Узнать подробнее
          span
    // /.container

  // /.scr_bday  