mixin scr_tourfirm-indiv1()
  section.scr_tourfirm.tourfirm(id="scr_tourfirm")
    .type1   
      .container     
        .row
          .col-sm-7
            .left         
              h1.title 
                strong индивидуальное посещение
              h2.tourfirm__title.title--lined Здесь всё, как в&nbsp;настоящем городе
              p.grey.grey--big В&nbsp;MEGA&nbsp;ГРАДЕ дети осваивают профессии, развивают навыки, получая яркие эмоции и&nbsp;впечатления.
              p.blue Для самых маленьких жителей города (от&nbsp;1,5&nbsp;до&nbsp;4&nbsp;лет) работает целый квартал 
                strong «MEGA&nbsp;ЯСЛИ», 
                |  также малышей ждут увлекательные занятия 
                |  в&nbsp;ремесленной мастерской, мастерской танца, 
                |  почтовом отделении и на&nbsp;ферме

          .col-sm-5
            .right  
              .img__wrap       
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/tourfirm/img-tourfirm-3.jpg">
                  <source srcset="img/tourfirm/img-tourfirm-3--mobile.jpg">
                  img(src="img/tourfirm/img-tourfirm-3.jpg" alt="дети собирают лего" data-object-fit)

  // /.scr_tourfirm


mixin scr_tourfirm-indiv2() 
  section.scr_tourfirm.tourfirm(id="scr_tourfirm2")
    .type2
      .container
        .row
          .col-md-7.col-sm-5.img
            .left         
              .img__wrap     
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/tourfirm/img-tourfirm-4.jpg">
                  <source srcset="img/tourfirm/img-tourfirm-4--mobile.jpg">
                  img(src="img/tourfirm/img-tourfirm-4--mobile.jpg" alt="дети строят" data-object-fit)
                
          .col-md-5.col-sm-7
            .right 
              .article 
                p 
                  strong Каждый ребенок (от&nbsp;4&nbsp;до&nbsp;14&nbsp;лет) 
                  br
                  |  может устроиться на&nbsp;работу, попробовать свои силы в&nbsp;самых разных профессиях и&nbsp;найти занятия по&nbsp;интересам и&nbsp;способностям!

  // /.scr_tourfirm
