mixin scr_photoreport()
  section.scr_photoreport.photoreport(id="scr_photoreport")
    .container      
      h1.title 
        strong фотоотчеты
      .row
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-1.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-2.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
              h2.title--lined День защиты детей в MEGA ГРАД
              .img__wrap
                img(src="img/photoreport/img-photoreport-3.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-2.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-1.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-3.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-3.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-2.jpg" alt="" data-object-fit)
        .col-lg-4.col-sm-6
          a.photoreport__item(href="#")
            h2.title--lined День защиты детей в MEGA ГРАД
            .img__wrap
              img(src="img/photoreport/img-photoreport-1.jpg" alt="" data-object-fit)
        

  // /.scr_photoreport
