mixin scr_group()
  section.scr_group.group(id="scr_group")
    .container
      .row
        .col-xl-5.col-lg-6
          h2.title.title2 Групповое посещение
        .col-xl-5.col-lg-6
          p.desc.desc2 Проведите время классом с&nbsp;пользой
            br
            |  и&nbsp;массой впечатлений
    .container.group__wrap
      p.group__strong.group__strong--title Вместе вы сможете:

      .group__features.wow.flipInY(data-wow-duration="1s" id="group__features" data-wow-delay="0.3s")
        p.group__strong Развлечение
          br
          |  =
          br
          |  Обучение
        .group__features-item.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.8s")
          i.circle
          p.text Научиться работать в&nbsp;команде 
            br  
            |  и в&nbsp;процессе проявить личностные 
            br
            |  качества
        .group__features-item.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.9s")
          i.circle
          p.text Познакомиться с&nbsp;профессиями 
            br
            |  настоящего и&nbsp;будущего
        .group__features-item.wow.fadeIn(data-wow-duration="1s" data-wow-delay="1s")
          i.circle
          p.text Применить полученные 
            br
            |  в&nbsp;школе знания на&nbsp;практике
        .group__features-item.wow.fadeIn(data-wow-duration="1s" data-wow-delay="1.1s")
          i.circle
          p.text Пройти раннюю профориентацию 
            br
            |  и&nbsp;раскрыть индивидуальный 
            br
            |  потенциал
        .group__features-item.wow.fadeIn(data-wow-duration="0.4s" data-wow-delay="1.2s")
          i.circle
          p.text Получить массу позитивных эмоций 
            br
            |  и&nbsp;незабываемо ярких впечатлений
    .container
      .row
        .col-lg-4.offset-lg-3
          .group__btn
            .btn__wrap.btn--grad__wrap
              a.btn.btn--grad Узнать подробнее
                span
  // /.scr_group
