mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .row
        .col-lg-5.col-md-10
          p.lead__title 
            | Получите 
            br
            |  презентацию
          p.lead__text
            b 
              strong ТОП 
              |  5 навыков 
            br
            span  вашего ребенка, 
            |  которые 
            br
            |  можно легко развить
            br
            |  в игровой форме
        .col-xl-5.offset-xl-2.col-lg-6.offset-lg-1.col-md-7.offset-md-2.col-sm-8.offset-sm-2.col-10
          .form.form--border.wpcf7
            form.wpcf7-form
              p.form__desc Заполните форму и получите 
                br
                |  презентацию о 
                i развитии навыков 
                  br
                  |  по возрастам 
                |  на Вашу почту
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  span.icon__wrap
                    svg.icon(width='15', height='15')
                      use(xlink:href='img/svg/sprite.svg#iconFormUser')              
              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
                  span.icon__wrap
                    svg.icon(width='14', height='17')
                      use(xlink:href='img/svg/sprite.svg#iconFormPhone')
              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-mail.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                  span.icon__wrap
                    svg.icon(width='17', height='12')
                      use(xlink:href='img/svg/sprite.svg#iconFormMail')

              .form__item.form__item--submit.btn--grad__wrap
                .submit__wrap.submit__wrap--grad
                  input.wpcf7-form-control.wpcf7-submit(type='submit', value='Получить презентацию')
                  span

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку 
                          br
                          |  персональных данных
