mixin scr_choose-bday()
  section.scr_choose.choose(id="scr_choose")

    .choose__list.slider2(id="choose__slider--not-infinite")
      .choose__slides.slider2__slides
        .choose__wrap.slider2__slide
          .choose__item
            .choose__img
              img(src="img/bday/img-choose-1.jpg" alt="Магический иллюзион" data-object-fit)
            .choose__bottom
              h3 Магический иллюзион!
              table
                tbody
                  tr
                    th Возраст:
                    td 4-14&nbsp;лет    
                  tr
                    th Продолжительность:
                    td 1&nbsp;час
                  tr                    
                    td +&nbsp;45&nbsp;минут на&nbsp;чаепитие
              .article
                p Мир полон волшебства и магии. Удивительно, но таинственный профессор Фокис только сегодня готов открыть все свои секреты, и научить юных гостей своим лучшим фокусам, чтобы сделать их первоклассными иллюзионистами. Каким фокусам? Этот секрет профессор держит в строжайшей тайне.
            // /.choose__bottom
            span.wpcf7-form-control-wrap.circle-btn
              span.wpcf7-form-control.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='radio', id="choose1", name='choose', value='Выбрать', checked='checked')
                    span.circle
                    span.wpcf7-list-item-label Выбрать
            
          // /.choose__item
        // /.choose__wrap      

        .choose__wrap.slider2__slide
          .choose__item
            .choose__img
              img(src="img/bday/img-choose-2.jpg" alt="Магический иллюзион" data-object-fit)
            .choose__bottom
              h3 Магический иллюзион!
              table
                tbody
                  tr
                    th Возраст:
                    td 4-14&nbsp;лет    
                  tr
                    th Продолжительность:
                    td 1&nbsp;час
                  tr                    
                    td +&nbsp;45&nbsp;минут на&nbsp;чаепитие
              .article
                p Мир полон волшебства и магии. Удивительно, но таинственный профессор Фокис только сегодня готов открыть все свои секреты, и научить юных гостей своим лучшим фокусам, чтобы сделать их первоклассными иллюзионистами. Каким фокусам? Этот секрет профессор держит в строжайшей тайне.
            // /.choose__bottom
            span.wpcf7-form-control-wrap.circle-btn
              span.wpcf7-form-control.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='radio', id="choose2", name='choose', value='Выбрать')
                    span.circle
                    span.wpcf7-list-item-label Выбрать
            
          // /.choose__item
        // /.choose__wrap    

        .choose__wrap.slider2__slide
          .choose__item
            .choose__img
              img(src="img/bday/img-choose-3.jpg" alt="Магический иллюзион" data-object-fit)
            .choose__bottom
              h3 Магический иллюзион!
              table
                tbody
                  tr
                    th Возраст:
                    td 4-14&nbsp;лет    
                  tr
                    th Продолжительность:
                    td 1&nbsp;час
                  tr                    
                    td +&nbsp;45&nbsp;минут на&nbsp;чаепитие
              .article
                p Мир полон волшебства и магии. Удивительно, но таинственный профессор Фокис только сегодня готов открыть все свои секреты, и научить юных гостей своим лучшим фокусам, чтобы сделать их первоклассными иллюзионистами. Каким фокусам? Этот секрет профессор держит в строжайшей тайне.
            // /.choose__bottom
            span.wpcf7-form-control-wrap.circle-btn
              span.wpcf7-form-control.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='radio', id="choose3", name='choose', value='Выбрать')
                    span.circle
                    span.wpcf7-list-item-label Выбрать
            
          // /.choose__item
        // /.choose__wrap    

        .choose__wrap.slider2__slide
          .choose__item
            .choose__img
              img(src="img/bday/img-choose-1.jpg" alt="Магический иллюзион" data-object-fit)
            .choose__bottom
              h3 Магический иллюзион!
              table
                tbody
                  tr
                    th Возраст:
                    td 4-14&nbsp;лет    
                  tr
                    th Продолжительность:
                    td 1&nbsp;час
                  tr                    
                    td +&nbsp;45&nbsp;минут на&nbsp;чаепитие
              .article
                p Мир полон волшебства и магии. Удивительно, но таинственный профессор Фокис только сегодня готов открыть все свои секреты
            // /.choose__bottom
            span.wpcf7-form-control-wrap.circle-btn
              span.wpcf7-form-control.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='radio', id="choose4", name='choose', value='Выбрать')
                    span.circle
                    span.wpcf7-list-item-label Выбрать
            
          // /.choose__item
        // /.choose__wrap     
      // /.choose__slides
      .slider1__dots
    // /.choose__slider
  // /.scr_choose
