mixin scr_bday-about()
  section.scr_bday-about.bday-about(id="scr_bday-about")
    .container
      .bg-img(style="background: transparent url('img/img-bday-1.png') no-repeat center center; background-size: contain;")

      .row       
        .col-lg-5.col-md-6
          h1.title 
            strong день рождения
          p.title--lined Воспоминания полученные 
            br
            |  в&nbsp;детстве — бесценны
            
      .row
        .col-lg-6.col-md-8
          .grey.grey--big
            p Детство — это необыкновенная пора для&nbsp;каждого человека. И все воспоминания, полученные в&nbsp;это время, бесценны. Особенно ярко запоминаются праздники и подготовка к&nbsp;ним. Но самым главным и&nbsp;ожидаемым навсегда останется День рождения. 
            p Мы учтём все пожелания, предоставим наиболее подходящую программу и&nbsp;воплотим любые ваши задумки.

  // /.scr_bday-about
