mixin scr_prices()
  section.scr_prices.prices(id="scr_prices")
    .container
      h1.title 
        strong цены на&nbsp;посещение и&nbsp;услуги
      
      .prices__wrap
        // Первая таблица:
        .tprice.tprice--four-cols
          h3.tprice__title.tprice__title--violet Полное посещение города
          
          ul.tprice__table
            li.tprice__row.tprice__row--heading
              .tprice__cell.tprice__cell--th                
              .tprice__cell.tprice__cell--centered
                span Для малышей от 1,5&nbsp;-&nbsp;4 лет
              .tprice__cell.tprice__cell--centered
                span Для детей от 4&nbsp;-&nbsp;14 лет
              .tprice__cell.tprice__cell--centered
                span Для взрослых

            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--th  
                span Полный день посещения города              
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 700 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 850 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 300 ₽

            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--th  
                span Посещение после 18.00            
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 490 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 600 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 300 ₽
        
        // Вторая таблица:
        .tprice.tprice--two-cols.tprice--two-cols-transposed
          h3.tprice__title.tprice__title--green детская комната mega ясли (3-7&nbsp;лет)
          
          ul.tprice__table
            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--th.tprice__cell--centered
                span Посещение - 2&nbsp;часа
              .tprice__cell.tprice__cell--th.tprice__cell--centered
                span Дополнительный час
            
            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 500 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 200 ₽

        // Третья таблица:
        .tprice.tprice--four-cols
          h3.tprice__title.tprice__title--orange Групповое посещение
          
          ul.tprice__table
            li.tprice__row.tprice__row--heading
              .tprice__cell.tprice__cell--th                
              .tprice__cell.tprice__cell--centered
                span 1 билет, группа от 20 детей
              .tprice__cell.tprice__cell--centered
                span 1 билет, группа от 50 детей
              .tprice__cell.tprice__cell--centered
                span Для взрослых

            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--th  
                span Билет стандартный            
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 450 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 450 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 450 ₽

            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--th  
                span Билет в летний период (скаут профи)           
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 350 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 300 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 250 ₽

        // Четвертая таблица:
        .tprice.tprice--four-cols
          h3.tprice__title.tprice__title--blue день рождения
          
          ul.tprice__table
            li.tprice__row.tprice__row--heading
              .tprice__cell.tprice__cell--th                
              .tprice__cell.tprice__cell--centered
                span Для компании до 5 детей
              .tprice__cell.tprice__cell--centered
                span Для компании до 10 детей
              .tprice__cell.tprice__cell--centered
                span Для компании до 20 детей

            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--th  
                span Полная стоимость           
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 10&nbsp;500 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 14&nbsp;500 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 17&nbsp;500 ₽

            li.tprice__row.tprice__row--big
              .tprice__cell.tprice__cell--th  
                span Формат 2.0 (без свободного посещения после программы)           
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 5&nbsp;000 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 7&nbsp;000 ₽
              .tprice__cell.tprice__cell--centered.tprice__cell--big
                span 9&nbsp;000 ₽

        // Пятая таблица:
        .tprice.tprice--two-cols
          h3.tprice__title.tprice__title--red Дополнительные возможности
          
          ul.tprice__table
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Паспорт
              .tprice__cell.tprice__cell--padding
                span 150 ₽   
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Поздравление со сцены
              .tprice__cell.tprice__cell--padding
                span 500 ₽   
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Поздравление с актером
              .tprice__cell.tprice__cell--padding
                span 1000 ₽    
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Сопровождение (1 час)
              .tprice__cell.tprice__cell--padding
                span будни -200 ₽/выходные 300 ₽  
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Украшение домика до 10 человек
              .tprice__cell.tprice__cell--padding
                span до 10 человек - 1000 ₽/до 20 - 1500 ₽   
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Фотосъемка (1 час)
              .tprice__cell.tprice__cell--padding
                span 2000 ₽  
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Видеоъемка (1 час)
              .tprice__cell.tprice__cell--padding
                span 3000 ₽  
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Шар сюрпириз
              .tprice__cell.tprice__cell--padding
                span 1000 ₽            
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Научное шоу "Открытия для малышей "
              .tprice__cell.tprice__cell--padding
                span 4000 ₽
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Научное шоу "Открытия с сухим льдом"
              .tprice__cell.tprice__cell--padding
                span 4500 ₽  
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Научное шоу "Открытия Николы Тесла"
              .tprice__cell.tprice__cell--padding
                span 5000 ₽  
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Крио шоу для взрослых
              .tprice__cell.tprice__cell--padding
                span 6500 ₽  
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Продление домика для чаепития (1 час)
              .tprice__cell.tprice__cell--padding
                span 2000 ₽   
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Бумажная дискотека
              .tprice__cell.tprice__cell--padding
                span 3500 ₽   
            li.tprice__row
              .tprice__cell.tprice__cell--th
                span Актер на час
              .tprice__cell.tprice__cell--padding
                span 2500 ₽              
        
  // /.scr_prices
