mixin scr_individual-indiv()
  section.scr_individual.individual(id="scr_individual")
    .container
      .row
        .col-lg-7.col-md-9
          h2.title--lined Дети погружаются в&nbsp;игровой процесс освоения различных видов деятельности
      
      ul.individual__list
        li.individual__item.wow.fadeInUp(data-wow-duration="0.5s")
          .img(style={'box-shadow': '10px 17px 40px 0px rgba(219,231,117,0.81)','background-color': '#dce775', 'border': '10.0px solid #d7e45f'})
            img(src="img/img-individual-1.svg" alt="иконка" style={'width':'145px','height': '107px','top':'22px','left':'0'})
          p.text Осваивай
            br
            |  профессии
        li.individual__arrow
        li.individual__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.1s")
          .img(style={'box-shadow': '10px 17px 40px 0px rgba(143,209,135,0.81)','background-color': '#8fd187', 'border': '10.0px solid #7dca75'})
            img(src="img/img-individual-2.svg" alt="иконка" style={'width':'103px','height': '118px','top':'-1px','left':'1px'})
          p.text Развивай
            br
            |  навыки
        li.individual__arrow.individual__arrow--odd
        li.individual__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.2s")
          .img(style={'box-shadow': '10px 17px 40px 0px rgba(89,175,221,0.81)','background-color': '#5ab0dd', 'border': '10.0px solid #40a4d8'})
            img(src="img/img-individual-3.svg" alt="иконка" style={'width':'134px','height': '90px','top':'24px','left':'-2px'})
          p.text Строй
            br
            |  карьеру
        li.individual__arrow
        li.individual__item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s")
          .img(style={'box-shadow': '10px 17px 40px 0px rgba(183,159,197,0.81)','background-color': '#b89fc5', 'border': '10.0px solid #ad90bc'})
            img(src="img/img-individual-4.svg" alt="иконка" style={'width':'143px','height': '104px','top':'21px','left':'0'})
          p.text Получай
            br
            |  зарплату

  // /.scr_individual
