mixin scr_tourfirm-about()
  section.scr_tourfirm.tourfirm(id="scr_tourfirm")
    .type1   
      .container     
        .row
          .col-md-6
            .left         
              h1.title 
                strong О мегаграде
              h2.tourfirm__title.title--lined Игровой центр с&nbsp;мастерскими

              p.grey.grey--big 
                strong MEGA&nbsp;ГРАД - 
                br
                |  это игровой центр с&nbsp;мастерскими, 
                br
                |  где дети могут реализовать себя в&nbsp;качестве специалиста, постигая азы востребованных профессий и&nbsp;прогрессивных технологий.              

          .col-md-6
            .right  
              .video__wrap
                a.video.fancybox(href="https://youtube.com/embed/lFcSrYw-ARY?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=sjqKTctJs1k" data-fancybox-type="iframe" style="background: #7c6eae url('img/tourfirm/img-tourfirm-5.jpg') no-repeat center center; background-size: cover;")
                  span.play
                    i
                  p.text Посмотрите видео о&nbsp;нашем Городе

      .tourfirm__about
        .container
          .row
            .col-md-6
              p Интерактивная составляющая проекта позволяет ребенку уже в&nbsp;4 года почувствовать себя самостоятельным и&nbsp;зарядиться энергией знаний.
            .col-md-6
              p 
                strong Атрибуты взрослой жизни: 
                |  документы, трудовая деятельность и&nbsp;зарплата придают значимости и&nbsp;серьезности, такой желанной и&nbsp;важной для&nbsp;ребенка любого возраста.
                

  // /.scr_tourfirm
