mixin scr_rules()
  section.scr_rules.rules(id="scr_rules")
    .container
      h1.title 
        strong Правила посещения ИЦ «MEGA&nbsp;ГРАД»
      p.title--lined Ознакомьтесь перед посещением
    
    .rules__top
      .container            
        .row
          .col-lg-7
            .grey.grey--big 
              p.strong Уважаемые взрослые!
              p Игровой центр «MEGA&nbsp;ГРАД» (далее – «Город») – это&nbsp;город счастливых детей. 
              p.orange Вход взрослых в&nbsp;Город без&nbsp;сопровождения детей не&nbsp;разрешается.
              
            .article
              p Мы рекомендуем вам предоставить ребенку максимальную свободу на&nbsp;территории Города. Разрешите ему быть самостоятельным. Наблюдая, вы можете открыть в&nbsp;нем качества, которые не&nbsp;замечали раньше, увидеть черты, которые в&nbsp;нем нужно развивать, или&nbsp;напротив, поймете, что нужно скорректировать.
              p В&nbsp;некоторых мастерских Города проводится видео и&nbsp;фотосъемка с&nbsp;участием Ваших детей на&nbsp;условиях, предусмотренных в&nbsp;настоящих Правилах. Посетитель (Сопровождающий), выразивший отказ от&nbsp;посещения его ребенком данных Мастерских, отказывается от&nbsp;предоставления согласия на&nbsp;использование изображения его ребенка на&nbsp;условиях, изложенных в&nbsp;настоящих Правилах.
              p 
                strong Настоящие Правила посещения Города распространяются на&nbsp;всех без&nbsp;исключения граждан, чьи дети находятся на&nbsp;территории Города.

              h2 Приобретая входной билет, посетитель (Сопровождающий) соглашается:

              ul.big-margins
                li С&nbsp;настоящими Правилами посещения Города;

                li  В&nbsp;целях соблюдения требований Федерального закона от&nbsp;27.07.2006 №&nbsp;152-ФЗ 
                  br
                  |  «О&nbsp;персональных данных» на&nbsp;обработку Администрацией Города его персональных данных, а&nbsp;также его&nbsp;ребенка.

          .col-lg-5.offset-lg-0.col-md-8.offset-md-2.col-sm-10.offset-sm-1
            .img
              .img__wrap
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/rules/img-rules-1.jpg">
                  <source srcset="img/rules/img-rules-1.jpg">
                  img(src="img/rules/img-rules-1.jpg" alt="дети пекут" data-object-fit)
            
            aside.schedule
              .grey
                .top
                  .icon__wrap
                    img(src="img/rules/icon-watch.svg" alt="время работы")

                  p.text.orange Режим работы
                    br 
                    |  Города:

                .bottom 
                  p.text Ежедневно с&nbsp;
                    strong 10:00 до&nbsp;20:00, 
                    br
                    |  без&nbsp;перерывов и&nbsp;выходных.
      
      .container
        .article
          p Город проводит для&nbsp;детей исключительно культурно-развлекательные, развивающие мероприятия в&nbsp;игровой форме и не&nbsp;является общеобразовательной организацией, осуществляющей образовательную деятельность по&nbsp;образовательным программам, а&nbsp;также дошкольной образовательной организацией, осуществляющей образовательную деятельность по&nbsp;образовательным программам дошкольного образования, в&nbsp;т.&nbsp;ч. не&nbsp;осуществляет присмотр, воспитание и уход за&nbsp;детьми.

          h2 Дети в Городе:

          ul
            li 
              p Дети до&nbsp;4-х лет находятся в&nbsp;Городе только в&nbsp;сопровождении родителей, либо иных законных представителей, учителей, воспитателей, лиц, уполномоченных из родительского комитета и&nbsp;иных уполномоченных лиц (далее и по&nbsp;всему тексту настоящих Правил– «Сопровождающий(-ие)».
            li 
              p Организованные группы школьников и&nbsp;воспитанников детских дошкольных учреждений, детских домов, школ-интернатов и&nbsp;иных социальных учреждений, независимо от&nbsp;возраста пребывают в&nbsp;Городе только в&nbsp;сопровождении Сопровождающих.
            li 
              p Дети старше 4-х лет на&nbsp;усмотрение Сопровождающего могут самостоятельно пребывать в&nbsp;Городе, за&nbsp;исключением организованных групп школьников и воспитанников детских дошкольных учреждений, детских домов, школ-интернатов и&nbsp;иных социальных учреждений, 
                strong при&nbsp;соблюдении Сопровождающим следующих условий:
            li 
              p 
                strong Во&nbsp;время пребывания ребенка в&nbsp;Городе, Сопровождающий должен находиться на&nbsp;территории Торгового центра.
            li 
              p 
                strong Сопровождающий должен всегда находиться в&nbsp;зоне доступа, чтобы Администрация города могла всегда связаться с&nbsp;ним по&nbsp;мобильному телефону, указанному им в&nbsp;персональных документах ребенка.
            li 
              p 
                strong Сопровождающий обязан немедленно вернуться в&nbsp;Город, если от&nbsp;сотрудников города поступит такая просьба.
            li 
              p Дети до&nbsp;1,5 лет проходят в&nbsp;Город бесплатно.
            li 
              p Дети до&nbsp;4 лет могут посещать MEGAЯсли, Ремесленную мастерскую, Ферму, Почтовое отделение, Мастерскую Танца.
            li 
              p Дети от&nbsp;4 до&nbsp;14 лет посещают мастерские согласно возрастным ограничениям, указанным на табличках при входе в каждый домик.
            li 
              p Дети от&nbsp;14 лет и старше считаются взрослыми.
            li 
              p Дети могут выходить за&nbsp;территорию Города только в присутствии Сопровождающих. Возвращение в&nbsp;Город ребенка от&nbsp;4 до&nbsp;14&nbsp;лет, вышедшего за&nbsp;его пределы, возможно только при условии покупки нового билета. Возвращение в&nbsp;Город детей до&nbsp;4-х лет возможно по&nbsp;ранее купленному билету текущего дня.
            li 
              p Поведение Сопровождающих и их детей, находящихся в&nbsp;Городе, не&nbsp;должно мешать третьим лицам, представлять угрозу безопасности их жизни и&nbsp;здоровью.
            li 
              p В&nbsp;случае повреждения ребенком имущества во&nbsp;время нахождения в&nbsp;Городе, Сопровождающий несет полную материальную ответственность перед Администрацией согласно действующему законодательству в&nbsp;размере причиненного ущерба.
            li 
              p За&nbsp;преднамеренные противоправные действия, а также за&nbsp;умышленную порчу имущества Города и третьих лиц, причинение вреда жизни и здоровью третьих лиц совершенные как ребенком, так и самим Сопровождающим, последние несут ответственность в&nbsp;соответствии с&nbsp;действующим российским законодательством, в&nbsp;т.&nbsp;ч. имущественную ответственность по возмещению стоимости причиненного материального ущерба, а также ответственность за&nbsp;причинение вреда жизни и здоровью третьих лиц.
            li 
              p Дети должны соблюдать Правила игры в&nbsp;Городе в&nbsp;соответствии с&nbsp;техникой безопасности, прислушиваться к&nbsp;замечаниям (комментариям) сотрудников Города.
            li 
              p Многодетные семьи в&nbsp;Городе: дети проходят в&nbsp;будние/выходные дни по&nbsp;цене группового билета будний/выходной, при предъявлении паспорта, в&nbsp;который вписаны дети, либо свидетельства о&nbsp;многодетности семьи. Сопровождающий оплачивает билет номиналом «Входной взрослый билет».
            li 
              p Скидка в&nbsp;размере 20&nbsp;% от&nbsp;стоимости проведения Дня рождения предоставляется для&nbsp;детей с&nbsp;ограниченными возможностями и многодетным семьям. Скидка распространяется только на&nbsp;стоимость проведения Дня рождения, не&nbsp;суммируется с&nbsp;другими скидками, в&nbsp;том числе с&nbsp;купонами. Скидка не&nbsp;распространяется на&nbsp;дополнительные услуги.
            li 
              p Дети с&nbsp;ограниченными возможностями: бесплатное посещение Города для&nbsp;ребенка и его Сопровождающего в&nbsp;любой будний (рабочий) день при&nbsp;предъявлении Справки об&nbsp;инвалидности, вне зависимости от&nbsp;степени инвалидности. В&nbsp;выходные и праздничные дни дети проходят в&nbsp;будние/ выходные дни по&nbsp;цене группового билета будний/выходной, при предъявлении Справки об&nbsp;инвалидности, вне&nbsp;зависимости от&nbsp;степени инвалидности. Сопровождающий оплачивает билеты номиналом «Входной взрослый билет».
  

          h2 Администрация Города вправе:

          ul
            li 
              p В случае неадекватного поведения ребенка (при&nbsp;агрессивном поведении ребенка по&nbsp;отношению к&nbsp;другим детям и взрослым, мешает другим детям, создает опасность причинения вреда жизни, здоровью и имуществу третьих лиц) передать его Сопровождающему.
            li 
              p Если ребенка не&nbsp;забрали из&nbsp;Города после окончания времени работы Города (в&nbsp;течение часа) и Сопровождающий не&nbsp;предупредили о&nbsp;причине своей задержки, Администрация Города вправе передать ребенка полиции. 
            li 
              p В&nbsp;случае необходимости оказать ребенку первую доврачебную медицинскую помощь или вызвать скорую медицинскую помощь, связавшись с&nbsp;Сопровождающим по&nbsp;мобильному телефону.

          h2 Администрация Города не&nbsp;несет ответственности:

          ul
            li 
              p За&nbsp;сохранность одежды и другого имущества, оставленного на&nbsp;территории Города.
            li 
              p За&nbsp;повреждения, нанесенные одежде во&nbsp;время нахождения ребенка в Городе.
            li 
              p Сотрудники не&nbsp;несут ответственности за&nbsp;вред, причиненный жизни, здоровью и имуществу ребенка при&nbsp;отсутствии вины сотрудников Города.
            li 
              p Сотрудники Города не&nbsp;осуществляют присмотр, воспитание и уход за&nbsp;детьми независимо от&nbsp;их возраста. Вся ответственность за&nbsp;присмотр, воспитание и уход за&nbsp;ребенком во&nbsp;время его нахождения в&nbsp;Городе возлагается на Сопровождающего. 
            li 
              p За&nbsp;детей старше 4-х&nbsp;лет оставленных на&nbsp;усмотрение Сопровождающего в&nbsp;Городе.
            li 
              p За несоответствие и неполноту сведений, указанных Сопровождающим в&nbsp;персональных документах мегажителя, а именно, в&nbsp;отношении следующих сведений: ФИО ребенка и Сопровождающего, возраст ребенка, контактный телефон Сопровождающего.

          h2 Деньги в Городе:

          ul
            li
              p Выдаются в&nbsp;Банке РНКБ по&nbsp;чеку или квитанции.
            li
              p Сдаются при&nbsp;выходе сотруднику MEGA&nbsp;ГРАДа в&nbsp;обмен на&nbsp;квитанцию.
            li
              p Зарабатываются в&nbsp;мастерских.
            li
              p Тратятся на&nbsp;обучение профессиям в&nbsp;мастерских, на&nbsp;развлечения, на&nbsp;покупку сувениров в&nbsp;MEGAЛавке

          h2 Безопасность:
          
          ul
            li
              p Сопровождающий должен проверить исправность телефона, уровень заряда батареи и наличие денежных средств на&nbsp;счету своего мобильного телефона и телефона ребенка;
            li
              p Сопровождающий обязан проверить корректность указанного номера телефона в&nbsp;персональных документах ребенка.
            li
              p Браслет взрослого посетителя обязателен для&nbsp;ношения всеми Сопровождающими и позволяет идентифицировать посетителей, дает возможность повторного входа в&nbsp;течение дня. 
            li
              p Каждая мастерская оснащена аптечкой, аварийным фонарем и огнетушителем.

          p.orange Внимание! Выход ребенка возможен только в&nbsp;сопровождении родителей, предупредите его об&nbsp;этом. Не&nbsp;предлагайте ему покинуть Город самостоятельно. Предупредите ребенка, если вы временно покидаете Город.

          h2.title--lined Запрещено в городе

          ul.forbidden
            li.forbidden__item
              img(src="img/rules/icon-forbidden-1.svg" alt="нельзя находиться в верхней одежде")
            li.forbidden__item
              img(src="img/rules/icon-forbidden-2.svg" alt="нельзя курить")
            li.forbidden__item
              img(src="img/rules/icon-forbidden-3.svg" alt="нельзя приходить с животными")
            li.forbidden__item
              img(src="img/rules/icon-forbidden-4.svg" alt="нельзя употреблять спиртное")
            li.forbidden__item
              img(src="img/rules/icon-forbidden-5.svg" alt="нельзя находиться в состояние опьянения")
            li.forbidden__item
              img(src="img/rules/icon-forbidden-6.svg" alt="нельзя приносить оружие")
          
          ul
            li
              p Находиться в&nbsp;Городе в&nbsp;верхней одежде - куртках, плащах, пальто, шубах и&nbsp;т.п.
            li
              p Приносить на&nbsp;территорию Города животных.
            li
              p Курить, включая электронные сигареты.
            li
              p Проходить на&nbsp;территорию Города в&nbsp;состоянии алкогольного или наркотического опьянения.
            li
              p Приносить и распивать спиртные напитки.
            li
              p Проносить и употреблять наркотические вещества.
            li
              p Входить в&nbsp;игротеки взрослым (исключения: Сопровождающие детей до&nbsp;4 лет (MEGAЯсли, Ремесленная мастерская, Ферма), 
                br
                |  Сопровождающие детей с&nbsp;ограниченными возможностями (при наличии у&nbsp;Сопровождающего специального бейджа), сотрудники Города).
            li
              p Занимать очередь в&nbsp;мастерские за&nbsp;своих детей.
            li
              p Повышать тон, бранить, оскорблять, притеснять своих или&nbsp;чужих детей, взрослых.
            li
              p Физически контактировать с&nbsp;чужими детьми, физически наказывать своих или чужих детей.
            li
              p Проносить средства самообороны, холодное или огнестрельное оружие.
            li
              p Делать замечание сотрудникам Города в&nbsp;присутствии детей.
            li
              p Пользоваться атрибутикой, предназначенной для&nbsp;детей в&nbsp;формате, не&nbsp;предусмотренном установленными Правилами.
            li
              p Выносить атрибутику, инвентарь или&nbsp;иные предметы, принадлежащие Городу за&nbsp;пределы Города.
            li
              p Деформировать радиодатчик на&nbsp;сумках детей.
            li
              p Меняться браслетом с&nbsp;другими взрослыми.
        
          p.orange При нарушении любого пункта настоящих Правил Ребенком, Администрация вправе передать его Сопровождающему, для&nbsp;решения вопроса о&nbsp;прекращении пребывания в&nbsp;Городе.

  // /.scr_rules
