mixin scr_photoevent()
  section.scr_photoevent.photoevent(id="scr_photoevent")
    .container      
      .link__wrap 
        a.link.back(href="#") Вернуться к альбому
      h1.title--lined День защиты детей в&nbsp;MEGA&nbsp;ГРАД        
      .row
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-1.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-1.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-2.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-2.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-3.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-3.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-2.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-2.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-1.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-1.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-3.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-3.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-3.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-3.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-2.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-2.jpg" alt="" data-object-fit)
        
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-1.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-1.jpg" alt="" data-object-fit)
      
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-1.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-1.jpg" alt="" data-object-fit)
      
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-2.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-2.jpg" alt="" data-object-fit)
      
        .col-lg-4.col-sm-6
          a.photoevent__item.fancybox(data-fancybox-group="gallery" href="img/photoevent/img-photoevent-3.jpg")
            .img__wrap
              img(src="img/photoevent/img-photoevent-3.jpg" alt="" data-object-fit)
      
    .container 
      +paginator
        

  // /.scr_photoevent
