mixin scr_tourfirm()
  section.scr_tourfirm.tourfirm(id="scr_tourfirm")
    .type1   
      .container     
        .row
          .col-sm-7
            .left         
              h1.title 
                strong Для турфирм
              p.tourfirm__title.title--lined  Порадуйте своих клиентов
              p.tourfirm__desc Приглашаем к&nbsp;сотрудничеству туристические компании и&nbsp;специалистов туриндустрии, которые организуют активный досуг для&nbsp;детей и&nbsp;взрослых.
              blockquote 
                p Для&nbsp;ваших клиентов мы можем организовать индивидуальные и&nbsp;групповые программы на&nbsp;специальных условиях. Они останутся в&nbsp;восторге.
          .col-sm-5
            .right  
              .img__wrap       
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/tourfirm/img-tourfirm-1.jpg">
                  <source srcset="img/tourfirm/img-tourfirm-1--mobile.jpg">
                  img(src="img/tourfirm/img-tourfirm-1.jpg" alt="наставник и дети" data-object-fit)

    .type2
      .container
        .row
          .col-md-7.col-sm-5.img
            .left         
              .img__wrap     
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/tourfirm/img-tourfirm-2.jpg">
                  <source srcset="img/tourfirm/img-tourfirm-2--mobile.jpg">
                  img(src="img/tourfirm/img-tourfirm-2--mobile.jpg" alt="дети играют в пожарных" data-object-fit)
                
          .col-md-5.col-sm-7
            .right 
              .article 
                h2 Мы лучшие в&nbsp;сфере 
                  br 
                  |  образовательного досуга
                p Сотрудничество с&nbsp;MEGA&nbsp;ГРАДОМ выгодно: для&nbsp;партнёров действуют специальные условия и&nbsp;бонусная программа.
                
                h2 Всегда позитивные эмоции
                p Большой выбор групповых программ и&nbsp;сценариев праздников, реалистичная атмосфера города профессий. А&nbsp;ещё в&nbsp;Mega&nbsp;граде всегда отличная погода!
        
  // /.scr_tourfirm
