mixin scr_tourfirm-group()
  section.scr_tourfirm.tourfirm(id="scr_tourfirm")
    .type1   
      .container     
        .row
          .col-sm-7
            .left         
              h1.title 
                strong групповое посещение
              p.tourfirm__title.title--lined Здесь всё, как в&nbsp;настоящем городе
              p.grey.grey--big Хотите всем классом провести день 
                br
                |  полный открытий и&nbsp;впечатлений?
              p.blue В
                strong &nbsp;MEGA&nbsp;ГРАДЕ 
                |  разработан целый комплекс обучающих игровых программ для&nbsp;групповых визитов

          .col-sm-5
            .right  
              .img__wrap       
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/tourfirm/img-tourfirm-3.jpg">
                  <source srcset="img/tourfirm/img-tourfirm-3--mobile.jpg">
                  img(src="img/tourfirm/img-tourfirm-3.jpg" alt="дети собирают лего" data-object-fit)

  // /.scr_tourfirm
