mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    .container
      .row
        .col-12
          h2.title.title2 Наши партнёры
        // /.col
      // /.row
      .slider1.partners__slider(id="partners__slider")
        .slider1__slides.partners__slides
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s")
              img(src="img/img-partners-1.jpg" alt="рнбк")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.1s")
              img(src="img/img-partners-2.png" alt="меганом")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.2s")
              img(src="img/img-partners-3.png" alt="голубая волна")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s")
              img(src="img/img-partners-4.png" alt="крымская роза")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.4s")
              img(src="img/img-partners-5.png" alt="детский крым")
          .slider1__slide.partners__slide
            .img__wrap.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.5s")
              img(src="img/img-partners-6.png" alt="баскин робинс")
          .slider1__slide.partners__slide
            .img__wrap
              img(src="img/img-partners-6.png" alt="баскин робинс")
          
        .slider1__dots.partners__dots


          // /.partners__slide
        // /.partners__slides
      // /.partners__slider
      // /.row
    // /.container        
  // /.scr_partners
