mixin scr_program-about()
  section.scr_program.program(id="scr_program")
    .container
      .row 
        .col-md-7
          p.orange Помимо индивидуального посещения 
            strong MEGA&nbsp;ГРАД
            |  проводит яркие тематические программы
        
      .row
        .col-md-6
          p для Дня&nbsp;рождения, Выпускного, Нового&nbsp;года, группового посещения школьников и Выездных мероприятий.
      
      ul.program__list
        li.program__item
          .top
            .img
              .img__wrap
                img(src="img/about/img-program-1.jpg" alt="День рождения" data-object-fit)

        li.program__item
          .top
            .img
              .img__wrap
                img(src="img/about/img-program-2.jpg" alt="Дети веселятся" data-object-fit)

        li.program__item
          .top
            .img
              .img__wrap
                img(src="img/about/img-program-3.jpg" alt="Новый год" data-object-fit)

  // /.scr_program
