mixin socials()
  section.socials(id="socials")
    a.socials__link.open-modal(href='#call', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-facebook
    a.socials__link.open-modal(href='#call', rel='nofollow', target='_blank')
      i.fa.fa-instagram
    a.socials__link.open-modal(href='#call', rel='nofollow', target='_blank')
      i.fa.fa-youtube-play 
    

        
  // /.socials
