mixin scr1()
  section.scr1(id="scr1" style="background: transparent url('../img/scr1-bg.jpg') no-repeat top center; background-size: cover;")
    .wr
      .scr1__df
        .scr1__content
          h1.scr1__title
            strong Проектируем и строим
            br
            |  современные дома из камня ракушечника
            br
            |  и газобетона в Крыму
            span.accent  от 3 000 000 руб.

          p.scr1__desc Берём на себя комплекс услуг от подбора участка
            br
            |  до ввода дома в эксплуатацию

          .scr1__bottom
            .scr1__guarantee
              span.accent 10
              p гарантия
                br
                i.accent  лет

            .btn__wrap
              a.xbtn.xbtn--grad(href="#") Рассчитать стоимость дома

            .btn__wrap
              a.xbtn.xbtn--trsp(href="#") Получить консультацию


        .scr1__video
          a.scr1__video-top.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
            .scr1__video-img
              img(src="img/scr1-video.jpg" alt="" data-object-fit-cover)

          .scr1__video-content
            p Посмотрите минутное&nbsp;
              a.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe") видео
              |  и&nbsp;у&nbsp;вас отпадут все сомнения в выборе строителей дома вашей мечты

  // /.scr1
