mixin scr_why()
  section.scr_why.why(id="scr_why")
    .wr
      h2.page-title Почему выбирают именно 
        br
        span.accent  наши дома?
      
      ul.why__list
        li.faq__item
          .top
            button.open
            h3 Современный и долговечный продукт

          .hidden
            .article
              p Мы строим надежные дома, которые долго прослужат вам с минимальными затратами на эксплуатацию...
        li.faq__item
          .top
            button.open
            h3 Функциональность

          .hidden
            .article
              p Мы строим надежные дома, которые долго прослужат вам с минимальными затратами на эксплуатацию...
        li.faq__item
          .top
            button.open
            h3 Энергоэффективность

          .hidden
            .article
              p Мы строим надежные дома, которые долго прослужат вам с минимальными затратами на эксплуатацию...
        li.faq__item
          .top
            button.open
            h3 Экология

          .hidden
            .article
              p Мы строим надежные дома, которые долго прослужат вам с минимальными затратами на эксплуатацию...
        li.faq__item
          .top
            button.open
            h3 Пожарная безопасность

          .hidden
            .article
              p Мы строим надежные дома, которые долго прослужат вам с минимальными затратами на эксплуатацию...
        li.faq__item
          .top
            button.open
            h3 Удобство обслуживания

          .hidden
            .article
              p Мы строим надежные дома, которые долго прослужат вам с минимальными затратами на эксплуатацию...

  // /.scr_why  
