mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .wr
      .prod__top
        h2.page-title
          p
            span.page-title__num  6
          p
            span.accent простых шагов
            br
            |  от звонка до новоселья

        p.page-desc
          span.accent  Предоставляем полный спектр услуг:
          br
          |  проектирование, покупка участка, строительство под ключ, ввод в эксплуатацию и дизайн интерьера

      .steps__wrap
        .steps__slider#steps__slider
          .swiper-wrapper
            .swiper-slide
              .feat__item.steps__item
                h3 Заявка

                .feat__num
                  span 01

                .feat__text
                  p Вы оставляете заявку и получаете консультацию от руководителя
            .swiper-slide
              .feat__item.steps__item
                h3 Техническое задание

                .feat__num
                  span 02

                .feat__text
                  p Договариваемся о встрече в офисе или на участке, обговариваем детали. Выезжаем на замеры за 24 часа
            .swiper-slide
              .feat__item.steps__item
                h3 Проект

                .feat__num
                  span 03

                .feat__text
                  p Разрабатываем проектную документацию до 10 дней и составляем смету на строительство за 2 дня
            .swiper-slide
              .feat__item.steps__item
                h3 Проект

                .feat__num
                  span 04

                .feat__text
                  p Разрабатываем проектную документацию до 10 дней и составляем смету на строительство за 2 дня
            .swiper-slide
              .feat__item.steps__item
                h3 Проект

                .feat__num
                  span 05

                .feat__text
                  p Разрабатываем проектную документацию до 10 дней и составляем смету на строительство за 2 дня
            .swiper-slide
              .feat__item.steps__item
                h3 Проект

                .feat__num
                  span 06

                .feat__text
                  p Разрабатываем проектную документацию до 10 дней и составляем смету на строительство за 2 дня
            .swiper-slide
              .feat__item.steps__item
                h3 Проект

                .feat__num
                  span 07

                .feat__text
                  p Разрабатываем проектную документацию до 10 дней и составляем смету на строительство за 2 дня

        .steps__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_steps
