mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .wr
      h2.page-title Полезные статьи и новости
      p.page-desc В нашем блоге вы можете узнать актуальную информацию о нюансах 
        span.accent  строительства каменных 
          br
          |  домов 
        |  в Республике Крым, закупки материалов, правильном подборе участка и прочее
      
      .blog__wrap
        .blog__slider#blog__slider
          .swiper-wrapper
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Как можно сэкономить на&nbsp;строительстве дома в Крыму?

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Какой материал лучше выбрать для строительства?

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Гибкая черепица. Характеристики, преимущества гибкой кровли

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Гибкая черепица. Характеристики, преимущества гибкой кровли

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Гибкая черепица. Характеристики, преимущества гибкой кровли

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...

        .blog__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

      .blog__bottom
        a.blog__link(href="#") Все новости

  // /.scr_blog  

mixin scr_blog--page()
  section.scr_blog.blog.decor-wrap.decor-wrap--bottom.blog--page(id="scr_blog")
    .wr
      +breadcrumbs 

      h1.page-title--inner Интересные статьи и новости
      
      .blog__df
        .blog__main
          ul.blog__list 
            li   
              .blog__item
                .blog__item-df
                  .blog__item-left
                    a.blog__img(href="#")
                      img(src="img-temp/blog-img.jpg", alt="", 
                    data-object-fit-cover)

                    .blog__item-bottom
                      a.blog__tag(href="#") Портфолио
                      a.blog__tag(href="#") Дом из ракушечника
                      a.blog__comments(href="#") Комментариев (5)

                  .blog__content 
                    time(datetime="2021-07-21") 21 июля 2021
                    h3 
                      a(href="#") Как можно сэкономить на&nbsp;строительстве дома в Крыму?

                    .article 
                      p Выбор проекта - это первый важный вопрос на пути строительства своего дома, конечно, если у вас уже есть участок. Часто будущие владельцы начинают перебирать много готовых типовых проектов и, не сумев остановиться на каком-то определённом, начинают рассматривать вариант индивидуального проектирования. Здесь также могут возникнуть сложности — не все знают, что они хотят.         
            li   
              .blog__item
                .blog__item-df
                  .blog__item-left
                    a.blog__img(href="#")
                      img(src="img-temp/blog-img.jpg", alt="", 
                    data-object-fit-cover)

                    .blog__item-bottom
                      a.blog__tag(href="#") Портфолио
                      a.blog__tag(href="#") Дом из ракушечника
                      a.blog__comments(href="#") Комментариев (5)

                  .blog__content 
                    time(datetime="2021-07-21") 21 июля 2021
                    h3 
                      a(href="#") Как можно сэкономить на&nbsp;строительстве дома в Крыму?

                    .article 
                      p Выбор проекта - это первый важный вопрос на пути строительства своего дома, конечно, если у вас уже есть участок. Часто будущие владельцы начинают перебирать много готовых типовых проектов и, не сумев остановиться на каком-то определённом, начинают рассматривать вариант индивидуального проектирования. Здесь также могут возникнуть сложности — не все знают, что они хотят.         
            li   
              .blog__item
                .blog__item-df
                  .blog__item-left
                    a.blog__img(href="#")
                      img(src="img-temp/blog-img.jpg", alt="", 
                    data-object-fit-cover)

                    .blog__item-bottom
                      a.blog__tag(href="#") Портфолио
                      a.blog__tag(href="#") Дом из ракушечника
                      a.blog__comments(href="#") Комментариев (5)

                  .blog__content 
                    time(datetime="2021-07-21") 21 июля 2021
                    h3 
                      a(href="#") Как можно сэкономить на&nbsp;строительстве дома в Крыму?

                    .article 
                      p Выбор проекта - это первый важный вопрос на пути строительства своего дома, конечно, если у вас уже есть участок. Часто будущие владельцы начинают перебирать много готовых типовых проектов и, не сумев остановиться на каком-то определённом, начинают рассматривать вариант индивидуального проектирования. Здесь также могут возникнуть сложности — не все знают, что они хотят.         
            li   
              .blog__item
                .blog__item-df
                  .blog__item-left
                    a.blog__img(href="#")
                      img(src="img-temp/blog-img.jpg", alt="", 
                    data-object-fit-cover)

                    .blog__item-bottom
                      a.blog__tag(href="#") Портфолио
                      a.blog__tag(href="#") Дом из ракушечника
                      a.blog__comments(href="#") Комментариев (5)

                  .blog__content 
                    time(datetime="2021-07-21") 21 июля 2021
                    h3 
                      a(href="#") Как можно сэкономить на&nbsp;строительстве дома в Крыму?

                    .article 
                      p Выбор проекта - это первый важный вопрос на пути строительства своего дома, конечно, если у вас уже есть участок. Часто будущие владельцы начинают перебирать много готовых типовых проектов и, не сумев остановиться на каком-то определённом, начинают рассматривать вариант индивидуального проектирования. Здесь также могут возникнуть сложности — не все знают, что они хотят.
         
          +paginator

        aside.blog__add
          h2.page-title--inner Рубрикатор 

          .blog__block 
            ul.blog__tags 
              li
                a.blog__tag(href="#") Контрольная закупка
              li
                a.blog__tag(href="#") Дом под ключ
              li
                a.blog__tag(href="#") Строительные материалы
              li
                a.blog__tag(href="#") Дом из газобетона
              li
                a.blog__tag(href="#") Портфолио
              li
                a.blog__tag(href="#") Дом из ракушечника
              li
                a.blog__tag(href="#") Кровля
              li
                a.blog__tag(href="#") Фундамент
              li
                a.blog__tag(href="#") Архитектура
              li
                a.blog__tag(href="#") Ландшафтный дизайн
          
          h2.page-title--inner Мы в Instagram

          .blog__block.blog__block--insta
            ul.blog__insta
              li 
                a.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                  img(src="img-temp/insta/img-1.jpg" alt="" data-object-fit-cover)
              li 
                a.fancybox(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                  img(src="img-temp/insta/img-2.jpg" alt="" data-object-fit-cover)
              li 
                a.fancybox(href="img-temp/insta/img-3.jpg" data-fancybox-group="insta")
                  img(src="img-temp/insta/img-3.jpg" alt="" data-object-fit-cover)
              li 
                a.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                  img(src="img-temp/insta/img-1.jpg" alt="" data-object-fit-cover)
              li 
                a.fancybox(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                  img(src="img-temp/insta/img-2.jpg" alt="" data-object-fit-cover)
              li 
                a.fancybox(href="img-temp/insta/img-3.jpg" data-fancybox-group="insta")
                  img(src="img-temp/insta/img-3.jpg" alt="" data-object-fit-cover)

          h2.page-title--inner Тэги

          .blog__block 
            ul.blog__tags 
              li
                a.blog__tag(href="#") Контрольная закупка
              li
                a.blog__tag(href="#") Дом под ключ
              li
                a.blog__tag(href="#") Строительные материалы
              li
                a.blog__tag(href="#") Дом из газобетона
              li
                a.blog__tag(href="#") Портфолио
              li
                a.blog__tag(href="#") Дом из ракушечника
              li
                a.blog__tag(href="#") Кровля
              li
                a.blog__tag(href="#") Фундамент
              li
                a.blog__tag(href="#") Архитектура
              li
                a.blog__tag(href="#") Ландшафтный дизайн

          .blog__block.blog__form 
            .blog__form-img 
              img(src="img-temp/blog-form.jpg", alt="", data-object-fit-cover)

            p Используйте специальную форму для оценки первоначальной стоимости строительства и проектирования дома

            .btn__wrap 
              a.xbtn.xbtn--grad.open-modal(href="#") Рассчитать стоимость дома 

  // /.scr_blog  
