mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .wr
      h2.page-title Полезные статьи и новости
      p.page-desc В нашем блоге вы можете узнать актуальную информацию о нюансах 
        span.accent  строительства каменных 
          br
          |  домов 
        |  в Республике Крым, закупки материалов, правильном подборе участка и прочее
      
      .blog__wrap
        .blog__slider#blog__slider
          .swiper-wrapper
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Как можно сэкономить на&nbsp;строительстве дома в Крыму?

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Какой материал лучше выбрать для строительства?

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Гибкая черепица. Характеристики, преимущества гибкой кровли

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Гибкая черепица. Характеристики, преимущества гибкой кровли

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...
            .swiper-slide
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog-img.jpg", alt="", 
                  data-object-fit-cover)

                .blog__content 
                  time(datetime="2021-07-21") 21 июля 2021
                  h3 
                    a(href="#") Гибкая черепица. Характеристики, преимущества гибкой кровли

                  .article 
                    p В рамках спецификации современных стандартов, многие известные личности набирают популярность среди определенных слоев населения...

        .blog__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

      .blog__bottom
        a.blog__link(href="#") Все новости

  // /.scr_blog  
