mixin scr_prod()
  section.scr_prod.prod.decor-wrap(id="scr_prod")
    .wr
      .prod__more
        span.page-title более

      .prod__top
        h2.page-title
          span
            span.page-title__num  100
          span готовых домов под ваши
            br
            |  предпочтения и бюджет

        p.page-desc Каталог домов и коттеджей содержит
          span.accent  более 400 готовых
          |  проектов, которые удобно просматривать, фильтровать по параметрам и выбирать

      .prod__wrap
        .prod__slider
          .swiper-wrapper
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="")

                .prod__content
                  h3
                    a(href="#") Двухэтажный дом с эркером и&nbsp;большой площадью остекления

                  .prod__chrs
                    span Расположение:
                    span Севастополь
                  .prod__chrs
                    span Площадь:
                    span 243 м
                      sup 2

                b.prod__price 3 500 000 Р
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  h3
                    a(href="#") Двухэтажный дом с эркером и&nbsp;большой площадью остекления

                  .prod__chrs
                    span Расположение:
                    span Севастополь
                  .prod__chrs
                    span Площадь:
                    span 243 м
                      sup 2

                b.prod__price 3 500 000 Р
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-3.jpg" alt="")

                .prod__content
                  h3
                    a(href="#") Двухэтажный дом с эркером и&nbsp;большой площадью остекления

                  .prod__chrs
                    span Расположение:
                    span Севастополь
                  .prod__chrs
                    span Площадь:
                    span 243 м
                      sup 2

                b.prod__price 3 500 000 Р
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  h3
                    a(href="#") Двухэтажный дом с эркером и&nbsp;большой площадью остекления

                  .prod__chrs
                    span Расположение:
                    span Севастополь
                  .prod__chrs
                    span Площадь:
                    span 243 м
                      sup 2
                b.prod__price 3 500 000 Р
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  h3
                    a(href="#") Двухэтажный дом с эркером и&nbsp;большой площадью остекления

                  .prod__chrs
                    span Расположение:
                    span Севастополь
                  .prod__chrs
                    span Площадь:
                    span 243 м
                      sup 2

                b.prod__price 3 500 000 Р
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-3.jpg" alt="")

                .prod__content
                  h3
                    a(href="#") Двухэтажный дом с эркером и&nbsp;большой площадью остекления

                  .prod__chrs
                    span Расположение:
                    span Севастополь
                  .prod__chrs
                    span Площадь:
                    span 243 м
                      sup 2

                b.prod__price 3 500 000 Р
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  h3
                    a(href="#") Двухэтажный дом с эркером и&nbsp;большой площадью остекления

                  .prod__chrs
                    span Расположение:
                    span Севастополь
                  .prod__chrs
                    span Площадь:
                    span 243 м
                      sup 2

                b.prod__price 3 500 000 Р

        .prod__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

      .prod__btns
        .btn__wrap
          a.xbtn.xbtn--grad(href="#") Перейти в каталог


  // /.scr_prod
