mixin scr_map()
  section.scr_map.map.decor-wrap(id="scr_map")     
    .wr
      .map__wrap
        .map__contacts 
          .map__item 
            h4 Адрес:
            p г. Севастополь, ул. Дмитрия Ульянова, 1а
          .map__item 
            h4 Телефон:
            a(href="tel:+79788005468" rel="nofollow") +7 (978) 800-54-68
            a(href="tel:+79788005468" rel="nofollow") +7 (978) 800-54-68                
          .map__item 
            h4 E-mail:
            a(href="mailto:krmstroypost@gmail.com" rel="nofollow") krmstroypost@gmail.com       
          .map__item 
            h4 График работы:
            p Пн-пт: 09:00 - 18:00, Сб: 10:00 - 17:00
          
          .map__btns 
            .btn__wrap 
              a.xbtn.xbtn--grad(href="#") Проложить маршрут

    .map__map#map__map   

  // /.scr_map  
