mixin scr_director()
  section.scr_director.director.decor-wrap.decor-wrap--light(id="scr_director")
    .wr
      .director__wrap
        .director__content
          h2.page-title Георгий Эдуардович

          .article
            p Вы спокойно продолжаете заниматься ведением дел, потому что уверены: всё идёт по намеченному плану. Несем ответственность за все решения и не перекладываем проблемы на вас.

            p Если мы не учли каких-то расходов до заключения договора, делаем всё за свой счёт и никогда не предлагаем доплатить за материалы или работы без согласования с вами.

            p Не бросаем на полпути и всегда идём с вами до конца, пока не скажете «Принято!». И даже после сдачи объекта остаёмся на связи и готовы помочь в любую минуту.

        .director__bottom
          .director__btns 
            .btn__wrap
              a.xbtn.xbtn--grad.open-modal(href="#") Получить консультацию

          .director__signature 
            img(src="img/signature.png", alt="") 

          .director__info 
            p.director__name Георгий Эдуардович
            p.director__occupation Генеральный директор компании 
              br
              |  «Ангел Строитель»

        .director__img
          img(src="img/director-img.png", alt="")

  // /.scr_director
