mixin scr_insta()
  section.scr_insta.insta.decor-wrap.decor-wrap--light(id="scr_insta")
    .wr
      .insta__top
        h2.page-title Нам 
          span.accent  нечего 
          |  скрывать.

        a.insta__link(href="#" target="_blank")
          span #СтроительствоСевастополь
          span #Стройка #СтройкаКрым
      
      h2.page-title Все рабочие процессы показываем в 
        span.accent  Instagram

      .insta__wrap
        .insta__slider#insta__slider
          .swiper-wrapper
            .swiper-slide
              a.insta__item.fancybox(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-1.jpg", alt="", data-object-fit-cover)
            .swiper-slide
              a.insta__item.fancybox(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-2.jpg", alt="", data-object-fit-cover)
            .swiper-slide
              a.insta__item.fancybox(href="img-temp/insta/img-3.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-3.jpg", alt="", data-object-fit-cover)
            .swiper-slide
              a.insta__item.fancybox(href="img-temp/insta/img-4.jpg" data-fancybox-group="insta")
                img(src="img-temp/insta/img-4.jpg", alt="", data-object-fit-cover)

        .insta__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_insta  
