mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .wr
      h2.page-title Часто задаваемые 
        span.accent  вопросы

      .faq__df 
        ul.faq__list
          li.faq__item
            .top
              h3 Хотим свой проект, вы делаете?
              button.open
            .hidden
              .article
                p  В компании «Ангел Строитель» есть свой архитектурный штат, который при необходимости подготовит проект буквально с ваших слов или с рисунка от руки. Перепланировка нашего типового проекта, или любого понравившегося вам также возможна. Более того, эта услуга оказывается бесплатно при строительстве
          li.faq__item
            .top
              h3 Чем вы принципиально отличаетесь от других компаний в сфере малоэтажного строительства?
              button.open
            .hidden
              .article
                p  В компании «Ангел Строитель» есть свой архитектурный штат, который при необходимости подготовит проект буквально с ваших слов или с рисунка от руки. Перепланировка нашего типового проекта, или любого понравившегося вам также возможна. Более того, эта услуга оказывается бесплатно при строительстве
          li.faq__item
            .top
              h3 Есть ли у вас выставочная площадка?
              button.open
            .hidden
              .article
                p  В компании «Ангел Строитель» есть свой архитектурный штат, который при необходимости подготовит проект буквально с ваших слов или с рисунка от руки. Перепланировка нашего типового проекта, или любого понравившегося вам также возможна. Более того, эта услуга оказывается бесплатно при строительстве
          li.faq__item
            .top
              h3 Выезжаете ли вы на участок?
              button.open
            .hidden
              .article
                p  В компании «Ангел Строитель» есть свой архитектурный штат, который при необходимости подготовит проект буквально с ваших слов или с рисунка от руки. Перепланировка нашего типового проекта, или любого понравившегося вам также возможна. Более того, эта услуга оказывается бесплатно при строительстве
          li.faq__item
            .top
              h3 Каковы сроки строительства?
              button.open
            .hidden
              .article
                p  В компании «Ангел Строитель» есть свой архитектурный штат, который при необходимости подготовит проект буквально с ваших слов или с рисунка от руки. Перепланировка нашего типового проекта, или любого понравившегося вам также возможна. Более того, эта услуга оказывается бесплатно при строительстве

        .faq__form
          .faq__img 
            img(src="img/director-img-small.jpg", alt="", data-object-fit-cover)

          .form.wpcf7
            form.wpcf7-form
              p.form__title.accent Остались вопросы?
              p.form__desc Оставьте заявку и я отвечу на все вопросы по&nbsp;строительству домов из газобетона и&nbsp;ракушечника

              .form__item.form__item--submit
                .btn__wrap
                  button.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit') Задать вопрос

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

          // /. form
        // /. faq__form
  // /.scr_faq
