mixin scr_feat()
  section.scr_feat.feat(id="scr_feat")
    .wr
      ul.feat__list
        li
          .feat__item
            h3 Честная цена

            .feat__num
              span 01

            .feat__text
              p Еще до начала строительства вы получите реальную стоимость проекта  в подробной смете на каждый этап работ
        li
          .feat__item
            h3 Готовый дом за 4 месяца

            .feat__num
              span 02

            .feat__text
              p Строим дома быстро от 4 до 6 месяцев. Мы не срываем сроки, иначе оплатим неустойку за каждый день просрочки
        li
          .feat__item
            h3 10 лет гарантии

            .feat__num
              span 03

            .feat__text
              p Трёх-этапная проверка качества.
                br
                |  Гарантия на строение до 10 лет
                br
                |  прописана в договоре подряда

  // /.scr_feat
