mixin scr_build()
  section.scr_build.build.decor-wrap.decor-wrap--light(id="scr_build")
    .wr
      h2.page-title Мы построили более
        span.accent  30-ти домов
        br
        |  по всему Крыму

      .page-desc
        p Анализируем исходные данные и учитываем все ваши требования к цене и срокам строительства, чтобы предложить самое рациональное решение для вашей задачи

      .build__df
        .build__nav
          span Тип работ:
          ul
            li.current
              a(href="#build__tab-0") Строительство под ключ
            li
              a(href="#build__tab-1") Внутренняя отделка
            li
              a(href="#build__tab-2") Инженерные сети
            li
              a(href="#build__tab-3") Кладка стен
            li
              a(href="#build__tab-4") Кровельные работы

        ul.build__tabs
          li.build__tab#build__tab-0
            .build__map#build__map-0
          li.build__tab#build__tab-1
            .build__map#build__map-1

      .build__btns
        .btn__wrap
          a.xbtn.xbtn--grad(href="#") Карта всех объектов

  // /.scr_build
