mixin scr_partners()
  section.scr_partners.partners.decor-wrap(id="scr_partners")
    .wr
      h2.page-title Нам 
        br
        span.accent  доверяют
      
      .partners__wrap
        .partners__slider#partners__slider
          .swiper-wrapper
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-1.jpg", alt="", data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-2.jpg", alt="", data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-3.jpg", alt="", data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-4.jpg", alt="", data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-1.jpg", alt="", data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-2.jpg", alt="", data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-3.jpg", alt="", data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-4.jpg", alt="", data-object-fit-contain)

        .partners__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_partners  
