mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .wr
      h2.page-title Предлагаем
        span.accent  услуги
        |  комплексно
        br
        |  и по-отдельности

      .serv__df
        .serv__col
          .serv__item
            h3 Строительство домов
              br
              |  из ракушечника и газобетона

            p Построим в соответствии с нормативами и строго по технологии производства работ, осуществим надежный монтаж инженерных коммуникаций для комфортной жизни

            .serv__img
              img(src="img/serv-1.png" alt="")
          .serv__item
            h3 Продажа готовых домов
              br
              |  в Севастополе

            p Построим в соответствии с нормативами и строго по технологии производства работ, осуществим надежный монтаж инженерных коммуникаций для комфортной жизни

            .serv__img
              img(src="img/serv-2-2.png" alt="")

        .serv__col
          .serv__item
            h3 Индивидуальное проектирование

            p Лучшие архитекторы, конструкторы и инженеры помогут создать ваш неповторимый дом с учетом всех пожеланий, ситуации на земельном участке и требований местных инстанций

            .serv__img
              img(src="img/serv-3-2.png" alt="")

        .serv__col
          .serv__item
            h3 Поиск и проверка участков

            p Построим в соответствии с нормативами и строго по технологии производства работ, осуществим надежный монтаж инженерных коммуникаций для комфортной жизни

            .serv__img
              img(src="img/serv-4-2.png" alt="")

  // /.scr_serv
