mixin scr_reviews()
  section.scr_reviews.reviews.decor-wrap.decor-wrap--light(id="scr_reviews")
    .wr
      h2.page-title 
        span.accent Отзывы 
        |  о нашей работе
      
      p.page-desc 
        span.accent Более 100 семей 
        |  из разных уголков страны доверили 
        br
        |  строительство своего жилья именно нам
      
      .reviews__slider#reviews__slider
        .swiper-wrapper
          .swiper-slide 
            .reviews__item 
              .reviews__video.scr1__video
                a.scr1__video-top.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .scr1__video-img
                    img(src="img-temp/reviews-bg.jpg" alt="" data-object-fit-cover)

              .reviews__content
                .reviews__name Станислав Абрамов
                .reviews__district Симферопольский район, пгт Гвардейское

                .article 
                  p Противоположная точка зрения подразумевает, что многие известные личности могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Независимые государства призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Господа, курс на социально-ориентированный национальный проект не оставляет шанса для новых предложений.
          .swiper-slide 
            .reviews__item 
              .reviews__video.scr1__video
                a.scr1__video-top.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .scr1__video-img
                    img(src="img-temp/reviews-bg.jpg" alt="" data-object-fit-cover)

              .reviews__content
                .reviews__name Станислав Абрамов
                .reviews__district Симферопольский район, пгт Гвардейское

                .article 
                  p Противоположная точка зрения подразумевает, что многие известные личности могут быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. 

      .reviews__btns
        button.swiper-button-prev 
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow")
        .swiper-pagination
        button.swiper-button-next
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_reviews  
