doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title Кровельный мир | Завод кровельных материалов в Крыму

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#432928')
    // Custom Browsers Color End

    link(rel='stylesheet', href='libs/animate.css')
    link(rel='stylesheet', href='css/main.min.css')
    
    include blocks/scripts.pug  
    include blocks/header.pug

    include blocks/scr_reviews.pug

    include blocks/nav--reviews.pug
    
    include blocks/footer.pug
    include blocks/socials.pug
    include blocks/modal.pug

  body.secondary-page.reviews-page
    
    +header("a")

    #page_wr.page_wr  
      .container
        h1.title Отзывы
    
      +scr_reviews

    +footer("a")
    
    +modal__reviews

    +scripts

