.modal
  position: relative
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 0
  background-color: rgba(0,0,0,0.6)
  z-index: 1000
  opacity: 0
  overflow: hidden
  &.active
    display: block
    opacity: 1
    min-height: 100vh
  &__content
    display: flex
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    width: 371px
    max-width: 100%
    opacity: 0
    transition: 0.7s

    &.visible
      opacity: 1

  .form
    max-height: 100vh
    overflow: auto
    width: 100%
    padding-top: 30px
    padding-bottom: 25px
    z-index: 0
    &__desc
      margin-bottom: 22px

  .close
    background: none
    border: none
    outline: none

    cursor: pointer
    z-index: 300
    transition: 0.3s

    position: absolute
    top: 9px
    right: 11px

    display: block
    width: 22px
    height: 22px
    .icon
      display: block
      height: 100%
      fill: #fff
      transition: 0.4s ease-in-out
    &:hover
      .icon
        fill: $accent

/* modal */
