.insta
  position: relative
  padding-top: 40px
  padding-bottom: 95px
  .page-title
    margin-bottom: 0
  &__wrap
    position: relative
    margin-top: 32px
  &__slider
    overflow: hidden
    margin: -15px
    padding: 15px
    &-btns
      display: none
      .swiper-button-prev
        left: -13px
      .swiper-button-next
        right: -13px
  &__item
    display: block
    text-decoration: none
    outline: none
    height: 230px
    border-radius: 8px
    overflow: hidden
    transition: 0.4s ease-in-out
    &:hover
      box-shadow: 0 0 15px rgba($accent, 0.8)


  @media screen and (max-width: 1400px)
    padding-top: 30px
    padding-bottom: 49px
    &__item
      height: 210px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__slider
      &-btns
        display: block

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__item
      height: 180px

  // max-width 991px

  @media screen and (max-width: 575px)
    background: none
    &__slider
      width: 99%
      overflow: visible
      &-btns
        display: none
    &__item
      height: 170px

  // max-width 575px

  @media screen and (max-width: 400px)
    &__slider
      width: calc(100% + 20px)

  // max-width 400px

/* insta */
