.reviews
  position: relative
  padding-top: 27px
  padding-bottom: 30px
  &__list
    margin: 0
    padding: 0
    list-style: none
    margin-bottom: 25px
  &__item
    display: flex
    margin-bottom: 21px
    padding: 38px 33px 32px
    background-color: #f3f5f9
    border-radius: 6px
  &__img
    flex-shrink: 0
    width: 359px
    max-height: 239px
    margin-right: 34px
    background-color: #f3f5f9
    border-radius: 6px
    overflow: hidden
  &__content
    flex-grow: 1
    padding: 17px 20px 45px 30px
    background-color: #ffffff
    border-radius: 6px
    time
      display: block
      margin-bottom: 25px
      font-size: 14px
  &__name
    margin-top: 0
    margin-bottom: 9px
    font-size: 18px
    font-weight: 500


  @media screen and (max-width: 991px)
    &__item
      margin-bottom: 16px
      padding: 28px 20px 22px
    &__img
      width: 260px
      margin-right: 20px
    &__content
      padding: 17px 10px 25px 20px
      time
        margin-bottom: 10px
        font-size: 13px
    &__name
      margin-bottom: 5px
      font-size: 16px
    &__text
      font-size: 14px

  // max-width 991px

  @media screen and (max-width: 650px)
    &__item
      display: block
    &__img
      width: 100%
      margin-right: 0
      margin-bottom: 20px

  // max-width 650px

  @media screen and (max-width: 500px)
    &__item
      width: calc(100% + 40px)
      margin-left: -20px

  // max-width 500px

/* reviews */
