.lead
  position: relative
  background: transparent url('../img/lead-bg.jpg') no-repeat center center
  background-size: cover
  &__df
    display: flex
    max-width: 1133px
    margin-left: auto
    margin-right: auto
  &__img
    flex-shrink: 0
    position: relative
    width: 225px
    height: 216px
    margin-right: 40px
    margin-top: -12px
    margin-bottom: -8px
    &-arrow
      position: absolute
      bottom: 46px
      left: -118px
      display: block
      width: 123px
      height: 37px
      background: transparent url('../img/svg/arrow2.svg') no-repeat center center
      background-size: contain

  &__title
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 425px
    padding-right: 5px
    font-size: 20px
    font-weight: 500
    line-height: 1.4
    color: #ffffff
    strong
      display: block
      margin-bottom: 5px
      font-size: 30px
      font-weight: 800
      color: #fefffe
  &__form
    display: flex
    flex-direction: column
    justify-content: center


  @media screen and (max-width: 991px)
    &__df
      flex-wrap: wrap
      padding-bottom: 28px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__df
      justify-content: space-between
      align-items: flex-start
    &__title
      position: relative
      max-width: 295px
      padding-top: 18px
      z-index: 2
    &__img
      width: 161px
      height: 155px
      margin-top: 39px
      margin-right: 0
      &-arrow
        bottom: 26px
        left: -88px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__img
      margin-left: -200px

  // max-width 575px

  @media screen and (max-width: 500px)
    background-image: url('../img/lead-bg--mobile.jpg')

  // max-width 500px

  @media screen and (max-width: 410px)
    &__img
      margin-top: 29px
      margin-right: -20px
    &__title
      max-width: 255px
      font-size: 18px
      strong
        font-size: 24px

  // max-width 410px

/* lead */
