.scr_vk
  position: relative
  padding-top: 0
  padding-bottom: 40px
  .page-title
    margin-bottom: 0
  &__wrap
    margin-top: 25px
  &__slider
    overflow: hidden
    margin: -15px
    padding: 15px
    &-btns
      display: none
      .swiper-button-prev
        left: -13px
      .swiper-button-next
        right: -13px


  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* insta */
