.contacts
  position: relative
  padding-top: 29px
  padding-bottom: 29px
  .page-title
    margin-bottom: 30px
  &__df
    display: flex
    justify-content: space-between
  &__left
    width: calc(100% - 401px)
    max-width: 862px
  &__main
    display: flex
    padding: 23px 20px 29px 21px
    background-color: #f3f5f9
    border-radius: 6px
  &__item
    margin-right: 136px
    &:last-of-type
      margin-right: 0
  &__socials
    display: flex
    &-item
      text-decoration: none
      outline: none
      display: flex
      align-items: center
      margin-right: 43px
      font-size: 16px
      font-weight: 500
      transition: 0.4s ease-in-out
      img
        display: block
        width: 20px
        margin-right: 18px
      &:hover
        color: #bf3ba6
      &:last-of-type
        margin-right: 0
  &__form
    flex-shrink: 0
    width: 371px
    max-width: 100%
    margin-left: 30px
  &__title
    margin-top: 0
    margin-bottom: 11px
    font-weight: 400
    font-size: 14px
  .header__phone
    margin-top: 2px
    margin-right: 19px
    color: #000000
    &::after
      background-color: #000
  .header__msg
    &--wa
      .icon
          fill: #33CE62
    &--viber
      .icon
          fill: #7360F2
  &__addresses
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    padding-top: 24px
    padding-bottom: 21px
    & > li
      max-width: 33%
      & > a
        display: block
        text-decoration: none
        outline: none
        font-size: 14px
        line-height: 1.714285714285714
        transition: 0.4s ease-in-out
        &:hover
          color: #2389fc
        b
          display: block
          font-size: 16px
          font-weight: 500
      &.current
        & > a
          color: #2389fc
  &__tabs
    margin: 0
    padding: 0
    list-style: none
    margin-bottom: 21px
  &__map
    height: 372px
    background-color: #f3f5f9
    border-radius: 6px
    overflow: hidden
    &:not(#contacts__map-0)
      display: none
  &__slider
    overflow: hidden
    margin: -15px
    padding: 15px
    &-wrap
      position: relative
    &-btns
      .swiper-dots
        display: none
  &__img
    display: block
    text-decoration: none
    outline: none
    height: 160px
    background-color: #f3f5f9
    border-radius: 6px
    overflow: hidden
    transition: 0.4s ease-in-out
    &:hover
      box-shadow: 0 0 15px rgba(#000,0.5)


  @media screen and (max-width: 1200px)
    &__item
      margin-right: 46px
    &__addresses
      & > li
        & > a
          font-size: 13px
          b
            font-size: 14px
    &__left
      width: calc(100% - 370px)
    &__form
      width: 340px
    &__map
      height: 322px
    &__item
      width: 100%
      margin-right: 0
      margin-bottom: 15px
      &:last-of-type
        margin-bottom: 0
    &__title
      margin-bottom: 3px

  // max-width 1200px

  @media screen and (max-width: 1070px)
    &__main
      display: block

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__df
      display: block
    &__left
      width: 100%
      max-width: 100%
    &__form
      margin-left: auto
      margin-right: auto
      margin-top: 30px

  // max-width 991px

  @media screen and (max-width: 575px)
    &__addresses
      display: block
      & > li
        max-width: 100%
        margin-bottom: 15px
        & > a
          b
            display: inline
        &:last-of-type
          margin-bottom: 0
    &__map
      height: 252px
    &__img
      height: 110px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__slider
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          display: none

  // max-width 500px

  @media screen and (max-width: 450px)
    &__socials
      display: block
      &-item
        margin-bottom: 5px
        &:last-of-type
          margin-bottom: 0

  // max-width 450px

/* contacts */
