.post
  position: relative
  padding-top: 10px
  padding-bottom: 20px
  &__df
    display: flex
    justify-content: space-between
  &__main
    flex-grow: 1
    max-width: 960px
  &__blog
    flex-shrink: 0
    width: 283px
    margin-left: 30px
  &__top
    display: flex
    justify-content: space-between
    margin-bottom: 27px
    padding-top: 16px
    &-left
      width: 42.5%
      padding-top: 3px
  &__title
    margin-top: 0
    margin-bottom: 17px
    font-size: 36px
    font-weight: 500
  &__links
    margin: 0
    padding: 0
    list-style: none
    padding: 30px 33px 31px
    background-color: #f3f5f9
    border-radius: 6px
    & > li
      margin-bottom: 22px
      &:last-of-type
        margin-bottom: 0
      & > a
        position: relative
        display: block
        text-decoration: none
        outline: none
        padding-left: 12px
        font-size: 16px
        color: $accent
        transition: 0.4s ease-in-out
        &:hover
          color: #bf3ba6
        &::before
          content: '•'
          position: absolute
          top: 1px
          left: 0
  &__img
    width: 53.85416666666667%
    border-radius: 6px
    overflow: hidden
    img
      display: block


  @media screen and (max-width: 1300px)
    &__top
      &-left
        width: 54.5%
    &__links
      padding: 20px 23px 21px
      & > li
        margin-bottom: 12px
    &__img
      width: 43.854167%

  // max-width 1300px

  @media screen and (max-width: 1070px)
    &__title
      margin-bottom: 10px
      font-size: 29px

  // max-width 1070px

  @media screen and (max-width: 991px)
    padding-bottom: 10px
    &__df
      display: block
    &__blog
      width: 100%
      margin-left: 0

  // max-width 991px

  @media screen and (max-width: 767px)
    &__title
      font-size: 25px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__top
      display: block
      &-left
        width: 100%
    &__img
      width: auto
      max-width: 100%
      margin-left: auto
      margin-right: auto
      margin-top: 20px

  // max-width 575px

/* post */
