.about
  position: relative
  padding-top: 30px
  padding-bottom: 49px
  .page-title
    margin-bottom: 25px
  &__df
    display: flex
    justify-content: space-between
  &__content
    width: 56.18320610687023%
  &__block
    min-height: 150px
    margin-bottom: 29px
    padding: 37px 39px 40px
    background-color: #f3f5f9
    border-radius: 6px
    b
      font-weight: 500
    &-title
      margin-bottom: 24px
      font-size: 24px
      line-height: 1.2
      font-weight: 500
      b
        font-size: 36px
    &--bottom
      padding-top: 36px
      font-size: 30px
      text-align: center
  &__imgs
    width: 40.83969465648855%
  &__img
    height: 345px
    margin-bottom: 27px
    border-radius: 6px
    overflow: hidden
    &:last-of-type
      margin-bottom: 0
  &__shops
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    padding-top: 30px
    padding-bottom: 60px
    & > li
      max-width: 33%
      font-weight: 500
      b
        display: block
        margin-top: 10px
        font-size: 30px
        font-weight: 500
        color: #2389fc
  &__cols
    display: flex
    justify-content: space-between
    .about__block
      width: calc((100% - 15px) / 2)
      padding: 26px 15px 40px 29px
  &__text
    margin-bottom: 29px
    b
      font-weight: 500
    &:last-of-type
      margin-bottom: 0


  @media screen and (max-width: 1400px)
    padding-bottom: 69px

  @media screen and (max-width: 1170px)
    &__content
      width: 67.183206%
    &__imgs
      width: 30.839695%
    &__img
      height: 235px
      margin-bottom: 17px
    &__block
      min-height: 100px
      margin-bottom: 19px
      padding: 17px 19px 20px
      font-size: 14px
      &-title
        margin-bottom: 14px
        font-size: 20px
        b
          font-size: 31px
      &--bottom
        font-size: 26px
    &__shops
      padding-top: 20px
      padding-bottom: 30px
      & > li
        font-size: 14px
        b
          margin-top: 7px
          font-size: 25px
    &__cols
      .about__block
        padding: 26px 15px 20px 29px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    padding-bottom: 25px
    &__df
      display: block
    &__content
      width: 100%
      margin-bottom: 20px
    &__imgs
      display: flex
      flex-wrap: wrap
      width: 100%
    &__block
      width: 100%
      margin-top: 30px
    &__img
      width: calc((100% - 15px) / 2)
      margin-right: 15px
      margin-bottom: 0
      &:nth-of-type(2n)
        margin-right: 0

  // max-width 1070px

  @media screen and (max-width: 700px)
    padding-top: 20px
    .page-title
      margin-bottom: 15px
    &__block
      &-title
        margin-bottom: 10px
        font-size: 18px
        b
          font-size: 26px
      &--bottom
        font-size: 22px
    &__cols
      .about__block
        padding: 20px 15px
    &__shops
      & > li
        font-size: 13px
        b
          margin-top: 5px
          font-size: 22px
    &__text
      margin-bottom: 19px
      font-size: 14px

  // max-width 700px

  @media screen and (max-width: 575px)
    &__block
      br
        display: none
    &__img
      height: 175px
    &__shops
      padding-top: 10px
      padding-bottom: 20px
      & > li
        font-size: 12px
        b
          font-size: 18px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__cols
      display: block
      .about__block
        width: 100%
        margin-bottom: 15px

  // max-width 500px

  @media screen and (max-width: 450px)
    &__img
      height: 135px
    &__block
      min-height: 0
      font-size: 13px
      &--bottom
        font-size: 18px
    &__shops
      & > li
        max-width: 32%
        font-size: 11px
        b
          font-size: 15px

  // max-width 450px

/* about */
