.certs
  position: relative
  padding-bottom: 52px
  &__title
    margin-top: 0
    margin-bottom: 25px
    font-size: 20px
    font-weight: 700
  &__wrap
    position: relative
    padding: 21px 21px 17px
    background-color: #f3f5f9
    border-radius: 20px
  &__slider
    overflow: hidden
    margin: -15px
    padding: 15px
    &-btns
      .swiper-button-prev,
      .swiper-button-next
        background-color: #fff
      .swiper-button-prev
        left: -8px
      .swiper-button-next
        right: -8px
  &__item
    display: block
    text-decoration: none
    outline: none
    border-radius: 15px
    overflow: hidden
    transition: 0.4s ease-in-out
    img
      display: block
    &:hover
      box-shadow: 0 0 10px rgba($accent, 0.5)


  @media screen and (max-width: 767px)
    padding-bottom: 30px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__wrap
      width: calc(100% + 40px)
      margin-left: -20px
      padding: 11px
      border-radius: 0
    &__slider
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          display: none

  // max-width 575px

/* certs */
