.brands
  position: relative
  padding-bottom: 60px
  &__wrap
    position: relative
    padding: 55px 49px
    border-radius: 20px
    background-color: #f3f5f9
  &__slider
    overflow: hidden
    margin: -14px
    padding: 14px
    &-btns
      .swiper-dots
        display: none
  &__img
    display: flex
    align-items: center
    justify-content: center
    height: 121px
    padding: 18px 22px
    border-radius: 8px
    background-color: #ffffff
    transition: 0.4s ease-in-out
    &:hover
      box-shadow: 0 0 14px rgba($accent, 0.2)
    img
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%


  @media screen and (max-width: 991px)
    &__wrap
      padding: 35px 29px

  // max-width 991px

  @media screen and (max-width: 575px)
    padding-bottom: 0
    &__wrap
      width: calc(100% + 40px)
      margin-left: -20px
      padding: 20px
      border-radius: 0
    &__slider
      width: 95%
      overflow: visible
      &-btns
        display: none
    &__img
      height: 84px
      padding: 20px 13px

  // max-width 575px

/* brands */
