@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap')

@font-face
  font-family: 'VivaldiDCL'
  font-display: swap
  src: local('VivaldiDCL'),
  url('../fonts/VivaldiDCL.woff2') format('woff2'),
  url('../fonts/VivaldiDCL.woff') format('woff'),
  url('../fonts/VivaldiDCL.ttf') format('truetype')
  font-weight: normal
  font-style: normal
