mixin footer(logotype)
  footer.footer(id="footer")

    .footer__top
      .container
        ul.footer__list
         li.footer__item
          .footer__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-download")

          a.footer__text(href="#" download) Скачать реквизиты

         li.footer__item
          .footer__msgs
            .footer__icon
              a(href="#")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-wa")
            .footer__icon
              a(href="#")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-viber")

          a.footer__text(href="tel:89789368866" rel="nofollow") 8 (978) 936 88 66

         li.footer__item
          .footer__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-envelope")

          a.footer__text(href="mailto:mrgreen.ferm@gmail.com" rel="nofollow") mrgreen.ferm@gmail.com

         li.footer__item
          .footer__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-insta")

          a.footer__text(href="" rel="nofollow" target="_blank") mrgreen_ferm

      // /.container
    // /.footer__top


    .container
      .footer__bottom
        .confidence
          a.text(href="#") Политика конфиденциальности

        .copyright
          p.text г. Симферополь © Copyright  2019&nbsp;г.

        a.made(href="https://sheer82.ru/")
          span.text Сделано в
          svg.icon
            use(xlink:href='img/svg/sprite.svg#iconSheer')

      // /.footer__bottom
    // /.container
  // /.footer

