mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        h1.scr1__title Получите в 10 раз больше пользы
          br
          |  от питания благодаря
          span.green  микрозелени
          br
          small  с доставкой по Севастополю оптом и в розницу

        .scr1__desc
          .scr1__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-no-contact")

          p
            span.green Бесконтактная
            |  бесплатная доставка
            br
            |  при заказе от 500 Р

        .scr1__btns
          .btn__wrap.btn__wrap--green
            a.btn.open-modal(href="#modal__order") Дегустация микрозелени

          a.scr1__video(href="#")
            .scr1__video-play
            .scr1__video-text
              p Видео о том, как
                br
                |  растет микрозелень

        ul.scr1__feat#scr_feat
          li
            .scr1__feat-wrap
              .scr1__feat-top
                .scr1__feat-img
                  noscript
                    img.lazy(src="img/feat-1.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/feat-1.png" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__feat-content
                p Для людей, заботящихся
                  br
                  |  о здоровье семьи, ведущих
                  br
                  |  здоровый образ жизни,
                  br
                  |  приверженцев ПП

              .scr1__feat-link
                a.link(href="#") Рецепты блюд

          li
            .scr1__feat-wrap
              .scr1__feat-top
                .scr1__feat-img
                  noscript
                    img.lazy(src="img/feat-2.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/feat-2.png" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__feat-content
                p Для кафе ресторанов, магазинов.
                  br
                  |  Идеален для:
                  br
                  |  вегетарианских заведений
                  br
                  |  для украшения блюд
                  br
                  |  для украшения зала или столика

              .scr1__feat-link
                a.link(href="#") Декларация соответствия

          li
            .scr1__feat-wrap
              .scr1__feat-top
                .scr1__feat-img
                  noscript
                    img.lazy(src="img/feat-3.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/feat-3.png" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__feat-content
                p Огромный выбор самых
                  br
                  |  полезных культур: горох, дайкон,
                  br
                  |  горчица, кинза, рукола,
                  br
                  |  свекла

              .scr1__feat-link
                a.link(href="#") Польза

          li
            .scr1__feat-wrap
              .scr1__feat-top
                .scr1__feat-img
                  noscript
                    img.lazy(src="img/feat-4.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/feat-4.png" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__feat-content
                p Полезных веществ в 10 раз
                  br
                  |  больше, чем во взрослом
                  br
                  |  растении этой же культуры.

              .scr1__feat-link
                a.link(href="#") Смотреть весь каталог


  // /.scr1
