mixin scr_steps()
  section.scr_steps.steps.grey-bg(id="scr_steps")
    .container
      h2.title Как
        span.green  заказать
        |  микрозелень?

      ul.steps__list
        li.steps__item
          span.steps__num
            span.steps__num-img
              noscript
                img.lazy(src="img/num-1.png" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/num-1.png" alt="" width="125" height="90")

            span.steps__num-text шаг
          .steps__text
            p Оставить заявку на сайте
              br
              |  или позвонить по номеру
              br
              a(href="tel:89789368866" rel="nofollow")  8 (978) 936 88 66

        li.steps__item
          span.steps__num
            span.steps__num-img
              noscript
                img.lazy(src="img/num-2.png" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/num-2.png" alt="" width="125" height="90")

            span.steps__num-text шаг
          .steps__text
            p Менеджер поможет
              br
              |  с выбором и оформит
              br
              |  заказ

        li.steps__item
          span.steps__num
            span.steps__num-img
              noscript
                img.lazy(src="img/num-3.png" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/num-3.png" alt="" width="125" height="90")

            span.steps__num-text шаг
          .steps__text
            p Доставим на следующий
              br
              |  день после заказа по
              br
              |  Севастополю


  // /.scr_steps
