mixin scr_catalog()
  section.scr_catalog.catalog(id="scr_catalog")
    .container
      h2.title Каталог: расширяем ассортимент и можем
        br
        |  вырастить любую культуру
        span.green  под заказ


      .catalog__slider#catalog__slider
        .swiper-wrapper
          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее



          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее



          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее



          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее



          .catalog__item.swiper-slide
            .catalog__wrap
              .catalog__top
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .catalog__content
                h3 Кресс салат

                .catalog__content-item
                  p
                    strong Срез
                    |  (контейнер)

                  table
                    tr
                      td
                        span 50 г
                      td
                        span
                          strong 80 Р
                    tr
                      td
                        span 100 г
                      td
                        span
                          strong 150 Р
                    tr
                      td
                        span 500 г
                      td
                        span
                          strong 700 Р
                    tr
                      td
                        span 1000 г
                      td
                        span
                          strong 1200 Р

                .catalog__content-item
                  p
                    strong Растущая
                    |  (бокс)
                  table
                    tr
                      td
                        span 1 шт
                      td
                        span
                          strong 120 Р

              .catalog__btns
                .btn__wrap.btn__wrap--green
                  a.btn.open-modal(href='#modal__prod') Подробнее


        .catalog__nav
          .swiper-dots


      .catalog__all
        .btn__wrap
          button.btn.btn--transparent(type="button") Смотреть все

  // /.scr_catalog
