mixin scr_get()
  section.scr_get.get.grey-bg(id="scr_get")
    .container
      h2.title Какую
        span.green  пользу
        |  может получить
        br
        |  Ваш организм?

      ul.get__list
        li.get__item
          .get__top
            .get__img
              noscript
                img.lazy(src="img/get-img-1.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/get-img-1.png" alt="" width="125" height="90" data-object-fit-contain)

            h3.get__title защита

          .get__desc
            p Защищает организм от действия свободных радикалов и замедляют процессы старения, так как содержится в высоких дозах витамины Е, К, С, аминокислоты и минералы. Их гораздо больше, чем в обычной зелени

        li.get__item
          .get__top
            .get__img
              noscript
                img.lazy(src="img/get-img-2.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/get-img-2.png" alt="" width="125" height="90" data-object-fit-contain)

            h3.get__title витамины

          .get__desc
            p Витамин А, С, К, йод, медь, фосфор; способствуют снижению холестерина и повышению уровня гемоглобина, укрепляет сосуды.
            p Витамины группы В, С, Е, D, фосфор, магний, железо - улучшает сон и самочувствие

        li.get__item
          .get__top
            .get__img
              noscript
                img.lazy(src="img/get-img-3.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/get-img-3.png" alt="" width="125" height="90" data-object-fit-contain)

            h3.get__title антиоксиданты

          .get__desc
            p Вся микрозелень содержит мощные антиоксиданты, которые подавляют развитие патогенной микрофлоры, нормализует пищеварение

        li.get__item
          .get__top
            .get__img
              noscript
                img.lazy(src="img/get-img-4.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/get-img-4.png" alt="" width="125" height="90" data-object-fit-contain)

            h3.get__title протеины

          .get__desc
            p В микрозелени большая концентрация растительного протеина, в 100 гр. микрозелени легкоусвояемого белка больше, чем в 100 гр. мяса, благодаря чему, микрозелень насыщает жизненной энергией без переизбытка калорий



  // /.scr_get
