mixin scr_deliver()
  section.scr_deliver.deliver(id="scr_deliver")
    .container
      ul.deliver__list
        li.deliver__item
          span.deliver__icon
            noscript
              img.lazy(src="img/svg/icons/deliv-1.svg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/deliv-1.svg" alt="" width="125" height="90")

          span.deliver__text Бесплатно доставляем
            br
            |  при заказе от
            span.yellow  500 Р

        li.deliver__item
          span.deliver__icon
            noscript
              img.lazy(src="img/svg/icons/deliv-2.svg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/deliv-2.svg" alt="" width="125" height="90")

          span.deliver__text Способы оплаты: наличный
            br
            |  и безналичный расчет


  // /.scr_deliver
