mixin scr_cta()
  section.scr_cta.cta(id="scr_cta")
    .container
      .cta__df
        .cta__content
          .cta__title
            span.cta__title-text Получите
              br
              strong  топ

            span.cta__title-num
              noscript
                img.lazy(src="img/num-5.png" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/num-5.png" alt="" width="125" height="90")

          p.cta__desc
            span.green вкусных
            |  и
            span.green  полезных
            br
            |  рецептов с использованием
            br
            |  микрозелени

        .cta__form
          .cta__img
            noscript
              img.lazy(src="img/cta-img.png" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/cta-img.png" alt="" width="125" height="90" data-object-fit-contain)

          .form.wpcf7
            form.wpcf7-form
              p.form__title Заполните форму

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш e-mail')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-email")

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--green
                  input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Получить PDF с рецептами')

              .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon

          // /. form

  // /.scr_cta
