mixin scr_for()
  section.scr_for.for(id="scr_for")
    .container
      h2.title Микрозелень способна обогатить
        span.green  ежедневный рацион,
        br
        |  а для HoReCa — позволит
        span.green  расширить меню

      .for__wrap
        ul.for__nav
          li.current
            a(href="#for__tab-0") Для дома
          li
            a(href="#for__tab-1") Для бизнеса

        .for__tabs-wrap
          .for__img
            noscript
              img.lazy(src="img-temp/for-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/for-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

          ul.for__tabs
            li.for__tab#for__tab-0
              .article
                ul
                  li
                    strong Для худеющих при низкокалорийной диете  -
                    |  микрозелень способствует снижению веса, за счет повышения метаболизма и улучшения обмена веществ и является низкокалорийным продуктом.
                  li
                    strong Для спортсменов  -
                    |  добавляя в свой рацион микрозелень в период высоких физических и психологических нагрузок, вы помогаете организму справиться со стрессом и улучшить работоспособность.
                  li
                    strong Для детей -
                    |  им интересно пробовать необычное, и интересно познавать новое, зелень украсит блюда и поможет детскому организму вырасти здоровым, так как именно в детском возрасте организм нуждается в полезных веществах для полноценного развития.
                  li
                    strong Для Зож и ПП  -
                    |  экологически выращенный продукт  , который является концентратом витаминов, фитонутриентов, каротиноидов и минералов просто не может обойти стол человека, который следит за своим питанием и заботиться о здоровье.
                  li
                    strong Для сторонников сыроедения, вегетарианства, веганства,
                    |  так как обеспечивает организм полным набором живых органических веществ.


            li.for__tab#for__tab-1
              .article
                ul
                  li
                    strong Для худеющих при низкокалорийной диете  -
                    |  микрозелень способствует снижению веса, за счет повышения метаболизма и улучшения обмена веществ и является низкокалорийным продуктом.
                  li
                    strong Для спортсменов  -
                    |  добавляя в свой рацион микрозелень в период высоких физических и психологических нагрузок, вы помогаете организму справиться со стрессом и улучшить работоспособность.



  // /.scr_for
