.feat
  position: relative
  padding-top: 20px
  padding-left: 93px
  padding-right: 40px
  &__df
    display: flex
    max-width: 1342px
  &__img
    flex-shrink: 0
    width: 408px
    margin-right: 55px
  &__wrap
    flex-grow: 1
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    margin-top: 72px
  &__item
    width: 33.3%
    padding-right: 40px
    padding-bottom: 43px
  &__content
    padding-right: 100px
  &__icon
    width: 52px
    height: 52px
    margin-bottom: 14px
    .icon
      display: block
      width: 100%
      height: 100%
  &__title
    margin-bottom: 79px
    font-family: $font2
    position: relative
    font-size: 36px
    line-height: 1.2
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: -39px

      width: 467px
      max-width: 100%
      height: 1px
      background-color: $accent


  @media screen and (max-width: 1500px)
    padding-left: 30px
    padding-right: 30px

  // max-width 1500px

  @media screen and (max-width: 1400px)
    &__img
      width: 338px
      margin-right: 25px
    &__title
      margin-bottom: 49px
      font-size: 34px
      &::after
        bottom: -25px
    &__desc
      font-size: 14px
    &__list
      margin-top: 42px
    &__item
      padding-right: 20px
      padding-bottom: 33px
    &__icon
      width: 48px
      height: 48px
    &__text
      font-size: 14px

  // max-width 1400px

  @media screen and (max-width: 1350px)
    padding-left: 15px
    padding-right: 15px
    &__content
      padding-right: 0

  // max-width 1350px

  @media screen and (max-width: 1170px)
    &__img
      width: 278px
    &__title
      font-size: 28px
    &__text
      br
        display: none

  // max-width 1170px

  @media screen and (max-width: 900px)
    &__img
      width: 200px

  // max-width 900px

  @media screen and (max-width: 767px)
    padding-top: 0
    padding-bottom: 5px
    &__img
      display: none
    &__content
      display: none
    &__list
      margin-top: 0
    &__item
      padding-bottom: 16px
      &:nth-of-type(3n)
        padding-right: 0
      &-wrap
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        min-height: 156px
        height: 100%
        padding: 19px 10px 11px
        border: 1.0px solid #e89892
        border-radius: 6.0px
    &__icon
      margin-bottom: 24px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__item
      width: calc((100% - 17px) / 2)
      padding-right: 0
      margin-right: 17px
      &:nth-of-type(2n)
        margin-right: 0

  // max-width 575px

  @media screen and (max-width: 400px)
    padding-bottom: 13px
    &__item
      width: calc((100% - 8px) / 2)
      margin-right: 8px
      padding-bottom: 8px
    &__text
      font-size: 13px

  // max-width 400px

  @media screen and (max-width: 374px)
    &__text
      font-size: 12px

  // max-width 374px

/* feat */
