@font-face
  font-family: 'Franklin'
  font-display: swap
  src: local('FranklinGothic-DemiCond'),
  url('../fonts/FranklinGothic-DemiCond.woff2') format('woff2'),
  url('../fonts/FranklinGothic-DemiCond.woff') format('woff'),
  url('../fonts/FranklinGothic-DemiCond.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GoogleSans'
  font-display: swap
  src: local('GoogleSans'),
  url('../fonts/GoogleSans-Regular.woff2') format('woff2'),
  url('../fonts/GoogleSans-Regular.woff') format('woff'),
  url('../fonts/GoogleSans-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GoogleSans'
  font-display: swap
  src: local('GoogleSans'),
  url('../fonts/GoogleSans-Medium.woff2') format('woff2'),
  url('../fonts/GoogleSans-Medium.woff') format('woff'),
  url('../fonts/GoogleSans-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Museo'
  font-display: swap
  src: local('Museo'),
  url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-700.ttf') format('truetype')
  font-weight: 700
  font-style: normal
