.form {
  position: relative;
  z-index: 30;
  width: 100%;

  &__title {
    
  }

  &__desc {
    font-size: 18px;
    line-height: 28px;    
    color: #ffffff;
    i {
      font-style: italic;
    }
  }

  input,textarea {
    font-family: $font;
  }

  .text-input {
    display: block;
    width: 310px;
    margin: {
      bottom: 20px;
    }

    input,textarea {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      height: 50px;

      color: $color2;
      font-size: 16px;

      background-color: #fff;
      border: 1.0px solid rgba(138,142,145,0.2);
      border-radius: 6.0px;
      transition: 0.3s;
      @include placeholder($color2, 13px);
      &::-webkit-input-placeholder {transition: 0.5s;}
      &::-moz-placeholder          {transition: 0.5s;}
      &:-ms-input-placeholder      {transition: 0.5s;}
      &:focus {
        box-shadow: 0 0 4px rgba($color2,.2)
                  , 0 0 30px #fff;
        border-color: $accent;
        @include placeholder(#fff, 14px);
        &+.icon__wrap {
          border-color: $accent;
          .icon {
            fill: $accent;
          }
        }
      }
    }       
  }

  .text-input--icon {
    position: relative;
    // overflow: hidden;
    input {
      padding-left: 69px;
    }
    .icon__wrap {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 48px;
      height: 100%;
      border-right: 1px solid rgba(32,46,49,0.2);
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      fill: $accent--dark;

      display: block;
      transition: 0.7s;
    }
  }

  .accept {    
    label {
      display: block;
      width: 100%;
      cursor: pointer;
      transition: 0.3s;

      span {
        position: relative;
        display: inline-block;
        padding-left: 73px;

        font-size: 13px;
        line-height: 1.2;
        color: rgba(#fff,0.7);
        transition: 0.3s;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 50px;
          display: block;
          width: 15px;
          height: 15px;
          border: 1.0px solid rgba(255,255,255,0.7);          
        }
      }
      &:hover {
        span {
          color: #fff;
          &::before {
            border-color: #fff;
          }
        }
      }
    }
    input {
      display: none;
    }
    input:checked + span {
      &::before {
        background: transparent url('../img/svg/icon-tick.svg') no-repeat center center;
        background-size: 8px 5px;
      }
    }
  }
  
  .form__item--submit {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 29px;
  }

  input[type="submit"] {
    width: 100%;
  }

  // .textarea-input {
  //   label {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     display: block;
  //     width: 100%;
  //     height: 48px;
  //     line-height: 48px;
  //     padding-left: 61px;
  //     border-bottom: 1.0px solid rgba(138,142,145,0.2);      
  //     .icon {
  //       width: 17px;
  //       height: 17px;
  //     }
  //     .text {
  //       font-size: 14px;
  //       color: #8a8e91;
  //     }      
  //   }
  //   textarea {
  //     width: 100%;
  //     height: 115px;
  //     border-radius: 3.0px;
  //     resize: none;
  //     padding-top: 54px;
  //     padding-left: 12px;
  //   }
  // }

  /* media */

  @media screen and (max-width: 992px) {
    &__desc {
      font-size: 16px;
      line-height: 1.4;
    }
  } /* max-width 992px */

  @media screen and (max-width: 500px) {        
    .accept label span {
      padding-left: 23px;
      &::before {
        left: 0;
      }
    }
    .form__item--submit {
      margin-bottom: 10px;
    }
  } /* max-width 500px */

} /* form */
