.modal {
  position: relative; 
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  &__content {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 798px;
    min-height: 660px; 
    padding: 0 10px;
    padding-top: 88px;   
    opacity: 0;
    transition: 0.7s;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 660px;
      background: transparent url('../img/bg-modal.png') no-repeat center center;
      background-size: contain;
    }
    &.visible {
      opacity: 1;
    }
  }
  .form {
    max-height: calc(100vh - 118px);
    overflow: auto;
    width: 652px;
    z-index: 0;
    margin-bottom: 0;    
    padding-left: 30px;
    input[type="submit"],
    .btn--grad__wrap,
    .submit__wrap {
      width: 231px;
      height: 60px;
    }
    &__one-col {
      width: 310px;
    }
    &__title {
      margin-bottom: 18px;
      font-size: 50px;
      text-align: center;
    }
    &__desc {
      margin-bottom: 28px;
      text-align: center;
    }
    .accept {
      display: block;
      padding-top: 22px;
      margin-bottom: 32px;
    }
    .accept label span {
      padding-left: 27px;
      &::before {
        left: 0;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .close {
    background: none;
    border: none;
    outline: none;

    position: absolute;
    top: 99px;
    right: 52px;    

    display: block;    
    width: 59px;
    height: 59px;
    background-image: linear-gradient(0.0deg, #ec1c23 0%, #f37021 100%);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 300;
    transition: 0.3s;
    &::before,&::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 15px;
      height: 4px;
      background-color: #ffffff;
      border-radius: 1.5px;
    }
    &::before {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:hover {
      transform: translateY(-5px);
    }
  } 

  /* media */

  @media screen and (max-width: 740px) {
    .close {
      top: 20px;
      right: 140px;     
    }
  } /* max-width 740px */

  @media screen and (max-width: 560px) {
    &__content {
      width: 100%;
      min-height: 0;
      &::before {
        background-size: cover;
        height: 120%;
      }
      .close {
        left: 80%;
      }
    }  
    .form {
      padding-left: 0;
      &__title {
        margin-bottom: 12px;
        font-size: 36px;
      }
      &__desc {
        margin-bottom: 20px;
        font-size: 15px;
      }
      .accept {
        padding-top: 10px;
        margin-bottom: 15px;
      }
    }  
  } /* max-width 560px */

  @media screen and (max-width: 500px) {
    &__content {
      top: 20px;
      transform: translate(-50%,0);
    }
  } /* max-width 500px */

  @media screen and (max-width: 400px) {
    &__content {
      top: 0;
      width: 100%;
      min-height: 0;
      &::before {
        background-size: cover;
        height: 120%;
      }
      .close {
        width: 40px;
        height: 40px;
      }
    }  
    .form {
      width: 100%;
      &__one-col {
        width: 100%;
      }
      .text-input {
        width: 100%;
      }
      &__title {
        margin-bottom: 10px;
        font-size: 30px;
      }
      &__desc {
        margin-bottom: 14px;
        font-size: 14px;
      }
      .accept {
        padding-top: 8px;
        margin-bottom: 10px;
      }
    } 
  }

} /* modal */
