.scr2 {
  position: relative;   
  padding-bottom: 43px;

  .title {
    padding-top: 0;
  }
  
  .container {
    position: relative;
  }
  h2 {
    position: absolute;
    top: 44px;
  }
  .bg-img {
    position: absolute;
    left: 0;
    top: -128px;

    display: block;
    width: 100%;
    height: 900px;
    background: transparent url('../img/bg-scr2.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
  }
  
  .map__wrap {
    position: relative;
    width: 100%;
    height: 739px;
    z-index: 100;
  }
  .map {
    position: relative;
    z-index: 10;
    svg {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  .part {
    opacity: 0;
    transition: 0.3s;
    fill: $accent;
    &:hover {
      opacity: 0.4;
    }
  }

  .part-wrap {
    &.active {
      .part {
        opacity: 0.4;
      }
    }
  }

  .tooltips__item {    
    position: absolute;
    display: flex;
    width: 44px;
    height: 44px;

    transition: 0.2s;
    z-index: 10;    
    cursor: pointer;
    &.active {
      width: auto;
      height: auto;
      min-width: 171px;
      min-height: 68px;
      padding: 8px 20px 10px 11px;
      transition: 0.3s;
      z-index: 11;
      .svg__wrap {
        opacity: 1;
      }
      .text {
        max-height: 1000px; 
        max-width: 1000px;       
        opacity: 1;
      }
      img {
        margin-right: 10px;
      }
    }
    .svg__wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 40px);
      z-index: -1;
      opacity: 0;
      transition: 0.2s;
    }
    img {
      width: 44px;
      height: 44px;
      max-width: 100%;
      max-height: 100%;
    }    
    .text {
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      opacity: 0;
      padding-top: 8px;
      h3 {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #0089d1;
      }
      p {
        margin-top: 8px;
        font-size: 13px;
        line-height: 1.2;
        color: $color2;
      }
    }
    &--big {
      &.active {
        min-width: 190px;
        // min-height: 128px;
      }
    }
    &--vbig {
      &.active {
        min-width: 220px;
        // min-height: 140px;
      }
    }
    &--reversed {
      .svg__wrap {
        transform: rotateY(180deg);
      }
    }
  }

  .features {
    position: absolute;
    right: 15px;
    bottom: 130px;
    z-index: 6;
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    &__item {
      margin-left: 60px;
      &:last-of-type {
        p {
          margin-bottom: 46px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      p {
        font-size: 16px;
        line-height: 1.2;
        text-transform: uppercase;
        color: $color2;
      }
      strong {
        font-size: 40px;
        font-weight: 500;
        color: $accent;
      }
      b {
        font-size: 18px;
        font-weight: 400;               
      }
    }
  }

  /* media */
  @media screen and (max-width: 880px) {  
    display: flex;
    flex-direction: column;
    h2 {
      position: static;
      margin-bottom: 20px;
    }
    .svg-map {
      display: none;
    }
    .img-map {
      display: none;
    }
    .map__wrap {
      order: 10;
      height: auto;
    }
    .map {
      display: flex;
      flex-wrap: wrap;
    }
    .tooltips__item {
      width: auto;
      height: auto;
      position: static;
      width: 33.3%;
      margin-bottom: 20px;
      cursor: default;
      .svg__wrap {
        display: none;
      }
      .text {
        max-height: 1000px; 
        max-width: 1000px;       
        opacity: 1;
      }
      img {
        margin-right: 10px;
      }
    }
    .bg-img {
      height: calc(100% + 130px);
    }
    .features {
      position: static;
      margin-top: 20px;
      margin-bottom: 20px;
      &__list {
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
      }
      &__item {  
        margin-bottom: 10px;
        margin-left: 0;
        text-align: center;
        &:first-of-type {
          margin-right: 30px;
        }
        &:last-of-type {
          width: 100%;
          .features__wrap {
            display: flex;
            justify-content: center;
          }
          p {
            margin-bottom: 10px;
            margin-bottom: 10px;   
            text-align: center;
            &:first-of-type {
              margin-right: 30px;
            }     
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
  } /* max-width 880px */

  @media screen and (max-width: 600px) {
    .tooltips__item {
      width: calc(50% - 10px);
      margin-right: 10px;
      img {
        width: 34px;
        height: 34px;
      }
      .text {
        h3 {
          font-size: 12px;
          margin-right: 10px;
          br {
            display: none;
          }
        }
      }
    }
  } /* max-width 600px */

  @media screen and (max-width: 576px) {
    padding-top: 140px;
  } /* max-width 576px */

  @media screen and (max-width: 550px) {
    .features {
      &__item {
        p {
          font-size: 14px;
          strong {
            font-size: 18px;
          }
          b {
            font-size: 16px;
          }
        }
      }
    }
    .tooltips__item .text p {
      word-break: break-all;
    }
  } /* max-width 550px */

  @media screen and (max-width: 400px) {
    h2 {
      br {
        display: none;
      }
    }
    .features {
      margin-top: 10px;
      margin-bottom: 10px;
      &__list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      &__item {
        width: 100%;
        margin-right: 0px;
        margin-left: 0;
        &:last-of-type {
          .features__wrap {
            flex-direction: column;
          }
          p {
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }
  } /* max-width 550px */

} /* scr2 */

.indiv-page {
  
  .scr2 {
    @media screen and (max-width: 700px) {      
      padding-top: 110px;        
    } /* max-width 700px */    
  } /* scr2 */

} /* indiv-page */

.about-page {
  
  .scr2 {
    @media screen and (max-width: 880px) {            
      padding-top: 90px;      
    } /* max-width 880px */   
  
    @media screen and (max-width: 600px) {            
      .bg-img {
        top: -158px;
      }
    } /* max-width 600px */     

  } /* scr2 */

} /* indiv-page */