.individual {
  position: relative; 
  padding-top: 83px;
  padding-bottom: 137px;
  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    top: -200px;
    left: 0;

    display: block;
    width: 100%;
    height: calc(100% + 200px);
    background: transparent url('../img/bg-indiv.png') center center;
    background-size: cover;
    z-index: -1;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    padding-left: 17px;
    padding-right: 17px;
  }

  &__item {
    width: 150px;
    transition: 0.3s;
    .img {      
      position: relative;
      width: 150px;
      height: 150px;
      
      border-radius: 50%;
      z-index: 1;
      img {
        position: absolute;
      }     
    }
    .text {
      margin-top: 35px;
      font-size: 20px;
      color: $color2;
      text-align: center;
    }
    &:hover {
      transform: translateY(-3px);
    }
  }

  &__arrow {
    width: 24px;
    height: 20px;
    margin-top: 65px;
    background: transparent url('../img/svg/arrow.svg') no-repeat center center;    
    background-size: 24px 20px;
    transform: rotate(180deg);
  }

  .btn__wrap {
    margin-top: 68px;
    margin-left: 20px;
  }

  /* media */
  @media screen and (max-width: 992px) {    
    padding-top: 124px;
    &::before {
      top: -400px;
      height: calc(100% + 400px);
    }
  } /* max-width 992px */

  @media screen and (max-width: 860px) {
    &__item {
      width: 120px;
      .img {
        width: 120px;
        height: 120px;
        img {
          width: 95% !important;
          height: auto !important;
          max-height: 90% !important;          
        }        
      }
    }
  } /* max-width 860px */

  @media screen and (max-width: 700px) {
    &__list {
      margin-top: 40px;
      flex-wrap: wrap;
    }
    .btn__wrap {
      margin-top: 35px;
    }
    &__item {
      margin-bottom: 20px;
      width: calc((100% - 40px) / 2);
      .img {
        margin: 0 auto;
      }
    }
    &__arrow {
      &--odd {
        display: none;
      }
    }
  } /* max-width 700px */

  @media screen and (max-width: 576px) {

  } /* max-width 576px */

  @media screen and (max-width: 400px) {
    &__list {
      padding-left: 0;
      padding-right: 0;
    }
    &__item {
      .text {
        font-size: 16px;
      }
    }
    .btn__wrap {
      margin-left: 0;
    }
  } /* max-width 400px */

} /* individual */
