.bday {
  position: relative; 
  .container {
    position: relative;
    padding-top: 130px;
    padding-bottom: 94px;
    &::before {
      content: '';
      position: absolute;
      top: 28px;
      left: 425px;

      display: block;
      width: 864px;
      height: 97.98387096774194%;
      background: transparent url('../img/img-bday-1.png') no-repeat top left;
      background-size: contain;
      z-index: -1;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: -130px;
    left: 0;

    display: block;
    width: 100%;
    height: calc(100% + 130px);
    background: transparent url('../img/bg-bday.png') top center;
    background-size: cover;
    z-index: -1;
  }
  
  .article {
    margin-top: 75px;
    p {
      font-weight: 300;
    }
  }

  .btn__wrap {
    margin-top: 82px;
  }

  /* media */

  @media screen and (max-width: 576px) {
    .container {
      position: relative;
      padding-top: 40px;
      padding-bottom: 40px;
      &::before {
        top: 10px;
        left: 20%;
        opacity: 0.1; 
        background-image: url('../img/img-bday-1--mobile.png');
      }
    }
    .article {
      margin-top: 30px;
    }
    .btn__wrap {
      margin-top: 30px;
    }
  } /* max-width 576px */

  @media screen and (max-width: 500px) {
    &::before {
      background-image: url('../img/bg-bday--mobile.png');
    }
  } /* max-width 500px */

  @media screen and (max-width: 400px) {
    .article {
      margin-top: 25px;
      p {
        font-size: 14px;
      }
    }
  } /* max-width 500px */

} /* bday */
