.calendar {
  position: relative; 
  padding-bottom: 84px;

  .title {
    margin-bottom: 55px;
  }
  .title--lined {
    margin-bottom: 40px;
  }

  &__slides {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  &__slide {
    padding-left: 10px;
    padding-right: 10px;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    thead {
      tr {
        height: 62px;
        background-color: #fcf9fe;
        border-top-left-radius: 6.0px;
        border-top-right-radius: 6.0px;
      }
      th {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #534b72;
      }
    }
    tbody {
      td {        
        vertical-align: top;
      }
      .calendar__day {        
        background-color: #ffffff;
        border: 1.0px solid #dfd9eb;
        border-top: none;
        .calendar__wrap {
          width: 100%;
          min-height: 140px;
        }
        .top {
          padding-left: 12px;
          width: calc(100% + 2px);
          margin-left: -1px;
          height: 32px;  
          line-height: 32px;        
          background-color: rgba(125,110,174,0.8);

          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
        }
        .bottom {          
          padding-left: 14px;
          padding-right: 14px;
          padding-top: 10px;
          padding-bottom: 10px;
          p {
            font-size: 13px;
            line-height: 18px;
          }
        }
        &--with-event {
          background-color: #f6f2ff;
          transition: 0.2s;
          &:hover {
            position: relative;
            box-shadow: 0px 0px 10px 0px #978bbd;
            transform: scale(1.03);
            z-index: 10;
          }
        }
        &--previous {
          background-color: #fcf9fe;
        }
        &--another-month {
          .top {            
            background-color: rgba(125,110,174,0.4);
            color: #534b72;
          }
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }

  .slick-arrow {
    position: relative;
    background: none;
    border: none;
    outline: none;

    display: block;    
    font-family: YandexSansText;
    font-size: 16px;
    font-weight: 500;
    color: #534b72;
    cursor: pointer;
    transition: 0.3s;
    &::before {
      content: '';
      position: absolute;
      top: 50%;           

      display: block;
      width: 14px;
      height: 12px;
      background: transparent url('../img/svg/arrow.svg') no-repeat center center;
      background-size: contain;
    }
    &:hover {
      color: $accent;
    }
  }

  .slick-prev {
    padding-left: 28px;
    &::before {
      transform: translateY(-50%); 
      left: 0;
    }
  }
  .slick-next {
    padding-right: 28px;
    &::before {
      transform: translateY(-50%) rotate(180deg); 
      right: 0;
    }
  }

  /* media */
  @media screen and (max-width: 992px) {    
    &__slide {
      max-width: 100%;
      overflow-x: scroll;
    }
    table {
      width: 992px;
    }
  } /* max-width 992px */

  @media screen and (max-width: 750px) {    
    table {
      width: 800px;
      tbody {
        .calendar__day {
          .calendar__wrap {
            min-height: 100px;            
          }
          .bottom p {
            font-size: 12px;
          }
        }
      }
    }
  } /* max-width 750px */

  @media screen and (max-width: 600px) {
    table {
      thead {
        th {
          font-size: 12px;
        }
      }
      tbody {
        .calendar__day {
          .top {
            height: 22px;
            line-height: 22px;
            font-size: 12px;
          }
        }
      }
    }
  } /* max-width 600px */

  @media screen and (max-width: 500px) {
 
  } /* max-width 500px */

  @media screen and (max-width: 400px) {
    .title {
      margin-bottom: 25px;
    }
    .title--lined {
      margin-bottom: 20px;
    }
  } /* max-width 400px */

} /* calendar */
