.program {
  position: relative; 
  padding-bottom: 44px;
  
  h2 {
    margin-top: 67px;
  }
  .blue {
    margin-top: 32px;
    padding-left: 0;

    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;    
    strong {
      font-size: 50px;
      font-weight: 700;
    }
    b {
      font-weight: 500;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }
  &__item {
    width: 33.3%;
    .img {
      position: relative;
      width: 301px;
      height: 301px;
      &__wrap {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 100%;
        transition: 1s;
      }
      &::before {
        content: '';
        position: absolute;
        display: block;
        background: transparent url('../img/bday/bg-bday-1.png') no-repeat center center;
        background-size: contain;
        z-index: -1;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    .top {
      display: flex;
    }
    .text {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 500;
      text-align: center;
      margin-top: 75px;
    }
    &:nth-of-type(1) {
      .top {
        justify-content: flex-start;
      }
      .img {        
        &::before {
          top: -35px;
          left: -23px;
          width: 360px;
          height: 372px;
        }
      }
    }
    &:nth-of-type(2) {
      .top {
        justify-content: center;
      }
      .img {        
        &::before {
          top: -24px;
          left: -8px;
          width: 338px;
          height: 361px;
          background-image: url('../img/bday/bg-bday-2.png');
        }
      }
    }
    &:nth-of-type(3) {
      .top {
        justify-content: flex-end;
      }
      .img {        
        &::before {
          top: -41px;
          left: -29px;
          width: 343px;
          height: 378px;
          background-image: url('../img/bday/bg-bday-3.png');          
        }
      }
    }
  }

  /* media */
  @media screen and (max-width: 970px) {    
    &__item {
      .img {
        width: 220px;
        height: 220px;
        &::before {          
          width: 310px !important;
          height: 302px !important;
        }
      }
    }
  } /* max-width 970px */

  @media screen and (max-width: 768px) {    
    .blue {
      font-size: 30px;
      strong {
        font-size: 36px;
      }
    }

    h2.orange {
      margin-top: 37px;
      font-size: 34px;
    }
    
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      width: 48%;  
      margin-bottom: 45px; 
      .top {
        justify-content: center !important;
      }  
    }
  } /* max-width 768px */

  @media screen and (max-width: 600px) {
    .blue {
      font-size: 26px;
      strong {
        font-size: 32px;
      }
      br {
        display: none;
      }
    }

    h2.orange {
      margin-top: 26px;
      font-size: 30px;
    }
  } /* max-width 600px */

  @media screen and (max-width: 520px) {
    &__item {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      .top {
        width: 180px;
        margin-right: 20px;
      }
      .text {
        font-size: 14px;
        margin-top: 0;
        text-align: left;
        br {
          display: none;
        }
      }
      .img {
        width: 180px;
        height: 180px;
        &::before {
          width: 210px!important;
          height: 210px!important;
        }
      }
    }
  } /* max-width 520px */

  @media screen and (max-width: 500px) {
    .blue {
      font-size: 18px;
      strong {
        font-size: 24px;
      }
      br {
        display: none;
      }
    }

    h2.orange {
      font-size: 22px;
    }
  } /* max-width 500px */

  @media screen and (max-width: 400px) {
    &__list {
      padding-top: 50px;
    }
    &__item {
      .top {
        width: 140px;
        margin-right: 10px;
      }
      .text {
        font-size: 13px;
      }
      .img {
        width: 140px;
        height: 140px;
        &::before {
          width: 150px!important;
          height: 160px!important;
        }
      }
    }
  } /* max-width 400px */

} /* program */


.about-page {
  
  .program {
    .container {
      position: relative;
      z-index: 10;
    }
    p {
      font-size: 24px;
      line-height: 36px;      
    }
    .orange {
      margin-bottom: 34px;
      font-size: 30px;
      line-height: 40px;
      font-weight: 500;
      strong {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    @media screen and (max-width: 880px) {            
      padding-bottom: 0;      
    } /* max-width 880px */    
    @media screen and (max-width: 500px) {
      p {
        font-size: 16px;    
        line-height: 1.5;
      }
      .orange {
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 30px;
      }
    } /* max-width 500px */

  } /* program */  

} /* .about-page */ 