.parents {
  position: relative; 
  padding-top: 80px;
  padding-bottom: 70px;

  &::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    
    display: block;
    width: 1253px;
    height: 813px;
    background: transparent url('../img/bg-scr1.svg') no-repeat bottom center;
    background-size: cover;
    opacity: 0.05;
  }

  .title--lined {
    margin-bottom: 80px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img_wr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 235px;
      height: 235px;
      margin-bottom: 30px;

      background-color: #b89fc5;
      border: 10.0px solid #ad90bc;
      box-shadow: 10px 17px 40px 0px rgba(183,159,197,0.81);
      border-radius: 50%;
      transition: 0.3s;
      &:hover {
        transform: translateY(-4px);
      }
    }
    .text {
      font-size: 18px;
      line-height: 1.2;
      color: $color2;
      text-align: center;
    }
  }
  &__wrap {
    &:nth-of-type(1) {
      .img_wr {
        background-color: #b89fc5;
        border-color: #ad90bc;
        box-shadow: 10px 17px 40px 0px rgba(183,159,197,0.81);
      }
    }
    &:nth-of-type(2) {
      .img_wr {
        box-shadow: 10px 17px 40px 0px rgba(89,175,221,0.81);
        background-color: #5ab0dd;
        border-color: #40a4d8;
      }
    }
    &:nth-of-type(3) {
      .img_wr {
        box-shadow: 10px 17px 40px 0px rgba(219,231,117,0.81);
        background-color: #dce775;
        border-color: #d7e45f;
      }
    }
  }

  &__desc {
    margin-top: 90px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #f36f20;
    text-align: center;
  }

  /* media */
  @media screen and (max-width: 768px) {    
    &__item {
      margin-bottom: 40px;
      .img_wr {
        width: 180px;
        height: 180px;
        img {
          width: 90px !important;
        }
      }
    }
    &__desc {
      padding-top: 0;
      margin-top: 40px;
    }
  } /* max-width 768px */

  @media screen and (max-width: 550px) {
    .title--lined {
      margin-bottom: 30px;
    }
    &__item {
      .img_wr {
        width: 140px;
        height: 140px;
        img {
          width: 80px !important;
        }
      }
    }
    &__desc {
      margin-top: 20px;
      font-size: 24px;
    }
  } /* max-width 550px */

} /* parents */


.master-page {

  .parents {
    &::before {
      top: -25px;
    }
  } /* parents */

} /* master-page */