.prices {
  position: relative; 
  padding-bottom: 85px;
  z-index: 1;
  
  .title {
    margin-bottom: 37px;
  }
  &__wrap {
    padding: 37px 68px 64px;
    background-color: #fcf9fe;
    border-radius: 6.0px;
  }


  /* media */
  @media screen and (max-width: 1024px) {    
    &__wrap {
      padding: 30px 30px 50px;
    }
  } /* max-width 1024px */

  @media screen and (max-width: 768px) {    
    &__wrap {
      padding-left: 10px;
      padding-right: 10px;
    }
  } /* max-width 768px */

  @media screen and (max-width: 500px) {
    padding-bottom: 40px;
    .title {
      margin-bottom: 25px;
    }
  } /* max-width 500px */

} /* prices */
