.tprice {
  position: relative; 
  
  &:not(:last-of-type) {
    margin-bottom: 32px;
  }
  &__title {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    background-color: rgba(125,110,174,0.8);
    &--red {
      background-color: rgba(223,30,37,0.8);
    }
    &--violet {
      background-color: rgba(125,110,174,0.8);
    }
    &--green {
      background-color: rgba(215,228,95,0.8);
      color: $color2;
    }
    &--orange {
      background-color: rgba(243,111,32,0.8);
    }
    &--blue {
      background-color: rgba(32,156,214,0.8);
    }
  }
  &__table {
    margin: 0;
    padding: 0;
    list-style: none;

    box-shadow: 0px 3px 20px 0px rgba(125,109,173,0.15);
    background-color: #ffffff;
  }
  &__row {
    display: flex;
    height: 43px;
    border-bottom: 1px solid rgba(125,110,174,0.4);
    &:last-of-type {
      border-bottom: none;
    }
    &--big {
      height: 68px;
    }
    &--heading {
      .tprice__cell {
        font-size: 14px;
        color: #534b72;
      }
    }
  }
  &__cell {
    display: flex;
    align-items: center;    

    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: $color2;
    &--big {
      font-size: 18px;
    }
    &--th {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: #6e6e6e;
    }
    &:first-of-type {
      padding-left: 29px;
    }
    &--centered {
      justify-content: center;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    &--padding {
      padding-left: 125px;
    }
    .circle-btn,
    .wpcf7-checkbox {
      width: 100%;
      display: block;
    }
    label {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 114px;
      padding-right: 52px;
      text-align: left;
      .circle {
        position: absolute;
        top: 50%;
        right: 23px;
        transform: translateY(-50%);
      }
    }
    &:not(:last-of-type) {
      border-right: 1px solid rgba(125,110,174,0.4);
    }
  }
  &--two-cols {
    .tprice__cell {
      width: 50%;
    }
  } 
  &--four-cols {
    .tprice__cell {
      &:nth-of-type(1) {
        width: 41.67497507477567%;
      }
      &:nth-of-type(n + 2) {
        width: 19.44167497507478%;
      }
     }
  }

  /* media */
  @media screen and (max-width: 1110px) {    
    &__cell {
      label {
        padding-left: 15px;
      }
    }
  } /* max-width 1110px */

  @media screen and (max-width: 1024px) {    
    &__cell {
      &--padding {
        padding-left: 80px;
      }
    }
  } /* max-width 1024px */

  @media screen and (max-width: 880px) {    
    &__cell {
      &--padding {
        padding-left: 20px;
      }
    }
  } /* max-width 880px */

  @media screen and (max-width: 700px) {
    &__cell {
      font-size: 14px;
      &--th {
        font-size: 14px;
      }
      &:first-of-type {
        padding-left: 15px;
      }
    }
    &__row {
      &--heading {
        .tprice__cell {
          font-size: 13px;
        }
      }
    }
    &--four-cols {
      max-width: 100%;
      width: 700px;
      overflow-x: auto;
      .tprice__cell {
        flex-shrink: 0;
        &:first-of-type {
          width: 28%;          
        }
        &:nth-of-type(n + 2) {
          width: 24%;
        }
      }
      .tprice__table,
      .tprice__title,
      .tprice__row {
        width: 700px;
      }
      .tprice__title {
        text-align: left;
      }
    }
  } /* max-width 700px */

  @media screen and (max-width: 500px) {
    &__title {
      font-size: 16px;
    }
    &.tprice--two-cols {
      &:not(.tprice--two-cols-transposed) {
        .tprice__row {
          flex-direction: column;
          height: auto;
          padding-top: 15px;
          padding-bottom: 15px;      
        }
        .tprice__cell {
          width: 100%;
          &:not(:last-of-type) {
            margin-bottom: 15px;
            border-right: none;
          }
        }
      }
    }
  } /* max-width 500px */

} /* tprice */
