.breadcrumbs
  position: relative
  padding: 14px 0
  ol
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      display: inline-block
      font-size: 13px
      line-height: 1.2
      font-weight: 400
      color: #b1b1b1

      a
        text-decoration: none
        transition: 0.3s
        color: #b1b1b1
        &[href]:hover
          color: $accent

      &:not(:last-of-type)
        &::after
          content: '/'
          margin: 0 1px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* breadcrumbs */
