.scr1
  position: relative
  z-index: 1
  .bg-img
    position: absolute
    top: 0
    left: 0

    display: block
    width: 100%
    height: 100%

    z-index: -1
  &__title
    margin-bottom: 38px
    font-size: 60px
    line-height: 1
    font-weight: 300
    color: #ffffff
    .yellow
      font-weight: 700
  &__desc
    margin-bottom: 45px
    font-size: 28px
    line-height: 1.2
    font-weight: 300
    color: #ffffff
  .container
    height: 100%
  &__wrap
    position: relative
    min-height: 100vh
    padding-top: 250px
    padding-bottom: 120px


  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  @media screen and (max-width: 992px)
    &__title
      margin-bottom: 28px
      font-size: 50px
    &__desc
      margin-bottom: 35px
      font-size: 26px

  // max-width 992px

  @media screen and (max-width: 768px)
    &__title
      margin-bottom: 18px
      font-size: 36px
    &__desc
      margin-bottom: 25px
      font-size: 16px
    &__wrap
      min-height: 0
      padding-top: 100px
      padding-bottom: 117px
    .video
      bottom: 22px
  // max-width 768px

  @media screen and (max-width: 576px)
    &__title
      margin-bottom: 12px
      font-size: 28px
    &__desc
      margin-bottom: 20px
      font-size: 14px
  // max-width 576px

  @media screen and (max-width: 500px)
    &__wrap
      padding-top: 80px
      padding-bottom: 20px
    &__title
      font-size: 22px
      br
        display: none
    &__desc
      margin-bottom: 15px
    .video
      position: relative
      margin-left: auto
      margin-top: 30px
      bottom: auto

  // max-width 500px

  @media screen and (max-width: 400px)
    &__title
      font-size: 18px
  // max-width 400px

/* scr1 */
