.about
  position: relative
  .nav--about
    margin-top: 0
  &__nums
    padding-top: 30px
  &__df
    display: flex
  &__content
    position: relative
    width: 48.7719298245614%
    padding-top: 65px
    .bg-img
      position: absolute
      width: 838px
      height: 596px
      left: calc(100% - 58px)
      top: 0
  .title
    line-height: 1.2
  &__text
    margin-bottom: 51px
    padding-right: 68px
    font-size: 18px
    line-height: 1.2
  &__spec
    margin-top: 58px
    font-size: 24px
    font-weight: 700
    color: $accent
  &__nums-list
    margin: 0
    padding: 0
    list-style: none

    display: flex
    justify-content: space-between
    margin-top: 88px
  &__num
    color: $accent
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 8px
    line-height: 1
    span
      display: block
      margin-right: 10px
      font-family: $font3
      font-size: 90px
    small
      display: block
      font-size: 24px
  &__nums-item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    text-align: center
  &__nums-text
    font-size: 18px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #666666
  &__nums-wrap
    margin-bottom: 70px

  &__features
    padding-top: 40px
    padding-bottom: 25px
    &-wrap
      display: flex
      flex-wrap: wrap
      margin-top: 20px
    &-item
      position: relative
      width: 261px
      height: 305px
      z-index: 1
      .inner
        position: absolute
        top: 0
        left: 0
        z-index: -1

        width: 261px
        height: 305px
      &:first-of-type
        margin-top: 68px
        padding-top: 58px
        padding-left: 39px
        margin-right: 17px
      &:nth-of-type(2)
        margin-top: 68px
        padding-left: 15px
        &::before
          content: ''
          position: absolute
          top: 0
          left: -14px

          display: block
          width: 273px
          height: 305px
          background: transparent url('../img/img-about-2.png') no-repeat center center
          background-size: contain
          z-index: -1
        .about__features-content
          display: flex
          align-items: center
        .about__features-num
          margin-right: 29px
        .about__features-content
          width: 315px
      &:nth-of-type(3)
        padding-right: 65px
        padding-top: 58px
        margin-right: 143px
        margin-left: auto
        &::after
          content: ''
          position: absolute
          left: -84px
          bottom: -122px

          display: block
          width: 475px
          height: 244px
          background: transparent url('../img/bg-features--small.png') no-repeat center center
          background-size: contain
        .about__features-content
          display: flex
          width: 360px
          margin-left: -18px
        .about__features-text
          padding-top: 24px
      &:nth-of-type(4)
        padding-top: 35px
        padding-left: 29px
        margin-left: 416px
        margin-top: -64px
        .about__features-num
          padding-left: 35px
    &-3d
      flex-shrink: 0
      width: 168px
      height: 167px
      margin-right: 25px
    &-text
      font-size: 20px
      line-height: 1.2
    &-num
      font-family: $font3
      font-size: 100px
      color: $accent
      small
        font-size: 36px
        &.percent
          font-size: 60px

  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__features
      &-item
        &:nth-of-type(3)
          margin-right: 33px
          &::after
            left: -84px
            bottom: -52px
            width: 426px
            height: 174px
          .about__features-content
            width: 300px
      &-3d
        width: 108px
        height: 97px

  // max-width 1070px

  @media screen and (max-width: 992px)
    &__content
      width: 58.77193%
      padding-top: 35px
      .bg-img
        width: 498px
        height: 356px
    &__text
      margin-bottom: 15px
      font-size: 16px
    &__spec
      margin-top: 8px
      font-size: 21px
    &__num
      span
        font-size: 60px
    &__nums-text
      font-size: 14px
    &__nums-wrap
      margin-bottom: 20px
    &__nums-list
      margin-top: 48px

    &__features
      &-item
        &:first-of-type
          margin-top: 0
        &:nth-of-type(2)
          margin-top: 0
          margin-right: auto
        &:nth-of-type(3)
          margin-left: 127px
          margin-right: 130px
          margin-top: -64px
        &:nth-of-type(4)
          margin-left: -94px
          margin-top: -64px
      &-wrap
        padding-left: 100px

  // max-width 992px

  @media screen and (max-width: 850px)
    &__features
      &-wrap
        padding-left: 0

  // max-width 850px

  @media screen and (max-width: 768px)
    &__nums
      padding-top: 0
    &__text
      margin-bottom: 10px
      font-size: 14px
    &__spec
      font-size: 17px
    &__content
      .bg-img
        width: 398px
        height: 286px
    &__nums-list
      margin-top: 28px
    &__num
      margin-bottom: 0
      span
        margin-right: 5px
        font-size: 40px
      small
        font-size: 16px
    &__nums-text
      font-size: 12px
    &__nums-wrap
      margin-bottom: 10px

  // max-width 768px

  @media screen and (max-width: 750px)
    &__features
      &-wrap
        justify-content: space-between
        padding-left: 15px
        padding-right: 15px
      &-item
        width: 45%
        margin: 0 !important
        margin-bottom: 10px
        height: 235px
        .inner
          width: 211px
          height: 235px
        &:first-of-type
          padding-top: 30px
          padding-left: 29px
        &:nth-of-type(2)
          .about__features-num
            margin-right: 10px
        &:nth-of-type(3)
          padding-top: 28px
          &::after
            left: -84px
            bottom: -10px
            width: 396px
            height: 134px
      &-num
        font-size: 60px
        small
          font-size: 23px
          &.percent
            font-size: 25px
      &-text
        font-size: 15px
      &-3d
        width: 68px
        height: 97px
        margin-right: 10px

  // max-width 750px

  @media screen and (max-width: 576px)
    &__content
      width: 100%
      padding-top: 15px
      .bg-img
        left: 40%
        opacity: 0.2
    &__text
      font-size: 13px
    &__spec
      font-size: 15px
    &__num
      span
        font-size: 30px
      small
        font-size: 13px
    &__nums-text
      font-size: 11px
    &__nums-list
      flex-wrap: wrap
    &__nums-item
      justify-content: flex-start
      width: calc(50% - 10px)
    &__text
      padding-right: 0

  // max-width 576px

  @media screen and (max-width: 500px)
    &__features
      .inner
        display: none
      .about__features-item
        padding: 0
        height: auto
        margin-bottom: 15px
        &::after,
        &::before
          content: none !important
        .about__features-content
          flex-direction: column
          align-items: flex-start
          margin: 0
        &:nth-of-type(4)
          .about__features-num
            padding-left: 0
      &-3d
        width: 48px
        height: 37px
        margin-right: 0

  // max-width 500px

  @media screen and (max-width: 400px)
    &__features
      &-num
        font-size: 40px
        small
          font-size: 18px
      &-text
        font-size: 13px
      &-3d
        width: 37px
        height: 27px

  // max-width 400px

/* about */
