.steps
  position: relative
  padding-top: 52px
  padding-bottom: 120px
  .bg-img
    position: absolute
    top: 0
    left: 0

    display: block
    width: 100%
    height: 946px
    background: transparent url('../img/bg-steps.jpg') no-repeat center top
    background-size: cover
    z-index: -1
  &__circle
    position: relative
    width: 632px
    height: 632px
    margin-right: 146px
    margin-left: auto
    margin-top: 95px
    border-radius: 50%
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0

      display: block
      width: 100%
      height: 100%
      background: transparent url('../img/svg/circle-steps.svg') no-repeat center center
      background-size: contain
      opacity: 0.35

  &__num
    position: relative
    margin-bottom: 25px
    font-family: 'BebasNeueBook'
    font-size: 50px
    z-index: 1
    transition: 0.3s
    &::before
      content: ''
      position: absolute
      top: calc(50% - 40px)
      left: -21px

      display: block
      box-shadow: 5px 9px 20px 0px rgba(177,177,177,0.4)
      width: 80px
      height: 80px
      background-color: #ffffff
      border-radius: 50%
      z-index: -1
  &__text
    position: relative
    z-index: 2
  &__item
    position: absolute
    &:first-of-type,
    &:nth-of-type(n + 6)
      width: 155px
    &:nth-of-type(2)
      width: 240px,
    &:nth-of-type(3),
    &:nth-of-type(4)
      width: 195px
    &:nth-of-type(5)
      width: 200px
    &:hover
      .steps__num
        transform: translateY(-5px)

  /* media */

  @media screen and (max-width: 1070px)
    .bg-img
      background-image: url('../img/bg-steps--medium.jpg') !important

  // max-width 1070px

  @media screen and (max-width: 768px)
    .bg-img
      background-image: url('../img/bg-steps--mobile.jpg') !important
    &__circle
      width: 100%
      height: auto
      display: flex
      flex-wrap: wrap
      &::before
        content: none
        background: none
    &__num
      margin-bottom: 23px
      font-size: 34px
      &::before
        top: calc(50% - 30px)
        width: 60px
        height: 60px
        left: -15px
    &__text
      font-size: 14px
    &__item
      position: static
      width: calc( (100% - 40px) / 3) !important
      margin-right: 20px
      margin-bottom: 20px
      &:nth-of-type(3n)
        margin-right: 0

  // max-width 768px

  @media screen and (max-width: 576px)
    padding-top: 32px
    padding-bottom: 27px
    &__circle
      margin-right: 0
      margin-left: 15px
      margin-top: 35px
    &__num
      font-size: 31px
      &::before
        top: calc(50% - 25px)
        width: 50px
        height: 50px
        left: -14px

  // max-width 576px

  @media screen and (max-width: 500px)
    &__item
      width: calc( (100% - 20px) / 2) !important
      margin-right: 10px
      &:nth-of-type(3n)
        margin-right: 10px
      &:nth-of-type(2n)
        margin-right: 0

  // max-width 500px

/* steps */

.steps--steps-page
  padding-top: 0
  padding-bottom: 69px
  .nav--about
    margin-top: 0
    margin-bottom: 42px
  .bg-img
    background-image: url('../img/bg-steps-2.jpg')
    height: 1141px
  .steps__circle
    margin-bottom: 135px
  .form--horizontal
    max-width: 750px
    margin-left: auto
    margin-right: auto
    padding-left: 65px
    padding-right: 65px
    .btn__wrap
      .btn
        padding-left: 49px
        padding-right: 49px
  @media screen and (max-width: 992px)
    .form--horizontal
      padding-left: 47px
      padding-right: 47px
    .title
      font-size: 38px
    .steps__circle
      margin-top: 65px

  // max-width 992px

  @media screen and (max-width: 768px)
    .steps__circle
      margin-bottom: 25px
    .title
      font-size: 28px

  // max-width 768px

  @media screen and (max-width: 400px)
    padding-bottom: 40px
    .form--horizontal
      padding-left: 27px
      padding-right: 27px
    .title
      font-size: 20px
    .steps__circle
      margin-top: 35px

  // max-width 400px

/* steps */
