.documents
  position: relative
  padding-bottom: 59px
  .secondary__wrap
    padding: 32px 36px 54px
  &__list
    margin: 0
    padding: 0
    list-style: none

    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    width: 30.82706766917293%
    margin-bottom: 28px
  .nav-links
    padding-right: 0
    &__link
      margin-bottom: 30px
      text-transform: uppercase
      &:last-of-type
        margin-bottom: 0
      &:hover
        .nav-links__text
          color: $accent2
      .nav-links__text
        color: $accent
        font-size: 18px
        &::after
          content: none
      .nav-links__icon
        flex-shrink: 0
        width: 24px
        height: 31px

  /* media */

  @media screen and (max-width: 768px)
    padding-bottom: 40px
    .nav-links
      &__link
        margin-bottom: 15px
        .nav-links__text
          font-size: 14px
        .nav-links__icon
          width: 20px
          height: 23px
          margin-right: 10px

  // max-width 768px

  @media screen and (max-width: 576px)
    .secondary__wrap
      padding: 32px 15px 34px
    &__item
      width: 32%

  // max-width 576px

  @media screen and (max-width: 500px)
    &__item
      margin-bottom: 10px
    .nav-links
      &__link
        margin-bottom: 10px
        .nav-links__text
          font-size: 12px
    &__item
      width: 49%

  // max-width 500px

/* documents */
