.team
  position: relative
  padding-top: 38px
  padding-bottom: 32px

  &__wrap
    position: relative
    margin-top: 42px
  &__list
    margin: 0
    padding: 0
    list-style: none

    display: flex
    flex-wrap: wrap
    width: calc(100% + 68px)
    margin-left: -7px
  &__item
    width: calc( (100% - 26px) / 6 )
    margin-right: 5px
    &:nth-of-type(6),
    &:nth-of-type(17)
      margin-right: 0
    &:nth-of-type(n + 7)
      margin-top: -53px
    &:nth-of-type(7)
      margin-left: 101px
    &--with-img
      opacity: 0.5
      transition: 0.3s
      cursor: pointer
      &:hover
        opacity: 1
    svg
      display: block
      max-width: 100%
      width: 100%
      height: auto

  &__big
    flex-shrink: 0
    position: absolute
    left: 37.98245614035088%
    bottom: 30px
    width: 335px
    z-index: 40
    .with-cite
      position: relative
      height: 488px
      .outer
        width: 100%
        height: auto
    .without-cite
      height: 389px


  svg.inner
    position: absolute
    bottom: -14px
    left: 0
    width: 100%
    height: 389px
    z-index: -1
    filter: drop-shadow(0 10px 15px rgb(171, 172, 176))

  &__name
    position: absolute
    bottom: -46px
    right: 0

    display: block
    width: 170px
    height: 200px
    padding-top: 33px
    text-align: center
    z-index: 1
    &-bg
      position: absolute
      top: calc(50% - 50px)
      left: 0

      display: block
      width: 100%
      height: 100px
      background: $accent
      z-index: -1
      &:before,
      &:after
        content: ""
        width: 0
        height: 0
        position: absolute
        left: 0
        border-left: 85px solid transparent
        border-right: 85px solid transparent

      &:before
        top: -50px
        border-bottom: 50px solid $accent

      &:after
        bottom: -50px
        border-top: 50px solid $accent

  &__title
    margin-bottom: 12px
    font-family: 'BebasNeueRegular'
    font-size: 30px
    line-height: 1.2
    font-weight: 400
    color: #ffffff
  &__occ
    font-size: 18px
    line-height: 1.2
    font-weight: 300
    color: #ffffff

  &__item
    .team__info
      display: none

  .without-cite
    display: none

  &__cite
    position: relative
    // display: none
    width: 617px
    max-width: 100%
    margin-top: 37px
    margin-right: 140px
    margin-left: auto
    &::before
      content: '“'
      position: absolute
      top: -80px
      left: -2px

      font-family: $font
      font-size: 146.7px
      line-height: 1.2
      font-weight: 700
      color: $accent
  &__df
    display: flex
  &__event
    margin-bottom: 30px
  &__year
    margin-bottom: 5px
    font-family: $font2
    font-size: 48px

  /* media */
  @media screen and (max-width: 1300px)
    &__list
      width: 100%
      margin-left: 0
  // max-width 1300px

  @media screen and (max-width: 1070px)
    &__cite
      &::before
        top: -50px
        font-size: 100px

  // max-width 1070px

  @media screen and (max-width: 992px)
    &__big
      bottom: -30px
      width: 265px
      .with-cite
        height: 412px
        .inner
          height: 349px
          bottom: 12px
    &__name
      bottom: -16px
      width: 136px
      height: 151px
      &-bg
        height: 80px
        &::before,
        &::after
          border-width: 68px
        &::before
          top: -30px
          border-bottom-width: 30px

        &::after
          bottom: -30px
          border-top-width: 30px

    &__title
      margin-bottom: 9px
      font-size: 17px
    &__occ
      font-size: 14px
  // max-width 992px

  @media screen and (max-width: 768px)
    &__wrap
      &.active
        min-height: 280px
    &__title
      margin-bottom: 5px
      font-size: 15px
    &__occ
      font-size: 13px
    &__big
      left: 50%
      transform: translateX(-50%)
      width: 180px
      .with-cite
        height: 320px
        .inner
          height: 219px
          bottom: 52px
        .team__name
          bottom: 30px

    &__name
      bottom: 52px
      width: 100px
      height: 130px
      &-bg
        height: 60px
        top: calc(50% - 30px)
        &::before,
        &::after
          border-width: 50px
        &::before
          top: -30px
          border-bottom-width: 30px

        &::after
          bottom: -30px
          border-top-width: 30px

  // max-width 768px

  @media screen and (max-width: 500px)
    &__wrap
      margin-top: 22px
      &.active
        min-height: 240px
    svg.inner
      height: 300px
    &__cite
      font-size: 14px
    &__big
      width: 140px
      .with-cite
        height: 250px
        .inner
          height: 149px
        .team__name
          bottom: 24px
    &__title
      font-size: 13px
    &__occ
      font-size: 12px
    &__name
      bottom: 37px
      width: 90px
      height: 89px
      padding-top: 5px
      &-bg
        height: 40px
        &::before,
        &::after
          border-width: 45px
        &::before
          top: -25px
          border-bottom-width: 25px

        &::after
          bottom: -25px
          border-top-width: 25px
  // max-width 500px

  @media screen and (max-width: 400px)
    padding-bottom: 20px
    &__wrap
      &.active
        min-height: 260px

  // max-width 400px

/* team */


.team
  &--team-page
    padding-top: 0
    padding-bottom: 48px
    .nav--about
      margin-top: 0
    .team__big
      position: static
      margin-right: 120px
      padding-top: 30px
    .title
      margin-bottom: 36px
      text-align: left
    .team__slider
      max-width: 1077px
      margin-top: 30px
      margin-left: auto
      margin-right: auto
      .slick-arrow
        top: 90px
      .slick-prev
        left: -96px
      .slick-next
        right: -96px
    .team__slide
      padding: 10px 35px
    .team__img
      svg
        width: 100%
        height: auto
        margin-bottom: 10px
    .team__person
      .team__title
        color: $accent
      .team__occ
        color: $accent
      .team__info
        display: block
        margin-right: -30px

    @media screen and (max-width: 1300px)
      .team__slider
        .slick-prev
          left: -56px
        .slick-next
          right: -56px

    // max-width 1300px

    @media screen and (max-width: 1200px)
      .team__slider
        .slick-prev
          left: -10px
        .slick-next
          right: -10px

    // max-width 1200px

    @media screen and (max-width: 992px)
      .team__big
        margin-right: 30px
      .team__event
        margin-bottom: 15px
      .team__year
        font-size: 38px
      .team__text
        font-size: 14px
      .title
        margin-bottom: 26px

    // max-width 992px

    @media screen and (max-width: 768px)
      .team__big
        transform: translateX(0)
      .team__year
        font-size: 27px
      .team__slide
        padding-left: 10px
        padding-right: 10px
      .team__person
        .team__title
          font-size: 17px
        .team__occ
          font-size: 14px
      .team__dots
        margin-top: 20px

    // max-width 768px

    @media screen and (max-width: 500px)
      .team__df
        flex-direction: column
      .team__wrap
        margin-top: 0
      .nav--about
        margin-bottom: 10px
      .team__slider
        margin-top: 10px
      .team__slide
        padding-left: 5px
        padding-right: 5px
      .team__dots
        margin-top: 10px
      .team__person
        .team__title
          font-size: 16px
        .team__occ
          font-size: 13px

    // max-width 500px

  /* team */
