.design
  position: relative
  padding-bottom: 75px
  .secondary__wrap
    padding-top: 36px
    padding-bottom: 20px
  &__top
    display: flex
    justify-content: space-between
    padding-left: 33px
    padding-right: 57px
  &__left
    position: relative
    width: 49.38505203405866%
    z-index: 1
    .bg-img
      position: absolute
      right: -120px
      top: 0
      width: 1059px
      height: 726px
      z-index: -1
  &__right
    width: 47.7767265846736%
  .title
    margin-bottom: 44px
    font-size: 36px
  &__wrap
    position: relative
    z-index: 10
    padding-left: 68px
    padding-right: 68px
    .title
      margin-bottom: 42px
      font-size: 30px

  &__list
    margin: 0
    padding: 0
    list-style: none

    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__item
    display: flex
    align-items: center
    width: calc(50% - 15px)
    min-height: 150px
    margin-bottom: 41px
    padding: 10px 15px 10px 27px
    box-shadow: 3px 6px 15px 0px rgba(177,177,177,0.2)
    background-color: #ffffff
    border-radius: 6.0px
    transition: 0.3s
    &:hover
      transform: translateY(-5px)
    &:last-of-type
      width: 61.07249255213505%
      margin-left: auto
      margin-right: auto
  &__text
    h4
      font-size: 16px
      line-height: 1.2
      font-weight: 700
      color: $accent
  &__icon
    flex-shrink: 0
    margin-right: 34px
    svg
      width: 53px
      height: 53px

  &__before
    margin-top: 65px
    max-width: 750px
    margin-left: auto
    margin-right: auto

  .form--horizontal
    max-width: 750px
    padding-left: 68px
    padding-right: 68px
    margin-left: auto
    margin-right: auto
    .btn__wrap
      &--simple
        input[type="submit"]
          padding-left: 28px
          padding-right: 28px
  .form__title
    small
      font-size: 24px
  &__headings
    display: flex
    align-items: center
    margin-bottom: 24px
    p
      width: 50%
      text-align: center
      font-size: 30px
      line-height: 1.2
      font-weight: 700

  &__slider
    max-width: 752px
    .slick-arrow
      top: calc(50% - 30px)
    .slick-prev
      left: -9px
    .slick-next
      right: -9px
    .slick-list
      overflow: visible

  &__slide
    padding-left: 15px
    padding-right: 15px
    transition: 0.3s
    &:not(.slick-current)
      opacity: 0.5
    &-wrap
      background-color: #ffffff
      padding: 14px
  &__dots
    margin-top: 40px
    margin-bottom: 67px

  /* media */
  @media screen and (max-width: 1170px)
    &__text
      br
        display: none

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  @media screen and (max-width: 992px)
    .title
      margin-bottom: 34px
      font-size: 26px
    &__left
      p
        font-size: 14px
    .complex__feat--design
      padding-left: 50px
    &__wrap
      padding-left: 15px
      padding-right: 15px
    &__icon
      margin-right: 20px
      svg
        width: 40px
        height: 40px
    &__item
      padding-left: 15px
    .form--horizontal
      .form__title
        font-size: 21px
        small
          font-size: 18px
          br
            display: none

  // max-width 992px

  @media screen and (max-width: 768px)
    .title
      margin-bottom: 20px
      font-size: 22px
      br
        display: none
    &__top
      padding-left: 15px
      padding-right: 15px
    &__text
      h4
        font-size: 14px
      p
        font-size: 14px
      br
        display: none
    &__item
      margin-bottom: 20px
    .form--horizontal
      padding-left: 28px
      padding-right: 28px
    &__dots
      margin-top: 20px
      margin-bottom: 27px

  // max-width 768px

  @media screen and (max-width: 576px)
    &__top
      flex-direction: column
    &__left
      width: 100%
      margin-bottom: 20px
      .bg-img
        display: none
    &__right
      width: 100%
    .complex__feat--design
      margin-bottom: 30px
    &__item
      width: calc(50% - 5px)
    &__icon
      margin-right: 10px
      svg
        width: 30px
        height: 30px
    &__before
      margin-top: 35px
    &__headings
      p
        font-size: 22px
    &__slider
      .slick-arrow
        top: calc(50% - 20px)
        width: 40px
        height: 40px
      .slick-list
        overflow: hidden
    &__slide
      padding: 0

  // max-width 576px

  @media screen and (max-width: 500px)
    padding-bottom: 40px
    .title
      font-size: 20px
      padding-left: 10px
      padding-right: 10px
    &__item
      flex-direction: column
    &__icon
      margin-right: 0
      margin-bottom: 10px
      svg
        width: 40px
        height: 40px
    &__text
      h4
        font-size: 13px
      p
        font-size: 13px
    &__wrap
      .title
        font-size: 17px
    .form--horizontal
      .form__title
        font-size: 18px
        small
          font-size: 14px
    &__headings
      margin-bottom: 14px
      p
        font-size: 18px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__text
      h4
        font-size: 12px
      p
        font-size: 12px

  // max-width 400px

/* design */
