/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.billbord {
    padding: 45px 20px;
}
.bottom-prices__price {
    font-size: 19px;
    }
    .bottom-prices__name {
    	max-width: 70%;
    }
    .help-prices .title-section {
    	max-width: 66%;
    }
    .block-main {
    	padding: 30px 20px;
    }
    .item-why__name, .item-update__name, .item-demonstration__name, .item-advantage__name {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item-demonstration p, .item-advantage p {
    font-size: 14px;
    line-height: 20px;
}
.item-advantage {
	min-height: 100%;
}
.item-demonstration__icon {
	margin-right: 20px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.title-billbord {
    font-size: 31px;
}
.billbord__descr {
	padding-bottom: 30px;
}
.billbord-item {
	margin-bottom: 30px;
}
.billbord .btn-main {
	margin-top: 10px;
}
.nav-list {
	padding-left: 10px;
	padding-right: 10px;
}
.title-descr {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 25px;
    }
    .title-section {
    font-size: 25px;
    padding-top: 30px;
}
.item-include {
	padding-right: 25px;
}
.item-include__icon {
	margin: 0;
	top: 30px;
}
.item-include .btn-main {
	position: relative;
	right: 0;
	margin-top: 30px;
}
.attention-block {
	padding-left: 35px;
}
.attention-block__bottom {
	padding-left: 0;
}
.attention-block__title {
	padding-top: 70px;
}
.attention-block__title::before {
	right: 0;
	left: 0;
	margin: 0;
	top: -10px;
}
.tabs li {
	padding: 0 6px;
}
.table-wrap .btn-main {
	padding: 0 20px;
}
.bottom-prices {
	display: block;
}
.bottom-prices .btn-main {
	margin-top: 20px;
}
.offer-block__title {
    font-size: 33px;
    line-height: 43px;
    }
    .row_advantages > div {
    	margin-top: 30px;
    }
    .block-main_advantages .title-descr {
    	padding-bottom: 0;
    }
    .row_update,
    .row_demonstration {
    	justify-content: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.billbord__descr {
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
}
.billbord {
	padding: 30px 15px;
}
.billbord-item {
	max-width: 240px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.nav-list li {
	width: 50%;
	padding: 10px 0;
	text-align: center;
}
.attention-block__title {
    font-size: 23px;
    }
    .attention-list li {
    	font-size: 14px;
    }
    .attention-block {
    	padding: 30px 15px;
    }
    .attention-block__bottom {
    	display: block;
    }
    .attention-block__descr {
    	width: 100%;
    	padding-bottom: 20px;
    }
    .tabs li {
    	width: 50%;
    	flex: inherit;
    }
    .table-wrap {
    	white-space: nowrap;
    }
    .table-wrap td {
    	padding-left: 5px !important;
    	padding-right: 5px !important;
    }
    .table-wrap::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .table-wrap::-webkit-scrollbar:vertical {
        width: 6px;
    }
    .table-wrap::-webkit-scrollbar:horizontal {
        height: 6px;
    }
    .table-wrap::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
    }
    .table-wrap::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .1);
    }
    .bottom-prices__left {
    	margin-right: 0;
    }
    .bottom-prices__price {
    font-size: 16px;
}
.bottom-prices__name {
	font-size: 14px;
}
.help-prices {
	display: block;
}
.help-prices .title-section {
	max-width: 100%;
	margin-bottom: 20px;
}
.offer-block .btn-main {
	float: none;
	margin-top: 20px;
}
.col_lr {
	padding: 0 15px;
}
.offer-block {
	padding-left: 15px;
	padding-right: 15px;
}
.block-main_update .btn-main {
	margin-top: 25px;
	padding-left: 0;
	padding-right: 0;
	width: 270px;
}
.block-main_update .btn-main:first-child {
	margin-top: 0;
}
.form-main .btn-main {
	width: 100%;
}
.item-why__icon {
	height: 110px;
}
.item-why {
	min-height: auto;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.billbord {
	border-radius: 0;
	margin: 0 -15px;
}
.title-billbord {
    font-size: 26px;
}
.nav-list {
	margin: 0 -15px;
}
.title-descr {
	text-align: center;
	font-size: 14px;
}
.title-section {
	text-align: center;
	padding-top: 25px;
}
.item-include {
	padding-top: 90px;
	padding-left: 15px;
	padding-right: 15px;
}
.item-include__icon {
	width: 60px;
	height: 60px;
	top: 15px;
}
.item-include__icon img {
    max-width: 29px;
    }
    .attention-block__title {
    font-size: 19px;
}
.tabs li a {
	font-size: 14px;
}
.tab-container {
	margin: 0 -15px;
	margin-top: 20px;
	padding: 20px 15px;
}
.btn-main_more {
	padding-left: 30px;
	padding-right: 30px;
	min-width: 280px;
}
.bottom-prices {
	padding-left: 15px;
	padding-right: 15px;
}
.help-prices,
.attention-block {
	margin-left: -15px;
	margin-right: -15px;
}
.offer-block__title {
    font-size: 26px;
    line-height: 35px;
}
.offer-price {
	max-width: 100%;
}
.offer-price__item span {
    font-size: 24px;
    }
    .offer-price__item {
    font-size: 15px;
    padding-left: 20px;
}
.block-main {
	padding: 30px 15px;
}
.item-update {
	padding:20px 22px;
}
.block-main_update .btn-main {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}
.item-update__icon {
	width: 44px;
	height: 44px;
	margin-right: 15px;
}
.item-update__icon img {
	max-width: 20px;
	height: auto;
}
.item-include__name {
	font-size: 18px;
	padding-bottom: 10px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}