mixin breadcrumbs()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Каталог
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Кровля
        meta(itemprop='position', content='3')

  // /.breadcrumbs

mixin breadcrumbs--catalog()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Каталог
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Кровля
        meta(itemprop='position', content='3')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Металлочерепица
        meta(itemprop='position', content='4')

  // /.breadcrumbs

mixin breadcrumbs--prod-item()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Каталог
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Кровля
        meta(itemprop='position', content='3')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Металлочерепица
        meta(itemprop='position', content='4')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Металлочерепица МП Ламонтерра (ПЭ-01-1014-0.4)
        meta(itemprop='position', content='5')

  // /.breadcrumbs

mixin breadcrumbs--post()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Блог
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Конёк для кровли из профлиста: монтируем правильно
        meta(itemprop='position', content='3')

  // /.breadcrumbs

mixin breadcrumbs--portfolio()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Покупателям
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Наши объекты
        meta(itemprop='position', content='3')

  // /.breadcrumbs
