mixin header(logotype,anotherClass)
  header(id="header" class="header" + anotherClass + "")
    .container
      .header__top
        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              img(src="img/logo.png" alt="лого")
          else
            #{logotype}.logo
              img(src="img/logo.png" alt="лого")

        .header__cities
          span.current Симферополь

        .header__search
          .form
            form
              .form__item
                span.your-search.text-input
                  input(type='search', name='your-search', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Поиск по каталогу')

                button.open-search(type='submit')
                  svg.icon
                    use(xlink:href='img/svg/sprite.svg#icon-search')

        a.header__callback.open-modal(href="#modal__callback") Заказать обратный звонок

        .header__item.header__item--customers
          span Покупателям

          span.hidden


        .header__item.header__item--customers
          span Дилерам

        a.header__item(href="#")
          span Контакты

      // /.header__top
    // /.container

    .header__bottom
      .container
        .header__df
          .header__catalog
            .header__catalog-wrap
              .header__catalog-col
                a.header__catalog-title(href="#")
                  span.header__catalog-icon
                    img(src="img/svg/icons/roof.svg" alt="")
                  span Кровля
                .header__catalog-df
                  ul.menu
                    li.menu-item
                      a(href="#") Металлочерепица (250)
                    li.menu-item
                      a(href="#") Профнастил (815)
                    li.menu-item
                      a(href="#") Битумня черепица (55)
                    li.menu-item
                      a(href="#") Софит (30)
                    li.menu-item
                      a(href="#") Водосточная система (30)
                    li.menu-item
                      a(href="#") Комплектующие (50)
                    li.menu-item
                      a(href="#") Сендвич панели (30)
                    li.menu-item
                      a(href="#") Термо-панель (45)
                  ul.menu
                    li.menu-item
                      a(href="#") Линеарная панель (420)
                    li.menu-item
                      a(href="#") Поликарбонат (200)
                    li.menu-item
                      a(href="#") Утеплители (32)
                    li.menu-item
                      a(href="#") Строительная пленка (78)

              .header__catalog-col
                a.header__catalog-title(href="#")
                  span.header__catalog-icon
                    img(src="img/svg/icons/solar-panel.svg" alt="")
                  span фасад

                ul.menu
                  li.menu-item
                    a(href="#") Сайдинг (250)
                  li.menu-item
                    a(href="#") Сендвич-панели (815)
                  li.menu-item
                    a(href="#") Вентилируемая панель (55)
                  li.menu-item
                    a(href="#") Термо-панель (55)
                  li.menu-item
                    a(href="#") Линеарная панель (30)
                  li.menu-item
                    a(href="#") Металлокассеты (55)
                  li.menu-item
                    a(href="#") Утеплители (55)
                  li.menu-item
                    a(href="#") Строительные пленки на вентилируемые фасады (55)

              .header__catalog-col
                a.header__catalog-title(href="#")
                  span.header__catalog-icon
                    img(src="img/svg/icons/fence.svg" alt="")
                  span заборы

                ul.menu
                  li.menu-item
                    a(href="#") Евроштакетник (250)
                  li.menu-item
                    a(href="#") Профнастил (815)
                  li.menu-item
                    a(href="#") Комплектующие (2587)

          button.header__catalog-btn
            .burger
              span.burger__wrap
                span.line

            span каталог товаров

          .header__menu
            ul.menu
              li.menu-item
                a(href="#")
                  span.menu-item-icon
                    img(src="img/svg/icons/roof.svg" alt="")
                  span.menu-item-text Кровля
              li.menu-item
                a(href="#")
                  span.menu-item-icon
                    img(src="img/svg/icons/solar-panel.svg" alt="")
                  span.menu-item-text фасады
              li.menu-item
                a(href="#")
                  span.menu-item-icon
                    img(src="img/svg/icons/fence.svg" alt="")
                  span.menu-item-text заборы

          .header__phones
            span Бесплатно по России
            a.header__phone(href="tel:88005058356" rel="nofollow") 8 (800) 505 83 56

          .header__links
            a.header__heart(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#heart")
            a.header__login(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#user")
            a.header__cart(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#cart")
              span.header__cart-num 3


      // /.container
    // /.header__bottom
