mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__slider-wrap
          .scr1__slider#scr1__slider
            .swiper-wrapper
              .swiper-slide
                .scr1__slider-item(style="background: #eae8e7 url('img/slider-img.jpg') no-repeat left center;      background-size: cover")
                  p.scr1__title Эксклюзивно в Крыму
                    br
                    strong  Металлочерепица
                    b  Alpina
                    |  от
                    b  350
                    |  Р/кв м

                  p.scr1__desc Сделаем
                    b  бесплатный чертеж
                    |  Вашей крыши в 3-х цветах и посчитаем стоимость под ключ

                  .scr1__form
                    .form
                      form
                        .form__wrap
                          .form__item
                            span.your-tel.text-input
                              input(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                          .form__item.form__item--submit
                            .btn__wrap.btn__wrap--grad
                              input.xbtn.xbtn--grad(type='submit', value='Заказать расчет крыши')

              .swiper-slide
                .scr1__slider-item(style="background: #eae8e7 url('img/slider-img.jpg') no-repeat left center;      background-size: cover")
                  p.scr1__title Эксклюзивно в Крыму
                    br
                    strong  Металлочерепица
                    b  Alpina
                    |  от
                    b  350
                    |  Р/кв м

                  p.scr1__desc Сделаем
                    b  бесплатный чертеж
                    |  Вашей крыши в 3-х цветах и посчитаем стоимость под ключ

                  .scr1__form
                    .form
                      form
                        .form__wrap
                          .form__item
                            span.your-tel.text-input
                              input(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                          .form__item.form__item--submit
                            .btn__wrap.btn__wrap--grad
                              input.xbtn.xbtn--grad(type='submit', value='Заказать расчет крыши')

          .scr1__slider-btns
            button.swiper-button-prev
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

        ul.scr1__add
          li(style="background: transparent url('img/scr1-add-1.jpg') no-repeat left center; background-size: cover;")
            p.scr1__add-text
              strong Рассчитай
              br
              |  онлайн стоимость
              br
              |  кровли

            .scr1__add-btns
              .btn__wrap
                a.xbtn.xbtn--trsp(href="#") Рассчитать крышу

          li(style="background: transparent url('img/scr1-add-2.jpg') no-repeat left center; background-size: cover;")
            p.scr1__add-text
              strong Профи?
              br
              |  получи оптовый прайс - стань нашим дилером

            .scr1__add-btns
              .btn__wrap
                a.xbtn.xbtn--trsp(href="#") Получить прайс

      ul.scr1__feat
        li
          span.scr1__feat-icon
            img(src="img/svg/icons/star.svg" alt="")

          p.scr1__feat-text
            b Завод №1 в Крыму
            br
            |  по производству кровли и фасадов
        li
          span.scr1__feat-icon
            img(src="img/svg/icons/shield.svg" alt="")

          p.scr1__feat-text
            b Гарантия 10 лет
            br
            |  на производимую продукцию
        li
          span.scr1__feat-icon
            img(src="img/svg/icons/tools-and-utensils.svg" alt="")

          p.scr1__feat-text
            b Решения
            |  для частных лиц и&nbsp;профессионалов

  // /.scr1
