mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      +breadcrumbs--about

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.about__content
          h1.page-title--second Завод «Крымпрофсталь»

          .about__block.grey-bg
            .about__df
              img(src="img/about/img-1.jpg" alt="")

              .about__text
                p
                  b Завод кровельных материалов «КРЫМПРОФСТАЛЬ»
                  |  по праву занимает лидирующие позиции в сфере производства металлочерепицы, профлиста и кровельных комплектующих. Помимо продукции собственного производства компания успешно реализует кровельные материалы, системы и устройства известных российских и мировых брендов. Выстроенные логистические схемы складирования и доставки продукции снижают время производства и поставки, что позволяет нашим дилерам и партнерам минимизировать собственные издержки, укрепляет взаимоотношения и повышают степень доверия.

            .about__quote
              blockquote
                p Наши заказчики и партнеры безусловно занимают приоритетное место в системе ценностей компании. Постоянно расширяющаяся дилерская сеть и территория присутствия собственной продукции на рынке региона стимулирует усиление нашей ответственности и нацеленность на качество.

          h2.page-title--second Конкурентные преимущества нашей продукции

          ul.about__feat
            li
              .catalog__item
                .catalog__img
                  img(src="img/catalog-7.jpg" alt="" data-object-fit-cover)

                .catalog__content
                  .catalog__text
                    h3 сырье
                    p Мы работаем исключительно с качественным стальным прокатом Новолипецкого металлургического комбината, предприятия, занимающего прочные позиции в отрасли.
            li
              .catalog__item
                .catalog__img
                  img(src="img/catalog-8.jpg" alt="" data-object-fit-cover)

                .catalog__content
                  .catalog__text
                    h3 современное технологическое обеспечение
                    p Оборудование нашего производства новое и высокоточное, что позволяет работать быстро, качественно, в срок.
            li
              .catalog__item
                .catalog__img
                  img(src="img/catalog-9.png" alt="" data-object-fit-cover)

                .catalog__content
                  .catalog__text
                    h3 работники компании в&nbsp;«крымпрофсталь»
                    p работают увлеченные, неравнодушные люди, это не только хорошие специалисты и профессионалы, но и дружный коллектив, способный к командной высокопродуктивной работе.

          .about__block.about__block--add.grey-bg
            h2.page-title--second Несомненно, успеху в продвижении
              br
              |  нашей продукции на рынке способствует:

            ul.about__add
              li Достигнутое доверие со стороны наших
                br
                |  постоянных партнеров
              li Персональная ответственность за результат
                br
                |  каждого нашего специалиста
              li Налаженные связи с поставщиками сырья
                br
                |  и сопутствующей продукции
              li Надежность договоренностей и обеспеченная
                br
                |  опытом гарантия положительного результата

          .about__build
            .about__quote.about__quote--grey
              blockquote
                p Присоединяясь к сети представителей Завода кровельных материалов «КРЫМПРОФСТАЛЬ»
                  br
                  |  вы не только станете частью хорошо налаженного механизма, но и реализуете свои амбиции, достигнете высоких результатов, позволите своему бизнесу выйти на новый, несомненно более высокий уровень.

            .about__build-text
              p построим
                br
                strong крым
                br
                b  вместе!

          h2.page-title--second Наши преимущества

          ul.about__more
            li
              .about__more-item
                .about__more-icon
                  img(src="img/svg/icons/engineer-grey.svg" alt="" data-object-fit-contain)

                .about__more-content
                  h3 Команда профессионалов

                .about__more-text
                  p Все кадры проходят предварительное обучение, что позволяет избежать даже мельчайших ошибок. Так же все производимые заводом товары проходят несколько этапов проверки.
            li
              .about__more-item
                .about__more-icon
                  img(src="img/svg/icons/list.svg" alt="" data-object-fit-contain)

                .about__more-content
                  h3 Четкие сроки выполнения работ

                .about__more-text
                  p Перед подписанием и составлением договора выполняется просчет сроков реализации, поэтому мы можем гарантировать что работа будет выполнена в срок, без малейших задержек.
            li
              .about__more-item
                .about__more-icon
                  img(src="img/svg/icons/roof-grey.svg" alt="" data-object-fit-contain)

                .about__more-content
                  h3 Высококачественные материалы

                .about__more-text
                  p Используется полностью автоматизированный цикл производства и высококачественные материалы. Вся выпускаемая заводом продукция обладает высоким качеством и невысокой себестоимостью.
            li
              .about__more-item
                .about__more-icon
                  img(src="img/svg/icons/stamp.svg" alt="" data-object-fit-contain)

                .about__more-content
                  h3 Прозрачные условия сотрудничества

                .about__more-text
                  p Работая с нами вы точно знаете на что уходят ваши деньги. Предварительно оглашаются все суммы и конечная стоимость работы, никаких скрытых платежей и дополнительных расходов.

          h2.page-title--second Наше производство

          .about__gallery-wrap
            .about__gallery#about__gallery
              .swiper-wrapper
                .swiper-slide
                  aa.about__gallery-img.fancybox(href="img/about/img-2.jpg" data-fancybox-group="gallery")
                    img(src="img/about/img-2.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  aa.about__gallery-img.fancybox(href="img/about/img-3.jpg" data-fancybox-group="gallery")
                    img(src="img/about/img-3.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.about__gallery-img.fancybox(href="img/about/img-4.jpg" data-fancybox-group="gallery")
                    img(src="img/about/img-4.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.about__gallery-img.fancybox(href="img/about/img-2.jpg" data-fancybox-group="gallery")
                    img(src="img/about/img-2.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.about__gallery-img.fancybox(href="img/about/img-3.jpg" data-fancybox-group="gallery")
                    img(src="img/about/img-3.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.about__gallery-img.fancybox(href="img/about/img-4.jpg" data-fancybox-group="gallery")
                    img(src="img/about/img-4.jpg" alt="" data-object-fit-cover)

            .about__gallery-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              .swiper-dots
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_about
