mixin scr_categories()
  section.scr_categories.categories(id="scr_categories")
    .container
      +breadcrumbs

      .categories__df
        aside.prod__filter
          //. Здесь поместится фильтр

        .categories__content
          h1.page-title--second Кровля

          ul.categories__list
            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-1.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title Металлочерепица
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-2.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title профнастил
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-3.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title битумная черепица
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-4.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title софит
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-5.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title водосточная система
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-6.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title комплектующие
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-7.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title сендвич-панели
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-8.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title термопанель
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-9.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title линеарная панель
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-10.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title поликарбонат
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-11.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title утеплитель
                  p.categories__desc 350 товаров

            li
              a.categories__item(href="#")
                .categories__img
                  img(src="img-temp/catalog/img-12.jpg" alt="" data-object-fit-contain)

                .categories__content
                  h2.categories__title строительные пленки
                  p.categories__desc 350 товаров

  // /.scr_categories
