mixin scr_deliver()
  section.scr_deliver.deliver(id="scr_deliver")
    .container
      +breadcrumbs--deliver

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.deliver__content
          h2.page-title--second Для получения товара необходимы:

          .deliver__df
            .deliver__block
              h3 Для физических лиц:

              ul
                li Номер заказа (заказов).
                li Документ об оплате.
                li Паспорт

              p
                b Внимание:
                |  товар должен быть оплачен до отгрузки!

            .deliver__block
              h3 Для юридических лиц:

              ul
                li Номер заказа (заказов).
                li Заявка на отгрузку (если заказов более трех, заявка на отгрузку должна быть оформлена за день до получения товара).
                li Доверенность.
                li Паспорт.

          h2.page-title--second Самовывоз

          .deliver__block
            ul
              li Если вы располагаете необходимым транспортом, то можете самостоятельно забрать приобретённую продукцию со склада.
              li График работы склада смотрите на сайте.
              li Отгрузка осуществляется в соответствии с графиком отгрузки либо в порядке живой очереди (в зависимости от ОП).
              li Отгрузка товара осуществляется только в ОТКРЫТЫЕ машины.

          h2.page-title--second Доставка

          .deliver__block
            ul
              li Доставка осуществляется в течение 1–2 рабочих дней после оформления.
              li Разгрузка товара в доставку не включена. Если необходимо разгрузить продукцию, не забудьте заказать машину с краном-манипулятором.
              li Стоимость доставки зависит от километража и вида транспорта (вид транспорта — от длины и веса товаров). Тарифы указаны ниже, рассчитать стоимость доставки можно с помощью соответствующих таблиц. За точным расчётом рекомендуем обратиться к нашим менеджерам.
              li Если товар необходимо доставить на закрытую территорию, это необходимо обозначить при формировании заявки.
              li Для юридических лиц при выгрузке товара должен присутствовать человек, указанный в доверенности, оригинал доверенности необходимо передать водителю.
              li Товар должен быть принят у водителя до выезда с территории. Приёмка товара подтверждается подписью в соответствующем документе.

  // /.scr_deliver
