mixin scr_seller()
  section.scr_seller.seller(id="scr_seller")
    .container
      +breadcrumbs--seller

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.seller__content
          h1.page-title--second Оптовикам

          ul.scr1__feat
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/star.svg" alt="")

              p.scr1__feat-text
                b Завод №1 в Крыму
                br
                |  по производству кровли и фасадов
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/shield.svg" alt="")

              p.scr1__feat-text
                b Гарантия 10 лет
                br
                |  на производимую
                br
                |  продукцию
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/tools-and-utensils.svg" alt="")

              p.scr1__feat-text
                b Решения
                |  для частных лиц
                br
                |  и профессионалов

          ul.scr1__feat.scr1__feat--seller
            li
              p.scr1__feat-title Мы рады предложить особые условия сотрудничества с оптовыми покупателями

            li
              span.scr1__feat-icon
                img(src="img/svg/icons/scr1-1.svg" alt="")

              p.scr1__feat-text
                b Персональные скидки:
                |  ваш бизнес развивается, обороты растут — растет и ваша скидка на нашу продукцию
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/scr1-2.svg" alt="")

              p.scr1__feat-text
                b План развития и бесплатное обучение:
                |  выделенный менеджер составит персональный план продаж и развития вашего бизнеса, а также лично проведет обучение по продуктам
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/scr1-3.svg" alt="")

              p.scr1__feat-text
                b Предоставление образцов:
                |  бесплатные выставочные образцы, а также реклама вашей компании на наших площадках
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/scr1-4.svg" alt="")

              p.scr1__feat-text
                b Рассрочка платежа:
                |  в некоторых случаях мы готовы предоставить вам индивидуальные условия оплаты
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/scr1-5.svg" alt="")

              p.scr1__feat-text
                b Личный менеджер:
                |  профессиональная консультация и оперативная помощь в решении возникающих вопросов

  // /.scr_seller
