mixin scr_payment()
  section.scr_payment.payment(id="scr_payment")
    .container
      +breadcrumbs--payment

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.payment__content
          h1.page-title--second Мы предоставляем несколько вариантов оплаты

          ul.payment__list
            li
              .payment__item
                .payment__img
                  img(src="img/payment/img-1.jpg" alt="" data-object-fit-cover)
                p.payment__title Наличными или пластиковой картой в офисах продаж
            li
              .payment__item
                .payment__img
                  img(src="img/payment/img-2.jpg" alt="" data-object-fit-cover)
                p.payment__title На расчетный счет с НДС и без НДС
            li
              .payment__item
                .payment__img
                  img(src="img/payment/img-3.jpg" alt="" data-object-fit-cover)
                p.payment__title РНКБ онлайн

  // /.scr_payment
