mixin scr_blog2()
  section.scr_blog2.blog2(id="scr_blog2")
    .container
      h1.page-title Новости

      ul.blog2__list
        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.

        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.
        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.

        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.
        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.

        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.
        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.

        li
          .blog2__item
            a.blog2__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog2__content
              time(datetime="2021-03-12") 12 марта 2021
              a(href="#")
                h2 Необычный фасад для&nbsp;шинного центра
              .blog2__text
                p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста.

      +paginator--blog2

  // /.scr_blog2

mixin scr_blog2--post()
  section.scr_blog2.blog2.blog2--post(id="scr_blog2")
    h1.page-title Читайте также:

    ul.blog2__list
      li
        .blog2__item
          a.blog2__img(href="#")
            img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

          .blog2__content
            time(datetime="2021-03-12") 12 марта 2021
            a(href="#")
              h2 Необычный фасад для&nbsp;шинного центра
      li
        .blog2__item
          a.blog2__img(href="#")
            img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

          .blog2__content
            time(datetime="2021-03-12") 12 марта 2021
            a(href="#")
              h2 Необычный фасад для&nbsp;шинного центра
      li
        .blog2__item
          a.blog2__img(href="#")
            img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

          .blog2__content
            time(datetime="2021-03-12") 12 марта 2021
            a(href="#")
              h2 Необычный фасад для&nbsp;шинного центра
      li
        .blog2__item
          a.blog2__img(href="#")
            img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

          .blog2__content
            time(datetime="2021-03-12") 12 марта 2021
            a(href="#")
              h2 Необычный фасад для&nbsp;шинного центра

  // /.scr_blog2
