mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .container
      +breadcrumbs--faq

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.faq__content
          .faq__top
            h1.page-title--second Часто задаваемые вопросы

            a.faq__link.open-modal(href="#") Задать вопрос

          ul.faq__list
            li.faq__item
              .top
                h2 Каков процесс изготовления металлочерепицы?
                button.open
              .hidden
                .article
                  p  Металлочерепица — это кровельные листы из оцинкованной стали толщиной 0,40 мм - 0,50 мм с полимерным покрытием. Оцинкованная сталь сначала пассивируется (покрывается специальным слоем, предохраняющим цинк от окисления), грунтуется (т.е. наносится связующий слой), и далее с лицевой стороны наносится цветное полимерное покрытие, которое не только защищает материал от природных воздействий, но и украшает его. С обратной стороны стали также наносится защитное покрытие. Потом плоский лист, смотаный в рулон,- профилируют, придавая металлочерепице желаемый профиль.
            li.faq__item
              .top
                h2 Где применяется металлочерепица?
                button.open
              .hidden
                .article
                  p  Металлочерепица — это кровельные листы из оцинкованной стали толщиной 0,40 мм - 0,50 мм с полимерным покрытием. Оцинкованная сталь сначала пассивируется (покрывается специальным слоем, предохраняющим цинк от окисления), грунтуется (т.е. наносится связующий слой), и далее с лицевой стороны наносится цветное полимерное покрытие, которое не только защищает материал от природных воздействий, но и украшает его. С обратной стороны стали также наносится защитное покрытие. Потом плоский лист, смотаный в рулон,- профилируют, придавая металлочерепице желаемый профиль.
            li.faq__item
              .top
                h2 Каков процесс изготовления металлочерепицы?
                button.open
              .hidden
                .article
                  p  Металлочерепица — это кровельные листы из оцинкованной стали толщиной 0,40 мм - 0,50 мм с полимерным покрытием. Оцинкованная сталь сначала пассивируется (покрывается специальным слоем, предохраняющим цинк от окисления), грунтуется (т.е. наносится связующий слой), и далее с лицевой стороны наносится цветное полимерное покрытие, которое не только защищает материал от природных воздействий, но и украшает его. С обратной стороны стали также наносится защитное покрытие. Потом плоский лист, смотаный в рулон,- профилируют, придавая металлочерепице желаемый профиль.
            li.faq__item
              .top
                h2 Где применяется металлочерепица?
                button.open
              .hidden
                .article
                  p  Металлочерепица — это кровельные листы из оцинкованной стали толщиной 0,40 мм - 0,50 мм с полимерным покрытием. Оцинкованная сталь сначала пассивируется (покрывается специальным слоем, предохраняющим цинк от окисления), грунтуется (т.е. наносится связующий слой), и далее с лицевой стороны наносится цветное полимерное покрытие, которое не только защищает материал от природных воздействий, но и украшает его. С обратной стороны стали также наносится защитное покрытие. Потом плоский лист, смотаный в рулон,- профилируют, придавая металлочерепице желаемый профиль.
            li.faq__item
              .top
                h2 Каков процесс изготовления металлочерепицы?
                button.open
              .hidden
                .article
                  p  Металлочерепица — это кровельные листы из оцинкованной стали толщиной 0,40 мм - 0,50 мм с полимерным покрытием. Оцинкованная сталь сначала пассивируется (покрывается специальным слоем, предохраняющим цинк от окисления), грунтуется (т.е. наносится связующий слой), и далее с лицевой стороны наносится цветное полимерное покрытие, которое не только защищает материал от природных воздействий, но и украшает его. С обратной стороны стали также наносится защитное покрытие. Потом плоский лист, смотаный в рулон,- профилируют, придавая металлочерепице желаемый профиль.
            li.faq__item
              .top
                h2 Где применяется металлочерепица?
                button.open
              .hidden
                .article
                  p  Металлочерепица — это кровельные листы из оцинкованной стали толщиной 0,40 мм - 0,50 мм с полимерным покрытием. Оцинкованная сталь сначала пассивируется (покрывается специальным слоем, предохраняющим цинк от окисления), грунтуется (т.е. наносится связующий слой), и далее с лицевой стороны наносится цветное полимерное покрытие, которое не только защищает материал от природных воздействий, но и украшает его. С обратной стороны стали также наносится защитное покрытие. Потом плоский лист, смотаный в рулон,- профилируют, придавая металлочерепице желаемый профиль.

  // /.scr_faq
