mixin scr_servs()
  section.scr_servs.servs(id="scr_servs")
    .container
      h2.page-title Сервисы от компании Крымпрофсталь

      ul.servs__list
        li
          .servs__item
            .servs__img
              img(src="img/servs-1.jpg" alt="" data-object-fit-cover-left)

            .servs__content
              p.servs__top онлайн-калькулятор
              p.servs__title Расчет кровли и всего, что нужно для крыши
              p.servs__desc Даем письменную гарантию на&nbsp;наш продукт 10 лет

            .servs__btns
              .btn__wrap
                a.xbtn.xbtn--circle(href="#")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
        li
          .servs__item
            .servs__img
              img(src="img/servs-2.jpg" alt="" data-object-fit-cover-left)

            .servs__content
              p.servs__title Вызов замерщика
                br
                |  на объект
              p.servs__desc Приедем для замеров на место и&nbsp;посчитаем точную стоимость

            .servs__btns
              .btn__wrap
                a.xbtn.xbtn--circle(href="#")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
        li
          .servs__item
            .servs__img
              img(src="img/servs-3.jpg" alt="" data-object-fit-cover-left)

            .servs__content
              p.servs__title Подбор цвета
                br
                |  и материалов
              p.servs__desc Нарисуем чертежи в разных цветовых решениях бесплатно

            .servs__btns
              .btn__wrap
                a.xbtn.xbtn--circle(href="#")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_servs
