mixin scr_catalog()
  section.scr_catalog.catalog(id="scr_catalog")
    .container
      .catalog__wrap
        .catalog__slider#catalog__slider
          .swiper-wrapper
            .swiper-slide
              .catalog__item
                .catalog__img
                  img(src="img/catalog-1.jpg" alt="" data-object-fit-cover)
                .catalog__top
                  span.catalog__icon
                    img(src="img/svg/icons/roof-white.svg" alt="")

                  h3.catalog__title Кровля

                .catalog__content
                  .catalog__to-show
                    ul.menu
                      li.menu-item
                        a(href="#") Металлочерепица (250)
                      li.menu-item
                        a(href="#") Профнастил (815)
                      li.menu-item
                        a(href="#") Битумня черепица (55)
                      li.menu-item
                        a(href="#") Софит (30)
                      li.menu-item
                        a(href="#") Водосточная система (30)
                      li.menu-item
                        a(href="#") Комплектующие (50)
                      li.menu-item
                        a(href="#") Сендвич панели (30)
                      li.menu-item
                        a(href="#") Термо-панель (45)
                      li.menu-item
                        a(href="#") Линеарная панель (420)
                      li.menu-item
                        a(href="#") Поликарбонат (200)
                      li.menu-item
                        a(href="#") Утеплители (32)
                      li.menu-item
                        a(href="#") Строительная пленка (78)

                  button.catalog__show(type="button") Все подкатегории

            .swiper-slide
              .catalog__item
                .catalog__img
                  img(src="img/catalog-2.jpg" alt="" data-object-fit-cover)
                .catalog__top
                  span.catalog__icon
                    img(src="img/svg/icons/solar-panel-white.svg" alt="")

                  h3.catalog__title Фасад

                .catalog__content
                  .catalog__to-show
                    ul.menu
                      li.menu-item
                        a(href="#") Сайдинг (250)
                      li.menu-item
                        a(href="#") Сендвич-панели (815)
                      li.menu-item
                        a(href="#") Вентилируемая панель (55)
                      li.menu-item
                        a(href="#") Термо-панель (55)
                      li.menu-item
                        a(href="#") Линеарная панель (30)
                      li.menu-item
                        a(href="#") Металлокассеты (55)
                      li.menu-item
                        a(href="#") Утеплители (55)
                      li.menu-item
                        a(href="#") Строительные пленки на вентилируемые фасады (55)

                  button.catalog__show(type="button") Все подкатегории

            .swiper-slide
              .catalog__item
                .catalog__img
                  img(src="img/catalog-3.jpg" alt="" data-object-fit-cover)
                .catalog__top
                  span.catalog__icon
                    img(src="img/svg/icons/fence-white.svg" alt="")

                  h3.catalog__title Заборы

                .catalog__content
                  .catalog__to-show
                    ul.menu
                      li.menu-item
                        a(href="#") Евроштакетник (250)
                      li.menu-item
                        a(href="#") Профнастил (815)
                      li.menu-item
                        a(href="#") Комплектующие (2587)

                  button.catalog__show(type="button") Все подкатегории

  // /.scr_catalog
