mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    .container
      +breadcrumbs--partners

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.partners__content
          h1.page-title--second Наши партнеры

          .page-desc
            p Присоединяясь к сети представителей Завода кровельных материалов «КРЫМПРОФСТАЛЬ» вы не только станете частью хорошо налаженного механизма, но и реализуете свои амбиции, достигнете высоких результатов, позволите своему бизнесу выйти на новый, несомненно более высокий уровень. Построим Крым вместе!

          ul.partners__list
            li
              .partners__item
                img(src="img-temp/brands/001.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/002.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/003.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/004.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/005.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/006.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/007.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/008.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/009.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/010.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/011.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/012.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/013.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/014.png" alt="" data-object-fit-contain)
            li
              .partners__item
                img(src="img-temp/brands/015.png" alt="" data-object-fit-contain)

  // /.scr_partners
