mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      .blog__top
        h2.page-title Новости
        a.xlink(href="#") Все новости

      .blog__df
        .blog__main
          .blog__slider#blog__slider
            .swiper-wrapper
              .swiper-slide
                a.blog__item(href="#")
                  .blog__img(style="background: transparent url('../img-temp/news/img-1.jpg') no-repeat center center; background-size: cover;")

                  h3.blog__title Лицевые стороны
                    br
                    |  профнастила: отличия
                    br
                    |  и область применения

                  .blog__bottom
                    span Читать далее

                    .xbtn.xbtn--circle
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#arrow")
              .swiper-slide
                a.blog__item(href="#")
                  .blog__img(style="background: transparent url('../img-temp/news/img-2.jpg') no-repeat center center; background-size: cover;")

                  h3.blog__title Контробрешётка
                    br
                    |  и обрешётка: как выбрать материал

                  .blog__bottom
                    span Читать далее

                    .xbtn.xbtn--circle
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#arrow")
              .swiper-slide
                a.blog__item(href="#")
                  .blog__img(style="background: transparent url('../img-temp/news/img-3.jpg') no-repeat center center; background-size: cover;")

                  h3.blog__title Топ-10 мифов
                    br
                    |  о металлочерепице

                  .blog__bottom
                    span Читать далее

                    .xbtn.xbtn--circle
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#arrow")

              .swiper-slide
                a.blog__item(href="#")
                  .blog__img(style="background: transparent url('../img-temp/news/img-1.jpg') no-repeat center center; background-size: cover;")

                  h3.blog__title Лицевые стороны
                    br
                    |  профнастила: отличия
                    br
                    |  и область применения

                  .blog__bottom
                    span Читать далее

                    .xbtn.xbtn--circle
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#arrow")
              .swiper-slide
                a.blog__item(href="#")
                  .blog__img(style="background: transparent url('../img-temp/news/img-2.jpg') no-repeat center center; background-size: cover;")

                  h3.blog__title Контробрешётка
                    br
                    |  и обрешётка: как выбрать материал

                  .blog__bottom
                    span Читать далее

                    .xbtn.xbtn--circle
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#arrow")
              .swiper-slide
                a.blog__item(href="#")
                  .blog__img(style="background: transparent url('../img-temp/news/img-3.jpg') no-repeat center center; background-size: cover;")

                  h3.blog__title Топ-10 мифов
                    br
                    |  о металлочерепице

                  .blog__bottom
                    span Читать далее

                    .xbtn.xbtn--circle
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#arrow")

        aside.blog__add
          ul.blog__add-list
            li.blog__add-item
              time(datetime="2021-03-12") 12 марта 2021

              a(href="#")
                h3 Необычный фасад для шинного центра
            li.blog__add-item
              time(datetime="2021-03-12") 12 марта 2021

              a(href="#")
                h3 Хотите увидеть дом своей мечты? Пройдите тест
            li.blog__add-item
              time(datetime="2021-03-12") 12 марта 2021

              a(href="#")
                h3 Новый вид элементов отделки металлического сайдинга

  // /.scr_blog
