mixin scr_personal()
  section.scr_personal.personal(id="scr_personal")
    .container
      +breadcrumbs--personal

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.personal__content
          h1.page-title--second Согласие на обработку персональных данных

          .personal__wrap
            .article.clearfix
              p Настоящим, свободно, своей волей и в своем интересе даю согласие ООО «КМП» (ИНН 7704792852), ООО «КМП Центр» (ИНН 5047239058), ООО «КМП Юг» (ИНН 6102073665), ООО «КМП Восток» (ИНН 5443028100) на автоматизированную и неавтоматизированную обработку моих персональных данных, в том числе с использованием интернет-сервисов Google analytics, Яндекс.Метрика, LiveInternet, Рейтинг Mail.ru, Google Doubleclick в соответствии со следующим перечнем:

              ul
                li фамилия, имя, отчество, адрес места жительства, адрес электронной почты, номер телефона, указанные мной на сайте www.__________, в том числе при заказе продукции, регистрации гарантийного талона, отправке претензии либо отзыва;
                li источник захода на сайт www.metallprofil.ru и информация поискового или рекламного запроса;
                li данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризуемые пользовательское устройство);
                li пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео;
                li данные, характеризующие аудиторные сегменты;
                li параметры сессии;
                li данные о времени посещения;

              p идентификатор пользователя, хранимый в cookie, для целей повышения осведомленности посетителей сайта www.metallprofil.ru о продуктах и услугах ООО «КМП», ООО «КМП Центр», ООО «КМП Юг», ООО «КМП Восток» предоставления релевантной рекламной информации и оптимизации рекламы.
              p Также даю свое согласие на предоставление ООО «КМП», ООО «КМП Центр», ООО «КМП Юг», ООО «КМП Восток» моих персональных данных как посетителя сайта www.metallprofil.ru организациям, с которыми сотрудничает ООО «КМП», ООО «КМП Центр», ООО «КМП Юг», ООО «КМП Восток».

              p ООО «КМП», ООО «КМП Центр», ООО «КМП Юг», ООО «КМП Восток» вправе осуществлять обработку моих персональных данных следующими способами: сбор, запись, систематизация, накопление, хранение, обновление, изменение, использование, передача (распространение, предоставление, доступ).

              p Также подтверждаю и гарантирую полноту и достоверность указанных мной на сайте www.metallprofil.ru контактных данных, а также наличие у меня права давать согласие на обработку персональных данных в отношении и с использованием указанных мной фамилий, имён, отчеств, номеров телефонов, адресов и адресов электронной почты.

              p Я в полном объеме принимаю на себя ответственность за нарушения в области обработки персональных данных, если будет установлено, что я не имел права давать согласие на направление рекламной и иной информации по указанным мной номерам телефонов и адресам электронной почты.

  // /.scr_personal
