mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .lead__df
        .lead__content
          .lead__img
            img(src="img/lead-img.png" alt="" data-object-fit-contain)

          p.lead__for Для тех, кто хочет
            strong.accent  стать дилером
            |  продукции завода Крымпрофсталь

          p.lead__title Получите оптовый
            br
            |  прайс-лист на почту

          ul.lead__feat
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/engineer.svg" alt="")

              p.lead__feat-text Для строителей
                br
                |  и прорабов
            li
              span.scr1__feat-icon
                img(src="img/svg/icons/construction.svg" alt="")

              p.lead__feat-text Для застройщиков
                br
                |  и магазинов

        .lead__form
          .form.form--general.wpcf7
            form.wpcf7-form
              p.form__title Заполните форму и получите оптовый прайс на почту через 5 секунд

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--grad
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Получить оптовый прайс')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead
