mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      .contacts__df
        .contacts__col
          h3.contacts__title адрес и телефоны:
          .contacts__text
            p
              b г. Симферополь, ул. Глинки, 67В
              a(href="tel:88005058356" rel="nofollow") 8 (800) 505-83-56
              a(href="tel:+79787286478" rel="nofollow") +7 (978) 728-64-78
              a(href="tel:+79787286474" rel="nofollow") +7 (978) 728 64 74

          .contacts__text
            p
              b г. Симферополь, ул. Беспалова, 158
              a(href="tel:88005058356" rel="nofollow") 8 (800) 505-83-56
              a(href="tel:+79787286474" rel="nofollow") +7 (978) 728-64-74

        .contacts__col
          h3.contacts__title режим работы:
          .contacts__text
            p Пн-Пт: с 9:00 до 18:00
              br
              |  Обед: с 13:00 до 13:30
              br
              |  Сб: с 9:00 до 14:00
              br
              |  Вс: выходной

          .contacts__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.open-modal(href="#") Написать нам

        .contacts__col
          h3.contacts__title мы в соцсетях
          +socials--contacts

          h3.contacts__title электронная почта:
          .contacts__text
            p
              a(href="mailto:office.kps@mail.ru" rel="nofollow") office.kps@mail.ru

        .contacts__col
          h3.contacts__title реквизиты:
          .contacts__text
            p ООО «КРЫМПРОФСТАЛЬ»
              br
              |  Р/С: 40702810741380000631
              br
              |  БИК Банка: 043 510 607
              br
              |  ИНН/КПП: 9102185484/910201001

          .contacts__links
            a.xlink(href="#") Все реквизиты

      .contacts__map#contacts__map


  // /.scr_contacts
