mixin scr_portfolio()
  section.scr_portfolio.portfolio(id="scr_portfolio")
    .container
      +breadcrumbs--portfolio

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.portfolio__content
          h1.page-title--second Наши объекты

          ul.portfolio__nav.js-portfolio-nav
            li.current
              a(href="#portfolio__tab-0") Для компаний
            li
              a(href="#portfolio__tab-1") Для частных лиц

          ul.portfolio__tabs
            li.portfolio__tab#portfolio__tab-0
              ul.portfolio__list
                li
                  a.portfolio__img(href="#")
                    img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                  a.portfolio__title(href="#")
                    h2 Комплекс на пр. Победы от Монолит
                li
                  a.portfolio__img(href="#")
                    img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

                  a.portfolio__title(href="#")
                    h2 Комплекс на пр. Победы от Монолит
                li
                  a.portfolio__img(href="#")
                    img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                  a.portfolio__title(href="#")
                    h2 Комплекс на пр. Победы от Монолит
                li
                  a.portfolio__img(href="#")
                    img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

                  a.portfolio__title(href="#")
                    h2 Комплекс на пр. Победы от Монолит

            li.portfolio__tab#portfolio__tab-1
              ul.portfolio__list
                li
                  a.portfolio__img(href="#")
                    img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                  a.portfolio__title(href="#")
                    h2 Комплекс на пр. Победы от Монолит
                li
                  a.portfolio__img(href="#")
                    img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

                  a.portfolio__title(href="#")
                    h2 Комплекс на пр. Победы от Монолит

  // /.scr_portfolio
