mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      .tabs__nav-wrap
        ul.tabs__nav.js-tabs__nav
          li.current
            a(href="#prod__tab-0") Металлочерепица
          li
            a(href="#prod__tab-1") Профнастил
          li
            a(href="#prod__tab-2") Сайдинг
          li
            a(href="#prod__tab-3") Сэндвич-панели
          li
            a(href="#prod__tab-4") Вентилируемые фасады

      ul.prod__tabs
        li.prod__tab#prod__tab-0
          .prod__wrap

            //. Слайдеры в разных табах имеют разные ID, которые состоят из prod__slider и номера таба, в котором находится слайдер
            .prod__slider#prod__slider-0
              .swiper-wrapper
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart--filled")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей
                        ul.prod__feat
                          li Толщина, мм: 0,5
                          li Цвет: красный

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей
                      ul.prod__feat
                        li Толщина, мм: 0,5
                        li Цвет: красный

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей
                      ul.prod__feat
                        li Толщина, мм: 0,5
                        li Цвет: красный

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей
                      ul.prod__feat
                        li Толщина, мм: 0,5
                        li Цвет: красный

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей
                      ul.prod__feat
                        li Толщина, мм: 0,5
                        li Цвет: красный

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее

            .prod__slider-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")


        li.prod__tab#prod__tab-1
          .prod__wrap

            //. Слайдеры в разных табах имеют разные ID, которые состоят из prod__slider и номера таба, в котором находится слайдер
            .prod__slider#prod__slider-1
              .swiper-wrapper
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей
                      ul.prod__feat
                        li Толщина, мм: 0,5
                        li Цвет: красный

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее
                .swiper-slide
                  .prod__item
                    .prod__top
                      span.prod__label.prod__label--action Акция

                      .prod__btns
                        button.prod__btn.prod__btn--like(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#heart")

                    a.prod__img(href="#")
                      img(src="img-temp/prod-img.jpg" alt="")

                    .prod__content
                      a(href="#")
                        h3.prod__title Металлочерепица МП Супермонтеррей
                      ul.prod__feat
                        li Толщина, мм: 0,5
                        li Цвет: красный

                    .prod__bottom
                      .prod__prices
                        span.prod__price--old 500 Р/м
                          sup ²
                        span.prod__price--new 486 Р/м
                          sup ²

                      .btn__wrap
                        a.xbtn.xbtn--trsp(href="#") Подробнее

            .prod__slider-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")



  // /.scr_prod

mixin scr_prod--catalog()
  section.scr_prod.prod.prod--catalog(id="scr_prod")
    .container
      +breadcrumbs--catalog

      .prod__df
        aside.prod__filter

        .prod__main
          h2.page-title--second Металлочерепица в Симферополе
          .prod__desc
            p Стальная черепица — отлично зарекомендовавший себя кровельный материал. Она востребована в Москве и в других городах РФ, так как отличается долговечностью, высоким качеством, широким ассортиментом цветов и профилей, демократичной ценой. Доступная стоимость металлочерепицы обусловлена отсутствием посредников — мы предлагаем продукцию собственного производства.

          ul.prod__list
            li
              .prod__item
                .prod__top
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                    ul.prod__feat
                      li Толщина, мм: 0,5
                      li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее

            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее

            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                    ul.prod__feat
                      li Толщина, мм: 0,5
                      li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее

            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее

            li
              .prod__item
                .prod__top


                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее

            li
              .prod__item
                .prod__top

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее

          +paginator

  // /.scr_prod

mixin scr_prod--prod-item()
  section.scr_prod.prod.prod--prod-item(id="scr_prod")
    .container
      h2.page-title Популярные в разделе

      .prod__wrap
        .prod__slider#prod__slider
          .swiper-wrapper
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                    ul.prod__feat
                      li Толщина, мм: 0,5
                      li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            .swiper-slide
              .prod__item
                .prod__top
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            .swiper-slide
              .prod__item
                .prod__top
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            .swiper-slide
              .prod__item
                .prod__top
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей
                  ul.prod__feat
                    li Толщина, мм: 0,5
                    li Цвет: красный

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  img(src="img-temp/prod-img.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Металлочерепица МП Супермонтеррей

                .prod__bottom
                  .prod__prices
                    span.prod__price--old 500 Р/м
                      sup ²
                    span.prod__price--new 486 Р/м
                      sup ²

                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Подробнее

        .prod__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod
