mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .container
      +breadcrumbs--certs

      span.show-more Показать меню

      .page-df
        aside.side-menu
          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Оплата
            li.menu-item.active
              a(href="#") Наши объекты
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Обмен и возврат товара
            li.menu-item
              a(href="#") Сертификаты
            li.menu-item
              a(href="#") Персональные данные
            li.menu-item
              a(href="#") Оптовикам
            li.menu-item
              a(href="#") Наши партнеры
            li.menu-item
              a(href="#") Вопрос ответ

        .page-content.certs__content
          h1.page-title--second Сертификаты

          ul.certs__list
            li
              a.certs__item(href="#" download) Сертификат металлочерепица, сайдинг, водосток, комплектующие 2020-2021
            li
              a.certs__item(href="#" download) Сертификат соответствия ГОСТ Р Пластилюкс листы монолитные поликарбонатные
            li
              a.certs__item(href="#" download) Сертификат соответствия вентиляционные выходы
            li
              a.certs__item(href="#" download) Сертификат соответствия гидро-, паро-изоляционный материал
            li
              a.certs__item(href="#" download) Сертификат металлочерепица, сайдинг, водосток, комплектующие 2020-2021
            li
              a.certs__item(href="#" download) Сертификат соответствия ГОСТ Р Пластилюкс листы монолитные поликарбонатные
            li
              a.certs__item(href="#" download) Сертификат соответствия вентиляционные выходы
            li
              a.certs__item(href="#" download) Сертификат соответствия гидро-, паро-изоляционный материал

  // /.scr_certs
