mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs--post

      .post__df
        .post__wrap
          .article.clearfix
            img.alignright(src="img-temp/post-img-1.jpg" alt="")
            h1 Конёк для кровли из профлиста: монтируем правильно

            p Конёк - стандартный конструктивный элемент кровли. Он выполняет следующие функции:
            ul
              li защитную - не позволяет осадкам и мусору попадать в место стыка скатов и в подкровельное пространство;
              li декоративную - делает кровлю завершённой, цельной, эстетичной.

            blockquote
              p Расскажем, как монтировать конёк на крышу из профнастила. Продемонстрируем, какие виды коньковых планок бывают, какие используют для профлиста. Объясним, как зафиксировать на коньке дефлектор (вентиль). Также рассмотрим частые ошибки монтажа.

            h2 Разновидности коньковых планок

            img.alignright(src="img-temp/post-img-2.jpg" alt="")

            p Стандартная длина всех коньковых планок - 2000 мм.

            p У плоских планок может быть разная ширина боковых сторон:

            ul
              li 120х120 мм. Обычно такие планки выбирают для оформления эркеров и других небольших узлов кровли;
              li 150х150 мм. Стандартные планки для конька, универсальные и наиболее популярные;
              li 190х190 мм. Подходят для сурового климата, т. к. перекрывают большую площадь по сравнению с предыдущими планками.

            p Какие выбрать смотрите сами, планки должны гармонично выглядеть на коньке и закрывать стык скатов. Они не должны быть слишком узкими.

            p Радиус круглой планки конька 80 мм (рекомендуется для южных регионов) либо 110 мм (оптимальный вариант для северных районов с суровым климатом, т. к. перекрывает большую площадь и лучше защищает стык скатов от снега).

            h2 Монтаж плоского конька на крышу из профлиста

            p Плоский конёк на кровлю из профнастила можно установить своими руками. Это несложно, следуйте нашим рекомендациям.

            p Порядок действий:

            p Монтируем в месте стыка скатов уплотнитель либо вентиляционную коньковую ленту.
              br
              |  Уплотнитель бывает двух типов: фигурный и универсальный.
              br
              |  Фигурный уплотнитель подбирают под конкретный профиль профнастила. Он представляет собой неэластичные воздухонепроницаемые ленты из пенополиэтилена. Чтобы уплотнитель не мешал воздуху циркулировать, а подкровельному пространству ― проветриваться, в нём проделывают вентиляционные отверстия (до монтажа).
              br
              |  Универсальный уплотнитель выпускается в двух размерах. В ассортименте «Металл Профиль» есть универсальный уплотнитель 20х40 мм (для профлиста с волнами не выше 40 мм) и 30х50 мм (для профнастила высотой не более 50 мм). Такой уплотнитель представляет собой воздухопроницаемые эластичные ленты из пенополиуретана.
              br
              |  Как крепится уплотнитель около конька на крыше из профлиста? Его не надо прикреплять саморезами. У универсального уплотнителя есть клейкая основа. А фигурный самостоятельно фиксируется на кровельном материале.

        .post__blog
          +scr_blog2--post


  // /.scr_post
