mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#vk")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#insta")

  // /.socials

mixin socials--contacts()
  section.socials.socials--contacts(id="socials2")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#vk")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#insta")

  // /.socials
