mixin scr1()
  section.scr1(id="scr1")
    .scr1__slider#scr1__slider
      .swiper-wrapper.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
        .swiper-slide.scr1__slide
          .scr1__item
            .scr1__bg
              noscript
                img.lazy(src="img/scr1-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .container
              .scr1__wrap
                .scr1__content
                  p.scr1__title Пополните свою коллекцию
                    br
                    span.green эксклюзивными
                    |  комнатными
                    br
                    |  растениями

                .scr1__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") Перейти в каталог

        .swiper-slide.scr1__slide
          .scr1__item
            .scr1__bg
              noscript
                img.lazy(src="img/scr1-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .container
              .scr1__wrap
                .scr1__content
                  p.scr1__title Пополните свою коллекцию


                .scr1__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") Перейти в каталог

      .container
        .scr1__bottom
          .slider__btns
            button.swiper-button-prev
            .swiper-pagination
            button.swiper-button-next


  // /.scr1
