mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      .decor-wrap
        span.decor-wrap__img
          noscript
            img.lazy(src="img/decor-flower.png" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor-flower.png" alt="" width="125" height="90")

      h2.title Отзывы наших покупателей

    .reviews__wrap
      .container
        .reviews__slider#reviews__slider
          .swiper-wrapper
            .swiper-slide.reviews__slide
              .reviews__item
                .reviews__df
                  h3.reviews__title Светлана Иванова
                  time(datetime="2019-09-21") 21.09.2019

                .reviews__content
                  .article
                    p В целом, конечно, понимание сути ресурсосберегающих технологий однозначно фиксирует необходимость существующих финансовых и административных условий. С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности обеспечивает актуальность поэтапного и последовательного развития общества.

            .swiper-slide.reviews__slide
              .reviews__item
                .reviews__df
                  h3.reviews__title Светлана Иванова
                  time(datetime="2019-09-21") 21.09.2019

                .reviews__content
                  .article
                    p В целом, конечно, понимание сути ресурсосберегающих технологий однозначно фиксирует необходимость существующих финансовых и административных условий.

          .slider__btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next


  // /.scr_reviews
