mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__df
        .about__img
          noscript
            img.lazy(src="img/about-img.jpg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/about-img.jpg" alt="" width="125" height="90")

        .about__info
          .article
            p.green Приветствую!

            h2 Меня зовут Шуваева Ольга

            blockquote
              p Дорогие друзья, сложившая таким образом, социально-экономическое развитие обеспечивает широкому кругу специалистов участие в формировании позиций, занимаемых участниками в отношении поставленных задач. С другой стороны новая модель организационной деятельности обеспечивает актуальность дальнейших направлений развитая системы массового участия.

              p Практический опыт показывает, что повышение уровня гражданского сознания представляет собой интересный эксперимент проверки всесторонне сбалансированных нововведений. Равным образом начало повседневной работы по формированию позиции напрямую зависит от всесторонне сбалансированных нововведений. Практический опыт показывает, что социально-экономическое развитие позволяет выполнить важнейшие задания по разработке дальнейших направлений развития проекта.

  // /.scr_about
