mixin scr_categories()
  section.scr_categories.categories(id="scr_categories")
    .container
      .categories__slider#categories__slider
        .categories__list.swiper-wrapper
          .swiper-slide.categories__slide.categories__slide--two
            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Фиалки
              p.categories__count 240 сортов

            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Хойи
              p.categories__count 35 сортов

          .swiper-slide.categories__slide
            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Кампанулы
              p.categories__count 6 сортов

          .swiper-slide.categories__slide.categories__slide--two
            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Глоксиния
              p.categories__count 20 сортов

            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Кактусы
              p.categories__count 5 сортов

          .swiper-slide.categories__slide.categories__slide--cols
            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Эписции
              p.categories__count 15 сортов

            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Стрептокарпусы
              p.categories__count 15 сортов

          .swiper-slide.categories__slide.categories__slide--two
            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Нематантусы
              p.categories__count 4 сорта

            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Колумнеи
              p.categories__count 2 сорта

          .swiper-slide.categories__slide
            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-10.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-10.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Филодендроны
              p.categories__count 7 сортов

          .swiper-slide.categories__slide.categories__slide--two
            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-11.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-11.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Эсхинантусы
              p.categories__count 10 сортов

            a.categories__item(href="#")
              .categories__bg
                noscript
                  img.lazy(src="img-temp/categories/img-12.jpg" alt="" width="125" height="90" data-object-fit-cover-left)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/categories/img-12.jpg" alt="" width="125" height="90" data-object-fit-cover-left)

              h3.categories__title Другие
                br
                |  растения

        .slider__btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

  // /.scr_categories
