mixin scr_prod(xTitle, xID)
  section.scr_prod.prod(id="scr_prod-" + xID +"")
    .container
      .decor-wrap
        span.decor-wrap__img
          noscript
            img.lazy(src="img/decor-flower.png" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor-flower.png" alt="" width="125" height="90")

      .prod__wrap
        h2.title=xTitle

        .prod__slider(id="prod__slider-" + xID +"")
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Фиалки «Арктурус»
                  p.prod__price 950 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Фиалки «Алеанс»
                  p.prod__price 850 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Глоксиния «Камелия»
                  p.prod__price 600 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Глоксиния «Марракеш»
                  p.prod__price 700 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

          .slider__btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

        .prod__bottom
          .btn__wrap
            a.btn.btn--transparent(href="#") Смотреть ещё

  // /.scr_prod


mixin scr_prod--2(xTitle, xID)
  section.scr_prod.prod.prod--2(id="scr_prod-" + xID +"")
    .container
      .decor-wrap
        span.decor-wrap__img
          noscript
            img.lazy(src="img/decor-flower.png" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor-flower.png" alt="" width="125" height="90")

      .prod__wrap
        h2.title=xTitle

        .prod__slider(id="prod__slider-" + xID +"")
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Фиалки «Алеанс»
                  p.prod__price 850 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Глоксиния «Камелия»
                  p.prod__price 600 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Глоксиния «Марракеш»
                  p.prod__price 700 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

            .swiper-slide.prod__slide
              .prod__item
                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90")

                .prod__content
                  h3.prod__title
                    a(href="#") Фиалки «Арктурус»
                  p.prod__price 950 ₽

                .prod__btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.btn--grad(href="#") В корзину

          .slider__btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

        .prod__bottom
          .btn__wrap
            a.btn.btn--transparent(href="#") Смотреть ещё

  // /.scr_prod
