mixin scr_search()
  section.scr_search.search(id="scr_search")
    .container
      .search__wrap
        p.search__text Какой ищете сорт?

        .search__form
          .form.form--search
            form.wpcf7-form
              .search-wrap
                .text-input
                  input(type='search', placeholder='Введите название')
                button.btn.btn--circle(type='submit')
                  svg.icon
                    use(xlink:href='img/svg/sprite.svg#icon-search')



  // /.scr_search
