.contacts
  position: relative
  padding-top: 19px
  padding-bottom: 26px
  &__map
    height: 495px
    background-color: #eae9e9
    border-radius: 8px
    overflow: hidden
  &__df
    display: flex
    margin-bottom: 14px
    padding: 29px 35px 34px
    background-color: #f7f7f7
    border-radius: 8px
  &__col
    width: 28.97058823529412%
    padding-right: 20px
    &:nth-of-type(2)
      width: 24.55882352941176%
    &:nth-of-type(3)
      width: 24.11764705882353%
    &:last-of-type
      flex-grow: 1
      padding-right: 0
      .contacts__text
        margin-bottom: 14px
  &__title
    margin-top: 0
    font-size: 18px
    font-weight: 600
    text-transform: uppercase
  &__text
    margin-bottom: 34px
    font-size: 16px
    line-height: 1.875 /* 30 / 16 */
    b
      font-weight: 500
    a
      display: block
      text-decoration: none
      outline: none
      transition: 0.4s ease-in-out
      &:hover
        color: $accent
    &:last-of-type
      margin-bottom: 0
  &__btns
    .xbtn
      min-width: 185px
  &__links
    display: inline-block
    .xlink
      color: #0067d1
      &::after
        right: 8px
        width: 6px
        background-image: url('../img/svg/arrow-blue.svg')
      &:hover
        color: $accent


  @media screen and (max-width: 1400px)
    &__map
      height: 405px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__df
      padding: 19px 15px
    &__title
      font-size: 15px
    &__text
      margin-bottom: 24px
      font-size: 14px
      line-height: 1.675

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__map
      height: 345px

  // max-width 1070px

  @media screen and (max-width: 900px)
    &__df
      flex-wrap: wrap
    &__col
      width: 50%
      margin-bottom: 20px
      &:nth-of-type(2)
        width: 50%
      &:nth-of-type(3)
        width: 50%

  // max-width 900px

  @media screen and (max-width: 767px)
    &__map
      height: 265px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__col
      width: 100%
      padding-right: 0
      margin-bottom: 20px
      &:nth-of-type(2)
        width: 100%
      &:nth-of-type(3)
        width: 100%

  // max-width 500px

/* contacts */
