.portfolio
  position: relative
  padding-bottom: 37px
  .page-title--second
    text-align: center
  &__tabs
    margin: 0
    padding: 0
    list-style: none
    padding-top: 27px
  &__tab
    &:not(:first-of-type)
      display: none
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li
      width: calc((100% - 37px) / 2)
      margin-right: 37px
      padding-bottom: 40px
      &:nth-of-type(2n)
        margin-right: 0
  &__img
    display: block
    text-decoration: none
    outline: none
    height: 344px
    border-radius: 6px
    overflow: hidden
    img
      display: block
      transition: 0.3s ease-in-out
    &:hover
      img
        transform: scale(1.1)
        transition: 0.8s ease-in-out
  &__title
    display: block
    text-decoration: none
    outline: none
    padding-top: 14px
    h2
      font-size: 18px
      font-weight: 600
      transition: 0.4s ease-in-out
    &:hover
      h2
        color: $accent


  @media screen and (max-width: 1400px)
    &__list
      & > li
        width: calc((100% - 15px) / 2)
        margin-right: 15px
        padding-bottom: 30px
        &:nth-of-type(2n)
          margin-right: 0
    &__img
      height: 274px

  // max-width 1400px

  @media screen and (max-width: 991px)
    &__img
      height: 184px
    &__nav
      & > li
        & > a
          min-width: 166px
          height: 48px
          font-size: 16px
    &__title
      padding-top: 8px
      h2
        font-size: 16px

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-bottom: 27px
    &__list
      & > li
        padding-bottom: 20px
    &__img
      height: 144px
    &__title
      padding-top: 4px
      h2
        font-size: 14px
        line-height: 1.4

  // max-width 767px

  @media screen and (max-width: 400px)
    &__nav
      display: block
      & > li
        margin-right: 0
        margin-bottom: 5px
        &:last-of-type
          margin-bottom: 0

  // max-width 400px

/* portfolio */
