.deliver
  position: relative
  padding-bottom: 64px
  .page-title--second
    text-align: center
  &__block
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 244px
    margin-bottom: 29px
    padding: 20px 81px 20px 49px
    background-color: #f7f7f7
    border-radius: 10px
    h3
      margin-top: 0
      margin-bottom: 21px
      font-size: 18px
      font-weight: 600
    ul
      margin: 0
      padding: 0
      padding-left: 18px
      & > li
        margin-bottom: 2px
        font-size: 15px
        line-height: 2
    p
      font-size: 15px
      line-height: 2
    b
      font-weight: 500
  &__df
    display: flex
    .deliver__block
      display: block
      width: calc((100% - 32px) / 2)
      margin-right: 32px
      padding: 20px 15px 17px 49px
      &:nth-of-type(2n)
        margin-right: 0


  @media screen and (max-width: 1300px)
    padding-bottom: 14px
    &__block
      padding: 20px 30px 20px 29px
    &__df
      .deliver__block
        width: calc((100% - 20px) / 2)
        margin-right: 20px
        padding: 20px 15px 17px 29px

  // max-width 1300px

  @media screen and (max-width: 850px)
    &__block
      h3
        margin-bottom: 16px
        font-size: 16px
      ul
        & > li
          font-size: 14px
          line-height: 1.7
      p
        font-size: 14px
        line-height: 1.7

  // max-width 850px

  @media screen and (max-width: 767px)
    &__df
      display: block
      .deliver__block
        width: 100%
        margin-right: 0
        padding-bottom: 17px
    &__block
      min-height: 0
      margin-bottom: 19px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__block
      padding: 20px 15px 17px
    &__df
      .deliver__block
        padding: 20px 15px 17px

  // max-width 575px

/* deliver */
