.certs
  position: relative
  padding-bottom: 62px
  .page-title--second
    text-align: center
  &__list
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 9px
  &__item
    text-decoration: none
    outline: none
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 82px
    padding: 15px 20px 15px 81px
    background: #f7f7f7 url('../img/svg/download-file.svg') no-repeat 40px center
    background-size: 25px 30px
    border-radius: 10px
    font-size: 18px
    font-weight: 600
    transition: 0.4s ease-in-out
    &:hover
      box-shadow: 0 5px 20px rgba($accent2, 0.2)


  @media screen and (max-width: 991px)
    &__item
      min-height: 65px
      padding: 12px 10px 12px 61px
      background-position: 20px center
      background-size: 22px 26px
      font-size: 15px

  // max-width 991px

  @media screen and (max-width: 575px)
    padding-bottom: 30px

  @media screen and (max-width: 450px)
    &__item
      min-height: 60px
      padding: 12px 10px 12px 51px
      background-position: 15px center
      font-size: 14px

  // max-width 450px

/* certs */
