.catalog
  position: relative
  padding-bottom: 20px
  &__slider
    overflow: hidden
    .swiper-slide
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      padding-bottom: 20px
      &:nth-of-type(3n)
        margin-right: 0
  &__item
    position: relative
    display: flex
    flex-direction: column
    min-height: 337px
    padding: 30px 20px 26px 34px
    background-color: #263238
    border-radius: 8px
    overflow: hidden
    color: #fff
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 400px
      height: 100%
      background-image: linear-gradient(90.0deg, $accent2 0%, $accent2 25%, transparent 100%)
      z-index: -1
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -2
  &__content
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: flex-start
  &__to-show
    max-height: 172px
    margin-bottom: 20px
    overflow: hidden
    transition: 0.3s ease-in-out
    &.active
      max-height: 1000px
      transition: 0.8s ease-in-out
  &__show
    position: relative
    background: none
    border: none
    outline: none
    display: block
    margin-top: auto
    padding-right: 28px
    font-size: 14px
    font-weight: 600
    color: $accent
    cursor: pointer
    &::before
      content: ''
      position: absolute
      top: 5px
      right: 0
      display: block
      width: 5px
      height: 9px
      background: transparent url('../img/svg/arrow-red.svg') no-repeat center center
      background-size: contain
      transform: rotate(90deg)
      transition: 0.4s ease-in-out
    &.active
      &::before
        transform: rotate(-90deg)
  &__top
    display: flex
    margin-bottom: 18px
  &__icon
    display: block
    width: 31px
    height: 22px
    margin-right: 18px
  &__title
    margin-top: 0
    margin-bottom: 0
    font-size: 20px
    font-weight: 900
    text-transform: uppercase
  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 14px
      &:last-of-type
        margin-bottom: 0
      & > a
        position: relative
        display: inline-block
        text-decoration: none
        outline: none
        padding-left: 14px
        font-size: 14px
        color: #ffffff
        &::before
          content: '•'
          position: absolute
          top: 2px
          left: 0
          font-size: 12px
          display: block
        &::after
          content: ''
          position: absolute
          left: 14px
          bottom: -2px
          display: block
          width: calc(100% - 14px)
          height: 1px
          background: #fff
          opacity: 0
          transition: 0.4s ease-in-out
        &:hover
          &::after
            opacity: 1
  &__num
    display: block
    font-size: 18px
    font-weight: 900
    letter-spacing: 0.025em
    color: #ffffff
    span
      font-size: 38px
  &__text
    font-size: 18px
    line-height: 1.333333333333333


  @media screen and (max-width: 1170px)
    &__slider
      overflow: visible
    &__item
      min-height: 273px
      padding: 20px 20px 20px 24px
    &__title
      font-size: 18px
    &__to-show
      max-height: 152px
    .menu
      & > li
        margin-bottom: 7px

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__num
      font-size: 16px
      span
        font-size: 28px
    &__text
      font-size: 16px

  @media screen and (max-width: 767px)
    padding-bottom: 10px
    &__slider
      width: 98%

  // max-width 767px

  @media screen and (max-width: 575px)
    &__item
      min-height: 213px
      padding: 20px 10px 20px 14px
    &__top
      margin-bottom: 9px
    &__icon
      width: 27px
      height: 19px
      margin-right: 14px
    &__title
      font-size: 16px
    &__to-show
      max-height: 109px
      margin-bottom: 10px
    .menu
      & > li
        margin-bottom: 5px
        & > a
          font-size: 13px
          &::after
            content: none

  // max-width 575px

/* catalog */
