.socials
  display: flex
  &__link
    text-decoration: none
    outline: none
    display: flex
    align-items: center
    justify-content: center
    width: 34px
    height: 34px
    margin-right: 8px
    border-radius: 50%
    background-color: rgba(210,211,211,0.3)
    transition: 0.5s ease-in-out
    .icon
      width: 16px
      height: 16px
      fill: #c9cacc
      transition: 0.5s ease-in-out
    &:last-of-type
      margin-right: 0
    &:hover
      background-color: #fff
      .icon
        fill: #1f3f69

  &--contacts
    margin-bottom: 44px
    padding-top: 10px
    .socials__link
      .icon
        fill: #263238
      &:hover
        .icon
          fill: #1f3f69


  @media screen and (max-width: 500px)
    &--contacts
      margin-bottom: 14px

  // max-width 500px

/* socials */
