@font-face
  font-family: 'Akrobat'
  font-display: swap
  src: local('Akrobat'),
  url('../fonts/Akrobat-Bold.woff2') format('woff2'),
  url('../fonts/Akrobat-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal
