.form
  position: relative
  z-index: 30
  width: 100%

  &__title
    margin-bottom: 33px
    font-size: 22px
    line-height: 1.2
    font-weight: 600
    color: #001800
    text-align: center
  &__desc
    font-size: 18px
    line-height: 1.2
    font-weight: 400
    color: #001800
    text-align: center

  input,textarea
    font-family: $form-font

  .text-input
    display: block
    width: 100%

    input,textarea
      background: none
      border: none
      outline: none
      transition: 0.3s
      resize: none

      width: 325px
      border: 1.0px solid #cccccc
      border-radius: 3.0px
      font-size: 16px
      line-height: 1.2
      font-weight: 400
      color: #001800
      transition: 0.3s

      @include placeholder(#001800, 14px)

      &:focus
        @include placeholder(#fff, 14px)
      &:hover
        border-color: $accent

    textarea
      // height: 136px

    input
      height: 48px

    &--icon
      position: relative
      input
        padding-left: 48px
      .input-icon
        position: absolute
        top: calc(50% - 9px)
        left: 17px

        display: block
        width: 15px
        height: 18px
        .icon
          fill: #999999

  .accept
    display: block
    margin-top: 5px
    label
      display: block
      width: calc(100% + 10px)
      cursor: pointer
      transition: 0.3s
      text-align: center

      & > span
        position: relative
        display: inline-block
        transition: 0.3s

        padding-left: 23px
        font-size: 13px
        line-height: 1.2
        font-weight: 400
        color: #999999
        .accept__icon
          position: absolute
          top: 0
          left: 0

          width: 15px
          height: 15px
          border: 1.0px solid rgba(153,153,153,0.7)

          &::before
            content: ''
            position: absolute
            top: calc(50% - 4px)
            left: calc(50% - 4px)

            display: block
            width: 8px
            height: 5px
            border-bottom: 1px solid $accentl
            border-left: 1px solid $accentl
            transform: rotate(-45deg)
            opacity: 0
            transition: 0.3s
      &:hover
        & > span
          color: $accent

    input
      display: none

    input:checked + span
      .accept__icon
          &::before
            opacity: 1



  &--horizontal
    display: flex
    justify-content: space-between
  &__col
    width: calc((100% - 354px) / 2)
    .text-input
      input
        width: 100%
    &--submit
      width: 294px
      .form__item
        width: 100%
        .btn
          width: 100%


  /* media */

  @media screen and (max-width: 1170px)
    &__col
      width: calc( (100% - 40px) / 3) !important

  //   max-width 1170px

  @media screen and (max-width: 850px)
    &--horizontal
      flex-wrap: wrap
    &__col
      width: calc( (100% - 20px) / 2) !important
      margin-bottom: 20px
      &--submit
        max-width: 320px

  //   max-width 850px

  @media screen and (max-width: 575px)
    &__title
      margin-bottom: 26px
      font-size: 19px
    &--horizontal
      flex-wrap: wrap
    &__col
      width: 100%  !important
      &--submit
        max-width: 100%

  //   max-width 575px

  @media screen and (max-width: 374px)
    &__title
      margin-bottom: 20px
      font-size: 17px

  //   max-width 374px

 /* form */
