.scr1
  position: relative
  padding-top: 190px
  padding-bottom: 60px
  min-height: 100vh

  .mouse
    display: block
    width: 18px
    height: 49px
    margin-top: 47px
    background: url(../img/mouse.png) 0 0 no-repeat
    cursor: pointer
    z-index: 10
    &.fadeInDown
      animation-name: fadeInDown
      animation-duration: 2.4s
      animation-iteration-count: infinite

  &__title
    width: 70%
    font-size: 48px
    line-height: 1.145833333333333 /* 55 / 48 */
    font-weight: 400
    color: #001800
  &__desc
    width: 60%
    margin-bottom: 38px
    font-size: 18px
    line-height: 1.555555555555556 /* 28 / 18 */
    font-weight: 400
    color: #666666
    strong
      font-weight: 600
    a
      position: relative
      font-weight: 600
      color: $accent
      text-decoration: none
      transition: 0.3s
      &::after
        content: ''
        position: absolute
        bottom: -2px
        left: 0

        display: block
        width: 100%
        height: 1px
        background-color: #3b9e3e
        transition: 0.3s
      &:hover
        color: $accentl
        &::after
          background-color: $accentl
  &__btns
    .btn
      height: 54px
      line-height: 50px
      padding: 0 43px

  &__advantages
    margin: 0
    padding: 0
    list-style: none

    display: flex
    justify-content: space-between
    margin-top: 50px
    &-item
      display: flex
      align-items: center
      max-width: calc(25% - 10px)
    &-icon
      flex-shrink: 0
      width: 30px
      height: 30px
      margin-right: 14px
      .icon
        width: 100%
        height: 100%
        fill: $accentl

    &-text
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
      font-weight: 600
      color: #666666

  &__content
    position: relative
  &__bg
    position: absolute
    top: 34px
    left: 488px

  /* media */

  @media screen and (max-width: 1070px)
    &__advantages
      &-text
        font-size: 15px
    &__bg
      width: 722px
      height: 363px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__title
      br
        display: none
    &__advantages
      flex-wrap: wrap
      &-item
        margin-bottom: 15px
        max-width: calc(33% - 10px)

  // max-width 991px

  @media screen and (max-width: 767px)
    background-position: 56% bottom !important
    &__title
      font-size: 38px
    &__desc
      font-size: 16px
    &__bg
      left: 350px

      width: 680px
      height: 260px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__advantages
      justify-content: flex-start
      &-item
        max-width: 100%
        width: calc(50% - 10px)
        margin-right: 10px

  // max-width 650px

  @media screen and (max-width: 575px)
    background: #f9f9f9 !important
    padding-top: 140px
    padding-bottom: 30px
    &__title
      width: 100%
      font-size: 32px
    &__desc
      width: 100%
      margin-bottom: 18px
      br
        display: none
    &__bg
      display: none
    &__btns
      margin-top: 50px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__advantages
      align-items: flex-start
      margin-top: 20px
      &-text
        font-size: 12px
      &-icon
        width: 20px
        height: 20px
        margin-right: 7px

  // max-width 500px

  @media screen and (max-width: 374px)
    &__title
      font-size: 24px

  // max-width 374px

/* scr1 */


.scr1--loan
  padding-bottom: 44px
  .scr1__title
    margin-bottom: 54px
  .scr1__desc
    max-width: 480px

  @media screen and (max-width: 575px)
    .scr1__title
      margin-bottom: 14px

  // max-width 575px


.scr1--loan-spec
  .scr1__bg
    top: -20px

  @media screen and (max-width: 1070px)
    .scr1__bg
      top: 80px
      width: 482px

  // max-width 1070px


.scr1--loan-real-estate
  .scr1__bg
    top: 0
    left: 528px
    width: 732px
    height: 406px
  .scr1__title
    margin-bottom: 34px

  @media screen and (max-width: 991px)
    .scr1__bg
      top: 40px
      left: 468px
      width: 600px

  // max-width 991px

  @media screen and (max-width: 767px)
    .scr1__bg
      left: 368px

  // max-width 767px


.scr1--loan-pts
  .scr1__bg
    top: -20px
    left: 488px
    width: 524px
    height: 465px
  .scr1__title
    margin-bottom: 34px

  @media screen and (max-width: 991px)
    .scr1__bg
      left: 448px

  // max-width 991px

  @media screen and (max-width: 767px)
    .scr1__bg
      top: 20px
      left: 348px
      width: 464px
      height: 405px

  // max-width 767px


.scr1--loan-refin

  @media screen and (max-width: 991px)
    background-size: auto 80% !important
    background-position: 40% bottom !important

  // max-width 991px

  @media screen and (max-width: 767px)
    background-image: none !important

  // max-width 767px


.scr1--investor
  min-height: 0
  padding-bottom: 0
  background-color: #f9f9f9
  .scr1__title
    width: 100%
    font-size: 36px
    line-height: 1.333333333333333 /* 48 / 36 */
    font-weight: 400
    strong
      font-weight: 900
      color: #3a9e3d
  .scr1__content
    max-width: 750px
  .scr1__bg
    top: -65px
    left: 617px

    width: 622px
    height: 473px

  @media screen and (max-width: 767px)
    .scr1__bg
      display: none
    .scr1__title
      font-size: 31px
      br
        display: none

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-bottom: 20px
    .scr1__title
      font-size: 27px
      margin-bottom: 34px

  // max-width 575px

  @media screen and (max-width: 500px)
    .scr1__title
      font-size: 24px

  // max-width 500px

  @media screen and (max-width: 400px)
    .scr1__title
      font-size: 18px

  // max-width 400px


.scr1--bonus
  min-height: 0
  margin-bottom: 27px
  padding-top: 170px
  padding-bottom: 90px
  background-color: #f9f9f9
  .scr1__content
    max-width: 620px
  .scr1__title
    width: 100%
    margin-bottom: 36px
    font-size: 36px
    font-weight: 600
  .scr1__desc
    width: 100%
    max-width: 100%
    font-size: 36px
    line-height: 1.2
    color: #001800
    strong
      font-weight: 700
      color: #3a9e3d
  .scr1__bg
    top: -27px
    left: 100%
    width: 585px
    height: 294px

  @media screen and (max-width: 991px)
    .scr1__content
      max-width: 480px
    .scr1__title
      margin-bottom: 16px
      font-size: 32px
    .scr1__desc
      font-size: 26px

  // max-width 991px

  @media screen and (max-width: 500px)
    padding-top: 140px
    padding-bottom: 20px
    .scr1__content
      max-width: 100%
    .scr1__title
      font-size: 26px
    .scr1__desc
      font-size: 20px

  // max-width 500px
