.bonus
  position: relative
  padding-top: 45px
  padding-bottom: 38px
  &__slider
    margin-top: 38px
  &__slides
    display: flex
    justify-content: space-between
  &__slide
    width: calc((100% - 60px) / 3)
    outline: none
  &__img
    margin-bottom: 16px
    img
      display: block
      border-radius: 10px
  &__text
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 600
    color: #001800
    text-align: center
    strong
      font-size: 24px
      font-weight: 700


  /* media */

  @media screen and (max-width: 767px)
    &__slider
      margin-top: 18px
    &__slide
      width: calc((100% - 30px) / 3)
    &__img
      margin-bottom: 6px
    &__text
      font-size: 14px
      strong
        font-size: 18px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__slides
      width: calc(100% + 10px)
      margin-left: -5px
    &__slide
      padding: 0 5px
    &__dots
      margin-top: 20px

  // max-width 575px

  @media screen and (max-width: 400px)
    padding-top: 30px
    padding-bottom: 28px

  // max-width 400px

/* bonus */
