.ask
  position: relative
  background-color: #f3f9f3
  padding-top: 38px
  padding-bottom: 45px
  .form__title
    margin-bottom: 24px
    font-size: 30px
  .form__desc
    margin-bottom: 34px
  .form
    padding-left: 95px
    padding-right: 95px
    .form--horizontal
      .form__item
        width: calc((100% - 60px) / 3)
        input
          width: 100%
    .accept
      margin-top: 14px

  /* media */

  @media screen and (max-width: 991px)
    .form
      padding-left: 0
      padding-right: 0
      .form--horizontal
        .form__item
          width: calc((100% - 20px) / 3)
    .form__title
      margin-bottom: 5px
      font-size: 26px
    .form__desc
      margin-bottom: 26px
      font-size: 16px

  // max-width 991px

  @media screen and (max-width: 575px)
    .form
      .form--horizontal
        flex-wrap: wrap
        .form__item
          width: calc(50% - 5px)
        .form__item--submit
          width: 100%
          margin-top: 14px

  // max-width 575px

  @media screen and (max-width: 400px)
    padding-top: 28px
    padding-bottom: 25px
    .form__title
      font-size: 23px
    .form__desc
      margin-bottom: 5px
      font-size: 13px
    .form
      .form--horizontal
        .form__item
          width: 100%
          margin-top: 14px

  // max-width 400px

/* ask */
