.percent
  position: relative
  padding-top: 40px
  padding-bottom: 40px
  &__table
    margin-top: 32px
  table
    width: 100%
    border-collapse: collapse
    text-align: center
    vertical-align: middle
    tr
      height: 76px
    td
      padding: 7px
      border: 1.0px solid #cccccc
      font-size: 18px
      line-height: 1.3333333333 /* 24 / 18 */
      color: #001800
    thead
      tr
        background-color: #76bb78
      td
        font-weight: 600
        color: #ffffff
    tbody
      tr
        &:nth-of-type(2n)
          background-color: #f9f9f9


  /* media */

  @media screen and (max-width: 991px)
    &__table
      margin-top: 12px
    table
      tr
        height: 65px
      td
        font-size: 15px

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-top: 30px
    padding-bottom: 30px

  // max-width 767px

  @media screen and (max-width: 500px)
    table
      tr
        height: 58px
      td
        font-size: 13px

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* percent */
