.post
  position: relative
  padding-bottom: 20px
  .title
    margin-top: 0
    padding-top: 7px
    font-size: 36px
    line-height: 1.2
  &__df
    display: flex
  &__left
    width: 57.54385964912281%
    margin-right: 30px
  &__right
    width: 40.08771929824561%
  .post__desc
    margin-bottom: 59px
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 600
    color: #001800
  &__img
    margin-bottom: 35px
  &__block
    margin-bottom: 31px
    padding: 44px 30px 50px
    border-radius: 3.0px
    font-style: italic
    &--bordered
      border: 1.0px solid #cccccc
    &--grey
      background-color: #f9f9f9

  /* media */

  @media screen and (max-width: 991px)
    .title
      font-size: 30px
      br
        display: none
    &__block
      padding: 30px 15px 30px
    .post__desc
      margin-bottom: 35px
      font-size: 16px
    &__img
      img
        width: auto

  // max-width 991px

  @media screen and (max-width: 767px)
    .title
      font-size: 26px
    &__df
      flex-direction: column
    &__left
      width: 100%
    &__right
      width: 100%
    &__img
      margin-bottom: 25px
      text-align: center
      img
        max-width: 70%
    &__block
      margin-bottom: 21px
      font-size: 14px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__img
      img
        max-width: 100%

  // max-width 400px

  @media screen and (max-width: 400px)
    .title
      font-size: 22px
    .post__desc
      margin-bottom: 25px
      font-size: 14px

  // max-width 400px

/* post */
