.cta
  position: relative
  background-color: #f3f9f3
  padding: 52px 0 20px
  &__wrap
    display: flex
  &__title
    width: 34.21052631578947%
    font-size: 24px
    line-height: 1.2
    font-weight: 600
    color: #001800
  .form
    width: 65.78947368421053%
    padding-left: 37px
    padding-right: 66px
    &__col
      &:first-of-type
        flex-grow: 1
        margin-right: 30px
    input[type="submit"]
      margin-bottom: 10px

  /* media */
  @media screen and (max-width: 1170px)
    .form
      &__col
        &--submit
          width: 294px !important

  // max-width 1170px

  @media screen and (max-width: 1070px)
    .form
      padding-right: 0

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__title
      width: 32.210526%
      font-size: 18px
    .form
      width: 67.78947368421053%

  // max-width 991px

  @media screen and (max-width: 850px)
    &__wrap
      flex-direction: column
    &__title
      width: 100%
      margin-bottom: 25px
      text-align: center
      br
        display: none
    .form
      width: 100%
      &__col
        width: 100% !important
        &--submit
          margin-left: auto
          margin-right: auto

  // max-width 850px

  @media screen and (max-width: 575px)
    padding: 27px 0 20px
    .form
      padding-left: 0
      &__col
        &:first-of-type
          margin-right: 0

  // max-width 575px

/* cta */
