.certs
  position: relative
  padding-bottom: 53px
  &__wrap
    padding: 38px 38px 67px
  &__slider
    margin-top: 40px
  &__slide
    padding: 0 30px
  &__item
    background-color: #ffffff
    border: 5.0px solid #76bb78
    border-radius: 6.0px
    a
      display: block
      text-decoration: none
      img
        display: block

  /* media */

  @media screen and (max-width: 1070px)
    &__wrap
      padding: 20px 15px 40px
    &__slider
      margin-top: 20px
      .slick-prev
        left: -25px
      .slick-next
        right: -25px
    &__slide
      padding: 0 15px

  // max-width 1070px

  @media screen and (max-width: 767px)
    &__slider
      .slider2__dots
        margin-top: 20px
    &__slide
      padding: 0 8px

  // max-width 767px

/* certs */
