.footer
  position: relative
  background-color: #d1d3d4
  z-index: 10
  &__top
    display: flex
    padding-top: 52px
    padding-bottom: 62px
  &__col
    width: 34.21052631578947%
    padding-right: 20px
    &:nth-of-type(2)
      width: 25.6140350877193%
    &:nth-of-type(3)
      width: 23.07017543859649%
    &:last-of-type
      width: 16.84210526315789%
  &__title
    margin-top: 0
    margin-bottom: 27px
    font-family: $font
    font-size: 18px
    font-weight: 500
  &__item
    margin-bottom: 20px
    font-size: 14px
    line-height: 1.714285714285714 /* 24 / 14 */
    &:last-of-type
      margin-bottom: 0
    a
      display: block
      text-decoration: none
      outline: none
      transition: 0.3s
      &:hover
        color: #ff9900

  &__bottom
    &-df
      height: 74px
      display: flex
    .text
      font-size: 13px
      line-height: 16px
      color: #666
    a.text
      text-decoration: none
      outline: none
      transition: 0.3s
      &:hover
        color: $accent2
  &__politics
    display: flex
    align-items: center
    padding-right: 53px
    border-right: 1px solid #7f8184
  &__copyright
    display: flex
    align-items: center
    padding-left: 55px
    padding-right: 65px
    border-right: 1px solid #7f8184
  .made
    display: flex
    justify-content: center
    align-items: center
    padding-left: 58px
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #666
      transition: 0.3s

    &:hover
      .icon
        fill: $accent2


  // @media screen and (max-width: 1023px)

  // max-width 1023px

  // @media screen and (max-width: 991px)

  // max-width 991px

  @media screen and (max-width: 767px)
    &__bottom
      &-df
        justify-content: space-between
      .footer__politics
        margin-right: 30px
      .footer__copyright
        margin-right: 30px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__bottom
      &-df
        flex-direction: column
        align-items: center
        justify-content: flex-start
        text-align: center
        height: auto
        padding: 10px 0
      .footer__politics
        margin-right: 0
        margin-bottom: 15px
      .footer__copyright
        margin-right: 0
        margin-bottom: 15px

  // max-width 650px

  @media screen and (max-width: 575px)
    &__bottom
      height: auto

  // max-width 575px

/* footer */
