.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  background: #fff
  transition: 0.3s
  &.fixed
    .logo
      width: 65px
      height: 72px
      cursor: pointer
      &__wrap
        margin-left: auto
      img
        width: auto
        height: 72px
    &.noactive
      background: transparent
      .header__middle
        max-height: 0
        opacity: 0
        transition: opacity 0.3s max-height 0s 0.3s
  &__df
    display: flex
    padding-top: 9px
    padding-bottom: 9px
    &::after
      content: ''
      flex-grow: 1
      width: 100%
      height: 50px
    .container
      flex-shrink: 0
  &__left
    flex-grow: 1
    width: 100%
    &-wrap
      // padding-left: 43px
      display: flex
      justify-content: flex-end
      padding-right: 68px
  .logo
    display: block
    width: 266px
    height: 93px
    text-decoration: none
    transition: 0.3s
    overflow: hidden
    img
      display: block
      width: 266px
      height: 93px
      transition: 0.3s
    &__text
      margin-right: 20px
      font-size: 12px

  &__middle
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    transition: opacity 0.3s max-height 0s
    &::before
      content: ''
      position: absolute
      top: 3px
      left: -41px
      width: 1px
      height: calc(100% + 6px)
      background: #8f9193
    .logo
      &__wrap
        display: none
  .burger
    display: none

  &__phones
    display: flex
    flex-direction: column
    align-items: flex-end
    .open-modal
      display: block
      outline: none
      font-size: 14px
      line-height: 1.2
      color: $accent2
      transition: 0.3s
      &:hover
        color: #ff9900

  &__phone
    display: block
    text-decoration: none
    outline: none
    margin-bottom: 5px
    font-family: $font2
    font-size: 24px
    line-height: 1.2
    font-weight: 700
    letter-spacing: 0.03em
    transition: 0.3s
    &:hover
      color: #ff9900
  .menu
    padding: 0
    margin: 0
    list-style: none

    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    & > li
      margin-right: 24px
      &:last-of-type
        margin-right: 0
      & > a
        display: block
        text-decoration: none
        outline: none
        padding: 9px 12px
        line-height: 1.2
        font-weight: 500
        text-transform: uppercase
        transition: 0.3s
        &:hover
          background-color: $accent


  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* .header */
