.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 20
  background: #fff
  transition: background 0.3s
  &.fixed
    position: fixed
    z-index: 100
    .logo
      width: 65px
      height: 72px
      cursor: pointer
      &__wrap
        margin-left: auto
      img
        width: auto
        height: 72px
    &.noactive
      background: transparent
      transition: 0s
      .header__middle
        max-height: 0
        opacity: 0
        transition: opacity 0.3s max-height 0s 0.3s
  &__df
    display: flex
    padding-top: 9px
    padding-bottom: 9px
    &::after
      content: ''
      flex-grow: 1
      width: 100%
      height: 50px
    .container
      flex-shrink: 0
  &__left
    flex-grow: 1
    width: 100%
    &-wrap
      // padding-left: 43px
      display: flex
      justify-content: flex-end
      padding-right: 68px
  .logo
    display: block
    width: 266px
    height: 93px
    text-decoration: none
    transition: 0.3s
    overflow: hidden
    img
      display: block
      width: 266px
      height: 93px
      transition: 0.3s
    &__text
      margin-right: 20px
      font-size: 12px

  &__middle
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    transition: opacity 0.3s max-height 0s
    .logo
      &__wrap
        display: none
  .burger
    display: none

  &__phones
    display: flex
    flex-direction: column
    align-items: flex-end
    .open-modal
      display: block
      outline: none
      font-size: 14px
      line-height: 1.2
      color: $accent2
      transition: 0.3s
      &:hover
        color: #ff9900
    .mobile
      display: none

  &__phone
    display: block
    text-decoration: none
    outline: none
    margin-bottom: 5px
    font-family: $font2
    font-size: 24px
    line-height: 1.2
    font-weight: 700
    letter-spacing: 0.03em
    transition: 0.3s
    &:hover
      color: #ff9900
  .menu
    padding: 0
    margin: 0
    list-style: none

    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    & > li
      margin-right: 24px
      &:last-of-type
        margin-right: 0
      & > a
        display: block
        text-decoration: none
        outline: none
        padding: 9px 12px
        line-height: 1.2
        font-weight: 500
        text-transform: uppercase
        transition: 0.3s
        &:hover
          background-color: $accent


  @media screen and (max-width: 1870px)
    .logo
      width: 186px
      height: 67px
      img
        width: 186px
        height: 67px
    &__left
      &-wrap
        padding-right: 49px

  // max-width 1870px

  @media screen and (max-width: 1700px)
    .logo
      width: 65px
      height: 72px
      img
        width: auto
        height: 72px
    &__left
      &-wrap
        padding-right: 49px
        padding-left: 15px

  // max-width 1700px

  @media screen and (max-width: 1400px)
    .menu
      & > li
        margin-right: 8px
        & > a
          font-size: 14px
    &__phones
      .open-modal
        font-size: 13px
    &__phone
      font-size: 21px
    &__left
      display: none
    &__middle
      .logo
        &__wrap
          display: block
        &__text
          margin-left: 15px
    &__df
      &::after
        content: none

  // max-width 1400px

  @media screen and (max-width: 1110px)
    &__middle
      justify-content: flex-start
    .menu
      position: fixed
      top: 85px
      left: 0
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      width: 350px
      max-width: 100%
      height: calc(100vh - 85px)
      padding-top: 20px
      background-color: #fff
      box-shadow: 0 10px 15px rgba($accent2, 0.2)
      transform: translateX(-100%)
      transition: 0.5s
      & > li
        width: 100%
        & > a
          padding: 12px 15px
          border-bottom: 1px solid rgba($accent2, 0.2)
          &:hover
            background: none
      &.opened
        transform: translateX(0)
        transition: 0.8s
    &__phones
      margin-left: auto
    .burger
      display: flex
      margin-right: 15px
    &.fixed
      .logo__wrap
        margin-left: 0

  // max-width 1110px

  @media screen and (max-width: 767px)
    &.fixed
      .logo
        width: 57px
        height: 64px
        img
          height: 64px
    .logo
      width: 57px
      height: 64px
      img
        height: 64px
    &__df
      padding-top: 7px
      padding-bottom: 7px
    .menu
      top: 78px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__phones
      .open-modal
        display: none
      .desktop
        display: none
      .mobile
        display: flex

  // max-width 500px

  @media screen and (max-width: 400px)
    .logo
      &__text
        margin-left: 10px
        margin-right: 10px
        font-size: 11px

  // max-width 400px

/* .header */
