.feat
  position: relative
  padding-top: 93px
  padding-bottom: 28px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: calc(100% + 15px)
    margin-left: -15px
    & > li
      width: 48.24561403508772%
      max-width: 545px
      margin-right: 20px
      padding-bottom: 70px
      &:nth-of-type(2n)
        max-width: 460px
        margin-right: 0
  &__item
    display: flex
    align-items: center
  &__icon
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center
    width: 99px
    height: 114px
    margin-right: 32px
    padding: 15px 23px
    background: transparent url('../img/svg/hexa.svg') no-repeat center center
    background-size: contain
    transition: 0.3s
    &:hover
      transform: translateY(-7px)
  &__text
    font-size: 18px
    line-height: 1.555555555555556 /* 28 / 18 */


  @media screen and (max-width: 1200px)
    padding-top: 53px
    &__list
      width: 100%
      margin-left: 0
      padding-left: 0
      & > li
        padding-bottom: 40px
    &__icon
      width: 89px
      height: 104px
      margin-right: 22px
    &__text
      font-size: 16px

  // max-width 1200px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* feat */
