.steps
  position: relative
  padding-top: 50px
  padding-bottom: 37px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      padding-bottom: 49px
      &:nth-of-type(3n)
        margin-right: 0
  &__item
    position: relative
  &__img
    position: absolute
    top: -68px
    left: 0
    width: 552px
    height: 492px
    img
      display: block
      transition: 0.5s
    &:hover
      img
        transform: scale(1.1)
        transition: 2.3s
  &__title
    margin-bottom: 21px
    font-size: 24px
    color: $accent2
  &__lines
    display: flex
    align-items: center
    margin-bottom: 30px
    span
      display: block
      height: 1px
      background-color: #303137
      &:first-of-type
        flex-grow: 1
        margin-right: 30px
      &:last-of-type
        flex-shrink: 0
        position: relative
        width: 38px
        &::before,
        &::after
          content: ''
          position: absolute
          right: 0
          top: 0
          width: 12px
          height: 1px
          transform-origin: right center
          transform: rotate(-45deg)
          display: block
          background-color: #303137
        &::after
          transform: rotate(45deg)



  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* steps */
