.scr1
  position: relative
  padding-top: 145px
  padding-left: 62px
  &__title
    margin: 0
    margin-bottom: 29px
    font-size: 50px
    line-height: 1.24 /* 62 / 50 */
    font-weight: 400
    color: #528dc0
    strong
      font-weight: 700
    img
      display: block
      width: 597px
  &__desc
    font-size: 27px
    font-weight: 400
    strong
      font-weight: 700
      color: #e54500
  &__img
    position: absolute
    top: 139px
    left: 571px

    display: block
    width: 967px
    height: 541px

  /* media */

  @media screen and (max-width: 1070px)
    padding-top: 90px
    padding-left: 30px
    &__title
      margin-bottom: 25px
      font-size: 42px
      img
        width: 457px
    &__desc
      font-size: 21px
    &__img
      left: 381px
      width: 617px
      height: 411px

  // max-width 1070px

  @media screen and (max-width: 767px)
    padding-top: 40px
    padding-left: 15px
    padding-right: 15px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 60px
    &__title
      margin-bottom: 15px
      font-size: 30px
      img
        width: 357px
    &__desc
      font-size: 17px
    &__img
      display: none

  // max-width 575px

  @media screen and (max-width: 400px)
    background-position: center -60px !important

  // max-width 400px

/* scr1 */
