.insta
  position: relative
  padding-top: 109px
  padding-bottom: 41px
  padding-right: 105px
  &__df
    display: flex
  &__content
    flex-shrink: 0
    width: 360px
    margin-right: 30px
    padding-top: 101px
  &__slider
    flex-grow: 1
  &__slides
    display: flex
  &__slide
    width: 38.01478352692714%
    margin-right: 30px
    &:last-of-type
      margin-right: 0
    &--two
      width: 19.48051948051948%
  &__item
    height: 359px
    &:not(.insta__item--two)
      .insta__img
        height: 100%
    &--two
      .insta__img
        height: calc(50% - 15px)
  &__img
    display: block
    margin-bottom: 30px
    text-decoration: none
    &:last-of-type
      margin-bottom: 0
    img
      display: block
      width: 100%
      height: 100%
  &__title
    margin-bottom: 14px
    font-size: 48px
    line-height: 1.2
    font-weight: 500
    color: #296293
  &__hash
    display: flex
    align-items: center
    .icon
      width: 29px
      height: 29px
      margin-right: 10px
      fill: $accent
    &-text
      font-size: 24px
      font-weight: 500
      color: $accent


  /* media */
  @media screen and (max-width: 1700px)
    padding-right: 0

  // max-width 1700px

  @media screen and (max-width: 1600px)
    &__title
      font-size: 40px
    &__hash
      &-text
        font-size: 21px
    &__content
      width: 300px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    &__item
      height: 300px
    &__slide
      margin-right: 15px

  // max-width 1400px

  @media screen and (max-width: 1320px)
    &__wr
      padding-left: 15px

  // max-width 1320px

  @media screen and (max-width: 1200px)
    padding-top: 30px
    padding-bottom: 30px
    &__content
      width: 250px
    &__title
      font-size: 34px
    &__hash
      .icon
        width: 23px
        height: 23px
      &-text
        font-size: 18px

  // max-width 1200px

  @media screen and (max-width: 1070px)
    &__wr
      padding-left: 0
    &__df
      flex-direction: column
    &__content
      width: 100%
      padding-top: 0
    &__slider
      width: 100%

  // max-width 1070px

  @media screen and (max-width: 750px)
    &__item
      height: 270px
      &--two
        .insta__img
          height: calc(50% - 5px)
    &__img
      margin-bottom: 10px

  // max-width 750px

  @media screen and (max-width: 575px)
    &__slider
      width: calc(100% + 10px)
      margin-left: -5px
    &__slide
      margin-right: 0
      padding: 0 5px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__item
      height: 220px
    &__title
      margin-bottom: 4px
      font-size: 30px
    &__hash
      .icon
        width: 20px
        height: 20px
        margin-right: 6px
      &-text
        font-size: 16px

  // max-width 500px

/* insta */
