.serv
  position: relative
  margin-bottom: 50px
  .title
    margin-bottom: 30px
    color: #ffffff
    text-align: center
  &__wr
    padding: 30px 50px 3px
    background-color: #3878a7

  &__slides
    display: flex
    flex-wrap: wrap
  &__slide
    width: calc((100% - 36px * 2) / 3)
    margin-right: 36px
    margin-bottom: 36px
    &:nth-of-type(3n)
      margin-right: 0
  &__item
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 292px
    padding: 30px 15px 32px 32px
    box-shadow: 0px 15px 30px 0px rgba(55,119,167,0.15)
    background-color: #488cbe
    border-radius: 6.0px
    z-index: 1
    transition: 0.3s
    p
      margin-bottom: 0
    &:hover
      background-color: rgba(#488cbe,0.4)
  &__title
    font-size: 30px
    line-height: 1.2
    font-weight: 700
    color: #ffffff
    text-transform: uppercase
    small
      display: block
      margin-bottom: -3px
      font-weight: 500
      font-size: 18px
      text-transform: none
  &__price
    font-size: 18px
    line-height: 1.2
    color: #ffffff
    strong
      font-size: 24px
      font-weight: 700
  &__img
    position: absolute
    z-index: -1
  &__slide
    &:nth-of-type(1)
      .serv__img
        top: 64px
        right: -27px
    &:nth-of-type(2)
      .serv__img
        top: 24px
        right: -17px
    &:nth-of-type(3)
      .serv__img
        top: 82px
        right: -10px
    &:nth-of-type(4)
      .serv__item
        padding-left: 230px
      .serv__img
        top: 7px
        left: -23px
    &:nth-of-type(5)
      .serv__item
        padding-left: 200px
      .serv__img
        top: -18px
        left: -93px
    &:nth-of-type(6)
      .serv__item
        padding-left: 218px
      .serv__img
        top: -13px
        left: -55px

  /* media */
  @media screen and (max-width: 1700px)
    &__wr
      padding-left: 30px
      padding-right: 30px
    &__title
      font-size: 25px
    &__price
      font-size: 16px
      strong
        font-size: 21px

  // max-width 1700px

  @media screen and (max-width: 1600px)
    &__slide
      width: calc((100% - 15px * 2) / 3)
      margin-right: 15px
    &__slide
      &:nth-of-type(4)
        .serv__item
          padding-left: 180px

  // max-width 1600px

  @media screen and (max-width: 1500px)
    &__slide
      width: calc((100% - 30px) / 2)
      margin-right: 30px
      &:nth-of-type(3n)
        margin-right: 30px
      &:nth-of-type(2n)
        margin-right: 0
      &:nth-of-type(4)
        .serv__item
          padding-left: 230px

  // max-width 1500px

  @media screen and (max-width: 1070px)
    &__slide
      width: 100%
      padding: 15px
      margin-right: 0
      margin-bottom: 0
      &:nth-of-type(3n)
        margin-right: 0
    &__dots
      .slick-dots
        margin-top: 0
        margin-bottom: 20px
        li
          &:not(.slick-active)
            button
              background-color: #fff

  // max-width 1070px

  @media screen and (max-width: 575px)
    &__wr
      padding-top: 15px
      padding-left: 15px
      padding-right: 15px
    .title
      margin-bottom: 10px

  // max-width 575px

  @media screen and (max-width: 500px)
    margin-bottom: 30px
    &__title
      font-size: 18px
    &__slide
      padding: 15px 10px
      &:nth-of-type(3)
        .serv__img
          top: 32px
      &:nth-of-type(4)
        .serv__item
          padding-left: 150px
      &:nth-of-type(5)
        .serv__item
          padding-left: 150px
        .serv__img
          top: 10px
          left: -53px
      &:nth-of-type(6)
        .serv__item
          padding-left: 150px
        .serv__img
          top: 10px
          left: -25px
    &__slider
      width: calc(100% + 20px)
      margin-left: -10px
    &__item
      height: 232px
    &__img
      max-width: 70%
      height: 100%
      width: auto
      img
        max-width: 100%
        max-height: 100%
        width: auto

  // max-width 500px

  @media screen and (max-width: 400px)
    &__slide
      padding: 15px 5px
    &__slider
      width: calc(100% + 10px)
      margin-left: -5px
    &__price
      font-size: 14px
      strong
        font-size: 19px
    &__item
      padding: 20px 15px 22px 15px
    &__title
      font-size: 16px

  // max-width 400px

/* serv */
