*{
	margin:0;
	padding:0;
}
html{
	background:#fff;
}
body{
    font-family: 'google_sansregular';
	font-size:16px;
	color:#303232;
	line-height:1.3;
	overflow-x:hidden;
}
div{
transition:0.3s;
}
.clear{
	clear:both;
	height:0;
	overflow:hidden;
}
.hide{ display:none !important; }
input, select, textarea{
	font-family:inherit;
	font-size:inherit;
}
.submit{ cursor:pointer; }
fieldset{ border:none; }
label{ cursor:pointer; }
a:hover{
	cursor:pointer;
	text-decoration:none;
}
p{
margin:0px;
}
a{ color:inherit; }
a img{ border:none; }
.nom{ margin:0 !important; }
a.rev{ text-decoration:none; }
a.rev:hover{ text-decoration:underline; }
.ld{ float:left; }
.rd{ float:right; }
.first{ margin-top:0 !important; }
.last{ margin-bottom:0 !important; }
.ca{ text-align:center; }
.ra{ text-align:right; }
.la{ text-align:left; }
.inh{ color:inherit !important; }
.upper{ text-transform:uppercase; }
.vam{ vertical-align:middle; }
.nowrap{ white-space:nowrap; }
.in{
	width:960px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.clearfix:before,.clearfix:after{
content:"";
display:table;
}
.clearfix:after{
clear:both;
}
.border_fort{
behavior: url(PIE.htc);
}
.margin_r{
margin-right:0px!important;
}

input, textarea {outline:none;}

a {
    outline: 0;
}
a {
    outline: none;
}
a:active, a:focus { outline: none; }


a.spolier.collapsed:after {
  content: "[ - ]";
}
a.spoiler.collapsed:after {
  content: "[ + ]";
}
.nav-tabs{
margin-bottom:15px;
}


.breadcrumb > li + li:before{
  content:"\f105";
  font-family:'fontAwesome';
}




/*------------------------------------------------------------------------   STANDART   ------------------------------------------------------------------------*/

.header_block{
display:block;
height:980px;
background:url(../img/bgr1.jpg) no-repeat 50% 0;
}
.adres_hbi{
background:url(../img/adres_hbi.png) no-repeat 0 50%;
display:block;
height:47px;
padding-left:62px;
margin-top:30px;
padding-top:4px;
}
.adres_hbi p{
font-size:14px;
color:#303232;
margin-bottom:3px;
}

.phone_hbi{
background:url(../img/phone_hbi.png) no-repeat 0 50%;
display:block;
height:47px;
padding-left:59px;
margin-top:30px;
padding-top:4px;
}
.phone_hbi p{
font-size:16px;
color:#303232;
margin-bottom:0px;
}
.phone_hbi span{
font-family: 'google_sansbold';
}

.logo_hbi{
background:url(../img/logo.png) no-repeat;
display:block;
width:77px;
height:81px;
margin:0px auto;
margin-top:12px;
}
.open_ex{
display:none;
}

.header_menu{
display:block;
height:47px;
background:url(../img/style_burger.png);
}

.header_in{
margin-bottom:18px;
}
.header_menu_in{
display:block;
text-align:center;
transition:0.3s;
}
.header_menu_in a{
font-family: 'google_sansbold';
color:#303232;
font-size:16px;
text-transform:uppercase;
height:47px;
line-height:47px;
text-decoration:none !important;
transition:0.3s;
}
.header_menu_in a:hover{
text-decoration:underline !important;
}
.header_menu_in li{
display:inline-block;
margin-right:92px;
transition:0.3s;
}
.header_menu_in li:last-child{
margin-right:0px;
}

.title_tb{
color:#303232;
font-size:66px;
font-family: 'google_sansbold';
margin-left:-3px;
}
.simple_tb{
color:#303232;
font-size:33px;
font-family: 'google_sansmedium';
margin-bottom:50px;
}
.pay_tb{
color:#303232;
font-size:24px;
font-family: 'google_sansmedium';
margin-bottom:65px;
background:url(../img/lit.png) no-repeat 0 50%;
padding-left:45px;
}
.pay_tb span{
font-family: 'google_sansbold';
font-size:30px;
}
.btn_tb{
background:url(../img/btn_tb.png) no-repeat;
display:block;
width:303px;
height:110px;
text-align:center;
color:#fff!important;
font-size:16px;
transition:0.3s;
margin-left:-15px;
text-decoration:none !important;
}
.btn_tb span{
display:block;
padding-top:23px;
font-family: 'google_sansmedium';
}
.btn_tb:hover{
background:url(../img/btn_tb_h.png) no-repeat;
transition:0.3s;
text-decoration:none !important;
}
.title_block{
margin-top:118px;
}
.header_content{
padding:0px 15px;
}

.right_call{
background:url(../img/tur.png) no-repeat 100% 0;
display:block;
width:213px;
height:147px;
margin-top:180px;
}
.right_call span{
color:#303232;
font-size:16px;
text-align:right;
padding-top:48px;
display:block;
font-family: 'google_sansbold';
float:left;
}
.right_call:hover span{
text-decoration:underline !important;
}

.people_block{
background:url(../img/people_block.jpg) no-repeat 50% 0;
display:block;
height:2292px;
background-size:cover;
}


.title_pbi h2{
color:#303232;
font-size:40px;
font-family: 'google_sansmedium';
line-height:1.4;
}
.title_pbi span{
color:#8fab4f;
}
.title_pbi{
padding:0px 15px;
margin-bottom:30px;
}
.own_img img{
display:block;
width:100%;
}
.own_img{
display:block;
background:#fff;
padding:16px;
-webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.42);
}
.stim_sys{
margin-bottom:60px;
}
.tow_block p{
color:#303232;
font-size:30px;
font-family: 'google_sansmedium';
margin-bottom:30px;
}
.tow_block span{
color:#666666;
font-size:16px;
line-height:1.5;
}
.ots_tow{
margin-bottom:100px;
}
.text_own{
padding-top:20px;
padding-left:50px;
}
.go_port_href{
text-align:center;
text-decoration:none !important;
display:block;
}
.go_port_href:hover{
color:#303232;
text-decoration:underline !important;
}
.go_port_href p{
color:#303232;
font-size:16px;
font-family: 'google_sansmedium';
}
.go_port_href img{
text-align:center;
display:block;
margin:0px auto;
margin-bottom:27px;
}
.small_stim_sys{
margin-bottom:50px;
}
.go_port{
padding-top:px;
}


.cloud_block{
background:url(../img/cloud_block.png) no-repeat 50% 0;
display:block;
height:2026px;
background-size:cover;
margin-top:30px;
}
.title_clb h3{
color:#303232;
font-size:40px;
font-family: 'google_sansmedium';
}
.title_clb{
padding:0px 15px;
margin-bottom:50px;
}

.light_block_sys{
display:block;
width:100%;
height:350px;
-webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 25px 0px #b8d6e1;
background:#fff;
}
.light_block_sys{
text-align:center;
padding-top:40px;
position:relative;
}
.light_block_sys img{
margin:0px auto;
margin-bottom:23px;
display:block;
}
.light_block_sys p{
color:#303232;
font-size:24px;
font-family: 'google_sansmedium';
margin-bottom:20px;
}
.light_block_sys span{
color:#666666;
font-size:16px;
font-family: 'google_sansmedium';
line-height:1.5;
}
.lower_span{
display:block;
width:88%;
height:12px;
position:absolute;
left:15px;
bottom:-12px;
-webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 25px 0px #b8d6e1;
background:#fff;
}
.whiter_span{
display:block;
width:100%;
height:23px;
background:#fff;
position:absolute;
left:0px;
bottom:0px;
z-index:1000;
}

.type_clb_block{
margin-bottom:80px;
}
.control_sys_clb{
margin-bottom:30px;
}
.control_sys_clb a{
display:block;
width:194px;
height:44px;
line-height:41px;
color:#303232;
font-size:18px;
border:1px solid #999999;
text-align:center;
border-radius:100px;
text-decoration:none !important;
transition:0.3s;
}
.control_sys_clb a:hover{
color:#8fab4f;
border:1px solid #8fab4f;
}
.active_clb a{
color:#8fab4f;
border:1px solid #8fab4f;
}
.control_sys_clb li{
float:left;
list-style:none;
margin-right:10px;
}
.change_clb{
background:#fff;
padding:20px;
-webkit-box-shadow: 0px 0px 35px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    0px 0px 35px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 35px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 35px 0px #b8d6e1;	
}
.for_control_clb{
padding:0px 15px;
}
.img_clb img{
width:100%;
}
.img_clb{
transition:0.3s;
}


.list_co_i li{
list-style:none;
}
.content_in_clb{
padding-left:40px;
}
.title_co_i{
color:#303232;
font-size:30px;
font-family: 'google_sansmedium';
margin-bottom:22px;
}
.list_co_i p{
color:#666666;
font-size:16px;
font-family: 'google_sansbold';
background:#fff;
}
.list_co_i li{
margin-bottom:20px;
background:url(../img/imp.png) repeat-x 0 73%;
}
.list_co_i li:last-child{
margin-bottom:12px;
}
.color_cbl{
background:#f2f6f7;
padding:20px;
margin-bottom:22px;
}
.color_cbl p{
color:#666666;
font-size:14px;
margin-bottom:20px;
line-height:1.4;
}
.color_cbl p:last-child{
margin-bottom:0px;
}
.btn_green{
background:url(../img/btn_green.png) no-repeat;
display:block;
width:217px;
height:55px;
line-height:52px;
color:#fff;
font-size:14px;
text-align:center;
text-decoration:none !important;
transition:0.3s;
}
.btn_green:hover{
color:#fff;
text-decoration:none !important;
background:url(../img/btn_green_h.png) no-repeat;
transition:0.3s;
}
.content_in_clb{
transition:0.3s;
}


.left_ff p{
color:#303232;
font-size:36px;
display:block;
font-family: 'google_sansmedium';
}
.left_ff span{
color:#8fab4f;
font-family: 'google_sansbold';
}

.big_form{
background:url(../img/big_form.png) no-repeat;
display:block;
width:440px;
height:573px;
margin-right:-25px;
position:relative;
}
.green_spo{
background:url(../img/green_spo.jpg) no-repeat;
display:block;
width:12px;
height:17px;
position:absolute;
left:55px;
top:19px;
}
.big_f_in_mar{
display:block;
width:338px;
margin:0px auto;
text-align:center;
padding-top:65px;
}
.center_mar{
margin:0px auto;
}
.title_big_f{
color:#303232;
font-size:20px;
font-family: 'google_sansbold';
margin-bottom:18px;
}
.inf_big_f{
color:#666666;
font-size:16px;
margin-bottom:45px;
}
.list_big_f li{
list-style:none;
margin-bottom:20px;
}
.list_big_f li:last-child{
margin-top:35px!important;
}
.form_bff{
display:block;
width:259px;
border:0px;
height:61px;
margin:0px auto;
background:#f2f6f7;
border-radius:5px;
line-height:61px;
color:#303232;
font-size:14px;
padding-left:20px;
}

.labe_fb{
margin-top:-15px;
display:block;
}
.labe_fb input{
margin-top:4px;
float:left;
margin-right:-8px;
}
.labe_fb label{
font-size:12px;
color:#121415;
font-family: 'google_sansregular'!important;
margin-left:3px;
font-weight:none!important;
}

.car_able_block{
background:url(../img/car_able_block.jpg) no-repeat 50% 0;
display:block;
height:1456px;
background-size:cover;
margin-top:30px;
}
.price_block{
display:block;
width:100%;
height:455px;
margin:0px auto;
text-align:center;
transition:0.3s;
}
.price_bg1{
background:url(../img/pr1.jpg) no-repeat;
}
.price_bg2{
background:url(../img/pr2.jpg) no-repeat;
}
.price_bg3{
background:url(../img/pr3.jpg) no-repeat;
}
.price_bg4{
background:url(../img/pr4.jpg) no-repeat;
}
.price_block:hover span{
background:none;
}
.price_block:hover{
-webkit-box-shadow: 0px 0px 35px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    0px 0px 35px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 35px 0px rgba(50, 50, 50, 0.42);
}
.for_c{
text-align:center;
}
.title_price{
color:#303232;
font-size:20px;
text-transform:uppercase;
font-family: 'google_sansbold';
padding-top:50px;
height:120px;
}
.simple_price{
margin-bottom:40px;
color:#303232;
font-size:16px;
}
.like_href_price span{
color:#8fab4f;
font-size:14px;
font-family: 'google_sansmedium';
background:url(../img/nm.png) repeat-x 0 100%;
padding-bottom:5px;
}
.double_unpad{
padding-top:37px;
}
.thirty_unpad{
margin-bottom:20px;
}
.pos_home{
margin:0px auto;
margin-top:40px;
}

.lef_1{
color:#8fab4f;
font-size:14px;
font-family: 'google_sansmedium';
margin-bottom:20px;
}
.lef_1 span{
color:#8fab4f;
font-size:24px;
font-family: 'google_sansbold';
padding-right:15px;
}
.lef_2{
color:#303232;
font-size:36px;
font-family: 'google_sansmedium';
margin-bottom:7px;
}
.lef_3{
color:#303232;
font-size:42px;
font-family: 'google_sansbold';
text-transform:uppercase;
letter-spacing:-1px;
}
.lef_4{
color:#8fab4f;
font-size:60px;
font-family: 'google_sansbold';
text-transform:uppercase;
letter-spacing:-1px;
font-weight:bold;
margin-top:10px;
}

.map_block{
background:#f2f6f7;
display:block;
height:799px;
margin-top:-2px;
}
.left_mpl{
background:url(../img/mpl.png) no-repeat;
display:block;
width:46px;
height:46px;
text-align:center;
line-height:46px;
color:#fff;
font-family: 'google_sansbold';
font-size:24px;
margin-right:17px;
}
.map_list li{
list-style:none;
}
.right_mpl{
width:80%;
font-size:14px;
color:#666666;
padding-top:5px;
line-height:1.4;
}
.right_mpl span{
font-weight:bold;
}
.map_list{
margin-top:px;
}
.title_map h2{
color:#303232;
font-size:40px;
font-family: 'google_sansmedium';
line-height:1.3;
margin-bottom:40px;
}
.map_block_in{
padding-top:35px;
}
.map_list li{
margin-bottom:20px;
}
.for_exist_map{
display:none;
}
.for_frame_map{
margin-top:170px;
}
.for_frame_map iframe{
-webkit-box-shadow: 0px 0px 35px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    0px 0px 35px 0px rgba(50, 50, 50, 0.42);
box-shadow:         0px 0px 35px 0px rgba(50, 50, 50, 0.42);
border-radius:20px;
}

.footer_type{
background:#303232;
padding-top:30px;
}

.logo_footer{
background:url(../img/logo_footer.png) no-repeat;
display:block;
width:83px;
height:87px;
margin-bottom:35px;
}

.low_dm{
color:#fff;
font-size:14px;
margin-bottom:40px;
}
.footer_in{
padding:0px 15px;
}
.list_foot a{
color:#ffffff;
font-size:14px;
text-decoration:none !important;
}
.list_foot a:hover{
text-decoration:underline !important;
}
.list_foot li{
margin-bottom:20px;
list-style:none;
}
.stand_foot{
display:block;
margin-right:35px;
}
.big_green_foot a{
color:#8fab4f;
font-size:16px;
text-transform:uppercase;
font-family: 'google_sansbold';
}

.partner_dm li{
float:left;
margin-right:20px;
}
.pos_for_par{
margin-bottom:10px;
}
.ax_cl{
display:none;
}


.company{
background:url(../img/company.jpg) no-repeat 100% 50%;
display:block;
width:162px;
height:24px;
line-height:24px;
margin-left:5px;
margin-top:-3px;
padding-left:28px;
}
.footer_end{
border-top:1px solid #434a38;
background:#303232;
padding-top:25px;
padding-bottom:23px;
}
.copy_block a{
color:#8a8b8b;
font-size:13px;
}
.copy_block a:hover{
text-decoration:underline !important;
}
.copy_block p{
color:#8a8b8b;
font-size:13px;
}
.copy_block{
margin-right:65px;
float:left;
}
.mar_cp_right{
margin-right:0px;
}



/*---------- MODAL_START -----------*/

#myModal1{
position:absolute;
top:20%;
z-index:20600000;
margin:0px auto;
width:100%;
position:fixed;
}
.modal-backdrop{
z-index:1050000;
background:#000!important;
position:absolute;
margin:0px auto;
width:100%;
height:100%;
position:fixed;
}
.modal-content{
width:276px;
margin:0px auto!important;
}
.list_modal{
list-style:none;
}
.for_mod1_cont h4{
text-align:center;
font-size:20px;
}
.open-modal{
padding:0px;
}
.form_rb{
display:block;
width:100%;
height:47px;
line-height:47px;
background:#f1f1f1;
border:none;
border-radius:8px;
color:#2e2929;
font-size:16px;
font-family: 'FuturaPT-Medium';
padding-left:20px;
margin-bottom:15px;
transition:0.3s;
}
.form_rb:hover{
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
border-radius:8px;
}
.btn_pro{
background:#8b2b33;
display:block;
width:100%;
height:51px;
line-height:51px;
border-radius:8px;
transition:0.3s;
color:#fff!important;
text-decoration:none !important;
margin:0px auto;
text-align:center;
}
.btn_pro:hover{
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
border-radius:8px;
color:#fff!important;
text-decoration:none !important;
}

/*---------- MODAL_END -----------*/



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE 767px   ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (max-width: 767px){
  .masonry[data-columns]::before {
    content:'1 .col-xs-12';
  }


  .adres_hbi{
  width:230px;  
  float:none;
  margin:0px auto; 
  margin-bottom:15px;  
  }
  .phone_hbi{
  width:230px;    
  float:none;
  margin:0px auto;  
  }
  .for_reverse{
  display: flex; flex-direction: column-reverse; 
  }
  .logo_hbi{
  float:left;
  margin-bottom:20px;
  position:relative;  
  z-index:1000;
  }  
  .open_ex  {
  display:block;
  width:100%;
  top:25px;
  right:0px; 
  position:absolute;   
  }
  .none_border{
  border:0px!important;
  }
  .literaly{
  background:none;
  }
  .style_toogle{
  background:#8fab4f!important;
  height:43px;  
  border:2px solid #c6c6bd!important;  
  }
  .style_toogle:hover{
  background:#b4cf75!important;
  }
  .open_resp{
  background:#8fab4f!important;
  z-index:2000;
  border:0px;
  margin-top:20px;
  }
  .open_resp a{
  text-transform:uppercase;
  color:#fff!important;
  font-family: 'google_sansbold';
  font-size:16px;
  }
  .open_resp a:hover{
  background:url(../img/style_burger.png);
  color:#303232!important;
  }
  .mar_nav{
  margin-top:0px;
  margin-bottom:0px;
  border-top:1px solid #;
  border-bottom:1px solid #;
  }
  .header_menu{
  display:none;
  }
  
  .header_block{
  background-size:cover;
  height:100%;
  padding-bottom:30px;
  }
  .title_block{
  margin-top:30px;
  float:none;
  }
  .title_tb{
  font-size:34px;
  transition:0.3s;
  margin-top:0px;
  text-align:center;
  margin-bottom:20px;
  }
  .simple_tb{
  font-size:16px;
  transition:0.3s;
  text-align:center;
  margin-bottom:20px;
  }
  .pay_tb{
  text-align:center;
  display:block;
  width:200px;
  margin:0px auto;
  margin-bottom:30px;  
  font-size:18px;
  padding:0px;
  padding-left:30px;
  }
  .pay_tb span{
  font-size:20px;
  }
  .simple_tb br{
  display:none;  
  }
  .header_content{
  position:relative;
  background:red;
  padding-bottom:30px;
  background:url(../img/style_burger.png);
  margin-left:15px;
  margin-right:15px;
  border-radius:20px;
  border:1px solid #979998;
  margin-top:10px;
  }
  .right_call{
  background:url(../img/tur.png) no-repeat 50% 0;
  float:left;
  transition:0.3s;
  margin:0px auto;
  float:none;
  width:147px;
  text-align:center;
  margin-top:10px;
  }
  .right_call span{
  float:none;
  text-align:center;
  padding-top:110px;
  }
  .btn_tb{
  background:url(../img/btn_tb2.png) no-repeat;
  display:block;
  width:230px;
  height:91px;
  margin:0px auto; 
  }
  .btn_tb:hover{
  background:url(../img/btn_tb2_h.png) no-repeat;
  }
  .btn_tb span{
  padding-top:18px;
  font-size:14px;
  }
  
  .title_pbi h2{
  font-size:20px;
  text-align:center;
  }
  .title_pbi br{
  display:none;
  }
  .title_pbi{
  margin-bottom:30px;
  }
  .own_img{
  padding:10px;
  }
  .stim_sys{
  margin-bottom:25px;
  }
  .text_own{
  padding:0px;  
  }
  .ots_tow{
  margin-bottom:20px;
  }
  .tow_block p{
  font-size:18px;
  text-align:center;
  margin-bottom:10px;
  }
  .tow_block span{
  font-size:15px;
  }
  .tow_block br{
  display:none;
  }
  .go_port{
  padding:0px;
  margin:0px;
  }
  .small_stim_sys{
  margin-bottom:20px;
  }
  .go_port_href img{
  margin-bottom:10px;
  }
  .people_block{
  height:100%;
  padding-bottom:500px;
  }
  
  .people_block{
  height:100%;
  padding-bottom:450px;
  }
  .light_block_sys{
  margin-bottom:20px;
  height:100%;
  padding-top:20px;
  }

  .lower_span{
  display:none;
  }
  .title_clb h3{
  font-size:20px;
  text-align:center;
  }  
  .title_clb{
  margin-bottom:30px;
  }
  .light_block_sys p{
  font-size:20px;
  margin-bottom:15px;
  }
  .cloud_block{
  height:100%;
  }
  
  
  .img_clb{
  margin-bottom:30px;
  }
  .control_sys_clb a{
  width:100%;
  display:block;    
  }
  .control_sys_clb li{
  float:none;
  margin:0px;
  margin-bottom:7px;
  }
  .control_sys_clb li:last-child{
  margin:0px;
  }
  .type_clb_block{
  margin-bottom:20px;
  } 
  .change_clb{
  padding:15px;
  }  

  .title_co_i{
  font-size:24px;
  text-align:center;
  }
  .list_co_i li{
  margin-bottom:10px;
  }
  .list_co_i{
  margin-bottom:10px;
  }
  .color_cbl{
  padding:15px;
  }
  .color_cbl p{
  line-height:1.2;
  margin-bottom:15px;  
  }
  .content_in_clb{
  padding-left:0px;
  }
  .btn_green{
  margin:0px auto;
  }
  .list_co_i p{
  font-size:12px;
  }
  
  .left_ff{
  padding-top:30px;
  margin-bottom:20px;
  }
  .left_ff br{
  }
  .left_ff p{
  font-size:18px;
  text-align:center;
  } 
  .big_form{
  float:none;
  margin:0px auto;
  background:none;
  width:100%;
  height:100%;
  padding-bottom:20px;
  } 
  .right_ff{
  background:#fff;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.42);
  box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.42);
  box-shadow:         0px 0px 25px 0px #b8d6e1;  
  } 
  .big_f_in_mar{
  width:100%;
  padding:0px 15px;
  padding-top:30px;
  } 
  .title_big_f{
  font-size:18px;
  margin-bottom:10px;
  } 
  .inf_big_f {
  font-size:15px;
  margin-bottom:20px;
  } 
  .form_bff{
  width:100%;
  height:50px;
  line-height:50px;
  } 
  .list_big_f li{
  margin-bottom:15px!important;
  }  
  .list_big_f li:last-child{
  margin:0px!important;
  }
  .green_spo{
  top:-1px;
  left:25px;
  }
  .labe_fb{
  text-align:left;
  }
  .labe_fb input{
  margin-bottom:-15px;
  float:left;
  }
  .labe_fb label{
  font-size:12px;
  padding-left:13px;
  }
  .price_block{
  display:block;    
  margin:0px auto;
  width:100%;
  height:100%;
  margin-bottom:20px;
  padding-bottom:280px;
  }
  .price_bg1{
  background:url(../img/pr1.jpg) no-repeat 50% 50%;
  background-size:cover;
  }
  .price_bg2{
  background:url(../img/pr2.jpg) no-repeat 50% 50%;
  background-size:cover;
  }
  .price_bg3{
  background:url(../img/pr3.jpg) no-repeat 50% 50%;
  background-size:cover;
  }
  .price_bg4{
  background:url(../img/pr4.jpg) no-repeat 50% 50%;
  background-size:cover;
  }  
  .car_able_block{
  height:100%;
  padding-bottom:10px;
  }

  .title_price{
  font-size:18px;
  }
  
  .pos_home{
  margin:0px auto;
  margin-top:0px;  
  }    
  
  .left_ff_again{
  background:url(../img/style_burger.png);
  padding:15px;
  margin-top:30px;
  border-radius:20px;
  margin-bottom:30px;
  border:2px solid #8fab4f;
  }  
  .lef_1{
  color:#303232;
  margin-bottom:15px;
  }
  .lef_1 span{
  color:#303232;
  }
  .lef_2{
  font-size:20px;
  letter-spacing:-1px;
  }
  .lef_3{
  font-size:22px;
  letter-spacing:-1px;
  } 
  .lef_4{
  font-size:34px;
  text-align:center;
  color:#303232;
  }    
  
  .for_exist_map{
  display:block;    
  }
  .map_block{
  background:#f2f6f7;
  }
  .title_map h2{
  text-align:center;
  font-size:20px;
  margin-bottom:20px;
  }
  .map_block_in{
  padding-top:0px; 
  margin-left:-25px;
  margin-right:-25px;
  }
  .map_block{
  height:100%;
  }
  .left_mpl{
  float:none;
  margin:0px auto;
  padding:0px;
  margin-bottom:5px;
  }  
  .right_mpl{
  float:none;
  text-align:justify;
  margin:0px auto;
  padding:0px;
  }
  .for_exist_map iframe{
  height:350px;
  }
  .none_imp{
  display:none;
  }
  
  .stand_foot{
  float:none;
  margin:0px;
  }
  .logo_footer{
  margin:0px auto;
  margin-bottom:15px;
  }
  .low_dm{
  text-align:center;
  margin-bottom:15px;
  }
  .list_foot{
  margin-bottom:10px;
  margin-top:10px;
  }
  .list_foot li{
  margin-bottom:3px;
  text-align:center;
  }
  .partner_dm{
  display:block;  
  text-align:center;
  }
  .partner_dm li{
  float:none;
  display:inline-block;
  }
  .copy_block{
  float:none;
  display:block;
  width:100%;
  text-align:center;  
  margin-bottom:15px;
  }
  .company{
  margin:0px auto;
  padding-right:65px;
  }
  .mar_cp_right{
  margin:0px;
  padding-right:27px;
  }
  .footer_type{
  padding-bottom:20px;
  }
  
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE 990px   ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 767px) and (max-width: 990px){
  .masonry[data-columns]::before {
    content:'2 .col-xs-6';
  }
  
  .header_menu_in li{
  display:inline-block;
  margin-right:25px;
  }
  .header_menu_in a{
  font-size:14px;
  }
  .title_tb{
  font-size:56px;
  transition:0.3s;
  }
  .simple_tb{
  font-size:18px;
  transition:0.3s;
  }
  .header_content{
  position:relative;
  }
  .right_call{
  float:left;
  transition:0.3s;
  margin-top:29px;
  margin-left:22px;
  }
  
  .ots_tow{
  margin-bottom:20px;
  }
  .text_own{
  padding-left:0px;
  padding-top:0px;
  }
  .text_own br{
  display:none;
  }
  .tow_block p{
  margin-bottom:5px;
  font-size:23px;
  }
  .tow_block span{
  font-size:14px;
  } 
  .go_port_href p{
  font-size:14px;
  }
  .small_stim_sys{
  margin-bottom:15px;
  }
  .go_port_href img{
  margin-bottom:15px;
  }
  .title_pbi h2{
  font-size:30px;
  }
  .people_block{
  height:100%;
  padding-bottom:450px;
  margin-top:-50px;
  }
  .light_block_sys{
  margin-bottom:50px;
  }
  .lower_span{
  width:91%;
  }
  .title_clb h3{
  font-size:30px;
  text-align:center;
  }
  
  .control_sys_clb a{
  width:170px;
  }
  .control_sys_clb li:last-child{
  margin-right:0px;
  }
  .type_clb_block{
  margin-bottom:40px;
  }
  
  .title_co_i{
  font-size:24px;
  }
  .list_co_i li{
  margin-bottom:10px;
  }
  .list_co_i{
  margin-bottom:10px;
  }
  .color_cbl{
  padding:15px;
  }
  .color_cbl p{
  line-height:1.2;
  margin-bottom:15px;
  }
  .content_in_clb{
  padding-left:20px;
  }
  
  .cloud_block{
  height:100%;
  }
  .left_ff{
  padding-top:30px;
  }
  .left_ff br{
  display:none;
  }
  .left_ff p{
  font-size:28px;
  }
  .price_block{
  display:block;    
  margin:0px auto;
  width:100%;
  height:100%;
  margin-bottom:30px;
  padding-bottom:280px;
  }
  .price_bg1{
  background:url(../img/pr1.jpg) no-repeat 50% 50%;
  background-size:cover;
  }
  .price_bg2{
  background:url(../img/pr2.jpg) no-repeat 50% 50%;
  background-size:cover;
  }
  .price_bg3{
  background:url(../img/pr3.jpg) no-repeat 50% 50%;
  background-size:cover;
  }
  .price_bg4{
  background:url(../img/pr4.jpg) no-repeat 50% 50%;
  background-size:cover;
  }  
  .car_able_block{
  height:100%;
  }
  
  .pos_home{
  margin:0px auto;
  margin-top:10px;
  } 
  .left_ff_again{
  background:url(../img/style_burger.png);
  padding:15px;
  margin-top:60px;
  border-radius:20px;
  border:2px solid #8fab4f;  
  }  
  .lef_1{
  color:#303232;
  margin-bottom:15px;
  }
  .lef_1 span{
  color:#303232;
  }
  .lef_2{
  font-size:20px;
  letter-spacing:-1px;
  }
  .lef_3{
  font-size:22px;
  letter-spacing:-1px;
  } 
  .lef_4{
  font-size:36px;
  text-align:center;
  color:#303232;
  }  
  .for_exist_map{
  display:block;    
  }
  .map_block{
  background:#f2f6f7;
  }
  .title_map h2{
  text-align:center;
  font-size:28px;
  margin-bottom:20px;
  }
  .map_block_in{
  padding-top:20px;  
  }
  .map_block{
  height:100%;
  }
  .none_imp{
  display:none;
  }
  
  .stand_foot{
  margin-right:33px;
  }
  .list_foot a{
  letter-spacing:-1px;
  font-size:13px;
  }
  .list_foot li{
  margin-bottom:10px;
  }
  .big_green_foot a{
  font-size:14px;
  }
  .own_mar_dm{
  margin-right:0px;
  }

  .ax_cl{
  display:block;  
  }
  .other_float{
  float:left;
  margin-top:-40px;
  }
  .low_dm{
  margin-bottom:20px;
  }
  .logo_footer{
  margin-bottom:20px;
  }
  
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE 1199px   ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 991px) and (max-width: 1199px){
  .masonry[data-columns]::before {
    content:'3 .col-xs-4';
  }
  .header_menu_in li{
  display:inline-block;
  margin-right:52px;
  } 
  .title_tb{
  font-size:56px;
  transition:0.3s;
  }
  .simple_tb{
  font-size:18px;
  transition:0.3s;
  }
  .ots_tow{
  margin-bottom:50px;
  }
  .text_own{
  padding-left:0px;
  padding-top:0px;
  }
  .tow_block p{
  margin-bottom:10px;
  font-size:26px;
  }
  .tow_block span{
  font-size:16px;
  }
  .people_block{
  height:2050px;
  }  
  .lower_span{
  width:85.5%;
  }
  .light_block_sys span{
  font-size:15px;
  }
  
  .left_ff p{
  font-size:32px;
  }
  .simple_price{
  font-size:14px;
  }
  
  
  .map_list li{
  margin-bottom:15px;
  } 
  .title_map h2{
  margin-bottom:30px;
  }  
  
  .stand_foot{
  margin-right:33px;
  }
  .list_foot a{
  letter-spacing:-1px;
  font-size:13px;
  }
  .big_green_foot a{
  font-size:14px;
  }
  .own_mar_dm{
  margin-right:0px;
  }
  
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE 1200px   ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 1200px){
  .masonry[data-columns]::before {
    content:'3 .col-xs-4';
  }
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------      FONTS      ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'google_sansbold';
    src: url('googlesans-bold.woff2') format('woff2'),
         url('googlesans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'google_sansbold_italic';
    src: url('googlesans-bolditalic.woff2') format('woff2'),
         url('googlesans-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'google_sansitalic';
    src: url('googlesans-italic.woff2') format('woff2'),
         url('googlesans-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'google_sansmedium';
    src: url('googlesans-medium.woff2') format('woff2'),
         url('googlesans-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'google_sansmedium_italic';
    src: url('googlesans-mediumitalic.woff2') format('woff2'),
         url('googlesans-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'google_sansregular';
    src: url('googlesans-regular.woff2') format('woff2'),
         url('googlesans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------      FONTS      ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/


