$y: #fff200
$r: #ed1c24

$accent: $y
$accent2: $r

$icon: $accent
$body-color: #333333

// $grad: linear-gradient(0.0deg, #ffbd09 0%, #ffe799 100%)

$font: 'HelveticaNeueCyr', sans-serif

$form-font: $font
$title-font: $font

// Миксин замены цвета placeholder у input. Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000, 14px)
@mixin placeholder($color,$size)
  &::-webkit-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &::-moz-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &:-ms-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font

