mixin footer(logotype)
  footer.footer(id="footer")
    a.to-top(href="#page_wr")
      i.fa.fa-angle-up
    .footer__top
      .container
        .footer__df
          .footer__info
            .logo__wrap
              if logotype == "a"
                #{logotype}.logo(href="index.html")
                  img(src="img/logo--footer.png", alt="лого")
              else
                #{logotype}.logo
                  img(src="img/logo--footer.png", alt="лого")

            .footer__address
              p
                strong г. Симферополь, ул. Маяковского,&nbsp;14
                br
                a(href="tel:+79787614119" rel="nofollow") +7 (978) 761 41 19
                br
                a(href="mailto:f-simf@lukskrym.ru" rel="nofollow") f-simf@lukskrym.ru

            .footer__address
              p
                strong г. Севастополь, ул. Курганная,&nbsp;6&nbsp;,&nbsp;оф.&nbsp;14
                br
                a(href="tel:+79789083406" rel="nofollow") +7 (978) 908 34 06
                br
                a(href="mailto:info@lukskrym.ru" rel="nofollow") info@lukskrym.ru

            .btn__wrap.btn__wrap--simple
              a.btn.open-modal(href="#modal__price") Скачать прайс

          .footer__menu
            .main-menu

              .footer__col
                ul.menu
                  li.menu-item.menu-item-has-children
                    a(href="#") О компании
                    button.menu-arrow
                    ul.sub-menu
                      li.menu-item
                        a(href="#") О нас
                      li.menu-item
                        a(href="#") Команда
                      li.menu-item
                        a(href="#") Этапы работы
                      li.menu-item
                        a(href="#") Отзывы
                      li.menu-item
                        a(href="#") Вопрос-ответ

              .footer__col
                ul.menu
                  li.menu-item.menu-item-has-children
                    a(href="#") Тарифы
                    button.menu-arrow
                    ul.sub-menu
                      li.menu-item
                        a(href="#") Standart
                      li.menu-item
                        a(href="#") Business
                      li.menu-item
                        a(href="#") Premium

              .footer__col
                ul.menu
                  li.menu-item.menu-item-has-children
                    a(href="#") Виды объектов
                    button.menu-arrow
                    ul.sub-menu
                      li.menu-item
                        a(href="#") Магазины
                      li.menu-item
                        a(href="#") Гостиницы и отели
                      li.menu-item
                        a(href="#") Рестораны и кафе
                      li.menu-item
                        a(href="#") Медучреждения
                      li.menu-item
                        a(href="#") Производства и склады
                      li.menu-item
                        a(href="#") Офисы
                      li.menu-item
                        a(href="#") Салоны красоты

            .footer__col.footer__col--last
              ul.menu
                li.menu-item
                  a(href="#") портфолио
                li.menu-item
                  a(href="#") проектирование, дизайн
                li.menu-item
                  a(href="#") ремонт и реконструкция
                li.menu-item
                  a(href="#") мебель, декорирование,
                    br
                    |  оборудование
                li.menu-item
                  a(href="#") документация
                li.menu-item
                  a(href="#") блог

      // /.container
    // /.footer__top

    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

