mixin modal__callback()
  section.modal.modal__callback(id="modal__callback")
    .modal-callback__content.modal__content
      button.close

      .form.wpcf7
        form.wpcf7-form
          p.form__title Заполните форму
            br
            small  и мы перезвоним в течение
              br
              |  10 минут


          .form__item
            span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-user")

          .form__item
            span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-phone")

          .form__item.form__item--submit
            .btn__wrap.btn__wrap--simple.btn__wrap--radius
              input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Перезвоните мне')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal__callback

mixin modal__price()
  section.modal.modal__price(id="modal__price")
    .modal-price__content.modal__content
      button.close

      .form.wpcf7
        form.wpcf7-form
          p.form__title Заполните форму
            br
            small  и мы вышлем актуальный прайс
              br
              |  на Вашу почту


          .form__item
            span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-user")

          .form__item
            span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-phone")

          .form__item
            span.wpcf7-form-control-wrap.your-mail.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-email")

          .form__item.form__item--submit
            .btn__wrap.btn__wrap--simple.btn__wrap--radius
              input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Получить прайс')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal__price

mixin modal__project()
  section.modal.modal__project(id="modal__project")
    .modal-project__content.modal__content.bg-pixels
      button.close

      .modal__wrap

        .title__mobile
          h2 barber shop
          p.modal__desc Салон красоты для мужчин

        .modal__df
          .modal__slider#modal__slider
            .modal__slides
              .modal__slide
                .modal__img
                  img(src="img-temp/img-project.jpg", alt="", data-object-fit-cover)

              .modal__slide
                .modal__img
                  img(src="img-temp/projects/img-proj-1.jpg", alt="", data-object-fit-cover)

              .modal__slide
                .modal__img
                  img(src="img-temp/projects/img-proj-2.jpg", alt="", data-object-fit-cover)

              .modal__slide
                .modal__img
                  img(src="img-temp/projects/img-proj-3.jpg", alt="", data-object-fit-cover)

          .modal__slider2#modal__slider2
            .modal__slides2
              .modal__slide2
                .modal__img
                  img(src="img-temp/img-project--small.jpg", alt="", data-object-fit-cover)

              .modal__slide2
                .modal__img
                  img(src="img-temp/projects/img-proj-1--small.jpg", alt="", data-object-fit-cover)

              .modal__slide2
                .modal__img
                  img(src="img-temp/projects/img-proj-2--small.jpg", alt="", data-object-fit-cover)


              .modal__slide2
                .modal__img
                  img(src="img-temp/projects/img-proj-3--small.jpg", alt="", data-object-fit-cover)

          .modal__info
            .title__desktop
              h2 barber shop
              p.modal__desc Салон красоты для мужчин

            table
              tbody
                tr
                  th Адрес:
                  td г. Севастополь,
                    br
                    |  ул. Г-в Севастополя, 123
                tr
                  th Площадь:
                  td 150 кв.м
                tr
                  th Сроки:
                  td 1 месяц
                tr
                  th Окупаемость:
                  td 5 месяцев

            b.modal__price
              span.accent Итоговая стоимость:
              strong  2 500 000 Р

            .btns__wrap
              .btn__wrap.btn__wrap--simple
                a.btn.open-modal(href="#modal__callback2") Записаться на экскурсию

    // /. modal__content
  // /. modal__project

mixin modal__order()
  section.modal.modal__order(id="modal__order")
    .modal__content
      button.close

      .form.wpcf7
        form.wpcf7-form
          p.form__title Заполните форму
            br
            small  и получите индивидуальный
              br
              |  просчет ремонта

          .form__item
            span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-user")

          .form__item
            span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-phone")

          .form__item.form__item--submit
            .btn__wrap.btn__wrap--simple.btn__wrap--radius
              input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Заказать просчёт')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal

mixin modal__get()
  section.modal.modal__get(id="modal__get")
    .modal__content
      button.close

      .form.wpcf7
        form.wpcf7-form
          p.form__title заполните форму
            br
            small  и получите индивидуальный
              br
              |  дизайн-проект

          .form__item
            span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-user")

          .form__item
            span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-phone")

          .form__item.form__item--submit
            .btn__wrap.btn__wrap--simple.btn__wrap--radius
              input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Получить дизайн-проект')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal

mixin modal__callback2()
  section.modal.modal__callback2(id="modal__callback2")
    .modal-callback__content.modal__content
      button.close

      .form.wpcf7
        form.wpcf7-form
          p.form__title Заполните форму
            br
            small  и наш специалист
              br
              |  перезвонит Вам


          .form__item
            span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-user")

          .form__item
            span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
              input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
              i.input-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#form-phone")

          .form__item.form__item--submit
            .btn__wrap.btn__wrap--simple.btn__wrap--radius
              input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Перезвоните мне')

          .form__item
            span.wpcf7-form-control-wrap.accept
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal__callback
