mixin header__nav()
  nav.header__nav
    .container
      .header__nav-top
        button.burger.active.circled#nav-burger
          span.burger__wrap
            span.line

        .nav-phones.mobile
          a.btn.btn--circled(href="tel:88007070536" rel="nofollow")
            i.fa.fa-phone

        .nav-phones.desktop
          a.nav-phones__btn.btn.btn--circled.open-modal(href="#modal__callback")
            i.fa.fa-phone
          a.nav-phones__link(href="tel:88007070536" rel="nofollow") 8 800
            strong  707 05 36

      .header__nav-bottom
        .main-menu
          ul.menu.menu--first
            li.menu-item.menu-item-has-children
              a(href="#") О компании
              button.menu-arrow
              ul.sub-menu
                li.menu-item
                  a(href="#") О нас
                li.menu-item
                  a(href="#") Команда
                li.menu-item
                  a(href="#") Этапы работы
                li.menu-item
                  a(href="#") Отзывы
                li.menu-item
                  a(href="#") Вопрос-ответ

            li.menu-item.menu-item-has-children
              a(href="#") Тарифы
              button.menu-arrow
              ul.sub-menu
                li.menu-item
                  a(href="#") Standart
                li.menu-item
                  a(href="#") Business
                li.menu-item
                  a(href="#") Premium
            li.menu-item.menu-item-has-children
              a(href="#") Виды объектов
              button.menu-arrow
              ul.sub-menu
                li.menu-item
                  a(href="#") Магазины
                li.menu-item
                  a(href="#") Гостиницы и отели
                li.menu-item
                  a(href="#") Рестораны и кафе
                li.menu-item
                  a(href="#") Медучреждения
                li.menu-item
                  a(href="#") Производства и склады
                li.menu-item
                  a(href="#") Офисы
                li.menu-item
                  a(href="#") Салоны красоты

          .header__nav-right
            ul.menu.menu--last
              li.menu-item
                a(href="#") портфолио
              li.menu-item
                a(href="#") дизайн-проект
              li.menu-item
                a(href="#") ремонт
              li.menu-item
                a(href="#") мебель и декорирование
              li.menu-item
                a(href="#") документация
              li.menu-item
                a(href="#") блог

            .nav-links
              a.nav-links__link.open-modal(href="#modal__price")
                .nav-links__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#nav-link-1")
                .nav-links__text Скачать прайс

              a.nav-links__link.open-modal(href="#modal__order")
                .nav-links__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#nav-link-2")
                .nav-links__text Получить индивидуальный расчет

              a.nav-links__link.open-modal(href="#modal__get")
                .nav-links__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#nav-link-3")
                .nav-links__text Получить дизайн-проект



    // /.container
  // /.header__nav
