mixin paginator()
  ul.paginator
    li
      a.prev(href='#') Назад

    li.current
      span.page-numbers 1
    li
      a.page-numbers(href='#') 2
    li
      a.page-numbers(href='#') 3
    li
      a.page-numbers(href='#') 4
    li
      a.next(href='#') Вперед


  // /.paginator
