mixin scr1()
  section.scr1(id="scr1")
    .bg-img(style="background: transparent url('img/bg-scr1.jpg') no-repeat center center;background-size: cover;")

    .container
      .scr1__wrap
        .scr1__content
          h1.scr1__title
            span.yellow Проектируем и создаем
            |  объекты
            br
            |  и интерьеры, приносящие прибыль
            br
            |  с гарантией по договору

          p.scr1__desc Получите обновленное пространство
            br
            |  для продуктивной работы Вашей компании

          .btn__wrap.btn__wrap--yellow
            a.btn.open-modal(href="#") Получить индивидуальный расчет

        a.video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
          svg.outer(width="113px" height="113px" viewBox="0 0 113 113" preserveAspectRatio="none")
            defs
              linearGradient(id="PSgrad_0" x1="0%" x2="100%" y1="0%" y2="0%")
                stop(offset="0%" stop-color="#fff" stop-opacity="1")
                stop(offset="100%" stop-color="#fff" stop-opacity="0")

            path(fill-rule="evenodd" stroke="url(#PSgrad_0)" fill-opacity="0"
              d="M56.500,2.999 C86.047,2.999 110.000,26.952 110.000,56.499 C110.000,86.047 86.047,110.000 56.500,110.000 C26.953,110.000 3.000,86.047 3.000,56.499 C3.000,26.952 26.953,2.999 56.500,2.999 Z")

          .video__inner
            svg.inner(width="143px", height="143px", viewBox="0 0 143 143", preserveAspectRatio="none")
              defs
                lineargradient#PSgrad_2(x1='90%', x2='0%', y1='80%', y2='0%')
                  stop(offset='0%', stop-color='rgb(0,125,160)', stop-opacity='1')
                  stop(offset='100%', stop-color='rgb(0,125,160)', stop-opacity='0')
                lineargradient#PSgrad_1(x1='0%', x2='0%', y1='100%', y2='0%')
                  stop(offset='0%', stop-color='rgb(6,71,89)', stop-opacity='1')
                  stop(offset='100%', stop-color='#007da0', stop-opacity='0')
              path(fill-rule='evenodd', fill-opacity='0', fill='rgb(0, 125, 160)', d='M71.047,34.187 C91.404,34.187 107.906,50.689 107.906,71.046 C107.906,91.403 91.404,107.906 71.047,107.906 C50.690,107.906 34.187,91.403 34.187,71.046 C34.187,50.689 50.690,34.187 71.047,34.187 Z')
              path(fill='url(#PSgrad_1)', stroke="url(#PSgrad_2)", d='M71.047,34.187 C91.404,34.187 107.906,50.689 107.906,71.046 C107.906,91.403 91.404,107.906 71.047,107.906 C50.690,107.906 34.187,91.403 34.187,71.046 C34.187,50.689 50.690,34.187 71.047,34.187 Z')

          .video__text Смотреть
            svg.svg-text
              use(xlink:href="img/svg/sprite.svg#lines")
            br
            |  видео
            br
            strong  о компании

          .video__play

  // /.scr1
