mixin scr_tariffs()
  section.scr_tariffs.tariffs.bg-pixels(id="scr_tariffs")
    .container
      h2.title
        strong Оптимизируем стоимость ремонта
        br
        |  под бюджет заказчика

      .tariffs__slider.slider1#tariffs__slider
        .tariffs__slides.slider1__slides

          .tariffs__slide.slider1__slide
            .tariffs__item
              .tariffs__top
                h3 Start
              .tariffs__content
                p Тариф «Start» - капитальный ремонт, в который входит  монтаж инженерных сетей (электрики и сантехники), выравнивание всех стен и отделочные работы. Значимая экономия получается за счет использования недорогих, но качественных отделочных материалов. Выполняется только необходимый перечень работ
              .tariffs__bottom
                b.tariffs__price от
                  span.big  1 900
                  |  ₽/м2

                a.btn.tariffs__btn(href="#") Подробнее

          .tariffs__slide.slider1__slide
            .tariffs__item
              .tariffs__top
                h3 Business
              .tariffs__content
                p Капитальный ремонт выполняется по индивидуальному дизайн-проекту.
                p В даный тариф входит: перепланировка с демонтажом и установкой новых внутренних конструкций, монтаж инженерных сетей и профессиональная отделка с применением современных материалов и последних технологий. Полный комплекс необходимых работ обеспечит эргономику и высочайшее качество.
              .tariffs__bottom
                b.tariffs__price от
                  span.big  5 100
                  |  ₽/м2

                a.btn.tariffs__btn(href="#") Подробнее

          .tariffs__slide.slider1__slide
            .tariffs__item
              .tariffs__top
                h3 Premium
              .tariffs__content
                p Комплекс ремонтно-строительных и отделочных работ, с использованием уникальных технических решений и материалов премиального сегмента. Данный вид ремонта выполняется по детальному дизайн-проекту под авторским надзором. Тариф «Premium»- это безупречное исполнение оригинальных идей.
              .tariffs__bottom
                b.tariffs__price от
                  span.big  8 500
                  |  ₽/м2

                a.btn.tariffs__btn(href="#") Подробнее

        .tariffs__dots.slider1__dots

      .tariffs__add
        p *Стоимость без учета материалов
  // /.scr_tariffs
