mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      h2.title2 О компании

      ul.projects__nav.nav--about
        li.projects__nav-item.active
          a(href="#projects_tab_0") Лучшие
        li.projects__nav-item
          a(href="#projects_tab_1") Офисы
        li.projects__nav-item
          a(href="#projects_tab_2") Магазины
        li.projects__nav-item
          a(href="#projects_tab_3") Салоны красоты
        li.projects__nav-item
          a(href="#projects_tab_4") Мед. компании

  // /.scr_about
