mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .container
      h1.title2 О компании

      ul.projects__nav.nav--about
        li.projects__nav-item.without-tabs
          a(href="#") О нас
        li.projects__nav-item.without-tabs
          a(href="#") Команда
        li.projects__nav-item.without-tabs
          a(href="#") Этапы работы
        li.projects__nav-item.without-tabs
          a(href="#") Отзывы
        li.projects__nav-item.without-tabs.active
          a(href="#") Вопрос/Ответ

    .faq__wrap.bg-grey
      .container
        ul.faq__list
          li.faq__item
            .top
              h2 Какова минимальная сумма договора в вашей компании, или минимальный объем работы, за который вы беретесь?
              button.open
            .hidden
              .article
                p  С новыми заказчиками мы работаем от 1 млн. руб. Для последующих работ минимальной суммы нет.

          li.faq__item
            .top
              h2 Каковы условия первоначального выезда на объект с целью определения объема работ и составления сметы?
              button.open
            .hidden
              .article
                p  С новыми заказчиками мы работаем от 1 млн. руб. Для последующих работ минимальной суммы нет.

          li.faq__item
            .top
              h2 Какие возможны условия оплаты?
              button.open
            .hidden
              .article
                p  С новыми заказчиками мы работаем от 1 млн. руб. Для последующих работ минимальной суммы нет.

          li.faq__item
            .top
              h2 Как можно следить за ходом работ?
              button.open
            .hidden
              .article
                p  С новыми заказчиками мы работаем от 1 млн. руб. Для последующих работ минимальной суммы нет.

          li.faq__item
            .top
              h2 Можно ли посмотреть как идет ремонт на других объектах?
              button.open
            .hidden
              .article
                p  С новыми заказчиками мы работаем от 1 млн. руб. Для последующих работ минимальной суммы нет.

        .form.form--horizontal.wpcf7
          form.wpcf7-form
            p.form__title остались вопросы?

            .form__df
              .form__left
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-user")

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__right
                .form__item
                  span.wpcf7-form-control-wrap.your-question.textarea-input.text-input.text-input--icon
                    label(for="question-ta")
                      span.icon__wrap
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-message")
                      span.text Ваше сообщение
                    textarea#question-ta.wpcf7-form-control.wpcf7-textarea(name='your-review', cols='40', rows='10', aria-invalid='false', placeholder='')

            .form__bottom
              .form__item.form__item--submit
                .btn__wrap.btn__wrap--simple.btn__wrap--radius
                  input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

        // /. form

  // /.scr_faq
