mixin scr_complex()
  section.scr_complex.complex(id="scr_complex")
    .container
      h2.title
        strong Комплексный подход
        br
        |  к созданию интерьеров для компаний любого уровня

      ul.complex__nav
        li.complex__nav-item.active
          a(href="#complex_tab_0") Дизайн-проект
        li.complex__nav-item
          a(href="#complex_tab_1") Ремонт
        li.complex__nav-item
          a(href="#complex_tab_2") Мебель и декорирование

      ul.complex__tabs
        li.complex__tab#complex_tab_0
          .complex__df
            .complex__btn
              .btn__wrap.btn__wrap--yellow
                a.btn.open-modal(href="#modal__get") Получить дизайн-проект

            .complex__content
              ul.complex__feat
                li.complex__feat-item
                  p
                    span.accent Интерьер компании - мощный имиджевый инструмент,
                    br
                    |  безотказный способ продемонстрировать престиж
                    br
                    |  и статус. Мы синхронизируем фирменный стиль
                    br
                    |  с интерьером и повысим лояльность клиентов
                    br
                    |  и узнаваемость Вашей компании

                li.complex__feat-item
                  p
                    span.accent Создадим эргономичное рабочее пространство.
                    br
                    |  Человеческий фактор определяет успех любой компании.
                    br
                    |  От того, насколько комфортно сотрудник чувствует себя
                    br
                    |  на рабочем месте, зависит эффективность его работы.

                li.complex__feat-item
                  p
                    span.accent Получите уникальный дизайн интерьера направленный
                      br
                      |  на решение задач Вашей компании.
                    br
                    |  Разработаем целевой проект с учетом всех Ваших
                    br
                    |  пожеланий и специфики деятельности.

                li.complex__feat-item
                  p
                    span.accent Наши интерьеры располагают клиента к принятию положительного решения.
                    br
                    |  Делаем всё, чтобы клиент в Вашем помещении
                    br
                    |  всегда говорил «ДА»


        li.complex__tab#complex_tab_1
          .complex__df
            .complex__btn
              .btn__wrap.btn__wrap--yellow
                a.btn.open-modal(href="#modal__get") Получить дизайн-проект

            .complex__content
              ul.complex__feat
                li.complex__feat-item
                  p
                    span.accent Интерьер компании - мощный имиджевый инструмент,
                    br
                    |  безотказный способ продемонстрировать престиж
                    br
                    |  и статус. Мы синхронизируем фирменный стиль
                    br
                    |  с интерьером и повысим лояльность клиентов
                    br
                    |  и узнаваемость Вашей компании

                li.complex__feat-item
                  p
                    span.accent Создадим эргономичное рабочее пространство.
                    br
                    |  Человеческий фактор определяет успех любой компании.
                    br
                    |  От того, насколько комфортно сотрудник чувствует себя
                    br
                    |  на рабочем месте, зависит эффективность его работы.

        li.complex__tab#complex_tab_2
          .complex__df
            .complex__btn
              .btn__wrap.btn__wrap--yellow
                a.btn.open-modal(href="#modal__get") Получить дизайн-проект

            .complex__content
              ul.complex__feat

                li.complex__feat-item
                  p
                    span.accent Создадим эргономичное рабочее пространство.
                    br
                    |  Человеческий фактор определяет успех любой компании.
                    br
                    |  От того, насколько комфортно сотрудник чувствует себя
                    br
                    |  на рабочем месте, зависит эффективность его работы.

  // /.scr_complex
