mixin scr_type()
  section.scr_type.type.bg-pixels(id="scr_type")
    .container
      h1.title2 Виды объектов

      ul.projects__nav.nav--types
        li.projects__nav-item.without-tabs
          a(href="#") Офисы
        li.projects__nav-item.without-tabs
          a(href="#") Магазины
        li.projects__nav-item.without-tabs
          a(href="#") Салоны красоты
        li.projects__nav-item.without-tabs
          a(href="#") Мед. компании
        li.projects__nav-item.without-tabs
          a(href="#") Гостиницы и отели
        li.projects__nav-item.without-tabs.active
          a(href="#") Рестораны и кафе
        li.projects__nav-item.without-tabs
          a(href="#") Производства и склады

      .type__top
        .type__left
          .article
            h2 Рестораны и кафе

            p
              strong Успех ресторанного бизнеса — это грамотное сочетание качества приготовления блюд, уровня обслуживания и фирменного дизайна интерьера.

            p Наша компания не первый год занимается профессиональным ремонтом ресторанов и кафе. Мы помогаем подобрать лучшее решение в дизайне на рынке, так чтобы не только привлечь внимание гостей, но, чтобы созданный нами интерьер отличился у них в памяти и вызвал множество положительных эмоций.

            p.accent
              strong Вы получите:

            ul
              li
                strong Оригинальное оформление интерьера, экстерьера, входа в ресторан;
              li
                strong Планировку и зонирование пространства в тематическом стиле;
              li
                strong Разводку инженерных сетей и монтаж технологического оборудования;
              li
                strong Индивидуальные элементы декора — лестницы, балконы, колонны, выступы;
              li
                strong Полную отделку внутренних помещений и наружного фасада, монтаж покрытий.

        .type__right
          figure
            p
              img(src='img-temp/img-type.jpg', alt='')
            figcaption В итоге ремонт ресторанов под ключ позволит получить идеальный результат при минимальных затратах времени, сил и средств.

      .slider1.projects__slider#projects__slider0
        .slider1__slides.projects__slides

          .slider1__slide.projects__slide
            a.projects__item.projects__item--big.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-1.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-1.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-1--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-1--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

            a.projects__item.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .slider1__slide.projects__slide
            a.projects__item.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-3.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-3.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-3--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-3--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

            a.projects__item.projects__item--big.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-4.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-4.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-4--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-4--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .slider1__slide.projects__slide
            a.projects__item.projects__item--big.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-5.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-5.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-5--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-5--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

            a.projects__item.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-6.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-6.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-6--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-6--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .slider1__slide.projects__slide
            a.projects__item.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-7.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-7.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-7--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-7--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

            a.projects__item.projects__item--big.open-modal(href="#modal__project")
              .projects__logo
                noscript
                  img.lazy(src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
              .projects__img
                noscript
                  img.lazy(src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .slider1__dots.projects__dots

      .type__btns
        .btn__wrap.btn__wrap--simple
          a.btn.open-modal(href="#modal__price") Скачать прайс-лист

      .form.form--horizontal.wpcf7
        form.wpcf7-form
          p.form__title получить консультацию специалиста

          .form__df
            .form__left
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

            .form__right
              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

          .form__bottom
            .form__item.form__item--submit
              .btn__wrap.btn__wrap--simple.btn__wrap--radius
                input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Отправить заявку')

            .form__item
              span.wpcf7-form-control-wrap.accept
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon

        // /. form


  // /.scr_type
