mixin scr_decor()
  section.scr_decor.decor.bg-grey.bg-pixels(id="scr_decor")
    .container
      h1.title2 Мебель, декорирование и оборудование

      .secondary__wrap
        .decor__list
          .decor__item.decor__item--info
            h2
              strong Уникальное
                br
                |  декорирование помещений

            p Как только ремонтные работы окончены, мы приступаем к&nbsp;декорированию и придаем интерьеру жизнь.
            p
              strong.accent Декорирование включает в себя:

          .decor__item.decor__item--img
            .decor__img
              noscript
                img.lazy(src="img/decor/img-decor-1.png" alt="" width="195" height="242")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor/img-decor-1.png" alt="" width="195" height="242")
            .decor__title
              h3 Помощь в выборе и расстановке дополнительных источников света
                small  (торшеров, ламп, бра)

          .decor__item.decor__item--img
            .decor__img
              noscript
                img.lazy(src="img/decor/img-decor-2.png" alt="" width="195" height="242")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor/img-decor-2.png" alt="" width="195" height="242")
            .decor__title
              h3 Подбор мебели

          .decor__item.decor__item--img
            .decor__img
              noscript
                img.lazy(src="img/decor/img-decor-3.png" alt="" width="195" height="242")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor/img-decor-3.png" alt="" width="195" height="242")
            .decor__title
              h3 План расположения декоративных аксессуаров и приятных мелочей
                small  (свечи, вазы для цветов)

          .decor__item.decor__item--img
            .decor__img
              noscript
                img.lazy(src="img/decor/img-decor-4.png" alt="" width="195" height="242")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor/img-decor-4.png" alt="" width="195" height="242")
            .decor__title
              h3 Расстановку цветовых
                br
                |  акцентов
                br
                |  с помощью текстиля
                small  (шторы, салфетки, подушки)

          .decor__item.decor__item--img
            .decor__img
              noscript
                img.lazy(src="img/decor/img-decor-5.png" alt="" width="195" height="242")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/decor/img-decor-5.png" alt="" width="195" height="242")
            .decor__title
              h3 Размещение предметов искусства
                small  (картины, скульптуры, постеры)

        .decor__bottom
          .decor__wrap
            .decor__left
              h2
                strong Мебель и декор
                |  со всего мира
                br
                |  напрямую от производителей

              ul.post__summary-list
                li Комфортная и эргономичная
                li Стильная и современная
                li Долговечная и недорогая

            .decor__right.decor__right--padding
              blockquote.decor__cite
                p Наши декораторы, исходя из особенностей помещений и учитывая требования эргономичности и стиля, создают поистине уникальные интерьеры для любого рода коммерческой собственности.

          .decor__wrap
            .decor__left
              h2
                strong Оборудование —
                |  оснащаем
                br
                |  всем необходимым

              blockquote.decor__cite
                p мы оснащаем помещение всем необходимым оборудованием различных производителей для общепита, мед учреждений, офисных и т.д. У нас есть партнёры ,которые предоставляют приемлемую скидку и т.д.

            .decor__right
              noscript
                img.lazy(src="img-temp/img-decor.jpg" alt="" width="788" height="540")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-decor.jpg" alt="" width="788" height="540")


  // /.scr_decor
