mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .bg-img

    .container
      h2.title Один из главных приоритетов нашей работы:
        br
        strong  комфортные условия для Клиента

      .steps__circle
        .steps__item
          .steps__num 01
          p.steps__text Оставьте заявку на беспланый выезд специалиста
        .steps__item
          .steps__num 02
          p.steps__text Составяем смету и разработаем дизайн-проект с учетом нюансов и всех пожеланий
        .steps__item
          .steps__num 03
          p.steps__text Заключаем договор, где зафиксируем сроки и все детали
        .steps__item
          .steps__num 04
          p.steps__text Закупаем материалы по специальной дилерской
            br
            |  стоимости и доставляем на объект
        .steps__item
          .steps__num 05
          p.steps__text Предоставляем полные финансовые и видео отчеты
        .steps__item
          .steps__num 06
          p.steps__text Завершаем работу точно в срок
        .steps__item
          .steps__num 07
          p.steps__text Убираем помещение после окончания ремонта

  // /.scr_steps
