mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .bg-img
    .container
      .lead__df
        .lead__content
          .lead__img
            noscript
              img.lazy(src="img/img-lead.png" alt="" width="607" height="480")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-lead.png" alt="" width="607" height="480")

          p Подберем эргономичную
            strong  и&nbsp;долговечную мебель,
            br
            |  сответствующую
            br
            |  всем современным трендам

        .lead__btns
          .btn__wrap.btn__wrap--yellow
            a.btn(href="#") Получить каталог мебели

  // /.scr_lead
