mixin scr_blog()
  section.scr_blog.blog.bg-grey.bg-pixels(id="scr_blog")
    .container
      h1.title2 Блог


    .container
      .secondary__wrap
        .blog__list
          .row
            .col-6
              .blog__wrap
                .blog__item
                  a.blog__img(href="#")
                    noscript
                      img.lazy(src="img-temp/blog/blog-1.jpg" alt="" width="600" height="450" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/blog-1.jpg" alt="" width="600" height="450" data-object-fit-cover)

                  .blog__content
                    .article
                      time(datetime='2019-08-12') 12 августа 2019

                      a(href="#")
                        h3 Пленочный теплый пол под ламинат:
                          br
                          |  особенности выбора и монтажа

                      p Представительный внешний вид коммерческого помещения – основа успеха любой организации, ведь сложно привлечь потенциальных...

                  .blog__btns
                    a.link(href="#") Подробнее

            .col-6
              .blog__wrap
                .blog__item
                  a.blog__img(href="#")
                    noscript
                      img.lazy(src="img-temp/blog/blog-2.jpg" alt="" width="600" height="450" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/blog-2.jpg" alt="" width="600" height="450" data-object-fit-cover)

                  .blog__content
                    .article
                      time(datetime='2019-08-12') 12 августа 2019

                      a(href="#")
                        h3 Пленочный теплый пол под ламинат:

                      p Представительный внешний вид коммерческого

                  .blog__btns
                    a.link(href="#") Подробнее

            .col-6
              .blog__wrap
                .blog__item
                  a.blog__img(href="#")
                    noscript
                      img.lazy(src="img-temp/blog/blog-2.jpg" alt="" width="600" height="450" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/blog-2.jpg" alt="" width="600" height="450" data-object-fit-cover)

                  .blog__content
                    .article
                      time(datetime='2019-08-12') 12 августа 2019

                      a(href="#")
                        h3 Пленочный теплый пол под ламинат:

                      p Представительный внешний вид коммерческого помещения – основа успеха любой организации, ведь сложно привлечь потенциальных...

                  .blog__btns
                    a.link(href="#") Подробнее

            .col-6
              .blog__wrap
                .blog__item
                  a.blog__img(href="#")
                    noscript
                      img.lazy(src="img-temp/blog/blog-1.jpg" alt="" width="600" height="450" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/blog-1.jpg" alt="" width="600" height="450" data-object-fit-cover)

                  .blog__content
                    .article
                      time(datetime='2019-08-12') 12 августа 2019

                      a(href="#")
                        h3 Пленочный теплый пол под ламинат:
                          br
                          |  особенности выбора и монтажа

                      p Представительный внешний вид коммерческого помещения – основа.

                  .blog__btns
                    a.link(href="#") Подробнее

            .col-6
              .blog__wrap
                .blog__item
                  a.blog__img(href="#")
                    noscript
                      img.lazy(src="img-temp/blog/blog-2.jpg" alt="" width="600" height="450" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/blog-2.jpg" alt="" width="600" height="450" data-object-fit-cover)

                  .blog__content
                    .article
                      time(datetime='2019-08-12') 12 августа 2019

                      a(href="#")
                        h3 Пленочный теплый пол под ламинат:

                      p Представительный внешний вид коммерческого помещения – основа успеха любой организации, ведь сложно привлечь потенциальных...

                  .blog__btns
                    a.link(href="#") Подробнее

            .col-6
              .blog__wrap
                .blog__item
                  a.blog__img(href="#")
                    noscript
                      img.lazy(src="img-temp/blog/blog-1.jpg" alt="" width="600" height="450" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/blog-1.jpg" alt="" width="600" height="450" data-object-fit-cover)

                  .blog__content
                    .article
                      time(datetime='2019-08-12') 12 августа 2019

                      a(href="#")
                        h3 Пленочный теплый пол под ламинат:
                          br
                          |  особенности выбора и монтажа

                      p Представительный внешний вид коммерческого помещения – основа.

                  .blog__btns
                    a.link(href="#") Подробнее

          // /.row

        .blog__bottom
          +paginator

        // /.row
      // /.container
    // /.secondary__wrap
  // /.scr_blog
