mixin scr_renovation()
  section.scr_renovation.renovation.bg-grey.bg-pixels(id="scr_renovation")
    .container
      h1.title2 Ремонт и реконструкция

      .secondary__wrap
        .renovation__df
          .renovation__content.renovation__content--left.renovation__left
            h2.title
              strong Ремонт коммерческого помещения –
              br
              |  выгодная инвестиция в ваш бизнес
            ul.post__summary-list
              li Представительный внешний вид коммерческого помещения – основа успеха любой организации, ведь сложно привлечь потенциальных клиентов или партнеров, если ваш офис или магазин давно не ремонтировались, мебель находится в неприглядном виде, а оборудование давно требует ремонта или обновления.

              li Грамотно спланированный и качественно исполненный ремонт коммерческих помещений,  позволит вам  выделиться на общем фоне и привлечь к себе внимание потенциальных потребителей, что будет непосредственно
                strong  способствовать росту прибыли вашего бизнеса.
          .renovation__img.renovation__img--right
            noscript
              img.lazy(src="img/img-renov-1.jpg" alt="" width="461" height="411")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-renov-1.jpg" alt="" width="461" height="411")

        .renovation__df
          .renovation__img.renovation__left
            noscript
              img.lazy(src="img/img-renov-2.jpg" alt="" width="461" height="411")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-renov-2.jpg" alt="" width="461" height="411")
          .renovation__content.renovation__content--right.renovation__right
            h3
              strong Ремонт коммерческих помещений нуждается в профессиональном подходе,
              |  так как он отличается рядом требований и особенностей.
            ul.post__summary-list
              li Строительная компания
                strong.accent  «LUKS» более 13 лет
                |  специализируется на ремонте коммерческих помещений в Крыму и Севастополе. Квалифицированно выполнять поставленные задачи по ремонту, отделке и реконструкции всех видов коммерческих помещений  в четко оговоренные сроки нам помогает  многолетний опыт и  профессионализм сотрудников.

        ul.renovation__list
          li.renovation__item
            .renovation__item-img
              noscript
                img.lazy(src="img/renov/img-renov-1.png" alt="" width="195" height="228")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/renov/img-renov-1.png" alt="" width="195" height="228")
            .renovation__item-content
              h3 Процесс ремонта под полным
                br
                |  Вашим контролем
              p Переживаете за качество выполнения работ, но не можете регулярно посещать объект для контроля?  Для удобства заказчика, на объекте монтируется камера видеонаблюдения, которая позволяет контролировать процесс с любого устройства 24&nbsp;часа&nbsp;в&nbsp;сутки.
          li.renovation__item
            .renovation__item-img
              noscript
                img.lazy(src="img/renov/img-renov-2.png" alt="" width="195" height="228")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/renov/img-renov-2.png" alt="" width="195" height="228")
            .renovation__item-content
              h3 Только квалифицированный
                br
                |  персонал
              p Строительно-отделочные работы на объектах               осуществляют штатные бригады компании,               специалисты которых ежеквартально               проходят аттестацию, а курсы повышения               квалификации - раз в полгода.
          li.renovation__item
            .renovation__item-img
              noscript
                img.lazy(src="img/renov/img-renov-3.png" alt="" width="195" height="228")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/renov/img-renov-3.png" alt="" width="195" height="228")
            .renovation__item-content
              h3 Сдаем объекты в срок
                br
                |  или раньше
              p Время – деньги, мы сэкономим время – вы получите деньги, меньше заплатите за аренду и раньше начнете зарабатывать. В случае задержки по нашей вине, мы выплатим штраф. Оптимизируем все материалы и технологий под бюджет  - подберем оптимальное решение по цене и качеству.

          li.renovation__item
            .renovation__item-img
              noscript
                img.lazy(src="img/renov/img-renov-4.png" alt="" width="195" height="228")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/renov/img-renov-4.png" alt="" width="195" height="228")
            .renovation__item-content
              h3 Сервисное обслуживание
                br
                |  и гарантия 2 года
              p Важно быть уверенным, что после сдачи объекта в эксплуатацию, не начнут всплывать огрехи строительства, поэтому мы предоставляем гарантию на свои работы. При возникновении нюансов или проблем по ходу эксплуатации,
              p Вы сможете обратится за их бесплатным устранением.
          li.renovation__item
            .renovation__item-img
              noscript
                img.lazy(src="img/renov/img-renov-5.png" alt="" width="195" height="228")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/renov/img-renov-5.png" alt="" width="195" height="228")
            .renovation__item-content
              h3 Клининг в подарок
              p мы сдаем только полностью чистое и готовое к работе помещение, с мебелью и декором, в котором завтра можно заключать договора.
          li.renovation__item
            .renovation__item-img
              noscript
                img.lazy(src="img/renov/img-renov-6.png" alt="" width="195" height="228")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/renov/img-renov-6.png" alt="" width="195" height="228")
            .renovation__item-content
              h3 Комплексный подход
              p Поручив работу нашей компании, Вы снимете головную боль по поиску десятков подрядчиков. Весь процесс ремонта на Вашем объекте будет вестись через одного прораба.

  // /.scr_renovation
