mixin scr_partners()
  section.scr_partners.partners.bg-grey(id="scr_partners")
    .container
      h2.title
        strong О высоком качестве услуг
        br
        |  свидетельствует список наших заказчиков

      .partners__wrap
        .partners__slider.slider1#partners__slider
          .partners__slides.slider1__slides
            .partners__slide.slider1__slide
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-part-1.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-part-1.png" alt="" width="125" height="90")
            .partners__slide.slider1__slide
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-part-2.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-part-2.png" alt="" width="125" height="90")
            .partners__slide.slider1__slide
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-part-3.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-part-3.png" alt="" width="125" height="90")
            .partners__slide.slider1__slide
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-part-4.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-part-4.png" alt="" width="125" height="90")
            .partners__slide.slider1__slide
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-part-5.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-part-5.png" alt="" width="125" height="90")
            .partners__slide.slider1__slide
              .partners__img
                noscript
                  img.lazy(src="img-temp/partners/img-part-3.png" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-part-3.png" alt="" width="125" height="90")

          .partners__dots.slider1__dots

      blockquote.partners__cite
        p Мы прекрасно понимаем, что репутация - наиболее ценный из наших активов, и стараемся соответствовать самым высоким требованиям, предъявляемыми заказчиками к строительным компаниям.

  // /.scr_partners
