mixin scr_features()
  section.scr_features.features.bg-pixels(id="scr_features")
    .container
      h2.title
        strong Более 13 лет ремонтируем
        br
        |  офисы, магазины, салоны «под ключ»

      .features__wrap
        .features__bg
          noscript
            img.lazy(src="img/bg-features.png" alt="" width="992" height="510" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/bg-features.png" alt="" width="992" height="510" data-object-fit-contain)

        ul.features__list
          li.features__item
            .features__item-wrap
              .features__num 2
              .features__text
                p
                  span.accent Гарантия 2 года
                  br
                  |  на работы и материалы

          li.features__item
            .features__item-wrap
              .features__num 3D
              .features__text
                p Профессиональная
                  span.accent  3D
                    br
                    |  визуализация
                  |  в подарок

          li.features__item
            .features__item-wrap
              .features__num 10
              .features__text
                p
                  span.accent Экономия до 10%
                  |  за
                  br
                  |  счет эксклюзивных цен
                  br
                  |  от производителей

          li.features__item
            .features__item-wrap
              .features__num 24
              .features__text
                p Круглосуточнная
                  span.accent  онлайн
                    br
                    |  трансляция
                  |  с объекта на
                  br
                  |  Ваш смартфон


  // /.scr_features
