mixin scr_contacts()
  section.scr_contacts.contacts.bg-grey.bg-pixels(id="scr_contacts")
    .container
      h2.title2 Контакты

    .container
      .secondary__wrap
        .contacts__top
          .contacts__phones
            a.contacts__phone(href="tel:88007070536" rel="nofollow") 8 800 707 05 36
            a.contacts__phone(href="tel:89780760986" rel="nofollow") 8 978 076 09 86

          .contacts__socials
            .contacts__socials-item
              i.fa.fa-vk
              a.contacts__socials-link(href="https://vk.com/lukskrym" rel="nofollow" target="_blank") vk.com/lukskrym
            .contacts__socials-item
              i.fa.fa-instagram
              a.contacts__socials-link(href="https://www.instagram.com/luksremont/" rel="nofollow" target="_blank") Instagram.com/luksremont
            .contacts__socials-item
              i.fa.fa-youtube-play
              a.contacts__socials-link(href="#" rel="nofollow" target="_blank") youtube.com/lukskrym

          .contacts__links.nav-links
            a.nav-links__link(href="#")
              .nav-links__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#nav-link-1")
              .nav-links__text Скачать реквизиты

            a.nav-links__link(href="#")
              .nav-links__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#nav-link-1")
              .nav-links__text Скачать шаблон договора

        ul.contacts__cities
          li.contacts__city
            h4.text-circled Севастополь
            p.contacts__address ул. Курганная, 6 , оф. 14
              a(href="tel:+79789083406" rel="nofollow") +7 (978) 908 34 06
              a(href="mailto:info@lukskrym.ru" rel="nofollow") info@lukskrym.ru

            .contacts__map.inner-map#inner-map1

          li.contacts__city
            h4.text-circled Симферополь
            p.contacts__address ул. Маяковского, 14
              a(href="tel:+79787614119" rel="nofollow") +7 (978) 761 41 19
              a(href="mailto:fsimf@lukskrym.ru" rel="nofollow") fsimf@lukskrym.ru

            .contacts__map.inner-map#inner-map2

        .form.form--horizontal.wpcf7
          form.wpcf7-form
            p.form__title остались вопросы?

            .form__df
              .form__left
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-user")

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__right
                .form__item
                  span.wpcf7-form-control-wrap.your-question.textarea-input.text-input.text-input--icon
                    label(for="question-ta")
                      span.icon__wrap
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-message")
                      span.text Ваше сообщение
                    textarea#question-ta.wpcf7-form-control.wpcf7-textarea(name='your-review', cols='40', rows='10', aria-invalid='false', placeholder='')

            .form__bottom
              .form__item.form__item--submit
                .btn__wrap.btn__wrap--simple.btn__wrap--radius
                  input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

        // /. form

  // /.scr_contacts
