mixin scr_projects()
  section.scr_projects.projects(id="scr_projects")
    .container
      h2.title Более
        strong  50
        |  реализованных
        br
        |  индивидуальных
        strong  проектов

      ul.projects__nav
        li.projects__nav-item.active
          a(href="#projects_tab_0") Лучшие
        li.projects__nav-item
          a(href="#projects_tab_1") Офисы
        li.projects__nav-item
          a(href="#projects_tab_2") Магазины
        li.projects__nav-item
          a(href="#projects_tab_3") Салоны красоты
        li.projects__nav-item
          a(href="#projects_tab_4") Мед. компании
        li.projects__nav-item
          a(href="#projects_tab_5") Гостиницы и отели
        li.projects__nav-item
          a(href="#projects_tab_6") Рестораны и кафе
        li.projects__nav-item
          a(href="#projects_tab_7") Производства и склады


      ul.projects__tabs
        li.projects__tab.active#projects_tab_0
          // /. ID у слайдеров должна быть разная!!
          .slider1.projects__slider#projects__slider0
            .slider1__slides.projects__slides

              .slider1__slide.projects__slide
                a.projects__item.projects__item--big.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-1.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-1.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-1--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-1--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.projects__item.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .slider1__slide.projects__slide
                a.projects__item.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-3.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-3.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-3--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-3--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.projects__item.projects__item--big.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-4.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-4.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-4--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-4--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .slider1__slide.projects__slide
                a.projects__item.projects__item--big.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-5.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-5.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-5--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-5--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.projects__item.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-6.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-6.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-6--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-6--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .slider1__slide.projects__slide
                a.projects__item.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-7.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-7.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-7--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-7--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.projects__item.projects__item--big.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)


            .slider1__dots.projects__dots

        li.projects__tab#projects_tab_1
          // /. ID у слайдеров должна быть разная!!
          .slider1.projects__slider#projects__slider1
            .slider1__slides.projects__slides

              .slider1__slide.projects__slide
                a.projects__item.projects__item--big.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-1.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-1.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-1--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-1--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.projects__item.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-2.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-2--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .slider1__slide.projects__slide
                a.projects__item.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-3.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-3.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-3--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-3--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.projects__item.projects__item--big.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-4.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-4.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-4--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-4--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .slider1__slide.projects__slide
                a.projects__item.projects__item--big.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-5.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-5.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-5--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-5--small.jpg" alt="" width="125" height="90" data-object-fit-cover)

                a.projects__item.open-modal(href="#modal__project")
                  .projects__logo
                    noscript
                      img.lazy(src="img-temp/projects/logo-proj-6.png" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/logo-proj-6.png" alt="" width="125" height="90")
                  .projects__img
                    noscript
                      img.lazy(src="img-temp/projects/img-proj-6--small.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-proj-6--small.jpg" alt="" width="125" height="90" data-object-fit-cover)


            .slider1__dots.projects__dots

  // /.scr_projects
