mixin scr_team()
  section.scr_team.team(id="scr_team")
    .container
      h2.title
        strong Мы знаем все
        br
        |  о капитальном ремонте

      // pattern ID - менять в двух местах!!
      .team__wrap.active
        .team__big
          .with-cite
            svg.outer(x='0px', y='0px', viewbox='0 0 336 488.7')

              path( fill='url(#patternB)', d="M168,488.7L0,391.4V196.9l168-97.3l168,97.3v194.5L168,488.7z M336,196.9H0V0h336V196.9z")

              pattern#patternB(width='100%', height='100%',  viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-2--big.png', height='1', width='1')

            svg.inner(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',  viewbox='0 0 336 409', preserveaspectratio='none')
              path(fill-rule='evenodd', fill='rgb(204, 211, 212)', d='M168,389L0,291.8V97.3L168,0l168,97.3v194.5L168,389z')

            .team__name
              .team__name-bg
              .team__name-wrap
                .team__info
                  p.team__title михаил
                    br
                    |  ксенофонтов
                  p.team__occ Генеральный
                    br
                    |  директор

          .without-cite
            svg.inner(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',  viewbox='0 0 336 409')
              path(fill-rule='evenodd', fill='url(#patternBWC)', d='M168,389L0,291.8V97.3L168,0l168,97.3v194.5L168,389z')

              pattern#patternBWC(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-1.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

            .team__name
              .team__name-bg
              .team__name-wrap


        ul.team__list
          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item.team__item--with-img
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill='url(#pattern1)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

              pattern#pattern1(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-1.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

            .team__info
              p.team__title Оксана
                br
                |  Симфер
              p.team__occ Менеджер

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item.team__item--with-img.team__item--main
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill='url(#pattern2)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

              pattern#pattern2(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-2.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

            .team__info
              p.team__title михаил
                br
                |  ксенофонтов
              p.team__occ Генеральный
                br
                |  директор

          li.team__item.team__item--with-img
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill='url(#pattern3)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

              pattern#pattern3(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-3.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

            .team__info
              p.team__title михаил
                br
                |  ксенофонтов
              p.team__occ Генеральный
                br
                |  директор

          li.team__item.team__item--with-img
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill='url(#pattern4)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

              pattern#pattern4(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-4.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item.team__item--with-img
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill='url(#pattern5)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

              pattern#pattern5(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-5.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item.team__item--with-img
            svg(x='0px', y='0px', viewbox='0 0 200 233')

              path( fill='url(#pattern6)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

              pattern#pattern6(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-6.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

          li.team__item.team__item--with-img
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill='url(#pattern7)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

              pattern#pattern7(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                image(xlink:href='img-temp/team/img-team-7.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

          li.team__item
            svg(x='0px', y='0px', viewbox='0 0 200 233')
              path( fill="#f7f7f7", d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

      .team__cite
        p Компания «LUKS» – строительная компания, обладающая богатым опытом и высоким профессионализмом в области общестроительных, инженерных и отделочных работ.
        p Мы не останавливаемся на достигнутом, мы стремимся к развитию, познавая и внедряя новые технологии.

  // /.scr_team

mixin scr_team2()
  section.scr_team.team.team--team-page(id="scr_team1")
    .container
      h2.title2 О компании

      ul.projects__nav.nav--about
        li.projects__nav-item.without-tabs
          a(href="#") О нас
        li.projects__nav-item.without-tabs.active
          a(href="#") Команда
        li.projects__nav-item.without-tabs
          a(href="#") Этапы работы
        li.projects__nav-item.without-tabs
          a(href="#") Отзывы
        li.projects__nav-item.without-tabs
          a(href="#") Вопрос/Ответ

      // pattern ID - менять в двух местах!!
      .team__wrap.active
        .team__df
          .team__big
            .with-cite
              svg.outer(x='0px', y='0px', viewbox='0 0 336 488.7')

                path( fill='url(#patternB)', d="M168,488.7L0,391.4V196.9l168-97.3l168,97.3v194.5L168,488.7z M336,196.9H0V0h336V196.9z")

                pattern#patternB(width='100%', height='100%',  viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                  image(xlink:href='img-temp/team/img-team-2--big.png', height='1', width='1')

              svg.inner(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',  viewbox='0 0 336 409', preserveaspectratio='none')
                path(fill-rule='evenodd', fill='rgb(204, 211, 212)', d='M168,389L0,291.8V97.3L168,0l168,97.3v194.5L168,389z')

              .team__name
                .team__name-bg
                .team__name-wrap
                  .team__info
                    p.team__title михаил
                      br
                      |  ксенофонтов
                    p.team__occ Генеральный
                      br
                      |  директор

          .team__content
            h3.title
              strong Мы знаем все
              br
              |  о капитальном ремонте

            .team__event
              .team__year 2001
              p.team__text год с отличием окончил Академическую гимназию, в 2006 — филологический факультет Санкт-Петербургского государственного университета по специальности «Английская филология и перевод»

            .team__event
              .team__year 2006—2014
              p.team__text В студенческие годы лауреат стипендий Президента РФ и Правительства РФ, трёхкратный лауреат Потанинской стипендии

            .team__event
              .team__year 2014-2019
              p.team__text Компания «LUKS» – строительная компания, обладающая богатым опытом и высоким профессионализмом в области общестроительных, инженерных и отделочных работ.
              p.team__text Мы не останавливаемся на достигнутом, мы стремимся к развитию, познавая и внедряя новые технологии.

        .team__slider.slider1#team__slider
          .team__slides.slider1__slides
            .team__slide.slider1__slide
              .team__person
                .team__img
                  svg(x='0px', y='0px', viewbox='0 0 200 233')
                    path( fill='url(#pattern1)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

                    pattern#pattern1(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                      image(xlink:href='img-temp/team/img-team-1.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

                .team__info
                  p.team__title Оксана Симфер
                  p.team__occ Менеджер

            .team__slide.slider1__slide
              .team__person
                .team__img
                  svg(x='0px', y='0px', viewbox='0 0 200 233')
                    path( fill='url(#pattern2)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

                    pattern#pattern2(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                      image(xlink:href='img-temp/team/img-team-2.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

                .team__info
                  p.team__title михаил ксенофонтов
                  p.team__occ Генеральный
                    br
                    |  директор

            .team__slide.slider1__slide
              .team__person
                .team__img
                  svg(x='0px', y='0px', viewbox='0 0 200 233')
                    path( fill='url(#pattern3)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

                    pattern#pattern3(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                      image(xlink:href='img-temp/team/img-team-3.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

                .team__info
                  p.team__title Руслан сурган
                  p.team__occ Начальник по капитальному
                    br
                    |  строительству и ремонту

            .team__slide.slider1__slide
              .team__person
                .team__img
                  svg(x='0px', y='0px', viewbox='0 0 200 233')
                    path( fill='url(#pattern4)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

                    pattern#pattern4(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                      image(xlink:href='img-temp/team/img-team-4.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

            .team__slide.slider1__slide
              .team__person
                .team__img
                  svg(x='0px', y='0px', viewbox='0 0 200 233')
                    path( fill='url(#pattern5)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

                    pattern#pattern5(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                      image(xlink:href='img-temp/team/img-team-5.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

                .team__info
                  p.team__title Юлия
                  p.team__occ Менеджер

            .team__slide.slider1__slide
              .team__person
                .team__img
                  svg(x='0px', y='0px', viewbox='0 0 200 233')

                    path( fill='url(#pattern6)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

                    pattern#pattern6(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                      image(xlink:href='img-temp/team/img-team-6.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

            .team__slide.slider1__slide
              .team__person
                .team__img
                  svg(x='0px', y='0px', viewbox='0 0 200 233')
                    path( fill='url(#pattern7)', d="M100.000,232.999 L0.009,174.749 L0.009,58.249 L100.000,-0.001 L199.991,58.249 L199.991,174.749 L100.000,232.999 Z")

                    pattern#pattern7(width='100%', height='100%', patterncontentunits='objectBoundingBox', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                      image(xlink:href='img-temp/team/img-team-7.jpg', height='1', width='1', preserveaspectratio='xMidYMid slice')

          .team__dots.slider1__dots

  // /.scr_team
