mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h2.title Посмотрите,
        strong  что думают о нас
        br
        |  наши Клиенты

      .reviews__slider.slider1#reviews__slider
        .reviews__slides.slider1__slides
          .reviews__slide.slider1__slide

            .reviews__item-wrap
              .reviews__item
                h3.review__title ООО «Бизнес Консалт»

                time(datetime='2019-08-01') 01.08.19

                p Компания проводила работы по реконструкции бывшего заводского помещения под офис. Все сделали оперативно, быстро и без изъянов. Проектная документация была подготовлена в срок и качественно. Рабочие аккуратные и спокойные. Рекомендую всем, кто ценит время и нервы. Буду рекомендовать вас партнерам по бизнесу.

          .reviews__slide.slider1__slide

            .reviews__item-wrap
              .reviews__item
                h3.review__title ООО «Бизнес Консалт»

                time(datetime='2019-08-01') 01.08.19

                p Компания проводила работы по реконструкции бывшего заводского помещения под офис. Все сделали оперативно, быстро и без изъянов. Проектная документация была подготовлена в срок и качественно. Рабочие аккуратные и спокойные. Рекомендую всем, кто ценит время и нервы. Буду рекомендовать вас партнерам по бизнесу.

          .reviews__slide.slider1__slide

            .reviews__item-wrap
              .reviews__item
                h3.review__title ООО «Бизнес Консалт»

                time(datetime='2019-08-01') 01.08.19

                p Компания проводила работы по реконструкции бывшего заводского помещения под офис. Все сделали оперативно, быстро и без изъянов. Проектная документация была подготовлена в срок и качественно. Рабочие аккуратные и спокойные. Рекомендую всем, кто ценит время и нервы. Буду рекомендовать вас партнерам по бизнесу.

        .reviews__dots.slider1__dots

  // /.scr_reviews
