mixin scr_design()
  section.scr_design.design.bg-grey.bg-pixels(id="scr_design")
    .container
      h1.title2 Проектирование и дизайн

      .secondary__wrap
        h2.title
          strong Поможем выделиться среди конкурентов
          br
          |  и увеличить прибыль компании

        .design__top
          .design__left
            .bg-img
              noscript
                img.lazy(src="img/img-design.png" alt="" width="1059" height="726")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-design.png" alt="" width="1059" height="726")
            p.text-circled Дизайн интерьера начинается с концепции, которая отражается в чертежах и 3D визуализациях. Любое помещение можно сделать еще более интересным, привлекательным и функциональным. Для этого стоит довериться профессионалам своего дела и тогда деньги не будут потрачены напрасно, результат не разочарует, а наоборот превзойдет все Ваши ожидания.

          .design__right
            ul.complex__feat.complex__feat--design
              li.complex__feat-item
                p
                  span.accent Интерьер компании - мощный имиджевый инструмент,
                  br
                  |  безотказный способ продемонстрировать престиж
                  br
                  |  и статус. Мы синхронизируем фирменный стиль
                  br
                  |  с интерьером и повысим лояльность клиентов
                  br
                  |  и узнаваемость Вашей компании

              li.complex__feat-item
                p
                  span.accent Создадим эргономичное рабочее пространство.
                  br
                  |  Человеческий фактор определяет успех любой компании.
                  br
                  |  От того, насколько комфортно сотрудник чувствует себя
                  br
                  |  на рабочем месте, зависит эффективность его работы.

              li.complex__feat-item
                p
                  span.accent Получите уникальный дизайн интерьера направленный
                    br
                    |  на решение задач Вашей компании.
                  br
                  |  Разработаем целевой проект с учетом всех Ваших
                  br
                  |  пожеланий и специфики деятельности.

              li.complex__feat-item
                p
                  span.accent Наши интерьеры располагают клиента к принятию положительного решения.
                  br
                  |  Делаем всё, чтобы клиент в Вашем помещении
                  br
                  |  всегда говорил «ДА»

        .design__wrap
          h2.title
            strong Стильный, современный и функциональный интерьер –
            br
            |  лучшая визитка компании.
            br
            |  Наши специалисты будут сопровождать Ваш проект от
            br
            |  концепции до реализации

          ul.design__list
            li.design__item
              .design__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-design-1")

              .design__text
                h4 Полные чертежи и спецификации
                p с указанием цен и поставщиков, в среднем
                  br
                  |  объем чертежей на 45% больше чем
                  br
                  |  у конкурентов.

            li.design__item
              .design__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-design-2")

              .design__text
                h4 Комплексное проектирование:
                p все специалисты работают над проектом
                  br
                  |  в 1 файле по системе Bim, что минимизирует
                  br
                  |  возможность ошибки в реализации, состоящих
                  br
                  |  проектов из более чем 3х разделов

            li.design__item
              .design__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-design-3")

              .design__text
                h4 Мы делаем реальные проекты
                p из реальных объектов, оборудования
                  br
                  |  и материалов, которые есть в доступности,
                  br
                  |  качественные и соответствуют всем
                  br
                  |  требованиям, а не абстрактные картинки

            li.design__item
              .design__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-design-4")

              .design__text
                h4 Понимание мировых брендов и тенденции
                p мы тратим 1,5 млн рублей в год на поездки
                  br
                  |  и выставки для того, чтобы вам досталось
                  br
                  |  только лучшее и самое современное
                  br
                  |  из возможного

            li.design__item
              .design__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-design-5")

              .design__text
                h4 Деньги
                p вложенные в качественный рабочий проект
                  br
                  |  с лихвой компенсируются в самом ремонте,
                  br
                  |  его сроках, качестве.

            li.design__item
              .design__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-design-6")

              .design__text
                h4 Bim проектирование
                p все специалисты работают в одном файле
                  br
                  |  по системе BIM, что минимизирует
                  br
                  |  возможность ошибки в реализации

            li.design__item
              .design__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-design-7")

              .design__text
                h4 Авторский надзор
                p гарантирует реализацию проекта именно в том виде, в каком он
                  br
                  |  был спроектирован, изменен или дополнен его автором, как
                  br
                  |  стороной имеющей комплексное представление обо всем
                  br
                  |  проектном решении в целом и его деталях.

      .design__before
        .design__headings
          p Дизайн ДО
          p Дизайн ПОСЛЕ
        .design__slider.slider1#design__slider
          .design__slides.slider1__slides
            .design__slide.slider1__slide
              .design__slide-wrap
                .design__container
                  img( src="img-temp/before-test.jpg" alt="" width="900" height="600")
                  img( src="img-temp/after-test.jpg" alt="" width="900" height="600")
            .design__slide.slider1__slide
              .design__slide-wrap
                .design__container
                  img( src="img-temp/before-test.jpg" alt="" width="900" height="600")
                  img( src="img-temp/after-test.jpg" alt="" width="900" height="600")
            .design__slide.slider1__slide
              .design__slide-wrap
                .design__container
                  img( src="img-temp/before-test.jpg" alt="" width="900" height="600")
                  img( src="img-temp/after-test.jpg" alt="" width="900" height="600")

          .design__dots.slider1__dots

      .form.form--horizontal.wpcf7
        form.wpcf7-form
          p.form__title Получите оптимальный дизайн-проект,
            br
            small  который будет соответствовать актуальным тенденциям,
              br
              |  корпоративной политике и вашим пожеланиям

          .form__df
            .form__left
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

            .form__right
              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

          .form__bottom
            .form__item.form__item--submit
              .btn__wrap.btn__wrap--simple.btn__wrap--radius
                input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Получить дизайн-проект')

            .form__item
              span.wpcf7-form-control-wrap.accept
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon

        // /. form





  // /.scr_design
