mixin scr_post()
  section.scr_post.post.bg-pixels.bg-grey(id="scr_post")
    .container
      +breadcrumbs

    .container
      .secondary__wrap
        p.title2.mobile Пленочный теплый пол под ламинат: особенности выбора и монтажа

        .post__header
          .post__info
            h1.title2.desktop Пленочный теплый пол под ламинат: особенности выбора и монтажа

            .post__summary.bg-grey
              p.post__summary-title Из этой статьи вы узнаете:

              ul.post__summary-list
                li Каким бывает пленочный теплый пол под ламинат
                li Сколько нужно энергии на теплый пленочный пол под ламинат
                li Как уложить пленочный теплый пол под ламинат
                li Как уложить ламинат на теплый пленочный пол

          .post__img
            noscript
              img.lazy(src="img-temp/blog/blog-1.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/blog-1.jpg" alt="" width="125" height="90")

        .post__main
          .article
            p Все чаще в качестве напольного покрытия используют ламинат, но не всегда для ног комфортна его естественная температура.
            p В этом случае необходимо установить систему теплого пола. На рынке строительных материалов можно увидеть большое разнообразие систем обогрева пола, и у покупателя возникает вопрос, какая из них подходит для ламината? Рекомендуем обратить внимание на пленочный теплый пол под ламинат, так как его чаще всего применяют на практике.

            h2 Виды пленочного теплого пола под ламинат

            p В настоящее время существуют два типа пленочных систем обогрева пола:

            br

            ul
              li Инфракрасные (карбоновые или графитовые);
              li Биметаллические конвективные (алюминиевые и медные).

            p Отличаются они между собой не только материалом, из которого произведены, но и способом обогрева. Объединяет их только метод изготовления: обогревающая система представляет собой тонкое полотно, в несколько микрон, состоящее из греющих элементов, которые запаяны в прочную пленку. Греющие элементы соединены между собой плоскими токоведущими жилами или шинами, которые располагаются по бокам. Ток проходит по этим элементам и нагревает напольное покрытие. Здесь также есть отличие в длине волн: ИК диапазон и тепловой.

            h2 Теплый пол с биметаллическим нагревающим элементом

            p Сдвоенный слой полиуретановой пленки лежит в основе этой системы. Рекомендуется подключать эту конструкцию через автомат включения АВДТ или УЗО, так как в ней отсутствует заземляющий подвод. Этот тип системы монтируется довольно просто. Полотно с нагревающими элементами легко сворачивается в рулон, а также его можно разрезать на части нужного размера. Однако необходимо придерживаться определенных правил, чтобы правильно установить систему, а потом использовать:

            br

            p Не повышайте температуру нагрева выше 27 °С, чтобы избежать деформации напольного покрытия.
            p Пленочная система не подходит для обогрева керамической плитки и керамогранита.
            p В сочетании с другими видами финишного покрытия биметаллические системы отлично распределяют тепло, они функциональны и практичны.
            p Пленочная система обогрева пола Teplofolnano очень популярна в последнее время. Эта система представляет собой алюминиевый проводник, который располагается между двумя слоями высокотемпературной пленки. Благодаря металлическому нагревательному элементу система имеет длительный срок эксплуатации и высокую степень надежности. Полы нагреваются быстро и равномерно за счет близкого расположения (шаг 1 мм) тонких полос проводника между собой. При этом мощность системы достаточна, чтобы применять этот тип пленочного пола в сложных климатических условиях России.

            br

            p Специальный монтажный кабель для подключения пленочного пола сделан с учетом высоких механических нагрузок. Система Teplofolnano при монтаже не забирает полезные сантиметры пространства, так как толщина обогревающей пленки всего 1 мм.

  // /.scr_post
