mixin scr_documents()
  section.scr_documents.documents.bg-grey.bg-pixels(id="scr_documents")
    .container
      h1.title2 Документация

      .secondary__wrap
        ul.documents__list
          li.documents__item
            a.fancybox(href="img-temp/docs/img-doc-1.jpg" data-fancybox-group="docs")
              noscript
                img.lazy(src="img-temp/docs/img-doc-1.jpg" alt="" width="707" height="1000")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-doc-1.jpg" alt="" width="707" height="1000")
          li.documents__item
            a.fancybox(href="img-temp/docs/img-doc-2.jpg" data-fancybox-group="docs")
              noscript
                img.lazy(src="img-temp/docs/img-doc-2.jpg" alt="" width="707" height="1000")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-doc-2.jpg" alt="" width="707" height="1000")
          li.documents__item
            a.fancybox(href="img-temp/docs/img-doc-3.jpg" data-fancybox-group="docs")
              noscript
                img.lazy(src="img-temp/docs/img-doc-3.jpg" alt="" width="707" height="1000")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-doc-3.jpg" alt="" width="707" height="1000")
          li.documents__item
            a.fancybox(href="img-temp/docs/img-doc-3.jpg" data-fancybox-group="docs")
              noscript
                img.lazy(src="img-temp/docs/img-doc-3.jpg" alt="" width="707" height="1000")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-doc-3.jpg" alt="" width="707" height="1000")
          li.documents__item
            a.fancybox(href="img-temp/docs/img-doc-2.jpg" data-fancybox-group="docs")
              noscript
                img.lazy(src="img-temp/docs/img-doc-2.jpg" alt="" width="707" height="1000")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-doc-2.jpg" alt="" width="707" height="1000")
          li.documents__item
            a.fancybox(href="img-temp/docs/img-doc-1.jpg" data-fancybox-group="docs")
              noscript
                img.lazy(src="img-temp/docs/img-doc-1.jpg" alt="" width="707" height="1000")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-doc-1.jpg" alt="" width="707" height="1000")

        .documents__links.nav-links
          a.nav-links__link(href="#" download)
            .nav-links__icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#nav-link-1")
            .nav-links__text Договор подряда на ремонт офисных помещений

          a.nav-links__link(href="#" download)
            .nav-links__icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#nav-link-1")
            .nav-links__text Протокол согласования разногласий по Особым условиям к договору подряда на строительство

          a.nav-links__link(href="#" download)
            .nav-links__icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#nav-link-1")
            .nav-links__text Особые условия к договору подряда на капитальное строительство

          a.nav-links__link(href="#" download)
            .nav-links__icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#nav-link-1")
            .nav-links__text Договор аренды нежилого помещения

          a.nav-links__link(href="#" download)
            .nav-links__icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#nav-link-1")
            .nav-links__text Договор на оказание коммунальных услуг

          a.nav-links__link(href="#" download)
            .nav-links__icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#nav-link-1")
            .nav-links__text Договор подряда


  // /.scr_documents
