mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      h1.title2 О компании

      ul.projects__nav.nav--about
        li.projects__nav-item.active
          a(href="#projects_tab_0") О нас
        li.projects__nav-item
          a(href="#projects_tab_1") Команда
        li.projects__nav-item
          a(href="#projects_tab_2") Этапы работы
        li.projects__nav-item
          a(href="#projects_tab_3") Отзывы
        li.projects__nav-item
          a(href="#projects_tab_4") Вопрос/Ответ

      .about__nums
        h2.title
          strong Работаем на строительном рынке
            br
            |  с 2006 года
        .about__df
          .about__content
            .bg-img
              noscript
                img.lazy(src="img/img-about-1.png" alt="" width="838" height="596")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about-1.png" alt="" width="838" height="596")

            p.about__text Компания «LUKS» – строительная компания, обладающая богатым опытом и высоким профессионализмом в области общестроительных, инженерных и отделочных работ.

            p.about__text Мы не останавливаемся на достигнутом, мы стремимся к развитию, познавая и внедряя новые технологии.

            p.about__spec Основной специализацией компании «LUKS»
              br
              |  является дизайн, ремонт, строительство
              br
              |  и проектирование коммерческой недвижимости.

        ul.about__nums-list
          li.about__nums-item
            .about__nums-wrap
              p.about__num
                span 13
                small  &gt;
              span.about__nums-text лет на рынке

            .about__nums-wrap
              p.about__num
                span 12 000
                small  &gt;
              span.about__nums-text кв.м построено

          li.about__nums-item
            .about__nums-wrap
              p.about__num
                span 24
              span.about__nums-text инженера

            .about__nums-wrap
              p.about__num
                span 17 000
              span.about__nums-text дизайн-проектов

          li.about__nums-item
            .about__nums-wrap
              p.about__num
                span 50
                small  &gt;
              span.about__nums-text проектов

            .about__nums-wrap
              p.about__num
                span 9 700
              span.about__nums-text отремонтированно

          li.about__nums-item
            .about__nums-wrap
              p.about__num
                span 2 300
              span.about__nums-text реконструированно

    .about__features.bg-pixels
      .container
        h2.title
          strong Более 13 лет ремонтируем
          br
          |  офисы, магазины, салоны «под ключ»

        .about__features-wrap
          .about__features-item
            svg.inner(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',  viewbox='0 0 336 409', preserveaspectratio='none')
              path(fill-rule='evenodd', fill='#f7f7f7', d='M168,389L0,291.8V97.3L168,0l168,97.3v194.5L168,389z')
            .about__features-content
              p.about__features-num 2
                small  года
              p.about__features-text
                strong.accent Гарантия
                |  на работы
                br
                |  и материалы

          .about__features-item
            .about__features-content
              p.about__features-num 24
              p.about__features-text Круглосуточнная
                br
                strong.accent  онлайн трансляция
                br
                |  с объекта на смартфон

          .about__features-item
            .about__features-content
              svg.inner(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',  viewbox='0 0 336 409', preserveaspectratio='none')
                path(fill-rule='evenodd', fill='#f7f7f7', d='M168,389L0,291.8V97.3L168,0l168,97.3v194.5L168,389z')
              .about__features-3d
                noscript
                  img.lazy(src="img/3D.png" alt="" width="166" height="166")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/3D.png" alt="" width="166" height="166")
              p.about__features-text Профессиональная
                br
                strong.accent  3D визуализация
                br
                |  в подарок

          .about__features-item
            svg.inner(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',  viewbox='0 0 336 409', preserveaspectratio='none')
              path(fill-rule='evenodd', fill='#f7f7f7', d='M168,389L0,291.8V97.3L168,0l168,97.3v194.5L168,389z')
            .about__features-content
              p.about__features-num 10
                small.percent  %
              p.about__features-text
                strong.accent Экономия до 10%
                br
                |  за счет эксклюзивных
                br
                |  цен от производителей



  // /.scr_about
