mixin footer(logotype)
  footer.footer(id="footer")

    .container
      .footer__top
        .footer__info
          .logo__wrap
            if logotype == "a"
              #{logotype}.logo(href="index.html")
                img(src="img/svg/logo.svg" alt="лого")
            else
              #{logotype}.logo
                img(src="img/svg/logo.svg" alt="лого")


          .header__partner
            .header__partner-img
              noscript
                img.lazy(src="img/partner-img.png" alt="" width="84" height="36")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/partner-img.png" alt="" width="84" height="36")

            .header__partner-text
              p Официальный
                br
                |  статус партнера

          .footer__item

            p.footer__title Симферополь
              span.desktop ,
              span.mobile

            p.footer__hidden Гагарина. 14а, корпус «В», офис 232
              br
              |  Телефон:&nbsp;
              a(href="tel:+73652598934" rel="nofollow") +7 (3652) 59 89 34
              |  (многоканальный)
              br
              |  Телефон:&nbsp;
              a(href="tel:+79787277424" rel="nofollow") +7 (978) 727 74 24
              |  (многоканальный)
              br
              |  E-mail:&nbsp;
              a(href="mailto:sale@necsoft.ru" rel="nofollow") sale@necsoft.ru

          .footer__item

            p.footer__title Краснодар
              span.desktop ,
              span.mobile

            p.footer__hidden Телефон:&nbsp;
              a(href="tel:+78612177690" rel="nofollow") +7 (861) 217 76 90
              |  (многоканальный)
              br
              |  E-mail:&nbsp;
              a(href="mailto:sale@necsoft.ru" rel="nofollow") sale@necsoft.ru

          .footer__item

            p.footer__title Севастополь
              span.desktop ,
              span.mobile

            p.footer__hidden Телефон:&nbsp;
              a(href="tel:+79787277424 " rel="nofollow") +7 (978) 727 74 24
              |  (многоканальный)
              br
              |  E-mail:&nbsp;
              a(href="mailto:sale@necsoft.ru" rel="nofollow") sale@necsoft.ru

        .footer__menu
          ul.menu
            li.menu-item
              a(href="#") О компании
            li.menu-item
              a(href="#") Проекты
            li.menu-item
              a(href="#") Доставка и оплата

          ul.menu
            li.menu-item
              a(href="#") Вопрос ответ
            li.menu-item
              a(href="#") Блог
            li.menu-item
              a(href="#") Контакты

        .footer__catalog
          .footer__col
            ul.menu
              li.menu-item
                a(href="#") Программы 1С
              li.menu-item
                a(href="#") Лицензии 1С
              li.menu-item
                a(href="#") Аренда 1С
              li.menu-item
                a(href="#") Торговое оборудование
              li.menu-item
                a(href="#") Услуги и сопровождение
              li.menu-item
                a(href="#") Сервисы 1С
              li.menu-item
                a(href="#") Мобильные решения

          .footer__col
            ul.menu
              li.menu-item
                a(href="#") 1С: Бухгалтерия
              li.menu-item
                a(href="#") 1С: Зарплата и управление персоналом
              li.menu-item
                a(href="#") 1С: Розница
              li.menu-item
                a(href="#") 1С: Управление нашей фирмой
              li.menu-item
                a(href="#") 1С: Управление торговлей

            h3.socials__title социальные сети

            +socials


      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__df
          .footer__offert
            p Информация на сайте не является публичной офертой

            a(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2019&nbsp;г.

          .footer__made
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

