mixin modal__buy()
  section.modal.modal__buy(id="modal__buy")
    .modal__content
      button.close

      .form.wpcf7
          form.wpcf7-form
            p.title ОНЛАЙН-КАССА АТОЛ 30Ф+
            p.form__price 15 400 руб.


            .form__item
              span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-user")

            .form__item
              span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-phone")

            .form__item
              span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Почта')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-mail")

            .form__item.form__item--submit
              .btn.btn--red
                input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                span.front Отправить
                span.back Отправить
                span.hidden Отправить

          .form__item
            span.wpcf7-form-control-wrap.accept.checkbox
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon

      // /. form
    // /. modal__content
  // /. modal
