mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__content.decor-wrap
          h1.scr1__title Решаем
            strong  задачи автоматизации
              br
              |  бизнес-процессов
            |  с поддержкой
            br
            |  24/7

          .btn__wrap
            a.btn.btn--red.open-modal(href="#")
              span.front Заказать просчет
              span.back Заказать просчет
              span.hidden Заказать просчет

        .scr1__features.decor-wrap
          ul.scr1__features-list
            li.scr1__features-item
              span.scr1__features-icon
                noscript
                  img.lazy(src="img/svg/icons/team.svg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/team.svg" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__features-text
                p Высококвалифицированная
                  br
                  |  и вовлеченная
                  strong  команда 15 экспертов
                  br
                  |  в области 1С и продаж

            li.scr1__features-item
              span.scr1__features-icon
                noscript
                  img.lazy(src="img/svg/icons/strategy.svg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/strategy.svg" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__features-text
                p
                  strong  600+ успешных проектов
                    br
                    |  по внедрению 1С
                  |  для ведущих
                  br
                  |  компаний региона в сфере
                  br
                  |  производства, дистрибьюции,
                  br
                  |  оптовой и розничной торговли,
                  br
                  |  государственного сектора

            li.scr1__features-item
              span.scr1__features-icon
                noscript
                  img.lazy(src="img/svg/icons/folder.svg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/folder.svg" alt="" width="125" height="90" data-object-fit-contain)

              .scr1__features-text
                p
                  strong  Индивидуальные условия работы
                  br
                  |  подбираемые под запросы Вашего
                  br
                  |  бизнеса

  // /.scr1
