mixin scr_projects()
  section.scr_projects.projects(id="scr_projects")
    .container
      .projects__df
        .projects__main.decor-wrap
          .projects__top
            h2.title Реализованные проекты
            a.projects__link(href="#") Все
              span.desktop кейсы

          .projects__wrap
            .projects__slider#projects__slider
              .swiper-wrapper
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__title
                      .projects__bg
                        noscript
                          img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                      p Биллинг-оператор «Единый Расчетный Центр»
                        br
                        |  модернизировал автоматизированную
                        br
                        |  информационную систему

                    .projects__content
                      .projects__content-df
                        .projects__left
                          p
                            strong Отрасль:
                            |  Строительство
                          p
                            strong Конфигурация 1С:
                            |  Бухгалтерский учет
                          p
                            strong Кол-во рабочих мест:
                            |  5

                        .projects__right
                          p
                            strong Задача:
                            |  С другой стороны, синтетическое тестирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий...

                      .projects__links
                        a.projects__link(href="#") Описание кейса

                .swiper-slide.projects__slide
                  .projects__item
                    .projects__title
                      .projects__bg
                        noscript
                          img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                      p Биллинг-оператор «Единый Расчетный Центр»
                        br
                        |  модернизировал автоматизированную
                        br
                        |  информационную систему

                    .projects__content
                      .projects__content-df
                        .projects__left
                          p
                            strong Отрасль:
                            |  Строительство
                          p
                            strong Конфигурация 1С:
                            |  Бухгалтерский учет
                          p
                            strong Кол-во рабочих мест:
                            |  5

                        .projects__right
                          p
                            strong Задача:
                            |  С другой стороны, синтетическое тестирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий...

                      .projects__links
                        a.projects__link(href="#") Описание кейса

              .projects__dots.swiper-dots

            .swiper-button-next
            .swiper-button-prev

          .projects__categories
            .projects__categories-wrap
              ul.projects__categories-list
                li
                  a(href="#") Производство
                li
                  a(href="#") Розничная торговля
                li
                  a(href="#") Оптовая торговля
                li
                  a(href="#") Дистрибьюция
                li
                  a(href="#") Все категории

        .partners.decor-wrap
          h2.title Нам доверяют

          .partners__slider#partners__slider
            .swiper-wrapper
              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-1.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-2.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-2.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-1.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-1.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-2.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-2.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-1.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-1.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .partners__slide.swiper-slide
                .partners__item
                  .partners__img
                    noscript
                      img.lazy(src="img-temp/partners/img-2.jpg" alt="" width="125" height="90")
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .partners__dots.swiper-dots

  // /.scr_projects


mixin scr_projects--page()
  section.scr_projects.projects.projects--page(id="scr_projects")
    .container

      h1.title-second Проекты

      .projects__df

        .projects__nav-wrap
          .projects__nav.decor-wrap

            button.projects__filter.btn.btn--transparent(type="button") Категории

            ul.projects__nav-list
              li.active
                a(href="#") Производство
              li
                a(href="#") Оптовая торговля
              li
                a(href="#") Дистрибьюция
              li
                a(href="#") Розничная торговля
              li
                a(href="#") ЖКХ, ТСЖ, ЖСК
              li
                a(href="#") Управление транспортом и дорожным хозяйством
              li
                a(href="#") Сфера услуг
              li
                a(href="#") Государственное и муниципальное управление
              li
                a(href="#") Столовые
              li
                a(href="#") Гостиничный бизнес
              li
                a(href="#") Образование
              li
                a(href="#") Складская логистика



          .about__form.decor-wrap.about__form--desktop

            .about__bg
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-msg")


            h2.title Заказать консультацию

            .form.form--general.wpcf7
              form.wpcf7-form
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-user")

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-phone")

                .form__item.form__item--submit
                  .btn.btn--red
                    input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                    span.front Отправить
                    span.back Отправить
                    span.hidden Отправить

              .form__item
                span.wpcf7-form-control-wrap.accept.checkbox
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

        .projects__main
          .projects__wrap.decor-wrap
            ul.projects__list
              li.projects__item
                .projects__title
                  .projects__bg
                    noscript
                      img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                .projects__content
                  p
                    strong Отрасль:
                    |  Строительство
                  p
                    strong Конфигурация 1С:
                    |  Бухгалтерский учет
                  p
                    strong Кол-во рабочих мест:
                    |  5
                  p
                    strong Задача:
                    |  С другой стороны, синтетическое тестирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий...

                  .projects__links
                    a.projects__link(href="#") Описание кейса

              li.projects__item
                .projects__title
                  .projects__bg
                    noscript
                      img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                .projects__content
                  p
                    strong Отрасль:
                    |  Строительство
                  p
                    strong Конфигурация 1С:
                    |  Бухгалтерский учет

                  .projects__links
                    a.projects__link(href="#") Описание кейса

              li.projects__item
                .projects__title
                  .projects__bg
                    noscript
                      img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                .projects__content
                  p
                    strong Отрасль:
                    |  Строительство
                  p
                    strong Конфигурация 1С:
                    |  Бухгалтерский учет
                  p
                    strong Кол-во рабочих мест:
                    |  5
                  p
                    strong Задача:
                    |  С другой стороны, синтетическое тестирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий...

                  .projects__links
                    a.projects__link(href="#") Описание кейса

              li.projects__item
                .projects__title
                  .projects__bg
                    noscript
                      img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                .projects__content
                  p
                    strong Отрасль:
                    |  Строительство
                  p
                    strong Конфигурация 1С:
                    |  Бухгалтерский учет
                  p
                    strong Кол-во рабочих мест:
                    |  5
                  p
                    strong Задача:
                    |  С другой стороны, синтетическое тестирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий...

                  .projects__links
                    a.projects__link(href="#") Описание кейса

              li.projects__item
                .projects__title
                  .projects__bg
                    noscript
                      img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                .projects__content
                  p
                    strong Отрасль:
                    |  Строительство
                  p
                    strong Конфигурация 1С:
                    |  Бухгалтерский учет
                  p
                    strong Кол-во рабочих мест:
                    |  5
                  p
                    strong Задача:
                    |  С другой стороны, синтетическое тестирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий...

                  .projects__links
                    a.projects__link(href="#") Описание кейса

              li.projects__item
                .projects__title
                  .projects__bg
                    noscript
                      img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                .projects__content
                  p
                    strong Отрасль:
                    |  Строительство
                  p
                    strong Конфигурация 1С:
                    |  Бухгалтерский учет
                  p
                    strong Кол-во рабочих мест:
                    |  5
                  p
                    strong Задача:
                    |  С другой стороны, синтетическое тестирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий...

                  .projects__links
                    a.projects__link(href="#") Описание кейса


          +paginator


        .about__form.decor-wrap.about__form--mobile
          .about__bg
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-msg")

          h2.title Заказать консультацию

          .form.form--general.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item.form__item--submit
                .btn.btn--red
                  input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                  span.front Отправить
                  span.back Отправить
                  span.hidden Отправить

            .form__item
              span.wpcf7-form-control-wrap.accept.checkbox
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon

  // /.scr_projects
