mixin scr_vacancy()
  section.scr_vacancy.vacancy(id="scr_vacancy")
    .container
      h1.title-second Вакансии

      .vacancy__df
        .vacancy__wrap
          ul.vacancy__list.decor-wrap
            li.vacancy__item
              .vacancy__item-wrap
                .top
                  h2 Специалист отдела проектов
                  button.open
                .hidden
                  .article
                    p Ищем специалиста в отдел проектов. Компания ООО «НекСофт» в связи с расширением приглашает на работу специалиста в отдел проектов!

                    br

                    p
                      b Чем Вы будете заниматься:
                    ul
                      li Участвовать в проектах по внедрению программных продуктов 1С.
                      li Обучать и консультировать Клиентов по методике работы и решению задач учета в программах 1С.
                      li Тестировать выполненные задачи, сдавать их Клиенту или руководителю проекта.
                      li Принимать задачи от заказчиков и передавать их на разработку.
                      li Составлять инструкции.
                      li Помогать опытным коллегам по всем вопросам управления проектами.

                    p
                      b Ждем Ваше резюме, если:
                    ul
                      li У Вас есть высшее образование (неоконченное высшее).
                      li Вы умеете оперативно принимать решения и нести за них ответственность.
                      li  Вы умеете достигать результата.
                      li У Вас есть опыт работы с программными продуктами "1С: Предприятие 8" и сертификаты уровня
                      li Профессионал или Специалист.
                      li Обладаете знанием управленческого и основ бухгалтерского учета.

            li.vacancy__item
              .vacancy__item-wrap
                .top
                  h2 Стажер в отдел техподдержки
                  button.open
                .hidden
                  .article
                    p Ищем специалиста в отдел проектов. Компания ООО «НекСофт» в связи с расширением приглашает на работу специалиста в отдел проектов!

                    br

                    p
                      b Чем Вы будете заниматься:
                    ul
                      li Участвовать в проектах по внедрению программных продуктов 1С.
                      li Обучать и консультировать Клиентов по методике работы и решению задач учета в программах 1С.
                      li Тестировать выполненные задачи, сдавать их Клиенту или руководителю проекта.
                      li Принимать задачи от заказчиков и передавать их на разработку.
                      li Составлять инструкции.
                      li Помогать опытным коллегам по всем вопросам управления проектами.

            li.vacancy__item
              .vacancy__item-wrap
                .top
                  h2 Программист 1С
                  button.open
                .hidden
                  .article
                    p Ищем специалиста в отдел проектов. Компания ООО «НекСофт» в связи с расширением приглашает на работу специалиста в отдел проектов!

                    br

                    p
                      b Чем Вы будете заниматься:
                    ul
                      li Участвовать в проектах по внедрению программных продуктов 1С.
                      li Обучать и консультировать Клиентов по методике работы и решению задач учета в программах 1С.
                      li Тестировать выполненные задачи, сдавать их Клиенту или руководителю проекта.
                      li Принимать задачи от заказчиков и передавать их на разработку.



          +paginator

        .vacancy__form.decor-wrap
          h2.title Отправить резюме

          .form.form--general.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
                  label(for="your-msg")
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-msg")

                  textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="Сообщение")

              .form__item
                span.wpcf7-form-control-wrap.your-file
                  label(tabindex="0")
                    input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                    span.sl Прикрепить файл

              .form__item.form__item--submit
                .btn.btn--red
                  input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                  span.front Отправить
                  span.back Отправить
                  span.hidden Отправить

            .form__item
              span.wpcf7-form-control-wrap.accept.checkbox
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon


  // /.scr_vacancy
