mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h1.title-second Блог

      .blog__wrap.decor-wrap
        ul.blog__list
          li.blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__title(href="#")
                h2 Вышло новое обновление для программы 1С:
                  br
                  |  Управление торговлей, редакция 11 релиз
                  br
                  |  11.4.10.89 от 27.11.2019 г

              .article
                p 27.11.2019 вышло обновление для 1С:Управление торговлей 11.4.10.89. Не забудьте обновить свою программу 1С

          li.blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__title(href="#")
                h2 Во многих регионах с февраля меняются счета для уплаты налогов и взносов

              .article
                p Обратите внимание, с 4 февраля во многих регионах меняются счета для уплаты налогов и взносов!

          li.blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__title(href="#")
                h2 Во многих регионах с февраля меняются счета для уплаты налогов и взносов

              .article
                p Обратите внимание, с 4 февраля во многих регионах меняются счета для уплаты налогов и взносов!

          li.blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__title(href="#")
                h2 Вышло новое обновление для программы 1С:
                  br
                  |  Управление торговлей, редакция 11 релиз
                  br
                  |  11.4.10.89 от 27.11.2019 г

              .article
                p 27.11.2019 вышло обновление для 1С:Управление торговлей 11.4.10.89. Не забудьте обновить свою программу 1С

          li.blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__title(href="#")
                h2 Вышло новое обновление для программы 1С:
                  br
                  |  Управление торговлей, редакция 11 релиз
                  br
                  |  11.4.10.89 от 27.11.2019 г

              .article
                p 27.11.2019 вышло обновление для 1С:Управление торговлей 11.4.10.89. Не забудьте обновить свою программу 1С

          li.blog__item
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__title(href="#")
                h2 Во многих регионах с февраля меняются счета для уплаты налогов и взносов

              .article
                p Обратите внимание, с 4 февраля во многих регионах меняются счета для уплаты налогов и взносов!

      +paginator


  // /.scr_blog
