mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .container
      .second__nav
        ul.second__nav-list
          li
            a(href="#") О нас
          li.active
            a(href="#") Сертификаты
          li
            a(href="#") Вакансии

      .certs__wrap.decor-wrap
        .certs__cont
          .certs__table
            table
              thead
                td Тип сертификата
                td
                  span.certs__title Профессионал
                td Количество
              tbody
                tr
                  td(colspan="2") 1С: Профессионал Бухгалтерия 8
                  td 13
                tr
                  td(colspan="2") 1С: Профессионал Зарплата и управление персоналом 8
                  td 8
                tr
                  td(colspan="2") 1С: Профессионал ERP Управление предприятием 2
                  td 4
                tr
                  td(colspan="2") 1С: Профессионал Платформа 1С: Предприятие 8.3
                  td 8
                tr
                  td(colspan="2") 1С: Профессионал Розница 8
                  td 6
                tr
                  td(colspan="2") 1С: Профессионал Управление торговлей 8
                  td 6
                tr
                  td(colspan="2") 1С: Профессионал по технологическим вопросам
                  td 2
                tr
                  td(colspan="2") 1С: Профессионал Управление нашей фирмой 8
                  td 3
                tr
                  td(colspan="2") 1С: Профессионал Управление холдингом 8
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал Бухгалтерия государственного учреждения 8
                  td 2
                tr
                  td(colspan="2") 1С: Профессионал Зарплаты и кадры государственного учреждения 8
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал Управление небольшой фирмой 8
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал Бухгалтерский учёт вер.7.7
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал Платформа1С:Предприятие 8.1
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал по подсистеме Международный финасовый учет в 1С:ERP Управление предприятием 2 (ред.2.4)
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал. Управление торговлей8 Редакция 11.4
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал. Зарплата и управление персоналом 8 ред.2.1
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал.Управление производственным предприятием 8
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал 1С: Университет ПРОФ
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал. BAS ERP(Украина)
                  td 1
                tr
                  td(colspan="2") 1С: Профессионал. УНФ для Украины
                  td 1

            table
              thead
                td Тип сертификата
                td
                  span.certs__title Специалист
                td Количество
              tbody
                tr
                  td(colspan="2") 1С: Специалист. Бухгалтерия 8
                  td 2
                tr
                  td(colspan="2") 1С: Специалист. Компонента Бухгалтерский учет вер.7.7
                  td 1
                tr
                  td(colspan="2") 1С: Специалист. Компонента Оперативный учет вер.7.7
                  td 1
                tr
                  td(colspan="2") 1С: Специалист. Компонента Расчет вер.7.7
                  td 1
                tr
                  td(colspan="2") 1С: Специалист. Платформа 1С:Предприятие 8
                  td 1

            table
              thead
                td Тип сертификата
                td
                  span.certs__title Другие
                td Количество
              tbody
                tr
                  td(colspan="2") 1С:Руководитель проекта (2016)
                  td 1
                tr
                  td(colspan="2") 1С:ИТС Специалист по сопровождению
                  td 1
                tr
                  td(colspan="2") 1С:ИТС Администратор
                  td 1
                tr
                  td(colspan="2") 1С:ИТС Клиент- менеджер
                  td 1
                tr
                  td(colspan="2") Преподаватель ЦСО. Курс "Управление производственным предприятием. Основные принципы работы и взаимодействие подсистем"
                  td 1


  // /.scr_certs
