mixin scr_actions()
  section.scr_actions.actions(id="scr_actions")
    .container
      h1.title-second акции и скидки

      .actions__slider-wrap
        .actions__slider#actions__slider
          .swiper-wrapper
            .swiper-slide.actions__slide
              .actions__slider-item
                .actions__slider-img
                  noscript
                    img.lazy(src="img-temp/actions.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .actions__main
                  .actions__content
                    .actions__title ИТС: урезаем счет на 1/3

                    .actions__desc 1 год комплексного обслуживания стоит
                      br
                      |  дешевле при покупке программ 1С!

                  .actions__bottom
                    .actions__prices
                      span Цена:
                      span.actions__price.actions__price--old 33 816 Р
                      span.actions__price.actions__price--new 22 544 Р

                    .actions__btns
                      .btn__wrap
                        a.btn.btn--red.open-modal(href="#")
                          span.front Узнать больше
                          span.back Узнать больше
                          span.hidden Узнать больше

            .swiper-slide.actions__slide
              .actions__slider-item
                .actions__slider-img
                  noscript
                    img.lazy(src="img-temp/actions.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .actions__main
                  .actions__content
                    .actions__title ИТС: урезаем счет на 1/3

                    .actions__desc 1 год комплексного обслуживания стоит

                  .actions__bottom
                    .actions__prices
                      span Цена:
                      span.actions__price.actions__price--old 33 816 Р
                      span.actions__price.actions__price--new 22 544 Р

                    .actions__btns
                      .btn__wrap
                        a.btn.btn--red.open-modal(href="#")
                          span.front Узнать больше
                          span.back Узнать больше
                          span.hidden Узнать больше



        .actions__slider-btns
          button.swiper-button-prev(type="button")
          .swiper-dots
          button.swiper-button-next(type="button")


      .actions__wrap.decor-wrap
        ul.actions__list
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее
          li.actions__item
            .actions__item-wrap
              .actions__img
                noscript
                  img.lazy(src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/actions-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .actions__texts
                a.actions__link(href="#")
                  h2 Скидка 50% при покупке
                    br
                    |  программ 1С базовых версий

                p Получите скидку 50% на программы 1С базовой версии при покупке сервиса 1С ...

              .actions__links
                a(href="#") Читать далее

      +paginator

      .actions__add.decor-wrap
        .actions__add-df
          .actions__add-info
            p.actions__add-title У вас есть вопросы по 1С?
              br
              |  Давайте обсудим!

            .actions__add-desc
              p Получить консультацию уточнить цены и заказать решение можно у специалистов «NEC SOFT» Свяжитесь с нами по телефону, почте или закажите обратный звонок

          .actions__add-links
            .form
              form.wpcf7-form
                a.actions__add-phone(href="tel:+79787277424" rel="nofollow") +7 (978) 727-74-24
                a.actions__add-mail(href="mailto: sale@necsoft.ru" rel="nofollow") E-mail: sale@necsoft.ru

                .form__item.form__item--submit
                  .btn__wrap
                    .btn.btn--red
                      input.wpcf7-form-control.wpcf7-submit(type='submit', value='Заказать звонок')
                      span.front Заказать звонок
                      span.back Заказать звонок
                      span.hidden Заказать звонок

                .form__item
                  span.wpcf7-form-control-wrap.accept.checkbox
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon






  // /.scr_actions
