mixin scr_services()
  section.scr_services.services(id="scr_services")
    .container
      .services__top.decor-wrap
        .services__df.clearfix
          ul.services__icons
            li
              div
                noscript
                  img.lazy(src="img/svg/icons/services-1.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/services-1.svg" alt="" width="125" height="90")
            li
              div
                noscript
                  img.lazy(src="img/svg/icons/services-2.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/services-2.svg" alt="" width="125" height="90")
            li
              div
                noscript
                  img.lazy(src="img/svg/icons/services-3.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/services-3.svg" alt="" width="125" height="90")
            li
              div
                noscript
                  img.lazy(src="img/svg/icons/services-4.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/services-4.svg" alt="" width="125" height="90")
            li
              div
                noscript
                  img.lazy(src="img/svg/icons/services-5.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/services-5.svg" alt="" width="125" height="90")
            li
              div
                noscript
                  img.lazy(src="img/svg/icons/services-6.svg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/services-6.svg" alt="" width="125" height="90")

          .services__info

            h1.title-second сервисы 1С

            .services__desc
              p Сервисы ИТС предлагают возможности для расширения стандартного функционала программных продуктов «1С» в самых разных направлениях: для удобного обмена документами, сдачи отчетности, проверки контрагентов и многое другое.
              br
              p Большинство сервисов вы можете получить бесплатно при условии заключения договора на информационно-технологическое сопровождение (1С:ИТС) версии ПРОФ


      .second__nav
        ul.second__nav-list
          li
            a(href="#") Все
          li.active
            a(href="#") Для работы с документами и сдачи отчетности
          li
            a(href="#") Для решения возникающих вопросов и консультаций
          li
            a(href="#") Для работы с контрагентами и их проверки
          li
            a(href="#") Для работы через Интернет
          li
            a(href="#") Для госсектора
          li
            a(href="#") Другие сервисы

      .services__wrap.decor-wrap
        ul.services__list
          li.clearfix
            .services__icon
              noscript
                img.lazy(src="img/services/icon-1.png" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/services/icon-1.png" alt="" width="125" height="90" data-object-fit-cover)

            .services__content
              a(href="#")
                h3 1С-ЭДО

              .services__text
                p Отправляйте юридически значимые документы и счета-фактуры в один клик напрямую из программ «1С». Электронные документы приравниваются к бумажным оригиналам и имеют юридическую силу, так как защищены усиленной квалифицированной электронной подписью. Это просто, быстро и надежно.

          li.clearfix
            .services__icon
              noscript
                img.lazy(src="img/services/icon-2.png" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/services/icon-2.png" alt="" width="125" height="90" data-object-fit-cover)

            .services__content
              a(href="#")
                h3 1С: Подпись

              .services__text
                p Удобный сервис для подготовки и отправки заявления на выпуск квалифицированного сертификата электронной подписи. Рекомендуется пользователям, начинающим работать с «1С-ЭДО».

          li.clearfix
            .services__icon
              noscript
                img.lazy(src="img/services/icon-3.png" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/services/icon-3.png" alt="" width="125" height="90" data-object-fit-cover)

            .services__content
              a(href="#")
                h3 1С: Отчетность

              .services__text
                p Сдавайте отчетность через Интернет во все контролирующие инстанции. Вы сможете быстро и легко сформировать нужные документы и отправить их по назначению прямо из программ «1С».


  // /.scr_services
