mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__df
        .about__form.decor-wrap

          .about__bg
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-msg")


          h2.title Заказать консультацию

          .form.form--general.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item.form__item--submit
                .btn.btn--red
                  input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                  span.front Отправить
                  span.back Отправить
                  span.hidden Отправить

            .form__item
              span.wpcf7-form-control-wrap.accept.checkbox
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon



        .about__main.decor-wrap

          h2.title О компании

          .about__main-df
            .about__nav
              ul.about__nav-list
                li.active
                  a(href="#about-tab-0") История
                li
                  a(href="#about-tab-1") Статусы
                li
                  a(href="#about-tab-2") Преимущества
                li
                  a(href="#about-tab-3") Качество

            ul.about__tabs
              li.about__tab#about-tab-0
                .article
                  ul
                    li
                      p
                        strong.blue Система менежмента качества на всех этапах:
                        br
                        |  адаптация —&gt; внедрение —&gt; сопровождение программных продуктов 1С проверки руководства с контрольными точками каждого проекта

                    li
                      p
                        strong.blue Удобство связи
                        br
                        |  С нами удобно: выделенные линии телефонов, on-line сервис постановки и контроля задач

                    li
                      p
                        strong.blue ISO 9001
                        br
                        |  мы внедряем в своей работе стандарт ISO 9001:2015, наши процессы определены, мы оцениваем риски, все под контролем

              li.about__tab#about-tab-1
                .article
                  ul
                    li
                      p
                        strong.blue Система менежмента качества на всех этапах:
                        br
                        |  адаптация —&gt; внедрение —&gt; сопровождение программных продуктов 1С проверки руководства с контрольными точками каждого проекта

                    li
                      p
                        strong.blue Удобство связи
                        br
                        |  С нами удобно: выделенные линии телефонов, on-line сервис постановки и контроля задач




  // /.scr_about
