mixin scr_landing()
  section.scr_landing.landing(id="scr_landing")
    .container
      .landing__wrap.decor-wrap
        .landing__content
          h1.landing__title Лицензия, установка и сопровождение
            br
            |  1С: Бухгалтерия8 в Крыму

          .landing__btns
            .btn__wrap
              a.btn.btn--red(href="#")
                span.front Какая версия подойдет именно вам?
                span.back Какая версия подойдет именно вам?
                span.hidden Какая версия подойдет именно вам?
            .btn__wrap
              a.btn.btn--transparent(href="#") Попробовать 30 дней бесплатно

          ul.landing__feat
            li
              span.landing__feat-icon
                img(src="img/svg/icons/icon-land-1.svg", alt="иконка", data-object-fit-contain)

              span.landing__feat-text
                b Доставим до офиса
                br
                |  и установим по Симферополю
                br
                big  бесплатно

            li
              span.landing__feat-icon
                img(src="img/svg/icons/icon-land-2.svg", alt="иконка", data-object-fit-contain)

              span.landing__feat-text
                b Экономия 3000 руб.
                br
                |  на 3 месяца бесплатного сопровождения
                br
                |  при покупке ПРОФ и КОРП версий

            li
              span.landing__feat-icon
                img(src="img/svg/icons/icon-land-3.svg", alt="иконка", data-object-fit-contain)

              span.landing__feat-text
                b Хотите протестировать?

              a.landing__feat-link(href="#") Получить демо-доступ


      .landing__info.decor-wrap
        .landing__info-top
          .landing__info-img
            img(src="img-temp/landing-img-2.jpg", alt="")
          .landing__info-desc
            .landing__info-content
              h2.landing__info-title
                strong 1С:Бухгалтерия
                |  - профессиональный
                br
                |  инструмент бухгалтера

              ul
                li Подходит для любого бизнеса - от ИП до многопрофильных холдингов
                li Оперативно отражает изменения в законах и отчетности
                li Поддерживает различные системы налогообложения
                li Позволяет вести учет в одной программе
                li Обеспечивает удобство и гибкость в работе

            .landing__info-btns
              .btn__wrap
                a.btn.btn--red.open-modal(href="#")
                  span.front Получить консультацию
                  span.back Получить консультацию
                  span.hidden Получить консультацию


        .landing__info-main
          .landing__info-main-left
            .article
              h3 Назначение

              ul
                li Экономить время при проведении расчетов с контрагентами, оформлении документов и хозяйственных операций.
                li Быстро приступить к работе и минимизировать ошибки при использовании (встроенные подсказки, стартовые настройки и автоматическая проверка).
                li Подстраиваться под особенности бизнеса, благодаря гибкой настройке. Например, создавать новые справочники и изменять формы документов, текстовых, табличных и графических отчетов.
                li Подготовиться к отчетности. В программу включены регламентированные отчеты для представления контролирующим государственным органам.
                li Получать эффективную поддержку пользователей в сочетании с высоким комфортом работы.

          .landing__info-main-right
            .article
              h3 Возможности

              ul
                li Экономить время при проведении расчетов с контрагентами, оформлении документов и хозяйственных операций.
                li Быстро приступить к работе и минимизировать ошибки при использовании (встроенные подсказки, стартовые настройки и автоматическая проверка).
                li Подстраиваться под особенности бизнеса, благодаря гибкой настройке. Например, создавать новые справочники и изменять формы документов, текстовых, табличных и графических отчетов.
                li Подготовиться к отчетности. В программу включены регламентированные отчеты для представления контролирующим государственным органам.
                li Получать эффективную поддержку пользователей в сочетании с высоким комфортом работы.


        .link__wrap
          a.landing__feat-link(href="#") Читать больше


      .landing__price
        h2.title-second Стоимость 1С: Бухгалтерия

        .landing__price-df
          .landing__price-nav.decor-wrap

            .projects__nav.decor-wrap

              button.projects__filter.btn.btn--transparent(type="button") Категории

              ul.projects__nav-list.projects__nav-list-with-tabs
                li.active
                  a(href="#landing__price-tab-0") Базовая версия
                li
                  a(href="#landing__price-tab-1") Специализированные решения
                li
                  a(href="#landing__price-tab-2") ПРОФ версия
                li
                  a(href="#landing__price-tab-3") ПРОФ версия на 5 пользователей
                li
                  a(href="#landing__price-tab-4") КОРП версия
                li
                  a(href="#landing__price-tab-5") КОРП версия для МСФО
                li
                  a(href="#landing__price-tab-6") Для автономных учреждений
                li
                  a(href="#landing__price-tab-7") Для государственных учреждений
                li
                  a(href="#landing__price-tab-8") Отраслевые решения

          ul.landing__price-tabs.decor-wrap
            li.landing__price-tab#landing__price-tab-0
              .landing__price-wrap

                h3.landing__price-title 1С:Бухгалтерия 8. Базовая версия

                ul.landing__price-list
                  li.landing__price-item
                    .top
                      button.open
                      h3 Основная поставка

                      span.landing__price-num 5 400 Р
                      .btn__wrap
                        a.btn.btn--red(href="#")
                          span.front Купить
                          span.back Купить
                          span.hidden Купить

                    .landing__price-hidden
                      ul.landing__price-options
                        li.landing__price-options-item.landing__price-options-item--negative Один пользователь
                        li.landing__price-options-item.landing__price-options-item--negative Учет в одной информационной базе
                        li.landing__price-options-item.landing__price-options-item--negative Невозможно изменение и доработка конфигурации
                        li.landing__price-options-item.landing__price-options-item--negative Поддержка территориально распределенных информационных баз
                        li.landing__price-options-item Автоматические обновления

                  li.landing__price-item
                    .top
                      button.open
                      h3 Электронная поставка, со скидкой 50%

                      span.landing__price-num 5 400 Р
                      .btn__wrap
                        a.btn.btn--red(href="#")
                          span.front Купить
                          span.back Купить
                          span.hidden Купить

                    .landing__price-hidden
                      ul.landing__price-options
                        li.landing__price-options-item.landing__price-options-item--negative Один пользователь
                        li.landing__price-options-item.landing__price-options-item--negative Учет в одной информационной базе

                  li.landing__price-item
                    .top
                      button.open
                      h3 Основная поставка

                      span.landing__price-num 5 400 Р
                      .btn__wrap
                        a.btn.btn--red(href="#")
                          span.front Купить
                          span.back Купить
                          span.hidden Купить

                    .landing__price-hidden
                      ul.landing__price-options
                        li.landing__price-options-item.landing__price-options-item--negative Один пользователь
                        li.landing__price-options-item.landing__price-options-item--negative Учет в одной информационной базе

                .landing__price-bottom
                  h3 1С:Бухгалтерия 8 в облаке

                  .btn__wrap
                    a.btn.btn--red.open-modal(href="#")
                      span.front Попробовать 30 дней бесплатно
                      span.back Попробовать 30 дней бесплатно
                      span.hidden Попробовать 30 дней бесплатно


      .landing__compare
        .landing__compare-btn
          .btn__wrap
            button.btn.btn--blue
              span.btn__text Сравнение версий
              span.btn__bottom развернуть
                i.btn__arrows
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow-down")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow-down")

        .landing__compare-hidden
          h2 сравнение версий

          .landing__compare-table
            .landing__compare-row.landing__compare-head
              .landing__compare-cell Название модуля
              .landing__compare-cell Базовая
              .landing__compare-cell  Проф
              .landing__compare-cell  Корп

            .landing__compare-row
              .landing__compare-cell Готовое решение для ведения бухгалтерского и налогового учета
              .landing__compare-cell
                .landing__compare-title-mobile Базовая
                .landing__compare-icon.landing__compare-icon--yes
              .landing__compare-cell
                .landing__compare-title-mobile Проф
                .landing__compare-icon.landing__compare-icon--yes
              .landing__compare-cell
                .landing__compare-title-mobile Корп
                .landing__compare-icon.landing__compare-icon--yes

            .landing__compare-row
              .landing__compare-cell Готовое решение для ведения бухгалтерского и налогового учета
              .landing__compare-cell
                .landing__compare-title-mobile Базовая
                .landing__compare-icon.landing__compare-icon--yes
              .landing__compare-cell
                .landing__compare-title-mobile Проф
                .landing__compare-icon.landing__compare-icon--yes
              .landing__compare-cell
                .landing__compare-title-mobile Корп
                .landing__compare-icon.landing__compare-icon--yes

            .landing__compare-row
              .landing__compare-cell Готовое решение для ведения бухгалтерского и налогового учета
              .landing__compare-cell
                .landing__compare-title-mobile Базовая
                .landing__compare-icon.landing__compare-icon--yes
              .landing__compare-cell
                .landing__compare-title-mobile Проф
                .landing__compare-icon.landing__compare-icon--yes
              .landing__compare-cell
                .landing__compare-title-mobile Корп
                .landing__compare-icon.landing__compare-icon--yes

            .landing__compare-row
              .landing__compare-cell Готовое решение для ведения бухгалтерского и налогового учета
              .landing__compare-cell
                .landing__compare-title-mobile Базовая
                .landing__compare-icon.landing__compare-icon--no
              .landing__compare-cell
                .landing__compare-title-mobile Проф
                .landing__compare-icon.landing__compare-icon--yes
              .landing__compare-cell
                .landing__compare-title-mobile Корп
                .landing__compare-icon.landing__compare-icon--yes

            .landing__compare-row
              .landing__compare-cell
              .landing__compare-cell
                .landing__compare-title-mobile Базовая
                .landing__compare-btns
                  .btn__wrap
                    a.btn.btn--red(href="#")
                      span.front Купить
                      span.back Купить
                      span.hidden Купить
              .landing__compare-cell
                .landing__compare-title-mobile Проф
                .landing__compare-btns
                  .btn__wrap
                    a.btn.btn--red(href="#")
                      span.front Купить
                      span.back Купить
                      span.hidden Купить
              .landing__compare-cell
                .landing__compare-title-mobile Корп
                .landing__compare-btns
                  .btn__wrap
                    a.btn.btn--red(href="#")
                      span.front Купить
                      span.back Купить
                      span.hidden Купить


      .landing__get.decor-wrap
        h2.title-second При покупке продуктов 1С у нас Вы получаете:

        ul.landing__get-list
          li.landing__get-item
            .landing__get-top
              h3 Доставка
                br
                |  бесплатно:

            .landing__get-content
              .article
                ul
                  li При покупке версии Проф и выше
                  li При покупке версии Базовая без скидки

          li.landing__get-item
            .landing__get-top
              h3 Установка
                br
                |  бесплатно:

            .landing__get-content
              .article
                ul
                  li При покупке версии Проф и выше
                  li При покупке версии Базовая без скидки

          li.landing__get-item
            .landing__get-top
              h3 Способы
                br
                |  оплаты:

            .landing__get-content
              .article
                ul
                  li Оплата безналичным способом
                  li Наличными средствами в кассе


      .landing__maintain
        h2.title-second Сопровождение 1С: Бухгалтерия
        p.landing__maintain-desc Что дает действующий договор сопровождения 1С:ИТС?

        .decor-wrap
          ul.landing__maintain-list
            li.landing__maintain-item
              span.landing__maintain-img
                img(src="img/svg/icons/icon-maint-1.svg", alt="Иконка")
              span.landing__maintain-text Линия
                br
                |  консультации 24/7

            li.landing__maintain-item
              span.landing__maintain-img
                img(src="img/svg/icons/icon-maint-2.svg", alt="Иконка")
              span.landing__maintain-text Обновление любых
                br
                |  конфигураций 1С

            li.landing__maintain-item
              span.landing__maintain-img
                img(src="img/svg/icons/icon-maint-3.svg", alt="Иконка")
              span.landing__maintain-text Справочная информация
                br
                |  с наглядными примерами в 1С

          .landing__maintain-serv
            h3 А так же более 25 уникальных сервисов доступных с договором 1С:ИТС, среди которых:

            .landing__maintain-serv-list
              .swiper-wrapper
                .swiper-slide
                  span.landing__maintain-serv-text
                    b 1С-Отчетность
                    br
                    |  Сдача электронной
                    br
                    |  отчетности в 2 клика

                .swiper-slide
                  span.landing__maintain-serv-text
                    b 1С: Контрагент
                    br
                    |  Автоматически проверяет
                    br
                    |  и заполняет данные
                    br
                    |  контрагента по ИНН

                .swiper-slide
                  span.landing__maintain-serv-text
                    b 1С-ЭДО
                    br
                    |  Обмен электронными
                    br
                    |  документами

                .swiper-slide
                  span.landing__maintain-serv-text
                    b 1С: Фрэш
                    br
                    |  Удалённый доступ
                    br
                    |  к вашим данным
                    br
                    |  в программах 1С


                .swiper-slide
                  span.landing__maintain-serv-text
                    b 1СПАРК Риски
                    br
                    |  Оценка надежности
                    br
                    |  и мониторинг
                    br
                    |  контрагентов 1С

            .landing__maintain-serv-dots

            .landing__maintain-serv-btns
              .btn__wrap
                a.btn.btn--red.open-modal(href="#")
                  span.front Заказать сопровождение
                  span.back Заказать сопровождение
                  span.hidden Заказать сопровождение


          .landing__maintain-spec
            h3 Специальное предложение
              br
              small  при покупке ПРОФ и КОРП

            .landing__maintain-spec-df
              .landing__maintain-spec-left
                .landing__maintain-spec-text
                  p дарим 4 месяца
                    br
                    span бесплатного
                      br
                      |  обслуживания

                .landing__maintain-spec-add
                  p при покупке годовой подписки на 1С:ИТС!*

              .landing__maintain-spec-prices
                .landing__maintain-spec-wrap
                  .landing__maintain-spec-pleft
                    .landing__maintain-spec-price 1 879 Р
                    .landing__maintain-spec-time в месяц

                  .landing__maintain-spec-pright
                    .landing__maintain-spec-price 22 544 Р
                    .landing__maintain-spec-time в год

                .landing__maintain-spec-add
                  p * Предложение действительно при покупке программного
                    br
                    |  продукта у нас


              .landing__maintain-spec-btns
                .btn__wrap
                  a.btn.btn--red.open-modal(href="#")
                    span.front Приобрести подписку
                    span.back Приобрести подписку
                    span.hidden Приобрести подписку


      .landing__action.decor-wrap
        h2.title-second Акционные предложения

        .landing__action-df
          .landing__action-list
            .landing__action-item
              p 1С
                br
                |  бухгалтерия
            p.landing__action-between +
            .landing__action-item
              p Сервис по сдаче
                br
                |  отчетности
            p.landing__action-between +
            .landing__action-item
              p 1С
                br
                |  контрагент
            p.landing__action-between =

            .landing__action-prices
              span.landing__action-price--old 15 000 Р
              span.landing__action-price--new 13 500 Р

          .landing__action-btns
            .btn__wrap
              a.btn.btn--red.open-modal(href="#")
                span.front Заказать с выгодой
                span.back Заказать с выгодой
                span.hidden Заказать с выгодой


      .landing__cta.decor-wrap
        h2.title-second Рассчитать стоимость внедрения

        .cta__img
          svg.icon
            use(xlink:href="img/svg/sprite.svg#icon-calc")

        .form.wpcf7
          form.wpcf7-form
            .form__df.form__df--bottom
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Почта')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-mail")

              .form__item.form__item--submit
                .btn.btn--red
                  input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                  span.front Отправить
                  span.back Отправить
                  span.hidden Отправить

            .form__item
              span.wpcf7-form-control-wrap.accept.checkbox
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon


      .landing__projects
        h2.title-second Примеры внедрения 1С: Бухгалтерия

        .decor-wrap
          .projects--page
            .projects__wrap.decor-wrap
              ul.projects__list
                li.projects__item
                  .projects__title
                    .projects__bg
                      noscript
                        img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                  .projects__content
                    p
                      strong Отрасль:
                      |  Строительство
                    p
                      strong Конфигурация 1С:
                      |  Бухгалтерский учет
                    p
                      strong Кол-во рабочих мест:
                      |  5
                    p
                      strong Задача:
                      |  Банальные, но неопровержимые выводы, а также акционеры крупнейших компаний неоднозначны и будут своевременно верифицированы. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы представляют собой не что иное, как квинтэссенцию

                    .projects__links
                      a.projects__link(href="#") Описание кейса

                li.projects__item
                  .projects__title
                    .projects__bg
                      noscript
                        img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                  .projects__content
                    p
                      strong Отрасль:
                      |  Строительство
                    p
                      strong Конфигурация 1С:
                      |  Бухгалтерский учет
                    p
                      strong Кол-во рабочих мест:
                      |  5
                    p
                      strong Задача:
                      |  Банальные, но неопровержимые выводы, а также акционеры крупнейших компаний неоднозначны и будут своевременно верифицированы. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы представляют собой не что иное, как квинтэссенцию

                    .projects__links
                      a.projects__link(href="#") Описание кейса

                li.projects__item
                  .projects__title
                    .projects__bg
                      noscript
                        img.lazy(src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    p Биллинг-оператор «Единый Расчетный Центр» модернизировал автоматизированную информационную систему

                  .projects__content
                    p
                      strong Отрасль:
                      |  Строительство
                    p
                      strong Конфигурация 1С:
                      |  Бухгалтерский учет
                    p
                      strong Кол-во рабочих мест:
                      |  5
                    p
                      strong Задача:
                      |  Банальные, но неопровержимые выводы, а также акционеры крупнейших компаний неоднозначны и будут своевременно верифицированы. Противоположная точка зрения подразумевает, что сделанные на базе интернет-аналитики выводы представляют собой не что иное, как квинтэссенцию

                    .projects__links
                      a.projects__link(href="#") Описание кейса


      .landing__rework
        h2.title-second Услуги по доработке и настройке 1С

        p.landing__rework-desc Разрабатываем новый функционал: отчеты, печатные формы и др. Настроим права, клиент-банк,
          br
          |  интеграцию с другими системами, интеграцию с сайтами и торговым оборудованием

        ul.landing__rework-list
          li.landing__rework-item
            .landing__rework-top
              .landing__rework-heading
                h3 Обновление 1С
                p Обновление типовых и нетиповых программ 1С.
                button.open.active Подробнее

              .landing__rework-btns
                a.btn.btn--red(href="#")
                  span.front Заказать
                  span.back Заказать
                  span.hidden Заказать

            .landing__rework-hidden
              .article
                p  Позаботьтесь об обновлениях и настройки 1С заранее. Особенно если у Вас:
                ul
                  li Программа 1С давно не обновлялась;
                  li Нетиповая конфигурация;
                  li Устаревшая версия программного продукта.
                p Наши специалисты подключатся к Вашей программе и дадут рекомендации для внедрения необходимых изменений.

          li.landing__rework-item
            .landing__rework-top
              .landing__rework-heading
                h3 Обновление 1С
                p Обновление типовых и нетиповых программ 1С.
                button.open Подробнее

              .landing__rework-btns
                a.btn.btn--red(href="#")
                  span.front Заказать
                  span.back Заказать
                  span.hidden Заказать

            .landing__rework-hidden
              .article
                p  Позаботьтесь об обновлениях и настройки 1С заранее. Особенно если у Вас:
                ul
                  li Программа 1С давно не обновлялась;
                  li Нетиповая конфигурация;
                  li Устаревшая версия программного продукта.

          li.landing__rework-item
            .landing__rework-top
              .landing__rework-heading
                h3 Обновление 1С
                p Обновление типовых и нетиповых программ 1С.
                button.open Подробнее

              .landing__rework-btns
                a.btn.btn--red(href="#")
                  span.front Заказать
                  span.back Заказать
                  span.hidden Заказать

            .landing__rework-hidden
              .article
                p  Позаботьтесь об обновлениях и настройки 1С заранее. Особенно если у Вас:
                ul
                  li Программа 1С давно не обновлялась;
                  li Нетиповая конфигурация;
                  li Устаревшая версия программного продукта.

          li.landing__rework-item
            .landing__rework-top
              .landing__rework-heading
                h3 Обновление 1С
                p Обновление типовых и нетиповых программ 1С.
                button.open Подробнее

              .landing__rework-btns
                a.btn.btn--red(href="#")
                  span.front Заказать
                  span.back Заказать
                  span.hidden Заказать

            .landing__rework-hidden
              .article
                p  Позаботьтесь об обновлениях и настройки 1С заранее. Особенно если у Вас:
                ul
                  li Программа 1С давно не обновлялась;
                  li Нетиповая конфигурация;
                  li Устаревшая версия программного продукта.

          li.landing__rework-item
            .landing__rework-top
              .landing__rework-heading
                h3 Обновление 1С
                p Обновление типовых и нетиповых программ 1С.
                button.open Подробнее

              .landing__rework-btns
                a.btn.btn--red(href="#")
                  span.front Заказать
                  span.back Заказать
                  span.hidden Заказать

            .landing__rework-hidden
              .article
                p  Позаботьтесь об обновлениях и настройки 1С заранее. Особенно если у Вас:
                ul
                  li Программа 1С давно не обновлялась;
                  li Нетиповая конфигурация;
                  li Устаревшая версия программного продукта.

  // /.scr_landing
