mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      .serv__wrap.decor-wrap
        ul.serv__list
          li.serv__item
            .serv__top
              .serv__img
                noscript
                  img.lazy(src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              h3.serv__title Типовые решения 1С

            .serv__menu
              ul.serv__links
                li
                  a(href="#") 1С: Бухгалтерия
                li
                  a(href="#") 1С: Зарплата и управление персоналом
                li
                  a(href="#") 1С: Розница
                li
                  a(href="#") 1С: Управление нашей фирмой
                li
                  a(href="#") 1С: Управление торговлей

            .serv__btns
              .btn__wrap
                a.btn.btn--transparent(href="#") Демо-доступ
              .link_wrap
                a.link(href="#") Все программы

          li.serv__item
            .serv__top
              .serv__img
                noscript
                  img.lazy(src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              h3.serv__title Отраслевые решения 1С

            .serv__menu
              ul.serv__links
                li
                  a(href="#") Бухгалтерский и налоговый учет
                li
                  a(href="#") Кадровый учет
                li
                  a(href="#") Документооборот
                li
                  a(href="#") Торговый учет и продажи
                li
                  a(href="#") Решения для комплексной автоматизации

            .serv__btns
              .link_wrap
                a.link(href="#") Все программы

          li.serv__item
            .serv__top
              .serv__img
                noscript
                  img.lazy(src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

              h3.serv__title Обслуживание 1С

            .serv__menu
              ul.serv__links
                li
                  a(href="#") Бухгалтерский и налоговый учет
                li
                  a(href="#") Кадровый учет
                li
                  a(href="#") Документооборот
                li
                  a(href="#") Торговый учет и продажи
                li
                  a(href="#") Решения для комплексной автоматизации

            .serv__btns
              .link_wrap
                a.link(href="#") Все программы


  // /.scr_serv
