mixin scr_project()
  section.scr_project.project(id="scr_project")
    .container
      +breadcrumbs

      .project__df
        .project__wrap
          .project__cont.decor-wrap
            .project__top
              .project__img
                noscript
                  img.lazy(src="img-temp/project-img.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/project-img.jpg" alt="" width="125" height="90")

              h1.project__title Внедрение программы «1С» Предприятие 8. CRMдля ТМ «Скворцово» в Крыму реализовано в апреле 2018 г.

            .article
              .project__middle
                .project__desc
                  ul
                    li
                      span.accent
                        strong Конфигурация 1С:
                      |  Бухгалтерский учет
                    li
                      span.accent
                        strong Кол-во рабочих мест:
                      |  5
                    li
                      span.accent
                        strong Сайт:
                      |  скворцово.рф
                    li
                      span.accent
                        strong Сфера:
                      |  пищевая промышленность
                    li
                      span.accent
                        strong Задача:
                      |  Модернизация учетной системы, оптимизация информационных потоков, повышение достоверности учета,      взаимосвязь и создание единой информационной системы.

                .link__wrap
                  a.link(href="#") Смотреть отзыв клиента

              .project__main
                h2 О клиенте

                p Предприятия, входящие в состав группы компаний «Скворцово», осуществляют полный цикл производства: от поля до прилавка. Такая организация обеспечивает независимость от конъюнктуры различных сырьевых рынков и изменения цен на сырье. Вертикальная интеграция позволяет осуществлять контроль качества и безопасности на всех этапах производства.

                h2 Что сделано

                p Программное решение было разработано на современной, легко масштабируемой платформе «1С:Передприятие» и обеспечило финансовый департамент компании эффективным инструментарием для контроля над движением денежных средств, анализа, планирования и финансового моделирования.

                p
                  strong Количество автоматизированных рабочих мест:
                  |  30

                p
                  strong Период работы над проектом:
                  |  2011–2013, 2016 – по настоящее время

                h2 Как выполнялся проект

                p В 2011 году в связи с интенсивным ростом филиальной сети и увеличением финансовых операций, руководство компании приняло решение автоматизировать управление казначейством. Управление денежными потоками компании базируется на таких принципах, как информативная достоверность, эффективность, ликвидность и сбалансированность. Цель автоматизации состояла в том, чтобы привести денежные потоки в соответствие с этими принципами, а также обеспечить рост чистого денежного потока. Для этого программный продукт должен был обеспечить финансовый департамент такими инструментами, как:

                ul
                  li Контроль над движением денежных средств
                  li Анализ денежных потоков
                  li Планирование
                  li Финансовое моделирование

                p Данный функционал предоставляла программа, разработанная компанией WiseAdvice на платформе «1С: Предприятие» — «Управление казначейством». Решение предназначалось для автоматизации функций казначейства вне зависимости от организационных особенностей или направления коммерческой деятельности заказчика. Базовый функционал решения полностью удовлетворил потребности заказчика, поэтому программа была внедрена без доработок. Автоматизировано 30 рабочих мест. После интеграции решения заказчик продолжил сотрудничество с компанией WiseAdvice в рамках технической поддержки.

                h2 Все цели проекта были достигнуты. Что получил клиент:

                ul
                  li
                    span.accent
                      strong  Эффективное управление денежными потоками:
                    br
                    |  исключен риск кассовых разрывов, снижен объем заимствованных средств, улучшена финансовая дисциплина и контроль над денежными потоками;

                  li
                    span.accent
                      strong  Планирование и анализ финансовых операций:
                    br
                    |  повышена платежеспособность и ликвидность компании, обеспечен высокий уровень финансовой устойчивости;

                  li
                    span.accent
                      strong  Автоматическое формирование оперативной отчетности:
                    br
                    |  минимизировано влияние человеческого фактора, повышена производительность труда и эффективность работы финансовых служб;

                  li
                    span.accent
                      strong  Финансовое моделирование:
                    br
                    |  повышено качество управленческих решений.


              .project__bottom
                h2 Проект выполнен на базе программ:

                +scr_catalog--project


          .form.form--project.wpcf7.decor-wrap
            h2.title Задать вопрос консультанту 1С
            form.wpcf7-form
              .form__df
                .form__col
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                      i.input-icon
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-user")

                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                      i.input-icon
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#form-phone")

                .form__col
                  .form__item
                    span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
                      label(for="your-msg")
                        i.input-icon
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#form-msg")

                      textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="Сообщение")

              .form__item.form__item--submit
                .btn__wrap
                  .btn.btn--red
                    input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                    span.front Отправить
                    span.back Отправить
                    span.hidden Отправить

              .form__item
                span.wpcf7-form-control-wrap.accept.checkbox
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

        .project__other.decor-wrap
          h2.project__other-title Другие проекты

          ul.project__other-list
            li
              .project__other-top
                .project__other-img
                  noscript
                    img.lazy(src="img-temp/projects/img-1.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-1.jpg" alt="" width="125" height="90")

              .project__other-content
                .article
                  h3 Холдинг Брис-Босфор

                  .project__other-desc
                    p
                      span.accent
                        strong Производитель
                          br
                          |  и поставщик обуви

                  p Автоматизация работы холдинга Брис-Босфор. Новая система «1С:ERP Управление предприятием 2» помогла сократить производственные затраты на 10%. Себестоимость продукции снижена, прибыль предприятия увеличилась на 15%

              .project__other-review
                p.project__other-review-title Отзыв клиента

                .project__other-review-wrap
                  p Комплексное управление ресурсами предприятия (ERP) Интеграция и обмены данными 1С Производственные предприятия 1С: ERP Управление предприятием 2.0 1С: Документооборот 8

            li
              .project__other-top
                .project__other-img
                  noscript
                    img.lazy(src="img-temp/projects/img-2.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-2.jpg" alt="" width="125" height="90")

              .project__other-content
                .article
                  h3 ГК «Детский мир»

                  .project__other-desc
                    p
                      span.accent
                        strong Крупнейшая в России сеть
                          br
                          |  магазинов детских товаров

                  p Автоматизация централизованной финансовой системы. Создана единая информационная среда, проведена интеграция систем и постановка финансовых процессов.

              .project__other-review
                p.project__other-review-title Отзыв клиента

                .project__other-review-wrap
                  p Управление зарплатой, персоналом и кадровым учетом (HRM) Консолидация данных Управление НСИ (MDM) Интеграция и обмены данными 1С Торговые компании 1С: Бухгалтерия 8 1С: Зарплата и Управление Персоналом 8 (ЗУП) 1С: Управление производственным предприятием 8 (УПП)

            li
              .project__other-top
                .project__other-img
                  noscript
                    img.lazy(src="img-temp/projects/img-1.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-1.jpg" alt="" width="125" height="90")

              .project__other-content
                .article
                  h3 Холдинг Брис-Босфор

                  .project__other-desc
                    p
                      span.accent
                        strong Производитель
                          br
                          |  и поставщик обуви

                  p Автоматизация работы холдинга Брис-Босфор. Новая система «1С:ERP Управление предприятием 2» помогла сократить производственные затраты на 10%. Себестоимость продукции снижена, прибыль предприятия увеличилась на 15%

              .project__other-review
                p.project__other-review-title Отзыв клиента

                .project__other-review-wrap
                  p Комплексное управление ресурсами предприятия (ERP) Интеграция и обмены данными 1С Производственные предприятия 1С: ERP Управление предприятием 2.0 1С: Документооборот 8

            li
              .project__other-top
                .project__other-img
                  noscript
                    img.lazy(src="img-temp/projects/img-2.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/projects/img-2.jpg" alt="" width="125" height="90")

              .project__other-content
                .article
                  h3 ГК «Детский мир»

                  .project__other-desc
                    p
                      span.accent
                        strong Крупнейшая в России сеть
                          br
                          |  магазинов детских товаров

                  p Автоматизация централизованной финансовой системы. Создана единая информационная среда, проведена интеграция систем и постановка финансовых процессов.

              .project__other-review
                p.project__other-review-title Отзыв клиента

                .project__other-review-wrap
                  p Управление зарплатой, персоналом и кадровым учетом (HRM) Консолидация данных Управление НСИ (MDM) Интеграция и обмены данными 1С Торговые компании 1С: Бухгалтерия 8 1С: Зарплата и Управление Персоналом 8 (ЗУП) 1С: Управление производственным предприятием 8 (УПП)


      .project__nav
        a.project__arrow.project__arrow--left(href="#") Назад к списку
        a.project__arrow.project__arrow--right(href="#") Следующий проект


  // /.scr_project
