mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      h1.title-second Контакты

      .contacts__df
        .contacts__wrap.decor-wrap
          ul.contacts__list
            li.contacts__item
              h3.contacts__city Симферополь
              p.contacts__address ул. Гагарина 14а, корпус «В», офис 232

              .contacts__item-content
                .contacts__item-df
                  .contacts__col
                    p.contacts__col-title Городской тел.:

                    a(href="tel:+78612177690" rel="nofollow") +7 861 217 76 90
                    a(href="tel:+74994040679" rel="nofollow") +7 499 404 06 79
                    a(href="tel:+73652598934" rel="nofollow") +7 3652 59 89 34
                    p (многоканальный)

                  .contacts__col
                    p.contacts__col-title Мобильный тел.:

                    a(href="tel:+79787772043" rel="nofollow") +7 978 777 20 43
                    a(href="tel:+74994040679" rel="nofollow") +7 499 404 06 79
                    p (многоканальный)

                  .contacts__col
                    p.contacts__col-title E-mail:

                    a(href="mailto:mail@necsoft.ru" rel="nofollow") mail@necsoft.ru

            li.contacts__item
              h3.contacts__city Симферополь

              .contacts__item-content
                .contacts__block
                  p.contacts__col-title Городской тел.:
                    a(href="tel:+78612177690" rel="nofollow")  +7(861) 217 76 90
                  p (многоканальный)

                .contacts__block
                  p.contacts__col-title E-mail:
                    a(href="mailto:mail@necsoft.ru" rel="nofollow")  mail@necsoft.ru

            li.contacts__item
              h3.contacts__city Севастополь

              .contacts__item-content
                .contacts__block
                  p.contacts__col-title Мобильный тел.:
                    a(href="tel:+79787277424" rel="nofollow")  +7 978 727 74 24
                  p (многоканальный)

                .contacts__block
                  p.contacts__col-title E-mail:
                    a(href="mailto:mail@necsoft.ru" rel="nofollow")  mail@necsoft.ru



        .contacts__form.decor-wrap
          .about__bg
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-msg")

          h2.title Обратная связь

          .form.form--general.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
                  label(for="your-msg")
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-msg")

                  textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="Сообщение")

              .form__item.form__item--submit
                .btn.btn--red
                  input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                  span.front Отправить
                  span.back Отправить
                  span.hidden Отправить

            .form__item
              span.wpcf7-form-control-wrap.accept.checkbox
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon


      .contacts__map
        h2.contacts__map-title Адрес головного офиса:

        .contacts__map-wrap#contacts__map



  // /.scr_contacts
