mixin scr_catalog()
  section.scr_catalog.catalog(id="scr_catalog")
    .container
      .catalog__df
        .projects__nav-wrap
          .projects__nav.decor-wrap

            button.projects__filter.btn.btn--transparent(type="button") Категории

            ul.projects__nav-list
              li.projects__nav-item-with-children.active
                a(href="#") Программы 1С
                ul.sub-menu.active
                  li.active
                    a(href="#") Типовые решения
                  li
                    a(href="#") Отраслевые решения
                  li
                    a(href="#") Автоматизация бизнесс-процессов

              li.projects__nav-item-with-children
                a(href="#") Лицензии 1С
              li
                a(href="#") Торговое оборудование
              li
                a(href="#") Услуги и сопровождение
              li
                a(href="#") Сервисы 1С
              li
                a(href="#") Мобильные решения


          .about__form.decor-wrap.about__form--desktop

            .about__bg
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-msg")


            h2.title Заказать консультацию

            .form.form--general.wpcf7
              form.wpcf7-form
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-user")

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-phone")

                .form__item.form__item--submit
                  .btn.btn--red
                    input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                    span.front Отправить
                    span.back Отправить
                    span.hidden Отправить

              .form__item
                span.wpcf7-form-control-wrap.accept.checkbox
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon


        .catalog__wrap
          h1.title Типовые решения 1С

          ul.catalog__list.decor-wrap
            li.catalog__item
              .catalog__img
                noscript
                  img.lazy(src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .catalog__content
                h2.catalog__title Бухгалтерский налоговый учет

                .catalog__desc
                  p 1С: Бухгалтерия - функциональная система, предназначена для автоматизации бухгалтерского и налогового учета на предприятии

                .catalog__bottom
                  b.catalog__price от 6 700 Р

                  .catalog__btns
                    .btn__wrap
                      a.btn.btn--red.open-modal(href="#")
                        span.front Подробнее
                        span.back Подробнее
                        span.hidden Подробнее

            li.catalog__item
              .catalog__img
                noscript
                  img.lazy(src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .catalog__content
                h2.catalog__title Кадровый учет

                .catalog__desc
                  p 1С (ЗУП) Зарплата и управление персоналом - программа, позволяющая автоматизировать процесс расчета зар. платы персонала и реализацию кадровой политики предприятия

                .catalog__bottom
                  b.catalog__price от 12 300 Р

                  .catalog__btns
                    .btn__wrap
                      a.btn.btn--red.open-modal(href="#")
                        span.front Подробнее
                        span.back Подробнее
                        span.hidden Подробнее

            li.catalog__item
              .catalog__img
                noscript
                  img.lazy(src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .catalog__content
                h2.catalog__title Документооборот

                .catalog__desc
                  p 1С Документооборот - комплексно решает задачи автоматизации учета документов, взаимодействия сотрудников, контроля и анализа исполнительской дисциплины.

                .catalog__bottom
                  b.catalog__price от 36 000 Р

                  .catalog__btns
                    .btn__wrap
                      a.btn.btn--red.open-modal(href="#")
                        span.front Подробнее
                        span.back Подробнее
                        span.hidden Подробнее

            li.catalog__item
              .catalog__img
                noscript
                  img.lazy(src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .catalog__content
                h2.catalog__title Торговый учет и продажи

                .catalog__desc
                  p Программа 1С Розница предназначена для оперативного учета товаров и денежных средств в розничных магазинах и других торговых точках.

                .catalog__bottom
                  b.catalog__price от 3 300 Р

                  .catalog__btns
                    .btn__wrap
                      a.btn.btn--red.open-modal(href="#")
                        span.front Подробнее
                        span.back Подробнее
                        span.hidden Подробнее

            li.catalog__item
              .catalog__img
                noscript
                  img.lazy(src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .catalog__content
                h2.catalog__title Решения для комплексной автоматизации

                .catalog__desc
                  p 1С Комплексная автоматизация - решение для производственных и торговых компаний, позволяющее построить современную систему учета с высокой степенью детализации затрат, определить показатели управления и ответственности пользователей

                .catalog__bottom
                  b.catalog__price от 61 700 Р

                  .catalog__btns
                    .btn__wrap
                      a.btn.btn--red.open-modal(href="#")
                        span.front Подробнее
                        span.back Подробнее
                        span.hidden Подробнее

          +paginator


          .about__form.decor-wrap.about__form--mobile

            .about__bg
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-msg")


            h2.title Заказать консультацию

            .form.form--general.wpcf7
              form.wpcf7-form
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-user")

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-phone")

                .form__item.form__item--submit
                  .btn.btn--red
                    input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                    span.front Отправить
                    span.back Отправить
                    span.hidden Отправить

              .form__item
                span.wpcf7-form-control-wrap.accept.checkbox
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_catalog

mixin scr_catalog--project()
  section.scr_catalog.catalog.catalog--project(id="scr_catalog")
    //- .container
    .catalog__wrap
      ul.catalog__list
        li.catalog__item
          .catalog__img
            noscript
              img.lazy(src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

          .catalog__content
            h2.catalog__title Бухгалтерский налоговый учет

            .catalog__desc
              p 1С: Бухгалтерия - функциональная система, предназначена для автоматизации бухгалтерского и налогового учета на предприятии

            .catalog__bottom
              b.catalog__price от 6 700 Р

              .catalog__btns
                .btn__wrap
                  a.btn.btn--red.open-modal(href="#")
                    span.front Узнать больше
                    span.back Узнать больше
                    span.hidden Узнать больше

        li.catalog__item
          .catalog__img
            noscript
              img.lazy(src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/catalog/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

          .catalog__content
            h2.catalog__title 1С:Управление
              br
              |  производственным
              br
              |  предприятием

            .catalog__desc
              p Комплексная информационная система 1С, соответствующая российским и международными стандартам

            .catalog__bottom
              b.catalog__price от 223 000 Р

              .catalog__btns
                .btn__wrap
                  a.btn.btn--red.open-modal(href="#")
                    span.front Узнать больше
                    span.back Узнать больше
                    span.hidden Узнать больше

  // /.scr_catalog
