mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs

      .post__wrap.decor-wrap
        .post__img
          noscript
            img.lazy(src="img-temp/post/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .post__content
          h1 «1С»: что это за программа? Коротко о главном

          .post__desc
            p Эту статью мы решили посвятить ответам на самые распространенные вопросы о продуктах «1С»: что такое программа «1С», что входит в платформу «1С:Предприятие», где применяются ИТ-системы, какие программные продукты пользуются наибольшей популярностью и т.д. Статья будет полезна как начинающим пользователям «1С», так и тем, кто уже давно работает с программами. Вам будет интересно освежить свои знания и открыть для себя что-то новое.

          .post__nav
            p Вы узнаете:
            ul.post__nav-list
              li
                a(href="#link1") Что такое «1С»?
              li
                a(href="#link2") Для чего нужна программа «1С»?
              li
                a(href="#link3") Что такое «1С:Предприятие»?
              li
                a(href="#link4") Области применения продуктов «1С».
              li
                a(href="#link5") Все об «1С»: топ-10 популярных программ «1С».
              li
                a(href="#link6") Что такое программа «1С»: Аренда «1С» и «1С» онлайн.
              li
                a(href="#link7") Обучение работе в программах «1С:Предприятие».

          .article
            h2(id="link1") Что такое «1С»?

            p Программа «1С» (встречается также написание 1S, один С или один Эс) — это продукт фирмы «1С», предназначенный для автоматизации предприятий. Все программные решения разработчика созданы на базе единой технологической платформы и работают по общим принципам.

            h2(id="link2") Для чего нужна программа «1С»?

            p Существует расхожее мнение, что программы «1С» предназначены исключительно для бухгалтеров. Такая точка зрения сложилась по причине того, что первым и самым популярным до сих пор продуктом «1С» является «1С:Бухгалтерия».

            p Фирма «1С» выпустила свою первую программу еще в 1991 году, показав, что однотипные и рутинные задачи можно переложить на автоматизированную систему. Это позволило специалистам сосредоточиться на более важных и интересных делах.

            p Почти за 30 лет существования фирмы «1С» ИТ-решения прошли большой путь развития от простой программы для ведения учета и сдачи отчетности до многопользовательских систем класса ERP (англ. Enterprise Resource Planning – планирование ресурсов предприятия).

            p Сегодня продукты «1С» — это широкий ассортимент типовых решений и отраслевых конфигураций, которые позволяют автоматизировать любые бизнес-процессы в компаниях самых разных отраслей и масштабов.

            h3 Разберемся поподробнее

            img(src="img-temp/post/post-img-2.jpg", alt="", class="alignright")

            p
              span.blue
                b Платформа «1С:Предприятие 8»
              |  — это основа, без которой невозможно использовать ни одно прикладное решение линейки «1С». Фактически это фундамент для установки одной или нескольких конфигураций. Этот принцип является общим для всех версий «1С»: как для самой актуальной — программа «1С» 8.3, так и для предыдущих — система «1С:Предприятие 8.2», 8.0, 7.7 и др.

            p На основе платформы программисты «1С» пишут программы (конфигурации) для пользователей. Платформа «1С» очень функциональна, она включает в себя широкий список самых разных возможностей.

            p В свою очередь конфигурация — это весь функционал, который обеспечивает работоспособность платформы. Таким образом, первый элемент не может существовать отдельно от второго. Любой программист может доработать прикладное решение под индивидуальные задачи компании, но платформа при этом останется неизменной.

            h3 Немного о версиях программ «1С:Предприятие»

            p Самая современная и актуальная версия платформы на момент написания статьи – «1С» 8.3. Работать можно и на более ранних релизах – 8.2 или 8.0. Некоторые пользователи все еще остаются верны удачному релизу платформы 7.7. Однако для полноценной и комфортной работы с использованием всего спектра возможностей мы рекомендуем устанавливать версию программы «1С:Предприятие» 8.3.

            h4 В чем преимущества версии программы «1С» 8.3 по сравнению с более ранними релизами:

            ul

              li
                span.blue
                  b Облачные технологии.
                |  В программах «1С» 8.3 можно работать из любой точки мира, где есть Интернет, через мощные и безопасные облачные сервера. Для этого в версии «1С» 8.3 улучшены показатели распределения нагрузки на сервер, повышена отказоустойчивость, а также созданы профили безопасности и многое другое.

              li
                span.blue
                  b Мобильная платформа.
                |  Программа «1С» 8.3 еще более адаптирована к работе на мобильных устройствах (рис.2). Это дает возможность пользователям работать в программе на планшетах или смартфонах под управлением ОС Android и iOS.

              li
                span.blue
                  b Режим тонкого и веб-клиента.
                |  Тонкий клиент и веб-клиент позволяют подключаться к базе данных программ «1С:Предприятие» через веб-сервер. Для использования тонкого клиента необходимо установить на компьютер небольшую программу. Для работы через веб-клиент ничего не нужно устанавливать, достаточно открыть браузер, ввести адрес сервера и начать работу с удаленной базой.

              li
                span.blue
                  b Интерфейс «Такси».
                |  Отличительными особенностями обновленного интерфейса «Такси» являются крупный шрифт, улучшенная навигация, адаптация под стандарты веб-приложений, а также максимизация рабочего пространства. Пользователи программ «1С:Предприятие 8.3» смогут настроить внешний вид системы под себя и расположить панели так, как удобно (рис.3).


            img(src="img-temp/post/post-img-3.jpg", alt="")

            h2 Области применения продуктов «1С»

            p Программы «1С:Предприятие» созданы для решения конкретных учетно-управленческих задач и имеют свою функциональную и отраслевую направленность. В каждом программном продукте совмещаются стандартные функции, общие для большинства систем, а также отраслевые возможности с учетом индивидуальных задач бизнеса.

            p Любая программа линейки «1С:Предприятие 8» может быть адаптирована для конкретной отрасли. Например, вы можете купить программу «1С» для автоматизации автосервиса (рис.6), аптеки, ювелирного салона и других сфер деятельности.


  // /.scr_post

