mixin scr_lic()
  section.scr_lic.lic(id="scr_lic")
    .container
      h1.title-second Лицензии 1С:Предприятие 8

      .lic__wrap.decor-wrap
        .lic__img
          img(src="img-temp/lic-img.jpg", alt="", data-object-fit-contain)

        .lic__content
          h2.lic__title Использование лицензий 1С:Предприятие

          .article
            p
              b Многопользовательский режим.
              |  Лицензии «1С:Предприятие 8» делают возможной одновременную работу необходимого количества пользователей в программе. Чтобы увеличить число рабочих мест, требуется купить дополнительные лицензии 1С и установить их на компьютеры или сервер.

            p
              b Работа со всеми программами.
              |  Одна клиентская лицензия дает пользователю право работать со всеми установленными на компьютере программами 1С.

            p
              b С каждой программой – одна лицензия.
              |  При расчете нужного Вам количества лицензий учитывайте, что в поставку каждой конфигурации входит программная лицензия 1С на одно рабочее место.

      .second__nav
        ul.second__nav-list.second__nav-list--four
          li
            a(href="#") Все
          li.active
            a(href="#") Однопользовательские лицензии
          li
            a(href="#") Многопользовательские лицензии
          li
            a(href="#") Серверные лицензии

      .lic__prices.decor-wrap
        .certs__table
          table
            thead
              td Артикул
              td Наименование
              td Руб.
              td Цена
            tbody
              tr
                td
                td
                  span Однопользовательские клиентские лицензии ПРОФ
                td
                td
              tr
                td 4601546116697
                td 1С:Предприятие 8 ПРОФ. Клиентская лицензия на 1 рабочее место. Электронная поставка
                td руб.
                td 6300
              tr
                td 4601546080875
                td 1С:Предприятие 8 ПРОФ. Клиентская лицензия на 1 рабочее место
                td руб.
                td 6300
              tr
                td 4601546138071
                td 1С:Предприятие 8 ПРОФ. Клиентская лицензия на 1 рабочее место (USB)
                td руб.
                td 8200

              tr
                td
                td
                  span Многопользовательские клиентские лицензии ПРОФ
                td
                td
              tr
                td 2900001916066
                td 1С:Предприятие 8 КОРП. Клиентская лицензия на 1 рабочее место. Электронная поставка
                td руб.
                td 10400
              tr
                td 4601546106568
                td 1С:Предприятие 8 КОРП. Клиентская лицензия на 1 рабочее место
                td руб.
                td 10400
              tr
                td 4601546106575
                td 1С:Предприятие 8 КОРП. Клиентская лицензия на 1 рабочее место (USB)
                td руб.
                td 13600

      .form.form--project.wpcf7.decor-wrap
        h2.title Не нашли ответа на свой вопрос?
        p.form__desc Свяжитесь с нами, и мы предоставим необходимую информацию
        form.wpcf7-form
          .form__df
            .form__col
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

            .form__col
              .form__item
                span.wpcf7-form-control-wrap.your-mail.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-mail(type='email', name='your-mail', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-mail")

              .form__item
                span.wpcf7-form-control-wrap.your-msg.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-msg(type='text', name='your-msg', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Сообщение')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-msg")


          .form__item.form__item--submit
            .btn__wrap
              input.wpcf7-form-control.wpcf7-submit(type='submit', value='Задать вопрос')
              .btn.btn--red
                span.front Задать вопрос
                span.back Задать вопрос
                span.hidden Задать вопрос

          .form__item
            span.wpcf7-form-control-wrap.accept.checkbox
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon


  // /.scr_certs
