mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h1.title-second Отзывы

      .reviews__df
        .reviews__wrap
          ul.reviews__list
            li.reviews__item
              .reviews__item-wrap.decor-wrap
                .reviews__top
                  h2.reviews__name Шкребко Римма Викторовна
                  a.link(href="#") Смотреть реализованный проект

                .reviews__info
                  span
                    b Город:
                    |  Евпатория
                  span
                    b Компания:
                    |  ТМ «Скворцово»

                .reviews__content
                  .article
                    p Огромное спасибо за постоянную квалифицированную помощь при работе с 1С - бухгалтерия, управление торговлей, консультации по онлайн -кассам.За вашу постоянную надёжность. За дежурных в выходные дни - в одну из суббот очень энергично помог Антон. Благодарность вашим сотрудникам Семену, Евгению, Надежде, Татьяне, Наталье за результативное сотрудничество.

            li.reviews__item
              .reviews__item-wrap.decor-wrap
                .reviews__top
                  h2.reviews__name Степанькова Нина Владимировна
                  a.link(href="#") Смотреть реализованный проект

                .reviews__info
                  span
                    b Город:
                    |  Краснодар
                  span
                    b Компания:
                    |  Степанькова Н.В.

                .reviews__content
                  .article
                    p Самая лучшая компания по обслуживанию компьютеров и програмного обеспечения по моему мнению. Сервисы, предлогаемые компанией очень качественные и весьма разнообразны, а цены вполне адекватные. Очень радует профессионализм сотрудников, ответственность, манера общения с клиентом, а также оперативность решения поставленных задач. Для решения наших задач мы постоянно обращаемся в компанию "НекСофт".

            li.reviews__item
              .reviews__item-wrap.decor-wrap
                .reviews__top
                  h2.reviews__name Шкребко Римма Викторовна
                  a.link(href="#") Смотреть реализованный проект

                .reviews__info
                  span
                    b Город:
                    |  Евпатория
                  span
                    b Компания:
                    |  ТМ «Скворцово»

                .reviews__content
                  .article
                    p Огромное спасибо за постоянную квалифицированную помощь при работе с 1С - бухгалтерия, управление торговлей, консультации по онлайн -кассам.За вашу постоянную надёжность. За дежурных в выходные дни - в одну из суббот очень энергично помог Антон. Благодарность вашим сотрудникам Семену, Евгению, Надежде, Татьяне, Наталье за результативное сотрудничество.

            li.reviews__item
              .reviews__item-wrap.decor-wrap
                .reviews__top
                  h2.reviews__name Степанькова Нина Владимировна
                  a.link(href="#") Смотреть реализованный проект

                .reviews__info
                  span
                    b Город:
                    |  Краснодар
                  span
                    b Компания:
                    |  Степанькова Н.В.

                .reviews__content
                  .article
                    p Самая лучшая компания по обслуживанию компьютеров и програмного обеспечения по моему мнению. Сервисы, предлогаемые компанией очень качественные и весьма разнообразны, а цены вполне адекватные. Очень радует профессионализм сотрудников, ответственность, манера общения с клиентом, а также оперативность решения поставленных задач. Для решения наших задач мы постоянно обращаемся в компанию "НекСофт".

          +paginator

        .reviews__form.decor-wrap
          h2.title Оставить отзыв

          .form.form--general.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

              .form__item
                span.wpcf7-form-control-wrap.your-message.text-input.text-input--icon
                  label(for="your-msg")
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-msg")

                  textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="Отзыв")

              .form__item.form__item--submit
                .btn.btn--red
                  input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
                  span.front Отправить
                  span.back Отправить
                  span.hidden Отправить

            .form__item
              span.wpcf7-form-control-wrap.accept.checkbox
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon


  // /.scr_reviews
