mixin scr_deliver()
  section.scr_deliver.deliver(id="scr_deliver")
    .container
      h1.title-second оплата и доставка

      .deliver__wrap.decor-wrap
        .deliver__item.clearfix
          .deliver__icon
            noscript
              img.lazy(src="img/svg/icons/deliver-1.svg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/deliver-1.svg" alt="" width="125" height="90")

          .deliver__info
            h2.deliver__title оплата

            .article
              p
                b Производится только по безналичному расчету.
                br
                |  После обработки заказа оператором, на Ваш электронный адрес высылается счет, который можно оплатить в любом удобном для Вас банке.
              br
              p
                b Обращаем Ваше внимание,
                |  что программные продукты не облагаются НДС на основании пп.26.п.2 ст.149 НК РФ.

      .deliver__wrap.decor-wrap
        .deliver__item.clearfix
          .deliver__icon
            noscript
              img.lazy(src="img/svg/icons/deliver-2.svg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/deliver-2.svg" alt="" width="125" height="90")

          .deliver__info
            h2.deliver__title доставка

            .article
              p
                b В Краснодаре, Симферополе и Севастополе
                br
                |  Заказанные товары можно получить в наших офисах по адресу или заказать доставку в ваш офис (детали уточняйте у менеджера нашей компании):
              ol
                li Краснодар, улица имени Тургенева 189/6, 5 этаж, офис 503
                li Симферополь, ул. Гагарина 14а, корпус «В», офис 232
                li Севастополь, Фиолентовское шоссе 1/1 офис 509
              p После того, как сотрудник подтвердит, что заказ сформирован. Уточнить информацию о заказе можно по телефонам +79787772043 или по электронной почте info@necsoft.ru
              br
              p Если покупка оформляется на юридическое лицо, при себе необходимо иметь доверенность на получение товаров или печать организации. В противном случае отгрузка товара невозможна. Также для оформления документов необходимы реквизиты организации.
              br
              p
                b В другие города Республики Крым
              p Доставка по Крыму осуществляется межрейсовыми автобусами (стоимость доставки оплачивает Заказчик), либо с помощью транспортных компаний в любые города Республики Крым.
              p Стоимость доставки по Крыму зависит от веса и габаритов груза и составляет примерно 300 руб. Точную сумму можно узнать на сайте транспортной компании, услугами которой вы планируете воспользоваться.
              p Сроки доставки зависят от нескольких факторов: наличия товара на складе в Симферополе/Севастополе, срока его комплектации, способа доставки, удаленности получателя и т.д. Просим вас заранее уточнять сроки поставки заказанных продуктов у менеджера.
              br
              p
                b Доставка Почтой России
              p Осуществляется ценной бандеролью или посылкой во все регионы РФ. Стоимость доставки включается в заказ в момент выставления счета. Узнать стоимость доставки заказа в ваш регион можно здесь:http://www.russianpost.ru. Срок доставки зависит от скорости работы почты и составляет в среднем одну-две недели.

      .deliver__wrap.decor-wrap.lic.deliver__wrap--table
        .deliver__table.certs__table
          table
            thead
              td Наименование
              td Стоимость
            tbody
              tr
                td(colspan="2")
                  span Доставка и установка программных продуктов
              tr
                td Доставка программных продуктов версии ПРОФ и КОРП в пределах города
                td БЕСПЛАТНО
              tr
                td Установка при продаже 1С: Предприятие 8 версии ПРОФ и КОРП (по количеству лицензий)
                td БЕСПЛАТНО
              tr
                td Доставка программных продуктов базовой версии в пределах города
                td 400 руб.
              tr
                td Установка при продаже 1С:Предприятие 8 базовой версии (на одну рабочую станцию)
                td 1000 руб.
              tr
                td Доставка за пределы МКАД за каждые 10 км. *При заказе от 30 000 руб. доставка БЕСПЛАТНО!
                td 300 руб.
              tr
                td Самовывоз
                td БЕСПЛАТНО

      .deliver__wrap.decor-wrap
        .deliver__item.clearfix
          .deliver__icon
            noscript
              img.lazy(src="img/svg/icons/deliver-3.svg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/deliver-3.svg" alt="" width="125" height="90")

          .deliver__info
            h2.deliver__title условия

            .article
              p
                b Работаем только с юридическими лицами.
              p При покупке при себе необходимо иметь доверенность на получение товаров или печать организации. В противном случае отгрузка товара невозможна. Также для оформления документов необходимы реквизиты организации.

      .form.form--project.wpcf7.decor-wrap
        h2.title Нужна помощь?
        p.form__desc Свяжитесь с нами, и мы предоставим необходимую информацию
        form.wpcf7-form
          .form__df
            .form__col
              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

            .form__col
              .form__item
                span.wpcf7-form-control-wrap.your-mail.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-mail(type='email', name='your-mail', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-mail")

              .form__item
                span.wpcf7-form-control-wrap.your-msg.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-msg(type='text', name='your-msg', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Сообщение')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-msg")


          .form__item.form__item--submit
            .btn__wrap
              input.wpcf7-form-control.wpcf7-submit(type='submit', value='Задать вопрос')
              .btn.btn--red
                span.front Задать вопрос
                span.back Задать вопрос
                span.hidden Задать вопрос

          .form__item
            span.wpcf7-form-control-wrap.accept.checkbox
              span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                span.wpcf7-list-item
                  label
                    input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                    span.wpcf7-list-item-label Согласие на обработку персональных данных
                      i.accept__icon



  // /.scr_deliver
