::selection
  background-color: $accent
  color: #fff

*
  margin: 0
  padding: 0

html, body
  max-width: 100%
  overflow-x: hidden

body
  position: relative
  width: 100%
  height: 100%
  min-height: 320px

  font-family: $font
  font-size: 16px
  line-height: 1.5 /* 24px / 16px */
  font-weight: 400
  color: $body-color

  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

  &.disabled
    overflow: hidden
    max-height: 100vh

.page_wr
  flex-grow: 1

img
  width: 100%
  height: auto
  border: none

[data-object-fit-cover]
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color

.blur-it
  filter: blur(4px)

.accent
  color: $accent

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  p
    margin-bottom: 15px
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      text-decoration: underline

  img
    width: auto
    max-width: 100%
    height: auto
    display: block
    &.alignleft
      float: left
      margin: 0 20px 10px 0
    &.alignright
      float: right
      margin: 0 0 10px 20px
    &.aligncenter
      margin: 0 auto
  ul,
  ol
    padding-bottom: 1.5em
    padding-left: 0
    padding-right: 1.5em
  ul li,
  ol li
    transform: translateX(1.5em)

  h2,h3,h4
    line-height: 1.2
    font-weight: 500
  h2
    margin-top: 35px
    margin-bottom: 20px
    font-size: 18px
  h3
    margin-top: 25px
    margin-bottom: 15px
    font-size: 16px
  h4
    margin-top: 20px
    margin-bottom: 10px
    font-size: 14px

.clearfix
  &::after
    display: table
    clear: both
    content: ""

.title
  position: relative
  padding-left: 35px
  font-size: 24px
  font-weight: 400
  text-transform: uppercase
  &::before
    content: ''
    position: absolute
    top: calc(50% - 6px)
    left: 0
    width: 11px
    height: 11px
    transform: rotate(45deg)
    background-color: #4cc7e3

.icon
  max-width: 100%
  max-height: 100%
  fill: $icon
  transition: 0.5s

.link
  transition: 0.3s

.btn__wrap
  display: inline-block

.btn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  cursor: pointer
  text-decoration: none
  transition: 0.5s
  -webkit-appearance: none

.btn,
input[type="submit"].btn
  display: flex
  justify-content: center
  align-items: center
  padding-left: 24px
  padding-right: 24px
  font-size: 15px
  font-weight: 600
  color: #ffffff
  text-align: center
  border-radius: 8.0px
  &--blue
    height: 47px
    background-color: $accent
    background-image: $grad
    box-shadow: 4px 8px 12px 0px rgba(37,155,183,0.3)
    &:hover
      background-color: #00e7ff
  &--orange
    height: 65px
    background-color: #ff7043
    background-image: $grad2
    box-shadow: 0px 10px 13px 0px rgba(243,81,30,0.5)
    &:hover
      background-color: #ff9234
  &--circle
    width: 37px
    height: 37px
    padding: 0
    border-radius: 50%
    border: 2px solid $accent
    .fa
      color: $accent
      transition: 0.3s
    &:hover
      border-color: $accent2
      .fa
        color: $accent2

input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.burger
  flex-shrink: 0
  position: relative
  background: none
  outline: none
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center

  width: 25px
  height: 25px
  &__wrap
    position: relative
    transition: 0.3s

    z-index: 100
    display: block
  &.active
    .burger__wrap
      .line
        transform: translate(-50%,-50%) rotate(45deg)
        &:before,
        &:after
          transform: translateX(0) rotate(-90deg)
    &:hover
      .burger__wrap
        transform: scale(1.1)
  .line
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    &,
    &::after,
    &::before
      position: absolute
      display: block
      width: 20px
      height: 2px
      background-color: #2c2d2d
      transition: 0.2s ease-in-out

    &::after,
    &::before
      content: ''
      left: 0
    &::before
      transform: translateY(-7px)
    &::after
      transform: translateY(7px)
  &:hover
    .line
      &,
      &::after,
      &::before
        background-color: $accent

.page__bottom
  padding-top: 32px
  padding-bottom: 43px

.to-top
  position: fixed
  right: 30px
  bottom: 60px
  z-index: 90
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  width: 40px
  background: #fff
  box-shadow: 0px 0px 20px 0px rgba(153, 153, 153, 0.6)
  cursor: pointer
  transition: 0.5s
  opacity: 0
  height: 0
  overflow: hidden
  .fa
    color: $accent
    transition: 0.5s
    font-size: 20px
    font-weight: 800

  &:hover
    opacity: 1
    .fa
      color: $accent

  &.fixed
    opacity: 1
    height: 40px

/* Переопределение стилей flatpickr (datetimepicker) */
.flatpickr-calendar.open
  z-index: 500

/* Переопределение стилей yandex map */
[class$='-controls-pane']
  display: none

/* Переопределение стилей slick */
.slick-slide
  -webkit-backface-visibility: hidden
  outline: none

.slick-arrow
  background: none
  border: none
  outline: none

  position: absolute
  top: calc(50% - 22px)
  z-index: 100
  cursor: pointer
  font-size: 0
  transition: 0.3s

  display: block
  width: 45px
  height: 45px
  border: 3.0px solid rgba(75,198,227,0.2)
  border-radius: 50%
  transition: 0.3s
  &::before
    content: ''
    position: absolute
    top: calc(50% - 3px)
    left: calc(50% - 3px)

    width: 6px
    height: 6px
    border-bottom: 2px solid #999999
    border-left: 2px solid #999999
  &:hover
    border-color: rgba(75,198,227,0.7)

.slick-prev
  left: -40px
  &::before
    transform: rotate(45deg)

.slick-next
  right: -40px
  &::before
    transform: rotate(-135deg)

.slick-dots
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-top: 5px
  font-size: 0
  li
    margin: 0 3px
    button
      position: relative
      background: none
      border: none
      outline: none

      display: block
      width: 6px
      height: 6px
      background-color: $accent
      border-radius: 50%
      transition: 0.2s

    &.slick-active
      button
        background-color: $accent2

    &:not(.slick-active)
      button
        cursor: pointer

.slider1
  position: relative

/* Переопределение bootstrap */
@media (min-width: 1200px)
  .container
    max-width: 1170px

/* media */
@media screen and (max-width: 1300px)
  .to-top
    right: 10px
    bottom: 30px

// max-width 1300px

@media screen and (max-width: 1200px)
  .container
    max-width: 100%

// max-width 1200px

// @media screen and (max-width: 1023px)

// max-width 1023px

@media screen and (max-width: 991px)
  .title
    padding-left: 31px
    font-size: 22px

// max-width 991px

// @media screen and (max-width: 767px)

// max-width 767px

@media screen and (max-width: 575px)
  .btn
    &--orange
      height: 55px
      font-size: 14px
  .title
    padding-left: 21px
    font-size: 20px

// max-width 575px

// @media screen and (max-width: 500px)

// max-width 500px

// @media screen and (max-width: 400px)

// max-width 400px
