.wpcf7-form {
    /* position: relative; */
}

.ajax-loader {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
}

.ajax-loader::before {
    display: none !important;
}

.site-page.page-id-3827 .screen_1 {
    background-image: url(img/bg-screen1-1-2.jpg);
}

.site-page.page-id-3827 .screen_service-features {
    background: #f2f2fa url(img/bg-service-features.jpg) no-repeat top center;
}

@media screen and (max-width: 1170px) {
    .site-page.page-id-3827 .screen_service-features {
        background: #f1f2fa;
    }
}

.home .screen_1 .wr .slider_wr .main_slider {
    height: auto;
}

.home .screen_1 .wr .slider_wr .main_slider .slide .title {
    font-size: 34px;
    line-height: 1.5em;
}

@media screen and (max-width: 1200px) {
    .home .screen_1 .wr .slider_wr .main_slider .slide .title br {
        font-size: 25px;
        display: none;
    }
}

.page-template-page-context.contextual-page .screen_1__content, .page-template-page-instagram .screen_1__content, .page-template-page-seo.seo-page .screen_1__content {
    max-width: 70%;
}

.page-template-page-seo.page-id-2869 .screen_1__content {
    max-width: 60%;
}

.page-template-page-instagram.light-page .btn_wr.btns_wr {
    margin-top: 20px;
    margin-left: 0;
}

.page-template-page-sites .title__projects {
    display: none;
}

.page-template-page-sites.site-page .screen_1 .btns_wr .btn, .page-template-page-seo.light-page .screen_1__content .btns_wr .btn, .page-template-page-context.light-page .screen_1__content .btns_wr .btn, .page-template-page-instagram.light-page .screen_1__content .btns_wr .btn {
    width: auto;
}

@media screen and (max-width: 1024px) {
    .page-template-page-sites.site-page .screen_1 .btns_wr .btn, .page-template-page-seo.light-page .screen_1__content .btns_wr .btn, .page-template-page-context.light-page .screen_1__content .btns_wr .btn, .page-template-page-instagram.light-page .screen_1__content .btns_wr .btn {
        font-size: 13px;
    }
}

.page-template-page-seo.seo-page .screen_1__content .title, .page-template-page-sites.site-page .screen_1__content .title, .page-template-page-context.contextual-page .screen_1__content .title, .page-template-page-instagram .screen_1__content .title {
    font-size: 25px;
    line-height: 1.5em;
}

.page-template-page-seo.seo-page.page-id-2869 .screen_1__content .title {
    font-size: 22px;
}

.page-template-page-instagram .screen_1__content .title__desc {
    font-size: 14px;
}

.page-template-page-context .screen_service .items .item .btn_wr a {
    font-size: 15px;
    line-height: 20px;
}

.header__text.fv-small {
    font-size: 10px;
    line-height: 1.4em;
}

@media screen and (max-width: 600px) {
    .page-template-page-context.contextual-page .screen_1__content, .page-template-page-instagram .screen_1__content, .page-template-page-seo.seo-page .screen_1__content {
        max-width: 100%;
    }

    .page-template-page-seo.page-id-2869 .screen_1__content {
        max-width: 100%;
    }

    .home .screen_1 .wr .slider_wr .main_slider .slide .title {
        font-size: 24px;
    }

    .header__text.fv-small {
        font-size: 10px;
        line-height: 1.2em;
    }

    .header>.wr .right_df .phone__wrap:first-of-type a {
        font-size: 0;
    }

    .header>.wr .right_df .phone__wrap:first-of-type a .fa {
        font-size: 18px;
        color: #fed343;
        width: 40px;
        height: 40px;
        border: 1px solid #fed343;
        border-radius: 100%;
        line-height: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .home .screen_1 .wr .slider_wr .main_slider .slide .title {
        font-size: 20px;
    }
}

.anr_captcha_field {
    display: none;
}

body .screen_lead_magnet {
    background-color: #f1f2fa;
    background-image: url(/wp-content/themes/sheer/imgs/rusant_old.png);
    background-repeat: no-repeat;
    background-position: bottom right !important;
    background-size: auto !important;
}

body .screen_lead_magnet.webinar-thnx {
    background: #fff;
}

.webinar-thnx-btn {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
}

.screen_lead_magnet.webinar-thnx .wr {
    padding: 35px 0;
}

#single_form_anti_crisis {
    overflow: hidden;
    z-index: 9999999999;
}

.antikrizisfly-open {
    padding-top: 142px;
}

.antikrizisfly-akciya-open {
    padding-top: 135px;
}

/*.antikrizisfly-open .header>.wr{
	background-color: #082244;
}*/
.antikrizisfly-open .header>.wr .menu>li ul {
    top: 142px;
}

#single_form_anti_crisis .screen_form_kp .df .left .title {
    color: #ffd244;
    padding-bottom: 10px;
}

#single_form_anti_crisis .screen_form_kp .df .left .sub {
    text-transform: none;
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
}

#single_form_anti_crisis .body ul {
    float: left;
    width: 100%;
    background-color: #071b36;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px 10px;
    list-style-type: none;
}

.antikrizisfly__link.fv-mobile {
    display: none;
}

.screen_lead_magnet .df_desc {
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
    max-width: 40%;
    margin-bottom: 40px;
}

.screen_lead_magnet .df_desc.razbor {
    max-width: 100%;
}

.fv-magnet-block .btn_wr {
    margin-left: 25px;
}

#single_form_anti_crisis .body ul li {
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 45px;
    color: #fefefe;
    font: 24px 'Gotham Pro',sans-serif;
    margin-bottom: 35px;
}

#single_form_anti_crisis .body ul li:last-child {
    margin-bottom: 0;
}

#single_form_anti_crisis .body ul li span {
    color: #ffd244;
    font-weight: 500;
}

#single_form_anti_crisis .body ul li:before {
    content: '\f00c';
    font: normal normal normal 24px/1 FontAwesome;
    position: absolute;
    top: 0;
    left: 10px;
    color: #ffd244;
}

#single_form_anti_crisis.modal_webinar .screen_form_kp .df .left .sub {
    text-transform: none;
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
}

#single_form_anti_crisis.modal_webinar .screen_form_kp .df .left .sub span.red {
    color: #ff383f;
}

#single_form_anti_crisis.modal_webinar .body ul li {
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 45px;
    color: #fefefe;
    font: 20px 'Gotham Pro',sans-serif;
    margin-bottom: 24px;
}

#single_form_anti_crisis.modal_webinar .body ul li:before {
    content: '\f00c';
    font: normal normal normal 24px/1 FontAwesome;
    position: absolute;
    top: 0;
    left: 10px;
    color: #ff383f;
}

#single_form_anti_crisis .screen_form_kp .df .right .form .title {
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
}

#modal_part .screen_form_kp .df .right {
    margin: -60px auto;
}

.antikrizisfly {
    /* position: fixed; */
    /* z-index: 999; */
    /* left: 0; */
    /* bottom: 0; */
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #082244;
    /* background-image: url(img/bg_anticrizis.jpg); */
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
}

.antikrizisfly__info {
    height: 100%;
    background-color: #ffd243;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;
    transform: skewX(-30deg);
}

.antikrizisfly__info-text {
    color: #082244;
    font-size: 18px;
    transform: skewX(30deg);
    text-align: left;
    font-family: 'Gotham Pro',sans-serif;
    font-weight: 500;
    line-height: 20px;
}

.antikrizisfly__info-text span {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Gotham Pro',sans-serif;
    font-weight: 900;
}

.webinar .antikrizisfly__info-text span {
    font-size: 28px;
}

.webinar .antikrizisfly__info-text span.red {
    color: #fa222a;
    font-size: 18px;
    font-weight: 500;
}

.webinar .antikrizisfly__info-text {
    display: flex;
    justify-content: space-between;
}

.webinar-col.second {
    text-align: right;
}

.webinar-col.first {
    padding-right: 5px;
}

.antikrizisfly__price {
    color: #ffd243;
    font-size: 48px;
    font-family: 'Gotham Pro',sans-serif;
    font-weight: 900;
    margin-left: 35px;
}

.antikrizisfly__price .white {
    color: #fff;
    font-size: 30px;
}

.antikrizisfly__price .rub {
    font-size: 30px;
}

.antikrizisfly__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    font-family: 'Gotham Pro',sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    margin-left: 65px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(137, 30, 34, 1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(137, 30, 34, 1);
    box-shadow: 0px 4px 0px 0px rgba(137, 30, 34, 1);
    background: #fa222a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fa222a 0%, #ff383f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fa222a 0%,#ff383f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fa222a 0%,#ff383f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa222a', endColorstr='#ff383f',GradientType=0 );
    /* IE6-9 */
}

.antikrizisfly__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: #0c325f;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 65px;
}

.antikrizisfly__btn-close .fa {
    color: #fff;
    font-size: 18px;
}

/* .ws-chat-btn-el-container{ */
/* bottom: 12% !important;; */
/* } */
/* .callbackkiller.cbk-phone{ */
/* bottom: 12% !important; */
/* } */
@media only screen and (max-width: 1400px) {
    #modal_form_anti_crisis {
        top: 5% !important;
    }

    #modal_form_anti_crisis .df .right {
        padding: 20px 60px;
    }

    #single_form_anti_crisis .df .right .form .title {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 15px;
    }

    #single_form_anti_crisis .form_row label {
        margin-bottom: 0;
    }

    #single_form_anti_crisis form textarea, form input[type="text"], #single_form_anti_crisis form input[type="email"], #single_form_anti_crisis form input[type="tel"], #single_form_anti_crisis form input[type="number"] {
        height: 44px;
        line-height: 44px;
        margin-bottom: 10px;
    }

    #modal_form_anti_crisis .df .right .form .accept {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #modal_form_anti_crisis .df .left .title {
        font-size: 26px;
        line-height: 1em;
    }

    #single_form_anti_crisis .screen_form_kp .df .left .sub {
        font-size: 22px;
        line-height: 36px;
    }

    #single_form_anti_crisis .body ul li {
        font: 20px 'Gotham Pro',sans-serif;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 1365px) {
    .antikrizisfly__info {
        padding: 0 40px;
    }

    .antikrizisfly__info-text {
        font-size: 16px;
    }

    .antikrizisfly__info-text span {
        font-size: 20px;
    }

    body .screen_lead_magnet {
        background-size: 60% auto !important;
    }
}

@media only screen and (max-width: 1199px) {
    #single_form_anti_crisis {
        overflow: auto;
    }

    .antikrizisfly__info {
        padding: 0 20px;
    }

    .antikrizisfly__info-text {
        font-size: 16px;
    }

    .antikrizisfly__info-text span {
        font-size: 20px;
    }

    .antikrizisfly__link, .antikrizisfly__btn-close {
        margin-left: 30px;
    }

    #modal_form_anti_crisis .df {
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .antikrizisfly-open .header>.wr .menu {
        top: 140px;
    }

    .antikrizisfly-open .header>.wr .menu>li ul {
        top: 0;
    }

    .antikrizisfly-akciya-open {
        padding-top: 80px;
    }

    .antikrizisfly {
        box-sizing: border-box;
        padding: 0 10px;
    }

    .antikrizisfly__info-text {
        font-size: 14px;
        line-height: 18px;
    }

    .antikrizisfly__info-text span {
        font-size: 16px;
    }

    .antikrizisfly__link {
        font-size: 16px;
        width: 200px;
        height: 46px;
    }

    .antikrizisfly__price {
        font-size: 36px;
    }

    .antikrizisfly__info {
        max-width: 400px;
    }

    .webinar .antikrizisfly__info-text span {
        font-size: 16px;
    }

    .webinar .antikrizisfly__info {
        max-width: 470px;
    }
}

@media only screen and (max-width: 980px) {
    .screen_lead_magnet .df_desc {
        max-width: 55%;
    }
}

@media only screen and (max-width: 768px) {
    /* .antikrizisfly__info{ */ /* transform: skewX(0); */ /* } */ /* .antikrizisfly__info-text{ */ /* transform: skewX(0); */ /* } */ .antikrizisfly {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 670px) {
    .antikrizisfly-open .header>.wr .menu {
        top: 202px;
    }

    .antikrizisfly {
        align-items: flex-end;
        height: auto;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .antikrizisfly.pdf {
        padding-bottom: 0px;
    }

    .antikrizisfly__info {
        position: relative;
        margin-left: 0;
        width: calc(100% - 40px);
        margin-left: 20px;
        height: auto;
        padding: 10px 15px;
        padding-right: 50px;
        max-width: inherit;
        justify-content: flex-start;
        margin-bottom: 10px;
        transform: skewX(0);
    }

    .antikrizisfly__info-text {
        transform: skewX(0);
    }

    .antikrizisfly__link {
        font-size: 14px;
        width: 160px;
        height: 28px;
        margin-bottom: 10px;
        display: none;
    }

    .antikrizisfly__link.pdf {
        font-size: 14px;
        width: 160px;
        height: 28px;
        margin: 0 auto;
        display: flex;
    }

    .antikrizisfly__link.fv-mobile {
        display: flex;
        margin: 0;
        margin-top: 5px;
    }

    .antikrizisfly__price {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .antikrizisfly__btn-close {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        right: 27px;
    }

    .antikrizisfly-open {
        padding-top: 172px;
    }

    .antikrizisfly-akciya-open {
        padding-top: 125px;
    }

    .screen_lead_magnet .df_desc {
        max-width: 100%;
    }

    .screen_lead_magnet.fv-magnet-block {
        padding-bottom: 120px;
    }

    .webinar .antikrizisfly__info {
        padding-right: 10px;
    }

    .webinar-col.second {
        text-align: left;
    }
}

@media only screen and (max-width: 580px) {
    .antikrizisfly-open {
        padding-top: 190px;
    }
}

@media only screen and (max-width: 500px) {
    #modal_form_anti_crisis .df .right {
        padding: 20px 21px;
    }

    #single_form_anti_crisis .screen_form_kp .df .left .sub {
        font-size: 20px;
        line-height: 36px;
    }

    #single_form_anti_crisis .form_row label {
        margin-bottom: 12px;
    }

    /* .ws-chat-btn-el-container{ */
    /* bottom: 13% !important;; */
    /* } */
    /* .callbackkiller.cbk-phone{ */
    /* bottom: 13% !important; */
    /* } */
}

@media only screen and (max-width: 420px) {
    .antikrizisfly__btn-close {
        top: 60%;
    }

    .antikrizisfly.pdf .antikrizisfly__btn-close {
        top: 25%;
        width: 25px;
        height: 25px;
        right: 25px
    }

    .antikrizisfly-open .header>.wr .menu {
        top: 220px;
    }

    .antikrizisfly-open {
        padding-top: 210px;
    }

    body .screen_lead_magnet {
        background-size: 80% auto !important;
    }
}

@media only screen and (max-width: 370px) {
    .antikrizisfly__btn-close {
        top: 50%;
    }

    .antikrizisfly__price {
        font-size: 28px;
    }

    .antikrizisfly__price .white, .antikrizisfly__price .rub {
        font-size: 24px;
    }

    .antikrizisfly__link {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 340px) {
    .antikrizisfly-open .header>.wr .menu {
        top: 240px;
    }

    .header__text.fv-small {
        display: none;
    }
}

.b-soc-links_new_ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    padding: 0;
}

.b-soc-links_new_ li {
    margin: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #2a2c44;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    line-height: 37px;
    font-size: 24px;
    text-align: center;
}

.b-soc-links_new_ li a {
    color: #2a2c44;
}

.header.bonus {
    background: #082244;
    z-index: 110;
}

.bonus-page {
    padding: 135px 0 20px;
}

.bonus-page .landing-stages__list {
    padding-top: 0px;
}

@media only screen and (max-width: 768px) {
    .bonus-page {
        padding: 75px 0 40px;
    }

    .bonus-page .landing-stages__list {
        order: 2;
    }

    .bonus-page .landing-stages .screen_form_kp {
        order: 1;
    }

    .landing-page .bonus-page .screen_form_kp .df .right {
        margin: 0px !important;
    }

    .bonus-page .landing-stages__list {
        padding-top: 20px;
    }
}

.landing-know__img img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(162, 171, 188, 0.73);
    -moz-box-shadow: 0px 7px 7px 0px rgba(162, 171, 188, 0.73);
    box-shadow: 0px 7px 7px 0px rgba(162, 171, 188, 0.73);
    object-fit: cover !important;
}

.land-but-wr a {
    background: #fed343;
    color: #082244;
    padding: 0.5em 1em;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: .6s;
}

.land-but-wr a:hover {
    opacity: .8;
}

.landing-know__prices {
    display: flex;
    flex-wrap: wrap;
    margin-top: -70px;
    margin-bottom: 30px;
}

.landing-know__prices_old {
    color: #999;
    font-family: 'Panton',sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-decoration: line-through;
    margin-right: 30px;
}

.landing-know__prices_new {
    color: #ff383f;
    font-family: 'Panton',sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.landing_form-modal {
    background: #082244;
    max-width: 800px;
    color: #fff;
    padding: 2em;
}

.map_txt {
    font-size: 14px;
    display: none;
}

.map_txt.active {
    display: block;
}

.form .screen-reader-response {
    display: none !important;
}

.header__city {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 0;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}
.header__city::after {
  content: "\f107";
  font-family: 'FontAwesome';
  font-size: 16px;
  color: #fed343;
  padding-left: 6px;
  position: relative;
  top: 2px;
}
.header__callback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 18px 24px 14px;
  background-color: #fc2c33;
  border: 1px solid #fc2c33;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.3s;
}
.header .header__callback:hover {
  color: #fc2c33;
  background-color: #ffffff;
}
.header__callback .fa {
  margin-right: 10px;
  transition: 0.3s;
}
.header__callback:hover .fa {
  color: #fc2c33;
}
.header > .wr .menu > li {
  padding-left: 20px;
  padding-right: 20px;
}
.page-template-page-seo.seo-page .screen_1 .title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
}
.screen_1__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}
.screen_1__list > li {
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 1.67;
  color: #aaabb4;
}
.page-template-page-seo.seo-page .screen_1 .rusant2 .df_ {
  bottom: 170px;
}
.page-template-page-seo.seo-page .screen_1 .rusant2 .df_ .text {
  font-size: 14px;
}
.page-template-page-seo.seo-page .screen_1 .rusant2__label {
  font-family: 'Gotham Pro', sans-serif;
  bottom: 11px;
}
.work-process-slide-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 30px;
}
.work-process-slide-right ul > li {
  position: relative;
  margin-bottom: 40px;
  padding-left: 27px;
  font-family: 'Panton',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #082244;
}
.work-process-slide-right ul > li:last-of-type {
  margin-bottom: 0;
}
.work-process-slide-right ul > li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: transparent url('../imgs/seo2/check.svg') no-repeat center center;
  background-size: contain;
}
.page-template-page-seo.seo-page .screen_work-process .work-process-slide-right {
  padding-top: 22px;
}
.page-template-page-seo.seo-page .features {
  padding-top: 0;
}
.screen__lead {
  padding: 42px 0 39px;
  background-color: #ff383f;
}
.screen__lead .title {
  margin-bottom: 32px;
  color: #ffffff;
  text-transform: none;
}
.screen__lead .form_row label {
  color: #ffffff;
}
.form__df {
  display: flex;
  align-items: flex-end;
}
.form__df .form_row {
  width: 360px;
  max-width: 100%;
  margin-right: 39px;
}
.form__df .form_row:last-of-type {
  width: 331px;
  margin-right: 0;
}
.form__df .form_row input {
  margin-bottom: 0;
  height: 57px;
  line-height: 57px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
}
.form__df .form_row input[type="submit"] {
  border-radius: 28px;
  background: #ffd244;
  color: #082244;
  box-shadow: none;
}
.screen__lead form .accept {
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
}
.strategy {
  position: relative;
  padding-top: 61px;
  padding-bottom: 10px;
  background-color: #f7f8fd;
  z-index: 1;
}
.strategy__df {
  display: flex;
}
.strategy__img {
  width: 901px;
  margin-left: -138px;
  margin-right: -254px;
  margin-bottom: -35px;
}
.strategy__img img {
  width: 100%;
}
.strategy__content {
  flex-grow: 1;
}
.strategy__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 45px;
}
.strategy__content ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.strategy__content ul > li:last-of-type {
  margin-bottom: 0;
}
.strategy__content ul > li img {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 14px;
}
.strategy__content ul > li p {
  padding-bottom: 0;
  font-family: 'Panton',sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
  color: #082244;
}
.strategy__btns {
  padding-top: 25px;
  text-align: right;
}
.strategy__btns .btn {
  height: 54px;
  line-height: 54px;
  border-radius: 28.6px;
}
.page-template-page-seo.seo-page .screen_s-portfolio {
  padding-top: 57px;
}
.page-template-page-seo.seo-page .screen_price .items .item {
  width: 100%;
  margin-bottom: 0;
}
.screen_price {
  padding-bottom: 10px;
}
.screen_price__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screen_price__list > li {
  width: calc(50% - 24px);
  padding-bottom: 20px;
}
.screen_price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 58px 20px 51px;
  box-shadow: 0px 5px 21px 0 rgba(42, 44, 68, 0.2);
  background-color: #ffffff;
  text-align: center;
}
.screen_price__title {
  margin-bottom: 25px;
  font-family: 'Panton',sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.33;
  color: #082244;
}
.screen_price__text {
  max-width: 290px;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}
.screen_price .items .item .price {
  margin-top: auto;
}
.page-template-page-seo.seo-page .screen_price .item .btn_wr {
  width: 177px;
}
.page-template-page-seo.seo-page .screen_n-one {
  padding-bottom: 0;
}
.screen_guarantee {
  min-height: 700px;
  padding-top: 37px;
  padding-bottom: 20px;
  background: transparent url('../imgs/seo2/guar-bg.jpg') no-repeat center center;
  background-size: cover;
}
.screen_guarantee ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 790px;
  margin-left: auto;
  padding-top: 39px;
  padding-right: 75px;
}
.screen_guarantee ul > li {
  margin-bottom: 14px;
}
.screen_guarantee__top {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.screen_guarantee__top span {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  margin-right: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #fa222a, #ff383f);
  font-family: 'Panton',sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}
.screen_guarantee__top h3 {
  font-family: 'Panton',sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 900;
  color: #2a2c44;
}
.screen_guarantee__text {
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}
.modal {
  position: relative;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  overflow: hidden;
}

.modal.active {
  display: block !important;
  opacity: 1 !important;
  min-height: 100vh;
}

.modal__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 529px;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.light-page .modal .title {
  margin-bottom: 15px;
  text-transform: none;
}

.modal__content.visible {
  opacity: 1;
}
.form__desc {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
.modal .form .form_row {
  margin-bottom: 10px;
  text-align: center;
}
.modal .form {
  max-height: 100vh;
  overflow: auto;
  width: 100%;
  padding: 35px 84px 45px;
  background-color: #082244;
  color: #ffffff;
  z-index: 0;
}
.modal .form .form_row--submit {
  margin-top: 30px;
  margin-bottom: 30px;
}
.modal .form_row label {
  text-align: left;
}
.modal .form .form_row input[type="text"],
.modal .form .form_row input[type="tel"] {
  height: 57px;
  background-color: #ffffff;
  border-radius: 5px;
}
.modal form .wpcf7-submit {
  height: 57px;
  background: #ffd244;
  border-radius: 28px;
  box-shadow: none;
  font-size: 18px;
  font-weight: 700;
  color: #082244;
}
.modal form .accept {
  width: calc(100% + 40px);
  margin-left: -20px;
  color: #fff;
  text-align: center;
}
.modal .close {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 300;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 7px;
  right: 14px;
  display: block;
  width: 30px;
  height: 30px;
}
.modal .close::before, .modal .close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 14px;
  height: 3px;
  background-color: #ffd244;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal .close::before {
  transform: rotate(45deg);
}
.modal .close::after {
  transform: rotate(-45deg);
}
.modal .close:hover::before, .modal .close:hover::after {
  background-color: #fff;
}



/*****/
@media screen and (max-width: 1170px) {
  .header__callback {
    padding: 13px 11px 14px 11px;
    font-size: 10px;
  }
  .header .logo {
    width: 80px;
  }
  .header__city {
    font-size: 13px;
  }
  .work-process-slide-right ul > li {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .work-process-slide-right {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header__city {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .form__df .form_row {
    margin-right: 15px;
  }
  .screen__lead .title {
    font-size: 25px;
  }
  .screen__lead .title br {
    display: none;
  }
  .strategy__img {
    width: 821px;
    margin-right: -194px;
  }
  .screen_price__item {
    padding: 30px 20px 31px;
  }
  .screen_price__title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .screen_price__text {
    font-size: 14px;
  }
  .screen_price .items .item .btn_wr {
    padding-top: 20px;
  }
  .page-template-page-seo.seo-page .screen_price .items .item {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .page-template-page-seo.seo-page .screen_1 .title {
    font-size: 30px;
  }
  .screen_1__list > li {
    font-size: 18px;
  }
  .form__df {
    display: block;
  }
  .form__df .form_row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .form__df .form_row:last-of-type {
    margin-right: auto;
    margin-top: 25px;
  }
  .form__df .form_row input[type="submit"] {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .screen_price__list {
    display: block;
  }
  .screen_price__list > li {
    width: 100%;
  }
  .seo-page .screen_price__list > li .item {
    display: flex;
  }
  .modal .form {
    padding: 35px 54px 45px;
  }
  .form__desc {
    margin-bottom: 7px;
    font-size: 15px;
  }
  .light-page .modal .title {
    margin-bottom: -5px;
  }
}
@media screen and (max-width: 550px) {
  .header > .wr .right_df .right {
    display: none;
  }
  .screen__lead .title {
    font-size: 21px;
    line-height: 1.4;
  }
  .strategy__img {
    display: none;
  }
  .strategy__btns {
    text-align: center;
  }
  .screen_guarantee {
    padding-bottom: 0;
  }
  .screen_guarantee ul {
    padding-right: 0;
  }
  .screen_guarantee__top span {
    width: 75px;
    height: 75px;
    font-size: 22px;
  }
  .screen_guarantee__top h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .light-page .screen_1__content {
    padding-top: 70px !important;
  }
  .strategy {
    padding-bottom: 30px;
  }
  .page-template-page-seo.seo-page .screen_s-portfolio {
    padding-top: 30px;
  }
  .seo-page .screen_price .screen_price__list {
    margin-top: 30px;
  }
  .seo-page .screen_service .item, .contextual-page .screen_service .item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .screen_price {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .page-template-page-seo.seo-page .screen_1 .title {
    font-size: 27px;
  }
  .modal .form {
    padding: 35px 34px 35px;
  }
}



.cases {
  position: relative;
  padding-top: 25px;
  padding-bottom: 22px;
}
.cases p {
  padding-bottom: 0;
}
.cases__filter-btn {
  outline: none;
  border: none;
  background: none;
  position: fixed;
  right: 17px;
  bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 250
}
.cases__filter-btn img {
  display: block;
  width: 20px;
  height: 20px;
}
.cases__filter-btn span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.cases__filter-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 410;
  background-color: #081458;
  border-radius: inherit;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: width .4s ease .2s,height .4s ease .2s,background-color .4s ease .2s;
  transition: width .4s ease .2s,height .4s ease .2s,background-color .4s ease .2s;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: width,height;
  z-index: -1;
}

.cases__filter-btn.active::before {
  width: 300vmax;
  height: 300vmax;
  background-color: #fff;
  -webkit-transition: width .6s ease,height .6s ease,background-color .6s ease;
  transition: width .6s ease,height .6s ease,background-color .6s ease;
}

.cases__sorts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 41px;
}

.cases__sorts-item {
  margin-right: 49px;
}

.cases__sorts-item:last-of-type {
  margin-right: 0;
}

.cases__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.cases__list > li {
  width: calc(50% - 30px);
  margin-right: 60px;
  padding-bottom: 35px;
}
.cases__list > li:nth-of-type(2n) {
  margin-right: 0;
}
.cases__item {
  position: relative;
  text-decoration: none;
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 282px;
  padding: 40px 30px 42px 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.cases__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform-origin: center;
  display: block;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(247,246,251,0.3);
  background-image: linear-gradient(135.0deg, rgba(246,247,247,0.42) 15%, rgba(246,247,247,0.0) 84%);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 20px;
  transition: 0.5s;
}
.cases__item::after {
  content: 'Подробнее';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  height: 59px;
  background-color: #ffffff;
  box-shadow: 8px 15px 18px 0px rgba(206,206,229,0.46);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #020c54;
  text-align: center;
  transition: 0.3s;
  opacity: 0;
}
.cases__item:hover::before {
  opacity: 1;
  width: calc(100% - 36px);
  height: calc(100% - 36px);
}
.cases__item:hover::after {
  opacity: 1;
  transition: 0.5s 0.3s;
}

.cases .filter_category li a {
  line-height: 38px;
  color: #081458;
}
.cases .category_item {
  border-color: #081458;
}
.cases .category_item:hover,
.cases .category_item.active {
  background-color: #081458;
  color: #ffffff;
}

.cases__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.cases__img img {
  display: block;
}

.cases__category {
  margin-bottom: 28px;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #1152b3;
  opacity: 0.6;
}
.cases__category--medicina {
  color: #23aeac;
}
.cases__category--optovaya-i-roznichnaya-torgovlya {
  color: #f27801;
}
.cases__category--gostinitsy {
  color: #1c11f1;
}
.cases__category--uslugi {
  color: #58a21c;
}
.cases__category--proizvodstvo {
  color: #9c2307;
}
.cases__category--byuti-industriya {
  color: #fa30e0;
}

.cases__main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 250px;
  margin-bottom: 15px;
}

.cases__title {
  min-height: 54px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  color: #081458;
}

.cases__desc {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  width: 230px;
}

.cases__type {
  margin-top: auto;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: rgba(8, 20, 88, 0.4);
}
.cases__filter-top {
  display: none;
}

.cases__filter-btn {
  display: none;
}
.cases--seo {
  padding-top: 80px;
  padding-bottom: 50px;
  background: transparent url('../imgs/seo2/cases-bg.jpg') no-repeat center center;
  background-size: cover;
}
.cases--seo .cases__list {
  padding-top: 20px;
}

/* cases */

@media screen and (max-height: 920px) {
  .cases .filter_category li a {
    height: 30px;
    margin-bottom: 10px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 28px;
  }
  .page-title {
    margin-bottom: 9px;
  }
  .cases__list > li {
    padding-bottom: 25px;
  }
  .cases__item {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 282px;
    height: 100%;
  }
  .cases__category {
    margin-bottom: 12px;
    font-size: 10px;
  }
  .cases__title {
    min-height: 50px;
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 21px;
  }
}
@media screen and (max-height: 880px) {
  .cases__item {
    min-height: 242px;
  }
}
@media screen and (max-height: 830px) {
  .cases {
    padding-top: 15px;
  }
  .cases__list > li {
    padding-bottom: 20px;
  }
  .cases__item {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 242px;
  }
  .cases__category {
    margin-bottom: 8px;
  }
  .cases__title {
    min-height: 45px;
    margin-bottom: 12px;
    font-size: 19px;
  }
}
@media screen and (max-height: 780px) {
  .cases__item {
    min-height: 222px;
  }
}
@media screen and (max-height: 730px) {
  .cases__item {
    min-height: 182px;
  }
}
@media screen and (max-height: 500px) {
  .cases__item {
    min-height: 182px;
  }
}

@media screen and (max-width: 1070px) {
  .cases__filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 300;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s ease,visibility 0s ease .3s;
    transition: opacity .3s ease,visibility 0s ease .3s;
  }
  .cases__filter.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s ease .4s,visibility 0s ease 0s;
    transition: opacity .3s ease .4s,visibility 0s ease 0s;
  }
  .cases__filter-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(8,20,88,0.2);
  }
  .cases__filter-title {
    font-size: 17px;
    font-weight: 700;
  }
  .cases__desc {
    font-size: 13px;
  }
  .cases .burger__wrap {
    display: block;
  }
  .cases .burger__line::before,
  .cases .burger__line::after,
  .cases .burger__line {
    background-color: #081458;
  }
  .cases .filter_category {
    display: block;
    max-width: 785px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    max-height: calc(100vh - 70px);
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .cases .filter_category > li > a {
    width: 100%;
    height: auto;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border: none;
    background: none;
    margin: 0;
    color: #000;
  }
  .cases .category_item.active,
  .cases .category_item:hover {
    background: none;
    color: #000;
  }
  .cases .category_item.active {
    font-weight: 700;
  }
  .cases .category_item {
    border: none;
  }
  .cases__filter-btn {
    display: flex;
  }
  .page-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 991px) {
  .cases__list > li {
    width: calc(50% - 15px);
    margin-right: 30px;
  }
  .cases__item {
    padding-left: 25px;
  }
}
@media screen and (max-width: 767px) {
  .cases__list > li {
    width: calc(50% - 5px);
    margin-right: 10px;
  }
  .cases__item {
    padding-left: 15px;
    box-shadow: 0 3px 15px 0 rgba(95, 105, 222, 0.1);
    border: none;
  }
  .cases__desc {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  .cases {
    padding-top: 8px;
  }
  .cases__list > li {
    width: 100%;
    margin-right: 0;
  }
  .page-title {
    font-size: 28px;
  }
  .cases--seo {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .cases .filter_category > li > a {
    font-size: 16px;
  }
}

