.footer
  position: relative
  padding: 22px 60px 18px
  border-top: 1px solid rgba(1,30,49,0.3)
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between

  .logo
    display: block
    width: 247px
    height: 29px
    text-decoration: none
    &__wrap
      width: 330px
  &__menu
    margin-bottom: 33px
    .menu
      padding: 0
      margin: 0
      list-style: none

      display: flex
      justify-content: space-between
      align-items: center
      & > li
        margin: 0 23px
        & > a
          display: inline-block
          text-decoration: none
          outline: none
          font-size: 18px
          line-height: 1.2
          font-weight: 500
          color: $accent
          transition: 0.3s
          &:hover
            color: $accent2
  &__address
    width: 330px
    &-wrap
      display: inline-block
      margin-left: auto
      font-weight: 500
      a
        display: inline-block
        text-decoration: none
        outline: none
        transition: 0.3s
        &:hover
          color: $accent2


  @media screen and (max-width: 1700px)
    &__address
      width: 270px
      font-size: 14px
    .logo
      width: 217px
      height: 25px
      &__wrap
        width: 210px
    &__menu
      margin-bottom: 18px
      .menu
        & > li
          margin: 0 13px
          & > a
            font-size: 16px

  // max-width 1700px

  @media screen and (max-width: 1400px)
    padding: 22px 20px 18px

  // max-width 1400px

  @media screen and (max-width: 1200px)
    &__wrap
      flex-direction: column
      text-align: center
    &__middle
      width: 100%
      order: 4
    .logo
      width: 252px
      height: 32px
      &__wrap
        width: auto
        margin-bottom: 15px
    &__address
      width: 100%
      margin-bottom: 20px

  // max-width 1200px

  @media screen and (max-width: 767px)
    &__menu
      margin-bottom: 25px
      .menu
        flex-direction: column
        & > li
          width: 100%
          margin: 0
          & > a
            width: 100%
            padding: 10px 0
            border-bottom: 1px solid rgba($accent, 0.1)


  // max-width 767px

/* footer */
