.socials
  position: fixed
  right: 60px
  bottom: 60px
  display: flex
  flex-direction: column
  align-items: center
  &__link
    display: block
    margin-bottom: 30px
    text-decoration: none
    text-align: center
    &:last-of-type
      margin-bottom: 0
    .fa
      display: block
      color: $accent
      font-weight: 400
      font-size: 20px
      transition: 0.3s
    &:hover
      .fa
        text-shadow: 0 0 25px rgba($accent, 1)

  &--aside
    transition: 0.3s
    z-index: 500
  &--footer
    position: relative
    right: auto
    bottom: auto
    flex-direction: row
    justify-content: center
    .socials__link
      margin-bottom: 0
      margin-right: 44px
      &:last-of-type
        margin-right: 0

  &.stopped
    bottom: 150px


  @media screen and (max-width: 1700px)
    &--aside
      right: 20px

  // max-width 1700px

  @media screen and (max-width: 1500px)
    &--aside
      bottom: 150px

  // max-width 1500px

  @media screen and (max-width: 1250px)
    &--aside
      display: none

  // max-width 1250px

/* socials */
