mixin scr1()
  section.scr1(id="scr1")
    .scr1__wrap
      .scr1__slider#scr1__slider
        .swiper-wrapper.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
          .swiper-slide
            .scr1__slide-wrap
              .scr1__bg(style="background: transparent url(img/scr1-img.jpg) no-repeat left center; background-size: cover;")
              .scr1__content
                p.scr1__title Наш офис расположен

                .scr1__desc
                  p Доставка работает
                    br
                    |  по Симферополю и Крыму

              .scr1__btns
                .btn__wrap.btn__wrap--grad
                  a.btn.btn--grad(href="#") Получить консультацию

          .swiper-slide
            .scr1__slide-wrap
              .scr1__bg(style="background: transparent url(img/scr1-img.jpg) no-repeat left center; background-size: cover;")
              .scr1__content
                p.scr1__title Наш офис расположен
                  br
                  |  в г. Симферополь

                .scr1__desc
                  p Доставка работает
                    br
                    |  по Симферополю и Крыму

              .scr1__btns
                .btn__wrap.btn__wrap--grad
                  a.btn.btn--grad(href="#") Получить консультацию


        .slider__btns
          button.swiper-button-prev
          .slider__dots
          button.swiper-button-next

      a.mouse.inner-link(href="#scr_prod-1")
        svg.icon
          use(xlink:href="img/svg/sprite.svg#mouse")

  // /.scr1
