mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    h2.title Отзывы

    .reviews__wrap
      .reviews__slider#reviews__slider
        .swiper-wrapper
          .swiper-slide.reviews__slide
            .reviews__item
              img.lazy( src="img-temp/reviews/img-1.jpg" alt="" width="125" height="90")

          .swiper-slide.reviews__slide
            .reviews__item
              img.lazy( src="img-temp/reviews/img-2.jpg" alt="" width="125" height="90")

          .swiper-slide.reviews__slide
            .reviews__item
              img.lazy( src="img-temp/reviews/img-3.jpg" alt="" width="125" height="90")


        .slider__btns
          button.swiper-button-prev
          .slider__dots
          button.swiper-button-next

  // /.scr_reviews
