mixin scr_feat()
  section.scr_feat.feat(id="scr_feat")
    .feat__df
      .feat__img
        noscript
          img.lazy(src="img/feat-img.jpg" alt="" width="125" height="90")
        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/feat-img.jpg" alt="" width="125" height="90")
      .feat__wrap
        .feat__content
          p.feat__title Меня зовут Евгения,
            br
            |  я буду оформять Ваш букет

          .feat__desc
            p Мы работаем в формате интернет-магазина и принимаем заказы для доставки цветов по городу Симферополь, Симферопольскому району и Республике Крым.  С нашей помощью жители десятков стран мира порадовали близких, несмотря на расстояние. Окончив курсы флористического мастерства в Москве и Краснодаре, наши флористы предоставят профессиональные рекомендации при выборе цветочных композиций.

        ul.feat__list
          li.feat__item
            .feat__item-wrap
              .feat__icon
                img(src="img/svg/icons/1-flower.svg", alt="Иконка")
              .feat__text
                p Работаем с 2016 года
                  br
                  |  в Симферополе и по Крыму

          li.feat__item
            .feat__item-wrap
              .feat__icon
                img(src="img/svg/icons/2-bouquet.svg", alt="Иконка")
              .feat__text
                p Совершили более
                  br
                  |  5 000 доставок

          li.feat__item
            .feat__item-wrap
              .feat__icon
                img(src="img/svg/icons/3-lotos.svg", alt="Иконка")
              .feat__text
                p Всегда свежие цветы
                  br
                  |  поставка 6 раз в неделю

          li.feat__item
            .feat__item-wrap
              .feat__icon
                img(src="img/svg/icons/4-photos.svg", alt="Иконка")
              .feat__text
                p Фото и видеоотчет
                  br
                  |  до и после доставки

          li.feat__item
            .feat__item-wrap
              .feat__icon
                img(src="img/svg/icons/5-wrap.svg", alt="Иконка")
              .feat__text
                p Упаковку, записка, деревянный топер-надпись – в подарок

          li.feat__item
            .feat__item-wrap
              .feat__icon
                img(src="img/svg/icons/6-climate.svg", alt="Иконка")
              .feat__text
                p Авто доставки оснащены
                  br
                  |  климат-контролем


  // /.scr_feat
