mixin scr_prod-menu()
  section.scr_prod-menu.prod-menu(id="scr_prod-menu")
    .prod-menu__df
      .prod-menu__col
        ul.menu
          li.menu-item
            a(href="#") Premium букеты
          li.menu-item
            a(href="#") Свадебные букеты

      .prod-menu__col
        ul.menu
          li.menu-item
            a(href="#") Заказать розы
            ul.sub-menu
              li.menu-item
                a(href="#") Букеты из роз
              li.menu-item
                a(href="#") Доставка 101 розы
              li.menu-item
                a(href="#") Сорта роз

      .prod-menu__col
        ul.menu
          li.menu-item
            a(href="#") Подарки
            ul.sub-menu
              li.menu-item
                a(href="#") Воздушные шары
              li.menu-item
                a(href="#") Для любимой
              li.menu-item
                a(href="#") Для Мамы
              li.menu-item
                a(href="#") Мягкие игрушки
              li.menu-item
                a(href="#") Новый год

      .prod-menu__col
        ul.menu
          li.menu-item
            a(href="#") Цветы
            ul.sub-menu
              li.menu-item
                a(href="#") Сборные букеты
              li.menu-item
                a(href="#") Сезонные цветы
              li.menu-item
                a(href="#") Цветочные корзины

      .prod-menu__col
        ul.menu
          li.menu-item.current-menu-item
            a(href="#") Цветы в коробках
            ul.sub-menu
              li.menu-item
                a(href="#") "Сладкие" коробочки
              li.menu-item
                a(href="#") Деревянные ящички
              li.menu-item
                a(href="#") Плайм коробочки
              li.menu-item
                a(href="#") Шляпные коробочки

  // /.scr_prod-menu
