mixin socials()
  section.socials(id="socials")
    .socials__text
      p Мы в соц. сетях

    ul.socials__list
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-vk
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-facebook
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-instagram
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-odnoklassniki

  // /.socials

mixin socials--footer()
  section.socials.socials--footer(id="socials--footer")
    .socials__text
      p Мы в соц. сетях

    ul.socials__list
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-vk
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-facebook
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-instagram
      li
        a.socials__link(href='#', rel='nofollow', target='_blank')
          i.fa.fa-odnoklassniki

  // /.socials
