.advantages {
  padding-top: 55px;
  padding-bottom: 60px;
  &__item {
    height: 100%;
    background: $accent;
    border-radius: 8px;
    overflow: hidden;
    h3 {
      padding: 11px 15px;
      font-weight: 500;
      font-size: 21px;
      line-height: 1.285714285714286; /* 27 / 21 */
      color: #FFFFFF;
      text-align: center;
    }
  }
  &__img {
    height: 126px;
    border-radius: 8px;
    overflow: hidden;
  }

  
  /* media */
  @media screen and (max-width: 1170px) {
    padding-top: 35px;
    padding-bottom: 35px;
    &__item {
      h3 {
        font-size: 17px;
      }
    }
  } 
  /* max-width 1170px */

  @media screen and (max-width: 767px) {
    display: none;

  } 
  /* max-width 767px */

} /* advantages */
