@font-face 
  font-family: 'HelveticaNeueCyr' 
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype') 
  font-weight: normal 
  font-style: normal 

@font-face 
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype')
  font-weight: 500
  font-style: normal

@font-face 
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype')
  font-weight: 700
  font-style: normal

@font-face 
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Black.woff') format('woff'), url('../fonts/HelveticaNeue-Black.ttf')  format('truetype')
  font-weight: 900
  font-style: normal
  
@font-face 
  font-family: 'Akrobat'
  src: url('../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Akrobat-Regular.woff') format('woff'), url('../fonts/Akrobat-Regular.ttf')  format('truetype')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'Akrobat'
  src: url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Bold.woff') format('woff'),
  url('../fonts/Akrobat-Bold.ttf')  format('truetype')
  font-weight: 700
  font-style: normal

@font-face 
  font-family: 'Gotham Pro'
  src: local('Gotham Pro'),
  url('../fonts/GothamPro.woff2') format('woff2'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype')
  font-weight: normal
  font-style: normal

