@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SF-UI-Display-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SF-UI-Display-Regular.woff2') format('woff2'),
       url('../fonts/SF-UI-Display-Regular.woff') format('woff'),
       url('../fonts/SF-UI-Display-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SF-UI-Display-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SF-UI-Display-Medium.woff2') format('woff2'),
       url('../fonts/SF-UI-Display-Medium.woff') format('woff'),
       url('../fonts/SF-UI-Display-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SF-UI-Display-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SF-UI-Display-Semibold.woff2') format('woff2'),
       url('../fonts/SF-UI-Display-Semibold.woff') format('woff'),
       url('../fonts/SF-UI-Display-Semibold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SF-UI-Display-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SF-UI-Display-Black.woff2') format('woff2'),
       url('../fonts/SF-UI-Display-Black.woff') format('woff'),
       url('../fonts/SF-UI-Display-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}
