.breadcrumbs 
  position: relative 
  padding-top: 18px
  padding-bottom: 18px
  ol 
    margin: 0
    padding: 0
    list-style: none 
    li 
      position: relative
      display: inline-block      
      font-family: $font2
      font-size: 16px
      color: $accent
      a 
        color: $accent
        text-decoration: none
        transition: 0.3s
        &[href]:hover 
          color: $b2
              
      &:not(:last-of-type) 
        &::after 
          content: '/'
          font-family: $font2
          font-size: 16px          
          color: $accent
          margin: 0 4px                     

/* breadcrumbs */
