.paginator {
  position: relative; 
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  .page-numbers,.prev,.next {
    position: relative;
    display: block;
    width: 47px;
    height: 47px;  
    line-height: 47px;
    margin: 0 8px;

    text-decoration: none;    
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: $color2;
    transition: 0.3s;
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 100%;
      background-color: $accent--dark;
      z-index: -1;
      border-radius: 50%;
      transform: scale(0);
      opacity: 0;
      transition: 0.3s;
    }
    &:hover {
      color: #fff;
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .next,.prev { 
    transition: 0.3s;
    text-decoration: none;
    .icon {
      fill: $color2;
    }
    &:hover {
      .icon {
        fill: #fff;
      }
    }
  }

  .next {
    margin-left: 20px;
    .icon {
      transform: rotate(180deg);
    }
  }

  .prev {
    margin-right: 20px;
  }

  li.current {
    .page-numbers {      
      color: #fff;
      &::before {
        background-color: $accent--dark;
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  /* media */
  @media screen and (max-width: 600px) {
    .next, .page-numbers, .prev {
      width: 37px;
      height: 37px;
      line-height: 37px;
      margin: 0px 3px;
      font-size: 16px;
    }
    .prev {
      margin-right: 10px;
    }
    .next {
      margin-left: 10px;
    }
  } /* max-width 600px */

  @media screen and (max-width: 400px) {
    .next, .page-numbers, .prev {
      width: 34px;
      height: 34px;
      line-height: 34px;
      margin: 0px 2px;
    }
    .prev {
      margin-right: 5px;
    }
    .next {
      margin-left: 5px;
    }
  } /* max-width 400px */

} /* paginator */
