.products 
  position: relative
  padding-top: 60px
  padding-bottom: 46px
  &__nav
    margin: 0
    padding: 0
    list-style: none

    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 56px
    li
      margin-right: 45px
      &:last-of-type
        margin-right: 0
      &.current
        a
          box-shadow: 5px 10px 15px 0px rgba(67,41,39,0.23)
          background-color: #5e4948
          color: #fff
    a 
      display: block
      width: 195px
      height: 50px
      line-height: 50px
      border: 1.0px solid #5e4948
      border-radius: 25.0px
            
      font-family: $font2
      font-size: 18px
      font-weight: 700
      text-transform: uppercase
      color: $accent
      text-align: center
      transition: 0.3s 
      &:hover
        box-shadow: 5px 10px 15px 0px rgba(67,41,39,0.23)
        color: #fff
        background: #5e4948
  
  &__tab
    &:not(#products-tab0)
      display: none
  
  &__item
    position: relative
    margin-bottom: 30px
    box-shadow: 2px 4px 15px 0px rgba(67,41,39,0.2)    
    background-color: #ffffff
    padding-left: 11px
    padding-right: 11px
    padding-top: 20px  
    padding-bottom: 27px  
    transition: 0.3s
    &:hover
      transform: scale(1.03)
      box-shadow: 2px 4px 15px 0px rgba(67,41,39,0.4)

    .label
      position: absolute
      left: 2px
      top: 18px

      width: 120px
      height: 35px
      font-family: $font2
      font-size: 16px
      line-height: 35px
      font-weight: 700
      text-transform: uppercase
      color: #ffffff
      text-align: center
      z-index: 1
      &::before
        content: ''
        position: absolute

        display: block
        width: 120px
        height: 35px          
        border-radius: 6.0px
        transform: skewX(-15deg)
        z-index: -1
      &--hit
        &::before
          background-color: #e59040
      &--action
        &::before
          background-color: #ac3538

  &__img
    display: block
    width: 100%
    height: 133px
    img
      width: 100%
      height: 100%
  &__info
    padding-left: 13px
    padding-right: 13px

  &__title
    padding-top: 11px
    padding-bottom: 21px
    text-align: center
    border-bottom: 1px solid #eee

    font-size: 18px
    line-height: 24px
    font-weight: 700
    color: $accent
    transition: 0.3s    
    &-wrap
      display: block
      text-decoration: none      
      &:hover
        .products__title
          color: #e99c02

  &__price
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 20px
    margin-bottom: 20px
    span
      display: block
      font-size: 16px
      line-height: 24px
      font-weight: 400
      color: $accent
    b
      display: block
      font-size: 24px
      line-height: 24px
      font-weight: 700
      color: #60090b
  
  &__bottom
    display: flex
    align-items: center
    justify-content: space-between
    .btn
      display: block
    .link
      display: block

  /* media */
  @media screen and (max-width: 500px) 
    padding-top: 44px
    padding-bottom: 30px
    &__nav
      flex-direction: column
      margin-bottom: 26px
      li
        margin-right: 0
        margin-bottom: 20px
  // max-width 500px 

/* products */
