.about 
  position: relative
  background: #f5f5f5

  .title2
    margin-bottom: 32px

  .article
    .desc
      margin-bottom: 46px
      font-size: 16px
      line-height: 24px
      font-weight: 500
    p 
      font-size: 16px
      line-height: 24px
      font-weight: 400
      color: #666666      
      strong
        display: block
        margin-bottom: 70px
        font-size: 18px
        line-height: 24px
        font-weight: 500
        color: $accent
    blockquote
      padding-left: 46px
      padding-right: 58px
      padding-top: 48px
      padding-bottom: 50px
      background-color: #ffffff   
      p
        margin-bottom: 23px
        &:last-of-type
          margin-bottom: 0
    ul
      margin: 0
      padding: 0
      list-style: none

      padding-left: 52px
      padding-top: 38px
      padding-right: 50px
      padding-bottom: 36px
      background: #fff
      li
        position: relative
        margin-bottom: 27px
        font-size: 16px
        line-height: 24px
        color: #666666
        &:last-of-type
          margin-bottom: 0
        &::before
          content: ''
          position: absolute
          top: 6px
          left: -18px

          display: block
          width: 8px
          height: 8px
          background-color: $b2
          border-radius: 50%

  figcaption
    padding-left: 16px
    margin-top: 56px
    font-size: 18px
    line-height: 24px
    font-weight: 500
    color: $accent

  &__top    
    .right
      padding-top: 58px
      padding-left: 27px     

  .video
    position: relative
    display: block        
    height: 350px
    padding: 17px
    box-shadow: 2px 4px 20px 0px rgba(67,41,39,0.2)
    background-color: #ffffff
    &:hover
      .bg-img
        opacity: 0.9
        &::before
          opacity: 1
      .play
        box-shadow: 0 0 20px rgba($accent,0.4)

    .bg-img
      position: relative
      width: 100%
      height: 100%
      z-index: 1
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0

        display: block
        width: 100%
        height: 100%
        background: rgba(#000,0.2)
        opacity: 0
        z-index: -1
        transition: 0.3s
    .play
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      
      display: block
      width: 74px
      height: 74px
      background-image: linear-gradient(0.0deg, #ffbd09 0%, #ffe799 100%)
      border-radius: 50%
      z-index: 2
      transition: 0.3s
      cursor: pointer
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)

        display: block
        width: 0
        height: 0
        border-top: 11px solid transparent
        border-left: 15px solid $accent
        border-bottom: 11px solid transparent

  &__middle
    .left
      padding-left: 50px
      padding-right: 50px
      padding-top: 68px
    
  &__bottom
    padding-top: 59px
    padding-bottom: 77px

    font-size: 24px
    line-height: 30px
    font-weight: 500
    color: $accent
    text-align: center

  /* media */
  @media screen and (max-width: 900px) 
    .article
      blockquote
        padding: 28px 28px 40px 26px
      ul 
        padding: 28px 30px 26px 32px
  // max-width 900px 

  @media screen and (max-width: 768px) 
    &__top
      .right
        order: 1
      .left
        order: 2
  // max-width 768px 

  @media screen and (max-width: 400px) 
    &__top
      .right
        padding-top: 38px
        padding-left: 15px
        padding-right: 15px
    .video
      height: 280px
      padding: 12px
    figcaption 
      padding-left: 10px
      margin-top: 36px
      font-size: 16px
    .article
      .desc        
        margin-bottom: 25px
        font-size: 14px
      p
        font-size: 14px
        strong
          margin-bottom: 30px
          font-size: 16px
        br
          display: none
      blockquote
        p
          margin-bottom: 20px
          &:last-of-type
            margin-bottom: 0
      ul
        li          
          margin-bottom: 17px
          font-size: 14px
          line-height: 23px

    &__middle
      .left
        padding-left: 15px
        padding-right: 15px
        padding-top: 30px
    
    &__bottom      
      padding-top: 29px
      padding-bottom: 37px
      font-size: 18px
      line-height: 23px

  // max-width 400px 

/* about */
