.socials 
  display: flex
  &__link 
    display: block
    width: 39px
    height: 39px
    line-height: 39px
    margin-right: 23px
    
    text-decoration: none    
    text-align: center
    border-radius: 50%
    background-color: #5e4948
    transition: 0.3s  ease-in-out
    &:last-of-type 
      margin-right: 0
    
    .fa 
      color: #fff
      font-weight: 400
      font-size: 17px
    
    &:hover       
      transform: translateY(-2px)
      background: rgba(#fff,0.3)

/* socials */
