/* Переопределение стилей fancybox */
.fancybox-lock
  max-width: 100%
  overflow: hidden!important

.fancybox-overlay
  background: none
  background-color: rgba(#000,0.5)

#fancybox-loading div
  width: 44px
  height: 44px
  background: url(../libs/fancybox/fancybox_loading.gif) center center no-repeat

.fancybox-close
  background: none
  top: 5px
  right: 5px

  display: block
  width: 50px
  height: 50px
  background-color: $accent
  border: 2px solid #b9afa5
  border-radius: 25px
  transition: 0.4s ease-in-out
  &:hover
    background-color: $accent2
    border-color: darken($accent2, 5%)
    box-shadow: 0 5px 15px rgba(darken($accent2, 10%), 0.4)
  &::before,
  &::after
    content: ''
    position: absolute
    left: 50%
    top: 50%

    display: block
    width: 50%
    height: 4px
    background: #fff
    transition: 0.3s
    border-radius: 2px
  &::before
    transform: translate(-50%,-50%) rotate(45deg)
  &::after
    transform: translate(-50%,-50%) rotate(-45deg)
  &:hover
    opacity: 1

.fancybox-nav
    background: transparent url(../libs/fancybox/blank.gif)

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
  background-image: none

.fancybox-next, .fancybox-prev
  width: 25%
  transition: 0.3s

.fancybox-prev
  background: linear-gradient(90deg, rgba($accent2,0.4) 0%, rgba(#000,0) 100%)
  opacity: 0
  &:hover
    // background: linear-gradient(90deg, rgba($accent,0.2) 0%, rgba(#000,0) 100%)
    opacity: 1

.fancybox-next
  background: linear-gradient(270deg, rgba($accent2,0.4) 0%, rgba(#000,0) 100%)
  opacity: 0
  &:hover
    // background: linear-gradient(270deg, rgba($accent,0.2) 0%, rgba(#000,0) 100%)
    opacity: 1

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
    background: none
  #fancybox-loading div
    background-image: url(../libs/fancybox/fancybox_loading@2x.gif)
