mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        aside.catalog-nav
          button.catalog-nav__top
            span.burger
              span.burger__wrap
                span.line

            span.catalog-nav__title Каталог товаров

          .catalog-nav__list
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Мобильные телефоны, планшеты
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#responsive")
              ul.catalog-nav__sub
                li.catalog-nav__sub-item
                  a(href="#") Телефоны
                li.catalog-nav__sub-item
                  a(href="#") Смартфоны
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Мобильные аксессуары
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#usb-cable")
              ul.catalog-nav__sub
                li.catalog-nav__sub-item
                  a(href="#") Чехлы
                li.catalog-nav__sub-item
                  a(href="#") Наклейки
                li.catalog-nav__sub-item
                  a(href="#") Зарядное устройство
                li.catalog-nav__sub-item
                  a(href="#") Наушники
                li.catalog-nav__sub-item
                  a(href="#") Гарнитура
                li.catalog-nav__sub-item
                  a(href="#") Ремешок
                li.catalog-nav__sub-item
                  a(href="#") Наклейки
                li.catalog-nav__sub-item
                  a(href="#") Зарядное устройство
                li.catalog-nav__sub-item
                  a(href="#") Наушники
                li.catalog-nav__sub-item
                  a(href="#") Гарнитура
                li.catalog-nav__sub-item
                  a(href="#") Ремешок
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") ТВ, фото, аудио, видео
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#camera")
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Компьютеры, электроника
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#laptop")
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Бытовая техника
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#vacuum-cleaner")
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Климатическая техника
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#air-conditioner")
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Офисная техника
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#printer")
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Все для автомобиля
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#drive")
            .catalog-nav__item
              .catalog-nav__wrap
                a(href="#") Акции
                  span.catalog-nav__open
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#badge")

        .scr1__right
          .scr1__banner
            noscript
              img.lazy(src="img/img-scr1-1--mobile.jpg" alt="" width="371" height="327")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1-1--mobile.jpg" alt="" width="371" height="327")
          .scr1__slider#scr1__slider
            .scr1__slides
              .scr1__slide
                .scr1__item
                  noscript
                    img.lazy(src="img/img-scr1-1.jpg" alt="" width="750" height="449")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1-1.jpg" alt="" width="750" height="449")

                  .btn__wrap
                    a.btn(href="#") Подробнее

              .scr1__slide
                .scr1__item
                  noscript
                    img.lazy(src="img/img-scr1-2.jpg" alt="" width="750" height="449")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1-2.jpg" alt="" width="750" height="449")

                  .btn__wrap
                    a.btn(href="#") Подробнее

            .scr1__dots

          ul.features
            li.features__item
              .features__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#shield")

              p.features__text Официальная гарантия
                br
                |  от производителя
            li.features__item
              .features__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#delivery-truck")

              p.features__text Бесплатная
                br
                |  доставка по
                br
                |  Симферополю
            li.features__item
              .features__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#return")

              p.features__text Возврат товара
                br
                |  в течение
                br
                |  7 дней


  // /.scr1
