mixin scr_popular()
  section.scr_popular.popular.bg-grey(id="scr_popular")
    .container
      h2.title Популярное в электронике

      .popular__slider.slider1#popular__slider
        .popular__slides.slider1__slides
          .popular__slide.slider1__slide
            a.popular__item(href="#" style="background: #ffffff url('img-temp/popular/bg-popular-1.jpg')no-repeat right bottom; background-size: auto 100%;")
              p.popular__text Смартфоны
          .popular__slide.slider1__slide
            a.popular__item(href="#" style="background: #ffffff url('img-temp/popular/bg-popular-2.jpg')no-repeat right bottom; background-size: auto 100%;")
              p.popular__text Ноутбуки
          .popular__slide.slider1__slide
            a.popular__item(href="#" style="background: #ffffff url('img-temp/popular/bg-popular-3.jpg')no-repeat right bottom; background-size: auto 100%;")
              p.popular__text Телевизоры
          .popular__slide.slider1__slide
            a.popular__item(href="#" style="background: #ffffff url('img-temp/popular/bg-popular-4.jpg')no-repeat right bottom; background-size: auto 100%;")
              p.popular__text Для геймеров
          .popular__slide.slider1__slide
            a.popular__item(href="#" style="background: #ffffff url('img-temp/popular/bg-popular-4.jpg')no-repeat right bottom; background-size: auto 100%;")
              p.popular__text Для геймеров

        .popular__dots.slider1__dots

  // /.scr_popular
