mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      h2.title Топ 10 самых покупаемых смартфонов 2019 года

      .prod__slider.slider1#prod__slider
        .prod__slides.slider1__slides
          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--hit
                  span Хит
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                b.price.price-mobile-block 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Samsung Galaxy A7
                    br
                    |  64Gb Black (SM-A750FN)

              .prod__bottom
                b.price.price-desktop 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--hit
                  span Хит
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-2.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-2.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                b.price.price-mobile-block 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Samsung Galaxy A8+

              .prod__bottom
                b.price.price-desktop 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--hit
                  span Хит
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-3.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-3.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                b.price.price-mobile-block 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Honor 8X 64Gb Red
                    br
                    |  (JSN-L21)

              .prod__bottom
                b.price.price-desktop 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--hit
                  span Хит
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                b.price.price-mobile-block 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Honor 7A Pro Blue
                    br
                    |  (AUM-L29)

              .prod__bottom
                b.price.price-desktop 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--hit
                  span Хит
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                b.price.price-mobile-block 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Honor 7A Pro Blue
                    br
                    |  (AUM-L29)

              .prod__bottom
                b.price.price-desktop 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")

        .prod__dots.slider1__dots

  // /.scr_prod


mixin scr_prod--action()
  section.scr_prod.prod.prod--action(id="scr_prod_action")
    .container
      h2.title Товары со скидкой до 40% на всю осень

      .prod__slider.slider1#prod__slider2
        .prod__slides.slider1__slides
          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--action
                  span Акция
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                .price__wrap.price-mobile
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Samsung Galaxy A7
                    br
                    |  64Gb Black (SM-A750FN)

              .prod__bottom
                .price__wrap.price-desktop
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--action
                  span Акция
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-2.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-2.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                .price__wrap.price-mobile
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Samsung Galaxy A8+

              .prod__bottom
                .price__wrap.price-desktop
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--action
                  span Акция
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-3.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-3.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                .price__wrap.price-mobile
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Honor 8X 64Gb Red
                    br
                    |  (JSN-L21)

              .prod__bottom
                .price__wrap.price-desktop
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--action
                  span Акция
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                .price__wrap.price-mobile
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Honor 7A Pro Blue
                    br
                    |  (AUM-L29)

              .prod__bottom
                .price__wrap.price-desktop
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")


          .prod__slide.slider1__slide
            .prod__item
              .prod__top
                .prod__label.prod__label--action
                  span Акция
                button.prod__fav
                  svg.icon.icon--empty
                    use(xlink:href="img/svg/sprite.svg#icon-heart")
                  svg.icon.icon--filled
                    use(xlink:href="img/svg/sprite.svg#icon-heart-filled")

                a.prod__img.prod__link-wrap(href="#")
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)

              .prod__content
                .price__wrap.price-mobile
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽
                a.prod__link-wrap(href="#")
                  h3 Смартфон Honor 7A Pro Blue
                    br
                    |  (AUM-L29)

              .prod__bottom
                .price__wrap.price-desktop
                  span.price-old 18 990 ₽
                  b.price 15 990 ₽

                .prod__btns
                  a.btn.btn--primary(href="#") Купить в один клик
                  a.btn.btn--circle2(href="#")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-cart")

        .prod__dots.slider1__dots

  // /.scr_prod
