mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .lead__df
        .lead__text
          p.lead__title Успейте
            br
            |  купить
          p.lead__desc мобильные аксессуары по
            br
            strong  суперцене

        .lead__sale
          .lead__sale-text
            img(src="img/percent.png", alt="20%")
          .lead__btns
            a.btn.btn--green Смотреть товары
              br
              |  по специальной цене

        .lead__date
          p.lead__date-title Акция закончится через:

          .lead__timer

  // /.scr_lead
