mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h2.title
        span Блог

      ul.blog__list
        li.blog__item
          a.blog__img(href="#")
            noscript
              img.lazy(src="img-temp/blog/img-blog-1.jpg" alt="" width="800" height="450" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-blog-1.jpg" alt="" width="800" height="450" data-object-fit-cover)

          a.blog__title(href="#")
            h3 Илон Маск: полностью самоуправляемые Tesla
              br
              |  появятся в 2020 году

          .blog__bottom
            p Кто, как не Илон Маск, известен своими смелыми предсказаниями? Этой ночью он в очередной раз «оскорбил» всех, кто сомневается в его возможностях избавить мир...

        li.blog__item
          a.blog__img(href="#")
            noscript
              img.lazy(src="img-temp/blog/img-blog-2.jpg" alt="" width="800" height="450" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-blog-2.jpg" alt="" width="800" height="450" data-object-fit-cover)

          a.blog__title(href="#")
            h3 Новые видеокарты Nvidia

          .blog__bottom
            p За день до начала Gamescom 2018 — ежегодной ...

        li.blog__item
          a.blog__img(href="#")
            noscript
              img.lazy(src="img-temp/blog/img-blog-3.jpg" alt="" width="800" height="450" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-blog-3.jpg" alt="" width="800" height="450" data-object-fit-cover)

          a.blog__title(href="#")
            h3 Разработан самый опасный
              br
              |  искусственный интеллект

          .blog__bottom
            p Компьютерная модель получила название GPT-2 и была ...

  // /.scr_blog
