mixin scr_pay()
  section.scr_pay.pay(id="scr_pay")
    .container
      .pay__df
        .pay__content
          h1.title Доставка и оплата

          .article
            blockquote
              p Мы ценим комфорт наших покупателей, поэтому быстро и&nbsp;бережно доставляем заказы в удобное место и время.

          ul.pay__list
            li.pay__item
              .pay__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-pay-1")

              h2.pay__title Доставка продукции:

              table
                tbody
                  tr
                    th по Симферополю
                    td бесплатно
                  tr
                    th по Крыму
                    td 300 р.
                  tr
                    th по Крыму от 10 000
                    td бесплатно

            li.pay__item
              .pay__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-pay-2")

              h2.pay__title Оплата:

              .pay__text
                p Оплата наличными курьеру


        .pay__img
          noscript
            img.lazy(src="img/img-pay.jpg" alt="" width="238" height="699")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-pay.jpg" alt="" width="238" height="699")

  // /.scr_pay
