mixin scr_guarantee()
  section.scr_guarantee.guarantee(id="scr_guarantee")
    .container
      .guarantee__wrap
        .guarantee__img
          noscript
            img.lazy(src="img/img-guarantee.png" alt="" width="389" height="535")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-guarantee.png" alt="" width="389" height="535")

        h1.title Гарантия на товар

        .article
          .guarantee__top
            blockquote
              p В интернет-магазине Gigatronic Вы приобретаете качественный товар от лучших производителей. Компания закупает только сертифицированный товар и только у официальных поставщиков, что означает гарантию качества от производителя и гарантийное обслуживание без всяких проблем.

            p Гарантийное обслуживание осуществляется Авторизованными Сервисными Центрами производителя в соответствии с требованиями и сроками, указанными в Законе РФ «О защите прав потребителей».

            p Документом, подтверждающим гарантийные обязательства, служит заполненный гарантийный талон. Срок гарантии указан в гарантийном талоне и зависит от типа товара и производителя.

            i.blue Срок ремонта может составлять до 45 календарных дней.

          h2 Условия гарантии:

          ul
            li Гарантийные обязательства не распространяются на расходные элементы и материалы (батареи, картриджи и т.п.), а также на ремонт или замену естественно изнашиваемых в процессе эксплуатации частей;

            li В гарантийном ремонте может быть отказано, если установка или ремонт товара производились лицами, не имеющими соответствующих полномочий и квалификации;

            li Гарантийные пломбы на корпусе не должны иметь следов вскрытия;

            li Перед включением техники внимательно изучите прилагаемую инструкцию, при несоблюдении условий эксплуатации право на гарантийный ремонт утрачивается.

          h2 Причины отказа в гарантийном обслуживании:

          ul
            li Нарушения правил эксплуатации, транспортировки или хранения, которые указаны в инструкции по использованию изделия;

            li Следы механического воздействия, несанкционированного вскрытия, влаги, коррозии на оборудовании;

            li Был произведен ремонт изделия в неавторизированном производителем сервисном центре или внесения конструктивных изменений, не предусмотренных инструкцией по эксплуатации;

            li Подключения или установки изделия с нарушениями инструкции по эксплуатации;

            li Несовпадение серийного номера оборудования и серийного номера, указанного на коробке и в чеке.


  // /.scr_guarantee
