mixin scr_cta()
  section.scr_cta.cta.bg-grey(id="scr_cta")
    .container
      .cta__df
        p.cta__title
          strong Узнавайте первыми
          br
          |  о скидках и специальных предложениях

        .cta__subscribe
          .form.form--subscribe.wpcf7
            form.wpcf7-form
              .form__item.form__item--subscribe
                span.wpcf7-form-control-wrap.your-email.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='text', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Электронная почта')

                .btn__wrap
                  input.wpcf7-form-control.wpcf7-submit.btn.btn--green(type='submit', value='Подписаться')

  // /.scr_cta
