mixin scr_prod-item()
  section.scr_prod-item.prod-item(id="scr_prod-item")
    .container
      +breadcrumbs--prod-item

      h1.prod-item__title.mobile Смартфон Samsung Galaxy A7 64Gb Black (SM-A750FN)
      p.prod-item__desc.mobile Производитель: Samsung
    .prod-item__top
      .container
        .prod-item__df
          .prod-item__slider.slider1#prod-item__slider
            .prod-item__slides.slider1__slides
              .prod-item__slide.slider1__slide
                .prod-item__item
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)
              .prod-item__slide.slider1__slide
                .prod-item__item
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-2.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)
              .prod-item__slide.slider1__slide
                .prod-item__item
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-3.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)
              .prod-item__slide.slider1__slide
                .prod-item__item
                  noscript
                    img.lazy(src="img-temp/prod/img-prod-4.jpg" alt="" width="600" height="600" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-prod-1.jpg" alt="" width="600" height="600" data-object-fit-contain)

            .prod-item__dots.slider1__dots

          .prod-item__info
            h1.prod-item__title.dekstop Смартфон Samsung Galaxy A7 64Gb Black (SM-A750FN)
            p.prod-item__desc.dekstop Производитель: Samsung

            .price__wrap
              b.price.price--last 18 990 Р
              b.price.price--current 15 990 Р

            .prod-item__one-click
              .form.form--one-click
                form.wpcf7-form
                  .one-click-wrap
                    .text-input
                      span.wpcf7-form-control-wrap.your-tel.text-input
                        input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')
                    button.btn.btn--blue(type='submit') Купить в один клик

            .prod-item__add
              .quantity
                button.quantity-arrow.quantity-arrow-minus(type='button') -
                input.quantity-num(type='number', value='1')
                button.quantity-arrow.quantity-arrow-plus(type='button') +

              a.btn.btn--green(href="#") в корзину
                svg.icon
                  use(xlink:href='img/svg/sprite.svg#icon-cart')

          aside.prod-item__features
            ul.prod-item__features-list
              li.prod-item__features-item
                .prod-item__features-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#shield")

                p.prod-item__features-text Официальная гарантия
                  br
                  |  от производителя
              li.prod-item__features-item
                .prod-item__features-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#delivery-truck")

                p.prod-item__features-text Бесплатная доставка
                  br
                  |  по Симферополю
              li.prod-item__features-item
                .prod-item__features-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#wallet")

                p.prod-item__features-text Оплата при получении

    .prod-item__bottom
      .container
        ul.prod-item__nav
          li.current
            a(href="#prod-tabs-0") Описание
          li
            a(href="#prod-tabs-1") Характеристики

        ul.prod-item__tabs
          li.prod-item__tab#prod-tabs-0
            .article
              p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятой большой языкового запятых его оксмокс коварных, своих которое путь пунктуация, своих алфавит ведущими первую подзаголовок путь безопасную назад речью.

            .prod-item__more

          li.prod-item__tab#prod-tabs-1
            .prod-item__table
              table
                tbody
                  tr
                    th Год выпуска
                    td 2018
                  tr
                    th Операционная система
                    td Android
                  tr
                    th Версия ОС
                    td 8 (Oreo)
                  tr
                    th Тип корпуса
                    td Моноблок
                  tr
                    th Класс
                    td Имиджевые
                  tr
                    th Количество SIM-карт
                    td 2
                  tr
                    th Размер SIM-карты
                    td Nano-SIM
                  tr
                    th Емкость аккумулятора, мАч
                    td 3800
                  tr
                    th Количество SIM-карт
                    td 2
                  tr
                    th Размер SIM-карты
                    td Nano-SIM
                  tr
                    th Емкость аккумулятора, мАч
                    td 3800

            .prod-item__more

  // /.scr_prod-item
