mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs

      h1.title Илон Маск: полностью самоуправляемые Tesla появятся в 2020 году

      .post__wrap
        .article
          noscript
            img.alignleft.lazy(src="img-temp/img-blog-1.jpg" alt="" width="550" height="309")
          img.alignleft.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="550" height="309")

          blockquote
            p «Я думаю, что мы доделаем функцию полного самоуправления в этом году, то есть автомобиль сможет находить вас на парковке, забирать и отвозить в пункт назначения без вмешательства уже в этом году», заявил Маск. «Я уверен в этом. Это без вопросов»

          p Сегодня клиенты Tesla, желающие потратить лишние 5000 долларов, могут разблокировать расширенную функцию автопилота (Enhanced Autopilot) на своих автомобилях, которая намного проще, чем обещает Маск. Эта технология выводит автомобиль на дорогу, предлагает удерживать или сменить полосу, помогает с навигацией по развязкам шоссе и с выездом. Во всяком случае, так написано в руководстве для водителя.

          h2  Далеко-далеко за словесными горами в стране.
          h3  Далеко-далеко за словесными горами в стране.
          h4  Далеко-далеко за словесными горами в стране.


          p Но автомобили Tesla определенно не могут ездить, где хотят — ни на служебных дорогах, ни на парковках, ни по городу. Маск давно говорил, что это однажды случится. В период с октября 2016 по октябрь 2018 года клиенты даже могли заплатить лишние 3000 долларов за функцию «полного самоуправления», которая, по обещаниям Tesla, будет однажды разблокирована с помощью обновления программного обеспечения. И якобы все автомобили, выпущенные с октября 2016 года, имеют все нужно для этого оборудование. В январе 2017 года Маск сказал, что элементы этой функции начнут выпускаться через три-шесть месяцев. Этого также не произошло. Все как обычно: Маск обещает, но инженеры не успевают.

          p Пересмотренный график появления самоуправляемых Tesla стал отличной новостью для покупателей, которые ждали своих функций месяцами или даже годами. Тем не менее, Маск предупредил, что компании потребуется еще один год, чтобы добраться до точки, где ее автомобили будут полностью автономными.

          p Пока Маск продолжает делать смелые прогнозы относительно технологии автономных автомобилей Tesla, большинство его конкурентов движутся в другую сторону, умерив свои некогда агрессивные сроки запуска полностью самостоятельных автомобилей. В прошлом году Waymo придержала «запуск» сервиса самоуправляемых такси в Фениксе, заявив, что сервис пока не готов для широкой публики, и что за рулем должен оставаться водитель для безопасности. Эта технология «очень и очень тяжелая», сказал CEO Waymo Джон Крафчик.

          .clearfix

  // /.scr_post
