mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .container
      h1.title Вопрос-ответ

      ul.faq__list
        li.faq__item
          .top
            h2 У вас оригинальный товар?
            button.open
          .hidden
            .article
              p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ, сопровождается гарантийными талонами производителя и подлежит обслуживанию в официальных сервисных центрах. При получении товара вы можете позвонить напрямую производителю или в сервис, продиктовать серийный номер изделия и убедиться, что товар является "белым" и подлежит обслуживанию.
        li.faq__item
          .top
            h2 Как происходит оплата товара?
            button.open
          .hidden
            .article
              p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка)
        li.faq__item
          .top
            h2 Я купил технику, но не пользовался ей. Могу ли я её поменять или вернуть?
            button.open
          .hidden
            .article
              p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ, сопровождается гарантийными талонами производителя и подлежит обслуживанию в официальных сервисных центрах. При получении товара вы можете позвонить напрямую производителю или в сервис, продиктовать серийный номер изделия и убедиться, что товар является "белым" и подлежит обслуживанию.
        li.faq__item
          .top
            h2 Как мне узнать стоимость доставки до моего населенного пункта?
            button.open
          .hidden
            .article
              p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ, сопровождается гарантийными талонами производителя и подлежит обслуживанию в официальных сервисных центрах. При получении товара вы можете позвонить напрямую производителю или в сервис, продиктовать серийный номер изделия и убедиться, что товар является "белым" и подлежит обслуживанию.
        li.faq__item
          .top
            h2 Через какое время после заказа мне доставят товар?
            button.open
          .hidden
            .article
              p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ, сопровождается гарантийными талонами производителя и подлежит обслуживанию в официальных сервисных центрах. При получении товара вы можете позвонить напрямую производителю или в сервис, продиктовать серийный номер изделия и убедиться, что товар является "белым" и подлежит обслуживанию.


    .faq__form.bg-grey
      .container
        .form.form--horizontal.form--general.wpcf7
          form.wpcf7-form
          p.form__title Не нашли ответа на свой вопрос?
          p.form__desc Свяжитесь с нами, и мы предоставим необходимую информацию

          .form__df
            .form__item
              span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-user")

            .form__item
              span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-email")

            .form__item
              span.wpcf7-form-control-wrap.your-question.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-question', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Сообщение')
                i.input-icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#form-msg")

          .form__bottom
            .form__item.form__item--submit
              input.wpcf7-form-control.wpcf7-submit.btn.btn--green(type='submit', value='Отправить')

            .form__item
              span.wpcf7-form-control-wrap.accept
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon

      // /. form

  // /.scr_faq
