mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram

  // /.socials

mixin socials--modal()
  section.socials.socials--modal(id="socials--modal")
    a.socials__link.socials__link--vk.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link.socials__link--insta.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram

  // /.socials

mixin socials--modal2()
  section.socials.socials--modal(id="socials--modal2")
    a.socials__link.socials__link--vk.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link.socials__link--insta.open-modal(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram

  // /.socials
