.breadcrumbs
  position: relative
  padding-top: 20px
  padding-bottom: 19px
  ol
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      display: inline-block

      a,
      span span
        font-size: 14px
        font-weight: 600
        color: #999999
        text-decoration: none
        transition: 0.3s
        &[href]:hover
          color: $accent2

      &:not(:last-of-type)
        &::after
          content: '/'
          margin: 0 10px
          font-size: 13px


/* breadcrumbs */
