.veterans
  position: relative
  padding-top: 44px
  padding-bottom: 44px
  &__slider
    margin-top: 49px
    .swiper-wrapper
      display: flex
      flex-wrap: wrap
  &__slide
    width: calc(50% - 15px)
    margin-right: 30px
    padding-bottom: 30px
    &:nth-of-type(2n)
      margin-right: 0
  &__item
    display: flex
    box-shadow: 0px 0px 27px 0px rgba(181,151,89,0.4)
    background-color: #ffffff
    transition: 0.3s
    &:hover
      box-shadow: 0px 0px 40px 0px rgba(181,151,89,0.7)
  &__img
    flex-shrink: 0
    width: 50.45045045045045%
    min-height: 434px
    img
      display: block
  &__content
    display: flex
    flex-direction: column
    width: 49.54954954954955%
    padding: 33px 27px 30px
    h3
      margin-top: 0
      margin-bottom: 4px
      font-size: 22px
      line-height: 1.2
      font-weight: 700
  &__top
    margin-bottom: 70px
  &__age
    font-weight: 600
  &__dream
    margin-bottom: 20px
    line-height: 1.2
  &__btns
    margin-top: auto
    .btn__wrap
      width: 100%
    .btn
      text-transform: uppercase
  &__bottom
    margin-top: 57px
  .title
    margin-top: 0
    margin-bottom: 54px
  &__scale
    margin-bottom: 40px


  @media screen and (max-width: 1070px)
    &__slide
      width: calc(50% - 5px)
      margin-right: 10px
      padding-bottom: 20px
    &__content
      padding: 26px 20px 20px
      h3
        font-size: 19px
    &__top
      margin-bottom: 50px
    &__dream
      font-size: 14px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__img
      min-height: 300px
      width: 43.45045%

  // max-width 991px

  @media screen and (max-width: 767px)
    .title
      margin-bottom: 14px
    &__slider
      overflow: hidden
      width: calc(100% + 30px)
      margin-top: 19px
      margin-left: -15px
      padding: 0 15px
      .swiper-wrapper
        flex-wrap: nowrap
    &__slide
      padding: 30px 0
    &__content
      h3
        font-size: 16px
    &__age
      font-size: 14px
    &__img
      min-height: 260px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__slider
      margin-top: 0
    .title
      margin-bottom: 0
    &__top
      margin-bottom: 30px

  // max-width 575px

  @media screen and (max-width: 400px)
    &__item
      flex-direction: column
    &__img
      width: 100%
      height: 300px
    &__content
      width: 100%

  // max-width 575px

/* veterans */
