.veteran-item
  position: relative
  &__info
    display: flex
    margin-bottom: 32px
    box-shadow: 0px 0px 27px 0px rgba(181,151,89,0.4)
    background-color: #ffffff
  &__img
    width: 57.45614035087719%
    min-height: 434px
    img
      display: block
      width: 100%
      height: 100%
  &__content
    display: flex
    flex-direction: column
    width: 42.45614035087719%
    padding: 44px 30px 46px 71px
    h1
      margin-top: 0
      margin-bottom: 12px
      font-size: 30px
      line-height: 1.2
  .veterans__age
    margin-bottom: 49px
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
  .veterans__dream
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
  .veterans__btns
    margin-top: auto
    .btn__wrap
      width: auto
      .btn--red
        padding: 20px 32px

  &__links
    display: flex
    justify-content: space-between
    margin-bottom: 30px
    padding: 27px 47px 26px 52px
    background-color: $accent2
  &__desc
    padding-right: 20px
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    text-transform: uppercase
    font-weight: 600
    strong
      font-weight: 700
  &__socials
    display: flex
    align-items: center
    p
      margin-right: 52px
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
      font-weight: 900
      text-transform: uppercase

  &__life
    padding: 28px 0 29px
    background-color: #f8f3e9
    .container
      display: flex
    .title
      margin-bottom: 50px
    .article
      p
        text-indent: 18px
        margin-bottom: 0
    &-slider
      overflow: hidden
      margin-top: -30px
      width: calc(100% + 50px)
      margin-right: -60px
      // padding: 0 30px
    &-slide
      padding: 30px
    &-left
      width: 57.45614035087719%
      margin-right: 10px
      padding-top: 16px
    &-right
      width: 40.26315789473684%
    &-img
      display: block
      text-decoration: none
      outline: none
      height: 473px
      box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.15)
      transition: 0.3s
    &-btns
      position: relative
      display: flex
      align-items: center
      justify-content: center
      margin-top: 20px
      margin-left: 20px
      width: calc(100% + 10px)
      padding: 0 40px

  &__live
    padding-top: 35px
    padding-bottom: 100px
    &-wrap
      display: flex
      margin-top: 38px
    &-thumbs
      flex-shrink: 0
      width: 262px
      height: 587px
      margin-right: 30px
      .swiper-slide
        background-size: cover
        background-position: center center
        transition: 0.3s
        &:hover

    &-gallery
      flex-grow: 1
      height: 587px
      .swiper-slide
        display: block
        text-decoration: none
        outline: none
    &-title
      font-size: 30px
      line-height: 1.2
      font-weight: 700
      text-transform: uppercase

  &__photo
    padding-bottom: 40px
    &-slider
      margin-top: 50px
    &-btns
      display: flex
      justify-content: center
      align-items: center
      margin-top: 50px
      .swiper-button-prev,
      .swiper-button-next
        position: static
      .swiper-button-prev
        margin-right: 80px
      .swiper-button-next
        margin-left: 80px
    &-img
      display: block
      text-decoration: none
      outline: none
      height: 235px
      overflow: hidden
      img
        transition: 1.3s
    &-slide
      &:hover
        .veteran-item__photo-img
          img
            transform: scale(1.2)


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__links
      padding: 27px 16px 23px 20px
    &__desc
      br
        display: none
    &__life
      &-left
        padding-top: 0
      .title
        margin-bottom: 20px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__content
      padding-left: 40px
    &__desc
      font-size: 15px
    &__socials
      p
        margin-right: 32px
        font-size: 16px
    &__life
      &-right
        width: 50.263158%
      &-slider
        width: calc(100% + 30px)
        margin-right: -15px
      &-btns
        width: calc(100% - 10px)
      .article
        p
          font-size: 14px
      &-left
        margin-right: 0
        .title
          font-size: 29px

  // max-width 991px

  @media screen and (max-width: 870px)
    &__content
      flex-grow: 1
    &__img
      width: 50.45614%
      min-height: 384px
    &__life
      .container
        flex-direction: column
      &-right
        width: 100%
        max-width: 450px
        margin-left: auto
        margin-right: auto
      &-left
        width: 100%
      &-slider
        margin-top: 0
        width: 100%
      &-btns
        width: 100%
        margin-left: 0
      &-slide
        padding-left: 10px
        padding-right: 10px

  // max-width 870px

  @media screen and (max-width: 767px)
    .veterans__btns .btn__wrap .btn--red
      padding-left: 15px
      padding-right: 15px
      font-size: 12px
    &__content
      padding: 34px 20px 26px 30px
      h1
        font-size: 24px
    &__img
      min-height: 354px
    .veterans__age
      margin-bottom: 39px
      font-size: 16px
    .veterans__dream
      font-size: 16px

    &__links
      flex-direction: column
    &__desc
      width: 100%
      padding-right: 0
      text-align: center
    &__socials
      width: 100%
      justify-content: center
      margin-top: 25px

    &__live
      padding-bottom: 50px
      &-title
        font-size: 28px
      &-wrap
        flex-direction: column
      &-thumbs
        order: 2
        width: 100%
        height: 147px
        margin-top: 20px
        margin-right: 0
      &-gallery
        width: 100%
        height: 387px

    &__photo
      &-slider
        margin-top: 30px
      &-img
        height: 185px

  // max-width 767px

  @media screen and (max-width: 600px)
    &__info
      flex-direction: column
    &__content
      width: 100%
    &__img
      width: 100%
      min-height: 0
      max-height: 300px
      overflow: hidden

  // max-width 600px

  @media screen and (max-width: 575px)
    &__live
      padding-bottom: 40px
      &-wrap
        margin-top: 27px
      &-title
        font-size: 20px
      &-thumbs
        margin-top: 10px
      &-gallery
        height: 277px
    &__photo
      &-slider
        margin-top: 22px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__socials
      flex-direction: column
      p
        width: 100%
        margin-right: 0
        margin-bottom: 20px
        text-align: center
    &__life
      &-slider
        margin-top: 30px
      &-slide
        padding: 0 0 30px

    &__photo-btns
      .swiper-button-prev
        margin-right: 20px
      .swiper-button-next
        margin-left: 20px

  // max-width 500px

  @media screen and (max-width: 450px)
    &__life
      &-img
        height: 333px
      &-gallery
        height: 217px

  // max-width 450px

  @media screen and (max-width: 400px)
    &__desc
      font-size: 14px
    &__content
      padding-top: 24px
      padding-left: 20px
      h1
        font-size: 21px
    .veterans__age
      font-size: 14px
    .veterans__dream
      font-size: 14px

    &__photo
      &-img
        height: 155px

  // max-width 400px

/* veteran-item */
