.lead
  position: relative
  padding-top: 65px
  padding-bottom: 75px
  background: $accent2 url('../img/lead-bg.jpg') no-repeat center center
  background-size: cover
  .title
    margin-bottom: 54px
  .form
    padding-left: 52px
  &__content
    max-width: 690px


  @media screen and (max-width: 767px)
    .form
      padding-left: 0

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 40px
    padding-bottom: 40px
    .title
      margin-bottom: 34px

  // max-width 575px

  @media screen and (max-width: 430px)
    .title
      margin-bottom: 24px

  // max-width 430px

/* lead */
