.lead
  position: relative
  padding-top: 65px
  padding-bottom: 75px
  background: $accent2 url('../img/lead-bg.jpg') no-repeat center center
  background-size: cover
  .title
    margin-bottom: 54px
  .form
    padding-left: 52px
  &__content
    max-width: 690px
  &__title
    margin-bottom: 38px
    font-size: 30px
    line-height: 1.2
    font-weight: 600
    text-transform: uppercase
    text-align: center
  &--contacts
    padding-top: 55px
    padding-bottom: 66px
    background: #f8f3e9 url('../img/lead-bg--contacts.jpg') no-repeat center center
    background-size: cover
    .lead__content
      max-width: 645px
      margin-left: auto
      margin-right: auto
    .form
      padding-left: 0
      .text-input
        input,
        textarea
          background-color: #ffffff
        textarea
          height: 118px
      .accept
        padding-left: 0


  @media screen and (max-width: 767px)
    .form
      padding-left: 0
    &--contacts
      padding-top: 35px
      padding-bottom: 46px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 40px
    padding-bottom: 40px
    .title
      margin-bottom: 34px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__title
      margin-bottom: 20px
      font-size: 25px

  // max-width 500px

  @media screen and (max-width: 430px)
    .title
      margin-bottom: 24px

  // max-width 430px

/* lead */
