.post
  position: relative
  padding-bottom: 44px
  .article
    p
      text-indent: 0

  &__df
    display: flex
  &__content
    width: 65.78947368421053%
    margin-right: 30px
    h1
      margin-top: 18px
      margin-bottom: 36px
      font-size: 30px
      line-height: 1.2
  &__news
    width: 31.57894736842105%


  @media screen and (max-width: 1070px)
    &__content
      h1
        margin-bottom: 20px
        font-size: 26px
        br
          display: none

  // max-width 1070px

  @media screen and (max-width: 800px)
    padding-bottom: 24px
    &__df
      flex-direction: column
    &__content
      width: 100%
    &__news
      width: 100%

  // max-width 800px

  @media screen and (max-width: 575px)
    &__content
      h1
        font-size: 21px

  // max-width 575px

/* post */
