.contacts
  position: relative
  padding-bottom: 68px
  .title
    margin-top: 38px
    margin-bottom: 44px
  &__df
    display: flex
    justify-content: space-between
  &__item
    display: flex
    flex-direction: column
    justify-content: center
    width: calc(50% - 15px)
    height: 97px
    padding-left: 58px
    box-shadow: 0px 0px 15px 0px rgba(181,151,89,0.4)
  &__link
    text-decoration: none
    outline: none
    display: flex
    align-items: center
    font-size: 18px
    line-height: 1.2
    font-weight: 700
    transition: 0.3s
    &:hover
      color: $accent2
    .fa
      display: inline-block
      margin-right: 20px
      color: $accent2
      font-size: 24px
      &-envelope
        font-size: 20px


  @media screen and (max-width: 767px)
    padding-bottom: 28px
    .title
      margin-top: 28px
      margin-bottom: 24px
    &__df
      flex-direction: column
    &__item
      width: 100%
      margin-bottom: 20px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__item
      height: 77px
      padding-left: 38px

  // max-width 575px

  @media screen and (max-width: 500px)
    padding-bottom: 18px
    &__link
      font-size: 16px
      .fa
        margin-right: 16px

  // max-width 500px

/* contacts */
