.scr1
  position: relative
  padding-bottom: 83px
  &__top
    position: relative
    // min-height: 668px
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 136px
      left: 590px
      display: block
      width: 839px
      height: 657px
      background: transparent url('../img/svg/blob.svg') no-repeat center center
      background-size: contain
      z-index: -1
  &__df
    display: flex
    min-height: 718px
  &__content
    flex-shrink: 0
    width: 630px
    padding-bottom: 30px
  &__right
    position: relative
    flex-shrink: 0
    display: flex
    // flex-direction: column
    // justify-content: flex-end
    align-items: flex-end
    width: 800px
    margin-left: -70px
    z-index: 1
  &__btns
    .btn__wrap
      border-radius: 41.5px
    .xbtn
      height: 83px
  &__content
    padding-top: 200px
    padding-bottom: 60px
  &__title
    margin-top: 0
    margin-bottom: 38px
    font-size: 40px
    line-height: 1.25
    font-weight: 500
    strong
      font-weight: 900
  &__desc
    max-width: 430px
    margin-bottom: 43px
    font-size: 18px
    line-height: 1.555555555555556
    b
      font-weight: 500
  &__guarantee
    flex-shrink: 0
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    width: 221px
    height: 221px
    border-radius: 50%
    margin-bottom: 140px
    margin-right: -101px
    background-color: #ffffff
    box-shadow: 0px 6px 10px 0px rgba(88,152,188,0.1)
    font-size: 24px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #2d3241
    z-index: -1
    strong
      font-size: 48px
      line-height: 1.2
      font-weight: 900
    &::before
      content: ''
      position: absolute
      top: 8px
      right: 8px
      bottom: 8px
      left: 8px
      border-radius: 50%
      background-color: #ffffff
      border: 1px solid #e1eaf0
      z-index: -1
  &__img
    width: 744px
    height: 540px
    margin-bottom: -28px
    img
      display: block
  &__feat
    overflow: hidden
    padding: 20px 0 0
    margin: -20px 0 0
    &-wrap
      margin-top: -40px
      position: relative
      z-index: 1
    &-inner
      position: relative
      padding-top: 27px
      padding-bottom: 29px
      background-color: #ffffff
      box-shadow: 0px 6px 10px 0px rgba(88,152,188,0.1)
      border-radius: 15px
      &::after
        content: ''
        position: absolute
        left: 10px
        right: 10px
        bottom: -15px
        display: block
        height: 100%
        background-color: rgba(255,255,255,0.6)
        box-shadow: 0px 6px 10px 0px rgba(88,152,188,0.1)
        border-radius: 15px
        z-index: -1
    &-item
      display: flex
      height: 100%
      padding-left: 23px
      padding-right: 10px
      &:hover
        img
          transform: translateY(-5px)
      img
        flex-shrink: 0
        align-self: flex-start
        display: block
        width: 35px
        max-height: 50px
        margin-right: 12px
        transition: 0.4s ease-in-out
    &-content
      display: flex
      flex-direction: column
      align-items: flex-start
      h3
        margin-top: 0
        margin-bottom: 10px
        font-size: 16px
        line-height: 1.3125
        font-weight: 700
      p
        margin-bottom: 10px
        font-size: 14px
      a
        display: block
        text-decoration: none
        outline: none
        margin-top: auto
        font-size: 14px
        line-height: 21px
        font-weight: 400
        text-decoration: underline
        color: $accent
        transition: 0.4s ease-in-out
        &:hover
          color: $accent2
    &-btns
      display: none


  @media screen and (max-width: 1400px)
    padding-bottom: 53px
    &__df
      min-height: 628px
    &__right
      margin-left: -210px
    &__content
      padding-top: 170px
    &__title
      margin-bottom: 28px
      font-size: 35px
    &__desc
      margin-bottom: 33px
      font-size: 16px
    &__guarantee
      width: 201px
      height: 201px
      font-size: 22px
      strong
        font-size: 38px
    &__img
      width: 634px
      height: 480px
      margin-bottom: -8px

  // max-width 1400px

  @media screen and (max-width: 1070px)
    &__feat
      &-item
        padding-left: 13px
    &__guarantee
      margin-right: -81px
    &__img
      width: 524px
      height: 400px
    &__top
      &::before
        top: 176px
        left: 400px
        width: 739px
        height: 517px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__df
      min-height: 528px
    &__content
      padding-top: 90px
    &__right
      margin-left: -230px
    &__feat
      &-content
        h3
          br
            display: none

  // max-width 991px

  @media screen and (max-width: 850px)
    &__df
      min-height: 428px
    &__content
      width: 450px
    &__right
      margin-left: -61px
    &__feat
      &-btns
        display: block
        padding-left: 10px
        padding-right: 10px
        .swiper-dots
          display: flex
          justify-content: center
    &__title
      margin-bottom: 22px
      font-size: 31px
    &__desc
      margin-bottom: 25px
      font-size: 14px
    &__guarantee
      width: 111px
      height: 111px
      margin-right: -31px
      margin-bottom: 60px
      font-size: 14px
      strong
        font-size: 20px
    &__img
      width: 304px
      height: 260px

  // max-width 850px

  @media screen and (max-width: 767px)
    padding-bottom: 43px
    &__df
      display: block
    &__top
      &::before
        left: -70px
    &__content
      width: 100%
      padding-bottom: 20px
    &__right
      width: 100%
      margin-left: 0
    &__btns
      .xbtn
        height: 63px
    &__img
      width: 324px
      height: 270px
    &__feat
      &-content
        h3
          font-size: 14px
        p
          font-size: 13px
        a
          font-size: 13px
      &-inner
        padding-top: 17px
        padding-bottom: 19px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__title
      margin-bottom: 18px
      font-size: 25px
    &__img
      flex-shrink: 0

  // max-width 500px

/* scr1 */
