.consult
  position: relative
  padding-top: 60px
  padding-bottom: 78px
  z-index: 1
  &__bg
    position: absolute
    bottom: 0
    right: 0
    width: 855px
    height: 634px
    z-index: -2
    img
      display: block
  &__wrap
    position: relative
    padding: 20px 20px 20px 55px
    background: #FFFFFF
    box-shadow: 0px 6px 10px rgba(88, 152, 188, 0.1)
    border-radius: 15px
    &::before
      content: ''
      position: absolute
      top: 20px
      right: 20px
      bottom: 20px
      left: 20px
      border: 1px solid #E1EAF0
      border-radius: 15px
      z-index: 1
    &::after
      content: ''
      position: absolute
      top: 15px
      right: 15px
      bottom: -15px
      left: 15px
      display: block
      background: #FFFFFF
      opacity: 0.6
      box-shadow: 0px 6px 10px rgba(88, 152, 188, 0.1)
      border-radius: 15px
      z-index: -1
  &__content
    position: relative
    display: flex
    z-index: 2
  &__person
    flex-shrink: 0
    width: 297px
    padding-top: 30px
    padding-right: 15px
    padding-bottom: 15px
    border-right: 1px solid #E1EAF0
  &__img
    overflow: hidden
    width: 100%
    height: 100%
    border-radius: 50%
    &-wrap
      position: relative
      width: 110px
      height: 110px
      margin-bottom: 15px
  &__online
    position: absolute
    right: 5px
    bottom: 16px
    width: 12px
    height: 12px
    border-radius: 50%
    background: #56B120
    border: 2px solid #FFFFFF
  &__name
    margin-bottom: 8px
    font-size: 22px
  &__desc
    margin-bottom: 8px
    color: #BFBFBF
  &__phone
    display: block
    text-decoration: none
    outline: none
    margin-bottom: 7px
    font-size: 18px
    color: $accent
    transition: 0.4s ease-in-out
    &:hover
      color: $accent2
  &__add
    max-width: 250px
    font-size: 14px
  &__form
    flex-grow: 1
    padding: 25px 20px 32px 55px
    &-title
      margin-bottom: 7px
      font-size: 24px
    &-desc
      font-size: 18px
    .form
      width: auto
      padding: 30px 0 0
      text-align: left
      box-shadow: none
      &::before,
      &::after
        content: none
      .text-input
        margin-left: 0
        max-width: 300px
      .form__item--submit
        input
          min-width: 300px
      .accept
        label
          text-align: left
          & > span
            padding-left: 0
            font-size: 15px
            a
              display: block
              text-decoration: none
              outline: none
              padding-top: 8px
              color: $accent
              transition: 0.4s ease-in-out
              &:hover
                color: $accent2


  @media screen and (max-width: 1170px)
    padding-top: 30px
    padding-bottom: 30px
    &__bg
      width: 705px
      height: 534px
    &__wrap
      padding: 10px 10px 10px 35px
      &::before
        top: 10px
        right: 10px
        bottom: 10px
        left: 10px
    &__person
      width: 237px
      padding-top: 20px
      padding-right: 10px
      padding-bottom: 10px
    &__img
      &-wrap
        width: 80px
        height: 80px
    &__online
      width: 10px
      height: 10px
    &__name
      margin-bottom: 4px
      font-size: 19px
    &__desc
      margin-bottom: 4px
      font-size: 14px
    &__phone
      margin-bottom: 4px
      font-size: 16px
    &__add
      max-width: 210px
      font-size: 13px
    &__form
      padding: 10px 10px 22px 35px
      &-title
        margin-bottom: 4px
        font-size: 20px
      &-desc
        font-size: 16px
      .form
        padding: 20px 0 0
        .text-input
          max-width: 250px
        .form__item--submit
          input
            min-width: 250px
        .accept
          label
            & > span
              font-size: 14px
              a
                padding-top: 4px

  // max-width 1170px

  @media screen and (max-width: 700px)
    &__content
      display: block
    &__person
      width: 100%
      text-align: center
    &__img
      &-wrap
        margin-left: auto
        margin-right: auto
    &__add
      max-width: 100%
    &__form
      padding-left: 0

  // max-width 700px

  @media screen and (max-width: 400px)
    &__wrap
      width: calc(100% + 30px)
      margin-left: -15px

  // max-width 400px

/* consult */
