.map
  position: relative
  padding-top: 45px
  padding-bottom: 63px
  &__nav
    flex-wrap: wrap
    & > li
      width: calc((100% - 54px * 2) / 3)
      margin-right: 54px
      margin-bottom: 19px
      &:nth-of-type(3n)
        margin-right: 0
  &__tabs
    margin: 0
    padding: 0
    list-style: none
    padding-top: 7px
    & > li
      &:not(:first-of-type)
        display: none
  &__map
    height: 553px
    background-color: #ffffff
    box-shadow: 0px 0px 15px 0px rgba(88,152,188,0.2)
    border-radius: 15px
    transition: 0.4s ease-in-out
    &:hover
      box-shadow: 0px 0px 15px 0px rgba(88,152,188,0.4)


  @media screen and (max-width: 1170px)
    padding-top: 30px
    padding-bottom: 30px
    &__nav
      & > li
        width: calc((100% - 20px * 2) / 3)
        margin-right: 20px
        margin-bottom: 10px
        &:nth-of-type(3n)
          margin-right: 0
        & > a
          height: 55px
          font-size: 16px
    &__map
      height: 433px

  // max-width 1170px

  @media screen and (max-width: 767px)
    &__map
      height: 293px
    &__nav
      & > li
        width: calc((100% - 10px * 2) / 3)
        margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 0
        & > a
          height: 45px
          font-size: 14px
          text-align: center

  // max-width 767px

  @media screen and (max-width: 650px)
    &__nav
      & > li
        width: calc((100% - 10px) / 2)
        margin-right: 5px
        margin-bottom: 5px
        &:nth-of-type(3n)
          margin-right: 5px
        &:nth-of-type(2n)
          margin-right: 0
        & > a
          min-width: 0
          height: 40px
          font-size: 13px

  // max-width 650px

/* map */
