.post
  position: relative
  padding-top: 131px
  padding-bottom: 50px
  &__wrap
    padding-top: 30px
  &__df
    display: flex
  &__cont
    flex-grow: 1
  .blog
    flex-shrink: 0
    width: 434px
    margin-left: 30px
  &__img
    height: 380px
    margin-bottom: 31px
    border-radius: 15px
    overflow: hidden


  @media screen and (max-width: 1170px)
    &__img
      height: 280px
      margin-bottom: 21px
    .blog
      width: 350px
      margin-left: 10px

  // max-width 1170px

  @media screen and (max-width: 991px)
    padding-top: 76px

  // max-width 991px

  @media screen and (max-width: 850px)
    &__df
      display: block
    &__cont
      width: 100%
    .blog
      width: 100%
      margin-left: 0

  // max-width 850px

  @media screen and (max-width: 767px)
    padding-bottom: 30px
    &__wrap
      padding-top: 20px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__img
      height: 220px

  // max-width 500px

/* post */
