.about
  position: relative
  padding-top: 131px
  padding-bottom: 63px
  &__wrap
    padding-top: 33px
  &__df
    display: flex
    align-items: flex-start
  &__content
    flex-grow: 1
  &__img
    order: 2
    flex-shrink: 0
    width: 550px
    margin-left: 30px
    box-shadow: 0px 0px 15px rgba(88, 152, 188, 0.2)
    border-radius: 15px
    overflow: hidden
    img
      display: block


  @media screen and (max-width: 1070px)
    padding-bottom: 30px
    &__df
      display: block
    &__img
      float: right
      width: 330px
      margin-left: 20px
      margin-bottom: 10px

  // max-width 1070px

  @media screen and (max-width: 991px)
    padding-top: 76px

  // max-width 991px

  @media screen and (max-width: 650px)
    &__img
      width: 200px

  // max-width 650px

  @media screen and (max-width: 450px)
    &__wrap
      padding-top: 20px
    &__img
      float: none
      width: 100%
      margin-bottom: 20px
      margin-left: 0

  // max-width 450px

/* about */
