.breadcrumbs {
  ol {
    margin: 0;
    padding: 0;
    list-style: none; 
    li {
      position: relative;
      display: inline-block;
      font-size: 14px;
      color: #8a8e91;
      a {
        color: #8a8e91;
        text-decoration: none;
        transition: 0.3s;
        &[href]:hover {
          color: $r;
        }
      }
      &:not(:last-of-type) {
        &::after {
          content: '>';
          font-size: 14px;
          color: #8a8e91;
          margin: 0 1px;
        }
      }
    } 
  }
    
  /* media */

  @media screen and (max-width: 500px) {    
   
  } /* max-width 500px */

} /* breadcrumbs */