.list1 {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #cccccc;
  &__header {
    display: flex;
    align-items: center;   
    width: 100%; 
    .list1__col {
      padding-top: 24px;
      padding-bottom: 27px;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 600;
      color: $accent;
      &--1 {
        padding-left: 44px;
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;   
    width: 100%;     
    .list1__col {      
      &--last {
        padding-right: 30px;
      }
      &--1 {
        display: block;        
        .show-more {
          position: relative;
          padding-top: 18px;
          padding-bottom: 17px;
          padding-left: 45px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            color: $r;
            .icon {
              fill: $r;
            }
            &::before {
              border-color: $r;
            }
          }
          &::before {
            content: '';
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%) rotate(-135deg);

            display: block;
            width: 8px;
            height: 8px;
            border-left: 2px solid #45558e;
            border-bottom: 2px solid #45558e;
            transition: 0.3s;
          }
          &.active {
            &::before {
              transform: translateY(-50%) rotate(-45deg);
            }
          }     
        }
      }
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 500;            
    }
  }
  &__col {
    padding-right: 10px;    
    &--1 {
      width: 34.21052631578947%;
    }
    &--2 {
      width: 31.57894736842105%;
    }
    &--3 {
      width: 16.84210526315789%;
    }    
  }
  .article {
    font-size: 14px;
    line-height: 24px;
    strong {
      font-weight: 600;
    }
    p {
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }
  }
  &__item {
    .btn {
      display: block;
      width: 152px;
      height: 47px;
      line-height: 45px;
      font-size: 13px;
      font-weight: 600;
    }
  }
  &__hidden {
    display: none;
    width: 82.89473684210526%;
    padding-top: 15px;
    padding-left: 44px;
    padding-bottom: 39px;
  }

  /* media */

  @media screen and (max-width: 992px) {    
    &__col {        
      &--1 {
        width: 30%;
      }
      &--2 {
        width: 25%;
      }      
    }
    &__top {
      .list1__col--last {
        margin-left: auto;
      }
    }
  } /* max-width 992px */
  
  @media screen and (max-width: 740px) {    
    &__header {
      display: none;
    }
    &__top {
      flex-wrap: wrap;
      padding-bottom: 20px;
    }
    &__col {      
      &--1 {
        width: 50%;
        order: 1;
      }
      &--2 {
        width: 100%;
        padding-left: 40px;
        order: 3;
      }
      &--3 {
        width: 100%;
        padding-left: 40px;
        order: 4;
      }
      &--4 {
        width: 100%;
        padding-left: 40px;
        order: 5;
      }
      &--last {
        width: 50%;
        order: 2;
        margin-left: 0;
        .btn {
          margin-top: 30px;
          margin-bottom: -30px;
          margin-left: auto;
        }
      }
    }
  } /* max-width 740px */

  @media screen and (max-width: 500px) {    
    &__item {
      span {
        font-size: 14px;        
      }
      .btn {
        height: auto;
        line-height: 1.2;
        font-size: 13px;
        width: 120px;
        border: none;
        background: none;
        &::before {
          content: none;
        }
        &:hover {
          background: none;
          color: $accent;         
        }
      }
    }
    &__top {
      .list1__col {
        &--1 {
          .show-more {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 25px;
            &::before {
              left: 10px;
              width: 7px;
              height: 7px;
            }
          }
        }
        &--2 {
          padding-left: 25px;
        }
        &--3 {
          padding-left: 25px;
        }
        &--last {
          padding-right: 15px;
        }
      }
    }
    &__hidden {
      padding-left: 25px;
      padding-right: 20px;
      width: 100%;
    }
    
  } /* max-width 500px */

  @media screen and (max-width: 500px) {    
    &__top {
      .list1__col {
        &--1 {
          width: 100%;
        }
        &--last {
          width: 100%;
          order: 10;
          padding-left: 5px;
          text-align: left;
          margin-top: 5px;
          .btn {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;            
          }
        }
      }
    }
    
  } /* max-width 500px */

} /* list1 */