.list1 {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #cccccc;
  &__header {
    display: flex;
    align-items: center;   
    width: 100%; 
    .list1__col {
      padding-top: 24px;
      padding-bottom: 27px;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 600;
      color: $accent;
      &--1 {
        padding-left: 44px;
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;   
    width: 100%; 
  }
  &__col {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;    
    &--1 {
      width: 34.21052631578947%;
    }
    &--2 {
      width: 31.57894736842105%;
    }
    &--3 {
      width: 16.84210526315789%;
    }    
  }
  &__top {
    .list1__col {
      &:last-of-type {
        padding-right: 30px;
      }
    }
  }

  /* media */

  @media screen and (max-width: 500px) {    
   
  } /* max-width 500px */

} /* list1 */