.menu2 {
  position: relative;
  
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }  
  &__item {
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(76,91,151,0.3);
    }
  }
  &__link {
    display: block;
    width: 100%;
    padding: {
      left: 32px;
      top: 23px;
      right: 48px;
      bottom: 25px;
    }
    background: #f5f5f5 url('../img/icon-arrow.svg') no-repeat center right 25px;
    background-size: 14px 13px;

    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $accent;
    text-decoration: none;
    transform: translateX(0);
    transition: 0.3s;
    &:hover {
      transform: translateX(5px);
      color: #4c5b97;
    }
  }
  .menu-open {
    display: none;
    margin-bottom: 20px;
  }

  /* media */

  @media screen and (max-width: 992px) {    
    .menu-open {
      display: block;
    }
    .menu2 {  
      &__list {
        display: none;
      }
      &__link {
        font-size: 16px;
        padding: 18px 48px 18px 32px;
      }
    }
  } /* max-width 992px */

  @media screen and (max-width: 500px) {    
    .menu2 {  
      &__link {
        font-size: 14px;
        padding: 14px 30px 14px 15px;
      }
    }
  } /* max-width 500px */

} /* menu2 */