.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
  &__content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 409px;
    max-height: 100vh;
    padding: 2px;
    box-shadow: 0px 0px 18px 0px #cbcbcb;
    transform: translate(-50%,-50%);
    overflow: auto;
  }
  .form {
    width: 100%;
    z-index: 0;
    margin-bottom: 0;
    input[type="submit"] {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .close {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 23px;
      height: 2px;
      background-color: $accent;
      transition: 0.5s;
    }
    &::before {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:hover {
      &::before,
      &::after {
        background-color: $accent;
      }
    }
  }
  .your-resume {
    position: relative;
    input[type="file"] {
      display: none;
    }
    label {
      position: relative;
      display: block; 
      min-width: 100px;
      height: 50px;
      line-height: 50px;
      border: 1.0px solid #4c5b97;
      border-radius: 3.0px;
      font-size: 16px;
      color: #4c5b97;
      text-align: center;
      transition: .5s;
      z-index: 1;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #4c5b97;
        transform: scaleY(0);        
        transition: opacity .3s,transform .3s .5s;        
        opacity: 0;
      }
      &:hover {
        color: #fff;
        background: #4c5b97;
        &::before {
          transform: scaleY(1);
          opacity: 1;
          transition: transform .2s ease-in-out .1s;    
        }
      }      
      &:focus {
        border-color: $accent--dark;
      }
    }
  }


  /* media */
  @media screen and (max-width: 560px) {
    &__content {
      width: 90%;
    }
    .form {
      padding: 25px 40px 18px;
    }
  } /* max-width 500px */

  @media screen and (max-width: 500px) {
    &__content {
      top: 20px;
      transform: translate(-50%,0);
    }
  } /* max-width 500px */

  @media screen and (max-width: 440px) {
    &__content {
      width: 95%;
    }
    .form {
      padding: 25px 25px 18px;
    }
  } /* max-width 440px */

  @media screen and (max-width: 400px) {
    &__content {
      width: 100%;
    }
    .form {
      margin-left: 0;
      padding: 20px 20px 30px;
    }
  }

} /* modal */

.modal.call {
  .form {
    &__title {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 600;
      text-transform: uppercase;      
    }
    input[type="submit"] {
      width: 87.10691823899371%;
    }
  }
  @media screen and (max-width: 400px) {
    .form {
      &__title {
        font-size: 18px;
      }
      input[type="submit"] {
        width: 100%;
      }
      .text-input {
        margin-left: 0;
      margin-right: 0;
      }
    }
  }
}