.affiliates {
  position: relative;
  padding-top: 25px;
  .title1 {
    padding-top: 25px;
  }
  .desc {
    padding-left: 100px;
  }
  h3 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: $accent;
  }
  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 28px;
    padding-bottom: 16px;

    border-bottom: 1px solid #eceef5;

    h2 {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }    

    li {
      margin-right: 15px;
      margin-bottom: 15px;
      a {
        position: relative;

        display: block;
        width: 158px;
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        border: 1.0px solid #4c5b97;
        border-radius: 3.0px;
        
        color: #4c5b97;
        text-decoration: none;
        transition: 0.5s;
        z-index: 1;
        text-align: center;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: #4c5b97;
          transform: scaleY(0);
          transition: opacity 0.3s, transform 0.3s 0.5s;
          opacity: 0;
        }
        &:hover {
          color: #fff;
          background: #4c5b97;
          &::before {
            transform: scaleY(1);
            opacity: 1;
            transition: transform 0.2s ease-in-out 0.1s;
          }
        }
      }
      &.current {
        a {
          background-color: #4c5b97;
          color: #fff;
        }
      }
    }
  }
  &__top {
    display: flex;
    .contacts__item {
      margin-bottom: 20px;
      &:not(:last-of-type) {
        padding-right: 30px;
      }
      &:first-of-type {
        width: 22.98245614035088%;
      }
      &:nth-of-type(2) {
        width: 28.33333333333333%;
      }
      &:nth-of-type(3) {
        width: 31.57894736842105%;
      }
      &:last-of-type {
        width: auto;
        margin-left: auto;
        text-align: right;
        .btn {
          padding: 15px 26px;
          height: auto;          
          line-height: 1.2;
          margin-left: auto;          
          margin-top: 0;
          font-size: 13px;
        }
      }
    }
  }  

  /* media */
  @media screen and (max-width: 768px) {
    &__nav {
      margin-top: 30px;
    }
    &__top {
      flex-wrap: wrap;
      .contacts__item {
        margin-bottom: 15px;        
        &:first-of-type {
          width: 50%;          
          padding-right: 20px;
        }
        &:nth-of-type(2) {
          width: 50%;
          padding-right: 0;
        }
        &:nth-of-type(3) {
          width: 50%;
          padding-right: 20px;
        }
        &:last-of-type {          
          margin-left: 0;
          text-align: left;
          .btn {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  } /* max-width 768px */

  @media screen and (max-width: 400px) {
    &__nav {
      li {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0;
        a {
          width: 100%;
          height: 35px;
          line-height: 35px;
          h2 {
            font-size: 15px;
          }
        }
      }
    }
    &__top {
      .contacts__item {        
        &:last-of-type {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }

} /* affiliates */
