.analyses {
  position: relative;
  .title1 {
    padding-top: 32px;
  }  
  .desc {
    padding-left: 97px;
  }
  &__nav {
    margin-top: 40px;
  }
  .paginator {
    padding-top: 37px;
    padding-bottom: 48px;
  }
  &__list {
    margin-top: 34px;
    &:not(#analyses-tab0) {
      display: none;
    }
  }
  &__item {
    .bottom {
      display: flex;
      align-items: center;
      .icon__wrap {
        width: auto;
        margin-right: 10px;
      }
    }
    &:nth-of-type(2n) {
      background-color: #f5f5f5;
    }
  }  
  .list1__col {
    &--1 {
      width: 25.78947368421053%;
      padding-right: 30px;
    }
    &--2 {
      width: 21.49122807017544%;
      padding-left: 28px;  
      padding-top: 18px;
      padding-bottom: 17px;
    }
    &--3 {
      width: 18.42105263157895%;
      padding-top: 18px;
      padding-bottom: 17px;
    }    
    &--4 {
      width: 17.10526315789474%;
      padding-top: 18px;
      padding-bottom: 17px;
      padding-left: 23px;
    }
    &--last {
      align-self: center;
    }
    span {
      b {
        display: none;
        margin-right: 5px;
        font-weight: 600;        
      }
    }
  }
  .list1__col--1 .show-more {
    &__text {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.2;
    }
    &__title {
      margin-bottom: 8px;
    }
    &::before {
      top: 32px;      
    }
  }
  .article {
    p:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
  &__top {
    align-items: flex-start;
  }
  .filter--tabs {
    .disabled {
      display: none;
    }
  }

  /* media */
  @media screen and (max-width: 1024px) {
    .list1__col {
      &--1 {
        width: 30%;
        padding-right: 20px;
      }
      &--3 {
        width: 15%;
      }    
      &--4 {
        width: 15%;
      }
      &--last {
        margin-left: auto;
        padding-right: 15px;
        .btn {
          width: 120px;
          height: 40px;
          line-height: 40px;
          padding-left: 10px;
          padding-right: 10px;          
        }
      }
    }
  } /* max-width 1024px */

  @media screen and (max-width: 992px) {
    &__nav {
      .link__wrap {
        justify-content: flex-start;
        margin-top: 20px;
      }
    }
  } /* max-width 992px */

  @media screen and (max-width: 840px) {
    .list1__col {
      span {
        font-size: 14px;
      }
    }
    .list1__header .list1__col {
      font-size: 16px;
    }
  } /* max-width 840px */

  @media screen and (max-width: 760px) {
    .title1 {
      padding-top: 50px;
    }
    .desc {
      padding-left: 60px;
    }
  } /* max-width 760px */

  @media screen and (max-width: 740px) {
    .list1__col {     
      span {
        b {
          display: inline-block;
        }
      }
      &--1 {
        width: 50%;
      }
      &--2 {
        width: 100%;
        padding-top: 0;
        padding-left: 40px;
        padding-bottom: 2px;
      }
      &--3 {
        width: 100%;
        padding-top: 0;
        padding-left: 40px;
        padding-bottom: 2px;
      }
      &--4 {
        width: 100%;
        padding-top: 0;
        padding-left: 40px;
        padding-bottom: 2px;
      }
      &--last {
        width: 50%;
        .btn {
          margin-top: 30px;
          margin-bottom: -30px;
          margin-left: auto;
        }
      }
    }
  } /* max-width 740px */

  @media screen and (max-width: 576px) {
    &__nav {
      .filter {
        margin-bottom: 20px;    
      }
      .link__wrap {
        justify-content: flex-start;
        align-items: flex-start;
      }      
    }
  } /* max-width 576px */

  @media screen and (max-width: 500px) {
    &__list {
      margin-top: 20px;
    }
    .paginator {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__top {
      .list1__col {
        &--1 {
          width: 100%;   
          padding-right: 15px;       
          .show-more {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 25px;
            &::before {
              left: 10px;
              width: 7px;
              height: 7px;
            }
          }
        }
        &--2 {
          padding-left: 25px;
        }
        &--3 {
          padding-left: 25px;
        }
        &--4 {
          padding-left: 25px;
        }
        &--last {  
          width: 100%;
          margin-left: 0;
          .btn {        
            height: auto;
            margin-top: 0;            
            margin-bottom: 0;
            margin-left: 0;
            line-height: 1.2;
            padding-left: 15px;
          }
        }
      }
    }
    &__hidden {
      padding-left: 25px;
      padding-right: 20px;
      width: 100%;
    }
  } /* max-width 500px */

} /* analyses */
