.serv {
  position: relative;
  .title1 {
    padding-top: 32px;
  }  
  .desc {
    padding-left: 97px;
  }
  &__nav {
    margin-top: 40px;
  }
  .paginator {
    padding-top: 37px;
    padding-bottom: 48px;
  }
  &__list {
    margin-top: 34px;
    &:not(#serv-tab0) {
      display: none;
    }
  }
  &__item {
    &:nth-of-type(2n) {
      background-color: #f5f5f5;
    }
  }  

  /* media */
  @media screen and (max-width: 760px) {
    .title1 {
      padding-top: 40px;
    }
    .desc {
      padding-left: 60px;
    }
  } /* max-width 760px */

  @media screen and (max-width: 576px) {
    &__nav {
      .filter {
        margin-bottom: 20px;    
      }
      .link__wrap {
        justify-content: flex-start;
        align-items: flex-start;
      }      
    }
  } /* max-width 576px */

  @media screen and (max-width: 500px) {
    &__list {
      margin-top: 20px;
    }
    .paginator {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  } /* max-width 500px */

} /* serv */
