.order {
  position: relative;
  padding-bottom: 45px;
  .form {
  	width: 100%;
  	padding: 42px 67px 34px;
  	&__item {
  		&:last-of-type {
  			.wpcf7-form-control-wrap {
  				margin-bottom: 0;
  			}
  		}
  	}
  	&__title {
  		margin: 0;
  		margin-bottom: 28px;
			font-size: 30px;
			line-height: 1.2;
			font-weight: 600;
			text-align: left;
  	}
  	input[type="submit"] {
  		width: 100%;
  		margin: 0;
  		margin-top: 20px;
  		margin-bottom: 7px;
  	}
  	.accept {
  		margin: 0;
  		.wpcf7-list-item-label {
  			text-align: left;
  		}
  	}
  }
  .df {
  	display: flex;
  	justify-content: space-between;
  }
  .left {
  	width: 32.03980099502488%;
  	margin-right: 10px;
  }
  .center {
  	width: 32.03980099502488%;
  	margin-right: 10px;
  }
  .right {
  	width: 24.87562189054726%;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;
  }
  .df2 {    
    flex-direction: column;
    .left {
      width: 100%;
      margin-right: 0;
      display: flex;
      justify-content: space-between;
      .form__item {
        width: calc((100% - 68px) / 3);
      }
      .text-input {
        margin-bottom: 20px;
      }
    }
    .bottom {
      display: flex;
    }
    .center {
      width: 65.63706563706564%;
      margin-right: 34px;
    }
    .right {
      width: 246px;
    }
    .accept label {
      text-align: left;
    }    
  }
  /* media */
  @media screen and (max-width: 992px) {
		.form {
    	padding: 40px 35px 30px;
    	&__title {
    		font-size: 23px;
    	}
		}
		.right {
			width: 30%;
		}
  } /* max-width 992px */

  @media screen and (max-width: 860px) {
    .df2 {    
      .left {
        flex-wrap: wrap;
        justify-content: flex-start;
        .form__item {
          width: 280px;
          margin-right: 20px;
        }
      }

    }
  } /* max-width 860px */

   @media screen and (max-width: 840px) {
   	.df {
   		flex-wrap: wrap;
   	}
		.left {
			width: 47%;
		}
		.center {
			width: 47%;
			margin-right: 0;
		}
		.right {
			margin-top: 17px;
			width: 50%;
		}
  } /* max-width 840px */

  @media screen and (max-width: 660px) {
    .df2 {
      .bottom {
        flex-direction: column;
      }
      .center {
        width: 100%;
      }
    }
  } /* max-width 660px */

  @media screen and (max-width: 600px) {
		.df {
   		flex-wrap: nowrap;
   		flex-direction: column;
   	}
		.left {
			width: 100%;
			margin-right: 0;
		}
		.center {
			margin-top: 17px;
			width: 100%;
		}
		.right {
			width: 100%;			
		}
		.form {
			&__title {
				font-size: 18px;
			}
		}
    .df2 {
      .center {
        margin-top: 0;
      }
    }
  } /* max-width 600px */

  @media screen and (max-width: 400px) {
		.form {
			padding: 20px;
			width: calc(100% + 30px);
			&__title {
				font-size: 16px;
			}
			.wpcf7-form-control-wrap {
				margin-left: 0;
				margin-right: 0;
			}
		}
    .df2 {
      .left {
        .form__item {
          width: 100%;
          margin-right: 0;
        }
      }
      .center {
        width: 100%;
      }
      .accept {
        br {
          display: none;
        }
      }
      .right {
        width: 100%;
      }      
    }
  }

} /* order */

.order2 {
  padding-bottom: 35px;
  .form {
    padding: {
      left: 50px;
      top: 32px;
      right: 55px;
      bottom: 41px;
    }
    @media screen and (max-width: 800px) {
      padding: {
        left: 20px;
        top: 30px;
        right: 25px;
        bottom: 30px;
      }
    } /* max-width 800px */
  }
}

