.scr_1 {
  position: relative;
  padding-top: 57px;
  padding-bottom: 158px;
  background: #e4f2fd url(../img/bg-scr1.png) no-repeat right bottom;
  background-size: auto 100%;

  .container--tabs {
    position: absolute;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 400;
    &.fixed {
      position: fixed;
      top: 50px;
      bottom: auto;
      .tabs {
        opacity: 0.7;
        &.visible {
          opacity: 1;
        }
      }
      .tabs__nav {
        height: 60px;
      }
      .tabs__title {
        display: none;
      }
    }
  }

  .tabs {
    width: 33.3333333333%;
    position: absolute;
    top: 0;
    right: 15px;
  }

  .title1 {
    margin-top: 90px;
    margin-bottom: 38px;
  }

  .desc1 {
    margin-bottom: 44px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #4c5b97;
    strong {
      font-weight: 600;
    }
  }

  .left {
    .btn {
      height: 60px;
      line-height: 60px;
      padding: {
        left: 58px;
        right: 58px;
      }
      font-size: 18px;
      border-radius: 30.0px;
    }
  }

  .tabs__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 88px;
    li {
      width: calc((100% + 6px) / 3);
      background: #253574;
      a {
        position: relative;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #253574;
        transition: 0.3s;
        z-index: 1;
        .icon {
          fill: #fff;
          width: 28px;
          height: 28px;
          margin-bottom: 9px;
        }
        span {
          display: block;
          max-width: 100%;
          text-align: center;
        }
      }
      &.current {
        background: #4c5b97;
        a {
          background: #4c5b97;
        }
      }
      &:not(.current) {
        a:hover {
          height: calc(100% + 3px);
          transform: translateY(-3px);
        }
      }
    }
  }

  .tabs__items {
    width: 100%;
    background: #fff;
    border: 3.0px solid #4c5b97;
  }

  .tabs__item:not(#tab-1) {
    display: none;
  }

  .scroll {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: inline-block;
    .arrow {
      position: absolute;
      left: 50%;
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $r2;
      border-left: 2px solid $r2;
      transform: rotate(-45deg) translateX(-50%);
      opacity: 0;
      &:nth-of-type(1) {
        top: -20px;
        animation: scrollBtnArrow 1.5s infinite;
      }
      &:nth-of-type(2) {
        top: -10px;
        animation: scrollBtnArrow 1.5s infinite 0.2s;
      }
      &:nth-of-type(3) {
        top: 0;
        animation: scrollBtnArrow 1.5s infinite 0.4s;
      }
    }
  }



  /* media */
  @media screen and (max-width: 1200px) {
    .tabs {
      width: 40%;
    }
  } /* max-width 1200px */

  @media screen and (max-width: 1140px) {
    .tabs {
      width: 49%;
    }
  } /* max-width 1140px */

  @media screen and (max-width: 1024px) {
    .container--tabs {
      &.fixed {
        top: 10px;
        .tabs {
          right: 100px;
        }
      }
    }
  } /* max-width 1024px */

  @media screen and (max-width: 992px) {
    padding-top: 0;
    .title1 {
      margin-top: 100px;
      margin-bottom: 20px;
    }
    .desc {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .container--tabs {
      top: 40px;
    }
  } /* max-width 992px */

  @media screen and (max-width: 768px) {
    padding-bottom: 100px;
    .container--tabs {
      top: auto;
      bottom: 50px;
      .tabs {
        width: 60%;
        opacity: 0.7;
        &.visible {
          opacity: 1;
        }
      }
      .tabs__nav {
        height: 60px;
        li {
          &:not(.current) {
            a:hover {
              height: 100%;
              transform: none;
              background-color: darken($accent,10%);
            }
          }
        }
      }
      .tabs__title {
        display: none;
      }
      &.fixed {
        left: 53%;
        .tabs__nav {
          height: 40px;
          .icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .title1 {
      margin-top: 30px;
    }
    .scroll {
      bottom: 85px;
    }
  }

  @media screen and (max-width: 576px) {
    .title {
      margin-bottom: 15px;
    }
    .desc {
      font-size: 18px;
      line-height: 1.2;
    }
    .left {
      .btn {
        font-size: 15px;
        height: 42px;
        line-height: 42px;
      }
    }
    .container--tabs {
      .tabs {
        width: 90%;
        right: 50%;
        transform: translateX(50%)
      }
      &.fixed {
        .tabs {
          width: 70%;
          right: 100px;
          transform: none;
        }
      }
    }
    .tabs__nav {
      height: 50px;
      li {
        a {
          flex-direction: row;
          .icon {
            margin-right: 10px;
            margin-bottom: 0;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  } /* max-width 576px */

  @media screen and (max-width: 500px) {
    background-image: url('../img/bg-scr1-mob.png');
    background-position: left top;
    background-size: cover;
  } /* max-width 500px */

  @media screen and (max-width: 400px) {
    .left .btn {
      width: 100%;
    }
    .container--tabs {
      .tabs {
        width: 100%;
        margin-left: -15px;
      }
    }
    .title1 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 24px;
    }
    .desc1 {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 15px;
      br {
        display: none;
      }
    }
  }

} /* scr_1 */
