.about {
  position: relative;
  .desc1 {
    margin-left: 76px;
    margin-bottom: 85px;
  }
  .desc2 {
    padding-left: 120px;    
  }
  .article {
    max-width: 100%;
    p {      
      font-size: 16px;
      line-height: 24px;
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 60px;
      li {
        position: relative;
        padding-left: 22px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        color: $accent;
        &:not(:last-of-type) {
          margin-bottom: 30px;
        }
        &::before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;

          display: block;
          width: 9px;
          height: 9px;
          background-color: #4c5b97;
          border-radius: 50%;
        }
      }
    }
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 66px;
    }
  }

  &--type1 {
    padding-top: 25px;
    padding-bottom: 65px;    
    .title1 {
      padding-top: 51px;
    }
    .bg-img {
      position: absolute;
      top: 50%;      
      right: 0;
      transform: translateY(-50%);

      display: block;
      width: 50%;
      height: calc(100% - 90px);
      z-index: -1;         
    }

    h3 {
      margin-bottom: 26px;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 600;
      color: $accent;
    }
  }

  &--type2 {
    padding-top: 87px;
    padding-bottom: 87px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 58.54166666666667%;
      height: 100%;
      background-color: #dbe0ef;
    }
    .videos__wrap {
      display: flex;
      align-items: center;
    }
    .videos__item {
      margin-top: 0;
      max-width: 100%;
      width: 100%;
      height: 360px;      
    }
    .videos__text {
      padding-bottom: 20px;
    }
    .article {
      padding-left: 41px;
      padding-top: 52px;
      padding-bottom: 58px;
      background-color: #ffffff;
    }
    .right {
      padding-left: 29px;
      display: flex;
      align-items: center;
    }
  }

  &--type3 {
    padding-top: 85px;
    padding-bottom: 58px;    
    overflow: hidden;
    .title__wrap {
      display: inline-block;
      width: auto;
      margin-left: auto;
      text-align: left;
    }
    .title2 {
      text-align: right;
    }
    .desc {
      margin-bottom: 75px;      
      padding-left: 165px;
    }
    .bg-img {
      position: absolute;
      bottom: 0;
      width: 54.375%;
      height: calc(100% - 60px);      
    }
    .article {
      position: relative;
      padding-left: 39px;
      padding-top: 70px;
      padding-bottom: 75px;
      background-color: #dbe0ef;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;

        display: block;
        height: 100%;
        background-color: #dbe0ef;
      }
      &::before {
        left: -30px;
        width: 30px;
      }
      &::after {
        right: -100%;
        width: 100%;
      }
      p {
        font-size: 18px;
        line-height: 30px;
        &:not(:last-of-type) {
          margin-bottom: 28px;
        }
      }      
    }
  }

  &--type4 {
    padding-top: 128px;
    padding-bottom: 33px;
    overflow: hidden;    
    .bg-img {
      position: absolute;
      top: 65px;
      right: 0;
      bottom: 158px;

      width: 50.78125%;   
    }
    .content {
      position: relative;
      padding-top: 144px;
      padding-bottom: 45px;
      z-index: 1;
      background: #fff;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -62px;

        display: block;
        width: 62px;
        height: 100%;
        background: #fff;
        z-index: -1;
      }
    }
    .title__wrap {
      position: relative;
    }
    .title2 {
      position: absolute;
      bottom: 5px;
      z-index: -1;
    }
    .desc {
      margin-top: 0;
      margin-bottom: 74px;
    }
    .article {      
      p {        
        font-size: 18px;
        line-height: 30px;
        &:not(:last-of-type) {
          margin-bottom: 35px;
        }
        strong {
          font-weight: 600;
        }
      }
    }
  }

  &--type5 {
    overflow: hidden;
    .desc {
      margin-bottom: 70px;
    }
    .article {      
      p {        
        font-size: 18px;
        line-height: 30px;
        &:not(:last-of-type) {
          margin-bottom: 35px;
        }
        strong {
          font-weight: 600;
        }
      }
    }
    .container {
      position: relative;
      padding-top: 133px;
      padding-bottom: 65px;
    }
    .bg-img {
      position: absolute;
      top: 0;
      right: 15px;
      width: 100vw;
      height: 100%;  
    }
    .content {
      position: relative;
      padding-left: 66px;
      padding-top: 88px;
      padding-bottom: 75px;
      padding-right: 55px;
      background: #fff;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -30px;

        display: block;
        width: 30px;
        height: 100%;
        background: #fff;
      }
    }
  }

  /* media */
  @media screen and (max-width: 1200px) {
    .desc1 {
      margin-bottom: 50px;
    }
    &--type1 {
      .article {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        background: #fff;      
      }
    }
  } /* max-width 1200px */

  @media screen and (max-width: 1024px) {
    &--type4 {        
      .bg-img {
        width: 70%;         
      }
      .content {
        position: relative;
        padding-top: 60px;
      }
      .desc {
        margin-bottom: 30px;
      }
    }
    .article {
      ul {
        margin-top: 40px;
        li:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }
  } /* max-width 1024px */

  @media screen and (max-width: 992px) {
    &--type1 {
      padding-bottom: 40px;
      .bg-img {
        height: 70%;
      }      
    }
    .title1 {
      padding-top: 30px;
    }
    .desc1 {
      margin-left: 40px;
    }

    &--type2 {
      padding-top: 50px;
      padding-bottom: 50px;
      .right {
        padding-left: 15px;
      }
    }
    &--type5 {
      .content {
        position: relative;
        padding-left: 40px;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-right: 30px;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -30px;
          
          display: block;
          width: 30px;
          height: 100%;
          background: #fff;
        }
      }
      .bg-img {
        right: 0;
      }
    }
  } /* max-width 992px */

  @media screen and (max-width: 768px) {
    .article {
      ul {
        li {
          font-size: 16px;
          &::before {
            width: 7px;
            height: 7px;
          }
          &:not(:last-of-type) {
            margin-bottom: 10px;
          }
        }
      }
    }
    &--type1 {
      .title1 {
        padding-top: 60px;
      }
      .bg-img {
        display: none;
      }
    }
    &--type2 {
      .article {
        p {
          font-size: 14px;
        }
      }
      .videos__wrap {
        min-height: 100%;
      }
      .videos__item {
        height: 250px;
      }
    }
    &--type3 {
      padding-top: 20px;
      padding-bottom: 50px;      
      overflow: hidden;
      .desc {
        margin-bottom: 60px;
      }
      .article {
        padding: 30px 20px;
        p {
          font-size: 16px;
        }
        background: rgba(#dbe0ef,0.95);
      }
      .bg-img {
        width: 100%;
        height: 90%;
        top: 100px;
        bottom: auto;
      }
    }
    &--type4 {
      .content {
        background: rgba(#fff,0.9);
        &::after {
          background: rgba(#fff,0.9);
        }
      }
      .article {
        p {
          font-size: 16px;
          &:not(:last-of-type) {
            margin-bottom: 28px;
          }
        }
      }
    }

    &--type5 {
      .container {
        padding-top: 40px;
      }
      .content {
        padding-left: 30px;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-right: 20px;
        background: rgba(#fff,0.8);
        &::after {          
          background: rgba(#fff,0.8);
        }
      }
      .desc {
        margin-bottom: 40px;
      }
      .article {
        p {
          font-size: 16px;
        }
      }
    }
  } /* max-width 768px */

  @media screen and (max-width: 576px) {
    &--type2 {
      .article {
        padding: 25px;
      }      
    }
  }

  @media screen and (max-width: 500px) {
    .desc2 {
      padding-left: 60px;    
    }
    .article {
      ul {
        margin-top: 25px;
        li {
          font-size: 14px;
        }
      }
    }
    &--type1 {
      padding-bottom: 0;
      h3 {
        font-size: 26px;
        margin-bottom: 15px;
      }
    }
    .desc1 {
      margin-bottom: 20px;
    }    
    &__item:not(:last-of-type) {
      margin-bottom: 30px;
    }
    .article {
      p {
        font-size: 14px;
      }
    }
    &--type3 {
      padding-bottom: 40px;
      .desc {
        margin-bottom: 18px;
      }
      .article {
        padding-left: 0;
        padding-right: 0;
        p {
          &:not(:last-of-type) {
            margin-bottom: 10px;
          }
        }
      }
      .bg-img {
        bottom: 40px;
        height: auto;
      }
    }
    &--type4 {
      padding-top: 150px;
      .title2 {
        bottom: 8px;
      }
      .bg-img {
        top: 0px;
        width: 100%;
        height: 30%;
      }
      .content {
        width: 100%;
        margin-left: -15px;
        padding-left: 15px;
      }
      .article {
        p:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
    &--type5 {
      .container {
        padding-top: 0;
        padding-bottom: 0;
      }
      .content {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
      }
      .desc {
        margin-bottom: 35px;
      }
    }
  } /* max-width 500px */

} /* about */
