.breadcrumbs
  position: relative
  ol
    margin: 0
    padding: 0
    list-style: none
    padding: 17px 0
    li
      position: relative
      display: inline-block

      a,
      span span
        text-decoration: none
        transition: 0.3s

        font-size: 14px
        line-height: 1.285714285714286 /* 18 / 14 */
        &[href]:hover
          color: $accent2

      &:not(:last-of-type)
        &::after
          content: '/'
          margin: 0 4px

  @media screen and (max-width: 500px)
    ol
      padding: 12px 0
      li
        a,
        span span
          font-size: 13px

  // max-width 500px

/* breadcrumbs */
