.pager
  position: relative
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  background-color: #f1f6fc
  border-radius: 6.0px
  padding: 10px 17px
  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    width: 100%
    & > li
      position: relative
      line-height: 1.2
      transition: 0.3s

      &:first-of-type
        margin-right: auto

      &:last-of-type
        margin-left: auto


      .page-numbers, .prev, .next, .show-all
        display: block
        text-decoration: none
        outline: none
      .page-numbers:not(.prev):not(.next):not(.show-all)
        position: relative

        font-size: 14px
        line-height: 1.2
        font-weight: 600
        display: flex
        align-items: center
        justify-content: center
        text-decoration: none
        outline: none
        width: 26px
        height: 26px
        margin-right: 10px
        background-color: rgba(#ffffff, 0)
        border-radius: 50%

        transition: 0.3s
        &::before
          content: ''
          position: absolute
          top: -3px
          left: 0
          border-radius: 3px
          width: 100%
          height: calc(100% + 6px)
          background: $accent
          transform: scale(0)
          transition: 0.5s
          z-index: -1
        &:not(.current):hover
          background-color: #fff

        &.current
          background-color: #fff
      .prev,
      .next
        display: flex
        align-items: center
        justify-content: center
        width: 26px
        height: 26px
        border-radius: 50%
        background-color: rgba(#ffffff, 0)
        transition: 0.3s
        &::after
          content: ''
          width: 6px
          height: 10px
          background: transparent url('../img/svg/arrow.svg')
        &:hover
          background-color: #fff
      .prev
        &::after
          transform: rotate(180deg)
      .show-all
        text-decoration: underline
        font-size: 14px
        line-height: 1.2
        transition: 0.3s
        &:hover
          color: $accent2

  @media screen and (max-width: 470px)
    ul
      & > li
        .show-all
          font-size: 12px
        .page-numbers:not(.prev):not(.next):not(.show-all)
          font-size: 13px
          width: 23px
          height: 23px
          margin-right: 7px

  // max-width 470px

 /* paginator */
