.scr1
  position: relative
  overflow: hidden
  padding-bottom: 84px
  &__df
    position: relative
    display: flex
    padding-top: 104px
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      left: -183px

      display: block
      width: 324px
      height: 927px
      opacity: 0.4
      background: transparent url('../img/many-balloons.png') no-repeat center center
      background-size: contain
      z-index: -1
  &__main
    display: flex
    flex-direction: column
  &__menu
    display: flex
    margin-top: 10px
    margin-bottom: 10px
    .menu
      flex-grow: 1
      margin: 0
      padding: 0
      list-style: none
      display: flex
      & > li
        flex-grow: 1
        width: 100%
        margin-right: 7px
        & > a
          display: flex
          flex-direction: column
          align-items: center
          text-align: center
          padding: 9px 8px 8px
          background-color: #c3e6fc
          border-radius: 8.0px

          font-size: 14px
          line-height: 1.2
          font-weight: 600
          color: #0059a9
          transition: 0.3s
          text-decoration: none
          outline: none
          &:hover
            background-color: #f1f6fc
    &-icon
      display: flex
      align-items: center
      justify-content: center
      box-shadow: 0px 3px 4px 0px rgba(0,103,183,0.75)
      width: 56px
      height: 56px
      border-radius: 50%
      background: transparent url('../img/circle.png') no-repeat center center
      background-size: contain
      img
        display: block
        width: 39px
        height: 42px
    &-text
      margin-top: 9px
    &-all
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: center
      text-decoration: none
      outline: none
      width: 47px
      background-color: #ffe749
      border-radius: 8.0px
      font-size: 14px
      line-height: 1.2
      font-weight: 600
      color: #0059a9
      transition: 0.3s
      &:hover
        background-color: #f1f6fc

  &__slider
    overflow: hidden
    &-wrap
      position: relative
      margin-bottom: 28px
  &__slide
    background-color: #cec0f7
    border-radius: 6.0px
    img
      display: block

  &__feat
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    margin-top: auto
    &-item
      position: relative
      width: 35%
      font-size: 13px
      line-height: 1.2
      padding-left: 22px
      z-index: 1
      &:nth-of-type(2)
        width: 31.95266272189349%
        &::before
          background-color: #eef8ff
      &:last-of-type
        width: 28.40236686390533%
        &::before
          background-color: #fff9ce
      strong
        font-weight: 600
      &::before
        content: ''
        position: absolute
        top: -25px
        left: 0
        display: block
        width: 96px
        height: 96px
        background-color: #f7f8d9
        border-radius: 50%
        z-index: -1


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* scr1 */
