.lead
  position: relative
  background: transparent url('../img/prod-bg.jpg') no-repeat center center
  background-size: cover
  padding-top: 69px
  padding-bottom: 83px
  z-index: 2
  &__df
    position: relative
    display: flex
    justify-content: space-between
    padding-right: 95px
    z-index: 1
  &__content
    flex-grow: 1
    padding-right: 20px
    padding-top: 75px
  &__title
    margin-top: 0
    margin-bottom: 18px
    font-size: 40px
    line-height: 1.2
    font-weight: 700
    color: #fd335a
  &__desc
    font-size: 30px
    color: #000000
  &__form
    position: relative
    flex-shrink: 0
    width: 350px
    max-width: 100%
    &::before
      content: ''
      position: absolute
      top: -140px
      right: -415px
      display: block
      width: 749px
      height: 752px
      background: transparent url('../img/lead-img.png') no-repeat center center
      background-size: contain
      z-index: -1
    .form
      box-shadow: 0px 17px 27px 0px rgba(228,166,202,0.6)
      padding: 29px 45px 29px 40px
      &__desc
        font-weight: 600
      .text-input
        input
          height: 50px
          border: none
      .accept
        margin-top: 28px
      &__item--submit
        margin-top: 35px


  @media screen and (max-width: 1170px)
    padding-top: 39px
    padding-bottom: 43px
    &__df
      padding-right: 0
    &__title
      font-size: 33px
    &__desc
      font-size: 26px
    &__form
      &::before
        right: -215px
        width: 639px
        height: 672px

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__title
      font-size: 27px
    &__desc
      font-size: 20px

  // max-width 991px

  @media screen and (max-width: 850px)
    &__form
      width: 300px
      &::before
        top: -70px
        right: -135px
        width: 519px
        height: 492px
      .form
        padding: 29px 25px 29px
    &__content
      padding-top: 115px
    &__title
      font-size: 21px
    &__desc
      font-size: 17px

  // max-width 850px

  @media screen and (max-width: 650px)
    &__df
      flex-direction: column
    &__content
      padding-top: 0
      padding-right: 0
      margin-bottom: 50px
      text-align: center
    &__title
      margin-bottom: 8px
    &__form
      margin-left: auto
      margin-right: auto

  // max-width 650px

  @media screen and (max-width: 400px)
    padding-top: 29px
    padding-bottom: 33px
    &__content
      margin-bottom: 30px
    &__title
      font-size: 18px
    &__desc
      font-size: 15px
    &__form
      &::before
        width: 479px
        height: 672px

  // max-width 400px

/* lead */
