.prod-item
  position: relative
  padding-bottom: 30px
  &__cont
    position: relative
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: -154px
      left: -183px

      display: block
      width: 324px
      height: 927px
      opacity: 0.4
      background: transparent url('../img/many-balloons--2.png') no-repeat center center
      background-size: contain
      z-index: -1
  &__df
    display: flex
    align-items: flex-start
  &__left
    display: flex
    flex-direction: column
    width: 40.49586776859504%
    margin-right: 17px
  &__right
    flex-grow: 1
    &-df
      display: flex
  &__wrap
    display: flex
  &__slider
    overflow: hidden
    &-wrap
      position: relative
      margin-bottom: 10px
  &__top
    position: absolute
    top: 0
    left: 0
    display: flex
    width: 100%
    .prod__btns
      padding-top: 12px
      padding-right: 13px
  &__img
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    outline: none
    height: 396px
    padding: 20px 14px
    background-color: #ffffff
    border: 1.0px solid #dce0e5
    border-radius: 8.0px
    transition: 0.3s
    img
      display: block
      height: 100%
    &:hover
      border-color: $accent2
  &__btns
    .swiper-button-prev,
    .swiper-button-next
      width: 31px
      height: 31px
    .swiper-button-prev
      left: -10px
    .swiper-button-next
      right: -10px
    .swiper-dots
      display: none

  &__socials
    display: flex
    align-items: center
    margin-top: auto
    span
      margin-right: 17px
      font-size: 14px
      line-height: 1.2
      font-weight: 600

  &__title
    margin-bottom: 15px
    font-size: 18px
    line-height: 1.2
    font-weight: 600
    &.mobile
      display: none

  &__content
    flex-grow: 1

  &__delivery
    margin: 0
    padding: 0
    list-style: none

    flex-shrink: 0
    width: 181px
    margin-left: 13px
    padding: 0 5px
    margin-top: 8px
    background-color: #f7f2ff
    border-radius: 8.0px
    & > li
      padding: 12px 7px
      font-size: 13px
      line-height: 1.384615384615385 /* 18 / 13 */
      text-align: center
      border-bottom: 1px solid #fff
      &:last-of-type
        border-bottom: none
      strong
        font-weight: 600
  .prod__table
    &-row
      margin-bottom: 10px
    &-th
      font-weight: 600
    &-td
      font-weight: 400
      font-size: 14px
  &__pay
    margin: 0
    padding: 0
    list-style: none

    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0 20px
    margin-top: 10px
    & > li
      max-width: 63px
      width: calc(50% - 3px)
      margin-right: 6px
      margin-bottom: 7px
      &:nth-of-type(2n),
      &:last-of-type
        margin-right: 0
      &:last-of-type
        margin-bottom: 0
    .footer__pay-img
      border: 1.0px solid #dce0e5

  &__prices
    margin-top: 20px
    padding: 10px 16px 20px 14px
    background-color: #f1f6fc
    &-top
      display: flex
      justify-content: space-between
      margin-bottom: 10px
    &-list
      display: flex
      margin-bottom: 8px
    .prod__to-cart
      min-width: 132px
      padding: 5px 15px 5px
  &__price
    &--old
      margin-right: 19px
      font-size: 16px
      line-height: 37px
      font-weight: 600
      color: #666666
      text-decoration: line-through
    &--new
      font-size: 30px
      line-height: 26px
      font-weight: 700
      color: $accent
    &--one
      margin-left: 15px
      font-size: 12px
      line-height: 31px
      font-weight: 600
      color: #666666

  &__text
    font-size: 13px
    line-height: 1.2
    strong
      font-weight: 600

  &__form
    margin-top: 16px
    .form
      position: relative
      &__item
        &--submit
          position: absolute
          top: 0
          right: 0
      .text-input
        max-width: 95%
        input
          padding-right: 55%

  &__info
    position: relative
    margin-top: 35px
    z-index: 1
    &-nav
      margin: 0
      padding: 0
      list-style: none
      display: flex
      & > li
        position: relative
        margin-right: 2px
        z-index: 1
        & > a
          display: flex
          align-items: center
          justify-content: center
          text-decoration: none
          outline: none

          min-width: 165px
          height: 45px
          padding: 0 10px
          background-color: #f1f6fc
          border-top-left-radius: 6.0px
          border-top-right-radius: 6.0px
          margin-bottom: -2px

          font-size: 14px
          line-height: 1.2
          font-weight: 600
          text-align: center
          transition: 0.3s
          &:hover
            background-color: #fff
        &.current
          z-index: 3
          & > a
            background-color: #ffffff
            border: 1.0px solid #dce0e5
            border-bottom: none

  &__tabs
    position: relative
    margin: 0
    padding: 0
    list-style: none
    background-color: #ffffff
    border: 1.0px solid #dce0e5
    border-radius: 6.0px
    z-index: 2
  &__tab
    padding: 38px 26px 33px
    &:not(#prod-item__tab-0)
      display: none


  @media screen and (max-width: 1170px)
    &__left
      width: 34.495868%

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__wrap
      flex-direction: column
    &__title
      &.mobile
        display: block
      &.desktop
        display: none
    &__left
      width: 100%
      max-width: 420px
      margin-left: auto
      margin-right: auto
      margin-bottom: 15px
    &__img
      height: 356px
    &__info
      &-nav
        & > li
          & > a
            min-width: 155px

  // max-width 1070px

  @media screen and (max-width: 550px)
    &__info
      &-nav
        flex-direction: column
        & > li
          margin-bottom: 2px
          margin-right: 0
          & > a
            margin-bottom: 0
            border-radius: 6px
          &.current
            & > a
              border-bottom: 1.0px solid #dce0e5
    &__prices
      &-top
        flex-direction: column
        align-items: center
        justify-content: flex-start
      &-list
        margin-top: 20px
        margin-bottom: 15px
        flex-wrap: wrap
        justify-content: center

    &__price
      &--one
        width: 100%
        text-align: center
        margin-left: 0
        line-height: 1.2

    &__text
      margin-bottom: 8px

    &__form
      .form
        &__item
          &--submit
            position: static
            margin-top: 10px
            margin-left: auto
            margin-right: auto
            text-align: center

    .prod__table-th,
    .prod__table-td
      font-size: 13px

  // max-width 550px

  @media screen and (max-width: 470px)
    &__right
      &-df
        flex-direction: column
    &__delivery
      margin-left: 0
      width: 100%
      margin-top: 20px

  // max-width 470px

  @media screen and (max-width: 400px)
    &__tab
      padding: 28px 16px 23px

  // max-width 400px

/* prod-item */
