.collections
  position: relative
  background-color: #f7f2ff
  &__cont
    position: relative
    padding: 37px 0 74px
    z-index: 15
    &-top
      display: flex
      justify-content: space-between
      align-items: center
      .title
        margin-bottom: 0
        margin-right: 15px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    margin-top: 34px
  &__wrap
    padding-bottom: 27px
    width: calc((100% - 60px) / 3)
    margin-right: 30px
    &:nth-of-type(3)
      margin-right: 0
    &:nth-of-type(n + 4)
      width: calc((100% - 90px) / 4)
      margin-right: 30px
      .collections__item
        height: 296px
    &:nth-of-type(7)
      margin-right: 0

    &:nth-of-type(7n + 1)
      .collections__item
        background-color: #b1c794
      .collections__title
        &::after
          background-color: #8da260
    &:nth-of-type(7n + 2)
      .collections__item
        background-color: #f3ab94
      .collections__title
        &::after
          background-color: #f17b51
    &:nth-of-type(7n + 3)
      .collections__item
        background-color: #ffd018
      .collections__title
        &::after
          background-color: #9e5f00
    &:nth-of-type(7n + 4)
      .collections__item
        background-color: #95bdf2
      .collections__title
        &::after
          background-color: #0059a9
    &:nth-of-type(7n + 5)
      .collections__item
        background-color: #f2c1de
      .collections__title
        &::after
          background-color: #ff7bcd
    &:nth-of-type(7n + 6)
      .collections__item
        background-color: #a6d797
      .collections__title
        &::after
          background-color: #6c913a
    &:nth-of-type(7n)
      .collections__item
        background-color: #c3c8e8
      .collections__title
        &::after
          background-color: #9782f9

  &__item
    display: block
    text-decoration: none
    outline: none
    position: relative
    padding: 30px 15px 15px 27px
    height: 204px
    border-radius: 8.0px
    overflow: hidden
    z-index: 1
    transition: 0.5s
    &:hover
      transform: translateY(-10px)
      box-shadow: 0 5px 20px rgba(#000, 0.3)
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    img
      display: block
      height: 100%
  &__title
    position: relative
    display: inline-block
    font-size: 18px
    line-height: 1.2
    font-weight: 600
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: -5px
      width: 100%
      height: 2px

  &--landing
    .collections__cont
      padding-bottom: 52px
    .collections__list
      .collections__wrap
        &:nth-of-type(n + 8)
          width: calc((100% - 60px) / 3)
          .collections__item
            height: 204px
        &:nth-of-type(3n + 10)
          margin-right: 0
        &:nth-of-type(2)
          .collections__item
            display: flex
            flex-direction: column
            align-items: flex-start
            padding-bottom: 34px
            .collections__title
              margin-top: auto
        &:last-of-type
          .collections__title
            color: #ffffff

        &:nth-of-type(13n + 1)
          .collections__title::after
            background-color: #fd3940
        &:nth-of-type(13n + 2)
          .collections__title::after
            background-color: #9b6bc5
        &:nth-of-type(13n + 3)
          .collections__title::after
            background-color: #af9938
        &:nth-of-type(13n + 4)
          .collections__title::after
            background-color: #d941bb
        &:nth-of-type(13n + 5)
          .collections__title::after
            background-color: #bf9e24
        &:nth-of-type(13n + 6)
          .collections__title::after
            background-color: #f13027
        &:nth-of-type(13n + 7)
          .collections__title::after
            background-color: #c8912d
        &:nth-of-type(13n + 8)
          .collections__title::after
            background-color: #e13b3f
        &:nth-of-type(13n + 9)
          .collections__title::after
            background-color: #f491b0
        &:nth-of-type(13n + 10)
          .collections__title::after
            background-color: #57a4e0
        &:nth-of-type(13n + 11)
          .collections__title::after
            background-color: #18b5f6
        &:nth-of-type(13n + 12)
          .collections__title::after
            background-color: #0083ba
        &:nth-of-type(13n)
          .collections__title::after
            background-color: #e323c5


  @media screen and (max-width: 1400px)
    &__item
      height: 154px
    &__wrap:nth-of-type(n + 4) .collections__item
      height: 154px
    &__cont
      padding-bottom: 10px

  // max-width 1400px

  @media screen and (max-width: 991px)
    &__wrap
      padding-bottom: 20px
      width: calc((100% - 45px) / 3)
      margin-right: 15px
      &:nth-of-type(3)
        margin-right: 0
      &:nth-of-type(n + 4)
        width: calc((100% - 60px) / 4)
        margin-right: 15px
      &:nth-of-type(7)
        margin-right: 0
    &__cont
      padding: 37px 0 10px
    &__item
      padding: 15px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__title
      font-size: 16px
    &__wrap
      padding-bottom: 20px
      width: calc((100% - 15px) / 2)
      margin-right: 15px
      &:nth-of-type(3)
        margin-right: 15px
      &:nth-of-type(n + 4)
        width: calc((100% - 15px) / 2)
        margin-right: 15px
      &:nth-of-type(2n)
        margin-right: 0
      &:nth-of-type(7)
        width: 100%
        max-width: 400px
        margin-right: auto
        margin-left: auto
        .collections__img
          top: 0
    &__img
      top: 30px
    &--landing
      .collections__list
        .collections__wrap
          width: calc((100% - 20px) / 3) !important
          margin-right: 10px !important
          &:nth-of-type(3n)
            margin-right: 0 !important
          .collections__item
            height: 180px !important
          .collections__img
            top: 0

  // max-width 767px

  @media screen and (max-width: 650px)
    &__cont
      &-top
        .btn__wrap
          flex-shrink: 0
          .btn
            padding-left: 11px
            padding-right: 9px
            font-size: 12px

  // max-width 650px

  @media screen and (max-width: 575px)
    &__wrap
      &:nth-of-type(7)
        .collections__img
          top: -50px
          height: calc(100% + 50px)
    &--landing
      .collections__cont
        padding-bottom: 32px
      .collections__list
        .collections__wrap
          width: calc((100% - 10px) / 2) !important
          margin-right: 10px !important
          &:nth-of-type(3n)
            margin-right: 10px !important
          &:nth-of-type(2n)
            margin-right: 0 !important
          &:last-of-type
            width: 100% !important
            margin-right: 0 !important
      .collections__title
        font-size: 14px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__cont
      padding-top: 20px
    &__wrap
      padding-bottom: 10px
      width: calc((100% - 10px) / 2)
      margin-right: 10px
      &:nth-of-type(3)
        margin-right: 10px
      &:nth-of-type(n + 4)
        width: calc((100% - 10px) / 2)
        margin-right: 10px
      &:nth-of-type(2n)
        margin-right: 0
      &:nth-of-type(7)
        width: 100%
        max-width: 400px
        margin-right: auto
        margin-left: auto

  // max-width 500px

/* collections */
