.discount
  position: relative
  &__wrap
    box-shadow: 0px 2px 7px 0px rgba(0,89,169,0.15)
    background-color: #ffffff
    border-radius: 6.0px
    padding: 22px 32px 20px
  &__desc
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 600
  .deliver__discl
    margin-top: 14px
    margin-bottom: 27px
  &__title
    margin-top: 0
    margin-bottom: 15px
    font-size: 24px
    line-height: 1.2
    font-weight: 600
  &__text
    margin-top: 15px
    margin-bottom: 15px
    font-size: 14px
    line-height: 1.714285714285714 /* 24 / 14 */
    font-weight: 600
  &__table
    &-title
      height: 47px
      background-color: #f1f6fc
      border: 1.0px solid #cccccc
      border-top-left-radius: 8.0px
      border-top-right-radius: 8.0px
      text-align: center
      display: flex
      align-items: center
      justify-content: center
      font-size: 18px
      line-height: 1.333333333333333
      font-weight: 600
    table
      width: 100%
      border-collapse: collapse
      border: 1px solid #cccccc
      td
        vertical-align: middle
        text-align: center
        font-size: 14px
        height: 48px
        padding-left: 4px
        padding-right: 4px
        border: 1px solid #cccccc
        &:first-of-type
          font-size: 15px
          line-height: 1.6
          font-weight: 600
          text-align: left
          white-space: nowrap
          padding-left: 9px
          padding-right: 9px
          div
            padding-left: 9px
            padding-right: 9px
            width: calc(100% + 18px)
            margin-left: -9px

        div
          display: flex
          flex-direction: column
          justify-content: center
          background-color: #f7d8de
          height: 100%
          width: calc(100% + 8px)
          margin-left: -4px
          padding-left: 4px
          padding-right: 4px
  &__add
    background-color: #f1f6fc
    padding: 15px 54px 20px
    display: flex
    margin-top: 17px
    margin-bottom: 16px
    &-col
      width: 45.97938144329897%
      padding-right: 30px
      &:last-of-type
        width: 53.60824742268041%
        padding-right: 0
      h3
        margin-top: 0
        margin-bottom: 17px
        font-size: 24px
        line-height: 1.2
        font-weight: 600
      ul
        margin: 0
        padding: 0
        list-style: none
        & > li
          margin-bottom: 5px
          font-size: 14px
          font-weight: 600
  &__bottom
    font-weight: 600
    text-transform: uppercase


  @media screen and (max-width: 1170px)
    &__table
      table
        td
          font-size: 13px
          &:first-of-type
            font-size: 14px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__wrap
      padding: 22px 15px 20px
    &__table
      table
        td
          font-size: 12px
          &:first-of-type
            font-size: 13px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__table
      &-wrap
        max-width: 100%
        overflow: auto
    &__add
      padding: 15px 15px 20px
      &-col
        h3
          font-size: 21px
        ul
          li
            font-size: 13px
    &__bottom
      font-size: 14px

  // max-width 991px

  @media screen and (max-width: 650px)
    &__add
      &-col
        padding-right: 10px
        h3
          font-size: 18px
        ul
          li
            margin-bottom: 3px
            font-size: 12px
    &__text
      font-size: 13px
    &__bottom
      font-size: 13px
    &__title
      font-size: 22px

  // max-width 650px

  @media screen and (max-width: 500px)
    &__add
      flex-direction: column
      &-col
        width: 100%
        margin-bottom: 30px
        &:last-of-type
          width: 100%
          margin-bottom: 0
    &__title
      font-size: 20px
    &__table
      &-title
        font-size: 16px
    &__desc
      font-size: 16px

  // max-width 500px

/* discount */
