.prod
  position: relative
  background: #fdf2f7 url('../img/prod-bg.jpg') no-repeat center center
  background-size: cover
  &__cont
    position: relative
    padding-top: 37px
    padding-bottom: 85px
    z-index: 1
    &-top
      display: flex
      justify-content: space-between
      align-items: center
  &:not(.prod--collections)
    .prod__cont
      z-index: 10

  &__tabs
    margin: 0
    padding: 0
    list-style: none

  &__wrap
    position: relative
    margin-top: 29px
  &__slider
    overflow: hidden
    padding-top: 5px
    &-btns
      .swiper-dots
        display: none
  &__item
    display: flex
    flex-direction: column
    height: 100%
    position: relative
    background-color: #ffffff
    border: 1.0px solid #dce0e5
    border-radius: 8.0px
    transition: 0.5s
    &:hover
      transform: translateY(-5px)
  &__top
    position: absolute
    top: 0
    left: 0
    width: 100%
    display: flex
    align-items: flex-start
  &__label
    padding: 9px 7px 9px 10px
    font-size: 12px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #ffffff
    &--action
      background-color: $accent
    &--new
      background-color: #92d32b
    &--hit
      background-color: #f26998
  &__btns
    margin-left: auto
    padding-top: 17px
    padding-right: 13px
  &__btn
    background: none
    border: none
    outline: none
    display: block
    width: 29px
    height: 26px
    padding: 5px
    background-color: rgba(#fff, 0.8)
    border-radius: 6px
    cursor: pointer
    &:hover
      .icon
        fill: #f26998
    .icon
      fill: #000
      transition: 0.3s
  &__img
    display: block
    text-decoration: none
    outline: none
    padding: 10px 15px
    height: 212px
    img
      display: block
      height: 100%

  &__main
    flex-grow: 1
    display: flex
    flex-direction: column
    padding: 0px 15px 15px
  &__bottom
    margin-top: auto
  &__link
    margin-top: 15px
    font-size: 14px
    line-height: 1.2
    font-weight: 600
    text-decoration: underline
    color: #666666
    text-align: center
    transition: 0.3s
    &:hover
      color: $accent2
  &__title
    min-height: 44px
    margin-bottom: 8px
    font-size: 16px
    line-height: 1.375 /* 22 / 16 */
    font-weight: 600
  &__desc
    margin-bottom: 10px
    font-size: 14px
    line-height: 1.2
  &__article
    display: inline-block
    margin-bottom: 18px
    background-color: #f1f6fc
    padding: 2px 6px
    font-size: 14px
    line-height: 1.2
    strong
      font-weight: 600
  &__table
    margin-bottom: 13px
    &-row
      position: relative
      display: flex
      justify-content: space-between
      overflow: hidden
      z-index: 1
    &-th
      position: relative
      background: #fff
      padding-top: 3px
      font-size: 14px
      &::after
        content: '................................................................................................................................................................................................................................................................................................................'
        position: absolute
        bottom: 0
        left: 5px
        width: 95%
        z-index: -1
    &-td
      position: relative
      font-size: 16px
      font-weight: 700
      background: #fff

  &__bottom
    display: flex
    justify-content: space-between
    .btn__wrap
      margin-left: 7px

  &--collections
    background: none

    .prod__cont
      &::after
        content: ''
        position: absolute
        bottom: 0
        right: -317px

        display: block
        width: 392px
        height: 1119px
        opacity: 0.4
        background: transparent url('../img/many-balloons.png') no-repeat center center
        background-size: contain
        z-index: -1

  &__collections
    margin: 0
    padding: 0
    list-style: none
    display: flex
    margin-bottom: 17px
    padding-bottom: 10px
    overflow-x: auto
    & > li
      display: block
      margin-right: 8px
      &:last-of-type
        margin-right: 0
      & > a
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        text-decoration: none
        outline: none
        box-shadow: 0px 6px 7px 0px rgba(0,89,169,0.15)
        height: 57px
        background-color: #ffffff
        border: 1.0px solid #dce0e5
        border-radius: 6.0px
        padding: 5px 11px

        font-size: 14px
        line-height: 1.2
        font-weight: 600
        color: #0059a9
        transition: 0.3s
      &.current
        & > a
          box-shadow: 0px 6px 7px 0px rgba(0,89,169,0)
          background-color: $accent
          color: #fff
      &:not(.current)
        & > a
          &:hover
            background-color: $accent2
            color: #fff

  &--hits
    .prod__cont
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: -317px

        display: block
        width: 392px
        height: 1119px
        opacity: 0.4
        background: transparent url('../img/many-balloons.png') no-repeat center center
        background-size: contain
        z-index: -1

  &--catalog
    padding-top: 20px
    padding-bottom: 29px
    background: none
    .prod__page-main
      padding-left: 0
      padding-right: 0
    .prod__cont
      padding-bottom: 0
      padding-top: 6px
    .prod__wrap
      margin-top: 0

  &--similar
    background: none
    .prod__cont
      padding-bottom: 35px
    .prod__more
      max-width: 794px
      margin-left: auto
      margin-right: auto

  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      padding-bottom: 29px
      &:nth-of-type(3n)
        margin-right: 0
  &__df
    display: flex
    align-items: flex-start
  &__more
    padding-top: 32px
  &__filter
    position: relative
    z-index: 100
    display: flex
    align-items: center
    flex-wrap: wrap
    padding-top: 20px
    &-item
      margin-right: 14px
      margin-bottom: 14px
      &--checkbox
        font-size: 14px
        line-height: 1.2
        font-weight: 600
        margin-left: 34px
        label
          display: flex
          align-items: center
          cursor: pointer
          transition: 0.3s
          &:hover
            color: $accent2
        input
          display: none

        input:checked + span
          &::before
            opacity: 1
      &--submit
        margin-left: 62px
    &-text
      font-size: 14px
      line-height: 1.2
      font-weight: 600
    &-icon
      position: relative
      display: block
      width: 22px
      height: 22px
      margin-right: 15px
      border: 1.0px solid #dce0e5
      border-radius: 3.0px
      &::before
        content: ''
        position: absolute
        top: calc(50% - 5px)
        left: calc(50% - 5px)

        display: block
        width: 11px
        height: 9px
        background: transparent url('../img/svg/tick.svg') no-repeat center center
        background-size: contain
        transition: 0.3s
        opacity: 0


  @media screen and (max-width: 1270px)
    .swiper-btns .swiper-button-next,
    .swiper-btns .swiper-button-prev
      display: none
    &__slider
      &-btns
        .swiper-dots
          display: flex
          margin-top: 30px

  // max-width 1270px

  @media screen and (max-width: 1200px)
    &__filter
      &-item
        &--checkbox
          margin-left: 0
        &--submit
          margin-left: 0
      &-icon
        margin-right: 5px
      &-text
        font-size: 13px

    &__list
      & > li
        .prod__bottom
          flex-direction: column
          align-items: center
        .prod__quant
          width: 100%
          .quantity
            max-width: 100%
          .quantity-arrow
            width: 33.3%
          .quantity-num
            width: 33.3%
        .btn__wrap
          margin-top: 25px

  // max-width 1200px

  @media screen and (max-width: 1070px)
    &__cont
      padding-bottom: 45px
    &__list
      & > li
        width: calc((100% - 20px) / 3)
        margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 0

  // max-width 1070px

  @media screen and (max-width: 800px)
    &__img
      height: 162px

  // max-width 800px

  @media screen and (max-width: 700px)
    &__list
      & > li
        width: calc((100% - 10px) / 2)
        &:nth-of-type(3n)
          margin-right: 10px
        &:nth-of-type(2n)
          margin-right: 0

  // max-width 700px

  @media screen and (max-width: 550px)
    &__bottom
      flex-direction: column
      align-items: center
      .btn__wrap
        margin-left: 0
    &__quant
      margin-bottom: 25px
    &__title
      min-height: 40px
      font-size: 14px
    &__desc
      font-size: 12px
    &__filter
      &-item
        margin-right: 5px
        margin-bottom: 8px
        &--checkbox
          margin-right: 10px
          margin-left: 10px

  // max-width 550px

  @media screen and (max-width: 470px)
    &__quant
      width: 100%
      .quantity
        max-width: 100%
        &-arrow
          width: 33.3%
        &-num
          width: 33.3%
    &__bottom
      .btn__wrap
        .btn
          min-width: 200px
    &__list
      & > li
        width: 100%
        margin-right: 0
        padding-bottom: 15px
        &:nth-of-type(3n)
          margin-right: 0
        .btn__wrap
          margin-top: 0

  // max-width 470px

  @media screen and (max-width: 430px)
    &__filter
      &-item
        width: calc(50% - 5px)
        margin-right: 10px
        &:nth-of-type(2n)
          margin-right: 0
        .nice-select
          width: 100%
        &--checkbox
          margin-left: 0

  // max-width 430px

/* prod */
