.insta
  position: relative
  padding-top: 76px
  padding-bottom: 64px
  &__df
    display: flex
  &__info
    flex-shrink: 0
    margin-right: 40px
    max-width: 385px
  &__hash
    position: relative
    display: block
    text-decoration: none
    outline: none
    padding-left: 53px
    font-size: 24px
    line-height: 1.2
    font-weight: 600
    transition: 0.3s
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      display: block
      width: 37px
      height: 37px
      background: transparent url('../img/svg/insta.svg') no-repeat center center
      background-size: contain
    &:hover
      color: $accent2
  &__slider
    overflow: hidden
    &-wrap
      flex-grow: 1
  &__item
    display: block
    text-decoration: none
    outline: none
    height: 135px
    background-color: #de2967
    overflow: hidden
    img
      display: block
      height: 100%
      transition: 0.3s
    &:hover
      img
        transform: scale(1.1)
        transition: 1.5s
  &__slide
    width: 17.46442432082794%
    margin-right: 24px
    &:last-of-type
      margin-right: 0
    &--big
      width: 37.90426908150065%
      .insta__item
        height: 293px
    &--two
      .insta__item
        margin-bottom: 24px
        &:last-of-type
          margin-bottom: 0


  @media screen and (max-width: 1070px)
    padding-top: 56px
    padding-bottom: 54px
    &__slide
      width: 19.464424%
      margin-right: 10px
      &--big
        width: 37.90426908150065%

  // max-width 1070px

  @media screen and (max-width: 991px)
    padding-top: 40px
    &__df
      flex-direction: column
    &__info
      max-width: 100%
      margin-right: 0
      .title
        margin-bottom: 24px
        br
          display: none
    &__slider
      &-wrap
        margin-top: 30px

  // max-width 991px

  @media screen and (max-width: 650px)
    &__item
      height: 105px
    &__slide
      &--two
        .insta__item
          margin-bottom: 10px
      &--big
        .insta__item
          height: 220px

  // max-width 650px

/* insta */
