.landing-more
  position: relative
  padding-top: 49px
  padding-bottom: 60px
  .title--second
    margin-bottom: 34px
  &__df
    display: flex
    justify-content: space-between
  &__pay
    display: flex
    flex-direction: column
    width: calc((100% - 35px) / 2)
  &__deliver
    width: calc((100% - 35px) / 2)
    .landing-more__blue
      & > ul
        & > li
          margin-bottom: 18px
          line-height: 1.2
          &:last-of-type
            margin-bottom: 0
  &__desc
    background-color: #f7d8de
    padding: 16px 20px 14px 34px
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 600
    color: #000000
  &__blue
    flex-grow: 1
    background-color: #f1f6fc
    margin-bottom: 18px
    padding: 28px 20px 20px 42px
    &:last-of-type
      margin-bottom: 0
    & > ul
      margin: 0
      padding: 0
      list-style: none
      & > li
        position: relative
        margin-bottom: 22px
        font-weight: 600
        color: #000000
        &::before
          content: ''
          position: absolute
          top: 8px
          left: -20px
          display: block
          width: 5px
          height: 5px
          background-color: #0059a9
          border-radius: 50%
        &:last-of-type
          margin-bottom: 0
        a
          outline: none
          color: #357bd1
          transition: 0.3s
          &:hover
            color: $accent
    .prod-item__delivery
      background: none
      width: 100%
      margin-top: 18px
      margin-left: 0
      padding-left: 0
      ul
        justify-content: flex-start
        padding-left: 0
        li
          &:nth-of-type(2n)
            margin-right: 6px


  @media screen and (max-width: 1070px)
    padding-top: 39px
    padding-bottom: 40px
    .title--second
      margin-bottom: 24px
    &__blue > ul > li
      margin-bottom: 12px
      font-size: 14px
    &__desc
      font-size: 15px
      br
        display: none
    &__pay
      width: calc((100% - 15px) / 2)
    &__deliver
      width: calc((100% - 15px) / 2)

  // max-width 1070px

  @media screen and (max-width: 850px)
    .title--second
      font-size: 26px

  // max-width 850px

  @media screen and (max-width: 767px)
    padding-top: 29px
    padding-bottom: 30px
    &__df
      flex-direction: column
    &__pay
      width: 100%
      margin-bottom: 30px
    &__deliver
      width: 100%
    .contacts__wrap
      padding-top: 24px

  // max-width 767px

/* landing-more
