@keyframes animateBubbleFeat
  0%
    margin-top: 0
  100%
    margin-top: -110%

@keyframes sideWaysFeat
  0%
    transform: translateX(0)
  100%
    transform: translateX(15px)

.scr1
  position: relative
  padding-top: 29px
  padding-bottom: 34px
  &__df
    display: flex
  &__left
    width: calc(100% - 638px)
    margin-right: 31px
  &__slider
    overflow: hidden
    padding: 15px
    width: calc(100% + 30px)
    margin: -15px
    &-item
      display: block
      text-decoration: none
      outline: none
      height: 529px
      transition: 0.7s
      &:hover
        box-shadow: 0 5px 20px rgba($accent, 0.7)
      img
        display: block
  &__feat
    width: 607px
    max-width: 100%
    margin: 0
    padding: 0
    list-style: none
    & > li
      padding-bottom: 40px
      &:nth-of-type(3n + 1)
        .scr1__feat-item
          background-color: #ffecc1
        .scr1__feat-bubbles
          span
            background-color: #ffecc1
      &:nth-of-type(3n + 2)
        .scr1__feat-item
          background-color: #fedbd7
          padding-right: 200px
        .scr1__feat-bubbles
          span
            top: 113px
            right: 145px
            background-color: #fedbd7
            &:nth-of-type(2)
              top: 8px
              right: 159px
            &:nth-of-type(3)
              top: -11px
              right: 184px
            &:nth-of-type(4)
              top: auto
              bottom: -20px
              right: 177px
            &:nth-of-type(5)
              top: 24px
              right: 156px
            &:nth-of-type(6)
              top: 110%
              right: 70px
      &:nth-of-type(3n)
        .scr1__feat-item
          background-color: #b3deff
          padding-right: 200px
        .scr1__feat-bubbles
          span
            top: 110px
            right: 145px
            background-color: #b3deff
            &:nth-of-type(2)
              top: 5px
              right: 159px
            &:nth-of-type(3)
              top: -19px
              right: 184px
            &:nth-of-type(4)
              top: auto
              bottom: -17px
              right: 177px
            &:nth-of-type(5)
              top: 21px
              right: 156px
            &:nth-of-type(6)
              top: 110%
              right: 70px
      &:last-of-type
        padding-bottom: 0

    &-item
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      min-height: 150px
      padding: 10px 238px 10px 43px
      background-color: #ffecc1
      transition: 0.7s
      overflow: hidden
      &:hover
        transform: translateY(-7px)
        box-shadow: 0 5px 15px rgba($accent, 0.7)
        .scr1__feat-bubbles
          span
            &:nth-of-type(1)
              animation: animateBubbleFeat 35s linear forwards, sideWaysFeat 2s ease-in-out infinite alternate
            &:nth-of-type(2)
              animation: animateBubbleFeat 15s linear forwards, sideWaysFeat 4s ease-in-out infinite alternate
            &:nth-of-type(6)
              animation: animateBubbleFeat 25s linear forwards, sideWaysFeat 4s ease-in-out infinite alternate
    &-img
      position: absolute
      top: 0
      right: 0
      width: 100%
      max-width: 231px
      height: 100%
      margin-left: auto
    &-text
      position: relative
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
      color: $accent2
      z-index: 2
      strong
        font-family: $font2
        text-transform: uppercase
        font-size: 20px
      a
        display: inline-block
        outline: none
        margin-top: 14px
        font-family: $font
        font-size: 14px
        color: $accent2
        &:hover
          text-decoration: none
    &-bubbles
      span
        position: absolute
        top: 116px
        right: 177px
        display: block
        width: 25px
        height: 25px
        border-radius: 50%
        z-index: 1
        transition: 0.5s
        &:nth-of-type(2)
          top: 10px
          right: 189px
          width: 17px
          height: 17px
        &:nth-of-type(3)
          top: -8px
          right: 216px
          width: 68px
          height: 68px
        &:nth-of-type(4)
          top: auto
          bottom: -21px
          right: 209px
          width: 85px
          height: 85px
        &:nth-of-type(5)
          top: 27px
          right: 188px
          width: 92px
          height: 92px
        &:nth-of-type(6)
          top: 110%
          right: 70px
          width: 50px
          height: 50px


  @media screen and (max-width: 1400px)
    padding-top: 19px
    &__feat
      width: 457px
      & > li
        padding-bottom: 17px
      &-item
        min-height: 136px
        padding: 10px 110px 10px 18px !important
      &-text
        font-size: 14px
        strong
          font-size: 16px
      &-bubbles
        span
          top: 105px !important
          right: 131px !important
          &:nth-of-type(2)
            top: 10px !important
            right: 144px !important
          &:nth-of-type(3)
            top: -7px !important
            right: 166px !important
            width: 62px
            height: 62px
          &:nth-of-type(4)
            top: auto !important
            bottom: -20px !important
            right: 160px !important
            width: 77px
            height: 77px
          &:nth-of-type(5)
            top: 25px !important
            right: 141px !important
            width: 84px
            height: 84px
          &:nth-of-type(6)
            top: 110% !important
            right: 70px !important
      &-img
        max-width: 191px
    &__left
      width: calc(100% - 477px)
      margin-right: 20px
    &__slider
      &-item
        height: 442px

  // max-width 1400px

  @media screen and (max-width: 900px)
    &__df
      flex-direction: column
    &__left
      width: 100%
      margin-bottom: 18px
      margin-right: 0
    &__feat
      width: 100%
    &__slider
      overflow: none
      &-btns
        .swiper-dots
          display: none
      &-item
        height: auto
        border-radius: 6px
        overflow: hidden

  // max-width 900px

  @media screen and (max-width: 500px)
    padding-top: 0
    padding-bottom: 17px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__feat
      &-item
        padding: 10px 50px 10px 18px !important
      &-bubbles
        span
          right: 71px !important
          &:nth-of-type(2)
            right: 84px !important
          &:nth-of-type(3)
            right: 106px !important
          &:nth-of-type(4)
            right: 100px !important
          &:nth-of-type(5)
            right: 81px !important
          &:nth-of-type(6)
            right: 40px !important
      &-img
        max-width: 141px

  // max-width 400px

/* scr1 */
