.categories
  position: relative
  padding-top: 35px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: grid
    grid-gap: 25px
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(2, 1fr)
    & > li
      &:first-of-type
        grid-row-start: 1
        grid-row-end: 3
      &:nth-of-type(2),
      &:nth-of-type(3)
        grid-column-start: 2
        grid-column-end: 4
        .categories__item
          height: 185px
      &:nth-of-type(2)
        grid-row-start: 1
        grid-row-end: 2
      &:nth-of-type(3)
        grid-row-start: 2
        grid-row-end: 3

  &__item
    position: relative
    display: block
    height: 393px
    text-decoration: none
    outline: none
    z-index: 1
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    img
      display: block
      height: 100%
  &__title
    margin-top: 0
    margin-bottom: 0
    font-size: 30px
    line-height: 1.2
    font-weight: 400
    text-transform: uppercase
    color: $accent2


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* categories */
