.brands
  position: relative
  padding-top: 54px
  padding-bottom: 68px
  z-index: 1
  &::before,
  &::after
    content: ''
    position: absolute
    left: 698px
    bottom: -63px
    display: block
    width: 90px
    height: 90px
    background-color: #f7f7f7
    border-radius: 50%
    z-index: -1
  &::after
    left: 880px
    bottom: 20px
    width: 35px
    height: 35px

  .page-title
    text-align: center
  &__slider
    overflow: hidden
    padding: 15px
    margin: -15px
    &-btns
      position: relative
      .swiper-dots
        position: absolute
        bottom: -30px
        width: 100%
  &__item
    display: flex
    align-items: center
    justify-content: center
    width: 151px
    height: 151px
    padding: 15px
    transition: 0.7s
    &:hover
      transform: translateY(-7px)
      box-shadow: 0 5px 25px rgba($accent, 0.3)
    img
      display: block
      height: 100%


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* brands */
