.blog
  position: relative
  &__wrap
    position: relative
    padding-top: 58px
    padding-bottom: 104px
    z-index: 1
    &::before,
    &::after
      content: ''
      position: absolute
      display: block
      background-color: #f7f7f7
      border-radius: 50%
      z-index: -1
    &::before
      left: 262px
      top: -55px
      width: 90px
      height: 90px
    &::after
      left: 420px
      top: 38px
      width: 35px
      height: 35px

  .page-title
    text-align: center
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    & > li
      width: calc((100% - 44px * 3) / 4)
      margin-right: 44px
      &:nth-of-type(4n)
        margin-right: 0
  &--main .blog__list > li:first-of-type
    .blog__img
      height: 100%
    .blog__content
      position: absolute
      top: 0
      left: 0
      justify-content: space-between
      width: 100%
      height: 100%
      padding: 24px 26px
      h2,h3
        padding: 5px 14px 14px
        background-color: #fbf2ed
  &--main .blog__list > li:nth-of-type(2),
  &--main .blog__list > li:nth-of-type(3),
  &--page .blog__list > li:nth-of-type(8n + 6),
  &--page .blog__list > li:nth-of-type(8n + 3),
  &--page .blog__list > li:nth-of-type(8n + 1),
  &--page .blog__list > li:nth-of-type(8n)
    .blog__content
      padding-top: 24px
      padding-right: 15px
      time
        margin-bottom: 19px
        background-color: #fbf2ed
      h2,h3
        margin-bottom: 22px
  &--main .blog__list > li:nth-of-type(4),
  &--page .blog__list > li:nth-of-type(8n + 2),
  &--page .blog__list > li:nth-of-type(8n + 4),
  &--page .blog__list > li:nth-of-type(8n + 5),
  &--page .blog__list > li:nth-of-type(8n + 7)
    .blog__img
      display: none
    .blog__content
      height: 100%
      padding: 25px 36px 20px 31px
      background-color: #fbf2ed
      time
        margin-bottom: 38px
      h2,h3
        margin-bottom: 42px
  &__item
    position: relative
    display: block
    text-decoration: none
    outline: none
    height: 100%
    min-height: 450px
    transition: 0.7s
    &:hover
      transform: translateY(-12px)

  &__img
    overflow: hidden
    height: 250px
    img
      display: block
      height: 100%
      transition: 0.3s
  &__content
    display: flex
    flex-direction: column
    align-items: flex-start
    time
      display: flex
      align-items: center
      justify-content: center
      height: 40px
      padding: 5px 11px
      background-color: #ffffff
      font-size: 14px
      font-weight: 600
      color: #999999
      text-align: center
    h2,h3
      margin-top: 0
      margin-bottom: 0
      font-family: $font2
      font-size: 20px
      line-height: 1.4 /* 28 / 20 */
      font-weight: 400
      text-transform: uppercase
      color: $accent2
      transition: 0.3s
  &__text
    font-size: 14px
    line-height: 1.714285714285714 /* 24 / 14 */

  &--page
    .blog__wrap
      padding-top: 37px
      padding-bottom: 48px
      &::before,
      &::after
        content: none
    .blog__list
      flex-wrap: wrap
      & > li
        padding-bottom: 56px

  &__title
    margin-top: 0
    margin-bottom: 23px
    padding-bottom: 18px
    font-family: $font
    font-size: 18px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #666666
    border-bottom: 1px solid $accent2

  &--recent
    .blog__wrap
      padding-top: 0
      padding-bottom: 0
      &::before,
      &::after
        content: none
    .blog__list
      display: block
      & > li
        width: 100%
        margin-right: 0
        padding-bottom: 30px
        &:last-of-type
          padding-bottom: 0
    .blog__item
      display: flex
      min-height: 0
    .blog__img
      flex-shrink: 0
      width: 165px
      height: 113px
      margin-right: 28px
    .blog__content
      max-width: 230px
      time
        padding: 0
        font-weight: 400
    .blog__text
      line-height: 1.5


  @media screen and (max-width: 1500px)
    &__list
      & > li
        width: calc((100% - 15px * 3) / 4)
        margin-right: 15px

  // max-width 1500px

  @media screen and (max-width: 1400px)
    &__wrap
      padding-top: 48px
      padding-bottom: 54px
    &__content
      h2,h3
        font-size: 18px
        br
          display: none
    &--main .blog__list > li:nth-of-type(4)
      .blog__content
        h2,h3
          margin-bottom: 32px
        time
          margin-bottom: 18px

  // max-width 1400px

  @media screen and (max-width: 1270px)
    &__content
      h2,h3
        font-size: 16px
    &--main .blog__list > li:nth-of-type(4)
      .blog__content
        padding: 25px 26px 20px 21px
        h2,h3
          margin-bottom: 28px
    &--main .blog__list > li:first-of-type
      .blog__content
        padding: 24px 16px

  // max-width 1270px

  @media screen and (max-width: 1070px)
    &--main
      display: none
    &--page
      .blog__list
        & > li
          width: calc((100% - 10px * 2) / 3)
          margin-right: 10px
          padding-bottom: 26px
          &:nth-of-type(4n)
            margin-right: 10px
          &:nth-of-type(3n)
            margin-right: 0
    &--page .blog__list > li:nth-of-type(8n + 2),
    &--page .blog__list > li:nth-of-type(8n + 4),
    &--page .blog__list > li:nth-of-type(8n + 5),
    &--page .blog__list > li:nth-of-type(8n + 7)
      .blog__content
        padding: 25px 15px 20px
        time
          margin-bottom: 18px
        h2,h3
          margin-bottom: 22px
    &__img
      height: 180px
    &__item
      min-height: 0

  // max-width 1070px

  @media screen and (max-width: 991px)
    &--recent
      .blog__list
        display: flex
        flex-wrap: wrap
        & > li
          width: calc((100% - 10px) / 2)
          margin-right: 10px
          &:nth-of-type(2n)
            margin-right: 0

  // max-width 991px

  @media screen and (max-width: 900px)
    &--page
      .blog__list
        & > li
          width: calc((100% - 10px) / 2)
          margin-right: 10px
          &:nth-of-type(3n)
            margin-right: 10px
          &:nth-of-type(2n)
            margin-right: 0

  // max-width 900px

  @media screen and (max-width: 575px)
    &--page
      .blog__list
        & > li
          width: 100%
          margin-right: 0
          &:nth-of-type(3n)
            margin-right: 0
    &--recent
      .blog__list
        & > li
          width: 100%
          margin-right: 0

  // max-width 575px

/* blog */
