.post
  position: relative
  padding-bottom: 43px
  &__df
    position: relative
    display: flex
  &__wrap
    flex-grow: 1
    max-width: 750px
    margin-left: auto
    time
      display: block
      margin-bottom: 14px
      font-size: 14px
      color: #666666
  &__img
    height: 399px
    margin-bottom: 19px
    img
      display: block
  &__title
    font-size: 30px
    line-height: 1.2
    font-weight: 400
    text-transform: uppercase
    color: $accent2
  .blog--recent
    flex-shrink: 0
    width: 510px
    max-width: 100%
    margin-left: 30px


  @media screen and (max-width: 1200px)
    .blog--recent
      width: 440px
      margin-left: 15px
    &__img
      height: 309px

  // max-width 1200px

  @media screen and (max-width: 1070px)
    .blog--recent
      width: 390px
      .blog__img
        margin-right: 18px
      .blog__content
        time
          height: auto
          margin-bottom: 10px
    &__title
      font-size: 23px
      br
        display: none

  // max-width 1070px

  @media screen and (max-width: 991px)
    padding-bottom: 0
    &__df
      flex-direction: column
    &__wrap
      margin-right: auto
    .blog--recent
      width: 100%
      margin-left: 0
      margin-top: 60px

  // max-width 991px

  @media screen and (max-width: 700px)
    .blog--recent
      .blog__img
        width: 125px
    &__title
      font-size: 19px

  // max-width 700px

  @media screen and (max-width: 575px)
    padding-bottom: 20px
    .blog--recent
      margin-top: 40px
    &__img
      height: 189px

  // max-width 575px

/* post */
