@keyframes animateBubble
  0%
    margin-top: 110%
  100%
    margin-top: -100%

@keyframes sideWays
  0%
    margin-right: 0
  100%
    margin-right: 25px

.insta
  position: relative
  padding-top: 45px
  padding-bottom: 180px
  overflow: hidden
  z-index: 2
  &__df
    display: flex
  &__left
    flex-grow: 1
    margin-right: 19px
  &__link
    position: relative
    display: block
    text-decoration: none
    outline: none
    text-align: center
    font-size: 24px
    font-weight: 600
    text-transform: uppercase
    color: #666666
    transition: 0.3s
    &::after
      content: ''
      display: block
      width: 194px
      height: 194px
      margin: 26px auto 0
      background: #fff url('../img/svg/insta.svg') no-repeat center center
      background-size: 158px 158px
      box-shadow: 0 7px 15px rgba(#000, 0.3)
      border-radius: 8px
      transition: 0.3s
    &:hover
      color: $accent2
      &::after
        box-shadow: 0 7px 15px rgba($accent2, 0.3)
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    & > li
      width: calc((100% - 52px) / 3)
      margin-right: 26px
      &:last-of-type
        margin-right: 0
  &__item
    display: block
    text-decoration: none
    outline: none
    height: 292px
    transition: 0.7s
    &:hover
      transform: translateY(-7px)
      box-shadow: 0 5px 35px rgba($accent, 0.7)
    img
      display: block
      height: 100%
  &__bubbles
    span
      position: absolute

      width: 185px
      height: 185px
      background: rgba(#ffcfcb, 0.16)
      box-shadow: 0px 15px 16px 0px rgba(253,159,153,0.31)
      border-radius: 50%
      transition: transform 0.5s, background 0.5s 0.2s, box-shadow 0.5s 0.2s
      z-index: -1
      &:hover
        transform: scale(1.5)
        background: rgba(#ffcfcb, 0)
        box-shadow: 0px 15px 16px 0px rgba(253,159,153,0)

      &:nth-of-type(1)
        right: 3.5417%
        top: 55.29225908372828%
        animation: animateBubble 25s linear infinite, sideWays 0s ease-in-out infinite alternate
      &:nth-of-type(2)
        width: 68px
        height: 68px
        right: 5.833333333333333%
        top: 20.37914691943128%
        animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate
      &:nth-of-type(3)
        width: 45px
        height: 45px
        right: 8.28125%
        top: 8.214849921011058%
        animation: animateBubble 40s linear infinite, sideWays 2s ease-in-out infinite alternate
      &:nth-of-type(4)
        width: 110px
        height: 110px
        right: 22.08333333333333%
        top: 60.50552922590837%
        animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
      &:nth-of-type(5)
        width: 185px
        height: 185px
        right: 19.79166666666667%
        top: 10.11058451816746%
        animation: animateBubble 34s linear infinite, sideWays 8s ease-in-out infinite alternate
      &:nth-of-type(6)
        width: 68px
        height: 68px
        right: 37.39583333333333%
        top: 66.9826224328594%
        animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate
      &:nth-of-type(7)
        width: 132px
        height: 132px
        right: 39.0625%
        top: 18.16745655608215%
        animation: animateBubble 70s linear infinite, sideWays 2s ease-in-out infinite alternate
      &:nth-of-type(8)
        width: 45px
        height: 45px
        right: 44.16666666666667%
        top: 74.72353870458136%
        animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
      &:nth-of-type(9)
        width: 45px
        height: 45px
        right: 51.04166666666667%
        top: 15.32385466034755%
        animation: animateBubble 68s linear infinite, sideWays 4s ease-in-out infinite alternate
      &:nth-of-type(10)
        width: 132px
        height: 132px
        right: 53.85416666666667%
        top: 60.34755134281201%
        animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate
      &:nth-of-type(11)
        width: 185px
        height: 185px
        right: 65.98958333333333%
        top: 14.06003159557662%
        animation: animateBubble 30s linear infinite, sideWays 2s ease-in-out infinite alternate
      &:nth-of-type(12)
        width: 68px
        height: 68px
        right: 70.46875%
        top: 65.87677725118483%
        animation: animateBubble 25s linear infinite, sideWays 4s ease-in-out infinite alternate
  .page-title
    margin-bottom: 74px


  @media screen and (max-width: 1400px)
    padding-bottom: 100px

  // max-width 1400px

  @media screen and (max-width: 1250px)
    &__list
      overflow: auto
      & > li
        width: auto
        margin-right: 9px
        &:last-of-type
          margin-right: 0
    &__item
      width: 204px
      height: 205px
    &__link
      font-size: 20px
      &::after
        width: 144px
        height: 144px
        margin-top: 20px
        background-size: 118px 118px

  // max-width 1250px

  @media screen and (max-width: 1070px)
    padding-bottom: 50px
    .page-title
      margin-bottom: 34px

  // max-width 1070px

  @media screen and (max-width: 767px)
    padding-top: 16px
    padding-bottom: 31px
    &__df
      flex-direction: column
    &__left
      margin-right: 0
    &__link
      display: flex
      align-items: center
      justify-content: center
      padding-top: 10px
      padding-bottom: 10px
      font-size: 13px
      &::after
        width: 44px
        height: 44px
        margin-top: 0
        margin-left: 20px
        margin-right: 0
        background-size: 33px 33px
    .page-title
      margin-bottom: 3px
    &__list
      margin-top: 19px

  // max-width 767px

/* insta */
