.prod
  position: relative
  padding-top: 55px
  padding-bottom: 73px
  &__slider
    overflow: hidden
    padding: 15px
    margin: -15px
    .swiper-slide
      height: auto
    &-btns
      position: relative
      .swiper-dots
        position: absolute
        width: 100%
        bottom: -40px
        margin-top: 0
  &__item
    position: relative
    display: flex
    flex-direction: column
    height: 100%
    padding-bottom: 34px
    background-color: #ffffff
    transition: 0.6s
    &:hover
      transform: translateY(-12px)
      box-shadow: 0 5px 25px rgba($accent, 0.5)

  &__top
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: space-between
    width: 100%
    padding: 10px 17px 0 8px
  &__label
    display: flex
    align-items: center
    justify-content: center
    width: 60px
    height: 60px
    margin-right: 10px
    background-color: $accent
    border-radius: 50%
    font-family: $font2
    font-size: 14px
    color: #ffffff
    &--new
      background: #a8dab3
    &--action
      background: #8eccfd
      font-size: 23.8px
  &__like
    background: none
    border: none
    outline: none
    display: flex
    align-items: center
    justify-content: center
    border-radius: 6px
    background-color: #fff
    cursor: pointer
    .icon
      display: block
      width: 24px
      height: 21px
      fill: #666
      transition: 0.3s
    &:hover
      .icon
        fill: $accent
  &__img
    text-decoration: none
    outline: none
    display: flex
    align-items: center
    justify-content: center
    height: 245px
    padding: 13px 35px 20px
  &__content
    flex-grow: 1
    padding: 0 15px 22px 27px
  &__title
    margin-top: 0
    margin-bottom: 19px
    font-family: $font
    font-size: 14px
    line-height: 1.2
    font-weight: 600
    color: $accent2
    text-transform: uppercase
  &__desc
    margin-bottom: 20px
    font-size: 14px
    color: #999999
  &__more
    font-weight: 600
    text-transform: uppercase
    color: #666666
  &__prices
    display: flex
    align-items: center
    padding: 0 15px 19px 28px
  &__price
    &--new
      display: block
      margin-right: 40px
      font-size: 24px
      font-weight: 600
      color: $accent2
    &--old
      display: block
      text-decoration: line-through
      font-size: 14px
      font-weight: 600
      color: #666666
  &__btns
    text-align: center


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* prod */
