mixin header()
  header.header.wow.fadeInDown(id="header" data-wow-duration="1s" data-wow-delay="0.3s")
    .header__top
      .container
        button.burger#header-burger
          span.burger__wrap
            span.line

        .logo__wrap
          .logo
            img(src="img/svg/logo.svg" alt="лого")
          p.logo__text Официальный дилер
            br
            |  Irobot в Смоленске

        .header__call
          .header__links
            a.btn.btn--circle.mobile(href="tel:89203330124")
              i.fa.fa-phone
            a.header__link.desktop(href="tel:89203330124") 8 (920) 333 01 24
            a.header__link.desktop(href="tel:+74812330124") +7 (4812) 33-01-24

          .header__btns
            .btn__wrap
              a.btn.btn--orange.open-modal(href="#") Заказать звонок

      // /.container
    // /.header__top

    .header__bottom
      .container
        .header__menu
          ul.menu
            li.menu__item
              a.inner-link(href="#scr_features") О iRobot
            li.menu__item
              a.inner-link(href="#scr_card") Работы-пылесосы
            li.menu__item
              a.inner-link(href="#scr_card2") Моющие роботы
            li.menu__item
              a.inner-link(href="#scr_accessory") Аксессуары
            li.menu__item
              a.inner-link(href="#scr_map") Контакты
