mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        .scr1__img
          noscript
            img.lazy(src="img/bg-scr1.png" alt="робот-пылесос" width="1413" height="887")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/bg-scr1.png" alt="робот-пылесос" width="1413" height="887")

        .scr1__content.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.5s")
          h1.scr1__title Экономьте от 5 часов в неделю
            br
            |  на более важные дела
            br
            |  с&nbsp;помощью
            strong  умного помощника

          .scr1__btns
            .btn__wrap
              a.btn.btn--green(href="#") Получить бесплатный тест-драйв

        .advantages
          ul.advantages__list
            li.advantages__item.wow.fadeInRightBig(data-wow-duration="1s" data-wow-delay="0.5s")
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-1")
              p.advantages__text Площадь помещения для
                br
                |  уборки от 10 до 300 кв.м

            li.advantages__item.wow.fadeInRightBig(data-wow-duration="1s" data-wow-delay="0.7s")
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-2")
              p.advantages__text Роботы и для влажной,
                br
                |  и для сухой уборки

            li.advantages__item.wow.fadeInRightBig(data-wow-duration="1s" data-wow-delay="0.9s")
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-3")
              p.advantages__text Бесшумная и автономная
                br
                |  работа роботов


  // /.scr1
