mixin scr_add()
  section.scr_add.add(id="scr_add")
    .container
      ul.add__list
        li.add__item
          .add__icon
            img(src="img/svg/icons/icon-add-1.svg" alt="иконка")
          p.add__text Официальная
            br
            |  гарантия 1 год

        li.add__item
          .add__icon
            img(src="img/svg/icons/icon-add-2.svg" alt="иконка")
          p.add__text Бесплатная доставка
            br
            |  по Смоленской области

        li.add__item
          .add__icon
            img(src="img/svg/icons/icon-add-3.svg" alt="иконка")
          p.add__text Тест-драйв
            br
            |  на сутки

        li.add__item
          .add__icon
            img(src="img/svg/icons/icon-add-4.svg" alt="иконка")
          p.add__text 1 год бесплатного
            br
            |  обслуживания

        li.add__item
          .add__icon
            img(src="img/svg/icons/icon-add-5.svg" alt="иконка")
          p.add__text Кэш-бэк 5%
            br
            |  от покупки

  // /.scr_add
