mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .container
      h2.title Мы в instagram

      .insta__slider.slider1#insta__slider
        .insta__slides.slider1__slides
          .insta__slide.slider1__slide
            .insta__item
              a.insta__block.insta__img.fancybox(data-fancybox-group="insta" href="img-temp/insta/img-insta-1.jpg")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              a.insta__block.insta__img.fancybox(data-fancybox-group="insta" href="img-temp/insta/img-insta-2.jpg")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .insta__slide.slider1__slide
            .insta__item
              .insta__block.insta__content
                p.insta__text Следите за нами в
                  br
                  a(href="#" rel="nofollow" target="_blank") Instagram
                  br
                  i.fa.fa-instagram

              a.insta__block.insta__img.fancybox(data-fancybox-group="insta" href="img-temp/insta/img-insta-3.jpg")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .insta__slide.slider1__slide
            .insta__item
              .insta__block.insta__content
                p.insta__text Следите за нами в
                  br
                  a(href="https://vk.com/irobots" rel="nofollow" target="_blank") vk.com/irobots
                  br
                  i.fa.fa-vk

              a.insta__block.insta__img.fancybox(data-fancybox-group="insta" href="img-temp/insta/img-insta-4.jpg")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .insta__slide.slider1__slide
            .insta__item
              a.insta__block.insta__img.fancybox(data-fancybox-group="insta" href="img-temp/insta/img-insta-5.jpg")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-5.jpg" alt="" width="125" height="90" data-object-fit-cover)

              a.insta__block.insta__img.fancybox(data-fancybox-group="insta" href="img-temp/insta/img-insta-6.jpg")
                noscript
                  img.lazy(src="img-temp/insta/img-insta-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-insta-6.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .insta__dots.slider1__dots

  // /.scr_insta
