mixin scr_features()
  section.scr_features.features(id="scr_features")
    .container
      .features__slider.slider1#features__slider
        .features__slides.slider1__slides
          .features__slide.slider1__slide.wow.fadeInUp
            .features__item
              .features__icon
                img(src="img/svg/icons/icon-feat-1.svg")
              .features__content
                h3 Высокое качество чистки

                p.features__text Роботы-пылесосы превосходно удаляют самый мелкий мусор и пыль.
                  br
                  |  Вы не будете проводить повторную уборку самостоятельно.

          .features__slide.slider1__slide.wow.fadeInUp
            .features__item
              .features__icon
                img(src="img/svg/icons/icon-feat-2.svg")
              .features__content
                h3 Наличие интеллектуальной системы построения карты помещения Imprint™ Smart Mapping

                p.features__text Благодаря ей робот сохраняет в памяти планы нескольких этажей и названия комнат

          .features__slide.slider1__slide.wow.fadeInUp
            .features__item
              .features__icon
                img(src="img/svg/icons/icon-feat-3.svg")
              .features__content
                h3 Автономная работа

                p.features__text Пылесос работает самостоятельно.
                  br
                  |  Вам не нужно постоянно следить за перемещениями техники.


          .features__slide.slider1__slide.wow.fadeInUp(data-wow-delay="0.2s")
            .features__item
              .features__icon
                img(src="img/svg/icons/icon-feat-4.svg")
              .features__content
                h3 Низкий уровень шума

                p.features__text Пользуясь пылесосом, Вам
                  br
                  |  не придется отказываться
                  br
                  |  от работы или отдыха.


          .features__slide.slider1__slide.wow.fadeInUp(data-wow-delay="0.2s")
            .features__item
              .features__icon
                img(src="img/svg/icons/icon-feat-5.svg")
              .features__content
                h3 Возможности для очистки больших помещений

                p.features__text Роботу можно доверить как крошечную спальню, так и огромную гостиную или террасу.


          .features__slide.slider1__slide.wow.fadeInUp(data-wow-delay="0.2s")
            .features__item
              .features__icon
                img(src="img/svg/icons/icon-feat-6.svg")
              .features__content
                h3 Эффективность

                p.features__text Робот-пылесос способен пробраться
                  br
                  |  даже в самые труднодоступные места
                  br
                  |  (под мебель, например)

        .features__dots.slider1__dots

  // /.scr_features
