mixin scr_card()
  section.scr_card.card(id="scr_card")
    .container
      .card__df.card__df--outer
        aside.card__nav
          ul.card__nav-list
            li.card__nav-item.active
              a(href="#card-tab-0") roomba 676
            li.card__nav-item
              a(href="#card-tab-1") roomba e5
            li.card__nav-item
              a(href="#card-tab-2") roomba 960
            li.card__nav-item
              a(href="#card-tab-3") roomba 981
            li.card__nav-item
              a(href="#card-tab-4") roomba i7
            li.card__nav-item
              a(href="#card-tab-5") roomba i7+
            li.card__nav-item
              a(href="#card-tab-6") roomba s9+

        ul.card__tabs
          li.card__tab#card-tab-0
            .card__top
              .card__heading
                h3.card__title Roomba - робот пылесос
                p.card__desc Чистота, которую вы видите и ощущаете
                  br
                  |  каждый день

              .card__links
                a.card__link(href="#")
                  span.card__links-text Сравнить товары
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

            .card__df.card__df--inner
              .card__left
                a.fancybox.card__img(href="img-temp/img-prod-1.jpg")
                  noscript
                    img.lazy(src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")

                a.card__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .card__video-icon
                  span.card__video-text Смотреть видео

              .card__info
                p.card__title2 iRobot Roomba e5

                .card__table
                  .card__row
                    .card__th Время зарядки:
                    .card__td 3 часа
                  .card__row
                    .card__th Время работы аккумулятора:
                    .card__td 90 минут
                  .card__row
                    .card__th Тип аккумулятора:
                    .card__td Li-ion 1800mAh
                  .card__row
                    .card__th Емкость контейнера:
                    .card__td 0,6 л
                  .card__row
                    .card__th Тип контейнера:
                    .card__td моющийся
                  .card__row
                    .card__th Высота преодолеваемых препятствий:
                    .card__td 2 см
                  .card__row
                    .card__th Вес робота-пылесоса в коробке:
                    .card__td 5,2 кг

                b.card__price Цена:
                  strong  29 500 ₽

                .card__btns
                  .btn__wrap
                    a.btn.btn--orange.open-modal(href="#") Купить

            .card__bottom
              .card__bottom-wrap
                .article
                  h4 Мощная система всасывания
                  p Обеспечивает до 5 раз более мощное всасывание для более эффективного захвата грязи.

                  h4 Интеллектуальная навигация по вашему дому
                  p Комплект умных сенсоров помогает роботу передвигаться под мебелью и вокруг нее, тщательно очищая ваши полы.

                  h4 Технология Dirt Detect™
                  p Робот распознает и тщательно убирает наиболее оживленные места дома, в которых скапливается грязь.

                  h4 Две резиновые щетки для обработки различных поверхностей
                  p Валики-скребки для обработки различных поверхностей с уникальным дизайном тщательно очищают различные напольные покрытия.

                  h4 Трехступенчатая система уборки

                  h4 Очищает ковры и твердые напольные покрытия от мелкой пыли и крупного мусора.

                  h4 Уборка в труднодоступных местах
                  p Специально сконструированная щетка для обработки труднодоступных мест убирает мусор вдоль стен и в углах комнат.

                  h4 Автоматически перезаряжается после уборки
                  p Работает до 90 минут * перед автоматической стыковкой и зарядкой.
                  br
                  |  * Проверено на твердых полах.

              .card__more-wrap
                button.card__more
                  span.card__more-text Описание
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

          li.card__tab#card-tab-1
            .card__top
              .card__heading
                h3.card__title Roomba - робот пылесос

              .card__links
                a.card__link(href="#")
                  span.card__links-text Сравнить товары
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

            .card__df.card__df--inner
              .card__left
                a.fancybox.card__img(href="img-temp/img-prod-1.jpg")
                  noscript
                    img.lazy(src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")

                a.card__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .card__video-icon
                  span.card__video-text Смотреть видео

              .card__info
                p.card__title2 iRobot Roomba e5

                .card__table
                  .card__row
                    .card__th Время зарядки:
                    .card__td 3 часа
                  .card__row
                    .card__th Время работы аккумулятора:
                    .card__td 90 минут
                  .card__row
                    .card__th Тип аккумулятора:
                    .card__td Li-ion 1800mAh

                b.card__price Цена:
                  strong  29 500 ₽

                .card__btns
                  .btn__wrap
                    a.btn.btn--orange.open-modal(href="#") Купить

            .card__bottom
              .card__bottom-wrap
                .article
                  h4 Мощная система всасывания
                  p Обеспечивает до 5 раз более мощное всасывание для более эффективного захвата грязи.

                  h4 Интеллектуальная навигация по вашему дому

              .card__more-wrap
                button.card__more
                  span.card__more-text Описание
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

          li.card__tab#card-tab-2
            .card__top
              .card__heading
                h3.card__title Roomba - робот пылесос
                p.card__desc Чистота, которую вы видите и ощущаете
                  br
                  |  каждый день

              .card__links
                a.card__link(href="#")
                  span.card__links-text Сравнить товары
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

            .card__df.card__df--inner
              .card__left
                a.fancybox.card__img(href="img-temp/img-prod-1.jpg")
                  noscript
                    img.lazy(src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")

                a.card__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .card__video-icon
                  span.card__video-text Смотреть видео

              .card__info
                p.card__title2 iRobot Roomba e5

                .card__table
                  .card__row
                    .card__th Время зарядки:
                    .card__td 3 часа
                  .card__row
                    .card__th Время работы аккумулятора:
                    .card__td 90 минут
                  .card__row
                    .card__th Тип аккумулятора:
                    .card__td Li-ion 1800mAh
                  .card__row
                    .card__th Емкость контейнера:
                    .card__td 0,6 л
                  .card__row
                    .card__th Тип контейнера:
                    .card__td моющийся
                  .card__row
                    .card__th Высота преодолеваемых препятствий:
                    .card__td 2 см
                  .card__row
                    .card__th Вес робота-пылесоса в коробке:
                    .card__td 5,2 кг

                b.card__price Цена:
                  strong  29 500 ₽

                .card__btns
                  .btn__wrap
                    a.btn.btn--orange.open-modal(href="#") Купить

            .card__bottom
              .card__bottom-wrap
                .article
                  h4 Мощная система всасывания
                  p Обеспечивает до 5 раз более мощное всасывание для более эффективного захвата грязи.

                  h4 Интеллектуальная навигация по вашему дому
                  p Комплект умных сенсоров помогает роботу передвигаться под мебелью и вокруг нее, тщательно очищая ваши полы.

                  h4 Технология Dirt Detect™
                  p Робот распознает и тщательно убирает наиболее оживленные места дома, в которых скапливается грязь.

                  h4 Две резиновые щетки для обработки различных поверхностей
                  p Валики-скребки для обработки различных поверхностей с уникальным дизайном тщательно очищают различные напольные покрытия.

                  h4 Трехступенчатая система уборки

                  h4 Очищает ковры и твердые напольные покрытия от мелкой пыли и крупного мусора.

                  h4 Уборка в труднодоступных местах
                  p Специально сконструированная щетка для обработки труднодоступных мест убирает мусор вдоль стен и в углах комнат.

                  h4 Автоматически перезаряжается после уборки
                  p Работает до 90 минут * перед автоматической стыковкой и зарядкой.
                  br
                  |  * Проверено на твердых полах.

              .card__more-wrap
                button.card__more
                  span.card__more-text Описание
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")


  // /.scr_card

mixin scr_card-2()
  section.scr_card.card.card--2(id="scr_card2")
    .container
      .card__df.card__df--outer
        aside.card__nav
          ul.card__nav-list
            li.card__nav-item.active
              a(href="#card2-tab-0") Braava Jet m6
            li.card__nav-item
              a(href="#card2-tab-1") Braava Jet
            li.card__nav-item
              a(href="#card2-tab-2") Braava 390T

        ul.card__tabs
          li.card__tab#card2-tab-0
            .card__top
              .card__heading
                h3.card__title Braava - робот для деликатной
                  br
                  |  влажной и сухой уборки
                p.card__desc перевернет ваши представления о мытье пола

              .card__links
                a.card__link(href="#")
                  span.card__links-text Сравнить товары
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

            .card__df.card__df--inner
              .card__left
                a.fancybox.card__img(href="img-temp/img-prod-2.png")
                  noscript
                    img.lazy(src="img-temp/img-prod-2.png" alt="" width="388" height="341")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-prod-2.png" alt="" width="388" height="341")

                a.card__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .card__video-icon
                  span.card__video-text Смотреть видео

              .card__info
                p.card__title2 iRobot Braava Jet m6

                p.card__text
                  strong iRobot Braava jet® m6
                  |  – это непревзойденный моющий робот, который справляется с прилипшей и въевшейся грязью, а также с жиром на кухне.
                  br
                  |  Он идеально подходит для больших помещений и домов с несколькими комнатами.
                  br
                  |  А приложение
                  strong  iRobot HOME
                  |  позволяет все контролировать откуда угодно.

                b.card__price Цена:
                  strong  44 600 ₽

                .card__btns
                  .btn__wrap
                    a.btn.btn--orange.open-modal(href="#") Купить

            .card__bottom
              .card__bottom-wrap
                .article
                  h4 Технология связи Imprint™
                  p Когда Робот-пылесос Roomba® серий i и s закончит пылесосить, он сообщит моющему роботу Braava jet® m6, что можно начинать мыть полы, чтобы добиться дополнительной чистоты.

                  h4 Режимы мытья полов и сухой уборки
                  p Салфетки для мытья полов производятся из впитывающих волокон. Они оттирают прилипшую и въевшуюся грязь*, а также жир на кухне.

                  p Салфетки для сухой уборки используют силу электростатического поля, чтобы захватывать грязь, пыль и шерсть домашних животных.

              .card__more-wrap
                button.card__more
                  span.card__more-text Описание
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

          li.card__tab#card2-tab-1
            .card__top
              .card__heading
                h3.card__title Roomba - робот пылесос

              .card__links
                a.card__link(href="#")
                  span.card__links-text Сравнить товары
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

            .card__df.card__df--inner
              .card__left
                a.fancybox.card__img(href="img-temp/img-prod-1.jpg")
                  noscript
                    img.lazy(src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")

                a.card__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .card__video-icon
                  span.card__video-text Смотреть видео

              .card__info
                p.card__title2 iRobot Roomba e5

                .card__table
                  .card__row
                    .card__th Время зарядки:
                    .card__td 3 часа
                  .card__row
                    .card__th Время работы аккумулятора:
                    .card__td 90 минут
                  .card__row
                    .card__th Тип аккумулятора:
                    .card__td Li-ion 1800mAh

                b.card__price Цена:
                  strong  29 500 ₽

                .card__btns
                  .btn__wrap
                    a.btn.btn--orange.open-modal(href="#") Купить

            .card__bottom
              .card__bottom-wrap
                .article
                  h4 Мощная система всасывания
                  p Обеспечивает до 5 раз более мощное всасывание для более эффективного захвата грязи.

                  h4 Интеллектуальная навигация по вашему дому

              .card__more-wrap
                button.card__more
                  span.card__more-text Описание
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

          li.card__tab#card2-tab-2
            .card__top
              .card__heading
                h3.card__title Roomba - робот пылесос
                p.card__desc Чистота, которую вы видите и ощущаете
                  br
                  |  каждый день

              .card__links
                a.card__link(href="#")
                  span.card__links-text Сравнить товары
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")

            .card__df.card__df--inner
              .card__left
                a.fancybox.card__img(href="img-temp/img-prod-1.jpg")
                  noscript
                    img.lazy(src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-prod-1.jpg" alt="" width="388" height="341")

                a.card__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  .card__video-icon
                  span.card__video-text Смотреть видео

              .card__info
                p.card__title2 iRobot Roomba e5

                .card__table
                  .card__row
                    .card__th Время зарядки:
                    .card__td 3 часа
                  .card__row
                    .card__th Время работы аккумулятора:
                    .card__td 90 минут
                  .card__row
                    .card__th Тип аккумулятора:
                    .card__td Li-ion 1800mAh
                  .card__row
                    .card__th Емкость контейнера:
                    .card__td 0,6 л
                  .card__row
                    .card__th Тип контейнера:
                    .card__td моющийся
                  .card__row
                    .card__th Высота преодолеваемых препятствий:
                    .card__td 2 см
                  .card__row
                    .card__th Вес робота-пылесоса в коробке:
                    .card__td 5,2 кг

                b.card__price Цена:
                  strong  29 500 ₽

                .card__btns
                  .btn__wrap
                    a.btn.btn--orange.open-modal(href="#") Купить

            .card__bottom
              .card__bottom-wrap
                .article
                  h4 Мощная система всасывания
                  p Обеспечивает до 5 раз более мощное всасывание для более эффективного захвата грязи.

                  h4 Интеллектуальная навигация по вашему дому
                  p Комплект умных сенсоров помогает роботу передвигаться под мебелью и вокруг нее, тщательно очищая ваши полы.

                  h4 Технология Dirt Detect™
                  p Робот распознает и тщательно убирает наиболее оживленные места дома, в которых скапливается грязь.

                  h4 Две резиновые щетки для обработки различных поверхностей
                  p Валики-скребки для обработки различных поверхностей с уникальным дизайном тщательно очищают различные напольные покрытия.

                  h4 Трехступенчатая система уборки

                  h4 Очищает ковры и твердые напольные покрытия от мелкой пыли и крупного мусора.

                  h4 Уборка в труднодоступных местах
                  p Специально сконструированная щетка для обработки труднодоступных мест убирает мусор вдоль стен и в углах комнат.

                  h4 Автоматически перезаряжается после уборки
                  p Работает до 90 минут * перед автоматической стыковкой и зарядкой.
                  br
                  |  * Проверено на твердых полах.

              .card__more-wrap
                button.card__more
                  span.card__more-text Описание
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-arrow")


  // /.scr_card
