mixin scr_map()
  section.scr_map.map(id="scr_map")
    .map__top
      .container
        .map__wrap
          .map__contacts
            .map__content
              h2.title Контакты:

              .map__item
                p.map__text г. Смоленск, просп. Гагарина, 22.
                  br
                  |  ТЦ «Зебра», 3 этаж

              .map__item
                a.map__link(href="tel:+74812330124") +7 (4812) 330-124
                a.map__link(href="tel:+89203330124") 8 (920) 333 01 24

              .map__item
                p.map__text Время работы:
                p.map__text Пн-Пт с 10:00 до 18:00

              .map__item.map__item--socials
                span.map__text Мы в соц. сетях:
                a(href="#" rel="nofollow")
                  i.fa.fa-instagram
                a(href="#" rel="nofollow")
                  i.fa.fa-vk

              .map__contacts-bottom
                p.map__text Индивидуальный предприниматель
                p.map__text Воронина Маргарита Андреевна

                p.map__text.map__text--legal ОГРНИП: 3196733000009421
                  br
                  |  от 14.03.2019 года
                  br
                  |  ИНН: 673110002906, Фактический адрес: 214014 г Смоленск Ул. Ломоносова, д. 16а
                  br
                  |  Т. +7 4812 333 01 24, + 7 964 616 25 96
                  br
                  |  Код ИНФНС 6732 Банк получателя отделение номер 8690 сбербанк России г. Смоленск

        .map__title-wrap
          h2.title Как нас найти?
          p.map__desc Вы можете приобрести робот-пылесос с доставкой через&nbsp;сайт или приобрести в нашем магазине

    .inner-map#inner-map(style="background: transparent url('img/bg-map.jpg') no-repeat center center; background-size: cover;")


  // /.scr_map
