mixin breadcrumbs()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Парфюмерия
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Товар
        meta(itemprop='position', content='3')

  // /.breadcrumbs

mixin breadcrumbs--delivery()
  #breadcrumbs.breadcrumbs.breadcrumbs--delivery
    .container
      ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(itemprop='item', href='#')
            span(itemprop='name') Главная
          meta(itemprop='position', content='1')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          span(itemprop='item')
            span(itemprop='name') Доставка
          meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--catalog()
  #breadcrumbs.breadcrumbs.breadcrumbs--delivery
    .container
      ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(itemprop='item', href='#')
            span(itemprop='name') Главная
          meta(itemprop='position', content='1')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          span(itemprop='item')
            span(itemprop='name') Декоративная косметика
          meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--blog()
  #breadcrumbs.breadcrumbs.breadcrumbs--delivery
    .container
      ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(itemprop='item', href='#')
            span(itemprop='name') Главная
          meta(itemprop='position', content='1')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          span(itemprop='item')
            span(itemprop='name') Блог
          meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--post()
  #breadcrumbs.breadcrumbs.breadcrumbs--delivery
    .container
      ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(itemprop='item', href='#')
            span(itemprop='name') Главная
          meta(itemprop='position', content='1')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(itemprop='item', href='#')
            span(itemprop='name') Блог
          meta(itemprop='position', content='2')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          span(itemprop='item')
            span(itemprop='name') Статья
          meta(itemprop='position', content='3')

  // /.breadcrumbs

mixin breadcrumbs--jobs()
  #breadcrumbs.breadcrumbs.breadcrumbs--delivery
    .container
      ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          a(itemprop='item', href='#')
            span(itemprop='name') Главная
          meta(itemprop='position', content='1')
        li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          span(itemprop='item')
            span(itemprop='name') Магазины Yre Prof
          meta(itemprop='position', content='2')

  // /.breadcrumbs
