mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__col
          h3.footer__title.js-footer__title о компании

          .footer__to-hide
            ul.menu
              li.menu-item
                a(href="#") О нас
              li.menu-item
                a(href="#") Партнерам
              li.menu-item
                a(href="#") Сотрудничество
              li.menu-item
                a(href="#") Вакансии

        .footer__col
          h3.footer__title.js-footer__title покупателям

          .footer__to-hide
            ul.menu
              li.menu-item
                a(href="#") Подарочные карты
              li.menu-item
                a(href="#") Доставка и оплата
              li.menu-item
                a(href="#") Оптовые предложения
              li.menu-item
                a(href="#") Акции
              li.menu-item
                a(href="#") Распродажа

        .footer__col
          h3.footer__title контакты

          .footer__address
            p Симферополь, ул. Кубанская,15
            p Симферополь, пр. Кирова, 27

          .footer__links
            .footer__item
              a.footer__phone.xlink(href="tel:+79788990639" rel="nofollow") +7 978 899-06-39
            .footer__item
              a.footer__phone.xlink(href="tel:+79788882445" rel="nofollow") +7 978 888-24-45
            .footer__item
              a.footer__phone.xlink(href="tel:+79789883424" rel="nofollow") +7 978 988-34-24

            .footer__msgs
              a.footer__msg.footer__msg--wa(href="https://api.whatsapp.com/send?phone=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#wa")

              a.footer__msg.footer__msg--viber(href="viber://chat?number=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#viber")

              //. Тут поменять ссылку на актуальную
              a.footer__msg.footer__msg--tg(href="https://t.me/79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#telegram")

            .footer__item
              a.footer__phone.xlink(href="mailto:yre-prof@mail.ru" rel="nofollow") yre-prof@mail.ru

        .footer__col
          h3.footer__title службы доставки:

          .footer__deliver
            img(src="img/deliver-1.png" alt="")

          .footer__deliver
            img(src="img/deliver-2.png" alt="")

          h3.footer__title.footer__title--payment способы оплаты:

          .footer__payment
            img(src="img/payment-1.png" alt="")

      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2021&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

