mixin header(logotype)
  header.header(id="header")
    .header__top
      .container
        .header__df
          .header__info
            img(src="img/svg/header-map.svg" alt="")
            p.header__title
              strong бесплатная доставка
              |  при заказе
              span  от 4 000 руб.
              |  по всей России
          .header__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad(href="#") Перейти к покупкам

      // /.container
    // /.header__top

    .container
      .header__bottom
        button.burger
          span.burger__wrap
            span.line

        .header__menu
          .header__menu-top
            .header__logo
              img(src="img/logo.png" alt="лого")
            button.burger
              span.burger__wrap
                span.line

          ul.menu
            li.menu-item
              a(href="#") О нас
            li.menu-item
              a(href="#") Доставка
            li.menu-item
              a(href="#") Магазины
            li.menu-item
              a(href="#") Партнерам
            li.menu-item
              a(href="#") Сотрудничество
            li.menu-item
              a(href="#") Вакансии
            li.menu-item
              a(href="#") Контакты

        .header__login
          a.open-modal(href="#") Вход
          span  /
          a.open-modal(href="#") Регистрация

      // /.header__bottom
    // /.container
