mixin modal__cart()
  section.modal.modal__cart.active(id="modal__cart")
    .modal__content.visible
      button.close

      .modal__df
        .modal__left
          a.prod-item__img
            img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)

          .modal__total
            .prod-item__quant
              .quantity
                button.quantity-arrow.quantity-arrow-minus(type='button') –
                input.quantity-num(type='number', value='1')
                button.quantity-arrow.quantity-arrow-plus(type='button') +
              b.prod-item__price
                span 1920
                |  Р

              b.prod-item__price--new Итого:
                b  1920 Р

        .modal__right
          h2.prod-item__title Giordani Gold Essenza Blossom
          .form.form--general
            form
              .form__item
                span.your-name.text-input
                  label Имя
                    input(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

              .form__item
                span.your-tel.text-input
                  label Номер телефона
                    input(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item
                span.your-email.text-input
                  label Ваш e-mail
                    input(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='example@mail.ru')

              .form__item
                span.textarea-input.text-input
                  label Комментарий к заказу
                    textarea#msg(name='your-msg', cols='40', rows='10', aria-invalid='false', placeholder='Введите текст...')

              .form__item
                .form__sort
                  span Отправить со склада:
                  select
                    option(value="Харьков")  Харьков
                    option(value="Харьков")  Харьков
              .form__item
                .form__sort
                  span Выбранный магазин:
                  select
                    option(value="Спутник")  Магазин "Спутник"
                    option(value="Спутник")  Магазин "Спутник"
              .form__item
                .form__sort
                  span Служба доставки:
                  select
                    option(value="СДЭК")  СДЭК
                    option(value="СДЭК")  СДЭК

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--grad
                  input.xbtn.xbtn--grad(type='submit', value='Оформить заказ')

          // /. form
    // /. modal__content
  // /. modal
