mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__top
        .scr1__logo1
          img(src="img/logo.png" alt="лого")
        .scr1__logo2
          img(src="img/logo2.png" alt="лого")
          p.scr1__logo2-text Профессиональная косметика
            br
            |  от производителя оптом
            br
            |  и в розницу

        .scr1__item.scr1__item--address
          p Симферополь, ул. Кубанская, 15
          span.scr1__item-btn
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

        .scr1__item.scr1__item--links
          a.scr1__phone.xlink(href="tel:+79789883424" rel="nofollow") +7 978 988-34-24
          span.scr1__item-btn
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .scr1__hidden
            svg.scr1__hidden-cont(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 175 163.5', style='enable-background:new 0 0 175 163.5;', xml:space='preserve' preserveAspectRatio="none" fill="#FFFFFF" stroke="#E4E4E4" )
              path(d='M166.5,163H8.5c-4.4,0-8-3.6-8-8V15c0-4.4,3.6-8,8-8h35.2L50,0.7L56.3,7h110.2c4.4,0,8,3.6,8,8v140\
              C174.5,159.4,170.9,163,166.5,163z')

            .footer__msgs
              a.footer__msg.footer__msg--wa(href="https://api.whatsapp.com/send?phone=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#wa")

              a.footer__msg.footer__msg--viber(href="viber://chat?number=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#viber")

              //. Тут поменять ссылку на актуальную
              a.footer__msg.footer__msg--tg(href="https://t.me/79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#telegram")

            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79789883424" rel="nofollow") +7 978 988-34-24
            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79788990639" rel="nofollow") +7 978 899-06-39
            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79788882445" rel="nofollow") +7 978 888-24-45

        .scr1__search
          .form.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-search.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-search(type='tel', name='your-search', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Поиск по каталогу')

                button.open-search(type='button')
                  svg.icon
                    use(xlink:href='img/svg/sprite.svg#icon-search')

        .scr1__btns
          button.scr1__catalog-btn
            span.burger
              span.burger__wrap
                span.line

            span.scr1__catalog-text Каталог
              br
              |  товаров

          button.scr1__btn.scr1__btn--search
            svg.icon
              use(xlink:href='img/svg/sprite.svg#icon-search')
          button.scr1__btn
            svg.icon
              use(xlink:href='img/svg/sprite.svg#compare')
          button.scr1__btn
            svg.icon
              use(xlink:href='img/svg/sprite.svg#heart')
          button.scr1__btn.scr1__btn--cart
            svg.icon
              use(xlink:href='img/svg/sprite.svg#cart')
            span.scr1__btn-num 2

          .scr1__hidden
            svg.scr1__hidden-cont(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 175 163.5', style='enable-background:new 0 0 175 163.5;', xml:space='preserve' preserveAspectRatio="none" fill="#FFFFFF" stroke="#E4E4E4" )
              path(d='M166.5,163H8.5c-4.4,0-8-3.6-8-8V15c0-4.4,3.6-8,8-8h35.2L50,0.7L56.3,7h110.2c4.4,0,8,3.6,8,8v140\
              C174.5,159.4,170.9,163,166.5,163z')

            p.scr1__cart-total На сумму:
              b 1500 Р


      .scr1__df
        aside.scr1__menu
          p.scr1__menu-title Наша продукция
          ul.menu
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/nail-polish.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#nail-polish")
                span.menu-item__text Ногтевой сервис
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/depil.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#depil")
                span.menu-item__text Депиляция
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/makeup.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#makeup")
                span.menu-item__text Макияж
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/eyelashes.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#eyelashes")
                span.menu-item__text Наращивание ресниц
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/hair-dye.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#hair-dye")
                span.menu-item__text Парикмахерское искусство
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/add.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#add")
                span.menu-item__text Сопутствующие товары
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/equip.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#equip")
                span.menu-item__text Оборудование для салонов
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/electroequip.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#electroequip")
                span.menu-item__text Электрооборудование
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/shampoo.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#shampoo")
                span.menu-item__text Шампуни и уходовые средства
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/new.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#new")
                span.menu-item__text Новинки
                span.menu-item__btn
            li.menu-item
              a(href="#")
                span.menu-item__icon
                  //- img(src="img/svg/icons/coupon.svg" alt="")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#coupon")
                span.menu-item__text Распродажа
                span.menu-item__btn

        .scr1__right
          .scr1__slider-wrap
            .scr1__slider#scr1__slider
              .swiper-wrapper
                .swiper-slide
                  a.scr1__slider-item(href="#")
                    img(src="img/scr1-slider.jpg" alt="")
                .swiper-slide
                  a.scr1__slider-item(href="#")
                    img(src="img/scr1-slider.jpg" alt="")

            .scr1__slider-btns
              .swiper-dots

          .scr1__register
            p.scr1__register-title хочешь узнать оптовые цены?
              span  зарегистрируйся
                br
                strong  бесплатно

            .scr1__register-btns
              .btn__wrap.btn__wrap--grad
                a.xbtn.xbtn--grad(href="#") Зарегистрироваться

  // /.scr1

mixin scr1--inner()
  section.scr1.scr1--inner(id="scr1")
    .container
      .scr1__top
        .scr1__logo1
          img(src="img/logo.png" alt="лого")
        .scr1__logo2
          img(src="img/logo2.png" alt="лого")
          p.scr1__logo2-text Профессиональная косметика
            br
            |  от производителя оптом
            br
            |  и в розницу

        .scr1__item.scr1__item--address
          p Симферополь, ул. Кубанская, 15
          span.scr1__item-btn
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

        .scr1__item.scr1__item--links
          a.scr1__phone.xlink(href="tel:+79789883424" rel="nofollow") +7 978 988-34-24
          span.scr1__item-btn
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .scr1__hidden
            svg.scr1__hidden-cont(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 175 163.5', style='enable-background:new 0 0 175 163.5;', xml:space='preserve' preserveAspectRatio="none" fill="#FFFFFF" stroke="#E4E4E4" )
              path(d='M166.5,163H8.5c-4.4,0-8-3.6-8-8V15c0-4.4,3.6-8,8-8h35.2L50,0.7L56.3,7h110.2c4.4,0,8,3.6,8,8v140\
              C174.5,159.4,170.9,163,166.5,163z')

            .footer__msgs
              a.footer__msg.footer__msg--wa(href="https://api.whatsapp.com/send?phone=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#wa")

              a.footer__msg.footer__msg--viber(href="viber://chat?number=79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#viber")

              //. Тут поменять ссылку на актуальную
              a.footer__msg.footer__msg--tg(href="https://t.me/79788990639" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#telegram")

            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79789883424" rel="nofollow") +7 978 988-34-24
            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79788990639" rel="nofollow") +7 978 899-06-39
            .scr1__hidden-wrap
              a.scr1__hidden-phone.xlink(href="tel:+79788882445" rel="nofollow") +7 978 888-24-45

        .scr1__search
          .form.wpcf7
            form.wpcf7-form
              .form__item
                span.wpcf7-form-control-wrap.your-search.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-search(type='tel', name='your-search', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Поиск по каталогу')

                button.open-search(type='button')
                  svg.icon
                    use(xlink:href='img/svg/sprite.svg#icon-search')

        .scr1__btns
          button.scr1__catalog-btn
            span.burger
              span.burger__wrap
                span.line

            span.scr1__catalog-text Каталог
              br
              |  товаров
          button.scr1__btn.scr1__btn--search
            svg.icon
              use(xlink:href='img/svg/sprite.svg#icon-search')
          button.scr1__btn
            svg.icon
              use(xlink:href='img/svg/sprite.svg#compare')
          button.scr1__btn
            svg.icon
              use(xlink:href='img/svg/sprite.svg#heart')
          button.scr1__btn.scr1__btn--cart
            svg.icon
              use(xlink:href='img/svg/sprite.svg#cart')
            span.scr1__btn-num 2

          .scr1__hidden
            svg.scr1__hidden-cont(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 175 163.5', style='enable-background:new 0 0 175 163.5;', xml:space='preserve' preserveAspectRatio="none" fill="#FFFFFF" stroke="#E4E4E4" )
              path(d='M166.5,163H8.5c-4.4,0-8-3.6-8-8V15c0-4.4,3.6-8,8-8h35.2L50,0.7L56.3,7h110.2c4.4,0,8,3.6,8,8v140\
              C174.5,159.4,170.9,163,166.5,163z')

            p.scr1__cart-total На сумму:
              b 1500 Р

      aside.scr1__menu.scr1__menu--inner
        ul.menu
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/nail-polish.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#nail-polish")
              span.menu-item__text Ногтевой сервис
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/depil.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#depil")
              span.menu-item__text Депиляция
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/makeup.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#makeup")
              span.menu-item__text Макияж
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/eyelashes.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#eyelashes")
              span.menu-item__text Наращивание ресниц
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/hair-dye.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#hair-dye")
              span.menu-item__text Парикмахерское искусство
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/add.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#add")
              span.menu-item__text Сопутствующие товары
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/equip.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#equip")
              span.menu-item__text Оборудование для салонов
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/electroequip.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#electroequip")
              span.menu-item__text Электрооборудование
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/shampoo.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#shampoo")
              span.menu-item__text Шампуни и уходовые средства
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/new.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#new")
              span.menu-item__text Новинки
              span.menu-item__btn
          li.menu-item
            a(href="#")
              span.menu-item__icon
                //- img(src="img/svg/icons/coupon.svg" alt="")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#coupon")
              span.menu-item__text Распродажа
              span.menu-item__btn
