mixin scr_brand()
  section.scr_brand.brand(id="scr_brand")
    +breadcrumbs--brand
    .brand__top
      .brand__bg
        img(src="img-temp/brand-bg.jpg" alt="" data-object-fit-cover)
      .container
        .brand__top-wrap
          .brand__logo
            img(src="img-temp/brand-logo.png" alt="")
          h1.brand__title Продукция WAHL

          p.brand__desc Машинки для стрижки волос, фены и щетки а также триммеры
    .container
      .brand__df
        .brand__content
          h2.brand__content-title Магазин продукции Wahl
          .article
            p Наш интернет-магазин создан с целью представить широкой аудитории продукцию американского бренда WAHL. На страницах ресурса вы можете узнать о новинках этой торговой марки, последних новостях и мероприятиях, проводимых брендом WAHL.
            p Продукция от ведущего производителя широко известна среди стилистов. Линейки, предлагаемые брендом, уже не один десяток лет занимают лидирующие позиции на рынке профессиональной техники для стрижки. Клиенты компании отдают предпочтение продукции WAHL благодаря высокому уровню исполнения, качественным материалам, отличной эргономике и высокой эффективности. Выбирая товары WAHL, вы становитесь владельцем профессионального рабочего инструмента, который удовлетворяет строгие требование стилистов и их клиентов.
            p Сегодня многие опытные и начинающие парикмахеры нуждаются в надёжной технике, которая представлена в нашем интернет-магазине по лучшим ценам. Приобрести высококлассные машинки для стрижки, триммеры и другие товары у нас вы можете с оперативной доставкой в любой регион страны!
            h2 Путь к успеху бренда Wahl
            p WAHL – лидирующее предприятие в сфере разработки и выпуска всевозможных инструментов для индустрии красоты. Компания начала деятельность в далеком 1919 году. Торговая марка моментально покорила рынок, но не остановилась на достигнутом. Стремясь предложить потребителям товары безупречного качества, производитель постоянно совершенствует и выводит на рынок новые инструменты, которые моментально становятся востребованными. Американские профессиональные изделия для стилистов – лучший выбор для вас!
            p Практически столетний опыт и желание стремится к инновациям, позволили компании достичь успеха! На сегодняшний день на предприятии работают более трех тысяч сотрудников, имеющих большой опыт в области разработок. Благодаря слаженной деятельности команды специалистов, потребителю доступны товары безупречного качества, которые отличаются надёжностью, продуктивностью и долговечностью.
            p Вы можете приобрести машинки для стрижки, плойки, парикмахерские аксессуары, триммеры и другой инструментарий в нашем интернет-магазине WAHL. На виртуальных витринах площадки представлен солидный выбор всевозможных товаров, реализуемых по умеренным ценам!
            p На нашем web-ресурсе вы можете ознакомиться с подробными характеристиками позиций, а при необходимости наши менеджеры обеспечат вас консультационной поддержкой, позволяющей сделать верный выбор в пользу того или иного продукта.

        .brand__left
          h2.brand__left-title Что мы предлагаем нашим клиентам?

          ul.brand__feat
            li
              .brand__feat-img
                img(src="img/svg/icons/brand-1.svg" alt="")
              .brand__feat-content
                h3.brand__feat-title Разумная ценовая политика
                .brand__feat-text
                  p Купить технику и аксессуары у нас вы можете по&nbsp;конкурентоспособной стоимости
            li
              .brand__feat-img
                img(src="img/svg/icons/brand-2.svg" alt="")
              .brand__feat-content
                h3.brand__feat-title Широкий ассортимент
                .brand__feat-text
                  p Способный удовлетворит каждого профессионала в области красоты
            li
              .brand__feat-img
                img(src="img/svg/icons/brand-3.svg" alt="")
              .brand__feat-content
                h3.brand__feat-title Оперативная доставка
                .brand__feat-text
                  p Выполняемая проверенными транспортными компаниями с фиксацией времени
            li
              .brand__feat-img
                img(src="img/svg/icons/brand-4.svg" alt="")
              .brand__feat-content
                h3.brand__feat-title Способы оплаты
                .brand__feat-text
                  p Удобные способы оплаты позволят не беспокоиться о переводе средств

    .brand__videos
      .container
        h2.page-title Wahl

        .brand__slider-wrap
          .brand__slider#brand__slider
            .swiper-wrapper
              .swiper-slide
                .brand__item
                  a.brand__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/brands/img-1.jpg') no-repeat center center; background-size: cover;")
                    span.secrets__video-circle

                  .brand__text
                    p История создания бренда «Wahl»
              .swiper-slide
                .brand__item
                  a.brand__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/brands/img-2.jpg') no-repeat center center; background-size: cover;")
                    span.secrets__video-circle

                  .brand__text
                    p Успешное применение «Wahl»
              .swiper-slide
                .brand__item
                  a.brand__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/brands/img-3.jpg') no-repeat center center; background-size: cover;")
                    span.secrets__video-circle

                  .brand__text
                    p Что люди думают о «Wahl»

          .brand__slider-btns
            .swiper-dots

        .brand__slider-btn
          .btn__wrap.btn__wrap--grad
            a.xbtn.xbtn--grad(href="#") Перейти ко всем товарам Wahl

  // /.scr_brand
