mixin scr_prod()
  section.scr_prod.prod.prod--top(id="scr_prod")
    .container
      .prod__cont
        ul.tabs-nav.js-tabs-nav
          li.current
            a(href="#prod__tab-top-0") Новинки
          li
            a(href="#prod__tab-top-1") Хит продаж
          li
            a(href="#prod__tab-top-2") Рекомендуем

        ul.prod__tabs

          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-top и номера таба
          li.prod__tab#prod__tab-top-0
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-top и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-top-0
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")


          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-top и номера таба
          li.prod__tab#prod__tab-top-1
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-top и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-top-1
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")



  // /.scr_prod

mixin scr_prod--prof()
  section.scr_prod.prod.prod--prof(id="scr_prod-prof")
    .container
      h2.page-title Самые покупаемые товары для бьюти профессионалов

      .prod__cont
        ul.tabs-nav.js-tabs-nav
          li.current
            a(href="#prod__tab-prof-0") Косметолог
          li
            a(href="#prod__tab-prof-1") Nail мастер
          li
            a(href="#prod__tab-prof-2") Рекомендуем
          li
            a(href="#prod__tab-prof-3") Барбер
          li
            a(href="#prod__tab-prof-4") Стилист
          li
            a(href="#prod__tab-prof-5") Парфюмер

        ul.prod__tabs

          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-prof и номера таба
          li.prod__tab#prod__tab-prof-0
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-prof и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-prof-0
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")


          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-prof и номера таба
          li.prod__tab#prod__tab-prof-1
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-prof и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-prof-1
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")



  // /.scr_prod

mixin scr_prod--hit()
  section.scr_prod.prod.prod--hit(id="scr_prod-hit-1")
    .container
      h2.page-title Хит продаж

      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider-hit
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod

mixin scr_prod--hit2()
  section.scr_prod.prod.prod--hit(id="scr_prod-hit-2")
    .container
      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider-hit-2
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod

mixin scr_prod--sale()
  section.scr_prod.prod.prod--sale(id="scr_prod-sale")
    .container
      h2.page-title Распродажа

      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider-sale
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod

mixin scr_prod--prod-item()
  section.scr_prod.prod.prod--top.prod--prod-item(id="scr_prod")
    .container
      h2.page-title Распродажа
      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--new Новинка

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")


  // /.scr_prod
