mixin scr_action()
  section.scr_action.action(id="scr_action")
    .container
      .action__wrap
        p.action__title получите бонус %
        p.action__desc при покупке 1 ящика продукции

  // /.scr_action
