mixin scr_about()
  section.scr_about.about(id="scr_about")
    +breadcrumbs--about
    .container
      .about__wrap
        ul.tabs-nav.js-tabs-nav
          li.current
            a(href="#about__tab-0") О компании
          li
            a(href="#about__tab-1") Партнеры
          li
            a(href="#about__tab-2") Сертификаты
          li
            a(href="#about__tab-3") Вакансии

        ul.about__tabs
          li.about__tab#about__tab-0
            h2.page-title Наши партнеры
            ul.about__list
              li
                .about__item
                  .about__img
                    img(src="img-temp/partners/img-1.png" alt="" data-object-fit-contain)
                  h3.about__title Cеть магазинов «YOKO»
                  .about__text
                    p «YOKO» – международная сеть магазинов с разнообразным ассортиментом качественных доступных товаров на все случаи жизни. BCA Holding реализовано более 200 различных проектов в 10 странах мира. «YOKO» – это магазин-склад
              li
                .about__item
                  .about__img
                    img(src="img-temp/partners/img-2.png" alt="" data-object-fit-contain)
                  h3.about__title Cеть магазинов «YOKO»
                  .about__text
                    p История создания корпорации «Wahl Clipper» началась с экспериментов Лео Дж. Уола над вибрационным электромагнитным двигателем во время учебы в средней школе в городе Стерлинг, США. Позже, будучи студентом инженерного факультета в университете
              li
                .about__item
                  .about__img
                    img(src="img-temp/partners/img-3.png" alt="" data-object-fit-contain)
                  h3.about__title Cеть магазинов «YOKO»
                  .about__text
                    p История создания корпорации «Wahl Clipper» началась с экспериментов Лео Дж. Уола над вибрационным электромагнитным двигателем во время учебы в средней школе в городе Стерлинг, США. Позже, будучи студентом инженерного факультета в университете

  // /.scr_about
