mixin scr_company()
  section.scr_company.company(id="scr_company")
    .container
      .company__df
        .company__main
          h1.page-title О компании

          .article
            p
              b Y.R.E. Professional —
              |  это компания более чем с 20- ти летним опытом в сфере индустрии красоты! За это время мы успели завоевать доверие наших клиентов! Касаний к нашему лицу и волосам не всегда чистыми руками.
            p  Лучше вообще не трогать лицо в течение дня, а перед нанесением и снятием макияжа тщательно мыть руки. Еще одна распространенная привычка - подпирать лицо руками. Если не хотите обзавестись дополнительными морщинами, срочно начинайте контролировать свои телодвижения.
            h3 Почему именно нас выбирают многие?
            p  Мы имеем собственные производства, благодаря чему наши клиенты получают качественную продукцию по самым приятным ценам, это обусловлено отсутствием посредников! Наши личные бренды Yre и SaMi уже много лет пользуются большим спросом как для профессионального ухода так и для домашнего!
            p  Yre Professional многократный участник выставок , таких как “Берега Тавриды»( г.Симферополь), «InterCHARM”( Украина), «Индустрия Красоты»( г.Симферополь). Став нашим клиентом единожды, с нами остаются навсегда! В ассортименте нашего магазина более 10000 наименований товара среди которых такие бренды как Kodi, Сталекс, Moser, Ga.Ma., Dewal, BaByliss Pro и многие другие Также мы являемся официальным партнером компаний Yoko, Wahl, Erika!

        .company__feat
          h2.company__title Что мы предлагаем нашим клиентам?

          ul
            li Материалы и инструменты для ногтевого сервиса
            li Электрооборудование для парикмахерского искусства
            li Материалы для наращивания ресниц
            li Материалы и инструменты для депиляции
            li Декоративная косметика и средства для ухода


  // /.scr_company
