mixin scr_prod-item()
  section.scr_prod-item.prod-item(id="scr_prod-item")
    .container

      .prod-item__df
        .prod-item__gallery
          .prod-item__wrap
            .prod-item__imgs#prod-item__imgs
              .swiper-wrapper
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="gallery")
                    span.prod-item__icon

                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="gallery")
                    span.prod-item__icon

                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="gallery")
                    span.prod-item__icon

                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item-img.jpg" data-fancybox-group="gallery")
                    span.prod-item__icon

                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)

            .prod-item__imgs-btns
              .swiper-dots

          .prod-item__thumbs-wrap
            .prod-item__thumbs#prod-item__thumbs
              .swiper-wrapper
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-contain)

            .prod-item__thumbs-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")

        .prod-item__content
          +breadcrumbs
          .prod-item__top
            span.prod-item__label хит
            span.prod-item__is Есть в наличии

          h1.prod-item__title Giordani Gold Essenza Blossom
          .prod-item__status
            span.prod-item__status-item.prod-item__status-item--star 4.5
            a.prod-item__status-item.prod-item__status-item--reviews(href="#") 16 отзывов
            span.prod-item__status-item
              b Артикул:
              |  TD-2-R
          .prod-item__desc
            p Проф. машинка с комбинированным питанием. Аккумулятор Li-Ion. Автономная работа до 90 мин. Зарядка 120 мин. Ножи на винтах с регулировкой от 0,8 до 2,5 мм. Комплект: 8 премиум насадок 1,5/3/4,5/6/10/13/19/25 мм, адаптер, защитная крышка ножа, щеточка, масло. США
          .prod-item__quant
            .quantity
              button.quantity-arrow.quantity-arrow-minus(type='button') –
              input.quantity-num(type='number', value='1')
              button.quantity-arrow.quantity-arrow-plus(type='button') +
            b.prod-item__price
              span 1920
              |  Р
            b.prod-item__price--new Итого:
              b  1920 Р
          .prod-item__bottom
            .prod-item__btns
              .btn__wrap.btn__wrap--grad
                a.xbtn.xbtn--grad(href="#") в корзину
              button.prod__btn.prod__btn--like(type="button")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#heart")
              button.prod__btn(type="button")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#compare")

            .btn__wrap.btn__wrap--violet
              a.xbtn.xbtn--violet(href="#") оформить заказ

      ul.tabs-nav.js-tabs-nav
        li.current
          a(href="#prod-item__tab-0") Отзывы (53)
        li
          a(href="#prod-item__tab-1") Характеристики
        li
          a(href="#prod-item__tab-2") Описание

      ul.prod-item__tabs
        li.prod-item__tab#prod-item__tab-0
          .article
            h4 О товаре:

            p Базовое покрытие UNO Rubber base идеально выравнивает поверхность ногтевой пластины за счет плотной и густой текстуры, придает дополнительную прочность покрытию, легко наносится за счет удобной кисти. Держится от двух до четырех недель, не дает отслоек на мягких и тонких ногтях.

            h4 Способ применения:

            p База наносится на подготовленную, обезжиренную ногтевую пластину. Рекомендованное время полимеризации в UV-лампе – 2 мин., в LED-лампе – 30 сек. Липкий слой не снимается, он позволит гель-лаку прочнее закрепиться на ногтевой пластине.

            a(href="#") Технология нанесения

            h4 Состав:

            p Dipentaerythritol Hexaacrylate, 2-Hydroxypropyl methacrylate, 2-Hydroxyethyl Methacrylate, Isobornyl Acrylate, N-Dimethylacrylamide, Acrilic Acid, Bis (2-Methacryloxyethyl) Phosphate.

        li.prod-item__tab#prod-item__tab-1
          .article
            h4 О товаре:

            p Базовое покрытие UNO Rubber base идеально выравнивает поверхность ногтевой пластины за счет плотной и густой текстуры, придает дополнительную прочность покрытию, легко наносится за счет удобной кисти. Держится от двух до четырех недель, не дает отслоек на мягких и тонких ногтях.

            h4 Способ применения:

            p База наносится на подготовленную, обезжиренную ногтевую пластину. Рекомендованное время полимеризации в UV-лампе – 2 мин., в LED-лампе – 30 сек. Липкий слой не снимается, он позволит гель-лаку прочнее закрепиться на ногтевой пластине.


  // /.scr_prod-item
