mixin scr_brands()
  section.scr_brands.brands(id="scr_brands")
    .container
      h2.page-title Бренды

      .brands__wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide
              .brands__img
                img(src="img/brands/img-1.png" alt="")
            .swiper-slide
              .brands__img
                img(src="img/brands/img-2.png" alt="")
            .swiper-slide
              .brands__img
                img(src="img/brands/img-3.png" alt="")
            .swiper-slide
              .brands__img
                img(src="img/brands/img-4.png" alt="")
            .swiper-slide
              .brands__img
                img(src="img/brands/img-5.png" alt="")
            .swiper-slide
              .brands__img
                img(src="img/brands/img-6.png" alt="")

        .brands__slider-btns
          button.swiper-button-prev(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

          .swiper-dots
          button.swiper-button-next(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_brands
