mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    +breadcrumbs--partners
    .container
      .partners__wrap
        ul.tabs-nav.js-tabs-nav
          li.current
            a(href="#partners__tab-0") Оптовые продажи
          li
            a(href="#partners__tab-1") Поставщикам и прозводителям

        ul.partners__tabs
          li.partners__tab#partners__tab-0
            .article
              h2 Оптовые продажи

              p Компания Yre Prof заинтересована в расширении ассортимента товаров и открыта для установления новых деловых связей и развития стратегических отношений с поставщиками товаров и услуг. Основные критерии выбора поставщиков товаров:
              ul
                li Качество поставляемой продукции;
                li 100% выполнение заказов в планируемые сроки;
                li Работа в соответствие с законодательством РФ;
                li Проведение совместных промо акций.

              p кроме того, нам необходимы образцы вашей продукции для тестирования нашими специалистами
                br
                |  Если Вы являетесь производителем / оптовым поставщиком / официальным дистрибьютером / импортером парфюмерии, косметики или аксессуаров, или поставщиком услуг просим Вас указать следующие данные для рассмотрения коммерческого предложения:

            .partners__form#content
              form.form-horizontal(action='#', method='post')
                fieldset
                  .form-group.required
                    label.control-label(for='input-company') Название компании:
                      input#input-company.form-control(type='text', name='Company', value='', placeholder='Компания')
                  .form-group.required
                    label.control-label(for='input-shop') Месторасположение магазина или салона:
                      input#input-shop.form-control(type='text', name='shop', value='', placeholder='Адрес магазина')
                  .form-group.required
                    label.control-label(for='input-telephone') Телефон:
                      input#input-telephone.form-control(type='tel', name='telephone', value='', placeholder='+7 (___) ___-__-__')
                  .form-group.required
                    label.control-label(for='input-email') E-Mail
                      input#input-email.form-control(type='email', name='email', value='', placeholder='Ваш e-mail')
                  .form-group.required
                    label.control-label(for='input-name') Контактное лицо:
                      input#input-name.form-control(type='text', name='Name', value='', placeholder='ФИО')
                  .form-group.required
                    label.control-label(for='input-product') Название товара или услуги:
                      input#input-product.form-control(type='text', name='Product', value='', placeholder='Товар или услуга')
                  .form-group
                    label.control-label(for='input-add') Дополнительная информация:
                      textarea#input-add.form-control(name='add', placeholder='Дополнительная информация')

                .form__btns
                  .btn__wrap.btn__wrap--grad
                    input.xbtn.xbtn--grad(type='submit', value='Отправить')

          li.partners__tab#partners__tab-1
            .article
              h2 Поставщикам и производителям

              p Компания Yre Prof заинтересована в расширении ассортимента товаров и открыта для установления новых деловых связей и развития стратегических отношений с поставщиками товаров и услуг. Основные критерии выбора поставщиков товаров:
              ul
                li Качество поставляемой продукции;
                li 100% выполнение заказов в планируемые сроки;
                li Работа в соответствие с законодательством РФ;
                li Проведение совместных промо акций.

              p кроме того, нам необходимы образцы вашей продукции для тестирования нашими специалистами
                br
                |  Если Вы являетесь производителем / оптовым поставщиком / официальным дистрибьютером / импортером парфюмерии, косметики или аксессуаров, или поставщиком услуг просим Вас указать следующие данные для рассмотрения коммерческого предложения:

            .partners__form#content
              form.form-horizontal(action='#', method='post')
                fieldset
                  .form-group.required
                    label.control-label(for='input-company') Название компании:
                      input#input-company.form-control(type='text', name='Company', value='', placeholder='Компания')
                  .form-group.required
                    label.control-label(for='input-shop') Месторасположение магазина или салона:
                      input#input-shop.form-control(type='text', name='shop', value='', placeholder='Адрес магазина')
                  .form-group.required
                    label.control-label(for='input-telephone') Телефон:
                      input#input-telephone.form-control(type='tel', name='telephone', value='', placeholder='+7 (___) ___-__-__')
                  .form-group.required
                    label.control-label(for='input-email') E-Mail
                      input#input-email.form-control(type='email', name='email', value='', placeholder='Ваш e-mail')
                  .form-group.required
                    label.control-label(for='input-name') Контактное лицо:
                      input#input-name.form-control(type='text', name='Name', value='', placeholder='ФИО')
                  .form-group.required
                    label.control-label(for='input-product') Название товара или услуги:
                      input#input-product.form-control(type='text', name='Product', value='', placeholder='Товар или услуга')
                  .form-group
                    label.control-label(for='input-add') Дополнительная информация:
                      textarea#input-add.form-control(name='add', placeholder='Дополнительная информация')

                .form__btns
                  .btn__wrap.btn__wrap--grad
                    input.xbtn.xbtn--grad(type='submit', value='Отправить')

  // /.scr_partners
