mixin scr_delivery()
  section.scr_delivery.delivery(id="scr_delivery")
    +breadcrumbs--delivery
    .container
      span.delivery__show Выбрать службу доставки

      h1.page-title Доставка в г. Симферополь (Республика Крым)

      .delivery__df
        aside.delivery__nav.js-delivery__nav
          ul
            li.current
              a(href="#delivery__tab-0") СДЭК
                span  7-8 рабочих дней
                b  310 Р
            li
              a(href="#delivery__tab-1") ПЭК
                span  От 9 дней*
                b  430 Р
            li
              a(href="#delivery__tab-2") Деловые линии
                span  От 6 дней*
                b  от 530 Р
            li
              a(href="#delivery__tab-3") Почта России
                span  От 3 дней*
                b  от 784 Р
            li
              a(href="#delivery__tab-4") GTD
                span  От 6 рабочих дней*
                b  280 Р

        ul.delivery__tabs
          li.delivery__tab#delivery__tab-0
            .delivery__wrap.decor-wrap
              .delivery__icon
                img(src="img/sdek.png" alt="")

              .delivery__text
                p
                  span *Не считая дня сбора, выходных и праздничных дней.
                  br
                  |  Доставка с помощью курьерской службы для частных лиц.
                  br
                  a(href="#") Что такое «СДЭК» и как получить заказ?
                  br
                  a(href="#") Бесплатное получение

              h3 Адреса офисов СДЭК


              .delivery__map#delivery__map-0

            .delivery__bottom
              .delivery__text
                p Доставка косметики осуществляется в любую точку России, а также крупные города Беларуси и Казахстана. Сроки доставки указаны при условии оформления заказов до 15-00, для заказов, принятых позже, срок доставки увеличивается на 1 день.
                  br
                  |  Для вас доступна
                  a(href="#")  бесплатная
                  |  доставка при заказе от 2500 руб. Способ доставки будет предложен при оформлении заказа.
                  br
                  |  При заказе от 5000 руб. курьерская доставка будет бесплатной. При оплате такого заказа онлайн на сайте доставка будет бесконтактной.

          li.delivery__tab#delivery__tab-1
            .delivery__wrap.decor-wrap
              .delivery__icon
                img(src="img/sdek.png" alt="")

              .delivery__text
                p
                  span *Не считая дня сбора, выходных и праздничных дней.
                  br
                  |  Доставка с помощью курьерской службы для частных лиц.
                  br
                  a(href="#") Что такое «СДЭК» и как получить заказ?
                  br
                  a(href="#") Бесплатное получение

              h3 Адреса офисов СДЭК


              .delivery__map#delivery__map-1

            .delivery__bottom
              .delivery__text
                p Доставка косметики осуществляется в любую точку России, а также крупные города Беларуси и Казахстана. Сроки доставки указаны при условии оформления заказов до 15-00, для заказов, принятых позже, срок доставки увеличивается на 1 день.
                  br
                  |  Для вас доступна
                  a(href="#")  бесплатная
                  |  доставка при заказе от 2500 руб. Способ доставки будет предложен при оформлении заказа.
                  br
                  |  При заказе от 5000 руб. курьерская доставка будет бесплатной. При оплате такого заказа онлайн на сайте доставка будет бесконтактной.

  // /.scr_delivery
