mixin scr_blog()
  section.scr_blog.blog.violet-bg(id="scr_blog")
    .container
      .blog__top
        h2.page-title Последние новости
        a.link-underlined(href="#") Все новости

      .blog__list
        .blog__col
          .blog__item
            a.blog__img.link-watch.link-watch--link(href="#")
              img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Супер акция к 8 Марта - скидка 24%!

              .blog__text
                p В календаре отмечен красным цветом, первый праздник весны и гармонии - 8 МАРТА! ...

            .blog__links
              a.link-underlined(href="#") Подробнее

        .blog__col
          .blog__item
            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Следите за красивым цветом
                  br
                  |  ногтевой пластины

              .blog__text
                p Цвет ногтевой пластины должен быть равномерным...

            .blog__links
              a.link-underlined(href="#") Подробнее

          .blog__item
            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Следите за красивым цветом
                  br
                  |  ногтевой пластины

              .blog__text
                p Цвет ногтевой пластины должен быть равномерным...

            .blog__links
              a.link-underlined(href="#") Подробнее

        .blog__col
          .blog__item
            a.blog__img.link-watch.link-watch--link(href="#")
              img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Супер акция к 8 Марта - скидка 24%!

              .blog__text
                p В календаре отмечен красным цветом, первый праздник весны и гармонии - 8 МАРТА! ...

            .blog__links
              a.link-underlined(href="#") Подробнее

  // /.scr_blog

mixin scr_blog--page()
  section.scr_blog.blog.blog--page(id="scr_blog")
    +breadcrumbs--blog

    .container
      .blog__top
        h1.page-title Полезные статьи и новости от Yre Prof

      .blog__list
        .blog__item
          a.blog__img.link-watch.link-watch--link(href="#")
            img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

          .blog__content
            a(href="#")
              h2 Больше пудры и пилингов: бьюти-привычки, которые делают хуже для омоложения ваей кожи

            .blog__text
              p Каждая женщина хочет быть красивой и ухоженной. Ежедневная рутина складывается из десятков баночек с кремами, масками и декоративной косметикой. Порой мы тратим массу денег на чудо-баночки которые по итогу не предоставляют ожидаемого нами резульатат. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры...

            time(datetime="2021-03-01") 01 марта 2021
        .blog__item
          a.blog__img.link-watch.link-watch--link(href="#")
            img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

          .blog__content
            a(href="#")
              h2 Когда все на своих местах: 9 идей по хранению разных бьюти штучек, с которыми захочется навести порядок

            .blog__text
              p Каждая женщина хочет быть красивой и ухоженной. Ежедневная рутина складывается из десятков баночек с кремами, масками и декоративной косметикой. Порой мы тратим массу денег на чудо-баночки которые по итогу не предоставляют ожидаемого нами резульатат. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры...

            time(datetime="2021-03-01") 01 марта 2021
        .blog__item
          a.blog__img.link-watch.link-watch--link(href="#")
            img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

          .blog__content
            a(href="#")
              h2 Больше пудры и пилингов: бьюти-привычки, которые делают хуже для омоложения ваей кожи

            .blog__text
              p Каждая женщина хочет быть красивой и ухоженной. Ежедневная рутина складывается из десятков баночек с кремами, масками и декоративной косметикой. Порой мы тратим массу денег на чудо-баночки которые по итогу не предоставляют ожидаемого нами резульатат. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры...

            time(datetime="2021-03-01") 01 марта 2021
        .blog__item
          a.blog__img.link-watch.link-watch--link(href="#")
            img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

          .blog__content
            a(href="#")
              h2 Больше пудры и пилингов: бьюти-привычки, которые делают хуже для омоложения ваей кожи

            .blog__text
              p Каждая женщина хочет быть красивой и ухоженной. Ежедневная рутина складывается из десятков баночек с кремами, масками и декоративной косметикой. Порой мы тратим массу денег на чудо-баночки которые по итогу не предоставляют ожидаемого нами резульатат. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры...

            time(datetime="2021-03-01") 01 марта 2021

      +paginator

  // /.scr_blog

mixin scr_blog--post()
  section.scr_blog.blog.blog--page.blog--post(id="scr_blog")
    .blog__list
      .blog__item
        a.blog__img.link-watch.link-watch--link(href="#")
          img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

        .blog__content
          .blog__content-top
            time(datetime="2021-03-01") 01 марта 2021

            span.blog__view 140

          a(href="#")
            h2 К чему могут привести постоянные прикосновения к лицу

          .blog__text
            p «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность. В течение дня мы совершаем тысячи касаний к нашему лицу и волосам не всегда чистыми руками. Вредные бактерии попадают...

        .blog__links
          a.link-underlined(href="#") Читать полностью

      .blog__item
        a.blog__img.link-watch.link-watch--link(href="#")
          img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

        .blog__content
          .blog__content-top
            time(datetime="2021-03-01") 01 марта 2021

            span.blog__view 140

          a(href="#")
            h2 К чему могут привести постоянные прикосновения к лицу

          .blog__text
            p «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность. В течение дня мы совершаем тысячи касаний к нашему лицу и волосам не всегда чистыми руками. Вредные бактерии попадают...

        .blog__links
          a.link-underlined(href="#") Читать полностью

  // /.scr_blog
