mixin scr_blog()
  section.scr_blog.blog.violet-bg(id="scr_blog")
    .container
      .blog__top
        h2.page-title Последние новости
        a.link-underlined(href="#") Все новости

      .blog__list
        .blog__col
          .blog__item
            a.blog__img.link-watch.link-watch--link(href="#")
              img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Супер акция к 8 Марта - скидка 24%!

              .blog__text
                p В календаре отмечен красным цветом, первый праздник весны и гармонии - 8 МАРТА! ...

            .blog__links
              a.link-underlined(href="#") Подробнее

        .blog__col
          .blog__item
            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Следите за красивым цветом
                  br
                  |  ногтевой пластины

              .blog__text
                p Цвет ногтевой пластины должен быть равномерным...

            .blog__links
              a.link-underlined(href="#") Подробнее

          .blog__item
            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Следите за красивым цветом
                  br
                  |  ногтевой пластины

              .blog__text
                p Цвет ногтевой пластины должен быть равномерным...

            .blog__links
              a.link-underlined(href="#") Подробнее

        .blog__col
          .blog__item
            a.blog__img.link-watch.link-watch--link(href="#")
              img(src="img-temp/blog-img.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-03-01") 01 марта 2021

              a(href="#")
                h3 Супер акция к 8 Марта - скидка 24%!

              .blog__text
                p В календаре отмечен красным цветом, первый праздник весны и гармонии - 8 МАРТА! ...

            .blog__links
              a.link-underlined(href="#") Подробнее

  // /.scr_blog
