mixin scr_delivery()
  section.scr_delivery.delivery(id="scr_delivery")
    +breadcrumbs--delivery
    .container
      span.delivery__show Выбрать службу доставки

      h1.page-title Доставка в г. Симферополь (Республика Крым)

      .delivery__df
        aside.delivery__nav.js-delivery__nav
          ul
            li.current
              a(href="#delivery__tab-0") СДЭК
                span  7-8 рабочих дней
                b  310 Р
            li
              a(href="#delivery__tab-1") ПЭК
                span  От 9 дней*
                b  430 Р
            li
              a(href="#delivery__tab-2") Деловые линии
                span  От 6 дней*
                b  от 530 Р
            li
              a(href="#delivery__tab-3") Почта России
                span  От 3 дней*
                b  от 784 Р
            li
              a(href="#delivery__tab-4") GTD
                span  От 6 рабочих дней*
                b  280 Р

        ul.delivery__tabs
          li.delivery__tab#delivery__tab-0
            .delivery__wrap.decor-wrap
              .delivery__icon
                img(src="img/sdek.png" alt="")

              .delivery__text
                p
                  span *Не считая дня сбора, выходных и праздничных дней.
                  br
                  |  Доставка с помощью курьерской службы для частных лиц.
                  br
                  a(href="#") Что такое «СДЭК» и как получить заказ?
                  br
                  a(href="#") Бесплатное получение

              h3 Адреса офисов СДЭК


              .delivery__map#delivery__map-0

            .delivery__bottom
              .delivery__text
                p Доставка косметики осуществляется в любую точку России, а также крупные города Беларуси и Казахстана. Сроки доставки указаны при условии оформления заказов до 15-00, для заказов, принятых позже, срок доставки увеличивается на 1 день.
                  br
                  |  Для вас доступна
                  a(href="#")  бесплатная
                  |  доставка при заказе от 2500 руб. Способ доставки будет предложен при оформлении заказа.
                  br
                  |  При заказе от 5000 руб. курьерская доставка будет бесплатной. При оплате такого заказа онлайн на сайте доставка будет бесконтактной.

          li.delivery__tab#delivery__tab-1
            .delivery__wrap.decor-wrap
              .delivery__icon
                img(src="img/sdek.png" alt="")

              .delivery__text
                p
                  span *Не считая дня сбора, выходных и праздничных дней.
                  br
                  |  Доставка с помощью курьерской службы для частных лиц.
                  br
                  a(href="#") Что такое «СДЭК» и как получить заказ?
                  br
                  a(href="#") Бесплатное получение

              h3 Адреса офисов СДЭК


              .delivery__map#delivery__map-1

            .delivery__bottom
              .delivery__text
                p Доставка косметики осуществляется в любую точку России, а также крупные города Беларуси и Казахстана. Сроки доставки указаны при условии оформления заказов до 15-00, для заказов, принятых позже, срок доставки увеличивается на 1 день.
                  br
                  |  Для вас доступна
                  a(href="#")  бесплатная
                  |  доставка при заказе от 2500 руб. Способ доставки будет предложен при оформлении заказа.
                  br
                  |  При заказе от 5000 руб. курьерская доставка будет бесплатной. При оплате такого заказа онлайн на сайте доставка будет бесконтактной.

  // /.scr_delivery

mixin scr_delivery--2()
  section.scr_delivery.delivery.delivery--2(id="scr_delivery")
    +breadcrumbs--delivery
    .container
      span.delivery__show Выбрать службу доставки

      h1.page-title Оплата и доставка в г. Симферополь (Республика Крым)

      .delivery__df
        aside.delivery__nav.js-delivery__nav
          ul
            li.current
              a(href="#delivery__tab-0")
                span.delivery__nav-img
                  img(src="img/sdek2.png" alt="")
                span.delivery__nav-right СДЭК
                  span  7-8 рабочих дней
                  b  310 Р
            li
              a(href="#delivery__tab-1")
                span.delivery__nav-img
                  img(src="img/pek.png" alt="")
                span.delivery__nav-right ПЭК
                  span  От 9 дней*
                  b  430 Р
            li
              a(href="#delivery__tab-2")
                span.delivery__nav-img
                  img(src="img/delovye.png" alt="")
                span.delivery__nav-right Деловые линии
                  span  От 6 дней*
                  b  от 530 Р
            li
              a(href="#delivery__tab-3")
                span.delivery__nav-img
                  img(src="img/pochta.png" alt="")
                span.delivery__nav-right Почта России
                  span  От 3 дней*
                  b  от 784 Р
            li
              a(href="#delivery__tab-4")
                span.delivery__nav-img
                  img(src="img/gtd.png" alt="")
                span.delivery__nav-right GTD
                  span  От 6 рабочих дней*
                  b  280 Р
            li
              a(href="#delivery__tab-5")
                span.delivery__nav-img
                  img(src="img/magtrans.png" alt="")
                span.delivery__nav-right MagicTrans
                  span  От 6 рабочих дней*
                  b  280 Р

        ul.delivery__tabs
          li.delivery__tab#delivery__tab-0
            .delivery__wrap.decor-wrap
              .delivery__icon
                img(src="img/sdek.png" alt="")

              .delivery__text
                p
                  span *Не считая дня сбора, выходных и праздничных дней.
                  br
                  |  Мы оказываем людям и компаниям спектр услуг своевременной и гарантированной доставки, постоянно повышая уровень сервиса, внедряя новые технологии, эффективно используя внутренний потенциал и внешние ресурсы.
                  br
                  |  За посылкой – человек. В каждом отправлении судьба, история, значимое событие для компании, человека и его близких. Именно это определяет все наши действия.
                  br
                  |  СДЭК – это МЫ. Мы любим свою работу и делаем ее хорошо. Мы помогаем и поддерживаем друг друга. От каждого из нас зависит результат. Мы любим свою работу и делаем ее хорошо. Мы помогаем и поддерживаем друг друга.
                  br
                  |  Становимся лучше. Каждый день мы получаем новые знания, находим новые идеи, возможности и решения. Внедряем их в жизнь.

          li.delivery__tab#delivery__tab-1
            .delivery__wrap.decor-wrap
              .delivery__icon
                img(src="img/pek.png" alt="")

              .delivery__text
                p
                  span *Не считая дня сбора, выходных и праздничных дней.
                  br
                  |  Мы оказываем людям и компаниям спектр услуг своевременной и гарантированной доставки, постоянно повышая уровень сервиса, внедряя новые технологии, эффективно используя внутренний потенциал и внешние ресурсы.
                  br
                  |  За посылкой – человек. В каждом отправлении судьба, история, значимое событие для компании, человека и его близких. Именно это определяет все наши действия.
                  br
                  |  СДЭК – это МЫ. Мы любим свою работу и делаем ее хорошо. Мы помогаем и поддерживаем друг друга. От каждого из нас зависит результат. Мы любим свою работу и делаем ее хорошо. Мы помогаем и поддерживаем друг друга.
                  br
                  |  Становимся лучше. Каждый день мы получаем новые знания, находим новые идеи, возможности и решения. Внедряем их в жизнь.

    .delivery__bottom
      .container
        .delivery__text
          p Доставка косметики осуществляется в любую точку России, а также крупные города Беларуси и Казахстана. Сроки доставки указаны при условии оформления заказов до 15-00, для заказов, принятых позже, срок доставки увеличивается на 1 день.
            br
            |  Для вас доступна
            a(href="#")  бесплатная
            |  доставка при заказе от 2500 руб. Способ доставки будет предложен при оформлении заказа.
            br
            |  При заказе от 5000 руб.
            b  курьерская доставка
            |  будет
            b  бесплатной.
            |  При оплате такого заказа онлайн на сайте доставка будет
            b  бесконтактной.

  // /.scr_delivery
