mixin scr_post()
  section.scr_post.post(id="scr_post")
    h1.post__title Больше пудры и пилингов: бьюти-привычи, которые делают хуже

    .post__img
      img(src="img/post-img.jpg" alt="" data-object-fit-cover)

    .post__content
      time(datetime="2021-03-25") 25 марта 2021

      .article.clearfix
        h2 Постоянные прикосновения к лицу
        p «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность. В течение дня мы совершаем тысячи касаний к нашему лицу и волосам не всегда чистыми руками. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры.

        p Лучше вообще не трогать лицо в течение дня, а перед нанесением и снятием макияжа тщательно мыть руки. Еще одна распространенная привычка - подпирать лицо руками. Если не хотите обзавестись дополнительными морщинами, срочно начинайте контролировать свои телодвижения.

        h3 Ошибки в умывании:

        p «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность. В течение дня мы совершаем тысячи касаний к нашему лицу и волосам не всегда чистыми руками. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры.
        p Лучше вообще не трогать лицо в течение дня, а перед нанесением и снятием макияжа тщательно мыть руки. Еще одна распространенная привычка - подпирать лицо руками. Если не хотите обзавестись дополнительными морщинами, срочно начинайте контролировать свои телодвижения.

        h3 Правила которые стоит соблюдать:

        ul
          li «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность.
          li Нет, нет и еще раз нет. Ваша кожа не станет чище, мягче и ровнее, если каждый день подвергать ее агрессивному.
          li «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность.
          li Нет, нет и еще раз нет. Ваша кожа не станет чище, мягче и ровнее, если каждый день подвергать ее агрессивному.

        h2 Постоянные прикосновения к лицу

        p «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность. В течение дня мы совершаем тысячи касаний к нашему лицу и волосам не всегда чистыми руками. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры.

        ol
          li «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность.
          li Нет, нет и еще раз нет. Ваша кожа не станет чище, мягче и ровнее, если каждый день подвергать ее агрессивному.
          li «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность.
          li Нет, нет и еще раз нет. Ваша кожа не станет чище, мягче и ровнее, если каждый день подвергать ее агрессивному.

        p «Не трогайте лицо руками», - фраза, которая в последнее время приобрела особую популярность. В течение дня мы совершаем тысячи касаний к нашему лицу и волосам не всегда чистыми руками. Вредные бактерии попадают на кожу и устраивают там настоящую вечеринку, провоцируя высыпания и закупоривая поры.

  // /.scr_post
