mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    +breadcrumbs--certs
    .container
      .certs__wrap
        ul.tabs-nav.js-tabs-nav
          li.current
            a(href="#certs__tab-0") Подарочные карты
          li
            a(href="#certs__tab-1") Оплата и доставка
          li
            a(href="#certs__tab-2") Условия возврата и обмена

        ul.certs__tabs
          li.certs__tab#certs__tab-0
            h2.page-title Подарочные карты

            .certs__df
              .certs__cards
                .certs__cards-item
                  img(src="img-temp/card-1.jpg" alt="")
                .certs__cards-item
                  img(src="img-temp/card-2.jpg" alt="")

              .certs__content
                h3 Дисконтная карта

                p 2.1. Условиями получения Клубной Дисконтной карты является совершение покупателем - физическим лицом (далее – Владелец Дисконтной карты) единоразовой покупки на любую сумму в любом магазине сети парфюмерии и косметики «ИЛЬ ДЕ БОТЭ» и обязательное заполнение анкеты, прилагаемой в качестве Приложения 1 к настоящему Положению (далее – Анкета).
                p Условиями получения VIP Дисконтной карты ИЛЬ ДЕ БОТЭ является накопление на Клубной Дисконтной карте суммы покупок свыше 50 000 рублей и заполнение Анкеты, совершение разовой покупки товара на сумму свыше 50 000 руб. после скидок или совершение разовой покупки Дебетовых подарочных карт ИЛЬ ДЕ БОТЭ на сумму свыше 50 000 рублей.
                p
                  b Условиями оформления Виртуальной Дисконтной карты являются:
                ul
                  li карта с начальной скидкой 10% - любая покупка в online-магазине или мобильном приложении ИЛЬ ДЕ БОТЭ,
                  li карта с начальной скидкой до 20% - участие в партнерской программе ИЛЬ ДЕ БОТЭ, в рамках которой участник программы получает и хранит карту в мобильном приложении.
                p 2.2. Для получения Дисконтной карты покупатель обязан заполнить Анкету (в случае получения Виртуальной Дисконтной карты в online-магазине или мобильном приложении ИЛЬ ДЕ БОТЭ – электронную анкету, в случае получения Виртуальной Дисконтной карты в рамках участия в партнерской программе – анкету, предусмотренную партнером), и расписаться в ней, (за исключением Виртуальной Дисконтной карты, где покупатель должен пройти процедуру регистрации, заполнив все обязательные поля электронной регистрационной формы, завершив нажатием кнопки «зарегистрироваться»), что означает согласие покупателя с настоящим.
                p
                  b В Анкете покупатель указывает следующие сведения:
                p полное имя: фамилия, имя, отчество. Полное имя должно соответствовать имени в документе, удостоверяющем личность. Данное поле является обязательным для заполнения.


            .certs__bottom
              h3.certs__title Подарочные сертификаты

              .certs__cont
                .certs__slider#certs__slider
                  .swiper-wrapper
                    .swiper-slide
                      .certs__item
                        .certs__img
                          img(src="img-temp/certs/img-1.jpg" alt="")

                        .certs__item-content
                          h3 Подарочный сертификат на 1 500р.
                          .certs__item-text
                            p Подарочный сертификат является документом, подтверждающим обязательство организации передать предъявителю его товар на сумму, эквивалентную номиналу сертификата. Другими словами, покупая сертификат, заключается договор купли-продажи.
                    .swiper-slide
                      .certs__item
                        .certs__img
                          img(src="img-temp/certs/img-2.jpg" alt="")

                        .certs__item-content
                          h3 Подарочный сертификат на 3 000р.
                          .certs__item-text
                            p Подарочный сертификат является документом, подтверждающим обязательство организации передать предъявителю его товар на сумму, эквивалентную номиналу сертификата. Другими словами, покупая сертификат, заключается договор купли-продажи.
                    .swiper-slide
                      .certs__item
                        .certs__img
                          img(src="img-temp/certs/img-3.jpg" alt="")

                        .certs__item-content
                          h3 Подарочный сертификат на 5 000р.
                          .certs__item-text
                            p Подарочный сертификат является документом, подтверждающим обязательство организации передать предъявителю его товар на сумму, эквивалентную номиналу сертификата. Другими словами, покупая сертификат, заключается договор купли-продажи.

                .certs__slider-btns
                  .swiper-dots

  // /.scr_certs
