mixin scr_jobs()
  section.scr_jobs.jobs(id="scr_jobs")
    +breadcrumbs--jobs

    .container
      h1.page-title Вакансии в Yre Prof

      .jobs__df
        .jobs__col
          ul.faq__list
            li.faq__item
              .top
                h2 Продавец-кассир
                button.open
                  svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='12', cy='12', r='11', stroke-width='2')
                    rect(x='6', y='11', width='12', height='2')
                    rect(x='11', y='18', width='12', height='2', transform='rotate(-90 11 18)')

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .faq__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Откликнуться на вакансию')

                    .form__item
                      span.wpcf7-form-control-wrap.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.link-underlined Прикрепить резюме

            li.faq__item
              .top
                h2 Мерчендайзер
                button.open
                  svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='12', cy='12', r='11', stroke-width='2')
                    rect(x='6', y='11', width='12', height='2')
                    rect(x='11', y='18', width='12', height='2', transform='rotate(-90 11 18)')

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .faq__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Откликнуться на вакансию')

                    .form__item
                      span.wpcf7-form-control-wrap.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.link-underlined Прикрепить резюме

        .jobs__col
          ul.faq__list
            li.faq__item
              .top
                h2 Администратор магазина
                button.open
                  svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='12', cy='12', r='11', stroke-width='2')
                    rect(x='6', y='11', width='12', height='2')
                    rect(x='11', y='18', width='12', height='2', transform='rotate(-90 11 18)')

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .faq__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Откликнуться на вакансию')

                    .form__item
                      span.wpcf7-form-control-wrap.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.link-underlined Прикрепить резюме

            li.faq__item
              .top
                h2 Главный продавец
                button.open
                  svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='12', cy='12', r='11', stroke-width='2')
                    rect(x='6', y='11', width='12', height='2')
                    rect(x='11', y='18', width='12', height='2', transform='rotate(-90 11 18)')

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .faq__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Откликнуться на вакансию')

                    .form__item
                      span.wpcf7-form-control-wrap.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.link-underlined Прикрепить резюме

  // /.scr_jobs
