mixin scr_secrets()
  section.scr_secrets.secrets(id="scr_secrets")
    .container
      h2.page-title Секреты мастера

      .secrets__wrap
        .secrets__slider#secrets__slider
          .swiper-wrapper
            .swiper-slide
              .secrets__item
                a.secrets__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  span.secrets__video-img
                    img(src="img-temp/secrets/img-1.jpg" alt="" data-object-fit-cover)
                  span.secrets__video-circle

                .secrets__content
                  h3 Рейтинг ТОП 10 лучших румян

                  .secrets__text
                    p Несмотря на то, что в моду давно и прочно вошла аристократическая бледность, румяна остаются важной в ...

                .secrets__links
                  a.link-underlined(href="#") Подробнее
            .swiper-slide
              .secrets__item
                a.secrets__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  span.secrets__video-img
                    img(src="img-temp/secrets/img-2.jpg" alt="" data-object-fit-cover)
                  span.secrets__video-circle

                .secrets__content
                  h3 Рейтинг ТОП 10 лучших гель-лаков
                    br
                    |  в 2021 году

                  .secrets__text
                    p Гель-лак – это стойкость геля и яркость цветного лака в одном флаконе. С тех пор как американская компания ...

                .secrets__links
                  a.link-underlined(href="#") Подробнее
            .swiper-slide
              .secrets__item
                a.secrets__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  span.secrets__video-img
                    img(src="img-temp/secrets/img-3.jpg" alt="" data-object-fit-cover)
                  span.secrets__video-circle

                .secrets__content
                  h3 Levrana: честно, натурально,
                    br
                    |  эффективно

                  .secrets__text
                    p Бренд Levrana создан в 2014 году семейной парой из Санкт-Петербурга. Компания отказалась от синтетических ...

                .secrets__links
                  a.link-underlined(href="#") Подробнее

        .secrets__slider-btns
          .swiper-dots

  // /.scr_secrets

mixin scr_secrets--page()
  section.scr_secrets.secrets.secrets--page(id="scr_secrets")
    +breadcrumbs--secrets
    .container
      .secrets__cont
        h2.page-title Секреты мастера

        .secrets__wrap
          .secrets__slider#secrets__slider
            .swiper-wrapper
              .swiper-slide
                .secrets__item
                  a.secrets__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                    span.secrets__video-img
                      img(src="img-temp/secrets/img-1.jpg" alt="" data-object-fit-cover)
                    span.secrets__video-circle

                  .secrets__content
                    h3 Рейтинг ТОП 10 лучших румян

                    .secrets__text
                      p Несмотря на то, что в моду давно и прочно вошла аристократическая бледность, румяна остаются важной в ...

                  .secrets__links
                    a.link-underlined(href="#") Подробнее
              .swiper-slide
                .secrets__item
                  a.secrets__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                    span.secrets__video-img
                      img(src="img-temp/secrets/img-2.jpg" alt="" data-object-fit-cover)
                    span.secrets__video-circle

                  .secrets__content
                    h3 Рейтинг ТОП 10 лучших гель-лаков
                      br
                      |  в 2021 году

                    .secrets__text
                      p Гель-лак – это стойкость геля и яркость цветного лака в одном флаконе. С тех пор как американская компания ...

                  .secrets__links
                    a.link-underlined(href="#") Подробнее
              .swiper-slide
                .secrets__item
                  a.secrets__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                    span.secrets__video-img
                      img(src="img-temp/secrets/img-3.jpg" alt="" data-object-fit-cover)
                    span.secrets__video-circle

                  .secrets__content
                    h3 Levrana: честно, натурально,
                      br
                      |  эффективно

                    .secrets__text
                      p Бренд Levrana создан в 2014 году семейной парой из Санкт-Петербурга. Компания отказалась от синтетических ...

                  .secrets__links
                    a.link-underlined(href="#") Подробнее

          .secrets__slider-btns
            .swiper-dots

  // /.scr_secrets
