mixin scr_dayprod()
  section.scr_dayprod.dayprod(id="scr_prod-day")
    .container
      h2.page-title Товар дня

      .dayprod__df
        a.dayprod__img(href="#")
          .prod__top
            span.prod__label.prod__label--action Акция

          img(src="img-temp/dayprod-img.jpg" alt="" data-object-fit-contain)

        .dayprod__content
          span.dayprod__article
            b артикул:
            |  ym-360b

          h3.dayprod__title Масляные капсулы для лица Oriflame NovAge Nutri6

          .dayprod__text
            p Коктейль из шести натуральных масел: кунжута, авокадо, персиковой косточки, лимнантеса, черной смородины и бобов сои — богат жирными кислотами, липидами, антиоксидантами, витаминами и минералами. Глубоко питают, восстанавливают и защищают усталую и тусклую кожу, возвращая здоровое сияние.

          .dayprod__content-df
            .dayprod__clock
              p До конца акции:
              #countdown

            .dayprod__prices
              span.dayprod__price--old 2 700 Р
              span.dayprod__price--new
                span 1920 Р
                span.dayprod__price--sale -10%
              span.dayprod__price--economy Экономия 340 Р

              .btn__wrap.btn__wrap--grad
                a.xbtn.xbtn--grad(href="#") в корзину

  // /.scr_prod-day
