mixin scr_prod()
  section.scr_prod.prod.prod--top(id="scr_prod")
    .container
      .prod__cont
        ul.tabs-nav.js-tabs-nav
          li.current
            a(href="#prod__tab-top-0") Новинки
          li
            a(href="#prod__tab-top-1") Хит продаж
          li
            a(href="#prod__tab-top-2") Рекомендуем

        ul.prod__tabs

          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-top и номера таба
          li.prod__tab#prod__tab-top-0
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-top и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-top-0
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")


          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-top и номера таба
          li.prod__tab#prod__tab-top-1
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-top и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-top-1
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                        .prod__bottom-buy
                          .btn__wrap.btn__wrap--violet
                            a.xbtn.xbtn--violet(href="#") Купить в один клик


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")



  // /.scr_prod

mixin scr_prod--prof()
  section.scr_prod.prod.prod--prof(id="scr_prod-prof")
    .container
      h2.page-title Самые покупаемые товары для бьюти профессионалов

      .prod__cont
        ul.tabs-nav.js-tabs-nav
          li.current
            a(href="#prod__tab-prof-0") Косметолог
          li
            a(href="#prod__tab-prof-1") Nail мастер
          li
            a(href="#prod__tab-prof-2") Рекомендуем
          li
            a(href="#prod__tab-prof-3") Барбер
          li
            a(href="#prod__tab-prof-4") Стилист
          li
            a(href="#prod__tab-prof-5") Парфюмер

        ul.prod__tabs

          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-prof и номера таба
          li.prod__tab#prod__tab-prof-0
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-prof и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-prof-0
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")


          //. Табы в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__tab-prof и номера таба
          li.prod__tab#prod__tab-prof-1
            .prod__wrap

              //. Слайдеры в разных секцкиях с товарами (scr_prod) имеют разные ID, в данной ID состоит из prod__slider-prof и номера таба, в котором находится слайдер
              .prod__slider#prod__slider-prof-1
                .swiper-wrapper
                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину

                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--action Акция

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--new Новинка

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


                  .swiper-slide
                    .prod__item
                      .prod__top
                        span.prod__label.prod__label--hit Хит

                        .prod__btns
                          button.prod__btn.prod__btn--like(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#heart")
                          button.prod__btn(type="button")
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#compare")

                      a.prod__img(href="#")
                        img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                      .prod__content
                        p.prod__brand FarmStay
                        a(href="#")
                          h3.prod__title Маска для лица с коллагеном,
                            br
                            |  23 мл

                        .prod__prices
                          span.prod__price--old 60 Р
                          span.prod__price--new 55 Р

                      .prod__bottom
                        .prod__bottom-df
                          .prod__quant
                            .quantity
                              button.quantity-arrow.quantity-arrow-minus(type='button') –
                              input.quantity-num(type='number', value='1')
                              button.quantity-arrow.quantity-arrow-plus(type='button') +

                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad(href="#") в корзину


              .prod__slider-btns.swiper-btns
                button.swiper-button-prev(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                .swiper-dots
                button.swiper-button-next(type="button")
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")



  // /.scr_prod

mixin scr_prod--hit()
  section.scr_prod.prod.prod--hit(id="scr_prod-hit-1")
    .container
      h2.page-title Хит продаж

      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider-hit
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod

mixin scr_prod--hit2()
  section.scr_prod.prod.prod--hit(id="scr_prod-hit-2")
    .container
      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider-hit-2
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod

mixin scr_prod--sale()
  section.scr_prod.prod.prod--sale(id="scr_prod-sale")
    .container
      h2.page-title Распродажа

      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider-sale
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod

mixin scr_prod--prod-item()
  section.scr_prod.prod.prod--top.prod--prod-item(id="scr_prod")
    .container
      h2.page-title Распродажа
      .prod__cont
        .prod__wrap
          .prod__slider#prod__slider
            .swiper-wrapper
              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--action Акция

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--new Новинка

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


              .swiper-slide
                .prod__item
                  .prod__top
                    span.prod__label.prod__label--hit Хит

                    .prod__btns
                      button.prod__btn.prod__btn--like(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#heart")
                      button.prod__btn(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#compare")

                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-4.jpg" alt="" data-object-fit-contain)

                  .prod__content
                    p.prod__brand FarmStay
                    a(href="#")
                      h3.prod__title Маска для лица с коллагеном,
                        br
                        |  23 мл

                    .prod__prices
                      span.prod__price--old 60 Р
                      span.prod__price--new 55 Р

                  .prod__bottom
                    .prod__bottom-df
                      .prod__quant
                        .quantity
                          button.quantity-arrow.quantity-arrow-minus(type='button') –
                          input.quantity-num(type='number', value='1')
                          button.quantity-arrow.quantity-arrow-plus(type='button') +

                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad(href="#") в корзину

                    .prod__bottom-buy
                      .btn__wrap.btn__wrap--violet
                        a.xbtn.xbtn--violet(href="#") Купить в один клик


          .prod__slider-btns.swiper-btns
            button.swiper-button-prev(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            .swiper-dots
            button.swiper-button-next(type="button")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")


  // /.scr_prod

mixin scr_prod--page()
  section.scr_prod.prod.prod--page(id="scr_prod-prof")
    +breadcrumbs--catalog
    .container
      span.prod__show Показать меню

      h1.page-title Декоративная космеика в Yre

      .prod__df
        aside.prod__nav
          ul.menu
            li.menu-item
              a(href="#") Декоративная косметика
            li.menu-item
              a(href="#") Косметика HUDA BEAUTY
            li.menu-item.menu-item-has-children
              a(href="#") Косметика Farres
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
                  li.menu-item
                    a(href="#") Кисти для макияжа Farres
            li.menu-item
              a(href="#") Оборудование для салонов красоты, запчасти
            li.menu-item
              a(href="#") Чемоданы мастера, маникюрные сумки, косметички
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
            li.menu-item
              a(href="#") Ногти
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
            li.menu-item
              a(href="#") Косметология
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
            li.menu-item
              a(href="#") Парикмахерам
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
            li.menu-item
              a(href="#") Электрооборудование
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
            li.menu-item
              a(href="#") Парфюмерия
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
            li.menu-item
              a(href="#") Тара, полочки, подставки
                span.arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              .sub-menu-wrap
                ul.sub-menu
                  li.menu-item
                    a(href="#") Для глаз
                  li.menu-item
                    a(href="#") Для губ
                  li.menu-item
                    a(href="#") Для лица
                  li.menu-item
                    a(href="#") Для ногтей
            li.menu-item
              a(href="#") Одноразовое

        .prod__main
          .prod__sort
            .prod__sort-btns
              button.prod__sort-btn.active(type="button")
                svg(class="icon" width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                  g.prod-sort-g(clip-path='url(#clip0)')
                    path(d='M3.75 0H0.75C0.336 0 0 0.336 0 0.75V3.75C0 4.164 0.336 4.5 0.75 4.5H3.75C4.164 4.5 4.5 4.164 4.5 3.75V0.75C4.5 0.336 4.164 0 3.75 0Z')
                    path(d='M3.75 6.75H0.75C0.336 6.75 0 7.086 0 7.5V10.5C0 10.914 0.336 11.25 0.75 11.25H3.75C4.164 11.25 4.5 10.914 4.5 10.5V7.5C4.5 7.086 4.164 6.75 3.75 6.75Z')
                    path(d='M3.75 13.5H0.75C0.336 13.5 0 13.836 0 14.25V17.25C0 17.664 0.336 18 0.75 18H3.75C4.164 18 4.5 17.664 4.5 17.25V14.25C4.5 13.836 4.164 13.5 3.75 13.5Z')
                    path(d='M10.5 0H7.5C7.086 0 6.75 0.336 6.75 0.75V3.75C6.75 4.164 7.086 4.5 7.5 4.5H10.5C10.914 4.5 11.25 4.164 11.25 3.75V0.75C11.25 0.336 10.914 0 10.5 0Z')
                    path(d='M10.5 6.75H7.5C7.086 6.75 6.75 7.086 6.75 7.5V10.5C6.75 10.914 7.086 11.25 7.5 11.25H10.5C10.914 11.25 11.25 10.914 11.25 10.5V7.5C11.25 7.086 10.914 6.75 10.5 6.75Z')
                    path(d='M10.5 13.5H7.5C7.086 13.5 6.75 13.836 6.75 14.25V17.25C6.75 17.664 7.086 18 7.5 18H10.5C10.914 18 11.25 17.664 11.25 17.25V14.25C11.25 13.836 10.914 13.5 10.5 13.5Z')
                    path(d='M17.25 0H14.25C13.836 0 13.5 0.336 13.5 0.75V3.75C13.5 4.164 13.836 4.5 14.25 4.5H17.25C17.664 4.5 18 4.164 18 3.75V0.75C18 0.336 17.664 0 17.25 0Z')
                    path(d='M17.25 6.75H14.25C13.836 6.75 13.5 7.086 13.5 7.5V10.5C13.5 10.914 13.836 11.25 14.25 11.25H17.25C17.664 11.25 18 10.914 18 10.5V7.5C18 7.086 17.664 6.75 17.25 6.75Z')
                    path(d='M17.25 13.5H14.25C13.836 13.5 13.5 13.836 13.5 14.25V17.25C13.5 17.664 13.836 18 14.25 18H17.25C17.664 18 18 17.664 18 17.25V14.25C18 13.836 17.664 13.5 17.25 13.5Z')
                  defs
                    clippath#clip0
                      rect(width='18', height='18', fill='white')

              button.prod__sort-btn(type="button")
                svg(class="icon" width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                  g.prod-sort-g(clip-path='url(#clip1)')
                    rect(width='18', height='18', fill='white')
                    path(d='M3.75 0H0.75C0.336 0 0 0.336 0 0.75V3.75C0 4.164 0.336 4.5 0.75 4.5H3.75C4.164 4.5 4.5 4.164 4.5 3.75V0.75C4.5 0.336 4.164 0 3.75 0Z')
                    path(d='M17.25 0H6.75C6.336 0 6 0.336 6 0.75V3.75C6 4.164 6.336 4.5 6.75 4.5H17.25C17.664 4.5 18 4.164 18 3.75V0.75C18 0.336 17.664 0 17.25 0Z')
                    path(d='M3.75 6.75H0.75C0.336 6.75 0 7.086 0 7.5V10.5C0 10.914 0.336 11.25 0.75 11.25H3.75C4.164 11.25 4.5 10.914 4.5 10.5V7.5C4.5 7.086 4.164 6.75 3.75 6.75Z')
                    path(d='M17.25 6.75H6.75C6.336 6.75 6 7.086 6 7.5V10.5C6 10.914 6.336 11.25 6.75 11.25H17.25C17.664 11.25 18 10.914 18 10.5V7.5C18 7.086 17.664 6.75 17.25 6.75Z')
                    path(d='M3.75 13.5H0.75C0.336 13.5 0 13.836 0 14.25V17.25C0 17.664 0.336 18 0.75 18H3.75C4.164 18 4.5 17.664 4.5 17.25V14.25C4.5 13.836 4.164 13.5 3.75 13.5Z')
                    path(d='M17.25 13.5H6.75C6.336 13.5 6 13.836 6 14.25V17.25C6 17.664 6.336 18 6.75 18H17.25C17.664 18 18 17.664 18 17.25V14.25C18 13.836 17.664 13.5 17.25 13.5Z')
                  defs
                    clippath#clip1
                      rect(width='18', height='18', fill='white')

              button.prod__sort-btn(type="button")
                svg(class="icon" width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                  g.prod-sort-g
                    rect(width='18', height='4.13549', rx='1')
                    rect(y='6.61679', width='18', height='4.13554', rx='1')
                    rect(y='13.2336', width='18', height='4.13552', rx='1')

            .prod__sort-select
              span.prod__sort-title Сортировать:
              select
                option(value="По умолчанию") По умолчанию
                option(value="Цена по возрастанию") Цена по возрастанию
                option(value="Цена по убыванию") Цена по убыванию

            .prod__sort-select.prod__sort-select--count
              span.prod__sort-title Показывать:
              select
                option(value="12") 12
                option(value="24") 24
                option(value="36") 36

          ul.prod__list
            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#compare")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-contain)

                .prod__content
                  p.prod__brand FarmStay
                  a(href="#")
                    h3.prod__title Маска для лица с коллагеном,
                      br
                      |  23 мл

                  .prod__prices
                    span.prod__price--old 60 Р
                    span.prod__price--new 55 Р

                .prod__bottom
                  .prod__bottom-df
                    .prod__quant
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') –
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .btn__wrap.btn__wrap--grad
                      a.xbtn.xbtn--grad(href="#") в корзину

          .prod__more-wrap
            button.prod__more(type="button") Показать еще

          +paginator

    .prod__add
      .container
        .prod__main
          .prod__text
            p
              b В данной категории
              |  представлен для вас лучший ассортимент палеток теней и консилеров. Прекрасные многообразные наборы, с огромным количеством расцветок и тонов, порадуют каждого визажиста, стилиста и просто женщину!
            p Отличный выбор если вы вдруг решите сделать подарок. Думаю именинник оценит нашу продукцию и сам приедет к нам, чтоб выбрать еще что-нибудь "этакое" на свой вкус.
              b  Думаю именинник
              |  оценит нашу продукцию и сам приедет к нам, чтоб выбрать еще что-нибудь "этакое" на свой вкус.
            p Тени представлены в удобных наборах, с зеркалом и без него. По количеству оттенков тоже можно найти именно свой вариант для работы , либо домашнего пользования. По количеству оттенков тоже можно найти именно свой вариант для работы , либо домашнего пользования.
            p Приобретайте в нашем магазине декоративную косметику, прекрасные наборы для профессиональной "мастерской красоты". Лучшее качество и удобство использования, вот главные преимущества наших товаров!

  // /.scr_prod
