mixin footer(logotype)
  footer.footer(id="footer")
    .footer__top
      .container
        ul.menu
          li.menu-item
            a.inner-link(href="#scr_serv") Какие проблемы решаю
          li.menu-item
            a.inner-link(href="#scr_about") Обо мне
          li.menu-item
            a.inner-link(href="#scr_procedures") Услуги
          li.menu-item
            a.inner-link(href="#scr_cases") Кейсы
          li.menu-item
            a.inner-link(href="#scr_reviews") Отзывы
          li.menu-item
            a.inner-link(href="#scr_contacts") Контакты

      // /.container
    // /.footer__top

    .footer__bottom
      .container
        p имеются противопоказания. проконсультируйтесь со специалистом

      // /.container
    // /.footer__bottom
  // /.footer

