mixin footer(logotype)
  footer.footer(id="footer")
    .footer__top
      .container
        ul.menu
          li.menu-item
            a(href="#") Какие проблемы решаю
          li.menu-item
            a(href="#") Обо мне
          li.menu-item
            a(href="#") Услуги
          li.menu-item
            a(href="#") Кейсы
          li.menu-item
            a(href="#") Отзывы
          li.menu-item
            a(href="#") Контакты

      // /.container
    // /.footer__top

    .footer__bottom
      .container
        p имеются противопоказания. проконсультируйтесь со специалистом

      // /.container
    // /.footer__bottom
  // /.footer

