mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        h1.scr1__title Знаю как сохранить
          br
          |  вашу молодость
          br
          |  и красоту

        .scr1__desc
          p Благодаря опыту
            strong  более 15 лет,
            |  непрерывному
            br
            |  обучению и своим собственным методикам

        .btn__wrap
          a.btn.btn--general.btn--pink(href="#") Записаться на прием

        .scr1__quote
          blockquote
            p Моя основная миссия - делать людей более
              br
              |  здоровыми и красивыми

            cite Анна Даль


  // /.scr1
