mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        .scr1__img
          noscript
            img.lazy(src="img/scr1-img.png" alt="" width="125" height="90" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-img.png" alt="" width="125" height="90" data-object-fit-contain)


        h1.scr1__title Знаю как сохранить
          br
          |  вашу молодость
          br
          |  и красоту

        .scr1__desc
          p Благодаря опыту
            strong  более 15 лет,
            |  непрерывному
            br
            |  обучению и своим собственным методикам

        .btn__wrap
          a.btn.btn--general.btn--pink.open-modal(href="#modal__signup") Записаться на прием

        .scr1__quote
          blockquote
            p Моя основная миссия - делать людей более
              br
              |  здоровыми и красивыми

            cite Анна Даль


  // /.scr1
