mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__inner
        .about__wrap.decor-wrap
          .about__img
            noscript
              img.lazy(src="img/about-img.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/about-img.jpg" alt="" width="125" height="90")

          .about__video
            a.about__video-play.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")

          .about__content
            h2.title Раскрою вашу природную красоту и покажу путь к совершенству

            .about__content-wrap
              .article
                p Я врач-дерматовенеролог, косметолог, трихолог, специалист по инъекционным методикам, объемно-контурной пластике лица, занимаюсь проблемами кожи, возрастными изменениями, лечением волос и кожи головы. Владею последними разработками и методиками омоложения кожи.

                p Так как являюсь врачем функциональной диагностики, всегда использую комплексный подход в работе, рассматривая организм в целом. Ведь прежде всего нужно выявить причину тех или иных проявлений и скорректировать состояние здоровья, а потом уже лечить наружными методами.

                p Я люблю свою работу и получаю огромное удовольствие, когда вижу реальные результаты и ваши счастливые лица!

                p Есть составляющая, без которой просто невозможна работа в этой сфере - саморазвитие, я постоянно посещаю конгрессы в России и за рубежом для повышения квалификации по дерматологии и косметологии.

                p Моя основная миссия - делать людей более здоровыми и красивыми

              .about__btns
                .btn__wrap
                  a.btn.btn--transparent(href="#") Задать вопрос

                .btn__wrap
                  a.btn.btn--pink.btn--general(href="#") Записаться на прием


  // /.scr_about
