mixin scr_procedures()
  section.scr_procedures.procedures(id="scr_procedures")
    .container
      .procedures__inner

      h2.title Комплекс современных процедур
        br
        |  для поддержания эффектной внешности
        br
        |  и здоровья кожи

      ul.procedures__list
        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title Тредлифтинг

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный текст, большого деревни вопроса лучше подпоясал наш взгляд путь.

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title Rediess

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title
              small Биоревитализация, биорепарация

            .procedures__hidden
              p  Процедура разглаживает мелкие морщины, корректирует контуры лица, значительно улучшает цвет и эластичность кожи, повышает ее упругость,

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title Aesthefill

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title PRP-Плазма RegenLab

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title СО2 лазер

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title Ботулотоксины

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title Любые виды пилингов

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране

        li.procedures__item
          .procedures__img
            noscript
              img.lazy(src="img-temp/services/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .procedures__content
            h3.procedures__title Плазмогель

            .procedures__hidden
              p  Далеко-далеко за словесными горами в стране

        li.procedures__item
          .procedures__last
            p Получите
              br
              |  «Гид по самостоя-
              br
              |  тельному
              br
              |  определению
              br
              |  типу кожи и уходу"




  // /.scr_procedures
