mixin scr_nums()
  section.scr_nums.nums(id="scr_nums")
    .container
      .nums__wrap
        ul.nums__list
          li.nums__item
            .nums__num-wrap
              span.nums__num 15

            .nums__desc
              p лет врачебного стажа


          li.nums__item
            .nums__num-wrap
              span.nums__num 25
              i &gt;

            .nums__desc
              p видов процедур


          li.nums__item
            .nums__num-wrap
              span.nums__num 20
              i &gt;

            .nums__desc
              p конгрессов и конференций
                br
                |  посетила

          li.nums__item
            .nums__num-wrap
              i ~
              span.nums__num 1000

            .nums__desc
              p довольных пациентов в год



  // /.scr_nums
