mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      h2.title Полюбите свое отражение в зеркале

      ul.serv__list
        li.serv__item
          h3 Безоперационное омоложение

          .serv__content
            .article
              p Под воздействием возрастных изменений и внешних негативных факторов кожа  постепенно увядает, теряет свою эластичность и появляются мелкие морщинки.

              p Обратившись ко мне, мы сможем:
              ul
                li Заметно разгладить морщины
                li Подтянуть кожу
                li Замедлить процессы старения
                li Улучшить эластичность кожи
                li Удалить сосудистые поражения

          .serv__btns
            .btn__wrap
              a.btn.btn--green.btn--general.open-modal(href="#") Записаться на прием

        li.serv__item
          h3 Лечение акне

          .serv__content
            .article
              p Вы тщательно следите за собой, применяете дорогостоящие косметический средства, но ваша кожа не выглядит идеально?

              ul
                li Угревая сыпь
                li Жирная и пористая кожа
                li Загрязненные и расширенные поры
                li Закрытые и открытые камедоны

          .serv__btns
            .btn__wrap
              a.btn.btn--green.btn--general.open-modal(href="#") Записаться на прием

        li.serv__item
          h3 Оздоровление волос

          .serv__content
            .article
              p Постоянные стрессы, сбои в работе организма, возрастные изменения и еще множество факторов приводят ухудшению внешнего вида волос.

              ul
                li Волосы выпадают сильнее, чем обычно пряди становятся  ломкими, сухими
                li Замедляется рост волос
                li Перхоть
                li Рано появляется седина

              p Чтобы устранить эти проблемы необходимо провести диагностику, выяснить причины и провести лечение.

          .serv__btns
            .btn__wrap
              a.btn.btn--green.btn--general.open-modal(href="#") Записаться на прием


  // /.scr_serv
