mixin scr_education()
  section.scr_education.education(id="scr_education")
    .container

      .education__wrap
        h3 Образование:

        p В 2005 году окончила Крымский государственный медицинский университет им С.И. Георгиевского, лечебный факультет.

        p Проходила Интернатуру по специализации «Врач дерматовенеролог» на кафедре кожных и венерических болезней КГМУ им С.И. Георгиевского с 2005 по 2006 год.

        p В 2015 году – профессиональная переподготовка по специальности «Косметология» (576 часов) на базе ФГБУ «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения Российской Федерации.

        h3 Повышение квалификации:

        p В период с 2006 по 2019 год,  обучалась на многочисленных курсах и тренингах, посещала Российские и международные конференции:

        p Обучение по дерматокосметологии на базе ДГМУа - полный практический курс по эстетичечкой мезотерапии (Mesofarm, Москва);

        p Полный теоретический и практический курс по применению препарата «Диспорт», (ботулинический токсин типа А, Ipsen, Киев).

        p Обучение по объемно-контурной пластике лица с использованием наполнителей «Juvederm», «Surjiderm».Москва

        h3 Повышение квалификации:

        p В период с 2006 по 2019 год,  обучалась на многочисленных курсах и тренингах, посещала Российские и международные конференции:

        p Обучение по дерматокосметологии на базе ДГМУа - полный практический курс по эстетичечкой мезотерапии (Mesofarm, Москва);

        p Полный теоретический и практический курс по применению препарата «Диспорт», (ботулинический токсин типа А, Ipsen, Киев).

        p Обучение по объемно-контурной пластике лица с использованием наполнителей «Juvederm», «Surjiderm».Москва

      .education__btns
        button.show-more
          span Читать дальше



  // /.scr_education
