mixin scr_cases()
  section.scr_cases.cases(id="scr_cases")
    .container
      h2.title Более 15 000 людей
        br
        |  стали более здоровыми и красивыми

      .cases__wrap.decor-wrap
        .cases__cont
          .cases__top
            p.cases__label До процедуры
            p.cases__label После процедуры

          .cases__slider-wrap
            .cases__slider#cases__slider
              .swiper-wrapper
                .cases__slide.swiper-slide
                  .cases__item
                    .cases__imgs
                      img( src="img-temp/beforeafter/img-1-1.jpg" alt="" width="810" height="425" data-object-fit-cover)
                      img( src="img-temp/beforeafter/img-1-2.jpg" alt="" width="810" height="425" data-object-fit-cover)

                .cases__slide.swiper-slide
                  .cases__item
                    .cases__imgs
                      img( src="img-temp/beforeafter/img-2-1.jpg" alt="" width="810" height="425" data-object-fit-cover)
                      img( src="img-temp/beforeafter/img-2-2.jpg" alt="" width="810" height="425" data-object-fit-cover)

                .cases__slide.swiper-slide
                  .cases__item
                    .cases__imgs
                      img( src="img-temp/beforeafter/img-1-1.jpg" alt="" width="810" height="425" data-object-fit-cover)
                      img( src="img-temp/beforeafter/img-1-2.jpg" alt="" width="810" height="425" data-object-fit-cover)

                .cases__slide.swiper-slide
                  .cases__item
                    .cases__imgs
                      img( src="img-temp/beforeafter/img-2-1.jpg" alt="" width="810" height="425" data-object-fit-cover)
                      img( src="img-temp/beforeafter/img-2-2.jpg" alt="" width="810" height="425" data-object-fit-cover)


          .cases__thumbs#cases__thumbs
            .swiper-wrapper
              .cases__thumbs-slide.swiper-slide
                .cases__thumbs-img(style="background: transparent url('img-temp/thumbs/img-1.jpg') no-repeat center center; background-size: cover;")

              .cases__thumbs-slide.swiper-slide
                .cases__thumbs-img(style="background: transparent url('img-temp/thumbs/img-2.jpg') no-repeat center center; background-size: cover;")

              .cases__thumbs-slide.swiper-slide
                .cases__thumbs-img(style="background: transparent url('img-temp/thumbs/img-1.jpg') no-repeat center center; background-size: cover;")

              .cases__thumbs-slide.swiper-slide
                .cases__thumbs-img(style="background: transparent url('img-temp/thumbs/img-2.jpg') no-repeat center center; background-size: cover;")


          .cases__bottom
            p.cases__label Увеличение губ

            p.cases__desc Аугментация губ Juvederm volift - 1ml

            .cases__btns
              a.btn.btn--general.btn--pink(href="#") хочу так же



  // /.cases
