mixin scr_media()
  section.scr_media.media(id="scr_media")
    .container
      h2.title Я в СМИ

    .media__wrap.decor-wrap
      .container
        .media__slider#media__slider
          .swiper-wrapper
            .media__slide.swiper-slide
              .media__item
                a.media__img.fancybox(href="img-temp/media/img-1.jpg" data-fancybox-group="media")
                  noscript
                    img.lazy(src="img-temp/media/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/media/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .media__title
                  p Название телеканала

            .media__slide.swiper-slide
              .media__item
                a.media__img.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                  noscript
                    img.lazy(src="img-temp/media/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/media/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  span.media__play.about__video-play


          .media__nav
            .slider__btns
              button.swiper-button-prev
              .swiper-pagination
              button.swiper-button-next



  // /.scr_media
