mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      .contacts__inner

      .contacts__df
        .contacts__content
          ul.contacts__nav
            li.active
              a(href="#contacts__nav-0") Москва
            li
              a(href="#contacts__nav-1") Симферополь

          ul.contacts__tabs
            li.contacts__tab#contacts__nav-0
              .contacts__links
                .contacts__link
                  a(href="tel:+79167034040" rel="nofollow") +7 916 703 40 40
                .contacts__link
                  a(href="mailto:dr.dalanna" rel="nofollow")
                    i.fa.fa-instagram
                    span dr.dalanna

              .contacts__address
                p Веду прием в клинике «Интегритас»
                  br
                  |  г. Москва, м. Таганская,
                  br
                  |  ул. Верхняя Радищевская, д. 12/19, стр. 1

            li.contacts__tab#contacts__nav-1
              .contacts__links
                .contacts__link
                  a(href="tel:+79167034040" rel="nofollow") +7 916 703 40 40
                .contacts__link
                  a(href="mailto:dr.dalanna" rel="nofollow")
                    i.fa.fa-instagram
                    span dr.dalanna

        .contacts__img-wrap
          .contacts__img#contacts__img-0
            noscript
              img.lazy(src="img/contacts-img.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/contacts-img.jpg" alt="" width="125" height="90")

          .contacts__img#contacts__img-1
            noscript
              img.lazy(src="img/contacts-img.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/contacts-img.jpg" alt="" width="125" height="90")


  // /.scr_contacts
