mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h2.title Отзывы пациентов

    .reviews__wrap
      .container
        .reviews__slider#reviews__slider
          .swiper-wrapper
            .reviews__slide.swiper-slide
              .reviews__item
                .reviews__top
                  .reviews__img
                    noscript
                      img.lazy(src="img-temp/reviews-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/reviews-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  a.reviews__play.about__video-play.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")

                  .reviews__info
                    p.reviews__name Александра
                      br
                      |  Никонова

                    p.reviews__city г. Москва

                .reviews__content
                  .article
                    p Лишь явные признаки победы институционализации формируют глобальную экономическую сеть и при этом - преданы социально-демократической анафеме. С учётом сложившейся международной обстановки, внедрение современных методик способствует подготовке и реализации направлений прогрессивного развития. В своём стремлении повысить качество жизни, они забывают, что современная методология разработки создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поэтапного и последовательного развития общества.

            .reviews__slide.swiper-slide
              .reviews__item
                .reviews__top
                  .reviews__img
                    noscript
                      img.lazy(src="img-temp/reviews-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/reviews-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  a.reviews__play.about__video-play.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")

                  .reviews__info
                    p.reviews__name Александра
                      br
                      |  Никонова

                    p.reviews__city г. Москва

                .reviews__content
                  .article
                    p Лишь явные признаки победы институционализации формируют глобальную экономическую сеть и при этом - преданы социально-демократической анафеме.


          .reviews__nav
            .slider__btns
              button.swiper-button-prev
              .swiper-pagination
              button.swiper-button-next



  // /.scr_reviews
