mixin scr1()
  section.scr1(id="scr1")
    .scr1__cont
      .scr1__cloud.scr1__cloud--top
      .scr1__cloud.scr1__cloud--middle
      .scr1__cloud.scr1__cloud--bottom
      .container
        .scr1__wrap
          h1.scr1__title.wow.fadeInUp(data-wow-duration="1.5s" style="visibility: hidden")
            strong Получите профессиональное
              span оформление документов
            br
            |  на землю и объекты
            br
            |  капитального строительства
            br
            |  под ключ от 1 дня

          .scr1__btns.wow.fadeInUp(data-wow-duration="1.4s" style="visibility: hidden")
            .btn__wrap.btn__wrap--blue
              a.btn.btn--blue(href="#") Пройдите опрос за 1 минуту и получите скидку
                br
                |  300 рублей на любую кадастровую услугу

          ul.scr1__feat
            li.wow.fadeInLeft(data-wow-duration="0.7s" data-wow-delay="1.7s" style="visibility: hidden")
              .scr1__feat-item
                span.scr1__feat-icon
                  img(src="img/svg/icons/wallet.svg", alt="")

                h3.scr1__feat-title Оплата по факту

                .scr1__feat-text
                  p Оплата по факту выполненных кадастровых или геодезических услуг

            li.wow.fadeInLeft(data-wow-duration="0.7s" data-wow-delay="1.9s" style="visibility: hidden")
              .scr1__feat-item
                span.scr1__feat-icon
                  img(src="img/svg/icons/monitor.svg", alt="")

                h3.scr1__feat-title Без очередей

                .scr1__feat-text
                  p Оформление всех документов без
                    br
                    |  визитов в государственные органы

            li.wow.fadeInLeft(data-wow-duration="0.7s" data-wow-delay="2.1s" style="visibility: hidden")
              .scr1__feat-item
                span.scr1__feat-icon
                  img(src="img/svg/icons/browser.svg", alt="")

                h3.scr1__feat-title Собственная база

                .scr1__feat-text
                  p проверенных земельных участков
                    br
                    |  в Севастополе - для быстрого строительства дома или коммерческого объекта


  // /.scr1
