mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .container
      h2.page-title Свидетельства и сертификаты центра «РЕАЛ»

      p.page-desc Полный пакет документов ООО "Реал", а также сертификаты и лицензии, подтверждающие
        br
        |  профессиональные компетенции наших специалистов

      .certs__wrap
        .certs__slider#certs__slider
          .swiper-wrapper
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg" data-fancybox-group="certs")
                img(src="img-temp/certs-img.jpg" alt="" data-object-fit-contain)

        .certs__btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_certs
