mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .steps__img
      img(src="img/steps-bg.jpg" alt="" data-object-fit-cover)

    .container
      .steps__content
        h2.page-title Как мы будет оформлять
          br
          |  Ваш участок или объект
          br
          |  капитального строительства

        ol.steps__list
          li
            p Вы оставляете заявку на сайте или звоните по указанным номерам телефонов. С Вами связывается наш специалист, узнает все детали проекта, проводит первичную консультацию, намечает план действий
          li
            p Заключаем договор на оказание услуг (например, на разработку межевого плана). Фиксируем цены, сроки и порядок оплаты. Именно на этом этапе мы можем согласовать рассрочку платежей, если она Вам необходима
          li
            p Анализ предоставленной документации и выезд на участок / объект. Мы собираем всю необходимую исходную информацию, после чего выезжаем на проведение замеров.
          li
            p Проводим замеры непосредственно на участке или объекте, после чего данные обрабатываются нашими специалистами. Согласовываем площадь и конфигурацию участков, параметры строительных объектов.
          li
            p Разрабатываем документацию согласно договору, предоставляем Вам итоговые документы. При необходимости представляем Ваши интересы в государственных органах, завершая процедуру оформления земли или строительного объекта


  // /.scr_steps
