mixin scr_serv()
  section.scr_serv.serv.grey-bg(id="scr_serv")
    .container
      h2.page-title Услуги единого центра недвижимости РЕАЛ

      p.page-desc Наша компания имеет в своём штате не только специалистов по кадастровым работам, но и собственную
        br
        |  материально-техническую базу для производства всего комплекса геодезических изысканий

      ul.serv__nav
        li.current
          a(href="#serv__tab-0")
            span.serv__nav-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#serv-1")

            span.serv__nav-text Кадастровые услуги

        li
          a(href="#serv__tab-0")
            span.serv__nav-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#serv-2")

            span.serv__nav-text Геодезические работы

        li
          a(href="#serv__tab-0")
            span.serv__nav-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#serv-3")

            span.serv__nav-text Юридические услуги

        li
          a(href="#serv__tab-0")
            span.serv__nav-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#serv-4")

            span.serv__nav-text Услуги
              br
              |  для бизнеса

        li
          a(href="#serv__tab-0")
            span.serv__nav-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#serv-5")

            span.serv__nav-text Подбор земельных участков

        li
          a(href="#serv__tab-0")
            span.serv__nav-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#serv-6")

            span.serv__nav-text Проектировочные работы

        li
          a(href="#serv__tab-0")
            span.serv__nav-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#serv-7")

            span.serv__nav-text Строительство домов и&nbsp;коттеджейи


      ul.serv__tabs
        li.serv__tab#serv__tab-0
          .serv__wrap
            .serv__table
              table
                thead
                  tr
                    td Наименование услуги
                    td Ориентировочные сроки
                    td Цена
                    td

                tbody
                  tr
                    td Изготовление межевого плана на основании утверждённой схемы расположения земельного участка
                    td от 5 рабочих дней
                    td
                      span 4 500 Р/участок
                    td
                      a.btn.btn--green(href="#") Заказать

                  tr
                    td Изготовление технического плана до 40 м2
                    td от 5 рабочих дней
                    td
                      span 5 500 Р/участок
                    td
                      a.btn.btn--green(href="#") Заказать

                  tr
                    td Кадастровая съемка (заборов, строений, отображение на плане) до 15 соток
                    td от 3 рабочих дней
                    td
                      span 4 000 Р
                    td
                      a.btn.btn--green(href="#") Заказать

                  tr
                    td Создание схемы расположения участка на кадастровом плане территории
                    td от 4 рабочих дней
                    td
                      span 3 000 Р
                    td
                      a.btn.btn--green(href="#") Заказать

          .serv__btns
            .btn__wrap.btn__wrap--general
              a.btn.btn--general(href="#") Посмотреть все кадастровые работы



  // /.scr_serv
