mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .faq__img
      img(src="img/faq-bg.jpg" alt="" data-object-fit-cover)

    .container
      .faq__df
        .faq__content
          h2.page-title Топ 10 вопросов об оформлении
            br
            |  недвижимости

          ul.faq__list
            li.faq__item
              .top
                button.open
                h3 Что такое межевание участков?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка

            li.faq__item
              .top
                button.open
                h3 Что такое вынос границ? Как он производится?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка

            li.faq__item
              .top
                button.open
                h3 Что такое вынос границ? Как он производится?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка

            li.faq__item
              .top
                button.open
                h3 Что такое вынос границ? Как он производится?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка

            li.faq__item
              .top
                button.open
                h3 Что такое вынос границ? Как он производится?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка

            li.faq__item
              .top
                button.open
                h3 Что такое вынос границ? Как он производится?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка

            li.faq__item
              .top
                button.open
                h3 Что такое вынос границ? Как он производится?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка

            li.faq__item
              .top
                button.open
                h3 Что такое вынос границ? Как он производится?
              .hidden
                .article
                  p  Изготовление межевого плана на основании утверждённой схемы расположения земельного участка


        .faq__form
          .form.wpcf7
            form.wpcf7-form
              p.form__title.form__title--big Остались вопросы?

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')

              .form__item
                span.wpcf7-form-control-wrap.your-message.text-input
                  textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="Сообщение")

              .form__item.form__item--submit
                .btn__wrap.btn__wrap--general
                  input.wpcf7-form-control.wpcf7-submit.btn.btn--general(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_faq
