.footer
  position: relative
  background: $accent
  overflow-x: hidden
  .logo
    display: block
    text-decoration: none
    width: 178px
    height: 72px
    &__wrap
      margin-bottom: 29px
    .icon
      display: block
      fill: #fff

  &__top
    display: flex
    padding-top: 40px
    padding-bottom: 31px
  &__col
    width: 21.77935943060498%
    padding-right: 20px
    &:nth-of-type(2)
      width: 27.90035587188612%
    &:nth-of-type(3)
      width: 33.59430604982206%
    &:nth-of-type(4)
      flex-grow: 1
      padding-right: 0
  &__text
    margin-bottom: 13px
    font-size: 14px
    font-weight: 500
    color: #ffffff
  &__title
    margin-top: 0
    margin-bottom: 18px
    font-size: 16px
    font-weight: 500
    color: #ffffff

  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 21px
      &:last-of-type
        margin-bottom: 0
      & > a
        display: block
        text-decoration: none
        outline: none
        font-size: 14px
        color: rgba(255,255,255,0.8)
        transition: 0.4s ease-in-out
        &:hover
          color: #7bbee2

  &__bottom
    border-top: 1px solid rgba(255,255,255,0.2)
    &-df
      height: 52px
      display: flex
      align-items: center
    .text
      font-size: 13px
      line-height: 16px
      color: #c9cacc
    a.text
      text-decoration: none
      outline: none
      transition: 0.3s
      &:hover
        color: $accent2

  &__politics
    margin-right: 70px

  &__copyright
    margin-right: 99px

  .made
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #c9cacc
      transition: 0.3s

    &:hover
      .icon
        fill: #fff

  .scr_map__contacts-item
    margin-bottom: 20px
    color: #fff
    h3
      margin-bottom: 2px
      font-size: 14px
      font-weight: 500
    p
      a
        color: #fff
        &:hover
          color: #7bbee2
  .scr_map__phone
    color: #fff
    font-size: 14px
    font-weight: 300
    &:hover
      color: #7bbee2
  .header__msg
    &--viber
      background-image: url('../img/svg/icons/_viber-white.svg')
    &--tg
      background-image: url('../img/svg/icons/_telegram-white.svg')
    &--wa
      background-image: url('../img/svg/icons/_wa-white.svg')


  @media screen and (max-width: 1650px)
    &__col
      &:nth-of-type(3)
        width: 23.594306%

  // max-width 1650px

  @media screen and (max-width: 1070px)
    padding-bottom: 60px
    .menu
      & > li
        margin-bottom: 11px

  // max-width 1070px

  @media screen and (max-width: 900px)
    &__top
      display: block
    &__col
      width: 100% !important
      margin-bottom: 30px
      padding-right: 0
      &:last-of-type
        margin-bottom: 0
    .menu
      & > li
        margin-bottom: 0
        & > a
          padding: 6px 0
          border-bottom: 1px solid rgba(#fff, 0.2)

  // max-width 900px

  @media screen and (max-width: 767px)
    &__bottom
      &-df
        justify-content: space-between
      .footer__politics
        margin-right: 30px
      .footer__copyright
        margin-right: 30px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__bottom
      &-df
        flex-direction: column
        align-items: center
        justify-content: flex-start
        text-align: center
        height: auto
        padding: 10px 0
      .footer__politics
        margin-right: 0
        margin-bottom: 15px
      .footer__copyright
        margin-right: 0
        margin-bottom: 15px

  // max-width 650px

  @media screen and (max-width: 575px)
    &__bottom
      height: auto
    .logo
      margin: 0 auto
    &__text
      text-align: center

  // max-width 575px

/* footer */
