.login
  position: relative

  &__nav
    margin: 0
    padding: 0
    list-style: none

    display: flex
    align-items: center
    &-item
      margin-right: 40px
      &:last-of-type
        margin-right: 0
    &-link
      position: relative
      display: block
      font-size: 24px
      line-height: 20px
      font-weight: 400
      color: #333333
      text-decoration: none
      transition: 0.3s
      &::after
        content: ''
        position: absolute
        left: 0
        bottom: -5px

        display: block
        width: 100%
        height: 2px
        background-color: $accent3
        transition: 0.3s
        transform: scale(0)
        opacity: 0
      &:not(.active)
        &:hover
          color: $accent
      &.active
        color: $accent3
        cursor: text
        &::after
          transform: scale(1)
          opacity: 1

  &__via
    display: flex
    align-items: center
    justify-content: center
    .text
      margin-right: 22px
      line-height: 1.2

  &__forget
    display: block
    text-decoration: underline

    font-size: 14px
    line-height: 1.428571428571429 /* 20 / 14 */
    font-weight: 400
    color: $accent3
    transition: 0.3s
    text-align: center
    &:hover
      color: $accent

  &__tab
    max-height: 0
    overflow: hidden
    opacity: 0
    transition: opacity 0.3s
    &.active
      max-height: 10000px
      opacity: 1
      overflow: visible
  &__title
    margin-bottom: 7px

  .form
    .accept
      margin-top: 5px
  /* media */

  @media screen and (max-width: 500px)
    &__nav
      justify-content: center
      &-link
        font-size: 18px
    .text
      margin-right: 16px
      font-size: 14px

  // max-width 500px

/* login */
