.guarantee
  position: relative
  padding-bottom: 44px
  &__wrap
    position: relative
    z-index: 1
    padding-top: 12px
  &__img
    position: absolute
    top: 0
    right: -113px

    width: 577px
    height: 535px
    z-index: -1

  &__top
    width: calc(100% - 392px)

  .title
    margin-bottom: 44px

  .article
    blockquote
      padding-top: 6px
      padding-bottom: 11px
      padding-left: 26px
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
    .blue
      font-weight: 500
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */

  /* media */

  @media screen and (max-width: 992px)
    .title
      margin-bottom: 24px
    &__img
      width: 497px
      height: 465px
    &__top
      width: calc(100% - 282px)

  // max-width 992px

  @media screen and (max-width: 768px)
    &__img
      width: 427px
      height: 405px
    &__top
      width: calc(100% - 222px)
    .article
      .blue
        font-size: 15px
      blockquote
        padding-left: 16px

  // max-width 768px

  @media screen and (max-width: 576px)
    padding-bottom: 10px
    &__img
      opacity: 0.2
    &__top
      width: 100%

  // max-width 576px

/* guarantee */
