.return
  position: relative
  padding-bottom: 25px
  &__wrap
    position: relative
  &__img
    position: absolute
    top: 20px
    right: -140px

    display: block
    width: 705px
    height: 589px
  &__top
    width: calc(100% - 460px)

  .title
    margin-bottom: 46px
  .article
    blockquote
      left: 0
      padding-left: 27px
      padding-top: 15px
      padding-bottom: 18px

  &__main
    padding-right: 68px

  /* media */

  @media screen and (max-width: 992px)
    &__top
      width: 60%
    &__img
      max-width: 60%

  // max-width 992px

  @media screen and (max-width: 768px)
    &__top
      width: calc(100% - 150px)
    &__img
      max-width: 350px
    &__main
      padding-right: 0

  // max-width 768px

  @media screen and (max-width: 576px)
    padding-top: 20px
    &__top
      width: 100%
    &__img
      opacity: 0.2
    .title
      margin-bottom: 16px

  // max-width 576px

/* return */
