.pay
  position: relative
  padding-top: 18px
  padding-bottom: 5px
  &__df
    display: flex
    justify-content: space-between
  &__content
    width: calc(100% - 261px - 30px)
    margin-right: 30px
  &__list
    margin: 0
    padding: 0
    list-style: none

    display: flex
    justify-content: space-between
    margin-top: 60px
  &__item
    width: 57.42924528301887%
    &:last-of-type
      width: 264px

  &__img
    flex-shrink: 0
    display: flex
    justify-content: flex-end
    width: 261px
    img
      width: 238px
  .title
    margin-bottom: 45px
    margin-top: 15px

  .article
    blockquote
      max-width: 557px
      padding-top: 22px
      padding-bottom: 22px
      padding-left: 27px
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */

  &__icon
    width: 59px
    height: 58px
    margin-bottom: 24px
  &__title
    margin-bottom: 26px
    font-size: 24px
    line-height: 1.2
    font-weight: 500
    color: #333333
  table
    width: 100%
    border-collapse: collapse
    th,td
      padding: 13px 0
      font-size: 18px
      line-height: 1.2
      font-weight: 400
      color: #333333
    td
      font-weight: 500
  &__text
    padding-top: 13px
    p
      font-size: 18px
      line-height: 1.2
      font-weight: 400
      color: #333333

  /* media */

  @media screen and (max-width: 992px)
    padding-bottom: 20px
    &__title
      margin-bottom: 10px
      font-size: 20px
    table
      max-width: 300px
      td,th
        padding: 4px 0
        font-size: 14px
    &__text
      padding-top: 4px
      p
        font-size: 14px
    &__icon
      width: 49px
      height: 48px
    &__img
      width: 24%
      img
        width: 100%
    &__content
      width: calc(76% - 30px)

  // max-width 992px

  @media screen and (max-width: 768px)
    &__list
      margin-top: 20px
      flex-direction: column
    &__item
      width: 100%
      margin-bottom: 20px
    &__img
      width: 34%
      img
        width: 100%
    &__content
      width: calc(66% - 30px)

  // max-width 768px

  @media screen and (max-width: 576px)
    &__content
      width: 100%
      margin-right: 0
    &__img
      display: none
    &__list
      flex-direction: row
    &__item
      margin-right: 20px
      &:last-of-type
        margin-right: 0
    .title
      margin-bottom: 20px
      margin-top: 5px
    .article
      blockquote
        padding-top: 17px
        padding-bottom: 18px
        padding-left: 19px
        p
          font-size: 13px

  // max-width 576px

  @media screen and (max-width: 500px)
    &__title
      margin-bottom: 7px
      font-size: 17px
    &__icon
      width: 42px
      height: 42px
      margin-bottom: 14px
    table
      td,th
        padding: 2px 0
        font-size: 12px
      th
        padding-right: 10px
      td
        padding-left: 10px
    &__text
      padding-top: 2px
      p
        font-size: 12px

  // max-width 500px

/* pay */
