.socials
  display: flex
  &__link
    display: block
    width: 39px
    height: 39px
    line-height: 41px
    margin-right: 23px

    text-decoration: none
    text-align: center
    border-radius: 50%
    background-color: rgba(62,81,181,0.5)
    transition: 0.3s ease-in-out
    &:last-of-type
      margin-right: 0

    .fa
      color: #fff
      font-weight: 400
      font-size: 17px

    &:hover
      transform: translateY(-2px)
      background-color: rgba(62,81,181,0.8)

    &--vk
      background-color: #4a76a8
      border: 1px solid transparent
      line-height: 39px
      &:hover
        background-color: #fff
        border-color: #4a76a8
        .fa
          color: #4a76a8
    &--insta
      background-color: #c62a7a
      border: 1px solid transparent
      line-height: 39px
      &:hover
        background-color: #fff
        border-color: #c62a7a
        .fa
          color: #c62a7a

  @media screen and (max-width: 500px)
    &__link
      width: 33px
      height: 33px
      line-height: 35px
      margin-right: 15px

  // max-width 500px

  @media screen and (max-width: 350px)
    &__link
      margin-right: 15px

  // max-width 350px

/* socials */
