::selection
  background-color: $accent
  color: #fff

*
  margin: 0
  padding: 0

html, body
  max-width: 100%
  overflow-x: hidden

body
  position: relative
  width: 100%
  height: 100%

  font-family: $font
  font-size: 16px
  line-height: 1.5 /* 24px / 16px */
  font-weight: 400
  color: $body-color

  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

  &.disabled
    overflow: hidden
    max-height: 100vh

.page_wr
  flex-grow: 1

img
  width: 100%
  height: auto
  border: none
  user-select: none

[data-object-fit-cover]
  display: block
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-cover-top]
  display: block
  object-fit: cover
  object-position: center top
  font-family: 'object-fit: cover; object-position: center top;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  display: block
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color

.blur-it
  filter: blur(4px)

.accent
  color: $accent

.grey-bg
  background-color: #f7f6f6

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  font-weight: 500
  font-size: 14px
  line-height: 1.928571428571429 /* 27 / 14 */
  p
    margin-bottom: 12px
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      color: $accent

  img
    width: auto
    max-width: 100%
    height: auto
    display: block
    margin: 20px auto
    &.alignleft
      max-width: 50%
      float: left
      margin: 0 20px 20px 0
    &.alignright
      max-width: 50%
      float: right
      margin: 0 0 20px 20px
    &.aligncenter
      margin: 0 auto
  ul,
  ol
    display: inline-block
    list-style: none
    margin-top: 10px
    padding-bottom: 1.5em
    padding-left: 0
    padding-right: 1.5em
    columns: 2
    column-gap: 38px
  ul li,
  ol li
    transform: translateX(1.5em)
  ul
    li
      margin-bottom: 15px
      padding-left: 35px
      background: transparent url('../img/svg/check.svg') no-repeat left top
      background-size: 22px 22px
      break-inside: avoid
  ol
    counter-reset: li /* Инициализируем счетчик */
    li
      position: relative
      margin-bottom: 15px
      break-inside: avoid
      &::before
        content: counter(li) '.' /* В качестве данных используем счетчик */
        counter-increment: li /* Увеличиваем значение счетчика на 1 */
        display: inline-block
        width: 15px
        margin-right: 15px
        font-weight: 500
        font-size: 23px
        line-height: 1
        color: $accent

  h2,h3,h4
    line-height: 1.666666666666667
    font-weight: 700
  h2
    margin-top: 10px
    margin-bottom: 20px
    font-size: 18px
  h3
    margin-top: 10px
    margin-bottom: 5px
    font-size: 16px
  h4
    margin-top: 5px
    margin-bottom: 5px
    font-size: 14px

.clearfix
  &::after
    display: table
    clear: both
    content: ""

.page-df
  padding-left: 332px

.page-main
  display: flex
  flex-direction: column
  min-height: 100vh

.page-title
  position: relative
  margin-top: 0
  margin-bottom: 0
  padding-left: 68px
  font-size: 36px
  font-weight: 600
  &::before
    content: ''
    position: absolute
    bottom: 13px
    left: 0
    display: block
    width: 44px
    height: 4px
    background-color: #931b1b

.section-top
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 35px
  .page-title
    margin-right: 15px
  .xlink
    flex-shrink: 0

.icon
  max-width: 100%
  max-height: 100%
  fill: $icon
  transition: 0.5s

.xlink
  display: block
  text-decoration: none
  outline: none
  position: relative
  font-weight: 500
  color: #98252a
  &::after
    content: ''
    position: absolute
    left: 0
    bottom: -5px
    display: block
    width: 100%
    height: 2px
    background: #98252a
    transition: 0.2s ease-in-out
  &:hover
    &::after
      bottom: -8px
      transform: scale(0.6)
      transition: 0.3s ease-in-out
  &--more
    position: relative
    display: block
    text-decoration: none
    outline: none
    img
      display: block
    &::before
      content: 'Подробнее'
      position: absolute
      top: 0
      left: 0
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      background: rgba($accent2, 0.8)
      color: #fff
      opacity: 0
      text-transform: uppercase
      font-weight: 700
      letter-spacing: 0.2em
      transition: 0.4s ease-in-out
    &::after
      content: ''
      position: absolute
      left: 40px
      right: 40px
      top: calc(50% + 20px)
      transform: scale(0)
      transform-origin: left center
      display: block
      height: 1px
      background-color: #fff
      opacity: 0
      transition: opacity 0.4s ease-in-out, transform 0.4s 0.4s
    &:hover
      &::before
        opacity: 1
        transition: 0.4s ease-in-out 0.2s
      &::after
        transform: scale(1)
        opacity: 1
        transition: 0.4s ease-in-out

.xbtn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  display: flex
  align-items: center
  justify-content: center

  cursor: pointer
  text-decoration: none
  transition: 0.5s
  -webkit-appearance: none

.xbtn,
input[type="submit"].xbtn
  &--red
    height: 60px
    padding-left: 10px
    padding-right: 10px
    background: #931B1B
    border: 1px solid #931B1B
    text-align: center
    font-weight: 500
    color: #FFFFFF
    &:hover
      color: #931B1B
      background-color: #fff

input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.burger
  flex-shrink: 0
  position: relative
  background: none
  outline: none
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center

  width: 25px
  height: 25px
  &__wrap
    position: relative
    transition: 0.3s

    z-index: 100
    display: block
  &.active
    .burger__wrap
      .line
        transform: translate(-50%,-50%) rotate(45deg)
        &:before,
        &:after
          transform: translateX(0) rotate(-90deg)
  .line
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    &,
    &::after,
    &::before
      position: absolute
      display: block
      width: 20px
      height: 2px
      background-color: #fff
      transition: 0.2s ease-in-out

    &::after,
    &::before
      content: ''
      left: 0
    &::before
      transform: translateY(-7px)
    &::after
      transform: translateY(7px)

.your-file
  display: block
  text-align: center
  padding-bottom: 5px
  input
    display: none
  label
    display: inline-block
    padding: 0 0 0 27px
    font-size: 14px
    font-weight: 500
    background: transparent url('../img/svg/clip.svg') no-repeat left 4px
    background-size: 16px 17px
    outline: none
    cursor: pointer
  span
    font-size: 16px
    color: $accent
    text-transform: none
    &::before,
    &::after
      background-color: $accent

.to-top
  position: fixed
  right: 20px
  bottom: 20px
  z-index: 100
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  width: 37px
  background: $accent
  border-radius: 6px
  cursor: pointer
  transition: 0.5s
  opacity: 0
  height: 0
  overflow: hidden
  z-index: 250
  .icon
    width: 12px
    height: 12px
    fill: #fff
    transform: rotate(-90deg)

  &:hover
    opacity: 1
    background-color: $accent2

  &.fixed
    opacity: 1
    height: 37px


/* Переопределение стилей yandex map */
[class$='-controls-pane'],
[class$='-copyrights-pane']
  display: none


/* Переопределение стилей swiper */
.swiper-wrapper
  & *
    box-sizing: border-box
.swiper-slide
  height: auto
.swiper-dots
  display: flex
  align-items: center
  flex-wrap: wrap
  margin-left: 15px
  margin-right: 15px
.swiper-pagination-bullet
  outline: none
  display: block
  background: $accent
  width: 7px
  height: 7px
  margin: 2px 8px
  opacity: 1
.swiper-pagination-bullet-active
  position: relative
  background: $accent2
.swiper-button-prev,
.swiper-button-next
  position: relative
  background: none
  border: none
  outline: none
  display: flex
  align-items: center
  justify-content: center
  width: 44px
  height: 44px
  margin: 0
  background-color: transparent
  border-radius: 50%
  transition: 0.4s ease-in-out
  .icon
    display: block
    width: 10px
    height: 17px
    fill: #000
    transition: 0.4s ease-in-out
  &::after
    content: none
  &:hover
    background-color: $accent
    .icon
      fill: #fff
.swiper-button-prev
  margin-left: -25px
  .icon
    transform: rotate(180deg)
.swiper-button-next
  margin-right: -25px

.swiper-pagination-lock
  display: none
.swiper-button-disabled
  display: none


/* Переопределение bootstrap */
@media (min-width: 1200px)
  .container
    max-width: 1431px
    padding-left: 30px
    padding-right: 30px

/* media */
@media screen and (max-width: 1600px)
  .page-df
    padding-left: 272px

// max-width 1600px

@media screen and (max-width: 1400px)
  .page-df
    padding-left: 222px
  .section-top
    margin-bottom: 20px
  .page-title
    font-size: 31px
  .xlink
    font-size: 14px
  .your-file
    label
      padding: 0 0 0 20px
      font-size: 13px
      background-size: 13px 13px
    span
      font-size: 14px

// max-width 1400px

@media screen and (max-width: 1250px)
  .container
    padding-left: 15px
    padding-right: 15px

// max-width 1250px

@media screen and (max-width: 1200px)
  .container
    max-width: 100%

// max-width 1200px

@media screen and (max-width: 1070px)
  .xlink
    &--more
      &::before
        font-size: 11px
      &::after
        left: 15px
        right: 15px

// max-width 1070px

@media screen and (max-width: 991px)
  .page-df
    padding-left: 0
  .page_wr
    padding-top: 64px

// max-width 991px

@media screen and (max-width: 900px)
  .page_wr
    padding-top: 54px

// max-width 900px

@media screen and (max-width: 767px)
  .page-title
    padding-left: 53px
    font-size: 26px
    &::before
      width: 34px
  .xlink
    font-size: 13px

// max-width 767px

@media screen and (max-width: 575px)
  .page-title
    padding-left: 43px
    font-size: 22px
    &::before
      width: 26px
      height: 3px
  .xlink
    font-size: 12px
  .swiper-pagination-bullet
    outline: none
    width: 6px
    height: 6px
    margin: 2px 4px
  .swiper-button-prev,
  .swiper-button-next
    width: 34px
    height: 34px
    .icon
      width: 8px
      height: 14px
  .swiper-button-prev
    margin-left: -21px
  .swiper-button-next
    margin-right: -21px
  .article
    font-size: 13px
    line-height: 1.7
    img
      &.alignleft,
      &.alignright
        max-width: 100%
        float: none
        margin: 0 auto 20px
    ul
      column-gap: 15px
      li
        margin-bottom: 10px
        padding-left: 25px
        background: transparent url('../img/svg/check.svg') no-repeat left top
        background-size: 17px 17px
    ol
      column-gap: 15px
      li
        margin-bottom: 10px
    h2
      margin-top: 10px
      font-size: 16px
    h3
      font-size: 14px
    h4
      font-size: 13px

// max-width 575px

@media screen and (max-width: 500px)
  .page-title
    padding-left: 33px
    font-size: 14px
    &::before
      bottom: 9px
      width: 20px

// max-width 500px

@media screen and (max-width: 430px)
  .article
    ul,
    ol
      padding-bottom: 0
      padding-right: 0
    ul li,
    ol li
      transform: none
    ul,
    ol
      columns: 1

@media screen and (max-width: 400px)
  .page-title
    padding-left: 23px
    font-size: 13px
    &::before
      bottom: 9px
      width: 15px

// max-width 400px
