mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__col
          h3.footer__title Центральный офис
            br
            |  ПАО «Севастопольгаз»

          p.footer__text Центральный офис:
            br
            |  г. Севастополь, ул. Гидрографическая, 1
            br
            |  Индекс: 299003
            br
            a(href="tel:+78692417710" rel="nofollow") +7(8692) 41-77-10
            br
            a(href="tel:+78692417711" rel="nofollow") +7(8692) 41-77-11

          p.footer__text
            a(href="mailto:paosg@sevgas.ru" rel="nofollow") paosg@sevgas.ru

        .footer__col
          h3.footer__title Филиалы
            br
            |  абонентского отдела

          p.footer__text
            b Северная сторона
            br
            |  299002, ул. Надежды Краевой, 5а,
            br
            a(href="tel:+78692716042" rel="nofollow") +7 (8692) 71-60-42

          p.footer__text
            b Балаклавский район
            br
            |  299018, ул. Крестовского, 28а,
            br
            a(href="tel:+78692632330" rel="nofollow") +7 (8692) 63-23-30

        .footer__col

          h3.footer__title
            a(href="tel:+78692540025" rel="nofollow") +7 (8692) 54-00-25

          p.footer__text Контактный центр, для передачи
            br
            |  показаний счетчиков

          h3.footer__title
            a(href="tel:104" rel="nofollow") 104

          p.footer__text Контактный центр, для передачи
            br
            |  показаний счетчиков

          h3.footer__title Время работы:

          p.footer__text Пн-Чт: 07:30 - 16:30,
            br
            |  Пт: 7:30 - 15:15
            br
            |  Обед: 11:30 - 12:15

        .footer__col
          h3.footer__title Важная информация

          ul.menu
            li.menu-item
              a(href="#") О Компании
            li.menu-item
              a(href="#") Облуживание
            li.menu-item
              a(href="#") Подключение
            li.menu-item
              a(href="#") Услуги
            li.menu-item
              a(href="#") Вакансии
            li.menu-item
              a(href="#") Магазин
            li.menu-item
              a(href="#") Личный кабинет
            li.menu-item
              a(href="#") Новости
            li.menu-item
              a(href="#") Контакты
            li.menu-item
              a(href="#") Политика конфиденциальности

      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2020&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

