mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__info
          h1.scr1__title
            strong Обеспечиваем газификацию и газоснабжение Севастополя с 1961 года:
            |  от выдачи технических условий до поставки газа

          ul.scr1__nums
            li
              .scr1__num
                span 163 000
              .scr1__text
                p Квартир и домов подключены
                  br
                  |  к газовым сетям
            li
              .scr1__num &gt;
                span 1000
              .scr1__text
                p Абонентов мы ежедневно обслуживаем
                  br
                  |  в офисах и в телефонном контактном центре
            li
              .scr1__num
                span 553
              .scr1__text
                p Специалиста работают в команде
                  br
                  |  ПАО «Севасопольгаз»
            li
              .scr1__num
                span 1547
                small  км
              .scr1__text
                p Протяженность городских
                  br
                  |  газовых сетей

        aside.scr1__links
          a.scr1__links-item(href="#")
            span.scr1__links-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#user")

            |  Личный кабинет
          a.scr1__links-item(href="#")
            span.scr1__links-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#shopping-cart")

            |  Магазин
          a.scr1__links-item(href="#")
            span.scr1__links-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#fire")

            |  Подключение к сетям
          a.scr1__links-item(href="#")
            span.scr1__links-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#eye")

            |  Версия для слабовидящих

  // /.scr1
