mixin scr_tariff()
  section.scr_tariff.tariff(id="scr_tariff")
    .container
      h2.page-title Актуальные тарифы ПАО «Севастопольгаз»
      .page-desc
        p Актуальная цена на природный газ для потребителей в городе Севастополе на 01.07.2020

      .tariff__df
        ul.tariff__list
          li.tariff__item
            p.tariff__text Потребление
              br
              strong.accent до 3 500 м
                sup 3
              |  в год

            b.tariff__price
              strong 4,864
              |  Р / м
              sup 3

          li.tariff__item
            p.tariff__text Потребление
              br
              strong.accent более 3 500 м
                sup 3
              |  в год

            b.tariff__price
              strong 4,864
              |  Р / м
              sup 3

        ul.tariff__links
          li
            a(href="#") Посмотреть все тарифы для физлиц
          li
            a(href="#") Посмотреть все тарифы для юрлиц

  // /.scr_tariff
