mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h2.page-title Новости и объявления

      ul.tabs__nav
        li
          a.current(href="#blog__tab-0") Объявления для потребителей
        li
          a(href="#blog__tab-1") Новости ПАО «Севастопольгаз»
        li
          a(href="#blog__tab-2") Медиа

      ul.blog__tabs
        li.blog__tab#blog__tab-0
          .blog__slider-wrap
            .blog__slider#blog__slider-0
              .swiper-wrapper
                .swiper-slide
                  .blog__item
                    a.blog__img(href="#")
                      img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

                    .blog__content
                      time(datetime="2020-12-08") 08 декабря 2020

                      a(href="#")
                        h2.blog__title Отключение газа в районе «Золотой балки»
                .swiper-slide
                  .blog__item
                    a.blog__img(href="#")
                      img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

                    .blog__content
                      time(datetime="2020-12-08") 08 декабря 2020

                      a(href="#")
                        h2.blog__title Дезинфекция предприятия
                .swiper-slide
                  .blog__item
                    a.blog__img(href="#")
                      img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

                    .blog__content
                      time(datetime="2020-12-08") 08 декабря 2020

                      a(href="#")
                        h2.blog__title Информация для жителей улицы Академическая...

        li.blog__tab#blog__tab-1
          .blog__slider-wrap
            .blog__slider#blog__slider-1
              .swiper-wrapper
                .swiper-slide
                  .blog__item
                    a.blog__img(href="#")
                      img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

                    .blog__content
                      time(datetime="2020-12-08") 08 декабря 2020

                      a(href="#")
                        h2.blog__title Отключение газа в районе «Золотой балки»
                .swiper-slide
                  .blog__item
                    a.blog__img(href="#")
                      img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

                    .blog__content
                      time(datetime="2020-12-08") 08 декабря 2020

                      a(href="#")
                        h2.blog__title Дезинфекция предприятия

  // /.scr_blog
