mixin scr_prod()
  section.scr_prod.prod.grey-bg(id="scr_prod")
    .container
      h2.page-title ПАО «Севстопольгаз» производит все виды работ по установке,
        br
        |  ремонту и обслуживанию газового оборудования

      ul.tabs__nav
        li
          a.current(href="#prod__tab-0") Для физических лиц
        li
          a(href="#prod__tab-1") Для юридических лиц

      ul.prod__tabs
        li.prod__tab#prod__tab-0
          .prod__slider-wrap

            //. ID разный в разных табах
            .prod__slider#prod__slider-0
              .swiper-wrapper
                .swiper-slide
                  .prod__item
                    a.prod__img(href="#")
                      img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-cover)

                    .prod__content
                      a(href="#")
                        h2.prod__title Ремонт и замена бытового газового оборудования

                      span.prod__price от
                        strong  500 Р
                        |  /ед
                .swiper-slide
                  .prod__item
                    a.prod__img(href="#")
                      img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-cover)

                    .prod__content
                      a(href="#")
                        h2.prod__title Присоединение к газовым сетям объектов кап. строительства

                      span.prod__price от
                        strong  30 000 Р
                        |  /объект
                .swiper-slide
                  .prod__item
                    a.prod__img(href="#")
                      img(src="img-temp/prod/img-3.jpg" alt="" data-object-fit-cover)

                    .prod__content
                      a(href="#")
                        h2.prod__title Установка и замена приборов учета газа (счетчиков)

                      span.prod__price от
                        strong  400 Р
                        |  /ед

            .prod__slider-btns
              .swiper-dots

          .prod__links
            a.prod__link(href="#") Посмотреть все услуги

        li.prod__tab#prod__tab-1
          .prod__slider-wrap
            .prod__slider#prod__slider-1
              .swiper-wrapper
                .swiper-slide
                  .prod__item
                    a.prod__img(href="#")
                      img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-cover)

                    .prod__content
                      a(href="#")
                        h2.prod__title Ремонт и замена бытового газового оборудования

                      span.prod__price от
                        strong  500 Р
                        |  /ед
                .swiper-slide
                  .prod__item
                    a.prod__img(href="#")
                      img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-cover)

                    .prod__content
                      a(href="#")
                        h2.prod__title Присоединение к газовым сетям объектов кап. строительства

                      span.prod__price от
                        strong  30 000 Р
                        |  /объект

            .prod__slider-btns
              .swiper-dots

          .prod__links
            a.prod__link(href="#") Посмотреть все услуги

  // /.scr_prod
