mixin scr_pay()
  section.scr_pay.pay.grey-bg(id="scr_pay")
    .container
      h2.page-title Как оплатить услуги ПАО «Севастопольгаз»
      .page-desc
        p Перечень основных вариантов оплаты услуг по поставке газа, техническому обслуживанию
          br
          |  газового оборудования и иных услуг, предоставляемых ПАО «Севастопольгаз»

      .pay__df
        ul.pay__nav
          li
            a.current(href="#pay__tab-0")
              span.pay__nav-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#candidate")

              |  Через интернет-банкинг или&nbsp;терминал
          li
            a(href="#pay__tab-1")
              span.pay__nav-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#online-payment")

              |  Через интернет-банкинг или&nbsp;терминал
          li
            a(href="#pay__tab-2")
              span.pay__nav-icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#credit-card")

              |  Банковский переводом

        ul.pay__tabs
          li.pay__tab#pay__tab-0
            .pay__title
              p Можно оплатить газоснабжение, воспользовавшись банковской картой МИР, VISA или Mastercard

            a.pay__video.fancybox(href="https://www.youtube.com/embed/IaizT2HYEig?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=UozzeMR2JR4" data-fancybox-type="iframe" style="background: transparent url(img-temp/video-img.jpg) no-repeat center center; background-size: cover;")
              span.pay__video-title Инструкция по работе с личным кабинетом
              span.pay__video-btn
          li.pay__tab#pay__tab-1
            .pay__title
              p Можно оплатить газоснабжение

            a.pay__video.fancybox(href="https://www.youtube.com/embed/IaizT2HYEig?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=UozzeMR2JR4" data-fancybox-type="iframe" style="background: transparent url(img-temp/video-img.jpg) no-repeat center center; background-size: cover;")
              span.pay__video-title Инструкция по работе с личным кабинетом
              span.pay__video-btn
          li.pay__tab#pay__tab-2
            .pay__title
              p Можно оплатить газоснабжение

            a.pay__video.fancybox(href="https://www.youtube.com/embed/IaizT2HYEig?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=UozzeMR2JR4" data-fancybox-type="iframe" style="background: transparent url(img-temp/video-img.jpg) no-repeat center center; background-size: cover;")
              span.pay__video-title Инструкция по работе с личным кабинетом
              span.pay__video-btn


  // /.scr_pay
