mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      h2.title Успейте приобрести акционные товары
        span.accent  по супер цене

      .prod__wrap#prod__wrap
        .prod__slider#prod__slider
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить

            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action Акция

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat3 Наше производство


                    h3.prod__title Джезерье «Атом»
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_prod


mixin scr_prod--hit()
  section.scr_prod.prod.prod--hit(id="scr_prod2")
    .container
      h2.title
        span.accent Топ самых покупаемых
        |  товаров по категориям

      ul.prod__types
        li.current
          a(href="#") Сладости
        li
          a(href="#") Бакалея
        li
          a(href="#") Кофе и чай
        li
          a(href="#") Напитки
        li
          a(href="#") Посуда
        li
          a(href="#") Идеи для подарков
        li
          a(href="#") Турецкие продукты
        li
          a(href="#") Наше производство

      .prod__wrap.prod__wrap--one-row#prod__wrap--hit
        .prod__slider.prod__slider--one-row#prod__slider--hit
          .swiper-wrapper
            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


            .swiper-slide.prod__slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--hit Хит

                  .prod__btns
                    button.prod__btn(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

                  span.prod__watch Быстрый просмотр

                .prod__main
                  .prod__content
                    ul.prod__categor
                      li.prod__categor-item.prod__categor-item--cat1 Сладости
                      li.prod__categor-item.prod__categor-item--cat2 Турецкая продукция


                    h3.prod__title Джезерье «Атом»
                      br
                      |  инжир-грецкий орех
                    .prod__weight
                      p 1,5 кг

                  .prod__bottom
                    .prod__prices
                      span.prod__price.prod__price--old 1 300 ₽
                      span.prod__price.prod__price--new 1 218 ₽

                    .prod__quantity
                      .quantity
                        button.quantity-arrow.quantity-arrow-minus(type='button') —
                        input.quantity-num(type='number', value='1')
                        button.quantity-arrow.quantity-arrow-plus(type='button') +

                    .prod__link
                      .btn__wrap
                        a.btn.btn--red(href="#") Купить


        .prod__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_prod
