@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.landing-page {
  padding-top: 0;
}
.grey-bg {
  background-color: #f1f2fa;
}
.header--landing {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  background-color: transparent;
  z-index: 0;
}
.header--landing.fixed {
  -webkit-box-shadow: 0 0 15px 0 #000;
  box-shadow: 0 0 15px 0 #000;
  background: #082244;
  z-index: 100;
}
.secondary-page .header--landing {
  height: 75px;
}
.header--landing > .wr {
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.landing-page .yellow {
  padding: 0;
}

.header--landing .logo {
  margin-right: 89px;
}

.header__title {
  margin-right: 83px;
  font-family: 'Panton',sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fed343;
}

.header__date {
  display: flex;
  align-items: center;
}
.header__date-num {
  padding-right: 13px;
  font-size: 56.2px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}
.header__date-text {
  font-family: 'Panton', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.095em;
  color: #ffffff;
}
.header__date-text span {
  display: block;
}
.header__date-text span:first-of-type {
  position: relative;
  margin-bottom: 8px;
}
.header__date-text span:first-of-type::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.landing__circles {
  margin: 0;
  padding: 0;
  list-style: none;
}
.landing__circles > li {
  position: absolute;
  width: 71px;
  height: 71px;
  background-color: #f1f2fa;
  border-radius: 50%;
  z-index: 10;
}

.landing-top {
  background: #082244 url('../imgs/sc1_bg.jpg') no-repeat center center;
  background-size: cover;
}
.landing-top > .wr {
  padding: 0;
}
.landing-top__title {
  margin-bottom: 17px;
  font-family: 'Panton',sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #ffffff;
}
.landing-top__for {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.landing-top__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  background: transparent url('../imgs/landing/circle.png') no-repeat center center;
  background-size: contain;
}
.landing-top__text {
  margin-left: 5px;
  padding-bottom: 0;
  font-family: 'Panton',sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
.landing-top__desc {
  max-width: 490px;
  padding-bottom: 0;
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 1.5; /* 24 / 16 */
  color: #b9bcc3;
}
.landing-top__desc .yellow {
  font-weight: 500;
}
.landing-top__btns {
  display: flex;
  align-items: center;
}
.landing-page a.btn {
  line-height: 88px;
  height: 88px;
  padding: 0 51px;
  border-radius: 44px;
  font-family: 'Panton',sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  box-shadow: 0 8px 0 #891e22,
              0 0 25px rgba(254, 54, 61, 1),
              inset 0 0 8px 4px rgba(255,255,255,0.2);
}
.landing-page a.btn:hover {
  -webkit-box-shadow: 0 2px 0 #891e22;
  box-shadow: 0 2px 0 #891e22;
}
.landing-top__add {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 30px;
}
.landing-top__add > li {
  position: relative;
  margin-right: 31px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: #b9bcc3;
}
.landing-top__add > li:last-of-type {
  margin-right: 0;
}
.landing-top__add > li::before {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-weight: 700;
  color: #fed343;
}
.landing-top__wrap {
  position: relative;
  padding: 137px 0 40px;
  min-height: 742px;
}
.landing-top__img {
  position: absolute;
  bottom: -60px;
  left: 56.14035087719298%;
  width: 708px;
}
.landing-top__img img {
  display: block;
  max-width: 100%;
}
.landing-top__content {
  position: relative;
  width: 71.9298%;
  z-index: 2;
}
.landing-top__img-text {
  position: absolute;
  top: 40%;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.landing-top__img-text span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  padding: 15px 34px;
  z-index: 1;
  text-align: center;
}
.landing-top__img-text span::before {
  content: '';
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 0px rgba(0,16,36,0.43),
              0 0 16px rgba(84, 178, 213, 0.5);
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: translate(-50%,-50%) skewX(-14deg);
  -ms-transform: translate(-50%,-50%) skewX(-14deg);
  transform: translate(-50%,-50%) skewX(-14deg);
}
.landing-top__img-text span:first-of-type {
  z-index: 2;
}
.landing-top__img-text span:last-of-type {
  margin-top: -3px;
}


.decor-1 {
  position: relative;
}
.decor-1::before {
  content: '';
  position: absolute;
  top: -76px;
  left: 0;
  width: 100%;
  height: 76px;
  background: transparent url('../imgs/landing/decor-1.png') no-repeat center center;
  background-size: 1926px 76px;
}

.landing__title {
  font-family: 'Panton',sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
}
.landing-know {
  z-index: 2;
}
.landing-know::after {
  content: '';
  position: absolute;
  bottom: -76px;
  left: 0;
  width: 100%;
  height: 76px;
  background: transparent url('../imgs/landing/decor-1.png') no-repeat center center;
  background-size: 1926px 76px;
  transform: rotate(180deg);
}
.landing-know__content {
  position: relative;
  z-index: 15;
}
.landing-know .landing__title {
  text-align: center;
}
.landing-know .wr {
  position: relative;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 55px;
}
.landing-know .landing__circles > li:nth-of-type(1) {
  width: 21px;
  height: 21px;
  left: 79px;
  top: -36px;
}
.landing-know .landing__circles > li:nth-of-type(2) {
  left: 122px;
  top: -22px;
}
.landing-know .landing__circles > li:nth-of-type(3) {
  width: 145px;
  height: 145px;
  right: -179px;
  top: -124px;
}
.landing-know .landing__circles > li:nth-of-type(4) {
  width: 120px;
  height: 120px;
  left: -144px;
  bottom: -114px;
}
.landing-know .landing__circles > li:nth-of-type(5) {
  left: 314px;
  bottom: -79px;
}
.landing-know .landing__circles > li:nth-of-type(6) {
  width: 21px;
  height: 21px;
  left: 444px;
  bottom: -102px;
}
.landing-know__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}
.landing-know__list > li {
  width: 50%;
  padding-bottom: 110px;
  display: flex;
  padding-right: 15px;
}
.landing-know__list > li:nth-of-type(2n) {
  padding-left: 15px;
  padding-right: 0;
}
.landing-know__text {
  font-size: 20px;
  line-height: 1.5; /* 30 / 20 */
  padding-top: 3px;
}
.landing-know__num {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-right: 24px;
  background-color: #ff383f;
  background-image: linear-gradient(0.0deg, #fa222a 0%, #ff383f 100%);
  font-size: 45px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}
.landing-know__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}
.landing-know__bottom {
  position: relative;
  margin-bottom: 42px;
  font-family: 'Panton',sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
.landing-know__bottom::before {
  content: '';
  position: absolute;
  top: 19px;
  right: -62px;
  display: block;
  width: 86px;
  height: 129px;
  background: transparent url('../imgs/landing/arrow.svg') no-repeat center center;
  background-size: contain;
}

.landing-speaker {
  background: #082244 url('../imgs/landing/speaker-bg.png') no-repeat center center;
  background-size: cover;
}
.landing-speaker > .wr {
  position: relative;
  padding-top: 182px;
  padding-bottom: 119px;
}
.landing-speaker__img {
  position: absolute;
  bottom: -10px;
  left: 52.71929824561404%;
  width: 801px;
}
.landing-speaker__img img {
  display: block;
  width: 100%;
}
.landing-speaker__content {
  width: 57.36842105263158%;
}
.landing-speaker__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 89px;
}
.landing-speaker__list > li {
  position: relative;
  margin-bottom: 50px;
  padding-left: 27px;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}
.landing-speaker__list > li p {
  line-height: 1.5;
  padding: 0;
}
.landing-speaker__list > li:last-of-type {
  margin-bottom: 0;
}
.landing-speaker__list > li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #42b3e5;
  border-radius: 50%;
}
.landing-speaker__list > li a {
  text-decoration: underline;
  transition: 0.3s;
}
.landing-speaker__list > li a:hover {
  text-decoration: none;
}
.landing-speaker__title {
  font-size: 24px;
  font-weight: 400;
  color: #b9bcc3;
}
.landing-speaker__title span {
  display: block;
  margin-top: 27px;
  font-family: 'Panton',sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: #fed343;
}
.landing-speaker__df {
  display: flex;
}
.landing-speaker__icons {
  flex-shrink: 0;
  display: flex;
  margin-left: 17px;
}
.landing-speaker__icon {
  flex-shrink: 0;
}
.landing-speaker__icon img {
  display: block;
}


.landing-stages .wr {
  position: relative;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 147px;
}
.landing-stages::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: transparent url('../imgs/landing/decor-3.png') no-repeat center center;
  background-size: 1920px 70px;
}
.landing-stages .landing__circles > li:nth-of-type(1) {
  left: -34px;
  top: -31px;
}
.landing-stages .landing__circles > li:nth-of-type(2) {
  width: 21px;
  height: 21px;
  left: 58px;
  top: -67px;
}
.landing-stages .landing__circles > li:nth-of-type(3) {
  width: 21px;
  height: 21px;
  left: 391px;
  bottom: 92px;
  background-color: #082244;
}

.landing-stages__bottom-circle {
  position: absolute;
  bottom: 0;
  left: 407px;
  width: 146px;
  height: 77px;
  overflow: hidden;
  z-index: 5;
}
.landing-stages__bottom-circle .landing__circles > li:nth-of-type(1) {
  width: 146px;
  height: 146px;
  left: 0;
  top: 0;
  background-color: #082244;
}
.landing-stages__df {
  display: flex;
}
.landing-stages__list {
  flex-grow: 1;
  padding-top: 40px;
  padding-right: 20px;
}
.landing-stages__title {
  display: flex;
  margin-bottom: 30px;
  font-family: 'Panton',sans-serif;
}
.landing-stages__num {
  display: block;
  margin-right: 12px;
  font-size: 114.4px;
  line-height: 1;
  font-weight: 400;
  color: #fe353c;
}
.landing-stages__text {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}
.landing-stages__text span {
  font-size: 48px;
}
.landing-stages__list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.landing-stages__list ul > li {
  display: flex;
  margin-bottom: 45px;
}
.landing-stages__list ul > li:last-of-type {
  margin-bottom: 0;
}
.landing-stages__list-num {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin-right: 25px;
  margin-top: -5px;
  background-color: #ff383f;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.landing-stages__list-num::after {
  content: '';
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 12px;
  height: 26px;
  background: transparent url('../imgs/landing/arrow-down.svg') no-repeat center center;
  background-size: contain;
}
.landing-stages__list-text {
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
}

.landing-stages__form .df {
  display: block;
}
.landing-stages__form .df .right {
  margin: 0;
  width: 100%;
  padding: 43px 64px 10px;
}
.landing-stages .screen_form_kp {
  background: none;
  margin: 0;
  padding: 0;
}
.landing-stages__form {
  flex-shrink: 0;
  position: relative;
  width: 540px;
  max-width: 100%;
  margin-right: -15px;
}
.landing-stages__form .df .right .form .title {
  padding-bottom: 30px;
  font-family: 'Panton',sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.landing-page .modal .right {
  margin-left: auto;
  margin-right: auto;
  padding: 24px 64px 20px;
}
.landing-page .modal .screen_form_kp .df .right .form .title {
  display: block;
  font-family: 'Panton',sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.landing-page .modal .screen_form_kp {
  top: 25%;
}


@media screen and (max-width: 1600px) {
  .landing-page .modal .screen_form_kp {
    top: 15%;
  }
/* max-width 1600px */

@media screen and (max-width: 1230px) {
  .landing-top > .wr,
  .landing-know > .wr,
  .landing-speaker > .wr,
  .landing-stages > .wr {
    padding-left: 15px;
    padding-right: 15px;
  }
  .landing-stages__form {
    margin-right: 0;
  }
  .landing-page .modal .screen_form_kp {
    top: 70px;
  }
}
/* max-width 1230px */

@media screen and (max-width: 1200px) {
  .landing-page a.btn {
    line-height: 83px;
    height: 83px;
    padding: 0 25px;
    font-size: 15px;
  }
  .landing-top__add > li {
    margin-right: 21px;
    padding-left: 17px;
    font-size: 13px;
  }
  .landing-top__img {
    left: 52.140351%;
  }
  .landing-know__list {
    margin-bottom: 55px;
    margin-top: 55px;
  }
  .landing-know__list > li {
    padding-bottom: 31px;
  }
  .landing-know__text {
    font-size: 16px;
  }
  .landing-know__num {
    width: 65px;
    height: 65px;
    margin-right: 14px;
    font-size: 34px;
  }
  .landing__title {
    font-size: 34px;
  }
  .landing-speaker__list > li br {
    display: none;
  }
  .landing-speaker > .wr {
    padding-top: 152px;
    padding-bottom: 99px;
  }
  .landing-speaker__img {
    left: 59.719298%;
    width: 611px;
  }
  .landing-speaker__content {
    width: 60.368421%;
  }
  .landing-speaker__title {
    font-size: 22px;
  }
  .landing-speaker__title span {
    font-size: 59px;
  }
  .landing-speaker__list {
    margin-top: 49px;
  }
  .landing-speaker__list > li {
    margin-bottom: 30px;
    padding-left: 22px;
    font-size: 16px;
  }
  .landing-speaker__list > li::before {
    width: 7px;
    height: 7px;
  }
}
/* max-width 1200px */

@media screen and (max-width: 1110px) {
  .landing-page .screen_form_kp .df .right {
    width: 100%;
    padding: 33px 34px 10px;
  }
  .landing-stages__form {
    width: 440px;
  }
  .landing-stages .wr {
    padding-top: 27px;
    padding-bottom: 117px;
  }
  .landing-stages__num {
    margin-right: 8px;
    font-size: 92.4px;
  }
  .landing-stages__text {
    font-size: 32px;
  }
  .landing-stages__text span {
    font-size: 38px;
  }
  .landing-stages__list-num {
    width: 37px;
    height: 37px;
    margin-right: 15px;
    margin-top: -2px;
    font-size: 22px;
  }
  .landing-stages__list ul > li {
    margin-bottom: 35px;
  }
  .landing-stages__list-num::after {
    bottom: -27px;
    width: 10px;
    height: 21px;
  }
  .landing-stages__list-text {
    font-size: 16px;
  }
/* max-width 1110px */

@media screen and (max-width: 991px) {
  .landing-top__img {
    left: 57.140351%;
    width: 578px;
  }
  .landing-top__add {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .landing-top__title {
    font-size: 39px;
    line-height: 51px;
  }
  .landing-top__wrap {
    padding: 107px 0 40px;
    min-height: 662px;
  }
  .landing-top__btns {
    flex-direction: column;
    align-items: flex-start;
  }
  .landing-top__desc {
    max-width: 390px;
    margin-bottom: 35px;
    font-size: 14px;
  }
 .secondary-page .header--landing {
    height: 60px;
  }
  .header--landing .logo {
    margin-right: 29px;
  }
  .header--landing .logo img {
    width: 110px;
    height: 35px;
  }
  .header__title {
    margin-right: 23px;
    font-size: 17px;
  }
  .header__date-num {
    padding-right: 10px;
    font-size: 46.2px;
  }
  .header__date-text {
    font-size: 16px;
  }
}
/* max-width 991px */

@media screen and (max-width: 900px) {
  .landing-stages__df {
    flex-direction: column;
  }
  .landing-stages__form {
    margin: 20px auto;
  }
  .landing-stages__list {
    padding-top: 20px;
  }
  .landing-speaker__df {
    flex-direction: column;
  }
  .landing-speaker__icons {
    margin-top: 20px;
  }
  .landing-speaker__title {
    font-size: 20px;
  }
  .landing-speaker__title span {
    font-size: 40px;
  }
  .landing-speaker__content {
    width: 80.368421%;
  }
  .landing-speaker__img {
    left: 48.719298%;
    width: 611px;
    opacity: 0.4;
  }
}
/* max-width 900px */

@media screen and (max-width: 767px) {
  .landing-top__img {
    display: none;
  }
  .landing-top__content {
    width: 100%;
  }
  .landing-top__title br {
    display: none;
  }
  .landing-top__desc {
    max-width: 100%;
  }
  .landing-know__list {
    margin-top: 40px;
  }
  .landing-know__list > li {
    padding-bottom: 21px;
    padding-right: 5px;
  }
  .landing-know__list > li:nth-of-type(2n) {
    padding-left: 5px;
  }
  .landing-know__text {
    font-size: 14px;
  }
  .landing-know__num {
    width: 50px;
    height: 50px;
    margin-right: 14px;
    font-size: 30px;
  }
  .landing__title {
    font-size: 29px;
  }
  .landing-know__bottom {
    margin-bottom: 2px;
    font-size: 32px;
  }
  .landing-know__bottom::before {
    top: 11px;
    width: 86px;
    height: 109px;
  }
  .landing-speaker__content {
    width: 100%;
  }
  .landing-speaker__img {
    display: none;
  }

  .landing-page .modal .screen_form_kp .df .right {
    width: 450px;
    max-width: 100%;
  }
  .landing-page .modal .screen_form_kp .df .right .form .title {
    margin-bottom: 20px;
    font-size: 23px;
  }
/* max-width 767px */

@media screen and (max-width: 575px) {
  .landing-top__wrap {
    padding: 97px 0 40px;
    min-height: 632px;
  }
  .landing-top__title {
    font-size: 27px;
    line-height: 40px;
  }
  .header--landing .logo {
    margin-right: 9px;
  }
  .header--landing .logo img {
    width: 100px;
    height: 32px;
  }
  .header__title {
    margin-right: 13px;
    font-size: 12px;
  }
  .header__date-num {
    padding-right: 7px;
    font-size: 34.2px;
  }
  .header__date-text {
    font-size: 12px;
  }
  .landing-know__list > li {
    width: 100%;
    padding-right: 0;
  }
  .landing-know__list > li:nth-of-type(2n) {
    padding-left: 0;
  }
  .landing-know__bottom::before {
    content: none;
  }
  .landing-stages__form .df .right .form .title {
    display: block;
    font-size: 24px;
  }
/* max-width 575px */

@media screen and (max-width: 500px) {
  .landing-top__add {
    flex-direction: column;
  }
  .landing-top__add > li {
    margin-bottom: 15px;
  }
  .landing-top__add > li br {
    display: none;
  }
  .landing-page .screen_form_kp .df .right {
    padding: 33px 20px 30px;
    margin-bottom: 0;
  }
  .landing-speaker > .wr {
    padding-top: 112px;
    padding-bottom: 99px;
  }
  .landing-speaker__title {
    font-size: 18px;
  }
  .landing-speaker__title span {
    margin-top: 17px;
    font-size: 34px;
  }
  .landing-speaker__list > li {
    margin-bottom: 20px;
    padding-left: 22px;
    font-size: 14px;
  }
  .landing-stages .wr {
    padding-top: 0;
  }
  .landing-stages__num {
    font-size: 72.4px;
  }
  .landing-stages__text {
    font-size: 26px;
  }
  .landing-stages__text span {
    font-size: 30px;
  }

/* max-width 500px */

@media screen and (max-width: 430px) {
  .header__title {
    display: none;
  }
  .header--landing > .wr {
    justify-content: space-between;
  }
  .landing-know__num {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
/* max-width 430px */
