mixin header(logotype)
  header.header(id="header")
    .container
      .header__wrap
        button.burger#header__burger
          span.burger__wrap
            span.line

        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              img(src="img/logo.png" alt="лого")
          else
            #{logotype}.logo
              img(src="img/logo.png" alt="лого")

          .logo__text
            p Квартиры на ЮБК
              br
              |  от застройщика

        .header__contacts
          p.header__address г. Ялта, ул. Васильева, 16

          .header__phones
            a.btn.btn--circle.open-modal.desktop(href="#")
              i.fa.fa-phone
            a.btn.btn--circle.mobile(href="tel:88001234567" rel="nofollow")
              i.fa.fa-phone
            a.header__phones-link(href="tel:88001234567" rel="nofollow") 8 800 123 45 67

        .header__menu
          button.header__menu-close(type="button")
          .header__menu-df
            .header__menu-col
              ul.menu
                li.menu-item
                  a(href="#") О застройщике
                li.menu-item
                  a(href="#") Наши проекты
                li.menu-item
                  a(href="#") Услуги
                li.menu-item
                  a(href="#") Спецпредложения

            .header__menu-col
              ul.menu
                li.menu-item
                  a(href="#") Документы
                li.menu-item
                  a(href="#") Условия приобретения
                li.menu-item
                  a(href="#") Блог
                li.menu-item
                  a(href="#") Контакты

            .header__menu-col
              a.header__menu-phone(href="tel:88001234567" rel="nofollow") 8 800 123 45 67

              .header__menu-item
                p г. Ялта, ул. Васильева, 16,
                  br
                  |  офис, 300

              .header__menu-item
                a(href="mailto:grandkrym@yandex.ru" rel="nofollow") Grandkrym@yandex.ru

              .header__menu-item
                p Режим работы: 9:00-20:00














      // /.header__wrap
    // /.container

mixin header--second(logotype)
  header.header.header--second(id="header")
    .container
      .header__wrap
        button.burger#header__burger
          span.burger__wrap
            span.line

        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              img(src="img/logo.png" alt="лого")
          else
            #{logotype}.logo
              img(src="img/logo.png" alt="лого")

          .logo__text
            p Квартиры на ЮБК
              br
              |  от застройщика

        .header__contacts
          p.header__address г. Ялта, ул. Васильева, 16

          .header__phones
            a.btn.btn--circle.open-modal.desktop(href="#")
              i.fa.fa-phone
            a.btn.btn--circle.mobile(href="tel:88001234567" rel="nofollow")
              i.fa.fa-phone
            a.header__phones-link(href="tel:88001234567" rel="nofollow") 8 800 123 45 67

      // /.header__wrap
    // /.container

