mixin scr1()
  section.scr1(id="scr1")

    span.scr1__line

    .scr1__bg
      noscript
        img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)

    .container
      .scr1__df
        .scr1__content
          h1.scr1__title Мы возводим не просто жилые здания,
            br
            |  а идеальные пространства для жизни

          .scr1__desc
            p Выберите вашу уютную квартиру на берегу Чёрного моря
              br
              |  с комфортной инфраструктурой в окружении крымских гор
              br
              |  и панорамным видом на море

          .scr1__btns
            .btn__wrap.btn__wrap--grad
              a.btn.open-modal(hr ef="#") Записаться на показ объектов

        .scr1__tour
          .scr1__tour-img
            noscript
              img.lazy(src="img/scr1-video-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-video-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .scr1__tour-wrap
            a.btn.btn--circle.scr1__tour-btn(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-play")

            scan.scr1__tour-text Смотреть 3Д тур
              br
              |  по объектам


  // /.scr1
