mixin scr_near()
  section.scr_near.near(id="scr_near")
    .container
      .near__df
        .near__content
          h2.title2 Что рядом с нашими ЖК
          ul
            li
              span.near__icon.near__icon--man
              span.near__text
                strong Пляж
                |  4 мин (300 м)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Аэропорт
                |  2 час (120км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Ай-петри
                |  1 час (37км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Канатная дорога
                |  20 мин (8 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Воронцовский дворец
                |  6 мин (2,6 км)
            li
              span.near__icon.near__icon--man
              span.near__text
                strong Милютинский парк
                |  5 мин (450 м)
            li
              span.near__icon.near__icon--man
              span.near__text
                strong Пионерский парк
                |  15 мин (1 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Симеизский парк
                |  8 минут (3,2 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Аквапарк «Голубой залив»
                |  15 мин (6 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Ялта
                |  30 мин (22 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Севастополь
                |  1 час 20 мин (67км)


        .near__desc-wrap
          p.near__desc Жилье для тех, хочет жить
            br
            |  в уединении с природой,
            br
            |  но при этом оставаться
            br
            |  в центре событий города




  // /.scr_near

mixin scr_near--object()
  section.scr_near.near.near--object(id="scr_near")
    .container
      .near__tour
        .scr1__tour
          .scr1__tour-img
            noscript
              img.lazy(src="img/scr1-video-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-video-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .scr1__tour-wrap
            a.btn.btn--circle.scr1__tour-btn(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-play")

            scan.scr1__tour-text Смотреть 3Д тур


      .near__content
        h2.title2.title--second Расположение

      .near__map#near__map




  // /.scr_near
