mixin scr_near()
  section.scr_near.near(id="scr_near")
    .container
      .near__df
        .near__content
          h2.title2 Что рядом с нашими ЖК
          ul
            li
              span.near__icon.near__icon--man
              span.near__text
                strong Пляж
                |  4 мин (300 м)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Аэропорт
                |  2 час (120км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Ай-петри
                |  1 час (37км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Канатная дорога
                |  20 мин (8 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Воронцовский дворец
                |  6 мин (2,6 км)
            li
              span.near__icon.near__icon--man
              span.near__text
                strong Милютинский парк
                |  5 мин (450 м)
            li
              span.near__icon.near__icon--man
              span.near__text
                strong Пионерский парк
                |  15 мин (1 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Симеизский парк
                |  8 минут (3,2 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Аквапарк «Голубой залив»
                |  15 мин (6 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Ялта
                |  30 мин (22 км)
            li
              span.near__icon.near__icon--auto
              span.near__text
                strong Севастополь
                |  1 час 20 мин (67км)


        .near__desc-wrap
          p.near__desc Жилье для тех, хочет жить
            br
            |  в уединении с природой,
            br
            |  но при этом оставаться
            br
            |  в центре событий города




  // /.scr_near
