mixin scr_inter()
  section.scr_inter.inter(id="scr_inter")
    .container
      .inter__df
        .inter__info
          h2.title2.title--second Интерьеры квартир

          .inter__desc
            p Мы готовы предложить вам несколько вариантов
              br
              |  дизайн-проектов квартир и их реализацию.

          ul.inter__nav
            li
              a(href="#inter__tab-0")
                noscript
                  img.lazy(src="img-temp/inter/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
            li
              a(href="#inter__tab-1")
                noscript
                  img.lazy(src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
            li
              a(href="#inter__tab-2")
                noscript
                  img.lazy(src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
            li
              a(href="#inter__tab-3")
                noscript
                  img.lazy(src="img-temp/inter/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)

        ul.inter__tabs
          li.inter__tab#inter__tab-0
            .inter__slider#inter__slider-0
              .swiper-wrapper
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-1.jpg" data-fancybox-group="inter0")
                    noscript
                      img.lazy(src="img-temp/inter/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-2.jpg" data-fancybox-group="inter0")
                    noscript
                      img.lazy(src="img-temp/inter/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-1.jpg" data-fancybox-group="inter0")
                    noscript
                      img.lazy(src="img-temp/inter/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .inter__slider-btns
              .swiper-dots

          li.inter__tab#inter__tab-1
            .inter__slider#inter__slider-1
              .swiper-wrapper
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-3.jpg" data-fancybox-group="inter1")
                    noscript
                      img.lazy(src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-3.jpg" data-fancybox-group="inter1")
                    noscript
                      img.lazy(src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-3.jpg" data-fancybox-group="inter1")
                    noscript
                      img.lazy(src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .inter__slider-btns
              .swiper-dots


          li.inter__tab#inter__tab-2
            .inter__slider#inter__slider-2
              .swiper-wrapper
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-4.jpg" data-fancybox-group="inter1")
                    noscript
                      img.lazy(src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-4.jpg" data-fancybox-group="inter1")
                    noscript
                      img.lazy(src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .swiper-slide
                  a.inter__img.fancybox(href="img-temp/inter/img-4.jpg" data-fancybox-group="inter1")
                    noscript
                      img.lazy(src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/inter/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .inter__slider-btns
              .swiper-dots

  // /.scr_inter
