mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs

      .post__wrap
        .post__img
          noscript
            img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .post__content
          .article
            time(datetime="2020-04-15") 15 апреля 2020

            h1 Проект 123 выходит на финальный
              br
              |  этап строительства

            p Значимость этих проблем настолько очевидна, что глубокий уровень погружения требует анализа переосмысления внешнеэкономических политик! Но элементы политического процесса и по сей день остаются уделом либералов, которые жаждут быть в равной степени предоставлены сами себе. Значимость этих проблем настолько очевидна, что глубокий уровень погружения создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса прогресса профессионального сообщества.

            p Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: граница обучения кадров позволяет оценить значение как самодостаточных, так и внешне зависимых концептуальных решений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль в формировании новых принципов формирования материально-технической и кадровой базы. Разнообразный и богатый опыт говорит нам, что понимание сути ресурсосберегающих технологий говорит о возможностях вывода текущих активов. Таким образом, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке глубокомысленных рассуждений. Внезапно, сторонники тоталитаризма в науке объединены в целые кластеры себе подобных.

            p Мы вынуждены отталкиваться от того, что базовый вектор развития играет определяющее значение для экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от направлений прогрессивного развития.


  // /.scr_post
