mixin scr_cond()
  section.scr_cond.cond(id="scr_cond")
    .container
      .cond__wrap
        h2.title2 Условия приобретения

        .cond__df
          .cond__content
            ul.cond__list
              li.cond__item
                .cond__text
                  p В строящихся объектах предусмотрены приятные скидки
                    br
                    span.brown при
                      span.percent
                        big  100
                        |  %
                      |  оплате

              li.cond__item
                .cond__text
                  p Рассрочка до 6 месяцев без повышения цены при приобретении на&nbsp;этапе строительства
                    .cond__text-df
                      .cond__text-col
                        span.percent
                          big  50
                          |  %
                        span.brown можете оплатить в момент подписания договора

                      .cond__text-col
                        span.percent
                          big  50
                          |  %
                        span.brown оставшиеся — оплачиваете ежемесячно равными платежами

              li.cond__item
                .cond__text
                  p С каждым покупателем общаемся и подбираем для него
                    br
                    |  оптимальный вариант приобретения недвижимости


            a.link(href="#") Подробнее об условиях

          .cond__partners.grey-bg
            h2.title2 Банки-партнёры
            ul
              li
                noscript
                  img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
              li
                noscript
                  img.lazy(src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
              li
                noscript
                  img.lazy(src="img-temp/partners/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
              li
                noscript
                  img.lazy(src="img-temp/partners/img-4.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-4.png" alt="" width="125" height="90" data-object-fit-contain)




  // /.scr_cond


mixin scr_cond--cond()
  section.scr_cond.cond.cond--cond(id="scr_cond")
    .container
      .cond__wrap
        h1.title2 Условия приобретения

        .cond__desc
          p Для покупки квартир мы создаем максимально комфортные условия!
            br
            |  Обратившись к нам, вы обязательно найдете идеальный вариант квартиры и сможете приобрести ее на самых выгодных условиях

        .cond__df
          .cond__content

            ul.cond__list
              li.cond__item
                .cond__text
                  p В строящихся объектах предусмотрены приятные скидки
                    br
                    span.brown при
                      span.percent
                        big  100
                        |  %
                      |  оплате

              li.cond__item
                .cond__text
                  p Рассрочка до 6 месяцев без повышения цены при приобретении на&nbsp;этапе строительства
                    .cond__text-df
                      .cond__text-col
                        span.percent
                          big  50
                          |  %
                        span.brown можете оплатить в момент подписания договора

                      .cond__text-col
                        span.percent
                          big  50
                          |  %
                        span.brown оставшиеся — оплачиваете ежемесячно равными платежами

              li.cond__item
                .cond__text
                  p С каждым покупателем общаемся и подбираем для него
                    br
                    |  оптимальный вариант приобретения недвижимости

          .cond__partners.grey-bg
            h2.title2 Банки-партнёры
            ul
              li
                noscript
                  img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
              li
                noscript
                  img.lazy(src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
              li
                noscript
                  img.lazy(src="img-temp/partners/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
              li
                noscript
                  img.lazy(src="img-temp/partners/img-4.png" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-4.png" alt="" width="125" height="90" data-object-fit-contain)




  // /.scr_cond
