mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      h1.title2.title--second Услуги

      ul.tabs__nav
        li.current
          a(href="#serv__tab-0") Дизайн
        li
          a(href="#serv__tab-1") Ремонт

      ul.serv__tabs
        li.serv__tab#serv__tab-0


          h2.serv__title.mobile Дизайн

          .serv__df.clearfix
            .serv__left
              h2.serv__title.desktop Дизайн

              .serv__img
                noscript
                  img.lazy(src="img/serv-img.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/serv-img.jpg" alt="" width="125" height="90")

            .serv__content
              .serv__desc
                p Мы разрабатываем и проектируем пространство, которое создаст уникальную атмосферу в интерьере, при этом каждой детали уделяется пристальное внимание и отбираются лучшие материалы с учетом вашего бюджета.


                p Каждый проект  - это отдельная дизайн история, к каждому из которых мы подходим индивидуально.


                p Стильный дизайн квартиры будет учитывать последние модные тенденции  в оформлении современных интерьеров и реализует эксклюзивные авторские задумки. Дизайн-проект, разработанный специалистами, позволит максимально использовать преимущества помещения, сохранить эргономику пространства и функциональность его использования.

              .serv__price
                p Цена
                .serv__price-sum от
                  b  21 000
                  span  м
                    sup 2

            .serv__right
              .serv__right-img
                noscript
                  img.lazy(src="img/serv-img2.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/serv-img2.jpg" alt="" width="125" height="90")

          .serv__works

            .serv__works-top
              h2.title Наши работы

              .serv__works-nav.slider1__nav
                button.swiper-button-prev
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                button.swiper-button-next
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

            .serv__works-slider#serv__slider0
              .swiper-wrapper
                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-1.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м

                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-2.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м
                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-1.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м

                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-2.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м
                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-1.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м

                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-2.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м



        li.serv__tab#serv__tab-1

          h2.serv__title.mobile Ремонт

          .serv__df.clearfix
            .serv__left
              h2.serv__title.desktop Ремонт

              .serv__img
                noscript
                  img.lazy(src="img/serv-img.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/serv-img.jpg" alt="" width="125" height="90")

            .serv__content
              .serv__desc
                p Мы разрабатываем и проектируем пространство, которое создаст уникальную атмосферу в интерьере, при этом каждой детали уделяется пристальное внимание и отбираются лучшие материалы с учетом вашего бюджета.


                p Каждый проект  - это отдельная дизайн история, к каждому из которых мы подходим индивидуально.

              .serv__price
                p Цена
                .serv__price-sum от
                  b  21 000
                  span  м
                    sup 2

            .serv__right
              .serv__right-img
                noscript
                  img.lazy(src="img/serv-img2.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/serv-img2.jpg" alt="" width="125" height="90")


          .serv__works

            .serv__works-top
              h2.title Наши работы

              .serv__works-nav.slider1__nav
                button.swiper-button-prev
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                button.swiper-button-next
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

            .serv__works-slider#serv__slider1
              .swiper-wrapper
                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-1.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м

                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-2.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м
                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-1.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м

                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-2.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м
                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-1.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м

                .serv__works-slide.swiper-slide
                  .serv__works-item
                    .serv__works-img
                      noscript
                        img.lazy(src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/works/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .serv__works-btns
                      a.fancybox(href="img-temp/works/img-2.jpg" data-fancybox-group="works")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-big")

                      button(type="button")
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#icon-photo")

                    .serv__works-content
                      p Двухкомнатная квартира
                        br
                        |  62 кв.м


  // /.scr_serv
