mixin scr_blog()
  section.scr_blog.blog.grey-bg(id="scr_blog")
    .container
      h1.title2.title--second Блог

      ul.blog__list
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-04-15") 15 апреля 2020
              a.blog__title(href="#")
                h2 Проект 123 выходит на финальный
                  br
                  |  этап строительства
              p Для современного мира постоянный количественный рост и сфера нашей активности однозначно фиксирует необходимость

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-04-15") 15 апреля 2020
              a.blog__title(href="#")
                h2 Проект 123 выходит на финальный
                  br
                  |  этап строительства
              p Для современного мира постоянный
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-04-15") 15 апреля 2020
              a.blog__title(href="#")
                h2 Проект 123 выходит на финальный
                  br
                  |  этап строительства
              p Для современного мира постоянный количественный рост и сфера нашей активности однозначно фиксирует необходимость

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-04-15") 15 апреля 2020
              a.blog__title(href="#")
                h2 Проект 123 выходит на финальный
                  br
                  |  этап строительства
              p Для современного мира постоянный
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-04-15") 15 апреля 2020
              a.blog__title(href="#")
                h2 Проект 123 выходит на финальный
                  br
                  |  этап строительства
              p Для современного мира постоянный количественный рост и сфера нашей активности однозначно фиксирует необходимость

        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-04-15") 15 апреля 2020
              a.blog__title(href="#")
                h2 Проект 123 выходит на финальный
                  br
                  |  этап строительства
              p Для современного мира постоянный


      +paginator

  // /.scr_blog
