mixin scr_quantity()
  section.scr_quantity.quantity.grey-bg(id="scr_quantity")
    .container
      h2.title Мы объединили
        br
        |  эстетику, качество и технологичность

      .quantity__df.clearfix

        .quantity__slider-wrap
          .quantity__slider#quantity__slider
            .swiper-wrapper
              .quantity__slide.swiper-slide
                a.quantity__item.fancybox(href="img-temp/feat-img.jpg" data-fancybox-group="quantity")
                  noscript
                    img.lazy(src="img-temp/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .quantity__slide.swiper-slide
                a.quantity__item.fancybox(href="img-temp/feat-img.jpg" data-fancybox-group="quantity")
                  noscript
                    img.lazy(src="img-temp/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .quantity__slide.swiper-slide
                a.quantity__item.fancybox(href="img-temp/feat-img.jpg" data-fancybox-group="quantity")
                  noscript
                    img.lazy(src="img-temp/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/feat-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .quantity__slider-btns
            .swiper-dots

        .quantity__content
          h3.quantity__title Качество снаружи
            br
            |  и внутри

          .article
            p Все наши дома монолитно-каркасные. Стены возводятся из экологически безопасного природного камня - ракушечника, обеспечивающего отличную шумоизоляцию, позволяющего сохранять естественный климат-контроль зимой и летом, минимизируя ваши затраты.

            p Важно отметить крышу над головой.
              br
              |  К выбору кровли мы подошли основательно, учли ряд важнейших факторов: надежность, прочность, долговечность. Стропильная система сконструирована из древесины, пропитанной огнеупорной смесью, продлевающей срок службы, не нарушая естественный воздухообмен.
              br
              |  Битумная черепица Katepal водонепроницаема, теплоустойчива и морозоустойчива, не шумит во время дождя, не требует ухода, отвечает всем требованиям вашей безопасности.

            p Гарантийное обслуживание инженерных систем, оборудования, конструктива здания и прочих элементов в течение 7 лет. Кровельных материалов на протяжении 30 лет.


  // /.quantity
