mixin scr_docs()
  section.scr_docs.docs(id="scr_docs")
    .container
      h1.title2.title--second Документы

      ul.docs__list
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Разрешение на выполнение строительных работ № 2843-Шв/Т от 04.12.2017
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Разрешение на выполнение строительных работ № 2843-Шв/Т от 04.12.2017
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Разрешение на выполнение строительных работ № 2843-Шв/Т от 04.12.2017
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Разрешение на выполнение строительных работ № 2843-Шв/Т от 04.12.2017
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)
        li.docs__item.docs__item--bordered
          a.docs__link(href="#" download) Лицензия № 201234567
            br
            |  (приказ № 68-Л)

      +paginator


  // /.scr_docs


mixin scr_docs--object()
  section.scr_docs.docs.docs--object.grey-bg(id="scr_docs")
    .container
      .docs__top
        h2.title2.title--second Документы

        .slider1__nav
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")



      .docs__slider#docs__slider
        .swiper-wrapper
          .swiper-slide.docs__item
            a.docs__link(href="#" download) Разрешение на выполнение строительных работ № 2843-Шв/Т от 04.12.2017
          .swiper-slide.docs__item
            a.docs__link(href="#" download) Лицензия № 201234567
              br
              |  (приказ № 68-Л)
          .swiper-slide.docs__item
            a.docs__link(href="#" download) Лицензия № 201234567
              br
              |  (приказ № 68-Л)
          .swiper-slide.docs__item
            a.docs__link(href="#" download) Разрешение на выполнение строительных работ № 2843-Шв/Т от 04.12.2017


  // /.scr_docs
