mixin scr_building()
  section.scr_building.building(id="scr_building")
    .container
      h2.title2.title--second Ход строительства

      ul.building__years
        li.current
          a(href="#building__tab-0") 2020
            span  г
        li
          a(href="#building__tab-1") 2019
            span  г

      ul.building__tabs
        li.building__tab#building__tab-0

          ul.building__months
            li.current
              a(href="#building__month-tab-0-0") Январь
            li
              a(href="#building__month-tab-0-1") Февраль
            li
              a(href="#building__month-tab-0-2") Март
            li
              a(href="#building__month-tab-0-3") Апрель

          //. ВНИМАНИЕ: здесь вложены одни табы в другие, поэтому все ID для подтабов имеют структуру "название-число-число", где первое число - это число в ID внешнего таба. Такая же структура у "data-fancybox-group"
          ul.building__month-tabs
            li.building__month-tab#building__month-tab-0-0
              .slider1__nav
                button.swiper-button-prev
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                button.swiper-button-next
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

              .building__slider#building__slider-0-0
                .swiper-wrapper

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-1.jpg" data-fancybox-group="build00")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-1.jpg" data-fancybox-group="build00")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-1.jpg" data-fancybox-group="build00")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-1.jpg" data-fancybox-group="build00")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            li.building__month-tab#building__month-tab-0-1
              .slider1__nav
                button.swiper-button-prev
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                button.swiper-button-next
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

              .building__slider#building__slider-0-1
                .swiper-wrapper

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build01")
                      noscript
                        img.lazy(src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build01")
                      noscript
                        img.lazy(src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build01")
                      noscript
                        img.lazy(src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build01")
                      noscript
                        img.lazy(src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)



        li.building__tab#building__tab-1

          ul.building__months
            li.current
              a(href="#building__month-tab-1-0") Январь
            li
              a(href="#building__month-tab-1-1") Февраль
            li
              a(href="#building__month-tab-1-2") Март
            li
              a(href="#building__month-tab-1-3") Апрель
            li
              a(href="#building__month-tab-1-4") Май

          //. ВНИМАНИЕ: здесь вложены одни табы в другие, поэтому все ID для подтабов имеют структуру "название-число-число", где первое число - это число в ID внешнего таба. Такая же структура у "data-fancybox-group"
          ul.building__month-tabs
            li.building__month-tab#building__month-tab-1-0
              .slider1__nav
                button.swiper-button-prev
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                button.swiper-button-next
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

              .building__slider#building__slider-1-0
                .swiper-wrapper

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-3.jpg" data-fancybox-group="build10")
                      noscript
                        img.lazy(src="img-temp/building/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-1.jpg" data-fancybox-group="build10")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-1.jpg" data-fancybox-group="build10")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-1.jpg" data-fancybox-group="build10")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            li.building__month-tab#building__month-tab-1-1
              .slider1__nav
                button.swiper-button-prev
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
                button.swiper-button-next
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

              .building__slider#building__slider-1-1
                .swiper-wrapper

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build11")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build11")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build11")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                  .swiper-slide
                    a.building__img.fancybox(href="img-temp/building/img-2.jpg" data-fancybox-group="build11")
                      noscript
                        img.lazy(src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/building/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)



  // /.scr_building
