mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      h1.title2.title--second Контакты

      ul.contacts__list
        li.contacts__item
          h3.contacts__title Адрес

          .contacts__desc
            p г. Ялта, ул. Васильева 16, оф, 300

        li.contacts__item
          h3.contacts__title Телефон

          .contacts__desc
            a(href="tel:88000000000" rel="nofollow") 8 800 00 00 000

        li.contacts__item
          h3.contacts__title Почта

          .contacts__desc
            a(href="mailto:grandkrym@yandex.ru" rel="nofollow") Grandkrym@yandex.ru

      h2.title2.title--second Чтобы узнать все подробности
        br
        |  о квартирах вы можете:

      ul.contacts__may
        li
          .contacts__may-icon
            img(src="img/svg/icons/cont-1.svg" alt="Иконка")

          .contacts__may-text
            p Приехать в офис продаж

        li
          .contacts__may-icon
            img(src="img/svg/icons/cont-2.svg" alt="Иконка")

          .contacts__may-text
            p Заказать звонок

        li
          .contacts__may-icon
            img(src="img/svg/icons/cont-3.svg" alt="Иконка")

          .contacts__may-text
            p Заполнить онлайн заявку


    .contacts__map#contacts__map

  // /.scr_contacts


mixin scr_contacts--object()
  section.scr_contacts.contacts.contacts--object(id="scr_contacts")
    .container

      h2.title2.title--second Чтобы узнать все подробности
        br
        |  о квартирах вы можете:

      ul.contacts__may
        li
          .contacts__may-icon
            img(src="img/svg/icons/cont-1.svg" alt="Иконка")

          .contacts__may-text
            p Приехать в офис продаж

        li
          .contacts__may-icon
            img(src="img/svg/icons/cont-2.svg" alt="Иконка")

          .contacts__may-text
            p Заказать звонок

        li
          .contacts__may-icon
            img(src="img/svg/icons/cont-3.svg" alt="Иконка")

          .contacts__may-text
            p Заполнить онлайн заявку


  // /.scr_contacts
