mixin scr_num()
  section.scr_num.num(id="scr_num")
    .container
      ul.num__list
        li.num__item
          p.num__num
            span 12
            |  лет

          p.num__desc на рынке недвижимости

        li.num__item
          p.num__num от&nbsp;
            span  50 000
            |  р

          p.num__desc стоимость одного м
            sup  2

        li.num__item
          p.num__num
            span 12
            |  объектов

          p.num__desc из них 7 введены в эксплуатацию

        li.num__item
          p.num__num
            span 0
            |  просрочек

          p.num__desc по срокам сдачи в эксплуатацию



  // /.scr_num
