mixin script-map()
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" unselectable="on" scroll="false")
  script.
    (function($){

    xObject = function(xCoords,xImg,xTitle) {
      this.coords = xCoords;
      this.img = xImg;
      this.title = xTitle;
    }


    xObject1 = new xObject([44.407976, 34.034220],'img-temp/map-img.jpg','Жилой комплекс <br> «Испанская деревня»');
    xObject2 = new xObject([44.408610, 34.032279],'img-temp/map-img.jpg','Жилой комплекс <br> «Испанская»');

    xObjectArr = [xObject1,xObject2];

      /* Центр карты */
      var xCenter = [44.407976, 34.034220];

    var xZoom = 17;

    if (window.matchMedia('(max-width: 575px)').matches) {
      xZoom = 16;
    }

      createMap('map__wrap',xCenter);

      function createMap(xID,xCenter) {

        if ($("#" + xID + "").length > 0) {

          var myMap;

          // Дождёмся загрузки API и готовности DOM.
          ymaps.ready(init);

          function init () {
              myMap = new ymaps.Map(xID, {
                  center: xCenter,
                  zoom: xZoom
              }, {
                  searchControlProvider: 'yandex#search'
              });

              // Создаём макет содержимого.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),

                xObjectArr.forEach(function(xel,xi) {
                  window["myPlacemark"+xi] = new ymaps.Placemark(xel.coords, {
                      hintContent: ' ',
                      // Зададим содержимое балуна.
                      balloonContent: '<div class="balloon-df">' +
                      '<div class="balloon-img"><img src="' + xel.img +'" height="50" width="50" data-object-fit-cover></div>'
                      +'<div class="balloon-text">' + xel.title +'</div></div>' ,
                      balloonCloseButton: false,

                  }, {
                    // Опции.

                    balloonPanelMaxMapArea: 0,
                    openTimeout: 0,

                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: 'img/svg/pin.svg',
                    // Размеры метки.
                    iconImageSize: [24, 32],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-5, -40]

                  });
                });

          xObjectArr.forEach(function(xel,xi) {

            window["myPlacemark"+xi].events.add(['hintopen'], function (e) {
               window["myPlacemark"+xi].balloon.open();
            });

            myMap.geoObjects
                .add(window["myPlacemark"+xi]);

          });

            myMap.behaviors.disable('scrollZoom');
          }
        }
      }


      createMap2('contacts__map',[44.500417, 34.167557]);

      function createMap2(xID,coords) {

        if ($("#" + xID + "").length > 0) {

          var myMap2;

          // Дождёмся загрузки API и готовности DOM.
          ymaps.ready(init);

          function init () {
              myMap2 = new ymaps.Map(xID, {
                  center: coords,
                  zoom: 16
              }, {
                  searchControlProvider: 'yandex#search'
              });

              // Создаём макет содержимого.
                MyIconContentLayout2 = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),

                myPlacemarkX = new ymaps.Placemark(myMap2.getCenter(), {
                    hintContent: 'г. Ялта, ул. Васильева, 16',
                    balloonContent: 'г. Ялта, ул. Васильева, 16'
                }, {
                  // Опции.
                  // Необходимо указать данный тип макета.
                  iconLayout: 'default#image',
                  // Своё изображение иконки метки.
                  iconImageHref: 'img/svg/pin-golden.svg',
                  // Размеры метки.
                  iconImageSize: [25, 35],
                  // Смещение левого верхнего угла иконки относительно
                  // её "ножки" (точки привязки).
                  iconImageOffset: [-15, -30]
                });

            myMap2.geoObjects
                .add(myPlacemarkX);

            myMap2.behaviors.disable('scrollZoom');
          }
        }
      }

    })(jQuery);

