.page_wr--online .landing-top__img {
  bottom: -40px;
  left: 52.14035087719298%;
  width: 100%;
  max-width: 780px;
}
.landing__duration {
  padding-top: 38px;
  font-family: 'Panton',sans-serif;
  font-size: 19.7px;
  line-height: 1.2;
  color: #b9bcc3;
}
.page_wr--online .landing-top__wrap {
  padding: 17px 0 40px;
  min-height: 602px;
}
.online__btns {
  display: flex;
  align-items: center;
}
.page_wr--online .landing-top__icon {
  width: 57px;
  margin-right: 26px;
  background: none;
}
.page_wr--online .landing-top__text {
  font-size: 16px;
  font-weight: 300;
  color: #f1f2fa;
  font-family: 'GothamPro', sans-serif;
}
.page_wr--online .landing-top__for {
  padding-top: 55px;
}
.page_wr--online .landing-top__for .landing-top__text {
  max-width: 350px;
}
.landing-top__img-text {
  position: absolute;
  top: 67%;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.landing-top__img-text.second_name {
  position: absolute;
  top: 67%;
  left: auto;
  right: 215px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page_wr--online .wr .btn--transparent {
  font-family: 'Panton';
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: none;
  color: #ffffff;
  background: none;
  padding: 0;
  width: auto;
  height: auto;
  margin-left: 46px;
}
.page_wr--online .wr .btn--transparent:hover {
  box-shadow: none;
}
.page_wr--online .btn_wr .btn {
  color: #fff;
  font-family: 'Panton',sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: auto;
  height: 50px;
  line-height: 50px;
  padding: 0 31px;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#fa222a),to(#ff383f));
  background-image: -webkit-linear-gradient(bottom,#fa222a 0%,#ff383f 100%);
  background-image: -o-linear-gradient(bottom,#fa222a 0%,#ff383f 100%);
  background-image: linear-gradient(to top,#fa222a 0%,#ff383f 100%);
}
.online__video {
  height: 640px;
  margin-top: 8px;
}
.blue-bg {
  background: transparent url('../imgs/online/bg.png') no-repeat center center;
  background-size: cover;
}
.blue-bg .landing__title {
  color: #ffffff;
  text-align: center;
}
.online-for .wr {
  padding-top: 130px;
  padding-bottom: 85px;
}
.online-for__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}
.online-for__list > li {
  width: calc(50% - 20px);
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-right: 20px;
}
.online-for__list > li:nth-of-type(2n) {
  margin-right: 0;
}
.online-for__list > li:nth-of-type(n + 3) {
  margin-top: -80px;
}
.online-for__img {
  display: block;
  width: 552px;
  height: 315px;
  margin: 0 auto;
}
.online-for__df {
  position: relative;
  margin-bottom: 56px;
}
.online-for__title {
  position: relative;
  width: 100%;
  max-width: 485px;
  min-height: 76px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  font-family: 'Panton',sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.online-for__df::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  display: block;
  width: 95%;
  height: 4px;
  background-color: #fed343;
}
.online-for__text {
  /*font-family: GothamPro;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #f1f2fa;
  max-width: 400px;
}
.online-prog  .wr {
  padding: 104px 0 234px;
}
.online-prog__wrap {
  position: relative;
  display: flex;
  margin-top: 51px;
  background-color: #ffffff;
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 60px 30px 34px 65px;
}
.online-prog__label {
  position: absolute;
  top: 34px;
  left: 0;
  padding: 10px 51px 10px 65px;
  background-color: #082447;
  font-family: 'Panton';
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fed343;
}
.online-prog__content {
  flex-grow: 1;
  padding-top: 30px;
}
.online-prog__video {
  flex-shrink: 0;
  width: 49.80582524271845%;
  height: 300px;
  margin-left: 20px;
}
.online-prog__title {
  max-width: 330px;
  margin-bottom: 10px;
  font-family: 'Panton';
  font-size: 37px;
  line-height: 1.189189189189189;
  font-weight: 700;
  color: #003494;
}
.online-prog__add {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 32px;
}
.online-prog__add > li {
  display: flex;
  align-items: flex-end;
  margin-right: 24px;
}
.online-prog__add > li:last-of-type {
  margin-right: 0;
}
.online-prog__add-icon {
  flex-shrink: 0;
  display: block;
  width: 44px;
  margin-right: 10px;
}
.online-prog__add-num {
  font-size: 32.4px;
  line-height: 40px;
  font-weight: 300;
  color: #2b2b2b;
  line-height: 1;
  margin-right: 6px;
  display: block;
  margin-bottom: -2px;
}
.online-prog__add-text {
  display: block;
  font-size: 12.4px;
  line-height: 1.209677419354839;
  color: #2b2b2b;
}
.online-prog__problems {
  margin: 0;
  padding: 0;
  list-style: none;
}
.online-prog__problems > li {
  position: relative;
  margin-bottom: 8px;
  font-size: 16px;
  padding-left: 25px;
  color: #2b2b2b;
}
.online-prog__problems > li::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #0456a8;
  border-radius: 50%;
}
.online-prog__add > li:last-of-type {
  margin-bottom: 0;
}
.online-prog .landing__title {
  text-align: center;
}
.landing__desc {
  max-width: 750px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 0;
  font-size: 24px;
  line-height: 1.166666666666667;
  color: #f1f2fa;
  text-align: center;
}
.online-docs__list {
  margin: 0;
  padding: 0;
  list-style: 0;
  display: flex;
  flex-wrap: wrap;
}
.online-docs__list > li {
  width: 25%;
  border-right: 2px solid #fed343;
}
.online-docs__list > li:last-of-type,
.online-docs__list > li:nth-of-type(4n) {
  border-right: none;
}
.online-docs__list > li:nth-of-type(n + 5) {
  border-top: 2px solid #fed343;
}
.online-docs__list > li:nth-of-type(n + 5) .online-docs__item {
  padding-top: 44px;
  padding-bottom: 0;
}
.online-docs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px 22px;
}
.online-docs__icon {
  display: block;
  width: 116px;
  height: 112px;
  margin-bottom: 32px;
}
.online-docs__text {
  max-width: 180px;
  font-size: 16px;
  line-height: 1.5;
  color: #f1f2fa;
}
.online-docs .wr {
  padding-bottom: 150px;
}
.online-teachers .wr {
  padding-bottom: 100px;
}
.online-teachers__name {
  margin-bottom: 0;
  padding: 0;
  font-family: 'Panton',sans-serif;
  font-size: 70px;
  line-height: 1.2;
  font-weight: 600;
  color: #ff383f;
  max-width: calc(100% + 200px);
}
.decor-1--white {
  background: #fff;
}
.decor-1--white::before,
.decor-1--white::after {
  background-image: url('../imgs/online/decor-1.png');
}
.online-teachers__df {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  z-index: 1;
}
.online-teachers__steps {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 25px;
  counter-reset: li;
  max-width: 430px;
}
.online-teachers__steps > li {
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.4;
  color: #082244;
}
.online-teachers__steps > li:last-of-type {
  margin-bottom: 0;
}
.online-teachers__steps > li b {
  font-weight: 600;
}
.online-teachers__steps > li::before {
  content: counter(li) '. ';
  counter-increment: li;
  font-size: 18px;
  font-weight: 700;
  color: #ff383f;
}
.online-teachers__img {
  position: relative;
  margin-left: -200px;
  margin-right: -400px;
  z-index: -1;
}
.page_wr--online .screen_team .wr .collective_items {
  display: block;
}
.page_wr--online .screen_team .wr .collective_items .item {
  width: 100%;
  padding-right: 16px;
}
.page_wr--online .screen_team .wr .collective_items .item .image {
  border: none;
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.1);
}
.page_wr--online .screen_team .wr .collective_items .item .name {
  font-size: 13px;
  font-weight: 700;
  color: #131313;
}
.page_wr--online .screen_team .wr .collective_items .item .sub {
  font-size: 12.3px;
  font-weight: 400;
  color: #2b2b2b;
  opacity: 1;
  line-height: 1.2;
  padding-top: 10px;
}
.online-teachers .screen_base .wr {
  padding-bottom: 100px;
}
.online-faq {
  z-index: 1;
}
.online-faq .landing__title {
  margin-bottom: 15px;
  text-align: center;
}
.online-faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
}
.online-faq__list > li {
  border-bottom: 2px solid #d7d7d7;
}
.online-faq .wr {
  padding-bottom: 110px;
}
.online-faq__list > li .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 15px;
  cursor: pointer;
}
.online-faq__list > li .top h3 {
  margin-right: 15px;
  font-size: 22.8px;
  line-height: 1.2;
  font-weight: 700;
  color: #131313;
  transition: 0.3s;
}
.online-faq__list > li .top .open {
  position: relative;
  display: block;
  background: none;
  outline: none;
  border: none;
  width: 45px;
  height: 45px;
  background-color: #fed343;
  border-radius: 50%;
}
.online-faq__list > li .top .open::before,
.online-faq__list > li .top .open::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 14px);
  display: block;
  width: 29px;
  height: 3px;
  background-color: #000000;
  transition: 0.3s;
}
.online-faq__list > li .top .open::after {
  transform: rotate(90deg);
}
.online-faq__list > li .top .open.active::after {
  transform: rotate(360deg);
}
.online-faq__list > li .hidden {
  display: none;
}
.online-faq__list > li .top:hover h3 {
  color: #ff383f;
}
.online-faq::after {
  content: '';
  position: absolute;
  bottom: -76px;
  left: 0;
  width: 100%;
  height: 76px;
  background: transparent url(../imgs/landing/decor-1.png) no-repeat center center;
  background-size: 1926px 76px;
  transform: rotate(180deg);
}
.landing-know__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}
.landing-know__list > li {
  width: 50%;
  padding-bottom: 110px;
  display: flex;
  padding-right: 15px;
}
.landing-know__img img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 7px 7px 0px rgb(162 171 188 / 73%);
  -moz-box-shadow: 0px 7px 7px 0px rgba(162, 171, 188, 0.73);
  box-shadow: 0px 7px 7px 0px rgb(162 171 188 / 73%);
  object-fit: cover !important;
}
.landing-know__text.with_razbor {
  font-size: 16px;
}
.landing-know__text {
  font-size: 20px;
  line-height: 1.5;
  padding-top: 3px;
}
.online-reviews .land-but-wr a {
  background: #fed343;
  color: #082244;
  padding: 19px 35px;
  border-radius: 28px;
  text-decoration: none;
  font-weight: bold;
  transition: .6s;
}
.land-but-wr a:hover {
  background: #082244;
  color: #fed343;
}
.landing_form-modal {
  background: #082244;
  max-width: 800px;
  color: #fff;
  padding: 2em;
}
.online-reviews .landing-know__list > li {
  padding-bottom: 52px;
}
.online-reviews .landing-know__text {
  color: #082244;
}
.online-reviews .land-but-wr {
  padding-top: 18px;
}
.online-reviews .wr {
  padding-bottom: 10px;
}
.online-reviews {
  background-color: #d9dde7;
}
.online-reviews::before,
.online-reviews::after {
  background-image: url('../imgs/online/decor-2.png');
}
.online-reviews .landing__circles > li:nth-of-type(1) {
  right: 121px;
  top: -134px;
  left: auto;
  width: 89px;
  height: 89px;
  background: #fff;
}
.online-reviews .landing__circles > li:nth-of-type(2) {
  left: -188px;
  top: -42px;
  width: 129px;
  height: 129px;
  background: #fff;
}
.online-reviews .landing__circles > li:nth-of-type(3) {
  right: 231px;
  top: -114px;
  width: 97px;
  height: 97px;
  background: #fff;
}
.online-reviews .landing__circles > li:nth-of-type(4) {
  left: -140px;
  width: 120px;
  height: 120px;
  background-color: #d9dde7;
}
.online-reviews .landing__circles > li:nth-of-type(5) {
  left: 120px;
  bottom: -100px;
  width: 21px;
  height: 21px;
  background-color: #d9dde7;
}
.online-reviews .landing__circles > li:nth-of-type(6) {
  left: auto;
  right: 200px;
  bottom: -30px;
  width: 71px;
  height: 71px;
  background-color: #d9dde7;
}
.online-tariffs__list {
  display: flex;
  padding-top: 204px;
}
.online-tariffs__list > li {
  width: calc((100% - 28px * 2) / 3);
  margin-right: 28px;
}
.online-tariffs__list > li:last-of-type {
  margin-right: 0;
}
.online-tariffs__item {
  background-color: #d9dde7;
  border-radius: 20px;
  padding-top: 1px;
}
.online-tariffs__img {
  margin-top: -155px;
  margin-bottom: 12px;
  text-align: center;
}
.online-tariffs__img img {
  display: inline-block;
  width: auto;
}
.online-tariffs__title {
  margin-bottom: 25px;
  font-family: 'Panton';
  font-size: 45.9px;
  font-weight: 600;
  color: #082244;
  text-align: center;
}
.online-tariffs .wr {
  padding-top: 130px;
  padding-bottom: 90px;
}
.online-tariffs__add {
  margin-top: 24px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #f1f2fa;
}
.online-tariffs__content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 36px;
}
.online-tariffs__price {
  display: block;
  font-family: 'Panton';
  margin-bottom: 10px;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 600;
  color: #082244;
  text-align: center;
}
.online-tariffs__free {
  margin-bottom: 32px;
  line-height: 1.2;
  text-align: center;
}
.online-tariffs__free span {
  padding-top: 4px;
  padding-left: 29px;
  background: transparent url('../imgs/online/user.svg') no-repeat left bottom;
  background-size: 15px 19px;
}
.online-tariffs__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.online-tariffs__content ul > li {
  position: relative;
  margin-bottom: 16px;
  font-family: 'Gotham Pro';
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #2b2b2b;
}
.online-tariffs__content ul > li::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -25px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #0456a8;
  border-radius: 50%;
}
.online-tariffs__content ul > li.disabled {
  text-decoration: line-through;
  color: #9f9f9f;
}
.online-tariffs__content ul > li.disabled::before {
  opacity: 0.3;
}
.online-tariffs .landing-top__btns .btn_wr {
  width: 100%;
}
.online-tariffs .landing-top__btns .btn {
  width: 100%;
  height: 88px;
  line-height: 88px;
  font-size: 18px;
}
.online-stages {
  background-color: #082244;
}
.online-stages .landing-stages__text {
  font-size: 36.8px;
  line-height: 1.2;
  color: #ffffff;
}
.online-stages .landing-stages__text span {
  font-size: 44.2px;
}
.online-stages .landing-stages__list-text {
  color: #ffffff;
}
.online-stages .landing-stages__list ul {
  padding-right: 10px;
}
.online-stages .wr {
  padding-top: 107px;
  padding-bottom: 87px;
}
.online-stages::before {
  content: none;
}
.online-stages .landing-stages__list ul > li:last-of-type .landing-stages__list-num::after {
  content: none;
}
.online-stages .landing__circles > li:nth-of-type(1) {
  left: 391px;
  top: -11px;
  width: 21px;
  height: 21px;
  background-color: #082244;
}
.online-stages .landing__circles > li:nth-of-type(2) {
  left: 401px;
  top: 11px;
  width: 146px;
  height: 146px;
  background-color: #082244;
}
.online-stages .landing__circles > li:nth-of-type(3) {
  display: none;
}
.online-stages .landing-stages__form .df .right {
  padding-top: 83px;
  padding-bottom: 30px;
}
.online-teachers__team .slick-arrow {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  width: 50px;
  height: 50px;
  font-size: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
.online-teachers__team .slick-arrow::before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #013d74;
  border-left: 3px solid #013d74;
  top: 10%;
  left: 50%;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.online-teachers__team .slick-next::before  {
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
  -ms-transform: translate(-50%, -50%) rotate(-135deg);
  transform: translate(-50%, -50%) rotate(-135deg);
}
.online-teachers__team .slick-prev::before  {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.online-teachers__team .slick-prev {
  left: -10px;
}
.online-teachers__team .slick-next {
  right: -10px;
}
.online-teachers__team {
  position: relative;
}

@media screen and (max-width: 1550px) {
  .online-prog::after {
    bottom: -30px;
  }
}
@media screen and (max-width: 1450px) {
  .online-prog::after {
    content: none;
  }
}
@media screen and (max-width: 1400px) {
  .page_wr--online .landing-top__img {
    left: 38.140351%;
  }
  .online__video {
    height: 530px;
  }
  .online-for__list {
    margin-top: -50px;
  }
  .online-for__img {
    width: 432px;
    height: 245px;
  }
  .online-for__title {
    max-width: 475px;
    min-height: 70px;
    font-size: 24px;
    line-height: 34px;
  }
  .online-for__df {
    margin-bottom: 46px;
  }
  .online-for__text {
    font-size: 14px;
    line-height: 21px;
  }
  .online-prog .wr {
    padding: 24px 15px 60px;
  }
  .online-prog__wrap {
    margin-top: 31px;
    padding: 50px 30px 34px 45px;
  }
  .online-docs .wr {
    padding-top: 100px;
  }
  .online-docs__item {
    padding: 10px 20px 2px;
  }
  .online-docs__icon {
    width: 86px;
    height: 82px;
    margin-bottom: 22px;
  }
  .online-docs__text {
    font-size: 14px;
  }
  .landing__desc {
    font-size: 21px;
  }
  .online-tariffs__img img {
    max-width: 320px;
  }
  .online-tariffs__title {
    margin-bottom: 18px;
    font-size: 36.9px;
  }
  .online-tariffs__content ul > li {
    margin-bottom: 11px;
  }
  .online-tariffs__price {
    font-size: 36px;
  }
  .online-tariffs .landing-top__btns .btn {
    height: 68px;
    line-height: 76px;
    font-size: 16px;
  }
  .online-tariffs__add {
    font-size: 19px;
  }
  .online-tariffs .wr {
    padding-left: 15px;
    padding-right: 15px;
  }
  .online-faq__list > li .top .open::before, .online-faq__list > li .top .open::after {
    left: calc(50% - 9px);
    width: 19px;
    height: 2px;
  }
  .online-faq__list > li .top {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .online-faq__list > li .top h3 {
    font-size: 15px;
  }
  .online-faq__list > li .top .open {
    width: 35px;
    height: 35px;
  }
  .online-faq__list > li .hidden .article * {
    font-size: 14px;
  }
  .online-faq .wr {
    padding: 20px 15px 50px;
  }
  .online-teachers .wr {
    padding: 40px 15px 100px;
  }
  .online-teachers__img {
    margin-right: -420px;
    max-width: 1040px;
  }
  .online-teachers .landing__title {
    font-size: 33px;
  }
  .online-teachers__name {
    font-size: 52px;
  }
  .online-teachers__steps > li {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .online-teachers__df {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 1170px) {
  .online__video {
    height: 480px;
  }
}
@media screen and (max-width: 1070px) {
  .online-teachers__img {
    margin-right: -280px;
    max-width: 780px;
  }
  .online-teachers .landing__title {
    font-size: 28px;
  }
  .online-teachers__name {
    font-size: 40px;
  }
  .online-teachers__steps > li {
    margin-bottom: 4px;
  }
  .online-teachers__steps > li::before {
    font-size: 16px;
  }
  .online-prog__wrap {
    margin-top: 31px;
    padding: 40px 30px 24px 35px;
  }
  .online-prog__label {
    top: 21px;
    padding: 10px 31px 10px 37px;
    font-size: 20px;
  }
  .online-prog__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .online-prog__add {
    margin-bottom: 22px;
  }
  .online-prog__problems > li {
    margin-bottom: 6px;
    font-size: 14px;
    padding-left: 22px;
  }
  .online-prog__problems > li::before {
    width: 6px;
    height: 6px;
  }
  .online-docs .wr {
    padding: 70px 15px 110px;
  }
  .landing__desc {
    margin-bottom: 35px;
    font-size: 18px;
  }
  .online-docs__icon {
    width: 66px;
    height: 62px;
    margin-bottom: 16px;
  }
  .online-docs__text {
    font-size: 13px;
  }
  .online-docs__list > li:nth-of-type(n + 5) .online-docs__item {
    padding-top: 26px;
  }
  .online-tariffs__list > li {
    width: calc((100% - 18px * 2) / 3);
    margin-right: 18px;
  }
  .online-tariffs__content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
  }
  .online-tariffs__img {
    margin-top: -125px;
    margin-bottom: 16px;
  }
  .online-tariffs__img img {
    max-width: 260px;
  }
  .online-tariffs__title {
    margin-bottom: 14px;
    font-size: 27.9px;
  }
  .online-tariffs__content ul > li {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .online-tariffs__content ul > li::before {
    left: -20px;
    width: 6px;
    height: 6px;
  }
  .online-tariffs__price {
    font-size: 28px;
  }
  .online-tariffs__free {
    font-size: 14px;
    margin-bottom: 27px;
  }
  .online-tariffs .landing-top__btns .btn {
    height: 58px;
    line-height: 63px;
    font-size: 14px;
  }
  .online-tariffs__list {
    padding-top: 164px;
  }
  .online-tariffs .wr {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 991px) {
  .online-teachers__df {
    display: block;
  }
  .online-teachers__img {
    margin-right: 0;
    margin-left: 0;
    margin-top: 30px;
  }
  .online-teachers__steps {
    max-width: 100%;
  }
  .online__video {
    height: 400px;
  }
  .online-for__img {
    width: 332px;
    height: 195px;
  }
  .online-for__df {
    margin-bottom: 36px;
  }
  .online-for__text {
    font-size: 13px;
    line-height: 18px;
  }
  .online-for__img {
    width: 272px;
    height: 155px;
  }
  .online-for__title {
    max-width: 475px;
    min-height: 31px;
    font-size: 14px;
    line-height: 31px;
  }
  .online-for__title br {
    display: none;
  }
  .online-for__df::before {
    bottom: -17px;
    height: 2px;
  }
  .online-for__text {
    font-size: 13px;
    line-height: 19px;
  }
  .online-for__list > li:nth-of-type(n + 3) {
    margin-top: -50px;
  }
  .online-for__list > li {
    width: 50%;
    margin-right: 0;
  }
  .landing-know__text.with_razbor {
    font-size: 14px;
  }
  .online-reviews .land-but-wr a {
    background: #fed343;
    color: #082244;
    padding: 14px 25px;
  }
  .landing-know__img img {
    width: 90px;
    height: 88px;
  }
}
@media screen and (max-width: 790px) {
  .online-reviews .landing__circles > li:nth-of-type(1),
  .online-reviews .landing__circles > li:nth-of-type(3) {
    display: none;
  }
  .online-reviews .landing__circles > li:nth-of-type(5) {
    display: none;
  }
  .online-reviews::before {
    top: -96px;
    width: 120%;
    height: 121px;
  }
  .online-prog.decor-1::before {
    top: -76px;
    width: 120%;
    height: 81px;
  }
  .online-stages .landing-stages__text span {
    font-size: 33.2px;
  }
  .online-stages .wr {
    padding-top: 67px;
    padding-bottom: 47px;
  }
  .online-stages .landing-stages__form .df .right {
    padding-top: 33px;
  }
  .landing-stages__list {
    padding-right: 0;
  }
  .online-stages .landing-stages__text {
    font-size: 18px;
    line-height: 1.7;
  }
  .online__video {
    height: 350px;
  }
  .landing-know .wr {
    padding-top: 20px;
    padding-bottom: 35px;
  }
  .page_wr--online .landing-know .wr {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .online-for__title {
    min-height: 28px;
    font-size: 12px;
    line-height: 25px;
  }
  .online-prog__video {
    width: 45.805825%;
    height: 210px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .online-prog__wrap {
    margin-top: 31px;
    padding: 30px 20px 24px 25px;
  }
  .online-prog__label {
    top: 11px;
    padding: 5px 31px 5px 27px;
    font-size: 16px;
  }
  .online-prog__content {
    padding-top: 20px;
  }
  .online-prog__title {
    font-size: 25px;
  }
  .online-prog .wr {
    padding: 14px 15px 30px;
  }
  .online-prog__add-icon {
    width: 28px;
    margin-right: 6px;
  }
  .online-prog__add-num {
    font-size: 26.4px;
  }
  .online-prog__add-text {
    font-size: 9.4px;
  }
  .online-prog__add > li {
    margin-right: 14px;
  }
  .online-prog__problems > li {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .online-docs__item {
    padding: 10px 10px 2px;
  }
  .landing__desc {
    font-size: 16px;
  }
  .online-tariffs__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .online-tariffs__list {
    flex-direction: column;
    align-items: center;
  }
  .online-tariffs__list > li {
    width: 100%;
    max-width: 450px;
    margin-right: 0;
    padding-bottom: 90px;
  }
  .online-tariffs__list > li:last-of-type {
    padding-bottom: 0;
  }
  .online-tariffs__img {
    margin-top: -65px;
  }
  .online-tariffs__img img {
    max-width: 210px;
  }
  .online-tariffs__add {
    padding-bottom: 0;
    font-size: 17px;
  }
  .online-tariffs .wr {
    padding-bottom: 110px;
  }
  .landing-know::after {
    width: 161%;
  }
  .online-tariffs::before {
    top: -96px;
    width: 120%;
    height: 81px;
  }
  .online-tariffs .landing-top__btns .btn_wr {
    width: 100%;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  .online-tariffs .landing-top__btns .btn_wr .btn {
    box-shadow: 0 8px 0 #891e22, 0 0 8px rgb(254 54 61), inset 0 0 8px 4px rgb(255 255 255 / 20%);
  }
  .online-tariffs__list {
    padding-top: 94px;
  }
  .online-teachers .wr {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 700px) {
  .online-docs__icon {
    width: 56px;
    height: 52px;
    margin-bottom: 12px;
  }
  .online-docs__text {
    font-size: 12px;
  }
  .online-docs__list > li:nth-of-type(n + 5) .online-docs__item {
    padding-top: 20px;
  }
  .landing-know__list > li {
    width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .online-teachers .landing__title {
    font-size: 22px;
  }
  .online-teachers__name {
    font-size: 32px;
  }
  .landing__title {
    font-size: 25px;
  }
  .online-for__text {
    font-size: 12px;
  }
  .online-for__list > li {
    padding-right: 5px;
    padding-left: 5px;
  }
  .online-for .wr {
    padding-top: 100px;
    padding-bottom: 65px;
  }
  .online-for__img {
    width: 242px;
    height: 145px;
  }
  .online-for__title {
    min-height: 24px;
    font-size: 16px;
    line-height: 21px;
  }
  .online-for__text {
    font-size: 14px;
  }
  .online-prog__video {
    width: 43.805825%;
    height: 170px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .online-docs__list > li {
    width: 50%;
  }
  .online-docs__list > li:last-of-type,
  .online-docs__list > li:nth-of-type(2n) {
    border-right: none;
  }
  .online-docs__list > li:nth-of-type(n + 3) {
    border-top: 2px solid #fed343;
  }
  .online-docs__list > li:nth-of-type(n + 3) .online-docs__item {
    padding-top: 20px;
  }
  .online-docs .wr {
    padding: 70px 15px 80px;
  }
  .landing-know__list {
    margin-top: 35px;
  }
  .page_wr--online .landing-know .wr {
    padding-bottom: 0;
  }
  .online-faq .wr {
    padding: 0px 15px 30px;
  }
  .online-faq__list > li .top h3 {
    font-size: 14px;
  }
  .online-faq__list > li .top .open {
    width: 32px;
    height: 32px;
  }
  .online-faq__list > li .top .open::before, .online-faq__list > li .top .open::after {
    left: calc(50% - 8px);
    width: 16px;
  }
  .online-faq__list > li .hidden .article * {
    font-size: 13px;
  }
  .online-teachers__steps > li {
    text-align: justify;
  }
}
@media screen and (max-width: 500px) {
  .online__video {
    height: 250px;
  }
  .online-for__list {
    margin-top: 0;
  }
  .online-for__list > li {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .online-for__list > li:nth-of-type(2n) {
    margin-top: -50px;
  }
  .online-for__list > li:last-of-type {
    margin-bottom: 0;
  }
  .online-for__df {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
  .online-for__img {
    width: 172px;
    height: 138px;
    margin-bottom: -40px;
    margin-left: -40px;
    flex-shrink: 0;
  }
  .online-for__title {
    min-height: 24px;
    margin-left: -20px;
    padding-bottom: 20px;
    /*font-size: 13px;*/
    line-height: 21px;
    flex-grow: 1;
    text-align: left;
  }
  .online-for .wr {
    padding-top: 70px;
  }
  .online-prog__wrap {
    display: block;
  }
  .online-prog__video {
    width: 100%;
    height: 220px;
    margin-left: 0;
  }
  .online-prog .wr {
    padding: 4px 15px 10px;
  }
  .online-reviews .landing-know__list > li {
    padding-bottom: 42px;
  }
  .online-reviews .landing-know__list > li:last-of-type {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 430px) {
  .online__btns {
    flex-direction: column;
    align-items: center;
  }
  .page_wr--online .btn_wr {
    margin-bottom: 30px;
  }
  .page_wr--online .wr .btn--transparent {
    margin-left: 0;
  }
  .page_wr--online .landing-top__for {
    padding-top: 35px;
  }
  .landing-know__img img {
    width: 70px;
    height: 68px;
  }
}
