.reviews
  position: relative
  padding-top: 32px
  margin-bottom: 61px
  &__wrap
    padding: 57px 0 29px
    background-color: #1a50b0
    background-image: linear-gradient(-54.0deg, #9ee7f2 21%, #54b1f0 78%)
  &__slider
    padding: 30px 0
    overflow: hidden
    &-wrap
      max-width: 836px
      margin-left: auto
      margin-right: auto


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* reviews */
