.partners
  position: relative
  &__slider
    overflow: hidden
  &__item
    justify-content: space-between
    width: 100%
    font-size: 17px
    line-height: 1.2
    font-weight: 500
    color: $accent
    transition: 0.3s
    &::before
      margin-right: -7px
    &::after
      margin-left: -7px
    &:hover
      color: $accent2


  @media screen and (max-width: 991px)
    &__item
      font-size: 15px

  // max-width 991px

  @media screen and (max-width: 650px)
    &__item
      font-size: 14px

  // max-width 650px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* partners */
