.quote
  position: relative
  background-color: #f5f5f5
  background-image: linear-gradient(-54.0deg, #9ee7f2 39%, #54b1f0 60%)
  z-index: 3
  &__df
    display: flex
  &__img
    flex-shrink: 0
    box-shadow: 0px 10px 27px 0px rgba(83,129,215,0.23)
    width: 241px
    height: 241px
    margin-top: -16px
    margin-bottom: -22px
    border-radius: 50%
    padding: 20px
    overflow: hidden
    background-color: #ffffff
    background-image: linear-gradient(-16.0deg, rgba(255,255,255,0.41) 8%, rgba(255,255,255,0.0) 91%)
    border: 1.0px solid #eaeaea
    margin-right: 55px
    img
      opacity: 0.9
      margin-top: -10px
      margin-right: -10px
  &__text
    position: relative
    padding: 67px 125px 20px 70px
    font-size: 30px
    line-height: 1.2 /* 36 / 30 */
    color: #ffffff
    strong
      font-weight: 700
    span
      display: inline-block
      padding-left: 60px
    cite
      display: block
      margin-top: 12px
      font-size: 16px
      font-style: italic
      color: #ffffff
      text-align: right

    &::before,
    &::after
      content: ''
      position: absolute
      display: block
      width: 46px
      height: 35px
      background: transparent url('../img/icon-quotes.png') no-repeat center center
      background-size: contain
    &::before
      top: -5px
      left: 0
      transform: rotate(180deg)
    &::after
      bottom: -5px
      right: 0


  @media screen and (max-width: 991px)
    &__img
      margin-right: 25px
    &__text
      padding: 47px 65px 20px 50px

  // max-width 991px

  @media screen and (max-width: 850px)
    &__text
      padding: 47px 30px 20px
      font-size: 26px

  // max-width 850px

  @media screen and (max-width: 767px)
    &__img
      width: 221px
      height: 221px
    &__text
      font-size: 22px
      span
        padding-left: 20px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__img
      width: 161px
      height: 161px
      margin-right: 15px
    &__text
      font-size: 19px
      padding: 37px 20px 20px
      &::before,
      &::after
        width: 36px
        height: 25px
      &::after
        bottom: -11px
      cite
        margin-top: 8px
        font-size: 13px
      span
        padding-left: 0
      br
        display: none

  // max-width 575px

  @media screen and (max-width: 500px)
    &__img
      width: 121px
      height: 121px
      margin-right: 5px
      img
        margin-top: 0
        margin-right: 0
        margin-left: -10px
        width: 120%
    &__text
      font-size: 15px
      padding: 27px 20px 20px
      cite
        margin-top: 6px
        font-size: 11px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__img
      width: 91px
      height: 91px
      margin-right: 5px
      margin-top: 11px
      margin-bottom: 11px
      img
        margin-top: -10px
        margin-left: -8px
        width: 140%
    &__text
      font-size: 14px
      padding: 27px 15px 20px

  // max-width 400px

/* quote */
