mixin page_catalog()
  button.catalog-close.active(type="button")
    span.catalog-close__wrap
      span.line
  a.catalog-open(href="#")
    .burger
      span.burger__wrap
        span.line

    span Каталог

  .catalog__wrap
    ul.menu
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/discount1.svg" alt="")
          span Скидки
      li.menu-item.menu-item-has-children
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/kitchen.svg" alt="")
          span Кухни
          span.arrow

        ul.sub-menu
          li.menu-item.menu-item-has-children
            a(href="#") Модульные кухни
              span.arrow
            .sub-menu-wrap
              ul.sub-menu.sub-menu--inner
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item.menu-item-has-children
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                    span.arrow
                  ul.sub-menu.sub-menu--inner
                    li.menu-item
                      a(href="#") Верхние модули
                    li.menu-item
                      a(href="#") Нижние модули
                    li.menu-item
                      a(href="#") Пеналы
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item.menu-item-has-children
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                    span.arrow
                  ul.sub-menu.sub-menu--inner
                    li.menu-item
                      a(href="#") Верхние модули
                    li.menu-item
                      a(href="#") Нижние модули
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель

          li.menu-item
            a(href="#") Комплектные кухни
          li.menu-item.menu-item-has-children
            a(href="#") Обеденные столы
              span.arrow
            .sub-menu-wrap
              ul.sub-menu.sub-menu--inner
                li.menu-item
                  a(href="#") Кухня Бетон МДФ Стендмебель
                li.menu-item
                  a(href="#") Кухня Брауни ЛДСП Сурская мебель
          li.menu-item
            a(href="#") Столы-книжки
          li.menu-item
            a(href="#") Стулья и табуреты
          li.menu-item
            a(href="#") Кухонные уголки
          li.menu-item
            a(href="#") Столешницы, стеновые панели и комплектующие
          li.menu-item
            a(href="#") Техника для кухни
          li.menu-item
            a(href="#") Заказать замер кухни

      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/wardrobe1.svg" alt="")
          span Шкафы-купе
      li.menu-item.menu-item-has-children
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/bed.svg" alt="")
          span Кровати
          span.arrow
        ul.sub-menu
          li.menu-item
            a(href="#") Подменю
          li.menu-item
            a(href="#") Комплектные кухни
          li.menu-item
            a(href="#") Обеденные столы
          li.menu-item
            a(href="#") Столы-книжки
          li.menu-item
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/mattress.svg" alt="")
          span Матрасы
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/bed1.svg" alt="")
          span Спальни
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/armchair.svg" alt="")
          span Гостиные
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/furniture.svg" alt="")
          span Прихожие
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/bunk-bed.svg" alt="")
          span Детские
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/sofa.svg" alt="")
          span Мягкая мебель
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/desk.svg" alt="")
          span Офисная мебель
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/closet.svg" alt="")
          span Шкафы распашные
      li.menu-item
        a(href="#")
          .catalog__icon
            img(src="img/svg/icons/chest-of-drawers.svg" alt="")
          span Комоды

  // /.page_top
