mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      +breadcrumbs--about

      h1.page-title О нас

      .about__df.clearfix
        .about__img
          img(src="img/about-img.jpg" alt="")

        .about__content
          .article
            p На сегодняшний день предприятие «Мебельсев» - это современная развитая, пользующаяся все большей популярностью у покупателей сеть мебельных салонов. Для большего удобства наших клиентов в разных частях города расположены две выставочные площадки, предлагающие наибольший по городу ассортимент продукции: более 60 ведущих фабрик Беларуси и России размещают на наших площадях свою лучшую продукцию.

            p Наша компания является единственным официальным представителем ведущих мебельных фабрик: Сильва; Арида; Balito; Фабрика №1; Устье (мягкая мебель), Сильва; Сканд мебель; Mebelson; Арида; Северокавказская мебельная фабрика (корпусная мебель), где покупатель имеет возможность не только приобрести понравившийся товар, а также и заказать интересующую модель по своему желанию.

            p Мы предлагаем мебель для всего дома: прихожие, столовые, гостиные, мягкую мебель: диван-кровати, диваны , кресла, мебель для детских комнат, наборы мебели для спальни, кухни, столы и стулья, мебель для рабочих кабинетов, мебель для баров и ресторанов, офисную мебель. В ассортименте нашего предприятия широчайший выбор мебели в различных ценовых диапазонах от эконом-класса до премиум-класса.

            p Работники нашего предприятия качественно выполняют весь комплекс услуг от доставки и подъема до сборки мебели у Вас дома. Внимание, индивидуальный подход к каждому клиенту позволили нашему предприятию иметь тысячи довольных покупателей.

      .about__feat
        .scr1__feat-wrap
          .scr1__feat#scr1__feat
            .swiper-wrapper
              .swiper-slide
                .scr1__feat-item
                  .scr1__feat-df
                    .scr1__feat-content
                      h3 Цены ниже, чем у розничных магазинов на 25%

                    .scr1__feat-icon
                      img(src="img/svg/icons/discount.svg" alt="" data-object-fit-contain)

                  .scr1__feat-text
                    p Цены ниже, чем у конкурентов на 25%, за счет прямых поставок от производителей

              .swiper-slide
                .scr1__feat-item
                  .scr1__feat-df
                    .scr1__feat-content
                      h3 Фабричное качество товаров и&nbsp;гарантия от производителя

                    .scr1__feat-icon
                      img(src="img/svg/icons/medal.svg" alt="" data-object-fit-contain)

                  .scr1__feat-text
                    p Цены ниже, чем у конкурентов на 25%, за счет прямых поставок от производителей

              .swiper-slide
                .scr1__feat-item
                  .scr1__feat-df
                    .scr1__feat-content
                      h3 Доставка от 1 до 5 дней, при&nbsp;наличии на складах в Крыму

                    .scr1__feat-icon
                      img(src="img/svg/icons/shipping.svg" alt="" data-object-fit-contain)

                  .scr1__feat-text
                    p Цены ниже, чем у конкурентов на 25%, за счет прямых поставок от производителей

          .scr1__feat-btns
            .swiper-dots

  // /.scr_about
