mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      +breadcrumbs--blog

      h1.page-title Блог

      ul.blog__list
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года – экостиль в интерьере

              p Все про экостиль в интерьере.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              h2
                a(href="#") Тренд 2021 года

              p Все про экостиль в интерьере. Фото и описание проектов, особенностей направления, советы специалистов. Экостиль в интерьере гостиной, кухни, ванной и других комнат...

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;

      +paginator

  // /.scr_blog

mixin scr_blog--post()
  aside.scr_blog.blog.blog--post(id="scr_blog")

    h2.blog__title Больше новостей

    ul.blog__list
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

          .blog__right
            .blog__content
              h3
                a(href="#") Тренд 2021 года – экостиль в интерьере

              time(datetime="2021-06-29") 29 июня 2021 г.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

          .blog__right
            .blog__content
              h3
                a(href="#") Тренд 2021 года – экостиль в интерьере

              time(datetime="2021-06-29") 29 июня 2021 г.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

          .blog__right
            .blog__content
              h3
                a(href="#") Тренд 2021

              time(datetime="2021-06-29") 29 июня 2021 г.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

          .blog__right
            .blog__content
              h3
                a(href="#") Тренд 2021 года – экостиль в интерьере

              time(datetime="2021-06-29") 29 июня 2021 г.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

          .blog__right
            .blog__content
              h3
                a(href="#") Тренд 2021 года – экостиль в интерьере

              time(datetime="2021-06-29") 29 июня 2021 г.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

          .blog__right
            .blog__content
              h3
                a(href="#") Тренд 2021

              time(datetime="2021-06-29") 29 июня 2021 г.

            .blog__bottom
              a.blog__link(href="#") Подробнее &gt;&gt;

    .blog__btns
      .btn__wrap
        a.xbtn.xbtn--blue(href="#") Смотреть все

  // /.scr_blog
