mixin scr_credit()
  section.scr_credit.credit(id="scr_credit")
    .container
      +breadcrumbs--credit

      .guarantee__wrapper
        .credit__content
          h1.page-title Кредит

          .credit__top(style="background: transparent url('../img/credit-img.jpg') no-repeat center center; background-size: cover;")
            h2 Рассрочка
              br
              span  на 6 , 10 и 12 месяцев

            ul
              li 0% – первоначальный взнос от цены товара
              li 0% – переплата
              li Выплаты по рассрочке производятся          ежемесячно равными долями в течение           выбранного срока

          .article
            p На любые товары, представленные в магазине Mebel Sev Com можно оформить рассрочку без первоначального взноса и переплат на 6, 10 либо 12 месяцев. В период действия некоторых акций есть
              b  возможность оформить рассрочку на 24 месяца.

            p Предоставляем рассрочку или кредит на товар для покупателей с Севастопольской регистрацией. Потребительский займ предоставляет наш партнер
              a(href="#")  Кредитный кооператив «Вместе»

          .credit__info
            .credit__col
              span 0%
              p первоначальный взнос от цены товара
            .credit__col
              span 0%
              p переплата
            .credit__col
              p Выплаты по рассрочке производятся ежемесячно равными долями в течение выбранного срока

          h2.page-title--inner Преимущества покупки в рассрочку

          ul.credit__feat.scr1__feat
            li
              .scr1__feat-item
                .scr1__feat-df
                  .scr1__feat-icon
                    img(src="img/credit-icon-1.png" alt="" data-object-fit-contain)

                  .scr1__feat-content
                    h3 Удобно

                    .scr1__feat-text
                      p Вы также откладываете деньги, но уже пользуетесь мебелью. Выплачивая стоимость приобретенной мебели по частям, вы не ограничиваете свой бюджет.
            li
              .scr1__feat-item
                .scr1__feat-df
                  .scr1__feat-icon
                    img(src="img/credit-icon-2.png" alt="" data-object-fit-contain)

                  .scr1__feat-content
                    h3 Честно

                    .scr1__feat-text
                      p Цена на товар не вырастет, платежи остаются постоянными вне зависимости от изменения стоимости выбранной мебели.
            li
              .scr1__feat-item
                .scr1__feat-df
                  .scr1__feat-icon
                    img(src="img/credit-icon-3.png" alt="" data-object-fit-contain)

                  .scr1__feat-content
                    h3 Быстро

                    .scr1__feat-text
                      p Рассмотрение заявки 15-30 минут, нет необходимости куда-то ехать
            li
              .scr1__feat-item
                .scr1__feat-df
                  .scr1__feat-icon
                    img(src="img/credit-icon-4.png" alt="" data-object-fit-contain)

                  .scr1__feat-content
                    h3 Просто

                    .scr1__feat-text
                      p Мы сами подаем заявки во все банки-партнеры

      .form__wrapper

  // /.scr_credit
