mixin scr_reviews()
  section.scr_reviews.reviews.grey-bg(id="scr_reviews")
    .container
      .reviews__top
        h2.page-title Отзывы покупателей

        .btn__wrap
          a.xbtn.xbtn--green.open-modal(href="#modal__add") Добавить отзыв

      .reviews__slider-wrap
        .reviews__slider#reviews__slider
          .swiper-wrapper
            .swiper-slide
              .reviews__item
                .reviews__item-top
                  span Иван
                  time(datetime="2021-06-29") 29 июня 2021 г.

                .reviews__content
                  .reviews__text Первый раз заказывали в данном магазине. Операторы вежливые, все доступно объяснили, матрас в итоге пришел быстро. Качественный, стоит своих денег. Обязательно буду рекомендовать данный магазин знакомым. Спасибо за вашу работу!

                .reviews__btns
                  .btn__wrap
                    a.xbtn.xbtn--blue.open-modal(href="#modal__reviews") Смотреть оригинал
            .swiper-slide
              .reviews__item
                .reviews__item-top
                  span Екатерина
                  time(datetime="2021-06-29") 29 июня 2021 г.

                .reviews__content
                  .reviews__text После отзыва выше, со мной сам!!! связался представитель Хофф, оформил претензию по качеству, к тому моменту провал в середине составлял уже 8 см... Долго, но по факту претензии заменили на такой же, качество замены гораздо лучше...

                .reviews__btns
                  .btn__wrap
                    a.xbtn.xbtn--blue.open-modal(href="#modal__reviews") Смотреть оригинал
            .swiper-slide
              .reviews__item
                .reviews__item-top
                  span Олеся
                  time(datetime="2021-06-29") 29 июня 2021 г.

                .reviews__content
                  .reviews__text Диван хороший. Пользуемся 1 меняц, пока все устраивает. Спит ребенок не раскладывая!

                .reviews__btns
                  .btn__wrap
                    a.xbtn.xbtn--blue.open-modal(href="#modal__reviews") Смотреть оригинал
            .swiper-slide
              .reviews__item
                .reviews__item-top
                  span Роман
                  time(datetime="2021-06-29") 29 июня 2021 г.

                .reviews__content
                  .reviews__text Купил 27.04.21. Привезли на следующий день, собрал за пол часика, проверил на повреждения сколы царапины, все хорошо, сплю неделю, удобный диван для сна на повседневную основу, широкое спальное место

                .reviews__btns
                  .btn__wrap
                    a.xbtn.xbtn--blue.open-modal(href="#modal__reviews") Смотреть оригинал
            .swiper-slide
              .reviews__item
                .reviews__item-top
                  span Олеся
                  time(datetime="2021-06-29") 29 июня 2021 г.

                .reviews__content
                  .reviews__text Диван хороший. Пользуемся 1 меняц, пока все устраивает. Спит ребенок не раскладывая!

                .reviews__btns
                  .btn__wrap
                    a.xbtn.xbtn--blue.open-modal(href="#modal__reviews") Смотреть оригинал
            .swiper-slide
              .reviews__item
                .reviews__item-top
                  span Роман
                  time(datetime="2021-06-29") 29 июня 2021 г.

                .reviews__content
                  .reviews__text Купил 27.04.21. Привезли на следующий день, собрал за пол часика, проверил на повреждения сколы царапины, все хорошо, сплю неделю, удобный диван для сна на повседневную основу, широкое спальное место

                .reviews__btns
                  .btn__wrap
                    a.xbtn.xbtn--blue.open-modal(href="#modal__reviews") Смотреть оригинал

        .reviews__slider-btns
          button.swiper-button-prev(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_reviews
