mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs--post
      .post__df
        .post__content
          h1.page-title Тренд 2021 года – экостиль в интерьере

          time(datetime="2021-06-29") 29 июня 2021 г.

          .article.clearfix
            p Эко-дизайном интересовались в разное время, но больше всего – в конце прошлого века. Природные ресурсы исчерпались, и назрела серьезная экологическая проблема, которая заставила людей по-другому посмотреть на окружающий их мир. Кучи пластика, других синтетических материалов, промышленных отходы, лесные пожары, наводнения, «серые» городские пейзажи… от всего этого захотелось укрыться. И дизайнеры нашли простое, но эффективное решение – использовать экостиль в интерьре. Посмотрите на фото, почитайте описания – плюсы очевидны!

            img(src="img-temp/post/img-1.jpg" alt="")

            h2 Кому больше всего подойдет это направление?

            p Для начала давайте определимся: экостиль – отдельное направление, хоть местами и очень похожее на другие. Частично оно перекликается с
              a(href="#")  деревенским стилем,
              |  кантри, лофтом и др. Из явных отличий – минимализм в основе и применение новейших технологий, электроники, бытовой техники.

            img.alignleft(src="img-temp/post/img-2.jpg" alt="")

            p Eco-дизайн для жителей мегаполисов сейчас как глоток свежего воздуха. Он расслабляет, снимает напряжение и частично заменяет отдых на природе. Создать интерьер в экостиле стоит и:

            ul
              li Любителям экспериментов, новых идей. Это отличная возможность выделиться из толпы, попробовать что-то уникальное и интересное.
              li Тем, кто следует за модой. Придерживаться ЗОЖ, заботиться об экологии, к счастью, стало популярно.
              li Дачникам, цветоводам. Такие люди с удовольствием окружают себя растениями и природными материалами, что-то выращивают, мастерят.
              li Всем, кто не равнодушен к проблемам экологии, собственному здоровью, близким. Благодаря естественной, ненавязчивой атмосфере, вы будете чувствовать себя намного лучше.
              li Тем, кто еще не определился с направлением, но точно не тяготеет к классике.

            p Экостиль лишен рамок и позволяет проявлять фантазию, комбинировать разные идеи. Главное, придерживаться базовых правил и прислушиваться к своим ощущениям, следовать за своим вкусом.

            img.alignright(src="img-temp/post/img-3.jpg" alt="")

            h2 Какие недостатки и у экостиля?

            ol
              li Необходимость скрывать электрические приборы и бытовую технику, чтобы она не выступала в роли акцента, регулярно и правильно ухаживать за поверхностями, мебелью.

              li Придется забыть об агрессивной химии и старых, неделикатных методах уборки. И самый весомый для большинства минус – стоимость материалов. Иногда действительно дорого.

              li Но цена зачастую оправдана качеством, плюс есть компромиссные решения и возможность сэкономить без ущерба для результата.

            h2 Экостиль в интерьере: фото и описание особенностей

            p В основе должна быть гармония с окружающей средой, поэтому используют максимально натуральные материалы, минимально обработанные и с естественной фактурой. Обычно дома или в квартире не обходится без пробкового покрытия, ротанга, камня, стекла, древесины, бамбука, керамики, экокожи. При выборе непременно учитывают происхождение сырья, условия, при которых изготавливали продукцию, возможность ее утилизации. В некоторых странах, например, в Италии многие фабрики уже перешли на экологичное производство.

            img(src="img-temp/post/img-4.jpg" alt="")

            p Конечно, в приоритете и гипоаллергенность, применение энергосберегающих технологий. Если лампы, то энергосберегающие либо светодиодные. Пригодятся и датчики движения, аэраторы, регуляторы подогрева пола, зеркала, на которых при лишнем расходе воды, появляются соответствующие надписи, а также сенсорные смесители.

            h3
              strong Таблица 1. Сочетание цветов в эко-стиле интерьера

            table
              thead
                tr
                  td Основной цвет
                  td Сочетается с цветами
                  td Не сочетается с цветами
              tbody
                tr
                  td Серый
                  td Голубой, розовый, коричневый, желтый, красный, черный, синий, сиреневый
                  td Серый, каштановый, светло-фиолетовый
                tr
                  td Сиреневый
                  td Коричневый, серый, бордовый
                  td Светло-зеленый, золотистый, оранжевый, желтый

            p В квартире заполучить больше солнечных лучей позволит объединение комнаты с лоджией, установка панорамных окон, применение отражающих поверхностей, покраска потолка в белый цвет или светлые тона. Нужно убрать лишние перегородки и отдать предпочтение дереву. Можно использовать галогеновую подсветку, не бросающиеся в глаза встроенные светильники, а еще стильные осветительные приборы с текстильными абажурами или изготовленными из рисовой бумаги, лозы. Занавески лучше заменить на деревянные жалюзи или японские шторы, бамбуковые роллеты.

            p Желательно органично сочетать между собой несколько отделочных материалов. А проще всего сосредоточить внимание на природе с помощью широкоформатных фотообоев из категории «Макро». Достаточно выбрать бабочку, цветок, камешек или листок с определенными оттенками и формой.

        .post__blog
          +scr_blog--post
          span

  // /.scr_post
