mixin scr_works()
  section.scr_works.works.grey-bg(id="scr_works")
    .container
      h2.page-title Наши работы

      .works__slider-wrap
        .works__slider#works__slider
          .swiper-wrapper
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-1.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-1.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-2.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-2.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-3.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-3.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-4.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-4.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-1.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-1.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-2.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-2.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-3.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-3.jpg" alt="" data-object-fit-cover)
            .swiper-slide
              a.works__item.fancybox(href="img-temp/about/img-4.jpg" data-fancybox-group="works")
                img(src="img-temp/about/img-4.jpg" alt="" data-object-fit-cover)

        .works__slider-btns
          button.swiper-button-prev(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

      .scr_card__footer
        .scr_card__footer-item
          p
            strong Остались вопросы? Звоните нам:

          a.scr_card__footer-link(href="tel:+79780482160" rel="nofollow")
            strong +7 (978) 048 21 60
            |  (Ежедневно с 10:00 до 22:00)

        .scr_card__footer-item
          p
            strong Присоединяйтесь к нам в социальных сетях:

          +socials--card

        .scr_card__footer-item
          .scr_card__footer-df
            p
              strong Нам важно
                br
                |  ваше мнение:

            .btn__wrap
              a.xbtn.xbtn--green(href="#") Напишите нам

  // /.scr_works
