mixin scr_categories()
  section.scr_categories.categories.grey-bg(id="scr_categories")
    .container
      h2.page-title Популярные категории

      ul.categories__list
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-1.jpg') no-repeat top center; background-size: cover;")
            h3 Кровати
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-3.jpg') no-repeat top center; background-size: cover;")
            h3 Кухни
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-4.jpg') no-repeat top center; background-size: cover;")
            h3 Шкафы купе
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-2.jpg') no-repeat top center; background-size: cover;")
            h3 Матрасы
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-5.jpg') no-repeat top center; background-size: cover;")
            h3 Диваны и кресла

  // /.scr_categories

mixin scr_categories--page()
  section.scr_categories.categories.categories--page(id="scr_categories")
    .container
      +breadcrumbs--categ

      h1.page-title Категории товаров

      ul.categories__list
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-1.jpg') no-repeat top left; background-size: cover;")
            h3 Кровати
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-6.jpg') no-repeat top left; background-size: cover;")
            h3 Кухни
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-4.jpg') no-repeat top left; background-size: cover;")
            h3 Шкафы купе
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-2.jpg') no-repeat top left; background-size: cover;")
            h3 Матрасы
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-5.jpg') no-repeat top left; background-size: cover;")
            h3 Диваны и кресла
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-7.jpg') no-repeat top left; background-size: cover;")
            h3 Спальни
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-8.jpg') no-repeat top left; background-size: cover;")
            h3 Гостиные
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-9.jpg') no-repeat top left; background-size: cover;")
            h3 Прихожие
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-10.jpg') no-repeat top left; background-size: cover;")
            h3 Мягкая мебель
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-11.jpg') no-repeat top left; background-size: cover;")
            h3 Детские
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-12.jpg') no-repeat top left; background-size: cover;")
            h3 Офисная Мебель
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-13.jpg') no-repeat top left; background-size: cover;")
            h3 Шкафы
              br
              |  распашные
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-14.jpg') no-repeat top left; background-size: cover;")
            h3 Комоды

  // /.scr_categories
