mixin scr_categories()
  section.scr_categories.categories.grey-bg(id="scr_categories")
    .container
      h2.page-title Популярные категории

      ul.categories__list
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-1.jpg') no-repeat top center; background-size: cover;")
            h3 Кровати
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-3.jpg') no-repeat top center; background-size: cover;")
            h3 Кухни
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-4.jpg') no-repeat top center; background-size: cover;")
            h3 Шкафы купе
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-2.jpg') no-repeat top center; background-size: cover;")
            h3 Матрасы
        li
          a.categories__item(href="#" style="background: transparent url('img-temp/categories/img-5.jpg') no-repeat top center; background-size: cover;")
            h3 Диваны и кресла

  // /.scr_categories
