mixin scr_map()
  section.scr_map(id="scr_map")
    .container
      h2.page-title Как нас найти

      .scr_map__wrap
        .scr_map__contacts
          .scr_map__contacts-item
            h3 Адрес:
            p г. Севастополь, ул. Руднева, 31

          .scr_map__contacts-item
            h3 Телефон:

            .scr_map__contacts-df
              .scr_map__phones
                a.scr_map__phone(href="tel:+79780482160" rel="nofollow") +7 (978) 048 21 60
                a.scr_map__phone(href="tel:+79780306840" rel="nofollow") +7 (978) 030 68 40
              .header__msgs
                a.header__msg.header__msg--viber(href="viber://chat?number=79780482160" rel="nofollow")
                a.header__msg.header__msg--tg(href="tel:+79780482160" rel="nofollow")
                a.header__msg.header__msg--wa(href="https://api.whatsapp.com/send?phone=79780482160" rel="nofollow")

          .scr_map__contacts-item
            h3 E-mail:
            p
              a(href="mailto:mebelsev.com@mail.ru" rel="nofollow") mebelsev.com@mail.ru

          .scr_map__contacts-btns
            .btn__wrap
              span.xbtn.xbtn--green заказать звонок

        .scr_map__map#scr_map__map

  // /.scr_map

mixin scr_map--contacts()
  section.scr_map.scr_map--contacts(id="scr_map")
    .container
      +breadcrumbs

      h1.page-title Контакты

      .scr_map__wrap
        .scr_map__contacts
          .scr_map__contacts-item
            h3 Адрес:
            p г. Севастополь, ул. Руднева, 31

          .scr_map__contacts-item
            h3 Телефон:

            .scr_map__contacts-df
              .scr_map__phones
                a.scr_map__phone(href="tel:+79780482160" rel="nofollow") +7 (978) 048 21 60
                a.scr_map__phone(href="tel:+79780306840" rel="nofollow") +7 (978) 030 68 40
              .header__msgs
                a.header__msg.header__msg--viber(href="viber://chat?number=79780482160" rel="nofollow")
                a.header__msg.header__msg--tg(href="tel:+79780482160" rel="nofollow")
                a.header__msg.header__msg--wa(href="https://api.whatsapp.com/send?phone=79780482160" rel="nofollow")

          .scr_map__contacts-item
            h3 E-mail:
            p
              a(href="mailto:mebelsev.com@mail.ru" rel="nofollow") mebelsev.com@mail.ru

          .scr_map__contacts-btns
            .btn__wrap
              span.xbtn.xbtn--green заказать звонок

        .scr_map__map#scr_map__map

  // /.scr_map
