mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      h2.page-title Хит продаж

      .prod__wrap
        .prod__slider#prod__slider-0
          .swiper-wrapper
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label Хит

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Диван-кровать угловой
                      br
                      |  «Шерлок» со столиком

                .prod__bottom
                  span.prod__price--new 3 799 ₽
                  span.prod__price--old 3 900 ₽

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label Хит

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Шкаф купе
                      br
                      |  «Маэстро»

                .prod__bottom
                  span.prod__price--new 10 500 Р
                  span.prod__price--old 11 200 Р

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label Хит

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Диван-кровать угловой
                      br
                      |  «Шерлок» со столиком

                .prod__bottom
                  span.prod__price--new 3 799 ₽
                  span.prod__price--old 3 900 ₽

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label Хит

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Шкаф купе
                      br
                      |  «Маэстро»

                .prod__bottom
                  span.prod__price--new 10 500 Р
                  span.prod__price--old 11 200 Р

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label Хит

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Диван-кровать угловой
                      br
                      |  «Шерлок» со столиком

                .prod__bottom
                  span.prod__price--new 3 799 ₽
                  span.prod__price--old 3 900 ₽

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label Хит

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Шкаф купе
                      br
                      |  «Маэстро»

                .prod__bottom
                  span.prod__price--new 10 500 Р
                  span.prod__price--old 11 200 Р

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

        .prod__slider-btns
          button.swiper-button-prev(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod

mixin scr_prod--sale()
  section.scr_prod.prod.prod--sale.grey-bg(id="scr_prod2")
    .container
      h2.page-title Товары со скидкой

      .prod__wrap
        .prod__slider#prod__slider-1
          .swiper-wrapper
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--sale Скидка

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Диван-кровать угловой
                      br
                      |  «Шерлок» со столиком

                .prod__bottom
                  span.prod__price--new 3 799 ₽
                  span.prod__price--old 3 900 ₽

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--sale Скидка

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Шкаф купе
                      br
                      |  «Маэстро»

                .prod__bottom
                  span.prod__price--new 10 500 Р
                  span.prod__price--old 11 200 Р

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--sale Скидка

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Диван-кровать угловой
                      br
                      |  «Шерлок» со столиком

                .prod__bottom
                  span.prod__price--new 3 799 ₽
                  span.prod__price--old 3 900 ₽

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--sale Скидка

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Шкаф купе
                      br
                      |  «Маэстро»

                .prod__bottom
                  span.prod__price--new 10 500 Р
                  span.prod__price--old 11 200 Р

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--sale Скидка

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Диван-кровать угловой
                      br
                      |  «Шерлок» со столиком

                .prod__bottom
                  span.prod__price--new 3 799 ₽
                  span.prod__price--old 3 900 ₽

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--sale Скидка

                  //. Нужно для элементов в избранном добавить кнопке prod__btn--like класс 'active'
                  .prod__btns
                    button.prod__btn.prod__btn--like(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#heart")
                      svg.icon.hidden
                        use(xlink:href="img/svg/sprite.svg#heart--filled")

                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="")

                .prod__content
                  a(href="#")
                    h3.prod__title Шкаф купе
                      br
                      |  «Маэстро»

                .prod__bottom
                  span.prod__price--new 10 500 Р
                  span.prod__price--old 11 200 Р

                  .btn__wrap
                    a.xbtn.xbtn--green(href="#")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#cart")
                      span  купить

        .prod__slider-btns
          button.swiper-button-prev(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod
