mixin scr_brands()
  section.scr_brands.brands(id="scr_brands")
    .container
      h2.page-title Партнёры и поставщики

      .brands__slider-wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide
              .brands__img
                img(src="img-temp/about/partners-1.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/about/partners-2.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/about/partners-1.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/about/partners-2.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/about/partners-1.jpg" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img-temp/about/partners-2.jpg" alt="" data-object-fit-contain)

        .brands__slider-btns
          button.swiper-button-prev(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next(type="button")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_brands
