mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#insta")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#vk")

  // /.socials

mixin socials--card()
  section.socials.socials--card(id="socials")
    a(href='#', rel='nofollow', target='_blank')
      b.socials__link
        svg.icon
          use(xlink:href="img/svg/sprite.svg#vk")
      span Вконтакте
    a(href='#', rel='nofollow', target='_blank')
      b.socials__link
        svg.icon
          use(xlink:href="img/svg/sprite.svg#insta")
      span Инстаграм

  // /.socials
