mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#insta")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      svg.icon
        use(xlink:href="img/svg/sprite.svg#vk")

  // /.socials
