mixin styles()
  link(rel='stylesheet', href='libs/normalize.min.css')
  link(rel='stylesheet', href='libs/animate.css')
  link(rel='stylesheet', href='libs/swiper/swiper.min.css')
  link(rel='stylesheet', href='css/main.css')
