mixin footer(logotype)
  footer.footer(id="footer")
    .container
      p.footer__title Фундамент сайта

      .footer__df
        .footer__col
          h3.footer__col-title Важная информация

          ul.menu
            li.menu-item
              a(href="#") О Компании
            li.menu-item
              a(href="#") Каталог проектов
            li.menu-item
              a(href="#") Витрина готовых домов с участками
            li.menu-item
              a(href="#") Цены и комплектации
            li.menu-item
              a(href="#") Производство
            li.menu-item
              a(href="#") Отзывы
            li.menu-item
              a(href="#") Вакансии
            li.menu-item
              a(href="#") Дизайн интерьеров
            li.menu-item
              a(href="#") Архитектурные услуги
            li.menu-item
              a(href="#") Услуги строительных бригад
            li.menu-item
              a(href="#") Подбор участков в Крыму
            li.menu-item
              a(href="#") Контакты
            li.menu-item
              a(href="#") Контент компании
            li.menu-item
              a(href="#") Политика конфиденциальности

        .footer__col
          h3.footer__col-title Офисы

          .footer__item.footer__item--pinned
            p
              b Главный офис:
              |  Республика Крым, г. Феодосия,
              br
              |  ул. Чкалова 86, литера Д (напротив супермаркета Клевер)

          .footer__item.footer__item--pinned
            p
              b Филиал №1:
              |  Республика Крым, г. Симферополь,
              br
              |  выставочный дом, 11 км Московского шоссе

          .footer__item.footer__item--pinned
            p
              b Производство и склад:
              br
              |  Филиал №1: Республика Крым,  г. Феодосия,
              br
              |  Керченское шоссе 2В

          .footer__item
            p
              b Время работы:
              |  09:00 до 20:00 Без выходных

          .footer__item
            a(href="mailto:psk.nika@gmail.com" rel="nofollow") psk.nika@gmail.com

          .footer__item
            .header__phones-wrap
              a.header__phone(href="tel:+79782077070" rel="nofollow") +7 (978) 207-70-70
              a.header__msg.header__msg--wa(href="https://api.whatsapp.com/send?phone=79782077070" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#wa")
              a.header__msg.header__msg--viber(href="viber://chat?number=79782077070" rel="nofollow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#viber")

        .footer__col
          h3.footer__col-title Реквизиты ООО "ПСК "НИКА"

          .footer__item
            p ИНН 9108112267
              br
              |  ОГРН 1159102126776
              br
              |  КПП 910801001

          .footer__item
            p
              b Юридический адрес:
              br
              |  98112, Республика Крым, г. Феодосия,
              br
              |  улица Чкалова, дом 86 литера Д, 38

          .footer__item
            p
              b Генеральный директор:
              br
              |  Прикоп Василий Юрьевич

      // /.footer__df
    // /.container
  // /.footer

