mixin scr1()
  section.scr1(id="scr1" style="background: transparent url('img/scr1-bg.jpg') no-repeat left center; background-size: cover;")
    .container
      .scr1__content
        h1.scr1__title Строим
          strong.accent  каркасные и СИП дома
          |  в Крыму от&nbsp;1 млн. рублей под чистовую отделку, с&nbsp;готовым фасадом и коммуникациями

        p.scr1__desc Получите готовый дом уже
          br
          b.accent  через 6 недель

        .scr1__img
          img(src="img/scr1-house.png" alt="")

        .scr1__btns
          .btn__wrap.btn__wrap--orange
            a.xbtn.xbtn--grad(href="#") Расчет стоимости online
          .btn__wrap.btn__wrap--green
            a.xbtn.xbtn--grad(href="#") Получить скидку до 30 тыс. рублей

  // /.scr1
