mixin scr_techs()
  section.scr_techs.techs.grey-bg(id="scr_techs")
    .container
      h2.page-title Строительные технологии

      ul.tabs__nav
        li.current
          a(href="#techs__tab-0") Строительство из СИП панелей
        li
          a(href="#techs__tab-1") Классическое каркасное строительство

      ul.techs__tabs
        li.techs__tab#techs__tab-0
          .techs__left
            ul.techs__list
              li
                a.techs__item(href="#techs__content-tab-0-0")
                  h4.techs__item-title ОСП

                  .techs__item-img
                    img(src="img/techs-1.png" alt="")
              li
                a.techs__item(href="#techs__content-tab-0-1")
                  h4.techs__item-title ЦСП

                  .techs__item-img
                    img(src="img/techs-2.png" alt="")
              li
                a.techs__item(href="#techs__content-tab-0-2")
                  h4.techs__item-title Фибролит

                  .techs__item-img
                    img(src="img/techs-3.png" alt="")

            .techs__imgs
              .techs__img#techs__img-0-0
                img(src="img/techs-img.jpg" alt="")
              .techs__img#techs__img-0-1
                img(src="img/techs-img.jpg" alt="")
              .techs__img#techs__img-0-2
                img(src="img/techs-img.jpg" alt="")

          .techs__content
            ul.techs__content-tabs
              li.techs__content-tab#techs__content-tab-0-0
                h3.techs__title sip технология

                ul.techs__content-list
                  li Комплект дубового стартового бруса
                  li Двойная гидроизоляция
                  li Комплект обвязочного
                    br
                    |  и соединительного клеенго бруса
                  li Комплект внешних и несущих стен  SIP 174 мм с подрезкой и выборкой под проект
                  li Комплект внутренних стеновых панелей 124 мм
                  li Двутавровая балка перекрытия
                  li Вибро-звуко изолента для балки
                  li Комплект OSB/ОСП-22 мм Egger
                    br
                    |  для пола
                  li Комплект OSB/ОСП-22 для зашивки торцов фасада
                  li Комплект базальтового утеплителя перекрытия 35 кг/м3
                  li Комплект стропильных ферм на МЗП или стропил 190/40 мм
                  li Комплект обрешетки
                    br
                    |  и контр-обрешетки
                  li Комплект базальтового
                    br
                    |  утеплителя для кровли 35 кг/м3
                  li Комплект кровельной
                    br
                    |  мембраны и пароизоляции
                  li Комплект рейки для подпрошивки крыши, перекрытия
                  li Крепежные элементы согласно спецификации
                  li Монтажная пена
                  li Конструктивный проект сборки

              li.techs__content-tab#techs__content-tab-0-1
                h3.techs__title sip технология

                ul.techs__content-list
                  li Комплект дубового стартового бруса
                  li Двойная гидроизоляция
                  li Комплект обвязочного
                    br
                    |  и соединительного клеенго бруса
                  li Комплект внешних и несущих стен  SIP 174 мм с подрезкой и выборкой под проект
                  li Комплект внутренних стеновых панелей 124 мм
                  li Двутавровая балка перекрытия
                  li Вибро-звуко изолента для балки
                  li Комплект OSB/ОСП-22 мм Egger
                    br
                    |  для пола
        li.techs__tab#techs__tab-1
          .techs__left
            ul.techs__list
              li
                a.techs__item(href="#techs__content-tab-1-0")
                  h4.techs__item-title ОСП

                  .techs__item-img
                    img(src="img/techs-1.png" alt="")
              li
                a.techs__item(href="#techs__content-tab-1-1")
                  h4.techs__item-title ЦСП

                  .techs__item-img
                    img(src="img/techs-2.png" alt="")

            .techs__imgs
              .techs__img#techs__img-1-0
                img(src="img/techs-img.jpg" alt="")
              .techs__img#techs__img-1-1
                img(src="img/techs-img.jpg" alt="")

          .techs__content
            ul.techs__content-tabs
              li.techs__content-tab#techs__content-tab-1-0
                h3.techs__title sip технология

                ul.techs__content-list
                  li Комплект дубового стартового бруса
                  li Двойная гидроизоляция
                  li Комплект обвязочного
                    br
                    |  и соединительного клеенго бруса
                  li Комплект внешних и несущих стен  SIP 174 мм с подрезкой и выборкой под проект
                  li Комплект внутренних стеновых панелей 124 мм
                  li Двутавровая балка перекрытия
                  li Вибро-звуко изолента для балки
                  li Комплект OSB/ОСП-22 мм Egger

              li.techs__content-tab#techs__content-tab-1-1
                h3.techs__title sip технология

                ul.techs__content-list
                  li Комплект дубового стартового бруса
                  li Двойная гидроизоляция
                  li Комплект обвязочного
                    br
                    |  и соединительного клеенго бруса
                  li Комплект внешних и несущих стен  SIP 174 мм с подрезкой и выборкой под проект
                  li Комплект внутренних стеновых панелей 124 мм
                  li Двутавровая балка перекрытия
                  li Вибро-звуко изолента для балки
                  li Комплект OSB/ОСП-22 мм Egger
                    br
                    |  для пола

  // /.scr_techs
