mixin scr_ceo()
  section.scr_ceo.ceo(id="scr_ceo")
    .container
      h2.page-title СЕО текст
      .ceo__wrap
        p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова.

        p Всего за пять лет нам удалось войти в число лидеров по строительству каркасной недвижимости в Крыму. ПСК "НИКА" не только возводит дома, но имеет собственное производство СИП панелей, склады для хранения пиломатериалов и всю необходимую техническую базу для реализации любых, даже самых сложных проектов. Мы строим каркасные дома и дома из СИП панелей под ключ: от фундамента до внешней и внутренней отделки.

  // /.scr_ceo

mixin scr_ceo--choose() 
  section.scr_ceo.ceo.ceo--choose.grey-bg(id="scr_ceo")
    .container
      h2.page-title Продажа участков под строительство в Крыму
      .ceo__wrap
        p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова.

        p Всего за пять лет нам удалось войти в число лидеров по строительству каркасной недвижимости в Крыму. ПСК "НИКА" не только возводит дома, но имеет собственное производство СИП панелей, склады для хранения пиломатериалов и всю необходимую техническую базу для реализации любых, даже самых сложных проектов. Мы строим каркасные дома и дома из СИП панелей под ключ: от фундамента до внешней и внутренней отделки.

  // /.scr_ceo
