mixin scr_catalog2()
  section.scr_catalog2.catalog2(id="scr_catalog2")
    .container
      +breadcrumbs--catalog2


      .window__df.window__df--to-hide
        aside.window__left.window__left--to-hide
          .window__cont.window__cont--menu
            p.window__cont-title Подборки
            ul.catalog2__menu
              li
                a(href="#") Топ проекты домов с ценами   (10)
              li
                a(href="#") Реализованные проекты с фотоотчетами    (10)
              li
                a(href="#") Дома до 100 м
                  sup 2
                  |     (10)
              li
                a(href="#") Дома от 100 до 150 м
                  sup 2
                  |    (10)
              li
                a(href="#") Дома от 150 до 200 м
                  sup 2
                  |    (10)
              li
                a(href="#") Дома от 200 м
                  sup 2
                  |    (10)
              li
                a(href="#") Гостиницы и гостевые дома    (10)
              li
                a(href="#") Многоквартирные и коммерческие объекты    (10)
              li
                a(href="#") Все проекты

          .window__cont
            p.window__cont-title Фильтры

            .window__districts-item
              p.window__districts-title Количество этажей
              select
                option(value="2") 2 этажа
                option(value="3") 3 этажа
                option(value="4") 4 этажа

            .window__districts-item
              p.window__districts-title Количество спален
              select
                option(value="2") 2 спальни
                option(value="3") 3 спальни
                option(value="4") 4 спальни

            .window__districts-item
              p.window__districts-title Тип крыши
              ul.window__districts
                li
                  .window__districts-item
                    label
                      input(type="radio" name="type" id="type-0" value="Односкатная" checked)
                      span.window__districts-circle
                      span.window__districts-text Односкатная
                li
                  .window__districts-item
                    label
                      input(type="radio" name="type" id="type-1" value="Двухскатная")
                      span.window__districts-circle
                      span.window__districts-text Двухскатная
                li
                  .window__districts-item
                    label
                      input(type="radio" name="type" id="type-2" value="Четырехскатная")
                      span.window__districts-circle
                      span.window__districts-text Четырехскатная
                li
                  .window__districts-item
                    label
                      input(type="radio" name="type" id="type-3" value="Плоская")
                      span.window__districts-circle
                      span.window__districts-text Плоская
                li
                  .window__districts-item
                    label
                      input(type="radio" name="type" id="type-4" value="Сложная")
                      span.window__districts-circle
                      span.window__districts-text Сложная

            .window__districts-item
              p.window__districts-title Дополнительные помещения
              ul.window__districts
                li
                  .window__districts-item
                    label
                      input(type="radio" name="add" id="add-0" value="Терраса" checked)
                      span.window__districts-circle
                      span.window__districts-text Терраса
                li
                  .window__districts-item
                    label
                      input(type="radio" name="add" id="add-1" value="Балкон")
                      span.window__districts-circle
                      span.window__districts-text Балкон
                li
                  .window__districts-item
                    label
                      input(type="radio" name="add" id="add-2" value="Котельная")
                      span.window__districts-circle
                      span.window__districts-text Котельная
                li
                  .window__districts-item
                    label
                      input(type="radio" name="add" id="add-3" value="Гараж")
                      span.window__districts-circle
                      span.window__districts-text Гараж

        .window__catalog.window__catalog--to-hide
          h1.page-title--second Каталог проектов

          .page-desc
            p
              b Уже есть эскиз или понравился проект, который увидели на другом сайте? Отправьте его нам на просчет!
              br
              |  В нашей компании работают квалифицированные архитекторы, которые могут бесплатно внести изменения в любой представленный проект или доработать эскиз, который предложите вы.

          .catalog2__top
            ul.window__nav.js-window__nav
              li
                .btn__wrap.btn__wrap--green.btn__wrap--orange
                  a.xbtn.xbtn--grad(href="#catalog2__tab-0") Лучшие по цене
              li
                .btn__wrap.btn__wrap--green
                  a.xbtn.xbtn--grad(href="#catalog2__tab-1") Популярные

            .window__show Задать условия фильтрации
            .catalog2__sort
              select
                option(value="возрастание") Сортировка: по возрастанию площади
                option(value="убывание") Сортировка: по убыванию площади

          ul.catalog2__tabs
            li.catalog2__tab#catalog2__tab-0
              ul.catalog2__list
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.
                li
                  .catalog2__item
                    a.catalog2__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .catalog2__content
                      a(href="#")
                        h2.catalog2__title «Семейный»  150 м
                          sup 2
                      .catalog2__text Цена от:
                      b.catalog2__price 1 600 000 руб.


  // /.scr_catalog2

mixin scr_catalog2--prod-item()
  section.scr_catalog2.catalog2.catalog2--prod-item(id="scr_catalog2")
    .container
      h2.page-title Похожие проекты
      ul.catalog2__list
        li
          .catalog2__item
            a.catalog2__img(href="#")
              img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
            .catalog2__content
              a(href="#")
                h2.catalog2__title «Семейный»  150 м
                  sup 2
              .catalog2__text Цена от:
              b.catalog2__price 1 600 000 руб.
        li
          .catalog2__item
            a.catalog2__img(href="#")
              img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
            .catalog2__content
              a(href="#")
                h2.catalog2__title «Семейный»  150 м
                  sup 2
              .catalog2__text Цена от:
              b.catalog2__price 1 600 000 руб.
        li
          .catalog2__item
            a.catalog2__img(href="#")
              img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
            .catalog2__content
              a(href="#")
                h2.catalog2__title «Семейный»  150 м
                  sup 2
              .catalog2__text Цена от:
              b.catalog2__price 1 600 000 руб.

  // /.scr_catalog2
