mixin scr_videos()
  section.scr_videos.videos(id="scr_videos")
    .container
      h2.page-title Социальные сети
      p.page-desc Мы сообщаем об акциях, специальных предложениях и новых проектах нашим подписчикам в социальных сетях. Советуем подписаться, чтобы бы в курсе и не пропустить самые выгодные условия строительства

      ul.videos__list
        li
          .videos__item
            a.videos__icon(href="#")
              img(src="img/svg/vk.svg" alt="")

            a.videos__post(href="#")
              span.videos__img
                img(src="img-temp/socials/img-1.jpg" alt="" data-object-fit-cover)

              span.videos__text Новые проекты, акции
                br
                |  и новости
        li
          .videos__item
            a.videos__icon(href="#")
              img(src="img/svg/yt.svg" alt="")

            a.videos__post(href="#")
              span.videos__img
                img(src="img-temp/socials/img-2.jpg" alt="" data-object-fit-cover)

              span.videos__text Видео о СИП и каркасных домах и отзывы о компании
        li
          .videos__item
            a.videos__icon(href="#")
              img(src="img/svg/insta.svg" alt="")

            a.videos__post(href="#")
              span.videos__img
                img(src="img-temp/socials/img-3.jpg" alt="" data-object-fit-cover)

              span.videos__text Лучшие предложения по СИП
                br
                |  строительству в Крыму

  // /.scr_videos
