mixin scr_production()
  section.scr_production.production(id="scr_production")
    .container
      .window__show Показать меню

      .window__df
        aside.window__left
          .window__cont
            .production__menu
              ul.menu
                li.menu-item
                  a(href="#") Завод по изготовлению СИП панелей
                li.menu-item
                  a(href="#") Цех по деревообработке
                li.menu-item
                  a(href="#") Складские помещения
                li.menu-item
                  a(href="#") Изготовление винтовых свай
                li.menu-item
                  a(href="#") Архитектурное бюро
                li.menu-item
                  a(href="#") Изготовление домокомплектов

        .window__catalog
          .production__wrap
            .production__top
              h1.production__title Производство ПСК НИКА
              p.production__desc Завод по изготовлению СИП панелей

              a.reviews__videos-item.production__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/production-img.jpg'); background-size: cover;")
                span.reviews__play
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#play")

              p.production__address Адрес производства: Феодосия, Керченское шоссе, 2В

            .production__df
              .production__text
                p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова. Мы вынуждены отталкиваться от того, что экономическая повестка сегодняшнего дня требует от нас анализа позиций, занимаемых участниками в отношении поставленных задач.

                p Значимость этих проблем настолько очевидна, что убеждённость некоторых оппонентов обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения сверхзадачи. Вот вам яркий пример современных тенденций - глубокий уровень погружения выявляет срочную потребность системы массового участия! Лишь независимые государства могут быть преданы социально-демократической анафеме. Современные технологии достигли такого уровня, что перспективное планирование предопределяет высокую востребованность стандартных подходов.

                p Вот вам яркий пример современных тенденций - глубокий уровень погружения выявляет срочную потребность системы массового участия! Лишь независимые государства могут быть преданы социально-демократической анафеме. Современные технологии достигли такого уровня, что перспективное планирование предопределяет высокую востребованность стандартных подходов.

              .production__gallery
                .production__gallery-slider#production__gallery-slider
                  .swiper-wrapper
                    .swiper-slide
                      a.production__gallery-item.fancybox(href="img-temp/production-img.jpg" style="background: transparent url('../img-temp/production-img.jpg') no-repeat center center; background-size: cover;")
                        span.production__gallery-text Гидравлический пресс

                    .swiper-slide
                      a.production__gallery-item.fancybox(href="img-temp/production-img.jpg" style="background: transparent url('../img-temp/production-img-2.jpg') no-repeat center center; background-size: cover;")
                        span.production__gallery-text Производственная линия

                    .swiper-slide
                      a.production__gallery-item.fancybox(href="img-temp/production-img.jpg" style="background: transparent url('../img-temp/production-img-2.jpg') no-repeat center center; background-size: cover;")
                        span.production__gallery-text Производственная линия

                .production__gallery-btns
                  button.swiper-button-prev
                  .swiper-dots
                  button.swiper-button-next

  // /.scr_production
