mixin scr_catalog()
  section.scr_catalog.catalog(id="scr_catalog")
    .container
      ul.catalog__feat
        li
          .catalog__feat-item
            span.catalog__feat-icon
              img(src="img/techs-1.png" alt="")

            .catalog__feat-text
              .article
                ul
                  li Работаем с СИП панелями и по классической каркасно-рамочной технологии. В&nbsp;качестве плит используем
                    span  ОСП, ЦСП и&nbsp;Гринборд (фибролит)

        li
          .catalog__feat-item
            span.catalog__feat-icon
              img(src="img/techs-2.png" alt="")

            .catalog__feat-text
              .article
                ul
                  li Имеем
                    span  собственное производство
                    |  панелей, склады пиломатериалов, более 200 возведенных домов в Крыму

        li
          .catalog__feat-item
            span.catalog__feat-icon
              img(src="img/techs-3.png" alt="")

            .catalog__feat-text
              .article
                ul
                  li В штате работают
                    span  квалифицированные архитекторы и прорабы
                    |  с профильным образованием. Все бригады проходят корпоративное обучение

      h2.page-title Каталог проектов

      .page-desc
        p В нашей базе проектов более 100 проверенных вариантов чертежей для строительства каркасных домов и домов из СИП-панелей. Мы надеемся, что Вы сможете найти среди них оптимальный вариант по размеру, цене и архитектурному плану, исходя из собственных предпочтений и планируемого бюджета

      .catalog__slider#catalog__slider
        .swiper-wrapper
          .swiper-slide
            .catalog__item
              .catalog__bg
                img(src="img/catalog/img-1.jpg" alt="" data-object-fit-cover-top)
              .catalog__text
                p Подборка ТОП-проектов домов С&nbsp;
                  span  указанием цен
                  br
                  |  от 500 000 Р
              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--orange(href="#") Подробнее

          .swiper-slide
            .catalog__item
              .catalog__bg
                img(src="img/catalog/img-2.jpg" alt="" data-object-fit-cover-top)
              .catalog__text
                p Общая база проектов домов
                  br
                  |  от 40 до 400 м2
              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--orange(href="#") Подробнее

          .swiper-slide
            .catalog__item
              .catalog__bg
                img(src="img/catalog/img-3.jpg" alt="" data-object-fit-cover-top)
              .catalog__text
                p Подборка реализованных проектов с фотоотчетами
              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--orange(href="#") Подробнее

          .swiper-slide
            .catalog__item
              .catalog__bg
                img(src="img/catalog/img-4.jpg" alt="" data-object-fit-cover-top)
              .catalog__text
                p Проекты гаражей и бань
                  br
                  |  Для комплексного
                  br
                  |  строительства
              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--orange(href="#") Подробнее

          .swiper-slide
            .catalog__item
              .catalog__bg
                img(src="img/catalog/img-5.jpg" alt="" data-object-fit-cover-top)
              .catalog__text
                p Проекты гостиниц
                  br
                  |  и гостевых домов
              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--orange(href="#") Подробнее

          .swiper-slide
            .catalog__item
              .catalog__bg
                img(src="img/catalog/img-6.jpg" alt="" data-object-fit-cover-top)
              .catalog__text
                p Проекты многоквартирных домов и коммерческих
                  br
                  |  объектов
              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--orange(href="#") Подробнее

  // /.scr_catalog
