mixin scr_why()
  section.scr_why.why(id="scr_why")
    .container
      h2.page-title Почему участки лучше подбирать с нами?

      .foundament
        .foundament__steps
          .foundament__steps-wrap
            ol
              li 
                h3 Гарантируем 
                  br
                  |  юридическую чистоту 
                  br
                  |  сделки
                
                p Все земельные участки, которые мы рекомендуем к покупке, проходят полную проверку на юридическую чистоту в профильном кадастровом агентстве
            
              li 
                h3 Подбираем участки, 
                  br
                  |  удобные для 
                  br
                  |  строительства
                
                p Не советуем участки с большим перепадом высот, сложным для строительства грунтом. Также не советуем участки, к которым сложно доставить строительную технику и материалы. Всё это для экономии строительного бюджета
            
              li 
                h3 Обращаем внимание 
                  br
                  |  на перспективы развития 
                  br
                  |  районов Крыма
                
                p Стараемся подбирать участки по лучшей цене в тех местах, где точно будет развиваться инфраструктура. В ближайшем доступе должна быть школа, больница, аптека, продуктовые рынки и магазины, хорошие транспортные развязки. 

  // /.scr_why  
