mixin scr_foundament()
  section.scr_foundament.foundament.serv(id="scr_foundament")
    .container
      .window__df
        aside.window__left
          .window__cont.window__cont--nav
            ul.menu
              li
                a(href="#") Ленточный фундамент
              li
                a(href="#") Свайно-ростверковый фундамент
              li
                a(href="#") Фундамент монолитная плита
              li
                a(href="#") Утепленная шведская плита
              li
                a(href="#") Фундамент монолитная плита

        .window__catalog
          h1.page-title Ленточный фундамент

          .foundament__wrap

            .foundament__wrap.clerafix
              .article
                img(src="img-temp/foundament/img-1.jpg" alt="")

                p Ленточный фундамент представляет собой замкнутый контур из железобетонных балок, возводимый под всеми несущими стенами здания и передающий подлежащему грунту нагрузку от здания.

                p Ленточный фундамент позволяет возводить на своем основании различные строения: от деревянных до монолитных домов. При этом использовать намного меньшее количество строительных материалов, и проводить меньшее количество земляных работ в сравнении с плитным монолитным железобетонным фундаментом (и в конечном итоге, заметно снижает стоимость всего фундамента), что делает ленточный фундамент самым популярным видом основания при строительстве загородных домов и дач.

              .foundament__count
                p.foundament__count-title Рассчитать стоимость ленточного фундамента

                .foundament__form
                  .form
                    form.wpcf7-form
                      .form__item
                        span.wpcf7-form-control-wrap.your-building.text-input
                          input.wpcf7-form-control.wpcf7-text.wpcf7-building(type='text', name='your-building', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Тип сооружения')

                      .form__item
                        span.wpcf7-form-control-wrap.your-material.text-input
                          input.wpcf7-form-control.wpcf7-text.wpcf7-material(type='text', name='your-material', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Материал стен')

                      .form__df
                        .form__item
                          span.wpcf7-form-control-wrap.your-stages.text-input
                            input.wpcf7-form-control.wpcf7-text.wpcf7-stages(type='number', name='your-stages', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Этажность')

                        .form__item
                          span.wpcf7-form-control-wrap.your-width.text-input
                            input.wpcf7-form-control.wpcf7-text.wpcf7-width(type='number', name='your-width', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ширина')

                        .form__item
                          span.wpcf7-form-control-wrap.your-length.text-input
                            input.wpcf7-form-control.wpcf7-text.wpcf7-length(type='number', name='your-length', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Длина')

                      .form__item
                        span.wpcf7-form-control-wrap.your-place.text-input
                          input.wpcf7-form-control.wpcf7-text.wpcf7-place(type='text', name='your-place', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Местоположение участка')

                      .form__item
                        span.wpcf7-form-control-wrap.your-name.text-input
                          input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

                      .form__item
                        span.wpcf7-form-control-wrap.your-tel.text-input
                          input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                      .form__item
                        span.wpcf7-form-control-wrap.your-comment.text-input
                          textarea.wpcf7-form-control.wpcf7-text.wpcf7-comment(name='your-comment', size='40', aria-required='true', aria-invalid='false', placeholder='Комментарии и дополнительная информация')

                      .form__item.form__item--submit
                        .btn__wrap.btn__wrap--orange
                          input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Получить расчет')

                      .form__item
                        span.wpcf7-form-control-wrap.accept
                          span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                            span.wpcf7-list-item
                              label
                                input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                                span.wpcf7-list-item-label Согласие на обработку персональных данных
                                  i.accept__icon


          .article
            p Снизить воздействие сил морозного пучения на мелкозаглубленный ленточный фундамент можно при помощи утепления самого фундамента и грунта вокруг здания. Первый в мире утепленный фундамент был построен американским архитектором Фрэнком Ллойдом Райтом в Чикаго (США) в 1930-х годах. Технология утеплённого мелкозаглубленного фундамента для холодных регионов была разработана в Швеции и Норвегии в 1950-70-х годах. Итогом разработок стал норвежский проект Норвежского Королевского совета по научным и промышленным исследованиям «Мороз и Грунт» (“Frost og Jord”) , результаты которого начали публиковаться в 1976-78 гг. в виде рекомендаций по технологиям мелкозаглубленных утеплённых фундаментов для строительства частных домов. В настоящее время исследования по воздействию мороза на грунты в Норвегии продолжаются и их результаты периодически публикуются норвежским комитетом «Мороз и Грунт» (2005, 2007 гг.). Технология утепления мелкозаглубленных фундаментов одобрена для холодных регионов с положительными среднегодовыми температурами (СГТ), таких как, например, Аляска (СГТ +2 °С). Для сравнения, в Санкт Петербурге среднегодовая температура составляет +5 °С, в Москве +5,8 °С Технология утепленных малозаглубленных ленточных фундаментов не применима только на территориях со среднегодовой температурой ниже 0 °С, при строительстве малозаглубленных ленточных фундаментов на вечной мерзлоте[1].

          .foundament__table.grey-bg
            h2.page-title Цены на типовые размеры ленточного фундамента

            .foundament__table-wrap
              table
                thead
                  tr
                    td Размер ленты
                    td 6х6
                    td 6х8
                    td 8х8
                    td 9х9
                    td 10х10
                    td 12х12
                tbody
                  tr
                    td Ширина/Высота 300мм/600мм
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td Ширина/Высота 300мм/900мм
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td Ширина/Высота 400мм/1500мм
                    td
                    td
                    td
                    td
                    td
                    td

    .foundament__steps.grey-bg
      .container
        .window__df
          aside.window__left

          .window__catalog.foundament__steps-wrap
            h2.page-title Список стандартных работ по строительству
              br
              |  фундамента на участке

            ol
              li Разбивка осей здания (вынос осей) при помощи геодезического оборудования
              li Разработка грунта механизированным способом и доработка грунта вручную
              li Устройство щебеночного и песчаного основания (в соответствии с проектом)
              li Изготовление и монтаж опалубки под монолитный фундамент
              li Устройство арматурной сетки под монолитный фундамент
              li Бетонирование монолитного фундамента
              li Уход за свежим фундаментом, нанесение гидроизоляции в соответствии с регламентом
              li
                .foundament__steps-img
                  img(src="img-temp/foundament/img-2.png" alt="")

  // /.scr_foundament

mixin scr_foundament--2()
  section.scr_foundament.foundament.foundament--2(id="scr_foundament")
    .foundament__steps.grey-bg
      .container
        .foundament__steps-wrap
          h2.page-title Список стандартных работ по строительству
            br
            |  фундамента на участке

          ol
            li Разбивка осей здания (вынос осей) при помощи геодезического оборудования
            li Разработка грунта механизированным способом и доработка грунта вручную
            li Устройство щебеночного и песчаного основания (в соответствии с проектом)
            li Изготовление и монтаж опалубки под монолитный фундамент
            li Устройство арматурной сетки под монолитный фундамент
            li Бетонирование монолитного фундамента
            li Уход за свежим фундаментом, нанесение гидроизоляции в соответствии с регламентом
            li
              .foundament__steps-img
                img(src="img-temp/foundament/img-2.png" alt="")

  // /.scr_foundament
