mixin scr_calculator()
  section.scr_calculator.calculator(id="scr_calculator")
    .container
      h2.page-title Калькулятор строительства дома в Крыму

      .calculator__df
        .calculator__main
          .calculator__col
            .calculator__item.clearfix
              p.calculator__title Этажность

              select
                option(value="1") 1 этаж
                option(value="2") 2 этажа

            .calculator__item
              p.calculator__title Площадь, м2 (общая):

              input.calculator__range(type="range" min="0" max="150" step="1" value="50")

          .calculator__col
            .calculator__item.clearfix
              p.calculator__title Типы фундаментов:

              select
                option(value="1") Свайно-винтовой

            .calculator__item.clearfix
              p.calculator__title Основной материал строительства

              select
                option(value="1") СИП панели с ОСП
                option(value="2") СИП панели с ОСП

          .calculator__col
            .calculator__item.clearfix
              p.calculator__title Типы фасадов:

              select
                option(value="1") Декоративная штукатурка с покраской
                option(value="2") Декоративная штукатурка с покраской Декоративная штукатурка с покраской

            .calculator__item.clearfix
              p.calculator__title Типы кровли:

              select
                option(value="1") Металлочерепица

          .calculator__bottom
            .calculator__bottom-left
              p.calculator__bottom-desc  * Рассчет стоимости производится в стандартной
                br
                |  комплектации. Детали уточняйте у специалистов

              a.calculator__bottom-phone(href="tel:+79782077070" rel="nofollow") +7 (978) 207-70-70

            .calculator__bottom-right
              p.calculator__bottom-title Стоимость:
              p.calculator__bottom-price 925 000 руб.


        .calculator__img
          img(src="img/calculator-img.jpg" alt="")


  // /.scr_calculator
