mixin scr_found-prod()
  section.scr_found-prod.found-prod.grey-bg(id="scr_found-prod")
    .container
      h2.page-title Какие фундаменты мы строим?

      .found-prod__wrap
        .found-prod__slider#found-prod__slider
          .swiper-wrapper
            .swiper-slide
              .found-prod__item
                a.found-prod__title(href="#") Ленточный фундамент

                a.found-prod__img(href="#")
                  img(src="img/foundament/prod-1.jpg" alt="" data-object-fit-contain)

                b.found-prod__price от 3 500 руб/м
                  sup  3

                .found-prod__btns
                  .btn__wrap.btn__wrap--green
                    a.xbtn.xbtn--grad(href="#") <span>Описание <span>и подробные цены</span></span>

            .swiper-slide
              .found-prod__item
                a.found-prod__title(href="#") Ленточный фундамент

                a.found-prod__img(href="#")
                  img(src="img/foundament/prod-2.jpg" alt="" data-object-fit-contain)

                b.found-prod__price от 3 500 руб/м
                  sup  3

                .found-prod__btns
                  .btn__wrap.btn__wrap--green
                    a.xbtn.xbtn--grad(href="#") <span>Описание <span>и подробные цены</span></span>

            .swiper-slide
              .found-prod__item
                a.found-prod__title(href="#") Ленточный фундамент

                a.found-prod__img(href="#")
                  img(src="img/foundament/prod-3.jpg" alt="" data-object-fit-contain)

                b.found-prod__price от 3 500 руб/м
                  sup  3

                .found-prod__btns
                  .btn__wrap.btn__wrap--green
                    a.xbtn.xbtn--grad(href="#") <span>Описание <span>и подробные цены</span></span>

            .swiper-slide
              .found-prod__item
                a.found-prod__title(href="#") Ленточный фундамент

                a.found-prod__img(href="#")
                  img(src="img/foundament/prod-4.jpg" alt="" data-object-fit-contain)

                b.found-prod__price от 3 500 руб/м
                  sup  3

                .found-prod__btns
                  .btn__wrap.btn__wrap--green
                    a.xbtn.xbtn--grad(href="#") <span>Описание <span>и подробные цены</span></span>

            .swiper-slide
              .found-prod__item
                a.found-prod__title(href="#") Ленточный фундамент

                a.found-prod__img(href="#")
                  img(src="img/foundament/prod-5.jpg" alt="" data-object-fit-contain)

                b.found-prod__price от 3 500 руб/м
                  sup  3

                .found-prod__btns
                  .btn__wrap.btn__wrap--green
                    a.xbtn.xbtn--grad(href="#") <span>Описание <span>и подробные цены</span></span>

            .swiper-slide
              .found-prod__item
                a.found-prod__title(href="#") Ленточный фундамент

                a.found-prod__img(href="#")
                  img(src="img/foundament/prod-6.jpg" alt="" data-object-fit-contain)

                b.found-prod__price от 3 500 руб/м
                  sup  3

                .found-prod__btns
                  .btn__wrap.btn__wrap--green
                    a.xbtn.xbtn--grad(href="#") <span>Описание <span>и подробные цены</span></span>

  // /.scr_found-prod
