mixin scr_about()
  section.scr_about.about.grey-bg(id="scr_about")
    .container
      .about__df
        .about__content
          blockquote
            p Наша компания строит дома в Крыму с 2014 года. Всего за 6 лет мы получили огромный опыт в строительстве на полуострове, так как за это время успели реализовать более 80 проектов. Сейчас у нас в команде есть квалифицированные архитекторы, опытные прорабы и строители. Наша цель – быть авангардом, лидером в малоэтажном строительстве в Крыму. И каждый день мы работаем над тем, чтобы наши дома становились лучше.

            p Для клиентов ПСК НИКА мы находим оптимальные решения их строительных задач, исходя из бюджета и параметров участка. Мы готовы найти лучшие решения и для Ваших строительных задач. Как руководитель строительной компании НИКА приглашаю Вас в наши офисы. Оставляйте заявки, пишите вопросы – специалисты с радостью на них ответят.

            cite
              span
                b Василий Прикоп
                span Генеральный директор ПСК - Ника -

        .about__img
          img(src="img/director-img.png" alt="")


  // /.scr_about

mixin scr_about--page()
  section.scr_about.about.about--page(id="scr_about")
    .container
      .about__wrap.grey-bg
        h1.page-title--second О нас
        .about__wrap-df
          .about__slider-wrap
            .about__slider#about__slider
              .swiper-wrapper
                .swiper-slide
                  a.reviews__videos-item.about__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/about-video.jpg'); background-size: cover;")
                    span.reviews__play
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")
                .swiper-slide
                  a.about__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/about-video.jpg'); background-size: cover;")
                    span.reviews__play
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")
                .swiper-slide
                  a.about__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/about-video.jpg'); background-size: cover;")
                    span.reviews__play
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")

            .about__slider-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

          .about__df
            .about__content
              blockquote
                p Наша компания «ПСК НИКА» успешно проектирует и строит теплые, уютные, долговечные и недорогие дома из СИП-панелей, которые сама же и изготавливает по современной канадской технологии на собственном оборудовании и из самых лучших материалов.

                p Обратившись к нам, клиенты могут быть полностью уверены в том, что их загородный дом из СИП панелей, коттедж или дача будут возведены в кратчайшие сроки, с самым высоким качеством и в полном соответствии с действующими строительными нормами и правилами.

                cite
                  span
                    b Василий Прикоп
                    span Генеральный директор ПСК - Ника -

            .about__img
              img(src="img/director-img.png" alt="")

      ul.about__feat
        li
          .about__feat-item
            .about__feat-top
              .about__feat-img
                img(src="img/about-feat-1.png" alt="")
              h3.about__feat-title Наше
                br
                |  производство

            .about__feat-text
              p Наличие собственного производства позволяет полностью контролировать весь цикл изготовления продукции и отслеживать его качество на всех этапах производства. Прямое сотрудничество с крупнейшими производителями OSB плиты дает возможность контролировать ее качество и оптимальную стоимость.
                br
                |  При производстве применяется автоматическое нанесение клея.  В процессе производства СИП панели, используемые нами гидравлические пресса обеспечивают давление до 25 тонн на 1м
                sup  ²
                |  . Жестко соблюдаемые сроки поставки продукции. Все это позволяет предлагать нашим клиентам лучшее качество и оптимальную цену продукции.
        li
          .about__feat-item
            .about__feat-top
              .about__feat-img
                img(src="img/about-feat-2.png" alt="")
              h3.about__feat-title Специфика
                br
                |  строительства

            .about__feat-text
              p Монтаж сип панелей не требует спецоборудования, и каких либо умений. Для работы над созданием дома под ключи из сип панелей либо построения коттеджа, необходимо иметь в наличии панели, саморезы, монтажную пену и другие обычные инструменты. Зная стоимость данной панели, легко можно рассчитать экономичность строительства.
              p Они владеют механической прочностью для выдерживания как вертикальной (поперечной), так и горизонтальной (продольной) нагрузки.

        li
          .about__feat-item
            .about__feat-top
              .about__feat-img
                img(src="img/about-feat-3.png" alt="")
              h3.about__feat-title Достоинства
                br
                |  канадской технологии

            .about__feat-text
              p К достоинствам домов из сип панелей можно отнести: большую скорость построения, хорошую теплоизоляцию, а также надежность. Из таких панелей дома гораздо теплее зданий из газобетона, кирпича и дерева (особенно это ощущается холодной зимой).
              p Полезная площадь строения из этих панелей на одной и той же геометрии застройки гораздо больше, чем у тех домов, которые возведены по иным технологиям.

  // /.scr_about
