mixin scr_prod-item()
  section.scr_prod-item.prod-item(id="scr_prod-item")
    .container
      +breadcrumbs--prod-item

      h1.prod-item__title «Семейный» 150 м²

      .prod-item__df
        .prod-item__left
          .prod-item__wrap
            .prod-item__imgs#prod-item__imgs
              .swiper-wrapper
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item/img-1.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/prod-item/img-1.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item/img-2.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/prod-item/img-2.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item/img-1.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/prod-item/img-1.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.prod-item__img.fancybox(href="img-temp/prod-item/img-2.jpg" data-fancybox-group="gallery")
                    img(src="img-temp/prod-item/img-2.jpg" alt="" data-object-fit-cover)

          .prod-item__thumbs-wrap
            .prod-item__thumbs#prod-item__thumbs
              .swiper-wrapper
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item/img-1.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item/img-2.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item/img-1.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  .prod-item__thumb
                    img(src="img-temp/prod-item/img-2.jpg" alt="" data-object-fit-cover)

            .prod-item__thumbs-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

          ul.prod-item__nav
            li.current
              a(href="#prod-item__tab-0") Описание проекта
            li
              a(href="#prod-item__tab-1") Планы этажей
            li
              a(href="#prod-item__tab-2") Цены
            li
              a(href="#prod-item__tab-3") Интерьеры
            li
              a(href="#prod-item__tab-4") Реализация

          ul.prod-item__tabs
            li.prod-item__tab#prod-item__tab-0
              .article
                p
                  b Реализация намеченных плановых заданий позволяет оценить значение новых предложений! Лишь активно развивающиеся страны третьего мира, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу.

                ul
                  li Комплект дубового стартового бруса
                  li Двойная гидроизоляция
                  li Комплект обвязочногои соединительного клеенго бруса
                  li Комплект внешних и несущих стен  SIP 174 мм с подрезкой и выборкой под проект
                  li Комплект внутренних стеновых панелей 124 мм
                  li Двутавровая балка перекрытия
                  li Вибро-звуко изолента для балки
                  li Комплект OSB/ОСП-22 мм Egger для пола
                  li Комплект OSB/ОСП-22 для зашивки торцов фасада
                  li Комплект базальтового утеплителя перекрытия 35 кг/м
                    sup 3
                  li Комплект стропильных ферм на МЗП или стропил 190/40 мм
                  li Комплект обрешеткии контр-обрешетки
                  li Комплект базальтового утеплителя для кровли 35 кг/м
                    sup 3
                  li Комплект кровельной мембраны и пароизоляции
                  li Комплект рейки для подпрошивки крыши, перекрытия
                  li Крепежные элементы согласно спецификации
                  li Монтажная пена
                  li Конструктивный проект сборки
            li.prod-item__tab#prod-item__tab-1
              .article
                p
                  b Реализация намеченных плановых заданий позволяет оценить значение новых предложений! Лишь активно развивающиеся страны третьего мира, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу.

                ul
                  li Комплект дубового стартового бруса
                  li Двойная гидроизоляция
                  li Комплект обвязочногои соединительного клеенго бруса
                  li Комплект внешних и несущих стен  SIP 174 мм с подрезкой и выборкой под проект
                  li Комплект внутренних стеновых панелей 124 мм
                  li Двутавровая балка перекрытия
                  li Вибро-звуко изолента для балки
                  li Комплект OSB/ОСП-22 мм Egger для пола
                  li Комплект OSB/ОСП-22 для зашивки торцов фасада

        .prod-item__right
          .prod-item__form
            .form.form--general.wpcf7
              form.wpcf7-form
                p.form__title Получить консультацию по проекту

                .form__row
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                .form__row
                  .form__item
                    span.wpcf7-form-control-wrap.your-email.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')

                  .form__item
                    span.wpcf7-form-control-wrap.your-place.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-place(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Место строительства')

                .form__item
                  span.wpcf7-form-control-wrap.your-add.text-input
                    textarea.wpcf7-form-control.wpcf7-text.wpcf7-name(name='your-add', aria-required='true', aria-invalid='false', placeholder='Дополнительные сведения')

                .form__item.form__item--submit
                  .btn__wrap.btn__wrap--orange
                    input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Отправить запрос на консультацию')

                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon


          .prod-item__about
            h2.prod-item__about-title О компании

            .reviews__wrap
              .reviews__videos#reviews__videos-0
                .swiper-wrapper
                  .swiper-slide
                    a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-1.jpg'); background-size: cover;")
                      span.reviews__play
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#play")
                  .swiper-slide
                    a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-2.jpg'); background-size: cover;")
                      span.reviews__play
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#play")
                  .swiper-slide
                    a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-2.jpg'); background-size: cover;")
                      span.reviews__play
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#play")

              .reviews__videos-btns
                button.swiper-button-prev
                .swiper-dots
                button.swiper-button-next

            h2.prod-item__about-title Отзывы

            .reviews__wrap
              .reviews__videos#reviews__videos-1
                .swiper-wrapper
                  .swiper-slide
                    a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-2.jpg'); background-size: cover;")
                      span.reviews__play
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#play")
                  .swiper-slide
                    a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-2.jpg'); background-size: cover;")
                      span.reviews__play
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#play")

              .reviews__videos-btns
                button.swiper-button-prev
                .swiper-dots
                button.swiper-button-next

  // /.scr_prod-item
