mixin scr_window()
  section.scr_window.window(id="scr_window")
    .container
      .window__show Выбрать район Крыма

      .window__df.window__df--to-hide
        aside.window__left.window__left--to-hide
          .window__cont
            p.window__cont-title Выбрать район

            ul.window__districts
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-0" value="Феодосия" checked)
                    span.window__districts-circle
                    span.window__districts-text Феодосия
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-1" value="Керчь")
                    span.window__districts-circle
                    span.window__districts-text Керчь
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-2" value="Симферополь")
                    span.window__districts-circle
                    span.window__districts-text Симферополь
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-3" value="Севастополь")
                    span.window__districts-circle
                    span.window__districts-text Севастополь
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-4" value="Ялта")
                    span.window__districts-circle
                    span.window__districts-text Ялта
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-5" value="Алушта")
                    span.window__districts-circle
                    span.window__districts-text Алушта
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-6" value="Евпатория")
                    span.window__districts-circle
                    span.window__districts-text Евпатория
              li
                .window__districts-item
                  label
                    input(type="radio" name="districts" id="districts-7" value="Черноморское")
                    span.window__districts-circle
                    span.window__districts-text Черноморское

        .window__catalog.window__catalog--to-hide
          h1.page-title--second Дома с участками в Крыму

          .page-desc
            p
              b На этой странице Вы можете ознакомиться с готовыми домами, которые сейчас находятся в продаже,
              |  а также с участками, на которых мы можем построить дом по выбранному Вами проекту

          ul.window__nav.js-window__nav
            li
              .btn__wrap.btn__wrap--green.btn__wrap--orange
                a.xbtn.xbtn--grad(href="#window__tab-0") Все
            li
              .btn__wrap.btn__wrap--green
                a.xbtn.xbtn--grad(href="#window__tab-1") Готовые дома
            li
              .btn__wrap.btn__wrap--green
                a.xbtn.xbtn--grad(href="#window__tab-2") Участки под строительство

          ul.window__tabs
            li.window__tab#window__tab-0
              ul.window__list
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title Дом «Семейный»  78 м
                          sup 2
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-2.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-3.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title Дом «Семейный»  78 м
                          sup 2
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-2.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-3.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title Дом «Семейный»  78 м
                          sup 2
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-2.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-3.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title Дом «Семейный»  78 м
                          sup 2
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-2.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-3.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.

            li.window__tab#window__tab-1
              ul.window__list
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-1.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title Дом «Семейный»  78 м
                          sup 2
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-2.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.
                li
                  .window__item
                    a.window__img(href="#")
                      img(src="img-temp/window/img-3.jpg" alt="" data-object-fit-cover)
                    .window__content
                      a(href="#")
                        h2.window__title.window__title--arch Дом «под ключ»
                      p.window__feat
                        span Участок:
                        span 5,5 соток
                      p.window__feat
                        span Город:
                        span Феодосия
                      .window__bottom
                        p.window__text Цена от:
                        p.window__price 2 600 000 руб.

  // /.scr_window
