mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      //- .window__show Выбрать услугу

      .window__df
        aside.window__left
          .window__cont.window__cont--nav
            ul.menu
              li
                a(href="#") Цены на дома из СИП панелей
              li
                a(href="#") Цены на каркасные дома
              li
                a(href="#") Цены на СИП панели и сваи
              li
                a(href="#") Цены на сваи и изделия из металла
              li
                a(href="#") Цены на чистовые внутренние работы
              li
                a(href="#") Цены на услуги архитектурной студии
              li
                a(href="#") Условия оплаты

        .window__catalog
          .serv__wrap.grey-bg
            h1.page-title Цены на чистовые внутренние работы

            .serv__table
              table
                thead
                  tr
                    td Наименование работ
                    td Единица
                      br
                      |  измерения
                    td Цена
                      br
                      |  работ
                    td Цена
                      br
                      |  материалов
                tbody
                  tr
                    td(colspan="4")
                      span потолок
                  tr
                    td Натяжной потолок (материал потолка, монтаж стартовых профилей, монтаж самого потолка, монтаж окантовочных планок (при необходимости), установка отверстий под светильники и другие инженерные отверстия ( в пределах материалов потолка), выставление светильников в потолке).
                    td 1 м
                      sup 2
                    td 200 Р
                    td 350 Р
                  tr
                    td Потолок из ГКЛ ( конструкции из профилей, монтаж гипсокартона, устройство технологических отверстий, забивка швов, грунтование, оклейка флизилином, шпатлевание, покраска (чистовик), врезка осветительных приборов . Материалы – профеля и гипс, шпатлевка и флизелин – подрядик; чистовая грунтовка и краска - Заказчик
                    td 1 м
                      sup 2
                    td 200 Р
                    td 350 Р
                  tr
                    td Потолок из вагонки (деревянный) – сама ваонка (сосновая), монтаж вагонки по направляющим или напрямую на потолок, окраска маслом по дереву, монтаж отверстий под осветительные приборы, установка примыкающих планок. Материалы все от подрядчика
                    td 1 м
                      sup 2
                    td 200 Р
                    td 350 Р
                  tr
                    td(colspan="4")
                      span стены
                  tr
                    td Натяжной потолок (материал потолка, монтаж стартовых профилей, монтаж самого потолка, монтаж окантовочных планок (при необходимости), установка отверстий под светильники и другие инженерные отверстия ( в пределах материалов потолка), выставление светильников в потолке).
                    td 1 м
                      sup 2
                    td 200 Р
                    td 350 Р
                  tr
                    td Потолок из ГКЛ ( конструкции из профилей, монтаж гипсокартона, устройство технологических отверстий, забивка швов, грунтование, оклейка флизилином, шпатлевание, покраска (чистовик), врезка осветительных приборов . Материалы – профеля и гипс, шпатлевка и флизелин – подрядик; чистовая грунтовка и краска - Заказчик
                    td 1 м
                      sup 2
                    td 200 Р
                    td 350 Р
                  tr
                    td Потолок из вагонки (деревянный) – сама ваонка (сосновая), монтаж вагонки по направляющим или напрямую на потолок, окраска маслом по дереву, монтаж отверстий под осветительные приборы, установка примыкающих планок. Материалы все от подрядчика
                    td 1 м
                      sup 2
                    td 200 Р
                    td 350 Р

          .serv__text
            p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова.

            p Всего за пять лет нам удалось войти в число лидеров по строительству каркасной недвижимости в Крыму. ПСК "НИКА" не только возводит дома, но имеет собственное производство СИП панелей, склады для хранения пиломатериалов и всю необходимую техническую базу для реализации любых, даже самых сложных проектов. Мы строим каркасные дома и дома из СИП панелей под ключ: от фундамента до внешней и внутренней отделки.

            p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова.

            p Всего за пять лет нам удалось войти в число лидеров по строительству каркасной недвижимости в Крыму. ПСК "НИКА" не только возводит дома, но имеет собственное производство СИП панелей, склады для хранения пиломатериалов и всю необходимую техническую базу для реализации любых, даже самых сложных проектов. Мы строим каркасные дома и дома из СИП панелей под ключ: от фундамента до внешней и внутренней отделки.

  // /.scr_serv

mixin scr_serv2()
  section.scr_serv.serv.serv--2(id="scr_serv")
    .container
      //- .window__show Выбрать услугу

      .window__df
        aside.window__left
          .window__cont.window__cont--nav
            ul.menu
              li
                a(href="#") Цены на дома из СИП панелей
              li
                a(href="#") Цены на каркасные дома
              li
                a(href="#") Цены на СИП панели и сваи
              li
                a(href="#") Цены на сваи и изделия из металла
              li
                a(href="#") Цены на чистовые внутренние работы
              li
                a(href="#") Цены на услуги архитектурной студии
              li
                a(href="#") Условия оплаты

        .window__catalog
          .serv__wrap.grey-bg
            h1.page-title Цены на дома из СИП панелей

            ul.serv__list
              li.serv__item
                h2.serv__title Эконом
                .serv__img
                  img(src="img-temp/serv/img-1.jpg" alt="" data-object-fit-contain)

                .serv__content
                  b.serv__price 5 900 руб./м
                    sup  2

                  ul
                    li
                      .serv__icon
                      span Разработка индивидуальной проектной документации
                    li
                      .serv__icon
                      span Комплект СИП-панелей
                    li
                      .serv__icon
                      span Комплектующие
                    li
                      .serv__icon
                      span Раскрой Домокомплекта
                    li
                      .serv__icon.serv__icon--danger
                      span Для самостоятельной сборки

              li.serv__item
                h2.serv__title Стандарт
                .serv__img
                  img(src="img-temp/serv/img-2.jpg" alt="" data-object-fit-contain)

                .serv__content
                  b.serv__price 9 500 руб./м
                    sup  2

                  ul
                    li
                      .serv__icon
                      span Комплектация “Эконом” с&nbsp;монтажными работами
                    li
                      .serv__icon.serv__icon--plus
                      span Фундамент с монтажом
                    li
                      .serv__icon
                      span Кровельный материал (битумная черепица) и его монтаж
                    li
                      .serv__icon
                      span Подшивка карнизов крыши и установкаводосточной системы
                    li
                      .serv__icon
                      span Монтаж вентиляции

              li.serv__item
                h2.serv__title Премиум
                .serv__img
                  img(src="img-temp/serv/img-3.jpg" alt="" data-object-fit-contain)

                .serv__content
                  b.serv__price 14 800 руб./м
                    sup  2

                  ul
                    li
                      .serv__icon
                      span Комплектация “Стандарт”
                    li
                      .serv__icon
                      span Отделка фасада
                    li
                      .serv__icon
                      span Установка входных дверей
                    li
                      .serv__icon
                      span Установка окон
                    li
                      .serv__icon
                      span Внутренняя отделка стен гипсокартоном

          .serv__text
            p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова.

            p Всего за пять лет нам удалось войти в число лидеров по строительству каркасной недвижимости в Крыму. ПСК "НИКА" не только возводит дома, но имеет собственное производство СИП панелей, склады для хранения пиломатериалов и всю необходимую техническую базу для реализации любых, даже самых сложных проектов. Мы строим каркасные дома и дома из СИП панелей под ключ: от фундамента до внешней и внутренней отделки.

            p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова.

            p Всего за пять лет нам удалось войти в число лидеров по строительству каркасной недвижимости в Крыму. ПСК "НИКА" не только возводит дома, но имеет собственное производство СИП панелей, склады для хранения пиломатериалов и всю необходимую техническую базу для реализации любых, даже самых сложных проектов. Мы строим каркасные дома и дома из СИП панелей под ключ: от фундамента до внешней и внутренней отделки.

  // /.scr_serv
