mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    ul.faq__list
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.

  // /.scr_faq
