mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .container
      h2.page-title Как мы создаем интерьеры
      .page-desc
        p Последовательность разработки дизайн-проекта
          br
          |  и взаимодействия с клиентом

      ol.steps__list
        li
          .steps__item
            span.steps__num 01
            .steps__text
              p Вы подписываете договор на разработку дизайн-проекта с нашей компанией, в которой фиксируются сроки, а также обязанности сторон.
        li
          .steps__item
            span.steps__num 02
            .steps__text
              p Специалист ПСК "НИКА" проводит интервью для заполнения брифа - большой анкеты, на основе которой в дальнейшем будет разрабатываться дизайн-проект. Это интервью может проводиться в несколько этапов, чтобы собрать все пожелания со стороны клиента: начиная от стилистических предпочтений и заканчивая количеством и расположением розеток. Мы нацелены на создание не только красивых, но и практичных интерьеров.
        li
          .steps__item
            span.steps__num 03
            .steps__text
              p После сбора информации и проведения обмерных работ на объекте специалисты ПСК "НИКА" создают визуализации интерьеров (эскизный проект).
        li
          .steps__item
            span.steps__num 04
            .steps__text
              p После утверждения эскизного проекта осуществляется разработка чертежей и уточнение спецификаций. Готовый дизайн-проект используется строительной бригадой для производства чистовых работ, а также ответственными за покупку строительных материалов и мебели в соответствии с разработанной документацией
        li
          .steps__item
            span.steps__num 05
            .steps__text
              p Специалисты ПСК "НИКА" осуществляют авторский и технический надзор за ходом выполнения работ по проекту.
        li
          .steps__item
            .steps__img
              img(src="img/steps-img.jpg" alt="" data-object-fit-cover)
            .steps__btns
              .btn__wrap.btn__wrap--orange
                a.xbtn.xbtn--grad(href="#") Скачать пример брифа для клиента

  // /.scr_steps
