mixin scr_packets()
  section.scr_packets.packets.grey-bg(id="scr_packets")
    .container
      h2.page-title Пакеты услуг и цены
      .page-desc
        p Мы можем разработать под Вас индивидуальную комплектацию, учитывающую только нужные Вам виды проектировочных работ

      ul.packets__list
        li.packets__item
          .packets__top
            h3.packets__title Индивидуальный эскизный дизайн-проект интерьеров

            b.packets__price от 750 руб./м
              sup 2

          .packets__content
            .packets__text
              p
                b Состав:
                |  набор визуализаций интерьеров, разработанных в соответствии с подробным брифом и на основе согласованных стилистических примеров

            .packets__btns
              .btn__wrap.btn__wrap--orange
                a.xbtn.xbtn--grad(href="#") Состав пакета

        li.packets__item
          .packets__top
            h3.packets__title Полный  дизайн-проект интерьеров с чертежами и&nbsp;спецификациями

            b.packets__price от 1 600 руб./м
              sup 2

          .packets__content
            .packets__text
              p
                b Состав:
                |  эскизный проект + чертежи для строителей + спецификации для приобретения мебели и материалов

            .packets__btns
              .btn__wrap.btn__wrap--orange
                a.xbtn.xbtn--grad(href="#") Состав пакета

        li.packets__item
          .packets__top
            img(src="img/svg/packets-img.svg" alt="")
            h3.packets__title С авторским и техническим надзором на объекте

            b.packets__price от 2 100 руб./м
              sup 2

          .packets__content
            .packets__text
              p
                b Состав:
                |  полный дизайн-проект интерьеров + авторский и технический надзор за ходом его выполнения (возможно только для объектов в Крыму и Севастополе)

            .packets__btns
              .btn__wrap.btn__wrap--orange
                a.xbtn.xbtn--grad(href="#") Состав пакета




  // /.scr_packets
