mixin scr_politics()
  section.scr_politics.politics(id="scr_politics")
    .container


      .politics__wrap
        .politics__content
          h2.politics__title политика в отношении обработки персональных данных

          .article
            ol
              li Общие положения
                p Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ООО ПСК “НИКА” (далее – Оператор).

                p Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                  br
                  |  Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта
                  a(href="https://sip-dom-krym.com/" rel="nofollow" target="_blank")  https://sip-dom-krym.com/.

              li Основные понятия, используемые в Политике
                p Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
                  br
                  |  Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
                  br
                  |  Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу
                  a(href="https://sip-dom-krym.com/" rel="nofollow" target="_blank")  https://sip-dom-krym.com/;
                  br
                  |  Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;

        .politics__btns
          button.politics__show
            span.xbtn.xbtn--trsp Читать все

  // /.scr_politics
