mixin scr_company()
  section.scr_company.company.grey-bg(id="scr_company")
    .container
      .company__df
        .company__content
          p С 2014 года наша компания строит дома из СИП панелей, а также каркасные дома в Симферополе и Севастополе. Также мы строим каркасные дома и дома из СИП панелей в Феодосии и Керчи, Евпатории, Алуште, Черноморском, Белогорске и других городах Крыма. В ближайшее время планируется возведение СИП домов в Ялте и поселках на южном побережье полуострова.

          p Всего за пять лет нам удалось войти в число лидеров по строительству каркасной недвижимости в Крыму. ПСК "НИКА" не только возводит дома, но имеет собственное производство СИП панелей, склады для хранения пиломатериалов и всю необходимую техническую базу для реализации любых, даже самых сложных проектов. Мы строим каркасные дома и дома из СИП панелей под ключ: от фундамента до внешней и внутренней отделки.
        .company__img
          img(src="img/about-img.png" alt="")


  // /.scr_company
