mixin scr_examples()
  section.scr_examples.examples(id="scr_examples")
    .container
      h2.page-title Примеры рабочих визуализаций

      .examples__df
        .examples__left
          h3.examples__title Гостиная типового проекта «Гираторий»

          .examples__img
            img(src="img-temp/examples-img.jpg" alt="" data-object-fit-cover)

          .btn__wrap.btn__wrap--orange
            a.xbtn.xbtn--grad(href="#") Перейти в карточку проекта и&nbsp;посмотреть планировки

        .examples__right
          .examples__thumbs-wrap
            .examples__thumbs#examples__thumbs
              .swiper-wrapper
                .swiper-slide
                  .examples__thumb
                    img(src="img-temp/examples-img.jpg" alt="" data-object-fit-cover)
                    span Вариант №1
                .swiper-slide
                  .examples__thumb
                    img(src="img-temp/examples-img-2.jpg" alt="" data-object-fit-cover)
                    span Вариант №2
                .swiper-slide
                  .examples__thumb
                    img(src="img-temp/examples-img.jpg" alt="" data-object-fit-cover)
                    span Вариант №3
                .swiper-slide
                  .examples__thumb
                    img(src="img-temp/examples-img-2.jpg" alt="" data-object-fit-cover)
                    span Вариант №4
                .swiper-slide
                  .examples__thumb
                    img(src="img-temp/examples-img.jpg" alt="" data-object-fit-cover)
                    span Вариант №1

          .examples__slider-wrap
            .examples__slider#examples__slider
              .swiper-wrapper
                .swiper-slide
                  a.examples__item.fancybox(href="img-temp/examples-img.jpg" data-fancybox-group="examples")
                    img(src="img-temp/examples-img.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.examples__item.fancybox(href="img-temp/examples-img-2.jpg" data-fancybox-group="examples")
                    img(src="img-temp/examples-img-2.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.examples__item.fancybox(href="img-temp/examples-img.jpg" data-fancybox-group="examples")
                    img(src="img-temp/examples-img.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.examples__item.fancybox(href="img-temp/examples-img-2.jpg" data-fancybox-group="examples")
                    img(src="img-temp/examples-img-2.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.examples__item.fancybox(href="img-temp/examples-img.jpg" data-fancybox-group="examples")
                    img(src="img-temp/examples-img.jpg" alt="" data-object-fit-cover)

            .examples__slider-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

  // /.scr_examples
