mixin scr_about()
  section.scr_about.about.grey-bg(id="scr_about")
    .container
      .about__df
        .about__content
          blockquote
            p Наша компания строит дома в Крыму с 2014 года. Всего за 6 лет мы получили огромный опыт в строительстве на полуострове, так как за это время успели реализовать более 80 проектов. Сейчас у нас в команде есть квалифицированные архитекторы, опытные прорабы и строители. Наша цель – быть авангардом, лидером в малоэтажном строительстве в Крыму. И каждый день мы работаем над тем, чтобы наши дома становились лучше.

            p Для клиентов ПСК НИКА мы находим оптимальные решения их строительных задач, исходя из бюджета и параметров участка. Мы готовы найти лучшие решения и для Ваших строительных задач. Как руководитель строительной компании НИКА приглашаю Вас в наши офисы. Оставляйте заявки, пишите вопросы – специалисты с радостью на них ответят.

            cite
              div
                p Василий Прикоп
                span Генеральный директор ПСК - Ника -

        .about__img
          img(src="img/director-img.png" alt="")


  // /.scr_about
