mixin scr_price()
  section.scr_price.price(id="scr_price")
    .container
      .price__wrap.grey-bg
        h1.page-title Стоимость монтажных услуг

        ul.price__nav
          li
            a.active(href="#") монтаж фасада
          li
            a(href="#") фасадные работы
          li
            a(href="#") монтаж кровли
          li
            a(href="#") кровельные работы
          li
            a(href="#") монтаж фундамента
          li
            a(href="#") фундаментные работы
          li
            a(href="#") электромонтажные работы
          li
            a(href="#") внутренняя отделка помещений

        h2.price__title Монтаж фасада, фасадные работы в Крыму
        .price__content
          .price__table
            table
              thead
                tr
                  td Наименование работ
                  td Единица измерения
                  td Цена
              tbody
                tr
                  td Штукатурные работы
                  td кв.м
                  td 400 руб.
                tr
                  td Укладка облицовочной плитки
                  td кв.м
                  td 1100 руб.
                tr
                  td Облицовка плиткой откосов
                  td кв.м
                  td 280 руб.
                tr
                  td Затирка швов
                  td кв.м
                  td 2500 руб.
                tr
                  td Монтаж обрешетки на каменную стену
                  td кв.м
                  td 3500 руб.
                tr
                  td Изготовление металлического каркаса
                  td кв.м
                  td 400 руб.
                tr
                  td Утепление минеральной ватой
                  td кв.м
                  td 410 руб.

          .price__btns
            .btn__wrap.btn__wrap--orange
              a.xbtn.xbtn--grad(href="#") Получить полный прайс

  // /.scr_price
