mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    ul.faq__list
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
      li.faq__item
        .top
          h3 Каким образом происходит оплата?
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p Банальные, но неопровержимые выводы, а также диаграммы связей, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.

  // /.scr_faq

mixin scr_faq--jobs()
  section.scr_faq.faq.faq--jobs(id="scr_faq")
    ul.faq__list
      li.faq__item
        .top
          h3 Производитель работ (прораб)
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p
              b Требуемый опыт работы:
              |  3–6 лет

            p
              b Занятость:
              |  полный день

            p
              b Должностные обязанности:
              ul
                li Руководство производством работ на объектах (кап.ремонты,реконструкции)
                li Контроль качества и сроков выполняемых работ;
                li Чтение рабочих чертежей;
                li Ведение рабочей документации;
                li Взаимодействие с заказчиком на всех стадиях производства работ;
                li Взаимодействие с тех.заказчиком;
                li Заказ материала.
            p
              b Требования:
            ul
              li Опыт работы на объектах от 3 лет
              li Ответственность, коммуникабельность, высокая работоспособность, мобильность.
            p
              b Условия:
            ul
              li Оформление по трудовой книжке;
              li Заработная плата без задержек, 2 раза в месяц;
              li Оплата мобильной связи.
              li Ежегодный оплачиваемый отпуск.
            p - Полный рабочий день
            p -Готовность к командировкам по Республике Крым

          .faq__btns
            .btn__wrap.btn__wrap--green
              a.xbtn.xbtn--grad(href="#") Откликнуться
      li.faq__item
        .top
          h3 Производитель работ (прораб)
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p
              b Требуемый опыт работы:
              |  3–6 лет

            p
              b Занятость:
              |  полный день

            p
              b Должностные обязанности:
              ul
                li Руководство производством работ на объектах (кап.ремонты,реконструкции)
                li Контроль качества и сроков выполняемых работ;
                li Чтение рабочих чертежей;
                li Ведение рабочей документации;
                li Взаимодействие с заказчиком на всех стадиях производства работ;
                li Взаимодействие с тех.заказчиком;
                li Заказ материала.
            p
              b Требования:
            ul
              li Опыт работы на объектах от 3 лет
              li Ответственность, коммуникабельность, высокая работоспособность, мобильность.
            p
              b Условия:

          .faq__btns
            .btn__wrap.btn__wrap--green
              a.xbtn.xbtn--grad(href="#") Откликнуться
      li.faq__item
        .top
          h3 Производитель работ (прораб)
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p
              b Требуемый опыт работы:
              |  3–6 лет

            p
              b Занятость:
              |  полный день

            p
              b Должностные обязанности:
              ul
                li Руководство производством работ на объектах (кап.ремонты,реконструкции)
                li Контроль качества и сроков выполняемых работ;
                li Чтение рабочих чертежей;
                li Ведение рабочей документации;
                li Взаимодействие с заказчиком на всех стадиях производства работ;
                li Взаимодействие с тех.заказчиком;
                li Заказ материала.
            p
              b Требования:
            ul
              li Опыт работы на объектах от 3 лет
              li Ответственность, коммуникабельность, высокая работоспособность, мобильность.
            p
              b Условия:

          .faq__btns
            .btn__wrap.btn__wrap--green
              a.xbtn.xbtn--grad(href="#") Откликнуться
      li.faq__item
        .top
          h3 Производитель работ (прораб)
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p
              b Требуемый опыт работы:
              |  3–6 лет

            p
              b Занятость:
              |  полный день

            p
              b Должностные обязанности:
              ul
                li Руководство производством работ на объектах (кап.ремонты,реконструкции)
                li Контроль качества и сроков выполняемых работ;
                li Чтение рабочих чертежей;
                li Ведение рабочей документации;
                li Взаимодействие с заказчиком на всех стадиях производства работ;
                li Взаимодействие с тех.заказчиком;
                li Заказ материала.
            p
              b Требования:
            ul
              li Опыт работы на объектах от 3 лет
              li Ответственность, коммуникабельность, высокая работоспособность, мобильность.
            p
              b Условия:

          .faq__btns
            .btn__wrap.btn__wrap--green
              a.xbtn.xbtn--grad(href="#") Откликнуться
      li.faq__item
        .top
          h3 Производитель работ (прораб)
          button.open
            svg.icon
              use(xlink:href="img/svg/sprite.svg#cross")
        .hidden
          .article
            p
              b Требуемый опыт работы:
              |  3–6 лет

            p
              b Занятость:
              |  полный день

            p
              b Должностные обязанности:
              ul
                li Руководство производством работ на объектах (кап.ремонты,реконструкции)
                li Контроль качества и сроков выполняемых работ;
                li Чтение рабочих чертежей;
                li Ведение рабочей документации;
                li Взаимодействие с заказчиком на всех стадиях производства работ;
                li Взаимодействие с тех.заказчиком;
                li Заказ материала.
            p
              b Требования:
            ul
              li Опыт работы на объектах от 3 лет
              li Ответственность, коммуникабельность, высокая работоспособность, мобильность.
            p
              b Условия:

          .faq__btns
            .btn__wrap.btn__wrap--green
              a.xbtn.xbtn--grad(href="#") Откликнуться

  // /.scr_faq
