mixin scr_choose()
  section.scr_choose.choose.grey-bg(id="scr_choose")
    .container
      h2.page-title Примеры участков из нашей базы

      .choose__wrap
        .choose__slider 
          .swiper-wrapper
            .swiper-slide 
              .choose__item 
                a.choose__img(href="#")
                  img(src="img/choose/example-1.jpg", alt="", data-object-fit-cover)
                
                .choose__content
                  h3 
                    a(href="#") Участок в Танковом 
                      br
                      |  ул. Карьерная, ижс                 
                    
                  .choose__chrs
                    span Участок:
                    span 8,3 соток               
                    
                  .choose__chrs
                    span Город:
                    span Бахчисарай

                .choose__price 
                  span Цена от:
                  b 500 000 руб. 

            .swiper-slide 
              .choose__item 
                a.choose__img(href="#")
                  img(src="img/choose/example-2.jpg", alt="", data-object-fit-cover)
                
                .choose__content
                  h3 
                    a(href="#") Участок в Танковом                
                    
                  .choose__chrs
                    span Участок:
                    span 8,3 соток               
                    
                  .choose__chrs
                    span Город:
                    span Бахчисарай

                .choose__price 
                  span Цена от:
                  b 500 000 руб. 

            .swiper-slide 
              .choose__item 
                a.choose__img(href="#")
                  img(src="img/choose/example-3.jpg", alt="", data-object-fit-cover)
                
                .choose__content
                  h3 
                    a(href="#") Участок в Танковом                
                    
                  .choose__chrs
                    span Участок:
                    span 8,3 соток               
                    
                  .choose__chrs
                    span Город:
                    span Бахчисарай

                .choose__price 
                  span Цена от:
                  b 500 000 руб. 
          
            .swiper-slide 
              .choose__item 
                a.choose__img(href="#")
                  img(src="img/choose/example-1.jpg", alt="", data-object-fit-cover)
                
                .choose__content
                  h3 
                    a(href="#") Участок в Танковом 
                      br
                      |  ул. Карьерная, ижс                 
                    
                  .choose__chrs
                    span Участок:
                    span 8,3 соток               
                    
                  .choose__chrs
                    span Город:
                    span Бахчисарай

                .choose__price 
                  span Цена от:
                  b 500 000 руб. 

            .swiper-slide 
              .choose__item 
                a.choose__img(href="#")
                  img(src="img/choose/example-2.jpg", alt="", data-object-fit-cover)
                
                .choose__content
                  h3 
                    a(href="#") Участок в Танковом                
                    
                  .choose__chrs
                    span Участок:
                    span 8,3 соток               
                    
                  .choose__chrs
                    span Город:
                    span Бахчисарай

                .choose__price 
                  span Цена от:
                  b 500 000 руб. 

            .swiper-slide 
              .choose__item 
                a.choose__img(href="#")
                  img(src="img/choose/example-3.jpg", alt="", data-object-fit-cover)
                
                .choose__content
                  h3 
                    a(href="#") Участок в Танковом                
                    
                  .choose__chrs
                    span Участок:
                    span 8,3 соток               
                    
                  .choose__chrs
                    span Город:
                    span Бахчисарай

                .choose__price 
                  span Цена от:
                  b 500 000 руб. 

        .choose__slider-btns 
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

      .choose__btns 
        .btn__wrap 
          a.xbtn.xbtn--trsp(href="#") Посмотреть все варианты открытые предложения

  // /.scr_choose  
