mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h2.page-title Отзывы ПСК «НИКА»
      p.page-desc Мы собираем отзывы от клиентов, которые заказали у нас строительные услуги, чтобы контролировать качество работы каждого специалиста внутри компании и работать над улучшением сервиса

      .reviews__btns
        .btn__wrap
          a.xbtn.xbtn--trsp(href="#") 16 отзывов

      .reviews__wrap
        .reviews__videos#reviews__videos
          .swiper-wrapper
            .swiper-slide
              a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-1.jpg'); background-size: cover;")
                span.reviews__play
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#play")
            .swiper-slide
              a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-2.jpg'); background-size: cover;")
                span.reviews__play
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#play")
            .swiper-slide
              a.reviews__videos-item.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe" style="background: transparent url('img-temp/videorev-2.jpg'); background-size: cover;")
                span.reviews__play
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#play")

        .reviews__videos-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

      .reviews__df
        .reviews__col
          h3.reviews__title Отзывы на «Отзовике»
          .reviews__text-wrap
            .reviews__text#reviews__text-0
              .swiper-wrapper
                .swiper-slide
                  a.reviews__text-item.fancybox(href="img-temp/reviews-1.jpg")
                    img(src="img-temp/reviews-1.jpg" alt="")
                .swiper-slide
                  a.reviews__text-item.fancybox(href="img-temp/reviews-1.jpg")
                    img(src="img-temp/reviews-1.jpg" alt="")
                .swiper-slide
                  a.reviews__text-item.fancybox(href="img-temp/reviews-1.jpg")
                    img(src="img-temp/reviews-1.jpg" alt="")

            .reviews__text-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

        .reviews__col
          h3.reviews__title Отзывы в Яндексе
          .reviews__text-wrap
            .reviews__text#reviews__text-1
              .swiper-wrapper
                .swiper-slide
                  a.reviews__text-item.fancybox(href="img-temp/reviews-2.jpg")
                    img(src="img-temp/reviews-2.jpg" alt="")
                .swiper-slide
                  a.reviews__text-item.fancybox(href="img-temp/reviews-2.jpg")
                    img(src="img-temp/reviews-2.jpg" alt="")
                .swiper-slide
                  a.reviews__text-item.fancybox(href="img-temp/reviews-2.jpg")
                    img(src="img-temp/reviews-2.jpg" alt="")

            .reviews__text-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

  // /.scr_reviews
