mixin scr_buildings()
  section.scr_buildings.buildings(id="scr_buildings")
    .container
      h2.page-title Возводим фундаменты для любых построек
        br
        |  и на любых грунтах по всему Крыму

      .buildings__wrap
        .buildings__slider#buildings__slider
          .swiper-wrapper
            .swiper-slide
              .buildings__item
                a.buildings__img(href="#")
                  img(src="img-temp/buildings/img-1.jpg" alt="" data-object-fit-cover)

                a.buildings__title(href="#") Фундамент для дома, коттеджа

            .swiper-slide
              .buildings__item
                a.buildings__img(href="#")
                  img(src="img-temp/buildings/img-2.jpg" alt="" data-object-fit-cover)

                a.buildings__title(href="#") Фундамент для бани, гаража

            .swiper-slide
              .buildings__item
                a.buildings__img(href="#")
                  img(src="img-temp/buildings/img-3.jpg" alt="" data-object-fit-cover)

                a.buildings__title(href="#") Фундамент для гостиницы

            .swiper-slide
              .buildings__item
                a.buildings__img(href="#")
                  img(src="img-temp/buildings/img-1.jpg" alt="" data-object-fit-cover)

                a.buildings__title(href="#") Фундамент для дома, коттеджа

            .swiper-slide
              .buildings__item
                a.buildings__img(href="#")
                  img(src="img-temp/buildings/img-2.jpg" alt="" data-object-fit-cover)

                a.buildings__title(href="#") Фундамент для бани, гаража

            .swiper-slide
              .buildings__item
                a.buildings__img(href="#")
                  img(src="img-temp/buildings/img-3.jpg" alt="" data-object-fit-cover)

                a.buildings__title(href="#") Фундамент для гостиницы

        .buildings__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next

  // /.scr_buildings
