mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__content
          h1.scr1__title Суррогатное материнство
          .scr1__text
            p Выберите в какой роли вам этого хотелось бы:

          //. Элементы, где мужчина ищет услугу, нужно (если возможно) пометить доп классом scr1__item--men

          ul.scr1__list
            li
              a.scr1__item(href="#")
                .scr1__icon
                  img(src="img/svg/icons/scr1-1.svg" alt="")
                h2.scr1__item-title Стану суррогатной мамой

                .scr1__check
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#tick-square")

            li
              a.scr1__item(href="#")
                .scr1__icon
                  img(src="img/svg/icons/scr1-2.svg" alt="")
                h2.scr1__item-title Стану донором яйцеклетки
                .scr1__check
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#tick-square")

            li
              a.scr1__item(href="#")
                .scr1__icon
                  img(src="img/svg/icons/scr1-3.svg" alt="")
                h2.scr1__item-title Стану донором спермы
                .scr1__check
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#tick-square")

            li
              a.scr1__item.scr1__item--men(href="#")
                .scr1__icon
                  img(src="img/svg/icons/scr1-4.svg" alt="")
                h2.scr1__item-title Ищу суррогатную маму
                .scr1__check
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#tick-square")

            li
              a.scr1__item.scr1__item--men(href="#")
                .scr1__icon
                  img(src="img/svg/icons/scr1-5.svg" alt="")
                h2.scr1__item-title Ищу донора яйцеклетки
                .scr1__check
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#tick-square")

            li
              a.scr1__item.scr1__item--men(href="#")
                .scr1__icon
                  img(src="img/svg/icons/scr1-6.svg" alt="")
                h2.scr1__item-title Ищу донора спермы
                .scr1__check
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#tick-square")

        .scr1__img
          img(src="img/scr1-img.png" alt="Мама с ребёнком")

  // /.scr1
