mixin scr_center()
  section.scr_center(id="scr_center")
    .container
      .scr_center__df
        aside.scr_center__left
          .scr_center__about.scr_center__wrap
            .scr_center__logo
              img(src="img/md.png" alt="")

            .scr_center__rate
              .scr_rate__wrap(data-rate="4.83")
                ul.scr_rate__rate.scr_rate__rate--underlay
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                ul.scr_rate__rate.scr_rate__rate--overlay
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")

            ul.scr_center__grades
              li.scr_center__grades-item
                h3 Отзывы о клинике

                .scr_center__grades-df
                  span.scr_center__grades-line(data-grade="4.1" data-grade-max="5")
                    span
                  span.scr_center__grade 4.1/5
              li.scr_center__grades-item
                h3 Отзывы о клинике

                .scr_center__grades-df
                  span.scr_center__grades-line(data-grade="3.1" data-grade-max="5")
                    span
                  span.scr_center__grade 3.1/5
              li.scr_center__grades-item
                h3 Отзывы о клинике

                .scr_center__grades-df
                  span.scr_center__grades-line(data-grade="8" data-grade-max="10")
                    span
                  span.scr_center__grade 8/10

            a.scr_center__link(href="#") Подробнее

          ul.scr_center__menu.scr_center__wrap
            li
              a(href="#scr_center__info")
                img(src="img/svg/calendar.svg" alt="")
                span Описание
            li
              a(href="#scr_center__prices")
                img(src="img/svg/wallet-blue.svg" alt="")
                span Цены
            li
              a(href="#scr_center__gallery")
                img(src="img/svg/gallery.svg" alt="")
                span Галерея
            li
              a(href="#scr_center__reviews")
                img(src="img/svg/chat.svg" alt="")
                span Отзывы

        .scr_center__right
          .scr_center__info.scr_center__wrap#scr_center__info
            h1 Клинический госпиталь md group (Перинатальный Центр на Севастопольском)

            .scr_center__info-item
              img(src="img/svg/chat.svg" alt="")
              span 898 отзывов
            .scr_center__info-item
              img(src="img/svg/icons/pin-blue.svg" alt="")
              span Москва, просп. Севастопольский, д.24, к.1
            .scr_center__info-item
              img(src="img/svg/icons/phone-blue.svg" alt="")
              a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

            .scr_center__info-content
              .article
                p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
                p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
                p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

            .scr_center__info-bottom
              .btn__wrap.btn__wrap--grad.btn__wrap--iconed.btn__wrap--reviews
                a.xbtn.xbtn--grad.open-modal(href="#") Оставить отзыв

              .scr_center__info-right
                span Обновлено 14.05.2021
                a(href="#") Сообщить об ошибке

          .scr_center__prices.scr_center__wrap#scr_center__prices
            h3.scr_center__title цены

            .scr_center__table
              table
                tr
                  td Массаж
                  td 2100₽ 6500₽
                tr
                  td Рентген
                  td 2100₽ 6500₽
                tr
                  td Гинекологические услуги
                  td 2100₽ 6500₽
                tr
                  td Массаж
                  td 2100₽ 6500₽
                tr
                  td Массаж
                  td 2100₽ 6500₽
                tr
                  td Массаж
                  td 2100₽ 6500₽
                tr
                  td Массаж
                  td 2100₽ 6500₽
                tr
                  td Рентген
                  td 2100₽ 6500₽
                tr
                  td Гинекологические услуги
                  td 2100₽ 6500₽
                tr
                  td Массаж
                  td 2100₽ 6500₽
                tr
                  td Массаж
                  td 2100₽ 6500₽
                tr
                  td Массаж
                  td 2100₽ 6500₽

          .scr_center__gallery.scr_center__wrap#scr_center__gallery
            .scr_center__gallery-top
              h3.scr_center__title фото

              a.scr_center__link(href="#") 21 фотография

            .scr_center__gallery-wrap
              button.swiper-button-prev
              .scr_center__gallery-slider
                .swiper-wrapper
                  .swiper-slide
                    a.scr_center__gallery-item.fancybox(href="img-temp/gallery-img.jpg" data-fancybox-gallery="gallery1")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                  .swiper-slide
                    a.scr_center__gallery-item.fancybox(href="img-temp/gallery-img.jpg" data-fancybox-gallery="gallery1")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                  .swiper-slide
                    a.scr_center__gallery-item.fancybox(href="img-temp/gallery-img.jpg" data-fancybox-gallery="gallery1")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                  .swiper-slide
                    a.scr_center__gallery-item.fancybox(href="img-temp/gallery-img.jpg" data-fancybox-gallery="gallery1")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)

              button.swiper-button-next

              .scr_center__gallery-dots
                .swiper-dots

            .scr_center__gallery-top
              h3.scr_center__title Видео

              a.scr_center__link(href="#") 5 видео

            .scr_center__gallery-wrap
              button.swiper-button-prev
              .scr_center__gallery-slider
                .swiper-wrapper
                  .swiper-slide
                    a.scr_center__gallery-item.scr_center__gallery-item--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")
                  .swiper-slide
                    a.scr_center__gallery-item.scr_center__gallery-item--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")
                  .swiper-slide
                    a.scr_center__gallery-item.scr_center__gallery-item--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")
                  .swiper-slide
                    a.scr_center__gallery-item.scr_center__gallery-item--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")
                  .swiper-slide
                    a.scr_center__gallery-item.scr_center__gallery-item--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                      img(src="img-temp/gallery-img.jpg" alt="" data-object-fit-cover)
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#play")

              button.swiper-button-next

              .scr_center__gallery-dots
                .swiper-dots

          .scr_center__reviews.scr_center__wrap#scr_center__reviews
            h3.scr_center__title Отзывы

            ul.scr_center__reviews-list
              li
                .scr_center__reviews-img
                  img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

                .scr_center__reviews-content
                  .article
                    p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

                  time(datetime="2021-06-14") Обновлено 14.06.2021

                  .scr_center__reviews-wrap
                    span.scr_center__reviews-rate 4 отлично

              li
                .scr_center__reviews-img
                  img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

                .scr_center__reviews-content
                  .article
                    p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

                  time(datetime="2021-06-14") Обновлено 14.06.2021

                  .scr_center__reviews-wrap
                    span.scr_center__reviews-rate 4 отлично

            .scr_center__reviews-btns
              .btn__wrap.btn__wrap--grad.btn__wrap--iconed.btn__wrap--reviews
                a.xbtn.xbtn--grad.open-modal(href="#") Оставить отзыв

  // /.scr_center
