mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      .post__wrap.scr_rate__item
        .post__top 
          .post__content 
            h1.page-title Суррогатное материнство

            p.page-desc Что вы узнаете из этой статьи:

            ul.post__links
              li
                a.scr_rate__filter-btn(href="#post-1") Стану суррогатной мамой
              li
                a.scr_rate__filter-btn(href="#post-2") Стану суррогатной мамой
              li
                a.scr_rate__filter-btn(href="#post-3") Стану суррогатной мамой
              li
                a.scr_rate__filter-btn(href="#post-4") Стану суррогатной мамой
              li
                a.scr_rate__filter-btn(href="#post-5") Стану суррогатной мамой
              li
                a.scr_rate__filter-btn(href="#post-6") Стану суррогатной мамой
              li
                a.scr_rate__filter-btn(href="#post-7") Стану суррогатной мамой
              li
                a.scr_rate__filter-btn(href="#post-8") Стану суррогатной мамой

          .post__right
            .post__name 
              .post__name-photo 
                img(src="img/post-photo.jpg" alt="" data-object-fit-cover)
              
              .post__name-text
                p Сергей Собанин
                span.accent Эксперт в области рождаемости

            time(datetime="2021-05-22") Обновлено 22.05.21
            
            blockquote 
              p “Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus diam quis.”

        .post__content.post__content--bottom
          .article 
            .with-aside 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
              
              aside
                h4 источник:
                a(href="#") Письмо Минфина от 26.08.2019
                  br
                  |  № 03-04-06/65465
            
            .with-aside
              p 
                img(src="img-temp/gallery-img.jpg", alt="")
              
              aside
                a(href="#") Определение суррогатного материнства в законе об охране здоровья граждан

            .with-aside.post-block
              h3#post-1 Сколько стоят роды
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              aside
                a(href="#") Требования к суррогатной матери в законе об охране здоровья граждан
                br
                br
                p 
                  a(href="#") пп. 11, 13 и 15 приказа Минздрава № 107н 
                  |  - процедуры медобследования суррогатной матери

            .post-block 
              h3#post-2 Экспертное мнение

              .post__name.post__name--girl 
                .post__name-photo 
                  img(src="img/post-photo-2.jpg" alt="" data-object-fit-cover)
                
                .post__name-text
                  p татьяна обоскалова
                  span.accent Профессор, завкафедрой акушерства и гинекологии Уральской государственной медицинской лаборатории:

              .with-aside
                blockquote 
                  p  — “Dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra.”
          
                aside
                  a(href="#") Определение суррогатного материнства в законе об охране здоровья граждан
            
            .post-block 
              h3#post-3 история из жизни

              .post__name.post__name--girl 
                .post__name-photo 
                  img(src="img/post-photo-3.jpg" alt="" data-object-fit-cover)
                
                .post__name-text
                  p татьяна обоскалова
                  span.accent Профессор, завкафедрой акушерства и гинекологии Уральской государственной медицинской лаборатории:

              .with-aside
                blockquote 
                  p  — “Dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra.”
          
                aside
                  a(href="#") Определение суррогатного материнства в законе об охране здоровья граждан
            
            .with-aside
              h3 Сколько стоят роды
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui 
                a(href="#")  faucibus in ornare quam viverra
              
              aside
                a(href="#") Определение суррогатного материнства в законе об охране здоровья граждан
              
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim:

            ol 
              li Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.
              li Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.
              li Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.
              li Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.
              li Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.
              li Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.

          .post__btns
            .btn__wrap.btn__wrap--grad.btn__wrap--iconed.btn__wrap--how-much
              a.xbtn.xbtn--grad.open-modal(href="#") Сколько стоит суррогатное материнство

        h2.page-title Этапы суррогатного материнства

        p.page-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis

        ol.post__steps
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-1.svg", alt="")

              span.post__steps-num 1 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-2.svg", alt="")

              span.post__steps-num 2 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-3.svg", alt="")

              span.post__steps-num 3 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-4.svg", alt="")

              span.post__steps-num 4 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-5.svg", alt="")

              span.post__steps-num 5 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-6.svg", alt="")

              span.post__steps-num 6 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-7.svg", alt="")

              span.post__steps-num 7 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-8.svg", alt="")

              span.post__steps-num 8 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽
          li 
            .post__steps-item 
              .post__steps-icon
                img(src="img/svg/icons/post-9.svg", alt="")

              span.post__steps-num 9 этап
              .post__steps-text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
              
              b.post__steps-price 15 000-300 000₽

        .post__sum 
          .post__sum-left
            .post__steps-icon
              img(src="img/svg/icons/post-sum.svg", alt="")
            span.post__steps-num Итог:
            .post__steps-text 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim

          b.post__sum-right 1 200 000₽ 
            span 
            |  2 500 000₽

        .post__how-much 
          .post__how-much-img 
            img(src="img/svg/how-much.svg", alt="")
          .post__how-much-content 
            h2.page-title Сколько получает суррогатная мать?
            .post__steps-text 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim

            ul.scr_center__grades
              li.scr_center__grades-item
                .scr_center__grades-top
                  h3 Москва
                  p 500 000₽

                .scr_center__grades-df
                  span.scr_center__grades-line(data-grade="400000" data-grade-max="500000")
                    span
              li.scr_center__grades-item
                .scr_center__grades-top
                  h3 Санкт-Петербург
                  p 400 000₽

                .scr_center__grades-df
                  span.scr_center__grades-line(data-grade="300000" data-grade-max="400000")
                    span
              li.scr_center__grades-item
                .scr_center__grades-top
                  h3 Санкт-Петербург
                  p 200 000₽

                .scr_center__grades-df
                  span.scr_center__grades-line(data-grade="100000" data-grade-max="200000")
                    span


      .post__bottom 
        .post__rate 
          .post__rate-col
            p Рейтинг статьи:
            .scr_rate__cont.scr_rate__cont--current
              .scr_rate__wrap(data-rate="3.5")
                ul.scr_rate__rate.scr_rate__rate--underlay
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                ul.scr_rate__rate.scr_rate__rate--overlay
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")

              span.scr_rate__total 3.5 out of 5.0

          .post__rate-col
            p Оцените статью:
            .scr_rate__cont
              .scr_rate__wrap(data-rate="")
                ul.scr_rate__rate.scr_rate__rate--underlay
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                ul.scr_rate__rate.scr_rate__rate--overlay
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")
                  li
                    button(type="button")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#star")

        ul.post__likes 
          li
            button.post__likes-item(type="button")
              img(src="img/svg/dislike.svg", alt="")
              span Фигня
          li
            button.post__likes-item(type="button")
              img(src="img/svg/sun.svg", alt="")
              span Пойдет
          li
            button.post__likes-item(type="button")
              img(src="img/svg/like.svg", alt="")
              span Класс

        h3.scr_center__title Комментарии
        
        ul.scr_center__reviews-list
          li
            .scr_center__reviews-img
              img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

            .scr_center__reviews-content
              h4.scr_center__reviews-name Endrew Gotham
              time(datetime="2021-02-11") February 11, 2015 at 5:45 pm

              .article
                p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
            
              a.xlink.blog__link(href="#") Ответить
          li
            .scr_center__reviews-img
              img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

            .scr_center__reviews-content
              h4.scr_center__reviews-name Endrew Gotham
              time(datetime="2021-02-11") February 11, 2015 at 5:45 pm

              .article
                p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
            
              a.xlink.blog__link(href="#") Ответить
          li
            .scr_center__reviews-img
              img(src="img-temp/reviews-img.jpg" alt="" data-object-fit-cover)

            .scr_center__reviews-content
              h4.scr_center__reviews-name Endrew Gotham
              time(datetime="2021-02-11") February 11, 2015 at 5:45 pm

              .article
                p Сonsectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
            
              a.xlink.blog__link(href="#") Ответить


        .post__form 
          .form.wpcf7
            form.wpcf7-form
              p.form__title Оставить комментарий
              p.form__desc Вы вошли как hbibw@gmail.com 
                a(href="#")  Выйти?

              .form__top
                .form__item
                  span.wpcf7-form-control-wrap.your-question.text-input
                    label Ваш комментарий
                      textarea.wpcf7-form-control.wpcf7-text.wpcf7-msg(name='your-msg', aria-required='true', aria-invalid='false', placeholder='Введите текст комментария')

                .form__item.form__item--submit
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Оставить комментарий')

          // /. form

  // /.scr_post  
