mixin scr_announce()
  section.scr_announce.announce(id="scr_announce")
    .container
      .page-icon
        img(src="img/svg/icons/announce-icon.svg" alt="")

      h2.page-title Популярные объявления за сегодня
      .page-desc
        p porttitor rhoncus dolor purus non enim praesent elementum

      .announce__slider#announce__slider
        .swiper-wrapper
          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              .announce__bottom
                .announce__info
                  span.announce__agency агенство суррогатного материнства “100 детей”
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021

          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-2.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden

              .announce__bottom
                .announce__info
                  span.announce__agency агенство суррогатного материнства “100 детей”
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021

          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-3.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              .announce__bottom
                .announce__info
                  span.announce__agency Lara Wilson_96
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021

          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-4.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              .announce__bottom
                .announce__info
                  span.announce__agency Lara Wilson_96
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021
          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              .announce__bottom
                .announce__info
                  span.announce__agency агенство суррогатного материнства “100 детей”
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021

          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-2.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              .announce__bottom
                .announce__info
                  span.announce__agency агенство суррогатного материнства “100 детей”
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021

          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-3.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              .announce__bottom
                .announce__info
                  span.announce__agency Lara Wilson_96
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021

          .swiper-slide
            .announce__item
              .announce__main
                .announce__top
                  .announce__img
                    img(src="img-temp/announce/img-4.png" alt="" data-object-fit-cover)

                  a(href="#")
                    h3 срочно требуется суррогатная мама

                .announce__hidden
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

              .announce__bottom
                .announce__info
                  span.announce__agency Lara Wilson_96
                  span.announce__price 1 000 000
                    i ₽
                .announce__info
                  span.announce__city Санкт-петербург
                  time(datetime="2021-05-22") 22 Мая
                    br
                    |  2021

      .announce__slider-btns
        .swiper-dots

  // /.scr_announce
