mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      .page-icon
        img(src="img/svg/icons/blog-icon.svg" alt="")

      h2.page-title Статьи о суррогатном материнстве и ЭКО
      .page-desc
        p porttitor rhoncus dolor purus non enim praesent elementum

      ul.blog__list
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__main
              .blog__content
                time(datetime="2021-05-21") 21.05.2021

                .blog__labels
                  span.blog__label(style="background-color: #E191D0; color: #fff;") материнство
                  span.blog__label статьи

                a(href="#")
                  h3 Планирование беременности

                .blog__text
                  p Избавляемся от вредных привычек Курение, регулярный прием даже слабоалкогольных спиртных напитков, прием…

              a.xlink.blog__link(href="#") Читать подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__main
              .blog__content
                time(datetime="2021-05-21") 21.05.2021

                .blog__labels
                  span.blog__label(style="background-color: #5DC5DC; color: #fff;") донорство
                  span.blog__label статистика

                a(href="#")
                  h3 10 фактов об оплодотворении

                .blog__text
                  p Мужчины имеют высокую плодовитость до 40 лет 👍 Потому что у них постоянно вырабатываются новые…

              a.xlink.blog__link(href="#") Читать подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__main
              .blog__content
                time(datetime="2021-05-21") 21.05.2021

                .blog__labels
                  span.blog__label(style="background-color: #5DDCC5; color: #fff;") полезное
                  span.blog__label новости

                a(href="#")
                  h3 ЭКО в прямом эфире: "Ребенок для Марии"

                .blog__text
                  p Мы запускаем новый проект “ЭКО в прямом эфире”. Его главной героиней станет блогер Мария и её муж Виктор.…

              a.xlink.blog__link(href="#") Читать подробнее

      +paginator


  // /.scr_blog
