mixin scr_rate()
  section.scr_rate(id="scr_rate")
    .scr_rate__bg
      img(src="img/svg/icons/rate-bg.svg" alt="")
    .container
      .page-icon
        img(src="img/svg/icons/rate-icon.svg" alt="")

      h2.page-title Рейтинг клиник суррогатного материнства в
        span.blue  Москве

      .page-desc
        p porttitor rhoncus dolor purus non enim praesent elementum

      .scr_rate__cont
        //. У сортировок два состояния - по умолчанию сортировка по возрастанию, по клику по убыванию с классом scr_rate__text--desc
        .scr_rate__df
          .scr_rate__col
            .scr_rate__text
              span Клиника
          .scr_rate__col
            .scr_rate__text.scr_rate__text--sort
              span Рейтинг
          .scr_rate__col
            .scr_rate__text.scr_rate__text--sort.scr_rate__text--desc
              span Цена
          .scr_rate__col
            .scr_rate__text.scr_rate__text--sort
              span Отзывы
          .scr_rate__col
            .scr_rate__text
              span Запись

        //. Для мобильной версии лучше меньше элементов списка выводить на страницу
        ul.scr_rate__list
          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.23")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,23/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#")  ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

      +paginator

  // /.scr_rate

mixin scr_rate--page()
  section.scr_rate.scr_rate--page(id="scr_rate")
    .container

      h1.page-title Рейтинг клиник суррогатного материнства в
        span.blue  Москве

      .page-desc
        p porttitor rhoncus dolor purus non enim praesent elementum

      .scr_rate__filter
        button.scr_rate__filter-btn Донорство
        button.scr_rate__filter-btn Эко
        button.scr_rate__filter-btn Гармоны
        button.scr_rate__filter-btn Материнство
        button.scr_rate__filter-btn Ешё
        .scr_rate__filter-city
          select
            option(value="Москва") Москва
            option(value="Новосибирск") Новосибирск


      .scr_rate__cont
        //. У сортировок два состояния - по умолчанию сортировка по возрастанию, по клику по убыванию с классом scr_rate__text--desc
        .scr_rate__df
          .scr_rate__col
            .scr_rate__text
              span Клиника
          .scr_rate__col
            .scr_rate__text.scr_rate__text--sort
              span Рейтинг
          .scr_rate__col
            .scr_rate__text.scr_rate__text--sort.scr_rate__text--desc
              span Цена
          .scr_rate__col
            .scr_rate__text.scr_rate__text--sort
              span Отзывы
          .scr_rate__col
            .scr_rate__text
              span Запись

        //. Для мобильной версии лучше меньше элементов списка выводить на страницу
        ul.scr_rate__list
          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

            .scr_rate__bottom
              .article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.23")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,23/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

            .scr_rate__bottom
              .article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#")  ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

            .scr_rate__bottom
              .article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

            .scr_rate__bottom
              .article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

            .scr_rate__bottom
              .article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
          li.scr_rate__item
            .scr_rate__df
              .scr_rate__col
                a.announce__img(href="#")
                  img(src="img-temp/announce/img-1.png" alt="" data-object-fit-cover)

                .scr_rate__content
                  h3
                    a(href="#") ISA, агенство

                  .scr_rate__content-item.scr_rate__content-item--address
                    p Набережная реки мойки 36, офис 806
                  .scr_rate__content-item.scr_rate__content-item--phone
                    a(href="tel:+79052736828" rel="nofollow") +7 905 273 68 28

              .scr_rate__col
                .scr_rate__cont
                  .scr_rate__wrap(data-rate="4.83")
                    ul.scr_rate__rate.scr_rate__rate--underlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                    ul.scr_rate__rate.scr_rate__rate--overlay
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")
                      li
                        button(type="button")
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#star")

                  span.scr_rate__total 4,83/5

              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--price 990 ₽
              .scr_rate__col
                b.scr_rate__item-text.scr_rate__item-text--reviews 117 отзывов
              .scr_rate__col
                .scr_rate__btns
                  .btn__wrap.btn__wrap--grad.btn__wrap--iconed
                    a.xbtn.xbtn--grad.open-modal(href="#") Запись на консультацию

            .scr_rate__bottom
              .article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra

      +paginator

  // /.scr_rate
