@font-face
  font-family: 'Panton'
  font-display: swap
  src: local('Panton'),
  url('../fonts/Panton-Regular.woff2') format('woff2'),
  url('../fonts/Panton-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Panton'
  font-display: swap
  src: local('Panton'),
  url('../fonts/Panton-SemiBold.woff2') format('woff2'),
  url('../fonts/Panton-SemiBold.woff') format('woff')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Panton'
  font-display: swap
  src: local('Panton'),
  url('../fonts/Panton-Bold.woff2') format('woff2'),
  url('../fonts/Panton-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Panton'
  font-display: swap
  src: local('Panton'),
  url('../fonts/Panton-Black.woff2') format('woff2'),
  url('../fonts/Panton-Black.woff') format('woff')
  font-weight: 900
  font-style: normal
