mixin breadcrumbs()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Новости
        meta(itemprop='position', content='2')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Заголовок новости
        meta(itemprop='position', content='3')

  // /.breadcrumbs

mixin breadcrumbs--reviews()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Отзывы
        meta(itemprop='position', content='2')

  // /.breadcrumbs


mixin breadcrumbs--about()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') О компании
        meta(itemprop='position', content='2')

  // /.breadcrumbs


mixin breadcrumbs--center()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Центр бухгалтерского учета
        meta(itemprop='position', content='2')

  // /.breadcrumbs


mixin breadcrumbs--contacts()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Контакты
        meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--news()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Новости
        meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--prices()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Стоимость услуг
        meta(itemprop='position', content='2')

  // /.breadcrumbs
