mixin scr_questions()
  section.scr_questions.questions(id="scr_questions")
    .container
      .row
        .col-sm-5.col-lg-4
          aside.steps.grey-bg
            .steps__title Процесс работы

            ul.steps__list
              li.steps__item
                .steps__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-steps-1")
                p.steps__text Оставляете заявку

              li.steps__item
                .steps__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-steps-2")
                p.steps__text Проводим консультацию

              li.steps__item
                .steps__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-steps-3")
                p.steps__text Заключаем договор

              li.steps__item
                .steps__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-steps-4")
                p.steps__text Согласовываем
                  br
                  |  регламент работы

              li.steps__item
                .steps__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-steps-5")
                p.steps__text Приступаем
                  br
                  |  к исполнению договора

            .steps__bottom
              noscript
                img.lazy(src="img/svg/img-steps.svg" alt="" width="401" height="386")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/img-steps.svg" alt="" width="401" height="386")

        .col-sm-7.col-lg-8
          .questions__wrap
            h2.title Вопрос / Ответ

            ul.questions__list
              li.questions__item
                .top
                  button.open
                  h3 Обеспечиваете ли Вы конфиденциальность?

                .hidden
                  .article
                    p  Этот вопрос является очень важным. Заключаемый договор и правила внутренних стандартов нашей компании гарантируют полное соблюдение конфиденциальности информации. Мы  заинтересованы в долговременном сотрудничестве и это тоже гарантия конфиденциальности.
              li.questions__item
                .top
                  button.open
                  h3 Требуется ли от меня доверенность при заказе услуг по сдаче НДС и иной налоговой отчетности?

                .hidden
                  .article
                    p  Этот вопрос является очень важным. Заключаемый договор и правила внутренних стандар
              li.questions__item
                .top
                  button.open
                  h3 Оплата услуг возможна только по безналичному расчету или можно оплатить наличными в кассе?

                .hidden
                  .article
                    p  Этот вопрос является очень важным. Заключаемый договор и правила внутренних стандартов нашей компании гарантируют полное соблюдение конфиденциальности информации. Мы  заинтересованы в долговременном сотрудничестве и это тоже гарантия конфиденциальности.
                    p  Этот вопрос является очень важным. Заключаемый договор и правила внутренних стандартов нашей компании гарантируют полное соблюдение конфиденциальности информации. Мы  заинтересованы в долговременном сотрудничестве и это тоже гарантия конфиденциальности.
              li.questions__item
                .top
                  button.open
                  h3 Кто несет ответственность за ошибки при оказании бухгалтерских услуг?

                .hidden
                  .article
                    p  Этот вопрос является очень важным. Заключаемый договор и правила внутренних стандартов нашей компании гарантируют полное соблюдение конфиденциальности информации. Мы  заинтересованы в долговременном сотрудничестве и это тоже гарантия конфиденциальности.
              li.questions__item
                .top
                  button.open
                  h3 С чего начать оформление договора на бухгалтерское обслуживания с вашей компанией?

                .hidden
                  .article
                    p  Этот вопрос является очeнь важным

  // /.scr_questions
