mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      .row
        .col-sm-4.col-6.col-wrap
          .contacts__col
            .contacts__wrap
              .contacts__item
                h3 Адрес:

                p.text г. Челябинск,
                  br
                  |  Свердловский пр-т, 84Б, офис, 414

              .contacts__item
                h3 Время работы:
                p.text По будням с 09:00-18:00

        .col-sm-4.col-6.col-wrap
          .contacts__col
            .contacts__wrap
              .contacts__item
                h3 Телефон:

                a.contacts__phone(href="tel:+79634720041") +7 963 472 00 41
                .msg__wrap
                  a.msg.msg--wa(href="https://api.whatsapp.com/send?phone=79634720041")
                    svg.msg__icon
                      use(xlink:href="img/svg/sprite.svg#icon-wa")
                  a.msg.msg--vi(href="viber://chat?number=79634720041")
                    svg.msg__icon
                      use(xlink:href="img/svg/sprite.svg#icon-viber")

              .contacts__item
                h3 Соц. сети:
                + socials

        .col-sm-4.col-6.col-wrap
          .contacts__col
            .contacts__wrap
              .contacts__item.contacts__item--left
                h3 Реквизиты:

                p.text
                  strong ОГРН:
                  |  1107746478597
                p.text
                  strong ИНН/КПП:
                  |  7736619233
                p.text
                  strong Дата регистрации:
                  |  10.06.2010
                p.text
                  strong ОКПО:
                  |  66861525






  // /.scr_contacts
