mixin scr_features()
  section.scr_features.features.grey-bg(id="scr_features")
    .container
      h2.title Мы – Ваш инструмент
        br
        |  для достижения бизнес целей

      .features__wrap
        ul.features__nav
          li.features__nav-item
            a.features__link.active(href="#fetures-tab-0") Центр бухгалтерского  учета
          li.features__nav-item
            a.features__link(href="#fetures-tab-1") Центр финансов
          li.features__nav-item
            a.features__link(href="#fetures-tab-2") Центр налогового планирования
          li.features__nav-item
            a.features__link(href="#fetures-tab-3") Центр внедрения программных продуктов
          li.features__nav-item
            a.features__link(href="#fetures-tab-4") Центр обучения для руководителей
          li.features__nav-item
            a.features__link(href="#fetures-tab-5") Создание эффективной финансовой службы

        ul.features__tabs
          li.features__tab#fetures-tab-0
            .article
              ul
                li Ведем бухгалтерский учет
                li Подготавливаем и сдаем налоговую отчетность
                li Ведем управленческий учет для собственников
                li Регистрируем ИП и ООО открываем расчетные счета
                li Ведем кадровый учет
                li Ведение учета на период банкротства
                li Ликвидируем ИП, ООО
            .btn__wrap
              a.link.link--arrow(href="#") Подробнее
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-arrow")
          li.features__tab#fetures-tab-1
            .article
              p Ведем бухгалтерский учет
            .btn__wrap
              a.link.link--arrow(href="#") Подробнее
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-arrow")


  // /.scr_features
