mixin scr_licenses()
  section.scr_licenses.licenses.grey-bg(id="scr_licenses")
    .container
        h2.title Сертификаты

        .slider1.licenses__slider#licenses__slider
          .slider1__slides.licenses__slides
            .slider1__slide.licenses__slide
              .licenses__wrap
                .licenses__img
                  a.fancybox(href="img/img-lic-4.jpg" data-fancybox-group="lic")
                    img(src="img/img-lic-4--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)

            .slider1__slide.licenses__slide
              .licenses__wrap
                .licenses__img
                  a.fancybox(href="img/img-lic-5.jpg" data-fancybox-group="lic")
                    img(src="img/img-lic-5--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)

            .slider1__slide.licenses__slide
              .licenses__wrap
                .licenses__img
                  a.fancybox(href="img/img-lic-3.jpg" data-fancybox-group="lic")
                    img(src="img/img-lic-3--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)

            .slider1__slide.licenses__slide
              .licenses__wrap
                .licenses__img
                  a.fancybox(href="img/img-lic-2.jpg" data-fancybox-group="lic")
                    img(src="img/img-lic-2--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)

            .slider1__slide.licenses__slide
              .licenses__wrap
                .licenses__img
                  a.fancybox(href="img/img-lic-1.jpg" data-fancybox-group="lic")
                    img(src="img/img-lic-1--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)


          .slider1__dots.licenses__dots

  // /.scr_licenses
