mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      h2.title О компании

      ul.about__nav
        li.about__nav-item
          a.about__link.active(href="#about-tab-0") От первого лица
        li.about__nav-item
          a.about__link(href="#about-tab-1") Отзывы

        li.about__nav-item
          a.about__link(href="#about-tab-2") Лицензии

      ul.about__tabs
        li.about__tab.about__tab.active#about-tab-0
          .left
            .about__content
              .article
                blockquote
                  p
                    strong Без грамотно поставленного бухгалтерского учета эффективная работа предприятия невозможна, насколько бы ни был успешен сам бизнес.

                  p Качественный бухучет не только избавляет компанию от проблем с налоговыми органами и досадных штрафных санкций, но и позволяет найти ключ к оптимизации налогов и расходов, а также становится фундаментом для планирования производственной деятельности.

                  p Компания «Бизнес-Аналитик» - это команда дипломированных специалистов с опытом работы в различных сферах бизнеса. Мы дорожим репутацией своих клиентов, чтим традиции бухгалтерского учёта и соблюдаем корпоративную этику.

                  p Мы понимаем, что каждый клиент имеет разные потребности, и мы уделяем этому особое внимание. Мы стремимся предоставлять высококачественные услуги

                cite.cite
                  span.cite__wrap
                    span
                      strong Галиулина Гульнара
                    span Управляющая компанией
                      br
                      |  «Бизнес-Аналитик»

            .about__img
              .img__wrap
                noscript
                  img.lazy(src="img/img-about.jpg" alt="Управляющий компанией Бизнес-Аналитика" width="771" height="622" data-object-fit-contain-bottom)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about.jpg" alt="" width="863" height="622" data-object-fit-contain-bottom)

        li.about__tab.about__tab#about-tab-1
          .about__reviews.reviews
            .slider1.reviews__slider#reviews__slider
              .slider1__slides.reviews__slides
                .slider1__slide.reviews__slide
                  .reviews__wrap.grey-bg
                    h3.reviews__author Иванов Александр Анатольевич
                    p.reviews__desc Руководитель компании «ПромСтрой»

                    p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

                    p.reviews__city г. Москва

                .slider1__slide.reviews__slide
                  .reviews__wrap.grey-bg
                    h3.reviews__author Смирнов Алексей Петрович
                    p.reviews__desc Руководитель компании «Альфа-Транс»

                    p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

                    p.reviews__city г. Челябинск

                .slider1__slide.reviews__slide
                  .reviews__wrap.grey-bg
                    h3.reviews__author Иванов Александр Анатольевич
                    p.reviews__desc Руководитель компании «ПромСтрой»

                    p.reviews__review Проведенная работа была крайне полезна для компании, поскольку способствовала своевременному принятию необходимых управленческих решений.

                    p.reviews__city г. Москва

              .slider1__dots.reviews__dots

        li.about__tab.about__tab#about-tab-2
          .about__licenses.licenses
            .slider1.licenses__slider#licenses__slider
              .slider1__slides.licenses__slides
                .slider1__slide.licenses__slide
                  .licenses__wrap
                    .licenses__img
                      a.fancybox(href="img/img-lic-1.jpg" data-fancybox-group="lic")
                        img(src="img/img-lic-1--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)
                    .licenses__text
                      p Лицензия
                        br
                        |  Министерства финансов
                .slider1__slide.licenses__slide
                  .licenses__wrap
                    .licenses__img
                      a.fancybox(href="img/img-lic-2.jpg" data-fancybox-group="lic")
                        img(src="img/img-lic-2--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)
                    .licenses__text
                      p Палата налоговых
                        br
                        |  консультантов
                .slider1__slide.licenses__slide
                  .licenses__wrap
                    .licenses__img
                      a.fancybox(href="img/img-lic-3.jpg" data-fancybox-group="lic")
                        img(src="img/img-lic-3--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)
                    .licenses__text
                      p ISO 9001:2015
                .slider1__slide.licenses__slide
                  .licenses__wrap
                    .licenses__img
                      a.fancybox(href="img/img-lic-2.jpg" data-fancybox-group="lic")
                        img(src="img/img-lic-2--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)
                    .licenses__text
                      p Палата налоговых
                        br
                        |  консультантов
                .slider1__slide.licenses__slide
                  .licenses__wrap
                    .licenses__img
                      a.fancybox(href="img/img-lic-3.jpg" data-fancybox-group="lic")
                        img(src="img/img-lic-3--small.jpg" alt="Лицензия" width="450" height="640" data-object-fit-contain)
                    .licenses__text
                      p ISO 9001:2015

              .slider1__dots.licenses__dots





  // /.scr_about
