mixin scr_profi()
  section.scr_profi.profi(id="scr_profi")
    .container
      h2.title Обращайтесть к профессионалам

      .mission
        .left
          blockquote.blue-bg
            p Наша ключевая миссия
              br
              |  заключается
              br
              |  в успешном сопровождении
              br
              |  Вашего бизнеса.
        .right
          .article
            p У нас с Вами общая задача— минимизировать риски, вовремя выявить возможные ошибки, подтвердить достоверность учета и отчетности, укрепить Вашу профессиональную репутацию.

            p Сотрудники компании «Бизнес-Аналитик» — это компетентные специалисты в области юриспруденции, бухгалтерского учета, аудита и налогообложения.

            p Колоссальный опыт работы и успешная практика  гарантирует высокое качество обслуживания клиентов.

      .profi__slider#profi__slider
        .profi__slides
          .profi__slide
            .profi__item
              .profi__img
                noscript
                  img.lazy(src="img-temp/profi/img-profi-1.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/profi/img-profi-1.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
              .profi__text
                h3 Тарасова Ольга
                p Руководитель центра бух. учета
          .profi__slide
            .profi__item
              .profi__img
                noscript
                  img.lazy(src="img-temp/profi/img-profi-2.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/profi/img-profi-2.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
              .profi__text
                h3 Кушнаренко Маргарита
                p Руководитель центра бух. учета
          .profi__slide
            .profi__item
              .profi__img
                noscript
                  img.lazy(src="img-temp/profi/img-profi-3.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/profi/img-profi-3.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
              .profi__text
                h3 Юрасов Александр
                p Руководитель центра бух. учета
          .profi__slide
            .profi__item
              .profi__img
                noscript
                  img.lazy(src="img-temp/profi/img-profi-4.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/profi/img-profi-4.jpg" alt="" width="293" height="370" data-object-fit-cover-top)
              .profi__text
                h3 Никоненко Светлана
                p Руководитель центра бух. учета

        .profi__dots

  // /.scr_profi
