mixin scr_prices()
  section.scr_prices.prices.grey-bg(id="scr_prices")
    .container
      p.desc
        strong Сделать свое предложение экономически
          br
          |  выгодным и удобным для всех категорий
          br
          |  клиентов – одна из целей нашей работы.
      .prices__wrap
        ul.prices__nav.tabs__nav
          li.prices__nav-item.tabs__nav-item
            a.prices__link.tabs__link.js-tabs__link.active(href="#prices-tab-0") Центр бухгалтерского  учета
          li.prices__nav-item.tabs__nav-item
            a.prices__link.tabs__link.js-tabs__link(href="#prices-tab-1") Центр финансов
          li.prices__nav-item.tabs__nav-item
            a.prices__link.tabs__link.js-tabs__link(href="#prices-tab-2") Центр налогового планирования
          li.prices__nav-item.tabs__nav-item
            a.prices__link.tabs__link.js-tabs__link(href="#prices-tab-3") Центр внедрения программных продуктов
          li.prices__nav-item.tabs__nav-item
            a.prices__link.tabs__link.js-tabs__link(href="#prices-tab-4") Центр обучения для руководителей
          li.prices__nav-item.tabs__nav-item
            a.prices__link.tabs__link.js-tabs__link(href="#prices-tab-5") Создание эффективной финансовой службы

        ul.prices__tabs.tabs
          li.prices__tab.tabs__tab#prices-tab-0
            table
              thead
                th Наименование услуги
                th Стоимость от
              tr
                td Организация на общей системе налогообложения
                td.price 1200 руб.
              tr
                td Организация на УСН с НДС
                td.price 750 руб.
              tr
                td Организация на УСН без НДС
                td.price 500 руб.
              tr
                td Индивидуальный предприниматель
                td.price 180 руб.

          li.prices__tab.tabs__tab#prices-tab-1
            table
              thead
                th Наименование услуги
                th Стоимость от
              tr
                td Организация на общей системе налогообложения
                td.price 1200 руб.
              tr
                td Организация на УСН с НДС
                td.price 750 руб.


  // /.scr_prices
