mixin scr_news-item()
  section.scr_news-item.news-item(id="scr_news-item")
    .container
      +breadcrumbs

    .container
      .news-item__wrap
        .news-item__img
          noscript
            img.lazy(src="img-temp/img-news-1.jpg" alt="" width="1137" height="333")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-news-1.jpg" alt="" width="1137" height="333")
        .news-item__content
          h1.title Что делать, если вы не согласны
            br
            |  с требованием об уплате налога?

          .article
            time(datetime='2019-07-01') 01 июля 2019

            p
              strong Многие руководители или предприниматели ассоциируют налоговый орган с крахом всего бизнеса, конечно, многие не согласны с уплатой налоговых долгов, которые возникли в связи с ошибками программного обеспечения ИФНС или же в связи тем, что ваш контрагент работает с фирмами-«однодневками», которые вы никак не можете проверить. В этом случае нужен взвешенный подход.

            p Существует несколько вариантов действий налогоплательщика:

            ol
              li
                p
                  strong 1. Не погашать долги.

                p Конечно, у многих возникает первое желание не платить по тем долгам, с которыми налогоплательщик не согласен, например, если это не ваша задолженность, а, например, задолженность, числящаяся по субсидиарной ответственности. Или представим себе другую ситуацию, когда вы уплатили налог, но в программе это почему-то не отразилось, не платить же вам налог еще раз.

                p Какие негативные последствия могут возникнуть, если использовать данный метод?

                p Во-первых, налоговый орган может заблокировать счета в банке, что может негативно отразиться на деятельности всей организации.

                p Во-вторых, налоговый орган может списать с банковского счета задолженность в бесспорном порядке.

                p Третьим негативным последствием являются пени, которые будут начисляться на основании ст. 75 НК РФ до дня погашения недоимки.

              li
                p
                  strong 2. Погасить долги и оспаривать их.

                p Данная стратегия основывается на ст. 45 НК РФ. При этом уплата налога может быть произведена не только самим налогоплательщиком, налог может быть перечислен в бюджет как со счета налогоплательщика, так и со счета третьего лица.

                p Плюсом данной стратегии является то, что пени в этом случае не начисляются.

                p Впоследствии налогоплательщик оспаривает доначисление налогов, например, решение ИФНС.

                p Если говорить о решениях в рамках камеральных и выездных проверок, то предусмотрено два вида обжалования:

                ul
                  li досудебное обжалование;
                  li судебное обжалование.

                p Существует несколько вариантов административного обжалования, которые имеют различные сроки обжалования результатов проверки. Напомним, что срок самой камеральной проверки составляет 3 месяца.

  // /.scr_news-item
