mixin scr_pay()
  section.scr_pay.pay(id="scr_pay")
    .container
      p.desc
        strong Оплатить услуги нашей компании Вы можете
          br
          |  любым удобным для вас способом:

    .container
      .row
        .col-lg-9
          ul.pay__list
            li.pay__item
              img(src="img/pay/img-pay-1.png" alt="Яндекс")
            li.pay__item
              img(src="img/pay/img-pay-2.png" alt="Яндекс")
            li.pay__item
              img(src="img/pay/img-pay-3.png" alt="Яндекс")
            li.pay__item.pay__item--two
              svg
                use(xlink:href="img/svg/sprite.svg#icon-pay")
              span.text Безналичный расчет
                br
                |  с НДС и без НДС

        .col-lg-3
          .btn__wrap
            a.btn.btn--download(href="#" download) Скачать реквизиты
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-download")
  // /.scr_pay
