doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title  |

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#ff7043')
    // Custom Browsers Color End

    include blocks/scripts.pug
    include blocks/styles.pug
    include blocks/header.pug
    include blocks/socials.pug

    include blocks/scr_reviews.pug
    include blocks/scr_aside.pug

    include blocks/footer.pug
    include blocks/socials.pug

    //- ToDo: Перенести first-load.css в inline!!!
    +styles-top

  body.main-page

    +header("div")

    #page_wr.page_wr.page_wr--secondary
      .container
        h1.title-second отзывы
      .page-reviews__main
        .container
          .row
            .col-md-7
              +scr_reviews
            .col-md-5
              +scr_aside--reviews


    a.to-top(href="#page_wr")
      i.fa.fa-angle-up

    +footer("div")

    +styles-bottom
    +scripts
