.footer
  position: relative
  &__top
    display: flex
    padding-top: 52px
    padding-bottom: 48px
  .logo
    display: block
    width: 278px
    max-width: 100%
    height: 82px
    text-decoration: none
    &__wrap
      margin-bottom: 10px

  &__info
    width: 30.7018%
    padding-right: 20px
  &__menu
    width: 17.2807%
    padding-right: 20px
    padding-top: 34px
  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 28px
      &:last-of-type
        margin-bottom: 0
      & > a
        display: block
        text-decoration: none
        outline: none
        font-size: 14px
        letter-spacing: 0.025em
        color: #000000
        transition: 0.3s
        &:hover
          color: $accent2
  &__phones
    margin-bottom: 32px
    p
      margin-bottom: 2px
      font-size: 14px
      letter-spacing: 0.025em
      color: #666666
  &__phone
    display: block
    text-decoration: none
    outline: none
    transition: 0.3s
    font-size: 20px
    font-weight: 700
    letter-spacing: 0.025em
    &:hover
      color: $accent2

  &__bottom
    border-top: 1px solid #ffffff
    &-df
      height: 57px
      display: flex
      align-items: center
    .text
      font-size: 13px
      line-height: 16px
      color: #000000
    a.text
      outline: none
      font-size: 11px
      transition: 0.3s
      &:hover
        color: $accent2
  &__left
    margin-right: 378px
  &__politics
    margin-top: -5px

  .made
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #000000
      transition: 0.3s

    &:hover
      .icon
        fill: $accent2

  .payment
    &__item
      filter: grayscale(100%)
      transition: 0.6s
      &:hover
        filter: grayscale(0)

  .socials
    margin-bottom: 42px

  &__form
    width: 51.7544%
    .form
      padding: 19px 31px 20px
      &__title
        margin-bottom: 8px
      .btn--big
        margin-top: 15px
        min-width: 253px
        width: auto
        height: 60px
        margin-left: auto
        margin-right: auto
      .accept
        width: 100%
        margin-top: 25px


  @media screen and (max-width: 900px)
    &__top
      flex-wrap: wrap
    &__info
      width: 45%
    &__menu
      width: 53%
      padding-top: 0
    &__form
      width: 400px
      max-width: 100%
      margin: 40px auto 0

  // max-width 900px

  @media screen and (max-width: 800px)
    &__bottom
      &-df
        flex-direction: column
        align-items: center
        justify-content: flex-start
        text-align: center
        height: auto
        padding: 10px 0
    &__left
      margin-bottom: 15px
      margin-right: 0

  // max-width 800px

  @media screen and (max-width: 575px)
    &__top
      padding-bottom: 28px
    &__bottom
      height: auto
    &__info
      width: 65%
    &__menu
      width: 33%

  // max-width 575px

  @media screen and (max-width: 450px)
    &__info
      width: 100%
      text-align: center
      padding-right: 0
    .logo
      margin-left: auto
      margin-right: auto
      &__wrap
        margin-right: 0
    &__menu
      display: none
    .socials
      justify-content: center
    .payment
      &__list
        justify-content: center
    &__phones
      margin-bottom: 22px
    .socials
      margin-bottom: 22px

  // max-width 450px

/* footer */
