.actions
  position: relative
  padding-top: 34px
  padding-bottom: 92px
  .page-title
    text-align: center
    font-weight: 500
  &__slider
    overflow: hidden
    width: calc(100% + 30px)
    margin-top: -15px
    margin-left: -15px
    padding: 20px 15px
    &-wrap
      position: relative
      padding-left: 36px
      padding-right: 36px
    &-btns
      .swiper-dots
        position: absolute
        bottom: -20px
        left: 50%
        transform: translateX(-50%)
      .swiper-button-prev
        left: -35px
      .swiper-button-next
        right: -35px
  &__item
    padding: 36px


  @media screen and (max-width: 1230px)
    &__slider
      &-btns
        .swiper-button-prev
          left: 5px
        .swiper-button-next
          right: 5px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    padding-bottom: 62px

  // max-width 1070px

  @media screen and (max-width: 767px)
    &__item
      padding: 16px
    &__slider
      &-wrap
        padding-left: 16px
        padding-right: 16px
      &-btns
        .swiper-button-prev
          left: -5px
        .swiper-button-next
          right: -5px

  // max-width 767px

  @media screen and (max-width: 450px)
    &__slider-wrap
      padding-left: 0
      padding-right: 0
    &__item
      padding: 7px

  // max-width 450px

/* actions */
