mixin scr1()
  section.scr1.with-ellipse
    .container
      .scr1__wrap
        .scr1__top.wow.slideInDown(data-wow-delay="0.4s")
          .logo
            img(src="img/logo.png", alt="")

          .scr1__info
            .scr1__item.scr1__item--start старт 11 октября
            .scr1__item.scr1__item--type онлайн-курс
            .scr1__item.scr1__item--duration 6 недель

        .scr1__content
          p.scr1__desc.wow.fadeIn(data-wow-delay="0.8s")
            span От фрилансера до владельца Digital-агентства

          h1.scr1__title.wow.fadeInLeft(data-wow-delay="0.4s") выйди на
            span.orange  доход от 250 000 ₽
            strong  на digital услугах
            b.accent  за счет построения системы и команды

          .scr1__btns.wow.fadeIn(data-wow-delay="0.8s")
            p Практический опыт
              br
              |  от владельцев студии
              br
              |  с выручкой 50 млн/год

            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.xbtn--icon(href="#") принять участие

        .scr1__img
          img(src="img/scr1-img.png", alt="")

  // /.scr1
