mixin scr_add()
  section.scr_add.with-ellipse(id="scr_add")
    .container
      h2.page-title 20 дополнительных материалов

      ul.scr_add__list
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item
            h3 Дорожная карта по постановке цели
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item.program__download-item--doc
            h3 Чек лист по работе с установками
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item.program__download-item--xlsx
            h3 Таблица декомпозиция и план на год
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item
            h3 Основные 10 каналов траффика студии
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item
            h3 Дорожная карта по постановке цели
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item.program__download-item--doc
            h3 Чек лист по работе с установками
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item.program__download-item--xlsx
            h3 Таблица декомпозиция и план на год
        li
          a.scr_add__item(href="#")
            span.scr_add__img.program__download-item
            h3 Основные

      a.scr_add__link(href="#")
        span показать все

  // /.scr_add
