mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .container
      h2.page-title Вопрос-ответ

      ul.faq__list
        li.faq__item
          .top
            button.open
            h2 Я с полного нуля, мне подойдет курс?
          .hidden
            .article
              p  Доступ к онлайн-платформе с учебными модулями  в зависимости от тарифа. В каждом модуле от 5 до 10 видео-уроков с примерами и домашними заданиями.

              p Также для всех участников курса доступны более 40 дополнительных материалов, полезные файлы, инструкции, чек-листы, шаблоны договоров и КП, регламенты, книга продаж, скрипты продаж, таблицы расчетов и прочее.

              p Мы очень гордимся нашими заготовками. И передаем участникам курса лучшее, чем пользуемся сами и что показало результат на практике.
        li.faq__item
          .top
            button.open
            h2 Я специалист с опытом, уже давно зарабатываю на digital, что нового узнаю?
          .hidden
            .article
              p  Доступ к онлайн-платформе с учебными модулями  в зависимости от тарифа. В каждом модуле от 5 до 10 видео-уроков с примерами и домашними заданиями.

              p Также для всех участников курса доступны более 40 дополнительных материалов, полезные файлы, инструкции, чек-листы, шаблоны договоров и КП, регламенты, книга продаж, скрипты продаж, таблицы расчетов и прочее.
        li.faq__item
          .top
            button.open
            h2 Как будет проходить курс?
          .hidden
            .article
              p  Доступ к онлайн-платформе с учебными модулями  в зависимости от тарифа. В каждом модуле от 5 до 10 видео-уроков с примерами и домашними заданиями.

              p Также для всех участников курса доступны более 40 дополнительных материалов, полезные файлы, инструкции, чек-листы, шаблоны договоров и КП, регламенты, книга продаж, скрипты продаж, таблицы расчетов и прочее.
        li.faq__item
          .top
            button.open
            h2 Можно ли оплатить по частям?
          .hidden
            .article
              p  Доступ к онлайн-платформе с учебными модулями  в зависимости от тарифа. В каждом модуле от 5 до 10 видео-уроков с примерами и домашними заданиями.

              p Также для всех участников курса доступны более 40 дополнительных материалов, полезные файлы, инструкции, чек-листы, шаблоны договоров и КП, регламенты, книга продаж, скрипты продаж, таблицы расчетов и прочее.
        li.faq__item
          .top
            button.open
            h2 Можно ли оплатить по частям?
          .hidden
            .article
              p  Доступ к онлайн-платформе с учебными модулями  в зависимости от тарифа. В каждом модуле от 5 до 10 видео-уроков с примерами и домашними заданиями.

              p Также для всех участников курса доступны более 40 дополнительных материалов, полезные файлы, инструкции, чек-листы, шаблоны договоров и КП, регламенты, книга продаж, скрипты продаж, таблицы расчетов и прочее.
        li.faq__item
          .top
            button.open
            h2 Можно ли оплатить по частям?
          .hidden
            .article
              p  Доступ к онлайн-платформе с учебными модулями  в зависимости от тарифа. В каждом модуле от 5 до 10 видео-уроков с примерами и домашними заданиями.

              p Также для всех участников курса доступны более 40 дополнительных материалов, полезные файлы, инструкции, чек-листы, шаблоны договоров и КП, регламенты, книга продаж, скрипты продаж, таблицы расчетов и прочее.

  // /.scr_faq
