mixin scr_for
  section.scr_for.with-ellipse
    .container
      h2.page-title Для кого курс?

      ul.scr_for__list
        li.scr_for__item.wow.fadeIn(data-wow-delay="0.4s")
          .scr_for__col
            .scr_for__img
              img(src="img/for-1.png", alt="")
          h3.scr_for__title новичок

          .scr_for__col
            .scr_for__content
              .scr_for__content-img
                img(src="img/for-bg-1.png", alt="")

              .scr_for__price
                span
                b 0-50
                p тыс. рублей
                  br
                  |  дохода в месяц

              ul
                li Найдешь первых или новых клиентов с большим чеком и начнешь зарабатывать больше.

                li Поймешь от А до Я как открыть свое агентство и стать предпринимателем.

              .scr_for__earn.accent
                p заработаешь первые
                  br
                  strong  30 -
                    span  150 тысяч руб.

        li.scr_for__item.wow.fadeIn(data-wow-delay="0.6s")
          .scr_for__col
            .scr_for__img
              img(src="img/for-2.png", alt="")

          h3.scr_for__title фрилансер

          .scr_for__col
            .scr_for__content
              .scr_for__content-img
                img(src="img/for-bg-2.png", alt="")

              .scr_for__price
                span
                b 50-100
                p тыс. рублей
                  br
                  |  дохода в месяц

              ul
                li Сделаешь прорыв в деньгах за счет делегирования.

                li Перестанешь выгорать, работая 24/7 и начнешь зарабатывать больше в свое удовольствие.

              .scr_for__earn.accent
                p начнешь получать
                  br
                  strong  в 2 -
                    span  3 раза больше

        li.scr_for__item.wow.fadeIn(data-wow-delay="0.8s")
          .scr_for__col
            .scr_for__img
              img(src="img/for-3.png", alt="")

          h3.scr_for__title team-лидер

          .scr_for__col
            .scr_for__content
              .scr_for__content-img
                img(src="img/for-bg-3.png", alt="")

              .scr_for__price
                span
                b 100-250
                p тыс. рублей
                  br
                  |  дохода в месяц

              ul
                li Начнешь стабильно зарабатывать больше и пробьешь стеклянный потолок.

                li Масштабируешься за счет построения четкой системы найма и управления людьми, высоких чеков и широкой продуктовой линейки.

              .scr_for__earn.accent
                p стабильно получаешь
                  br
                  strong  250 -
                    span  500 тысяч руб.
                  br
                  |  в месяц

  // /.scr_for
