mixin scr_teachers()
  section.scr_teachers.teachers(id="scr_teachers")
    .container
      h2.page-title Преподаватели курса

      .teachers__top
        .teachers__wrap.with-ellipse
          img(src="img/teachers-img.png", alt="")

          p.teachers__name
            strong Антон
            |  Преподаватель курса

          p.teachers__name
            strong Руслан
            |  Преподаватель курса

        .teachers__content.scr_for__content
          ul
            li Прошли путь от фрилансеров до владельцев студии с выручкой 50 млн/год
            li Собственное агентство SHEER > 10 лет на рынке. Более 550 успешных клиентских кейсов, 50 сотрудников в команде.

            li Федеральные спикеры по маркетингу и продажам Деловой Среды Сбербанка

            li Победители конкурса “Лучший Молодой Предприниматель России 2019”

            li Средний чек студии 120 000 рублей, максимальный чек 700 000 рублей

            li Финишировали гонку IRONMAN и путешествуют по миру.

      ul.teachers__list
        li
          .teachers__item
            .teachers__item-img
              img(src="img-temp/teachers/img-1.jpg", alt="", data-object-fit-cover)

            span.teachers__item-name Кристина
            span.teachers__item-text Руководитель отдела продаж
        li
          .teachers__item
            .teachers__item-img
              img(src="img-temp/teachers/img-2.jpg", alt="", data-object-fit-cover)

            span.teachers__item-name Ксения
            span.teachers__item-text Руководитель отдела маркетинга
        li
          .teachers__item
            .teachers__item-img
              img(src="img-temp/teachers/img-3.jpg", alt="", data-object-fit-cover)

            span.teachers__item-name Анастасия
            span.teachers__item-text Руководитель отдела разработки
        li
          .teachers__item
            .teachers__item-img
              img(src="img-temp/teachers/img-4.jpg", alt="", data-object-fit-cover)

            span.teachers__item-name Кристина
            span.teachers__item-text Руководитель отдела продаж
        li
          .teachers__item
            .teachers__item-img
              img(src="img-temp/teachers/img-1.jpg", alt="", data-object-fit-cover)

            span.teachers__item-name Кристина
            span.teachers__item-text Руководитель отдела продаж
        li
          .teachers__item
            .teachers__item-img
              img(src="img-temp/teachers/img-2.jpg", alt="", data-object-fit-cover)

            span.teachers__item-name Кристина
            span.teachers__item-text Руководитель отдела продаж
        li
          .teachers__item
            .teachers__item-img
              img(src="img-temp/teachers/img-3.jpg", alt="", data-object-fit-cover)

            span.teachers__item-name Кристина
            span.teachers__item-text Руководитель отдела продаж

  // /.scr_teachers
