mixin scr_tariffs()
  section.scr_tariffs.tariffs(id="scr_tariffs")
    .container
      h2.page-title тарифы

      ul.tariffs__list
        li
          .tariffs__item
            .program__type
              //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
              span
              span
              span

            .tariffs__title Стандарт

            .tariffs__content
              p.tariffs__modul
                strong модуль 1
                |  Цели и мышление
              p.tariffs__modul
                strong модуль 2
                |  Поиск клиентов
              p.tariffs__modul
                strong модуль 3
                |  Цели и мышление
              p.tariffs__modul
                strong модуль 4
                |  найм и делегирование
              p.tariffs__modul
                strong модуль 5
                |  Управление и система
              p.tariffs__modul
                strong модуль 6
                |  Документы и налоги
              p.tariffs__modul
                strong модуль 7
                |  Онлайн выпускной

              ul
                li Общий чат участников
                li Домашние задания без проверки
                li Доступ к курсу и обновлениям \
                  strong  на 3 месяца
                li
                  strong  Сертификат
                  |  по окончанию курса
                li Доступ к коммьюнити “Деньги на Digital”

            .tariffs__bottom
              b.tariffs__price 3 166 ₽/мес
              b.tariffs__in-year 38 000 ₽

              .tariffs__btns
                .btn__wrap.btn__wrap--grad
                  a.xbtn.xbtn--grad.xbtn--icon(href="#") оплатить участие

        li
          .tariffs__item
            .program__type
              //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
              span
              span
              span
              span

            .tariffs__title Бизнес

            .tariffs__content
              p.tariffs__all.accent Все, что входит в тариф «Стандарт»
                span  +

              .tariffs__add
                .tariffs__add-modul
                  strong.accent модуль
                  .tariffs__add-num
                    b.accent 8
                    p Работа с проектами с высоким чеком 300.000+
                p.tariffs__add-minutes
                  b 120
                  span минут контента

              ul
                li Проверка домашних заданий
                li Обратная связь от кураторов с доходом от 150 000 рублей в месяц
                li Два живых разбора по ZOOM в формате вопрос / ответ лично c Антоном и Русланом
                li Доступ к курсу и обновлениям на 6 месяцев

            .tariffs__bottom
              b.tariffs__price 6 500 ₽/мес
              b.tariffs__in-year 78 000 ₽

              .tariffs__btns
                .btn__wrap.btn__wrap--grad
                  a.xbtn.xbtn--grad.xbtn--icon(href="#") оплатить участие
        li
          .tariffs__item
            .program__type
              //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
              span
              span
              span
              span
              span

            .tariffs__title VIP

            .tariffs__content
              p.tariffs__all.accent Все, что входит в тариф «Бизнес»
                span  +

              .tariffs__add
                .tariffs__add-modul
                  strong.accent модуль
                  .tariffs__add-num
                    b.accent 9
                    p Работа с руководителями и HR специалистом
                p.tariffs__add-minutes
                  b 120
                  span минут контента

              ul
                li Личный куратор 24/7 дает обратную связь
                li 4 личных встречи в формате наставничества от Антона и Руслана
                li Закрытый чат и личная обратная связь от  Антона и Руслана
                li Доступ к курсу и обновлениям на 12 месяцев
                li Проработка вашего проекта на протяжении всего курса и личные ответы на вопросы
                li Индивидуальный план из 3-5 действий для вашего прорыва

            .tariffs__bottom
              b.tariffs__price 6 500 ₽/мес
              b.tariffs__in-year 78 000 ₽

              .tariffs__btns
                .btn__wrap.btn__wrap--grad
                  a.xbtn.xbtn--grad.xbtn--icon(href="#") оплатить участие

  // /.scr_tariffs
