mixin scr_result()
  section.scr_result.result(id="scr_result")
    .container
      .result__df
        .result__img
          img(src="img/result-1.png", alt="")

        .result__content
          p.result__title Результат после курса:

          p.result__text
            strong За 6 недель
            |  ты внедришь все необходимые инструменты и начнешь зарабатывать
            strong.accent  от 250 000 Р
            |  на digital-услугах

          .result__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.xbtn--icon(href="#") принять участие

  // /.scr_result

mixin scr_result--2()
  section.scr_result.result.result--2(id="scr_result")
    .container
      .result__df
        .result__img
          img(src="img/result-2.png", alt="")

        .result__content
          p.result__title Можно платить частями!

          .scr_for__content
            ul
              li 0% Без процентов на 3,  6,  12 месяцев
              li Первый взнос только через месяц, сейчас ничего не платите
              li Возможно только для граждан России  (без Крыма и СНГ)
              li Нужен только паспорт и 18+ лет

          p.result__add.accent Не можешь определиться с тарифом или не понимаешь нужно ли тебе идти на курс?
            br
            |  Наш специалист поможет, для этого просто нажми на кнопку:

          .result__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.xbtn--icon(href="#") консультация

  // /.scr_result
