mixin scr_cases()
  section.scr_cases.cases(id="scr_cases")
    .container
      h2.page-title кейсы

      ul.cases__list
        li
          .cases__item.wow.fadeIn(data-wow-delay="0.4s")
            .cases__top
              span.cases__income.cases__income--old
                b 120
                |  тыс. рублей
                br
                |  дохода / мес.
              .cases__img
                img(src="img/svg/cases-1.svg", alt="")
              .cases__after
                .cases__percent
                  img(src="img/cases-per-1.png", alt="")

                span.cases__income.cases__income--new
                  b 390
                  |  тыс. рублей
                  br
                  |  дохода / мес.

            .teachers__item
              .teachers__item-img
                img(src="img-temp/cases/img-1.jpg", alt="", data-object-fit-cover)

              span.teachers__item-name Трегубов Никита
              a.teachers__item-text(href="#" rel="nofollow") @tregnikita
        li
          .cases__item.wow.fadeIn(data-wow-delay="0.5s")
            .cases__top
              span.cases__income.cases__income--old
                b 40
                |  тыс. рублей
                br
                |  дохода / мес.
              .cases__img
                img(src="img/svg/cases-2.svg", alt="")
              .cases__after
                .cases__percent
                  img(src="img/cases-per-2.png", alt="")

                span.cases__income.cases__income--new
                  b 480
                  |  тыс. рублей
                  br
                  |  дохода / мес.

            .teachers__item
              .teachers__item-img
                img(src="img-temp/cases/img-2.jpg", alt="", data-object-fit-cover)

              span.teachers__item-name Глобал Роман
              a.teachers__item-text(href="#" rel="nofollow") @id444197010
        li
          .cases__item.wow.fadeIn(data-wow-delay="0.6s")
            .cases__top
              span.cases__income.cases__income--old
                b 120
                |  тыс. рублей
                br
                |  дохода / мес.
              .cases__img
                img(src="img/svg/cases-2.svg", alt="")
              .cases__after
                .cases__percent
                  img(src="img/cases-per-2.png", alt="")

                span.cases__income.cases__income--new
                  b 250
                  |  тыс. рублей
                  br
                  |  дохода / мес.

            .teachers__item
              .teachers__item-img
                img(src="img-temp/cases/img-2.jpg", alt="", data-object-fit-cover)

              span.teachers__item-name Бабий Илья
              a.teachers__item-text(href="#" rel="nofollow") @ilya.babiy

  // /.scr_cases
