mixin scr_program()
  section.scr_program.program(id="scr_program")
    .container
      h2.page-title программа

      ul.program__list
        li
          .program__item
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  1

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title Цели и мышление

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span

                  p стандарт

              .program__result
                h3 результат:
                p Сформулированная цель и понимание как двигаться дальше без сомнений и переживаний с четким пошаговым планом по увеличению дохода.

            .program__content
              .program__questions
                ul.program__questions-list
                  li С чего начать путь? Ставим цель по доходу, пишем подробный план

                  li Чем отличается мышление фрилансера от владельца digital-агентства

                  li Ограничивающие убеждения и ошибки. Как поверить в свой продукт и перестать боятся больших денег?

                  li Как убрать бардак в голове, даже если нет успешного опыта и уверенности, структурировать задачи и сфокусироваться на главном?

                  li Как работать со стрессом, негативом, выгоранием? Оставаться всегда в боевом состоянии и работать в кайф?

                  li Как перейти от мыслей к действиям и результату?

                  li Как окупить стоимость курса в первый месяц?

              ul.program__download
                li
                  a.program__download-item(href="#" download)  Дорожная карта по&nbsp;постановке цели
                li
                  a.program__download-item(href="#" download)  Чек лист по работе с&nbsp;установками
                li
                  a.program__download-item(href="#" download)  Таблица декомпозиция и&nbsp;план на&nbsp;год
        li
          .program__item
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  2

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title Поиск клиентов

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span

                  p стандарт

              .program__result
                h3 результат:
                p Научитесь системно на постоянной основе обеспечивать себя заказами от качественных и платежеспособных клиентов из различных источников. В том числе освоите бесплатные каналы.

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?

              ul.program__download
                li
                  a.program__download-item(href="#" download)  Основные 10 каналов траффика студии
                li
                  a.program__download-item(href="#" download)  Чек-лист «Стать агентством номер 1 в регионе»
                li
                  a.program__download-item(href="#" download)  Таблица заявкии продажи

        li
          .program__item
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  3

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title Цели и мышление

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span

                  p стандарт

              .program__result
                h3 результат:
                p Продаете с высоким средним чеком и хорошей конверсией. Научитесь закрывать сделку в 1-3 касания и увеличите доход за счет допродаж и системных платежей.

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?

              ul.program__download
                li
                  a.program__download-item(href="#" download)  Книга продаж
                li
                  a.program__download-item(href="#" download)  Дашборд допродаж
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения

        li
          .program__item
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  4

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title найм и делегирование

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span

                  p стандарт

              .program__result
                h3 результат:
                p Продаете с высоким средним чеком и хорошей конверсией. Научитесь закрывать сделку в 1-3 касания и увеличите доход за счет допродаж и системных платежей.

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?

              ul.program__download
                li
                  a.program__download-item(href="#" download)  Книга продаж
                li
                  a.program__download-item(href="#" download)  Дашборд допродаж
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения
        li
          .program__item
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  5

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title Управление и система

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span

                  p стандарт

              .program__result
                h3 результат:
                p Продаете с высоким средним чеком и хорошей конверсией. Научитесь закрывать сделку в 1-3 касания и увеличите доход за счет допродаж и системных платежей.

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?

              ul.program__download
                li
                  a.program__download-item(href="#" download)  Книга продаж
                li
                  a.program__download-item(href="#" download)  Дашборд допродаж
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения
        li
          .program__item
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  6

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title Документы и налоги

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span

                  p стандарт

              .program__result
                h3 результат:
                p Продаете с высоким средним чеком и хорошей конверсией. Научитесь закрывать сделку в 1-3 касания и увеличите доход за счет допродаж и системных платежей.

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?

              ul.program__download
                li
                  a.program__download-item(href="#" download)  Книга продаж
                li
                  a.program__download-item(href="#" download)  Дашборд допродаж
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения
                li
                  a.program__download-item(href="#" download)  Пример коммерческого предложения
        li
          .program__item
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  7

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title онлайн выпускной

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span

                  p стандарт

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?
                  
        li
          .program__item.program__item--yellow
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  8

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title Работа с проектами с&nbsp;высоким чеком 300.000+

                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span
                  span

                  p Бизнес

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?
        li
          .program__item.program__item--yellow
            .program__info
              .program__info-top
                .program__modul
                  .program__modul-num.accent модуль
                    b  9

                  .program__modul-minutes
                    b 120
                    |  минут контента

                h3.program__title Работа с&nbsp;руководителями и HR
                .program__type
                  //. Для стандарта 3 span (звёздочки), для бизнес 4 span, для vip 5 span
                  span
                  span
                  span
                  span
                  span

                  p VIP

            .program__content
              .program__questions
                ul.program__questions-list
                  li Где брать клиентов: бесплатно и платно?
                  li ТОП-10 каналов траффика для новичков и опытных
                  li Сколько денег и клиентов может принести личный бренд?
                  li Как упаковать свои услуги так, чтобы клиенты стояли в очереди?

  // /.scr_program
