.feat
  position: relative
  padding-top: 45px
  padding-bottom: 77px
  .page-title
    margin-bottom: 85px
    font-weight: 900
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    margin-bottom: 110px
  &__item
    width: 25%
    padding-right: 20px
    &:nth-of-type(4n)
      padding-right: 0
  &__icon
    display: block
    width: 100px
    height: 100px
    margin-bottom: 40px
  &__text
    font-size: 18px
    line-height: 1.555555555555556 /* 28 / 18 */
    font-weight: 500
  &__form
    .form
      padding-top: 0
      padding-bottom: 0


  @media screen and (max-width: 1400px)
    .page-title
      margin-bottom: 55px
    &__list
      margin-bottom: 70px
    &__icon
      width: 80px
      height: 80px
      margin-bottom: 20px
    &__text
      font-size: 16px
      line-height: 1.45556
      br
        display: none

  // max-width 1400px

  @media screen and (max-width: 850px)
    padding-bottom: 57px
    .page-title
      margin-bottom: 35px
    &__list
      margin-bottom: 50px
    &__icon
      width: 65px
      height: 65px
    &__text
      font-size: 14px

  // max-width 850px

  @media screen and (max-width: 700px)
    padding-bottom: 57px
    &__list
      margin-bottom: 40px
    &__item
      padding-right: 14px
    &__icon
      width: 45px
      height: 45px
    &__text
      font-size: 13px

  // max-width 700px

  @media screen and (max-width: 575px)
    padding-top: 20px
    padding-bottom: 20px
    &__text
      font-size: 12px
    &__list
      flex-wrap: wrap
    &__item
      width: 50%
      &:nth-of-type(2n)
        padding-right: 0

  // max-width 575px

/* feat */
