.about
  position: relative
  z-index: 1
  .page-title
    font-weight: 900
  &__wrap
    position: relative
    padding-top: 142px
    padding-bottom: 64px
  &__content
    width: 600px
    margin-bottom: 50px
  &__desc
    margin-bottom: 50px
    font-size: 20px
    font-weight: 700
  &__text
    font-weight: 500
    p
      margin-bottom: 23px
      &:last-of-type
        margin-bottom: 0
  &__bottom
    display: flex
    &-left
      margin-right: 181px
      padding-top: 8px
    &-num
      position: relative
      display: flex
      margin-bottom: 17px
      font-size: 52px
      line-height: 1
      font-weight: 900
      color: $accent
      span
        &:first-of-type
          margin-right: 19px
        &:last-of-type
          font-size: 24px
          font-weight: 900
      &::after
        content: ''
        position: absolute
        top: 10%
        right: -182px
        display: block
        width: 180px
        height: 95px
        background: transparent url('../img/svg/icons/decor-1.svg') no-repeat center center
        background-size: contain
        transform: rotate(-90deg)
    &-desc
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
      font-weight: 500
      letter-spacing: 0.03em
    &-right
      display: inline-block
      outline: none
      font-size: 18px
      line-height: 28px /* 28 / 18 */
      background-color: #f8f9fe
      box-shadow: 0px 20px 40px 0px rgba(48,48,54,0.14)
      border-radius: 8px
      padding: 34px 57px
      strong
        font-weight: 500
  &__img
    position: absolute
    top: -202px
    left: 684px
    width: 1230px
    height: 1230px
    padding-top: 200px
    background-color: #f8f9fe
    overflow: hidden
    border-radius: 50%
    z-index: -1
    img
      display: block


  @media screen and (max-width: 1400px)
    &__wrap
      padding-top: 132px
    &__content
      width: 720px
      max-width: 100%
      margin-bottom: 30px
    &__desc
      margin-bottom: 30px
      font-size: 18px
    &__text
      font-size: 14px
      p
        margin-bottom: 13px
    &__bottom
      &-num
        margin-bottom: 15px
        font-size: 45px
        span
          &:last-of-type
            font-size: 20px
      &-desc
        font-size: 16px
      &-right
        font-size: 16px
        line-height: 25px
        padding: 24px 37px
    &__img
      top: -332px
      left: 764px
      width: 940px
      height: 940px

  // max-width 1400px

  @media screen and (max-width: 991px)
    &__wrap
      padding-top: 62px
    &__bottom
      align-items: center
      &-left
        margin-right: 111px
      &-num
        font-size: 30px
        &::after
          top: 30%
          right: -112px
          width: 120px
          height: 55px
        span
          &:last-of-type
            font-size: 16px
      &-desc
        font-size: 14px
      &-right
        font-size: 14px
        line-height: 20px
        padding: 20px 22px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__img
      display: none

  // max-width 767px

  @media screen and (max-width: 575px)
    &__wrap
      padding-top: 20px
      padding-bottom: 20px
    &__bottom
      display: block
      &-left
        margin-right: 0
        margin-bottom: 20px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__desc
      margin-bottom: 20px
      font-size: 15px
    &__text
      font-size: 13px

  // max-width 500px

/* about */
