.docs
  position: relative
  flex-shrink: 0
  width: 41.43859649122807%
  .page-title
    font-size: 30px
    font-weight: 900
  &__list
    margin: 0
    padding: 0
    list-style: none
    & > li
      padding-bottom: 28px
      &:last-of-type
        padding-bottom: 0
  &__item
    outline: none
    display: flex
    align-items: center
    min-height: 124px
    background: #ffffff url('../img/svg/download.svg') no-repeat 40px center
    background-size: 26px 26px
    box-shadow: 0px 20px 40px 0px rgba(48,48,54,0.14)
    border-radius: 8px
    padding: 15px 20px 15px 111px
    transition: 0.3s
    &:hover
      box-shadow: 0px 20px 30px 0px rgba(48,48,54,0.24)


  @media screen and (max-width: 1400px)
    &__list
      & > li
        padding-bottom: 20px
    &__item
      min-height: 94px
    .page-title
      font-size: 25px

  // max-width 1400px

  @media screen and (max-width: 1070px)
    width: 36.438596%
    .page-title
      font-size: 21px
    &__item
      min-height: 84px
      padding: 15px 20px 15px 71px
      background-position: 25px center
      font-size: 14px

  // max-width 1070px

  @media screen and (max-width: 991px)
    width: 46.438596%

  // max-width 991px

  @media screen and (max-width: 767px)
    .page-title
      font-size: 18px
    &__item
      br
        display: none

  // max-width 767px

  @media screen and (max-width: 575px)
    width: 100%
    margin-bottom: 30px
    &__list
      & > li
        padding-bottom: 14px
    &__item
      min-height: 54px

  // max-width 575px

/* docs */
