.reviews
  position: relative
  padding-top: 31px
  padding-bottom: 51px
  .page-title
    font-weight: 900
    text-align: center
  &__tabs
    margin: 0
    padding: 0
    list-style: none
    padding-top: 52px
  &__slider
    position: relative
    max-width: 1055px
    margin: -40px auto
    padding: 40px
    overflow: hidden
    &-wrap
      position: relative
      z-index: 1
      &::before
        content: ''
        position: absolute
        top: -30px
        right: -33px
        display: block
        width: 168px
        height: 188px
        background: transparent url('../img/svg/icons/decor-2.svg') no-repeat center center
        background-size: contain
        z-index: -1
    &-btns
      .swiper-dots
        bottom: 4px
      .swiper-button-prev,
      .swiper-button-next
        background-color: #ffffff
  &__item
    position: relative
    background-color: #ffffff
    box-shadow: 0px 20px 40px 0px rgba(48,48,54,0.14)
    border-radius: 8px
    padding: 30px 39px 59px 46px
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: -17px
      left: -19px
      display: block
      width: calc(100% + 19px)
      height: 100%
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px
      border: 1px solid #dde1f2
      border-right: none
      z-index: -1

  &__top
    display: flex
    justify-content: space-between
    time
      display: block
      padding-top: 4px
      font-size: 14px
      font-weight: 500
      color: #9b9aa2
  &__author
    margin-bottom: 24px
    padding-right: 20px
  &__title
    margin-top: 0
    margin-bottom: 7px
    font-size: 20px
    font-weight: 700
  &__case
    font-size: 14px
    color: #9b9aa2
  &__btns
    position: relative
    padding-top: 73px
    text-align: center
    z-index: 1
    .xbtn
      min-width: 232px
      height: 63px


  @media screen and (max-width: 1400px)
    &__tabs
      padding-top: 42px
    &__item
      padding: 30px 29px 39px 36px
    &__slider
      &-wrap
        &::before
          top: 15px

  // max-width 1400px

  @media screen and (max-width: 767px)
    &__slider
      margin: -40px
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          display: none
    &__item
      padding: 20px 23px 29px 23px
    &__tabs
      padding-top: 32px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 20px
    padding-bottom: 36px

  // max-width 575px

  @media screen and (max-width: 450px)
    &__tabs
      padding-top: 22px

  // max-width 450px

/* reviews */
