.garanties
  position: relative
  padding-top: 64px
  padding-bottom: 114px
  .page-title
    margin-bottom: 115px
  &__list
    margin: 0
    padding: 0
    list-style: none
  &__item
    position: relative
    display: flex
    justify-content: space-between
    margin-bottom: 177px
    z-index: 1
    &::after
      content: ''
      position: absolute
      top: -74px
      right: -94px
      display: block
      width: 168px
      height: 188px
      background: transparent url('../img/svg/icons/decor-2.svg') no-repeat center center
      background-size: contain
      z-index: -1
    &:nth-of-type(2n)
      margin-bottom: 205px
      &::after
        top: -58px
        left: -79px
        right: auto
      .garanties__content
        padding-right: 0
      .garanties__img
        order: -1
    &:last-of-type
      margin-bottom: 0
  &__content
    width: calc(50% - 15px)
    padding-right: 26px
    padding-top: 4px
  &__img
    position: relative
    width: calc(50% - 15px)
    height: 330px
    order: 2
    img
      display: block
      position: absolute
      top: 0
      left: 0
  &__title
    display: flex
    align-items: flex-end
    margin-bottom: 54px
    &-num
      position: relative
      display: block
      margin-right: 31px
      padding-left: 26px
      font-size: 36px
      font-weight: 700
      color: $accent
      .icon
        position: absolute
        top: -12px
        left: 2px
        display: block
        width: 40px
        height: 41px
        fill: #b1b0b8
    h3
      margin-top: 0
      margin-bottom: 0
      font-size: 20px
      line-height: 1.4 /* 28 / 20 */
      font-weight: 700
  &__text
    font-weight: 500
    p
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0


  @media screen and (max-width: 1400px)
    padding-top: 44px
    padding-bottom: 94px
    .page-title
      margin-bottom: 65px
    &__item
      margin-bottom: 137px
      &:nth-of-type(2n)
        margin-bottom: 155px
      &::after
        top: -44px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    padding-top: 34px
    padding-bottom: 34px
    .page-title
      margin-bottom: 45px
    &__item
      margin-bottom: 47px
      &:nth-of-type(2n)
        margin-bottom: 65px
    &__img
      width: calc(40% - 15px)
      height: 250px
    &__content
      width: calc(60% - 15px)
      padding-right: 16px
    &__title
      margin-bottom: 23px
      &-num
        margin-right: 21px
        font-size: 30px
      h3
        font-size: 17px
    &__text
      font-size: 14px
      p
        margin-bottom: 10px

  // max-width 1170px

  @media screen and (max-width: 767px)
    &__item
      display: block
      margin-bottom: 27px
      &::after
        content: none
      &:nth-of-type(2n)
        margin-bottom: 27px
        .garanties__img
          float: left
          margin-left: 0
          margin-right: 15px
    &__img
      float: right
      width: 30%
      height: 100px
      margin-left: 15px
      margin-bottom: 15px
    &__content
      width: 100%
      padding-right: 0
    &__title
      margin-bottom: 18px
      &-num
        margin-right: 17px
        font-size: 25px
      h3
        font-size: 14px

  // max-width 767px

  @media screen and (max-width: 500px)
    padding-top: 20px
    padding-bottom: 20px
    .page-title
      margin-bottom: 35px
    &__item
      &:nth-of-type(2n)
        .garanties__img
          float: none
          margin-left: auto
          margin-right: auto
    &__img
      float: none
      width: 100%
      max-width: 200px
      height: auto
      margin-left: auto
      margin-right: auto
      margin-bottom: 5px
      img
        position: static
    &__title
      h3
        font-size: 13px

  // max-width 500px

/* garanties */
