.footer
  position: relative
  padding-top: 20px
  padding-bottom: 18px

  &__df
    display: flex
    justify-content: space-between
    width: calc(100% + 88px)
    margin-left: -88px

  &__text
    font-size: 14px
    a
      display: block
      text-decoration: none
      outline: none
      transition: 0.3s
      &:hover
        color: $accent2

  &__info
    padding-right: 30px

  &__address
    padding-right: 30px

  &__politics
    display: block
    text-decoration: none
    outline: none
    font-size: 14px
    padding-right: 30px

  .made
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      transition: 0.3s

    &:hover
      .icon
        fill: $accent2

  .socials
    display: none

  @media screen and (max-width: 1600px)
    &__df
      width: 100%
      margin-left: 0

  // max-width 1600px

  @media screen and (max-width: 1200px)
    padding-top: 10px

  // max-width 1200px

  @media screen and (max-width: 1000px)
    &__info
      padding-right: 10px
    &__address
      padding-right: 10px
    &__politics
      padding-right: 10px

  // max-width 1000px

  @media screen and (max-width: 900px)
    &__text
      font-size: 12px

  // max-width 900px

  @media screen and (max-width: 767px)
    width: calc(100% + 30px)
    margin-left: -15px
    background-color: #f8f8f8
    text-align: center
    padding-top: 24px
    padding-bottom: 9px
    &__df
      flex-direction: column
    &__address
      order: -1
      margin-bottom: 25px
    &__info
      margin-bottom: 27px
    &__text
      font-size: 14px
      &--phone
        font-weight: 500
    &__politics
      margin-bottom: 12px
    .socials
      display: flex
      flex-direction: row
      justify-content: center
      margin-bottom: 29px
      &__link
        margin-bottom: 0
        margin-right: 27px
        &:last-of-type
          margin-right: 0
        &:hover
          .fa
            color: $accent

  // max-width 767px

  @media screen and (max-width: 400px)
    width: 100%
    margin-left: 0

  // max-width 400px

/* footer */
