.header
  position: fixed
  width: 160px
  height: 100vh
  background-color: $accent
  z-index: 100

  &__wrap
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 100%
    padding: 29px 30px 55px

  .logo
    display: block
    text-decoration: none

  .socials
    width: 100%


  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* .header */
