.scr1
  position: relative
  background-color: #fbf0e1
  &__title
    line-height: 1.2
    font-size: 45px
    font-weight: 400
    strong
      font-size: 48px
      font-weight: 800
  &__wrap
    position: relative
    padding-top: 85px
    padding-bottom: 60px
    width: calc(100% + 36px)
    margin-left: -36px
    z-index: 1
  &__content
    max-width: 72.34042553191489%
  &__img
    position: absolute
    left: 22.5531914893617%
    bottom: 0
    width: 1293px
    height: 582px
    img
      position: relative
      display: block
      height: 100%
      z-index: -1
  &__feat
    position: relative
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    margin-top: 40px
    max-width: 720px
    z-index: 2
    & > li
      width: 33.3%
      padding-bottom: 23px
      padding-right: 20px
      & > a
        display: block
        text-decoration: none
        outline: none
    &-icon
      position: relative
      display: flex
      align-items: center
      justify-content: center
      width: 74px
      height: 78px
      z-index: 1
      transition: 0.5s
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: -1
        display: block
        width: 100%
        height: 100%
        background: transparent url('../img/svg/icon-hexa.svg') no-repeat center center
        background-size: contain
        z-index: -1
      img
        display: block
        width: 31px
        height: 31px
      &:hover
        transform: translateY(-5px)
    &-text
      padding-top: 15px
      font-size: 13px
      font-weight: 700
      text-transform: uppercase
  &__btns
    position: relative
    padding-top: 30px
    z-index: 2
  &__scroll
    position: absolute
    left: 55%
    bottom: 15px
    transform: translateX(-50%)
    font-size: 13px
    text-align: center
    cursor: pointer
    z-index: 2
    &::before
      content: ''
      position: absolute
      left: calc(50% - 8px)
      top: -35px
      display: block
      width: 16px
      height: 24px
      background: transparent url('../img/svg/orig/icon-mouse.svg') no-repeat center center
      background-size: contain
      animation: bounce 2s infinite

  &__dots
    margin: 0
    padding: 0
    list-style: none
    & > li
      position: absolute
      top: 13.74570446735395%
      left: 55.52977571539056%
      display: flex
      align-items: center
      justify-content: center
      width: 60px
      height: 60px
      cursor: none
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: block
        width: 46px
        height: 46px
        opacity: 0
        background-color: rgba(255,255,255,0.25)
        border-radius: 50%
        transition: 0.5s
      &:hover
        &::before
          width: 163px
          height: 163px
          opacity: 1

      &:nth-of-type(2)
        top: 24.39862542955326%
        left: 83.75870069605568%
        .scr1__dots-text
          left: auto
          right: 135px
          bottom: 180px
          width: 310px
          &::before
            left: auto
            right: 0
            width: 161px
            transform-origin: 100% 50%
            transform: rotate(235deg)

      &:nth-of-type(3)
        top: 58.4192439862543%
        left: 44.70224284609435%
        .scr1__dots-text
          top: 104px
          bottom: auto
          border-top: 1px solid $accent
          border-bottom: none
          &::before
            bottom: 0
            top: -1px
            transform: rotate(225deg)
            transform-origin: 0 50%

    &-icon
      width: 46px
      height: 46px
      border-radius: 50%
      border: 1px solid #0e3b42
      background: transparent url('../img/svg/icon-plus.svg') no-repeat center center
      background-size: 14px 14px
    &-text
      display: none
      position: absolute
      left: 107px
      bottom: 104px
      width: 310px
      padding: 18px 5px
      font-size: 14px
      line-height: 1.2
      border-bottom: 1px solid $accent
      &::before
        content: ''
        position: absolute
        bottom: -1px
        left: 0
        width: 84px
        height: 1px
        background-color: $accent
        transform-origin: 0 50%
        transform: rotate(-225deg)


  @media screen and (max-width: 1610px)
    &__wrap
      width: 100%
      margin-left: 0
    &__title
      width: calc(100% + 100px)
      font-size: 31px
      strong
        font-size: 39px
      br
        display: none
    &__img
      left: 29.553191%
      bottom: 90px
      width: 1043px
      height: 442px
    &__dots
      & > li
        &:first-of-type
          .scr1__dots-text
            width: 210px
        &:nth-of-type(2)
          .scr1__dots-text
            right: 85px
            bottom: 110px
            width: 310px
            &::before
              width: 75px

  // max-width 1610px

  @media screen and (max-height: 700px)
    &__wrap
      padding-top: 35px
    &__btns
      padding-top: 0
      .btn
        min-width: 269px
        height: 65px
        font-size: 14px

  // max-width 1610px

  @media screen and (max-width: 1400px)
    &__btns
      padding-top: 10px
    &__wrap
      padding-top: 35px
      padding-bottom: 40px
    &__content
      max-width: 52.340426%
    &__title
      font-size: 28px
      strong
        font-size: 33px
    &__feat
      margin-top: 30px
      & > li
        padding-bottom: 13px
      &-text
        font-size: 11px
      &-icon
        width: 64px
        height: 68px
        img
          width: 26px
          height: 26px
    &__img
      left: 32.553191%
      width: 793px
      height: 372px

  // max-width 1400px

  @media screen and (max-width: 1200px)
    &__img
      left: 25.553191%
      width: 713px
      height: 342px
    &__title
      strong
        font-size: 30px
    &__dots
      display: none
    &__img
      left: 23%
      bottom: 0
      width: 1200px
      height: 500px
    &__content
      max-width: 76.340426%

  // max-width 1200px

  @media screen and (max-width: 1000px)
    &__wrap
      padding-top: 50px
    &__scroll
      display: none

  // max-width 1000px

  @media screen and (max-width: 767px)
    &__wrap
      padding-top: 29px
    &__content
      max-width: 100%
    &__title
      width: 100%
    &__feat
      &-icon
        width: 74px
        height: 78px
        img
          width: 32px
          height: 32px
      &-text
        font-size: 12px
    &__btns
      text-align: center
      padding-left: 15px
      padding-right: 15px
      .btn
        height: 85px
        font-size: 16px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__feat
      max-width: 100%
      margin-top: 70px
      padding-top: 10px
      padding-bottom: 10px
      overflow: auto
      flex-wrap: nowrap
      & > li
        min-width: 150px
        width: auto
        flex-shrink: 0
        padding-left: 10px
        padding-top: 10px
        padding-bottom: 0
        text-align: center
        & > a
          display: flex
          flex-direction: column
          align-items: center
    &__title
      padding-left: 15px
    &__btns
      .btn__wrap
        width: 100%
    &__img
      left: -370px
      width: 830px
      height: 490px

  // max-width 575px

  @media screen and (max-width: 374px)
    &__title
      padding-left: 0
      padding-right: 0
    &__btns
      padding-left: 0
      padding-right: 0

  // max-width 374px

/* scr1 */
