.feat
  position: relative
  .page-title
    margin-bottom: 30px
  .page-desc
    margin-bottom: 30px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li
      width: calc((100% - 2px) / 3)
      margin-right: 1px
      margin-bottom: 1px
      min-height: 258px
      padding: 38px 15px 15px 27px
      background-color: #f8f8f8
      transition: 0.3s
      &:nth-of-type(3n)
        margin-right: 0
      &:hover
        background-color: $accent
        .feat__top
          .feat__title
            opacity: 1
        .feat__hidden
          display: block
          color: #fff
        .to-hide
          display: none
        .feat__icon-wrap
          fill: #f8f8f8
        .feat__icon-img
          fill: $accent

  &__top
    display: flex
    align-items: center
    margin-bottom: 24px
    transition: 0.5s
    .feat__title
      color: #ffffff
      opacity: 0
  &__icon
    flex-shrink: 0
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 74px
    height: 78px
    margin-right: 26px
    z-index: 1
    &-wrap
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1
    &-img
      display: block
      width: 36px
      height: 36px
      fill: #f8f8f8
  &__title
    font-size: 18px
    line-height: 1.2
    font-weight: 700
    transition: 0.3s
  &__hidden
    display: none
    font-size: 14px
    transition: 0.3s


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* feat */
