.lead
  position: relative
  .fp-tableCell
    display: flex
    flex-direction: column
  .section-wrap
    flex-grow: 1

  &__df
    display: flex
  &__info
    width: 51.31578947368421%
    padding-top: 15px
    padding-right: 30px
  &__form
    width: 48.68421052631579%


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* lead */
