.lead
  position: relative
  .fp-tableCell
    display: flex
    flex-direction: column
  .section-wrap
    flex-grow: 1

  &__df
    display: flex
  &__info
    width: 51.31578947368421%
    padding-top: 15px
    padding-right: 30px
  &__form
    width: 48.68421052631579%

  &--about
    .section-wrap
      padding-bottom: 50px

  &--serv-item
    .btn__wrap
      width: 100%
    .form__item--submit
      input[type="submit"].btn
        height: 74px


  @media screen and (max-width: 767px)
    padding-left: 15px
    padding-right: 15px
    &__df
      flex-direction: column
    .page-desc
      display: none
    &__info
      width: 100%
      padding-top: 0
    &__form
      width: 100%

    &--about
      .section-wrap
        padding-bottom: 0

  // max-width 767px

  @media screen and (max-width: 500px)
    .page-title
      margin-bottom: 27px
    .accept
      width: calc(100% + 20px)
      margin-left: -10px

  // max-width 500px

  @media screen and (max-width: 400px)
    padding-left: 0
    padding-right: 0
    .accept
      width: 100%
      margin-left: 0

  // max-width 400px

/* lead */
