.clients
  position: relative
  &__df
    display: flex
    width: 124.3859649122807%
  &__info
    display: flex
    flex-direction: column
    justify-content: center
    width: 34.41466854724965%
    padding-right: 30px
  &__list
    width: 65.58533145275035%
  &__slider
    overflow: hidden
  &__item
    display: flex
    align-items: center
    justify-content: center
    height: 200px
    overflow: hidden
    background-color: #f8f8f8
    opacity: 0.5
    transition: 0.3s
    &:hover
      opacity: 1
    img
      display: block
      height: 100%


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* clients */
