.socials
  display: flex
  align-items: center
  justify-content: space-between
  &__link
    display: block
    text-decoration: none
    outline: none
    .fa
      display: block
      color: #5f90a2
      // font-weight: 400
      font-size: 19px
      transition: 0.3s ease-in-out

    &:hover
      .fa
        color: rgba(#fff,0.7)


  @media screen and (max-width: 1610px)
    &__link
      .fa
        font-size: 14px

  // max-width 1600px

  @media screen and (max-width: 1340px)
    flex-direction: column
    &__link
      margin-bottom: 15px
      .fa
        font-size: 19px
      &:last-of-type
        margin-bottom: 0

  // max-width 1340px

/* socials */
