::selection
  background-color: $accent
  color: #fff

*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  max-width: 100%
  overflow-x: hidden

body
  position: relative
  width: 100%
  height: 100%

  font-family: $font
  font-size: 16px
  line-height: 1.5 /* 24px / 16px */
  font-weight: 400
  color: $body-color

  background-color: #07060C
  display: flex
  flex-direction: column
  min-height: 100vh

.page_wr
  flex-grow: 1

img
  display: block
  width: 100%
  height: auto
  border: none
  user-select: none

[data-object-fit-cover]
  display: block
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  display: block
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color

.accent
  color: $accent

.orange
  color: #FF5638

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  font-size: 18px
  line-height: 1.555555555555556
  p
    margin-bottom: 15px
    &:last-of-type
      margin-bottom: 0
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      text-decoration: underline

  img
    width: auto
    max-width: 100%
    height: auto
    display: block
    &.alignleft
      max-width: 50%
      float: left
      margin: 0 20px 20px 0
    &.alignright
      max-width: 50%
      float: right
      margin: 0 0 20px 20px
    &.aligncenter
      margin: 0 auto
  ul,
  ol
    padding-bottom: 1.5em
    padding-left: 0
    padding-right: 1.5em
  ul li,
  ol li
    transform: translateX(1.5em)

  h2,h3,h4
    line-height: 1.2
    font-weight: 500
  h2
    margin-top: 35px
    margin-bottom: 20px
    font-size: 18px
  h3
    margin-top: 25px
    margin-bottom: 15px
    font-size: 16px
  h4
    margin-top: 20px
    margin-bottom: 10px
    font-size: 14px

.clearfix
  &::after
    display: table
    clear: both
    content: ""

.page-title
  margin-bottom: 45px
  font-weight: 800
  font-size: 52px
  text-align: center
  letter-spacing: 0.05em
  text-transform: uppercase
  -webkit-text-stroke: 1px #FFFFFF
  -webkit-text-fill-color: transparent

.xlink
  transition: 0.3s

.btn__wrap
  display: inline-block
  &--grad
    background: #B7A153
    padding-bottom: 5px
    box-shadow: 0px 35px 9px -22px rgba(0, 0, 0, 0.25)
    border-radius: 8px

.xbtn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  display: flex
  align-items: center
  justify-content: center

  cursor: pointer
  text-decoration: none
  transition: 0.5s
  -webkit-appearance: none

.xbtn,
input[type="submit"].xbtn
  &--grad
    height: 100px
    margin-left: -4px
    margin-right: -4px
    padding-left: 61px
    padding-right: 61px
    background-image: $grad
    background-position: left center
    background-size: 200% auto
    border-radius: 8px
    font-weight: 700
    font-size: 22px
    color: #000000
    text-transform: uppercase
    &:hover
      background-position: right center
  &--icon
    &::after
      content: ''
      display: block
      width: 42px
      height: 42px
      margin-left: 16px
      background: transparent url('../img/svg/fingerprint.svg') no-repeat center center
      background-size: contain

input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.to-top
  position: fixed
  right: 20px
  bottom: 20px
  z-index: 100
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  width: 37px
  background: rgba($accent, 0.8)
  border-radius: 6px
  box-shadow: 0px 0px 10px 0px rgba($accent,0.3)
  cursor: pointer
  transition: 0.5s
  opacity: 0
  height: 0
  overflow: hidden
  z-index: 250
  .icon
    width: 12px
    height: 12px
    fill: #fff
    transform: rotate(-90deg)

  &:hover
    opacity: 1
    box-shadow: 0px 0px 10px 0px rgba($accent,0.7)

  &.fixed
    opacity: 1
    height: 37px


/* Переопределение стилей yandex map */
[class$='-controls-pane'],
[class$='-copyrights-pane']
  display: none


/* Переопределение стилей swiper */
.swiper-wrapper
  & *
    box-sizing: border-box
.swiper-slide
  height: auto
.swiper-dots
  display: flex
  align-items: center
  flex-wrap: wrap
  margin-top: 34px
.swiper-pagination-bullet
  outline: none
  display: block
  background: $accent
  width: 7px
  height: 7px
  margin: 0 4px
  opacity: 1
.swiper-pagination-bullet-active
  position: relative
  background: $accent2
.swiper-button-prev,
.swiper-button-next
  top: 225px
  background: none
  border: none
  outline: none
  box-shadow: 0px 10px 15px 0px rgba(36,18,16,0.15)
  width: 37px
  height: 37px
  margin: 0
  background-color: rgba(255,255,255,0.3)
  border-radius: 50%
  transition: 0.3s
  &::after
    content: none
.swiper-button-prev
  left: -56px
  &::after
    transform: rotate(180deg)
.swiper-button-next
  right: -56px

.swiper-pagination-lock
  display: none
.swiper-button-disabled
  display: none

.container
  width: 100%
  max-width: 1515px
  margin-left: auto
  margin-right: auto
  padding-left: 40px
  padding-right: 40px

.with-ellipse
  &::before
    content: ''
    position: absolute
    top: -48px
    left: 50%
    transform: translateX(-50%)
    display: block
    width: 1513px
    height: 1008px
    background: #1C1C26
    filter: blur(70px)
    border-radius: 50%
    z-index: -1


/* media */
// @media screen and (max-width: 1200px)

// max-width 1200px

// @media screen and (max-width: 1023px)

// max-width 1023px

// @media screen and (max-width: 991px)

// max-width 991px

// @media screen and (max-width: 767px)

// max-width 767px

// @media screen and (max-width: 575px)

// max-width 575px

// @media screen and (max-width: 500px)

// max-width 500px

// @media screen and (max-width: 400px)

// max-width 400px
