.scr_add
  position: relative
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 38px
    & > li
      width: 25%
      padding-left: 10px
      padding-right: 10px
      padding-bottom: 32px
  &__item
    text-decoration: none
    outline: none
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    color: $accent
    transition: 0.4s ease-in-out
    h3
      max-width: 220px
      font-weight: 600
    &:hover
      .scr_add__img
        background: rgba(196, 196, 196, 0.25)
  &__img
    display: flex
    align-items: center
    justify-content: center
    width: 133px
    height: 133px
    margin-bottom: 20px
    background: rgba(196, 196, 196, 0.05)
    border-radius: 50%
    transition: 0.3s
    &::before
      width: 88px
      height: 118px
      margin-right: 0
  &__link
    text-decoration: none
    outline: none
    display: flex
    align-items: center
    justify-content: center
    font-weight: 600
    font-size: 25px
    text-align: center
    text-transform: uppercase
    &::after
      content: ''
      display: block
      width: 42px
      height: 42px
      margin-left: 29px
      margin-bottom: 4px
      border: 2px solid #FFFFFF
      border-radius: 50%
      background: transparent url('../img/svg/arrow2.svg') no-repeat center center
      background-size: 24px 24px
      transition: 0.4s ease-in-out
    span
      display: block
      padding-bottom: 7px
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5)
    &:hover
      &::after
        transform: rotate(180deg)


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* scr_add */
