.tariffs
  position: relative
  padding-bottom: 92px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    padding-top: 30px
    & > li
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      &:nth-of-type(3n)
        margin-right: 0
  &__item
    display: flex
    flex-direction: column
    height: 100%
    padding: 25px 35px 38px
    background: #111015
    border-radius: 8px
  &__title
    margin-bottom: 20px
    padding-bottom: 13px
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
    font-weight: 400;
    font-size: 30px
    text-align: center
    text-transform: uppercase
  &__modul
    padding-top: 14px
    padding-bottom: 14px
    font-weight: 700
    font-size: 14px
    text-transform: uppercase
    border-bottom: 1px solid rgba(184, 184, 184, 0.1)
    strong
      display: inline-block
      margin-right: 10px
      font-weight: 700
      font-size: 25px
      color: $accent
      text-transform: none
  .program__type
    padding-top: 0
    justify-content: center
    margin-bottom: 19px
    border-top: none
  &__content
    flex-grow: 1
    ul
      margin: 0
      padding: 0
      list-style: none
      margin-top: 37px
      padding-top: 12px
      padding-bottom: 12px
      border-left: 1px solid rgba(255, 255, 255, 0.5)
      & > li
        position: relative
        margin-bottom: 12px
        padding-left: 37px
        color: rgba(#fff, 0.8)
        &:last-of-type
          margin-bottom: 0
        &::before
          content: ''
          position: absolute
          left: -7px
          top: 5px
          display: block
          width: 12px
          height: 12px
          background: $accent
          border-radius: 50%
  &__bottom
    padding-top: 25px
    text-align: center
  &__price
    display: block
    font-weight: 700
    font-size: 40px
    color: $accent
  &__in-year
    font-weight: 700
    font-size: 20px
  &__btns
    padding-top: 23px
    .xbtn
      height: 78px
      padding-left: 35px
      padding-right: 35px
      font-size: 18px
  &__all
    margin-bottom: 4px
    font-weight: 700
    font-size: 18px
    line-height: 1.222222222222222
    text-align: center
    span
      display: block
      margin-top: 8px
      font-size: 52px
  &__add
    display: flex
    padding-bottom: 30px
    border-bottom: 1px solid rgba(184, 184, 184, 0.1)
    &-modul
      strong
        display: block
        margin-bottom: 8px
        font-size: 25px
    &-num
      display: flex
      padding-right: 4px
      font-weight: 700
      font-size: 14px
      line-height: 1.214285714285714
      text-transform: uppercase
      b
        display: block
        margin-right: 18px
        font-weight: 800
        font-size: 50px
        line-height: 1
    &-minutes
      padding-left: 23px
      border-left: 2px solid rgba(184, 184, 184, 0.2)
      font-weight: 600
      font-size: 14px
      line-height: 1.214285714285714
      color: #B8B8B8
      b
        display: block
        margin-bottom: 3px
        font-weight: 400
        font-size: 35px


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* tariffs */
