.cases
  position: relative
  padding-top: 62px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: flex-end
    justify-content: space-between
    padding-top: 40px
    & > li
      width: calc((100% - 40px) / 3)
      margin-right: 20px
      &:nth-of-type(3n)
        margin-right: 0
  &__item
    display: flex
    flex-direction: column
    align-items: flex-start
  &__top
    position: relative
    display: flex
    align-items: flex-end
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: -27px
      display: block
      width: 302px
      height: 302px
      background: rgba(196, 196, 196, 0.05)
      border-radius: 50%
  &__income
    font-size: 14px
    color: #94A2A7
    b
      display: block
      margin-bottom: 12px
      font-weight: 400
      font-size: 50px
      line-height: 1
    &--old
      margin-left: -20px
      padding-bottom: 97px
    &--new
      color: $accent
      font-weight: 700
      b
        margin-left: -8px
        font-weight: 800
  &__img
    width: 85px
    margin-left: 19px
    margin-right: 32px
    padding-bottom: 100px
  &__after
    margin-bottom: -17px
  &__percent
    width: 104px
    margin-bottom: 15px
    margin-left: -5px
  .teachers__item
    margin-left: 29px
    margin-top: -50px


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* cases */
