.teachers
  position: relative
  padding-top: 79px
  &__wrap
    flex-shrink: 0
    position: relative
    width: 52.99212598425197%
    margin-left: -63px
    &::before
      width: 713px
      height: 408px
      opacity: 0.8
  &__top
    display: flex
  &__name
    position: absolute
    bottom: -95px
    left: 13.96731054977712%
    text-align: center
    color: #94A2A7
    strong
      display: block
      font-weight: 700
      font-size: 22px
      color: #FFFFFF
    &:last-of-type
      bottom: -15px
      left: 50.52005943536404%
  &__content
    flex-grow: 1
    padding-left: 82px
    padding-top: 35px
    ul
      max-width: 100%
      & > li
        margin-bottom: 30px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding-top: 170px
    & > li
      width: 25%
      padding-left: 10px
      padding-right: 10px
      padding-bottom: 56px
  &__item
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    &-img
      width: 150px
      height: 150px
      margin-bottom: 20px
      background: #C4C4C4
      border: 10px solid #DBDBDB
      border-radius: 50%
      overflow: hidden
      transition: 0.4s ease-in-out
    &-name
      display: block
      font-weight: 750
      font-size: 18px
    &-text
      display: block
      max-width: 235px
      color: #94A2A7
      font-weight: 40
      &[href]
        transition: 0.4s ease-in-out
        &:hover
          color: $accent
    &:hover
      .teachers__item-img
        border-color: $accent


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* teachers */
