mixin footer(logotype)
  footer.footer.grey-bg(id="footer")

    .logo__wrap
      if logotype == "a"
        #{logotype}.logo(href="index.html")
          svg
            use(xlink:href="img/svg/sprite.svg#logo-big")
      else
        #{logotype}.logo
          svg
            use(xlink:href="img/svg/sprite.svg#logo-big")

    .container
      .footer__top
        .footer__content
          .footer__item
            p.footer__text ООО МКК «Кубань Бауман Кэш»
            p.footer__text ИНН 12345678.
            p.footer__text КПП 12345678.
            p.footer__text ОГРН 12345678.
            p.footer__text Свидетельство ЦБ № 12345678

          .footer__item
            p.footer__text 350075, г.Краснодар, ул. Селезнёва, 105, пом. 24.
            p.footer__text Займы предоставляются лицам, проживающим на территории РФ в&nbsp;возрасте от 21 до 65 лет.
            p.footer__text Срок предоставления займа от 30 до 365 дней с возможностью досрочного погашения.
            p.footer__text Комиссия за предоставление займа не взимается.
            p.footer__text Общество предоставляет Займ на сумму от 50.000 до 500.000 руб. для физических лиц и от 50.000 до 5.000.000 для юридических лиц.
            p.footer__text Процентная ставка от 5 до 10 в месяц (60%-120% годовых) и зависит от суммы займа, срока займа, объекта залога, места хранения залога.
            p.footer__text Займы предоставляются в рублях РФ.

        .footer__menu.footer__menu--small
          ul.menu
            li.menu-item
              a(href="#") О компании
            li.menu-item
              a(href="#") Условия займа
            li.menu-item
              a(href="#") Инвесторам
            li.menu-item
              a(href="#") Вопрос-ответ
            li.menu-item
              a(href="#") Журнал
            li.menu-item
              a(href="#") Контакты

        .footer__menu.footer__menu--big
          ul.menu
            li.menu-item
              a(href="#") Займ под залог ПТС
            li.menu-item
              a(href="#") Займ под залог авто
            li.menu-item
              a(href="#") Займ под залог недвижимости
            li.menu-item
              a(href="#") Займ под залог мото/спецтехники
            li.menu-item
              a(href="#") Рефинансирование

        .footer__links
          .footer__btns
            a.btn.btn--light(href="#") Взять займ

          a.footer__link(href="#") Политика конфиденциальности
          a.footer__link(href="#") Пользовательское соглашение
          a.footer__link(href="#") Раскрытие информации


      // /.container
    // /.footer__top

    .footer__bottom
      .container
        .footer__bottom-wrap
          .copyright
            p.text г. Краснодар © Copyright  2019 г. ПАО «BAUMANCASH» Лицензия ЦБ РФ №??? от ????г.

          .footer__made
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

