mixin scr1()
  section.scr1(id="scr1" style="background: transparent url('img/bg-scr1.jpg') no-repeat center bottom; background-size: cover;")
    .container
      .scr1__content
        h1.scr1__title Получите деньги под залог
          br
          |  ПТС или недвижимости
          br
          |  за 1 час

        p.scr1__desc Одобрение без посещения офиса
          br
          |  Оформление без справок и поручителей
          br
          |  До 90% от рыночной стоимости залога
          br
          |  Процентная ставка регулируется&nbsp;
          a(href="#") ЦБ РФ

        .scr1__btns
          a.btn.btn--green.open-modal(href="#modal__order") Онлайн-заявка

          a.mouse.inner-link.fadeInDown.animated(href="#scr_calc")

  // /.scr1
