mixin scr1()
  section.scr1(id="scr1" style="background: #f9f9f9 url('img/bg-scr1.jpg') no-repeat center bottom; background-size: cover;")
    .container
      .scr1__content
        h1.scr1__title Получите деньги под залог
          br
          |  ПТС или недвижимости
          br
          |  за 1 час

        p.scr1__desc Одобрение без посещения офиса
          br
          |  Оформление без справок и поручителей
          br
          |  До 90% от рыночной стоимости залога
          br
          |  Процентная ставка регулируется&nbsp;
          a(href="#") ЦБ РФ

        .scr1__btns
          a.btn.btn--green.open-modal(href="#modal__order") Онлайн-заявка

          a.mouse.inner-link.fadeInDown.animated(href="#scr_calc")

  // /.scr1

mixin scr1--loan()
  section.scr1.scr1--loan(id="scr1" style="background: #f9f9f9 url('img/bg-scr1-loan.jpg') no-repeat center bottom; background-size: auto 90%;")
    .container
      .scr1__content
        .scr1__bg
          noscript
            img.lazy(src="img/img-scr1-loan.png" alt="" width="722" height="363" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1-loan.png" alt="" width="722" height="363" data-object-fit-contain)

        h1.scr1__title Займ под залог ПТС
          br
          |  в Краснодаре

        p.scr1__desc
          strong.accent Авто остаётся у Вас
          |  — при оформлении займа под ПТС Вам не нужно оставлять автомобиль на нашей стоянке, Вы продолжаете пользоваться им в привычном режиме.

        p.scr1__desc Для получения займа нужны лишь ПТС, СТС и паспорт.

        .scr1__btns
          a.btn.btn--green.open-modal(href="#modal__order") Онлайн-заявка

          a.mouse.inner-link.fadeInDown.animated(href="#scr_features")

        ul.scr1__advantages
          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Выдаём до 90% от
              br
              |  стоимости автомобиля

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Одобрение без
              br
              |  посещения офиса

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Кредитная история
              br
              |  не важна

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Оформление КАСКО
              br
              |  не обязательно



  // /.scr1

mixin scr1--loan-spec()
  section.scr1.scr1--loan.scr1--loan-spec(id="scr1" style="background: #f9f9f9 url('img/bg-scr1-loan.jpg') no-repeat center bottom; background-size: auto 90%;")
    .container
      .scr1__content
        .scr1__bg
          noscript
            img.lazy(src="img/img-scr1-loan-spec.png" alt="" width="722" height="363" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1-loan-spec.png" alt="" width="722" height="363" data-object-fit-contain)

        h1.scr1__title Займ под залог мото/
          br
          |  спецтехники
          br
          |  в Краснодаре

        p.scr1__desc
          strong.accent Авто остаётся у Вас
          |  — при оформлении займа под ПТС Вам не нужно оставлять автомобиль на нашей стоянке, Вы продолжаете пользоваться им в привычном режиме.

        p.scr1__desc Для получения займа нужны лишь ПТС, СТС и паспорт.

        .scr1__btns
          a.btn.btn--green.open-modal(href="#modal__order") Онлайн-заявка

          a.mouse.inner-link.fadeInDown.animated(href="#scr_features")

        ul.scr1__advantages
          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Выдаём до 90% от
              br
              |  стоимости автомобиля

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Одобрение без
              br
              |  посещения офиса

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Кредитная история
              br
              |  не важна

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Оформление КАСКО
              br
              |  не обязательно



  // /.scr1

mixin scr1--loan-real-estate()
  section.scr1.scr1--loan.scr1--loan-real-estate(id="scr1" style="background: #f9f9f9 url('img/bg-scr1-loan.jpg') no-repeat center bottom; background-size: auto 90%;")
    .container
      .scr1__content
        .scr1__bg
          noscript
            img.lazy(src="img/img-scr1-loan-real-estate.png" alt="" width="722" height="363" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1-loan-real-estate.png" alt="" width="722" height="363" data-object-fit-contain)

        h1.scr1__title Займ под залог недвижимости
          br
          |  в Краснодаре

        p.scr1__desc
          strong.accent Авто остаётся у Вас
          |  — при оформлении займа под ПТС Вам не нужно оставлять автомобиль на нашей стоянке, Вы продолжаете пользоваться им в привычном режиме.

        p.scr1__desc Для получения займа нужны лишь ПТС, СТС и паспорт.

        .scr1__btns
          a.btn.btn--green.open-modal(href="#modal__order") Онлайн-заявка

          a.mouse.inner-link.fadeInDown.animated(href="#scr_features")

        ul.scr1__advantages
          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Выдаём до 90% от
              br
              |  стоимости автомобиля

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Одобрение без
              br
              |  посещения офиса

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Кредитная история
              br
              |  не важна

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Оформление КАСКО
              br
              |  не обязательно



  // /.scr1

mixin scr1--loan-pts()
  section.scr1.scr1--loan.scr1--loan-pts(id="scr1" style="background: #f9f9f9 url('img/bg-scr1-loan.jpg') no-repeat center bottom; background-size: auto 90%;")
    .container
      .scr1__content
        .scr1__bg
          noscript
            img.lazy(src="img/img-scr1-loan-pts.png" alt="" width="722" height="363" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-scr1-loan-pts.png" alt="" width="722" height="363" data-object-fit-contain)

        h1.scr1__title Займ под залог ПТС
          br
          |  в Краснодаре

        p.scr1__desc
          strong.accent Авто остаётся у Вас
          |  — при оформлении займа под ПТС Вам не нужно оставлять автомобиль на нашей стоянке, Вы продолжаете пользоваться им в привычном режиме.

        p.scr1__desc Для получения займа нужны лишь ПТС, СТС и паспорт.

        .scr1__btns
          a.btn.btn--green.open-modal(href="#modal__order") Онлайн-заявка

          a.mouse.inner-link.fadeInDown.animated(href="#scr_features")

        ul.scr1__advantages
          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Выдаём до 90% от
              br
              |  стоимости автомобиля

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Одобрение без
              br
              |  посещения офиса

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Кредитная история
              br
              |  не важна

          li.scr1__advantages-item
            .scr1__advantages-icon
              svg.icon
                use(xlink:href="img/svg/sprite.svg#tick")
            p.scr1__advantages-text Оформление КАСКО
              br
              |  не обязательно



  // /.scr1
