mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      ul.contacts__list
        li.contacts__item
          h2.contacts__title Адрес:
          .contacts__wrap
            p.contacts__text
              strong г. Краснодар,
              br
              |  ул. Селезнёва, 105, 2 этаж

        li.contacts__item
          h2.contacts__title Телефон:
          .contacts__wrap
            a.contacts__link(href="tel:88004000202") 8 800 400 02 02
            p.contacts__text Звонок бесплатный

        li.contacts__item
          h2.contacts__title Время работы:
          .contacts__wrap
            p.contacts__text Пн-Пт с 10:00 до 20:00
              br
              |  Сб с 10:00 до 17:00
              br
              |  Вс - выходной

        li.contacts__item
          h2.contacts__title Реквизиты:
          .contacts__wrap
            p.contacts__text Кор. счет: 30101810400000000225
              br
              |  в Главном управлении ЦБ РФ
              br
              |  по Центральному федеральному округу г. Москва (ГУ Банка России по ЦФО)
              br
              |  БИК: 044525225
              br
              |  КПП: 77360100
              br
              |  ИНН: 7707083893
              br
              |  ОГРН: 1027700132195

  // /.scr_contacts
