mixin scr_conditions()
  section.scr_conditions.conditions(id="scr_conditions")
    .container
      .conditions__wrap.grey-bg
        h2.title.title--important
          span Условия займа

        ul.conditions__list
          li.conditions__item
            .conditions__top
              span.conditions__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cond-1")

              h3.conditions__title Сумма займа зависит от&nbsp;стоимости автомобиля

            .conditions__bottom
              p.conditions__text Оценку авто проводит специалист непосредственно перед заключением договора.

          li.conditions__item
            .conditions__top
              span.conditions__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cond-2")

              h3.conditions__title Процентная ставка зависит от суммы займа

            .conditions__bottom
              table
                tbody
                  tr
                    th
                      span Свыше 500 000
                    td 6,5% в месяц
                  tr
                    th
                      span До 499 000 Р
                    td 7% в месяц
                  tr
                    th
                      span До 99 000 Р
                    td 8 % в месяц
                  tr
                    th
                      span До 49 000 Р
                    td индивидуально

  // /.scr_conditions
