mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .container
      .certs__wrap.grey-bg
        h2.title Лицензии

        .certs__slider.slider2#certs__slider
          .certs__slides.slider2__slides
            .certs__slide.slider2__slide
              .certs__item
                a.fancybox(href="img-temp/img-cert.jpg" data-fancybox-group="certs")
                  noscript
                    img.lazy(src="img-temp/img-cert.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-cert.jpg" alt="" width="125" height="90")
            .certs__slide.slider1__slide
              .certs__item
                a.fancybox(href="img-temp/img-cert.jpg" data-fancybox-group="certs")
                  noscript
                    img.lazy(src="img-temp/img-cert.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-cert.jpg" alt="" width="125" height="90")
            .certs__slide.slider1__slide
              .certs__item
                a.fancybox(href="img-temp/img-cert.jpg" data-fancybox-group="certs")
                  noscript
                    img.lazy(src="img-temp/img-cert.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-cert.jpg" alt="" width="125" height="90")
            .certs__slide.slider1__slide
              .certs__item
                a.fancybox(href="img-temp/img-cert.jpg" data-fancybox-group="certs")
                  noscript
                    img.lazy(src="img-temp/img-cert.jpg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-cert.jpg" alt="" width="125" height="90")

          .certs__dots.slider2__dots

  // /.scr_certs
