mixin scr_docs()
  section.scr_docs.docs(id="scr_docs")
    .container
      h1.title.title--second Раскрытие информации
      button.docs__open Показать меню

      .docs__df
        .docs__left
          ul.docs__menu
            li
              a(href="#") Адрес страницы раскрытия информации
            li
              a(href="#") Реквизиты для расчетов
            li
              a(href="#") Устав и внутренние документы
            li
              a(href="#") Сообщения о существенных фактах
            li
              a(href="#") Ежеквартальные отчеты
            li
              a(href="#") Годовые отчеты
            li
              a(href="#") Отчетность
            li
              a(href="#") Аффилированные лица
            li
              a(href="#") Эмиссионные документы
            li
              a(href="#") Общая информация

        .docs__right
          ul.docs__list
            li.docs__item
              a.docs__link(href="#" download) Сообщение о существенном факте о выплаченных доходах по эмиссионным ценным бумагам эмитента

              .docs__btns
                a.docs__btn(href="#" download)
                  .docs__icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-pdf")
                  p.docs__text PDF 0,2 Mb

            li.docs__item
              a.docs__link(href="#" download) Сообщение о существенном факте о выплаченных доходах по эмиссионным ценным бумагам эмитента

              .docs__btns
                a.docs__btn(href="#" download)
                  .docs__icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-pdf")
                  p.docs__text PDF 0,2 Mb

            li.docs__item
              a.docs__link(href="#" download) Сообщение о существенном факте о выплаченных доходах по эмиссионным ценным бумагам эмитента

              .docs__btns
                a.docs__btn(href="#" download)
                  .docs__icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-pdf")
                  p.docs__text PDF 0,2 Mb

            li.docs__item
              a.docs__link(href="#" download) Сообщение о существенном факте о выплаченных доходах по эмиссионным ценным бумагам эмитента

              .docs__btns
                a.docs__btn(href="#" download)
                  .docs__icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-pdf")
                  p.docs__text PDF 0,2 Mb

            li.docs__item
              a.docs__link(href="#" download) Сообщение о существенном факте о выплаченных доходах по эмиссионным ценным бумагам эмитента

              .docs__btns
                a.docs__btn(href="#" download)
                  .docs__icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-pdf")
                  p.docs__text PDF 0,2 Mb

            li.docs__item
              a.docs__link(href="#" download) Сообщение о существенном факте о выплаченных доходах по эмиссионным ценным бумагам эмитента

              .docs__btns
                a.docs__btn(href="#" download)
                  .docs__icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#icon-pdf")
                  p.docs__text PDF 0,2 Mb


  // /.scr_docs
