mixin scr_requirments()
  section.scr_requirments.requirments(id="scr_requirments")
    .container
      h2.title Требования к заёмщику и автомобилю

      ul.requirments__list
        li.requirments__item
          span.requirments__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-req-1")

          ul
            li Гражданство РФ
            li Возраст от 21 до 65 лет.
            li Регистрация в Краснодарском крае.
            li Справка о подтверждении дохода не требуется.
            li Поручители не нужны.

        li.requirments__item
          span.requirments__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-req-2")

          ul
            li Автомобиль в собственности заемщика.
            li Авто в исправном техническом состоянии.
            li Авто иностранного производства от 2005 г.в.
            li Авто отечественного производства от 2013 г.в.

  // /.scr_requirments

mixin scr_requirments--cond()
  section.scr_requirments.requirments.requirments--cond(id="scr_requirments")
    .container
      h2.title Требования к заёмщику и залогу

      .requirments__list
        .requirments__item
          span.requirments__icon
            svg.icon
              use(xlink:href="img/svg/sprite.svg#icon-req-1")

          .requirments__content
            ul
              li Гражданство РФ
              li Возраст от 21 до 65 лет.
              li Регистрация в Краснодарском крае.

            ul
              li Справка о подтверждении дохода не требуется.
              li Поручители не нужны.
              li Кредитная история не имеет значения.

  // /.scr_requirments
