mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .container
      .faq__container
        h1.title.title--second Вопрос-ответ

        .faq__wrap.grey-bg

          ul.faq__list
            li.faq__item
              .top
                h2 Как подать заявку на получение займа?
                button.open
              .faq__hidden
                .article
                  p  Далеко-далеко за словесными горами в стране.
            li.faq__item
              .top
                h2 У меня имеется непогашенный кредит в банке, на что это может повлиять?
                button.open
              .faq__hidden
                .article
                  p  Далеко-далеко за словесными горами в стране.
            li.faq__item
              .top
                h2 Хочу вернуть займ досрочно. Это возможно?
                button.open
              .faq__hidden
                .article
                  p  Да безусловно, Вы можете погасить задолженность в любой срок и любой суммой. Проценты будут начислены только за фактические дни пользования займом.
            li.faq__item
              .top
                h2 Как подать заявку на получение займа?
                button.open
              .faq__hidden
                .article
                  p  Далеко-далеко за словесными горами в стране.
            li.faq__item
              .top
                h2 Как подать заявку на получение займа?
                button.open
              .faq__hidden
                .article
                  p  Далеко-далеко за словесными горами в стране.
            li.faq__item
              .top
                h2 Как подать заявку на получение займа?
                button.open
              .faq__hidden
                .article
                  p  Далеко-далеко за словесными горами в стране.


  // /.scr_faq
