mixin scr_bonus()
  section.scr_bonus.bonus(id="scr_bonus")
    .container
      h2.title Больше бонусов - меньше процентная ставка

      .bonus__slider.slider1#bonus__slider
        .bonus__slides.slider1__slides
          .bonus__slide.slider1__slide
            .bonus__item
              .bonus__img
                noscript
                  img.lazy(src="img/img-bonus-1.jpg" alt="" width="992" height="638")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-bonus-1.jpg" alt="" width="992" height="638")

              .bonus__content
                p.bonus__text от
                  strong  2 000
                  |  бонусов
                  br
                  |  ставка ниже на 0,25%

          .bonus__slide.slider1__slide
            .bonus__item
              .bonus__img
                noscript
                  img.lazy(src="img/img-bonus-2.jpg" alt="" width="992" height="638")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-bonus-2.jpg" alt="" width="992" height="638")

              .bonus__content
                p.bonus__text от
                  strong  5 000
                  |  бонусов
                  br
                  |  ставка ниже на 0,5%

          .bonus__slide.slider1__slide
            .bonus__item
              .bonus__img
                noscript
                  img.lazy(src="img/img-bonus-3.jpg" alt="" width="992" height="638")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-bonus-3.jpg" alt="" width="992" height="638")

              .bonus__content
                p.bonus__text от
                  strong  10 000
                  |  бонусов
                  br
                  |  ставка ниже на 1%

        .bonus__dots.slider1__dots

  // /.scr_bonus
