mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .container
      h2.title Как получить займ?

      ul.steps__list
        li.steps__item
          span.steps__num 1
          p.steps__text Оставляете&nbsp;
            br
            a(href="#") online-заявку
        li.steps__item
          span.steps__num 2
          p.steps__text В течение 5 минут с вами свяжется
            br
            |  менеджер для обсуждения деталей
        li.steps__item
          span.steps__num 3
          p.steps__text Приезжаете в наш офис
            br
            |  для подписания договора
        li.steps__item
          span.steps__num 4
          p.steps__text Получаете деньги

  // /.scr_steps
