mixin scr_friends()
  section.scr_friends.friends(id="scr_friends")
    .container
      .friends__wrap.grey-bg
        h2.title Приглашать друзей выгодно

        .friends__df
          .friends__info
            p.friends__title Рекомендуйте компанию BAUMANCASH
            p.friends__text Приводите своих друзей и знакомых. Вы не только поможете им решить финансовый вопрос, но и получите хороший бонус на вашу карту если ваш друг станет новым заёмщиком компании.

          .friends__cond
            .top
              .friends__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-star")
              p.friends__title Условия начисления
                br
                |  бонусов

            .bottom
              p.friends__text Бонусные баллы начисляются только клиентам компании. Начисление бонусов за приведённых друзей происходит только при первом оформлении займа вашим другом.

  // /.scr_friends
