mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h2.title Журнал

      .blog__slider.slider1#blog__slider
        .blog__slides.slider1__slides
          .blog__slide.slider1__slide
            .blog__item
              time(datetime='2019-09-11') 11 сентября 2019

              a.blog__link(href="#")
                h3 Как взять деньги под залог
                  br
                  |  машины или спецтехники

              .blog__content
                p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

              .blog__bottom
                a.btn.btn--grey(href="#") Подробнее

          .blog__slide.slider1__slide
            .blog__item
              time(datetime='2019-09-11') 11 сентября 2019

              a.blog__link(href="#")
                h3 Как взять деньги под залог

              .blog__content
                p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

              .blog__bottom
                a.btn.btn--grey(href="#") Подробнее

          .blog__slide.slider1__slide
            .blog__item
              time(datetime='2019-09-11') 11 сентября 2019

              a.blog__link(href="#")
                h3 Как взять деньги под залог
                  br
                  |  машины или спецтехники

              .blog__content
                p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

              .blog__bottom
                a.btn.btn--grey(href="#") Подробнее

          .blog__slide.slider1__slide
            .blog__item
              time(datetime='2019-09-11') 11 сентября 2019

              a.blog__link(href="#")
                h3 Как взять деньги под залог
                  br
                  |  машины или спецтехники

              .blog__content
                p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

              .blog__bottom
                a.btn.btn--grey(href="#") Подробнее

        .blog__dots.slider1__dots

  // /.scr_blog

mixin scr_blog2()
  section.scr_blog.blog.blog--page(id="scr_blog")
    .container
      h1.title.title--second Журнал

    .container
      .row
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее
        .col-md-4.col-sm-6
          .blog__wrap
            .blog__item

              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__textual
                a.blog__link(href="#")
                  h2 Как взять деньги под залог
                    br
                    |  машины или спецтехники

                .blog__content
                  p.blog__text Заём на личные нужды или развитие бизнеса быстро, безопасно и без лишних хлопот...

                .blog__bottom
                  a.btn.btn--grey(href="#") Подробнее


      .row
        +paginator
  // /.scr_blog
