mixin scr_features()
  section.scr_features.features(id="scr_features")
    .container
      .features__wrap.grey-bg
        h2.title Преимущества BAUMANCASH

        .features__slider.slider1#features__slider
          .features__slides.slider1__slides
            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-1")
                .features__content
                  h3.features__title Фиксированная
                    br
                    |  ставка

                  p.features__text Процентная ставка рассчитанная калькулятором является окончательной и не будет увеличена при заключении договора

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-2")
                .features__content
                  h3.features__title Вы не платите
                    br
                    |  за воздух

                  p.features__text Вы платите только за дни фактического пользования деньгами. Без округления до месяца как в аналогичных компаниях

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-3")
                .features__content
                  h3.features__title Можно оплачивать
                    br
                    |  только проценты

                  p.features__text Ежемесячно плати только проценты, а сумму займа верни потом

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-4")
                .features__content
                  h3.features__title Досрочное погашение
                    br
                    |  в любой день

                  p.features__text При погашении займа раньше срока не применяем штрафов и комиссий

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-5")
                .features__content
                  h3.features__title Лояльность
                    br
                    |  к клиентам

                  p.features__text Каждому клиенту предоставляем отсрочку платежа на 7 дней без начисления штрафных санкций

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-6")
                .features__content
                  h3.features__title Вы остаетесь
                    br
                    |  собственником залога

                  p.features__text При оформлении займа вам
                    br
                    |  не потребуется переоформлять ваше имущество

          .features__dots.slider1__dots

  // /.scr_features


mixin scr_features--loan()
  section.scr_features.features.features--loan(id="scr_features")
    .container
      .features__wrap.grey-bg
        h2.title Преимущества BAUMANCASH

        .features__slider.slider1#features__slider
          .features__slides.slider1__slides
            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-1")
                .features__content
                  h3.features__title Фиксированная
                    br
                    |  ставка

                  p.features__text Процентная ставка рассчитанная калькулятором является окончательной и не будет увеличена при заключении договора

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-2")
                .features__content
                  h3.features__title Вы не платите
                    br
                    |  за воздух

                  p.features__text Вы платите только за дни фактического пользования деньгами. Без округления до месяца как в аналогичных компаниях

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-7")
                .features__content
                  h3.features__title Высокая скорость
                    br
                    |  обработки заявок

                  p.features__text Предварительное одобрение займа займет всего 10 минут, а подготовка и подписание документов – от 20 до 60 минут

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-4")
                .features__content
                  h3.features__title Досрочное погашение
                    br
                    |  в любой день

                  p.features__text При погашении займа раньше срока не применяем штрафов и комиссий

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-5")
                .features__content
                  h3.features__title Лояльность
                    br
                    |  к клиентам

                  p.features__text Каждому клиенту предоставляем отсрочку платежа на 7 дней без начисления штрафных санкций

            .features__slide.slider1__slide
              .features__item
                .features__icon
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#icon-feat-8")
                .features__content
                  h3.features__title Вы остаетесь
                    br
                    |  собственником залога

                  p.features__text При оформлении займа вам
                    br
                    |  не потребуется переоформлять ваш автомобиль

          .features__dots.slider1__dots

  // /.scr_features
