mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs

      .post__df
        .post__left
          h1.title.title--second Как взять деньги под залог
            br
            |  машины или спецтехники

          .article
            p.post__desc К услугам кредитных организаций время от времени обращаются многие. Практически все банки принимают недвижимость и автомобили, а некоторые готовы предоставить кредит под залог спецтехники. Такая техника стоит достаточно дорого, и сумма заемных средств бывает солидной. Взамен нужно предоставить на хранение в банк ПТС или ПСМ.

            p Деньги под залог техники также предоставляют МФО и частные компании, но в банках процентная ставка гораздо ниже. Залоговыми объектами может выступать следующее имущество:

            ul
              li
                strong сельскохозяйственная техника:
                |   зернопогрузчики, комбайны, тракторы;
              li
                strong строительная техника:
                |   краны, бульдозеры, автопогрузчики;
              li
                strong техника, предназначенная для коммунальных служб:
                |   мусоровозы, снегоуборщики.

            h2 Каким может быть назначение кредита?

            p Назначение кредита может быть любым. Если просто нужны деньги на ремонт, благоустройство или другие нужды, достаточно подобрать подходящую программу. Процентная ставка для заемщиков, желающих получить кредит под залог ПТС спецтехники, будет ниже, чем в беззалоговых сделках. Такой кредит является потребительским, и банк не контролирует расходование заемных средств.

            p Бывают и ситуации, когда кредит берется для приобретения техники, ставшей предметом залога. В этом случае его назначение будет целевым.

            h2 Кто может получить кредит?
            p Возможностью приобрести в долг нужные машины часто пользуются представители малого бизнеса и даже крупные предприятия. Как правило, банки требуют, чтобы их деятельность приносила прибыль, а компания существовала не меньше года.

            h3 h3 - Кто может получить кредит?
            h4 h4 - Кто может получить кредит?

            p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.


        .post__right
          .post__img
            noscript
              img.lazy(src="img-temp/img-post.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-post.jpg" alt="" width="125" height="90")

          .post__block.post__block--bordered
            p Заложить спецтехнику могут как заемщики, использующие ее для собственных нужд, так и те, кому она необходима для ведения бизнеса. В каждом из случаев кредитование будет иметь свои особенности.

          .post__block.post__block--grey
            p Оформить займ под залог спецтехники в МФО или ломбарде еще легче. Получить деньги можно быстро: срок оформления составляет от одного до трех дней.

  // /.scr_post
