mixin scr_conditions()
  section.scr_conditions.conditions(id="scr_conditions")
    .container
      .conditions__wrap.grey-bg
        h2.title.title--important
          span Условия займа

        ul.conditions__list
          li.conditions__item
            .conditions__top
              span.conditions__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cond-1")

              h3.conditions__title Сумма займа зависит от&nbsp;стоимости автомобиля

            .conditions__bottom
              p.conditions__text Оценку авто проводит специалист непосредственно перед заключением договора.

          li.conditions__item
            .conditions__top
              span.conditions__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cond-2")

              h3.conditions__title Процентная ставка зависит от суммы займа

            .conditions__bottom
              table
                tbody
                  tr
                    th
                      span Свыше 500 000
                    td 6,5% в месяц
                  tr
                    th
                      span До 499 000 Р
                    td 7% в месяц
                  tr
                    th
                      span До 99 000 Р
                    td 8 % в месяц
                  tr
                    th
                      span До 49 000 Р
                    td индивидуально

  // /.scr_conditions



mixin scr_conditions--cond()
  section.scr_conditions.conditions.conditions--cond(id="scr_conditions")
    .container
      .conditions__wrap
        ul.conditions__list.conditions__list--three
          li.conditions__item
            .conditions__top
              span.conditions__icon
                img.icon(src="img/icon-cond-cond1.png" alt="иконка")

              h3.conditions__title ПТС/Авто

            .conditions__bottom
              ul
                li
                  p.conditions__text Авто принадлежит заёмщику.
                li
                  p.conditions__text Авто в исправном техническом состоянии.
                li
                  p.conditions__text Авто иностранного производства
                    br
                    |  от 2005 г.в.
                li
                  p.conditions__text Авто отечественного производства
                    br
                    |  от 2013 г.в.
            .conditions__docs
              strong Необходимые документы:
              br
              |  ПТС, СТС, Паспорт


          li.conditions__item
            .conditions__top
              span.conditions__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cond-cond-2")

              h3.conditions__title Мото/спецтехника

            .conditions__bottom
              ul
                li
                  p.conditions__text Мото/спецтехника принадлежит заёмщику
                li
                  p.conditions__text Техника находится в исправном техническом состоянии
                li
                  p.conditions__text Выдача займа возможна под все виды транспортных средств имеющих ПТС (мототранспорт, водный транспорт, строительная и сельскохозяйственная техника)
            .conditions__docs
              strong Необходимые документы:
              br
              |  ПТС, СТС, Паспорт

          li.conditions__item
            .conditions__top
              span.conditions__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-cond-cond-3")

              h3.conditions__title Недвижимость

            .conditions__bottom
              ul
                li
                  p.conditions__text Объект недвижимости находится в собственности заемщика.
                li
                  p.conditions__text На территории Краснодарского края
                li
                  p.conditions__text Выдача займа возможна под все виды недвижимости (земельные участки, коммерческая и не жилая недвижимость, дачи, парковочные места, гаражи и т.д.)
            .conditions__docs
              strong Необходимые документы:
              br
              |  Уточняйте у менеджеров компании


  // /.scr_conditions
