mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__df
        .about__img
          figure
            p.about__inner
              noscript
                img.lazy(src="img/img-about.png" alt="" width="456" height="484")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-about.png" alt="" width="456" height="484")
            figcaption Учредитель BAUMANCASH
              br
              |  Кирилл Бауман

        .about__content
          .article
            p Стержень моей компании отличающей нас от конкурентов это прозрачность условий, высокий уровень сервиса и наличие карт лояльности, которые дают существенные скидки постоянным клиентам.   В BAUMANCASH мы честны с клиентами от начала и до конца, у нас вы не встретите превращения ставки с 3% до 10% с момента заполнения заявки на сайте до вашего визита в офис.

            p Мы ценим время наших клиентов и поэтому та процентная ставка которая отображается в калькуляторе на этапе предварительного одобрения не будет изменена ни под какими предлогами.

            p В моей компании Вы не будете обмануты менеджерами, обещающим по телефону одни условия, а по приезду в офис совсем другие. Если такое произошло с вами - сообщите об этом мне и этот сотрудник будет незамедлительно уволен.

            p В моей компании вы оцените именно ту самую прозрачность о которой твердят все аналогичные сервисы. Что на деле оказывается совсем не так.

            .about__autograph
              noscript
                img.lazy(src="img/autograph.png" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/autograph.png" alt="" width="125" height="90")

  // /.scr_about
