mixin scr_percent()
  section.scr_percent.percent(id="scr_percent")
    .container
      h2.title Процент по инвестициям

      .percent__table
        table
          thead
            tr
              td Срок инвестирования
              td Получение дивидендов
              td % ставка
          tbody
            tr
              td 6 месяцев
              td Ежемесячно
                br
                |  В конце срока
              td
                strong 16%
                  br
                  |  18%
            tr
              td 12 месяцев
              td Ежемесячно
                br
                |  В конце срока
              td
                strong 17%
                  br
                  |  20%
            tr
              td 24 месяца
              td Ежемесячно
                br
                |  В конце срока
              td
                strong 18%
                  br
                  |  25%
            tr
              td 36 месяцев
              td Ежемесячно
                br
                |  В конце срока
              td
                strong 19%
                  br
                  |  30%

  // /.scr_percent
