mixin scr_rate()
  section.scr_rate.rate.grey-bg(id="scr_rate")
    .container
      h2.title Процентная ставка

      .rate__table
        table
          thead
            tr
              td
              td от 500 000 Р
              td до 499 000 Р
              td до 99 000 Р
              td до 49 000 Р
          tbody
            tr
              th Недвижимость
              td 5,5%
              td 6%
              td 7%
              td индивидуально
            tr
              th Авто
              td 5,5%
              td 6%
              td 7%
              td индивидуально
            tr
              th ПТС
              td 6,5%
              td 7%
              td 8%
              td индивидуально
            tr
              th Спец/мототехника
              td 6,5%
              td 7%
              td 8%
              td индивидуально

      p.rate__bottom При возврате займа в течение 10 дней льготная процентная ставка - 3.5%

  // /.scr_rate
