mixin scr_map()
  section.scr_map.map(id="scr_map")
    .container
      .map__wrap
        .map__contacts
          .map__content
            h2.title Контакты:

            .map__item
              p.map__text г. Краснодар,
                br
                |  ул. Селезнёва, 105, 2 этаж

            .map__item
              a.map__link(href="tel:88004000202") 8 800 400 02 02
              p.map__text Звонок бесплатный
              a.map__link(href="tel:+79615245656") +7 961 524 56 56

            .map__item
              p.map__title Время работы:
              p.map__text Пн-Пт с 10:00 до 20:00
                br
                |  Сб с 10:00 до 17:00
                br
                |  Вс - выходной

    .inner-map#inner-map(style="background: transparent url('img/map.jpg') no-repeat center center; background-size: cover;")


  // /.scr_map


mixin scr_map--contacts()
  section.scr_map.map.map--contacts(id="scr_map")
    .inner-map#inner-map(style="background: transparent url('img/map.jpg') no-repeat center center; background-size: cover;")


  // /.scr_map
