mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__info
          .logo__wrap
            if logotype == "a"
              #{logotype}.logo(href="index.html")
                noscript
                  img.lazy(src="img/logo-footer.png" alt="лого" width="194" height="80")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/logo-footer.png" alt="лого" width="194" height="80")
            else
              #{logotype}.logo
                noscript
                  img.lazy(src="img/logo-footer.png" alt="лого" width="194" height="80")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/logo-footer.png" alt="лого" width="194" height="80")

            p.logo__title Проектирование, монтаж
              br
              |  и техническое обслуживание
              br
              |  систем безопасности в Крыму

          p.footer__text г. Ялта, ул. Пушкинская, 7а

          a.footer__text(href="tel:+79892388389" rel="nofollow") +7 989 238 83 89

          a.footer__text(href="mailto:info@mayakb.ru" rel="nofollow") info@mayakb.ru

          p.footer__text Время работы
            br
            |  Пн - Пт: 9:00 - 18:00

          p.footer__text.footer__text--socials Мы в социальных сетях
            a.footer__social(href="#")
              i.fa.fa-vk

          .footer__btns
            .btn__wrap
              a.btn.btn--grad(href="#" download) Скачать прайс

        // /.footer__info

        .footer__menu
          .footer__col
            ul.menu
              li.menu-item
                span О маяке

              li.menu-item
                a(href="#") Цель и миссия
              li.menu-item
                a(href="#") Команда
              li.menu-item
                a(href="#") Документы
              li.menu-item
                a(href="#") Вакансии
              li.menu-item
                a(href="#") Услуги
              li.menu-item
                a(href="#") Статьи
              li.menu-item
                a(href="#") Отзывы

          .footer__col
            ul.menu
              li.menu-item.menu-item-has-children
                a(href="#") услуги
                  i.menu__icon
                .menu__df
                  ul.sub-menu
                    li.menu-item
                      a(href="#") Установка и обслуживание видеонаблюдения
                    li.menu-item
                      a(href="#") Установка, пусконаладочные работы и техобслуживание охранной сигнализации
                    li.menu-item
                      a(href="#") Проектирование, установка и дальнейшее техническое обслуживание пожарной сигнализации
                    li.menu-item
                      a(href="#") Разработка и изготовление планов эвакуации
                    li.menu-item
                      a(href="#") Установка и техническое обслуживание системы контроля и управления доступом

                  ul.sub-menu
                    li.menu-item
                      a(href="#") Техническое обслуживание систем безопасности

                    li.menu-item
                      a(href="#") Огнезащитная обработка деревянных и металлических конструкций

                    li.menu-item
                      a(href="#") Разработка раздела проекта “Мероприятия по обеспечению пожарной безопасности”

                    li.menu-item
                      a(href="#") Диагностика и перезарядка огнетушителей

                    li.menu-item
                      a(href="#") Испытание пожарного водопровода

                    li.menu-item
                      a(href="#") Испытание пожарных лестниц

      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
              a(href="#") Политика конфиденциальности
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

