mixin scr1()
  section.scr1(id="scr1" style="background: #fefefe url('img/bg-scr1.jpg') no-repeat center bottom; background-size: cover;")
    .container
      .scr1__content
        h1.scr1__title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.3s") Гарантируем прохождение
          strong  проверки МЧС
            br
            |  и проектной экспертизы
          |  в любых проектных
          br
          |  организациях и ведомствах

        .scr1__form
          .form.wpcf7.form--count
            form.wpcf7-form
              .form__wrap
                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                .form__item.form__item--submit
                  .btn__wrap
                    input.wpcf7-form-control.wpcf7-submit.btn.btn--grad(type='submit', value='Получить расчет стоимости')

      .advantages
        ul.advantages__list
          li.advantages__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.5s")
            p.advantages__text Снимем риски руководителя и отвественных лиц. Вам не будут грозить штрафы от проверяющих органов

          li.advantages__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.6s")
            p.advantages__text Отвечаем современным стандартам
              br
              |  и требованиям безопасности
              br
              |  к объектам пожарной охраны МЧС РФ

          li.advantages__item.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.7s")
            p.advantages__text Предотвратим  ущерб от пожара и сбережем жизни



  // /.scr1
