mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      +breadcrumbs--blog

      .row
        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о пожаре и позволит вовремя эвакуировать людей, справиться с огнем и дымом. Для этого ее необходимо регулярно проверять...

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее

        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее

        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о пожаре и позволит вовремя эвакуировать людей, справиться с огнем и дымом. Для этого ее необходимо регулярно проверять...

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее

        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о пожаре и позволит вовремя эвакуировать людей, справиться с огнем и дымом. Для этого ее необходимо регулярно проверять...

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее

        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о пожаре и позволит вовремя эвакуировать людей, справиться с огнем и дымом. Для этого ее необходимо регулярно проверять...

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее

        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о пожаре и позволит вовремя эвакуировать людей, справиться с огнем и дымом. Для этого ее необходимо регулярно проверять...

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее

        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о пожаре и позволит вовремя эвакуировать людей, справиться с огнем и дымом. Для этого ее необходимо регулярно проверять...

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее

        .col-sm-6
          .blog__wrap
            .blog__item
              .blog__top
                .article
                  h2.blog__title Обслуживание системы пожарной
                    br
                    |  сигнализации

                  p Надежная пожарная сигнализация предупредит о пожаре и позволит вовремя эвакуировать людей, справиться с огнем и дымом. Для этого ее необходимо регулярно проверять...

              .blog__bottom
                time(datetime="2019-10-17") 17.10.19

                a.blog__link(href="#") Подробнее


      +paginator

  // /.scr_blog
