mixin scr_partners()
  section.scr_partners.partners(id="scr_partners")
    .container
      h2.title Успешно спроектировали, смонтировали и обслуживаем
        br
        strong  более 150 объектов

      .partners__slider.slider1#partners__slider
        .partners__slides.slider1__slides
          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-1.png" alt="партнер" width="188" height="58")

          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-2.jpg" alt="партнер" width="188" height="58")


          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-3.jpg" alt="партнер" width="188" height="58")


          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-4.jpg" alt="партнер" width="188" height="58")

          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-5.png" alt="партнер" width="188" height="58")


          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-2.jpg" alt="партнер" width="188" height="58")



        .partners__dots.slider1__dots

  // /.scr_partners



mixin scr_partners--mission()
  section.scr_partners.partners.partners--mission(id="scr_partners")
    .container
      h2.title Успешно спроектировали, смонтировали и обслуживаем
        br
        strong  более 150 объектов

      .partners__slider.slider1#partners__slider
        .partners__slides.slider1__slides
          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-1.png" alt="партнер" width="188" height="58")

          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-2.jpg" alt="партнер" width="188" height="58")


          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-3.jpg" alt="партнер" width="188" height="58")


          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-4.jpg" alt="партнер" width="188" height="58")

          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-5.png" alt="партнер" width="188" height="58")


          .partners__slide.slider1__slide
            .partners__img
              img(src="img-temp/partners/img-partners-2.jpg" alt="партнер" width="188" height="58")



        .partners__dots.slider1__dots

  // /.scr_partners
