mixin scr_mission()
  section.scr_mission.mission(id="scr_mission")
    .container
      h1.title-second Цель и миссия

      .mission__top
        .mission__info
          .article
            noscript
              img.lazy.alignright(src="img-temp/img-mission.jpg" alt="" width="125" height="90")
            img.lazy.alignright( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-mission.jpg" alt="" width="125" height="90")
            blockquote
              p  Мы за настоящую безопасность!
                br
                |  Наша компания на рынке с 2014 года
                br
                |  и всегда отвечает за результаты своей работы.

            p Компания «Маяк безопасности» обладает значимым опытом в сфере проектирование, монтажа и технического обслуживание систем безопасности. В нашей компании трудятся квалифицированные и опытные монтажные бригады, технические специалисты, консультанты.
              br
              |  Мы гордимся нашими специалистами, которые прошли профильное обучение.
              br
              |  Мы имеем широкий штат сервисных инженеров (10 человек), которые ежедневно проводят техническое обслуживание и профилактические работы на наших объектах, это не просто “заехать на объект, отдать счёт в бухгалтерию постоять у приёмно-контрольного прибора с умным видом, сделать запись в журнал и уехать”. Наши специалисты подходят комплексно ко всем вопросам.

            p Мы всегда поможем подобрать оборудование и технические решения с учетом бюджета заказчика. Рады подсказать как снизить стоимость уже существующего проекта.
              br
              |  Сдаём объект с отчетом по выполненным работам и предоставляем полный комплект документов, который не оставит ни единого шанса проверке МЧС. Кроме того, для наших партнёров мы всегда готовы отбивать предписания МЧС.



      ul.mission__nums
        li.mission__nums-item
          .mission__nums-circle
            span 5
          span.mission__nums-text лет опыта работы

        li.mission__nums-item
          .mission__nums-circle
            span 37
          span.mission__nums-text объектов на обслуживании

        li.mission__nums-item
          .mission__nums-circle
            span 10
          span.mission__nums-text инженеров тех. обслуживания



  // /.scr_mission
