mixin scr_job()
  section.scr_job.job(id="scr_job")
    .container
      h1.title-second Вакансии

      ul.job__list
        li.job__item
          .top
            h2 Инженер технического обслуживания
            button.open
          .hidden
            .article
              p
                strong Требования к кандидату:
                br
                |  курс на социально-ориентированный национальный проект представляет собой интересный эксперимент проверки экономической целесообразности принимаемых решений. Сложно сказать, почему базовые сценарии поведения пользователей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности! Задача организации, в особенности же сплочённость команды профессионалов требует анализа вывода текущих активов.

            .job__btns
              .btn__wrap
                a.btn.btn--arrow(href="#") откликнуться

        li.job__item
          .top
            h2 Инженер технического обслуживания
            button.open
          .hidden
            .article
              p
                strong Требования к кандидату:
                br
                |  курс на социально-ориентированный национальный проект представляет собой интересный эксперимент проверки экономической целесообразности принимаемых решений. Сложно сказать, почему базовые сценарии поведения пользователей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности! Задача организации, в особенности же сплочённость команды профессионалов требует анализа вывода текущих активов.

            .job__btns
              .btn__wrap
                a.btn.btn--arrow(href="#") откликнуться

        li.job__item
          .top
            h2 Инженер технического обслуживания
            button.open
          .hidden
            .article
              p
                strong Требования к кандидату:
                br
                |  курс на социально-ориентированный национальный проект представляет собой интересный эксперимент проверки экономической целесообразности принимаемых решений. Сложно сказать, почему базовые сценарии поведения пользователей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности! Задача организации, в особенности же сплочённость команды профессионалов требует анализа вывода текущих активов.

            .job__btns
              .btn__wrap
                a.btn.btn--arrow(href="#") откликнуться

  // /.scr_job
