mixin scr_prod-item()
  section.scr_prod-item.prod-item(id="scr_prod-item")
    .container
      +breadcrumbs

    .prod-item__top
      .container
        p.title-second.mobile Огнетушитель ОВЭ-4(з)-АВCЕ-01
        .row
          .col-md-6
            a.prod-item__img.fancybox(href="img-temp/img-prod-item-1.jpg")
              noscript
                img.lazy(src="img-temp/img-prod-item-1.jpg" alt="Огнетушитель" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-prod-item-1.jpg" alt="Огнетушитель" width="125" height="90")

          .col-md-6
            .prod-item__info
              h1.title-second.desktop Огнетушитель ОВЭ-4(з)-АВCЕ-01

              .prod-item__table
                table
                  tbody
                    tr
                      th Производитель:
                      td Ярпожинвест
                    tr
                      th Артикул:
                      td ОП-2
                    tr
                      th Тип огнетушителя:
                      td Порошковый
                    tr
                      th Масса заряда порошка:
                      td 2 кг
                    tr
                      th Вместимость корпуса:
                      td не менее  2,68 л

              .prod-item__price
                .prod-item__price-wrap
                  b Цена:
                  span 1 600 Р

              .prod-item__btns
                .btn__wrap
                  a.btn.btn--grad(href="#") Заказать

    .container
      .prod-item__bottom
        p.prod-item__title описание:

        .article
          p Огнетушитель порошковый (ОП)  -  это устройство предназначенное для тушения загорания твердых веществ (класса А) , газообразных веществ (класс пожара С), жидких веществ (класс пожара В) ,  электрооборудования по напряжением до 1000В (класс пожара Е)  за счет заряженного огнетушащего вещества.
          p Для обеспечения пожарной безопасности  порошковыми  огнетушителями   рекомендуется оборудовать  жилые и служебные  помещения, гаражи, офисы и складские помещения. Этот вид огнетушителя является самым универсальным, исходя из области его возможного применения.
          p Огнетушитель подходит для легкового автомобиля (для прохождения техосмотра).
          p Гарантийный срок эксплуатации 12 месяцев
          p Перезаряжать необходимо не реже 1 раза в 5 лет,
          ul
            li -  в случае если показания индикатора давления неудовлетворительны
            li -  а также сразу после применения.


  // /.scr_prod-item
