mixin scr_features()
  section.scr_features.features(id="scr_features" style="background: transparent url('img/bg-feat.jpg') no-repeat center center; background-size: cover;")
    .container
      h2.title
        strong Профессиональный подход к обеспечению безопасности

      ul.features__list
        li.features__item
          i.features__icon
            noscript
              img.lazy(src="img/icons/icon-feat-1.png" alt="иконка" width="100" height="100" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/icons/icon-feat-1.png" alt="иконка" width="100" height="100" data-object-fit-contain)

            span.features__num 01

          p.features__text Вы оставляете заявку
            br
            |  на сайте или по телефону

        li.features__item
          i.features__icon
            noscript
              img.lazy(src="img/icons/icon-feat-2.png" alt="иконка" width="100" height="100" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/icons/icon-feat-2.png" alt="иконка" width="100" height="100" data-object-fit-contain)

            span.features__num 02

          p.features__text Выезжаем на объект с целью обследования (если требуется)


        li.features__item
          i.features__icon
            noscript
              img.lazy(src="img/icons/icon-feat-3.png" alt="иконка" width="100" height="100" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/icons/icon-feat-3.png" alt="иконка" width="100" height="100" data-object-fit-contain)

            span.features__num 03

          p.features__text Выезжаем на объект с целью обследования (если требуется)

        li.features__item
          i.features__icon
            noscript
              img.lazy(src="img/icons/icon-feat-4.png" alt="иконка" width="100" height="100" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/icons/icon-feat-4.png" alt="иконка" width="100" height="100" data-object-fit-contain)

            span.features__num 04

          p.features__text Согласовываем время и сроки выполнения работ, заключаем договор

        li.features__item
          i.features__icon
            noscript
              img.lazy(src="img/icons/icon-feat-5.png" alt="иконка" width="100" height="100" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/icons/icon-feat-5.png" alt="иконка" width="100" height="100" data-object-fit-contain)

            span.features__num 05

          p.features__text Выполняем проектные и монтажные работы. Берем систему на техническое обслуживание




  // /.scr_features
