mixin scr_cases()
  section.scr_cases.cases(id="scr_cases")
    .container
      h1.title-second Выполненные работы

      .row
        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title санаторий «Кирова»
                p.cases__desc проводная адресно-аналоговая сигнализация «Рубеж», речевое оповещение с использованием МРО от «Рубеж»

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title отель «Бристоль»
                p.cases__desc радиоканальная адресная сигнализация «Астра-Zитадель» от «Teko» с радиоканальным речевым оповещением

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title санаторий «Мисхор»
                p.cases__desc проводная адресно-аналоговая сигнализация «Рубеж», речевое оповещение на базе «Sonar», система автоматики дымоудаления и подпора воздуха, система обратной связи на базе «Тромбон»

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title санаторий «Кирова»
                p.cases__desc проводная адресно-аналоговая сигнализация «Рубеж», речевое оповещение с использованием МРО от «Рубеж»

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title отель «Бристоль»
                p.cases__desc радиоканальная адресная сигнализация «Астра-Zитадель» от «Teko» с радиоканальным речевым оповещением

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title санаторий «Мисхор»
                p.cases__desc проводная адресно-аналоговая сигнализация «Рубеж», речевое оповещение на базе «Sonar», система автоматики дымоудаления и подпора воздуха, система обратной связи на базе «Тромбон»

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость



        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title санаторий «Кирова»
                p.cases__desc проводная адресно-аналоговая сигнализация «Рубеж», речевое оповещение с использованием МРО от «Рубеж»

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title отель «Бристоль»
                p.cases__desc радиоканальная адресная сигнализация «Астра-Zитадель» от «Teko» с радиоканальным речевым оповещением

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

        .col-lg-4.col-sm-6
          .cases__wrap
            .cases__item
              .cases__img(href="#")
                noscript
                  img.lazy(src="img-temp/cases/img-cases-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/cases/img-cases-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .cases__content
                h2.cases__title санаторий «Мисхор»
                p.cases__desc проводная адресно-аналоговая сигнализация «Рубеж», речевое оповещение на базе «Sonar», система автоматики дымоудаления и подпора воздуха, система обратной связи на базе «Тромбон»

              .cases__bottom
                .cases__price
                  a(href="#") узнать стоимость

      +paginator

  // /.scr_cases
