mixin scr_docs()
  section.scr_docs.docs(id="scr_docs")
    .container
      h1.title-second Документы
      .row
        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-1.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-1.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-1.jpg" alt="" width="125" height="90")

              p.docs__text Лицензия МЧС

        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-2.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-2.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-2.jpg" alt="" width="125" height="90")

              p.docs__text Допуск СРО в строительстве
                br
                |  и проектировании

        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-1.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-1.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-1.jpg" alt="" width="125" height="90")

              p.docs__text Лицензия МЧС

        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-2.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-2.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-2.jpg" alt="" width="125" height="90")

              p.docs__text Допуск СРО в строительстве
                br
                |  и проектировании

        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-1.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-1.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-1.jpg" alt="" width="125" height="90")

              p.docs__text Лицензия МЧС

        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-2.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-2.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-2.jpg" alt="" width="125" height="90")

              p.docs__text Допуск СРО в строительстве
                br
                |  и проектировании

        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-1.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-1.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-1.jpg" alt="" width="125" height="90")

              p.docs__text Лицензия МЧС

        .col-lg-3.col-sm-4.col-6
          .docs__wrap
            .docs__item
              a.docs__img.fancybox(href="img-temp/docs/img-docs-2.jpg" data-fancybox-group="docs")
                noscript
                  img.lazy(src="img-temp/docs/img-docs-2.jpg" alt="Сертификат" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/docs/img-docs-2.jpg" alt="" width="125" height="90")

              p.docs__text Допуск СРО в строительстве
                br
                |  и проектировании

  // /.scr_docs
