mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      h2.title Полный спектр решений и систем
        br
        strong  для вашей безопасности


    .container
      .row
        .col-md-5
          nav.serv__nav
            ul.serv__nav-list
              li.serv__nav-item.active
                a(href="#serv-tab-0") Установка и обслуживание видеонаблюдение

              li.serv__nav-item
                a(href="#serv-tab-1") Установка, пусконаладочные работы
                  br
                  |  и техобслуживание охранной сигнализации

              li.serv__nav-item
                a(href="#serv-tab-2") Проектирование, установка и дальнейшее
                  br
                  |  техническое обслуживание пожарной сигнализации

              li.serv__nav-item
                a(href="#serv-tab-3") Разработка и изготовление планов эвакуации

              li.serv__nav-item
                a(href="#serv-tab-4") Установка и обслуживание видеонаблюдения

              li.serv__nav-item
                a(href="#serv-tab-5") Установка и техническое обслуживание системы контроля и управления доступом

              li.serv__nav-item
                a(href="#serv-tab-6") Техническое обслуживание систем
                  br
                  |  безопасности

            .serv__btns
              .btn__wrap
                a.btn.btn--arrow(href="#") Все услуги

        .col-md-7
          ul.serv__tabs
            li.serv__tab#serv-tab-0
              .serv__content
                .article
                  ul
                    li Оформляем по ГОСТ и стандартам конструкторской документации. Подбираем оборудование с учетом площади, планировки и класса пожарной опасности. Готовый документ соответствует нормам МЧС, пожарный инспектор принимает его с первого раза.

                    li Устанавливаем точно в оговоренные сроки. Если на объекте ремонт — прокладываем кабельные трассы до отделочных работ, убираем провода в стену. Оформляем полный пакет документов для пожарного инспектора.

                    li Помогаем пройти пожарную проверку. Заключаем договор на техническое обслуживание сигнализации — обязательный документ для инспектора Госпожарнадзора. Готовим акты выполненных работ, ведем журнал технического обслуживания.

              .serv__bottom
                .article
                  p
                    b По требованию ФЗ №123, все коммерческие и нежилые объекты обязаны быть оборудованы пожарной сигнализацией и системой оповещения.

                  p
                    b Если сигнализация не установлена или неисправна, не заключен договор на техническое обслуживание или нет проекта системы — объект не пройдет проверку Госпожарнадзора.

              .serv__links
                a.serv__link(href="#") Подробнее

            li.serv__tab#serv-tab-1
              .serv__content
                .article
                  ul
                    li Оформляем по ГОСТ и стандартам конструкторской документации. Подбираем оборудование с учетом площади, планировки и класса пожарной опасности. Готовый документ соответствует нормам МЧС, пожарный инспектор принимает его с первого раза.

                    li Устанавливаем точно в оговоренные сроки. Если на объекте ремонт — прокладываем кабельные трассы до отделочных работ, убираем провода в стену. Оформляем полный пакет документов для пожарного инспектора.

              .serv__bottom
                .article
                  p
                    b По требованию ФЗ №123, все коммерческие и нежилые объекты обязаны быть оборудованы пожарной сигнализацией и системой оповещения.

                  p
                    b Если сигнализация не установлена или неисправна, не заключен договор на техническое обслуживание или нет проекта системы — объект не пройдет проверку Госпожарнадзора.

              .serv__links
                a.serv__link(href="#") Подробнее

            li.serv__tab#serv-tab-2
              .serv__content
                .article
                  ul
                    li Оформляем по ГОСТ и стандартам конструкторской документации. Подбираем оборудование с учетом площади, планировки и класса пожарной опасности. Готовый документ соответствует нормам МЧС, пожарный инспектор принимает его с первого раза.

                    li Устанавливаем точно в оговоренные сроки. Если на объекте ремонт — прокладываем кабельные трассы до отделочных работ, убираем провода в стену. Оформляем полный пакет документов для пожарного инспектора.

                    li Оформляем по ГОСТ и стандартам конструкторской документации. Подбираем оборудование с учетом площади, планировки и класса пожарной опасности. Готовый документ соответствует нормам МЧС, пожарный инспектор принимает его с первого раза.

                    li Устанавливаем точно в оговоренные сроки. Если на объекте ремонт — прокладываем кабельные трассы до отделочных работ, убираем провода в стену. Оформляем полный пакет документов для пожарного инспектора.

                    li Оформляем по ГОСТ и стандартам конструкторской документации. Подбираем оборудование с учетом площади, планировки и класса пожарной опасности. Готовый документ соответствует нормам МЧС, пожарный инспектор принимает его с первого раза.

                    li Устанавливаем точно в оговоренные сроки. Если на объекте ремонт — прокладываем кабельные трассы до отделочных работ, убираем провода в стену. Оформляем полный пакет документов для пожарного инспектора.

              .serv__bottom
                .article
                  p
                    b По требованию ФЗ №123, все коммерческие и нежилые объекты обязаны быть оборудованы пожарной сигнализацией и системой оповещения.

                  p
                    b Если сигнализация не установлена или неисправна, не заключен договор на техническое обслуживание или нет проекта системы — объект не пройдет проверку Госпожарнадзора.

              .serv__links
                a.serv__link(href="#") Подробнее


  // /.scr_serv
