mixin scr_team()
  section.scr_team.team(id="scr_team")
    .container
      h1.title-second Наша команда

      .team__df
        .team__info
          p.team__text Компания «Маяк безопасности» .В нашей компании трудятся квалифицированные и опытные монтажные бригады, технические специалисты, консультанты. Мы гордимся нашими специалистами, которые прошли профильное обучение.
          p.team__text Значимость этих проблем настолько очевидна, что перспективное планирование, в своём классическом представлении, допускает внедрение благоприятных перспектив. Для современного мира постоянное информационно-пропагандистское обеспечение нашей деятельности требует анализа новых принципов формирования материально-технической и кадровой базы.

        .team__img
          noscript
            img.lazy(src="img/img-team.jpg" alt="Команда" width="586" height="338")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-team.jpg" alt="Команда" width="586" height="338")

    .team__bottom
      .container
        ul.team__list
          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер
                br
                |  технического обслуживания

          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер

          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер
                br
                |  технического обслуживания

          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер
                br
                |  технического обслуживания

          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер
                br
                |  технического обслуживания

          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер

          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер
                br
                |  технического обслуживания

          li.team__item
            .team__item-img
              noscript
                img.lazy(src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/img-team.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

            .team__content
              h2.team__title Огнеборцев
                br
                |  Петр Александрович
              p.team__desc Инженер
                br
                |  технического обслуживания

  // /.scr_team
