mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h1.title-second Отзывы

      .row
        .col-sm-6
          .reviews__wrap
            .reviews__item
              .article
                h2.reviews__title Димитров Владислав
                time(datetime="2019-09-31") 31.09.2019

                p Нам нужно было разработать проект и установить пожарную сигнализацию, остановились на ”Маяк Безопасности”. И в итоге правильно.  Ребята приехали в первый же день, произвели замеры, подробно все пояснили.
                p В общем и целом - сработали оперативно и хорошо, за что мы очень благодарны

        .col-sm-6
          .reviews__wrap
            .reviews__item
              .article
                h2.reviews__title Павел Скороходов
                time(datetime="2019-10-10") 10.10.2019

                p Нам нужно было разработать проект и установить пожарную сигнализацию, остановились на ”Маяк Безопасности”. И в итоге правильно.  Ребята приехали в первый же день, произвели замеры, подробно все пояснили.

        .col-sm-6
          .reviews__wrap
            .reviews__item
              .article
                h2.reviews__title Димитров Владислав
                time(datetime="2019-09-31") 31.09.2019

                p Нам нужно было разработать проект и установить пожарную сигнализацию, остановились на ”Маяк Безопасности”. И в итоге правильно.  Ребята приехали в первый же день, произвели замеры, подробно все пояснили.
                p В общем и целом - сработали оперативно и хорошо, за что мы очень благодарны

        .col-sm-6
          .reviews__wrap
            .reviews__item
              .article
                h2.reviews__title Димитров Владислав
                time(datetime="2019-09-31") 31.09.2019

                p Нам нужно было разработать проект и установить пожарную сигнализацию, остановились на ”Маяк Безопасности”. И в итоге правильно.  Ребята приехали в первый же день, произвели замеры, подробно все пояснили.
                p В общем и целом - сработали оперативно и хорошо, за что мы очень благодарны

        .col-sm-6
          .reviews__wrap
            .reviews__item
              .article
                h2.reviews__title Димитров Владислав
                time(datetime="2019-09-31") 31.09.2019

                p Нам нужно было разработать проект и установить пожарную сигнализацию, остановились на ”Маяк Безопасности”. И в итоге правильно.  Ребята приехали в первый же день, произвели замеры, подробно все пояснили.
                p В общем и целом - сработали оперативно и хорошо, за что мы очень благодарны

        .col-sm-6
          .reviews__wrap
            .reviews__item
              .article
                h2.reviews__title Димитров Владислав
                time(datetime="2019-09-31") 31.09.2019

                p Нам нужно было разработать проект и установить пожарную сигнализацию, остановились на ”Маяк Безопасности”. И в итоге правильно.  Ребята приехали в первый же день, произвели замеры, подробно все пояснили.
                p В общем и целом - сработали оперативно и хорошо, за что мы очень благодарны


  // /.scr_reviews
