mixin scr_services()
  section.scr_services.services(id="scr_services")
    .container
      h1.title-second Услуги

      .row
        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/1.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/2.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/3.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Проектирование, установка
                br
                |  и дальнейшее техническое
                br
                |  обслуживание пожарной
                br
                |  сигнализации


        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/4.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/5.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/6.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/7.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/8.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/9.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/10.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения

        .col-lg-3.col-md-4.col-6
          .services__wrap
            .services__item
              .services__icon
                img(src="img/svg/icons-services/11.svg", alt="иконка", data-object-fit-contain)

              h2.services__title Установка и обслуживание
                br
                |  видеонаблюдения




  // /.scr_services
