mixin scr_prod()
  section.scr_prod.prod(id="scr_prod")
    .container
      h2.title Работаем с поставщиками оборудования напрямую,
        br
        |  устанавливаем
        strong  цену ниже рыночной до 10%

      nav.prod__nav
        ul.prod__nav-list
          li.prod__nav-item.prod__nav-item--tabs.active
            a(href="#prod-tab-0") Огнетушители
          li.prod__nav-item.prod__nav-item--tabs
            a(href="#prod-tab-1") Шкафы пожарные
          li.prod__nav-item.prod__nav-item--tabs
            a(href="#prod-tab-2") Щиты пожарные и инвентарь
          li.prod__nav-item.prod__nav-item--tabs
            a(href="#prod-tab-3") Подставки
          li.prod__nav-item.prod__nav-item--tabs
            a(href="#prod-tab-4") Рукава

      ul.prod__tabs
        li.prod__tab#prod-tab-0

          //. ID слайдеров разные, т.к. это табы!!
          .prod__slider.slider1#prod__slider-0
            .prod__slides.slider1__slides
              .prod__slide.slider1__slide
                .prod__item
                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                  .prod__content
                    h3.prod__title Огнетушитель
                      br
                      |  ОВЭ-4(з)-АВCЕ-01

                  .prod__links
                    a.prod__link(href="#") Подробнее

              .prod__slide.slider1__slide
                .prod__item
                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                  .prod__content
                    h3.prod__title Огнетушитель ОВЭ-10(з)-АВCЕ-01 на тележке

                  .prod__links
                    a.prod__link(href="#") Подробнее

              .prod__slide.slider1__slide
                .prod__item
                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                  .prod__content
                    h3.prod__title Огнетушитель
                      br
                      |  ОВЭ-4(з)-АВCЕ-01

                  .prod__links
                    a.prod__link(href="#") Подробнее

              .prod__slide.slider1__slide
                .prod__item
                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                  .prod__content
                    h3.prod__title Огнетушитель ОВЭ-10(з)-АВCЕ-01 на тележке

                  .prod__links
                    a.prod__link(href="#") Подробнее

            .prod__dots.slider1__dots


        li.prod__tab#prod-tab-1
          .prod__slider.slider1#prod__slider-1
            .prod__slides.slider1__slides
              .prod__slide.slider1__slide
                .prod__item
                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                  .prod__content
                    h3.prod__title Огнетушитель
                      br
                      |  ОВЭ-4(з)-АВCЕ-01

                  .prod__links
                    a.prod__link(href="#") Подробнее

              .prod__slide.slider1__slide
                .prod__item
                  a.prod__img(href="#")
                    img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                  .prod__content
                    h3.prod__title Огнетушитель ОВЭ-10(з)-АВCЕ-01 на тележке

                  .prod__links
                    a.prod__link(href="#") Подробнее

            .prod__dots.slider1__dots


      .prod__bottom
        .btn__wrap
          a.btn.btn--arrow(href="#") Каталог

  // /.scr_prod

mixin scr_prod--prod()
  section.scr_prod.prod.prod--prod(id="scr_prod")
    .container
      h1.title-second Каталог

      nav.prod__nav
        ul.prod__nav-list
          li.prod__nav-item.active
            a(href="#") Огнетушители
          li.prod__nav-item
            a(href="#") Шкафы пожарные
          li.prod__nav-item
            a(href="#") Щиты пожарные и инвентарь
          li.prod__nav-item
            a(href="#") Подставки
          li.prod__nav-item
            a(href="#") Рукава

    .prod__list
      .container
        .row
          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-1.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

          .col-lg-3.col-md-4.col-sm-6
            .prod__wrap
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-prod-2.jpg" alt="Огнетушитель" width="147" height="221" data-object-fit-contain)

                .prod__content
                  h3.prod__title Огнетушитель
                    br
                    |  ОВЭ-4(з)-АВCЕ-01

                .prod__links
                  a.prod__link(href="#") Подробнее

  // /.scr_prod
