.deliver
  position: relative
  padding-top: 42px
  padding-bottom: 65px
  &__wrap
    position: relative
    padding-top: 8px
    .deliver__title
      position: absolute
      top: 0
      left: 0
  &__map
    max-width: 1314px
    margin-left: auto
    margin-right: auto
  &__title
    margin-bottom: 26px
    font-size: 36px
    line-height: 1.388888888888889 /* 50 / 36 */
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.025em
    color: #000000
  &__content
    padding-top: 41px
  &__df
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__col
    width: calc(50% - 15px)
    .deliver__title
      min-height: 100px
    &:first-of-type
      padding-right: 27px

  .article
    font-weight: 600
    p
      margin-bottom: 22px
    a
      color: #000000
      &:hover
        text-decoration: none
        color: $accent
  &__pay
    display: flex
    align-items: center
    img
      width: auto
      margin-right: 30px
      &:last-of-type
        margin-right: 0


  @media screen and (max-width: 1400px)
    &__map
      max-width: 1014px
    &__title
      margin-bottom: 16px
      font-size: 28px
    &__col
      .deliver__title
        min-height: 76px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    padding-bottom: 35px
    &__title
      margin-bottom: 8px
      font-size: 23px
    &__col
      .deliver__title
        min-height: 62px
      &:first-of-type
        padding-right: 0

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__map
      max-width: 714px

  // max-width 1070px

  @media screen and (max-width: 767px)
    padding-bottom: 15px
    &__df
      display: block
    &__col
      width: 100%
      .deliver__title
        min-height: 0

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 22px
    &__wrap
      .deliver__title
        position: static
    &__title
      font-size: 19px
      br
        display: none

  // max-width 575px

  @media screen and (max-width: 500px)
    &__pay
      img
        margin-right: 20px

  // max-width 500px

/* deliver */
