.partners
  position: relative
  padding-top: 45px
  padding-bottom: 72px
  &__wrap
    position: relative
  &__item
    display: flex
    align-items: center
    justify-content: center
    height: 177px
    margin-left: -1px
    margin-bottom: -1px
    margin-right: -1px
    padding: 7px 25px
    border-right: 1px solid rgba(28,75,110,0.3)
    border-bottom: 1px solid rgba(28,75,110,0.3)
    transition: 0.3s
    img
      display: block
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%
  &__slider
    overflow: hidden


  @media screen and (max-width: 1170px)
    &__item
      height: 140px

  // max-width 1400px

  @media screen and (max-width: 950px)
    padding-top: 35px
    padding-bottom: 47px
    &__item
      height: 120px

  // max-width 950px

  @media screen and (max-width: 767px)
    padding-bottom: 37px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 20px
    padding-bottom: 20px
    &__item
      height: 90px

  // max-width 575px

/* partners */
