.feat
  position: relative
  padding-top: 65px
  padding-bottom: 68px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
  &__item
    display: flex
    flex-direction: column
    width: calc((100% - 124px * 2) / 3)
    margin-right: 124px
    &:nth-of-type(3n)
      margin-right: 0
  &__title
    margin-top: 0
    margin-bottom: 26px
    font-size: 28px
    line-height: 1.214285714285714 /* 34 / 28 */
    font-weight: 800
    letter-spacing: 0.025em
    color: #000101
  &__text
    flex-grow: 1
    margin-bottom: 45px
    font-weight: 600
    letter-spacing: 0.025em
    ul
      list-style: none
      & > li
        &::before
          content: '•'
          display: inline-block
          margin-right: 12px
          font-size: 14px
  &__btns
    margin-top: auto
    .xbtn
      height: 41px
      padding-left: 22px
      padding-right: 22px
      border-radius: 20.5px
      font-size: 14px
  &__icon
    display: block
    width: 66px
    height: 66px
    margin-bottom: 25px
    img
      display: block


  @media screen and (max-width: 1400px)
    padding-top: 45px
    padding-bottom: 48px
    &__item
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      &:nth-of-type(3n)
        margin-right: 0
    &__icon
      width: 60px
      height: 60px
      margin-bottom: 20px
    &__title
      margin-bottom: 16px
      font-size: 24px
    &__text
      margin-bottom: 35px
      font-size: 14px

  // max-width 1400px

  @media screen and (max-width: 991px)
    &__title
      font-size: 21px

  // max-width 991px

  @media screen and (max-width: 870px)
    &__item
      width: calc((100% - 30px) / 3)
      margin-right: 15px
      &:nth-of-type(3n)
        margin-right: 0
    &__title
      font-size: 19px

  // max-width 870px

  @media screen and (max-width: 767px)
    padding-top: 35px
    padding-bottom: 38px
    &__icon
      width: 45px
      height: 45px
      margin-bottom: 15px
    &__title
      margin-bottom: 12px
      font-size: 18px
    &__text
      margin-bottom: 25px

  // max-width 767px

  @media screen and (max-width: 700px)
    &__list
      display: block
    &__item
      width: 100%
      margin-bottom: 35px
      &:last-of-type
        margin-bottom: 0

  // max-width 700px

  @media screen and (max-width: 575px)
    padding-top: 20px
    padding-bottom: 20px

  // max-width 575px

/* feat */
