.prod-add
  position: relative
  padding-top: 45px
  padding-bottom: 75px
  &__slider
    overflow: hidden
    margin: -20px
    padding: 20px
    &-wrap
      position: relative
    &-btns
      .swiper-dots
        position: absolute
        left: 50%
        bottom: -20px
        transform: translateX(-50%)
        margin-top: 0
    .swiper-slide
      height: auto
  &__item
    height: 100%
    padding: 9px
    padding-bottom: 25px
    background-color: #ffffff
    transition: 0.3s
    &:hover
      box-shadow: 0 5px 30px rgba(#0d2c5c, 0.2)
  &__img
    height: 269px
    padding: 18px
    background-color: #ffffff
    border: 1px solid #cccccc
    border-radius: 8px
    img
      display: block
  &__content
    padding: 20px 28px 0 16px
    .article
      font-size: 14px
      ul
        padding: 0
        & > li
          transform: none
  &__title
    margin-top: 0
    margin-bottom: 18px
    padding-left: 9px
    font-size: 24px
    font-weight: 800
    letter-spacing: 0.025em
    color: #0d2c5c


  @media screen and (max-width: 1170px)
    &__img
      height: 199px
    &__content
      padding: 20px 8px 0
    &__title
      padding-left: 0
      font-size: 20px
      line-height: 1.2

  // max-width 1170px

  @media screen and (max-width: 991px)
    padding-top: 35px
    padding-bottom: 65px
    &__title
      font-size: 17px

  // max-width 991px

  @media screen and (max-width: 500px)
    &__img
      height: 159px

  // max-width 500px

/* prod-add */
