.about
  position: relative
  padding-top: 39px
  &__timeline
    margin-bottom: 46px
    overflow: hidden
    &::before
      content: ''
      position: absolute
      top: 0
      right: -1px
      display: block
      width: 10px
      height: 84px
      background-color: #ffffff
      z-index: 500
    &-wrap
      position: relative
      &::before
        content: ''
        position: absolute
        top: -5px
        left: 0
        width: 100%
        height: 5px
        background-image: linear-gradient(-90.0deg, #ffffff 0%, #04317b 40%, #091c3a 100%)
    &-item
      position: relative
      padding-top: 34px
      padding-left: 25px
      padding-right: 10px
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        display: block
        width: 1px
        height: 84px
        background-color: rgba(4,49,123,0.3)
    &-num
      display: block
      margin-bottom: 16px
      font-size: 50px
      line-height: 1.2
      font-weight: 800
      text-transform: uppercase
      letter-spacing: 0.025em
      color: #1c4b6e
    &-title
      margin-top: 0
      font-size: 20px
      font-weight: 800
      letter-spacing: 0.025em
      color: #000101
    &-text
      margin-top: 18px
      letter-spacing: 0.025em
      font-weight: 600
      strong
        font-weight: 700
  &__df
    display: flex
    align-items: center
    justify-content: space-between
  &__video
    flex-shrink: 0
    position: relative
    text-decoration: none
    outline: none
    display: flex
    align-items: flex-end
    width: 42.54327563249001%
    height: 378px
    padding-left: 51px
    padding-bottom: 51px
    background-color: #1c4b6e
    transition: 0.3s
    z-index: 1
    &:hover
      box-shadow: 0 5px 40px rgba(#000, 0.4)
    &-df
      display: flex
      align-items: center
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
  &__content
    flex-grow: 1
    padding: 45px 114px 58px 108px
    background-color: #ebeff2
    font-size: 16px
    line-height: 1.625 /* 26 / 16 */
    letter-spacing: 0.025em
    font-weight: 600
    strong
      font-weight: 700
    p
      margin-bottom: 26px
      &:last-of-type
        margin-bottom: 0
  &__times
    padding-top: 45px
    padding-bottom: 64px
    &-wrap
      position: relative
    &-slider
      overflow: hidden
    &-item
      transition: 0.3s
      &:hover
        transform: translateY(-8px)
    &-num
      display: block
      margin-bottom: 20px
      font-size: 50px
      line-height: 1.2
      font-weight: 800
      text-transform: uppercase
      letter-spacing: 0.025em
      color: #ebeff2
    &-text
      font-size: 16px
      line-height: 1.625 /* 26 / 16 */
      font-weight: 600
      letter-spacing: 0.025em
  &__certs
    display: flex
    justify-content: space-between
    padding-bottom: 89px
    .certs__slider-wrap
      position: relative
      width: 62.1172%
    .certs__slider-btns
      .swiper-dots
        position: absolute
        left: 50%
        bottom: -20px
        margin-top: 0
        transform: translateX(-50%)
    &-content
      width: 36.01864181091877%
      max-width: 494px
      margin-right: 20px
    &-nums
      margin: 0
      padding: 0
      list-style: none
      display: flex
      flex-wrap: wrap
      padding-top: 48px
      & > li
        width: calc((100% - 74px) / 2)
        margin-right: 74px
        padding-bottom: 32px
        transition: 0.3s
        &:hover
          transform: translateY(-8px)
        &:nth-of-type(2n)
          margin-right: 0
        &:nth-of-type(n + 3)
          padding-bottom: 0
    &-num
      display: block
      margin-bottom: 8px
      line-height: 1.2
      font-weight: 800
      text-transform: uppercase
      letter-spacing: 0.025em
      color: #1c4b6e
      font-size: 30px
      strong
        font-size: 50px
        font-weight: 800
    &-text
      display: block
      line-height: 1.625 /* 26 / 16 */
      font-weight: 600
      letter-spacing: 0.025em
      b
        font-weight: 700
      strong
        font-weight: 800
        color: #000000
  &__mod
    padding-bottom: 47px
    &-df
      display: flex
      justify-content: space-between
      align-items: flex-start
    &-list
      margin: 0
      padding: 0
      list-style: none
      width: 44.47403462050599%
      margin-right: 20px
      padding: 31px 36px
      background-color: #ebeff2
      & > li
        display: flex
        align-items: center
        padding-bottom: 21px
        &:last-of-type
          padding-bottom: 0
    &-img
      flex-shrink: 0
      width: 204px
      height: 109px
      margin-right: 44px
      background-color: #ffffff
      border-radius: 8px
      overflow: hidden
      img
        display: block
    &-text
      font-size: 18px
      font-weight: 800
      text-transform: uppercase
      letter-spacing: 0.025em
      color: #000000
    &-content
      width: 50.06657789613848%
      padding-top: 10px
      padding-right: 84px
      font-size: 16px
      line-height: 1.625 /* 26 / 16 */
      font-weight: 600
      letter-spacing: 0.025em
      p
        margin-bottom: 25px
        &:last-of-type
          margin-bottom: 0


  @media screen and (max-width: 1400px)
    &__timeline
      margin-bottom: 36px
      &-item
        padding-top: 14px
      &-num
        margin-bottom: 10px
        font-size: 40px
      &-title
        font-size: 16px
      &-text
        margin-top: 10px
        font-size: 14px
    &__mod
      &-content
        width: 52.066578%
        padding-right: 0
      &-list
        padding: 31px 26px
      &-img
        margin-right: 24px
      &-text
        font-size: 16px
    &__times
      padding-top: 35px
      padding-bottom: 44px
      &-num
        margin-bottom: 12px
        font-size: 40px
      &-text
        font-size: 14px
    &__certs
      &-text
        font-size: 14px
      &-nums
        padding-top: 28px
        & > li
          width: calc((100% - 24px) / 2)
          margin-right: 24px
          padding-bottom: 22px
      &-num
        font-size: 21px
        strong
          font-size: 35px
      &-text
        font-size: 14px
    &__content
      padding: 25px 44px 28px 48px
      font-size: 14px
    &__video
      width: 36.543276%
      height: 278px
      padding-left: 21px
      padding-bottom: 21px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__timeline
      margin-bottom: 26px
      &-item
        padding-top: 10px
        padding-left: 15px
      &-num
        margin-bottom: 8px
        font-size: 34px
      &-title
        font-size: 15px
      &-text
        margin-top: 8px
        font-size: 13px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__mod
      &-list
        padding: 21px 16px
      &-img
        width: 154px
        height: 89px
      &-text
        font-size: 14px
      &-content
        font-size: 14px
        p
          margin-bottom: 15px
    &__content
      p
        margin-bottom: 16px
    &__video
      width: 39.543276%

  // max-width 1070px

  @media screen and (max-width: 991px)
    padding-top: 29px
    &__content
      padding: 20px 24px 20px
      p
        margin-bottom: 10px

  // max-width 991px

  @media screen and (max-width: 900px)
    &__certs
      display: block
      &-content
        width: 100%
        margin-right: 0
      .certs__slider-wrap
        width: 100%
        padding-top: 30px
    &__video
      width: 45.543276%

  // max-width 900px

  @media screen and (max-width: 767px)
    &__mod
      &-df
        display: block
      &-list
        width: 100%
        margin-right: 0
        margin-bottom: 15px
      &-content
        width: 100%
    &__df
      display: block
    &__video
      width: 100%
      height: 238px
    &__timeline
      &-num
        font-size: 28px
      &-title
        font-size: 14px
        line-height: 1.3
        br
          display: none
      &-text
        br
          display: none

  // max-width 767px

  @media screen and (max-width: 500px)
    padding-top: 19px
    &__timeline
      margin-bottom: 12px
    &__mod
      padding-bottom: 35px
      &-img
        width: 104px
        height: 69px
        margin-right: 15px
      &-text
        font-size: 13px
    &__certs
      padding-bottom: 59px
      &-nums
        padding-top: 18px
        & > li
          width: calc((100% - 14px) / 2)
          margin-right: 14px
      &-num
        font-size: 19px
        strong
          font-size: 28px
      &-text
        font-size: 13px
    &__video
      height: 208px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__timeline
      overflow: visible
      &::before
        content: none
      &-item
        padding-left: 10px

  // max-width 400px

/* about */
