.clients
  position: relative
  padding-top: 25px
  padding-bottom: 43px
  .page-title
    margin-bottom: 26px
    text-align: center
  .container
    max-width: 1170px
  &__list
    margin: 0
    padding: 0
    list-style: none
    margin-bottom: 46px
  &__item
    display: flex
    margin-bottom: 19px
    padding: 36px 61px 45px 31px
    background-color: #ffffff
    &:last-of-type
      margin-bottom: 0
  &__img
    flex-shrink: 0
    width: 248px
    padding-top: 7px
    margin-right: 35px
    text-align: center
    img
      width: auto
      max-width: 100%
  .article
    font-weight: 600
    letter-spacing: 0.025em


  @media screen and (max-width: 1400px)
    &__item
      padding: 26px 31px 25px 21px
    &__img
      width: 188px

  // max-width 1400px

  @media screen and (max-width: 1070px)
    &__img
      width: 148px

  // max-width 1070px

  @media screen and (max-width: 767px)
    &__img
      width: 108px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-bottom: 23px
    &__list
      margin-bottom: 36px
    &__item
      display: block
      padding: 16px 21px 25px
    &__img
      margin-bottom: 20px

  // max-width 575px

/* clients */
