mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__left
          //. Нужны две картинки - для ретины и обычная
          .scr1__slider#scr1__slider
            .swiper-wrapper
              .swiper-slide
                a.scr1__slider-item(href="#")
                  picture
                    source(srcset="img-temp/slider-img-retina.jpg 4x, img-temp/slider-img-retina.jpg 2x, img-temp/slider-img.jpg 1x" data-object-fit-cover)
                    img(src="img-temp/slider-img.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                a.scr1__slider-item(href="#")
                  picture
                    source(srcset="img-temp/slider-img-retina.jpg 2x, img-temp/slider-img.jpg 1x" data-object-fit-cover)
                    img(src="img-temp/slider-img.jpg" alt="" data-object-fit-cover)


            .scr1__slider-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next

        ul.scr1__feat
          li
            .scr1__feat-item

              .scr1__feat-img(style="background: transparent url('img/feat-1.jpg') no-repeat center center; background-size: cover;")
              .scr1__feat-text
                p
                  strong Бесплатная консультация
                  br
                  |  по индивидуальному подбору
                  br
                  |  косметики от бьюти-эксперта

                a(href="#") Заказать консультацию

          li
            .scr1__feat-item
              .scr1__feat-img(style="background: transparent url('img/feat-2.jpg') no-repeat center center; background-size: cover;")
              .scr1__feat-text
                p
                  strong бонусная система
                  br
                  |  вернем 5% от покупки на Ваш
                  br
                  |  бонусный счет

          li
            .scr1__feat-item
              .scr1__feat-img(style="background: transparent url('img/feat-3.jpg') no-repeat center center; background-size: cover;")
              .scr1__feat-text
                p
                  strong фиксированная стоимость
                    br
                    |  доставки
                  br
                  |  выбирай удобный способ

  // /.scr1
