mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__left
          .scr1__slider#scr1__slider
            .swiper-wrapper
              .swiper-slide
                a.scr1__slider-item(href="#")
                  noscript
                    img.lazy(src="img-temp/slider-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/slider-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .swiper-slide
                a.scr1__slider-item(href="#")
                  noscript
                    img.lazy(src="img-temp/slider-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/slider-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .swiper-slide
                a.scr1__slider-item(href="#")
                  noscript
                    img.lazy(src="img-temp/slider-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/slider-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .scr1__slider-btns
              .swiper-dots

        ul.scr1__feat
          li
            .scr1__feat-item

              .scr1__feat-img(style="background: transparent url('img/feat-1.jpg') no-repeat center center; background-size: cover;")
              .scr1__feat-text
                p
                  strong Бесплатная консультация
                  br
                  |  по индивидуальному подбору
                  br
                  |  косметики от бьюти-эксперта

                a(href="#") Заказать консультацию

          li
            .scr1__feat-item
              .scr1__feat-img(style="background: transparent url('img/feat-2.jpg') no-repeat center center; background-size: cover;")
              .scr1__feat-text
                p
                  strong 100% оригинальная продукция
                  br
                  |  с подтверждающим QR-кодом
                  br
                  |  на каждом продукте

          li
            .scr1__feat-item
              .scr1__feat-img(style="background: transparent url('img/feat-3.jpg') no-repeat center center; background-size: cover;")
              .scr1__feat-text
                p
                  b Оплата
                  |  на сайте или при получении
                  br
                  b Доставка:
                  |  СДЭК / Почта РФ /
                  br
                  |  курьер по Москве

  // /.scr1
