mixin scr_categories()
  section.scr_categories.categories(id="scr_categories")
    .container
      ul.categories__list
        li
          a.categories__item(href="#")
            .categories__img
              img(src="img/categories/img-1.jpg" alt="" data-object-fit-cover)

            h3.categories__title для Волос

        li
          a.categories__item(href="#")
            .categories__img
              img(src="img/categories/img-2.jpg" alt="" data-object-fit-cover)

            h3.categories__title для Лица

        li
          a.categories__item(href="#")
            .categories__img
              img(src="img/categories/img-3.jpg" alt="" data-object-fit-cover)

            h3.categories__title Наборы

        li
          a.categories__item(href="#")
            .categories__img
              img(src="img/categories/img-4.jpg" alt="" data-object-fit-cover)

            h3.categories__title Мини формат

        li
          a.categories__item(href="#")
            .categories__img
              img(src="img/categories/img-5.jpg" alt="" data-object-fit-cover)

            h3.categories__title для Тела

        li
          a.categories__item(href="#")
            .categories__img
              img(src="img/categories/img-6.jpg" alt="" data-object-fit-cover)

            h3.categories__title Макияж


  // /.scr_categories
