mixin scr_brands()
  section.scr_brands.brands(id="scr_brands")
    .container
      .brands__header
        h2.page-title Популярные бренды

      .brands__slider-wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-4.jpg" alt="" width="125" height="90" data-object-fit-contain)

            .swiper-slide
              a.brands__item(href="#")
                noscript
                  img.lazy(src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/brands/img-5.jpg" alt="" width="125" height="90" data-object-fit-contain)


        .brands__slider-btns
          button.swiper-button-prev
          button.swiper-button-next


  // /.scr_brands
