mixin scr_insta()
  section.scr_insta.insta.grey-bg(id="scr_insta")
    .container
      h2.page-title мы в instagram

      .insta__df
        .insta__left
          a.insta__link(href="#") #bubbleday.ru

        ul.insta__list
          li
            a.insta__item.fancybox(href="img-temp/insta-1.jpg")
              noscript
                img.lazy(src="img-temp/insta-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li
            a.insta__item.fancybox(href="img-temp/insta-2.jpg")
              noscript
                img.lazy(src="img-temp/insta-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li
            a.insta__item.fancybox(href="img-temp/insta-3.jpg")
              noscript
                img.lazy(src="img-temp/insta-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li
            a.insta__item.fancybox(href="img-temp/insta-4.jpg")
              noscript
                img.lazy(src="img-temp/insta-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

  // /.scr_insta
