mixin scr_prod()
  section.scr_prod.prod.grey-bg(id="scr_prod")
    .container
      .prod__header
        h2.page-title товары недели со скидкой

      .prod__slider-wrap
        .prod__slider#prod__slider
          .swiper-wrapper
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--new new
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт


                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--new new
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт


                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")


        .prod__slider-btns
          button.swiper-button-prev
          button.swiper-button-next

  // /.scr_prod

mixin scr_prod--prod-item()
  section.scr_prod.prod.prod--prod-item.grey-bg(id="scr_prod")
    .container
      .prod__header
        h2.page-title с этим товаром часто покупают

      .prod__slider-wrap
        .prod__slider#prod__slider
          .swiper-wrapper
            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--new new
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт


                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            .swiper-slide
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")


        .prod__slider-btns
          button.swiper-button-prev
          button.swiper-button-next

  // /.scr_prod

mixin scr_prod--page()
  section.scr_prod.prod.prod--page(id="scr_prod")
    .container
      +breadcrumbs--prod

      .prod__df
        aside.prod__menu
          ul.menu
            li.menu-item.menu-item-has-children
              a(href="#") Лицо
                .arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")

              ul.sub-menu
                li.menu-item
                  a(href="#") Демакияж
                li.menu-item
                  a(href="#") Очищение
                li.menu-item
                  a(href="#") Тонеры и мисты
                li.menu-item
                  a(href="#") Сыворотки
                li.menu-item
                  a(href="#") Кремы
                li.menu-item
                  a(href="#") Маски
                li.menu-item
                  a(href="#") Пилинги / Скрабы
                li.menu-item
                  a(href="#") Патчи
                li.menu-item
                  a(href="#") Тканевые маски
                li.menu-item
                  a(href="#") Крем для век
                li.menu-item
                  a(href="#") Солнцезащитные средства
            li.menu-item.menu-item-has-children
              a(href="#") Тело
                .arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              ul.sub-menu
                li.menu-item
                  a(href="#") Демакияж
                li.menu-item
                  a(href="#") Очищение
                li.menu-item
                  a(href="#") Тонеры и мисты
                li.menu-item
                  a(href="#") Сыворотки
                li.menu-item
                  a(href="#") Кремы
                li.menu-item
                  a(href="#") Маски
            li.menu-item.menu-item-has-children
              a(href="#") Волосы
                .arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
              ul.sub-menu
                li.menu-item
                  a(href="#") Демакияж
                li.menu-item
                  a(href="#") Очищение
                li.menu-item
                  a(href="#") Тонеры и мисты
            li.menu-item.menu-item-has-children
              a(href="#") Мини формат
                .arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
            li.menu-item.menu-item-has-children
              a(href="#") Макияж
                .arrow
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#arrow")
            li.menu-item
              a(href="#") Наборы
            li.menu-item
              a(href="#") Бренды
            li.menu-item
              a(href="#") Акции

        .prod__main
          h1.page-title Очищение

          .prod__sort
            //. Сюда сортировку поместить


          ul.prod__list
            li
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")
            li
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")
            li
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")
            li
              .prod__item
                .prod__top
                  span.prod__label hit
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

            li
              .prod__item
                .prod__top
                  span.prod__label.prod__label--action %
                  button.prod__like
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#heart")

                a.prod__img(href="#")
                  noscript
                    img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

                .prod__content
                  h3.prod__title Гидрогелевые патчи с экстрактом красного вина
                  a.prod__more(href="#") Осветляющие патчи для век с экстрактом розы и вина 60 шт

                .prod__bottom
                  .prod__prices
                    b.prod__price.prod__price--new 950 Р
                    b.prod__price.prod__price--old 1 150 Р

                  .prod__btns
                    .btn__wrap.btn__wrap--pink
                      a.btn.btn--pink(href="#") в корзину
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#packet")

          +paginator

  // /.scr_prod
