mixin scr_blog()
  section.scr_blog.blog.blog--main(id="scr_blog")
    .container
      .blog__wrap
        h2.page-title Полезные бьюти-статьи

        ul.blog__list
          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Корейские пенки для лица: как подобрать и пользоваться

          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Шампуни для жирной кожи головы

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Безсульфатный шампунь –
                  br
                  |  для чего и кому нужен

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...

  // /.scr_blog

mixin scr_blog--page()
  section.scr_blog.blog.blog--page(id="scr_blog")
    .container
      .blog__wrap

        ul.blog__list
          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Шампуни для жирной кожи головы

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...

          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Безсульфатный шампунь –
                  br
                  |  для чего и кому нужен

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...

          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Безсульфатный шампунь –
                  br
                  |  для чего и кому нужен

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...
          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Шампуни для жирной кожи головы

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Безсульфатный шампунь –
                  br
                  |  для чего и кому нужен

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...
          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Шампуни для жирной кожи головы

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...
          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Шампуни для жирной кожи головы

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...

          li
            a.blog__item(href="#")
              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Избавиться от черных точек средствами корейской косметики

                .blog__text
                  p Черные точки на лице — они же открытые комедоны. В порах скапливается кожное сало, ороговевшие клетки. Привычное место скопления — нос, потому что здесь максимум сальных желез, и черным точкам есть откуда «питаться».  По сути, с дерматологической точки зрения, это разновидность акне. Неприятно, неэстетично и утомительно...

          li
            a.blog__item(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .blog__content
                time(datetime="2020-10-23") 23 октября 2020

                h3 Шампуни для жирной кожи головы

                .blog__text
                  p Для многих шампуни для жирной кожи - это жизненная необходимость...


        +paginator

  // /.scr_blog

mixin scr_blog--recent()
  aside.scr_blog.blog.blog--recent(id="scr_blog")
    .blog__wrap
      h2.blog__title Недавние посты

      ul.blog__list
        li
          a.blog__item(href="#")
            .blog__img
              noscript
                img.lazy(src="img-temp/blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-10-23") 23 октября 2020

              .blog__text
                p Для многих шампуни для жирной кожи - это жизненная необходимость..

        li
          a.blog__item(href="#")
            .blog__img
              noscript
                img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-10-23") 23 октября 2020

              .blog__text
                p Для многих шампуни для жирной кожи - это жизненная необходимость...

        li
          a.blog__item(href="#")
            .blog__img
              noscript
                img.lazy(src="img-temp/blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-10-23") 23 октября 2020

              .blog__text
                p Для многих шампуни для жирной кожи - это жизненная необходимость..

        li
          a.blog__item(href="#")
            .blog__img
              noscript
                img.lazy(src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              time(datetime="2020-10-23") 23 октября 2020

              .blog__text
                p Для многих шампуни для жирной кожи - это жизненная необходимость...


  // /.scr_blog
