mixin scr_prod()
  section.scr_prod.prod.grey-bg(id="scr_prod")
    .container
      h2.page-title Топ 10 товаров недели со скидкой

      .prod__slider#prod__slider
        .swiper-wrapper
          .swiper-slide
            .prod__item
              .prod__top
                span.prod__label hit
                button.prod__like
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#heart")

              a.prod__img.fancybox(href="img-temp/prod-1.jpg")
                noscript
                  img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h3.prod__title trimay
                p.prod__desc патчи для век, уход за глазами

                p.prod__more Осветляющие патчи для век с экстрактом розы и вина 60 шт

              .prod__bottom
                .prod__prices
                  b.prod__price.prod__price--new 950 Р
                  b.prod__price.prod__price--old 1 150 Р

                .prod__btns
                  .btn__wrap.btn__wrap--blue
                    a.btn.btn--blue(href="#") в корзину

          .swiper-slide
            .prod__item
              .prod__top
                span.prod__label.prod__label--new new
                button.prod__like
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#heart")

              a.prod__img.fancybox(href="img-temp/prod-2.jpg")
                noscript
                  img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h3.prod__title trimay
                p.prod__desc патчи для век, уход за глазами

                p.prod__more Осветляющие патчи для век с экстрактом розы и вина 60 шт

              .prod__bottom
                .prod__prices
                  b.prod__price.prod__price--new 950 Р
                  b.prod__price.prod__price--old 1 150 Р

                .prod__btns
                  .btn__wrap.btn__wrap--blue
                    - var n = 0;
                    .btn__bubbles
                      while n < 10
                        span
                        - n++;
                    a.btn.btn--blue(href="#") в корзину

          .swiper-slide
            .prod__item
              .prod__top
                span.prod__label hit
                button.prod__like
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#heart")

              a.prod__img.fancybox(href="img-temp/prod-1.jpg")
                noscript
                  img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h3.prod__title trimay
                p.prod__desc патчи для век, уход за глазами

                p.prod__more Осветляющие патчи для

              .prod__bottom
                .prod__prices
                  b.prod__price.prod__price--new 950 Р
                  b.prod__price.prod__price--old 1 150 Р

                .prod__btns
                  .btn__wrap.btn__wrap--blue
                    - var n = 0;
                    .btn__bubbles
                      while n < 10
                        span
                        - n++;
                    a.btn.btn--blue(href="#") в корзину

          .swiper-slide
            .prod__item
              .prod__top
                span.prod__label.prod__label--action %
                button.prod__like
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#heart")

              a.prod__img.fancybox(href="img-temp/prod-2.jpg")
                noscript
                  img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h3.prod__title trimay
                p.prod__desc патчи для век, уход за глазами

                p.prod__more Осветляющие патчи для

              .prod__bottom
                .prod__prices
                  b.prod__price.prod__price--new 950 Р
                  b.prod__price.prod__price--old 1 150 Р

                .prod__btns
                  .btn__wrap.btn__wrap--blue
                    - var n = 0;
                    .btn__bubbles
                      while n < 10
                        span
                        - n++;
                    a.btn.btn--blue(href="#") в корзину

          .swiper-slide
            .prod__item
              .prod__top
                span.prod__label.prod__label--new new
                button.prod__like
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#heart")

              a.prod__img.fancybox(href="img-temp/prod-2.jpg")
                noscript
                  img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h3.prod__title trimay
                p.prod__desc патчи для век, уход за глазами

                p.prod__more Осветляющие патчи для век с экстрактом розы и вина 60 шт

              .prod__bottom
                .prod__prices
                  b.prod__price.prod__price--new 950 Р
                  b.prod__price.prod__price--old 1 150 Р

                .prod__btns
                  .btn__wrap.btn__wrap--blue
                    - var n = 0;
                    .btn__bubbles
                      while n < 10
                        span
                        - n++;
                    a.btn.btn--blue(href="#") в корзину

          .swiper-slide
            .prod__item
              .prod__top
                span.prod__label hit
                button.prod__like
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#heart")

              a.prod__img.fancybox(href="img-temp/prod-1.jpg")
                noscript
                  img.lazy(src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-1.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h3.prod__title trimay
                p.prod__desc патчи для век, уход за глазами

                p.prod__more Осветляющие патчи для

              .prod__bottom
                .prod__prices
                  b.prod__price.prod__price--new 950 Р
                  b.prod__price.prod__price--old 1 150 Р

                .prod__btns
                  .btn__wrap.btn__wrap--blue
                    - var n = 0;
                    .btn__bubbles
                      while n < 10
                        span
                        - n++;
                    a.btn.btn--blue(href="#") в корзину

          .swiper-slide
            .prod__item
              .prod__top
                span.prod__label.prod__label--action %
                button.prod__like
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#heart")

              a.prod__img.fancybox(href="img-temp/prod-2.jpg")
                noscript
                  img.lazy(src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod-2.jpg" alt="" width="125" height="90" data-object-fit-contain)

              .prod__content
                h3.prod__title trimay
                p.prod__desc патчи для век, уход за глазами

                p.prod__more Осветляющие патчи для

              .prod__bottom
                .prod__prices
                  b.prod__price.prod__price--new 950 Р
                  b.prod__price.prod__price--old 1 150 Р

                .prod__btns
                  .btn__wrap.btn__wrap--blue
                    - var n = 0;
                    .btn__bubbles
                      while n < 10
                        span
                        - n++;
                    a.btn.btn--blue(href="#") в корзину


      .prod__slider-btns
        .swiper-dots

  // /.scr_prod
