/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1490px) {
    .container {
     max-width: 1390px;
 }
 .slider-billbord__title {
    font-size: 32px;
}
.slider-billbord__item {
 font-size: 18px;
}
.consultation::after {
 right: -100px;
}
.header-search.active .header-search__line {
    width: 790px;
    }
    .header__fixed .header-search.active .header-search__line {
    width: 939px;
}
.search-page {
    width: 670px;
    left: -30px;
    }
}
@media only screen and (max-width : 1390px) {
    .btn-basket {
        width: 78px;
    }
    .container {
     max-width: 1200px;
 }
 .phone-number {
    font-size: 16px;
}
.header-location {
    font-size: 13px;
    line-height: 19px;
}
.logo-name {
    font-size: 20px;
    max-width: 192px;
}
.header-categories li a {
 font-size: 13px;
}
.slider-billbord__title {
    font-size: 29px;
    line-height: 45px;
    max-width: 765px;
}
.slider-billbord__item {
    font-size: 16px;
}
.item-product .btn-main {
	font-size: 14px;
	padding: 0 25px;
}
.item-product {
	padding-left: 15px;
	padding-right: 15px;
}
.block-form {
    padding: 55px 35px;
}
.header__fixed .phone-number {
    margin-left: 8px;
}
.header__fixed .btn-basket {
	margin-left: 5px;
}
.menu li a {
    font-size: 13px;
}
.header__fixed .logo-name {
    font-size: 17px;
    max-width: 177px;
}
.consultation::after {
    width: 1200px;
    left: 0;
    right: 0;
    transform: translateX(300px);
}
.table-wrap table td:not(:first-child) {
 padding-right: 20px;
}
.tabs-card li a {
    font-size: 15px;
}
.card__center {
	padding-left: 15px;
}
.card__center .btn-main {
    width: 200px;
}
.item-color__image img {
    width: 145px;
}
.header-location {
    display: none;
}
.header-search.active .header-search__line {
    width: 625px;
}
.header-categories li a {
font-size: 10px;
}
.header__fixed .header-search.active .header-search__line {
    width: 767px;
}
.search-page {
    width: 543px;
    left: 0;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .header__fixed.fixed .header-search.mob {
        display: block;
    }
    .container {
     max-width: 920px;
 }
 .header-categories {
     flex-wrap: wrap;
 }
 .header__top {
     display: none;
 }
 .header__fixed {
     visibility: visible;
     opacity: 1;
 }
 .menu {
     display: none;
 }
 .header__fixed .phone-number {
     margin-left: auto;
 }
 .header__fixed .btn-basket {
    margin-left: 12px;
    margin-right: 15px;
    border-right: 1px #ccc solid;
}
.header {
	padding-top: 84px;
}
.header__bottom {
	display: none;
}
.slider-billbord__title {
    font-size: 24px;
    line-height: 40px;
    max-width: 625px;
}
.slider-billbord__item {
    padding-top: 37px;
    padding-left: 20px;
    font-size: 14px;
    min-height: 410px;
}
.header__fixed .btn_nav {
	display: inline-block;
}
.item-product {
	margin: 0 auto;
}
.table-wrap table td {
	padding: 15px 15px;
}
body {
	font-size: 14px;
}
.item-advantage {
	line-height: 21px;
	margin-bottom: 45px;
}
.item-advantage__name {
	font-size: 14px;
}
.item-advantage p {
	font-size: 13px;
}
.consultation__descr {
    font-size: 29px;
    line-height: 43px;
    max-width: 335px;
}
.consultation__title {
    font-size: 28px;
    line-height: 42px;
    padding-bottom: 15px;
    max-width: 466px;
}
.item-article {
 max-width: 350px;
 margin: 0 auto;
}
.slider-billbord__item li::before {
 top: 0;
}
.questions .block-form {
 padding-left: 15px;
 padding-right: 15px;
}
.consultation::after {
	display: none;
}
.table-wrap table tbody td:nth-child(2) {
  text-align: left;
}  
.tab-container-card {
 padding-left: 15px;
 padding-right: 15px;
}
.item-color__image img {
    width: 110px;
    height: 55px;
}
.tabs-card li a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}
.card__center .btn-main {
    width: 160px;
    font-size: 12px;
}
.card__center .btn-main {
    width: 131px;
    font-size: 11px;
}
.item-color__hover {
    top: -44px;
    width: 340px;
    height: 101px;
}

.header__fixed .list-social,
.header__fixed .phone-number {
	display: none;
}
.header__fixed .link-page {
	display: inline-block;
	position: relative;
	margin-left: auto;
}
.header__fixed .link-page i {
	position: absolute;
	left: -20px;
}
.header__fixed .btn_nav {
	display: inline-flex;
	align-items: center;
}
.btn_nav__text {
	font-size: 16px;
	margin-right: 15px;
	color: #000;
	font-weight: 700;
}
.btn_nav__text {
	display: block;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	padding-top: 0;
}
.header__fixed {
	position: relative;
}
.wrapper {
	padding-top: 100px;
}
.header__bottom {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	overflow: auto;
	padding-bottom: 90px;
}

.wrap-menu .menu {
	display: flex;
}
.wrap-menu {
    top: 100px;
    padding: 43px 0;
    position: fixed;
}
.basket .container {
    max-width: 920px;
}
.col_radio_basket {
    padding-left: 15px;
}
.header__fixed .link-page {
    font-size: 0;
}
.header__fixed .link-page i {
    font-size: 20px;
    color: #000;
}
.header__fixed .btn-basket {
    border: none;
}
.btn_nav {
    padding: 0;
    background-color: transparent;
}
.header__fixed .header-search {
    margin-top: 8px;
    display: block;
    border: none;
}
.header-search__line {
    width: 100% !important;
    position: relative;
    opacity: 1;
    right: 0;
}
.btn-search-fake {
    display: none;
}
.header__fixed {
    background-color: #fff;
}
.header-search__line .item-form input,
.header-search__line {
    background-color: #f7f6f5;
}
.header-search__line .item-form input {
    height: 28px;
}
.btn-search {
    width: 35px;
    height: 28px;
    font-size: 15px;
}
.sandwich {
    width: 35px;
    height: 35px;
    padding-top: 3px;
}
.sandwich span {
    width: 17px;
    height: 3px;
}
.sw-bottom {
    top: 9px;
}
.sw-footer {
    top: 13px;
}
.sandwich.active .sw-footer {
    top: 7px;
    width: 17px;
    }
    .btn-basket__value {
    width: 16px;
    height: 16px;
    font-size: 9px;
}
.header__fixed .btn-basket {
    font-size: 20px;
    width: auto;
    height: auto;
    margin-right: 26px;
    margin-left: 20px;
}
.header__fixed .btn-basket__value {
    top: -1px;
    right: -10px;
}
.header__fixed .logo-name {
    font-size: 16px;
    }
    .logo-icon {
        width: 36px;
        height: 36px;
        font-size: 13px;
            line-height: 15px;
    }
    .header {
        border: none;
        position: relative;
    }
    .header__fixed {
        box-shadow: 0 7px 15px #f7f7f7;
        position: fixed;
    }
    .header-categories li a {
    font-size: 12px;
}
.header-categories__name {
    white-space: normal;
}
.header__bottom {
    position: relative;
    padding-bottom: 15px;
    border: none;
      display: block;
}
.header__wrap {
    flex-wrap: wrap;
}
.header__fixed .header-search {
    width: 100%;
    order: 2;
    margin-left: 0;
}
.header__fixed .btn-search-fake, .header__fixed .btn-search {
    height: 28px;
    width: 35px;
}
.search-page {
    width: 360px;
    }
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container {
     max-width: 720px;
 }
 .slider-billbord__title {
    font-size: 21px;
    line-height: 32px;
    max-width: 500px;
}
.slider-billbord__item li {
	max-width: 415px;
	margin-bottom: 10px;
}
.slider-billbord__item {
	line-height: 21px;
}
.slider-billbord__item .btn-main {
    margin-top: 10px;
}
.btn-main {
	font-size: 14px;
	line-height: 21px;
	height: 55px;
}
.portfolio {
	padding-top: 20px;
}
.slider-portfolio__item {
	width: 700px;
	height: 390px;
}
.slider-portfolio__name {
	font-size: 16px;
}
.slider-arrows {
    width: 700px;
}
.f-right {
 display: block;
}
.prices-table-wrap {
 max-width: 100%;
}
.title-section {
    font-size: 26px;
    padding-top: 20px;
    line-height: 37px;
}
.advantages {
    padding-top: 10px;
}
.consultation__title {
	max-width: 100%;
}
.consultation__descr {
    font-size: 25px;
    line-height: 37px;
    max-width: 100%;
    margin-bottom: 20px;
}
.block-form {
	padding: 30px 50px;
}
.consultation {
    background-position: 16% 50%;
}
.sidebar-catalog {
 margin-bottom: 25px;
 display: none;
}
.title-section_left {
 padding-top: 0;
}
.questions .block-form {
 padding-left: 35px;
 padding-right: 35px;
 margin: 0 auto;
}
.btn-main_filter {
 display: flex;
 margin-bottom: 25px;
}
.btn-main_filter i {
 margin-left: auto;
}
.row_top {
 text-align: center;
}
.row_top .align_righ {
 text-align: center;
}
.row_top > div {
 padding-top: 8px;
 padding-bottom: 8px;
}
.slider-warehouse__item {
 height: 400px;
}
.item-builder p {
 max-width: 100%;
}
.item-builder__title {
 padding-top: 15px;
}
.links-article {
 padding-top: 0;
}
.table-wrap table td:first-child {
 padding-right: 10px;
}
.card__center .btn-main {
    width: 160px;
    font-size: 13px;
}
.tabs-card {
	margin-top: 35px;
}
.tabs-card li a {
    font-size: 13px;
    line-height: 17px;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 50px;
}
.item-color {
	width: 20%;
}
.hover-hint {
	left: auto;
	right: 0;
	top: 100%;
	margin: 0;
	margin-top: 15px;
}
.hover-hint:before {
	right: 5px;
	top: auto;
	bottom: 100%;
    border: 10px transparent solid;
    border-bottom: 10px #fff solid;
}
.basket .container {
    max-width: 720px;
}
.name-basket {
    font-size: 15px;
}
.table-basket {
    font-size: 14px;
}
.table-basket td:first-child {
    padding-left: 10px;
}
.table-basket td:last-child {
    padding-right: 10px;
}
.image-basket {
    width: 80px;
    height: 80px;
}
.basket .descr-radio + .title-block {
    padding-top: 59px;
}
.menu li a {
    font-size: 12px;
}
.item-product__price {
    font-size: 18px;
        min-width: 124px;
    }
    .wrap-menu .menu li a {
    font-size: 12px;
}
.result-search__header {
    display: block;
}
.search-page {
    margin: 15px 0;
    margin-bottom: 25px;
    width: 100%;
}
.result-search .title-section {
    text-align: center;
}
.result-search .row_products {
    margin-bottom: 0;
}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.slider-billbord__title {
	margin-bottom: 15px;
}
.recomendation {
	padding-bottom: 15px;
}
.descr-section {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 15px;
}
.item-calculation {
 background-position: right 60% center;
}
.title-section {
    font-size: 22px;
    line-height: 34px;
}
.tabs li a {
	font-size: 15px;
	min-width: 175px;
}
.tabs li {
	padding: 0 5px;
}
.tabs {
	margin: 0 -5px;
}
.portfolio .title-section {
	padding-bottom: 20px;
}
.slider-portfolio__item {
	width: 400px;
	height: 300px;
	margin: 0 5px;
}
.slider-portfolio {
	padding-bottom: 35px;
}
.item-advantage__name {
    font-size: 16px;
    min-height: auto;
    margin-bottom: 15px;
}
.item-advantage {
    line-height: 23px;
    margin-bottom: 25px;
}
.item-advantage p {
    font-size: 14px;
}
.col_lr {
	padding-left: 15px;
	padding-right: 15px;
}
.consultation__title {
    font-size: 25px;
    line-height: 37px;
}
.col_footer.col-lg-5 {
 padding-left: 15px;
}
.footer .logo {
 margin-bottom: 15px;
 display: block;
}
.footer .logo-name {
 display: block;
 margin-left: 0;
 margin-top: 10px;
}
.page-articles .tabs li a {
 min-width: auto;
}
.bottom-articles + .pagination {
 margin-top: 0;
 padding-top: 15px;
}
.pagination ul {
 justify-content: center;
}
.page-articles {
 padding-bottom: 40px;
}
.slider-billbord__item {
 background-position: left center;
}
.head-page {
 display: block;
}
.head-page .sort-select {
 margin-top: 15px;
}
.question__name {
 font-size: 16px;
}
.item-contact__head {
 min-height: auto;
}
.slider-warehouse__item {
 height: 350px;
}
.builders .tabs li a {
    font-size: 13px;
    min-width: 145px;
}
.item-builder {
	padding-left: 20px;
	padding-right: 20px;
}
.slider-builders__item {
    height: 330px;
}
.item-builder__private {
 margin: 0;
 font-size: 18px;
 padding: 16px 30px;
}
.col_pr {
 padding-right: 15px;
}
.article {
 font-size: 16px;
}
.img-article {
 margin-left: 15px;
}
.img-article img {
 max-width: 200px;
}
.img-article_couple {
 margin-bottom: 0;
}
.card__image {
    height: 395px;
    padding: 19px;
    margin-bottom: 15px;
}
.card__center .btn-main {
    width: 203px;
    font-size: 14px;
}
.card__right {
	padding-top: 25px;
}
.tabs-card li a {
    font-size: 12px;
}
.item-color {
    width: 33%;
    margin-top: 20px;
}
.tab-container-card {
	background-position: 30px;
}
.hover-hint {
    left: 50%;
    right: auto;
    width: 265px;
    padding: 40px 10px;
    transform: translateX(-50%);
}
.hover-hint:before {
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 10px;
}

.row_article > div {
	padding: 0 5px;
}
.row_article {
	margin: 0 -5px;
}
.item-article__name {
    font-size: 16px;
    line-height: 26px;
}
.item-article__image {
    height: 205px;
}
.item-article {
    padding-bottom: 15px;
}
.row_article > div {
    margin-bottom: 10px;
}
.row_products > div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.row_products {
    margin: 0 -5px;
}
.item-product__price {
    font-size: 15px;
    line-height: 23px;
}
.item-product__name {
    font-size: 14px;
    line-height: 20px;
}
.item-product__image {
    height: 225px;
}
.item-product .btn-main {
    font-size: 12px;
    padding: 0 13px;
}
.item-product {
	padding-bottom: 15px;
}
.wrap-menu {
    padding: 15px 0;
    overflow: auto;
    padding-bottom: 70px;
}
.wrap-menu .menu {
	display: block;
}
.wrap-menu .menu li a {
	padding: 15px 0;
	font-size: 14px;
	border-bottom: 1px #000 solid;
	display: block;
}
.header {
	border: none;
}

.total-basket {
    font-size: 16px;
}
.col_radio_basket .title-block {
    padding-top: 0;
}
.basket .descr-radio + .title-block {
    padding-top: 25px;
}
.radio label span:before {
    top: 2px;
}
.radio label span:after {
    top: 7px;
}
.button-basket {
    padding-top: 0;
}
.delivery-basket {
    white-space: nowrap;
}
.header-categories__icon {
    height: 44px;
    padding: 12px;
    padding-bottom: 7px;
    }
    .header-categories li a {
    font-size: 11px;
}
.header-categories .slick-prev {
    left: -15px;
}
.header-categories .slick-next {
    right: -15px;
}
.header-categories li a {
    margin: 0 auto;
    max-width: 90px;
}
.slider-billbord__item {
    background-image: url(../img/billbord1_bg_mob.jpg);
}
.slider-billbord__title {
    font-size: 24px;
    line-height: 36px;
    max-width: 100%;
}
.slider-billbord__item ul {
    display: none;
}
.slider-billbord__item .btn-main {
    display: none;
}
.slider-billbord__title b {
    font-size: 20px;
    line-height: 30px;
    text-transform: none;
    display: block;
    font-weight: 500;
}
.slider-image-mobile {
    display: block;
}
.slider-image-mobile  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.slider-billbord__item {
   padding: 15px;
    min-height: auto;
}
.wrapper {
    padding-top: 97px;
}
.item-product__center {
    font-size: 12px;
    }
    .item-product__price {
        min-width: auto;
    }
    .item-product__bottom {
        display: block;
        text-align: center;
    }
    .item-product .btn-main {
    height: 40px;
    margin-top: 15px;
        font-size: 13px;
    padding: 0 17px;
}
.item-product__image {
    height: 185px;
    padding: 10px;
}
 .item-product .quantity {
    justify-content: center;
}
.table-basket {
    font-size: 12px;
}
.name-basket {
    font-size: 13px;
}
.image-basket {
    width: 60px;
    height: 60px;
    padding: 4px;
}
.table-basket td:last-child {
    padding-right: 0;
}
.price-basket {
    white-space: nowrap;
}
.total-basket-price {
    font-size: 18px;
    }
    .delivery-basket {
    font-size: 16px;
}
.text-addbasket {
    font-size: 15px;
    line-height: 25px;
    }
    .buttons-modal .btn-main {
        margin-top: 25px;
    }
    #add-basket .modal-wrap .title-section {
        padding-bottom: 15px;
    }
    .result-search .row_products {
        margin-bottom: 15px;
    }
}



@media only screen and (max-width : 570px) {
.table-basket tr {
    padding: 0 10px;
    position: relative;
    border-bottom: 1px #ccc solid;
    display: flex;
    flex-wrap: wrap;
}
.table-basket td {
    display: block;
    padding: 10px 0;
    border: none;
}
.table-basket thead {
    display: none;
}
.image-basket {
    width: 112px;
    height: 112px;
}
.table-basket .btn-delate {
    position: absolute;
    right: 10px;
    top: 10px;
}
.table-basket td::before {
    content: attr(data-table);
}
.table-basket td:nth-last-child(3),
.table-basket td:nth-last-child(2) {
    display: inline-block;
}
.table-basket td:first-child {
    padding-left: 0;
    top: 15px;
}
.table-basket {
    background-color: #fff;
}
.total-basket-price {
    font-size: 25px;
}
.table-basket tr:nth-last-child(2),
.table-basket tbody tr:last-child {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}
.table-basket tr:nth-last-child(2) td,
.table-basket tbody tr:last-child td  {
    text-align: left;
}
.table-basket td,
.table-basket table .product-name {    
    display: inline-block;
    width: 49%;
    margin: 0;
}
.table-basket td:nth-child(2) {
    padding-top: 49px;
}
.table-basket {
    font-size: 13px;
}
.table-basket td:last-child {
    padding-top: 10px;
}
.name-basket {
    font-size: 14px;
    padding-bottom: 3px;
}
.card__right {
    display: none;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .billbord {
     padding-bottom: 25px;
 }
 .slider-billbord {
    padding-bottom: 29px;
}
 .header__fixed .list-social {
     display: none;
 }
.header-categories li a {
    font-size: 9px;
}

.slider-billbord__item {
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 25px;
}
.slider-billbord__title {
    font-size: 18px;
    line-height: 30px;
}
.item-product__price {
    font-size: 21px;
}
.item-calculation__title {
    font-size: 25px;
    padding-top: 0;
    line-height: 34px;
}
.item-calculation {
	height: 225px;
}
.tabs li {
	flex: 1;
}
.tabs li a {
	width: 100%;
	min-width: auto;
}
.tabs {
	padding: 0 15px;
}
.slider-portfolio__item {
	width: 100%;
	margin: 0;
}
.slider-arrows {
	width: 100%;
}
.slider-portfolio__name {
    font-size: 14px;
    line-height: 21px;
}
.table-wrap table {
	font-size: 13px;
}
.table-wrap table td {
    padding: 11px 2px;
}
.table-wrap {
	padding: 5px;
	margin: 0 -15px;
}
.title-section {
    font-size: 20px;
    line-height: 31px;
}
.advantages .title-section {
    padding-bottom: 25px;
}
.consultation__title {
    font-size: 21px;
    line-height: 34px;
}
.consultation__descr {
    font-size: 18px;
    line-height: 26px;
}
.block-form {
	padding: 30px 15px;
}
.block-form__title {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
}
.item-article__name {
    font-size: 16px;
    line-height: 25px;
}
.item-article__image {
    height: 220px;
    margin-bottom: 20px;
}
.item-article__date {
 font-size: 13px;
 margin-bottom: 10px;
}
.item-article {
 padding-bottom: 20px;
}
.footer__title {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 10px;
}
.footer .logo-name {
	font-size: 15px;
}
.footer {
	font-size: 13px;
}
.footer .list-social {
	display: flex;
	margin-top: 10px;
	margin-left: 0;
}
.phone-number {
	font-size: 14px;
}
.footer br + br {
	display: none;
}
.page-articles .tabs li a {
	font-size: 12px;
	padding: 0 10px;
}
.page-articles .tabs {
	padding: 0 5px;
	padding-top: 15px;
}
.page-articles .tabs li {
	padding: 0 2px;
}
.question__name {
    padding: 15px 15px;
}
.question__answer {
 padding: 15px;
 padding-top: 5px;
}
.questions .title-section {
 padding-bottom: 20px;
}
.questions .block-form {
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 30px;
}
.item-sidebar__head {
    font-size: 16px;
}
.item-sidebar__dropdown {
	padding-left: 0;
	padding-right: 0;
}
.item-contact__head {
	padding-left: 15px;
	padding-right: 15px;
}
.map-contact {
	height: 300px;
}
.modal-wrap .block-form {
    padding-top: 31px;
    padding-bottom: 25px;
}
.slider-warehouse__item {
	height: 260px;
}
.builders .tabs li a {
    font-size: 12px;
    min-width: 93px;
    padding: 0 10px;
}
.item-builder__img img {
    max-width: 164px;
    max-height: 39px;
}
.item-builder__name {
    padding: 15px 0;
    padding-top: 20px;
    font-size: 20px;
}
.item-builder__center {
 padding: 0;
}
.item-builder .phone-number {
    font-size: 19px;
}
.slider-builders__item {
    height: 225px;
}
.item-builder {
 padding-left: 15px;
 padding-right: 15px;
}
.builders {
 padding-bottom: 10px;
}
.article ul:not(.breadcumbs) li {
 margin-bottom: 15px;
}
.img-article {
 float: none;
}
.subtitle {
    font-size: 16px;
    padding: 13px 0;
}
.img-article img {
	margin-bottom: 15px;
}
.img-article {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.img-article img {
	max-width: 40%;
}
.links-article li {
	margin-bottom: 15px !important;
}
.prices_page {
	padding-bottom: 35px;
}
.card__image {
	height: 300px;
}
.card p strong {
    font-size: 16px;
}
.mintitle-card {
    font-size: 16px;
}
.card__price {
    font-size: 27px;
}
.card__center .btn-main {
    width: 148px;
    font-size: 12px;
}
.line-card__left {
    width: 142px;
}
.card__title {
    font-size: 17px;
    margin-top: 25px;
}
.tabs-card {
 flex-wrap: wrap;
}
.tabs-card li {
 margin: 0;
 width: 50%;
 padding: 0 2px;
}
.tabs-card li a {
 font-size: 14px;
 margin-bottom: 10px;
 border: 1px transparent solid;
 border-radius:10px;
}
.line-card .item-form input {
 padding-left: 10px;
}
.tabs-card li a::after {
 display: none !important;
}
.title-colors {
    font-size: 16px;
}
.item-color {
    width: 50%;
}
.item-color__hover {
    top: -26px;
    width: 165px;
    height: 81px;
}
#thanks .modal-wrap .block-form {
    padding: 45px 10px;
}
.btn_nav__text {
    font-size: 13px;
    margin-right: 5px;
}
.header {
 padding-top: 0;
}

.item-article {
  padding: 4px;
  padding-bottom: 10px;
}
.item-article__name {
    font-size: 13px;
    line-height: 20px;
}
.item-article__date {
    font-size: 11px;
    margin-bottom: 6px;
}
.item-article__image {
    height: 150px;
    margin-bottom: 10px;
}
.item-product__price {
    font-size: 15px;
}
.item-product__left {
	margin-bottom: 10px;
}
.item-product__bottom {
	display: block;
	text-align: center;
}
.item-product__bottom  .quantity {
	justify-content: center;
}
.item-product__image {
	padding: 5px;
    height: 137px;
}
.item-product {
	font-size: 13px;
	padding-top: 10px;
}
.item-product_tag {
    top: 7px;
    height: 30px;
    padding: 2px 8px;
}
.item-product_tag::after {
    border-top: 30px solid #ff9000;
    border-right: 14px solid transparent;
}
.item-product .link-simple {
    margin: 5px 0;
    font-size: 13px;
}
.item-product__center {
    padding: 8px 0;
}
.item-product__buttons {
	display: block;
	text-align: center;
}
.item-product .btn-main {
	height: 40px;
	width: 100%;
	margin-top: 10px;
}
.item-product__oldprice {
	position: relative;
	top: 0;
	margin: 0;
}
.color-product a {
	border: none;  
}
.basket .title-section {
    padding-bottom: 15px;
}
.basket .title-block {
    padding-top: 25px;
    padding-bottom: 15px;
}
.col_radio_basket .title-block {
    padding-top: 0;
}
.basket .radio {
    margin-bottom: 15px;
}
.button-basket {
    padding-top: 15px;
}
.table-wrap table td:first-child {
    padding-left: 10px;
}
.item-product-prices {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.item-product .btn-main {
    font-size: 12px;
    margin-top: 15px;
}
.item-product__descr {
    font-size: 13px;
}
.header-categories__name {
    padding: 0 1px;
}
.buttons-modal .btn-main {
    font-size: 13px;
    line-height: 21px;
    margin-top: 20px;
}
.text-addbasket {
    font-size: 13px;
    line-height: 21px;
}
#add-basket .modal-wrap .block-form {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.result-search {
    padding-bottom: 35px;
}
}
@media only screen and (max-width : 390px) {
.header__fixed .logo-name {
    font-size: 11px;
    max-width: 111px;
    margin-left: 9px;
}
.header__fixed .btn-basket {
    margin-right: 15px;
    margin-left: 15px;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

} 


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.wrap-menu {
		height: auto !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sidebar-catalog {
     display: block !important;
 }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .header__bottom {
     display: block !important;
     height: auto !important;
 }
}
@media (min-width: 1600px) {
	.container {
        max-width: 1490px;
    }
}
@media only screen and (min-width : 1835px) {

}