mixin paginator()
  .pager.clear
    ul.page-numbers

      li.current
        a.page-numbers(href='#') 1
      li
        span.page-numbers.current(aria-current="page") 2
      li
        a.page-numbers(href='#') 3


  // /.paginator
