mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__menu#scr1__menu
        .swiper-wrapper
          .scr1__menu-slide.swiper-slide
            a.btn.btn--grey(href="#") Разработка
              br
              |  антикризисных
              br
              |  программ
          .scr1__menu-slide.swiper-slide

            a.btn.btn--grey(href="#") Разработка
              br
              |  инвестиционных
              br
              |  проектов

          .scr1__menu-slide.swiper-slide
            a.btn.btn--grey(href="#") Разработка
              br
              |  бизнес-планов

          .scr1__menu-slide.swiper-slide
            a.btn.btn--grey(href="#") Финансовый
              br
              |  анализ и оценка
              br
              |  бизнеса

          .scr1__menu-slide.swiper-slide
            a.btn.btn--grey(href="#") Финансовый
              br
              |  директор
              br
              |  в «аренду»

          .scr1__menu-slide.swiper-slide
            a.btn.btn--grey(href="#") Постановка
              br
              |  управленческого
              br
              |  програмучетам


      .scr1__menu-dots
        .swiper-dots

      .scr1__df
        .scr1__info
          h1.scr1__title Узнайте,
            br
            span.violet  как инвестировать в новый бизнес
            br
            span.blue  и&nbsp;сохранить действующий
            br
            |  в условиях кризиса

          .scr1__bottom
            p.scr1__from.text-leaf
              span от экспертов
                br
                span.blue  с 25-летним
                br
                |  опытом

            .scr1__form.form
              form.wpcf7-form
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                .btn__wrap.btn__wrap--grad
                  input.wpcf7-form-control.wpcf7-submit.btn(type='submit', value='Узнать подробнее')

        .scr1__img-wrap
          p.scr1__garantie
            span
              span.scr1__garantie-percent 100
                small %
                  br
                  |  гарантия
              br
              strong  принятия
              |  проектов
              br
              |  банками
              br
              |  и инвесторами

          .scr1__img
            noscript
              img.lazy(src="img/scr1-img.png" alt="" width="125" height="90" data-object-fit-contain)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-img.png" alt="" width="125" height="90" data-object-fit-contain)



      ul.scr1__feat
        li
          p Используем передовые практики для решения сложных и нестандартных задач в ваших интересах
        li
          p Объясняем сложные вещи простым языком, чтобы вы могли превратить наши знания и опыт в эффективные бизнес-инструменты.
        li
          p Выезжаем на предприятие, чтобы увидеть всё изнутри.
            br
            |  Работаем строго индивидуально.

  // /.scr1
