mixin scr_quote()
  section.scr_quote.quote(id="scr_quote")
    .container
      .quote__df
        .quote__img
          noscript
            img.lazy(src="img/quote-img.jpg" alt="" width="125" height="90" )
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/quote-img.jpg" alt="" width="125" height="90" )

        blockquote.quote__text
          p Любой
            strong  кризис – это
            br
            span  новые
              strong  возможности
          cite Уинстон Черчилль

  // /.scr_quote
