mixin scr_prices()
  section.scr_prices.prices(id="scr_prices")
    .container
      .prices__nav#prices__nav
        .swiper-wrapper
          .swiper-slide.prices__nav-item.current
              a(href="#prices__tab-0") Разработка
                br
                |  антикризисных
                br
                |  программ

          .swiper-slide.prices__nav-item
              a(href="#prices__tab-1") Разработка
                br
                |  инвестиционных
                br
                |  проектов

          .swiper-slide.prices__nav-item
              a(href="#prices__tab-2") Разработка
                br
                |  бизнес-планов

          .swiper-slide.prices__nav-item
              a(href="#prices__tab-3") Финансовый
                br
                |  анализ и оценка
                br
                |  бизнеса

          .swiper-slide.prices__nav-item
              a(href="#prices__tab-4") Финансовый
                br
                |  директор
                br
                |  в «аренду»

          .swiper-slide.prices__nav-item
              a(href="#prices__tab-5") Постановка
                br
                |  управленческого
                br
                |  учета

      ul.prices__tabs
        li.prices__tab#prices__tab-0
          .prices__wrap
            ul.prices__feat
              li
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-star")
                .prices__text
                  p Используем точечные управленческие инструменты, которые наиболее эффективны в российских условиях
              li
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-star")
                .prices__text
                  p Молниеносно и действенно реагируем на изменения среды за счет заранее продуманного набора тактик
              li
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-star")
                .prices__text
                  p Вводим в действие те управленческие и финансовые механизмы, которые позволяют выбираться из трудностей с наименьшими потерями

            .prices__table
              .prices__row.prices__row--heading
                .prices__cell
                  p Краткое описание
                .prices__cell
                  p Сроки
                .prices__cell
                  p Стоимость

              .prices__row
                .prices__cell
                  p
                    b Антикризисная программа
                      br
                      |  для малого бизнеса
                .prices__cell
                  p.mobile Сроки:
                  p от
                    b  15 дней
                .prices__cell
                  p от
                    b  35 000 Р
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-modal(href="#") Заказать


              .prices__row
                .prices__cell
                  p
                    b Антикризисная программа
                      br
                      |  для малого бизнеса
                .prices__cell
                  p.mobile Сроки:
                  p от
                    b  15 дней
                .prices__cell
                  p от
                    b  35 000 Р
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-modal(href="#") Заказать


              .prices__row
                .prices__cell
                  p
                    b Антикризисная программа
                      br
                      |  для малого бизнеса
                .prices__cell
                  p.mobile Сроки:
                  p от
                    b  15 дней
                .prices__cell
                  p от
                    b  35 000 Р
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-modal(href="#") Заказать


              .prices__row
                .prices__cell
                  p
                    b Антикризисная программа
                      br
                      |  для малого бизнеса
                .prices__cell
                  p.mobile Сроки:
                  p от
                    b  15 дней
                .prices__cell
                  p от
                    b  35 000 Р
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-modal(href="#") Заказать


        li.prices__tab#prices__tab-1
          .prices__wrap
            ul.prices__feat
              li
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-star")
                .prices__text
                  p Используем точечные управленческие инструменты, которые наиболее эффективны в российских условиях
              li
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-star")
                .prices__text
                  p Молниеносно и действенно реагируем на изменения среды за счет заранее продуманного набора тактик
              li
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-star")
                .prices__text
                  p Вводим в действие те управленческие и финансовые механизмы, которые позволяют выбираться из трудностей с наименьшими потерями


  // /.scr_prices
