mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .container
      h2.faq__title Часто-задаваемые
        strong  вопросы
        |  по финансам и&nbsp;инвестициям и развернутые
        strong  ответы на них

      .faq__df
        aside.faq__cond
          .faq__cond-wrap
            h2.title
              strong.blue Условия
              br
              |  работы и оплаты

            .article
              ul.faq__cond-list
                li Работаем с юридическими
                  br
                  |  и физическими лицами
                li Оплату принимаем на карту
                  br
                  |  и расчетный счет
                li Работаем без НДС

        .faq__wrap

          ul.faq__list
            li.faq__item
              .top
                h3 Зачем мне нужен бизнес-план?
                button.open
                  i.icon-circle
              .hidden
                .article
                  p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ, сопровождается гарантийными талонами производителя и подлежит обслуживанию в официальных сервисных центрах. При получении товара вы можете позвонить напрямую производителю или в сервис, продиктовать серийный номер изделия и убедиться, что товар является "белым" и подлежит обслуживанию.

            li.faq__item
              .top
                h3 Что является благоприятной финансовой средой для инвестирования?
                button.open
                  i.icon-circle
              .hidden
                .article
                  p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ

            li.faq__item
              .top
                h3 Что является благоприятной финансовой средой для инвестирования?
                button.open
                  i.icon-circle
              .hidden
                .article
                  p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ

            li.faq__item
              .top
                h3 Что является благоприятной финансовой средой для инвестирования?
                button.open
                  i.icon-circle
              .hidden
                .article
                  p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ

            li.faq__item
              .top
                h3 Что является благоприятной финансовой средой для инвестирования?
                button.open
                  i.icon-circle
              .hidden
                .article
                  p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ

            li.faq__item
              .top
                h3 Что является благоприятной финансовой средой для инвестирования?
                button.open
                  i.icon-circle
              .hidden
                .article
                  p  Весь товар, продающийся у нас является оригинальным, новым (не вскрытая упаковка), официально поставляемым на территорию РФ


  // /.scr_faq
