mixin scr_blog()
  section.scr_blog.blog.grey-bg(id="scr_blog")
    .container
      h1.title--second Блог

      ul.blog__list
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__link(href="#")
                h2 Как получить вычет по ИИС

              .article
                p Индивидуальный инвестиционный счет – это особый вид брокерского счета, который позволяет получить налоговый вычет с владения счетом или с проведения операций на бирже.

              time(datetime="2020-05-01") 01 мая 2020
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__link(href="#")
                h2 Как получить вычет по ИИС

              .article
                p Индивидуальный инвестиционный счет – это особый вид брокерского счета, который позволяет получить налоговый вычет с владения счетом или с проведения операций на бирже.

              time(datetime="2020-05-01") 01 мая 2020
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__link(href="#")
                h2 Как получить вычет по ИИС

              .article
                p Индивидуальный инвестиционный счет – это особый вид брокерского счета, который позволяет получить налоговый вычет с владения счетом или с проведения операций на бирже.

              time(datetime="2020-05-01") 01 мая 2020
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__link(href="#")
                h2 Как получить вычет по ИИС

              .article
                p Индивидуальный инвестиционный счет – это особый вид брокерского счета, который позволяет получить налоговый вычет с владения счетом или с проведения операций на бирже.

              time(datetime="2020-05-01") 01 мая 2020
        li.blog__item
          .blog__wrap
            a.blog__img(href="#")
              noscript
                img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .blog__content
              a.blog__link(href="#")
                h2 Как получить вычет по ИИС

              .article
                p Индивидуальный инвестиционный счет – это особый вид брокерского счета, который позволяет получить налоговый вычет с владения счетом или с проведения операций на бирже.

              time(datetime="2020-05-01") 01 мая 2020



      +paginator


  // /.scr_blog
