mixin scr_projects()
  section.scr_projects.projects(id="scr_projects")
    .projects__partners
      .container
        .projects__partners-wrap
          .projects__partners-slider#projects__partners
            .swiper-wrapper
              .swiper-slide.projects__partners-slide
                .projects__partners-img
                  noscript
                    img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

                .projects__partners-title
                  p НПО
                    br
                    |  «МОСТОВИК»

              .swiper-slide.projects__partners-slide
                .projects__partners-img
                  noscript
                    img.lazy(src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.png" alt="" width="125" height="90" data-object-fit-contain)

                .projects__partners-title
                  p ООО
                    br
                    |  «ПК Пирамида»

              .swiper-slide.projects__partners-slide
                .projects__partners-img
                  noscript
                    img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

                .projects__partners-title
                  p НПО
                    br
                    |  «МОСТОВИК»

              .swiper-slide.projects__partners-slide
                .projects__partners-img
                  noscript
                    img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

                .projects__partners-title
                  p НПО
                    br
                    |  «МОСТОВИК»

              .swiper-slide.projects__partners-slide
                .projects__partners-img
                  noscript
                    img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

                .projects__partners-title
                  p НПО
                    br
                    |  «МОСТОВИК»

              .swiper-slide.projects__partners-slide
                .projects__partners-img
                  noscript
                    img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

                .projects__partners-title
                  p НПО
                    br
                    |  «МОСТОВИК»

          .projects__partners-btns
            button.swiper-button-prev
              i.icon-circle
            .swiper-dots
            button.swiper-button-next
              i.icon-circle

  // /.scr_projects
