mixin scr_serv-item()
  section.scr_serv-item.serv-item.grey-bg(id="scr_serv-item")
    .container
      .serv-item__info
        +breadcrumbs--serv-item

        .serv-item__top
          .post__wrap
            .serv-item__df
              .serv-item__left
                .serv-item__img
                  noscript
                    img.lazy(src="img/svg/icons/serv-item-1.svg" alt="" width="125" height="90")
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/serv-item-1.svg" alt="" width="125" height="90")

              .serv-item__right
                h1.title--second.serv-item__title Разработка бизнес-планов

                .article
                  p
                    b Разработка бизнес-плана организации является одним из наиболее важных документов при создании нового бизнеса или освоения нового направления.

                  p Бизнес-план также называют оценкой целесообразности реализации инвестиционных намерений. Наши специалисты помогут на базе имеющихся предпосылок реализации проекта провести анализ его производственных, организационных, инвестиционно-финансовых и маркетинговых аспектов.

            .serv-item__df
              .serv-item__left
                h3 Цель:

              .serv-item__right
                .serv-item__purpose
                  .article
                    ul.with-icon
                      li
                        b Для получения финансирования
                        br
                        |  в банке, лизинговой или инвестиционной компании от вас потребуют разработать бизнес-план средней или развёрнутой степени проработки.

                      li
                        b Для управленческих целей
                        br
                        |  в крупной корпорации бизнес проект может выступать обоснованием для принятия инвестиционных решений, финансовая модель может применяться для внутреннего использования руководством, как инструмент контроля над выполнением планов и сроков.

                      li
                        b Для предоставления в государственные органы
                        br
                        |  бизнес-план производства может обеспечить получение налоговых льгот, субсидий, грантов и других форм поддержки.

                      li
                        b Для предоставления поставщикам оборудования, дилерам, партнёрам по бизнесу.
                        br
                        |  Чёткий и проработанный инвестиционный план выступает гарантом доходности направления   и значительным фактором для повышения лояльности взаимоотношений с партнёрами и получения дополнительных льгот или приоритетов.


    .serv-item__prices
      .container
        h2.serv-item__prices-title Варианты бизнес-планов и стоимость

        ul.serv-item__prices-list
          li
            .serv-item__prices-item
              .serv-item__prices-top
                h3 Сокращенный
                  br
                  |  бизнес-план

              .serv-item__prices-content
                .serv-item__prices-desc
                  p (без финансовых расчетов)
                    br
                    |  для малого бизнеса

                b.serv-item__prices-price
                  small от
                  br
                  |  35 000 Р


                .serv-item__prices-btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-modal(href="#") Заказать

          li
            .serv-item__prices-item
              .serv-item__prices-top
                h3 Развернутый
                  br
                  |  бизнес-план

              .serv-item__prices-content
                .serv-item__prices-desc
                  p с финансовой моделью
                    br
                    |  для малого бизнеса

                b.serv-item__prices-price
                  small от
                  br
                  |  55 000 Р


                .serv-item__prices-btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-modal(href="#") Заказать

          li
            .serv-item__prices-item
              .serv-item__prices-top
                h3 Развернутый
                  br
                  |  бизнес-план+

              .serv-item__prices-content
                .serv-item__prices-desc
                  p для среднего бизнеса

                b.serv-item__prices-price
                  small от
                  br
                  |  70 000 Р


                .serv-item__prices-btns
                  .btn__wrap.btn__wrap--grad
                    a.btn.open-modal(href="#") Заказать


    .serv-item__add
      .container
        .post__wrap
          .article.clearfix
            h2 Ценный конечный продукт разработки бизнес-планов

            img.alignright(src="img/svg/icons/serv-item-2.svg", alt="")

            ul.with-icon.with-icon--blue
              li
                b Полная версия бизнес-плана в печатном виде.
              li
                b Полная версия бизнес-плана в электронном виде в формате MS WORD.
              li
                b Резюме бизнес-плана (краткое описание проекта) в печатном виде.
              li
                b Резюме бизнес-плана (краткое описание проекта) в электронном виде.
              li
                b Индивидуальная финансовая модель в формате MS Excel.
              li
                b Краткая презентация проекта в электронном формате MS PowerPoint.
              li
                b Консультирование в течение 1-2-х месяцев.

            h2 Дополнительные разделы бизнес-планов

            p
              b Отдельно бизнес проектом также могут быть предусмотрены и другие специальные разделы:

            ul
              li
                b сравнительный анализ себестоимости строительства в зависимости от выбранной технологии по стоимости и по     производственным характеристикам;

              li
                b сравнительный анализ технологического оборудования по стоимости и по производственным характеристикам;

              li
                b финансовый план проекта с несколькими вариантами расчетного периода (3 года, 5 лет, 7лет, 10 лет и т.п.), с  расчетом показателей эффективности (срок окупаемости, прибыль, норма рентабельности и т.д.) для каждого     варианта;

              li
                b финансовый план с расчетом показателей эффективности проекта (срок окупаемости, прибыль, норма      рентабельности) для нескольких вариантов захвата доли рынка (оказания услуг/в год);

              li
                b проведение актуализации с учетом изменения рыночной конъюнктуры, правового и налогового окружения,     отдельных экономических параметров бизнес проекта;

              li
                b доработка инвестиционного проекта в соответствии с требованиями кредитных институтов и государственных     учреждений, а также международными стандартами (UNIDO);

              li
                b другие разделы по желанию Заказчика.



  // /.scr_post
