mixin scr_company()
  section.scr_company.company(id="scr_company")
    .container
      ul.company__nav.tabs__nav
        li.current
          a.btn.btn--grey(href="#company__tab-0") От первого лица
        li
          a.btn.btn--grey(href="#company__tab-1") О компании в цифрах
        li
          a.btn.btn--grey(href="#company__tab-2") Партнеры и клиенты
        li
          a.btn.btn--grey(href="#company__tab-3") Отзывы

      ul.company__tabs
        li.company__tab#company__tab-0
          .company__person
            .company__person-df.clearfix
              .company__person-img
                noscript
                  img.lazy(src="img/company-img.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/company-img.jpg" alt="" width="125" height="90")

              .company__person-info
                h3.company__title Кузнецова
                  br
                  |  Лариса Владимировна

                .article
                  ul
                    li Образование высшее, профильное - Экономика и управление предприятием. Кандидат Экономических Наук
                    li Опыт работы в сфере экономики более 25 лет. Опыт работы
                      br
                      |  в должности финансового директора более 16 лет.
                    li Имеет большой опыт в разработке и реализации инвестиционных проектах крупного и среднего бизнесов:



            .company__person-proj
              .partners__slider-wrap
                .partners__slider#partners__slider
                  .swiper-wrapper
                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span НПО
                          br
                          |  «МОСТОВИК»

                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span ООО
                          br
                          |  «ПК Пирамида»

                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span Корпорация
                          br
                          |  «Партнер-Омск»

                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span ООО «ОША»

                .swiper-dots


              a.company__person-proj-more(href="#") Смотреть всех
                i.icon-circle


  // /.scr_company

mixin scr_company--page()
  section.scr_company.company.company--page(id="scr_company")
    .container
      h1.title--second О компании

      .company__desc
        p Мы дружная команда профессионалов, обладающих разносторонней компетенцией в сфере финансов и повышения доходности бизнеса.

      ul.company__feat.scr1__feat
        li
          p Мы используем передовые практики для решения сложных нестандартных задач в интересах наших клиентов
        li
          p Мы объясняем сложные вещи простым языком, чтобы вы могли превратить наши знания и опыт в эффективные бизнес-инструменты
        li
          p Выезжаем на предприятие, чтобы увидеть всё изнутри.
            br
            |  Работаем строго индивидуально.


    .company__our
      .container
        ul.company__our-list
          li
            .company__our-img
              noscript
                img.lazy(src="img-temp/our/img-1.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/our/img-1.png" alt="" width="125" height="90" data-object-fit-contain)

            .company__our-content
              h3 Наша цель
              p создать вам наиболее благоприятные условия для развития вашего бизнеса, и для этого мы не жалеем ни своих сил, ни знаний

          li
            .company__our-img
              noscript
                img.lazy(src="img-temp/our/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/our/img-2.png" alt="" width="125" height="90" data-object-fit-contain)

            .company__our-content
              h3 Наши ключевые
                br
                |  компетенции
              p инвестиционное планирование, финансовый учет и отчетность, управленческий учет, бюджетирование

          li
            .company__our-img
              noscript
                img.lazy(src="img-temp/our/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/our/img-3.png" alt="" width="125" height="90" data-object-fit-contain)

            .company__our-content
              h3 Наши клиенты
              p как малый бизнес, так и крупные компании


    .company__person
      .company__person-wrap
        .container
          h2.title Наш руководитель и наставник

          .company__person-df.clearfix
            .company__person-img
              noscript
                img.lazy(src="img/company-img.jpg" alt="" width="125" height="90")
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/company-img.jpg" alt="" width="125" height="90")

            .company__person-info
              h3.company__title Кузнецова
                br
                |  Лариса Владимировна

              .article
                ul
                  li Опыт работы в сфере экономики
                    b  более 25 лет.
                  li Опыт работы в должности финансового директора
                    b  более 16 лет.
                  li
                    b Образование высшее, профильное -
                    |  Экономика и управление предприятием. Кандидат Экономических Наук.
                  li Имеет
                    b  большой опыт
                    |  в реализации инвестиционных проектов  крупного и среднего бизнеса.

                .hidden
                  ul
                    li Опыт работы в сфере экономики
                      b  более 25 лет.
                    li Опыт работы в должности финансового директора
                      b  более 16 лет.
                    li
                      b Образование высшее, профильное -
                      |  Экономика и управление предприятием. Кандидат Экономических Наук.

              .company__person-link-wrap
                a.company__person-link(href="#") Подробнее

      .container
        .company__person-proj
          h2.title Наши клиенты и партнеры:

          .partners__slider-wrap
            .partners__slider#partners__slider-page
              .swiper-wrapper
                .partners__slide.swiper-slide
                  p.partners__item.text-leaf.text-leaf--lilac
                    span НПО
                      br
                      |  «МОСТОВИК»

                .partners__slide.swiper-slide
                  p.partners__item.text-leaf.text-leaf--lilac
                    span ООО
                      br
                      |  «ПК Пирамида»

                .partners__slide.swiper-slide
                  p.partners__item.text-leaf.text-leaf--lilac
                    span Корпорация
                      br
                      |  «Партнер-Омск»

                .partners__slide.swiper-slide
                  p.partners__item.text-leaf.text-leaf--lilac
                    span ООО «ОША»

                .partners__slide.swiper-slide
                  p.partners__item.text-leaf.text-leaf--lilac
                    span ООО
                      br
                      |  «Крановый завод»

                .partners__slide.swiper-slide
                  p.partners__item.text-leaf.text-leaf--lilac
                    span ООО «ОША»

            .swiper-dots
            button.swiper-button-prev
              i.icon-circle
            button.swiper-button-next
              i.icon-circle

  // /.scr_company
