mixin scr_company()
  section.scr_company.company(id="scr_company")
    .container
      ul.company__nav.tabs__nav
        li.current
          a.btn.btn--grey(href="#company__tab-0") От первого лица
        li
          a.btn.btn--grey(href="#company__tab-1") О компании в цифрах
        li
          a.btn.btn--grey(href="#company__tab-2") Партнеры и клиенты
        li
          a.btn.btn--grey(href="#company__tab-3") Отзывы

      ul.company__tabs
        li.company__tab#company__tab-0
          .company__person
            .company__person-df.clearfix
              .company__person-img
                noscript
                  img.lazy(src="img/company-img.jpg" alt="" width="125" height="90")
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/company-img.jpg" alt="" width="125" height="90")

              .company__person-info
                h3.company__title Кузнецова
                  br
                  |  Лариса Владимировна

                .article
                  ul
                    li Образование высшее, профильное - Экономика и управление предприятием. Кандидат Экономических Наук
                    li Опыт работы в сфере экономики более 25 лет. Опыт работы
                      br
                      |  в должности финансового директора более 16 лет.
                    li Имеет большой опыт в разработке и реализации инвестиционных проектах крупного и среднего бизнесов:



            .company__person-proj
              .partners__slider-wrap
                .partners__slider#partners__slider
                  .swiper-wrapper
                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span НПО
                          br
                          |  «МОСТОВИК»

                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span ООО
                          br
                          |  «ПК Пирамида»

                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span Корпорация
                          br
                          |  «Партнер-Омск»

                    .partners__slide.swiper-slide
                      p.partners__item.text-leaf.text-leaf--lilac
                        span ООО «ОША»

                .swiper-dots


              a.company__person-proj-more(href="#") Смотреть всех
                i.icon-circle


  // /.scr_company
