mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      h1.title--second Услуги

    .serv__wrap
      .container
        ul.serv__list
          li
            .serv__item
              .serv__top
                .serv__img
                  noscript
                    img.lazy(src="img/svg/icons/serv-1.svg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/serv-1.svg" alt="" width="125" height="90" data-object-fit-contain)

              h2.serv__title Разработка
                br
                |  антикризисных программ

          li
            .serv__item
              .serv__top
                .serv__img
                  noscript
                    img.lazy(src="img/svg/icons/serv-2.svg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/serv-2.svg" alt="" width="125" height="90" data-object-fit-contain)

              h2.serv__title Разработка
                br
                |  инвестиционных проектов

          li
            .serv__item
              .serv__top
                .serv__img
                  noscript
                    img.lazy(src="img/svg/icons/serv-3.svg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/serv-3.svg" alt="" width="125" height="90" data-object-fit-contain)

              h2.serv__title Разработка
                br
                |  бизнес-планов

          li
            .serv__item
              .serv__top
                .serv__img
                  noscript
                    img.lazy(src="img/svg/icons/serv-4.svg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/serv-4.svg" alt="" width="125" height="90" data-object-fit-contain)

              h2.serv__title Финансовый анализ
                br
                |  и оценка бизнеса

          li
            .serv__item
              .serv__top
                .serv__img
                  noscript
                    img.lazy(src="img/svg/icons/serv-5.svg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/serv-5.svg" alt="" width="125" height="90" data-object-fit-contain)

              h2.serv__title Финансовый директор
                br
                |  в «аренду»

          li
            .serv__item
              .serv__top
                .serv__img
                  noscript
                    img.lazy(src="img/svg/icons/serv-6.svg" alt="" width="125" height="90" data-object-fit-contain)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/svg/icons/serv-6.svg" alt="" width="125" height="90" data-object-fit-contain)

              h2.serv__title Постановка
                br
                |  управленческого учета


    .serv__add-wrap
      .container
        .serv__add
          .serv__add-content
            .article
              h2 Доблесть наших правозащитников процветает,
                br
                |  как ни в чем не бывало

              p Задача организации, в особенности же сложившаяся структура организации, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для системы обучения кадров, соответствующей насущным потребностям. Укрепление и развитие внутренней структуры напрямую зависит от распределения внутренних резервов и ресурсов.

              p В своём стремлении повысить качество жизни, они забывают, что постоянный количественный рост и сфера нашей активности говорит о возможностях вывода текущих активов. Кстати, ключевые особенности структуры проекта могут быть обнародованы. Лишь непосредственные участники технического прогресса неоднозначны и будут ограничены исключительно образом мышления. Кстати, независимые государства неоднозначны и будут объявлены нарушающими общечеловеческие нормы этики и морали. Как принято считать, представители современных социальных резервов, инициированные исключительно синтетически, заблокированы в рамках своих собственных рациональных ограничений.

          button.serv__add-more
            span Читать дальше


  // /.scr_serv
