mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h1.title--second Отзывы

    .reviews__wrap
      .container
        .reviews__slider-wrap
          .reviews__slider#reviews__slider
            .swiper-wrapper
              .swiper-slide.reviews__slide
                .reviews__item
                  .reviews__top
                    .reviews__img
                      noscript
                        img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90")
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90")

                    h2.reviews__title АТПП Группа предприятий «ОША»

                  .reviews__content
                    .article
                      h3 Отзыв на разработку инвестиционного проекта по строительству завода по переработке спирта.

                      p Выражаем признательность за проделанную работу по разработке инвестиционного проекта по строительству завода по переработке спирта. Все бизнес процессы, включая технологические и производственные, были эффективно спланированы. Завод на данный момент является рентабельным. Особая благодарность руководителю и куратору проекта Кузнецовой Л.В.

                  .reviews__bottom
                    .reviews__person Красильников К.С.
                      br
                      |  АТПП Группа предприятий «ОША»

                    a.reviews__link(href="#")
                      p Оригинал отзыва

                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-download")

              .swiper-slide.reviews__slide
                .reviews__item
                  .reviews__top
                    .reviews__img
                      noscript
                        img.lazy(src="img-temp/partners/img-1.png" alt="" width="125" height="90")
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.png" alt="" width="125" height="90")

                    h2.reviews__title АТПП Группа предприятий «ОША»

                  .reviews__content
                    .article
                      h3 Отзыв на разработку инвестиционного проекта по строительству завода по переработке спирта.

                      p Выражаем признательность за проделанную работу по разработке инвестиционного проекта по строительству завода по переработке спирта.

                  .reviews__bottom
                    .reviews__person Красильников К.С.
                      br
                      |  АТПП Группа предприятий «ОША»

                    a.reviews__link(href="#")
                      p Оригинал отзыва

                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#icon-download")


          .reviews__btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next


  // /.scr_reviews
