mixin scr_post()
  section.scr_post.post.grey-bg(id="scr_post")
    .container
      +breadcrumbs

      .post__wrap
        .post__cont
          .post__img
            noscript
              img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

          h1.post__title Как получить вычет по ИИС

          .article
            p
              b Индивидуальный инвестиционный счет – это особый вид брокерского счета, который позволяет получить налоговый вычет с владения счетом или с проведения операций на бирже.

            p
              b Напомним, что всего вычетов существует два:

            ul
              li
                dl
                  dt Вычет типа А
                  dd представляет собой вычет на взнос – вы можете получить 13% с суммы, которую внесли на ИИС
              li
                dl
                  dt Вычет типа Б
                  dd является вычетом на доходы от операций с ценными бумагами на бирже с использованием средств со счета ИИС

            p Одновременно вычеты использовать нельзя, придется выбрать наиболее выгодный или возможный в вашем случае вариант. Ниже вы найдете подробную инструкцию о том, как, когда и сколько раз можно получить налоговый вычет по ИИС.

            h2 Инструкция по получению вычета типа Б

            p Вычет на доход оформить легче всего. Для этого вам следует выполнить следующие шаги:

            ul
              li
                b Не закрывать счет 3 года со дня его открытия;
              li
                b Предоставить управляющей или брокерской компании справку из налоговой о том, что вы не              получали вычет типа А;
              li
                b Закрыть счет ИИС, с которого не будет удерживаться налог на доходы.

            p Если вы расторгнете договор с брокером раньше трехлетнего срока, налог на прибыль придется заплатить. В этом случае вы подпадаете под общие правила, согласно которым при закрытии счета брокерская компания автоматически удерживает 13% с дохода, полученного с операций на бирже. Вычет типа Б помогает сохранить всю прибыль.

            h2 Пошаговая инструкция для получения
              br
              |  вычета типа А

            p Вычет на взнос гораздо привлекательнее для начинающих инвесторов, но действий для его получения требуется выполнить больше. Вам обязательно нужно быть официально трудоустроенным и уплачивать государству 13% НДФЛ.

            p Чтобы оформить налоговый вычет типа А, придется лично посетить налоговую инспекцию по месту жительства. Это можно сделать перед сбором документов (в этом случае вы приходите в ведомство за логином и паролем от кабинета налогоплательщика и после отправляете документы онлайн через сайт), либо уже после подготовки пакета во время подачи оффлайн-заявки в ФНС.

            h4 Какие документы нужно собрать для налоговой инспекции:

            ul.with-icon
              li
                b справка 2-НДФЛ за год, когда вы вносили средства на счет ИИС
                br
                |  Этот документ готовит бухгалтерия по месту работы. Она официально подтвердит, что вы получали доход и уплачивали с него налог 13%.

              li
                b скан договора с брокерской или управляющей компанией
                br
                |  Договор может по-разному называться у брокеров – например, договор о брокерском обслуживании с использованием ИИС. Главное, что этот документ подтверждает, что вы открывали соответствующий счет.

              li
                b документ о зачислении средств на счет ИИС
                br
                |  Это может быть кассовый ордер, платежное поручение и др. Все зависит от того, как именно вы зачисляли средства на ИИС – наличными через кассу, онлайн-переводом с банковского счета или с другого брокерского счета.

              li
                b декларация 3-НДФЛ
                br
                |  Заполнить и подать декларацию по форме 3-НДФЛ онлайн можно на сайте налоговой или на «Госуслугах».

            blockquote
              p
                b
                  i Как долго можно получать вычет и сколько раз можно его запрашивать?
              p На вычет типа А вы можете подавать документы столько лет, сколько будете держать счет открытым – главное, не забывать вносить деньги до конца каждого года.

  // /.scr_post
