.write
  position: relative
  padding-top: 48px
  padding-bottom: 60px
  .page-title
    margin-bottom: 18px
    text-align: left
  &__df
    display: flex
    padding-top: 45px
  &__director
    flex-shrink: 0
    width: 390px
    margin-right: 20px
  &__form
    margin-left: auto
    max-width: 680px
    .form
      padding: 24px 92px 30px 76px
  &__img
    height: 393px
    margin-bottom: 21px
    background-color: $accent
    border-radius: 8px
    overflow: hidden
    img
      display: block
      height: 100%
  &__name
    margin-bottom: 18px
    font-size: 20px
    line-height: 1.2 /* 24 / 20 */
    font-weight: 700


  @media screen and (max-width: 1170px)
    &__form
      .form
        padding: 24px 42px 30px 42px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    padding-top: 28px
    padding-bottom: 40px
    &__director
      width: 310px
      margin-right: 10px
    &__img
      height: 283px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__director
      width: 270px

  // max-width 991px

  @media screen and (max-width: 900px)
    &__director
      width: 220px
    &__name
      margin-bottom: 13px
      font-size: 18px
    &__desc
      font-size: 14px

  // max-width 900px

  @media screen and (max-width: 850px)
    &__form
      .form
        padding: 24px 15px 30px
    &__director
      width: 150px
    &__img
      height: 233px
    &__name
      font-size: 15px
    &__desc
      font-size: 13px

  // max-width 850px

  @media screen and (max-width: 700px)
    &__df
      flex-direction: column
      padding-top: 25px
    &__director
      width: 270px
      margin-bottom: 20px
      margin-left: auto
      margin-right: auto
      text-align: center
    &__form
      width: 100%

  // max-width 700px

  @media screen and (max-width: 575px)
    padding-top: 20px
    padding-bottom: 20px
    &__df
      padding-top: 25px

  // max-width 575px

  @media screen and (max-width: 400px)
    &__form
      width: calc(100% + 30px)
      margin-left: -15px

  // max-width 400px

/* write */
