.breadcrumbs
  position: relative
  padding-left: 121px
  margin-top: -47px
  margin-bottom: 42px
  ol
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      display: inline-block

      a,
      span
        text-decoration: none
        transition: 0.3s
        font-size: 14px
        line-height: 1.2
        font-weight: 400
        color: #333333
        &[href]:hover
          span
            color: $accent

      &:not(:last-of-type)
        &::after
          content: '>'
          margin: 0 4px

  @media screen and (max-width: 1070px)
    padding-left: 81px
    margin-top: 6px
    margin-bottom: 12px
  // max-width 1070px

  @media screen and (max-width: 768px)
    padding-left: 0
    margin-bottom: 0
  // max-width 768px

  @media screen and (max-width: 500px)
    ol
      li
        a,
        span
          font-size: 13px

        &:not(:last-of-type)
          &::after
            margin: 0 2px
  // max-width 500px

/* breadcrumbs */
