.form
  position: relative
  z-index: 30
  width: 100%
  &__title
    margin-bottom: 34px
    font-size: 14px
    line-height: 1.2
    font-weight: 500
    font-style: italic
    text-align: center
    color: #333333
    &-blue
      margin-bottom: 15px
      font-size: 24px
      line-height: 1.2
      font-weight: 500
      color: $accent
      text-align: center

  &__item
    text-align: center

  input,textarea
    font-family: $form-font

  .text-input
    display: block
    width: 100%

    &--icon
      position: relative
      input
        padding-left: 52px
      &.textarea-input
        .icon__wrap
          top: 13px
        textarea
          text-indent: 31px
          padding-top: 12px
          padding-left: 12px

    input,textarea
      background: none
      border: none
      outline: none
      transition: 0.3s
      resize: none
      color: #999999
      font-size: 16px

      @include placeholder(#999999, 14px)

      &:focus
        @include placeholder(#fff, 14px)
      &:hover
        border-color: rgba($accent2, 0.4)

    textarea
      height: 182px

  .accept
    label
      display: block
      width: 100%
      cursor: pointer
      text-align: center

      font-size: 13px
      line-height: 1.2
      font-weight: 400
      color: rgba($accent2,0.7)

      & > span
        position: relative
        padding-left: 23px
        display: inline-block
        transition: 0.3s
      &:hover
        color: rgba($accent,0.7)
    &__icon
      position: absolute
      top: 0
      left: 0

      display: block
      width: 15px
      height: 15px
      border: 1.0px solid rgba(31,175,121,0.7)
      &::before
        content: ''
        position: absolute
        top: calc(50% - 4px)
        left: calc(50% - 3px)

        display: block
        width: 7px
        height: 4px
        border-bottom: 1px solid $accent
        border-left: 1px solid $accent
        transform: rotate(-40deg)
        opacity: 0
        transition: 0.3s

    input
      display: none

    input:checked + span
      .accept__icon
        &::before
          opacity: 1

  &--free
    width: 352px
    max-width: 100%
    .text-input
      input
        box-shadow: 5px 9px 15px 0px rgba(31,175,121,0.09)
        width: 100%
        height: 61px
        background-color: #ffffff
        border-radius: 30.5px
        border: 1px solid transparent
        transition: 0.3s

      &--icon
        input
          padding-left: 47px
          padding-right: 97px

  .icon__wrap
    position: absolute
    top: calc(50% - 8px)
    left: 19px
    display: block
    width: 15px
    height: 17px
    z-index: 1
    .icon
      fill: $accent

  &--general
    padding: 48px 40px 42px
    .text-input
      margin-bottom: 25px
      input,textarea
        width: 100%
        max-width: 307px
        background-color: #ffffff
        border: 1.0px solid $bg-c
      input
        height: 49px
        border-radius: 23.5px
      textarea
        border-radius: 10px
    .form__item
      &--submit
        margin-top: 36px
        margin-bottom: 36px
  &__df
    display: flex
  &__left
    width: calc( (100% - 15px) / 2 )
    margin-right: 15px
  &__right
    width: calc( (100% - 15px) / 2 )

  &--reviews
    box-shadow: 5px 9px 10px 0px rgba(5,123,177,0.05)
    background-color: #ebf6f1
    padding: 34px 42px 49px 46px
    border-radius: 6.0px
    z-index: auto
    &::before,
    &::after
      content: ''
      position: absolute

      display: block
      height: 80%
      box-shadow: 5px 9px 10px 0px rgba(5,123,177,0.05)
      background-color: #ebf6f1
      border-radius: 6.0px
    &::before
      bottom: -15px
      left: 15px
      width: calc(100% - 30px)
      z-index: -1
    &::after
      bottom: -30px
      left: 38px
      width: calc(100% - 76px)
      z-index: -2
    .form__wrap
      position: absolute
      top: 15px
      left: 15px

      display: block
      width: calc(100% - 30px)
      height: calc(100% - 30px)
      background-color: #ffffff
      border-radius: 6.0px
    form
      position: relative
      z-index: 2
    .form__item--submit
      margin-bottom: 0
      margin-top: 0
      text-align: left
    .text-input
      margin-bottom: 18px
    input[type="submit"].btn--green,
    .btn--green
      font-size: 16px
      padding: 16px 52px 14px
    .form__title-blue
      margin-bottom: 24px
      text-align: left
    .accept
      display: block
      margin-top: 28px
      label
        & > span
          padding-left: 28px
          text-align: left

  /* media */

  @media screen and (max-width: 576px)
    &--free
      .text-input--icon
        input
          height: 49px
          padding-right: 57px

    &--reviews
      .accept
        margin-top: 0px
        margin-bottom: 20px
        label
          text-align: left
      .form__title-blue
        margin-bottom: 21px
        font-size: 19px
        br
          display: none
      .text-input
        input,
        textarea
          max-width: 100%
        textarea
          height: 112px
    &__df
      flex-direction: column
    &__left
      width: 100%
    &__right
      width: 100%


  //   max-width 576px

  @media screen and (max-width: 400px)
    &--general
      padding: 38px 20px 32px
    &__title
      br
        display: none

  //   max-width 400px

 /* form */
