.prices
  position: relative
  padding-bottom: 44px
  background-color: $bg-c
  z-index: 1
  .white-wrap
    padding: 33px 44px 39px
  h2.title
    margin-bottom: 32px
  &__item
    table
      width: 100%
      border-collapse: collapse
      &.table-top
        border-bottom: 1px solid $accent
        tbody
          tr
            &:last-of-type
              td
                padding-bottom: 37px
      td
        &:first-of-type
          padding-left: 29px
        &:last-of-type
          padding-right: 29px
        &:nth-of-type(2)
          text-align: center
          white-space: nowrap
      thead
        td
          padding-bottom: 12px
          font-size: 18px
          line-height: 1.2
          font-weight: 500
          color: $accent
      tbody
        tr
          &:nth-of-type(2n + 1)
            background: #fbfdfd
          &:nth-of-type(2n)
            background: #f1f9f6
        td
          padding: 14px 10px
          font-size: 16px
          line-height: 1.2
          font-weight: 400
          &.strong
            padding-left: 11px
            font-weight: 500
            font-style: italic


  /* media */

  @media screen and (max-width: 768px)
    .white-wrap
      padding: 23px 25px 29px
    &__item
      table
        td
          &:first-of-type
            padding-left: 15px
          &:last-of-type
            padding-right: 15px
        thead
          td
            font-size: 16px
        tbody
          td
            padding: 11px 10px
            font-size: 14px

  // max-width 768px

  @media screen and (max-width: 576px)
    .white-wrap
      padding: 23px 15px 20px

  // max-width 576px

  @media screen and (max-width: 500px)
    &__item
      table
        thead
          td
            font-size: 14px
        tbody
          td
            padding: 8px 6px
            font-size: 12px
  // max-width 500px

/* prices */
