.contacts
  position: relative
  padding-top: 20px
  background-color: $bg-c
  z-index: 1
  .white-wrap
    padding: 0

  .msg
    position: relative
    display: block
    margin-bottom: 7px
    text-decoration: none
    transition: 0.5s
    &:hover
      transform: scale(1.1)
    &__wrap
      display: flex
      align-items: center
      justify-content: center
    &--wa
      width: 17px
      height: 17px
    &--vi
      width: 17px
      height: 18px
      margin-right: 16px
      .msg__icon
        fill: #834894
    &--insta
      width: 17px
      height: 17px
    img
      display: block
    &__icon
      position: absolute
      top: 0
      left: 0

      display: block
      width: 100%
      height: 100%

  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 992px)

  // max-width 992px

  // @media screen and (max-width: 768px)

  // max-width 768px

  // @media screen and (max-width: 576px)

  // max-width 576px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* contacts */
