.post
  flex-grow: 1
  position: relative
  padding-top: 20px
  padding-bottom: 48px
  background-color: $bg-c
  z-index: 1
  .article
    p
      &:first-of-type
        margin-bottom: 27px

  /* media */

  @media screen and (max-width: 992px)
    .article
      p
        &:first-of-type
          margin-bottom: 20px
  // max-width 992px

  @media screen and (max-width: 400px)
    padding-bottom: 35px

  // max-width 400px

/* post */
