.contacts
  position: relative
  padding-top: 20px
  background-color: $bg-c
  z-index: 1
  .white-wrap
    padding: 0
  &__content
    display: flex
    justify-content: space-between
    padding: 37px 23px 0 47px

  .msg
    position: relative
    display: block
    text-decoration: none
    transition: 0.5s
    &__wrap
      display: flex
      align-items: center
      .msg
        &:hover
          transform: scale(1.1)
    &--wa
      width: 22px
      height: 23px
      margin-right: 19px
    &--vi
      width: 21px
      height: 24px
      .msg__icon
        fill: #834894
    img
      display: block
    &--insta
      width: 17px
      height: 17px
      img
        width: 17px
        height: 17px
    &--envelope
      img
        width: 19px
        height: 15px
    &__icon
      position: absolute
      top: 0
      left: 0

      display: block
      width: 100%
      height: 100%
  &__item
    margin-bottom: 25px
    &--icon
      display: flex
      align-items: center
      .msg
        margin-right: 13px
    &--phone
      .contacts__link
        margin-right: 23px
  &__text,
  &__link
    strong
      font-weight: 500
  &__link
    text-decoration: none
    transition: 0.3s
    &:hover
      color: $accent

  &__form
    width: 390px
    max-width: 100%
    margin-top: -12px
    margin-bottom: -50px
    z-index: 1

  &__map
    width: 100%
    height: 458px
    background-color: #f5f5f5

  /* media */

  @media screen and (max-width: 992px)
    &__content
      padding: 27px 23px 0 27px
    &__info
      padding-top: 30px
    &__item
      margin-bottom: 14px
      font-size: 14px
    &__map
      height: 380px

  // max-width 992px

  @media screen and (max-width: 768px)
    &__content
      flex-direction: column
      align-items: center
      text-align: center
    &__info
      padding-top: 0
    &__item
      justify-content: center
    .msg__wrap
      justify-content: center

  // max-width 768px

  @media screen and (max-width: 500px)
    &__map
      height: 280px
    &__form
      margin-bottom: -20px

  // max-width 500px

  @media screen and (max-width: 400px)
    padding-top: 50px
    margin-top: -10px
    &__content
      padding: 20px 15px 0 15px
    &__item
      margin-bottom: 10px
      font-size: 13px
      &--phone
        .contacts__link
          margin-right: 13px
    .msg
      &--wa,
      &--vi
        width: 19px
        height: 19px
      &--wa
        margin-right: 10px
    &__info
      margin-bottom: 20px

  // max-width 400px

/* contacts */
