.reviews
  position: relative
  background-color: $bg-c
  padding-top: 30px
  padding-bottom: 50px
  z-index: 1
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0

    display: block
    width: 100%
    height: 120px
    background-image: linear-gradient(180.0deg, #fff 0%, rgba(#fff,0) 100%)
    z-index: -1


  .title--top
    max-width: 50%
    padding-right: 15px
  &__wrap
    position: absolute
    top: 17px
    left: 17px

    width: calc(100% - 34px)
    height: calc(100% - 34px)
    border: 1.0px solid #dff1e9
    border-radius: 6.0px
    z-index: 1

  &__slider
    width: calc(100% + 30px)
    margin-left: -15px
    margin-top: 28px
  &__slide
    padding: 15px
    padding-top: 40px
  &__item
    position: relative
    height: 100%
    padding: 47px 30px 52px 43px
    background-color: #ffffff
    border-radius: 6.0px
    box-shadow: 5px 9px 10px 0px rgba(5,123,177,0.05)
    &::before
      content: '“'
      position: absolute
      top: -55px
      right: 33px

      display: block
      text-shadow: 5px 9px 10px rgba(5,123,177,0.1)
      font-size: 250px
      line-height: 1
      font-weight: 700
      color: #ffffff
      z-index: 2
  &__content
    h3
      margin-bottom: 22px
      font-size: 18px
      line-height: 1.2
      font-weight: 500
      color: $accent
  &__info
    margin-bottom: 12px
    font-size: 14px
    line-height: 1.2
    font-weight: 500
    font-style: italic
  &__text
    margin-top: 32px
  &__nav
    margin-top: 20px

  /* media */

  @media screen and (max-width: 768px)
    padding-bottom: 30px
    &__slider
      width: calc(100% + 10px)
      margin-left: -5px
    &__slide
      padding-left: 10px
      padding-right: 10px
      padding-top: 30px
    &__item
      padding: 37px 30px 32px 39px
      &::before
        top: -45px
        right: 18px
        font-size: 190px
    &__text
      margin-top: 22px
      font-size: 13px
      line-height: 1.4
    &__content
      h3
        margin-bottom: 9px
        font-size: 16px
    &__info
      margin-bottom: 5px
      font-size: 13px

  // max-width 768px

  @media screen and (max-width: 576px)
    padding-bottom: 20px
    &__slide
      padding-left: 5px
      padding-right: 5px
      padding-top: 24px
    &__item
      padding: 33px 20px 28px 22px
      &::before
        top: -40px
        right: 14px
        font-size: 170px
    &__wrap
      left: 10px
      top: 10px
      width: calc(100% - 20px)
      height: calc(100% - 20px)
    &__nav
      margin-top: 10px

  // max-width 576px

/* reviews */


.reviews--page
  padding-bottom: 0
  .reviews__slider
    width: 100%
    margin-left: 0
    margin-top: 60px
  .reviews__slides
    display: flex
    flex-wrap: wrap
  .reviews__slide
    width: calc(50% - 15px)
    padding: 0
    margin-right: 30px
    &:nth-of-type(2n)
      margin-right: 0
      .reviews__cont,
      .form
        margin-top: -134px
  .reviews__cont
    padding-bottom: 49px

  @media screen and (max-width: 992px)
    .reviews__form
      width: 100% !important
      max-width: 540px
      margin-bottom: 20px
    .reviews__slide:nth-of-type(2n)
      .form
        margin-top: 0

  // max-width 992px

  @media screen and (max-width: 576px)
    .title--top
      max-width: 100%
    .reviews__slider
      margin-top: 40px
    .reviews__slide
      width: calc(50% - 5px)
      margin-right: 10px
      &:nth-of-type(2n)
        .reviews__cont,
        .form
          margin-top: 0
    .reviews__cont,
      height: 100%
      padding-bottom: 39px

  // max-width 576px

  @media screen and (max-width: 500px)
    .reviews__slide
      width: 100%
      margin-right: 0

  // max-width 500px

  @media screen and (max-width: 400px)
    .reviews__form
      .form
        width: calc(100% + 30px) !important
        margin-left: -15px

  // max-width 500px
