.about
  position: relative
  padding-top: 20px
  padding-bottom: 41px
  background-color: $bg-c
  z-index: 1
  .white-wrap
    padding: 0
  &__content
    width: 63.50710900473934%
  &__text
    margin-bottom: 27px
    &:last-of-type
      margin-bottom: 0
  &__bottom
    padding: 0 70px 19px
  &__slider
    width: calc(100% + 30px)
    margin-left: -15px
    margin-top: 20px
    margin-bottom: 28px
  &__slides
    margin-bottom: 13px
  &__slide
    padding: 15px
  &__item
    display: block
    text-decoration: none
    height: 292px
    border-radius: 6px
    overflow: hidden
    transition: 0.3s
    &:hover
      box-shadow: 0 5px 15px rgba($accent,0.2)
      transform: translateY(-3px)
  .certs
    .title2
      margin-bottom: 24px
      text-align: center
    &__item
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      transition: 0.3s

    &__img
      width: 271px
      max-width: 205px
      border: 20px solid #cfdade
      border-image-source: url('../img/border.png')
      border-image-slice: 10
      border-image-repeat: round
      transition: 0.3s
      img
        display: block
    &__slider
      width: 870px
      max-width: 100%
      margin-left: auto
      margin-right: auto
    &__slides
      margin-bottom: 22px
    &__slide
      padding: 0 30px
    .slick-current
      .certs__img
        max-width: 271px

  /* media */

  @media screen and (max-width: 1070px)
    &__bottom
      padding-left: 30px
      padding-right: 30px

  // max-width 1070px

  @media screen and (max-width: 992px)
    &__content
      width: 100%

  // max-width 992px

  @media screen and (max-width: 768px)
    .certs
      &__slide
        padding-left: 15px
        padding-right: 15px
      &__img
        width: auto
        max-width: 205px
      .slick-current
        .certs__img
          max-width: 205px

    &__item
      height: 182px

  // max-width 768px

  @media screen and (max-width: 576px)
    &__bottom
      padding-left: 15px
      padding-right: 15px
    &__text
      margin-bottom: 17px
      font-size: 14px

  // max-width 576px

  @media screen and (max-width: 500px)
    &__text
      margin-bottom: 10px
      font-size: 13px
      line-height: 1.4
    &__slider
      margin-top: 0
    &__slide
      padding-left: 10px
      padding-right: 10px
    .certs
      &__slide
        padding-left: 10px
        padding-right: 10px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__slider
      width: 100%
      margin-left: 0
    &__slide
      padding-left: 5px
      padding-right: 5px
    .certs
      &__slide
        padding-left: 5px
        padding-right: 5px
      &__img
        border-width: 10px

  // max-width 400px

/* about */
