.doctor
  position: relative
  padding-top: 64px
  &__title
    margin-bottom: 6px
    font-size: 24px
    line-height: 1.166666666666667 /* 28 / 14 */
    font-weight: 600
    text-transform: uppercase
  &__desc
    margin-bottom: 23px
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
  &__text
    margin-bottom: 26px
    font-size: 14px
    line-height: 1.571428571428571 /* 22 / 14 */
    strong
      font-weight: 600
  .certs
    margin-top: -10px
    padding-bottom: 24px
  &__img
    position: absolute
    bottom: -8px
    left: 0
    width: 1103px
    max-width: 70%
    z-index: -1

  @media screen and (max-width: 991px)
    padding-top: 44px
    &__img
      display: none

  // max-width 991px

  @media screen and (max-width: 500px)
    &__title
      font-size: 21px
    &__desc
      margin-bottom: 13px
      font-size: 13px
    &__text
      margin-bottom: 16px
      font-size: 13px

  // max-width 500px

/* doctor */
