.result
  position: relative
  padding: 30px 52px 24px
  background-color: rgba(74,198,227,0.2)
  &__df
    display: flex
  &__before
    width: calc((100% - 30px) / 2)
    margin-right: 30px
  &__after
    width: calc((100% - 30px) / 2)
  &__text
    margin-top: 8px
    font-size: 14px
    line-height: 1.571428571428571 /* 22 / 14 */
    font-weight: 600
  &__slider
    margin-top: 28px
    .slick-arrow
      top: 131px
    .slick-prev
      left: -74px
    .slick-next
      right: -74px


  /* media */

  @media screen and (max-width: 1070px)
    padding: 30px 22px 24px
    &__slider
      .slick-dots
        margin-top: 15px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__before
      width: calc((100% - 15px) / 2)
      margin-right: 15px
    &__after
      width: calc((100% - 15px) / 2)
    &__text
      font-size: 13px
      line-height: 1.47143

  // max-width 991px

  @media screen and (max-width: 767px)
    max-width: 500px
    margin-bottom: 30px
    &__slider
      margin-top: 18px

  // max-width 767px

  @media screen and (max-width: 400px)
    width: calc(100% + 30px)
    margin-left: -15px
    padding: 20px 15px 20px

  // max-width 400px

/* result */
