.price
  position: relative
  padding-bottom: 70px
  &__table
    margin-top: 24px
    table
      width: 100%
      border-collapse: collapse
      border-bottom: 1px solid rgba(74,198,227,0.2)
      thead
        td,th
          padding-left: 32px
          padding-bottom: 8px
          font-size: 14px
          &:last-child
            padding-right: 64px
            text-align: right
      tbody
        tr
          &:nth-of-type(2n + 1)
            background-color: rgba(74,198,227,0.2)
        td
          padding: 12px 0
          padding-left: 32px
          font-size: 16px
          font-weight: 500
          text-transform: uppercase
          &:last-child
            padding-right: 64px
            text-align: right
            white-space: nowrap

  @media screen and (max-width: 1070px)
    &__table
      table
        thead
          td,th
            padding-left: 20px
            &:last-child
              padding-right: 20px
        tbody
          td
            padding-left: 20px
            &:last-child
              padding-right: 20px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__table
      table
        tbody
          td
            font-size: 14px

  // max-width 991px

  @media screen and (max-width: 575px)
    padding-bottom: 40px
    &__table
      overflow: auto
      table
        max-width: 100%
        min-width: 575px
        table
        thead
          td,th
            padding-left: 15px
            &:last-child
              padding-right: 15px
        tbody
          td
            padding-left: 15px
            font-size: 13px
            &:last-child
              padding-right: 15px

  // max-width 575px

/* price */
