.reviews
  position: relative
  &__list
    margin: 0
    padding: 0
    list-style: none
  &__item
    margin-bottom: 20px
    padding: 29px 15px 19px 30px
    border: 1.0px solid rgba(44,45,45,0.4)

    font-size: 14px
    line-height: 1.571428571428571 /* 22 / 14 */
    h3
      margin-top: 0
      margin-bottom: 18px
      font-size: 18px
      line-height: 1.2
      font-weight: 600
      text-transform: uppercase

  @media screen and (max-width: 500px)
    &__item
      margin-bottom: 15px
      padding: 20px 15px 15px 20px
      font-size: 13px
      line-height: 1.4
      h3
        margin-bottom: 12px
        font-size: 16px

  // max-width 500px

/* reviews */
