mixin header(logotype)
  header.header(id="header")
    .container
      .header__top
        button.burger#header__burger
          span.burger__wrap
            span.line

        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              img(src="img/logo.png" alt="лого")
          else
            #{logotype}.logo
              img(src="img/logo.png" alt="лого")

          p.header__text.logo__text.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="0.3s") Проектирование, монтаж
            br
            |  и техническое обслуживание
            br
            |  систем безопасности в Крыму

        .header__address.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="0.3s")
          p.header__text г. Ялта, ул. Пушкинская, 7а
            br
            |  Режим работы Пн - Пт: с 9:00 до 18:00
            br
            |  Сб - Вс: выходной

        .header__phones
          .header__links
            .header__links-item
              a.btn.btn--circle.mobile(href="tel:+79892388389" rel="nofollow")
                i.fa.fa-phone
              a.header__link.desktop(href="tel:+79892388389" rel="nofollow") +7 (989)
                strong  238 83 89
              a.header__phones-social(href="viber://chat?number=79892388389" rel="nofollow")
                i.header__phones-icon
                  svg.icon.icon--viber
                    use(xlink:href="img/svg/sprite.svg#viber")

          .header__btns
            .btn__wrap
              a.btn.btn--red.open-modal(href="#modal__callback") Заказать звонок

      // /.header__top
    // /.container

    .header__bottom
      .container
        nav.header__menu
          .header__menu-top
            .logo__wrap
              if logotype == "a"
                #{logotype}.logo(href="index.html")
                  img(src="img/logo.png" alt="лого")
              else
                #{logotype}.logo
                  img(src="img/logo.png" alt="лого")
            button.burger.active#header__menu-burger
              span.burger__wrap
                span.line
          ul.menu
            li.menu-item
              a(href="#") О Маяке
            li.menu-item
              a(href="#") Услуги
            li.menu-item
              a(href="#") Каталог
            li.menu-item
              a(href="#") Кейсы
            li.menu-item
              a(href="#") Отзывы
            li.menu-item
              a(href="#") Статьи
            li.menu-item
              a(href="#") Контакты

      // /.container
    // /.header__bottom
