mixin scr_delivery()
  section.scr_delivery.delivery(id="scr_delivery")
    .wr
      h2.title2 доставка, оплата
        br
        |  и условия работы

      .delivery__slider.slider1#delivery__slider
        .delivery__slides.slider1__slides

          .delivery__slide.slider1__slide
            .delivery__item
              .delivery__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-delivery-1")
              h3.title--underlined Доставка

              ul
                li По всему Крыму. Зависит от объема заказа и точки доставки.

          // /.delivery__slide

          .delivery__slide.slider1__slide
            .delivery__item
              .delivery__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-delivery-2")
              h3.title--underlined оплата

              ul
                li Наличный и безналичный расчет
                li Работаем с ООО и ИП
                li С НДС и без НДС

          // /.delivery__slide

          .delivery__slide.slider1__slide
            .delivery__item
              .delivery__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-delivery-3")
              h3.title--underlined условия

              ul
                li Обработка заявки и просчет в течение 1 рабочего дня
                li Сроки производства зависят от объема заказа и озвучивается индивидуально
                li Размеры и цвета панели любые под заказ максимальная длина панели 7 м

          // /.delivery__slide



  // /.scr_delivery
