mixin scr_advantages()
  section.scr_advantages.advantages(id="scr_advantages")
    .bg-img
    .wr
      .advantages__df
        h2.title2 Преимущества
        a.link.link--arrow(href="#") Сертификаты

      .advantages__slider.slider1#advantages__slider
        .advantages__slides.slider1__slides

          .advantages__slide.slider1__slide
            .advantages__item
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-1")
              h3.title--underlined ваша безопасность

              p.desc2 Полная безопасность для человека -
                br
                |  используем негорючий, устойчивый
                br
                |  к механическим повреждениям
                br
                |  материал

          .advantages__slide.slider1__slide
            .advantages__item
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-2")
              h3.title--underlined тепло и тихо

              p.desc2 Высокая тепло- и звукоизоляция
                br
                |  благодаря негигроскопичному
                br
                |  материалу с низкой теплопроводностью

          .advantages__slide.slider1__slide
            .advantages__item
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-3")
              h3.title--underlined двусторонняя отделка не нужна
              p.desc2 Нет необходимости в отделке -
                br
                |  никакой штукатурки, бетона,
                br
                |  арматуры и т. д.

          .advantages__slide.slider1__slide
            .advantages__item
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-4")
              h3.title--underlined экономия на фундаменте
              p.desc2 Экономия на расходах
                br
                |  обустройства фундамента -
                br
                |  нагрузка снижается на 25-32%

          .advantages__slide.slider1__slide
            .advantages__item
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-5")
              h3.title--underlined удобство монтажа
              p.desc2 Простая и быстрая установка
                br
                |  панелей в любое врямя года

          .advantages__slide.slider1__slide
            .advantages__item
              .advantages__icon
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#icon-adv-6")
              h3.title--underlined обрешетка фасада не требуется
              p.desc2 Наши сэндвич-панели уже имеют
                br
                |  достаточную структуру и включают
                br
                |  три слоя

        .advantages__dots.slider1__dots

  // /.scr_advantages
