mixin scr_structure()
  section.scr_structure.structure(id="scr_structure")
    .wr
      h2.title2 как устроена качественная
        br
        |  сэндвич-панель?

      .structure__img
        img(src="img/img-structure.jpg", alt="Структура сэндвич-панели")

      .btn__wrap
        a.btn.btn--red.btn--shadowed.open-modal(href="#modal__order") заказать консультацию

  // /.scr_structure
