mixin scr_best()
  section.scr_best.best(id="scr_best")
    .wr
      h2.title2 самые покупаемые
        br
        |  сэндвич-панели

      .best__slider.slider1#best__slider
        .best__slides.slider1__slides
          .best__slide.slider1__slide
            .best__item
              .best__content
                h3
                  strong Стеновая сэндвич-панель
                  br
                  |  с минеральным базальтовым
                  br
                  |  утеплителем,
                  br
                  |  ширина 1200 мм, монтажная 1190 мм.

                .best__img
                  img(src="img-temp/img-best.png", alt="", data-object-fit-contain)

                p.best__price Цена зависит от объема заказа

              .best__bottom
                a.btn.btn--red.best__btn(href="#") Купить

                a.best__link Подробнее

          // /.best__slide

          .best__slide.slider1__slide
            .best__item
              .best__content
                h3
                  strong Стеновая сэндвич-панель
                  br
                  |  с минеральным базальтовым
                  br
                  |  утеплителем,
                  br
                  |  ширина 1200 мм, монтажная 1190 мм.

                .best__img
                  img(src="img-temp/img-best.png", alt="", data-object-fit-contain)

                p.best__price Цена зависит от объема заказа

              .best__bottom
                a.btn.btn--red.best__btn(href="#") Купить

                a.best__link Подробнее

          // /.best__slide

          .best__slide.slider1__slide
            .best__item
              .best__content
                h3
                  strong Стеновая сэндвич-панель
                  br
                  |  с минеральным базальтовым

                .best__img
                  img(src="img-temp/img-best.png", alt="", data-object-fit-contain)

                p.best__price Цена зависит от объема заказа

              .best__bottom
                a.btn.btn--red.best__btn(href="#") Купить

                a.best__link Подробнее

          // /.best__slide

          .best__slide.slider1__slide
            .best__item
              .best__content
                h3
                  strong Стеновая сэндвич-панель
                  br
                  |  с минеральным базальтовым

                .best__img
                  img(src="img-temp/img-best.png", alt="", data-object-fit-contain)

                p.best__price Цена зависит от объема заказа

              .best__bottom
                a.btn.btn--red.best__btn(href="#") Купить

                a.best__link Подробнее

          // /.best__slide


        .best__dots.slider1__dots

  // /.scr_best
