mixin scr_popular()
  section.scr_popular.popular(id="scr_popular")
    .wr
      h2.title2 самые популярные размеры
        br
        |  и цены сэндвич-панелей

      .popular__df
        ul.popular__nav
          li.popular__nav-item.active
            a.btn(href="#popular-tab_0") кровельные сэндвич-панели
          li.popular__nav-item
            a.btn(href="#popular-tab_1") стеновые сэндвич-панели

        a.link(href="#") Смотреть полный прайс

      .popular__tabs
        .popular__tab.active#popular-tab_0
          .popular__table
            table
              thead
                tr
                  td Толщина металла
                  td Толщина панели, мм
                  td минеральная вата
                    span.small Цена руб./кв.м
                  td пенополистирол
                    span.small Цена руб./кв.м
              tbody
                tr
                  td 0,45 П/Э
                    br
                    |  0,40 П/Э
                  td
                    span.top 50
                    span.bottom 100
                  td
                    span.top 1 251
                    span.bottom 1 477
                  td
                    span.top 1 160
                    span.bottom 1 295
                tr
                  td 0,45 П/Э
                    br
                    |  0,40 П/Э
                  td
                    span.top 50
                    span.bottom 100
                  td
                    span.top 1 251
                    span.bottom 1 477
                  td
                    span.top 1 160
                    span.bottom 1 295
                tr
                  td 0,45 П/Э
                    br
                    |  0,40 П/Э
                  td
                    span.top 50
                    span.bottom 100
                  td
                    span.top 1 251
                    span.bottom 1 477
                  td
                    span.top 1 160
                    span.bottom 1 295
                tr
                  td 0,45 П/Э
                    br
                    |  0,40 П/Э
                  td
                    span.top 50
                    span.bottom 100
                  td
                    span.top 1 251
                    span.bottom 1 477
                  td
                    span.top 1 160
                    span.bottom 1 295

        .popular__tab#popular-tab_1
          .popular__table
            table
              thead
                tr
                  td Толщина металла
                  td Толщина панели, мм
                  td минеральная вата
                    span.small Цена руб./кв.м
                  td пенополистирол
                    span.small Цена руб./кв.м
              tbody
                tr
                  td 0,45 П/Э
                    br
                    |  0,40 П/Э
                  td
                    span.top 50
                    span.bottom 100
                  td
                    span.top 1 251
                    span.bottom 1 477
                  td
                    span.top 1 160
                    span.bottom 1 295
                tr
                  td 0,45 П/Э
                    br
                    |  0,40 П/Э
                  td
                    span.top 50
                    span.bottom 100
                  td
                    span.top 1 251
                    span.bottom 1 477
                  td
                    span.top 1 160
                    span.bottom 1 295


  // /.scr_popular
