mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .bg-img
    .wr
      .form.wpcf7
        form.wpcf7-form

            p.form__title
              strong Оставьте заявку
              br
              |  на индивидуальный просчёт

            p.form__desc Цена напрямую зависит от объема
              br
              |  заказа и применяемых материалов

            .form__item
              label
                span.label__text Как вас зовут?
                span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-user")

            .form__item
              label
                span.label__text Введите номер телефона
                span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
                  i.input-icon
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#form-phone")

            .form__item
              input.wpcf7-form-control.wpcf7-submit.btn.btn--brown.btn--shadowed(type='submit', value='Получить просчёт')

            .form__item
              span.wpcf7-form-control-wrap.accept
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных
                        i.accept__icon

  // /.scr_lead
