mixin scr_projects()
  section.scr_projects.projects(id="scr_projects")
    .wr
      h2.title2 наши клиенты доверяют нам
        br
        |  уже более 10 лет

      p.sandwich-page__desc.projects__desc Посмотрите часть реализованных нами проектов

      .projects__slider.slider1#projects__slider
        .projects__slides.slider1__slides

          .projects__slide.slider1__slide
            .projects__item
              .projects__img
                a.fancybox(href="img-temp/projects/img-projects-1.jpg", data-fancybox-group="projects")
                  img(src="img-temp/projects/img-projects-1--small.jpg", alt="", data-object-fit-cover)
          // /.projects__slide.slider1__slide

          .projects__slide.slider1__slide.slider1__slide
            .projects__item.projects__item--small
              .projects__img
                a.fancybox(href="img-temp/projects/img-projects-2.jpg", data-fancybox-group="projects")
                  img(src="img-temp/projects/img-projects-2--small.jpg", alt="", data-object-fit-cover)

            .projects__item.projects__item--small
              .projects__img
                a.fancybox(href="img-temp/projects/img-projects-3.jpg", data-fancybox-group="projects")
                  img(src="img-temp/projects/img-projects-3--small.jpg", alt="", data-object-fit-cover)
          // /.projects__slide.slider1__slide


          .projects__slide.slider1__slide
            .projects__item
              .projects__img
                a.fancybox(href="img-temp/projects/img-projects-4.jpg", data-fancybox-group="projects")
                  img(src="img-temp/projects/img-projects-4--small.jpg", alt="", data-object-fit-cover)

          // /.projects__slide.slider1__slide

          .projects__slide.slider1__slide
            .projects__item
              .projects__img
                a.fancybox(href="img-temp/projects/img-projects-4.jpg", data-fancybox-group="projects")
                  img(src="img-temp/projects/img-projects-4--small.jpg", alt="", data-object-fit-cover)

          // /.projects__slide.slider1__slide

        .projects__dots.slider1__dots



  // /.scr_projects
