mixin styles-top()
  link(rel='stylesheet', href='libs/animate.css')
  link(rel='stylesheet', href='libs/fa.css')
  link(rel='stylesheet', href='libs/slick.css')
  link(rel='stylesheet', href='fonts.css')
  link(rel='stylesheet', href='stylesheet.css')

  link(rel='stylesheet', href='libs/fancybox/jquery.fancybox.css')
  link(rel='stylesheet', href='css/main.min.css')
