.lead
  position: relative
  background: transparent url('../img/lead-bg.jpg') no-repeat center center
  background-size: cover
  &__df
    display: flex
    padding-top: 57px
    padding-bottom: 50px
    &::after
      content: ''
      width: calc((100% - 377px) / 2)
  &__content
    flex-grow: 1
    width: calc((100% - 377px) / 2)
    padding-top: 95px
    padding-right: 20px
  &__title
    max-width: 540px
    font-size: 48px
    margin-bottom: 34px
    line-height: 1.2
    font-weight: 700
    color: #ffffff
    span
      color: $accent2
  &__desc
    max-width: 480px
    font-size: 20px
    color: #ffffff
    b
      font-weight: 500
  &__form
    flex-shrink: 0
    width: 377px
    max-width: 100%


  @media screen and (max-width: 1400px)
    &__df
      padding-top: 27px
      padding-bottom: 30px
      &::after
        width: calc((100% - 507px) / 2)

  // max-width 1400px

  @media screen and (max-width: 1200px)
    &__title
      font-size: 38px
      margin-bottom: 25px
    &__desc
      font-size: 16px

  // max-width 1200px

  @media screen and (max-width: 991px)
    background-position: left center
    &__df
      &::after
        content: none
    &__content
      padding-top: 25px
    &__form
      width: 327px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__content
      padding-top: 45px
    &__title
      font-size: 28px
      margin-bottom: 21px
    &__desc
      font-size: 14px

  // max-width 767px

  @media screen and (max-width: 630px)
    &__df
      display: block
    &__content
      width: 100%
      padding-top: 0
      padding-right: 0
    &__form
      margin: 30px auto 0

  // max-width 630px

/* lead */
