.clients
  position: relative
  padding-top: 56px
  padding-bottom: 36px
  overflow: hidden
  z-index: 1
  .page-title
    text-align: center
  &::before,
  &::after
    content: ''
    position: absolute
    left: 50%
    transform: translateX(-50%)
    display: block
    width: 1913px
    height: 324px
    background: transparent url('../img/svg/clients-decor-1.svg') no-repeat center center
    background-size: contain
    opacity: 0.5
    z-index: -1
  &::after
    bottom: 26px
    background-image: url('../img/svg/clients-decor-2.svg')
  &__wrap
    position: relative
    margin-top: 41px
  &__slider
    margin-bottom: 40px
    overflow: hidden
    .swiper-slide
      height: auto
  &__item
    height: 100%
    padding: 27px 34px 46px
    background-color: #11559c
    border-radius: 8px
  &__img
    display: flex
    align-items: center
    justify-content: center
    height: 254px
    padding: 28px 67px
    background-color: #ffffff
    img
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%
  &__content
    padding: 27px 0 0 14px
  &__title
    margin: 0 0 25px 10px
    font-size: 24px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #ffffff
  &__text
    font-size: 14px
    color: #ffffff



  @media screen and (max-width: 1600px)
    padding-top: 46px
    &__item
      padding: 20px 20px 26px
    &__img
      height: 214px
    &__content
      padding: 27px 0 0

  // max-width 1600px

  @media screen and (max-width: 1400px)
    &__img
      height: 174px
    &__title
      margin: 0 0 15px 10px
      font-size: 20px
    &__wrap
      margin-top: 31px

  // max-width 1400px

  @media screen and (max-width: 1200px)
    &__title
      font-size: 18px

  // max-width 1200px

  @media screen and (max-width: 991px)
    &__title
      font-size: 15px

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-top: 36px
    padding-bottom: 30px
    &__img
      height: 144px
      padding: 18px 47px
    &__item
      padding: 10px 10px 16px
    &__content
      padding: 17px 0 0
    &__slider
      margin-bottom: 24px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 30px
    &__text
      font-size: 13px
    &__img
      height: 124px
      padding: 14px 27px

  // max-width 575px

/* clients */
