.socials
  position: relative
  display: flex
  align-items: center
  &__link
    margin-right: 8px
    &--viber
      .icon
        fill: #7360F2
    &--wa
      .icon
        fill: #33CE62
    &--envelope
      .icon
        fill: #5BCFF1
    &:last-of-type
      margin-bottom: 0
  &--footer
    .socials__link
      background-color: rgba(255,255,255,0.1)
      box-shadow: none
      &:last-of-type
        margin-right: 0
      &::before
        content: none
      .icon
        fill: #fff
      &:hover
        background-color: rgba(255,255,255,1)
        .icon
          fill: $accent !important


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 850px)

  // max-width 850px

/* socials */
