mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      img(src="img/viber.png" alt="")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      img(src="img/svg/wa.svg" alt="")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      img(src="img/insta.png" alt="")

  // /.socials
