mixin footer(logotype)
  footer.footer.brown-bg(id="footer")
    .container
      .footer__df
        .footer__col
          h3.footer__title Важная информация

          .footer__col-content
            ul.menu
              li.menu-item
                a(href="#") О Компании
              li.menu-item
                a(href="#") Услуги
              li.menu-item
                a(href="#") Косметология
              li.menu-item
                a(href="#") Эндокринология
              li.menu-item
                a(href="#") Дерматология
              li.menu-item
                a(href="#") Трихология
              li.menu-item
                a(href="#") Антивозрастная медицина
              li.menu-item
                a(href="#") Врачи
              li.menu-item
                a(href="#") Полный прайс
              li.menu-item
                a(href="#") Контакты
              li.menu-item
                a(href="#") Блог
              li.menu-item
                a(href="#") Политика конфиденциальности

        .footer__col
          h3.footer__title Офисы:

          .footer__item
            p Симферополь, ул. Толстолого, д.10

          .footer__item
            .footer__links
              a.footer__link(href="tel:+79782077070" rel="nofollow")
                b +7 (978) 207-70-70
              a.footer__msg.footer__msg--wa(href="https://api.whatsapp.com/send?phone=79782077070" rel="nofollow")
              a.footer__msg.footer__msg--viber(href="viber://chat?number=79782077070" rel="nofollow")

            a.footer__link(href="tel:88007759780" rel="nofollow")
              b 8 (800) 775-97-80

          .footer__item
             a.footer__link(href="mailto:Test@mail.ru" rel="nofollow")
              b Test@mail.ru

          .footer__item
            p
              b Время работы:
              br
              |  Пн-Пт с 10:00 до 20:00.
              br
              |  Сб с 10:00 до 17:00.
              br
              |  Вс - выходной

        .footer__col
          h3.footer__title Реквизиты ООО «ДальВин»

          .footer__col-content
            .footer__item
              p ИНН 9108125361
                br
                |  ОГРН 1209100016399
                br
                |  КПП 910801001

            .footer__item
              p
                b sЮридический адрес:
                br
                |  298105, Республика Крым,
                br
                |  г. Феодосия улица Анюнаса, 55

            .footer__item
              p
                b sГенеральный директор:
                br
                |  Анна Владимировна Даль

      // /.footer__df
    // /.container
