mixin scr1()
  section.scr1(id="scr1" style="background: #f9f0e2 url('img/scr1-bg.jpg') no-repeat center center; background-size: cover;")
    .container
      .scr1__df
        .scr1__content
          h1.scr1__title Получите высококвалифицированную помощь от опытных специалистов в&nbsp;области эстетической медицины

          ul.scr1__feat
            li Полный спектр косметологических процедур
            li Комплексное омоложение организма
            li Современная трихология и дерматология

          .scr1__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.open-modal(href="#")
                span Бесплатная
                  span  первичная
                  |  консультация
                  br
                  span  у дерматокосметолога

        .scr1__anna
          .scr1__text-wrap
            .scr1__text
              span.scr1__text-decor
              p.scr1__text-title Анна Даль
              p.scr1__text-desc Основатель клиники,
                br
                |  врач косметолог, трихолог

          .scr1__img
            img(src="img/anna.png" alt="Анна Даль")

  // /.scr1
