mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .certs__wrap
      .certs__slider#certs__slider
        .swiper-wrapper
          .swiper-slide
            a.certs__item.fancybox(href="" data-fancybox-group="certs")
              img(src="img-temp/certs-1.jpg" alt="" data-object-fit-contain)
          .swiper-slide
            a.certs__item.fancybox(href="" data-fancybox-group="certs")
              img(src="img-temp/certs-1.jpg" alt="" data-object-fit-contain)
          .swiper-slide
            a.certs__item.fancybox(href="" data-fancybox-group="certs")
              img(src="img-temp/certs-1.jpg" alt="" data-object-fit-contain)
          .swiper-slide
            a.certs__item.fancybox(href="" data-fancybox-group="certs")
              img(src="img-temp/certs-1.jpg" alt="" data-object-fit-contain)
          .swiper-slide
            a.certs__item.fancybox(href="" data-fancybox-group="certs")
              img(src="img-temp/certs-1.jpg" alt="" data-object-fit-contain)

      .certs__slider-nav.swiper-slider-nav
        button.swiper-button-prev
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow")
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow")
        .swiper-dots
        button.swiper-button-next
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow")
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_certs
