mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__top
        h1.page-title О клинике

        .about__wrap
          .about__info
            p
              b «Клиника Dalwin -
              |  это современный медицинский центр косметологии и омоложения. Мы создали его для того, чтобы жители Симферополя и Крыма могли получить квалифицированную и качественную медицинскую помощь.

            p
              b Наша основная цель -
              |  увеличить продолжительность молодости, сохранить здоровье пациента и его естественную красоту, поэтому мы всегда стремимся к комплексному лечению, поиску истинных причин эстетических проблем.

            p В команде клиники Dalwin работают врачи с большим стажем и впечатляющим списком дополнительных обучающих программ, медицинских конгрессов и семинаров. Именно это позволяет нам идти в ногу со временем, постоянно обновляя арсенал препаратов и косметологического оборудования.

            p Надеюсь, что информация на этом сайте поможет Вам найти ключ к решению всех беспокоящих проблем»

          .about__img
            .scr1__anna
              .scr1__text-wrap
                .scr1__text
                  span.scr1__text-decor
                  p.scr1__text-title Анна Даль
                  p.scr1__text-desc Основатель клиники, главврач, врач дерматолог, косметолог

              .scr1__img
                img(src="img/about-img.png" alt="Анна Даль")

      h2.page-title Интерьеры клиники

      .about__gallery-wrap
        .about__gallery#about__gallery
          .swiper-wrapper
            .swiper-slide
              a.about__item.fancybox(href="img-temp/about-gallery-img.jpg" data-fancybox-group="about__gallery")
                .about__item-wrap
                  svg.icon-wrap(preserveAspectRatio="none", xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' viewBox="0 0 980 506")
                    g(filter='url(#Filter_1)')
                      path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M15.613,20.704 C325.050,-4.006 635.606,-4.420 947.338,20.695 C951.017,20.994 954.000,24.231 954.000,27.921 C954.000,165.253 954.000,302.586 954.000,439.918 C954.000,443.607 951.005,446.912 947.310,447.292 C634.306,479.265 323.986,475.907 15.591,447.221 C11.951,446.879 9.000,443.607 9.000,439.918 C9.000,302.586 9.000,165.253 9.000,27.921 C9.000,24.231 11.961,20.998 15.613,20.704 L15.613,20.704 Z')
                .about__item-bg
                  svg.icon-wrap-bg(preserveAspectRatio="none", xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' viewBox="0 0 980 506")
                    g(filter='url(#Filter_1)')
                      path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M15.613,20.704 C325.050,-4.006 635.606,-4.420 947.338,20.695 C951.017,20.994 954.000,24.231 954.000,27.921 C954.000,165.253 954.000,302.586 954.000,439.918 C954.000,443.607 951.005,446.912 947.310,447.292 C634.306,479.265 323.986,475.907 15.591,447.221 C11.951,446.879 9.000,443.607 9.000,439.918 C9.000,302.586 9.000,165.253 9.000,27.921 C9.000,24.231 11.961,20.998 15.613,20.704 L15.613,20.704 Z')
                svg.icon-main(xmlns='http://www.w3.org/2000/svg',  preserveAspectRatio="none", xmlns:xlink='http://www.w3.org/1999/xlink', viewBox="0 0 980 506")

                  //. ЗДЕСЬ меняется у ID цифра в конце #phone-frame1 и url(#pattern1)
                  symbol#phone-frame1
                    g(filter='url(#Filter_1)')
                      path(fill-rule='evenodd', fill='url(#pattern1)', d='M35.445,39.863 C337.023,16.263 639.692,15.868 943.507,39.855 C947.093,40.140 950.000,43.232 950.000,46.756 C950.000,177.917 950.000,309.078 950.000,440.239 C950.000,443.762 947.081,446.919 943.480,447.282 C638.425,477.818 335.987,474.611 35.423,447.213 C31.876,446.888 29.000,443.763 29.000,440.239 C29.000,309.078 29.000,177.917 29.000,46.756 C29.000,43.232 31.885,40.144 35.445,39.863 L35.445,39.863 Z')

                  //. ЗДЕСЬ меняется у ID цифра в конце #phone-frame1 и url(#pattern1)
                  use(xlink:href='#phone-frame1')
                  pattern#pattern1(width='100%', height='100%', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                    image(xlink:href='img-temp/about-gallery-img.jpg', height='1', width='1')

            .swiper-slide
              a.about__item.fancybox(href="img-temp/about-gallery-img.jpg" data-fancybox-group="about__gallery")
                .about__item-wrap
                  svg.icon-wrap(preserveAspectRatio="none", xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' viewBox="0 0 980 506")
                    g(filter='url(#Filter_1)')
                      path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M15.613,20.704 C325.050,-4.006 635.606,-4.420 947.338,20.695 C951.017,20.994 954.000,24.231 954.000,27.921 C954.000,165.253 954.000,302.586 954.000,439.918 C954.000,443.607 951.005,446.912 947.310,447.292 C634.306,479.265 323.986,475.907 15.591,447.221 C11.951,446.879 9.000,443.607 9.000,439.918 C9.000,302.586 9.000,165.253 9.000,27.921 C9.000,24.231 11.961,20.998 15.613,20.704 L15.613,20.704 Z')
                .about__item-bg
                  svg.icon-wrap-bg(preserveAspectRatio="none", xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' viewBox="0 0 980 506")
                    g(filter='url(#Filter_1)')
                      path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M15.613,20.704 C325.050,-4.006 635.606,-4.420 947.338,20.695 C951.017,20.994 954.000,24.231 954.000,27.921 C954.000,165.253 954.000,302.586 954.000,439.918 C954.000,443.607 951.005,446.912 947.310,447.292 C634.306,479.265 323.986,475.907 15.591,447.221 C11.951,446.879 9.000,443.607 9.000,439.918 C9.000,302.586 9.000,165.253 9.000,27.921 C9.000,24.231 11.961,20.998 15.613,20.704 L15.613,20.704 Z')
                svg.icon-main(xmlns='http://www.w3.org/2000/svg',  preserveAspectRatio="none", xmlns:xlink='http://www.w3.org/1999/xlink', viewBox="0 0 980 506")
                  symbol#phone-frame2
                    g(filter='url(#Filter_1)')
                      path(fill-rule='evenodd', fill='url(#pattern2)', d='M35.445,39.863 C337.023,16.263 639.692,15.868 943.507,39.855 C947.093,40.140 950.000,43.232 950.000,46.756 C950.000,177.917 950.000,309.078 950.000,440.239 C950.000,443.762 947.081,446.919 943.480,447.282 C638.425,477.818 335.987,474.611 35.423,447.213 C31.876,446.888 29.000,443.763 29.000,440.239 C29.000,309.078 29.000,177.917 29.000,46.756 C29.000,43.232 31.885,40.144 35.445,39.863 L35.445,39.863 Z')
                  use(xlink:href='#phone-frame2')
                  pattern#pattern2(width='100%', height='100%', viewbox='0 0 1 1', preserveaspectratio='xMidYMid slice')
                    image(xlink:href='img-temp/about-gallery-img.jpg', height='1', width='1')


        .about__gallery-nav
          button.swiper-button-prev
          button.swiper-button-next

        .swiper-slider-nav
          button.swiper-button-prev.swiper-button-prev--arrow
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next.swiper-button-next--arrow
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")


  // /.scr_about
