mixin scr_actions()
  section.scr_actions.actions.brown-bg(id="scr_actions")
    .container
      h2.page-title Акции в клинике

      .actions__wrap
        .actions__slider#actions__slider
          .swiper-wrapper
            .swiper-slide
              .actions__item
                .actions__content
                  h3.actions__title Гидропилинг и омоложение кожи
                    br
                    |  на аппарате
                    strong  AtisMed Pro

                  ul
                    li При записи на процедуру гидропилинга консультация     врача-дерматолога в подарок
                    li Процедуру проводит косметолог-эстетист

                  .actions__bottom
                    .actions__prices
                      span.actions__price-old Цена:&nbsp;
                        span 5500 Р
                      b.actions__price-cur 3000 Р

                    .actions__btns
                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad.open-modal(href="#") Записаться

                .actions__img
                  img(src="img-temp/actions-1.jpg" alt="" data-object-fit-cover-left)
            .swiper-slide
              .actions__item
                .actions__content
                  h3.actions__title Гидропилинг и омоложение кожи
                    br
                    |  на аппарате
                    strong  AtisMed Pro

                  ul
                    li При записи на процедуру гидропилинга консультация     врача-дерматолога в подарок
                    li Процедуру проводит косметолог-эстетист

                  .actions__bottom
                    .actions__prices
                      span.actions__price-old Цена:&nbsp;
                        span 5500 Р
                      b.actions__price-cur 3000 Р

                    .actions__btns
                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad.open-modal(href="#") Записаться

                .actions__img
                  img(src="img-temp/actions-1.jpg" alt="" data-object-fit-cover-left)
            .swiper-slide
              .actions__item
                .actions__content
                  h3.actions__title Гидропилинг и омоложение кожи
                    br
                    |  на аппарате
                    strong  AtisMed Pro

                  ul
                    li При записи на процедуру гидропилинга консультация     врача-дерматолога в подарок
                    li Процедуру проводит косметолог-эстетист

                  .actions__bottom
                    .actions__prices
                      span.actions__price-old Цена:&nbsp;
                        span 5500 Р
                      b.actions__price-cur 3000 Р

                    .actions__btns
                      .btn__wrap.btn__wrap--grad
                        a.xbtn.xbtn--grad.open-modal(href="#") Записаться

                .actions__img
                  img(src="img-temp/actions-1.jpg" alt="" data-object-fit-cover-left)

        .actions__slider-btns
          button.swiper-button-prev
          .swiper-dots.swiper-dots--circle
          button.swiper-button-next

  // /.scr_actions
