mixin scr_feat()
  section.scr_feat.feat(id="scr_feat")
    .container
      h2.page-title Преимущества клиники Dalwin

      .feat__wrap
        .feat__slider#feat__slider
          .swiper-wrapper
            .swiper-slide
              .feat__item
                .feat__icon
                  img(src="img/svg/icons/feat-1.svg" alt="")

                .feat__text
                  p
                    b Мы используем новейшее косметологическое оборудование
                    |  и безопасные препараты от авторитетных производителей
            .swiper-slide
              .feat__item
                .feat__icon
                  img(src="img/svg/icons/feat-2.svg" alt="")

                .feat__text
                  p
                    b Наши врачи состоят в  профильных врачебных ассоциациях
                    |  и систематически проходят семинары по повышению квалификации
            .swiper-slide
              .feat__item
                .feat__icon
                  img(src="img/svg/icons/feat-3.svg" alt="")

                .feat__text
                  p
                    b В клинике есть собственный центр для сдачи медицинских анализов.
                    |  Все услуги, включая диагностику, можно получить в нашем клинике
            .swiper-slide
              .feat__item
                .feat__icon
                  img(src="img/svg/icons/feat-4.svg" alt="")

                .feat__text
                  p
                    b Наша клиника находится в центре Симферополя
                    |  - легко добраться из любой части города
            .swiper-slide
              .feat__item
                .feat__icon
                  img(src="img/svg/icons/feat-5.svg" alt="")

                .feat__text
                  p
                    b Мы проводим сезонные акции,
                    |  а также предлагаем бонусные программы для постоянные клиентов.

                a.xlink.feat__more(href="#") Посмотреть подробности...
            .swiper-slide
              .feat__item
                .feat__icon
                  img(src="img/svg/icons/feat-6.svg" alt="")

                .feat__text
                  p
                    b Мы используем новейшее косметологическое оборудование
                    |  и безопасные препараты от авторитетных производителей

  // /.scr_feat
