mixin scr_spec()
  section.scr_spec.spec(id="scr_spec")
    .container
      h2.page-title Специалисты клиники

      .spec__wrap
        .spec__slider#spec__slider
          .swiper-wrapper
            .swiper-slide
              .spec__item
                a.spec__img(href="#")
                  img(src="img/spec/img-1.jpg" alt="" data-object-fit-cover)

                .spec__content
                  .spec__content-top
                    h3.spec__title Даль
                      br
                      |  Анна Владимировна

                    a.spec__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#yt")

                  .spec__content-item
                    p
                      b Стаж:
                      |  15 лет

                    p
                      b Образование:
                      |  лечебный факультет КГМУ им. Георгиевского (2005).  Интернатура по специализации «Врач дерматовенеролог» (2006).
                      br
                      |  Переподготовка по специальности «Косметология» (2015)

                    p
                      b Специализация:
                      |  врач-косметолог

                .spec__item-btns
                  .btn__wrap.btn__wrap--grad
                    a.xbtn.xbtn--grad.open-modal(href="#") Записаться на прием

                  a.xlink.spec__link.open-modal(href="#") Подробнее о враче

            .swiper-slide
              .spec__item
                a.spec__img(href="#")
                  img(src="img/spec/img-2.jpg" alt="" data-object-fit-cover)

                .spec__content
                  .spec__content-top
                    h3.spec__title Прилепская
                      br
                      |  Виктория Валерьевна

                  .spec__content-item
                    p
                      b Стаж:
                      |  15 лет

                    p
                      b Образование:
                      |  лечебный факультет КГМУ им. Георгиевского (2005).  Интернатура по специализации «Врач дерматовенеролог» (2006).

                    p
                      b Специализация:
                      |  врач-косметолог

                .spec__item-btns
                  .btn__wrap.btn__wrap--grad
                    a.xbtn.xbtn--grad.open-modal(href="#") Записаться на прием

                  a.xlink.spec__link.open-modal(href="#") Подробнее о враче

            .swiper-slide
              .spec__item
                a.spec__img(href="#")
                  img(src="img/spec/img-1.jpg" alt="" data-object-fit-cover)

                .spec__content
                  .spec__content-top
                    h3.spec__title Даль
                      br
                      |  Анна Владимировна

                    a.spec__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#yt")

                  .spec__content-item
                    p
                      b Стаж:
                      |  15 лет

                    p
                      b Образование:
                      |  лечебный факультет КГМУ им. Георгиевского (2005).  Интернатура по специализации «Врач дерматовенеролог» (2006).
                      br
                      |  Переподготовка по специальности «Косметология» (2015)

                    p
                      b Специализация:
                      |  врач-косметолог

                .spec__item-btns
                  .btn__wrap.btn__wrap--grad
                    a.xbtn.xbtn--grad.open-modal(href="#") Записаться на прием

                  a.xlink.spec__link.open-modal(href="#") Подробнее о враче

            .swiper-slide
              .spec__item
                a.spec__img(href="#")
                  img(src="img/spec/img-2.jpg" alt="" data-object-fit-cover)

                .spec__content
                  .spec__content-top
                    h3.spec__title Прилепская
                      br
                      |  Виктория Валерьевна

                  .spec__content-item
                    p
                      b Стаж:
                      |  15 лет

                    p
                      b Образование:
                      |  лечебный факультет КГМУ им. Георгиевского (2005).  Интернатура по специализации «Врач дерматовенеролог» (2006).

                    p
                      b Специализация:
                      |  врач-косметолог

                .spec__item-btns
                  .btn__wrap.btn__wrap--grad
                    a.xbtn.xbtn--grad.open-modal(href="#") Записаться на прием

                  a.xlink.spec__link.open-modal(href="#") Подробнее о враче

        .spec__slider-btns
          button.swiper-button-prev
          button.swiper-button-next

      .spec__btns
        .btn__wrap
          a.xbtn.xbtn--trsp(href="#") Все врачи

  // /.scr_spec
