mixin scr_prices()
  section.scr_prices.prices(id="scr_prices")
    .prices__top
      .container
        +breadcrumbs--prices

        button.prices__filter-open Фильтр

        .prices__df
          .prices__filter
            p.prices__filter-title Медицинские анализы

            .prices__filter-cont
              ul.menu
                li.menu-item.current-menu-item
                  a(href="#") Общеклинические комплексы
                  span.catalog__filter-btn
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")
                  ul.sub-menu
                    li.menu-item.current-menu-item
                      a(href="#") Общий анализ крови
                    li.menu-item
                      a(href="#") Общеклинические исследования мочи
                    li.menu-item
                      a(href="#") Общеклиническое исследование кала
                    li.menu-item
                      a(href="#") СОЭ
                li.menu-item
                  a(href="#") Биохимические исследования
                  span.catalog__filter-btn
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")
                  ul.sub-menu
                    li.menu-item
                      a(href="#") Общий анализ крови
                    li.menu-item
                      a(href="#") Общеклинические исследования мочи
                li.menu-item
                  a(href="#") Общие диагностические комплексы
                li.menu-item
                  a(href="#") Гормональные исследования
                li.menu-item
                  a(href="#") Онкодиагностика
                li.menu-item
                  a(href="#") Микроскопические исследования
                li.menu-item
                  a(href="#") Диагностика инфекций
                li.menu-item
                  a(href="#") Диагностика аллергии

          .prices__content
            .prices__info
              h1.page-title Прайс клинки Dalwin

              .prices__desc Сдать анализы в Симферополе
              .prices__address
                span
                  b Адрес:
                  |  Симферополь, ул. Толстого 10
                span
                  b Время приема:
                  |  Пн-Пт с 8:00 до 17:00

            ul.single-serv__nav.js-prices__nav
              li.current
                a(href="#prices__tab-0") Прайс-лист на процедуры клиники
              li
                a(href="#prices__tab-1") Прайс-лист на анализы

            ul.prices__tabs
              li.prices__tab#prices__tab-0
                .prices__wrap
                  .prices__title Общий анализ крови

                  .single-serv__table
                    table
                      thead
                        tr
                          td Название анализа
                          td Срок выполнения
                          td Цена
                      tbody
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочих дня
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (скрининг)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р


                .prices__wrap
                  .prices__title Общеклинические исследования мочи

                  .single-serv__table
                    table
                      thead
                        tr
                          td Название анализа
                          td Срок выполнения
                          td Цена
                      tbody
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочих дня
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (скрининг)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р

                .prices__btns
                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Показать ещё

              li.prices__tab#prices__tab-1
                .prices__wrap
                  .prices__title Общий анализ крови

                  .single-serv__table
                    table
                      thead
                        tr
                          td Название анализа
                          td Срок выполнения
                          td Цена
                      tbody
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочих дня
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (скрининг)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Биомаркеры функциональной способности
                            br
                            |  печени (расширенный комплекс)
                          td 1 рабочий день
                          td 1138 Р
                        tr
                          td Анемия (комплекс)_МК
                          td 2 рабочий день
                          td 1138 Р


                .prices__btns
                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Показать ещё


    .prices__add
      .container
        ul.single-serv__nav.js-prices-add__nav
          li.current
            a(href="#prices__add-tab-0") Подготовка к анализам
          li
            a(href="#prices__add-tab-1") Получение результатов
          li
            a(href="#prices__add-tab-2") Консультации врача

        ul.prices__add-tabs
          li.prices__add-tab#prices__add-tab-0
            .prices__add-wrap
              .article
                p Уважаемые пациенты! Обращаем внимание, что  кровь для выполнения лабораторных исследований рекомендуется сдавать утром натощак, после 8 - 12 часового ночного периода голодания. Если у пациента нет возможности прийти в лабораторию утром, кровь следует сдавать после 6 часов голодания, исключив в утреннем приеме пищи жиры.
                  br
                  |  Своевременная и точная диагностика различных заболеваний невозможна без лабораторных исследований. Проявлений болезни ещё нет, а показатели крови уже «сигнализируют»: «Внимание! Тревога!».

                p По оценке Всемирной Организации Здравоохранения (ВОЗ) лабораторные исследования дают 60 - 80% диагностической информации о больном. Конечно, только по одному лабораторному анализу диагноз не ставят, его сопоставляют с клинической картиной, с данными других исследований и наблюдений. Лабораторный анализ подсказывает направление для дальнейшего поиска. Поэтому регулярные профилактические обследования - это залог своевременного начала лечения, а правильная подготовка к сдаче анализов в современной лаборатории - это точный диагноз.

  // /.scr_prices
