mixin scr_servs()
  section.scr_servs.servs(id="scr_servs")
    .container
      h2.page-title Услуги клиники
      .page-desc
        p Мы используем современное оборудование и методики для достижения долгосрочного эстетического результата

      //. Здесь меняются delay для wow отдельно у .servs__img с шагом 0.2s,
      //. отдельно у .servs__content с шагом 0.2s
      .servs__df
        .servs__col
          a.servs__title(href="#") Косметология

          .servs__slider#servs__slider-0
            .swiper-wrapper
              .swiper-slide
                a.servs__item(href="#")
                  .servs__img.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.5s")
                    img(src="img/servs/img-1.jpg" alt="" data-object-fit-cover)

                  .servs__content.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.2s")
                    h4.servs__content-title Аппаратные
                      br
                      |  методики

                    p.servs__count Количество услуг:
                      b  20

              .swiper-slide
                a.servs__item(href="#")
                  .servs__img.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.7s")
                    img(src="img/servs/img-2.jpg" alt="" data-object-fit-cover)

                  .servs__content.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.4s")
                    h4.servs__content-title Инъекционные
                      br
                      |  методики

                    p.servs__count Количество услуг:
                      b  25

              .swiper-slide
                a.servs__item(href="#")
                  .servs__img.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.8s")
                    img(src="img/servs/img-3.jpg" alt="" data-object-fit-cover)

                  .servs__content.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.5s")
                    h4.servs__content-title Эстетические
                      br
                      |  услуги

                    p.servs__count Количество услуг:
                      b  11

          .servs__slider-btns
            .swiper-dots.swiper-dots--circle

        .servs__col
          a.servs__title(href="#") Оздоровление и омоложение

          .servs__slider#servs__slider-1
            .swiper-wrapper
              .swiper-slide
                a.servs__item(href="#")
                  .servs__img.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.5s")
                    img(src="img/servs/img-4.jpg" alt="" data-object-fit-cover)

                  .servs__content.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.2s")
                    h4.servs__content-title Антивозрастная
                      br
                      |  медицина

                    p.servs__count Количество услуг:
                      b  31

              .swiper-slide
                a.servs__item(href="#")
                  .servs__img.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.7s")
                    img(src="img/servs/img-6.jpg" alt="" data-object-fit-cover)

                  .servs__content.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.4s")
                    h4.servs__content-title Дерматология

                    p.servs__count Количество услуг:
                      b  15

              .swiper-slide
                a.servs__item(href="#")
                  .servs__img.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.5s")
                    img(src="img/servs/img-5.jpg" alt="" data-object-fit-cover)

                  .servs__content.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.2s")
                    h4.servs__content-title Трихология

                    p.servs__count Количество услуг:
                      b  12

              .swiper-slide
                a.servs__item(href="#")
                  .servs__img.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.7s")
                    img(src="img/servs/img-7.jpg" alt="" data-object-fit-cover)

                  .servs__content.wow.fadeIn(data-wow-duration="0.6" data-wow-delay="0.4s")
                    h4.servs__content-title Эндокринология

                    p.servs__count Количество услуг:
                      b  6

          .servs__slider-btns
            .swiper-dots.swiper-dots--circle

  // /.scr_servs
