mixin scr_single-serv()
  section.scr_single-serv.single-serv(id="scr_single-serv")
    .single-serv__main
      .container
        +breadcrumbs--serv

        .single-serv__wrap

          h1.page-title Биоревитализация в Симферополе

          .single-serv__img
            img(src="img-temp/single-serv-img.jpg" alt="" data-object-fit-cover)

          .single-serv__df
            ul.single-serv__chars
              li.single-serv__item
                .feat__icon
                  img(src="img/svg/icons/single-1.svg" alt="")

                span.single-serv__title Процедуры
                  br
                  |  для лица
              li.single-serv__item
                .feat__icon
                  span.single-serv__text 25+

                span.single-serv__title Рекомендованный
                  br
                  |  возраст: 25+
              li.single-serv__item
                .feat__icon
                  img(src="img/svg/icons/single-2.svg" alt="")

                span.single-serv__title Длительность:
                  br
                  |  30-40 минут
              li.single-serv__item
                .feat__icon
                  img(src="img/svg/icons/single-3.svg" alt="")

                span.single-serv__title Современная методика
                  br
                  |  омоложения

            .single-serv__add
              p.single-serv__add-title В процедуру включены:

              ul
                li Консультация врача-косметолога
                  br
                  |  (в день проведения процедуры)

                li Все расходные материалы

          .single-serv__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.open-modal(href="#") Записаться на процедуру

            .btn__wrap
              a.xbtn.xbtn--trsp.open-modal(href="#") Получить телефонную
                br
                |  консультацию об услуге

    .single-serv__prices
      .container
        h2.page-title Описание и цены на биоревитализацию

        ul.single-serv__nav.js-single-serv__nav
          li.current
            a(href="#single-serv__tab-0") Описание услуги
          li
            a(href="#single-serv__tab-1") Показания и противопоказания
          li
            a(href="#single-serv__tab-2") Уход за кожей после процедуры


        ul.single-serv__tabs
          li.single-serv__tab#single-serv__tab-0
            h3.single-serv__prices-title Биоревитализация
            .single-serv__prices-desc
              p эффективная методика для профилактики и коррекции возрастных изменений. Задача процедуры заключается в том, чтобы воздействовать на основную причину старения эпидермиса – потерю водного баланса и способности удерживать влагу. Препараты насыщают кожу гиалуроновой кислотой, которая увлажняет ее и восстанавливает водный баланс. В результате морщинки и складки разглаживаются, процессы старения замедляются, а признаки увядания исчезают.

            hr

            h3.single-serv__prices-title Стоимость

            .single-serv__table
              table
                thead
                  tr
                    td Процедура «Биоревитализация кожи»
                    td Даль А.
                    td Другой врач
                tbody
                  tr
                    td Aquashine
                    td 17 900 Р
                    td 14 900 Р
                  tr
                    td Aquashine
                    td 17 900 Р
                    td 14 900 Р
                  tr
                    td Aquashine
                    td 17 900 Р
                    td 14 900 Р
                  tr
                    td Aquashine
                    td 17 900 Р
                    td 14 900 Р
                  tr
                    td Aquashine
                    td 17 900 Р
                    td 14 900 Р


            .single-serv__prices-btns
              .btn__wrap
                a.xbtn.xbtn--trsp(href="#") Хочу получить консультацию
                  br
                  span  по индивидуальному подбору препарата

          li.single-serv__tab#single-serv__tab-1

  // /.scr_single-serv

mixin scr_single-serv--problem()
  section.scr_single-serv.single-serv.single-serv--problem(id="scr_single-serv")
    .single-serv__prices
      .container
        .single-serv__table-wrap
          .single-serv__table
            table
              thead
                tr
                  td Процедура «Биоревитализация кожи»
                  td Даль А.
                  td Другой врач
              tbody
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р

          .single-serv__table-btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad(href="#") Подробная информация о процедуре

        .single-serv__table-wrap
          .single-serv__table
            table
              thead
                tr
                  td Нитевые методики
                  td Даль А.
                  td Другой врач
              tbody
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р

          .single-serv__table-btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad(href="#") Подробная информация о процедуре

        .single-serv__table-wrap
          .single-serv__table
            table
              thead
                tr
                  td Контурная пластика
                  td Даль А.
                  td Другой врач
              tbody
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р
                tr
                  td Aquashine
                  td 17 900 Р
                  td 14 900 Р

          .single-serv__table-btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad(href="#") Подробная информация о процедуре



  // /.scr_single-serv
