mixin scr_before-after()
  section.scr_before-after.before-after(id="scr_before-after")
    .container
      h2.page-title До / После

      .before-after__wrap
        .before-after__slider#before-after__slider
          .swiper-wrapper
            .swiper-slide
              .before-after__item
                .before-after__col
                  a.before-after__img.link-watch.fancybox(href="img-temp/before.jpg" data-fancybox-group="before-after")
                    img(src="img-temp/before.jpg" alt="")
                .before-after__col
                  a.before-after__img.link-watch.fancybox(href="img-temp/after.jpg")
                    img(src="img-temp/after.jpg" alt="")
            .swiper-slide
              .before-after__item
                .before-after__col
                  a.before-after__img.link-watch.fancybox(href="img-temp/before.jpg" data-fancybox-group="before-after")
                    img(src="img-temp/before.jpg" alt="")
                .before-after__col
                  a.before-after__img.link-watch.fancybox(href="img-temp/after.jpg")
                    img(src="img-temp/after.jpg" alt="")
            .swiper-slide
              .before-after__item
                .before-after__col
                  a.before-after__img.link-watch.fancybox(href="img-temp/before.jpg" data-fancybox-group="before-after")
                    img(src="img-temp/before.jpg" alt="")
                .before-after__col
                  a.before-after__img.link-watch.fancybox(href="img-temp/after.jpg")
                    img(src="img-temp/after.jpg" alt="")


        .before-after__slider-nav
          button.swiper-button-prev
          button.swiper-button-next

        .swiper-slider-nav
          button.swiper-button-prev.swiper-button-prev--arrow
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next.swiper-button-next--arrow
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_before-after
