mixin scr_single-doc()
  section.scr_single-doc.single-doc(id="scr_single-doc")
    .single-doc__top
      .container
        +breadcrumbs--doc

        .single-doc__df
          .single-doc__img
            img(src="img-temp/single-doc-img.jpg" alt="")

          .single-doc__info
            .single-doc__info-top
              h3.single-doc__name Даль Анна Владимировна
              p.single-doc__exp
                b Стаж:
                |  15 лет

            p.single-doc__desc Основатель клиники, врач-косметолог, трихолог

            h4.single-doc__title Образование:
            ul.single-doc__list
              li В 2005 году окончила Крымский государственный медицинский университет им С.И. Георгиевского, лечебный факультет
              li Проходила Интернатуру по специализации «Врач дерматовенеролог» на кафедре кожных и венерических болезней КГМУ им С.И. Георгиевского с 2005 по 2006 год.
              li В 2015 году – профессиональная переподготовка по специальности «Косметология» (576 часов) на базе ФГБУ «Государственный научный центр дерматовенерологии и косметологии» Министерства здравоохранения Российской Федерации.

            .single-doc__btns
              .btn__wrap.btn__wrap--grad
                a.xbtn.xbtn--grad.open-modal(href="#") Записаться на прием к этому специалисту

    .single-doc__bottom
      .container
        ul.single-serv__nav.js-single-doc__nav
          li.current
            a(href="#single-doc__tab-0") Специализация и процедуры
          li
            a(href="#single-doc__tab-1") Время приема
          li
            a(href="#single-doc__tab-2") Сертификаты и лицензии
          li
            a(href="#single-doc__tab-3") Медиа
          li
            a(href="#single-doc__tab-4") Повышение квалификации

        ul.single-doc__tabs
          li.single-doc__tab#single-doc__tab-0
            .article
              p Другое название - эксфолиация. Суть процедуры заключается в удалении ороговевшего слоя кожи. Именно он портит внешний вид кожи: серый цвет лица, уменьшается процент проникновения полезных веществ в глубокие слои кожи, снижен тонус кожи. Пилинг отлично справляется с решением этих проблем, и бывает нескольких видов:

              p Химический - на кожу воздействуют всевозможные кислоты, например, фруктовые;

              p Ферментный - используются ферменты протеазы для очищения кожи;

              p Механический - скраб, содержащий твердые абразивные частички. Этот вариант подходит для самостоятельного ухода на дому;

              p Лазерный - процедура выполняется с помощью специального аппарата;

              p Ультразвуковой - тут тоже необходим специальный прибор для выполнения процедуры;

              p По глубине воздействия: поверхностный, срединный и глубокий.

          li.single-doc__tab#single-doc__tab-1
            .article
              p Другое название - эксфолиация. Суть процедуры заключается в удалении ороговевшего слоя кожи. Именно он портит внешний вид кожи: серый цвет лица, уменьшается процент проникновения полезных веществ в глубокие слои кожи, снижен тонус кожи. Пилинг отлично справляется с решением этих проблем, и бывает нескольких видов:

              p Химический - на кожу воздействуют всевозможные кислоты, например, фруктовые;

  // /.scr_single-doc
