mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      h1.page-title Контакты

      .contacts__wrap
        .contacts__df
          .contacts__info
            .contacts__item
              h4 Адрес:
              p Симферополь, ул. Набережная, 50,
                br
                |  ЖК Парковый (заезд с ул. Толстого)

            .contacts__item
              h4 Телефон:
              .footer__links
                a(href="tel:+79781000000" rel="nofollow") +7 (978) 100-00-00
                a.footer__msg.footer__msg--wa(href="https://api.whatsapp.com/send?phone=79781000000" rel="nofollow")
                a.footer__msg.footer__msg--viber(href="viber://chat?number=79781000000" rel="nofollow")

            .contacts__item
              h4 Почта:
              a(href="mailto:Dalwin.ru@mail.ru" rel="nofollow") Dalwin.ru@mail.ru

            .contacts__item
              h4 Координаты для навигатора:
              p 44.959923, 34.096895

            .contacts__item
              h4 Время работы:
              p Клиника - Пн-Пт с 8:00 до 20:00
                br
                |  Прием анализов - Пн-Пт с 8:00 до 12:00

            .contacts__item
              h4 Социальные сети:
              +socials

          .contacts__form
            .form.wpcf7
              .form__decor1
                svg(x='0px', y='0px', preserveAspectRatio="none", viewbox='0 0 523 722', style='enable-background:new 0 0 523 722;', xml:space='preserve')
                  g.st0
                    path.st1(d='M51.9,33.6c146.1-45.6,279.6,2,419,5.8c9.4,0.3,17.1,6.9,17.1,15.2c0,192.9,0,385.8,0,578.7\
                    c0,8.2-7.7,17.1-17.1,19.4c-139.8,33.1-279.9-1.5-419.8-4.2c-9.5-0.2-17.1-6.9-17.1-15.1c0-192.9,0-385.8,0-578.7\
                    C34,46.5,42.1,36.8,51.9,33.6z')
              .form__decor2
                svg(fill-rule='evenodd', fill="transparent", stroke-width='1px', stroke='#e1d9c9', preserveAspectRatio="none", viewBox="0 0 436 625", x="0px", y="0px")
                  path(d='M20.558,22.182 C159.557,-21.194 286.591,24.098 419.249,27.713 C428.207,27.963 435.500,34.308 435.500,42.171 C435.500,225.629 435.500,409.086 435.500,592.543 C435.500,600.365 428.220,608.802 419.238,610.954 C286.235,642.446 152.940,609.564 19.782,606.940 C10.789,606.759 3.500,600.406 3.500,592.543 C3.500,409.086 3.500,225.629 3.500,42.171 C3.493,34.364 11.166,25.148 20.558,22.182 Z')

              p.form__title Форма обратного звонка

              form.wpcf7-form
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                .form__item.form__item--submit
                  .btn__wrap.btn__wrap--grad
                    input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--grad(type='submit', value='Отправить')

                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon

        .contacts__map-wrap
          .contacts__map-img
            img(src="img/contacts-img.jpg" alt="" data-object-fit-cover)
          .contacts__map#contacts__map

  // /.scr_contacts
