mixin scr_problems()
  section.scr_problems.problems(id="scr_problems")
    .container
      h2.page-title Какую проблему Вам нужно решить?

      .problems__wrap
        .problems__slider#problems__slider
          .swiper-wrapper
            .swiper-slide
              .problems__item
                .problems__img
                  img(src="img/problems/img-1.jpg" alt="" data-object-fit-cover)

                .problems__content
                  h3.problems__title Лицо
                  p.problems__desc 23 распространенные проблемы

                .problems__btns
                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Посмотреть все варианты


            .swiper-slide
              .problems__item
                .problems__img
                  img(src="img/problems/img-2.jpg" alt="" data-object-fit-cover)

                .problems__content
                  h3.problems__title тело
                  p.problems__desc 23 распространенные проблемы

                .problems__btns
                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Посмотреть все варианты

            .swiper-slide
              .problems__item
                .problems__img
                  img(src="img/problems/img-3.jpg" alt="" data-object-fit-cover)

                .problems__content
                  h3.problems__title волосы
                  p.problems__desc 7 распространенных проблем

                .problems__btns
                  .btn__wrap
                    a.xbtn.xbtn--trsp(href="#") Посмотреть все варианты


        .problems__slider-btns
          button.swiper-button-prev
          button.swiper-button-next


  // /.scr_problems
