mixin scr_catalog()
  section.scr_catalog.catalog(id="scr_catalog")
    .container
      +breadcrumbs

      .catalog__df
        aside.catalog__filter
          //. Место для фильтра

        .catalog__wrap
          h1.page-title Косметология

          ul.tabs__nav.js-tabs__nav
            li.current
              a(href="#catalog__tab-0") Все услуги
            li
              a(href="#catalog__tab-1") Инъекционная
            li
              a(href="#catalog__tab-2") Аппаратная
            li
              a(href="#catalog__tab-3") Эстетическая

          ul.catalog__tabs
            li.catalog__tab#catalog__tab-0
              ul.catalog__list
                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-1.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Мезотерапия

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-2.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Биоревитализация

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-3.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Биорепарация

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-4.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Ботулотоксины

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-5.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Контурная пластика

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-6.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Radiesse

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-7.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Инъекции коллагена

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-8.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Лечение гипергидроза

                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-9.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Нитевой лифтинг

              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--trsp(href="#") Показать ещё

            li.catalog__tab#catalog__tab-1
              ul.catalog__list
                li.catalog__item
                  .catalog__img
                    img(src="img-temp/catalog/img-1.jpg" alt="" data-object-fit-cover)
                  h2.catalog__title Мезотерапия

              .catalog__btns
                .btn__wrap
                  a.xbtn.xbtn--trsp(href="#") Показать ещё

  // /.scr_catalog
