mixin scr_aesthetic()
  section.scr_aesthetic.aesthetic(id="scr_aesthetic")
    .container
      h1.page-title Распространенные эстетические проблемы
      p.page-desc В этот раздел мы включаем распространенные запросы, с&nbsp;которыми в нашу клинику обращаются клиенты

      ul.single-serv__nav.js-aesthetic__nav
        li.current
          a(href="#aesthetic__tab-0") Лицо и шея
        li
          a(href="#aesthetic__tab-1") волосы
        li
          a(href="#aesthetic__tab-2") тело

      ul.aesthetic__tabs
        li.aesthetic__tab#aesthetic__tab-0
          .aesthetic__wrap
            h3.aesthetic__title Я хочу:

            .single-serv__table
              table
                thead
                  tr
                    td Список желаний
                    td Доступных процедур
                    td Рекомендованный возраст
                tbody
                  tr
                    td
                      a(href="#") Омолодить лицо
                    td 15
                    td +30
                  tr
                    td
                      a(href="#") Избавиться от прыщей
                    td 7
                    td +15
                  tr
                    td
                      a(href="#") Решить проблему сухой кожи
                    td 3
                    td +15
                  tr
                    td
                      a(href="#") Решить проблемы сухой кожи
                    td 3
                    td +15
                  tr
                    td
                      a(href="#") Убрать второй подбородок
                    td 1
                    td +20
                  tr
                    td
                      a(href="#") Удалить морщины в уголках глаз
                    td 3
                    td +35

  // /.scr_aesthetic
