mixin scr_single-problem()
  section.scr_single-problem.single-problem(id="scr_single-problem")
    .container
      +breadcrumbs--problem

      .single-problem__wrap
        h1.page-title Омоложение кожи лица в Симферополе

        .single-problem__df
          ul.single-serv__nav.js-single-problem__nav
            li.current
              a(href="#single-problem__tab-0") О проблеме
            li
              a(href="#single-problem__tab-1") Биоревитализация кожи
            li
              a(href="#single-problem__tab-2") Нитевые методики
            li
              a(href="#single-problem__tab-3") Контурная пластика

          ul.single-problem__tabs
            li.single-problem__tab#single-problem__tab-0
              .single-problem__info
                span.single-problem__icon.single-problem__icon--minus
                .single-problem__text
                  p Кожа с 30 лет может требовать более тщательного ухода, чем раньше. С возрастом клетки восстанавливаются медленнее, кроме того, окружающая среда оказывает свое негативное влияние. В результате мы можем наблюдать снижение тонуса кожи, дряблость, первые морщины, пигментацию, выступающие сосуды и прочее. Нижняя треть лица теряет свою четкость за счет уменьшения тонуса мышц, физической нагрузки. Могут появиться обвисшие щеки, второй подбородок, линия нижней челюсти теряет четкость формы.

              .single-problem__info
                span.single-problem__icon.single-problem__icon--plus
                .single-problem__text
                  p Основную часть эстетических проблем, вызванных возрастом, можно решить за счет современных косметологических процедур. На этой странице мы собрали процедуры, которые назначаются для омоложения кожи лица. Для индивидуального подбора эффективной методики омоложения мы рекомендуем сразу обращаться к нашим специалистам

        .single-problem__btns
          .btn__wrap
            a.xbtn.xbtn--trsp(href="#")
              span Хочу получить консультацию
                span  по выбору
                  br
                  |  методики омоложения кожи лица

  // /.scr_single-problem
