mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h2.page-title Отзывы о клинике Dalwin

      .reviews__df
        .reviews__col
          .reviews__link-wrap
            a.reviews__link(href="#")
              svg.icon(viewbox='0 0 440.8 440.8', xmlns='http://www.w3.org/2000/svg')
                radialgradient#da(cx='14.115', cy='465.452', r='589.454', gradientunits='userSpaceOnUse')
                  stop(offset='0', stop-color='#fec053')
                  stop(offset='.327', stop-color='#f2203e')
                  stop(offset='.648', stop-color='#b729a8')
                  stop(offset='1', stop-color='#5342d6')
                path(d='M306.7 425.4H129.1c-64.7 0-117.3-52.6-117.3-117.3V130.5c0-64.7 52.6-117.3 117.3-117.3h177.6c64.7 0 117.3 52.6 117.3 117.3v177.6c0 64.7-52.6 117.3-117.3 117.3zM129.1 48.6c-45.2 0-82 36.8-82 82v177.6c0 45.2 36.8 82 82 82h177.6c45.2 0 82-36.8 82-82V130.5c0-45.2-36.8-82-82-82H129.1z', fill='url(#da)')
                path(d='M217.9 324.9c-58.2 0-105.5-47.3-105.5-105.5s47.3-105.5 105.5-105.5 105.5 47.3 105.5 105.5c0 58.1-47.3 105.5-105.5 105.5zm0-175.8c-38.7 0-70.2 31.5-70.2 70.2s31.5 70.2 70.2 70.2 70.2-31.5 70.2-70.2-31.5-70.2-70.2-70.2zM353.3 107.7c0 14-11.4 25.4-25.4 25.4-14 0-25.4-11.4-25.4-25.4 0-14 11.4-25.4 25.4-25.4 14.1.1 25.4 11.4 25.4 25.4z', fill='url(#da)')

          .reviews__wrap
            .reviews__slider#reviews__slider-0
              .swiper-wrapper
                .swiper-slide
                  a.reviews__item.link-watch.reviews__item--img.fancybox(href="img-temp/insta-img.jpg" data-fancybox-group="reviews-insta")
                    img(src="img-temp/insta-img.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.reviews__item.link-watch.reviews__item--img.fancybox(href="img-temp/insta-img.jpg" data-fancybox-group="reviews-insta")
                    img(src="img-temp/insta-img.jpg" alt="" data-object-fit-cover)

            .reviews__slider-nav.swiper-slider-nav
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              .swiper-dots
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")

        .reviews__col
          .reviews__link-wrap
            a.reviews__link.reviews__link--yt(href="#")
              svg.icon
                use(xlink:href="img/svg/sprite.svg#yt")

          .reviews__wrap
            .reviews__slider#reviews__slider-1
              .swiper-wrapper
                .swiper-slide
                  a.reviews__item.link-watch.link-watch--video.reviews__item--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                    span.btn__wrap.btn__wrap--grad
                      span.xbtn.xbtn--grad.xbtn--circle
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#play")
                    img(src="img-temp/yt-img.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.reviews__item.link-watch.link-watch--video.reviews__item--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
                    span.btn__wrap.btn__wrap--grad
                      span.xbtn.xbtn--grad.xbtn--circle
                        svg.icon
                          use(xlink:href="img/svg/sprite.svg#play")
                    img(src="img-temp/yt-img.jpg" alt="" data-object-fit-cover)


            .reviews__slider-nav.swiper-slider-nav
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              .swiper-dots
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")


  // /.scr_reviews
