mixin script-map()
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" unselectable="on" scroll="false")
  script.
    (function($){
      createMap('contacts__map',[44.955037, 34.093284]);

      function createMap(xID,coords) {

        if ($("#" + xID + "").length > 0) {

          var myMap;

          // Дождёмся загрузки API и готовности DOM.
          ymaps.ready(init);

          function init () {
              myMap = new ymaps.Map(xID, {
                  center: coords,
                  zoom: 16
              }, {
                  searchControlProvider: 'yandex#search'
              });

              BalloonContentLayout = ymaps.templateLayoutFactory.createClass(
                '<div class="map-balloon">' +
                '<div class="map-logo"><img src="img/svg/logo.svg" alt=""></div>' +
                '<p class="map-text">ул. Набережная, 50 <br> ЖК Парковый (заезд с ул. Толстого)</p>' +
                '</div>', {
               });

              // Создаём макет содержимого.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),

                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    hintContent: 'улица Толстого, 10',
                    balloonContent: 'улица Толстого, 10'
                }, {
                  // Опции.
                  balloonContentLayout: BalloonContentLayout,
                  // Запретим замену обычного балуна на балун-панель.
                  // Если не указывать эту опцию, на картах маленького размера откроется балун-панель.
                  balloonPanelMaxMapArea: 0,
                  // Необходимо указать данный тип макета.
                  iconLayout: 'default#image',
                  // Своё изображение иконки метки.
                  iconImageHref: 'img/pin.png',
                  // Размеры метки.
                  iconImageSize: [29, 39],
                  // Смещение левого верхнего угла иконки относительно
                  // её "ножки" (точки привязки).
                  iconImageOffset: [-15, -60]
                });

            myMap.geoObjects
                .add(myPlacemark);
            //- myPlacemark.balloon.open();
            myMap.behaviors.disable('scrollZoom');
          }
        }
      }

    })(jQuery);
