.scr1
  position: relative
  &__slide-wrap
    position: relative
    background-color: $accent2
    display: flex
    flex-direction: column
    height: 100%
    padding: 209px 205px 315px
    z-index: 1
  &__bg
    position: absolute
    top: 0
    left: 0

    width: 100%
    height: 100%
    opacity: 0.4
    z-index: -1
  &__content
    flex-grow: 1
  &__title
    position: relative
    margin-bottom: 30px
    font-size: 24px
    line-height: 1.2
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.05em
    color: #f1f2f2
    &::before
      content: ''

      display: inline-block
      width: 69px
      height: 2px
      margin-right: 21px
      background-color: $accent
    strong
      color: $accent
      text-transform: none
      font-weight: 500
      font-size: 50px
  &__date
    font-size: 24px
    line-height: 1.2
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.05em
    color: #f1f2f2
  &__btns
    margin-top: 60px

  &__bottom
    position: absolute
    left: 0
    bottom: 60px
    width: 100%
    padding: 0 206px
  &__slide-title
    margin-bottom: 13px
    font-size: 18px
    line-height: 1.2
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.05em
    color: #f1f2f2
  &__slide-desc
    font-size: 16px
    line-height: 1.5
    color: #ffffff
  &-thumbs
    .swiper-slide
      padding: 0 1px
      .scr1__slide2-wrap
        position: relative
        padding-bottom: 25px
        border-bottom: 2px solid $accent
        &::after
          content: ''
          position: absolute
          left: 0
          bottom: -2px
          display: block
          width: 199px
          max-width: 100%
          height: 2px
          background-color: $accent2
          opacity: 0
          transition: 0.3s
      &.swiper-slide-thumb-active
        .scr1__slide2-wrap
          &::after
            opacity: 1



  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* scr1 */
