.cta
  position: relative
  background-color: rgba(2,0,0,0.9)
  padding: 36px 0
  z-index: 3
  &__df
    display: flex
    align-items: center
    justify-content: flex-end
    padding-right: 97px
  &__form
    width: 59.03846153846154%
  &__title
    margin-right: 27px
    font-size: 24px
    line-height: 1.166666666666667 /* 28 / 24 */
    font-weight: 300
    text-transform: uppercase
    color: #ffffff


  @media screen and (max-width: 1170px)
    &__df
      padding-right: 0

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__title
      font-size: 19px
    &__form
      width: 64.038462%

  // max-width 991px

  @media screen and (max-width: 870px)
    &__title
      margin-right: 17px
      font-size: 17px
    &__form
      width: 68.038462%

  // max-width 870px

  @media screen and (max-width: 800px)
    &__df
      flex-direction: column
      justify-content: center
    &__title
      text-align: center
    &__form
      width: 100%
      max-width: 614px
      margin-top: 30px

  // max-width 870px

  @media screen and (max-width: 575px)
    padding: 26px 0

  // max-width 575px

/* cta */
