.led
  position: relative
  background: #5e5e5e url('../img/led-bg.jpg') no-repeat center center
  background-size: cover
  padding-top: 167px
  padding-bottom: 206px
  z-index: 2
  &__desc
    padding-left: 460px
    font-size: 24px
    line-height: 1.5 /* 36 / 24 */
    font-weight: 400
    color: #ffffff
    strong
      font-weight: 500
    p
      margin-bottom: 33px


  @media screen and (max-width: 1070px)
    &__desc
      padding-left: 310px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__desc
      padding-left: 230px

  // max-width 991px

  @media screen and (max-width: 830px)
    padding-top: 67px
    padding-bottom: 26px
    &__desc
      padding-left: 290px
      font-size: 19px
      line-height: 1.4

  // max-width 830px

  @media screen and (max-width: 767px)
    &__desc
      padding-left: 260px
      font-size: 17px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__desc
      padding-left: 200px
      br
        display: none

  // max-width 650px

  @media screen and (max-width: 575px)
    padding-top: 47px
    padding-bottom: 16px
    background-position: right center
    &__desc
      padding-left: 0

  // max-width 575px

  @media screen and (max-width: 430px)
    padding-top: 47px
    padding-bottom: 16px
    &__desc
      font-size: 15px
      text-align: center
      p
        margin-bottom: 23px

  // max-width 430px

/* led */
