mixin header--main(logotype)
  header.header.header--main(id="header")
    .header__wrap
      button.burger#header__burger
        span.burger__wrap
          span.line

      .logo__wrap
        if logotype == "a"
          #{logotype}.logo(href="index.html")
            picture
              source(media="(min-width: 1200px)" srcset="img/logo-inner.png")
              img(src="img/svg/logo-menu-blue.svg" srcset="img/svg/logo-menu-blue.svg" alt="лого")
        else
          #{logotype}.logo
            picture
              source(media="(min-width: 1200px)" srcset="img/logo-inner.png")
              img(src="img/svg/logo-menu-blue.svg" srcset="img/svg/logo-menu-blue.svg"  alt="лого")

      .header__menu
        span.decor-line

        ul.menu
          li.menu-item
            a(href="#") О нас
          li.menu-item
            a(href="#") Команда
          li.menu-item
            a(href="#") Услуги
          li.menu-item
            a(href="#") Отзывы
          li.menu-item
            a(href="#") Вопрос/ответ
          li.menu-item
            a(href="#") Блог
          li.menu-item
            a(href="#") Контакты

      .scr1__phones
        a.mobile.btn.btn--circle(href="tel:+79781234567" rel="nofollow")
          i.fa.fa-phone
        a.desktop.btn.btn--circle(href="tel:+79781234567" rel="nofollow")
          i.fa.fa-phone
        a.scr1__phone.link(href="tel:+79781234567" rel="nofollow") +7 (978) 123 45 67

    // /.header__wrap

mixin header(logotype)
  header.header(id="header")
    .header__wrap
      button.burger#header__burger
        span.burger__wrap
          span.line

      .logo__wrap
        if logotype == "a"
          #{logotype}.logo(href="index.html")
            picture
              source(media="(min-width: 1200px)" srcset="img/logo-inner.png")
              img(src="img/svg/logo-menu-blue.svg" srcset="img/svg/logo-menu-blue.svg" alt="лого")
        else
          #{logotype}.logo
            picture
              source(media="(min-width: 1200px)" srcset="img/logo-inner.png")
              img(src="img/svg/logo-menu-blue.svg" srcset="img/svg/logo-menu-blue.svg"  alt="лого")

      .header__menu
        span.decor-line

        ul.menu
          li.menu-item
            a(href="#") О нас
          li.menu-item
            a(href="#") Команда
          li.menu-item
            a(href="#") Услуги
          li.menu-item
            a(href="#") Отзывы
          li.menu-item
            a(href="#") Вопрос/ответ
          li.menu-item
            a(href="#") Блог
          li.menu-item
            a(href="#") Контакты

      .scr1__phones
        a.mobile.btn.btn--circle(href="tel:+79781234567" rel="nofollow")
          i.fa.fa-phone
        a.desktop.btn.btn--circle(href="tel:+79781234567" rel="nofollow")
          i.fa.fa-phone
        a.scr1__phone.link(href="tel:+79781234567" rel="nofollow") +7 (978) 123 45 67


    // /.header__wrap
