mixin scr1()
  section.scr1.section(id="scr1")
    .scr1__header
      button.burger#scr1__burger
        span.burger__wrap
          span.line

      .logo__wrap
        .logo
          img(src="img/svg/logo.svg" alt="лого")

      .scr1__phones
        a.mobile.btn.btn--circle(href="tel:+79781234567" rel="nofollow")
          i.fa.fa-phone
        a.desktop.btn.btn--circle(href="tel:+79781234567" rel="nofollow")
          i.fa.fa-phone
        a.scr1__phone.link(href="tel:+79781234567" rel="nofollow") +7 (978) 123 45 67

    .container
      .scr1__bg
        img(src="img/scr1-bg.png", alt="")

      .scr1__wrap
        .scr1__content
          h1.scr1__title Юридическая компания
            br
            span  с настоящим
            |  именем

          .scr1__desc
            p Решаем сложные юридические вопросы
              br
              |  Отвечаем за работу своим именем

        .scr1__btns
          .btn__wrap
            a.btn.btn--blue.open-modal(href="#") Заказать звонок


  // /.scr1
