mixin scr_faq()
  section.scr_faq.faq(id="scr_faq")
    .container
      h1.title Вопрос/ответ

      ul.faq__list
        li.faq__item
          .top
            h2 Как сделать перерасчет за коммунальные платежи?
            button.open
          .hidden
            .article
              p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:
              ul
                li подать заявление о перерасчете стоимости услуг по холодному и горячему водоснабжению,
                li приложить к нему акт обследования, подтверждающий невозможность установки счетчиков,
                li приложить документы, подтверждающие ваше отсутствие в указанный период. Например, билеты.
                li Оформить перерасчет за услуги ЖКХ можно в центре госуслуг «Мои документы».

        li.faq__item
          .top
            h2 Как сделать перерасчет за коммунальные платежи?
            button.open
          .hidden
            .article
              p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:

        li.faq__item
          .top
            h2 Как сделать перерасчет за коммунальные платежи?
            button.open
          .hidden
            .article
              p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:

        li.faq__item
          .top
            h2 Как сделать перерасчет за коммунальные платежи?
            button.open
          .hidden
            .article
              p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:

        li.faq__item
          .top
            h2 Как сделать перерасчет за коммунальные платежи?
            button.open
          .hidden
            .article
              p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:


      .faq__form
        .form.form--second.wpcf7
          p.form__title задайте свой вопрос

          form.wpcf7-form
            .form__df
              .form__col
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', id="your-name", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-name").form__label Имя

                .form__item
                  span.wpcf7-form-control-wrap.your-email.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', id="your-email", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-email").form__label e-mail

              .form__col
                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', id="your-tel", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-tel").form__label телефон

                .form__item
                  span.wpcf7-form-control-wrap.your-msg.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-msg(type='text', name='your-msg', id="your-msg", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-msg").form__label сообщение

            .form__bottom
              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Нажимая на кнопку, я даю согласие
                          br
                          i  на обработку персональных данных

              .form__item.form__item--submit
                input.wpcf7-form-control.wpcf7-submit.btn.btn--blue(type='submit', value='отправить')

  // /.scr_faq

mixin scr_faq--main()
  section.scr_faq.faq.faq--main.section(id="scr_faq")
    .team__wrap
      .container
        h1.title Вопрос/ответ

        ul.faq__list
          li.faq__item
            .top
              h2 Как сделать перерасчет за коммунальные платежи?
              button.open
            .hidden
              .article
                p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:
                ul
                  li подать заявление о перерасчете стоимости услуг по холодному и горячему водоснабжению,
                  li приложить к нему акт обследования, подтверждающий невозможность установки счетчиков,
                  li приложить документы, подтверждающие ваше отсутствие в указанный период. Например, билеты.
                  li Оформить перерасчет за услуги ЖКХ можно в центре госуслуг «Мои документы».

          li.faq__item
            .top
              h2 Как сделать перерасчет за коммунальные платежи?
              button.open
            .hidden
              .article
                p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:

          li.faq__item
            .top
              h2 Как сделать перерасчет за коммунальные платежи?
              button.open
            .hidden
              .article
                p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:

          li.faq__item
            .top
              h2 Как сделать перерасчет за коммунальные платежи?
              button.open
            .hidden
              .article
                p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:

          li.faq__item
            .top
              h2 Как сделать перерасчет за коммунальные платежи?
              button.open
            .hidden
              .article
                p  Вы можете сделать перерасчет за коммунальные услуги, так как отсутствовали длительное время. Однако перерасчет можно сделать только в случае, если счетчики технически невозможно установить в квартире (обычно в старых домах, где проблемы с коммуникациями). Если у вас не стоят счетчики именно из-за технических условий, то вам нужно:


        .faq__form
          .form.form--second.wpcf7
            p.form__title задайте свой вопрос

            form.wpcf7-form
              .form__df
                .form__col
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', id="your-name3", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-name").form__label Имя

                  .form__item
                    span.wpcf7-form-control-wrap.your-email.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', id="your-email3", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-email").form__label e-mail

                .form__col
                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', id="your-tel3", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-tel").form__label телефон

                  .form__item
                    span.wpcf7-form-control-wrap.your-msg.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-msg(type='text', name='your-msg', id="your-msg3", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-msg").form__label сообщение

              .form__bottom
                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Нажимая на кнопку, я даю согласие
                            br
                            i  на обработку персональных данных

                .form__item.form__item--submit
                  input.wpcf7-form-control.wpcf7-submit.btn.btn--blue(type='submit', value='отправить')



  // /.scr_faq
