mixin scr_about()
  section.scr_about.about.grey-bg(id="scr_about")
    .container
      .about__content.clearfix
        .about__img.toAnimate(data-anim-name="fadeIn" data-anim-delay="0.5s")
          noscript
            img.lazy(src="img-temp/about-img.jpg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about-img.jpg" alt="" width="125" height="90")

        .about__top
          h2.title.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.5s") О нас

          .article.toAnimate.faster(data-anim-name="fadeIn" data-anim-delay="0.5s")
            p Каждый из нас понимает очевидную вещь: граница обучения кадров играет определяющее значение для укрепления моральных ценностей. Противоположная точка зрения подразумевает, что некоторые особенности внутренней политики призывают нас к новым свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных рациональных ограничений. Ясность нашей позиции очевидна: перспективное планирование играет важную роль в формировании приоритизации разума над эмоциями.

        .about__feat
          ol.about__feat-list
            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              h3 открытость
              p Мы никогда не ограничиваемся конкретными отраслями или
                br
                |  технологиями

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.6s")
              h3 экспертность
              p Наша команда состоит из
                br
                |  экспертов и возглавляется
                br
                |  экспертами

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              h3 команда
              p Наша команда состоит из
                br
                |  экспертов и возглавляется
                br
                |  экспертами

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.8s")
              h3 понимание
              p Мы внимательно слушаем и слышим суть, чтобы превратить обыденное сообщение в магию

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.9s")
              h3 прозрачность
              p Мы всегда рады предлагать честные условия сотрудничества, адекватные цены и разумные сроки


  // /.scr_about

mixin scr_about--main()
  section.scr_about.about.about--main.grey-bg.slide(id="scr_about")
    .container
      .about__content.clearfix
        .about__img.toAnimate(data-anim-name="fadeIn" data-anim-delay="0.5s")
          noscript
            img.lazy(src="img-temp/about-img.jpg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about-img.jpg" alt="" width="125" height="90")

        .about__top
          h2.title.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.5s") О нас

          .article.toAnimate.faster(data-anim-name="fadeIn" data-anim-delay="0.5s")
            p Каждый из нас понимает очевидную вещь: граница обучения кадров играет определяющее значение для укрепления моральных ценностей. Противоположная точка зрения подразумевает, что некоторые особенности внутренней политики призывают нас к новым свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных рациональных ограничений. Ясность нашей позиции очевидна: перспективное планирование играет важную роль в формировании приоритизации разума над эмоциями.

        .about__feat
          ol.about__feat-list
            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              h3 открытость
              p Мы никогда не ограничиваемся конкретными отраслями или
                br
                |  технологиями

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.6s")
              h3 экспертность
              p Наша команда состоит из
                br
                |  экспертов и возглавляется
                br
                |  экспертами

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              h3 команда
              p Наша команда состоит из
                br
                |  экспертов и возглавляется
                br
                |  экспертами

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.8s")
              h3 понимание
              p Мы внимательно слушаем и слышим суть, чтобы превратить обыденное сообщение в магию

            li.about__feat-item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.9s")
              h3 прозрачность
              p Мы всегда рады предлагать честные условия сотрудничества, адекватные цены и разумные сроки


  // /.scr_about
