mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h1.title Блог

      ul.section__nav
        li.active
          a.link(href="#") Все материалы
        li
          a.link(href="#") Новости
        li
          a.link(href="#") Мероприятия

      ul.blog__list
        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС

        li.blog__item
          a.blog__wrap(href="#")
            .blog__top
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="")
                span 18 марта
                span.blog__time-line
                span 2020

              h2 Конфликт двух решений
                br
                |  и супружеский дом в ипотеке:
                br
                |  новые дела ВС


      +paginator

  // /.scr_blog
