mixin scr_team()
  section.scr_team.team.section.grey-bg(id="scr_team")
    .container
      .team__wrap
        h2.title.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.5s") Команда

        ul.team__list
          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.5s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Ярослав Селютин

                p Руководитель

          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.6s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Екатерина Сорокина

                p Помощник руководителя

          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.7s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Ярослав Селютин

                p Руководитель

          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.8s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Ярослав Селютин

                p Руководитель

          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.9s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Ярослав Селютин

                p Руководитель

          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="1.0s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Екатерина Сорокина

                p Помощник руководителя

          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="1.1s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Ярослав Селютин

                p Руководитель

          li.team__item.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="1.2s")
            .team__item-wrap
              .team__img
                noscript
                  img.lazy(src="img-temp/team/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/team/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .team__content
                h3 Ярослав Селютин

                p Руководитель


        .team__form
          .form.form--general.wpcf7
            p.form__title хотите стать частью команды?

            form.wpcf7-form
              .form__df
                .form__col
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', id="your-name", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-name").form__label Имя

                  .form__item
                    span.wpcf7-form-control-wrap.your-email.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', id="your-email", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-email").form__label e-mail

                .form__col
                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', id="your-tel", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-tel").form__label телефон

                  .form__item
                    span.wpcf7-form-control-wrap.your-msg.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-msg(type='text', name='your-msg', id="your-msg", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                      label(for="your-msg").form__label сообщение

              .form__bottom
                .form__item
                  span.wpcf7-form-control-wrap.your-file
                    label(tabindex="0")
                      input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                      span.sl прикрепить резюме
                        i +

                .form__item.form__item--submit
                  input.wpcf7-form-control.wpcf7-submit.btn.btn--blue(type='submit', value='отправить')

                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Нажимая на кнопку, я даю согласие
                            br
                            i  на обработку персональных данных


    +footer("div")


  // /.scr_team
