mixin scr_serv-item()
  section.scr_serv-item.serv-item(id="scr_serv-item")
    .container
      .post__top
        .post__bg
          noscript
            img.lazy(src="img-temp/serv-item-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv-item-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

        +breadcrumbs--serv-item

        h1.post__title Несостоятельность и банкротство

      .post__wrap

        .article
          ul.section__nav
            li.active
              a.link(href="#") Услуги кредиторам
            li
              a.link(href="#") Услуги должникам
            li
              a.link(href="#") Услуги должникам/ кредиторам:

          h2 Услуги кредиторам
          ul
            li
              b Подготовка и подача в арбитражный суд заявления кредитора о признании должника несостоятельным (банкротом).
            li
              b Подготовка и подача в арбитражный суд требования кредитора о включении его требования в реестр требований кредиторов должника.
            li
              b Выявление сделок должника, которые могут быть оспорены по основаниям, предусмотренным действующим законодательством, в том числе Федеральным законом «О несостоятельности (банкротстве)», подготовка проектов исковых заявлений, направление требований арбитражным управляющим о необходимости оспаривания сделок.
            li
              b Проведение мероприятий, связанных с привлечением к субсидиарной ответственности контролирующих должника лиц (руководителя, учредителей и др.).
            li
              b Проведение мероприятий, связанных с оставлением залоговым кредитором предмета залога за собой в рамках процедуры банкротства, в том числе подготовка и направление конкурсному управляющему соответствующего заявления.
            li
              b Сбор и систематизация информации о должниках и их финансовом состоянии.
            li
              b Проведение мероприятий, связанных с взысканием задолженности в судебном порядке, в том числе подготовка и подача исковых заявлений, представительство в суде, сопровождение исполнительного производства.


      .serv-item__form
        .form.form--general.wpcf7
          p.form__title оставить заявку

          form.wpcf7-form
            .form__df
              .form__col
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', id="your-name", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-name").form__label Имя

                .form__item
                  span.wpcf7-form-control-wrap.your-email.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-email(type='email', name='your-email', id="your-email", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-email").form__label e-mail

              .form__col
                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', id="your-tel", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-tel").form__label телефон

                .form__item
                  span.wpcf7-form-control-wrap.your-msg.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-msg(type='text', name='your-msg', id="your-msg", value='', size='40', aria-required='true', aria-invalid='false', placeholder='')
                    label(for="your-msg").form__label сообщение

            .form__bottom
              .form__item
                span.wpcf7-form-control-wrap.your-file
                  label(tabindex="0")
                    input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                    span.sl прикрепить файл
                      i +

              .form__item.form__item--submit
                input.wpcf7-form-control.wpcf7-submit.btn.btn--blue(type='submit', value='Заказать услугу')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Нажимая на кнопку, я даю согласие
                          br
                          i  на обработку персональных данных


  // /.scr_post
