mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      .post__top
        .post__bg
          noscript
            img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

        +breadcrumbs

        h1.post__title Конфликт двух решений и супружеский дом в ипотеке: новые дела ВС

      .post__wrap
        .article
          p
            strong Коллегия по экономическим спорам разберется в конфликте двух судебных актов по одному и тому же делу, а также выяснит, должна ли компания передекларировать товар после его выпуска в оборот. А в апелляционной коллегии оспаривают инструкцию Суддепа по делопроизводству в районных судах.

          p В Президиуме ВС назначено к рассмотрению семь дел. Вернулось из ЕСПЧ дело генерал-лейтенанта милиции Александра Бокова, которого в 2012 году осудили на девять лет лишения свободы за мошенничество на $10 млн (дело № 188П19). Следствие установило, что Боков с Михаилом Креймером и Сергеем Степановым, с подельниками, в 2005 году убедили тогдашнего владельца Одесского морского порта Алексея Чегодаева, что помогут ему купить контрольный пакет акций «Волготанкера». Коммерсант поверил, передал деньги генералу, но тот обманул и перестал выходить на связь.

          p – Еще одно интересное дело также вернулось из Страсбурга. Сыктывкарец Валерий Ванеев доказал, что судья Омутнинского районного суда Кировской области Игорь Копысов не мог рассматривать его уголовное дело, ведь в этом суде работала супруга потерпевшего от преступления. ЕСПЧ решил, что сомнения заявителя относительно беспристрастности судьи Копысова были обоснованными, и присудил пострадавшему €3200.

          p 14 дел рассмотрят в экономколлегии:
            br
            |  В банкротном деле № А40-195946/2016 Наталье Денисовой отказали во включении в реестр ООО «Промо Трейд Тойз» ее требований в 7,8 млн руб. – эта сумма стала разницей между стоимостью первоначально поставленного и стоимостью возвращенного товара. Суды решили, что факт поставки не был доказан. А потом управляющий успешно оспорил саму сделку возврата товара и доказал, что действия сторон были направлены на вывод активов должника. Денисова пожаловалась в Верховный суд: она уверена, что в результате того, что одни и те же доказательства получили противоречивую оценку, возник конфликт судебных актов.

          p – АО «Куриное Царство – Брянск» закупило в Испании куриные яйца. Но не простые, а оплодотворенные, предназначенные для инкубации бройлеров. На таможне их классифицировали соответствующе – по коду, который предусматривал нулевую ставку ввозной таможенной пошлины. Таможенники выяснили, что часть яиц не была оплодотворена, и пересчитали ставку до 15%. Компания в попытках обжаловать это дошла до Верховного суда. В своей жалобе они настаивают, что на самом деле неоплодотворенные яйца были «скрытым технологическим браком», о котором компания не могла знать до получения товара. А обязанности передекларировать товар после его выпуска с таможни в свободное обращение у декларанта нет, уверен заявитель.



  // /.scr_post
