mixin scr_serv()
  section.scr_serv.serv.section(id="scr_serv")
    .container
      h1.title Услуги

      ul.section__nav
        li.active
          a.link(href="#serv__tab-0") Юридическим лицам
        li
          a.link(href="#serv__tab-1") Физическим лицам

      ul.serv__tabs
        li.serv__tab#serv__tab-0
          ul.blog__list
            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 антимонопольное законодательство

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 государственно-частное партнерство (гчп) / инфраструктурные проекты

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 интеллектуальная собственность

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 корпоративная практика

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 правовое сопровождение инвестиционных проектов

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 судебно-арбитражная практика. международный коммерческий арбитраж

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 налоговая
                    br
                    |  практика

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 недвижимость
                    br
                    |  и строительство

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line
                      .blog__word
                        span

                .blog__content
                  h2 несостоятельность
                    br
                    |  и банкротство


        li.serv__tab#serv__tab-1
          ul.blog__list
            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 антимонопольное законодательство

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 правовое сопровождение инвестиционных проектов

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 судебно-арбитражная практика. международный коммерческий арбитраж

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 налоговая
                    br
                    |  практика

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line

                .blog__content
                  h2 недвижимость
                    br
                    |  и строительство

            li.blog__item
              a.blog__wrap(href="#")
                .blog__top
                  .blog__img
                    noscript
                      img.lazy(src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .blog__hover
                    .blog__inner
                      .blog__word
                        span подробнее
                      .blog__line
                      .blog__word
                        span

                .blog__content
                  h2 несостоятельность
                    br
                    |  и банкротство


  // /.scr_blog

mixin scr_serv--main()
  section.scr_serv.serv.serv--main.section(id="scr_serv")
    .team__wrap
      .container
        h1.title Услуги

        ul.section__nav
          li.active
            a.link(href="#serv__tab-0") Юридическим лицам
          li
            a.link(href="#serv__tab-1") Физическим лицам

        ul.serv__tabs
          li.serv__tab#serv__tab-0
            ul.blog__list
              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 антимонопольное законодательство

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 государственно-частное партнерство (гчп) / инфраструктурные проекты

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.9s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 интеллектуальная собственность

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="1.1s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 корпоративная практика

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="1.3s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 правовое сопровождение инвестиционных проектов

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="1.5s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 судебно-арбитражная практика. международный коммерческий арбитраж

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="1.7s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 налоговая
                      br
                      |  практика

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="1.9s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 недвижимость
                      br
                      |  и строительство

              li.blog__item.faster.toAnimate(data-anim-name="fadeInUp" data-anim-delay="2.1s")
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line
                        .blog__word
                          span

                  .blog__content
                    h2 несостоятельность
                      br
                      |  и банкротство


          li.serv__tab#serv__tab-1
            ul.blog__list
              li.blog__item
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 антимонопольное законодательство

              li.blog__item
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 правовое сопровождение инвестиционных проектов

              li.blog__item
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 судебно-арбитражная практика. международный коммерческий арбитраж

              li.blog__item
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 налоговая
                      br
                      |  практика

              li.blog__item
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line

                  .blog__content
                    h2 недвижимость
                      br
                      |  и строительство

              li.blog__item
                a.blog__wrap(href="#")
                  .blog__top
                    .blog__img
                      noscript
                        img.lazy(src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/serv/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
                    .blog__hover
                      .blog__inner
                        .blog__word
                          span подробнее
                        .blog__line
                        .blog__word
                          span

                  .blog__content
                    h2 несостоятельность
                      br
                      |  и банкротство


  // /.scr_blog
