mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      h1.title Отзывы

      .reviews__slider#reviews__slider
        .swiper-wrapper
          .reviews__item.swiper-slide
            .reviews__wrap.clearfix
              a.reviews__img.fancybox(href="img-temp/reviews-img.jpg")
                img(src="img-temp/reviews-img.jpg", alt="")
              .reviews__content
                h2 ООО «Трест»
                .article
                  p На протяжении нескольких лет сотрудничаем с Ярославом Юрьевичем и неоднократно пользовались его юридическими услугами. Плодотворный опыт работы показал, что Ярослава Юрьевича отличает высокий профессионализм, позволяющий ему выполнять работу по оказанию юридической помощи любой сложности. Нельзя не отметить оказание услуг в сжатые сроки. В свою очередь выражаем благодарность  и надеемся на дальнейшее сотрудничество.

          .reviews__item.swiper-slide
            .reviews__wrap.clearfix
              a.reviews__img.fancybox(href="img-temp/reviews-img.jpg")
                img(src="img-temp/reviews-img.jpg", alt="")
              .reviews__content
                h2 ООО «Трест»
                .article
                  p На протяжении нескольких лет сотрудничаем с Ярославом Юрьевичем и неоднократно пользовались его юридическими услугами.

          .reviews__item.swiper-slide
            .reviews__wrap.clearfix
              a.reviews__img.fancybox(href="img-temp/reviews-img.jpg")
                img(src="img-temp/reviews-img.jpg", alt="")
              .reviews__content
                h2 ООО «Трест»
                .article
                  p На протяжении нескольких лет сотрудничаем с Ярославом Юрьевичем и неоднократно пользовались его юридическими услугами.

          .reviews__item.swiper-slide
            .reviews__wrap.clearfix
              a.reviews__img.fancybox(href="img-temp/reviews-img.jpg")
                img(src="img-temp/reviews-img.jpg", alt="")
              .reviews__content
                h2 ООО «Трест»
                .article
                  p На протяжении нескольких лет сотрудничаем с Ярославом Юрьевичем и неоднократно пользовались его юридическими услугами.

        .reviews__slider-nav
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_reviews
