mixin styles()
  link(rel='stylesheet', href='libs/normalize.min.css')
  link(rel='stylesheet', href='libs/animate.css')
  link(rel='stylesheet', href='libs/swiper/swiper.min.css')
  //- link(rel='stylesheet', href='libs/owl/owl.carousel.min.css')
  link(rel='stylesheet', href='libs/fullpage/fullpage.min.css')
  link(rel='stylesheet', href='css/main.css')
