mixin footer(logotype)
  footer.footer(id="footer")

    .container
      .footer__top
        .logo__wrap
          if logotype == "a"
            #{logotype}.logo(href="index.html")
              img(src="img/logo-footer.png" alt="лого")
          else
            #{logotype}.logo
              img(src="img/logo-footer.png" alt="лого")

        .footer__menu
          ul.menu
            li.menu-item
              a(href="#scr_indiv") Продукция
            li.menu-item
              a(href="#scr_features") Об ИРП
            li.menu-item
              a(href="#scr_irp") Для кого
            li.menu-item
              a(href="#scr_cond") Условия покупки

        .footer__contacts
          h3 Контакты

          .footer__contacts-item
            a.footer__text(href="tel:+79148525499" rel="nofollow") +7 (914)-852-54-99
          .footer__contacts-item
            a.footer__text(href="mailto:suhpaek49@mail.ru" rel="nofollow") suhpaek49@mail.ru
          .footer__contacts-item
            p.footer__text Ежедневно: с 10-00 до 18-00


      // /.container
    // /.footer__top

    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
              a(href="#") Политика конфиденциальности
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

