mixin paginator()
  .pager.clear
    ul.page-numbers
      li
        a.prev.page-number(href='#')

      li.current
        a.page-number(href='#') 1
      li
        span.page-number.current(aria-current="page") 2
      li
        a.page-number(href='#') 3

      li
        a.next.page-number(href='#')


  // /.paginator
