mixin scr1()
  section.scr1(id="scr1")
    .scr1__bg(style="background: transparent url('img/scr1-bg.jpg') no-repeat top center; background-size: cover;")

    .container
      .scr1__content
        h1.scr1__title Суточный рацион питания
          br
          |  с доставкой в день заказа от 500 р.

        p.scr1__desc Бесплатная доставка при заказе
          br
          |  от 3-х комплектов

        .scr1__btns
          a.btn.btn--grad(href="#") заказать паёк

      .advantages
        ul.advantages__list
          li.advantages__item
            .advantages__text
              p Идеален для охотников,
                br
                |  дальнобойщиков,
                br
                |  путешественников

            a.advantages__link(href="#") Для кого еще

          li.advantages__item
            .advantages__text
              p Натуральное мясо
                br
                |  в консервах от Барышского
                br
                |  мясокомбината

            a.advantages__link(href="#") О продуктах

          li.advantages__item
            .advantages__text
              p 7 разновидностей
                br
                |  пайков на любой вкус
                br
                |  и случай

            a.advantages__link(href="#") Что внутри

  // /.scr1


mixin scr1--hunter()
  section.scr1(id="scr1")
    .scr1__bg(style="background: transparent url('img/scr1-bg--hunter.jpg') no-repeat top center; background-size: cover;")

    .container
      .scr1__content
        h1.scr1__title Возьмите с собой на рыбалку и охоту

          br
          |  суточный набор еды без забот о готовке

        p.scr1__desc Доставим в день заказа набор от 500 р
          br
          |  бесплатно - при заказе от 3-х комплектов

        .scr1__btns
          a.btn.btn--grad(href="#") заказать паёк

      .advantages
        ul.advantages__list
          li.advantages__item
            .advantages__text
              p Идеален для охотников,
                br
                |  дальнобойщиков,
                br
                |  путешественников

            a.advantages__link(href="#") Для кого еще

          li.advantages__item
            .advantages__text
              p Натуральное мясо
                br
                |  в консервах от Барышского
                br
                |  мясокомбината

            a.advantages__link(href="#") О продуктах

          li.advantages__item
            .advantages__text
              p 7 разновидностей
                br
                |  пайков на любой вкус
                br
                |  и случай

            a.advantages__link(href="#") Что внутри

  // /.scr1

mixin scr1--millitary()
  section.scr1(id="scr1")
    .scr1__bg(style="background: transparent url('img/scr1-bg--millitary.jpg') no-repeat top center; background-size: cover;")

    .container
      .scr1__content
        h1.scr1__title Идеально сбалансированный суточный
          br
          |  рацион питания для военных и служащих

        p.scr1__desc Бесплатная доставка при заказе
          br
          |  от 3-х комплектов

        .scr1__btns
          a.btn.btn--grad(href="#") заказать паёк

      .advantages
        ul.advantages__list
          li.advantages__item
            .advantages__text
              p Идеален для охотников,
                br
                |  дальнобойщиков,
                br
                |  путешественников

            a.advantages__link(href="#") Для кого еще

          li.advantages__item
            .advantages__text
              p Натуральное мясо
                br
                |  в консервах от Барышского
                br
                |  мясокомбината

            a.advantages__link(href="#") О продуктах

          li.advantages__item
            .advantages__text
              p 7 разновидностей
                br
                |  пайков на любой вкус
                br
                |  и случай

            a.advantages__link(href="#") Что внутри

  // /.scr1
