mixin scr_cond()
  section.scr_cond.cond(id="scr_cond")
    .container
      h2.title Условия покупки

      ul.cond__list
        li.cond__item
          span.cond__num 01
          .cond__text
            p Оставляете заявку на cайте
              br
              |  или звоните :
              br
              a(href="tel:+79148525499" rel="nofollow") +7 (914)-852-54-99

        li.cond__item
          span.cond__num 02
          .cond__text
            p Получаете заказ в удобное для вас время, не выходя из дома или офиса. Доставляем товар до подъезда в день оформления заказа до 21:00

        li.cond__item
          span.cond__num 03
          .cond__text
            p Стоимость доставки: 150 Р
              br
              |  по г. Магадан или бесплатно
              br
              |  от 3 шт в черте города

        li.cond__item
          span.cond__num 04
          .cond__text
            p Оплачиваете наличными при
              br
              |  получении или предоплата: Visa/MasterCard, Мир


  // /.scr_cond
