mixin scr_socks()
  section.scr_socks.socks(id="scr_socks")
    .container
      .socks__wrap
        .socks__img
          noscript
            img.lazy(src="img/cta-img.png" alt="" width="563" height="529" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/cta-img.png" alt="" width="563" height="529" data-object-fit-contain)

        .socks__content
          h2.title Носки генеральские

          ul.socks__list
            li Производитель:  Россия
            li Кол-во в упаковке: 30 шт.
            li Состав на выбор: полушерсть или 100% хлопок.
            li Размер: 27 (41-43), 29 (42-45)

          .socks__bottom
            .socks__prices
              b.socks__price.socks__price--old 3 000 ₽
              b.socks__price.socks__price--current 2 500
                small  ₽
            .socks__btns
              a.btn.btn--grad.open-modal(href="#") заказать

  // /.scr_socks
