mixin scr_irp()
  section.scr_irp.irp(id="scr_irp")
    .container
      h2.title Кому будет интересен ИРП

      .irp__list
        .irp__item
          .irp__icon
            img(src="img/svg/icons/hunt.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Тем, кто связан с охотой,
              br
              |  рыбалкой, туризмом

        .irp__item
          .irp__icon
            img(src="img/svg/icons/oil.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Тем, кто ездит на вахту
              br
              |  и им не хватает того, чем
              br
              |  кормят на работе

        .irp__item
          .irp__icon
            img(src="img/svg/icons/delivery.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p У кого нет возможности
              br
              |  выбраться в магазин

        .irp__item
          .irp__icon
            img(src="img/svg/icons/tank.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Тем, кто был в армии, и хочет
              br
              |  вспомнить старые, добрые
              br
              |  времена

        .irp__item
          .irp__icon
            img(src="img/svg/icons/pot.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Тем, кому некогда готовить
              br
              |  или просто лень

        .irp__item
          .irp__icon
            img(src="img/svg/icons/rank.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Кому любопытно попробовать,
              br
              |  что едят в армии РФ

        .irp__item
          .irp__icon
            img(src="img/svg/icons/plane.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Тем, кто ездят в
              br
              |  командировки

        .irp__item
          .irp__icon
            img(src="img/svg/icons/gift-box.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p На подарок на 23 февраля
              br
              |  ДР, НГ, и прочие праздники

        .irp__item
          .irp__icon
            img(src="img/svg/icons/frontal-truck.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Дальнобойщикам

        .irp__item
          .irp__icon
            img(src="img/svg/icons/captain.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Полицейским для
              br
              |  тревожных чемоданчиков

        .irp__item
          .irp__icon
            img(src="img/svg/icons/lieutenant.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Военным, госслужащим

        .irp__item
          .irp__icon
            img(src="img/svg/icons/engineer.svg", alt="Иконка" data-object-fit-contain)

          .irp__text
            p Строителям

      .slider1__dots.irp__dots

  // /.scr_irp
