mixin scr_features()
  section.scr_features.features(id="scr_features")
    .features__bg(style="background: #c4d3c6 url('../img/features-bg.png') no-repeat bottom center; background-size: cover;")

    .container
      .features__df
        .features__left
          .features__content
            h2.title Получите запас
              br
              small  качественных и вкусных блюд

            ul.features__info
              li ИРП -  имеют сбалансированный пищевой состав, а также портативный разогреватель и средства для обеззараживания воды. Сухпаек обладает высокой энергетической ценностью, не содержит скоропортящихся продуктов, не провоцирует аллергические реакции и пищевые расстройства.
              li Каждое блюдо заключено в индивидуальную упаковку, надёжно защищающую продукты питания от сырости и загрязнений. Консервные банки легко вскрываются без использования специального ножа.
              li Входящие в паек ингредиенты не требуют дополнительного приготовления и могут употребляться как    в горячем, так и в холодном виде. Каждый сухой паек рассчитан на три приема пищи, то есть, купив один ИРП, вы обеспечите себя энергией на целый день.

        .features__right
          ul.features__list
            li
              .features__icon
                img(src="img/svg/icons/food-scale-tool.svg", alt="Иконка")
              .features__text
                p Сбалансирован по количеству питательных веществ, жиров, белков и углеводов, он гарантирует насыщение и поддержание сил при высоких нагрузках в течение 24 часов

            li
              .features__icon
                img(src="img/svg/icons/restaurant.svg", alt="Иконка")
              .features__text
                p Паек включает в себя специи, поливитамины, спички, одноразовую посуду, предметы гигиены, приспобления для разогрева еды и средства для обеззараживания воды

            li
              .features__icon
                img(src="img/svg/icons/heat.svg", alt="Иконка")
              .features__text
                p ИРП можно взять с собой куда угодно, так как они компактны и не портятся при температуре до +35 градусов

            li
              .features__icon
                img(src="img/svg/icons/seeding.svg", alt="Иконка")
              .features__text
                p Только натуральные составляющие. Без добавления пищевых добавок «Е»



  // /.scr_features
