mixin scr_indiv()
  section.scr_indiv.indiv(id="scr_indiv")
    .container
      h2.title Виды индивидуальных рационов питания

      .indiv__wrap
        ul.indiv__nav
          li.active
            a(href="#indiv-tab0") ИРП-1
          li
            a(href="#indiv-tab1") ИРП-2
          li
            a(href="#indiv-tab2") ИРП-3
          li
            a(href="#indiv-tab3") ИРП-4
          li
            a(href="#indiv-tab4") ИРП-5
          li
            a(href="#indiv-tab5") ИРП-6
          li
            a(href="#indiv-tab6") ИРП-7

        .indiv__tabs
          ul.indiv__tabs-list
            li.indiv__tabs-item#indiv-tab0
              .indiv__df
                .indiv__gallery
                  .fotorama(data-width="100%" data-nav="thumbs" data-fit="contain" data-thumbmargin="12" data-thumbwidth="120" data-thumbheight="78" data-keyboard="true" data-allowfullscreen="true" data-ratio="384/371")
                    a(href="img-temp/indiv/img-1.jpg" data-thumb="img-temp/indiv/img-1.jpg")
                    a(href="img-temp/indiv/img-2.jpg" data-thumb="img-temp/indiv/img-2.jpg")
                    a(href="img-temp/indiv/img-3.jpg" data-thumb="img-temp/indiv/img-3.jpg")

                .indiv__info
                  .article
                    ul
                      li Говядина тушеная 250 г
                      li Паштет печеночный 50 г
                      li Паштет нежный 50 г.
                      li Рис с курицей и овощами 250 г
                      li Мясо с зеленым горошком и морковью 250 г
                      li Икра овощная 100 г
                      li Хлебцы армейские из муки пшенич. 1 с 100 г
                      li Хлебцы армейские из муки обойной 100 г.
                      li Сало шпик соленый консервированный 100 г.
                      li Фруктово-ягодный концентрат 75 г.
                      li Сыр плавленный стерилизованный 80 г.
                      li Повидло яблочное 45 г.
                      li Пюре из фруктов и ягод натуральное 100 г.
                      li Шоколад горький 30 г.
                      li Чай черный байховый 4 г.
                      li Кофе растворимый 2 г.
                      li Сливки сухие 2 г.
                      li Сахар 60 г.
                      li Соль 5 г.
                      li Перец 1 г.
                      li Поливитамин 1 шт.
                      li Жевательная резинка 10 г.
                      li Таблетка для дезинфекции воды 3 шт.
                      li Разогреватель портативный комплект
                      li Спички водоветроустойчивые 6 шт.
                      li Салфетки дезинфицирующие для рук 3 шт.
                      li Салфетки бумажные 3 шт.
                      li Ложка пластмассовая 3 шт.
                      li Нож пластмассовый 1 шт.


                  .indiv__bottom
                    .indiv__prices
                      b.indiv__price.indiv__price--old 550 ₽
                      b.indiv__price.indiv__price--current 500 ₽

                    .indiv__btns
                      .btn__wrap
                        a.btn.btn--grad.open-modal(href="#") заказать паёк

            li.indiv__tabs-item#indiv-tab1
              .indiv__df
                .indiv__gallery
                  .fotorama(data-width="100%" data-nav="thumbs" data-fit="contain" data-thumbmargin="12" data-thumbwidth="120" data-thumbheight="78" data-keyboard="true" data-allowfullscreen="true" data-ratio="384/371")
                    a(href="img-temp/indiv/img-1.jpg" data-thumb="img-temp/indiv/img-1.jpg")
                    a(href="img-temp/indiv/img-2.jpg" data-thumb="img-temp/indiv/img-2.jpg")
                    a(href="img-temp/indiv/img-3.jpg" data-thumb="img-temp/indiv/img-3.jpg")

                .indiv__info
                  .article
                    ul
                      li Говядина тушеная 250 г
                      li Паштет печеночный 50 г
                      li Паштет нежный 50 г.
                      li Рис с курицей и овощами 250 г
                      li Мясо с зеленым горошком и морковью 250 г
                      li Икра овощная 100 г
                      li Хлебцы армейские из муки пшенич. 1 с 100 г
                      li Хлебцы армейские из муки обойной 100 г.
                      li Сало шпик соленый консервированный 100 г.
                      li Фруктово-ягодный концентрат 75 г.
                      li Сыр плавленный стерилизованный 80 г.
                      li Повидло яблочное 45 г.
                      li Пюре из фруктов и ягод натуральное 100 г.
                      li Шоколад горький 30 г.
                      li Чай черный байховый 4 г.
                      li Кофе растворимый 2 г.
                      li Сливки сухие 2 г.


                  .indiv__bottom
                    .indiv__prices
                      b.indiv__price.indiv__price--old 550 ₽
                      b.indiv__price.indiv__price--current 500 ₽

                    .indiv__btns
                      .btn__wrap
                        a.btn.btn--grad.open-modal(href="#") заказать паёк

            li.indiv__tabs-item#indiv-tab2
              .indiv__df
                .indiv__gallery
                  .fotorama(data-width="100%" data-nav="thumbs" data-fit="contain" data-thumbmargin="12" data-thumbwidth="120" data-thumbheight="78" data-keyboard="true" data-allowfullscreen="true" data-ratio="384/371")
                    a(href="img-temp/indiv/img-1.jpg" data-thumb="img-temp/indiv/img-1.jpg")
                    a(href="img-temp/indiv/img-2.jpg" data-thumb="img-temp/indiv/img-2.jpg")
                    a(href="img-temp/indiv/img-3.jpg" data-thumb="img-temp/indiv/img-3.jpg")

                .indiv__info
                  .article
                    ul
                      li Говядина тушеная 250 г
                      li Паштет печеночный 50 г
                      li Паштет нежный 50 г.
                      li Рис с курицей и овощами 250 г
                      li Мясо с зеленым горошком и морковью 250 г
                      li Икра овощная 100 г
                      li Хлебцы армейские из муки пшенич. 1 с 100 г
                      li Хлебцы армейские из муки обойной 100 г.
                      li Сало шпик соленый консервированный 100 г.
                      li Фруктово-ягодный концентрат 75 г.
                      li Сыр плавленный стерилизованный 80 г.
                      li Повидло яблочное 45 г.
                      li Пюре из фруктов и ягод натуральное 100 г.
                      li Шоколад горький 30 г.
                      li Чай черный байховый 4 г.
                      li Кофе растворимый 2 г.
                      li Сливки сухие 2 г.
                      li Говядина тушеная 250 г
                      li Паштет печеночный 50 г
                      li Паштет нежный 50 г.
                      li Рис с курицей и овощами 250 г
                      li Мясо с зеленым горошком и морковью 250 г
                      li Икра овощная 100 г
                      li Хлебцы армейские из муки пшенич. 1 с 100 г
                      li Хлебцы армейские из муки обойной 100 г.
                      li Сало шпик соленый консервированный 100 г.
                      li Фруктово-ягодный концентрат 75 г.
                      li Сыр плавленный стерилизованный 80 г.
                      li Повидло яблочное 45 г.
                      li Пюре из фруктов и ягод натуральное 100 г.
                      li Шоколад горький 30 г.
                      li Чай черный байховый 4 г.
                      li Кофе растворимый 2 г.
                      li Сливки сухие 2 г.
                      li Говядина тушеная 250 г
                      li Паштет печеночный 50 г
                      li Паштет нежный 50 г.
                      li Рис с курицей и овощами 250 г
                      li Мясо с зеленым горошком и морковью 250 г
                      li Икра овощная 100 г
                      li Хлебцы армейские из муки пшенич. 1 с 100 г
                      li Хлебцы армейские из муки обойной 100 г.
                      li Сало шпик соленый консервированный 100 г.
                      li Фруктово-ягодный концентрат 75 г.
                      li Сыр плавленный стерилизованный 80 г.
                      li Повидло яблочное 45 г.
                      li Пюре из фруктов и ягод натуральное 100 г.
                      li Шоколад горький 30 г.
                      li Чай черный байховый 4 г.
                      li Кофе растворимый 2 г.
                      li Сливки сухие 2 г.


                  .indiv__bottom
                    .indiv__prices
                      b.indiv__price.indiv__price--old 550 ₽
                      b.indiv__price.indiv__price--current 500 ₽

                    .indiv__btns
                      .btn__wrap
                        a.btn.btn--grad.open-modal(href="#") заказать паёк


  // /.scr_indiv
