mixin scr_insta()
  section.scr_insta.insta(id="scr_insta")
    .container
      .insta__df
        h2.title Мы в Instagram

        span.insta__hash #You're_in_the_army_now

      .insta__slider#insta__slider
        .insta__slides.slider1__slides
          .insta__slide.slider1__slide
            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-1.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide--two
            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-2.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-3.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .insta__slide.slider1__slide.insta__slide--two
            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-4.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-5.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)


          .insta__slide.slider1__slide.insta__slide--two
            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-4.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-5.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)


          .insta__slide.slider1__slide.insta__slide--two
            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-4.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .insta__item
              a.fancybox.insta__img(href="img-temp/insta/img-5.jpg" data-fancybox-group="insta")
                noscript
                  img.lazy(src="img-temp/insta/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/insta/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)


        .insta__dots.slider1__dots

  // /.scr_insta
