mixin scr1()
  section.scr1(id="scr1")
    .scr1__df
      .scr1__content
        .scr1__top
          h1.scr1__title
            span.green Бесплатная диагностика, полный
            span.orange  план лечения
            |  с окончательной ценой на все услуги

          .scr1__btns
            .btn__wrap
              a.xbtn.xbtn--orange(href="#") узнать стоимость лечения

        .scr1__catalog-wrap
          .scr1__catalog
            .swiper-wrapper
              .swiper-slide
                .scr1__catalog-item
                  img(src="img/catalog/img-1.png", alt="")
                  .scr1__catalog-inner
                    h3 Гигиена зубов и отбеливание
                    ul
                      li Комплексная чистка
                      li Отбеливание зубов
              .swiper-slide
                .scr1__catalog-item
                  img(src="img/catalog/img-2.png", alt="")
                  .scr1__catalog-inner
                    h3 Ортопедия
                    ul
                      li Коронки и мосты
                      li Протезирование
                      li Установка виниров
                      li Прочие виды услуг
              .swiper-slide
                .scr1__catalog-item
                  img(src="img/catalog/img-3.png", alt="")
                  .scr1__catalog-inner
                    h3 Терапия
                    ul
                      li Лечения кариеса
                      li Установка пломб
                      li Реставрация
                      li Прочие виды услуг
              .swiper-slide
                .scr1__catalog-item
                  img(src="img/catalog/img-4.png", alt="")
                  .scr1__catalog-inner
                    h3 Имплантация
                    ul
                      li Установка имплантов
                      li Наращивание кости
                      li Имплантация зубов
                      li Прочие виды услуг
              .swiper-slide
                .scr1__catalog-item
                  img(src="img/catalog/img-5.png", alt="")
                  .scr1__catalog-inner
                    h3 Детский стоматолог
                    ul
                      li Профилактика
                      li Лечение кариеса
                      li Реставрация

          .scr1__catalog-btns
            button.swiper-button-prev
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")
            button.swiper-button-next
              svg.icon
                use(xlink:href="img/svg/sprite.svg#arrow")

      .scr1__right
        .scr1__feat-wrap
          span.circle
          a.scr1__phone(href="#") Записаться
            br
            |  на диагностику
            br
            span.green  БЕСПЛАТНО

            span.scr1__phone-circle

          ul.scr1__feat
            li
              b 4
              p врача
                br
                |  стоматолога-
                br
                |  ортодонта
            li
              b 10
              p лет опыта работы
                br
                |  у каждого врача
            li
              b 1
              p год гарантии
                br
                |  на лечение

        img(src="img/scr1-img.png", alt="")

  // /.scr1
