doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title  |

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End


    include blocks/scripts.pug
    include blocks/styles.pug
    include blocks/modal.pug

    include blocks/scr1.pug
    include blocks/scr_structure.pug
    include blocks/scr_advantages.pug
    include blocks/scr_lead.pug
    include blocks/scr_popular.pug
    include blocks/scr_application.pug
    include blocks/scr_projects.pug
    include blocks/scr_best.pug
    include blocks/scr_colors.pug
    include blocks/scr_delivery.pug

    //- ToDo: Перенести first-load.css в inline!!!
    +styles-top

  body

    .sandwich-page
      +scr1
      +scr_structure
      +scr_advantages
      +scr_lead
      +scr_popular
      +scr_application
      +scr_projects
      +scr_best
      +scr_colors
      +scr_delivery

      +modal__order

    +scripts

