.breadcrumbs
  position: relative
  ol
    margin: 0
    padding: 0
    list-style: none

    text-align: center
    padding-top: 22px
    padding-bottom: 10px
    li
      position: relative
      display: inline-block
      margin-bottom: 5px
      a
        text-decoration: none

        &[href]:hover
          span
            color: $accent2
            transition: 0.3s

      span
        font-size: 14px
        line-height: 20px
        color: #666666

      &:not(:last-of-type)
        &::after
          content: '/'
          margin: 0 4px
          color: #666666

  @media screen and (max-width: 768px)
    ol
      padding: 0
  // max-width 768px

/* breadcrumbs */
