.footer
  position: relative
  background: #e0dee0
  padding-top: 29px

  &__top
    padding-bottom: 35px

  &__menu
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
  &-menu__item
    &:nth-of-type(-n + 2)
      width: 17.46031746031746%
    &:nth-of-type(3)
      width: 27.83068783068783%
      padding-left: 68px
    &:nth-of-type(4)
      width: 27.83068783068783%

  .payment
    display: flex
    align-items: center
    &__title
      margin-top: 12px
      margin-right: 35px
      font-size: 14px
      line-height: 1.714285714285714
      opacity: 0.5
    &__list
      margin: 0
      padding: 0
      list-style: none

      display: flex
      align-items: center
    &__item
      margin-right: 43px
      display: flex
      align-items: center
      &--df
        .icon
          margin-right: 15px
          width: 31px
          height: 42px
          fill: rgba(#ada6ac,0.5)
        span
          font-family: 'GothamPro',sans-serif
          font-size: 12px
          line-height: 1.2
          color: #ada6ac
      img
        width: auto
        max-width: 100%

  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 10px
      & > a
        font-size: 14px
        transition: 0.3s
        &:hover
          color: lighten($accent,10%)

  h4
    margin-bottom: 20px
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    color: $accent

  &__middle
    padding-bottom: 28px

  &__contacts
    &-content
      a,p
        display: block
        margin-bottom: 18px
        font-size: 14px
        line-height: 1.2
        &.strong
          font-weight: 700
  &__bottom
    height: 53px
    display: flex
    align-items: center
    border-top: 1px solid rgba(13,0,26,0.3)
    .text
      font-size: 13px
      line-height: 16px
      transition: 0.3s

  .copyright
    display: flex
    align-items: center
    height: 100%
    opacity: 0.5

  .made
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    text-decoration: none
    .icon
      opacity: 0.7
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #0d001a
      transition: 0.3s

    &:hover
      .text
        color: $accent
      .icon
        fill: $accent

  .to-top
    position: absolute
    right: 30px
    top: 50px
    z-index: 100
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    border-radius: 50%
    background: #fff
    box-shadow: 0px 0px 10px 0px rgba(#999999,0.3)
    cursor: pointer
    transition: 0.5s
    opacity: 0.9
    .fa
      color: $accent
      transition: 0.5s
      font-size: 20px
      font-weight: 800

    &:hover
      opacity: 1
      .fa
        color: $accent


  /* media */
  // @media screen and (max-width: 1024px)

  // max-width 1024px

  // @media screen and (max-width: 768px)

  // max-width 768px

  @media screen and (max-width: 576px)
    &__bottom
      height: 70px
      .copyright .text
        text-align: center
        margin: 0 auto
        margin-bottom: 10px
  // max-width 576px

/* footer */
