.footer
  position: relative
  background: #e0dee0
  padding-top: 29px

  &__top
    padding-bottom: 35px

  &__menu
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
  &-menu__item
    &:nth-of-type(-n + 2)
      width: 17.46031746031746%
    &:nth-of-type(3)
      width: 27.83068783068783%
      padding-left: 68px
    &:nth-of-type(4)
      width: 27.83068783068783%

  .payment
    display: flex
    align-items: center
    &__title
      margin-top: 12px
      margin-right: 35px
      font-size: 14px
      line-height: 1.714285714285714
      opacity: 0.5
    &__list
      margin: 0
      padding: 0
      list-style: none

      display: flex
      align-items: center
    &__item
      margin-right: 43px
      display: flex
      align-items: center
      &--df
        .icon
          margin-right: 15px
          width: 31px
          height: 42px
          fill: rgba(#ada6ac,0.5)
        span
          font-family: 'GothamPro',sans-serif
          font-size: 12px
          line-height: 1.2
          color: #ada6ac
      img
        width: auto
        max-width: 100%

  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 10px
      & > a
        font-size: 14px
        transition: 0.3s
        &:hover
          color: lighten($accent,10%)

  h4
    margin-bottom: 20px
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    color: $accent

  &__middle
    padding-bottom: 28px

  &__contacts
    &-content
      a,p
        display: block
        margin-bottom: 18px
        font-size: 14px
        line-height: 1.2
        &.strong
          font-weight: 700
  &__bottom
    height: 53px
    display: flex
    align-items: center
    border-top: 1px solid rgba(13,0,26,0.3)
    .text
      font-size: 13px
      line-height: 16px
      transition: 0.3s

  .copyright
    display: flex
    align-items: center
    height: 100%
    opacity: 0.5

  .made
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    text-decoration: none
    .icon
      opacity: 0.7
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #0d001a
      transition: 0.3s

    &:hover
      .text
        color: $accent
      .icon
        fill: $accent

  .to-top
    position: absolute
    right: 30px
    top: 50px
    z-index: 100
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    border-radius: 50%
    background: #fff
    box-shadow: 0px 0px 10px 0px rgba(#999999,0.3)
    cursor: pointer
    transition: 0.5s
    opacity: 0.9
    .fa
      color: $accent
      transition: 0.5s
      font-size: 20px
      font-weight: 800

    &:hover
      opacity: 1
      .fa
        color: $accent

  &__logo
    display: none

  /* media */
  @media screen and (max-width: 992px)
    .made
      justify-content: flex-end
    &-menu__item:nth-of-type(3)
      padding-left: 28px
    .to-top
      top: 20px
    .payment
      &__title
        display: none
      &__list
        flex-wrap: wrap
      &__item
        margin-bottom: 20px
  // max-width 992px

  @media screen and (max-width: 768px)
    .to-top
      right: 10px
      width: 40px
      height: 40px
      opacity: .5

  // max-width 768px

  @media screen and (max-width: 650px)
    padding-top: 0
    &__logo
      display: block
      padding-top: 11px
      padding-bottom: 15px
      border-bottom: 1px solid rgba(164,122,156,0.3)
    .logo
      &__wrap
        width: 167px
        height: 44px
        margin: 0 auto
    &-menu
      flex-direction: column
      &__item
        width: calc(100% + 30px) !important
        margin-left: -15px
        padding: 0 15px
        border-bottom: 1px solid rgba(164,122,156,0.3)
        &:nth-of-type(3)
          padding-left: 15px
      .menu
        max-height: 0
        overflow: hidden
        transition: 0.4s
        & > li
          & > a
            display: block
            font-size: 14px
            line-height: 1.2
            color: $accent
            text-decoration: none
        &.active
          max-height: 5000px
          transition: 1.5s
    h4
      position: relative
      margin-bottom: 0
      padding: 10px 0
      &::after
        content: ''
        position: absolute
        top: calc(50% - 5px)
        right: 0

        display: block
        width: 9px
        height: 9px
        border-left: 2px solid $accent
        border-bottom: 2px solid $accent
        transform: rotate(-45deg)
        transform-origin: center
        transition: 0.3s
      &.active
        &::after
          top: calc(50% - 3px)
          transform: rotate(135deg)

    .socials
      justify-content: center
      width: calc(100% + 30px)
      margin-left: -15px
      padding-top: 19px
      border-top: 1px solid rgba(164,122,156,0.3)
    .to-top
      top: 16px
    &__contacts
      &-content
        max-height: 0
        overflow: hidden
        transition: 0.2s
        &.active
          max-height: 5000px
          transition: 1.5s
    &__middle
      padding-bottom: 10px
  // max-width 650px

  @media screen and (max-width: 576px)
    &__bottom
      height: 70px
      .copyright .text
        text-align: center
        margin: 0 auto
        margin-bottom: 10px
    .made
      justify-content: center
  // max-width 576px

  @media screen and (max-width: 500px)
    .payment
      &__list
        justify-content: space-between
      &__item
        margin-right: 10px
        width: calc(50% - 10px)
        &:nth-of-type(2n)
          margin-right: 0
        &:last-of-type
          width: 100%
  // max-width 500px

/* footer */
