.modal
  position: relative
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 0
  background-color: rgba(255,255,255,0.85)
  z-index: 1000
  opacity: 0
  overflow: hidden

  &.active
    display: block
    opacity: 1
    min-height: 100vh
  &__content
    display: flex
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    width: 420px
    opacity: 0
    transition: 0.7s

    &.visible
      opacity: 1

  .form
    padding: 44px 55px 38px
    max-height: 100vh
    overflow: auto
    width: 100%
    z-index: 0

  .login
    &__nav
      margin-bottom: 33px
    &__via
      margin-bottom: 38px

  .btn__wrap
    width: auto
    input
      width: auto
      padding-left: 68px
      padding-right: 68px
  .submit__wrap
    margin-top: 40px
    margin-bottom: 34px

  .close
    background: none
    border: none
    outline: none

    cursor: pointer
    z-index: 300
    transition: 0.3s

    position: absolute
    top: 9px
    right: 9px

    display: block
    width: 30px
    height: 30px
    &::before,
    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%

      display: block
      width: 14px
      height: 3px
      background-color: $accent
      border-radius: 1.5px
      transition: 0.3s

    &::before
      transform: translate(-50%,-50%) rotate(45deg)

    &::after
      transform: translate(-50%,-50%) rotate(-45deg)

    &:hover
      &::before,&::after
        background-color: $accent2

  .subscribe-to-news
    margin-bottom: 15px
    &__wrap
      display: flex
      align-items: center
    &__radio
      margin-right: 10px

  .buy
    .modal__content
      width: 100%
    .form
      padding: 3px 19px 38px
    .submit__wrap
      margin-bottom: 0
      margin-top: 0
    &__item
      display: flex
      align-items: center
      justify-content: space-between
      padding: 22px 36px 17px 11px
      border-bottom: 1px solid rgba(84,65,79,0.3)
    &__heading
      display: flex
      width: 49.90566037735849%
      padding-right: 10px
    &__count
      display: flex
      align-items: center
      justify-content: space-around
      width: 38.67924528301887%
      padding: 3px 20px
      border-left: 1px solid rgba(84,65,79,0.3)
      border-right: 1px solid rgba(84,65,79,0.3)
    &__price
      font-size: 18px
      font-weight: 700
      color: $accent
    &__clear
      display: flex
      justify-content: flex-end
      width: 11.69811320754717%
    &__img
      flex-shrink: 0
      width: 150px
      height: 150px
      margin-right: 37px
      img
        width: 100%
        height: 100%
    &__naming
      display: flex
      flex-direction: column
      justify-content: center
    &__title
      margin-bottom: 8px
      font-size: 18px
      line-height: 1.3 /* 32px / 18px */
      font-weight: 700
    &__desc
      font-size: 14px
      line-height: 1.2
    .filter__btns
      padding-top: 0
      border: none
    .quantity
      border: 1.0px solid rgba(32,46,49,0.2)
    .btns__wrap
      display: flex
      align-items: center
      margin-top: 29px
      padding-left: 197px
      padding-right: 72px
      .btn--transparent
        flex-shrink: 0
        margin-right: 20px
      .btn__wrap
        input
          padding: 0 33px
          height: 50px
          line-height: 50px
          font-size: 18px
    &__summary
      display: flex
      align-items: flex-end
      margin-left: auto
      margin-right: 42px
      p
        margin-right: 35px
        font-size: 18px
        font-weight: 700
        color: $accent
      &-price
        display: block
        font-size: 30px
        line-height: 1
        font-weight: 700
        color: $accent

  /* media */

  @media screen and (max-width: 1170px)
    .buy
      .btns__wrap
        padding-left: 30px
        padding-right: 30px

  // max-width 1170px

  @media screen and (max-width: 992px)
    .buy
      &__item
        flex-wrap: wrap
        justify-content: center
        padding-left: 0
        padding-right: 0
      &__heading
        width: 100%
        margin-bottom: 20px
      &__count
        width: auto
      .quantity
        margin: 0 30px
      &__clear
        width: auto
        padding-left: 30px
      .btns__wrap
        flex-wrap: wrap
        padding: 0
      .form__item
        width: 100%
        margin-top: 20px
      &__summary
        margin-right: 0
        p
          margin-right: 15px
        &-price
          font-size: 28px

  // max-width 992px

  @media screen and (max-width: 576px)
    .buy
      .btns__wrap
        align-items: center
        .btn--transparent
          margin: 0 auto
      &__summary
        width: 100%
        margin-top: 20px
        justify-content: center

  // max-width 576px

  @media screen and (max-width: 500px)
    &__content
      width: 100%
    .form
      padding: 34px 25px 18px

    .submit__wrap
      margin-top: 20px
      margin-bottom: 14px

    .buy
      &__img
        margin-right: 15px
      &__count
        border: none
        flex-direction: column
      .quantity
        margin: 5px 0
  // max-width 500px

  @media screen and (max-width: 400px)
    .buy
      &__item
        flex-direction: column
      &__clear
        padding-left: 0
      &__img
        width: 100px
        height: 100px
      &__price
        font-size: 16px
      .form
        padding: 3px 10px 18px
  // max-width 400px

 /* modal */
