.modal
  position: relative
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 0
  background-color: rgba(255,255,255,0.85)
  z-index: 1000
  opacity: 0
  overflow: hidden

  &.active
    display: block
    opacity: 1
    min-height: 100vh
  &__content
    display: flex
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    width: 420px
    opacity: 0
    transition: 0.7s

    &.visible
      opacity: 1

  .form
    padding: 44px 55px 38px
    max-height: 100vh
    overflow: auto
    width: 100%
    z-index: 0

  .login
    &__nav
      margin-bottom: 33px
    &__via
      margin-bottom: 38px

  .btn__wrap
    width: auto
    input
      width: auto
      padding-left: 68px
      padding-right: 68px
  .submit__wrap
    margin-top: 40px
    margin-bottom: 34px

  .close
    background: none
    border: none
    outline: none

    cursor: pointer
    z-index: 300
    transition: 0.3s

    position: absolute
    top: 9px
    right: 9px

    display: block
    width: 30px
    height: 30px
    &::before,
    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%

      display: block
      width: 14px
      height: 3px
      background-color: $accent
      border-radius: 1.5px
      transition: 0.3s

    &::before
      transform: translate(-50%,-50%) rotate(45deg)

    &::after
      transform: translate(-50%,-50%) rotate(-45deg)

    &:hover
      &::before,&::after
        background-color: $accent2


  /* media */

  @media screen and (max-width: 500px)
    &__content
      width: 100%
    .form
      padding: 34px 25px 18px

    .submit__wrap
      margin-top: 20px
      margin-bottom: 14px
  // max-width 500px

 /* modal */
