.scr1
  position: relative

  .container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  &__slider
    height: 440px
  .scr1__slide
    position: relative
    display: flex
    justify-content: center
    picture,img
      width: 100%
      min-width: 1920px
    .btn__cont
      position: absolute
      bottom: 40px
      left: 0
      z-index: 5
      width: 100%
    .btn__wrap
      margin-left: 100px
    .btn
      padding: 12px 30px
  &__arrows
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 100%
    .slick-arrow
      &::before
        border-color: #fff
    .slick-prev
      left: 15px
    .slick-next
      right: 15px
  &__dots
    position: absolute
    top: 50%
    right: 88px
    transform: translateY(-50%)
    width: 30px
    .slick-dots
      flex-direction: column
      max-height: 310px
      flex-wrap: wrap
      li
        padding-right: 20px

  /* media */
  @media screen and (max-width: 1170px)
    .scr1__slide
      display: block
      picture,img
        min-width: 0
  // max-width 1170px

  @media screen and (max-width: 900px)
    position: fixed
    top: 0
    left: 0

    width: 100vw
    overflow: hidden
    background: rgba(#000,0.3)
    z-index: 1000
    transition: opacity 0.5s
    max-height: 0
    opacity: 0

    display: flex
    justify-content: center
    align-items: center

    &.active
      min-height: 100vh
      max-height: 100vh
      overflow: auto
      opacity: 1

    &__slider
      position: relative
      // display: none
      height: auto
      width: 100%
      z-index: 10
    &__dots
      display: none
  // max-width 900px

  @media screen and (max-width: 650px)
    .slick-list
      overflow: visible
    .scr1__slide
      .btn__cont
        bottom: -40px
  // max-width 650px

  @media screen and (max-width: 430px)
    .scr1__slide
      .btn__wrap
        margin-left: 0
  // max-width 650px

/* scr1 */
