.scr1
  position: relative

  .container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  &__slider
    height: 440px
  .scr1__slide
    display: flex
    justify-content: center
    picture,img
      width: 100%
      min-width: 1920px
  &__arrows
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 100%
    .slick-arrow
      &::before
        border-color: #fff
    .slick-prev
      left: 15px
    .slick-next
      right: 15px
  &__dots
    position: absolute
    top: 50%
    right: 88px
    transform: translateY(-50%)
    width: 30px
    .slick-dots
      flex-direction: column
      max-height: 310px
      flex-wrap: wrap
      li
        padding-right: 20px

  /* media */
  @media screen and (max-width: 1170px)
    .scr1__slide
      display: block
      picture,img
        min-width: 0
  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 880px)

  // max-width 880px

  // @media screen and (max-width: 770px)

  // max-width 770px

  // @media screen and (max-width: 770px)

  // max-width 770px

  // @media screen and (max-width: 600px)

  // max-width 600px

  // @media screen and (max-width: 500px)

  // max-width 500px

/* scr1 */
