.ask
  position: relative
  padding-top: 31px
  padding-bottom: 34px


  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 992px)

  // max-width 992px

  // @media screen and (max-width: 768px)

  // max-width 768px

  // @media screen and (max-width: 576px)

  // max-width 576px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* ask */
