.we
  position: relative
  padding-top: 51px
  padding-bottom: 27px
  .title
    padding-top: 29px
    padding-bottom: 23px
    font-size: 30px
    text-align: left
  .df
    display: flex
  &__img
    flex-shrink: 0
    // display: flex
    // align-items: center
    width: 488px
    margin-right: 67px
    img
      display: block
      border-radius: 6px
  .article
    p
      &:last-of-type
        margin-bottom: 0
  &__bottom
    display: flex
    justify-content: space-between
  &__link
    padding-top: 30px
    padding-bottom: 10px
    font-size: 18px
    display: flex
    align-items: flex-start
    text-decoration: none
    &:hover
      img
        transform: translateX(5px)
    img
      display: block
      width: 24px
      height: 24px
      margin-right: 19px
      transition: 0.3s
  &__autograph
    width: 206px
    height: 119px
  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 880px)

  // max-width 880px

  // @media screen and (max-width: 770px)

  // max-width 770px

  // @media screen and (max-width: 770px)

  // max-width 770px

  // @media screen and (max-width: 600px)

  // max-width 600px

  // @media screen and (max-width: 500px)

  // max-width 500px

/* we */
