.return
  position: relative

  &__main
    padding-bottom: 62px
  .breadcrumbs
    ol
      padding-bottom: 30px
      padding-top: 20px

  &__img
    padding-top: 65px

  .img
    display: block
    width: 437px
    max-width: 100%
    height: 666px
    margin-left: auto

    &__wrap
      position: relative
      margin-left: auto
      z-index: 1
      transition: 0.3s
      &:hover
        transform: translateY(-10px)

    &__bg
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)

      display: block
      width: 531px
      height: 563px
      max-width: 100%
      background-color: #e1d4dd
      background-image: linear-gradient(-53deg,#d9c9d3 56%,transparent 0,transparent)
      z-index: -1

  .article
    strong
      font-size: 18px
    h2
      margin-bottom: 35px
      text-align: left
      line-height: 1
      font-weight: 700
    .attention
      margin-bottom: 34px
      font-size: 30px
    ol
      margin: 0
      padding: 0
      list-style: none
      li
        position: relative
        margin-bottom: 24px
        padding-left: 52px
        .number
          position: absolute
          top: 0
          left: 0

          display: block
          font-size: 30px
          color: #a47a9c
        &.important
          margin-top: 50px
    a
      font-weight: 700
      text-decoration: underline
      &:hover
        color: $accent2

  &__actions
    padding-top: 54px
    padding-bottom: 35px
    .attention
      margin-bottom: 34px
  &__info
    padding-top: 54px
    padding-bottom: 63px
  &__warning
    margin-bottom: 36px
    font-size: 18px
    line-height: 1.333333333333333 /* 24px / 18px */
    font-weight: 700
    color: $accent
  &__phone
    padding: 28px 15px
    background-color: #a47a9c

    font-size: 28px
    line-height: 1.4
    font-weight: 700
    color: #fffefe
    text-align: center
    a
      white-space: nowrap
      color: #fffefe
      text-decoration: none
      transition: 0.3s
      &:hover
        color: $accent


  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  @media screen and (max-width: 992px)
    .article
      p
        margin-bottom: 20px
      strong
        font-size: 16px
      .attention
        margin-bottom: 18px
        font-size: 27px
        line-height: 1.3
        br
          display: none
  // max-width 992px

  @media screen and (max-width: 768px)
    &__img
      padding-top: 25px
    &__main
      padding-bottom: 52px
    .img
      width: 80%
      height: 246px

      &__wrap
        margin-right: 10%
      &__bg
        width: 90%
        height: 80%
    &__info
      padding-top: 0
      padding-bottom: 43px
    &__actions
      padding-top: 34px
      padding-bottom: 0
    &__phone
      padding: 18px 15px
      font-size: 25px
    &__warning
      margin-bottom: 22px
  // max-width 768px

  @media screen and (max-width: 600px)
    .img
      &__wrap
        margin-right: 0
  // max-width 600px

  @media screen and (max-width: 500px)
    &__warning
      margin-bottom: 20px
      font-size: 16px
    &__phone
      padding: 10px 15px
      font-size: 20px
    &__info
      padding-bottom: 25px
    &__actions
      padding-top: 25px
  // max-width 500px

  @media screen and (max-width: 400px)
    &__main
      padding-bottom: 40px
    .article
      p
        font-size: 14px
        margin-bottom: 17px
      strong
        font-size: 14px
      .attention
        margin-bottom: 10px
        font-size: 22px
      h2
        margin-bottom: 20px
        font-size: 28px
      ol
        li
          font-size: 14px
          margin-bottom: 17px
          padding-left: 45px
          &.important
            margin-top: 30px
          .number
            font-size: 28px
    &__img
      padding-top: 10px
    .img
      width: 90%
      &__bg
        width: 100%

  // max-width 400px

/* return */
