.blog
  position: relative
  padding-top: 46px
  padding-bottom: 52px
  .title
    padding-bottom: 42px
  h3
    font-size: 18px
    font-weight: 700
    line-height: 1.3
  &__title
    text-decoration: none
  &__block
    &--one
      height: 516px
      .blog__content
        position: absolute
        bottom: 38px
        left: 0

        flex-direction: column
        justify-content: flex-start
        align-items: center
        width: 100%
        height: auto
        padding-bottom: 0
        h3
          margin-bottom: 30px
          font-size: 24px
          font-weight: 400
          text-transform: uppercase
          text-align: center
          transition: 0.3s
        .btn
          font-size: 16px
          padding: 12px 45px
  &__item
    display: block
    position: relative
    z-index: 1
    overflow: hidden
    text-decoration: none

    &--small
      height: 240px
      margin-bottom: 36px
      transition: 0.5s
      &:hover
        box-shadow: 0px 15px 35px 0px rgba($accent,0.2)
        transform: translateY(-10px)
        h3
          color: $accent
    &--big
      height: 100%
    &--right-bottom
      text-align: right
      .blog__content
        position: absolute
        bottom: 0
        right: 0
        height: auto
      &::before
        content: ''
        position: absolute
        right: 0
        bottom: 0

        display: block
        width: 445px
        height: 200px
        background: #c3dde0
        transform-origin: top right
        transform: rotate(-27deg)
    &--right-top
      text-align: right
      .blog__content
        justify-content: flex-end
        padding-top: 20px
      &::before
        content: ''
        position: absolute
        right: 0
        top: 0

        display: block
        width: 292px
        height: 400px
        background: #f1d5d1
        transform-origin: top left
        transform: rotate(-44deg)
  .img-bg
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -1
  &__content
    position: relative
    display: flex
    justify-content: space-between
    height: 100%
    padding: 34px 25px 13px 30px
    z-index: 1
  &__img
    max-width: 156px
    min-width: 100px
    margin-left: 10px
  &__wrap
    &--mobile
      display: none
  /* media */
  @media screen and (max-width: 992px)
    &__content
      padding: 14px 15px 13px 10px
  // max-width 992px

  @media screen and (max-width: 768px)
    background: #fff
    &__wrap
      &--desktop
        display: none
      &--mobile
        display: block
    &__slide
      padding: 10px
    &__item
      margin-bottom: 0
      height: 233px
  // max-width 768px

  @media screen and (max-width: 500px)
    padding-top: 20px
    padding-bottom: 0
    .title
      padding-bottom: 12px
    &__slide
      padding: 5px
      padding-bottom: 0
  // max-width 500px

/* blog */
