.insta
  position: relative
  padding-bottom: 35px
  .container
    position: relative
    padding-top: 44px
    z-index: 1
    &::before
      content: '#'
      position: absolute
      top: 17px
      right: 98px

      display: block
      font-family: $font
      font-size: 343.2px
      line-height: 0.9
      font-weight: 800
      color: rgba(#f7f7f7, 0.5)
      z-index: -1
  .title
    padding-bottom: 39px
  &__blocks
    margin: 0
    padding: 0
    list-style: none

    display: flex
    align-items: flex-start
  &__block
    &--two
      width: 23.07017543859649%
    &--one
      width: 310px
      margin-left: 30px
      margin-right: 30px
      box-shadow: 0px 5px 15px 0px rgba(217,201,211,0.5)
      .insta__img
        position: absolute
        top: 0
        left: 0
        z-index: -10

        display: block
        width: 100%
        height: 100%

        opacity: 0
        transition: 0.7s
        &.active
          position: static
          z-index: 1
          opacity: 1
    &--text
      margin-left: auto
      width: 180px
      padding-top: 85px
      .fa
        margin-bottom: 28px
        font-size: 23px
      .strong
        margin-bottom: 26px
        font-size: 30px
        line-height: 1.06666666667
        font-weight: 700
      .at
        display: block
        margin-bottom: 44px
        font-size: 18px
      .desc
        margin-bottom: 40px
        line-height: 1.2
  &__item
    position: relative
    display: block
    text-decoration: none
    &--small
      height: 263px
      margin-bottom: 25px
    &--big
      height: 551px
  &__img
    height: 100%

  &__author
    position: absolute
    left: 0
    bottom: 0

    display: flex
    align-items: center
    width: 100%
    padding: 32px 10px 8px
    background-image: linear-gradient(0, #f7f7f7 0%, rgba(#f7f7f7,0.9) 20%, rgba(#f7f7f7,0.8) 40%, transparent 100%)
  .author-img
    width: 36px
    height: 35px
    margin-right: 8px
    border-radius: 50%
    overflow: hidden
  .author-name
    font-size: 14px
    font-weight: 700
    text-decoration: none

  &__front
    height: 100%
    transition: 0.5s
    cursor: pointer
    &:hover
      box-shadow: 0 15px 35px 0 rgba($accent,.2)
      transform: translateY(-10px)

  &__review
    max-height: 103%
    overflow: auto

  .btn__wrap
    width: 100%
  .btn
    padding: 17px 40px 16px 28px
    font-size: 14px
    border-radius: 25px

  .article
    p
      &:last-of-type
        margin-bottom: 0

  /* media */
  @media screen and (max-width: 1070px)
    &__blocks
      flex-wrap: wrap
    &__block
      &--two
        width: calc((100% - 310px - 60px) / 2)
      &--text
        margin-left: 0
        padding-top: 25px
  // max-width 1070px

  @media screen and (max-width: 768px)
    display: none
  // max-width 768px

/* insta */
