.cta
  position: relative
  padding-top: 3px
  background: #e0dee0
  &__wrap
    padding: 38px 0
    background-color: rgba(255,255,255,0.6)
  .df
    display: flex
    align-items: center
  &__title
    margin-right: 79px
    font-size: 24px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: $accent

  /* media */
  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 880px)

  // max-width 880px

  // @media screen and (max-width: 770px)

  // max-width 770px

  // @media screen and (max-width: 770px)

  // max-width 770px

  // @media screen and (max-width: 600px)

  // max-width 600px

  // @media screen and (max-width: 500px)

  // max-width 500px

/* cta */
