.lk-table
  position: relative
  padding-bottom: 30px
  .breadcrumbs
    ol
      padding: 20px 0
  .table-responsive
    margin-top: 5px
    margin-bottom: 30px
  .table
    border-collapse: collapse
    width: 100%
    td,th
      padding: 12px 10px
      font-size: 18px
      &:first-of-type
        padding-left: 0
      &:last-of-type
        padding-right: 0

    thead td,
    thead th
      font-weight: 700
    .link
      display: inline-block
    thead
      border-bottom: 1px solid $accent
    tbody tr
      border-bottom: 1px solid rgba($accent, 0.4)

  /* media */

  @media screen and (max-width: 992px)
    .table-responsive
      overflow: auto
    .table
      min-width: 992px
      max-width: 100%
      td,th
        font-size: 16px
  // max-width 992px

  @media screen and (max-width: 576px)
    .table
      min-width: 576px
      td,th
        font-size: 14px
  // max-width 576px

/* lk-table */
