mixin main-menu()
  section.main-menu(id="main-menu")
    .container
      .df 
        ul.main-menu__list
          li.main-menu__item
            h4 
              strong О Меgа граде 
            ul.main-menu__links
              li
                a.main-menu__link(href="#") 
                  span О городе
              li
                a.main-menu__link(href="#") 
                  span Правила посещения
              li
                a.main-menu__link(href="#") 
                  span Сотрудничество
              li
                a.main-menu__link(href="#") 
                  span Афиша событий
              li
                a.main-menu__link(href="#") 
                  span Льготы

          li.main-menu__item
            h4 Виды посещений
            ul.main-menu__links
              li
                a.main-menu__link(href="#") 
                  span Индивидуальное
              li
                a.main-menu__link(href="#") 
                  span Групповое
              li
                a.main-menu__link(href="#") 
                  span День рождения
              li
                a.main-menu__link(href="#") 
                  span Выездные программы
              li
                a.main-menu__link(href="#") 
                  span Корпоративы для взрослых

          li.main-menu__item
            h4 Специальные предложения
            ul.main-menu__links
              li
                a.main-menu__link(href="#") 
                  span Акции
              li
                a.main-menu__link(href="#") 
                  span Календарные праздники
              li
                a.main-menu__link(href="#") 
                  span Для турфирм
              li
                a.main-menu__link(href="#") 
                  span Для педагогов
              li
                a.main-menu__link(href="#") 
                  span Услуги няни
              li
                a.main-menu__link(href="#") 
                  span Мастер-классы

          li.main-menu__item.main-menu__item--strong
            ul.main-menu__links.main-menu__links--strong
              li
                a.main-menu__link(href="#") 
                  span Вопрос-ответ
              li
                a.main-menu__link(href="#") 
                  span Фотоотчеты
              li
                a.main-menu__link(href="#") 
                  span Цены
              li
                a.main-menu__link(href="#") 
                  span Блог
              li
                a.main-menu__link(href="#") 
                  span Контакты   

        .main-menu__logo
          img(src="img/svg/menu-logo.svg" alt="лого")

  // /.main-menu
