mixin modal-call()
  section.modal.modal-call(id="modal-call")
    .call__content.modal__content
      button.close
      .form.form--border.wpcf7
        form.wpcf7-form
          p.form__title Обратный звонок

          .form__one-col
            p.form__desc Заполните форму и&nbsp;мы&nbsp;свяжемся 
              br
              |  с&nbsp;Вами в&nbsp;ближайшее время
            .form__item
              span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')
                span.icon__wrap
                  svg.icon(width='18', height='18')
                    use(xlink:href='img/svg/sprite.svg#iconFormUser')
            .form__item
              span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Номер телефона')
                span.icon__wrap
                  svg.icon(width='14', height='17')
                    use(xlink:href='img/svg/sprite.svg#iconFormPhone') 

            .form__item
              span.wpcf7-form-control-wrap.accept
                span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                  span.wpcf7-list-item
                    label
                      input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                      span.wpcf7-list-item-label Согласие на обработку персональных данных            

          .form__item.form__item--submit.btn--grad__wrap
            .submit__wrap.submit__wrap--grad
              input.wpcf7-form-control.wpcf7-submit(type='submit', value='Отправить')
              span
      // /. form
    // /. call__content

        
  // /. modal-call
