mixin nav()
  nav.nav
    .container
      button.burger
        span.line
      +main-menu
      ul.menu
        li.menu__item
          a.menu__link.inner-link(href="#scr_individual") Индивидуальное посещение
        li.menu__item
          a.menu__link.inner-link(href="#scr_group") Групповое посещение 
        li.menu__item
          a.menu__link.inner-link(href="#scr_bday") День рождения
        li.menu__item
          a.menu__link(href="#") Афиша событий
      .btn__wrap
        a.btn.btn--simple.open-modal(href="#modal-buy") купить билет
