mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h1.title 
        strong Блог

      .row
        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-1.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Квест «Приключения Алисы» — 
                  br
                  |  26, 30 и 31 мая
                p Хотите стать на 60 минут любопытной Алисой, отважно следующей за куда-то спешащим белым кроликом? Помочь...
              span.link.more Подробнее
        
        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-2.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Все лето с MEGA ГРАДОМ
                p Безлимитный абонемент на месяц.
              span.link.more Подробнее
        
        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-3.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Собери летние скидки 
                  br 
                  |  в MEGA ГРАДЕ
                p Акция действует с 1 мая по 31 сентября 2019 года. Участник акции, при посещении Города Профессий в мае получает купон...
              span.link.more Подробнее

        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-3.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Собери летние скидки 
                  br 
                  |  в MEGA ГРАДЕ
                p Акция действует с 1 мая по 31 сентября 2019 года. Участник акции, при посещении Города Профессий в мае получает купон...
              span.link.more Подробнее

        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-2.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Собери летние скидки 
                  br 
                  |  в MEGA ГРАДЕ
                p Акция действует с 1 мая по 31 сентября 2019 года. Участник акции, при посещении Города Профессий в мае получает купон...
              span.link.more Подробнее

        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-1.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Собери летние скидки 
                  br 
                  |  в MEGA ГРАДЕ
                p Акция действует с 1 мая по 31 сентября 2019 года. Участник акции, при посещении Города Профессий в мае получает купон...
              span.link.more Подробнее

        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-2.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Собери летние скидки 
                  br 
                  |  в MEGA ГРАДЕ
                p Акция действует с 1 мая по 31 сентября 2019 года. Участник акции, при посещении Города Профессий в мае получает купон...
              span.link.more Подробнее

        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-3.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Собери летние скидки 
                  br 
                  |  в MEGA ГРАДЕ
                p Акция действует с 1 мая по 31 сентября 2019 года. Участник акции, при посещении Города Профессий в мае получает купон...
              span.link.more Подробнее

        .col-sm-6.col-lg-4
          a.blog__item(href="#")
            .img__wrap
              img(src="img/blog/img-blog-1.jpg" alt="" data-object-fit)
            .blog__bottom
              .article
                time(datetime='2019-05-21') 21/05/2019
                h3.title--lined Собери летние скидки 
                  br 
                  |  в MEGA ГРАДЕ
                p Акция действует с 1 мая по 31 сентября 2019 года. Участник акции, при посещении Города Профессий в мае получает купон...
              span.link.more Подробнее
          
      +paginator       
  // /.scr_blog