mixin scr_cta()
  section.scr_cta.cta(id="scr_cta")
    .container
      .form.wpcf7
        form.wpcf7-form
          .df
            .left
              p.cta__title Будьте в&nbsp;курсе 
              p.cta__desc акций, специальных предложений 
                br
                |  и&nbsp;ярких событий
            .center
              .form__item
                span.wpcf7-form-control-wrap.your-email.text-input.text-input--icon
                  input.wpcf7-form-control.wpcf7-text.wpcf7-mail.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='E-mail')
                  span.icon__wrap
                    svg.icon(width='17', height='12')
                      use(xlink:href='img/svg/sprite.svg#iconFormMail')

            .right          
              .btn__wrap
                .form__item.form__item--submit.btn--grad__wrap
                  .submit__wrap.submit__wrap--grad
                    input.wpcf7-form-control.wpcf7-submit(type='submit', value='Подписаться')
                    span
        
  // /.scr_cta
