mixin scr_questions()
  section.scr_questions.questions(id="scr_questions")
    .container
      h1.title 
        strong Вопрос / ответ
        
      ul.questions__list
        li.questions__item
          .top
            h2 Можно ли оставить ребенка одного в&nbsp;центре?
            button.open
          .hidden
            .article
              p Да    
        
        li.questions__item
          .top
            h2 С какого возраста дети могут посещать «MEGA ГРАД»?
            button.open
          .hidden
            .article
              p Да 

        li.questions__item
          .top
            h2 Где оплачивать билеты?
            button.open
          .hidden
            .article
              p Билеты можно приобрести в день посещения на стойке администраторов или заранее на сайте. Билеты, приобретенные на сайте, распечатывать не надо, достаточно предъявить менеджеру на входе в «MEGA ГРАД» номер заказа. В случае, если номер заказа утерян, наш менеджер поможет найти его по номеру телефона или электронной почте, которые Вы указывали, приобретая билеты.

        li.questions__item
          .top
            h2 У&nbsp;нас многодетная семья, есть&nbsp;ли льготы на&nbsp;билеты?
            button.open
          .hidden
            .article
              p Да 
  // /.scr_questions
