mixin scr_calendar()
  section.scr_calendar.calendar(id="scr_calendar")
    .container      
      h1.title 
        strong Афиша событий
      p.title--lined Мероприятия на 
        span.month Июнь
      
      .calendar__container(id="calendar-slider")      
        .calendar__nav          

        .calendar__slides
          .calendar__slide
            span.previous-month(style="display:none;") Май
            span.current-month(style="display:none;") Июнь
            span.next-month(style="display:none;") Июль

            table
              thead
                tr
                  th Понедельник
                  th Вторник
                  th Среда
                  th Четверг
                  th Пятница
                  th Суббота
                  th Воскресенье
              tbody
                tr
                  td.calendar__day.calendar__day--another-month.calendar__day--previous  
                    .calendar__wrap                  
                      .top
                        span.day 27                                        
                  td.calendar__day.calendar__day--another-month.calendar__day--previous  
                    .calendar__wrap                  
                      .top
                        span.day 28                                      
                  td.calendar__day.calendar__day--another-month
                    .calendar__wrap
                      .top                    
                        span.day 29                                      
                  td.calendar__day.calendar__day--another-month
                    .calendar__wrap
                      .top                    
                        span.day 30                                      
                  td.calendar__day.calendar__day--another-month
                    .calendar__wrap
                      .top                    
                        span.day 31                                   
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top                    
                        span.day 1
                      .bottom
                        p День защиты детей в&nbsp;MEGA&nbsp;ГРАД возраст- 1,5-14
                  td.calendar__day  
                    .calendar__wrap                  
                      .top
                        span.day 2                     

                tr
                  td.calendar__day     
                    .calendar__wrap          
                      .top
                        span.day 3                                        
                  td.calendar__day   
                    .calendar__wrap     
                      .top
                        span.day 4                                      
                  td.calendar__day   
                    .calendar__wrap            
                      .top
                        span.day 5                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 6                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 7                                   
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 8                      
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top
                        span.day 9
                      .bottom
                        p День блоггера 
                          br 
                          |  в&nbsp;MEGA&nbsp;ГРАД
                          br 
                          |  возраст от&nbsp;4 лет

                tr
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 10                                    
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 11                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 12                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 13                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 14                                   
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 15                      
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top
                        span.day 16
                      .bottom
                        p Мастер класс от шеф- повара ресторана
                          br
                          |  возраст от 4 лет

                tr
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 17                                       
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 18                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 19                                     
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 20                                     
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 21                                  
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 22                      
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top
                        span.day 23
                      .bottom
                        p Мастер класс от шеф- повара ресторана
                          br
                          |  возраст от 4 лет

                tr
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 24                                       
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 25                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 26                                    
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 27                                    
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 28                                 
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 29                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 30              

          .calendar__slide
            span.previous-month(style="display:none;") Июнь
            span.current-month(style="display:none;") Июль
            span.next-month(style="display:none;") Август

            table
              thead
                tr
                  th Понедельник
                  th Вторник
                  th Среда
                  th Четверг
                  th Пятница
                  th Суббота
                  th Воскресенье
              tbody
                tr
                  td.calendar__day.calendar__day--another-month.calendar__day--previous  
                    .calendar__wrap                  
                      .top
                        span.day 27                                        
                  td.calendar__day.calendar__day--another-month.calendar__day--previous  
                    .calendar__wrap                  
                      .top
                        span.day 28                                      
                  td.calendar__day.calendar__day--another-month
                    .calendar__wrap
                      .top                    
                        span.day 29                                      
                  td.calendar__day.calendar__day--another-month
                    .calendar__wrap
                      .top                    
                        span.day 30                                      
                  td.calendar__day.calendar__day--another-month
                    .calendar__wrap
                      .top                    
                        span.day 31                                   
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top                    
                        span.day 1
                      .bottom
                        p День защиты детей в&nbsp;MEGA&nbsp;ГРАД возраст- 1,5-14
                  td.calendar__day  
                    .calendar__wrap                  
                      .top
                        span.day 2                     

                tr
                  td.calendar__day     
                    .calendar__wrap          
                      .top
                        span.day 3                                        
                  td.calendar__day   
                    .calendar__wrap     
                      .top
                        span.day 4                                      
                  td.calendar__day   
                    .calendar__wrap            
                      .top
                        span.day 5                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 6                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 7                                   
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 8                      
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top
                        span.day 9
                      .bottom
                        p День блоггера 
                          br 
                          |  в&nbsp;MEGA&nbsp;ГРАД
                          br 
                          |  возраст от&nbsp;4 лет

                tr
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 10                                    
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 11                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 12                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 13                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 14                                   
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 15                      
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top
                        span.day 16
                      .bottom
                        p Мастер класс от шеф- повара ресторана
                          br
                          |  возраст от 4 лет

                tr
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 17                                       
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 18                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 19                                     
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 20                                     
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 21                                  
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 22                      
                  td.calendar__day.calendar__day--with-event
                    .calendar__wrap
                      .top
                        span.day 23
                      .bottom
                        p Мастер класс от шеф- повара ресторана
                          br
                          |  возраст от 4 лет

                tr
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 24                                       
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 25                                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 26                                    
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 27                                    
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 28                                 
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 29                      
                  td.calendar__day
                    .calendar__wrap
                      .top
                        span.day 30              

  // /.scr_calendar
