mixin scr_program()
  section.scr_program.program(id="scr_program")
    .container
      p.blue Устройте 
        b.orange особенный и незабываемый 
          br
          |  праздник 
        |  для&nbsp;ребенка в&nbsp;
        strong MEGA&nbsp;ГРАДЕ

      h2.orange
        strong В программу входит:
      
      ul.program__list
        li.program__item
          .top
            .img
              .img__wrap
                img(src="img/bday/img-bday-1.jpg" alt="Клоун и дети" data-object-fit)
          p.text Праздничная программа 
            br
            |  с профессиональным актером

        li.program__item
          .top
            .img
              .img__wrap
                img(src="img/bday/img-bday-2.jpg" alt="Чаепитие" data-object-fit)
          p.text Отдельный домик для 
            br
            |  чаепития

        li.program__item
          .top
            .img
              .img__wrap
                img(src="img/bday/img-bday-3.jpg" alt="Детская вечеринка" data-object-fit)
          p.text Входные билеты 
            br
            |  для детей и взрослых
  // /.scr_program
