mixin scr_group-group()
  section.scr_group.group(id="scr_group")
    .group__nav
      .container
        .row
          .col-md-6.col-lg-4
            a.group__nav-item.current(href="#group__tab-0") Для педагогов
          .col-md-6.col-lg-4
            a.group__nav-item(href="#group__tab-1") Для детей

          
    .group__tab#group__tab-0
      .container.group__wrap
        .bg-img(style="background: transparent url('img/bg-group-2.jpg') no-repeat center center; background-size: contain;")
        p.group__strong.group__strong--title С&nbsp;помощью групповой 
          br
          |  программы Вы сможете:

        .group__features(id="group__features1")
          p.group__strong Развлечение
            br
            |  =
            br
            |  Обучение
          .group__features-item
            i.circle
            p.text Разнообразить образовательный 
              br  
              |  процесс
          .group__features-item
            i.circle
            p.text Повысить интерес детей к&nbsp;знаниям
          .group__features-item.fadeIn
            i.circle
            p.text Пройти раннюю  
              br
              |  профориентацию
          .group__features-item
            i.circle
            p.text Обучить в&nbsp;игровой форме  
              br
              |  полезным навыкам
          .group__features-item
            i.circle
            p.text Дополнить школьные знания
          .group__features-item
            i.circle
            p.text Сплотить класс, в&nbsp;процессе 
              br
              |  командной работы

    .group__tab#group__tab-1
      .container.group__wrap
        .bg-img(style="background: transparent url('img/bg-group.jpg') no-repeat center center; background-size: contain;")
        p.group__strong.group__strong--title Вместе вы сможете:

        .group__features(id="group__features2")
          p.group__strong Развлечение
            br
            |  =
            br
            |  Обучение
          .group__features-item
            i.circle
            p.text Научиться работать в&nbsp;команде 
              br  
              |  и в&nbsp;процессе проявить личностные 
              br
              |  качества
          .group__features-item
            i.circle
            p.text Познакомиться с&nbsp;профессиями 
              br
              |  настоящего и&nbsp;будущего
          .group__features-item.fadeIn
            i.circle
            p.text Применить полученные 
              br
              |  в&nbsp;школе знания на&nbsp;практике
          .group__features-item
            i.circle
            p.text Пройти раннюю профориентацию 
              br
              |  и&nbsp;раскрыть индивидуальный 
              br
              |  потенциал
          .group__features-item
            i.circle
            p.text Получить массу позитивных эмоций 
              br
              |  и&nbsp;незабываемо ярких впечатлений

  // /.scr_group
