mixin scr_tourfirm-partnership()
  section.scr_tourfirm.tourfirm(id="scr_tourfirm")
    .type1   
      .container     
        .row
          .col-sm-7
            .left         
              h1.title 
                strong сотрудничество
              p.tourfirm__title.title--lined Станьте нашим партнером

              .grey.grey--big 
                p По&nbsp;вопросам сотрудничества, брендирования и&nbsp;партнерства обращаться по&nbsp;адресу:
                p.small г.&nbsp;Симферополь, Евпаторийское шоссе, 8
                    br
                    |  ТРК&nbsp;«MEGANOM», 2&nbsp;этаж
                .df
                  a.contacts__item(href='tel:+8005559097', rel='nofollow')
                    .contacts__img
                      img(src="img/svg/contacts-1.svg" alt="телефон" style="width: 39px;height: 45px;")
                    .contacts__text
                      span 8&nbsp;(800)&nbsp;555-90-97
                  a.contacts__item(href="mailto:megagrad.smf@gmail.com", rel='nofollow')
                    .contacts__img
                      img(src="img/svg/contacts-2.svg" alt="емэйл" style="width: 40px;height: 40px;")
                    .contacts__text
                      span megagrad.smf@gmail.com

          .col-sm-5
            .right  
              .img__wrap       
                picture(data-object-fit)
                  <source media="(min-width: 576px)" srcset="img/tourfirm/img-tourfirm-6.jpg">
                  <source srcset="img/tourfirm/img-tourfirm-6--mobile.jpg">
                  img(src="img/tourfirm/img-tourfirm-6.jpg" alt="дети собирают лего" data-object-fit)

  // /.scr_tourfirm
