mixin scr_parents()
  section.scr_parents.parents(id="scr_parents")
    .container
      h2.title--lined А пока Ваши дети занимаются

      .row
        .col-md-4.parents__wrap
          .parents__item.wow.fadeIn(data-wow-duration="1s")
            .img_wr
              img(src="img/svg/parents-1.svg" alt="иконка" style="width: 120px; height: 122px;")
            p.text Можно пойти за&nbsp;покупками

        .col-md-4.parents__wrap
          .parents__item.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.2s")
            .img_wr
              img(src="img/svg/parents-2.svg" alt="иконка" style="width: 111px; height: 121px;")
            p.text Наблюдать за&nbsp;успехами ребенка

        .col-md-4.parents__wrap
          .parents__item.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.4s")
            .img_wr
              img(src="img/svg/parents-3.svg" alt="иконка" style="width: 121px; height: 113px;")
            p.text Заняться важными делами

      p.parents__desc Удобно маме, интересно ребенку
        
  // /.scr_parents
