.lead
  position: relative
  background: transparent url('../img/lead-bg.jpg') no-repeat center center
  background-size: cover
  padding: 22px 0 32px
  overflow: hidden
  z-index: 1
  &__title
    margin-bottom: 34px
    font-size: 28px
    line-height: 1.428571428571429 /* 40 / 38 */
    text-transform: uppercase
    color: #ffffff
    strong
      font-weight: 900
  &__form
    max-width: 584px
    padding: 35px 51px 1px
    background-color: rgba(153,186,62,0.94)
    .form
      max-width: 423px
      margin-bottom: -23px
      margin-left: auto
      margin-right: auto


  @media screen and (max-width: 1400px)
    &__form
      max-width: 474px
    &__title
      margin-bottom: 24px
      font-size: 22px

  // max-width 1170px

  @media screen and (max-width: 575px)
    &__title
      font-size: 20px
      br
        display: none

  // max-width 575px

  @media screen and (max-width: 500px)
    &__form
      padding: 35px 20px 1px
      width: calc(100% + 30px)
      margin-left: -15px

  // max-width 500px

/* lead */
