.certs
  position: relative
  padding-top: 52px
  padding-bottom: 37px
  &__slider
    overflow: hidden
    width: calc(100% + 30px)
    margin-left: -15px
    padding: 10px 15px
  &__item
    display: flex
    justify-content: center
    text-decoration: none
    outline: none
    padding: 20px
    background-color: #f4f4f4
    box-shadow: 0px 0px 15px 0px rgba(117,117,117,0.37)
    transition: 0.3s
    img
      display: block
      height: 100%
      max-height: 462px
    &:hover
      box-shadow: 0px 0px 15px 0px rgba(117,117,117,0.7)
  &__btns
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 22px


  @media screen and (max-width: 900px)
    padding-top: 32px
    &__item
      padding: 10px

  // max-width 900px

/* certs */
