mixin header
  header.header
    .container
      .header__df
        .logo__wrap
          .logo
            img(src="img/svg/logo.svg" alt="лого")

          p.logo__text Комплексные телекоммуникационные
            br
            |  решения для бизнеса в Крыму

        .header__text.header__text--address
          p Севастополь, ул. Горького, 32
          a(href="mailto:sales@crimea-com.net" rel="nofollow") sales@crimea-com.net

        .header__text.header__text--phones
          a(href="tel:+79780002033" rel="nofollow") +7 (978) 000-20-33
          span Перезвоним в течение 30 секунд

      // /.header__df
    // /.container
