mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__df
        .scr1__content
          h1.scr1__title
            strong Подключим высокоскоростной интернет
            br
            |  для бизнеса в Крыму с гарантией бесперебойной работы и скоростью до 100 Гбит/с

          .scr1__btns
            .btn__wrap
              a.xbtn.xbtn--orange(href="#") Рассчитать стоимость подключения
                br
                |  за 2 минуты

        .scr1__img
          img(src="img/scr1-img.jpg", alt="")

      // /.scr1__df
    // /.container

    .scr1__feat-wrap
      .container
        ul.scr1__feat
          li.scr1__feat-item
            .scr1__feat-top
              .scr1__feat-icon
                img(src="img/svg/icons/help-desk.svg", alt="")
              h2 За каждым клиентом закрепляется личный менеджер

            .scr1__feat-text
              p От момента подачи заявки вы будете общаться с персональным менеджером, который будет вести проект

          li.scr1__feat-item
            .scr1__feat-top
              .scr1__feat-icon
                img(src="img/svg/icons/benchmarking.svg", alt="")
              h2 Мы гарантируем скорость, за&nbsp;которую вы заплатили

            .scr1__feat-text
              p Обладаем собственной волоконно-оптической сетью в крупных городах Крыма

          li.scr1__feat-item
            .scr1__feat-top
              .scr1__feat-icon
                img(src="img/svg/icons/easy-installation.svg", alt="")
              h2 Круглосуточная техническая поддержка клиентов

            .scr1__feat-text
              p Мы поддержим вас и решим ваш вопрос 24/7. Бизнес будет работать в любое время

      // /.container
    // /.scr1__feat-wrap
  // /.scr1
