mixin scripts()
  script(src='js//libs/jquery.min.js')
  script(src='js/libs/wow.min.js')
  script(src='js/libs/jquery.maskedinput.min.js')
  script(src='js/libs/ofi.min.js')

  script(src='js/common.js')

