.modal
  position: relative
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 0
  background-color: rgba(0,0,0,0.5)
  z-index: 1000
  opacity: 0
  overflow: hidden
  &.active
    display: block
    opacity: 1
    min-height: 100vh
  &__content
    display: flex
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    width: 451px
    max-width: 100%
    opacity: 0
    transition: 0.7s

    &.visible
      opacity: 1

  .form
    max-height: 100vh
    padding: 37px 70px 29px
    overflow: auto
    width: 100%
    z-index: 0
    &__item
      padding: 0
    &__title
      font-size: 24px
    .accept
      width: calc(100% + 30px)
      margin-left: -15px

  .close
    background: none
    border: none
    outline: none

    cursor: pointer
    z-index: 300
    transition: 0.3s

    position: absolute
    top: 5px
    right: 9px

    display: block
    width: 30px
    height: 30px
    &::before,&::after
      content: ''
      position: absolute
      top: 50%
      left: 50%

      display: block
      width: 16px
      height: 2px
      background-color: #fff
      border-radius: 1.5px
      transition: 0.3s

    &::before
      transform: translate(-50%,-50%) rotate(45deg)

    &::after
      transform: translate(-50%,-50%) rotate(-45deg)

    &:hover
      &::before,&::after
        background-color: #e99c02


  @media screen and (max-width: 768px)
    &__content
      width: 371px
      top: 15px
      transform: translateX(-50%)
    .form
      padding: 30px 30px 26px
      &__title
        font-size: 21px

  // max-width 768px

  @media screen and (max-width: 400px)
    .form
      width: 100%
      margin-left: 0
      &__title
        margin-bottom: 20px
        font-size: 18px
      .accept
        margin-top: 17px

  // max-width 400px

 /* modal */
