.pager
  position: relative
  margin-top: 10px
  margin-bottom: 10px

  .page-numbers
    margin: 0
    padding: 0
    list-style: none

    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

  .page-number
    position: relative
    text-decoration: none
    line-height: 1.2
    transition: 0.3s

    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    color: $accent

  .page-number:not(.prev):not(.next)
    padding: 0 25px
    &.current
      color: #666666
    &:not(.current)
      &:hover
        color: $accent2

  .prev,
  .next
    width: 38px
    height: 38px
    background-color: #ffffff
    border-radius: 50%
    &::after
      content: '\f054'
      font-family: 'FontAwesome'
      font-weight: 300
      font-size: 14px
    &:hover
      box-shadow: 0 10px 20px rgba($accent, 0.2)

  .prev
    margin-right: 20px
    &::after
      content: '\f053'
  .next
    margin-left: 20px


  @media screen and (max-width: 500px)
    margin-top: 5px
    margin-bottom: 5px
    .page-number:not(.prev):not(.next)
      padding: 0 9px
      font-size: 14px
    .prev,.next
      width: 32px
      height: 32px
      &::after
        font-size: 12px
    .next
      margin-left: 15px
    .prev
      margin-right: 15px

  // max-width 500px

 /* paginator */
