.brand
  position: relative
  background-color: #f8f8f8
  padding-top: 46px
  &__wrap
    width: calc(100% + 30px)
    margin-left: -15px
    background: #fff
    overflow: hidden
  &__top
    min-height: 839px
    padding-left: 31px
    padding-top: 87px
    background: transparent url('../img/bg-brand-1.jpg') no-repeat top left
    background-size: cover
    &-wrap
      max-width: 601px
  &__title
    margin-bottom: 8px
    padding-left: 28.42105263157895%
    font-size: 50px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: -0.02em
    color: #ee3232
  &__btns
    padding-left: 28.42105263157895%
    margin-top: -8px
    font-size: 12px
  &__desc
    max-width: 530px
    margin-top: 97px
    padding-left: 24px
    font-size: 25px
    line-height: 1.2
    font-weight: 400
    color: #000000
    p
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0

  &__bottom
    padding-top: 1px
    background: transparent url('../img/bg-brand-2.jpg') no-repeat bottom left
    background-size: cover
    &-wrap
      padding-left: 291px
      padding-bottom: 536px
      padding-right: 15px

  &__big-text
    margin-bottom: 83px
    font-size: 27.7px
    line-height: 1.2
    color: #000000
    strong
      font-size: 38.3px
      font-weight: 700
      text-transform: uppercase
      color: #019ade
    span
      font-size: 30px
      font-weight: 700
      text-transform: uppercase
      color: #019ade
      &.brand__main-text
        font-size: 154.9px
        line-height: 1
        font-weight: 800
        color: #019ade

  &__features
    margin: 0
    padding: 0
    list-style: none
    padding-left: 273px
    &-item
      position: relative
      margin-bottom: 35px
      padding-left: 89px
      &:first-of-type
        .brand__features-icon
          img
            top: calc(50% + -5px)
      &:nth-of-type(2)
        .brand__features-icon
          img
            left: calc(50% + 3px)
            width: 62px
      &:nth-of-type(3)
        .brand__features-icon
          img
            left: calc(50% + 7px)
            width: 70px

    &-icon
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      display: block
      width: 75px
      height: 75px
      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: inline-block
        width: 75px
        height: auto
        max-width: 100%
    &-desc
      font-size: 18.6px
      line-height: 1.2
      font-weight: 400
      text-transform: uppercase
      color: #000


  @media screen and (max-width: 1170px)
    &__features
      &-item
        &:nth-of-type(2)
          .brand__features-icon
            img
              width: 56px
      &-desc
        font-size: 15.6px
      &-icon
        width: 65px
        height: 65px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__bottom
      &-wrap
        padding-bottom: 336px
    &__features
      padding-left: 153px
      &-item
        margin-bottom: 27px
        padding-left: 74px
        &:nth-of-type(2)
          .brand__features-icon
            img
              width: 50px
      &-icon
        width: 60px
        height: 60px

  // max-width 1070px

  @media screen and (max-width: 992px)
    &__logo
      margin-top: -15px
    &__top
      min-height: 0
      padding-top: 17px
      padding-bottom: 50px
      background-size: contain
      background-position: top right
      &-wrap
        max-width: 401px
    &__title
      font-size: 42px
    &__desc
      max-width: 500px
      margin-top: 37px
      padding-left: 24px
      font-size: 19px
      p
        margin-bottom: 10px

    &__big-text
      margin-bottom: 63px
      font-size: 23.7px
      line-height: 1.3
      strong
        font-size: 34.3px
      span
        font-size: 27px
        &.brand__main-text
          font-size: 125.9px
    &__features
      padding-left: 113px
      &-item
        margin-bottom: 23px
        &:nth-of-type(2)
          .brand__features-icon
            img
              width: 48px
      &-icon
        width: 56px
        height: 56px
      &-desc
        font-size: 14px

  // max-width 992px

  @media screen and (max-width: 800px)
    &__bottom
      background-position: left 40px
      &-wrap
        padding-bottom: 196px
    &__big-text
      font-size: 20.7px
      strong
        font-size: 30.3px
      span
        font-size: 23px
        &.brand__main-text
          font-size: 105.9px

  // max-width 800px

  @media screen and (max-width: 768px)
    &__top
      background-size: auto 400px
      &-wrap
        max-width: 331px
    &__title
      margin-top: 0
      font-size: 32px
    &__btns
      margin-top: 22px
      padding-left: 0
    &__desc
      max-width: 100%
      padding-left: 0
      margin-top: 27px
      font-size: 15px
      p
        margin-bottom: 5px

    &__big-text
      margin-bottom: 43px
    &__bottom
      background-image: url('../img/bg-brand-2--mobile.jpg')
      background-position: right bottom
      background-size: 350px auto
      &-wrap
        padding-left: 30px
        padding-bottom: 136px
    &__features
      padding-left: 0
      max-width: 70%

  // max-width 768px

  @media screen and (max-width: 640px)
    &__top
      background-image: url('../img/bg-brand-1--mobile.jpg')
      background-size: auto 330px
      &-wrap
        max-width: 70%
    &__title
      padding-left: 20.421053%
      font-size: 25px
    &__logo
      width: 70%
    &__desc
      max-width: 80%
      margin-top: 24px
      font-size: 13px
    &__btns
      margin-top: 7px

  // max-width 640px

  @media screen and (max-width: 576px)
    padding-top: 26px
    padding-bottom: 26px
    &__top
      background-position: 80px 0
      background-size: cover
      &-wrap
        max-width: 80%
    &__bottom
      background: none
      &-wrap
        padding-bottom: 36px
    &__features
      max-width: 100%

  // max-width 576px

  @media screen and (max-width: 500px)
    &__features
      &-item
        padding-left: 61px
        &:nth-of-type(2)
          .brand__features-icon
            img
              width: 42px
      &-desc
        font-size: 13px
        br
          display: none
      &-icon
        width: 46px
        height: 46px
    &__big-text
      font-size: 17.7px
      // text-align: center
      strong
        font-size: 26.3px
      span
        font-size: 20px
        &.brand__main-text
          font-size: 93.9px

  // max-width 500px

  @media screen and (max-width: 430px)
    &__top
      background: none
      padding-left: 15px
      padding-bottom: 30px
      &-wrap
        max-width: 100%
        padding-right: 15px
    &__desc
      max-width: 100%
      margin-top: 20px
    &__logo
      width: 100%
    &__title
      padding-left: 28.421053%
    &__bottom
      &-wrap
        display: flex
        flex-direction: column
        padding-left: 15px
        padding-bottom: 12px
    &__features
      &-desc
        font-size: 12px
    &__big-text
      margin-left: auto

  // max-width 430px

  @media screen and (max-width: 400px)
    &__big-text
      font-size: 15.7px
      strong
        font-size: 23.3px
      span
        font-size: 18px
        &.brand__main-text
          font-size: 84.9px

  // max-width 400px


  @media screen and (max-width: 374px)
    &__big-text
      margin-left: 0

  // max-width 374px

/* brand */
