.post
  position: relative
  padding-bottom: 40px
  .title
    margin-top: 31px
    margin-bottom: 45px
  .article
    p
      text-indent: 20px


  @media screen and (max-width: 768px)
    .title
      margin-top: 21px
      margin-bottom: 25px

  // max-width 768px

  @media screen and (max-width: 576px)
    padding-bottom: 20px
    .title
      margin-top: 11px

  // max-width 576px

/* post */
