.partners
  position: relative
  padding-top: 62px
  padding-bottom: 60px

  &__slider
    width: calc(100% + 30px)
    margin-left: -15px
    margin-top: 64px
  &__slide
    padding: 0 15px
  &__item
    display: flex
    justify-content: center
    align-items: center

    height: 141px
    background-color: #ffffff
  &__img
    overflow: hidden
    padding: 0 40px
    text-align: center
    width: 100%
    img
      display: inline-block
      max-width: 100%
      width: auto
  &__bottom
    text-align: center
  &__link
    position: relative
    display: inline-block
    margin-top: 39px
    font-size: 16px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: #666666
    text-decoration: none
    outline: none
    transition: 0.3s
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: -3px

      display: block
      width: 100%
      height: 2px
      background-color: $accent2
    &:hover
      color: $accent2
  &__dots
    margin-top: 25px

  /* media */

  @media screen and (max-width: 768px)
    &__slider
      width: calc(100% + 20px)
      margin-left: -10px
    &__slide
      padding: 0 10px

  // max-width 768px

  @media screen and (max-width: 576px)
    padding-top: 42px
    padding-bottom: 40px
    &__slider
      margin-top: 34px
    &__link
      font-size: 14px

  // max-width 576px

  @media screen and (max-width: 500px)
    &__img
      padding: 0 10px

  // max-width 500px

/* partners */
