.mission
  position: relative
  padding-top: 58px
  padding-bottom: 76px
  .title
    margin-bottom: 42px
    font-weight: 700
  .colored
    margin-top: 45px

  /* media */

  @media screen and (max-width: 700px)
    padding-bottom: 56px
    .title
      margin-bottom: 22px
    .colored
      margin-top: 25px

  // max-width 700px

  @media screen and (max-width: 400px)
    padding-bottom: 36px

  // max-width 400px

/* mission */
