.discuss
  position: relative
  background-color: #c9dbe6
  overflow: hidden
  &__wrap
    position: relative
    max-width: 749px
    padding-top: 79px
    padding-bottom: 56px
    padding-left: 131px
    z-index: 1
  &__img
    position: absolute
    right: -255px
    bottom: 0

    width: auto
    min-width: 300px
    height: 100%
    z-index: -1
    img
      width: auto
      max-height: 100%
  &__title
    margin-bottom: 41px
    font-size: 40px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: $accent


  @media screen and (max-width: 992px)
    &__wrap
      max-width: 500px
      padding-left: 0
      padding-top: 49px
      padding-bottom: 36px
    &__title
      font-size: 32px
    &__img
      right: -185px

  // max-width 992px

  @media screen and (max-width: 768px)
    &__wrap
      max-width: 430px
      padding-top: 39px
      padding-bottom: 26px
    &__title
      margin-bottom: 31px
      font-size: 22px
    &__img
      right: -45px
      min-width: 217px

  // max-width 768px

  @media screen and (max-width: 500px)
    &__wrap
      max-width: 80%
    &__img
      right: -100px
    &__title
      margin-bottom: 21px
      font-size: 18px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__wrap
      padding-top: 25px
    &__title
      margin-bottom: 15px
      font-size: 16px
      br
        display: none
    &__img
      min-width: 197px

  // max-width 400px

/* discuss */
