.lead
  position: relative
  padding-top: 30px
  padding-bottom: 24px
  overflow: hidden
  z-index: 1
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 227px

    display: block
    width: 592px
    height: 485px
    background: transparent url('../img/bg-lead.jpg') no-repeat bottom center
    background-size: cover
    z-index: -1
  &__title
    margin-bottom: 28px
    font-size: 40px
    font-weight: 700
    text-transform: uppercase
    color: $accent
    text-align: center
  &__form
    position: relative
    width: 391px
    max-width: 100%
    margin-left: auto
    margin-right: auto

  .bg-img
    position: absolute
    top: -6px
    right: -602px

    width: 793px
    height: 511px
    z-index: -1

  /* media */
  @media screen and (max-width: 1200px)
    &::before
      left: 0

  // max-width 1200px

  @media screen and (max-width: 992px)
    &__title
      margin-bottom: 25px
      font-size: 30px

  // max-width 992px

  @media screen and (max-width: 768px)
    &__title
      margin-bottom: 14px
      font-size: 24px

  // max-width 768px

  @media screen and (max-width: 630px)
    .bg-img
      display: none

  // max-width 630px

  @media screen and (max-width: 500px)
    &__title
      font-size: 19px

  // max-width 500px

/* lead */
