mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__col
          h2.footer__title Важная информация

          .footer__menu
            ul.menu
              li.menu-item
                a(href="#") О Компании
              li.menu-item
                a(href="#") Политика конфиденциальности
              li.menu-item
                a(href="#") Услуги
              li.menu-item
                a(href="#") Производство ангаров
              li.menu-item
                a(href="#") Строительство теплиц
              li.menu-item
                a(href="#") Производство металлоконструкций
              li.menu-item
                a(href="#") Портфолио
              li.menu-item
                a(href="#") Новости
              li.menu-item
                a(href="#") Полезная информация FAQ
              li.menu-item
                a(href="#") Контакты

        .footer__col
          h2.footer__title быстрые ссылки

          .footer__menu
            ul.menu
              li.menu-item
                a(href="#") Спортивные и детские площадки
              li.menu-item
                a(href="#") Плазменная резка
              li.menu-item
                a(href="#") Купить теплицу в Симферополе
              li.menu-item
                a(href="#") Купить теплицу в Крыму
              li.menu-item
                a(href="#") Купить теплицу в Севастополе от производителя
              li.menu-item
                a(href="#") Теплицы из поликарбоната

      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2020&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

