mixin scr1()
  section.scr1(id="scr1")
    .container
      h1.scr1__title
        strong Строим быстровозводимые
          br
          |  металлические
          span.accent  ангары
          |  в Крыму
        br
        |  «под ключ»: от проектирования
        br
        |  до сдачи в эксплуатацию

      ul.scr1__prod
        li
          .scr1__prod-item
            .scr1__prod-icon
              img(src="img/scr1-img-1.png" alt="" width="125" height="90")

            h3.scr1__prod-title Бескаркасные
              br
              |  арочные ангары
              br
              strong.accent  от
                span  2000
                |  Р /м2

        li
          .scr1__prod-item
            .scr1__prod-icon
              img(src="img/scr1-img-2.png" alt="" width="125" height="90")

            h3.scr1__prod-title Каркасные
              br
              |  прямостенные ангары
              br
              strong.accent  от
                span  2500
                |  Р /м2

      .scr1__btns
        .btn__wrap.btn__wrap--yellow
          a.btn.btn--yellow.open-modal(href="#") Рассчитать стоимость ангара  online

      ul.scr1__feat
        li
          .scr1__feat-item.clearfix
            .scr1__feat-img
              img(src="img/svg/icons/iso.svg" alt="" width="125" height="90")

            span.scr1__feat-num 01
            .scr1__feat-text
              p ТеплицТехМожнтаж - участник СРО, производство сертифицировано
                br
                |  по нормативам ISO
        li
          .scr1__feat-item.clearfix
            span.scr1__feat-num 02
            .scr1__feat-text
              p Собственный цех по производству металлоконструкций и своя служба снабжения
        li
          .scr1__feat-item.clearfix
            span.scr1__feat-num 03
            .scr1__feat-text
              p В штате компании квалифицированные проектировщики, слесари, станочники, сварщики, специалисты по монтажу металлических конструкций

  // /.scr1
