mixin scr_steps()
  section.scr_steps.steps(id="scr_steps")
    .container
      h2.page-title Как мы будет производить и монтировать ангар

      .steps__wrap
        .steps__img
          img(src="img/steps-img.jpg" alt="" width="125" height="90" data-object-fit-contain)

        ul.steps__list
          li
            .steps__item
              .steps__top
                span.steps__num 01
                strong шаг

              .steps__text
                p Вы оставляете заявку на сайте или звоните по указанным номерам телефонов. С Вами связывается наш специалист, узнает все детали, проводит первичную консультацию, намечает план действий.
          li
            .steps__item
              .steps__top
                span.steps__num 02
                strong шаг

              .steps__text
                p Мы рассчитываем точную стоимость металлических конструкций и монтажа по согласованному техническому заданию, при необходимости выезжаем на участок и производим инженерно-геодезические изыскания
          li
            .steps__item
              .steps__top
                span.steps__num 03
                strong шаг

              .steps__text
                p Подписываем договор. После этого начинается реализация проекта. В первую очередь, получение разрешения на строительство.
          li
            .steps__item
              .steps__top
                span.steps__num 04
                strong шаг

              .steps__text
                p Вы вносите поэтапную оплату за реализацию проекта, производится подготовка металлических конструкций и их последующий монтаж на участке
          li
            .steps__item
              .steps__top
                span.steps__num 05
                strong шаг

              .steps__text
                p Завершаем строительство по проекту, оформляем всю необходимую документацию для дальнейшего оформления ангара в государственных органах и получения разрешения на его эксплуатацию

  // /.scr_steps
