mixin scr_machines()
  section.scr_machines.machines(id="scr_machines")
    .container
      h2.page-title В нашем цеху площадью 1500 м2 собрано более 60 единиц
        br
        |  станков и оборудования для обработки и производства
        br
        |  металлических конструкций

      .machines__slider-wrap
        .machines__slider#machines__slider
          .swiper-wrapper
            .swiper-slide
              a.machines__item(href="#")
                .machines__img
                  img(src="img-temp/machines/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                .machines__title Слесарная гильотина

            .swiper-slide
              a.machines__item(href="#")
                .machines__img
                  img(src="img-temp/machines/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                h3.machines__title Покрасочное оборудование

            .swiper-slide
              a.machines__item(href="#")
                .machines__img
                  img(src="img-temp/machines/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                h3.machines__title Слесарная гильотина

            .swiper-slide
              a.machines__item(href="#")
                .machines__img
                  img(src="img-temp/machines/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                h3.machines__title Покрасочное оборудование

        .machines__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

      .machines__btns
        .btn__wrap
            a.btn.btn--transparent(href="#") Подробнее о возможностях цеха
              br
              |  металлоконструкций

  // /.scr_machines
