mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      .contacts__wrap
        .contacts__info
          .contacts__item
            h3 ТеплицТехМонтаж

            .contacts__text
              p Симферополь, ул. Глинки, 80
                br
                |  Т/ф
                a(href="tel:+79788334363" rel="nofollow")  +7 (978) 833-43-63

          .contacts__item
            a.contacts__text(href="mailto:teplictm@mail.ru" rel="nofollow") teplictm@mail.ru

          .contacts__item
            h3 время работы

            .contacts__text
              p Пн-Пт с 09:00 до 17:00
                br
                |  Сб-Вс - выходные


          +socials

    .contacts__map#contacts__map

  // /.scr_contacts
