mixin scr_ware()
  section.scr_ware.ware(id="scr_ware")
    .container
      h2.page-title За 40 лет работы на строительном рынке мы построили
        br
        |  более 400 ангаров и складов, а также 500 гектар тепличных комплексов

      ul.tabs__nav
        li.current
          a.js-tabs-link(href="#ware__tab-0") Ангары и склады
        li
          a.js-tabs-link(href="#ware__tab-1") Промышленные теплицы
        li
          a.js-tabs-link(href="#ware__tab-2") Металлоконструкции

      ul.ware__tabs
        li.ware__tab#ware__tab-0
          .ware__slider-wrap
            .ware__slider#ware__slider-0
              .swiper-wrapper
                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,
                          br
                          |  г. Симферополь

                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,

                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,
                          br
                          |  г. Симферополь

                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,
                          br
                          |  г. Симферополь

            .ware__slider-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")

        li.ware__tab#ware__tab-1
          .ware__slider-wrap
            .ware__slider#ware__slider-1
              .swiper-wrapper
                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,
                          br
                          |  г. Симферополь

            .ware__slider-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")

        li.ware__tab#ware__tab-2
          .ware__slider-wrap
            .ware__slider#ware__slider-2
              .swiper-wrapper
                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,
                          br
                          |  г. Симферополь

                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,

                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,
                          br
                          |  г. Симферополь

                .swiper-slide
                  .ware__item
                    a.ware__img(href="#")
                      img(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .ware__content
                      a(href="#")
                        h3 Арочный ангар 500 м2

                      .ware__text
                        p
                          b Используется как зернохранилище
                          br
                          b Год и место постройки:
                          |  2005,
                          br
                          |  г. Симферополь


            .ware__slider-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_ware
