mixin scr_brands()
  section.scr_brands.brands.grey-bg(id="scr_brands")
    .container
      p.page-title Наши клиенты в Республике Крым

      .brands__slider-wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide
              .brands__item
                img(src="img/brands/img-1.svg" alt="" width="125" height="90" data-object-fit-contain)
            .swiper-slide
              .brands__item
                img(src="img/brands/img-2.png" alt="" width="125" height="90" data-object-fit-contain)
            .swiper-slide
              .brands__item
                img(src="img/brands/img-3.png" alt="" width="125" height="90" data-object-fit-contain)
            .swiper-slide
              .brands__item
                img(src="img/brands/img-4.png" alt="" width="125" height="90" data-object-fit-contain)
            .swiper-slide
              .brands__item
                img(src="img/brands/img-5.png" alt="" width="125" height="90" data-object-fit-contain)
            .swiper-slide
              .brands__item
                img(src="img/brands/img-2.png" alt="" width="125" height="90" data-object-fit-contain)

        .brands__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_brands
