mixin scr_prod()
  section.scr_prod.prod.grey-bg(id="scr_prod")
    .container
      h2.page-title Каждый ангар мы проектируем с учетом особенностей участка
        br
        |  и требуемых эксплуатационных характеристик

      .prod__slider-wrap
        .prod__slider#prod__slider
          .swiper-wrapper
            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .prod__content
                  a(href="#")
                    h3 Арочные
                      br
                      |  бескаркасные

                  b.prod__price цены от
                    span  2000
                    |  Р /м
                    sup 2

                  span.prod__square площадь от 100 м2

                .prod__btns
                  .btn__wrap
                    a.btn.btn--transparent(href="#") Подробнее

            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .prod__content
                  a(href="#")
                    h3 Прямостенные теплые
                      br
                      |  (из сэндвич панелей)

                  b.prod__price цены от
                    span  4500
                    |  Р /м
                    sup 2

                  span.prod__square площадь от 50 м2

                .prod__btns
                  .btn__wrap
                    a.btn.btn--transparent(href="#") Подробнее

            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .prod__content
                  a(href="#")
                    h3 Шатровые
                      br
                      |  по металлическому каркасу

                  b.prod__price цены от
                    span  2500
                    |  Р /м
                    sup 2

                  span.prod__square площадь от 200 м2

                .prod__btns
                  .btn__wrap
                    a.btn.btn--transparent(href="#") Подробнее

            .swiper-slide
              .prod__item
                a.prod__img(href="#")
                  img(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                .prod__content
                  a(href="#")
                    h3 Шатровые
                      br
                      |  по металлическому каркасу

                  b.prod__price цены от
                    span  2500
                    |  Р /м
                    sup 2

                  span.prod__square площадь от 200 м2

                .prod__btns
                  .btn__wrap
                    a.btn.btn--transparent(href="#") Подробнее

        .prod__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_prod
