mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fab.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fab.fa-facebook-f

  // /.socials
