.cases
  position: relative
  padding-top: 34px
  padding-bottom: 75px
  &__df
    display: flex
  &__slider
    overflow: hidden
    padding: 20px
    margin: -20px
    &-wrap
      position: relative
    &-btns
      .swiper-dots
        display: none
      .swiper-button-prev
        left: -66px
      .swiper-button-next
        right: -66px
  &__item
    display: flex
    padding-right: 155px
  &__img
    display: block
    text-decoration: none
    outline: none
    flex-grow: 1
    max-width: 663px
    margin-right: 20px
    border-radius: 8px
    overflow: hidden
    transition: 0.3s
  &__info
    flex-shrink: 0
    width: 580px
    margin-left: auto
    padding-top: 16px
    padding-bottom: 20px
  &__title
    margin-top: 0
    margin-bottom: 43px
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 600
  &__text
    margin-bottom: 24px
    b
      font-weight: 500
  &__btns
    margin-top: 40px
    .xbtn
      min-width: 196px
      height: 60px
      text-align: center


  @media screen and (max-width: 1650px)
    &__slider
      &-btns
        .swiper-button-prev
          left: -13px
        .swiper-button-next
          right: -13px

  // max-width 1650px

  @media screen and (max-width: 1400px)
    &__item
      padding-right: 0

  // max-width 1400px

  @media screen and (max-width: 1070px)
    padding-top: 34px
    padding-bottom: 45px
    &__info
      width: 480px
    &__title
      margin-bottom: 13px
      font-size: 16px
    &__text
      margin-bottom: 17px
      font-size: 14px
    &__btns
      margin-top: 25px

  // max-width 1070px

  @media screen and (max-width: 850px)
    &__info
      width: 390px

  // max-width 850px

  @media screen and (max-width: 650px)
    padding-bottom: 35px
    &__item
      display: block
    &__info
      width: 100%
    &__img
      height: 200px
      margin-right: 0
    &__slider
      &-btns
        .swiper-button-prev,
        .swiper-button-next
          display: none
        .swiper-dots
          display: flex
          justify-content: center

  // max-width 650px

/* cases */
