.socials
  display: flex
  &__link
    display: flex
    align-items: center
    justify-content: center
    width: 32px
    height: 32px
    margin-right: 10px

    text-decoration: none
    text-align: center
    border-radius: 50%
    background-color: rgba(97,115,133,0.34)
    transition: 0.3s  ease-in-out
    .icon
      width: 16px
      height: 16px
      fill: #fff
    &:last-of-type
      margin-right: 0
    &:hover
      transform: translateY(-2px)
      background: rgba(97,115,133,0.9)

/* socials */
