@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoRegular.woff') format('woff'),
       url('../fonts/RobotoRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoMedium.woff') format('woff'),
       url('../fonts/RobotoMedium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoBold.woff') format('woff'),
       url('../fonts/RobotoBold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBlack.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoBlack.woff') format('woff'),
       url('../fonts/RobotoBlack.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}
