@font-face
  font-family: 'Gotham Pro'
  font-display: swap
  src: local('Gotham Pro'),
  url('../fonts/GothamPro.woff2') format('woff2'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Muller'
  font-display: swap
  src: url('../fonts/muller/MullerRegularItalic.woff2') format('woff2'),
  url('../fonts/muller/MullerRegularItalic.woff') format('woff'),
  url('../fonts/muller/MullerRegularItalic.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Muller'
  font-display: swap
  src: url('../fonts/muller/MullerBlack.woff2') format('woff2'),
  url('../fonts/muller/MullerBlack.woff') format('woff'),
  url('../fonts/muller/MullerBlack.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Muller'
  font-display: swap
  src: url('../fonts/muller/MullerBold.woff2') format('woff2'),
  url('../fonts/muller/MullerBold.woff') format('woff'),
  url('../fonts/muller/MullerBold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Circe'
  font-display: swap
  src: url('../fonts/circe/Circe-Regular.woff2') format('woff2'),
  url('../fonts/circe/Circe-Regular.woff') format('woff'),
  url('../fonts/circe/Circe-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Circe'
  font-display: swap
  src: url('../fonts/circe/Circe-Bold.woff2') format('woff2'),
  url('../fonts/circe/Circe-Bold.woff') format('woff'),
  url('../fonts/circe/Circe-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Circe'
  font-display: swap
  src: url('../fonts/circe/Circe-ExtraBold.woff2') format('woff2'),
  url('../fonts/circe/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/circe/Circe-ExtraBold.ttf') format('truetype')
  font-weight: 900
  font-style: normal
