::selection
  background-color: $accent
  color: #fff

*
  margin: 0
  padding: 0

html, body
  max-width: 100%
  overflow-x: hidden

body
  position: relative
  width: 100%
  height: 100%
  min-height: 320px

  font-family: $font
  font-size: 16px
  line-height: 1.5
  font-weight: 400
  color: $body-color
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-smoothing: antialiased


  background-color: #fff
  display: flex
  flex-direction: column
  min-height: 100vh

  &.disabled
    overflow: hidden
    max-height: 100vh

.page_wr
  flex-grow: 1

img
  width: 100%
  height: auto
  border: none

[data-object-fit-cover]
  object-fit: cover
  object-position: center
  font-family: 'object-fit: cover; object-position: center;'
  width: 100%
  height: 100%

[data-object-fit-contain]
  object-fit: contain
  object-position: center
  font-family: 'object-fit: contain; object-position: center;'
  width: 100%
  height: 100%

a
  color: $body-color
  &:focus
    outline: none

.blur-it
  filter: blur(4px)

.accent
  color: $accent

h1,h2,h3,h4,h5,h6
  font-family: $title-font

.article
  h2
    font-size: 30px
    font-weight: 400
    text-align: center
  p
    margin-bottom: 28px
  a
    text-decoration: none
    transition: 0.3s
    &:hover
      text-decoration: underline

.title
  font-weight: normal
  font-size: 40px
  line-height: 1.2

h2.title
  text-align: center

.secondary-page
  h1.title
    margin: 0
    padding-top: 55px
    padding-bottom: 46px
    font-size: 36px
    line-height: 1.3

.hidden-text
  position: absolute
  top: -9999px
  left: -9999px

.grey-bg
  background-color: #f7f7f7

.icon
  max-width: 100%
  max-height: 100%
  fill: $icon
  transition: 0.5s

.link
  position: relative
  display: block
  font-size: 16px
  text-transform: uppercase
  text-decoration: none
  transition: 0.3s
  &::before
    content: ''
    position: absolute
    bottom: -2px
    left: 0

    display: block
    width: 100%
    height: 1px
    background-color: $body-color
    transform: scale(0)
    transition: 0.3s
  &:hover,
  &.active
    color: $accent
    &::before
      background-color: $accent
      transform: scale(1)


.btn,
input[type="submit"]
  position: relative

  border: none
  outline: none
  background: none

  cursor: pointer
  text-decoration: none
  transition: 0.5s
  -webkit-appearance: none

  display: inline-block
  padding: 8px 47px
  background-color: $accent2
  border-radius: 21.5px
  font-size: 18px
  line-height: 1.2
  font-weight: 400
  color: #ffffff
  &:hover
    background-color: $accent
.btn
  width: 100%
  &__icon
    position: absolute
    top: 9px
    right: 7px

    display: block
    width: 32px
    height: 32px
    background-color: #ffffff
    transform: rotate(-45deg)
    border-radius: 50%
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)

      display: block
      width: 8px
      height: 8px
      border-right: 2px solid $accent
      border-bottom: 2px solid $accent

.btn__wrap
  position: relative
  display: inline-block
  &::before
    content: ''
    position: absolute
    bottom: 5px
    left: 50%
    transform: translateX(-50%)

    display: block
    width: 75%
    height: 10px
    border-radius: 21.5px
    box-shadow: 0 10px 20px 0 rgba($accent2,0.4),
    0 10px 20px 0 rgba(#c595b6,0.7)
    transition: 0.5s
  &:hover
    &::before
      box-shadow: 0 10px 20px 0 rgba($accent,0.4)

input[type="submit"]
  &[disabled]
    cursor: no-drop
    background: #5e5e5e

.burger
  position: relative
  transition: 0.3s

  z-index: 100
  display: block
  &__wr
    display: flex
    align-items: center
    height: 100%
  &__wrap
    flex-shrink: 0
    position: relative
    background: none
    outline: none
    border: none
    cursor: pointer

    width: 29px
    height: 29px
    &.active
      .burger
        display: block
        height: 100%
        .line
          transform: translate(-50%,-50%) rotate(-45deg)
          &:before,
          &:after
            transform: translateX(0) rotate(90deg)
    &:hover
      .burger
        .line
          &,
          &::after,
          &::before
            background-color: $accent2

  .line
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    &,
    &::after,
    &::before
      position: absolute
      display: block
      width: 100%
      height: 3px
      background-color: $accent
      transition: 0.3s ease-in-out

    &::after,
    &::before
      content: ''
      left: 0
    &::before
      transform: translateY(-11px)
    &::after
      transform: translateY(11px)

/* Цена */
.price__wrap
    padding-top: 24px
    padding-bottom: 14px
    text-align: center
    &--two
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
    .price
      display: block
      &--current
        font-size: 24px
        font-weight: 700
        color: $accent
      &--last
        font-size: 18px
        font-weight: 400
        color: #999999
        text-decoration: line-through
        margin-right: 10px

.marks
  position: absolute
  top: 25px
  right: 19px

  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  z-index: 5
  li
    &:not(:last-of-type)
      margin-right: 12px
    button,a
      background: none
      outline: none
      border: none

      display: inline-block
      width: 19px
      height: 19px
      text-decoration: none
      cursor: pointer
      transition: 0.3s
      &.button-diagram
        width: 14px
        height: 19px
        transform: rotateY(180deg)
      &.button-wish
        width: 17px
        height: 15px
      &:hover
        .icon
          fill: $accent2
      .icon
        &--full
          display: none
      &.active
        .icon--empty
          display: none
        .icon--full
          display: block
          fill: $accent2


/* Переопределение стилей yandex map */
[class$='-controls-pane']
  display: none

/* Переопределение стилей slick */
.slick-slide
  -webkit-backface-visibility: hidden
  outline: none
  &:focus
    outline: none

.slick-arrow
  background: none
  border: none
  outline: none

  position: absolute
  z-index: 50
  cursor: pointer
  font-size: 0
  transition: 0.3s

  display: block
  width: 44px
  height: 44px
  background-color: rgba(#fff,0.05)
  box-shadow: 0px 5px 10px 0px rgba(#c595b6,0.5)
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 50%

    display: block
    width: 8px
    height: 8px
    border-bottom: 2px solid $accent
    border-left: 2px solid $accent
  &:hover
    transform: scale(1.1)
    background-color: rgba(#fff,0.2)
.slick-prev
  &::before
    transform: translate(-50%,-50%) rotate(45deg)

.slick-next
  &::before
    transform: translate(-50%,-50%) rotate(-135deg)

.slick-dots
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  font-size: 0
  li
    margin-bottom: 32px
    button
      position: relative
      background: none
      border: none
      outline: none

      display: block
      width: 11px
      height: 11px
      background-color: rgba(255,255,255,0.5)
      border-radius: 50%
      &::before
        content: ''
        position: absolute
        top: -6px
        left: -6px

        display: block
        width: 23px
        height: 23px
        border: 1.0px solid rgba(255,255,255,0.5)
        border-radius: 50%
        transform: scale(0)
        transition: 0.3s
      &:hover
        &::before
          transform: scale(1)

    &.slick-active
      button
        &::before
          transform: scale(1)

    &:not(.slick-active)
      button
        cursor: pointer

.slider1__dots--2
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: -14px
  li
    margin: 0 3px
    button
      width: 7px
      height: 7px
      background-color: $accent
      transition: 0.3s
      &::before
        content: none
    &.slick-active
      button
        background-color: $accent2

.slider1
  position: relative
  &__arrows
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
  &__dots
    z-index: 100
  &__num
    display: block
    padding-right: 20px
    margin-bottom: 34px
    text-shadow: 0px 5px 20px rgba(#c595b6,0.5)
    font-family: $font2
    font-size: 30px
    font-weight: 700
    color: rgba(#fff,0.5)
    text-align: center

/* Переопределение nice-select */
.nice-select
  float: none
  width: 173px
  height: 42px
  line-height: 1.3

  display: flex
  align-items: center
  background-color: #ffffff
  border: 1.0px solid #cccccc
  border-radius: 3.0px

  font-size: 16px
  line-height: 1.2
  font-weight: 300
  color: $accent

  transition: .3s
  .option[data-value=""]
    font-size: 14px
    color: #666666
    opacity: 0.7

  .list
    width: 100%
    z-index: 100
    max-height: 0

  &:focus
    border-color: $accent

  .list
    box-shadow: 0 0 10px rgba($accent,0.4)

  &::after
    width: 6px
    height: 6px
    border-color: $accent

  .current
    display: block
    overflow: hidden
    color: #666
    font-size: 14px
    &.active
      color: $accent
      font-size: 16px

  &.open
    .list
      max-height: 10000px

/* Переопределение bootstrap */
@media (min-width: 1200px)
  .container
    max-width: 1170px

/* media */
@media screen and (max-width: 1200px)
  .container
    max-width: 100%

// max-width 1200px

// @media screen and (max-width: 1024px)

// max-width 1024px

// @media screen and (max-width: 992px)

// max-width 992px

// @media screen and (max-width: 900px)

// max-width 900px

@media screen and (max-width: 768px)
  .secondary-page
    h1.title
      padding-top: 10px
      padding-bottom: 20px
      font-size: 24px
// max-width 768px

@media screen and (max-width: 700px)
  .marks:not(.marks--gallery)
    top: 8px
    right: 10px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 105px
    li
      &:not(:last-of-type)
        margin-right: 0
        order: 3
// max-width 700px

@media screen and (max-width: 650px)
  .slick-arrow
    width: 24px
    height: 24px
// max-width 650px

@media screen and (max-width: 570px)
  .price__wrap
    padding-top: 14px
    padding-bottom: 0
// max-width 570px

@media screen and (max-width: 500px)
  h2.title
    font-size: 18px
    font-weight: 700
    text-align: left
  .secondary-page
    h1.title
      font-size: 22px
      br
        display: none
  .price
    &__wrap
      .price--last
        font-size: 14px
      .price--current
        font-size: 18px
// max-width 500px

// @media screen and (max-width: 400px)

// max-width 400px
