doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title  |

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#011e31')
    // Custom Browsers Color End

    include blocks/scripts.pug
    include blocks/script-map.pug
    include blocks/styles.pug
    include blocks/header.pug
    include blocks/socials.pug

    include blocks/scr1.pug
    include blocks/scr_about.pug
    include blocks/scr_team.pug
    include blocks/scr_reviews.pug
    include blocks/scr_serv.pug
    include blocks/scr_faq.pug
    include blocks/scr_blog.pug
    include blocks/scr_contacts.pug

    include blocks/footer.pug
    include blocks/socials.pug

    style.
      @-webkit-keyframes logoPulse {
        0% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        25% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
        50% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        75% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
      }

      @keyframes logoPulse {
        0% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        25% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
        50% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        75% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
      }

      .page_preloader {
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #011e31;
        z-index: 10000;
      }

      .page_preloader .logo {
        opacity: 0;
        width: 523px;
        height: 210px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        -webkit-animation: logoPulse 8s ease infinite;
                animation: logoPulse 8s ease infinite;
        -webkit-transition: 0.5s 0.2s;
        -o-transition: 0.5s 0.2s;
        transition: 0.5s 0.2s;
      }

      .page_preloader .logo.visible {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }

  // body нужно задать disabled, для прелоадера
  body.disabled

    .page_preloader#page_preloader
      .page_preloader__logo
        .logo
          img(src="img/svg/logo.svg" alt="лого")

    #x-fp-nav
      ul
        li
          a.active(href="#" data-section="1" data-slide="0")
          .fp-tooltip 01
        li
          a(href="#" data-section="1" data-slide="1")
          .fp-tooltip 02
        li
          a(href="#" data-section="1" data-slide="2")
          .fp-tooltip 03
        li
          a(href="#" data-section="2" data-slide="0")
          .fp-tooltip 04
        li
          a(href="#" data-section="3" data-slide="0")
          .fp-tooltip 05
        li
          a(href="#" data-section="4" data-slide="0")
          .fp-tooltip 06
        li
          a(href="#" data-section="5" data-slide="0")
          .fp-tooltip 07
        li
          a(href="#" data-section="6" data-slide="0")
          .fp-tooltip 08

    // HEADER на главной и внутренних различается классом!!!
    +header--main("div")

    .scr1__menu
      button.scr1__menu-close

      .scr1__menu-logo-wrap
        .scr1__menu-logo
          .logo
            img(src="img/svg/logo-menu.svg" alt="лого")

      ul.menu
        li.menu-item
          a(href="#") О нас
        li.menu-item
          a(href="#") Команда
        li.menu-item
          a(href="#") Услуги
        li.menu-item
          a(href="#") Отзывы
        li.menu-item
          a(href="#") Вопрос/ответ
        li.menu-item
          a(href="#") Блог
        li.menu-item
          a(href="#") Контакты

    +socials

    // PAGE_WR отличается на главной от внутренних своим ID, это очень важно!
    #page_wr_main.page_wr.grey-bg
      .page_fp#page_fp
        .section
          +scr1
          +scr_about--main
          +scr_team--main

        +scr_serv--main
        +scr_reviews--main
        +scr_faq--main
        +scr_blog--main
        +scr_contacts--main


    a.to-top(href="#page_wr")
      i.fa.fa-angle-up

    +styles
    +scripts
    +script-map
