doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title  |

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#011e31')
    // Custom Browsers Color End

    include blocks/scripts.pug
    include blocks/script-map.pug
    include blocks/styles.pug
    include blocks/header.pug
    include blocks/socials.pug
    include blocks/breadcrumbs.pug

    include blocks/scr_post.pug

    include blocks/footer.pug
    include blocks/socials.pug

    style.
      @-webkit-keyframes logoPulse {
        0% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        25% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
        50% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        75% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
      }

      @keyframes logoPulse {
        0% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        25% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
        50% {
          -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                  filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        }
        75% {
          -webkit-filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
                  filter: drop-shadow(0px 0px 30px #03b5f7) drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.5));
        }
      }

      .page_preloader {
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        height: 100%;
        background: #011e31 url("../img/preloader-bg.jpg") no-repeat center center;
        background-size: cover;
        z-index: 10000;
      }

      .page_preloader .logo {
        width: 523px;
        height: 210px;
        -webkit-filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
                filter: drop-shadow(0px 0px 20px rgba(3, 181, 247, 0.94));
        -webkit-animation: logoPulse 8s ease infinite;
                animation: logoPulse 8s ease infinite;
      }


  body.disabled

    .page_preloader#page_preloader
      .page_preloader__logo
        .logo
          img(src="img/svg/logo.svg" alt="лого")


    +header("a")

    .scr1__menu
      button.scr1__menu-close

      .scr1__menu-logo-wrap
        .scr1__menu-logo
          .logo
            img(src="img/svg/logo-menu.svg" alt="лого")

      ul.menu
        li.menu-item
          a.inner-link(href="#scr_about") О нас
        li.menu-item
          a.inner-link(href="#scr_team") Команда
        li.menu-item
          a(href="#") Услуги
        li.menu-item
          a(href="#") Отзывы
        li.menu-item
          a(href="#") Вопрос/ответ
        li.menu-item
          a(href="#") Блог
        li.menu-item
          a(href="#") Контакты

    +socials

    #page_wr.page_wr.grey-bg
      +scr_post


      a.to-top(href="#page_wr")
        i.fa.fa-angle-up

    +footer("a")

    +styles
    +scripts
    +script-map
