doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title  |

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#1d3a28')
    // Custom Browsers Color End

    include blocks/scripts.pug
    include blocks/script-map.pug
    include blocks/styles.pug
    include blocks/header.pug

    include blocks/scr1.pug
    include blocks/scr_invdiv.pug
    include blocks/scr_socks.pug
    include blocks/scr_features.pug
    include blocks/scr_lead.pug
    include blocks/scr_irp.pug
    include blocks/scr_cond.pug
    include blocks/scr_cta.pug
    include blocks/scr_insta.pug

    include blocks/footer.pug
    include blocks/socials.pug

    //- ToDo: Перенести first-load.css в inline!!!
    +styles-top

  body.main-page

    +header("div")

    #page_wr.page_wr
      +scr1--millitary
      +scr_indiv
      +scr_socks
      +scr_features
      +scr_lead
      +scr_irp
      +scr_cond
      +scr_cta
      +scr_insta

      a.to-top(href="#page_wr")
        i.fa.fa-angle-up

    +footer("div")

    +styles-bottom
    +scripts
    +script-map

    //- //- пример картинки с lazyLoad
    //- noscript
    //-   img.lazy(src="img/img-adv-2.png" alt="" width="125" height="90")
    //- img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/img-adv-2.png" alt="" width="125" height="90")

    //- //- пример svg
    //- svg.icon
    //-   use(xlink:href="img/svg/sprite.svg#iconSheer")
