.footer
  position: relative
  padding-top: 27px
  &__df
    display: flex
    padding-bottom: 27px
  &__col
    flex-shrink: 0
    width: 24.47368421052632%
    margin-right: 15px
    &:first-of-type
      display: flex
      flex-direction: column
      .footer__menu
        margin-bottom: 10px
    &:nth-of-type(2)
      width: 21.75438596491228%
      padding-top: 3px
    &:nth-of-type(3)
      flex-grow: 1
      width: 25%
      padding-top: 38px
    &:last-of-type
      display: flex
      flex-direction: column
      width: 292px
      padding-top: 38px
      margin-right: 0

  &__menu
    h4
      margin-top: 0
      margin-bottom: 18px
      font-size: 16px
      line-height: 1.2
      font-weight: 700
      text-transform: uppercase
      color: #333333
    &-catalog
      margin-bottom: 30px
      &:last-of-type
        margin-bottom: 0
      h5
        margin-top: 0
        margin-bottom: 17px
        font-size: 14px
        line-height: 1.2
        font-weight: 500
        text-transform: uppercase

  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      margin-bottom: 17px
      &:last-of-type
        margin-bottom: 0
      & > a
        display: block
        text-decoration: none
        outline: none
        font-size: 14px
        line-height: 1.2
        transition: 0.3s
        &:hover
          color: $accent

  &__phone
    display: block
    text-decoration: none
    outline: none
    font-size: 18px
    line-height: 1.2
    font-weight: 500
    color: #666666
    transition: 0.3s
    &:hover
      color: $accent

  &__item
    margin-bottom: 18px

  &__address
    font-size: 14px
    line-height: 1.2
    a
      display: block
      text-decoration: none
      outline: none
      transition: 0.3s
      &:hover
        color: $accent

  .logo
    display: block
    text-decoration: none
    &__wrap
      max-width: 259px
      margin-bottom: 9px
      padding: 8px 5px 8px 9px
      background-color: #ffffff
    &__text
      margin-bottom: 24px
      font-size: 13px
      line-height: 1.461538461538462 /* 19 / 13 */
      color: #999999

  &__bottom
    border-top: 1px solid rgba(255,255,255,0.2)
    background-color: #eff0f1
    &-df
      height: 77px
      display: flex
      align-items: center
    .text
      font-size: 13px
      line-height: 16px
    a.text
      text-decoration: none
      outline: none
      transition: 0.3s
      &:hover
        color: $accent

  &__politics
    margin-right: 85px

  &__copyright
    margin-right: 79px

  .made
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #666666
      transition: 0.3s

    &:hover
      .icon
        fill: $accent

  &__map
    flex-grow: 1
    border: 2px solid #eff0f1
    margin-top: 15px
    max-height: 350px

  &__socials
    margin-top: auto
    display: flex
    align-items: center
    p
      margin-right: 22px


  @media screen and (max-width: 1200px)
    &__col
      flex-shrink: 1
      &:last-of-type
        width: 200px

  // max-width 1200px

  @media screen and (max-width: 991px)
    &__menu
      h4
        font-size: 14px
    .menu
      & > li > a
        font-size: 13px
      &-catalog
        h5
          font-size: 13px
    &__address
      font-size: 13px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__bottom
      &-df
        justify-content: space-between
      .footer__politics
        margin-right: 30px
      .footer__copyright
        margin-right: 30px
    &__df
      flex-direction: column
      padding-bottom: 0
    &__col
      width: 100%
      margin-bottom: 20px
      &:nth-of-type(2),
      &:nth-of-type(3)
        display: none
      &:last-of-type
        width: 100%
        margin-bottom: 0
        padding-top: 20px
    &__map
      height: 300px
    .menu
      & > li
        margin-bottom: 0
        & > a
          padding: 8px 0
          border-bottom: 1px solid rgba($accent2, 0.2)
    .logo
      &__wrap
        margin-left: auto
        margin-right: auto

  // max-width 767px

  @media screen and (max-width: 650px)
    &__bottom
      &-df
        flex-direction: column
        align-items: center
        justify-content: flex-start
        text-align: center
        height: auto
        padding: 10px 0
      .footer__politics
        margin-right: 0
        margin-bottom: 15px
      .footer__copyright
        margin-right: 0
        margin-bottom: 15px

  // max-width 650px

  @media screen and (max-width: 575px)
    &__bottom
      height: auto

  // max-width 575px

/* footer */
