.modal
  position: relative
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 0
  background-color: rgba(6,7,13,0.7)
  z-index: 1000
  opacity: 0
  overflow: hidden
  &.active
    display: block
    opacity: 1
    min-height: 100vh
  &__content
    display: flex
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

    width: 456px
    max-width: 98%
    opacity: 0
    transition: 0.7s

    &.visible
      opacity: 1

  .form
    max-height: 100vh
    overflow: auto
    width: 100%
    padding: 65px 81px 68px
    z-index: 0
    &__title
      margin-bottom: 17px
      font-size: 30px
      line-height: 1.2
      font-weight: 400
      text-align: center
    &__desc
      margin-bottom: 32px
    input[type="submit"]
      font-family: $font2
      font-size: 16px

  .close
    background: none
    border: none
    outline: none

    cursor: pointer
    z-index: 300
    transition: 0.3s

    position: absolute
    top: 9px
    right: 9px

    display: block
    width: 30px
    height: 30px
    &::before,&::after
      content: ''
      position: absolute
      top: 50%
      left: 50%

      display: block
      width: 16px
      height: 2px
      background-color: $accent
      border-radius: 1.5px
      transition: 0.3s

    &::before
      transform: translate(-50%,-50%) rotate(45deg)

    &::after
      transform: translate(-50%,-50%) rotate(-45deg)

    &:hover
      &::before,&::after
        background-color: $accent2


  @media screen and (max-width: 767px)
    .form
      padding: 55px 61px 58px
      &_title
        margin-bottom: 17px
        font-size: 27px

  // max-width 767px

  @media screen and (max-width: 500px)
    .form
      padding: 55px 41px 58px

  // max-width 500px

  @media screen and (max-width: 400px)
    .form
      padding: 55px 21px 58px

  // max-width 400px

 /* modal */
