.lead
  position: relative
  padding-top: 74px
  padding-bottom: 104px
  z-index: 2
  &__df
    display: flex
  &__title
    font-size: 36px
    line-height: 1.2
    strong
      font-size: 45px
  &__info
    width: calc(100% - 392px)
    padding-right: 20px
  &__form
    flex-shrink: 0
    width: 392px
  &__img
    width: 777px
    height: 484px
    margin-left: 70px
    margin-right: -100px
    margin-top: -30px
    margin-bottom: -200px


  @media screen and (max-width: 1250px)
    padding-top: 54px
    padding-bottom: 54px
    &__img
      width: 647px
      height: 414px
      margin-left: -10px
      margin-right: 0px
      margin-top: 0px
      margin-bottom: -160px
    &__title
      font-size: 28px
      strong
        font-size: 37px

  // max-width 1250px

  @media screen and (max-width: 991px)
    &__title
      font-size: 24px
      strong
        font-size: 29px
      br
        display: none
    &__form
      width: 342px
    &__info
      width: calc(100% - 342px)

  // max-width 991px

  @media screen and (max-width: 767px)
    padding-top: 34px
    padding-bottom: 44px
    &__df
      position: relative
      flex-direction: column
    &__info
      width: 100%
    &__form
      margin-left: auto
      margin-right: auto
      margin-top: 35px
    &__img
      position: absolute
      top: 150px
      left: calc(43% - 300px)
      opacity: 0.5
      width: 677px
    &__title
      font-size: 20px

  // max-width 767px

  @media screen and (max-width: 450px)
    &__title
      font-size: 19px
      strong
        font-size: 27px

  // max-width 450px

/* lead */
