.blog
  position: relative
  padding-top: 34px
  padding-bottom: 79px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    padding-top: 35px
    & > li
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      &:nth-of-type(3n)
        margin-right: 0
  &__img
    position: relative
    display: block
    text-decoration: none
    outline: none
    height: 223px
    background-color: #f8f8f8
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background: rgba($accent, 0.6)
      opacity: 0
      transition: 0.5s
    &::after
      content: ''
      position: absolute
      top: calc(50% - 25px)
      left: calc(50% - 25px)
      transform: scale(0.5)
      opacity: 0
      transition: 0.5s
      display: block
      width: 50px
      height: 50px
      background: transparent url('../img/svg/link.svg') no-repeat center center

    &:hover
      &::before
        opacity: 1
      &::after
        transform: scale(1)
        opacity: 1
  &__content
    padding-top: 22px
    a
      display: block
      text-decoration: none
      outline: none
      &:hover
        h2
          color: $accent
    time
      display: block
      margin-bottom: 10px
      font-size: 14px
      color: #999999
    h2
      margin-top: 0
      margin-bottom: 15px
      min-height: 47px
      font-weight: 500
      font-size: 16px
      line-height: 1.5
      text-transform: uppercase
      transition: 0.3s
    p
      font-size: 14px

  &--page
    padding-bottom: 44px
    .blog__list
      flex-wrap: wrap
      padding-top: 6px
      & > li
        width: calc((100% - 30px) / 2)
        padding-bottom: 44px
        &:nth-of-type(3n)
          margin-right: 30px
        &:nth-of-type(2n)
          margin-right: 0
    .blog__item
      display: flex
      height: 100%
    .blog__img
      flex-shrink: 0
      width: 262px
      height: auto
      margin-right: 30px
    .blog__content
      padding-bottom: 32px
      a
        margin-bottom: 36px
      h2
        position: relative
        min-height: 0
        &::before
          content: ''
          position: absolute
          bottom: -18px
          left: 0
          display: block
          width: 29px
          height: 3px
          background-color: #1ab5ef
      p
        font-family: $font2
  .pager
    margin-top: 10px


  @media screen and (max-width: 1070px)
    &--page
      .blog__list
        & > li
          width: calc((100% - 10px) / 2)
          margin-right: 10px
          padding-bottom: 20px
          &:nth-of-type(3n)
            margin-right: 10px
          &:nth-of-type(2n)
            margin-right: 0
      .blog__img
        width: 200px
        margin-right: 20px
      .blog__content
        padding-bottom: 25px

  // max-width 1070px

  @media screen and (max-width: 991px)
    padding-bottom: 49px
    &__list
      & > li
        width: calc((100% - 20px) / 3)
        margin-right: 10px
    &__content
      h2
        margin-bottom: 10px
        min-height: 40px
        font-size: 14px
    &__img
      height: 203px

  // max-width 991px

  @media screen and (max-width: 900px)
    &--page
      .blog__item
        display: block
      .blog__img
        width: 100%
        height: 200px
        margin-right: 0

  // max-width 900px

  @media screen and (max-width: 767px)
    &__content
      time
        margin-bottom: 8px
        font-size: 13px
      h2
        min-height: 35px
        font-size: 13px
      p
        font-size: 13px
    &__img
      height: 150px

  // max-width 767px

  @media screen and (max-width: 600px)
    padding-bottom: 20px
    &__list
      flex-direction: column
      & > li
        width: 100%
        margin-right: 0
        padding-bottom: 20px
    &--page
      .blog__list
        flex-direction: row

  // max-width 600px

  @media screen and (max-width: 450px)
    &--page
      .blog__list
        flex-direction: column
        & > li
          width: 100%
          margin-right: 0
          &:nth-of-type(3n)
            margin-right: 0

  // max-width 450px

/* blog */
