.cta
  position: relative
  background-color: #eff0f1
  padding-top: 39px
  padding-bottom: 34px
  &__df
    display: flex
  &__title
    flex-grow: 1
    font-size: 24px
    padding-right: 20px
  &__form
    flex-shrink: 0
    width: 555px
    .form
      background: none
      box-shadow: none
      padding: 0
      .form__item--submit
        margin-top: 0
        margin-left: -20px
        .btn
          min-width: 276px
          &:hover
            transform: none
      .text-input
        margin-bottom: 0
        input
          height: 62px


  @media screen and (max-width: 1170px)
    &__title
      font-size: 22px
      br
        display: none

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__form
      width: 485px
      .form
        .form__item--submit
          .btn
            min-width: 226px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__df
      flex-direction: column
      text-align: center
    &__form
      margin-left: auto
      margin-right: auto
      margin-top: 30px
      max-width: 100%
      .form
        .form__item
          width: 100%
          margin-bottom: 25px
          &--submit
            margin-left: 0
            margin-bottom: 15px

  // max-width 991px

  @media screen and (max-width: 450px)
    &__title
      padding-right: 0
      font-size: 19px

  // max-width 450px

/* cta */
