.advantages
  position: relative
  margin-top: 115px
  &__item
    min-height: 184px
    height: 100%
    padding: 25px 15px 20px
    background-color: #ffffff
    box-shadow: 5px 9px 30px 0px rgba($shadow-c,0.2)
    border-radius: 6.0px
    transition: 0.5s
    border: 1px solid transparent
    &:hover
      transform: translateY(-10px)
      border-color: rgba($shadow-c,0.2)
  &__img
    padding-bottom: 15px
    text-align: center
    .icon
      width: 42px
      height: 42px
  &__text
    font-size: 14px
    line-height: 1.428571428571429 /* 20px / 14px */
    color: #7b7c7e
    text-align: center

  /* media */
  @media screen and (max-width: 992px)
    &__wrap
      padding-bottom: 20px
  // max-width 992px

  @media screen and (max-width: 768px)
    margin-top: 65px
  // max-width 768px

  @media screen and (max-width: 576px)
    margin-top: 45px
    &__item
      height: auto
      min-height: 0
      display: flex
      align-items: center
      padding: 10px 15px 10px
    &__img
      flex-shrink: 0
      margin-right: 20px
      padding-bottom: 0
    &__text
      text-align: left
      br
        display: none

  // max-width 576px

  @media screen and (max-width: 530px)
    margin-top: 25px
    &__item
      padding-left: 10px
      padding-right: 10px
    &__wrap
      padding-bottom: 10px
    &__img
      margin-right: 10px
      .icon
        width: 30px
        height: 30px
    &__text
      font-size: 13px
  // max-width 530px

/* advantages */
