.breadcrumbs
  position: relative
  padding: 22px 0
  ol
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      display: inline-block

      a
        text-decoration: none
        transition: 0.3s
        &[href]:hover
          color: $accent2

      a,span
        font-size: 13px
        line-height: 24px

      &:not(:last-of-type)
        &::after
          content: '>'
          margin: 0 4px
          font-size: 13px

  @media screen and (max-width: 400px)
    padding: 15px 0
  // max-width 400px

/* breadcrumbs */
