.footer
  position: relative

  &__top
    padding-top: 57px
    padding-bottom: 54px

  .logo
    display: block
    width: 261px
    height: 57px
    max-width: 100%
    margin-bottom: 36px
    text-decoration: none
    svg
      width: 100%
      height: 100%
      fill: #fff

  &__phones
    display: flex
    align-items: center
    margin-bottom: 32px
    .phones__link
      margin-right: 13px
      font-weight: 700
      color: $accent
      transition: 0.3s
      text-decoration: none
      &:hover
        color: $accent2

  &__item
    margin-bottom: 40px
    font-size: 14px
    line-height: 1.714285714285714 /* 24px / 14px */
    color: #666666
    strong
      font-weight: 500
      margin-right: 2px
  &__bottom
    height: 64px
    display: flex
    align-items: center
    .text
      font-size: 13px
      line-height: 1.230769230769231 /* 16px / 13px */
      color: $accent

  .menu-df
    display: flex

  &-menu
    padding: 0
    margin: 0
    list-style: none

    padding-top: 30px
    &:first-of-type
      width: 19.48051948051948%
      margin-right: 30px
      padding-left: 35px
    &:nth-of-type(2)
      width: 42.50295159386068%
      margin-right: 30px
    &:nth-of-type(3)
      width: 30.93270365997639%
    &__item
      margin-bottom: 42px
      &:last-of-type
        margin-bottom: 0
    h4,
    .footer-menu__item--single > .menu > li > a
      font-size: 14px
      line-height: 1.2
      font-weight: 500
      color: $accent
      text-decoration: none
      transition: 0.3s
    h4
      margin-bottom: 25px
    .footer-menu__item--single > .menu > li > a
      display: block
      &:hover
        color: $accent2
    .menu
      padding: 0
      margin: 0
      list-style: none
      & > li
        margin-bottom: 22px
        &:last-of-type
          margin-bottom: 0
        & > a
          font-size: 14px
          line-height: 1.2
          text-decoration: none
          transition: 0.3s
          &:hover
            color: $accent2
          span
            display: block

  .copyright
    display: flex
    align-items: center
    height: 100%

  .made
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    text-decoration: none
    transition: 0.3s
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: $accent
      transition: 0.3s

    &:hover
      .text
        color: $accent2
      .icon
        fill: $accent2

  .to-top
    position: absolute
    right: 30px
    top: 20px
    z-index: 100
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    border-radius: 50%
    background: #fff
    box-shadow: 0px 0px 10px 0px rgba(#999999,0.3)
    cursor: pointer
    transition: 0.5s
    opacity: 0.9
    .fa
      color: $accent
      transition: 0.5s
      font-size: 20px
      font-weight: 800

    &:hover
      opacity: 1
      box-shadow: 0 0 15px 0 rgba($accent,0.3)
      .fa
        color: $accent2

  /* media */
  @media screen and (max-width: 992px)
    &-menu
      &:first-of-type
        padding-left: 0
  // max-width 992px

  @media screen and (max-width: 768px)
    .menu-df
      flex-direction: column
    &-menu
      padding-top: 0
      &:first-of-type
        width: 100%
        margin-right: 0
        padding-top: 10px
      &:nth-of-type(2)
        width: 100%
        margin-right: 0
      &:nth-of-type(3)
        width: 100%
      h4,
      .footer-menu__item--single > .menu > li > a
        display: inline-block
        text-transform: uppercase
        max-width: 90%
      &__item
        margin-bottom: 20px
        &:last-of-type
          margin-bottom: 20px
        &:not(.footer-menu__item--single)
          .menu
            display: none
            padding-bottom: 20px
            padding-top: 10px
      h4
        position: relative
        margin-bottom: 0
        cursor: pointer
        transition: 0.3s
        &::after
          content: ''
          position: absolute
          top: 2px
          right: -18px

          display: block
          width: 8px
          height: 8px
          border-bottom: 2px solid $accent
          border-left: 2px solid $accent
          transform-origin: center
          transform: rotate(-45deg)
          transition: 0.3s
        &:hover
          color: $accent2
          &::after
            border-color: $accent2
        &.active
          &::after
            transform: rotate(135deg)

  // max-width 768px

  @media screen and (max-width: 576px)
    &__top
      text-align: center
    .logo
      margin-left: auto
      margin-right: auto
      margin-bottom: 20px
    &__phones
      justify-content: center
      margin-bottom: 15px
    &__item
      margin-bottom: 15px
    &-menu
      &:first-of-type
        padding-top: 30px
    &__bottom
      height: 70px
      .copyright .text
        text-align: center
        margin: 0 auto
        margin-bottom: 10px
    .to-top
      top: 10px
  // max-width 576px

  @media screen and (max-width: 400px)
    &-menu
      h4,
      .footer-menu__item--single > .menu > li > a
        max-width: 100%
        width: 100%
      h4
        padding-right: 15px
        padding-left: 15px
        &::after
          right: 0
      &__item,
      &__item:last-of-type
        margin-bottom: 10px
      .menu > li
        margin-bottom: 0
        & > a
          display: block
          padding: 5px

  // max-width 400px

/* footer */
