.form
  position: relative
  z-index: 30
  width: 100%
  padding: 32px 39px 20px 32px
  box-shadow: 5px 9px 30px 0px rgba($shadow-c,0.2)
  background-color: #ffffff
  border-radius: 6.0px

  input,textarea
    font-family: $form-font

  .text-input
    display: block
    width: 100%

    input,textarea
      background: none
      border: none
      outline: none
      transition: 0.3s
      resize: none

      width: 100%
      margin-bottom: 16px
      padding-left: 17px
      background-color: #ffffff
      border: 1.0px solid #d1e0eb
      border-radius: 6.0px

      font-size: 16px
      line-height: 1.5
      color: #666666

      @include placeholder(#666666, 14px)

      &:hover,
      &:focus
        border-color: rgba($accent2, 0.6)
      &:focus
        @include placeholder(#fff, 14px)

    input
      height: 50px

    textarea
      // height: 136px

  .submit__wrap
    margin-top: 10px
    margin-bottom: 25px

  .accept
    label
      display: block
      width: 100%
      padding-left: 10px
      cursor: pointer
      transition: 0.3s

      font-size: 13px
      line-height: 1.3
      font-weight: 300
      color: $accent

      & > span
        position: relative
        display: inline-block
      &:hover
        color: $accent2
        .accept__icon
          &::before
            background-color: $accent2

    &__icon
      position: absolute
      top: 50%
      left: -21px
      transform: translateY(-50%)

      display: block
      width: 16px
      height: 16px
      background-color: #ffffff
      border: 1.0px solid #999999
      border-radius: 50%
      transition: 0.3s

      &::before
        content: ''
        position: absolute
        top: calc(50% - 3px)
        left: calc(50% - 3px)

        display: block
        width: 6px
        height: 6px
        background-color: $accent
        border-radius: 50%
        transition: 0.3s
        transform: scale(0)

    input
      display: none

    input:checked + span
      i
        &::before
          transform: scale(1)

  /* media */

  @media screen and (max-width: 576px)
    width: 360px
    max-width: 100%
    margin-left: auto
    margin-right: auto
  //   max-width 576px

  @media screen and (max-width: 400px)
    padding: 22px 17px 20px 17px
    .accept
      label
        font-size: 12px
      &__icon
        width: 14px
        height: 14px
    .text-input
      input
        height: 47px
  //   max-width 400px

 /* form */
