.paginator 
  position: relative 
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  .page-numbers
    position: relative
    display: block
    transition: 0.3s

      
  /* media */
  // @media screen and (max-width: 400px) 
    
  // max-width 400px 

 /* paginator */
