mixin breadcrumbs()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') О компании
        meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--contacts()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Контакты
        meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--portfolio()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Портфолио
        meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--blog()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Блог
        meta(itemprop='position', content='2')

  // /.breadcrumbs

mixin breadcrumbs--post()
  #breadcrumbs.breadcrumbs
    ol(itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a(itemprop='item', href='#')
          span(itemprop='name') Главная
        meta(itemprop='position', content='1')
      li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span(itemprop='item')
          span(itemprop='name') Статья
        meta(itemprop='position', content='2')

  // /.breadcrumbs
