mixin footer(logotype)
  footer.footer(id="footer")
    .footer__top
      .container
        .footer__df
          .footer__info
            a.logo(href="#")
              img(src="img/svg/logo--footer.svg" alt="")

            span.logo__text Проектирование и монтаж
              br
              |  инженерных систем под ключ
              br
              |  в Крыму

            +socials

          .footer__second-menu
            .footer__second-menu-col
              h3 каталог услуг

              ul.menu
                li.menu-item
                  a(href="#") Вентиляция и дымоудаление
                li.menu-item
                  a(href="#") Системы кондиционирования
                li.menu-item
                  a(href="#") Изготовление металлоконструкций
                li.menu-item
                  a(href="#") Системы электроснабжения
                li.menu-item
                  a(href="#") Отопление и теплоснабжение
                li.menu-item
                  a(href="#") Водоснабжение и канализация
                li.menu-item
                  a(href="#") Резиновые покрытия

          .footer__menu
            ul.menu
              li.menu-item
                a(href="#") О компании
              li.menu-item
                a(href="#") Реализованные проекты
              li.menu-item
                a(href="#") Новости и статьи

          .footer__contacts
            h3 контакты

            .footer__item
              h4 Телефон:
                a(href="tel:+79787088158" rel="nofollow") +7 978 708-81-58

            .footer__item
              h4 E-mail:
                a(href="mailto:ltd.inpromtek@yandex.ru" rel="nofollow") ltd.inpromtek@yandex.ru

            .footer__item
              h4 Адрес:
              p Симферополь, ул. Генерала Васильева, 23 а

            .footer__item
              h4 График работы:
              p Пн - пт с 08:30 до 19:00

        // /.footer__df
      // /.container
    // /.footer__top

    .container
      .footer__bottom
        .footer__politics
          a.text(href="#") Политика конфиденциальности

        .footer__copyright
          p.text г. Симферополь © Copyright  2021&nbsp;г.

        a.made(href="https://sheer82.ru/")
          span.text Сделано в
          svg.icon
            use(xlink:href='img/svg/sprite.svg#iconSheer')

      // /.footer__bottom
    // /.container
  // /.footer
