mixin scr1()
  section.scr1.blue-bg(id="scr1")
    .container
      .scr1__top
        .scr1__df
          .scr1__content
            h1.scr1__title Выполним проектирование и&nbsp;монтаж
              strong  инженерных систем
              |  под&nbsp;ключ в&nbsp;Крыму

            p.scr1__desc Вся внутренняя инженерия частных коттеджей, коммерческих зданий и промышленных объектов
              b  от&nbsp;одного подрядчика!

            .scr1__btns
              .btn__wrap.btn__wrap--grad
                a.xbtn.xbtn--grad.open-modal(href="#modal__cons") Заказать консультацию специалиста

          .scr1__right
            p.scr1__guarantee гарантия
              br
              |  до
              strong.red  5 лет

            .scr1__img
              img(src="img/scr1-img.png" alt="")

      .scr1__feat-wrap
        .scr1__feat-inner
          .scr1__feat#scr1__feat
            .swiper-wrapper
              .swiper-slide
                .scr1__feat-item
                  img(src="img/svg/icons/feat-1.svg" alt="")

                  .scr1__feat-content
                    h3 Предоставляем гарантии
                      br
                      |  по договору до 5 лет

                    p Если что-то вышло из строя по нашей вине - мы устраним проблему за свой счет

                    a(href="#") Смотреть шаблон договора

              .swiper-slide
                .scr1__feat-item
                  img(src="img/svg/icons/feat-2.svg" alt="")

                  .scr1__feat-content
                    h3 Действительно большой опыт
                      br
                      |  выполнения проектов

                    p Мы разработали технические решения, укомплектовали и смонтировали более 350 объектов

                    a(href="#") Смотреть наше портфолио

              .swiper-slide
                .scr1__feat-item
                  img(src="img/svg/icons/feat-3.svg" alt="")

                  .scr1__feat-content
                    h3 Детальная проработка
                      br
                      |  каждого проекта

                    p Детально прорабатываем каждый проект с возможностью контроля и внесения корректив в проектные решения

                    a(href="#") Смотреть наше портфолио

          .scr1__feat-btns
            .swiper-dots

  // /.scr1
