mixin scr_map()
  section.scr_map.map(id="scr_map")
    .container
      h2.page-title За
        strong  10 лет работы
        |  мы спроектировали
        br
        |  более
        strong  350-ти объектов
        |  по всему Крыму

      ul.tabs__nav.map__nav.js-map__nav
        li.current
          a(href="#map__tab-0") Вентиляция и кондиционирование
        li
          a(href="#map__tab-1") Водоснабжение и водоотведение
        li
          a(href="#map__tab-2") Отопление и теплоснабжение
        li
          a(href="#map__tab-3") Проектирование и электромонтаж
        li
          a(href="#map__tab-4") Слаботочные системы
        li
          a(href="#map__tab-5") Металлоконструкции

      ul.map__tabs
        li.map__tab#map__tab-0
          .map__map#map__map-0


  // /.scr_map
