mixin scr_card()
  section.scr_card.blue-bg(id="scr_card")
    .container
      +breadcrumbs--card

      h1.page-title Магазины торговой сети «Магнит»

      .scr_card__df
        .scr_card__left
          .scr_card__gallery-wrap
            .scr_card__gallery#scr_card__gallery
              .swiper-wrapper
                .swiper-slide
                  a.scr_card__gallery-item.fancybox(href="" data-fancybox-group="gallery")
                    img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.scr_card__gallery-item.fancybox(href="" data-fancybox-group="gallery")
                    img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.scr_card__gallery-item.fancybox(href="" data-fancybox-group="gallery")
                    img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                .swiper-slide
                  a.scr_card__gallery-item.fancybox(href="" data-fancybox-group="gallery")
                    img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

            .scr_card__gallery-btns
              button.swiper-button-prev
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")
              button.swiper-button-next
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#arrow")

          .scr_card__thumbs#scr_card__thumbs
            .swiper-wrapper
              .swiper-slide
                .scr_card__thumb
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                .scr_card__thumb
                  img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                .scr_card__thumb
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                .scr_card__thumb
                  img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)


        .scr_card__right
          h2.scr_card__title Магазины торговой сети «Магнит»

          .scr_card__content
            ul.scr_card__chrs
              li
                b Местоположение:
                p Симферополь, ул. Генерала Васильева, 23 а
              li
                b Площадь:
                p 120 квадратных метров
              li
                b Срок выполнения:
                p 35 рабочих дней, апрель 2020 г.
              li
                b Монтируемые системы:
                p Вентиляция, кондиционирование

            .scr_card__text
              p Заключены договора субподряда на комплекс  работ по вентиляции и кондиционированию воздуха. За годы плодотворного сотрудничества выполнены более 150 проектов на северо и в центральной части России. Площадь каждого из объектов составляет от 200 до 1500 м
                sup ²
                | . В каждом магазине устанавливается приточно-вытяжная система вентиляции производительностью от 3000 до 10000м3/ч с рекуперацией теплоты. Используется пластинчатый теплообменник. Несколько вспомогательных вытяжных систем.

              p В помещении компрессорной каждого магазина устанавливается аварийная приточновытяжная вентиляция без подогрева с нижним забором воздуха для удаления возможных               утечек фреона. Мы зарекомендовали себя надежным исполнителем, способным предоставить               высокое качество услуг, лучшим доказательством этого является то, что выполнено большое               количество работ на объектах у данных заказчиков на постоянной основе.

          .scr_card__btns
            .btn__wrap.btn__wrap--grad
              a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

  // /.scr_card
