mixin scr_brands()
  section.scr_brands.brands.blue-bg(id="scr_brands")
    .container
      h2.page-title Мы являемся
        strong  официальным дилером
        |  лучших производителей
        br
        |  вентиляционного оборудования в России

      .brands__wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide
              .brands__img
                img(src="img/brands/Lessar.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/logo-general-climate.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/Mitsubishi.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/Midea.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/Lessar.png" alt="" data-object-fit-contain)

        .brands__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_brands

mixin scr_brands--landing()
  section.scr_brands.brands(id="scr_brands")
    .container
      h2.page-title Мы являемся
        strong  официальным дилером
        |  лучших производителей
        br
        |  вентиляционного оборудования в России

      .brands__wrap
        .brands__slider#brands__slider
          .swiper-wrapper
            .swiper-slide
              .brands__img
                img(src="img/brands/Lessar.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/logo-general-climate.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/Mitsubishi.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/Midea.png" alt="" data-object-fit-contain)
            .swiper-slide
              .brands__img
                img(src="img/brands/Lessar.png" alt="" data-object-fit-contain)

        .brands__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_brands
