mixin scr_about()
  section.scr_about.about.blue-bg(id="scr_about")
    .container
      +breadcrumbs

      .about__wrap
        h1.page-title О компании

        .about__df.clearfix
          .about__img
            img(src="img-temp/about-img.jpg" alt="")
          .about__content
            .about__desc
              p ООО «Инпромтэк» — производственная компания, образованная в 2014 году единомышленниками в сфере проектирования инженерных сетей с 10-летним опытом

            .article
              p Компания «Инпромтэк» занимается проектно-изыскательной деятельностью в Крыму с 2018 года.
                br
                |  За это время мы собрали команду специалистов и единомышленников своего дела, успешно вывели на этап строительства множество проектов, зарекомендовали себя как профессионалы своего дела. На сегодняшний день наша компания — это динамично развивающаяся проектная организация. Профессиональное управление проектами и тесное взаимодействие с Заказчиком дает возможности наиболее полно учитывать индивидуальные потребности каждого Клиента. Грамотный подход к работе позволяет выбрать наиболее правильные проектные решения для каждого отдельного объекта. Высокий уровень ответственности позволяет в итоге создавать продукт, которым по праву гордится Заказчик, исполнители и конечные потребители.

      .about__processes
        h2.page-title Рабочие процессы нашей команды

        ul.about__processes-list
          li
            a.about__processes-img.fancybox(href="img-temp/about-img.jpg" data-fancybox-group="processes")
              img(src="img-temp/about-img.jpg" alt="" data-object-fit-cover)
          li
            a.about__processes-img.fancybox(href="img-temp/about-img.jpg" data-fancybox-group="processes")
              img(src="img-temp/about-img.jpg" alt="" data-object-fit-cover)
          li
            a.about__processes-img.fancybox(href="img-temp/about-img.jpg" data-fancybox-group="processes")
              img(src="img-temp/about-img.jpg" alt="" data-object-fit-cover)
          li
            a.about__processes-img.fancybox(href="img-temp/about-img.jpg" data-fancybox-group="processes")
              img(src="img-temp/about-img.jpg" alt="" data-object-fit-cover)
          li
            a.about__processes-img.fancybox(href="img-temp/about-img.jpg" data-fancybox-group="processes")
              img(src="img-temp/about-img.jpg" alt="" data-object-fit-cover)
          li
            a.about__processes-img.fancybox(href="img-temp/about-img.jpg" data-fancybox-group="processes")
              img(src="img-temp/about-img.jpg" alt="" data-object-fit-cover)


        .about__processes-btns
          .btn__wrap.btn__wrap--grad
            a.xbtn.xbtn--grad(href="#") Больше фотографий

  // /.scr_about
