mixin scr_about()
  section.scr_about.about.blue-bg(id="scr_about")
    .container
      +breadcrumbs

      .about__wrap
        h1.page-title О нашей компании

        .about__df.clearfix
          .about__img
            img(src="img-temp/about-img.jpg" alt="")
          .about__content
            .article
              p Компания
                b  «Инпромтэк»
                |  занимается проектно-изыскательной деятельностью в Крыму
                b  с 2018 года.
                |  За это время мы собрали команду специалистов и единомышленников своего дела, успешно вывели на этап строительства множество проектов, зарекомендовали себя как профессионалы своего дела.
              p На сегодняшний день наша компания — это динамично развивающаяся проектная организация.
              p Профессиональное управление проектами и тесное взаимодействие с Заказчиком дает возможности наиболее полно учитывать индивидуальные потребности каждого Клиента. Грамотный подход к работе позволяет выбрать наиболее правильные проектные решения для каждого отдельного объекта.
              p Высокий уровень ответственности позволяет в итоге создавать продукт, которым по праву гордится Заказчик, исполнители и конечные потребители.

  // /.scr_about
