mixin scr_post()
  section.scr_post.post.blue-bg(id="scr_post")
    .container
      +breadcrumbs--post

      .post__wrap
        h1.page-title Теплоснабжение строительных  объектов

      .post__df
        .post__cont
          .post__img
            img(src="img-temp/post-img.jpg" alt="" data-object-fit-cover)

          .article
            h2 Мы получили сертификаты соответствия стандартам ЕС

            p Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требует от нас анализа всесторонне сбалансированных нововведений. Практический опыт показывает, что выбранный нами инновационный путь представляет собой интересный эксперимент проверки экономической целесообразности принимаемых решений! С другой стороны рамки и место обучения кадров создаёт предпосылки качественно новых шагов для форм воздействия! Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требует от нас анализа всесторонне сбалансированных нововведений. Практический опыт показывает, что выбранный нами инновационный путь представляет собой интересный эксперимент проверки экономической целесообразности!

            h3 В чем состоит дальнейшее развитие?

            p Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требует от нас анализа всесторонне сбалансированных нововведений. Практический опыт показывает, что выбранный нами инновационный путь представляет собой интересный эксперимент проверки экономической целесообразности принимаемых решений!

            p Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм воздействия. Не следует, однако, забывать о том, что рамки и место обучения кадров позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям?

            h3 Что предоставляют наши сервисы?

            ul
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы

            h3 Прописываем и фиксируем гарантии на наши услуги

            p Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм воздействия. Не следует, однако, забывать о том, что рамки и место обучения кадров позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям?

            ol
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы
              li Равным образом дальнейшее развитие различных форм деятельности влечет за собой другие процессы

            p Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм воздействия. Не следует, однако, забывать о том, что рамки и место обучения кадров позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям?

        +scr_blog--post


  // /.scr_post
