mixin scr_objects()
  section.scr_objects.objects(id="scr_objects")
    .container
      h2.page-title Реализуем объекты любой сложности и объема

      p.page-desc Правильно выполненная вентиляция обеспечивает комфортные условия для пребывания людей, а также безопасность на объектах.
        br
        |  Именно поэтому монтаж вентиляционной системы лучше всего доверить опытным профессионалам, которые дорожат своей репутацией

      .objects__wrap
        .objects__slider#objects__slider
          .swiper-wrapper
            .swiper-slide
              .objects__item(style="background: transparent url('img-temp/objects/img-1.jpg') no-repeat center center; background-size: cover;")
                h3 Жилые дома, коттеджи
                  br
                  |  и квартиры

                a.objects__link(href="#") Подробнее
            .swiper-slide
              .objects__item(style="background: transparent url('img-temp/objects/img-2.jpg') no-repeat center center; background-size: cover;")
                h3 Офисные и бизнес
                  br
                  |  центры

                a.objects__link(href="#") Подробнее
            .swiper-slide
              .objects__item(style="background: transparent url('img-temp/objects/img-3.jpg') no-repeat center center; background-size: cover;")
                h3 Кафе, рестораны
                  br
                  |  и кальянные

                a.objects__link(href="#") Подробнее
            .swiper-slide
              .objects__item(style="background: transparent url('img-temp/objects/img-4.jpg') no-repeat center center; background-size: cover;")
                h3 Торговые центры
                  br
                  |  и магазины

                a.objects__link(href="#") Подробнее

        .objects__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")


  // /.scr_objects
