mixin scr_profit()
  section.scr_profit.profit(id="scr_profit")
    .container
      .profit__df
        .profit__left
          h2.page-title Почему с нами выгодно работать?
          p.page-desc У нас свое сборочное производство оборудования, за счет этого вы получите наилучшие условия сотрудничества:

          .profit__wrap
            .profit__slider#profit__slider
              .swiper-wrapper
                .swiper-slide
                  .profit__item
                    .profit__icon
                      img(src="img/svg/icons/feat2-1.svg" alt="" data-object-fit-contain)

                    .profit__content
                      h3 Цена оборудования на&nbsp;10%&nbsp;ниже рынка

                      .profit__text
                        p Так как мы работаем без посредников, цена оборудования будет на 10% ниже рынка. Эти цифры получены на основе наших наблюдений за конкурентами и участия в тендерах

                .swiper-slide
                  .profit__item
                    .profit__icon
                      img(src="img/svg/icons/feat2-2.svg" alt="" data-object-fit-contain)

                    .profit__content
                      h3 Предоставляем гарантии по&nbsp;договору до 5 лет

                      .profit__text
                        p Так как мы работаем без посредников, цена оборудования будет на 10% ниже рынка. Эти цифры получены на основе наших наблюдений за конкурентами и участия в тендерах

                .swiper-slide
                  .profit__item
                    .profit__icon
                      img(src="img/svg/icons/feat2-3.svg" alt="" data-object-fit-contain)

                    .profit__content
                      h3 Проектируем строго в&nbsp;соответствии с ГОСТ и СНиП

                      .profit__text
                        p Так как мы работаем без посредников, цена оборудования будет на 10% ниже рынка. Эти цифры получены на основе наших наблюдений за конкурентами и участия в тендерах

                .swiper-slide
                  .profit__item
                    .profit__icon
                      img(src="img/svg/icons/feat2-4.svg" alt="" data-object-fit-contain)

                    .profit__content
                      h3 Более 350 выполненных проектов по всему Крыму

                      .profit__text
                        p Так как мы работаем без посредников, цена оборудования будет на 10% ниже рынка. Эти цифры получены на основе наших наблюдений за конкурентами и участия в тендерах

                .swiper-slide
                  .profit__item
                    .profit__icon
                      img(src="img/svg/icons/feat2-5.svg" alt="" data-object-fit-contain)

                    .profit__content
                      h3 Детальная проработка каждого проекта

                      .profit__text
                        p Так как мы работаем без посредников, цена оборудования будет на 10% ниже рынка. Эти цифры получены на основе наших наблюдений за конкурентами и участия в тендерах

                .swiper-slide
                  .profit__item
                    .profit__icon
                      img(src="img/svg/icons/feat2-6.svg" alt="" data-object-fit-contain)

                    .profit__content
                      h3 Паспортизация систем на&nbsp;заключительном этапе

                      .profit__text
                        p Так как мы работаем без посредников, цена оборудования будет на 10% ниже рынка. Эти цифры получены на основе наших наблюдений за конкурентами и участия в тендерах

            .profit__slider-btns
              .swiper-dots

        .profit__right
          .profit__director
            .profit__director-img
              img(src="img/director-img.jpg" alt="" data-object-fit-cover)

            .profit__director-text
              h3 Олег Емельянов
              p Генеральный директор

          ul.profit__director-info
            li Руководит технической политикой предприятия с 2015 г.
            li Более 350 сданных объектов вентиляции
              br
              |  и кондиционирования

          blockquote
            p За годы работы мы накопили огромный опыт, который позволяет нам решать очень широкий спектр технических задач.

            p Наши инженеры подберут вентиляционное               оборудование как для простых так и для               сложных условий эксплуатации.

          .profit__bottom
            p.profit__bottom-title Получите консультацию
              br
              |  главного инженера

            a.profit__phone(href="tel:+79780950343" rel="nofollow") +7 (978) 095-03-43

            a.profit__mail(href="mailto:support@inpromtek.ru" rel="nofollow") support@inpromtek.ru

            .profit__bottom-btns
              .btn__wrap.btn__wrap--grad
                a.xbtn.xbtn--grad.open-modal(href="#") Заказать консультацию




  // /.scr_profit
