mixin scr_certs()
  section.scr_certs.certs(id="scr_certs")
    .container
      h2.page-title Наши лицензии и сертификаты
      .certs__wrap
        .certs__slider#certs__slider
          .swiper-wrapper
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg")
                img(src="img-temp/certs-img.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg")
                img(src="img-temp/certs-img.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg")
                img(src="img-temp/certs-img.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg")
                img(src="img-temp/certs-img.jpg" alt="")
            .swiper-slide
              a.certs__item.fancybox(href="img-temp/certs-img.jpg")
                img(src="img-temp/certs-img.jpg" alt="")

        .certs__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_certs
