mixin scr_ideal()
  section.scr_ideal.ideal(id="scr_ideal")
    .container
      h2.page-title Идеальный микроклимат в вашем помещении за счёт систем
        br
        |  бесшумной вентиляции и кондиционирования

      .page-desc
        p Уровень шума является важным фактором для помещений под кинотеатры, офисы, рестораны и т.д. Мы разработали методику
          br
          |  по проектированию и монтажу вентиляции таким образом, что бы она не вызывала дискомфорта у вас и ваших посетителей

      ul.ideal__list
        li
          .ideal__item
            .ideal__img
              img(src="img-temp/ideal/img-1.jpg" alt="" data-object-fit-cover)

            .ideal__content
              h3 Гибкие воздуховоды
              .ideal__text
                p Требуют точных расчетов, поскольку короткий воздуховод не избавит от шума, а излишне длинный — также может навредить, уменьшив в целом общую  производительность всего оборудования.
        li
          .ideal__item
            .ideal__img
              img(src="img-temp/ideal/img-2.jpg" alt="" data-object-fit-cover)

            .ideal__content
              h3 Решётки большого формата
              .ideal__text
                p Большие габариты решетки не только гарантированно избавляют от шумов на выходе, но и обеспечивают лучшую циркуляцию воздуха в пространстве вокруг каждого помещения.
        li
          .ideal__item
            .ideal__img
              img(src="img-temp/ideal/img-3.jpg" alt="" data-object-fit-cover)

            .ideal__content
              h3 Виброизоляционные подвесы
              .ideal__text
                p Оборудование, адаптеры, пленумы, воздуховоды — все элементы изолированы от передачи вибраций и улучшают акустические свойства вент. системы


  // /.scr_ideal
