mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h2.page-title Последние новости и статьи

      ul.tabs__nav.blog__nav.js-blog__nav
        li.current
          a(href="#blog__tab-0") Новости
        li
          a(href="#blog__tab-1") Акции
        li
          a(href="#blog__tab-2") Статьи

      ul.blog__tabs
        li.blog__tab#blog__tab-0
          ul.blog__list
            li
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-26") 26 апреля 2021

                  h3
                    a(href="#") Теплоснабжение строительных объектов

                  p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...
            li
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog/blog-2.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-26") 26 апреля 2021

                  h3
                    a(href="#") Теплоснабжение производственных предприятий

                  p Теплоснабжение промышленных предприятий значительно отличается от обогрева жилых домов или коммерческих...
            li
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-26") 26 апреля 2021

                  h3
                    a(href="#") Теплоснабжение строительных объектов

                  p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...
            li
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog/blog-2.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-26") 26 апреля 2021

                  h3
                    a(href="#") Теплоснабжение производственных предприятий

                  p Теплоснабжение промышленных предприятий значительно отличается от обогрева жилых домов или коммерческих...

        li.blog__tab#blog__tab-1
          ul.blog__list
            li
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-26") 26 апреля 2021

                  h3
                    a(href="#") Теплоснабжение строительных объектов

                  p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...
            li
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog/blog-2.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-26") 26 апреля 2021

                  h3
                    a(href="#") Теплоснабжение производственных предприятий

                  p Теплоснабжение промышленных предприятий значительно отличается от обогрева жилых домов или коммерческих...
            li
              .blog__item
                a.blog__img(href="#")
                  img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

                .blog__content
                  time(datetime="2021-04-26") 26 апреля 2021

                  h3
                    a(href="#") Теплоснабжение строительных объектов

                  p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...

  // /.scr_blog

mixin scr_blog--page()
  section.scr_blog.blog.blog--page.blue-bg(id="scr_blog")
    .container
      +breadcrumbs--blog

      .blog__wrap
        h1.page-title--inner Последние новости

        ul.blog__list
          li
            .blog__item
              a.blog__img(href="#")
                img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

              .blog__content
                time(datetime="2021-04-26") 26 апреля 2021

                h3
                  a(href="#") Теплоснабжение строительных объектов

                p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...

              a.blog__link(href="#") Подробнее
          li
            .blog__item
              a.blog__img(href="#")
                img(src="img-temp/blog/blog-2.jpg" alt="" data-object-fit-cover)

              .blog__content
                time(datetime="2021-04-26") 26 апреля 2021

                h3
                  a(href="#") Теплоснабжение производственных предприятий

                p Теплоснабжение промышленных предприятий значительно отличается от обогрева жилых домов или коммерческих...

              a.blog__link(href="#") Подробнее
          li
            .blog__item
              a.blog__img(href="#")
                img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

              .blog__content
                time(datetime="2021-04-26") 26 апреля 2021

                h3
                  a(href="#") Теплоснабжение строительных объектов

                p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...

              a.blog__link(href="#") Подробнее
          li
            .blog__item
              a.blog__img(href="#")
                img(src="img-temp/blog/blog-2.jpg" alt="" data-object-fit-cover)

              .blog__content
                time(datetime="2021-04-26") 26 апреля 2021

                h3
                  a(href="#") Теплоснабжение производственных предприятий

                p Теплоснабжение промышленных предприятий значительно отличается от обогрева жилых домов или коммерческих...

              a.blog__link(href="#") Подробнее
          li
            .blog__item
              a.blog__img(href="#")
                img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

              .blog__content
                time(datetime="2021-04-26") 26 апреля 2021

                h3
                  a(href="#") Теплоснабжение строительных объектов

                p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...

              a.blog__link(href="#") Подробнее
          li
            .blog__item
              a.blog__img(href="#")
                img(src="img-temp/blog/blog-2.jpg" alt="" data-object-fit-cover)

              .blog__content
                time(datetime="2021-04-26") 26 апреля 2021

                h3
                  a(href="#") Теплоснабжение производственных предприятий

                p Теплоснабжение промышленных предприятий значительно отличается от обогрева жилых домов или коммерческих...

              a.blog__link(href="#") Подробнее

      +paginator

  // /.scr_blog

mixin scr_blog--post()
  aside.scr_blog.blog.blog--post(id="scr_blog")
    ul.blog__list
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

          .blog__content
            time(datetime="2021-04-26") 26 апреля 2021

            h3
              a(href="#") Теплоснабжение строительных объектов

            p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...

          a.blog__link(href="#") Подробнее
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/blog-2.jpg" alt="" data-object-fit-cover)

          .blog__content
            time(datetime="2021-04-26") 26 апреля 2021

            h3
              a(href="#") Теплоснабжение производственных предприятий

            p Теплоснабжение промышленных предприятий значительно отличается от обогрева жилых домов или коммерческих...

          a.blog__link(href="#") Подробнее
      li
        .blog__item
          a.blog__img(href="#")
            img(src="img-temp/blog/blog-1.jpg" alt="" data-object-fit-cover)

          .blog__content
            time(datetime="2021-04-26") 26 апреля 2021

            h3
              a(href="#") Теплоснабжение строительных объектов

            p В наши услуги входит подводка теплоснабжения к строительным площадкам. В дальнейшем мы помогаем клиентам ...

          a.blog__link(href="#") Подробнее

  // /.scr_blog
