mixin scr_portfolio()
  section.scr_portfolio.portfolio.blue-bg(id="scr_portfolio")
    .container
      +breadcrumbs--portfolio

      .portfolio__wrap
        button.tabs__nav-switch Показать меню

        ul.tabs__nav.portfolio__nav.js-portfolio__nav
          li.current
            a(href="#portfolio__tab-0") Проектирование
          li
            a(href="#portfolio__tab-1") Монтаж
          li
            a(href="#portfolio__tab-2") Закупка товаров
          li
            a(href="#portfolio__tab-3") Производство воздуховодов
          li
            a(href="#portfolio__tab-4") Пусконаладочные работы

        ul.portfolio__tabs
          li.portfolio__tab#portfolio__tab-0
            h2.page-title Проектирование

            .portfolio__df
              .portfolio__thumbs-wrap
                .portfolio__thumbs
                  .swiper-wrapper
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

                .portfolio__thumbs-btns
                  button.swiper-button-prev(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")
                  button.swiper-button-next(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")

              .portfolio__gallery-wrap
                .portfolio__gallery
                  .swiper-wrapper
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-1.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-2.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-1.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-2.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

                .portfolio__gallery-btns
                  button.swiper-button-prev(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")
                  button.swiper-button-next(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")

              .portfolio__slider-wrap
                .portfolio__slider
                  .swiper-wrapper
                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Адрес объекта:
                            p Симферополь, ул. Генерала Васильева, 39 аВ
                          .portfolio__text
                            p
                              b Время выполнения:
                              |  5 дней

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Адрес объекта:
                            p Симферополь, ул. Генерала Васильева, 39 аВ
                          .portfolio__text
                            p
                              b Время выполнения:
                              |  5 дней

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

          li.portfolio__tab#portfolio__tab-1
            h2.page-title Монтаж

            .portfolio__df
              .portfolio__thumbs-wrap
                .portfolio__thumbs
                  .swiper-wrapper
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      .portfolio__thumb
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

                .portfolio__thumbs-btns
                  button.swiper-button-prev(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")
                  button.swiper-button-next(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")

              .portfolio__gallery-wrap
                .portfolio__gallery
                  .swiper-wrapper
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-1.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-2.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-1.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)
                    .swiper-slide
                      a.portfolio__gallery-item.fancybox(href="img-temp/portfolio/img-2.jpg" data-fancybox-group="gallery")
                        img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

                .portfolio__gallery-btns
                  button.swiper-button-prev(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")
                  button.swiper-button-next(type="button")
                    svg.icon
                      use(xlink:href="img/svg/sprite.svg#arrow")

              .portfolio__slider-wrap
                .portfolio__slider
                  .swiper-wrapper
                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Адрес объекта:
                            p Симферополь, ул. Генерала Васильева, 39 аВ
                          .portfolio__text
                            p
                              b Время выполнения:
                              |  5 дней

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Адрес объекта:
                            p Симферополь, ул. Генерала Васильева, 39 аВ
                          .portfolio__text
                            p
                              b Время выполнения:
                              |  5 дней

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

                    .swiper-slide
                      .portfolio__cont
                        .portfolio__content
                          .portfolio__text
                            p
                              b Специализация:
                              |  гипермаркет
                          .portfolio__text
                            b Задача:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна
                          .portfolio__text
                            b Решение:
                            p В кирпично-монолитном жилом комплексе бизнес-класса на улице Чапаева, 18 наша компания установила современные деревянные окна

                        .portfolio__btns
                          .btn__wrap.btn__wrap--grad
                            a.xbtn.xbtn--grad.open-modal(href="#") Заказать проект

  // /.scr_portfolio
