mixin scr_stages()
  section.scr_stages.stages.blue-bg(id="scr_stages")
    .container
      +breadcrumbs--stages

      .stages__df
        ul.stages__tabs
          li.stages__tab#stages__tab-0
            h2.page-title Проектирование вентиляции

            .article
              p Компания ООО "Инпромтэк" работает с климатическим оборудованием уже более 11-ти лет. Мы успешно предоставляем услуги по проектированию и монтажу систем вентиляции любой сложности и гарантируем своим клиентам высокое качество производимых нами работ, а также доступные цены.

              p Проектирование вентиляции – это очень важный этап инженерно-технических работ, предназначенный для поиска и разработки наиболее подходящего и грамотного варианта решения вопроса вентиляции воздуха для конкретного типа здания.

              p Сегодня установка вентиляции является обязательной практически для любого помещения, а ее проект должен быть продуман до мельчайших деталей. Ведь именно она отвечает за обеспечение комфортного пребывания как в жилых, так и в промышленных помещениях. Именно поэтому проектирование системы вентиляции здания следует доверять только специалистам.

              p При заказе проектирования системы вентиляции в нашей компании, Вы получаете комплекс квалифицированных и качественных услуг, стоимость которых приятно удивит.

              h2 Нормы проектирования

              p Проектирование систем вентиляции осуществляется строго на основании действующих на территории РФ норм и правил. Проектирование объектов капитального строительства, включая особо опасные и технически сложные объекты, объекты использования атомной энергии осуществляется только на основании допуска и наличия Свидетельства саморегулируемой организации (СРО).

              h2 Цены на проекты вентиляции

              table
                thead
                  tr
                    td Тип объекта
                    td Площадь
                    td Стоимость
                tbody
                  tr
                    td(rowspan="3") Квартира
                    td до 100 м
                      sup ²
                    td 10 800
                  tr
                    td 100-200 м
                      sup ²
                    td 10 800
                  tr
                    td &gt; 200 м
                      sup ²
                    td 21 600
                  tr
                    td(rowspan="3") Коттедж
                    td до 350 м
                      sup ²
                    td 21 600
                  tr
                    td 350-800 м
                      sup ²
                    td 27 000
                  tr
                    td &gt; 800 м
                      sup ²
                    td 32 400

              p
                b Важно! В таблице указаны базовые цены на проектирование вентиляции. Уточняйте стоимость у менеджеров компании!

              h2 Этапы проектирования вентиляции

              p Проектирование систем вентиляции в обязательном порядке требует тщательного подхода и проведения точных расчетов всех элементов систем. Составляя комплект проектной документации, специалисты просчитывают и выбирают оптимальную схему организации воздухообмена для каждого помещения, а также наиболее подходящие для конкретной задачи тип оборудования и материалов. Проектирование систем вентиляции выполняется в несколько этапов:

              h3 Расчеты

              p Производятся все необходимые расчеты, а именно определение количества необходимых систем, проводятся тепловые расчеты, определяется количество приточного и вытяжного воздуха, производительность противодымной вентиляции, определяются укрупненные показатели систем и т.п.

              h3 Графическая часть

              p Составление схем, планов и чертежей. Определив количество и параметры проектируемых вентиляционных систем, проектировщики готовят чертежи и схемы с указанием трассировки воздуховодов, расположения элементов систем, определяют требуемые сечения воздуховодов, размеры воздухораспределителей и прочих элементов, места размещения оборудования и т.п. Чертится план-схема. Производятся аэродинамические расчеты сети воздуховодов. На данном этапе работ проектировщики производят увязку проектируемых систем вентиляции с прочими инженерными сетями здания. Так же обязательно учитываются архитектурные особенности объекта проектирования.

              h3 Выбор оборудования

              p В соответствии с результатами проведенных ранее расчетов и планами разводки систем вентиляции производится подбор основного оборудования. При подборе оборудования учитываются требуемые для конкретного объекта проектирования параметры: массо-габаритные; энергоэффективность; шумность; надежность; ремонтопригодность и наличие ЗИП.

              h3 Окончательная верстка проекта

              p На данном этапе составляется спецификация оборудования и материалов, оформляется пояснительная записка, общие данные с заполнением таблиц результатов проведенных расчетов и выбранного оборудования.

              h3 Согласование

              p Оформленный и сшитый проект далее предоставляется на согласование в соответствующие надзорные органы и контролирующие службы для подтверждения соответствия принятых проектных решений действующим техническим нормам. По результатам положительного заключения с заказчиком обсуждается проект договора на проведение СМР, сроки и условия поставки оборудования, проведения монтажных и пуско-наладочных работ.

          li.stages__tab#stages__tab-1
            h2.page-title Закупка товаров

            .article
              p Компания ООО "Инпромтэк" работает с климатическим оборудованием уже более 11-ти лет. Мы успешно предоставляем услуги по проектированию и монтажу систем вентиляции любой сложности и гарантируем своим клиентам высокое качество производимых нами работ, а также доступные цены.

              p Проектирование вентиляции – это очень важный этап инженерно-технических работ, предназначенный для поиска и разработки наиболее подходящего и грамотного варианта решения вопроса вентиляции воздуха для конкретного типа здания.

              p Сегодня установка вентиляции является обязательной практически для любого помещения, а ее проект должен быть продуман до мельчайших деталей. Ведь именно она отвечает за обеспечение комфортного пребывания как в жилых, так и в промышленных помещениях. Именно поэтому проектирование системы вентиляции здания следует доверять только специалистам.

        ul.stages__nav.js-stages__nav
          li.current
            a(href="#stages__tab-0") Проектирование вентиляции
          li
            a(href="#stages__tab-1") Закупка товаров
          li
            a(href="#stages__tab-2") Производство воздуховодов
          li
            a(href="#stages__tab-3") Монтаж вентиляции
          li
            a(href="#stages__tab-4") Пусконаладочные работы

  // /.scr_stages
