mixin scr_map()
  section.scr_map.map(id="scr_map")
    .container
      h2.page-title За
        strong  10 лет работы
        |  мы спроектировали
        br
        |  более
        strong  350-ти объектов
        |  по всему Крыму

      button.tabs__nav-switch Показать меню

      ul.tabs__nav.map__nav.js-map__nav
        li.current
          a(href="#map__tab-0") Вентиляция и кондиционирование
        li
          a(href="#map__tab-1") Водоснабжение и водоотведение
        li
          a(href="#map__tab-2") Отопление и теплоснабжение
        li
          a(href="#map__tab-3") Проектирование и электромонтаж
        li
          a(href="#map__tab-4") Слаботочные системы
        li
          a(href="#map__tab-5") Металлоконструкции

      ul.map__tabs
        li.map__tab#map__tab-0
          .map__map#map__map-0
        li.map__tab#map__tab-1
          .map__map#map__map-1
        li.map__tab#map__tab-2
          .map__map#map__map-2
        li.map__tab#map__tab-3
          .map__map#map__map-3
        li.map__tab#map__tab-4
          .map__map#map__map-4
        li.map__tab#map__tab-5
          .map__map#map__map-5

  // /.scr_map

mixin scr_map--landing()
  section.scr_map.map.blue-bg(id="scr_map")
    .container
      h2.page-title За
        strong  10 лет работы
        |  мы спроектировали
        br
        |  более
        strong  350-ти объектов
        |  по всему Крыму

      button.tabs__nav-switch Показать меню

      ul.tabs__nav.map__nav.js-map__nav
        li.current
          a(href="#map__tab-0") Вентиляция и кондиционирование
        li
          a(href="#map__tab-1") Водоснабжение и водоотведение
        li
          a(href="#map__tab-2") Отопление и теплоснабжение
        li
          a(href="#map__tab-3") Проектирование и электромонтаж
        li
          a(href="#map__tab-4") Слаботочные системы
        li
          a(href="#map__tab-5") Металлоконструкции

      ul.map__tabs
        li.map__tab#map__tab-0
          .map__map#map__map-0
        li.map__tab#map__tab-1
          .map__map#map__map-1
        li.map__tab#map__tab-2
          .map__map#map__map-2
        li.map__tab#map__tab-3
          .map__map#map__map-3
        li.map__tab#map__tab-4
          .map__map#map__map-4
        li.map__tab#map__tab-5
          .map__map#map__map-5

  // /.scr_map

mixin scr_map--portfolio()
  section.scr_map.map.map--portfolio.blue-bg(id="scr_map")
    .container
      +breadcrumbs--portfolio

      h1.page-title Реализованные проекты

      button.tabs__nav-switch Показать меню

      ul.tabs__nav.map__nav.js-map__nav.js-map__nav--portfolio
        li.current
          a(href="#map__tab-0") Вентиляция и кондиционирование
        li
          a(href="#map__tab-1") Водоснабжение и водоотведение
        li
          a(href="#map__tab-2") Отопление и теплоснабжение
        li
          a(href="#map__tab-3") Проектирование и электромонтаж
        li
          a(href="#map__tab-4") Слаботочные системы
        li
          a(href="#map__tab-5") Металлоконструкции

      ul.map__tabs
        li.map__tab#map__tab-0
          .map__map#map__map-0
        li.map__tab#map__tab-1
          .map__map#map__map-1
        li.map__tab#map__tab-2
          .map__map#map__map-2
        li.map__tab#map__tab-3
          .map__map#map__map-3
        li.map__tab#map__tab-4
          .map__map#map__map-4
        li.map__tab#map__tab-5
          .map__map#map__map-5

      ul.map-portfolio__tabs
        li.map-portfolio__tab#portfolio__tab-0
          h3.page-title.map-portfolio__title

          ul.map-portfolio__list
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее

          +paginator

        li.map-portfolio__tab#portfolio__tab-1
          h3.page-title.map-portfolio__title

          ul.map-portfolio__list
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее
            li
              .map-portfolio__item
                a.map-portfolio__img(href="#")
                  img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

                .map-portfolio__content
                  h3
                    a(href="#") Монтаж канальных фанкойлов Daikin в&nbsp;городской квартире

                .map-portfolio__btns
                  a.blog__link(href="#") Подробнее

          +paginator

  // /.scr_map

mixin scr_map--vent()
  section.scr_map.map.map--portfolio.map--vent.blue-bg(id="scr_map1")
    .container
      h2.page-title.page-title--vent Мы предоставляем услуги комплексно и по отдельности для физических лиц и&nbsp;компаний различных масштабов

      ul.map-portfolio__list
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Проектирование вентиляции

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Закупка товаров

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Производство воздуховодов

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Монтаж вентиляции

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Пусконаладочные работы

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее


  // /.scr_map

mixin scr_map--vent2()
  section.scr_map.map.map--portfolio.map--vent.blue-bg(id="scr_map2")
    .container
      h2.page-title.page-title--vent Предлагаем решения для любого типа помещений

      .page-desc
        p Работы выполняют на основании проектной документации в соответствии с архитектурно-планировочными решениями зданий или сооружений,
          br
          |  а также в зависимости от ваших требований и выбора

      .map-portfolio__list#map-portfolio__list
        .swiper-wrapper
          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Приточно-вытяжная вентиляция

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее

          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Кухонная вентиляция

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее

          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Вытяжка с мангалов

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее
          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Приточно-вытяжная вентиляция

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее

          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Кухонная вентиляция

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее

          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Вытяжка с мангалов

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее
          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Приточно-вытяжная вентиляция

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее

          .swiper-slide
            .map-portfolio__item
              a.map-portfolio__img(href="#")
                img(src="img-temp/portfolio/img-2.jpg" alt="" data-object-fit-cover)

              .map-portfolio__content
                h3
                  a(href="#") Кухонная вентиляция

                .map-portfolio__text
                  p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                    sup ³
                    |  /ч. Поэтому в бизнес-центры, торговые комплексы...

              .map-portfolio__btns
                a.blog__link(href="#") Подробнее

      .map-portfolio__list-btns
        .swiper-dots

  // /.scr_map

mixin scr_map--stages()
  section.scr_map.map.map--portfolio.map--vent.map--stages(id="scr_map2")
    .container
      h2.page-title.page-title--vent Предлагаем решения для любого типа помещений

      ul.map-portfolio__list
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Приточно-вытяжная вентиляция

              .map-portfolio__text
                p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                  sup ³
                  |  /ч. Поэтому в бизнес-центры, торговые комплексы...

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Приточно-вытяжная вентиляция

              .map-portfolio__text
                p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                  sup ³
                  |  /ч. Поэтому в бизнес-центры, торговые комплексы...

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее
        li
          .map-portfolio__item
            a.map-portfolio__img(href="#")
              img(src="img-temp/portfolio/img-1.jpg" alt="" data-object-fit-cover)

            .map-portfolio__content
              h3
                a(href="#") Приточно-вытяжная вентиляция

              .map-portfolio__text
                p Когда здание крупное, в нем много помещений и людей, то окон не хватает для обеспечения необходимых 30-40 м
                  sup ³
                  |  /ч. Поэтому в бизнес-центры, торговые комплексы...

            .map-portfolio__btns
              a.blog__link(href="#") Подробнее


  // /.scr_map
