mixin scr_categories()
  section.scr_categories.categories.blue-bg(id="scr_categories")
    .container
      h2.page-title Предоставляем полный перечень услуг «под ключ»

      .categories__wrap
        .categories__slider#categories__slider
          .swiper-wrapper
            .swiper-slide
              .categories__item
                .categories__img
                  img(src="img/serv/img-1.jpg" alt="" data-object-fit-cover)

                .categories__content
                  h3
                    a(href="#") Вентиляция и&nbsp;кондиционирование

                  ul
                    li
                      a(href="#") Приточно-вытяжная вентиляция
                    li
                      a(href="#") Промышленная вентиляция
                    li
                      a(href="#") Центральное кондиционирование
                    li
                      a(href="#") Система увлажнения воздуха
                    li
                      a(href="#") Рекупирация
                    li
                      a(href="#") Центральное кондиционирование
                    li
                      a(href="#") Система увлажнения воздуха
                    li
                      a(href="#") Рекупирация

            .swiper-slide
              .categories__item
                .categories__img
                  img(src="img/serv/img-2.jpg" alt="" data-object-fit-cover)

                .categories__content
                  h3
                    a(href="#") Водоснабжение и&nbsp;водоотведение

                  ul
                    li
                      a(href="#") Холодное водоснабжение
                    li
                      a(href="#") Горячее водоснабжение
                    li
                      a(href="#") Системы очистки воды
                    li
                      a(href="#") Ливневая канализация
                    li
                      a(href="#") Пожарная сигнализация

            .swiper-slide
              .categories__item
                .categories__img
                  img(src="img/serv/img-3.jpg" alt="" data-object-fit-cover)

                .categories__content
                  h3
                    a(href="#") Системы
                      br
                      |  электроснабжения

                  ul
                    li
                      a(href="#") Наружные и внутренние электро сети
                    li
                      a(href="#") Аварийное электроснабжение
                    li
                      a(href="#") Заземление и молниезащита
                    li
                      a(href="#") Электрические подстанции
                    li
                      a(href="#") Трансформаторные подстанции

            .swiper-slide
              .categories__item
                .categories__img
                  img(src="img/serv/img-4.jpg" alt="" data-object-fit-cover)

                .categories__content
                  h3
                    a(href="#") Слаботочные
                      br
                      |  системы

                  ul
                    li
                      a(href="#") Пожарная сигнализация
                    li
                      a(href="#") Система оповещения при пожаре
                    li
                      a(href="#") Видеонаблюдение
                    li
                      a(href="#") Система контроля доступа
                    li
                      a(href="#") Мультимедийные системы

            .swiper-slide
              .categories__item
                .categories__img
                  img(src="img/serv/img-5.jpg" alt="" data-object-fit-cover)

                .categories__content
                  h3
                    a(href="#") Отопление и&nbsp;теплоснабжение

                  ul
                    li
                      a(href="#") Проектирование котельных
                    li
                      a(href="#") Наружные и внутренние сети
                    li
                      a(href="#") Отопление пром. объектов
                    li
                      a(href="#") Альтернативные источники отопления
                    li
                      a(href="#") Индивидуалный тепловой пункт

            .swiper-slide
              .categories__item
                .categories__img
                  img(src="img/serv/img-6.jpg" alt="" data-object-fit-cover)

                .categories__content
                  h3
                    a(href="#") Проектирование металлоконструкций

                  ul
                    li
                      a(href="#") Холодное водоснабжение
                    li
                      a(href="#") Горячее водоснабжение
                    li
                      a(href="#") Системы очистки воды
                    li
                      a(href="#") Ливневая канализация
                    li
                      a(href="#") Пожарный водопровод

        .categories__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_categories
