mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__df
        .footer__info
          .footer__text.footer__text--phone
            a(href="tel:+79780293010" rel="nofollow") +7 (978) 029-30-10
          .footer__text
            a(href="mailto:test@mail.ru" rel="nofollow") test@mail.ru

        .footer__address
          .footer__text
            p г. Симферополь, пр. Кирова, 29/1, оф., 412
              br
              |  Пн-Пт с 10:00 до 19:00

        +socials--footer

        .footer__politics
          .footer__text
            a(href="#") Политика конфиденциальности

        a.made(href="https://sheer82.ru/")
          span.footer__text Сделано в
          svg.icon
            use(xlink:href='img/svg/sprite.svg#iconSheer')

    // /.footer__df
  // /.footer

