mixin header-phones()
  section.header-phones(id="header-phones")
    .header-phones__wrap
      .header-phones__address
        p г. Симферополь, пр Кирова 29/1, оф 412
      .header-phones__phone
        a.btn.btn--circle.open-modal.desktop(href="#modal__callback")
          i.fa.fa-phone
        a.btn.btn--circle.mobile(href="tel:+79780293010" rel="nofollow")
          i.fa.fa-phone
        a.header-phones__link.desktop(href="tel:+79780293010" rel="nofollow") +7 (978) 029-30-10

  // /.header-phones
