mixin header(logotype)
  header.header(id="header")
    .header__wrap
      .logo__wrap
        if logotype == "a"
          #{logotype}.logo(href="index.html")
            img(src="img/svg/logo.svg" alt="лого")
        else
          #{logotype}.logo
            img(src="img/svg/logo.svg" alt="лого")

      button.burger#header__burger
        span.burger__wrap
          span.line

      +socials

      .header__phones
        .header__phone.desktop
          a(href="tel:+79780293010" rel="nofollow") +7 (978) 029-30-10
        .header__phone.mobile
          a.btn.btn--circle(href="tel:+79780293010" rel="nofollow")
            i.fa.fa-phone


    // /.header__wrap
