mixin page-menu()
  section.page-menu(id="page-menu")
    .page-menu__wrap
      .page-menu__bg
        span
        span
        span
          img(src="img/menu-bg.jpg", alt="", data-object-fit-cover)

      ul.page-menu__cols
        li
          ul.menu
            li.menu-item
              a(href="#")
                span 01.
                |  О компании

            li.menu-item
              a(href="#")
                span 02.
                |  Услуги

            li.menu-item
              a(href="#")
                span 03.
                |  Наши проекты

            li.menu-item
              a(href="#")
                span 04.
                |  Оснащение

            li.menu-item
              a(href="#")
                span 05.
                |  Блог

            li.menu-item
              a(href="#")
                span 06.
                |  Контакты

        li
          ul.menu.menu--catalog
            li.menu-item
              a(href="#") Антикоррозийная защита
            li.menu-item
              a(href="#") Огнезащита
            li.menu-item
              a(href="#") Пожаротушение
            li.menu-item
              a(href="#") Строительный контроль
            li.menu-item
              a(href="#") Проектирование
            li.menu-item
              a(href="#") Расчет риска и разработка специальных
                br
                |  технических условий



  // /.page-menu
