mixin scr1()
  section.scr1.section(id="scr1")
    .container
      .scr1__wrap
        .scr1__content
          h1.scr1__title.toAnimate(data-anim-name="fadeIn" data-anim-delay="0.5s")
            strong Обеспечим пожарную безопасность
              br
              |  любого объекта:
            |  офиса, дома, здания,
            br
            |  завода, торгового центра

          ul.scr1__feat
            li.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              a(href="#")
                .scr1__feat-icon
                  img(src="img/svg/icons/shield.svg", alt="")

                .scr1__feat-text
                  span Огнезащита

            li.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.6s")
              a(href="#")
                .scr1__feat-icon
                  img(src="img/svg/icons/safety.svg", alt="")

                .scr1__feat-text
                  span Строительный
                    br
                    |  контроль

            li.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              a(href="#")
                .scr1__feat-icon
                  img(src="img/svg/icons/bag.svg", alt="")

                .scr1__feat-text
                  span Расчет риска и разработка
                    br
                    |  спец тех условий

            li.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.8s")
              a(href="#")
                .scr1__feat-icon
                  img(src="img/svg/icons/reflective.svg", alt="")

                .scr1__feat-text
                  span Антикоррозионная
                    br
                    |  защита

            li.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="0.9s")
              a(href="#")
                .scr1__feat-icon
                  img(src="img/svg/icons/sprinkler.svg", alt="")

                .scr1__feat-text
                  span Пожаротушение

            li.toAnimate.faster(data-anim-name="fadeInUp" data-anim-delay="1s")
              a(href="#")
                .scr1__feat-icon
                  img(src="img/svg/icons/compass.svg", alt="")

                .scr1__feat-text
                  span Проектирование

          .scr1__btns
            .btn__wrap
              a.btn.btn--orange(href="#") Рассчитать стоимость пожарной
                br
                |  безопасности объекта

        .scr1__img
          noscript
            img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-contain)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-contain)

          ul.scr1__dots
            li
              span.scr1__dots-icon
              .scr1__dots-text
                p Защита конструкций от преждевременного износа из-за агрессивного воздействия окружающей среды. От 120 р/м2

            li
              span.scr1__dots-icon
              .scr1__dots-text
                p Защита конструкций от преждевременного износа

            li
              span.scr1__dots-icon
              .scr1__dots-text
                p Защита конструкций от преждевременного износа Защита конструкций от преждевременного износа


      .scr1__scroll
        span скролльте


  // /.scr1
