mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs

      .post__top
        .post__img
          noscript
            img.lazy(src="img-temp/post-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

        h1.post__title Безопасное противопожарное расстояние между постройками

      .post__wrap.clearfix
        ul.post__links
          li
            a.inner-link(href="#post__link-0") Возведение зданий в черте населённых пунктов

          li
            a.inner-link(href="#post__link-1") Безопасное расстояние между промышленными и складскими объектами

          li
            a.inner-link(href="#post__link-2") Огнестойкость строений

          li
            a.inner-link(href="#post__link-3") Дополнительные меры обеспечения пожарной безопасности

          li
            a.inner-link(href="#post__link-4") Определение расстояния между объектами

          li
            a.inner-link(href="#post__link-5") Санкции за нарушение требований ПБ


        .article
          h2#post__link-0 Возведение зданий в черте населённых пунктов
          p Действующие требования определяют измерять противопожарное расстояние между жилыми домами, как дистанцию между стенами или выступающими конструктивными элементами строений.
          br

          p Так расстояние между одноэтажными деревянными домами не должно превышать 15м, а между кирпичными менее 6м. Расстояние до проезжей части должно быть более чем 3м, а до красной линии улицы проходящей параллельно с другой стороны смежных построек, более чем 5м.
          br

          p Когда стена одного из строений глухая, допускается уменьшить расстояние на 20%, от номинального показателя.
          br

          p Напротив, регионах с повышенной опасностью землетрясений, дистанция должна быть увеличена на 20% от номинального показателя, данное требование также распространяется на объекты возведённые каркасно-щитовым методом.
          br

          h4 В случае, если проектом предусмотрены дополнительные меры ПБ, среди которых:
          ul
            li возведение противопожарной стены;

            li монтаж автоматической системы пожаротушения оборудованной звуковой

            li отсутствие проёмов в стенах со степенью огнестойкости ниже 3а - возможно уменьшение расстояния между объектами. Решение о согласовании данного отступления принимает орган пожарного надзора, на этапе согласовании проекта.

          h2#post__link-1 Безопасное расстояние между промышленными
            br
            |  и складскими объектами

          p В своде правил 4.13130 от  2013г противопожарные расстояния между цехами и складскими помещениями производственных предприятий, а также логистических компаний оговорены особо детально.
          br

          .post__list
            h4 Исключения составляют случаи:

            ul
              li Если в сладе хранится менее 1т каменного угля;
              li Если в складе отсутствуют оконные и иные проёмы (стены глухие) и в нём хранится менее 100м3 горючих жидкостей или 1000 т каменного угля.

          p
            b К основным требованиям, обеспечивающим противопожарную эксплуатацию зданий, относятся.
          br
          p Производственные и офисные многоэтажные здания должны быть оборудованы внешними лестничными маршами для эвакуации, с отдельным выходом на них с каждого этажа.
          br

          p Наличие в помещениях локальных средств тушения пожара и схем эвакуации.
          p Монтаж автоматической системы пожаротушения, оборудованной звуковым оповещением, при этом, допустимо уменьшить расстояние между постройками на 50% от номинального показателя.
          br

          p При специализированном хранении взрывоопасных и легковоспламеняющихся веществ, противопожарное расстояние увеличивается на 20%, от номинального показателя.
          br

          h2#post__link-3 Огнестойкость строений

          p Требования ПБ распространяются на материалы, а также на конструктивные решения принимаемые при проектировании и возведении объектов.
          br

          p Основным показателем, является огнестойкость – способность противостоять воспламенению, в течение определённого времени, выражается в часах.
          br

          p Признаками превышения огнестойкости являются:
          br

          ul
            li деформации и разрушения основных конструкций строения;
            li поверхностные деформации и трещины;
            li оплавление и обугливание материалов.

          p Детальные требования к огнестойкости определены в СНиП II-А.5-70 «Противопожарные нормы проектирования зданий и сооружений».
          p Документ дифференцирует материалы, применяемые при проведении строительных работ на:

          ul.post__circles
            li
              span.post__circles-text несгораемые
              span.post__circles-circle н

            li
              span.post__circles-text трудно сгораемые
              span.post__circles-circle т

            li
              span.post__circles-text сгораемые
              span.post__circles-circle с

          p Также в нормах регламентировано применение материала, исходя из степени огнестойкости, в различных строительных работах.



  // /.scr_post
