mixin scr_serv()
  section.scr_serv.serv(id="scr_serv")
    .container
      h1.page-title
        strong Услуги

      ul.serv__list
        li
          .serv__item
            span.serv__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .scr1__feat-icon
              img(src="img/svg/icons/shield.svg", alt="")

            .scr1__feat-text
              span Огнезащита

            .serv__text
              p Приведение огнестойкости
                br
                |  конструкций к нормативному
                br
                |  пределу

        li
          .serv__item
            span.serv__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .scr1__feat-icon
              img(src="img/svg/icons/safety.svg", alt="")

            .scr1__feat-text
              span Строительный контроль

            .serv__text
              p Контроль качества материалов и
                br
                |  проводимых работ по огнезащите
                br
                |  конструкций и устройству системы
                br
                |  пожарной безопасности

        li
          .serv__item
            span.serv__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .scr1__feat-icon
              img(src="img/svg/icons/bag.svg", alt="")

            .scr1__feat-text
              span Расчет риска и разработка
                br
                |  спец тех условий

            .serv__text
              p Расчет и разработка документов для зданий и сооружений, для которых отсутствуют нормативные требования пожарной безопасности или при отс-туплении от требований нормативных документов по пожарной
                br
                |  безопасности

        li
          .serv__item
            span.serv__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .scr1__feat-icon
              img(src="img/svg/icons/reflective.svg", alt="")

            .scr1__feat-text
              span Антикоррозионная защита

            .serv__text
              p Защита конструкций от преждевременного износа из-за агрессивного воздействия окружающей среды

        li
          .serv__item
            span.serv__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .scr1__feat-icon
              img(src="img/svg/icons/sprinkler.svg", alt="")

            .scr1__feat-text
              span Пожаротушение

            .serv__text
              p Проектирование и монтаж сплинкерных, дренчерных, модульных
                br
                |  и агрегатных систем
                br
                |  пожаротушения

        li
          .serv__item
            span.serv__wrap
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .scr1__feat-icon
              img(src="img/svg/icons/compass.svg", alt="")

            .scr1__feat-text
              span Проектирование

            .serv__text
              p Наши специалисты выезжают на каждый объект для выбора способа огнезащиты, расчет материала в соответствии с особенностями объекта и
                br
                |  действующими нормами


  // /.scr_serv
