mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      h1.page-title
        strong Блог

      ul.blog__list
        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Безопасное противопожарное расстояние между постройками

              .article
                p При проектировании застройки участка или возведении зданий среди построенных объектов необходимо учитывать условия пожарной безопасности

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Морозостойкая огнезащитная краска для металлоконструкций

              .article
                p Работы зимой, при минусовых температурах и постоянных осадках, значительно увеличивают стоимость и сроки выполнения противопожарных работ . Как этого избежать?

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Требования пожарной безопасности для складов нефти и нефтепродуктов

              .article
                p Согласно приказу МЧС России от 26.12.2013 № 837 введены новые нормы пожарной безопасности для складов нефти и нефтепродуктов

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Безопасное противопожарное расстояние между постройками

              .article
                p При проектировании застройки участка или возведении зданий среди построенных объектов необходимо учитывать условия пожарной безопасности

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Морозостойкая огнезащитная краска для металлоконструкций

              .article
                p Работы зимой, при минусовых температурах и постоянных осадках, значительно увеличивают стоимость и сроки выполнения противопожарных работ . Как этого избежать?

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Требования пожарной безопасности для складов нефти и нефтепродуктов

              .article
                p Согласно приказу МЧС России от 26.12.2013 № 837 введены новые нормы пожарной безопасности для складов нефти и нефтепродуктов

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Требования пожарной безопасности для складов нефти и нефтепродуктов

              .article
                p Согласно приказу МЧС России от 26.12.2013 № 837 введены новые нормы пожарной безопасности для складов нефти и нефтепродуктов

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Безопасное противопожарное расстояние между постройками

              .article
                p При проектировании застройки участка или возведении зданий среди построенных объектов необходимо учитывать условия пожарной безопасности

        li
          .blog__item
            a.blog__top(href="#")
              .blog__img
                noscript
                  img.lazy(src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .blog__hover
                .blog__inner
                  .blog__word
                    span читать
                  .blog__line
                  .blog__word
                    span статью

            .blog__content
              time.blog__time(datetime="2020-08-18") 18 августа 2020

              a(href="#")
                h2 Морозостойкая огнезащитная краска для металлоконструкций

              .article
                p Работы зимой, при минусовых температурах и постоянных осадках, значительно увеличивают стоимость и сроки выполнения противопожарных работ . Как этого избежать?


      +paginator

  // /.scr_blog
