mixin scr_proj()
  section.scr_proj.proj.section(id="scr_proj")
    .container
      .proj__wrap
        h2.page-title.toAnimate(data-anim-name="fadeIn" data-anim-delay="0.5s")
          strong За 10 лет работы мы реализовали более 120 крупных проектов
          br
          |  в Крыму и на материковой части России

        .proj__df
          ul.proj__nav
            li.current.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.5s")
              a(href="#proj__tab-0") Офисные и торговые центры
            li.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.6s")
              a(href="#proj__tab-1") Заводы, ТЭЦ, ТЭС
            li.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.7s")
              a(href="#proj__tab-2") Производственные площадки и цехи
            li.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.8s")
              a(href="#proj__tab-3") Ведомственные объекты
            li.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="0.9s")
              a(href="#proj__tab-4") Стадионы и спортивные комплексы
            li.toAnimate.faster(data-anim-name="fadeInLeft" data-anim-delay="1s")
              a(href="#proj__tab-5") Коммунальные объекты


          ul.proj__tabs
            li.proj__tab#proj__tab-0
              .proj__slider-wrap
                .proj__slider#proj__slider-0
                  .swiper-wrapper
                    .swiper-slide.proj__slide
                      .proj__item
                        .proj__img
                          noscript
                            img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                        .proj__content
                          h3 Лахта-Центр

                          .proj__content-item
                            p
                              strong Адрес:
                              br
                              |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

                          .proj__content-item
                            p
                              strong Вид выполняемых работ:
                              br
                              |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

                          .proj__content-item
                            p
                              strong Заказчик:
                              br
                              |  ООО «Технологии безопасности».
                              br
                              |  Агеев Мансур Фаятович (руководитель проекта)

                          .proj__content-item
                            p
                              strong Объем работ:
                              |  25 340 м2


                    .swiper-slide.proj__slide
                      .proj__item
                        .proj__img
                          noscript
                            img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                        .proj__content
                          h3 Лахта-Центр

                          .proj__content-item
                            p
                              strong Адрес:
                              br
                              |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

                          .proj__content-item
                            p
                              strong Вид выполняемых работ:
                              br
                              |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

                .proj__slider-nav
                  .swiper-pagination
                  .proj__slider-btns
                    button.swiper-button-prev
                    .swiper-dots
                    button.swiper-button-next

            li.proj__tab#proj__tab-1
              .proj__slider-wrap
                .proj__slider#proj__slider-1
                  .swiper-wrapper
                    .swiper-slide.proj__slide
                      .proj__item
                        .proj__img
                          noscript
                            img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                        .proj__content
                          h3 Лахта-Центр

                          .proj__content-item
                            p
                              strong Адрес:
                              br
                              |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

                          .proj__content-item
                            p
                              strong Вид выполняемых работ:
                              br
                              |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки


                    .swiper-slide.proj__slide
                      .proj__item
                        .proj__img
                          noscript
                            img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                        .proj__content
                          h3 Лахта-Центр

                          .proj__content-item
                            p
                              strong Адрес:
                              br
                              |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

                .proj__slider-nav
                  .swiper-pagination
                  .proj__slider-btns
                    button.swiper-button-prev
                    button.swiper-button-next

  // /.scr_proj

mixin scr_proj--page()
  section.scr_proj.proj.proj--page(id="scr_proj")
    .container
      h1.page-title
        strong Наши проекты


      ul.proj__nav
        li.current
          a(href="#") Офисные и торговые центры
        li
          a(href="#") Заводы, ТЭЦ, ТЭС
        li
          a(href="#") Производственные площадки и цехи
        li
          a(href="#") Ведомственные объекты
        li
          a(href="#") Стадионы и спортивные комплексы
        li
          a(href="#") Коммунальные объекты


      ul.proj__list
        li
          .proj__df
            .proj__slider-wrap
              .proj__slider#proj__slider-0
                .swiper-wrapper
                  .swiper-slide.proj__slide
                    .proj__img
                      noscript
                        img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .swiper-slide.proj__slide
                    .proj__img
                      noscript
                        img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .proj__slider-nav
                .proj__slider-btns
                  button.swiper-button-prev
                  .swiper-dots
                  button.swiper-button-next

            .proj__content
              h3 Лахта-Центр

              .proj__content-item
                p
                  strong Адрес:
                  br
                  |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

              .proj__content-item
                p
                  strong Вид выполняемых работ:
                  br
                  |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

              .proj__content-item
                p
                  strong Заказчик:
                  br
                  |  ООО «Технологии безопасности».
                  br
                  |  Агеев Мансур Фаятович (руководитель проекта)

              .proj__content-item
                p
                  strong Объем работ:
                  |  25 340 м2


        li
          .proj__df
            .proj__slider-wrap
              .proj__slider#proj__slider-1
                .swiper-wrapper
                  .swiper-slide.proj__slide
                    .proj__img
                      noscript
                        img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .swiper-slide.proj__slide
                    .proj__img
                      noscript
                        img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .proj__slider-nav
                .proj__slider-btns
                  button.swiper-button-prev
                  .swiper-dots
                  button.swiper-button-next

            .proj__content
              h3 Лахта-Центр

              .proj__content-item
                p
                  strong Адрес:
                  br
                  |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

              .proj__content-item
                p
                  strong Вид выполняемых работ:
                  br
                  |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

              .proj__content-item
                p
                  strong Заказчик:
                  br
                  |  ООО «Технологии безопасности».
                  br
                  |  Агеев Мансур Фаятович (руководитель проекта)

              .proj__content-item
                p
                  strong Объем работ:
                  |  25 340 м2


        li
          .proj__df
            .proj__slider-wrap
              .proj__slider#proj__slider-2
                .swiper-wrapper
                  .swiper-slide.proj__slide
                    .proj__img
                      noscript
                        img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  .swiper-slide.proj__slide
                    .proj__img
                      noscript
                        img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .proj__slider-nav
                .proj__slider-btns
                  button.swiper-button-prev
                  .swiper-dots
                  button.swiper-button-next

            .proj__content
              h3 Лахта-Центр

              .proj__content-item
                p
                  strong Адрес:
                  br
                  |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

              .proj__content-item
                p
                  strong Вид выполняемых работ:
                  br
                  |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

              .proj__content-item
                p
                  strong Заказчик:
                  br
                  |  ООО «Технологии безопасности».
                  br
                  |  Агеев Мансур Фаятович (руководитель проекта)

              .proj__content-item
                p
                  strong Объем работ:
                  |  25 340 м2



  // /.scr_proj
