mixin scr_feat()
  section.scr_feat.feat.section(id="scr_feat")
    .container
      h2.page-title.desktop
        strong Почему частные и государственные
          br
          |  компании выбирают «Альянс»?

      h2.page-title.mobile Преимущества

      p.page-desc Система менеджмента качества в «Альянсе» соответствует стандарту ИСО 9001:2008
        br
        |  Качество работ обеспечивают наши инженеры ПТО, ОТ, ПБ и ООС

      .feat__list#feat__list
        .swiper-wrapper
          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-1")

                h3.feat__title У нас в собственности более 20 единиц спецтехники

              h3.feat__title.to-hide У нас в собственности более 20 единиц спецтехники

              .feat__hidden
                p Компрессорные станции, абразивоструйные установки, окрасочные аппараты, торкрет-пушки, ресиверы, тепловые пушки, промышленные толщинометры и подготовленный  транспорт

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-2")

                h3.feat__title Имеем действительно большой опыт выполнения проектов

              h3.feat__title.to-hide У нас в собственности более 20 единиц спецтехники

              .feat__hidden
                p За 10 лет привели 400 000 м2 огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-3")

                h3.feat__title Берем на себя гарантийные обязательства

              h3.feat__title.to-hide Берем на себя гарантийные
                br
                |  обязательства

              .feat__hidden
                p Гарантийное обслуживание всех клиентов по договору. Гарантия 20 лет на минимальный срок эксплуатации покрытия по договору.  Качество работ гарантировано внешним контролем всех процессов и материалов (инспекторы FROSIO)- мы делаем один раз и на долгие годы

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-4")

                h3.feat__title Работаем только с проверенными и эффективными материалами

              h3.feat__title.to-hide Работаем только с проверенными и эффективными материалами

              .feat__hidden
                p Работаем с ведущими марками лако-красочных материалов: Инфлекс, JOTUN, Hempel, PPG, ВМП.

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-5")

                h3.feat__title Реализуем задачи любой сложности и объема

              h3.feat__title.to-hide Реализуем задачи любой сложности и объема

              .feat__hidden
                p Проводим работы на любой высоте, при любых температурах, а также на объектах любого назначения и формы собственности. Мы обслуживали ТЭС и даже следственные изоляторы. Мы провели работы на 120 крупных проектах в Крыму и РФ.

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-6")

                h3.feat__title Мы - эксперты в области систем пожарной безопасности

              h3.feat__title.to-hide Мы - эксперты в области систем пожарной безопасности

              .feat__hidden
                p Мы уже 10 лет занимаемся пожарозащитой: проведением работ, проектированием систем и расчетом пожарных рисков, а также юридическим сопровождением заказчиков. Наш опыт и идеальное знание законодательства РФ по пожаротушению позволяет выполнять работы в соответствии с ГОСТами и нормативными актами РФ.



  // /.scr_feat

mixin scr_feat--about()
  section.scr_feat.feat.feat--about(id="scr_feat")
    .container
      h2.page-title.desktop
        strong Почему частные и государственные компании
          br
          |   выбирают «АЛЬЯНС»?

      h2.page-title.mobile Преимущества

      .feat__list#feat__list
        .swiper-wrapper
          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-1")

                h3.feat__title У нас в собственности более 20 единиц спецтехники

              h3.feat__title.to-hide У нас в собственности более 20 единиц спецтехники

              .feat__hidden
                p Компрессорные станции, абразивоструйные установки, окрасочные аппараты, торкрет-пушки, ресиверы, тепловые пушки, промышленные толщинометры и подготовленный  транспорт

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-2")

                h3.feat__title Имеем действительно большой опыт выполнения проектов

              h3.feat__title.to-hide У нас в собственности более 20 единиц спецтехники

              .feat__hidden
                p За 10 лет привели 400 000 м2 огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-3")

                h3.feat__title Берем на себя гарантийные обязательства

              h3.feat__title.to-hide Берем на себя гарантийные
                br
                |  обязательства

              .feat__hidden
                p Гарантийное обслуживание всех клиентов по договору. Гарантия 20 лет на минимальный срок эксплуатации покрытия по договору.  Качество работ гарантировано внешним контролем всех процессов и материалов (инспекторы FROSIO)- мы делаем один раз и на долгие годы

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-4")

                h3.feat__title Работаем только с проверенными и эффективными материалами

              h3.feat__title.to-hide Работаем только с проверенными и эффективными материалами

              .feat__hidden
                p Работаем с ведущими марками лако-красочных материалов: Инфлекс, JOTUN, Hempel, PPG, ВМП.

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-5")

                h3.feat__title Реализуем задачи любой сложности и объема

              h3.feat__title.to-hide Реализуем задачи любой сложности и объема

              .feat__hidden
                p Проводим работы на любой высоте, при любых температурах, а также на объектах любого назначения и формы собственности. Мы обслуживали ТЭС и даже следственные изоляторы. Мы провели работы на 120 крупных проектах в Крыму и РФ.

          .swiper-slide
            .feat__item.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
              .feat__top
                .feat__icon
                  svg.icon.feat__icon-wrap
                    use(xlink:href="img/svg/sprite.svg#icon-hexa")
                  svg.icon.feat__icon-img
                    use(xlink:href="img/svg/sprite.svg#feat-6")

                h3.feat__title Мы - эксперты в области систем пожарной безопасности

              h3.feat__title.to-hide Мы - эксперты в области систем пожарной безопасности

              .feat__hidden
                p Мы уже 10 лет занимаемся пожарозащитой: проведением работ, проектированием систем и расчетом пожарных рисков, а также юридическим сопровождением заказчиков. Наш опыт и идеальное знание законодательства РФ по пожаротушению позволяет выполнять работы в соответствии с ГОСТами и нормативными актами РФ.




  // /.scr_feat
