mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      .about__wrap
        .about__bg
          img(src="img/about-bg.jpg", alt="", data-object-fit-contain)

        h1.page-title
          strong О компании «АЛЬЯНС»

        .about__df
          .about__col
            .about__item
              p
                b ООО «Альянс» -
                |  это крымская экспертная компания, которая реализует проекты в области антикоррозионной и огнезащиты конструкций. Наша компания имеет государственные лицензии для проведения работ по установке систем пожаротушения. Мы обеспечиваем выполнение ФЗ-123 и добиваемся положительных заключений МЧС и Ростехнадзора для строящихся и уже эксплуатируемых объектов.

            .about__item
              p
                b Мы активно развиваем практику
                |  устройства и обслуживания систем контроля на промышленных и гражданских объектах. Это и системы пожарной безопасности, и системы контроля доступа, и видеонаблюдение. Мы грамотно работаем над проектированием и учитываем  возможности дальнейшей модернизации и ремонтопригодности систем.

          .about__col
            .about__item
              p
                b Задача максимум -
                |  обеспечить такой уровень контроля и безопасности на объекте, при котором наши заказчики будут спокойны и уверены в том, что даже при возникновении чрезвычайной ситуации их потери останутся незначительными.

            .about__cite
              p
                b «Альянс82»
                br
                |  помогает решить проблему устаревшего огнезащитного и антикоррозийного покрытия и пройти все проверки Ростехнадзора при строительстве новых объектов. Мы не навязываем клиентам то, что им не нужно, строго соблюдаем график и не выходим за рамки бюджета - мы ценим ваше время и деньги.



  // /.scr_about
