mixin scr_clients()
  section.scr_clients.clients.section(id="scr_clients")
    .container
      .clients__df
        .clients__info
          h2.page-title
            strong Наши клиенты
          .page-desc
            p Среди наших клиентов
              br
              |  есть флагманы российской экономики,
              br
              |  а также предприятия республиканского
              br
              |  значения в Крыму

        ul.clients__list
          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.5s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-5.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.7s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-6.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.9s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-7.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.9s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-8.jpg" alt="" width="125" height="90" data-object-fit-cover)

          li.toAnimate(data-anim-name="fadeInUp" data-anim-delay="0.9s")
            .clients__item
              noscript
                img.lazy(src="img-temp/partners/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/partners/img-9.jpg" alt="" width="125" height="90" data-object-fit-cover)


  // /.scr_clients
