mixin scr_serv-item()
  section.scr_serv-item.serv-item(id="scr_serv-item")
    .serv-item__top
      .serv-item__bg
        noscript
          img.lazy(src="img/serv-item-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
        img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/serv-item-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)

      .container
        h1.serv-item__title Делаем огнезащиту для объектов
          br
          |  любой сложности в России и ТС

        ul.serv-item__list
          li Выполняем условия ФЗ-123
          li Работаем с объектами любой сложности в Крыму и РФ
          li Добиваемся пложительных заключений
            br
            |  от МЧС и Ростехнадзорра
          li Наши специалисты работают в соответствии с ГОСТами
            br
            |  и нормативными актами РФ уже 10 лет

        .serv-item__btns
          .btn__wrap
            a.btn.btn--orange(href="#") Заказать быстрый расчет стоимости
              br
              |  работ по огнезащите


    .container
      .serv-item__info.clearfix
        .serv-item__img
          noscript
            img.lazy(src="img/serv-item-img.jpg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/serv-item-img.jpg" alt="" width="125" height="90")

        .serv-item__text
          p Компания ООО Альянс 82 проводит обработку металлоконструкций с достижением огнезащитной эффективности с различными степенями огнестойкости: от R30 до R240. Чем выше число, стоящее за буквой R, тем больше время ограждения металлоконструкции от огня.
          br
          p Повышение предела огнестойкости осуществляется в соответствии   с требованиями нормативных документов и стандартов пожарной безопасности РФ. Компания ООО Альянс 82 проводит обработку металлоконструкций с достижением огнезащитной эффективности с различными степенями огнестойкости: от R30 до R240. Чем выше число, стоящее за буквой R, тем больше время ограждения металлоконструкции от огня.
          br
          p исключительно в разрезе маркетинговых и финансовых предпосылок. Сложно сказать, почему непосредственные участники технического прогресса, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями.

      ul.equip__list
        li
          .equip__list-title
            p Преимущества
              br
              |  сотрудничества
              br
              |  с АЛЬЯНС 82

        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/spray-gun.svg", alt="")

            .equip__list-text
              p Наша организация обладает собственным высококвалифицированным штатом сотрудников и всем необходимым оборудованием

        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/stars.svg", alt="")

            .equip__list-text
              p Мы применяем химический, механический и термический способы очистки поверхностей и добиваемся их идеального состояния для долговечности огнезащитного покрытия

        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/paint-brush1.svg", alt="")

            .equip__list-text
              p Даже если ранее используемый материал уже снят с производства,  мы произведем пробную «выкраску» и проанализируем вещества на предмет адгезии

        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/alliance.svg", alt="")

            .equip__list-text
              p Собственное производственное оборудование позволяет проводить обработку в больших промышленных масштабах

        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/compass.svg", alt="")

            .equip__list-text
              p Наличие собственного проектного отдела, необходимых лицензий позволяет нам внести изменения, составить авторские листы, не отрываясь от работы и экономя время и средства

      .serv-item__stages
        h2.page-title
          strong За 10 лет работы по огнезащите металлических конструкций
            br
            |  мы разработали оптимальный алгоритм проведения работ:

        ul.serv-item__stages-list
          li
            .serv-item__stages-top
              .serv-item__stages-img
                noscript
                  img.lazy(src="img-temp/stages/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/stages/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              span.serv-item__stages-num
                b 1
                |  этап

            .serv-item__stages-content
              h3 Подготовка к работе
              p Не следует, однако, забывать, что начало повседневной работы по формированию позиции не даёт нам иного выбора, кроме определения экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: семантический разбор внешних противодействий играет определяющее значение

          li
            .serv-item__stages-top
              .serv-item__stages-img
                noscript
                  img.lazy(src="img-temp/stages/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/stages/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              span.serv-item__stages-num
                b 2
                |  этап

            .serv-item__stages-content
              h3 Подготовка поверхности
              p Не следует, однако, забывать, что начало повседневной работы по формированию позиции не даёт нам иного выбора, кроме определения экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: семантический разбор внешних противодействий играет определяющее значение

          li
            .serv-item__stages-top
              .serv-item__stages-img
                noscript
                  img.lazy(src="img-temp/stages/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/stages/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              span.serv-item__stages-num
                b 3
                |  этап

            .serv-item__stages-content
              h3 Нанесение огнезащитных материалов
              p Не следует, однако, забывать, что начало повседневной работы по формированию позиции не даёт нам иного выбора, кроме определения экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: семантический разбор внешних противодействий играет определяющее значение

          li
            .serv-item__stages-top
              .serv-item__stages-img
                noscript
                  img.lazy(src="img-temp/stages/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/stages/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)

              span.serv-item__stages-num
                b 4
                |  этап

            .serv-item__stages-content
              h3 Контроль качества
              p Не следует, однако, забывать, что начало повседневной работы по формированию позиции не даёт нам иного выбора, кроме определения экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: семантический разбор внешних противодействий играет определяющее значение

      .serv-item__proj
        h2.page-title
          strong Примеры работ по огнезащите:

        .proj__slider-wrap
          .proj__slider#proj__slider-0
            .swiper-wrapper
              .swiper-slide.proj__slide
                .proj__item
                  .proj__slider-img-wrap
                    .proj__slider-img#proj__slider-img-0
                      .swiper-wrapper
                        .swiper-slide.proj__slide-img
                          .proj__img
                            noscript
                              img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                        .swiper-slide.proj__slide-img
                          .proj__img
                            noscript
                              img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)


                    .proj__slider-img-nav
                      .proj__slider-img-btns
                        button.swiper-button-prev
                        .swiper-dots
                        button.swiper-button-next

                  .proj__content
                    h3 Лахта-Центр

                    .proj__content-item
                      p
                        strong Адрес:
                        br
                        |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

                    .proj__content-item
                      p
                        strong Вид выполняемых работ:
                        br
                        |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

                    .proj__content-item
                      p
                        strong Заказчик:
                        br
                        |  ООО «Технологии безопасности».
                        br
                        |  Агеев Мансур Фаятович (руководитель проекта)

                    .proj__content-item
                      p
                        strong Объем работ:
                        |  25 340 м2

              .swiper-slide.proj__slide
                .proj__item
                  .proj__slider-img-wrap
                    .proj__slider-img#proj__slider-img-1
                      .swiper-wrapper
                        .swiper-slide.proj__slide-img
                          .proj__img
                            noscript
                              img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                        .swiper-slide.proj__slide-img
                          .proj__img
                            noscript
                              img.lazy(src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)
                            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/proj-img.jpg" alt="" width="125" height="90" data-object-fit-cover)

                    .proj__slider-img-nav
                      .proj__slider-img-btns
                        button.swiper-button-prev
                        .swiper-dots
                        button.swiper-button-next

                  .proj__content
                    h3 Лахта-Центр

                    .proj__content-item
                      p
                        strong Адрес:
                        br
                        |  Санкт-Петербург, Лахтинский проспект 2, корп. 3, литера А

                    .proj__content-item
                      p
                        strong Вид выполняемых работ:
                        br
                        |  Приведение огнестойкости конструкций к нормативному пределу посредством огнезащитной обработки

                    .proj__content-item
                      p
                        strong Заказчик:
                        br
                        |  ООО «Технологии безопасности».
                        br
                        |  Агеев Мансур Фаятович (руководитель проекта)

                    .proj__content-item
                      p
                        strong Объем работ:
                        |  25 340 м2


          .proj__slider-nav
            .swiper-pagination
            .proj__slider-btns
              button.swiper-button-prev
              .swiper-dots
              button.swiper-button-next




  // /.scr_serv-item
