mixin scr_equip()
  section.scr_equip.equip(id="scr_equip")
    .container
      .equip__wrap
        .equip__bg
          noscript
            img.lazy(src="img/equip-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/equip-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)

      .equip__content
        h1.page-title
          strong Оснащение

        .page-desc
          p
            b За 10 лет нашей работы в сфере пожаротушения мы тщательно подобрали все&nbsp;инструменты для работы, чтобы они максимально качественно и экономно выполняли свои функции.

        .equip__df
          .equip__item
            span.equip__hexa
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .equip__text
              p Мы применяем
                br
                |  безвоздушные окрасочные аппараты
                strong  Graco
                |  производства США для антикоррозионной и огнезащиты. Мы их любим за то, что они сокращают расходы на выполнение
                br
                |  работ:

          .equip__img
            noscript
              img.lazy(src="img/equip-img.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/equip-img.jpg" alt="" width="125" height="90")

      ul.equip__list
        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/rocket.svg", alt="")

            .equip__list-text
              p Обеспечивают высокую производительность распыления лакокрасочного материала.

        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/app.svg", alt="")

            .equip__list-text
              p Они не требуют большого количества сопутствующих аппаратов, компрессоров, фильтров и т.д.

        li
          .equip__list-item
            .scr1__feat-icon
              img(src="img/svg/icons/paint.svg", alt="")

            .equip__list-text
              p Позволяют экономно красить крупные объекты

      .equip__bottom
        .page-desc
          p Мы проводим регулярное ТО, так что во время производства работ не&nbsp;возникнет задержек из-за поломок техники

        .equip__bottom-df
          .equip__bottom-text
            p Наши компрессорные станции, абразивоструйные установки, торкрет‑пушки, ресиверы, тепловые пушки и промышленные толщиномеры обладают большим ресурсом безремонтной работы.


          .equip__item
            span.equip__hexa
              svg.icon
                use(xlink:href="img/svg/sprite.svg#icon-hexa")

            .equip__text
              span.equip__text-num 90%
              p нашей техники имеет
                br
                |  процент амортизации
                br
                |  от 5% до 15%

      ul.equip__partners
        li
          .equip__partners-item
            .equip__partners-img
              noscript
                img.lazy(src="img-temp/equip/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/equip/img-1.jpg" alt="" width="125" height="90" data-object-fit-contain)
        li
          .equip__partners-item
            .equip__partners-img
              noscript
                img.lazy(src="img-temp/equip/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/equip/img-2.jpg" alt="" width="125" height="90" data-object-fit-contain)
        li
          .equip__partners-item
            .equip__partners-img
              noscript
                img.lazy(src="img-temp/equip/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)
              img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/equip/img-3.jpg" alt="" width="125" height="90" data-object-fit-contain)



  // /.scr_equip
