.post 
  position: relative
  .page-title
    font-size: 48px
    text-align: left
  .page-desc
    text-align: left
  &__wrap
    margin-bottom: 100px !important
    padding: 52px 97px 108px 70px
  &__top
    display: flex
    margin-bottom: 15px
    padding-bottom: 35px
  &__content
    flex-grow: 1
    &--bottom
      margin-right: 400px
    .article
      font-size: 16px
      line-height: 1.625
      h2,h3,h4,h5,h6 
        text-transform: uppercase        
        color: #263238
      p 
        margin-bottom: 30px
      .post__name-text
        p 
          margin-bottom: 0
  &__links
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li 
      margin-right: 30px
      padding-bottom: 10px
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      &:nth-of-type(3n)
        margin-right: 0
      & > a 
        margin-right: 0
        padding-left: 18px  
        padding-right: 18px
        text-decoration: none
  &__right
    flex-shrink: 0
    width: 370px
    margin-left: 30px   
    time 
      display: block 
      margin-bottom: 35px     
      font-size: 12px
      color: #6D818A

  &__name
    position: relative
    display: flex 
    align-items: center   
    max-width: 700px 
    min-height: 75px
    margin-bottom: 19px
    padding-left: 11px
    background: #FFFFFF
    border-radius: 10px 50px 50px 10px    
    filter: drop-shadow(0px 2px 20px rgba(137, 130, 149, 0.1))
    transition: 0.3s
    z-index: 1    
    &:hover
      filter: drop-shadow(0px 2px 20px rgba(137, 130, 149, 0.3))
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block  
      width: 69px
      height: 100%      
      background: #5DDCC5
      border-radius: 10px 50px 50px 10px
      z-index: -1
    &-photo
      flex-shrink: 0
      width: 44px
      height: 44px      
      margin-right: 30px
      border: 2px solid #FFFFFF
      box-sizing: border-box
      border-radius: 50%
      overflow: hidden
    &-text
      p         
        font-weight: 600        
        color: #263238
      span 
        display: block        
        font-size: 14px
        color: $accent
    &--girl
      &::before         
        background: #FF6D8D
  &__btns
    margin-bottom: 30px
  &__steps
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap 
    padding-top: 15px
    & > li 
      width: calc((100% - 60px) / 3)
      margin-right: 30px
      padding-bottom: 61px
      &:nth-of-type(3n)
        margin-right: 0
      &:nth-of-type(9n + 2)
        .post__steps-icon
          background-color:#5DC5DC
        .post__steps-num
          color:#5DC5DC
      &:nth-of-type(9n + 3)
        .post__steps-icon
          background-color:#5DDCC5
        .post__steps-num
          color:#5DDCC5
      &:nth-of-type(9n + 4)
        .post__steps-icon
          background-color:#FFBB54
        .post__steps-num
          color:#FFBB54
      &:nth-of-type(9n + 5)
        .post__steps-icon
          background-color:#BB96DE
        .post__steps-num
          color:#BB96DE
      &:nth-of-type(9n + 6)
        .post__steps-icon
          background-color:#FCDA69
        .post__steps-num
          color:#FCDA69
      &:nth-of-type(9n + 7)
        .post__steps-icon
          background-color:#8AADE1
        .post__steps-num
          color:#8AADE1
      &:nth-of-type(9n + 8)
        .post__steps-icon
          background-color:#6FCF97
        .post__steps-num
          color:#6FCF97
      &:nth-of-type(9n)
        .post__steps-icon
          background-color:#E191D0
        .post__steps-num
          color:#E191D0
    &-item       
      display: flex
      flex-direction: column
      height: 100%
      padding: 0 12px 39px 32px 
      background: #FFFFFF
      border: 1px solid #F2F2F2
      box-shadow: 0px 2px 20px rgba(137, 130, 149, 0.1)
      border-radius: 20px
      transition: 0.4s ease-in-out
      &:hover
        box-shadow: 0px 2px 20px rgba(137, 130, 149, 0.3)        
    &-icon
      display: flex
      align-items: center
      justify-content: center
      width: 62px
      height: 62px
      border-radius: 50%      
      margin-top: -31px
      margin-bottom: 10px
      background: #FF6D8D
      img 
        display: block
        width: 42px
        height: 42px
    &-num 
      display: block
      margin-bottom: 20px
      font-family: $font2            
      font-weight: bold
      font-size: 18px
      color: #FF6D8D
    &-text      
      margin-bottom: 20px
      font-size: 12px
      line-height: 1.6667
      color: #6D818A
    &-price
      display: block
      margin-top: auto    
      font-family: $font2           
      font-weight: bold
      font-size: 18px
      color: #263238      
  &__sum
    display: flex
    margin-left: 31px
    margin-bottom: 50px    
    background: #FFFFFF
    border: 1px solid #F2F2F2
    box-shadow: 0px 2px 20px rgba(137, 130, 149, 0.1)
    border-radius: 20px
    &-left
      display: flex
      align-items: center
      padding-top: 10px
      padding-bottom: 10px
      padding-right: 35px
      .post__steps-icon
        flex-shrink: 0
        margin: 0 38px 0 -31px
        background-color:#5DDCC5
      .post__steps-num
        margin-bottom: 0
        margin-right: 20px
        color:#5DDCC5
      .post__steps-text 
        margin-bottom: 0
    &-right      
      flex-shrink: 0
      display: flex
      justify-content: center
      align-items: center      
      width: 370px
      background: #5DDCC5
      border-radius: 0px 20px 20px 0px            
      font-family: $font2
      font-weight: bold
      font-size: 18px
      text-align: center
      color: #fff
      span 
        display: block
        width: 22px
        height: 2px
        margin-left: 20px
        margin-right: 20px
        background-color: #fff
  &__how-much 
    display: flex
    &-img 
      flex-grow: 1
    &-content
      flex-shrink: 0
      width: 470px
      margin-left: 30px
      .scr_center__grades-item
        margin-bottom: 15px
        padding-right: 0
      .scr_center__grades-line
        width: 100%
  &__bottom    
    max-width: 1170px
    margin-left: auto
    margin-right: auto
    padding-bottom: 140px
  &__rate
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 28px
    &-col 
      display: flex
      align-items: center
      .scr_rate__cont
        display: flex
        align-items: center
        margin-left: 21px
      .scr_rate__cont--current
        .scr_rate__rate
          li 
            pointer-events: none
      .scr_rate__total
        padding-top: 0
        margin-left: 5px
  &__likes
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    margin-bottom: 97px
    padding-bottom: 30px    
    border-bottom: 1px solid rgba(#A5BED6, 0.5) 
    & > li 
      &:nth-of-type(2)
        .post__likes-item          
          background: #FFBB54
      &:nth-of-type(3)
        .post__likes-item          
          background: #5DDCC5
    &-item
      background: none
      border: none
      outline: none
      display: flex
      align-items: center
      min-width: 170px
      height: 53px
      padding-left: 20px
      padding-right: 10px
      background: #E191D0
      box-shadow: 0px 2px 20px rgba(137, 130, 149, 0.1)
      border-radius: 8px
      cursor: pointer
      transition: 0.4s ease-in-out
      &:hover
        background-color: $accent !important
      img 
        flex-shrink: 0
        display: block
        width: 20px
        margin-right: 10px
      span
        flex-grow: 1
        display: block
        font-family: $font2
        text-align: center        
        font-weight: bold
        color: #FFFFFF
  .scr_center__reviews-list
    padding-bottom: 25px
    time 
      padding-top: 4px
      opacity: 0.8


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  @media screen and (max-width: 1170px) 
    .page-title 
      font-size: 38px
    &__wrap
      margin-bottom: 50px !important
      padding: 32px 37px 38px 
    &__top
      padding-bottom: 0
    &__right
      width: 320px
      margin-left: 20px
    &__content
      &--bottom
        margin-right: 340px 
    &__links
      & > li         
        width: calc((100% - 30px) / 3)
        margin-right: 15px
        & > a           
          padding-left: 8px
          padding-right: 8px
          font-size: 13px
    &__steps
      & > li         
        width: calc((100% - 20px) / 3)
        margin-right: 10px
        padding-bottom: 41px
      &-item
        padding: 0 12px 19px 22px 
      &-icon        
        width: 52px
        height: 52px
        margin-top: -26px
        margin-bottom: 5px
        img 
          width: 34px
          height: 34px
      &-num         
        margin-bottom: 10px
        font-size: 16px
      &-price
        font-size: 16px
      &-text
        margin-bottom: 10px
    &__sum
      &-right          
        width: 260px
        font-size: 16px
        span          
          width: 18px
          margin-left: 10px
          margin-right: 10px
    
  // max-width 1170px 

  @media screen and (max-width: 1070px) 
    &__how-much-content 
      width: 400px
      margin-left: 20px 
    
  // max-width 1070px 

  @media screen and (max-width: 991px) 
    .page-title 
      font-size: 30px
    &__top
      display: block
    &__right
      width: 100%
      margin-left: 0
      time         
        margin-bottom: 5px
    &__content
      &--bottom
        margin-right: 0 
      .article    
        font-size: 14px
    &__how-much-content 
      width: 300px
      margin-left: 10px 

  // max-width 991px 

  @media screen and (max-width: 767px) 
    .page-title 
      font-size: 27px
    &__wrap
      margin-bottom: 30px !important
      padding: 24px
    &__links
      & > li         
        width: calc((100% - 10px) / 2)
        margin-right: 10px
        padding-bottom: 5px
        &:nth-of-type(3n)
          margin-right: 10px
        &:nth-of-type(2n)
          margin-right: 0
        & > a          
          width: 100% 
          height: 38px
    &__name
      &-text 
        span           
          font-size: 12px
    &__bottom
      padding-bottom: 50px
    &__steps
      & > li         
        width: calc((100% - 10px) / 2)
        margin-right: 10px
        &:nth-of-type(3n)
          margin-right: 10px
        &:nth-of-type(2n)
          margin-right: 0  
    &__sum
      &-left 
        .post__steps-icon 
          margin: 0 14px 0 -31px   
        .post__steps-num     
          margin-right: 12px   
      &-right
        flex-direction: column   
        width: 150px
        font-size: 14px
        span 
          margin-top: 10px
          margin-bottom: 10px
    &__how-much
      display: block
      &-img
        max-width: 400px
        margin-left: auto
        margin-right: auto
      &-content 
        width: 100% 
        margin-left: 0

  // max-width 767px 

  @media screen and (max-width: 575px) 
    &__content
      .article    
        font-size: 13px
    &__sum
      display: block
      margin-left: 10px
      margin-bottom: 40px
      &-left 
        padding-right: 15px
        .post__steps-icon 
          margin: 0 14px 0 -18px 
      &-right
        flex-direction: row 
        width: 100%
        height: 45px
        border-radius: 6px
        span 
          margin-top: 0
          margin-bottom: 0

  // max-width 575px 

  @media screen and (max-width: 500px) 
    .page-title 
      font-size: 22px
    &__steps
      & > li         
        width: 100%
        margin-right: 0
        &:nth-of-type(3n)
          margin-right: 0

  // max-width 500px 

  @media screen and (max-width: 400px) 
    &__links
      padding-bottom: 20px
      & > li         
        width: 100%
        margin-right: 0
        &:nth-of-type(3n)
          margin-right: 0 
        & > a 
          height: auto
          background: none
          box-shadow: none
          &:hover            
            color: #5DC5DC                
            background: none

  // max-width 400px 

/* post */
