.footer
  position: relative
  padding-top: 29px
  background-color: #363b3f

  &__top
    display: flex
    padding-bottom: 26px
  .logo
    display: block
    text-decoration: none
    width: 205px
    height: 51px
    &__wrap
      margin-bottom: 28px
    svg
      width: 100%
      height: 100%
      fill: #fff

  .header__partner
    margin-bottom: 22px
    .header__partner-img
      margin-right: 16px
    .header__partner-text
      margin-right: 0
      color: #f7f9fb

  &__item
    margin-bottom: 14px
    font-size: 14px
    line-height: 1.2
    font-weight: 400
    color: #f7f9fb
    a
      color: #f7f9fb
      text-decoration: none
      &:hover
        text-decoration: underline
    strong
      font-weight: 500

  &__title
    font-weight: 500
    .mobile
      display: none

  &__info
    width: calc(33.3% - 15px)
    margin-right: 30px

  .menu
    margin: 0
    padding: 0
    list-style: none

  &__menu
    width: 17.54385964912281%
    margin-right: 38px
    padding-top: 11px
    .menu
      & > li
        margin-bottom: 21px
        & > a
          position: relative
          display: inline-block
          text-decoration: none
          outline: none
          font-size: 14px
          line-height: 1.2
          font-weight: 600
          text-transform: uppercase
          color: #f7f9fb
          &::after
            content: ''
            position: absolute
            bottom: -2px
            left: 0
            width: 100%
            height: 2px
            background-color: #f7f9fb
            opacity: 0
            transition: 0.5s
          &:hover
            &::after
              opacity: 1

  &__catalog
    flex-grow: 1
    display: flex
    padding-top: 11px
    .menu
      & > li
        margin-bottom: 21px
        & > a
          position: relative
          text-decoration: none
          outline: none
          display: inline-block
          font-size: 14px
          line-height: 1.2
          font-weight: 400
          color: #f7f9fb
          &::after
            content: ''
            position: absolute
            bottom: -2px
            left: 0
            width: 100%
            height: 1px
            background-color: #f7f9fb
            opacity: 0
            transition: 0.5s
          &:hover
            &::after
              opacity: 1
  &__col
    width: 45%
    &:first-of-type
      padding-right: 20px
    &:last-of-type
      width: 55%

  &__df
    display: flex
    align-items: center
    justify-content: space-between

  &__bottom
    height: 62px
    display: flex
    align-items: center
    justify-content: space-between
    border-top: 1px solid rgba(238,245,250,0.2)

    font-size: 13px
    line-height: 18px
    font-weight: 400
    color: #f7f9fb
    a
      color: #f7f9fb

  &__offert
    display: flex
    align-items: center
    padding-right: 10px
    height: 100%
    a
      margin-left: 49px

  &__copyright
    height: 100%

  &__made
    height: 100%

  .made
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    text-decoration: none
    .icon
      width: 60px
      height: 22px
      margin-left: 13px
      fill: #f7f9fb
      transition: 0.3s

    &:hover
      .icon
        fill: rgba(#fff,.7)


  @media screen and (max-width: 1070px)
    &__offert
      flex-direction: column
      align-items: flex-start
      a
        margin-left: 0

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__catalog
      .menu
        display: none
    &__col
      &:first-of-type
        display: none
      &:last-of-type
        width: 100%
    &__menu
      width: 27.54386%

  // max-width 991px

  @media screen and (max-width: 800px)
    &__bottom
      height: auto
      padding-top: 20px
      padding-bottom: 20px
    &__df
      flex-direction: column
      text-align: center
    &__offert
      width: 100%
      align-items: center
      margin-bottom: 30px
    &__copyright
      width: 100%
      margin-bottom: 15px
    &__made
      width: 100%

  // max-width 800px

  @media screen and (max-width: 767px)
    &__top
      flex-direction: column
      align-items: center
      text-align: center
    .header__partner
      display: none
    &__info
      width: 100%
      margin-right: 0
    &__menu
      width: 100%
      margin-right: 0
    &__catalog
      width: 100%
    .logo
      margin-left: auto
      margin-right: auto

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 21px
    .logo
      width: 160px
      height: 40px
      &__wrap
        margin-bottom: 16px
    &__info
      width: calc(100% + 30px)
      padding-bottom: 10px
      padding-left: 15px
      padding-right: 15px
      border-bottom: 1px solid rgba(112, 116, 120, 0.3)
    &__menu
      display: flex
      width: calc(100% + 30px)
      padding: 29px 15px 10px
      border-bottom: 1px solid rgba(112,116,120,0.3)
      .menu
        text-align: left
        & > li
          & > a
            text-transform: none
            font-weight: 400
        &:first-of-type
          flex-grow: 1
          padding-right: 10px
    &__title
      font-weight: 400
      display: flex
      align-items: center
      justify-content: space-between
      cursor: pointer
      .desktop
        display: none
      .mobile
        position: relative
        display: flex
        flex-direction: column
        width: 30px
        height: 30px
        background: rgba(#f7f9fb, 0.05)
        border-radius: 50%
        transition: 0.3s
        &::before
          content: ''
          position: absolute
          top: calc(50% - 4px)
          left: calc(50% - 5px)

          width: 8px
          height: 8px
          border-left: 2px solid #fff
          border-bottom: 2px solid #fff
          transition: 0.3s
          transform: rotate(-135deg)
        &.active
          &::before
            transform: rotate(-45deg)
      &:hover
        .mobile
          background: rgba(#f7f9fb, 0.2)

    &__item
      text-align: left
      padding: 19px 0
      margin-bottom: 0
    &__hidden
      padding-top: 15px
      display: none
    &__catalog
      padding-top: 24px

  // max-width 575px

/* footer */
