.catalog
  position: relative
  padding-top: 33px
  padding-bottom: 30px
  .about__form
    width: 100%
    &--mobile
      display: none
  .projects__nav
    margin-bottom: 19px
  &__df
    display: flex
  &__list
    list-style: none
    padding: 17px 20px
  &__item
    background-color: #eef5fa
    display: flex
    padding: 12px 22px 14px 14px
    margin-bottom: 22px
    &:last-of-type
      margin-bottom: 0
  &__img
    flex-shrink: 0
    width: 200px
    height: 181px
    margin-right: 29px
    display: flex
    align-items: center
    justify-content: center
    background: #fff
  &__content
    flex-grow: 1
    display: flex
    flex-direction: column
    padding-top: 3px
    margin-bottom: 15px
  &__title
    margin-bottom: 15px
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 600
    color: $accent
  &__desc
    margin-bottom: 15px
    font-size: 14px
    line-height: 1.428571428571429 /* 20 / 14 */
  &__bottom
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: auto
  &__btns
    .btn--red span,
    input[type="submit"].btn--red span
      min-width: 147px
      height: 46px
      font-size: 14px
  &__price
    font-size: 24px
    line-height: 1.2
    font-weight: 600
    color: $accent
  .title
    margin-top: 0
    font-size: 30px

  &--project
    padding-bottom: 0
    .catalog__list
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      padding-bottom: 0
      padding-left: 40px
      padding-right: 42px
      li
        width: calc(50% - 10px)
        max-width: 322px
        margin-right: 20px
        flex-direction: column
        transform: none
        &::before
          content: none
        &:last-of-type
          margin-right: 0
    .catalog__content
      padding-left: 10px
    .catalog__img
      width: 100%
      height: 181px
      margin-bottom: 22px
    .catalog__title
      font-size: 18px
      min-height: 65px
      margin-bottom: 10px
    .catalog__price
      margin-bottom: 30px
      font-weight: 600
    .catalog__bottom
      flex-direction: column
      align-items: flex-start
    .catalog__btns
      width: 100%
      text-align: center
      .btn span
        min-width: 186px
        height: 49px
        font-size: 16px

  &--prog
    padding-bottom: 42px
    .second__nav
      padding-top: 0
      padding-bottom: 27px
      &-list
        & > li
          flex-grow: 1
          width: auto
    h1.title-second
      margin-top: 0
      margin-bottom: 27px
      font-size: 30px
    .catalog__wrap
      padding: 26px 26px 4px
    .catalog__title
      min-height: 0
      margin-bottom: 0
      transition: 0.3s
    .catalog__img
      height: 234px
      transition: 0.3s
    .catalog__list
      padding-top: 0
      padding-bottom: 0
      justify-content: flex-start
      li
        width: calc((100% - 84px) / 3)
        margin-right: 42px
        max-width: 100%
        &:nth-of-type(3n)
          margin-right: 0
        &:last-of-type
          margin-bottom: 22px
        & > a
          display: block
          text-decoration: none
          outline: none
          &:hover
            .catalog__title
              color: $accent2
            .catalog__img
              box-shadow: 0 5px 15px rgba(#000, 0.15)
              transform: translateY(-5px)



  @media screen and (max-width: 1170px)
    &--project
      .catalog__list
        padding-left: 0
        padding-right: 0

  // max-width 1170px

  @media screen and (max-width: 991px)
    &--project
      .catalog__list
        .article p
          line-height: 1.514286
      .catalog__price
        margin-bottom: 20px
        font-size: 21px
    &--prog
      .catalog__list
        & > li
          width: calc((100% - 44px) / 3)
          margin-right: 22px
      .catalog__title
        font-size: 16px

  // max-width 991px

  @media screen and (max-width: 900px)
    &__df
      flex-direction: column
    .about__form
      &--desktop
        display: none
      &--mobile
        display: block
        max-width: 360px
        margin-top: 40px
        margin-left: auto
        margin-right: auto
    .projects__nav
      padding-top: 20px
      &-list
        display: none
    &--prog
      padding-bottom: 22px
      .catalog__list
        & > li
          width: calc((100% - 24px) / 3)
          margin-right: 12px
          margin-bottom: 12px
          &:last-of-type
            margin-bottom: 12px
      .catalog__title
        font-size: 15px
      .catalog__wrap
        padding: 18px 15px 4px
      .catalog__img
        height: 144px

  // max-width 900px

  @media screen and (max-width: 700px)
    &__img
      width: 130px
      margin-right: 15px
    &__price
      font-size: 20px
    &--prog
      h1.title-second
        margin-bottom: 22px
        font-size: 26px
    &--prog
      .catalog__list
        & > li
          width: calc((100% - 12px) / 2)
          margin-right: 12px
          &:nth-of-type(3n)
            margin-right: 12px
          &:nth-of-type(2n)
            margin-right: 0

  // max-width 700px

  @media screen and (max-width: 575px)
    &__item
      flex-direction: column
      padding-right: 14px
    &__img
      width: 100%
      max-width: 200px
      margin-left: auto
      margin-right: auto
      margin-bottom: 30px
    &--project
      .catalog__list
        flex-direction: column
        li
          width: 100%
          max-width: 100%
          margin-bottom: 20px !important
    &--prog
      padding-top: 20px
      h1.title-second
        font-size: 23px
      .catalog__list
        flex-direction: row
        & > li
          width: calc((100% - 12px) / 2)
          margin-right: 12px
          &:nth-of-type(3n)
            margin-right: 12px
          &:nth-of-type(2n)
            margin-right: 0

  // max-width 575px

  @media screen and (max-width: 450px)
    &__list
      width: calc(100% + 30px)
      margin-left: -15px
    &__bottom
      flex-direction: column
    &__btns
      margin-top: 15px
    &--prog
      .catalog__list
        flex-direction: column
        width: 100%
        margin-left: 0
        & > li
          width: 100%
          margin-right: 0
          &:nth-of-type(3n)
            margin-right: 0
      .catalog__img
        max-width: 100%

  // max-width 450px

/* catalog */
