.project
  position: relative
  padding-bottom: 27px
  &__df
    display: flex
    margin-bottom: 34px
  &__cont
    padding: 20px 28px 53px 22px
    margin-bottom: 27px
  &__other
    flex-shrink: 0
    width: 261px
    margin-left: 16px
    padding: 12px 9px 13px
    &-list
      margin: 0
      padding: 0
      list-style: none
      li
        margin-bottom: 41px
        &:last-of-type
          margin-bottom: 0
    &-title
      margin-bottom: 15px
      font-size: 20px
      text-align: center
    &-top
      padding: 0 22px
    &-img
      max-width: 200px
      margin-left: auto
      margin-right: auto
      border: 1px solid #eef5fa
      border-radius: 3px
      overflow: hidden
    &-desc
      p
        line-height: 1.2
    &-content
      padding-left: 10px
      padding-right: 10px
    &-review
      &-title
        margin-bottom: 17px
        padding-left: 10px
        padding-right: 10px
        font-size: 18px
        line-height: 1.2
        font-weight: 600
        text-decoration: underline
        color: $accent
      &-wrap
        padding: 11px 10px 12px
        background-color: #eef5fa
        border-radius: 3.0px

        font-size: 14px
        line-height: 1.714285714285714
        font-style: italic
  &__top
    display: flex
    margin-bottom: 29px
  &__img
    flex-shrink: 0
    width: 340px
    margin-right: 33px
    img
      display: block
  &__title
    width: 54.05405405405405%
    font-size: 30px
    line-height: 1.333333333333333 /* 40 / 30 */
    font-weight: 700
    color: #333333
  .article
    ul li
      margin-bottom: 10px
      &:last-of-type
        margin-bottom: 0
      &::before
        width: 5px
        height: 5px
        top: 10px
  &__middle
    display: flex
    align-items: flex-end
    justify-content: space-between
    ul
      padding-bottom: 0
    .link__wrap
      flex-shrink: 0
      width: 171px
      margin-left: 20px
      .link
        text-decoration: underline
  &__desc
    max-width: 440px
  &__main
    padding-left: 14px
    padding-right: 4px

  &__bottom
    h2
      margin-top: 0
      margin-bottom: 0
    .catalog
      padding-top: 13px

  .article ul.catalog__list li
    margin-bottom: 0

  .form--project
    padding: 27px 30px 29px
    .title
      margin-bottom: 29px
      text-align: center
    form
      width: 100%
      max-width: 716px
      margin-left: auto
      margin-right: auto

  &__nav
    display: flex
    justify-content: space-between
  &__arrow
    position: relative
    display: flex
    align-items: center
    text-decoration: none
    outline: none

    height: 49px
    background-color: #eef5fa
    border: 1.0px solid #e3edf4
    border-radius: 3.0px

    font-size: 14px
    line-height: 1.2
    font-weight: 400
    color: $accent
    transition: 0.3s
    &:hover
      background: #fff
    &::before
      content: ''
      position: absolute
      top: calc(50% - 5px)
      width: 6px
      height: 10px
      background: transparent url('../img/svg/icon-arrow.svg') no-repeat center center
      background-size: contain
    &--left
      padding-left: 61px
      padding-right: 31px
      &::before
        left: 25px
        transform: rotate(180deg)
    &--right
      padding-left: 28px
      padding-right: 68px
      &::before
        right: 25px


  @media screen and (max-width: 1170px)
    &__title
      font-size: 26px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__title
      font-size: 19px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__img
      width: 200px
      margin-right: 23px
    &__top
      margin-bottom: 20px
    .article
      ul li
        margin-bottom: 3px
    &__middle
      flex-direction: column
    &__desc
      max-width: 100%

  // max-width 991px

  @media screen and (max-width: 850px)
    &__df
      flex-direction: column
    &__wrap
      width: 100%
    &__other
      width: 100%
      margin-left: 0
      margin-top: 30px

  // max-width 850px

  // @media screen and (max-width: 767px)

  // max-width 767px

  @media screen and (max-width: 575px)
    &__top
      flex-direction: column
    &__img
      width: 100%
    &__title
      width: 100%
    &__main
      padding-left: 0
    &__other
      &-review
        &-title
          padding-left: 0
    &__cont
      padding: 20px 15px 33px 15px
    .form--project
      padding: 27px 15px 29px

  // max-width 575px

  @media screen and (max-width: 500px)
    &__nav
      flex-direction: column
    &__arrow
      width: 100%
      margin-bottom: 15px
    &__other
      &-list
        margin-bottom: 21px

  // max-width 500px

/* project */
