.blog
  position: relative
  padding-bottom: 30px
  &__wrap
    padding: 15px 15px 0
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
  &__item
    width: calc(50% - 15px)
    margin-right: 30px
    &:nth-of-type(2n)
      margin-right: 0
  &__img
    display: block
    outline: none
    text-decoration: none
    border-radius: 6px
    overflow: hidden
    height: 254px
    background-color: #f7f9fb
    img
      transition: transform 1.3s
      transform: scale(1.1)
    &:hover
      img
        transform: scale(1)
  &__content
    padding: 29px 30px 45px 11px
  &__title
    display: block
    text-decoration: none
    outline: none
    margin-bottom: 16px
    min-height: 80px
    h2
      font-size: 20px
      line-height: 1.4 /* 28 / 20 */
      font-weight: 700
      color: #333333
      transition: 0.3s
    &:hover
      h2
        color: $accent


  @media screen and (max-width: 1170px)
    &__title
      br
        display: none

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__title
      min-height: 77px
      h2
        font-size: 17px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__content
      padding: 22px 20px 25px 11px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__item
      width: calc(50% - 5px)
      margin-right: 10px
    &__img
      height: 194px
    &__content
      padding: 17px 17px 25px 0
    &__title
      min-height: 80px
      h2
        font-size: 15px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__item
      width: 100%
      margin-right: 0
    &__title
      min-height: 0

  // max-width 575px

/* blog */
