.lic
  position: relative
  padding-bottom: 38px

  .title-second
    margin-top: 35px
    margin-bottom: 30px
    font-size: 24px
    text-transform: uppercase
    color: #00477b
    text-align: center

  &__wrap
    display: flex
  &__img
    flex-shrink: 0
    width: 28.68421052631579%
    padding: 20px
    padding-right: 35px
  &__content
    padding-top: 28px
    padding-bottom: 15px
    padding-right: 37px
    .article
      p
        margin-bottom: 27px
        font-size: 16px
        line-height: 1.5
        &:last-of-type
          margin-bottom: 0
  &__title
    margin-bottom: 29px
    font-size: 18px
    line-height: 1.333333333333333 /* 24 / 18 */
    font-weight: 500
    text-transform: uppercase
    color: #00477b

  .second__nav-list--four > li
    width: auto
    flex-grow: 1
    margin-right: 15px
    &:last-of-type
      margin-right: 0

  &__prices
    padding: 16px 18px 23px

  .certs__table
    table
      td
        border-right: 1px solid #eef5fa
        padding-left: 14px
        span
          display: block
          padding-top: 15px
          padding-bottom: 5px
          font-size: 18px
          line-height: 1.333333333333333 /* 24 / 18 */
          font-weight: 600
          text-transform: uppercase
          color: #00477b
          text-align: center
        &:last-of-type
          text-align: right
          border-right: none
          padding-right: 14px
      thead
        td
          width: auto
          font-size: 16px
          font-weight: 500

  .form--project
    padding: 27px 30px 29px
    margin-top: 32px
    .title
      margin-bottom: 19px
      text-align: center
    form
      width: 100%
      max-width: 716px
      margin-left: auto
      margin-right: auto


  @media screen and (max-width: 991px)
    .certs__table
      table
        td
          span
            font-size: 16px

  // max-width 991px

  @media screen and (max-width: 900px)
    &__img
      width: 250px
    &__content
      .article
        p
          margin-bottom: 17px
          font-size: 14px
    &__title
      margin-bottom: 19px
      font-size: 16px

  // max-width 900px

  @media screen and (max-width: 767px)
    .certs__table
      table
        td
          span
            font-size: 14px
    .second__nav-list--four > li
      margin-right: 5px
      word-break: break-all
    &__img
      width: 210px
      padding: 10px
      padding-right: 15px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__wrap
      flex-direction: column
    &__content
      padding-left: 15px
      padding-top: 15px
      padding-bottom: 25px
    &__img
      padding-top: 20px

  // max-width 650px

  @media screen and (max-width: 600px)
    .certs__table
      width: 600px
      max-width: 100%
      overflow-x: auto
      table
        td
          font-size: 13px
          span
            font-size: 13px
        thead
          td
            font-size: 14px
    .title-second
      font-size: 21px

  // max-width 600px

  @media screen and (max-width: 575px)
    .second__nav-list--four
      flex-direction: column
      & > li
        width: 100%
        margin-bottom: 5px
        margin-right: 0

  // max-width 575px

/* certs */


@media screen and (max-width: 374px)
  .form--project .form__item--submit .btn__wrap
    min-width: 0
    width: 100%

// max-width 374px
