.post
  position: relative
  padding-bottom: 35px
  h1
    font-size: 30px
    line-height: 1.333333333333333 /* 40 / 30 */
  &__wrap
    padding: 15px 15px 20px
  &__img
    height: 289px
    border-radius: 6px
    overflow: hidden
  &__content
    max-width: 810px
    margin-left: auto
    margin-right: auto
  &__desc
    margin-bottom: 32px
    font-size: 14px
    line-height: 1.714285714285714 /* 24 / 14 */
    color: #000000
  &__nav
    p
      margin-bottom: 10px
      font-size: 18px
      line-height: 1.333333333333333 /* 24 / 18 */
      font-weight: 500
    &-list
      margin: 0
      padding: 0
      list-style: none
      padding-left: 47px
      & > li
        position: relative
        margin-bottom: 8px
        &::before
          content: ''
          position: absolute
          top: 10px
          left: -15px
          display: block
          width: 5px
          height: 5px
          background-color: #0495ff
          border-radius: 50%
        & > a
          outline: none
          font-size: 14px
          line-height: 1.2
          color: #0495ff
          transition: 0.3s
          &:hover
            color: $accent2

  .article
    h2
      font-size: 30px
      line-height: 1.333333333333333 /* 40 / 30 */
      font-weight: 700
      color: #333333
    h3
      font-size: 24px
    p
      color: #000
    ul
      padding-left: 20px
      margin-top: 15px
      li
        margin-bottom: 28px
        color: #000
        &::before
          top: 9px
          left: -15px
          width: 5px
          height: 5px
        &:last-of-type
          margin-bottom: 0


  @media screen and (max-width: 767px)
    h1
      font-size: 27px
    &__img
      height: 200px
    .article
      ul
        padding-left: 0
      h2
        font-size: 24px

  // max-width 767px

  @media screen and (max-width: 450px)
    h1
      font-size: 23px
    &__nav
      &-list
        padding-left: 17px
    .article
      h3
        font-size: 19px
      ul
        li
          margin-bottom: 18px

  // max-width 450px

/* project */
