.contacts
  position: relative
  padding-bottom: 36px

  &__df
    display: flex
  &__wrap
    flex-grow: 1
    padding: 32px 20px 38px 67px
  &__form
    position: relative
    flex-shrink: 0
    width: 361px
    margin-left: 30px

    padding: 26px 20px 20px
    .title
      position: relative
      margin-bottom: 19px
      text-align: center
      z-index: 2
    .form
      position: relative
      padding: 0 25px
      z-index: 2
      .text-input
        margin-bottom: 13px
    .about__bg
      z-index: 1
  &__map
    margin-top: 21px
    &-title
      margin-bottom: 18px
      font-size: 18px
      line-height: 1.2
      font-weight: 600
      color: #00477b
    &-wrap
      height: 313px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    position: relative
    width: 50%
    padding-right: 15px
    &::before
      content: ''
      position: absolute
      top: -6px
      left: -40px
      width: 29px
      height: 29px
      border-radius: 50%
      background: #c42333 url('../img/svg/icon-pin.svg') no-repeat center center
      background-size: 11px 15px
    &:first-of-type
      width: 100%
      margin-bottom: 68px
      padding-right: 0
    &:last-of-type
      width: 40%
      padding-right: 0
    &-content
      a
        text-decoration: none
        outline: none
        margin-bottom: 2px
        font-size: 14px
        line-height: 1.2
        font-weight: 600
        color: #000000
        transition: 0.3s
        &:hover
          color: $accent
      p
        font-size: 14px
        line-height: 1.2
        color: #000000
    &-df
      display: flex
      justify-content: space-between
      a
        display: block
      .contacts__col-title
        margin-bottom: 18px
  &__city
    margin-bottom: 20px
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
    color: #000000
  &__address
    margin-bottom: 23px
    font-size: 14px
    color: #000000
  &__col
    width: 33.3%
    &-title
      font-size: 14px
      line-height: 1.2
      font-weight: 600
      color: #000000
  &__block
    margin-bottom: 20px
    &:last-of-type
      margin-bottom: 0


  @media screen and (max-width: 991px)
    &__df
      flex-direction: column
    &__wrap
      width: 100%
    &__form
      width: 100%
      max-width: 360px
      margin-left: auto
      margin-right: auto
      margin-top: 30px
    &__list
      max-width: 600px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__map
      &-wrap
        height: 250px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__wrap
      padding: 32px 10px 28px 47px
    &__item
      &::before
        top: -4px
        left: -37px
        width: 27px
        height: 27px
      &:first-of-type
        margin-bottom: 30px
    &__city
      margin-bottom: 15px

  // max-width 650px

  @media screen and (max-width: 575px)
    &__col
      width: 50%
      margin-bottom: 15px
    &__item
      &-df
        flex-wrap: wrap

  // max-width 575px

  @media screen and (max-width: 500px)
    &__wrap
      padding: 32px 10px 8px 37px
    &__col
      width: 100%
    &__item
      width: 50%
      margin-bottom: 30px
      padding-right: 0
      &:nth-of-type(2n)
        padding-right: 15px
      &:last-of-type
        width: 50%
      &-df
        align-items: center
      &::before
        top: -1px
        left: -28px
        width: 21px
        height: 21px
        background-size: 7px 11px

  // max-width 500px

  @media screen and (max-width: 400px)
    &__item
      width: 100%
      &:nth-of-type(2n)
        padding-right: 0
      &:last-of-type
        width: 100%

  // max-width 400px

/* contacts */
