mixin footer(logotype)
  footer.footer(id="footer")
    a.to-top(href="#page_wr")
      i.fa.fa-angle-up
    .footer__top
      .container
        .footer__df
          .footer__content
            .logo__wrap
              if logotype == "a"
                #{logotype}.logo(href="index.html")
                  img(src="img/svg/logo1.svg" alt="Лого")
              else
                #{logotype}.logo
                  img(src="img/svg/logo1.svg" alt="Лого")

            .footer__address
              .footer__item
                p.footer__text г. Симферополь,
                  br
                  |  ул. Железнодорожная, 1В
              .footer__item
                p.footer__text Без выходных: 9:00-20:00

              a.footer__tel(href="tel:+79780241220") +7 (978) 024-12-20

              +socials


          .footer__menu
            ul.menu
              li.menu-item.menu-item-has-children
                a(href="#") Услуги
                button.menu-arrow
                ul.sub-menu
                  li.menu-item
                    a(href="#") Терапия
                  li.menu-item
                    a(href="#") Хирургия
                  li.menu-item
                    a(href="#") Ортопедия
                  li.menu-item
                    a(href="#") Ортодонтия

          .footer__menu
            ul.menu
              li.menu-item
                a(href="#") О клинике
              li.menu-item
                a(href="#") Цены
              li.menu-item
                a(href="#") Отзывы
              li.menu-item
                a(href="#") Новости
              li.menu-item
                a(href="#") Контакты

      // /.container
    // /.footer__top

    .footer__bottom
      .container
        .row
          .col-xl-3.col-lg-4.col-sm-7
            .copyright
              p.text г. Симферополь © Copyright  2019&nbsp;г.
          .col-xl-4.offset-xl-1.col-lg-4.col-sm-5
            a.made(href="https://sheer82.ru/")
              span.text Сделано в
              svg.icon
                use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

