mixin header__nav()
  nav.header__nav
    .main-menu
      button.burger#header-burger
        span.burger__wrap
          span.line

      ul.menu
        li.menu-item
          a(href="#") О клинике
        li.menu-item
          a(href="#") Услуги
        li.menu-item
          a(href="#") Цены
        li.menu-item
          a(href="#") Отзывы
        li.menu-item
          a(href="#") Новости
        li.menu-item
          a(href="#") Контакты


    // /.container
  // /.header__nav
