mixin header__nav()
  nav.header__nav
    .main-menu
      button.burger#header-burger
        span.burger__wrap
          span.line

      ul.menu
        li.menu-item
          a(href="#") О клинике
        li.menu-item
          a(href="#") Услуги
        li.menu-item
          a(href="#") Цены
        li.menu-item
          a(href="#") Отзывы
        li.menu-item
          a(href="#") Новости
        li.menu-item
          a(href="#") Контакты


    // /.container
  // /.header__nav

mixin header__nav--second()
  nav.header__nav
    .main-menu
      button.burger#header-burger
        span.burger__wrap
          span.line

      ul.menu
        li.menu-item
          a(href="#") О клинике
        li.menu-item
          a(href="#") Услуги
        li.menu-item
          a(href="#") Цены
        li.menu-item
          a(href="#") Отзывы
        li.menu-item.current-menu
          a(href="#") Новости
        li.menu-item
          a(href="#") Контакты

      .header__info
        .header__phones
          a.btn.btn--circle.btn--circle-pink.open-modal.desktop(href="#modal__callback")
            i.fa.fa-phone
          a.btn.btn--circle.btn--circle-pink.mobile(href="tel:+79780241220")
            i.fa.fa-phone
          a.header__link(href="tel:+79780241220") +7 (978) 024-12-20


    // /.container
  // /.header__nav
