mixin paginator()
  ul.paginator
    li
      a.slick-arrow.slick-prev.prev(href='#')

    li.current
      span.page-numbers 1
    li
      a.page-numbers(href='#') 2
    li
      a.page-numbers(href='#') 3
    li
      a.slick-arrow.slick-next.next(href='#')


  // /.paginator
