mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        .bg-img
        h1.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
          strong Комплексный подход
          |  к решению
          br
          |  стоматологических задач
          br
          |  для создания Вашей улыбки

        .scr1__free
          .form.form--free
            form.wpcf7-form
              .scr1__free-wrap
                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input.text-input--icon
                    span.icon__wrap
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#form-phone")
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

                .form__item.form__item--submit
                  .btn__wrap.btn__wrap--pink
                    input.wpcf7-form-control.wpcf7-submit.btn--pink(type='submit', value='Записаться на бесплатную консультацию')

        a.video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
          .video__btn
            span.video__play

          .video__content
            .video__text Смотреть&nbsp;
              span видео
              br
              |  о клинике

  // /.scr1
