mixin scr_services()
  section.scr_services.services(id="scr_services")
    .container
      .services__top.section__top
        h2.title Поможем
          strong  сохранить и вернуть
            br
            |  здоровье
          |  ваших зубов

        a.link(href="#")
          span.link__icon
            img(src="img/svg/icons/file.svg", alt="Иконка")
          span.link__text Открыть полный
            br
            strong  прайс
            |  на услуги

      .row
        .col-md-6
          ul.services__nav
            li.services__nav-item
              a(href="#serv_tab_0")
                span.services__nav-title Ортопедия
                span.services__nav-img
                  noscript
                    img.lazy(src="img-temp/services/img-serv-1.jpg" alt="" width="400" height="224" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-serv-1.jpg" alt="" width="400" height="224" data-object-fit-cover)

            li.services__nav-item.active
              a(href="#serv_tab_1")
                span.services__nav-title Хирургия
                span.services__nav-img
                  noscript
                    img.lazy(src="img-temp/services/img-serv-2.jpg" alt="" width="431" height="242" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-serv-2.jpg" alt="" width="431" height="242" data-object-fit-cover)

            li.services__nav-item
              a(href="#serv_tab_2")
                span.services__nav-title Терапия
                span.services__nav-img
                  noscript
                    img.lazy(src="img-temp/services/img-serv-3.jpg" alt="" width="431" height="242" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-serv-3.jpg" alt="" width="431" height="242" data-object-fit-cover)

            li.services__nav-item
              a(href="#serv_tab_3")
                span.services__nav-title Ортодонтия
                span.services__nav-img
                  noscript
                    img.lazy(src="img-temp/services/img-serv-4.jpg" alt="" width="431" height="242" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/services/img-serv-4.jpg" alt="" width="431" height="242" data-object-fit-cover)

        .col-md-6
          ul.services__tabs
            li.services__tab#serv_tab_0
              .services__item
                h3 Ортопедия

                table
                  tbody
                    tr
                      th Операция удаления постоянного зуба простое
                      td 1 200 руб.
                    tr
                      th Операция удаления постоянного зуба сложное с разъединением корней
                      td 2 000 руб.

                .services__bottom
                  a.services__link(href="#") Подробнее

            li.services__tab.active#serv_tab_1
              .services__item
                h3 Хирургия

                table
                  tbody
                    tr
                      th Операция удаления постоянного зуба простое
                      td 1 200 руб.
                    tr
                      th Операция удаления постоянного зуба сложное с разъединением корней
                      td 32 000 руб.
                    tr
                      th Операция удаления имплантата простое
                      td 5 200 руб.

                .services__bottom
                  a.services__link(href="#") Подробнее


  // /.scr_services
