mixin scr_contacts()
  section.scr_contacts.contacts.second-wrap(id="scr_contacts")
    .container
      .white-wrap
        .contacts__content
          .contacts__info
            .contacts__item
              p.contacts__text г. Симферополь, ул. Железнодорожная, 1В

            .contacts__item
              p.contacts__text ПН-ПТ: 9:00-20:00, СБ 9:00-14:00, ВС - выходной

            .contacts__item
              .msg__wrap
                a.contacts__link(href="tel:+79780241220")
                  strong +7 (978) 024-12-20
                a.msg.msg--vi(href="viber://chat?number=79780241220")
                  svg.msg__icon
                    use(xlink:href="img/svg/sprite.svg#icon-viber")
                a.msg.msg--wa(href="https://api.whatsapp.com/send?phone=79780241220")
                  svg.msg__icon
                    use(xlink:href="img/svg/sprite.svg#icon-wa")

            .contacts__item.contacts__item--icon
              //- span.msg
              //-   img(src="img/icon-envelope.png" alt="")

              a.contacts__link(href="mailto:test@aldentix.ru" rel="nofollow") test@aldentix.ru

            .contacts__item.contacts__item--icon
              .msg.msg--insta
                img(src="img/svg/orig/icon-insta.svg" alt="")

              a.contacts__link(href="#" rel="nofollow") aldentiks


  // /.scr_contacts
