mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      .blog__top.section__top
        h2.title Полезная информация

        a.link(href="#")
          span.link__icon
            img(src="img/svg/icons/news.svg", alt="Иконка")
          span.link__text Все новости

      .blog__slider.slider1#blog__slider
        .blog__slides.slider1__slides
          .blog__slide.slider1__slide
            .blog__item
              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/blog/img-blog-1.jpg" alt="" width="640" height="427" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-blog-1.jpg" alt="" width="640" height="427" data-object-fit-cover)

              .blog__time
                time(datetime='2019-08-21') 21.08.19

              .blog__content
                a(href="#")
                  h3 Как подготовиться
                    br
                    |  к посещению стоматолога?

              .blog__bottom
                a.services__link(href="#") Подробнее

          .blog__slide.slider1__slide
            .blog__item
              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/blog/img-blog-2.jpg" alt="" width="640" height="427" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-blog-2.jpg" alt="" width="640" height="427" data-object-fit-cover)

              .blog__time
                time(datetime='2019-08-21') 21.08.19

              .blog__content
                a(href="#")
                  h3 Как понять, когда можно
                    br
                    |  сохранить зуб?

              .blog__bottom
                a.services__link(href="#") Подробнее

          .blog__slide.slider1__slide
            .blog__item
              a.blog__img(href="#")
                noscript
                  img.lazy(src="img-temp/blog/img-blog-3.jpg" alt="" width="640" height="427" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/blog/img-blog-3.jpg" alt="" width="640" height="427" data-object-fit-cover)

              .blog__time
                time(datetime='2019-08-21') 21.08.19

              .blog__content
                a(href="#")
                  h3 Что делать, если появился
                    br
                    |  флюороз на зубах

              .blog__bottom
                a.services__link(href="#") Подробнее

        .blog__nav.slider1__nav

  // /.scr_blog
