mixin scr_about()
  section.scr_about.about.second-wrap(id="scr_about")
    .container
      .white-wrap
        +scr_features2

        .about__bottom
          h2.title2 Наша клиника

          .about__slider.slider1#about__slider
            .about__slides.slider1__slides
              .about__slide.slider1__slide
                a.about__item.fancybox(href="img-temp/about/img-about-1.jpg" data-fancybox-group="about")
                  noscript
                    img.lazy(src="img-temp/about/img-about-1--small.jpg" alt="" width="640" height="426" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about/img-about-1--small.jpg" alt="" width="640" height="426" data-object-fit-cover)
              .about__slide.slider1__slide
                a.about__item.fancybox(href="img-temp/about/img-about-2.jpg" data-fancybox-group="about")
                  noscript
                    img.lazy(src="img-temp/about/img-about-2--small.jpg" alt="" width="640" height="426" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about/img-about-2--small.jpg" alt="" width="640" height="426" data-object-fit-cover)
              .about__slide.slider1__slide
                a.about__item.fancybox(href="img-temp/about/img-about-1.jpg" data-fancybox-group="about")
                  noscript
                    img.lazy(src="img-temp/about/img-about-1--small.jpg" alt="" width="640" height="426" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/about/img-about-1--small.jpg" alt="" width="640" height="426" data-object-fit-cover)


            .about__nav.slider1__nav

          section.certs
            h2.title2 Лицензии

            .certs__slider.slider1#certs__slider
              .certs__slides.slider1__slides
                .certs__slide.slider1__slide
                  a.certs__item.fancybox(href="img-temp/img-certs.jpg" data-fancybox-group="certs")
                    .certs__img
                      img.lazy(src="img-temp/img-certs--small.jpg" alt="" width="322" height="448" data-object-fit-cover)
                .certs__slide.slider1__slide
                  a.certs__item.fancybox(href="img-temp/img-certs.jpg" data-fancybox-group="certs")
                    .certs__img
                      img.lazy(src="img-temp/img-certs--small.jpg" alt="" width="322" height="448" data-object-fit-cover)
                .certs__slide.slider1__slide
                  a.certs__item.fancybox(href="img-temp/img-certs.jpg" data-fancybox-group="certs")
                    .certs__img
                      img.lazy(src="img-temp/img-certs--small.jpg" alt="" width="322" height="448" data-object-fit-cover)
                .certs__slide.slider1__slide
                  a.certs__item.fancybox(href="img-temp/img-certs.jpg" data-fancybox-group="certs")
                    .certs__img
                      img.lazy(src="img-temp/img-certs--small.jpg" alt="" width="322" height="448" data-object-fit-cover)

              .certs__nav.slider1__nav

    // /.scr_about
