mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      .section__top.reviews__top
        h2.title Более
          strong  1000
          |  счастливых улыбок

        a.link(href="#")
          span.link__icon
            img(src="img/svg/icons/testimonial.svg", alt="Иконка")
          span.link__text Все отзывы

      .reviews__slider.slider1#reviews__slider
        .reviews__slides.slider1__slides
          .reviews__slide.slider1__slide
            .reviews__item
              .reviews__wrap

              .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                h3 Анастасия

                p.reviews__info Процедура: удаление зуба
                p.reviews__info Врач: Черкасов Алексей Сергеевич

                p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что придётся удалять, врач посмотрел и я даже не почувствовала как удалил зуб. Лучший в своём деле и очень приятный мужчина.

            // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide
            .reviews__item
              .reviews__wrap

              .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                h3 Елена Николаевна

                p.reviews__info Процедура: протезирование
                p.reviews__info Врач: Черкасова Ксения Евгеньевна

                p.reviews__text Спасибо большое. Профессионализим во всем и в работе, и в обслуживании.Протезирование прошло безболезненно. Подбрали идеально цвет, невозможно отличить от своих зубов

            // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide
            .reviews__item
              .reviews__wrap

              .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                h3 Анастасия

                p.reviews__info Процедура: удаление зуба
                p.reviews__info Врач: Черкасов Алексей Сергеевич

                p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что придётся удалять, врач посмотрел и я даже не почувствовала как удалил зуб. Лучший в своём деле и очень приятный мужчина.

            // /.reviews__item
          // /.reviews__slide

        .reviews__nav.slider1__nav

        // /.slider1__nav





  // /.scr_reviews


mixin scr_reviews--page()
  section.scr_reviews.reviews.reviews--page(id="scr_reviews")
    .container

      p.title.title--top Более
        strong  1000
        |  счастливых улыбок

      .reviews__slider
        .reviews__slides
          .reviews__slide
            .reviews__cont
              .reviews__item
                .reviews__wrap

                .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                  h3 Анастасия

                  p.reviews__info Процедура: удаление зуба
                  p.reviews__info Врач: Черкасов Алексей Сергеевич

                  p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что прид
              // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide
            .reviews__cont
              .reviews__item
                .reviews__wrap

                .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                  h3 Елена Николаевна

                  p.reviews__info Процедура: протезирование
                  p.reviews__info Врач: Черкасова Ксения Евгеньевна

                  p.reviews__text Спасибо большое. Профессионализим во всем и в работе, и в обслуживании. Протезирование прошло безболезненно. Подбрали идеально цвет, невозможно отличить от своих зубов

              // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide
            .reviews__cont
              .reviews__item
                .reviews__wrap

                .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                  h3 Анастасия

                  p.reviews__info Процедура: удаление зуба
                  p.reviews__info Врач: Черкасов Алексей Сергеевич

                  p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что придётся удалять, врач посмотрел и я даже не почувствовала как удалил зуб. Лучший в своём деле и очень приятный мужчина.

              // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide
            .reviews__cont
              .reviews__item
                .reviews__wrap

                .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                  h3 Анастасия

                  p.reviews__info Процедура: удаление зуба
                  p.reviews__info Врач: Черкасов Алексей Сергеевич

                  p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что придётся удалять, врач посмотрел и я даже не почувствовала как удалил зуб. Лучший в своём деле и очень приятный мужчина.

              // /.reviews__item
          // /.reviews__slide


          .reviews__slide.slider1__slide
            .reviews__cont
              .reviews__item
                .reviews__wrap

                .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                  h3 Анастасия

                  p.reviews__info Процедура: удаление зуба
                  p.reviews__info Врач: Черкасов Алексей Сергеевич

                  p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что придётся удалять, врач посмотрел и я даже не почувствовала как удалил зуб. Лучший в своём деле и очень приятный мужчина.

              // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide.reviews__form
            .form.wpcf7.form--general.form--reviews
              .form__wrap
              form.wpcf7-form
                p.form__title-blue Нам важны мнения наших клиентов,
                  br
                  |  будем благодарны за обратную связь

                .form__df
                  .form__left
                    .form__item
                      span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                        span.icon__wrap
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#form-user")
                        input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

                    .form__item
                      span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                        span.icon__wrap
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#form-user")
                        select.wpcf7-form-control.wpcf7-text.wpcf7-spec(name='doctor')
                          option(value='', selected='') Врач
                          option(value='Черкасов') Черкасов Алексей Сергеевич
                          option(value='2') Иванов Иван Иванович

                    .form__item
                      span.wpcf7-form-control-wrap.your-name.text-input.text-input--icon
                        span.icon__wrap
                          svg.icon
                            use(xlink:href="img/svg/sprite.svg#form-serv")
                        select.wpcf7-form-control.wpcf7-text.wpcf7-spec(name='doctor')
                          option(value='', selected='') Услуга
                          option(value='удаление зуба') удаление зуба
                          option(value='протезирование') протезирование


                  .form__right
                    .form__item
                      span.wpcf7-form-control-wrap.your-question.textarea-input.text-input.text-input--icon
                        label(for="question-ta")
                          span.icon__wrap
                            svg.icon
                              use(xlink:href="img/svg/sprite.svg#form-msg")
                          //- span.text Ваш отзыв
                        textarea#question-ta.wpcf7-form-control.wpcf7-textarea(name='your-review', cols='40', rows='10', aria-invalid='false', placeholder='Ваш отзыв')

                .form__df
                  .form__left
                    .form__item
                      span.wpcf7-form-control-wrap.accept
                        span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                          span.wpcf7-list-item
                            label
                              input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                              span.wpcf7-list-item-label Согласие на обработку персональных данных
                                i.accept__icon

                  .form__right
                    .form__item.form__item--submit
                      .btn__wrap.btn__wrap--green
                        input.wpcf7-form-control.wpcf7-submit.btn--green(type='submit', value='Отправить')

  // /.scr_reviews
