mixin scr_reviews()
  section.scr_reviews.reviews(id="scr_reviews")
    .container
      .section__top.reviews__top
        h2.title Более
          strong  1000
          |  счастливых улыбок

        a.link(href="#")
          span.link__icon
            img(src="img/svg/icons/testimonial.svg", alt="Иконка")
          span.link__text Все отзывы

      .reviews__slider.slider1#reviews__slider
        .reviews__slides.slider1__slides
          .reviews__slide.slider1__slide
            .reviews__item
              .reviews__wrap

              .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                h3 Анастасия

                p.reviews__info Процедура: удаление зуба
                p.reviews__info Врач: Черкасов Алексей Сергеевич

                p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что придётся удалять, врач посмотрел и я даже не почувствовала как удалил зуб. Лучший в своём деле и очень приятный мужчина.

            // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide
            .reviews__item
              .reviews__wrap

              .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                h3 Елена Николаевна

                p.reviews__info Процедура: протезирование
                p.reviews__info Врач: Черкасова Ксения Евгеньевна

                p.reviews__text Спасибо большое. Профессионализим во всем и в работе, и в обслуживании.Протезирование прошло безболезненно. Подбрали идеально цвет, невозможно отличить от своих зубов

            // /.reviews__item
          // /.reviews__slide

          .reviews__slide.slider1__slide
            .reviews__item
              .reviews__wrap

              .reviews__content.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s")
                h3 Анастасия

                p.reviews__info Процедура: удаление зуба
                p.reviews__info Врач: Черкасов Алексей Сергеевич

                p.reviews__text Выражаю благодарность доктору Алексею Сергеевичу. Сильно боялась, что придётся удалять, врач посмотрел и я даже не почувствовала как удалил зуб. Лучший в своём деле и очень приятный мужчина.

            // /.reviews__item
          // /.reviews__slide

        .reviews__nav.slider1__nav

        // /.slider1__nav





  // /.scr_reviews
