mixin scr_features()
  section.scr_features.features(id="scr_features")
    .bg-img
    .container
      .features__wrap
        h2.title
          strong 4 принципа
          br
          |  успешного лечения от Альдентикс

        ul.features__list
          li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.2s")
            .features__icon
              img(src="img/svg/icons/insurance.svg" alt="иконка")
            .features__item-wrap.wrap1__wrap
            .features__content
              h3 Гарантия
              p Мы даем гарантию на предоставляемые услуги,
                br
                |  в случае соблюдения пациентов всех наших рекомендаций
          // /.features__item

          li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.3s")
            .features__icon
              img(src="img/svg/icons/dentist.svg" alt="иконка")
            .features__item-wrap.wrap1__wrap
            .features__content
              h3 Врачи экспертного уровня
              p Лечение проводят врачи высокой квалификаия со средним опытом работы 11 лет. Все специалисты проходят непрерывное обучение
          // /.features__item

          li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.4s")
            .features__icon
              img(src="img/svg/icons/price.svg" alt="иконка")
            .features__item-wrap.wrap1__wrap
            .features__content
              h3 Детальный подход
              p Мы детально диагностируем ваш случай, развернуто объясняем причину и представляем выбор возможных решений под ваш бюджет.
          // /.features__item

          li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.5s")
            .features__icon
              img(src="img/svg/icons/tooth.svg" alt="иконка")
            .features__item-wrap.wrap1__wrap
            .features__content
              h3 Оперативная помощь
              p Мы работаем в выходные дни, поэтому принимаем в удобное для Вас время и оказываем неотложную помощь при острой боли
          // /.features__item

  // /.scr_features

mixin scr_features2()
  section.scr_features.features.features--about(id="scr_features")
    .features__wrap
      .about__content
        p.about__text Знание, опыт, профессионализм и мастерство наших врачей, оснащение клиники, а&nbsp;также постоянное внедрение инноваций (новых материалов, технологий, методов лечения) позволяют оказывать качественную стоматологическую помощь на высоком уровне.

        p.about__text Каждый пациент - это в первую очередь наш гость! Гарантируем индивидуальный подход, уважение и внимание абсолютно всех сотрудников клиники.

      ul.features__list
        li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.2s")
          .features__icon
            img(src="img/svg/icons/insurance.svg" alt="иконка")
          .features__item-wrap.wrap1__wrap
          .features__content
            h3 Гарантия
            p Мы даем гарантию на предоставляемые услуги,
              br
              |  в случае соблюдения пациентов всех наших рекомендаций
        // /.features__item

        li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.3s")
          .features__icon
            img(src="img/svg/icons/dentist.svg" alt="иконка")
          .features__item-wrap.wrap1__wrap
          .features__content
            h3 Врачи экспертного уровня
            p Лечение проводят врачи высокой квалификаия со средним опытом работы 11 лет. Все специалисты проходят непрерывное обучение
        // /.features__item

        li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.4s")
          .features__icon
            img(src="img/svg/icons/price.svg" alt="иконка")
          .features__item-wrap.wrap1__wrap
          .features__content
            h3 Детальный подход
            p Мы детально диагностируем ваш случай, развернуто объясняем причину и представляем выбор возможных решений под ваш бюджет.
        // /.features__item

        li.features__item.wrap1.wow.fadeInUp(data-wow-duration="0.8s" data-wow-delay="0.5s")
          .features__icon
            img(src="img/svg/icons/tooth.svg" alt="иконка")
          .features__item-wrap.wrap1__wrap
          .features__content
            h3 Оперативная помощь
            p Мы работаем в выходные дни, поэтому принимаем в удобное для Вас время и оказываем неотложную помощь при острой боли
        // /.features__item

  // /.scr_features
