mixin scr_prices()
  section.scr_prices.prices.second-wrap(id="scr_prices")
    .container
      ul.services__nav.services__nav--second
        li.services__nav-item.without-tabs
          a(href="#serv_tab_0")
            span.services__nav-title Ортопедия

        li.services__nav-item.active
          a(href="#serv_tab_1")
            span.services__nav-title Хирургия

        li.services__nav-item.without-tabs
          a(href="#serv_tab_2")
            span.services__nav-title Терапия

        li.services__nav-item.without-tabs
          a(href="#serv_tab_3")
            span.services__nav-title Ортодонтия

      .white-wrap
        .prices__item
          h2.title
            strong Хирургическая стоматология

          table.table-top
            thead
              tr
                td Перечень услуг
                td Цена
            tbody
              tr
                td Восстановление зуба пломбой  из стеклоиномерного   цемента  при кариесе эмали K02.0
                td 1 850 руб.
              tr
                td Восстановление зуба пломбой  из стеклоиномерного   цемента  при кариесе дентина K02.1
                td 2 100 руб.
              tr
                td Восстановление зуба пломбой  из стеклоиномерного   цемента  при кариесе цемента  K02.2
                td 2 400 руб.
              tr
                td Восстановление зуба пломбой  из фотополимерного материала (Charisma)  при кариесе эмали  K02.0
                td 2 100 руб.
              tr
                td Восстановление зуба пломбой  из фотополимерного материала (Charisma)   при кариесе дентина  K02.1
                td 2 300 руб.
              tr
                td Восстановление зуба пломбой  из фотополимерного материала (Charisma)   при кариесе цемента  K02.2
                td 2 800 руб.
              tr
                td Восстановление зуба пломбой  из фотополимерного материала (Filtek supreme)  при кариесе эмали K02.0
                td 2 350 руб.

          table.table-bottom
            tbody
              tr
                td.strong(colspan="2") Пульпит 1 корневого зуба 1 ое посещение
              tr
                td Сошлифовывание твердых тканей зуба при лечении: Раскрытие пульповой камеры.
                  br
                  |  Наложение девитализирующая паста Восстановление зуба пломбой временной кавесил
                td 1 750 руб.

              tr
                td.strong(colspan="2") Пульпит 1 корневого зуба 2 ое посещение
              tr
                td Экстирпация пульпы
                  br
                  |  Инструментальная и медикаментозная обработка 1  канала (от сложности)
                  br
                  |  Пломбирование корневого канала:временное (1 канал) Ultracal, Metapex(от сложн.)
                  br
                  |  Восстановление зуба пломбой временной кавесил
                td 1 600 руб.



  // /.scr_prices
