doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    title Бизнес-аналитик | решаем задачи Вашего бизнеса

    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')

    // Template Basic Images Start
    //- link(rel='icon', sizes='32x32', href='img/favicon/favicon-32x32.png')
    //- link(rel='icon', sizes='16x16', href='img/favicon/favicon-16x16.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    meta(name='theme-color', content='#1da4a4')
    // Custom Browsers Color End

    include blocks/scripts.pug
    include blocks/script-map.pug
    include blocks/styles.pug
    include blocks/header.pug

    include blocks/paginator.pug

    include blocks/nav--about.pug
    include blocks/scr_about.pug
    include blocks/scr_profi.pug
    include blocks/scr_licenses.pug

    include blocks/footer.pug

    //- ToDo: Перенести first-load.css в inline!!!
    +styles-top

  body.secondary-page.about-page

    +header("a")

    #page_wr.page_wr
      .bg-circles
        .container
          h1.title О компании

        +scr_about--about
        +scr_profi
        +scr_licenses


    +footer("a")

    +styles-bottom
    +scripts
