.cond
  position: relative
  background-color: $accent
  padding-top: 50px
  padding-bottom: 40px
  z-index: 17
  &::before,
  &::after
    content: ''
    position: absolute
    left: 50%

    min-width: 1920px
    width: 100%
    height: 295px
    transform: translateX(-50%)
    background: transparent url('../img/cond-bg.png') no-repeat bottom center
    background-size: cover
    z-index: -1
  &::before
    transform: rotateX(180deg) translateX(-50%)
    top: -60px
  &::after
    bottom: -80px
  .title
    color: #eae6ce
    text-align: left
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    margin-top: 114px
  &__item
    position: relative
    max-width: 25%
    margin-right: 50px
    padding-left: 20px
    z-index: 1
    &::before
      content: ''
      position: absolute
      top: -21px
      left: -16px

      width: 46px
      height: 35px
      background: transparent url('../img/tick.png') no-repeat center center
      background-size: contain
      z-index: -1
    &:last-of-type
      margin-right: 0
    &:hover
      .cond__num
        transform: translateY(-25px)
        opacity: 0.7
  &__text
    font-size: 14px
    line-height: 20px
    font-weight: 600
    color: #eae6ce
    a
      display: block
      font-size: 16px
      color: #eae6ce
      text-decoration: none
      transition: 0.3s
      &:hover
        color: $accent2
  &__num
    position: absolute
    left: 15px
    top: -40px

    display: block
    font-size: 100px
    line-height: 56px
    font-weight: 600
    color: #eae6ce
    opacity: 0.05
    z-index: -2
    transition: 0.6s


  @media screen and (max-width: 1170px)
    padding-bottom: 20px
    &__list
      margin-top: 84px
    &__item
      width: 25%
    &__text
      font-size: 13px
      a
        font-size: 14px
      br
        display: none

  // max-width 1170px

  @media screen and (max-width: 991px)
    &__item
      margin-right: 20px
      &::before
        left: -6px
    &__num
      font-size: 83px
    &__text
      font-size: 12px
      line-height: 17px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__list
      flex-wrap: wrap
      justify-content: flex-start
    &__item
      width: calc((100% - 40px) / 3)
      max-width: 100%
      margin-bottom: 50px
      &:nth-of-type(3n)
        margin-right: 0
    &__num
      font-size: 74px

  // max-width 767px

  @media screen and (max-width: 575px)
    &__list
      margin-top: 64px
    &__item
      width: calc((100% - 20px) / 2)
      &:nth-of-type(3n)
        margin-right: 20px
      &:nth-of-type(2n)
        margin-right: 0

  // max-width 575px

  @media screen and (max-width: 450px)
    padding-top: 30px
    padding-bottom: 0
    &__item
      width: 100%
      margin-right: 0
      &:nth-of-type(3n)
        margin-right: 0
      &:last-of-type
        margin-bottom: 0

  // max-width 450px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* cond */
