.cta
  position: relative
  background: transparent url('../img/cta-bg-2.png') no-repeat center center
  background-size: cover
  padding-top: 120px
  padding-bottom: 80px
  .title
    font-size: 36px
    line-height: 1.111111111111111 /* 40 / 36 */
  &__wrap
    margin-left: 68px
    margin-right: 68px
    padding-top: 37px
    padding-bottom: 50px
    box-shadow: 4px 8px 16px 0px rgba(29,57,39,0.4)
    background-color: #eae6ce
    border-radius: 6.0px
  .form
    background: none
    padding-top: 37px
    padding-left: 78px
    padding-right: 83px
    padding-bottom: 0
    .accept
      display: block
      margin-top: 25px
      label
        color: $accent
        text-align: center
        & > span
          .accept__icon
            border-color: $accent
            &::before
              border-color: $accent


  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* cta */
