.irp
  position: relative
  z-index: 1
  padding-top: 78px
  padding-bottom: 25px
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: transparent url('../img/svg/irp-decor.svg') no-repeat center center
    background-size: cover
    opacity: 0.03
    z-index: -1
  &__list
    display: flex
    flex-wrap: wrap
    margin-top: 48px
  &__item
    width: 25%
    padding-right: 20px
    margin-bottom: 70px
    &:hover
      .irp__icon
        transform: translateY(-5px)
  &__icon
    height: 41px
    margin-bottom: 19px
    transition: 0.3s
    img
      width: auto
      max-height: 100%
  &__text
    font-size: 16px
    line-height: 1.25 /* 20 / 16 */
    font-weight: 600


  @media screen and (max-width: 1070px)
    &__item
      margin-bottom: 50px
    &__text
      font-size: 14px

  // max-width 1070px

  @media screen and (max-width: 991px)
    &__text
      br
        display: none

  // max-width 991px

  @media screen and (max-width: 767px)
    &__text
      font-size: 13px
    &__icon
      height: 36px
      margin-bottom: 14px

  // max-width 767px

  @media screen and (max-width: 650px)
    &__item
      width: 33.3%
      margin-bottom: 30px
      padding-right: 10px

  // max-width 650px

  @media screen and (max-width: 575px)
    padding-bottom: 60px
    &__list
      margin-top: 28px
    &__item
      padding-top: 20px

  // max-width 575px

  @media screen and (max-width: 374px)
    padding-top: 68px
    &__list
      margin-top: 18px
    &__text
      font-size: 12px

  // max-width 374px

/* irp */
