.socks
  position: relative
  z-index: 12
  background-color: $accent
  padding-top: 38px
  padding-bottom: 20px
  &::before
    content: ''
    position: absolute
    top: -50px
    left: calc(50% - 958px)

    width: 1917px
    height: 77px
    background: transparent url('../img/cta-bg-top.png') no-repeat top center
    background-size: cover
    // z-index: -1
  &__wrap
    position: relative
    z-index: 2
  &__img
    position: absolute
    left: 54.82456140350877%
    bottom: -128px
    width: 563px
    height: 529px
    max-height: calc(100% + 116px)
    z-index: 10
  &__content
    max-width: 55.08771929824561%
  .title
    padding-left: 42px
    color: #eae6ce
    text-align: left

  &__list
    margin: 0
    padding: 0
    list-style: none
    margin-top: 38px
    padding-left: 68px
    & > li
      position: relative
      margin-bottom: 28px
      font-weight: 500
      color: #eae6ce
      &::before
        content: ''
        position: absolute
        top: 2px
        left: -37px

        width: 17px
        height: 17px
        background: transparent url('../img/star.png') no-repeat center center
        background-size: contain
      &:last-of-type
        margin-bottom: 0
  &__bottom
    display: flex
    align-items: center
    padding-left: 44px
    margin-top: 57px
  &__prices
    display: flex
    align-items: center
  &__price
    display: block
    margin-right: 54px
    font-size: 48px
    line-height: 1.041666666666667 /* 50 / 48 */
    font-weight: 600
    color: #eae6ce
    small
      font-weight: 400
    &--old
      font-size: 18px
      margin-right: 49px
      text-decoration: line-through
      font-weight: 400
  &__btns
    .btn
      min-width: 200px


  @media screen and (max-width: 1170px)
    &__price
      &--old
        margin-right: 29px
        font-size: 16px
      &--current
        margin-right: 24px
        font-size: 43px
    &__btns
      margin-left: auto
      padding-right: 25px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__list
      & > li
        margin-bottom: 20px
    &__prices
      flex-direction: column
      align-items: flex-start
    &__price
      &--old
        margin-bottom: 5px

  // max-width 1070px

  @media screen and (max-width: 991px)
    .title
      padding-left: 0
    &__list
      padding-left: 38px
    &__bottom
      padding-left: 0
      margin-top: 37px
      align-items: flex-end
    &__img
      left: 50.824561%

  // max-width 991px

  @media screen and (max-width: 840px)
    &__bottom
      flex-direction: column
      align-items: flex-start
    &__btns
      margin-left: 0
      margin-top: 20px
    &__price
      &--current
        margin-right: 0
    &__content
      max-width: 56.087719%
    &__img
      left: 56.824561%

  // max-width 840px

  @media screen and (max-width: 700px)
    &__list
      margin-top: 28px
      padding-left: 32px
      & > li
        margin-bottom: 14px
        font-size: 14px
        &::before
          left: -32px
    &__price
      &--current
        font-size: 40px
    &__bottom
      margin-top: 33px

  // max-width 700px

  @media screen and (max-width: 575px)
    &__list
      margin-top: 23px
      padding-left: 20px
      & > li
        margin-bottom: 10px
        &::before
          left: -22px
          width: 15px
          height: 15px
    &__price
      &--old
        margin-right: 0
        font-size: 15px
      &--current
        font-size: 35px
    &__img
      left: 47.824561%
      bottom: -98px
      width: 393px
      height: 469px
      max-height: calc(100% + 66px)

  // max-width 575px

  @media screen and (max-width: 500px)
    &__img
      left: 30.824561%
      bottom: -40px
      opacity: 0.2
      z-index: -1
    &__content
      max-width: 100%
    &__btns
      width: 100%
      padding-right: 0
      text-align: center

  // max-width 500px

/* socks */
