@font-face
  font-family: 'Exo 2.0'
  font-display: swap
  src: local('Exo 2.0'),
  url('../fonts/Exo20-Regular.woff2') format('woff2'),
  url('../fonts/Exo20-Regular.woff') format('woff'),
  url('../fonts/Exo20-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Exo 2.0'
  font-display: swap
  src: local('Exo 2.0'),
  url('../fonts/Exo20-Medium.woff2') format('woff2'),
  url('../fonts/Exo20-Medium.woff') format('woff'),
  url('../fonts/Exo20-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Exo 2.0'
  font-display: swap
  src: local('Exo 2.0'),
  url('../fonts/Exo20-SemiBold.woff2') format('woff2'),
  url('../fonts/Exo20-SemiBold.woff') format('woff'),
  url('../fonts/Exo20-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Exo 2.0'
  font-display: swap
  src: local('Exo 2.0'),
  url('../fonts/Exo20-Bold.woff2') format('woff2'),
  url('../fonts/Exo20-Bold.woff') format('woff'),
  url('../fonts/Exo20-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal
