@charset "UTF-8";
/* ПОДКЛЮЧЕНИЕ ШРИФТОВ  */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro.eot");
  src: url("../fonts/MyriadPro.eot?iefix") format("eot"), url("../fonts/MyriadPro.woff") format("woff"), url("../fonts/MyriadPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* . подключение шрифтов  */
/* ОБЩИЕ СТИЛИ */
body {
  color: #4b5863;
  background-color: #fff;
  font-family: "Montserrat", sans-serif; }

img {
  width: 100%;
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #000; }
  @media (max-width: 767.98px) {
    .title1 {
      font-size: 40px; } }
  @media (max-width: 575.98px) {
    .title1 {
      font-size: 28px;
      font-weight: 600; } }

.title2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #000; }
  @media (max-width: 575.98px) {
    .title2 {
      font-size: 26px; } }

.title3 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #000; }
  @media (max-width: 575.98px) {
    .title3 {
      font-size: 16px; } }

.title__desc {
  opacity: 0.25;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600; }
  @media (max-width: 575.98px) {
    .title__desc {
      font-size: 14px; } }
  .title__desc--title3 {
    opacity: 0.34;
    font-size: 14px;
    line-height: 24px; }
    @media (max-width: 575.98px) {
      .title__desc--title3 {
        font-size: 12px; } }

.text {
  max-width: 500px;
  opacity: 0.34;
  font-size: 16px;
  line-height: 36px; }
  @media (max-width: 575.98px) {
    .text {
      font-size: 14px; } }

.parallax {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-color: #28272e;
  z-index: 1; }

.accent-color {
  color: #43a9ff; }

.red-color {
  color: #fe3254; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.ml-auto {
  margin-left: auto; }

.mlr-auto {
  margin: 0 auto; }

/* . общие стили  */
/* Переопределение классов  */
.fa {
  font-family: 'Font Awesome 5 Brands','Font Awesome 5 Free'; }

/* . переопределение классов */
.btn {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  display: inline-block;
  /* Делаю через width, height, а не через padding, т.к. по макету все прямоугольные кнопки одинаковые по размеру */
  width: 229px;
  height: 51px;
  font-size: 14px;
  line-height: 51px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #43a9ff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(218, 228, 239, 0.34);
          box-shadow: 0px 0px 35px 0px rgba(218, 228, 239, 0.34);
  -webkit-border-radius: 22.0px;
          border-radius: 22.0px;
  outline: none;
  border: none;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    outline: none;
    border: none; }
  .btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #43a9ff; }
  .btn:focus {
    -webkit-box-shadow: 0px 0px 35px 0px #dae4ef;
            box-shadow: 0px 0px 35px 0px #dae4ef; }
  .btn--cta {
    text-transform: lowercase;
    font-family: "MyriadPro", sans-serif;
    font-weight: 400; }
  .btn--round {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    padding: 0;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 65px 0px #dae4ef;
            box-shadow: 0px 0px 65px 0px #dae4ef; }
    .btn--round .fa {
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
      -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
      transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
      color: rgba(0, 0, 0, 0.8);
      font-size: 19px;
      font-weight: 600; }
    .btn--round:hover, .btn--round:focus {
      background-color: #fff; }
    .btn--round:hover {
      -webkit-box-shadow: 0px 0px 75px 0px #d0dbea;
              box-shadow: 0px 0px 75px 0px #d0dbea; }
      .btn--round:hover .fa {
        color: rgba(67, 169, 255, 0.8); }
    .btn--round:focus {
      -webkit-box-shadow: 0px 0px 75px 10px #d0dbea;
              box-shadow: 0px 0px 75px 10px #d0dbea; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1a3747;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 100; }
  .preloader .percentage {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.5); }
  .preloader--faded {
    visibility: hidden;
    opacity: 0; }
  .preloader .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 80px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .preloader .loader__circle {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: #1a3747;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-animation: circle-delay infinite ease-in-out;
              animation: circle-delay infinite ease-in-out; }

@-webkit-keyframes circle-delay {
  0%, 39%, 100% {
    background-color: #1a3747; }
  40% {
    background-color: #ebf1f7; } }

@keyframes circle-delay {
  0%, 39%, 100% {
    background-color: #1a3747; }
  40% {
    background-color: #ebf1f7; } }

.logo {
  position: relative;
  display: block;
  height: 207px;
  background-color: transparent; }
  .logo__circle {
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    position: absolute;
    top: -207px;
    left: 50%;
    width: 414px;
    height: 414px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 65px 0px rgba(218, 228, 239, 0.55);
            box-shadow: 0px 0px 65px 0px rgba(218, 228, 239, 0.55);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .logo__content {
    position: absolute;
    top: 65px;
    width: 100%; }
  .logo__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 18px;
    letter-spacing: 0.01em;
    font-weight: 600;
    color: #43a9ff;
    text-transform: uppercase; }
  .logo__desc {
    opacity: 0.14;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-transform: uppercase; }
  @media (max-width: 767.98px) {
    .logo {
      height: 150px; }
      .logo__circle {
        top: -150px;
        width: 300px;
        height: 300px; }
      .logo__content {
        top: 45px; }
      .logo__title {
        font-size: 40px; }
      .logo__desc {
        font-size: 16px; } }
  @media (max-width: 575.98px) {
    .logo {
      height: 125px; }
      .logo__circle {
        top: -125px;
        width: 250px;
        height: 250px; }
      .logo__content {
        top: 25px; }
      .logo__title {
        font-size: 35px; }
      .logo__desc {
        font-size: 12px; } }

.logo[href] {
  cursor: pointer; }
  .logo[href]:hover .logo__content, .logo[href]:focus .logo__content {
    -webkit-box-shadow: 0px 0px 75px 0px #d0dbea;
            box-shadow: 0px 0px 75px 0px #d0dbea; }

.header {
  height: 1420px;
  background: #fff url("../img/bg-header.jpg") no-repeat 50% 100%; }
  .header .btn--hamburger,
  .header .btn--search {
    margin-top: 57px; }
  .header .site-title {
    margin-top: 164px;
    margin-bottom: 86px; }
    .header .site-title .title1 {
      margin-bottom: 22px; }
  @media (max-width: 767.98px) {
    .header {
      height: 1000px; }
      .header .btn--hamburger,
      .header .btn--search {
        margin-top: 35px; }
      .header .site-title {
        margin-top: 50px;
        margin-bottom: 100px; } }
  @media (max-width: 575.98px) {
    .header {
      height: 600px;
      background-position: 50% 10%; }
      .header .btn--hamburger,
      .header .btn--search {
        margin-top: -10px; }
      .header .site-title {
        margin-top: 30px; } }

.features {
  padding-top: 106px;
  padding-bottom: 125px;
  background-color: #fff; }
  .features .section-title {
    margin-bottom: 97px; }
    .features .section-title .title__desc {
      margin-bottom: 16px; }
  .features__icon {
    height: 47px;
    margin-bottom: 37px; }
    .features__icon img {
      width: auto;
      height: 100%; }
  .features .title3 {
    margin-bottom: 33px; }
  .features .title__desc--title3 {
    width: 230px; }
  .features .btn-wrap {
    margin-top: 92px; }
  @media (max-width: 991.98px) {
    .features__item {
      padding-bottom: 30px; } }
  @media (max-width: 767.98px) {
    .features {
      padding-top: 80px;
      padding-bottom: 80px; }
      .features .section-title {
        margin-bottom: 60px; }
        .features .section-title .title__desc {
          margin-bottom: 16px; }
      .features .title3 {
        margin-bottom: 16px; }
      .features .title__desc--title3 {
        width: 90%; }
      .features .btn-wrap {
        margin-top: 30px; } }

.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #f7f8fb no-repeat left top;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 2; }

.about__item {
  position: relative;
  padding-top: 184px;
  padding-bottom: 181px;
  background-color: #f7f8fb; }
  .about__item:first-of-type .about__img {
    background-image: url("../img/img-1.jpg"); }
  .about__item:first-of-type .about__content {
    padding-left: 98px; }
  .about__item:last-of-type .about__img {
    left: 50%;
    background-image: url("../img/img-2.jpg"); }

.about .title2 {
  margin-bottom: 32px; }

@media (max-width: 991.98px) {
  .about .title2 {
    font-size: 38px; }
  .about__item {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: transparent; }
    .about__item:first-of-type .about__content {
      padding-left: 40px; } }

@media (max-width: 767.98px) {
  .about__content {
    padding-left: 40px; }
  .about__img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0; }
  .about__item {
    padding-top: 90px;
    padding-bottom: 90px; }
    .about__item:last-of-type .about__img {
      left: 0; }
    .about__item .text {
      opacity: 1;
      color: #000; } }

.cool-stuff {
  background-color: #fff;
  background-image: url(../img/icon-snowflake-1.svg), url(../img/icon-snowflake-2.svg);
  background-repeat: no-repeat;
  background-position: 46px -90px, 110% 115%;
  -webkit-background-size: 674px 674px, 788px 788px;
          background-size: 674px 674px, 788px 788px; }
  .cool-stuff__item {
    position: relative;
    padding-top: 162px;
    padding-bottom: 119px; }
    .cool-stuff__item:last-of-type {
      padding-top: 0;
      padding-bottom: 165px; }
      .cool-stuff__item:last-of-type .cool-stuff__content {
        padding-top: 234px;
        padding-left: 182px; }
  .cool-stuff__content {
    padding-top: 222px; }
  .cool-stuff__img {
    width: 449px;
    height: 677px;
    margin: 0 auto;
    z-index: 10; }
  .cool-stuff .title2 {
    margin-bottom: 30px; }
  @media (max-width: 1199.98px) {
    .cool-stuff__item:last-of-type .cool-stuff__content {
      padding-left: 0; } }
  @media (max-width: 991.98px) {
    .cool-stuff {
      -webkit-background-size: 400px 400px, 450px 450px;
              background-size: 400px 400px, 450px 450px; }
      .cool-stuff__item {
        padding-top: 100px;
        padding-bottom: 80px; }
        .cool-stuff__item:last-of-type {
          padding-bottom: 80px; }
          .cool-stuff__item:last-of-type .cool-stuff__content {
            padding-top: 80px; }
      .cool-stuff__content {
        padding-top: 80px; }
      .cool-stuff__img {
        width: 300px;
        height: auto; }
        .cool-stuff__img img {
          width: 100%;
          height: auto; } }
  @media (max-width: 767.98px) {
    .cool-stuff__item {
      padding-top: 80px;
      padding-bottom: 10px; }
      .cool-stuff__item:last-of-type .cool-stuff__content {
        padding-top: 20px; }
    .cool-stuff__content {
      padding-top: 20px; }
    .cool-stuff__img {
      width: 250px; }
    .cool-stuff .title2 {
      font-size: 36px;
      text-align: center; }
    .cool-stuff .text {
      font-size: 14px; } }

.reviews {
  background-color: #f7f8fb; }
  .reviews__img {
    background: #f7f8fb url("../img/bg-reviews.jpg") no-repeat center bottom; }
  .reviews__content {
    padding-top: 205px;
    padding-bottom: 103px;
    padding-left: 75px; }
  .reviews .title3 {
    margin-bottom: 31px;
    font-size: 48px;
    font-weight: 600; }
  .reviews .text {
    margin-bottom: 69px; }
  .reviews__author {
    display: block;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000;
    font-style: normal; }
  .reviews__position {
    font-style: normal;
    opacity: 0.25;
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #4b5863; }
  @media (max-width: 767.98px) {
    .reviews__img {
      display: none; }
    .reviews__content {
      padding-top: 80px;
      padding-bottom: 80px;
      padding-left: 10px; }
    .reviews .title3 {
      margin-bottom: 31px;
      font-size: 30px;
      text-align: center; }
    .reviews .text {
      margin-bottom: 40px; }
    .reviews__author {
      font-size: 14px; }
    .reviews__position {
      font-size: 14px; } }

.cta {
  padding-top: 128px;
  padding-bottom: 35px;
  background-color: #fff; }
  .cta .title2 {
    margin-bottom: 88px; }
  .cta .title__desc {
    margin-bottom: 18px; }
  @media (max-width: 767.98px) {
    .cta {
      padding-top: 80px;
      padding-bottom: 50px; }
      .cta .title2 {
        margin-bottom: 60px;
        font-size: 30px; }
      .cta .title__desc {
        margin-bottom: 18px;
        font-size: 14px; } }

.footer {
  height: 1136px;
  background: #fff url("../img/bg-footer.jpg") 50% 100% no-repeat; }
  @media (max-width: 767.98px) {
    .footer {
      height: 0;
      background-image: none; } }
