.breadcrumbs
  position: relative
  background: #F4F4F4
  ol
    margin: 0
    padding: 0
    list-style: none
    padding-top: 8px
    padding-bottom: 8px
    li
      position: relative
      display: inline-block

      a,
      span span
        font-size: 14px
        color: #B5B5B5
        text-decoration: none
        transition: 0.3s
        &[href]:hover
          color: $accent

      &:not(:last-of-type)
        &::after
          content: '/'
          margin: 0 4px
          color: #B5B5B5

/* breadcrumbs */
