.header
  position: relative
  background-color: $accent2
  color: #fff
  .logo
    &__wrap
      display: none
  &__df
    display: flex
    align-items: center
    justify-content: space-between
    height: 104px
    padding-left: 26px
  .burger
    display: none
  &__text
    margin-right: 20px
    font-size: 14px
    line-height: 1.714285714285714 /* 24 / 14 */
    b
      font-weight: 500
  &__links
    text-align: right
  &__phone
    display: block
    text-decoration: none
    outline: none
    font-size: 18px
    font-weight: 700
    color: #ffffff
    transition: 0.4s ease-in-out
    .icon
      display: none
    &:hover
      opacity: 0.8
  &__link
    display: block
    outline: none
    font-size: 14px
    color: #ffffff
    transition: 0.4s ease-in-out
    &:hover
      opacity: 0.8


  @media screen and (max-width: 1600px)
    &__df
      height: 74px

  // max-width 1600px

  @media screen and (max-width: 991px)
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 100
    &__df
      height: 64px
      padding-left: 0
    .burger
      display: flex
      margin-right: 20px
    &__text
      margin-right: 40px
    &__links
      margin-left: auto
    &__text
      font-size: 12px
      line-height: 1.6
    &__phone
      font-size: 16px
    &__link
      font-size: 12px
    .logo
      flex-shrink: 0
      width: 70px
      margin-right: 15px
      img
        display: block
      &__wrap
        display: flex
        align-items: center
        margin-right: 30px
      &__text
        max-width: 140px
        font-size: 10px

  // max-width 991px

  @media screen and (max-width: 900px)
    &__df
      height: 54px
    &__text
      display: none
    &__phone
      font-size: 14px
    &__link
      font-size: 12px

  // max-width 900px

  @media screen and (max-width: 500px)
    &__link
      display: none
    &__phone
      font-size: 0
      display: flex
      align-items: center
      justify-content: center
      width: 37px
      height: 37px
      border-radius: 6px
      background-color: #811818
      .icon
        display: block
        width: 20px
        height: 20px
        fill: #fff
      &:hover
        opacity: 1
        background: rgba(#fff,0.3)

  // max-width 500px

/* .header */
