.pager
  position: relative
  margin: 0
  padding: 0
  list-style: none

  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    & > li
      position: relative
      margin-right: 10px
      line-height: 1.2
      transition: 0.3s
      &:last-of-type
        margin-right: 0

      .page-numbers, .prev, .next
        text-decoration: none
        outline: none
        display: flex
        align-items: center
        justify-content: center
        width: 45px
        height: 40px
        border: 1px solid #E2E2E2
        transition: 0.4s ease-in-out
        font-weight: 700
        font-size: 14px
        text-align: center
        &:hover
          background: $accent
          color: #fff
          .icon
            fill: #fff

      .page-numbers:not(.prev):not(.next)
        &.current
          background: $accent
          color: #fff
      .prev,
      .next
        .icon
          display: block
          width: 12px
          height: 9px
      .prev
        .icon
          transform: rotate(180deg)


  @media screen and (max-width: 575px)
    ul
      flex-wrap: wrap

  // max-width 575px

  @media screen and (max-width: 500px)
    ul
      & > li
        margin-right: 5px
        .page-numbers, .prev, .next
          width: 37px
          height: 35px
          font-size: 13px

  // max-width 500px

 /* paginator */
