.brands
  position: relative
  padding-top: 40px
  padding-bottom: 45px
  &__wrap
    position: relative
  &__slider
    overflow: hidden
    margin-bottom: 50px
    &-btns
      display: flex
      align-items: center
      justify-content: space-between
  &__item
    display: flex
    align-items: center
    justify-content: center
    height: 172px
    padding: 30px
    background-color: #ffffff
    border: 1px solid #cccccc
    transition: 0.4s ease-in-out
    img
      display: block
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%
    &:hover
      border-color: $accent


  @media screen and (max-width: 1170px)
    padding-top: 20px
    padding-bottom: 25px
    &__slider
      margin-bottom: 30px
    &__item
      height: 132px

  // max-width 1170px

  @media screen and (max-width: 767px)
    &__item
      height: 112px
      padding: 20px

  // max-width 767px

  @media screen and (max-width: 575px)
    padding-top: 10px
    &__slider
      margin-bottom: 24px

  // max-width 575px

/* brands */
