.blog
  position: relative
  padding-top: 34px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    & > li
      width: calc((100% - 37px) / 2)
      margin-right: 37px
      padding-bottom: 60px
      &:nth-of-type(6n + 2),
      &:nth-of-type(6n + 3),
      &:nth-of-type(6n + 4),
      &:nth-of-type(6n + 5)
        width: calc( (((100% - 37px) / 2) - 37px) / 2)
      &:nth-of-type(3n)
        margin-right: 0
  &__img
    height: 356px
  &__content
    display: flex
    padding-top: 16px
  &__left
    flex-grow: 1
  &__right
    flex-shrink: 0
  &__title
    display: block
    text-decoration: none
    outline: none
    margin-top: 0
    margin-bottom: 2px
    font-size: 18px
    font-weight: 700
    transition: 0.4s ease-in-out
    &:hover
      color: $accent
  &__text
    font-size: 14px
    font-weight: 500
  &--history
    flex-shrink: 0
    width: 31.50984682713348%
    margin-left: 32px
    padding-top: 0
    .blog__list
      display: block
      & > li
        width: 100%
        margin-right: 0
        padding-bottom: 31px
    .blog__img
      height: 270px
  &__top
    &-title
      margin-bottom: 31px
  &--page
    padding-bottom: 63px
    .blog__list
      padding-top: 28px
    .pager
      margin-top: -20px
  &--post
    .blog__text
      line-height: 1.928571428571429
  &--card
    width: 100%
    padding-top: 25px
    padding-bottom: 30px
    margin-left: 0
    .blog__list
      display: flex
      margin-left: 0
      padding-top: 30px
      & > li
        width: calc((100% - 60px) / 3)
        margin-right: 30px
        &:nth-of-type(3n)
          margin-right: 0
    .blog__text
      padding-top: 7px
      font-size: 15px
      line-height: 1.8
    .page-title
      padding-left: 50px
      &::before
        bottom: 8px
        width: 35px
        height: 2px


  @media screen and (max-width: 1400px)
    padding-top: 24px
    &__list
      & > li
        width: calc((100% - 20px) / 2)
        margin-right: 20px
        padding-bottom: 30px
        &:nth-of-type(6n + 2),
        &:nth-of-type(6n + 3),
        &:nth-of-type(6n + 4),
        &:nth-of-type(6n + 5)
          width: calc( (((100% - 20px) / 2) - 20px) / 2)
        &:nth-of-type(3n)
          margin-right: 0
    &__img
      height: 296px
    &__title
      font-size: 16px
      br
        display: none
    &__text
      font-size: 13px
    &--history
      .blog__list
        & > li
          width: 100%
          margin-right: 0
      .blog__img
        height: 220px
    &__top
      &-title
        margin-bottom: 20px
    &--page
      padding-bottom: 33px
      .pager
        margin-top: -5px
    &--card
      .blog__list
        & > li
          width: calc((100% - 60px) / 3)
          margin-right: 30px
          &:nth-of-type(3n)
            margin-right: 0

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__img
      height: 246px
    &__title
      font-size: 14px
    &__text
      font-size: 12px
    &--history
      .blog__img
        height: 170px
    &__top
      &-title
        font-size: 16px

  // max-width 1170px

  @media screen and (max-width: 1070px)
    &__title
      font-size: 13px
    &__list
      & > li
        width: calc((100% - 10px) / 2)
        margin-right: 10px
        padding-bottom: 20px
        &:nth-of-type(6n + 2),
        &:nth-of-type(6n + 3),
        &:nth-of-type(6n + 4),
        &:nth-of-type(6n + 5)
          width: calc( (((100% - 10px) / 2) - 10px) / 2)
        &:nth-of-type(3n)
          margin-right: 0
    &--history
      margin-left: 12px
      .blog__list
        & > li
          width: 100%
          margin-right: 0
    &--card
      margin-left: 0
      .blog__list
        padding-top: 20px
        & > li
          width: calc((100% - 20px) / 3)
          margin-right: 10px
          &:nth-of-type(3n)
            margin-right: 0
      .blog__text
        font-size: 14px
        line-height: 1.6

  // max-width 1070px

  @media screen and (max-width: 767px)
    &--history
      width: 100%
      margin-left: 0
      .blog__list
        display: flex
        flex-wrap: wrap
        & > li
          width: calc((100% - 10px) / 2)
          margin-right: 10px
          &:nth-of-type(2n)
            margin-right: 0
    &--page
      .pager
        margin-top: 0

  // max-width 767px

  @media screen and (max-width: 700px)
    &__list
      & > li
        width: calc((100% - 10px) / 2)
        margin-right: 10px
        padding-bottom: 20px
        &:nth-of-type(6n + 2),
        &:nth-of-type(6n + 3),
        &:nth-of-type(6n + 4),
        &:nth-of-type(6n + 5)
          width: calc((100% - 10px) / 2)
        &:nth-of-type(3n)
          margin-right: 10px
        &:nth-of-type(2n)
          margin-right: 0
    &__content
      flex-direction: column
      padding-top: 10px
    &__right
      order: -1
    &--card
      padding-bottom: 0

  // max-width 700px

  @media screen and (max-width: 430px)
    &--history
      .blog__list
        & > li
          width: 100%
          margin-right: 0

  @media screen and (max-width: 400px)
    &__list
      & > li
        width: 100%
        margin-right: 0
        &:nth-of-type(6n + 2),
        &:nth-of-type(6n + 3),
        &:nth-of-type(6n + 4),
        &:nth-of-type(6n + 5)
          width: 100%
        &:nth-of-type(3n)
          margin-right: 0
    &__img
      height: auto

  // max-width 400px

/* blog */
