.card
  position: relative
  padding-top: 32px
  padding-bottom: 63px
  &__df
    display: flex
    padding-top: 26px
    padding-bottom: 96px
  &__content
    flex-grow: 1
  &__img
    width: 53.46462436177972%
    margin-left: 32px
    padding-right: 49px
  &__title
    margin-bottom: 2px
    font-weight: bold
    font-size: 18px
  &__item
    padding-top: 26px
    .card__title
      margin-bottom: 31px
  &__table
    table
      width: 100%
      border-collapse: collapse
      td
        padding: 16px 25px
        font-weight: 500
        font-size: 14px
        &:nth-of-type(2),
        &:nth-of-type(3)
          text-align: center
      thead
        td
          font-weight: bold
      tbody
        tr
          &:nth-of-type(2n + 1)
            background: #F7F6F6
  &__tabs,
  &__sub-tabs
    margin: 0
    padding: 0
    list-style: none
  &__tracks
    &-item
      position: relative
      display: block
      text-decoration: none
      outline: none
      padding-left: 30px
      padding-right: 30px
      background: #931B1B
      z-index: 1
      &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        display: block
        background: #000000
        opacity: 0
        transition: 0.4s ease-in-out
        z-index: -1
      &::after
        content: ''
        position: absolute
        left: 30px
        right: 30px
        top: 0
        bottom: 0
        display: block
        background: #FFD4D4
        z-index: -2
      p
        display: flex
        align-items: center
        justify-content: center
        height: 250px
        text-align: center
        font-weight: bold
        font-size: 14px
        color: #000000
        transition: 0.4s ease-in-out
      &:hover
        &::before
          opacity: 0.6
        p
          color: #fff
    &-btns
      position: relative
      .swiper-dots
        position: absolute
        bottom: -30px
        justify-content: center
        width: 100%


  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* card */
