.scr_map
  position: relative
  padding-top: 30px
  padding-bottom: 74px
  background: #F4F4F4
  &__wrap
    display: flex
    align-items: center
    justify-content: flex-end
    margin-bottom: 20px
    .swiper-button-prev,
    .swiper-button-next
      .icon
        width: 16px
        fill: #000
      &:hover
        .icon
          fill: #fff
    .swiper-button-prev
      margin-right: 30px
    .swiper-button-next
      margin-left: 30px
    .swiper-button-disabled
      opacity: 1
      display: flex
  &__slider
    overflow: hidden
    .swiper-wrapper
      align-items: center
    .swiper-slide
      width: auto
      a
        display: block
        text-decoration: none
        outline: none
        font-weight: 500
        font-size: 14px
        color: #979797
        cursor: pointer
        transition: 0.4s ease-in-out
        &:hover
          color: $accent
    .swiper-slide-active
      a
        font-size: 20px
        color: #000000
  &__tabs
    margin: 0
    padding: 0
    list-style: none
  &__tab
    &:not(#scr_map__tab-0)
      display: none
  &__places
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    padding-top: 45px
    & > li
      margin-right: 30px
      &:last-of-type
        margin-right: 0
      & > a
        text-decoration: none
        outline: none
        display: flex
        align-items: center
        height: 60px
        padding: 5px 25px
        background: #DCDCDC
        font-weight: 500
        transition: 0.4s ease-in-out
        .icon
          display: block
          width: 30px
          height: 30px
          margin-right: 14px
        &.active,
        &:hover
          color: #fff
          background-color: #931B1B
          .icon
            fill: #fff



  // @media screen and (max-width: 1600px)

  // max-width 1600px

  // @media screen and (max-width: 1400px)

  // max-width 1400px

  // @media screen and (max-width: 1170px)

  // max-width 1170px

  // @media screen and (max-width: 1070px)

  // max-width 1070px

  // @media screen and (max-width: 991px)

  // max-width 991px

  // @media screen and (max-width: 767px)

  // max-width 767px

  // @media screen and (max-width: 575px)

  // max-width 575px

  // @media screen and (max-width: 500px)

  // max-width 500px

  // @media screen and (max-width: 400px)

  // max-width 400px

/* scr_map */
