.side-menu
  position: fixed
  top: 0
  left: 0
  width: 332px
  height: 100vh
  max-height: 100vh
  overflow: auto
  z-index: 300
  &__wrap
    min-height: 100%
    width: 332px
    padding: 30px 0
    background-color: $accent
  &.wide
    width: 642px
  .burger
    display: none
  .logo
    display: block
    margin-bottom: 15px
    &__wrap
      width: 196px
      margin: 0 auto 31px
    &__text
      font-size: 14px
      line-height: 1.2
      color: #ffffff
  .menu
    margin: 0
    padding: 0
    list-style: none
    & > li
      position: relative
      & > a
        text-decoration: none
        outline: none
        display: flex
        align-items: center
        padding: 30px 30px 30px 49px
        font-weight: 500
        color: #ffffff
        transition: 0.4s ease-in-out
        &:hover
          background-color: #811818
      .arrow
        display: none
    &-item
      &__icon
        flex-shrink: 0
        display: block
        width: 27px
        height: 27px
        margin-right: 26px
  .sub-menu
    position: absolute
    top: 0
    left: 100%
    margin: 0
    padding: 0
    list-style: none
    width: 310px
    display: none
    background-color: #811818
    & > li
      & > a
        position: relative
        text-decoration: none
        outline: none
        display: flex
        align-items: center
        padding: 28px 20px 28px 85px
        font-weight: 500
        color: #ffffff
        transition: 0.4s ease-in-out
        &::before
          content: ''
          position: absolute
          left: 50px
          bottom: 35px
          display: block
          width: 20px
          height: 2px
          background: #fff
          transition: 0.4s ease-in-out
        &:hover
          padding-left: 105px
          &::before
            left: 70px


  @media screen and (max-width: 1600px)
    width: 272px
    &__wrap
      width: 272px
    &.wide
      width: 542px
    .sub-menu
      width: 270px
      & > li
        &> a
          font-size: 14px
          padding: 18px 20px 18px 45px
          &::before
            left: 17px
            bottom: 25px
            width: 16px
          &:hover
            padding-left: 55px
            &::before
              left: 30px
    .logo
      &__wrap
        width: 156px
        margin: 0 auto 21px
      &__text
        width: calc(100% + 30px)
        font-size: 12px
    .menu
      & > li
        & > a
          padding: 15px 20px 15px 29px
          font-size: 14px
      &-item
        &__icon
          width: 24px
          height: 24px

  // max-width 1600px

  @media screen and (max-width: 1400px)
    width: 222px
    &__wrap
      width: 222px
    &.wide
      width: 442px
    .sub-menu
      width: 220px
      & > li
        &> a
          font-size: 13px
          padding: 14px 15px 14px 35px
          &::before
            left: 12px
            bottom: 20px
            width: 14px
          &:hover
            padding-left: 45px
            &::before
              left: 20px
    .logo
      &__wrap
        width: 146px
        margin: 0 auto 15px
    .menu
      & > li
        & > a
          padding: 12px 15px
          font-size: 13px
      &-item
        &__icon
          width: 20px
          height: 20px

  // max-width 1400px

  @media screen and (max-width: 991px)
    transform: translateX(-101%)
    transition: 0.4s ease-in-out
    &.active
      transform: translateX(0)
      transition: 0.8s ease-in-out
    .burger
      position: absolute
      top: 10px
      right: 10px
      display: flex
    .logo
      &__wrap
        margin-left: 20px
    &.wide
      width: 222px
    .menu
      & > li
        .arrow
          display: block
          width: 25px
          height: 25px
          margin-left: auto
          background: #811818 url('../img/svg/arrow2.svg') no-repeat center center
          background-size: 5px 8px
          transform: rotate(-90deg)
          &.active
            transform: rotate(90deg)

    .sub-menu
      position: static
      width: 100%
      & > li
        &> a
          font-size: 13px
          padding: 14px 15px 14px 35px
          &::before
            left: 12px
            bottom: 20px
            width: 14px
          &:hover
            padding-left: 45px
            &::before
              left: 20px

  // max-width 991px

/* side-menu */
