.landlord
  position: relative
  padding-top: 32px
  padding-bottom: 59px
  &__df
    display: flex
    padding-top: 15px
  &__content
    flex-grow: 1
  &__form
    flex-shrink: 0
    width: 432px
    margin-left: 32px


  @media screen and (max-width: 1400px)
    &__form
      width: 382px
      margin-left: 22px

  // max-width 1400px

  @media screen and (max-width: 1170px)
    &__form
      width: 342px

  // max-width 1170px

  @media screen and (max-width: 900px)
    &__df
      display: block
    &__form
      width: 400px
      max-width: 100%
      margin: 30px auto 0

  // max-width 900px

  @media screen and (max-width: 575px)
    padding-bottom: 30px

  // max-width 575px

/* landlord */
