.post
  position: relative
  padding-top: 32px
  padding-bottom: 59px
  &__df
    display: flex
  &__wrap
    flex-grow: 1
    padding-top: 33px
  &__img
    height: 356px
  &--2
    .post__df
      padding-top: 25px
    .post__wrap
      padding-top: 0


  @media screen and (max-width: 767px)
    padding-bottom: 0
    &__df
      display: block
    &__img
      height: 276px

  // max-width 767px

  @media screen and (max-width: 500px)
    &__wrap
      padding-top: 13px
    &__img
      height: 216px

  // max-width 500px

/* post */
