.amuse
  position: relative
  padding-top: 31px
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    padding-top: 33px
    & > li
      width: calc((100% - 32px) / 2)
      margin-right: 32px
      padding-bottom: 59px
      &:nth-of-type(2n)
        margin-right: 0
  &__img
    height: 356px
    margin-bottom: 24px
  &__title
    display: block
    text-decoration: none
    outline: none
    font-weight: bold
    font-size: 18px
    transition: 0.4s ease-in-out
    &:hover
      color: $accent
  &__text
    font-size: 14px
    line-height: 1.928571428571429 /* 27 / 14 */
    a
      text-decoration: none
      outline: none
      transition: 0.4s ease-in-out
      &:hover
        color: $accent
  &--post
    flex-shrink: 0
    width: 31.50984682713348%
    margin-left: 32px
    padding-top: 0
    .amuse__list
      display: block
      & > li
        width: 100%
        margin-right: 0
        padding-bottom: 31px
    .amuse__img
      height: 270px


  @media screen and (max-width: 1400px)
    &__list
      & > li
        padding-bottom: 39px
    &__img
      height: 286px

  // max-width 1400px

  @media screen and (max-width: 1300px)
    &__text
      br
        display: none

  // max-width 1300px

  @media screen and (max-width: 991px)
    &__img
      height: 246px
    &__list
      padding-top: 25px
      & > li
        width: calc((100% - 20px) / 2)
        margin-right: 20px
        padding-bottom: 29px
    &__title
      font-size: 16px
    &--post
      margin-left: 12px
      .amuse__img
        height: 210px

  // max-width 991px

  @media screen and (max-width: 767px)
    &__title
      font-size: 15px
    &__text
      font-size: 13px
      line-height: 1.72857
    &__img
      margin-bottom: 14px
    &--post
      width: 100%
      margin-left: 0
      .amuse__list
        display: flex
        flex-wrap: wrap
        & > li
          width: calc((100% - 10px) / 2)
          margin-right: 10px
          &:nth-of-type(2n)
            margin-right: 0

  // max-width 767px

  @media screen and (max-width: 575px)
    &__img
      height: 146px
    &__list
      & > li
        width: calc((100% - 8px) / 2)
        margin-right: 8px
        padding-bottom: 15px
    &__text
      font-size: 12px
      line-height: 1.5

  // max-width 575px

  @media screen and (max-width: 430px)
    &--post
      .amuse__list
        & > li
          width: 100%
          margin-right: 0

  @media screen and (max-width: 400px)
    &__list
      & > li
        width: 100%
        margin-right: 0

  // max-width 400px

/* amuse */
