mixin scr_tariff()
  section.scr_tariff.tariff(id="scr_tariff")
    .my-container
      h1 Тарифище

      .tariff__df
        .tariff__img
          .img__wrap
            img(src="img/img-tariff-1.png" alt="Тарифище")

        .tariff__content
          .tariff__main
            h2 МТС тариф «ТАРИФИЩЕ»

            p.desc Работает в Крыму и в поездках по России
              br
              |  БЕЗЛИМИТНЫЙ интернет
              br
              |  Звонки на всех операторов

          .tariff__features
            .tariff__features-item
              .icon
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 489.3 369.8', style='enable-background:new 0 0 489.3 369.8;', xml:space='preserve')
                  path(d='M79.6,170c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0c70.6-70.6,185.5-70.6,256.1,0\
                  c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7c10.2-10.2,10.2-26.8,0-37.1C318.8,78.8,170.6,78.8,79.6,170z')
                  path(d='M150.4,240.8c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0c31.5-31.6,82.9-31.6,114.4,0\
                  c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7c10.2-10.2,10.2-26.8,0-37C287,188.8,202.4,188.8,150.4,240.8z')
                  circle(cx='244.6', cy='334.9', r='34.9')
                  path(d='M481.6,98C351-32.7,138.4-32.7,7.6,98c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0\
                  c110.2-110.3,289.6-110.3,399.9,0c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7C491.9,124.8,491.9,108.3,481.6,98z')
              span.text Интернет:
                strong  БЕЗЛИМИТ

            .tariff__features-item
              .icon
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 511.6 383.7', style='enable-background:new 0 0 511.6 383.7;', xml:space='preserve')
                  path(d='M9.1,137H402v54.8c0,2.5,0.9,4.6,2.7,6.4c1.8,1.8,4,2.7,6.4,2.7c2.7,0,4.9-0.9,6.6-2.6l91.4-91.4c1.7-1.7,2.6-3.9,2.6-6.6\
                  c0-2.7-0.9-4.9-2.6-6.6L418,2.9C415.7,1,413.4,0,411.1,0c-2.7,0-4.9,0.9-6.6,2.6c-1.7,1.7-2.6,3.9-2.6,6.6V64H9.1\
                  c-2.5,0-4.6,0.9-6.4,2.7S0,70.6,0,73.1v54.8c0,2.5,0.9,4.6,2.7,6.4S6.7,137,9.1,137z')
                  path(d='M502.5,246.7H109.6v-54.8c0-2.5-0.9-4.6-2.7-6.4c-1.8-1.8-4-2.7-6.4-2.7c-2.7,0-4.9,0.9-6.6,2.6L2.6,276.7\
                  c-1.7,1.7-2.6,3.9-2.6,6.6c0,2.5,0.9,4.6,2.6,6.3l91.1,91.4c2.3,1.9,4.6,2.9,6.9,2.9c2.5,0,4.6-0.9,6.4-2.7\
                  c1.8-1.8,2.7-3.9,2.7-6.4v-54.8h392.9c2.5,0,4.6-0.9,6.4-2.7c1.8-1.8,2.7-3.9,2.7-6.4v-54.8c0-2.5-0.9-4.6-2.7-6.4\
                  C507.1,247.6,505,246.7,502.5,246.7z')

              span.text
                strong 500
                |  минут и
                strong  500
                |  SMS

          .tariff__price
            span.text Ежемесячная плата:
            span.sum 600 ₽

            a.button.form__button(href="#") Купить


  // /.scr_tariff
