mixin scr1()
  section.scr1(id="scr1")
    .container
      .scr1__wrap
        .scr1__slider-wrap
          .scr1__slider#scr1__slider
            .swiper-wrapper
              .swiper-slide
                a.scr1__slider-item.fancybox(href="img/slider-img.jpg")
                  img(src="img/slider-img.jpg", alt="")
              .swiper-slide
                a.scr1__slider-item.fancybox(href="img/slider-img.jpg")
                  img(src="img/slider-img.jpg", alt="")


          .scr1__slider-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next

        ul.scr1__feat
          li
            .scr1__feat-item
              span.scr1__feat-bg.scr1__feat-bg--white
                svg(viewBox="0 0 391 187" width='391px' height='187px' preserveAspectRatio='none')
                  defs
                    filter#Filter_0(filterUnits='userSpaceOnUse' x='0px' y='0px' width='391px' height='187px')
                      feoffset(in='SourceAlpha' dx='0' dy='9')
                      fegaussianblur(result='blurOut' stdDeviation='4')
                      feflood(flood-color='rgb(102, 102, 102)' result='floodOut')
                      fecomposite(operator='atop' in='floodOut' in2='blurOut')
                      fecomponenttransfer
                        fefunca(type='linear' slope='0.3')
                      femerge
                        femergenode
                        femergenode(in='SourceGraphic')
                  g(filter='url(#Filter_0)')
                    path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M14.994,6.591 L374.277,6.591 L342.037,162.013 L35.793,162.013 L14.994,6.591 Z')

              span.scr1__feat-bg.scr1__feat-bg--red
                svg(viewBox="0 0 380 211" width='380px' height='211px' preserveAspectRatio='none')
                  defs
                    filter#Filter_1(filterUnits='userSpaceOnUse' x='0px' y='0px' width='380px' height='211px')
                      feoffset(in='SourceAlpha' dx='0' dy='9')
                      fegaussianblur(result='blurOut' stdDeviation='4')
                      feflood(flood-color='rgb(102, 102, 102)' result='floodOut')
                      fecomposite(operator='atop' in='floodOut' in2='blurOut')
                      fecomponenttransfer
                        fefunca(type='linear' slope='0.3')
                      femerge
                        femergenode
                        femergenode(in='SourceGraphic')
                  g(filter='url(#Filter_1)')
                    path(fill-rule='evenodd' fill='rgb(237, 28, 36)' d='M15.260,6.011 L363.987,18.704 L339.243,185.989 L24.692,175.479 L15.260,6.011 Z')


              .scr1__feat-text
                strong.accent 100+
                |  «Магазинчиков»
                br
                |  по всему Крыму

              .scr1__feat-bottom
                .scr1__feat-df
                  a.scr1__feat-link.inner-link.accent(href="#") Смотреть на карте

                  .scr1__feat-img
                    span.scr1__feat-circle
                    span.scr1__feat-pin

          li
            .scr1__feat-item
              span.scr1__feat-bg.scr1__feat-bg--white
                svg(viewBox="0 0 391 187" width='391px' height='187px' preserveAspectRatio='none')
                  defs
                    filter#Filter_2(filterUnits='userSpaceOnUse' x='0px' y='0px' width='391px' height='187px')
                      feoffset(in='SourceAlpha' dx='0' dy='9')
                      fegaussianblur(result='blurOut' stdDeviation='4')
                      feflood(flood-color='rgb(102, 102, 102)' result='floodOut')
                      fecomposite(operator='atop' in='floodOut' in2='blurOut')
                      fecomponenttransfer
                        fefunca(type='linear' slope='0.3')
                      femerge
                        femergenode
                        femergenode(in='SourceGraphic')
                  g(filter='url(#Filter_2)')
                    path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M14.994,6.591 L374.277,6.591 L342.037,162.013 L35.793,162.013 L14.994,6.591 Z')

              span.scr1__feat-bg.scr1__feat-bg--red
                svg(viewBox="0 0 380 211" width='380px' height='211px' preserveAspectRatio='none')
                  defs
                    filter#Filter_3(filterUnits='userSpaceOnUse' x='0px' y='0px' width='380px' height='211px')
                      feoffset(in='SourceAlpha' dx='0' dy='9')
                      fegaussianblur(result='blurOut' stdDeviation='4')
                      feflood(flood-color='rgb(102, 102, 102)' result='floodOut')
                      fecomposite(operator='atop' in='floodOut' in2='blurOut')
                      fecomponenttransfer
                        fefunca(type='linear' slope='0.3')
                      femerge
                        femergenode
                        femergenode(in='SourceGraphic')
                  g(filter='url(#Filter_3)')
                    path(fill-rule='evenodd' fill='rgb(237, 28, 36)' d='M15.260,6.011 L363.987,18.704 L339.243,185.989 L24.692,175.479 L15.260,6.011 Z')


              .scr1__feat-text
                b.accent Ежемесячный каталог акций
                br
                |  чтобы Вы заранее знали о самых
                br
                |  выгодных позициях

              .scr1__feat-bottom
                a.scr1__feat-link.inner-link.accent(href="#") Актуальные акции

          li
            .scr1__feat-item
              span.scr1__feat-bg.scr1__feat-bg--white
                svg(viewBox="0 0 391 187" width='391px' height='187px' preserveAspectRatio='none')
                  defs
                    filter#Filter_4(filterUnits='userSpaceOnUse' x='0px' y='0px' width='391px' height='187px')
                      feoffset(in='SourceAlpha' dx='0' dy='9')
                      fegaussianblur(result='blurOut' stdDeviation='4')
                      feflood(flood-color='rgb(102, 102, 102)' result='floodOut')
                      fecomposite(operator='atop' in='floodOut' in2='blurOut')
                      fecomponenttransfer
                        fefunca(type='linear' slope='0.3')
                      femerge
                        femergenode
                        femergenode(in='SourceGraphic')
                  g(filter='url(#Filter_4)')
                    path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M14.994,6.591 L374.277,6.591 L342.037,162.013 L35.793,162.013 L14.994,6.591 Z')

              span.scr1__feat-bg.scr1__feat-bg--red
                svg(viewBox="0 0 380 211" width='380px' height='211px' preserveAspectRatio='none')
                  defs
                    filter#Filter_5(filterUnits='userSpaceOnUse' x='0px' y='0px' width='380px' height='211px')
                      feoffset(in='SourceAlpha' dx='0' dy='9')
                      fegaussianblur(result='blurOut' stdDeviation='4')
                      feflood(flood-color='rgb(102, 102, 102)' result='floodOut')
                      fecomposite(operator='atop' in='floodOut' in2='blurOut')
                      fecomponenttransfer
                        fefunca(type='linear' slope='0.3')
                      femerge
                        femergenode
                        femergenode(in='SourceGraphic')
                  g(filter='url(#Filter_5)')
                    path(fill-rule='evenodd' fill='rgb(237, 28, 36)' d='M15.260,6.011 L363.987,18.704 L339.243,185.989 L24.692,175.479 L15.260,6.011 Z')

              .scr1__feat-text
                strong.accent 10 000+
                |  товарных
                br
                |  наименований от продуктов
                br
                |  питания до канцтоваров

  // /.scr1
