mixin scr_club()
  section.scr_club.club(id="scr_club")
    .container
      h2.page-title Все о клубной карте
        strong.accent  «МагазинЧИКа»

      ul.club__nav
        li.current
          a(href="#club__tab-0") Описание
            br
            |  и назначение карты
        li
          a(href="#club__tab-1") Условия
            br
            |  получения
        li
          a(href="#club__tab-2") Правила
            br
            |  использования
        li
          a(href="#club__tab-3") Восстановление, замена
            br
            |  и блокировка карты
        li
          a(href="#club__tab-4") Дополнительные
            br
            |  правила

      ul.club__tabs
        li.club__tab.page-decor#club__tab-0
          .club__table
            table
              thead
                tr
                  td Условия
                  td Баллы
                  td Рубли

              tbody
                tr
                  td Сумма чека до 555 р
                  td 1
                  td за каждые 20 руб.
                tr
                  td Сумма чека свыше 555 р
                  td 2
                  td за каждые 20 руб.
                tr
                  td Дополнительные бонусные баллы в День Рождения
                  td да
                  td не более 10 000 баллов

          .club__df
            ul.club__list
              li Начисление баллов производится только на товары оплаченные собственными средствами
              li Не начисляются на покупку: сигарет, алкоголя
                br
                |  с минимальной розничной цены
              li 1 рубль = 10 баллам
              li Оплата бонусами возможна до 100%
              li Дополнительные бонусные условия не распространяются на товар оплаченный бонусной картой

            .club__right
              .club__img
                img(src="img/card-img.jpg", alt="")

              .club__btns
                .btn__wrap
                  a.btn.btn--red.btn--big(href="#") Скачать Анкету для получения
                    br
                    |  бонусной карты


        li.club__tab.page-decor#club__tab-1
          .club__table
            table
              thead
                tr
                  td Условия
                  td Баллы
                  td Рубли

              tbody
                tr
                  td Сумма чека до 555 р
                  td 1
                  td за каждые 20 руб.
                tr
                  td Сумма чека свыше 555 р
                  td 2
                  td за каждые 20 руб.
                tr
                  td Дополнительные бонусные баллы в День Рождения
                  td да
                  td не более 10 000 баллов



  // /.scr_club
