mixin scr_vacancy()
  section.scr_vacancy.vacancy(id="scr_vacancy")
    .container
      .vacancy__df
        .vacancy__main
          h2.page-title Станьте
            strong.accent  частью семьи
            |  сети «Магазинчиков»

          ul.vacancy__list
            li.vacancy__item
              .top
                h2 Вакансия
                  br
                  strong Продавец-кассир

                button.open.active
              .hidden
                .article
                  h3 График работы
                  p 5/2,  2/2,  также возможны частичная занятость и  работа  по  совместительству
                  br

                  h3 Ваши задачи
                  p Обслуживание покупателей в торговом зале и на кассе;
                    br
                    |  Выкладка товара;
                    br
                    |  Контроль сроков годности продуктов;
                    br
                    |  Проверка наличия и соответствия ценников.
                  br

                  h3 Что ждём от вас
                  p Уровень образования: не требуется;
                    br
                    |  Опыт работы не требуется

            li.vacancy__item
              .top
                h2 Вакансия
                  br
                  strong Продавец-консультант

                button.open
              .hidden
                .article
                  h3 График работы
                  p 5/2,  2/2,  также возможны частичная занятость и  работа  по  совместительству
                  br

                  h3 Ваши задачи
                  p Обслуживание покупателей в торговом зале и на кассе;
                    br
                    |  Выкладка товара;
                    br
                    |  Контроль сроков годности продуктов;
                    br
                    |  Проверка наличия и соответствия ценников.

        .vacancy__form
          .form.form--general.wpcf7
            form.wpcf7-form
              p.form__title Хочу работать
                br
                |  в «Магазинчике»

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='+7 (___) ___-__-__')

              .form__item
                span.wpcf7-form-control-wrap.your-file.text-input.text-input--file
                  label
                    input.wpcf7-form-control.wpcf7-text.wpcf7-file(type='file', name='your-file', size='40', aria-required='true', aria-invalid='false')
                    i.input-icon
                      svg.icon
                        use(xlink:href="img/svg/sprite.svg#clip")
                    span.text Прикрепить резюме

              .form__item
                input.wpcf7-form-control.wpcf7-submit.btn.btn--red.btn--big(type='submit', value='Отправить резюме')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

          .vacancy__phones
            p Оставьте заявку или свяжитесь
              br
              |  с отделом кадров:

            .vacancy__phone
              a(href="tel:+79787121498" rel="nofollow") +7 (978) 712-14-98
              |  Ирина

            .vacancy__phone
              a(href="tel:+79780973167" rel="nofollow") +7 (978) 097-31-67
              |  Анастасия




      // /. vacancy__df
  // /.scr_vacancy
