mixin scr_actions()
  section.scr_actions.actions.grey-bg(id="scr_actions")
    .container
      h2.page-title Горячие
        strong.accent  АКЦИИ
        |  Октября

      .actions__slider-wrap
        .actions__slider#actions__slider
          .swiper-wrapper
            .swiper-slide
              .actions__item.page-decor
                a.actions__img.fancybox(href="img-temp/action-1.jpg" data-fancybox-group="actions")
                  img(src="img-temp/action-1.jpg", alt="")

            .swiper-slide
              .actions__item.page-decor
                a.actions__img.fancybox(href="img-temp/action-2.jpg" data-fancybox-group="actions")
                  img(src="img-temp/action-2.jpg", alt="")

            .swiper-slide
              .actions__item.page-decor
                a.actions__img.fancybox(href="img-temp/action-2.jpg" data-fancybox-group="actions")
                  img(src="img-temp/action-2.jpg", alt="")


        .actions__slider-btns
          button.swiper-button-prev
          .swiper-dots
          button.swiper-button-next


  // /.scr_actions
