mixin scr_map()
  section.scr_map.map(id="scr_map")
    .container
      .map__df
        .map__nav
          h2.page-title Более
            br
            strong.accent  100 «Магазинчиков»
            br
            |  представлено
            br
            |  в 14 городах Крыма

          ul.map__menu
            li.map__item.map__item-1 Симферополь (50)
            li.map__item.map__item-2 Севастополь (13)
            li.map__item.map__item-3 Бахчисарай (2)
            li.map__item.map__item-4 Белогорск (1)
            li.map__item.map__item-5 Феодосия (10)
            li.map__item.map__item-6 Судак (1)
            li.map__item.map__item-7 Керчь (6)
            li.map__item.map__item-8 Джанкой (2)
            li.map__item.map__item-9 Гаспра (2)
            li.map__item.map__item-10 Алупка (2)
            li.map__item.map__item-11 Алушта (4)
            li.map__item.map__item-12 Ялта (20)
            li.map__item.map__item-13 Евпатория (3)
            li.map__item.map__item-14 Саки (1)

        .map__map
          .map__map-img
            img(src="img/map-map.png", alt="")

          ul.map__pins
            li.map__pin.map__pin-1
              span.map__pin-img
              .map__pin-text Симферополь (50)
              span.map__pin-circles
            li.map__pin.map__pin-2
              span.map__pin-img
              .map__pin-text Севастополь (13)
            li.map__pin.map__pin-3
              span.map__pin-img
              .map__pin-text Бахчисарай (2)
            li.map__pin.map__pin-4
              span.map__pin-img
              .map__pin-text Белогорск (1)
            li.map__pin.map__pin-5
              span.map__pin-img
              .map__pin-text Феодосия (10)
            li.map__pin.map__pin-6
              span.map__pin-img
              .map__pin-text Судак (1)
            li.map__pin.map__pin-7
              span.map__pin-img
              .map__pin-text Керчь (6)
            li.map__pin.map__pin-8
              span.map__pin-img
              .map__pin-text Джанкой (2)
            li.map__pin.map__pin-9
              span.map__pin-img
              .map__pin-text Гаспра (2)
            li.map__pin.map__pin-10
              span.map__pin-img
              .map__pin-text Алупка (2)
            li.map__pin.map__pin-11
              span.map__pin-img
              .map__pin-text Алушта (4)
            li.map__pin.map__pin-12
              span.map__pin-img
              .map__pin-text Ялта (20)
            li.map__pin.map__pin-13
              span.map__pin-img
              .map__pin-text Евпатория (3)
            li.map__pin.map__pin-14
              span.map__pin-img
              .map__pin-text Саки (1)

        .map__img
          img(src="img/map-img.png" alt="" width="125" height="90" data-object-fit-contain)



  // /.scr_map
