mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__top
        .footer__col
          h3.footer__title Карта сайта

          .footer__menu
            ul.menu
              li.menu-item
                a(href="#") О компании
              li.menu-item
                a(href="#") Наши клиенты
              li.menu-item
                a(href="#") Сертификаты
              li.menu-item
                a(href="#") Доставка и оплата

            ul.menu
              li.menu-item
                a(href="#") Вопрос-ответ
              li.menu-item
                a(href="#") Блог
              li.menu-item
                a(href="#") Контакты

        .footer__col
          h3.footer__title Ленточные пилы

          ul.menu
            li.menu-item
              a(href="#") Биметаллические пилы BX TOOL M42
            li.menu-item
              a(href="#") Биметаллические пилы BX TOOL M51
            li.menu-item
              a(href="#") Твердосплавные пилы BX TOOL CT

        .footer__contacts
          h3.footer__title Наши соц. сети
          +socials


      // /.footer__top
    // /.container

    .footer__bottom
      .container
        .footer__bottom-df
          .footer__politics
            a.text(href="#") Политика конфиденциальности

          .footer__copyright
            p.text г. Симферополь © Copyright  2020&nbsp;г.

          a.made(href="https://sheer82.ru/")
            span.text Сделано в
            svg.icon
              use(xlink:href='img/svg/sprite.svg#iconSheer')

        // /.row
      // /.container
    // /.footer__bottom
  // /.footer

