mixin scr1()
  section.scr1(id="scr1" style="background: #1c4b6e url('img/scr1-bg.jpg') no-repeat center center; background-size: cover;")
    .container
      h1.scr1__title Снижаем себестоимость
        br
        |
        span.scr1__title-bottom  резки металла
        span.scr1__title-small  до
        span.scr1__title-num  40%
      p.scr1__desc за счет использования высококачественной австрийской стали
        br
        |  и уникальной технологии контактной прямой сварки

      .scr1__df
        .scr1__form
          .form.wpcf7
            form.wpcf7-form
              p.form__title Размер пилы:

              .form__df
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-width(type='text', name='your-width', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ширина пилы, мм')
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-thick(type='text', name='your-thick', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Толщина пилы, мм')
                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-length(type='text', name='your-length', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Длина пилы, мм')

              .form__wrap
                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш номер телефона')

                .btn__wrap
                  input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--red(type='submit', value='Рассчитать стоимость пилы')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

        a.scr1__play.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
          span.scr1__play-btn
          span.scr1__play-text Смотрите&nbsp;
            span.underlined видео-презентацию
            br
            |  по изготовлению ленточных пил BX TOOL


  // /.scr1
