mixin scr_blog()
  section.scr_blog.blog(id="scr_blog")
    .container
      ul.blog__list
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок
                  br
                  |  до деталей на поддонах

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок
                  br
                  |  до деталей на поддонах

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок
                  br
                  |  до деталей на поддонах

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок
                  br
                  |  до деталей на поддонах

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-1.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок
                  br
                  |  до деталей на поддонах

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-2.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее
        li
          .blog__item
            a.blog__img(href="#")
              img(src="img-temp/blog/img-3.jpg" alt="" data-object-fit-cover)

            .blog__content
              time(datetime="2021-02-02") 2 февраля 2021

              a(href="#")
                h2 От длинномерных заготовок
                  br
                  |  до деталей на поддонах

              .article
                p Автоматизация, сетевое взаимодействие и роботизированная техника быстро завоевывают позиции в металлообработке, а также в технологии складирования и пиления. Системы складирования и отрезные станки все больше

            .blog__links
              a.blog__link.prod__link(href="#") Подробнее

      +paginator

  // /.scr_blog
