mixin scr_prod-img()
  section.scr_prod-img.prod-img(id="scr_prod-img")
    .container
      h2.page-title Каждую ленточную пилу мы производим
        strong  с учетом особенностей
          br
          |  вашего станка
        |  и требуемых эксплуатационных характеристик

      .prod-img__df
        .prod-img__content
          .article
            p
              strong Биметаллические пилы M42 предназначены для пиления стали твердостью до 40-45 HRC.
              |  Для изготовления данной линейки используются материалы от австрийской компании "Bohlerstrip". Для создания инструмента применяется рессорно-пружинная сталь и профильная проволока из быстрорежущей стали. "Bohlerstrip" - это фирма, которая является производителем, а также поставщиком лучших материалов для производства ленточных пил. Для осуществления процесса приварки необходимых деталей, специалисты предприятия Benxi Tool используют высококачественную лазерную технологию, применяя немецкое оборудование "ROFIN".

            p
              strong Марка стали М42
              |  характеризуется высоким 8-процентным содержанием кобальта и содержанием карбида вольфрама (2%). Такие характеристики позволяют пилам по металлу иметь высокую износостойкость даже при работе с очень твердыми материалами и в сложных условиях резания труднообрабатываемой стали.

          .prod-img__btns
            .btn__wrap
              a.xbtn.xbtn--red.open-modal(href="#") Рассчитать стоимость пилы

        a.prod-img__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
          span.prod-img__video-img
            img(src="img-temp/prod-img__video.jpg" alt="" data-object-fit-cover)

          span.scr1__play-btn
          span.scr1__play-text Смотрите&nbsp;
            span.underlined видео-презентацию
            br
            |  по изготовлению ленточных
            br
            |  пил BX TOOL



  // /.scr_prod-img
