mixin scr_prod-feat()
  section.scr_prod-feat.prod-feat(id="scr_prod-feat")
    .container
      .prod-feat__df
        .prod-feat__img
          img(src="img/prod-feat-img.jpg" alt="" data-object-fit-cover)

        .prod-feat__content
          h2.page-title
            strong Быстрорежущая сталь M42
            br
            |  имеет высокую износостойкость даже при работе с очень твердыми материалами

          .prod-feat__desc
            p M42 - это тип быстрорежущей стали биметаллической пилы предназначенной для пиления основных марок сталей твердостью до 40-45 HRC. Твердость режущих кромок зубьев 67 – 69 HRC. Содержание 8% кобальта и 2% карбида вольфрама увеличивает стойкость режущей кромки

      ul.prod-feat__list
        li.prod-feat__item
          span.prod-feat__icon
            img(src="img/svg/icons/feat-1.svg" alt="" data-object-fit-contain)
          span.prod-feat__text Сварка пил в кольцо
            br
            |  от 1 часа
        li.prod-feat__item
          span.prod-feat__icon
            img(src="img/svg/icons/feat-2.svg" alt="" data-object-fit-contain)
          span.prod-feat__text В наличии более
            br
            |  50 000 метров полотна
        li.prod-feat__item
          span.prod-feat__icon
            img(src="img/svg/icons/feat-3.svg" alt="" data-object-fit-contain)
          span.prod-feat__text Гарантия на сварной
            br
            |  шов - 1 год
        li.prod-feat__item
          span.prod-feat__icon
            img(src="img/svg/icons/feat-4.svg" alt="" data-object-fit-contain)
          span.prod-feat__text Техническая поддержка
            br
            |  по всем вопросам

  // /.scr_prod-feat
