mixin scr_clients()
  section.scr_clients.clients.grey-bg(id="scr_clients")
    .container
      h1.page-title наши клиенты

      ul.clients__list
        li.clients__item
          .clients__img
            img(src="img-temp/partners/img-1.jpg" alt="")

          .clients__content
            .article
              p Уже более 100 лет работает наш завод на Нижегородской земле, и каждый год - это год служения обществу. Господин Эрбе, перенося сюда производство из Риги, и не подозревал о столь долгом и славном будущем своего предприятия. Завод стал главным поставщиком бывшего СССР по промышленным ножам и пилам. Вместе с прославленными институтами и заводами вышел на передовые рубежи по изготовлению новых марок спецстали.

              p Рыночные реформы заставили по-новому взглянуть на развитие ООО «Горьковский металлургический завод». Пришлось полностью изменить мышление руководителей и рабочих. На предприятие приходят новые высококвалифицированные специалисты. Происходит серьезное обновление оборудования, улучшается качество продукции. А чтобы четко понимать, куда двигаться дальше, необходима рыночная концепция стратегии завода. Сегодня над этим трудятся лучшие умы экономистов, механиков, менеджеров по управлению и продажам. Жизнь продолжается.
        li.clients__item
          .clients__img
            img(src="img-temp/partners/img-2.jpg" alt="")

          .clients__content
            .article
              p Уже более 100 лет работает наш завод на Нижегородской земле, и каждый год - это год служения обществу. Господин Эрбе, перенося сюда производство из Риги, и не подозревал о столь долгом и славном будущем своего предприятия. Завод стал главным поставщиком бывшего СССР по промышленным ножам и пилам. Вместе с прославленными институтами и заводами вышел на передовые рубежи по изготовлению новых марок спецстали.

              p Рыночные реформы заставили по-новому взглянуть на развитие ООО «Горьковский металлургический завод». Пришлось полностью изменить мышление руководителей и рабочих. На предприятие приходят новые высококвалифицированные специалисты. Происходит серьезное обновление оборудования, улучшается качество продукции. А чтобы четко понимать, куда двигаться дальше, необходима рыночная концепция стратегии завода. Сегодня над этим трудятся лучшие умы экономистов, механиков, менеджеров по управлению и продажам. Жизнь продолжается.
        li.clients__item
          .clients__img
            img(src="img-temp/partners/img-3.jpg" alt="")

          .clients__content
            .article
              p Уже более 100 лет работает наш завод на Нижегородской земле, и каждый год - это год служения обществу. Господин Эрбе, перенося сюда производство из Риги, и не подозревал о столь долгом и славном будущем своего предприятия. Завод стал главным поставщиком бывшего СССР по промышленным ножам и пилам. Вместе с прославленными институтами и заводами вышел на передовые рубежи по изготовлению новых марок спецстали.

              p Рыночные реформы заставили по-новому взглянуть на развитие ООО «Горьковский металлургический завод». Пришлось полностью изменить мышление руководителей и рабочих. На предприятие приходят новые высококвалифицированные специалисты. Происходит серьезное обновление оборудования, улучшается качество продукции. А чтобы четко понимать, куда двигаться дальше, необходима рыночная концепция стратегии завода. Сегодня над этим трудятся лучшие умы экономистов, механиков, менеджеров по управлению и продажам. Жизнь продолжается.
        li.clients__item
          .clients__img
            img(src="img-temp/partners/img-4.jpg" alt="")

          .clients__content
            .article
              p Уже более 100 лет работает наш завод на Нижегородской земле, и каждый год - это год служения обществу. Господин Эрбе, перенося сюда производство из Риги, и не подозревал о столь долгом и славном будущем своего предприятия. Завод стал главным поставщиком бывшего СССР по промышленным ножам и пилам. Вместе с прославленными институтами и заводами вышел на передовые рубежи по изготовлению новых марок спецстали.

              p Рыночные реформы заставили по-новому взглянуть на развитие ООО «Горьковский металлургический завод». Пришлось полностью изменить мышление руководителей и рабочих. На предприятие приходят новые высококвалифицированные специалисты. Происходит серьезное обновление оборудования, улучшается качество продукции. А чтобы четко понимать, куда двигаться дальше, необходима рыночная концепция стратегии завода. Сегодня над этим трудятся лучшие умы экономистов, механиков, менеджеров по управлению и продажам. Жизнь продолжается.

      +paginator

  // /.scr_clients
