mixin scr_prod-add()
  section.scr_prod-add.prod-add.grey-bg(id="scr_prod-add")
    .container
      h2.page-title В зависимости от выбора пилы, компания BX TOOL подобрала
        strong  оптимальную заточку зубьев
        |  под различные задачи

      .prod-add__slider-wrap
        .prod-add__slider#prod-add__slider
          .swiper-wrapper
            .swiper-slide
              .prod-add__item
                .prod-add__img
                  img(src="img-temp/prod-add-img.jpg" alt="" data-object-fit-contain)

                .prod-add__content
                  h2.prod-add__title N – угол ноль градусов

                  .article
                    ul
                      li Лучше подходит для резки заготовок малого сечения из  высоко- углеродистых, инструментальных сталей, а также чугуна. Рекомендуется для широкого диапазона использования, включая резку листов (на вертикальном станке), а также тонкостенного фасонного проката.

            .swiper-slide
              .prod-add__item
                .prod-add__img
                  img(src="img-temp/prod-add-img.jpg" alt="" data-object-fit-contain)

                .prod-add__content
                  h2.prod-add__title NR – положительный угол

                  .article
                    ul
                      li Позволяет резать все виды сталей, особенно труднообрабатываемые например, стали для металлоконструкций и закалённые стали), а также высоколегированные стали.

            .swiper-slide
              .prod-add__item
                .prod-add__img
                  img(src="img-temp/prod-add-img.jpg" alt="" data-object-fit-contain)

                .prod-add__content
                  h2.prod-add__title BR – большой положительный угол

                  .article
                    ul
                      li Зуб с модифицированной геометрией и большим углом заточки позволяет резать труднообрабатываемые материалы, включая хром-никельсодержащие сплавы.

            .swiper-slide
              .prod-add__item
                .prod-add__img
                  img(src="img-temp/prod-add-img.jpg" alt="" data-object-fit-contain)

                .prod-add__content
                  h2.prod-add__title N – угол ноль градусов

                  .article
                    ul
                      li Лучше подходит для резки заготовок малого сечения из  высоко- углеродистых, инструментальных сталей, а также чугуна. Рекомендуется для широкого диапазона использования, включая резку листов (на вертикальном станке), а также тонкостенного фасонного проката.

            .swiper-slide
              .prod-add__item
                .prod-add__img
                  img(src="img-temp/prod-add-img.jpg" alt="" data-object-fit-contain)

                .prod-add__content
                  h2.prod-add__title NR – положительный угол

                  .article
                    ul
                      li Позволяет резать все виды сталей, особенно труднообрабатываемые например, стали для металлоконструкций и закалённые стали), а также высоколегированные стали.

            .swiper-slide
              .prod-add__item
                .prod-add__img
                  img(src="img-temp/prod-add-img.jpg" alt="" data-object-fit-contain)

                .prod-add__content
                  h2.prod-add__title BR – большой положительный угол

                  .article
                    ul
                      li Зуб с модифицированной геометрией и большим углом заточки позволяет резать труднообрабатываемые материалы, включая хром-никельсодержащие сплавы.

        .prod-add__slider-btns
          .swiper-dots

  // /.scr_prod-add
