mixin scr_partners()
  section.scr_partners.partners.section_wr(id="scr_partners")
    .container
      h2.page-title Мы гордимся
        strong  нашими клиентами
        |  - ведущими компаниями в своих отраслях

      .partners__wrap
        .partners__slider#partners__slider
          .swiper-wrapper
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-1.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-2.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-3.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-4.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-5.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-6.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-1.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-2.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-3.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-4.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-3.jpg", alt="" data-object-fit-contain)
            .swiper-slide
              .partners__item
                img(src="img-temp/partners/img-4.jpg", alt="" data-object-fit-contain)

        .partners__slider-btns
          .swiper-dots

  // /.scr_partners
