mixin scr_prod-types()
  section.scr_prod-types.prod-types(id="scr_prod-types")
    .container
      ul.tabs__nav.tabs__nav-js
        li.current
          a(href="#prod-types__tab-0") NT Нормальный зуб
        li
          a(href="#prod-types__tab-1") PT Усиленный зуб
            br
            |  (защищенный зуб)
        li
          a(href="#prod-types__tab-2") CT Комбинированный зуб
        li
          a(href="#prod-types__tab-3") BT зуб с обратным углом
        li
          a(href="#prod-types__tab-4") FT зубья с прямой впадиной
        li
          a(href="#prod-types__tab-5") ТТ специальный зуб

      ul.prod-types__tabs
        li.prod-types__tab#prod-types__tab-0
          .prod-types__df
            .prod-types__content
              .prod-types__img
                img(src="img/prod-types-img.jpg" alt="")

              p.prod-types__title NT Нормальный зуб
              .prod-types__text
                p Ленточные пилы М42 с формой зуба NT предназначены для резки заготовок различного сечения из высокоуглеродистых, инструментальных сталей, а также чугуна. Рекомендуется для широкого диапазона использования.

            .prod-types__table
              table
                thead
                  tr
                    td(rowspan="2")
                      span Размер,
                        br
                        |  мм
                    td(rowspan="2")
                      span Форма
                        br
                        |  зубьев
                    td(colspan="8") М42
                  tr
                    td 13 х 0,6
                    td 19 х 0,9
                    td 27 х 0,9
                    td 34 х 1,1
                    td 41 х 1,3
                    td 54 х 1,6
                    td 67 х 1,6
                    td 80 х 1,6

                tbody
                  tr
                    td 14/18
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 12/16
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 14
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 10/14
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 8/12
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 6/10
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 6
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 5/8
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 4/6
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td

        li.prod-types__tab#prod-types__tab-1
          .prod-types__df
            .prod-types__content
              .prod-types__img
                img(src="img/prod-types-img.jpg" alt="")

              p.prod-types__title NT Нормальный зуб
              .prod-types__text
                p Ленточные пилы М42 с формой зуба NT предназначены для резки заготовок различного сечения из высокоуглеродистых, инструментальных сталей, а также чугуна. Рекомендуется для широкого диапазона использования.

            .prod-types__table
              table
                thead
                  tr
                    td(rowspan="2")
                      span Размер,
                        br
                        |  мм
                    td(rowspan="2")
                      span Форма
                        br
                        |  зубьев
                    td(colspan="8") М42
                  tr
                    td 13 х 0,6
                    td 19 х 0,9
                    td 27 х 0,9
                    td 34 х 1,1
                    td 41 х 1,3
                    td 54 х 1,6
                    td 67 х 1,6
                    td 80 х 1,6

                tbody
                  tr
                    td 14/18
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 12/16
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td 14
                    td N
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td

  // /.scr_prod-types
