mixin scr_faq()
  section.scr_faq.faq.grey-bg(id="scr_faq")
    h2.page-title
      b Вопрос-ответ

    ul.faq__list
      li.faq__item
        .top
          h3 Какое натяжение может выдержать биметаллическое ленточное полотно?
          button.open
        .hidden
          .article
            p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
      li.faq__item
        .top
          h3 Как правильно выбрать количество зубьев на дюйм биметаллической пилы?
          button.open
        .hidden
          .article
            p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
      li.faq__item
        .top
          h3 Какой оптимальный шаг зубьев для твердосплавной ленточной пилы?
          button.open
        .hidden
          .article
            p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
      li.faq__item
        .top
          h3 Как быстро я могу резать твердосплавным полотном?
          button.open
        .hidden
          .article
            p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
      li.faq__item
        .top
          h3 Существуют ли универсальные ленточные пилы?
          button.open
        .hidden
          .article
            p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.

  // /.scr_faq

mixin scr_faq--page()
  section.scr_faq.faq.faq--page(id="scr_faq")
    .container
      .faq__wrap.grey-bg
        h1.page-title
          b Вопрос-ответ

        .faq__df
          ul.faq__list
            li.faq__item
              .top
                h3 Какое натяжение может выдержать биметаллическое ленточное полотно?
                button.open
              .hidden
                .article
                  p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
            li.faq__item
              .top
                h3 Как правильно выбрать количество зубьев на дюйм биметаллической пилы?
                button.open
              .hidden
                .article
                  p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
            li.faq__item
              .top
                h3 Какой оптимальный шаг зубьев для твердосплавной ленточной пилы?
                button.open
              .hidden
                .article
                  p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
            li.faq__item
              .top
                h3 Как быстро я могу резать твердосплавным полотном?
                button.open
              .hidden
                .article
                  p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.
            li.faq__item
              .top
                h3 Существуют ли универсальные ленточные пилы?
                button.open
              .hidden
                .article
                  p  Оптимальное напряжение в полотне пилы при его натяжении в диапазоне от 27000 до 33000 единиц PSI. В большинстве случаев данное напряжение отвечает эффективной работе инструмента при обработке широкой гаммы конструкционных материалов. Для правильной установки напряжения обратитесь к руководству по эксплуатации вашего станка. Перетяжка ленточного полотна может привести к значительному износу элементов конструкции станка, что приведёт к его поломке, а также – уменьшению ресурса стойкости инструмента.

          .faq__form
            .form.form--general.wpcf7
              form.wpcf7-form
                p.form__title Задать свой вопрос

                .form__item
                  span.wpcf7-form-control-wrap.your-name.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Имя')

                .form__item
                  span.wpcf7-form-control-wrap.your-tel.text-input
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Телефон')

                .form__item
                  span.wpcf7-form-control-wrap.your-message.text-input
                    textarea.wpcf7-form-control.wpcf7-text.wpcf7-message#your-msg(name='your-message', cols="40", rows="10", aria-required='true', aria-invalid='false', placeholder="Сообщение")

                .form__item.form__item--submit
                  .btn__wrap
                    input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--red(type='submit', value='Отправить')

                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon

  // /.scr_faq
