mixin scr_prod()
  section.scr_prod.prod.grey-bg(id="scr_prod")
    .container
      h2.page-title Каждую ленточную пилу мы производим с учетом особенностей
        br
        |  вашего станка и требуемых эксплуатационных характеристик

      .prod__slider-wrap
        .prod__slider#prod__slider
          .swiper-wrapper
            .swiper-slide
              .prod__item
                a.prod__img.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.2s" href="#")
                  img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-cover)

                .prod__content
                  .prod__info
                    h3.prod__title Биметаллические пилы BX TOOL M42

                    .article
                      ul
                        li Предназначены для пиления основных марок сталей твердостью до 40-45 HRC.
                        li Твердость режущих кромок зубьев 67 – 69 HRC.
                        li Содержание 8% кобальта и 2% карбида вольфрама увеличивает стойкость режущей кромки.

                  .prod__btns
                    .btn__wrap
                      a.xbtn.xbtn--red(href="#") Получить прайс

                    a.prod__link(href="#") Подробнее

            .swiper-slide
              .prod__item
                a.prod__img.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.4s" href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-cover)

                .prod__content
                  .prod__info
                    h3.prod__title Биметаллические пилы BX TOOL M51

                    .article
                      ul
                        li Предназначены для пиления основных марок сталей твердостью до 40-45 HRC.
                        li Твердость режущих кромок зубьев 67 – 69 HRC.
                        li Содержание 8% кобальта и 2% карбида вольфрама увеличивает стойкость режущей кромки.

                  .prod__btns
                    .btn__wrap
                      a.xbtn.xbtn--red(href="#") Получить прайс

                    a.prod__link(href="#") Подробнее

            .swiper-slide
              .prod__item
                a.prod__img.wow.fadeIn(data-wow-duration="0.8s" data-wow-delay="0.6s" href="#")
                  img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-cover)

                .prod__content
                  .prod__info
                    h3.prod__title Твердосплавные пилы BX TOOL CT

                    .article
                      ul
                        li Предназначены для пиления основных марок сталей твердостью до 40-45 HRC.
                        li Твердость режущих кромок зубьев 67 – 69 HRC.
                        li Содержание 8% кобальта и 2% карбида вольфрама увеличивает стойкость режущей кромки.

                  .prod__btns
                    .btn__wrap
                      a.xbtn.xbtn--red(href="#") Получить прайс

                    a.prod__link(href="#") Подробнее

        .prod__slider-btns
          .swiper-dots

  // /.scr_prod
