mixin scr_feat()
  section.scr_feat.feat(id="scr_feat")
    .container
      h2.page-title
        strong Benxi Tool
        |  — лидер по производству биметаллических режущих полотен

      ol.feat__list
        li.feat__item
          .feat__top
            .feat__img
              img(src="img/feat-1.jpg" alt="" data-object-fit-cover)

          h3.feat__title Мощная производственная база и&nbsp;команда профессионалов

          .feat__text
            p Годовые объемы производства достигают более 15 миллионов метров и 2000 тонн, при этом мощности занимают площадь в 75 тыс кв м.
            p В цехах компании трудятся более 500 квалифицированных сотрудников, а выпускаемая  продукция поставляется в более, чем 20 стран по всему миру.

          .feat__btns
            .btn__wrap
              a.xbtn.xbtn--red(href="#") Подробнее о производителе

        li.feat__item
          .feat__top
            .feat__img
              img(src="img/feat-2.jpg" alt="" data-object-fit-cover)

          h3.feat__title Контроль качества изготовления ленточных пил

          .feat__text
            p Благодаря использованию высококлассной австрийской стали марки BÖHLER, а также инновационному  оборудованию от ведущих мировых производителей - мы предлагаем продукцию премиального качества, которая прослужит долго. Качество продукции подкреплено сертификатами международной системы менеджмента ISO 9001: 2008

          .feat__btns
            .btn__wrap
              a.xbtn.xbtn--red(href="#") Смотреть сертификаты

        li.feat__item
          .feat__top
            .feat__img
              img(src="img/feat-3.jpg" alt="" data-object-fit-cover)

          h3.feat__title Выгодные и прозрачные условия сотрудничества

          .feat__text
            ul
              li Скидка на первый заказ до 20%
              li Сварка пил в кольцо от 1 часа
              li Гарантия на сварной шов - 1 год
              li Доставка до ТК Деловые линии бесплатно
              li В наличии всегда более 70 000 метров полотна
              li Работаем с физ и юр лицами с НДС и без НДС

          .feat__btns
            .btn__wrap
              a.xbtn.xbtn--red(href="#") Получить полный прайс-лист


  // /.scr_feat
