mixin scr_about()
  section.scr_about.about(id="scr_about")
    .container
      h1.page-title
        b о компании

      .about__timeline-wrap
        .about__timeline#about__timeline
          .swiper-wrapper
            .swiper-slide
              .about__timeline-item
                span.about__timeline-num 1953
                h3.about__timeline-title Постройка фабрики
                .about__timeline-text
                  p
                    strong Продукция:
                    br
                    |  режущий инструмент ручной и станочный
            .swiper-slide
              .about__timeline-item
                span.about__timeline-num 1988
                h3.about__timeline-title Запуск импортной линии по&nbsp;производству биметаллического полотна
            .swiper-slide
              .about__timeline-item
                span.about__timeline-num 2005
                h3.about__timeline-title Постройка завода по выпуску биметаллического полотна
            .swiper-slide
              .about__timeline-item
                span.about__timeline-num 2010
                h3.about__timeline-title Перезд завода и модрнизация завода новейшим европейским и&nbsp;японским оборудованием
            .swiper-slide
              .about__timeline-item
                span.about__timeline-num 2013
                h3.about__timeline-title Запуск импортной линии по&nbsp;выпуску
                  br
                  |  твердосплавных полотен
                .about__timeline-text
                  p
                    strong Продукция:
                    br
                    |  иметаллические ленточные полотна, Твердосплавные ленточные полотна
            .swiper-slide
              .about__timeline-item
                span.about__timeline-num 2013
                h3.about__timeline-title Запуск импортной линии по&nbsp;выпуску
                  br
                  |  твердосплавных полотен
                .about__timeline-text
                  p
                    strong Продукция:
                    br
                    |  иметаллические ленточные полотна, Твердосплавные ленточные полотна

      .about__df
        a.about__video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
          .about__img
            img(src="img/about-img.jpg" alt="" data-object-fit-cover)
          .about__video-df
            span.scr1__play-btn
            span.scr1__play-text Производство ленточных пил
              br
              |  по металлу BX TOOL

        .about__content
          p
            strong Компания Benxi Tool Co. Ltd.
            |  была основана в 1953 и на тот момент представляла собой небольшую фабрику по производству ручного и станочного режущего инструментария.

          p Со временем она несколько сузила свою специализацию, сосредоточившись на изготовлении биметаллических пил по металлу высочайшего качества.

          p Многие компании утверждают, что производят ленточные пилы на качественном оборудовании, но не могут это подтвердить. Компания Benxi Tool Co. Ltd. не скрывает своё производство и демонстрирует
            strong  видео-презентацию по изготовлению ленточных пил BX TOOL.

      .about__times
        .about__times-wrap
          .about__times-slider#about__times-slider
            .swiper-wrapper
              .swiper-slide
                .about__times-item
                  span.about__times-num 1988
                  .about__times-text
                    p Начиная с 1988 года компания активно внедряет новейшие научные разработки в сфере металлообработки. А благодаря использованию только европейского (VOLLMER) и японского (AMADA MIYACHI) оборудования изготовитель гарантирует высочайшее качество производимых ленточнопильных полотен. Это делает комплектующие совместимыми с большинством моделей ленточнопильных станков, использующихся по всему миру.

              .swiper-slide
                .about__times-item
                  span.about__times-num 2005
                  .about__times-text
                    p В 2005 году компания строит завод, который начинает выпускать биметаллические полотна, которые способны справиться с резкой металлических заготовок и металлоизделий особой прочности. А в 2010 производственные мощности модернизируются и комплектуются инновационным оборудованием от ведущих мировых производителей.

              .swiper-slide
                .about__times-item
                  span.about__times-num 2013
                  .about__times-text
                    p 2013 год ознаменовался запуском новой линии по изготовлению твердосплавных полотен бескомпромиссной прочности и производительности.
                    p За последние 20 лет интенсивного развития Benxi Tool Co. Ltd. удалось добиться потрясающих маркетинговых и производственных результатов, что сделало бренд узнаваемым и вывело его на первое место по производству биметаллических режущих полотен в Азии.

          .about__times-btns
            .swiper-dots

      .about__certs
        .about__certs-content
          .about__certs-text
            p Качество продукции подкреплено
              strong  сертификатами международной системы менеджмента ISO 9001: 2008 и национальной системы экологической безопасности.
              |  Все клиенты имеют возможность получить своевременную и профессиональную поддержку силами инжиниринговой службы и квалифицированного персонала.

          ul.about__certs-nums
            li
              span.about__certs-num
                strong 15
                |  млн. м
              span.about__certs-text
                b Годовые объемы производства достигают более 15 млн метров и 2000 тонн
            li
              span.about__certs-num
                strong 75 000
                |  м
                sup 2
              span.about__certs-text
                b Мощности занимают площадь в 75 тысяч квадратных метров
            li
              span.about__certs-num
                strong 500
              span.about__certs-text
                b В цехах компании трудятся более 500 квалифицированных сотрудников,
            li
              span.about__certs-num
                strong 20
              span.about__certs-text
                b Выпускаемая продукция поставляется в более, чем 20 стран по всему миру

        .certs__slider-wrap
          .certs__slider#certs__slider--about
            .swiper-wrapper
              .swiper-slide
                a.certs__item.fancybox(href="img-temp/certs-1.jpg" data-fancybox-group="certs")
                  img(src="img-temp/certs-1.jpg" alt="")

                h3.certs__text Cертификат международной системы менеджмента ISO 9001: 2008

              .swiper-slide
                a.certs__item.fancybox(href="img-temp/certs-1.jpg" data-fancybox-group="certs")
                  img(src="img-temp/certs-1.jpg" alt="")

                h3.certs__text Сертификат соответствия

              .swiper-slide
                a.certs__item.fancybox(href="img-temp/certs-1.jpg" data-fancybox-group="certs")
                  img(src="img-temp/certs-1.jpg" alt="")

                h3.certs__text Сертификат соответствия

              .swiper-slide
                a.certs__item.fancybox(href="img-temp/certs-1.jpg" data-fancybox-group="certs")
                  img(src="img-temp/certs-1.jpg" alt="")

                h3.certs__text Сертификат соответствия

          .certs__slider-btns
            .swiper-dots

      .about__mod
        h2.page-title В ассортименте производителя
          b  3 основные модификации
          br
          |  ленточных пил по металлу:

        .about__mod-df
          ul.about__mod-list
            li
              .about__mod-img
                img(src="img-temp/prod/img-1.jpg" alt="" data-object-fit-cover)
              p.about__mod-text твердосплавные ленточные пилы
            li
              .about__mod-img
                img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-cover)
              p.about__mod-text ленточные пилы по металлу М51
            li
              .about__mod-img
                img(src="img-temp/prod/img-2.jpg" alt="" data-object-fit-cover)
              p.about__mod-text биметаллические пилы М42

          .about__mod-content
            p Различия моделей заключаются в режущей способности, которая реализуется за счет разницы в процентном содержании кобальта и карбида вольфрама. Все изделия выполнены из сырья высокого качества по передовым европейским технологиям.

            p Благодаря тому, что производство продукции в Китае по умолчанию является менее затратным и финансово выгодным, клиенты имеют возможность приобретать продукцию европейского качества по доступным азиатским ценам.

            p ООО Производственная компания «Ленточные пилы» является официальным дистрибьютором Benxi Tool Co. Ltd. на всей территории России и стран СНГ. У нас в приоритете – своевременные и оперативные поставки ленточных пил по металлу для производственных мощностей различного масштаба. Низкие цены, гибкие условия и гарантия качества на всю продукцию – наши главные конкурентные преимущества.

            p Чтобы сделать заказ, заполняйте онлайн-форму на официальном сайте или звоните по контактным телефонам. Осуществляем доставку в любой город транспортной компанией на выбор.

  // /.scr_about
