mixin scr_prod-item()
  section.scr_prod-item.prod-item(id="scr_prod-item")
    .prod-item__bg
      img(src="img-temp/prod-item-bg.jpg" alt="" data-object-fit-cover)

    .container
      h1.prod-item__title Резка основных марок сталей
        br
        |  твердостью до 40-45 HRC
        span.accent  дешевле на 40%
        br
        |  с биметаллической пилой BX TOOL M42

      .prod-item__df
        .prod-item__content
          p.prod-item__desc Сделайте заказ биметаллической пилы BX TOOL M42 и получите
            span.accent  скидку до 20%

          .scr1__form
            .form.wpcf7
              form.wpcf7-form
                p.form__title Размер пилы:

                .form__df
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-width(type='text', name='your-width', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ширина пилы, мм')
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-thick(type='text', name='your-thick', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Толщина пилы, мм')
                  .form__item
                    span.wpcf7-form-control-wrap.your-name.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-length(type='text', name='your-length', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Длина пилы, мм')

                .form__wrap
                  .form__item
                    span.wpcf7-form-control-wrap.your-tel.text-input
                      input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш номер телефона')

                  .btn__wrap
                    input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--red(type='submit', value='Рассчитать стоимость пилы')

                .form__item
                  span.wpcf7-form-control-wrap.accept
                    span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                      span.wpcf7-list-item
                        label
                          input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                          span.wpcf7-list-item-label Согласие на обработку персональных данных
                            i.accept__icon

        .prod-item__img
          img(src="img-temp/prod-item-img.jpg" alt="" data-object-fit-cover)

  // /.scr_prod-item
