mixin scr_deliver()
  section.scr_deliver.deliver(id="scr_deliver")
    .container
      h1.page-title
        b Доставка пил и оборудования

      .deliver__wrap
        p.deliver__title Мы доставляем ленточные
          br
          |  пилы по всей России

        .deliver__map
          img(src="img/map-img.jpg" alt="")

      .deliver__content
        .deliver__df
          .deliver__col
            h2.deliver__title Получить заказ Вы можете любым удобным способом:

            .article
              h2 Доставка через транспортную компанию

              p Для жителей регионов РФ доставка производится при помощи транспортных компаний. Наш магазин предоставляет Вам выбор компании-перевозчика. Единственное, что мы просим Вас учитывать, - компания должна иметь представительство в Москве.

              p Мы сотрудничаем на постоянной основе со следующими транспортными компаниями:

              img(src="img/deliver-img.jpg" alt="")

              p Общая стоимость доставки заказа в Ваш город или населенный пункт складывается из суммы за доставку курьером до офиса транспортной компании в Москве и стоимости услуг самой транспортной компании. С тарифами грузоперевозчиков Вы можете ознакомиться на сайтах соответствующих компаний. Более того, Вы можете рассчитать стоимость отправки товара в Ваш регион с помощью специального калькулятора, введя несколько предложенных параметров. Такой калькулятор есть на сайтах всех крупных транспортных компаний.

              h2 Самовывоз

              p Если Вам удобно самостоятельно забрать заказ, предлагаем воспользоваться услугой «самовывоз». Для этого свяжитесь с сотрудником компании по телефону
                strong
                  a(href="tel:+74997072190" rel="nofollow")  +7 (499) 707-21-90
                |  и уточните порядок взаимодействия.

          .deliver__col
            h2.deliver__title Оплата товаров и услуг

            .article
              h2 Информация об оплате товаров.

              p
                strong Реквизиты:
                br
                |  ООО ПК "Ленточные пилы"
                br
                |  ИНН 7719451573 / ОГРН 1167746637255.
                br
                |  Юридический адрес: 107023, Москва г, Семёновская М. ул, дом 3, строение 2, офис 5.
                br
                |  Тел.:
                strong
                  a(href="tel:+74997072190" rel="nofollow")  8(499) 707-21-90.

              p
                strong Действиях Покупателя при возникновении проблем с оплатой:
                br
                |  При возникновении проблем с оплатой просим обращаться к сотрудникам компании по указанным выше телефонам

              p
                strong Способы оплаты:
                br
                |  Безналичным расчётом:
                br
                |  Для выбора безналичной оплаты товара - обратитесь к менеджерам компании для формирования счёта по реквизитам

              p
                strong Банковской картой
                br
                |  Для выбора оплаты товара с помощью банковской карты - обратитесь к менеджерам компании для формирования счёта на Физическое лицо. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:

            .deliver__pay
              img(src="img/payment/img-1.jpg" alt="")
              img(src="img/payment/img-2.jpg" alt="")
              img(src="img/payment/img-3.jpg" alt="")
              img(src="img/payment/img-4.jpg" alt="")


        h2.deliver__title Возврат товара

        .article
          p
            strong Срок возврата товара надлежащего качества составляет 30 дней с момента получения товара.

          p Возврат переведённых средств, производится на ваш банковский счёт в течение 5-30 рабочих дней (срок зависит от банка, который выдал вашу банковскую карту).

          p Описание процесса передачи данных/информация о SSL-шифровании
            br
            |  Для оплаты покупки Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.
            br
            |  В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.
            br
            |  Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.

  // /.scr_deliver
