*{
	margin:0;
	padding:0;
}
html{
transition:0.3s;
}
body{
    font-family: 'RobotoRegular';
	font-size:16px;
	color:#000;
	line-height:1.3;
	transition:0.3s;
	overflow-x:hidden;
	background:#fbfbfc;
	}
div{
transition:0.3s;
}
.clear{
	clear:both;
	height:0;
	overflow:hidden;
}
.hide{ display:none !important; }
input, select, textarea{
	font-family:inherit;
	font-size:inherit;
}
.submit{ cursor:pointer; }
fieldset{ border:none; }
label{ cursor:pointer; }
a:hover{
	cursor:pointer;
	text-decoration:none;
}

p{
margin:0px;
}
a{ color:inherit; }
a img{ border:none; }
.nom{ margin:0 !important; }
a.rev{ text-decoration:none; }
a.rev:hover{ text-decoration:underline; }
.ld{ float:left; }
.rd{ float:right; }
.first{ margin-top:0 !important; }
.last{ margin-bottom:0 !important; }
.ca{ text-align:center; }
.ra{ text-align:right; }
.la{ text-align:left; }
.inh{ color:inherit !important; }
.upper{ text-transform:uppercase; }
.vam{ vertical-align:middle; }
.nowrap{ white-space:nowrap; }
.in{
	width:960px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.clearfix:before,.clearfix:after{
content:"";
display:table;
}
.clearfix:after{
clear:both;
}
.border_fort{
behavior: url(PIE.htc);
}
.margin_r{
margin-right:0px!important;
}

input, textarea {outline:none;}

a {
    outline: 0;
}
a {
    outline: none;
}
a:active, a:focus { outline: none; }


a.spolier.collapsed:after {
  content: "[ - ]";
}
a.spoiler.collapsed:after {
  content: "[ + ]";
}
.nav-tabs{
margin-bottom:15px;
}


.breadcrumb > li + li:before{
  content:"\f105";
  font-family:'fontAwesome';
}




/*------------------------------------------------------------------------   STANDART   ------------------------------------------------------------------------*/

.logo{
background:url(../img/logo.png) no-repeat;
display:block;
width:222px;
height:222px;
margin-top:15px;
transition:0.3s;
}
.header{
background:url(../img/fn1.jpg) no-repeat 50% 0;
}
.header_in{
padding-top:15px;
padding:0px 60px;
transition:0.3s;
}
.text_hin{
display:block;
width:179px;
margin-left:20px;
transition:0.3s;
}
.text_hin p{
color:#000;
font-size:14px;
font-family: 'robotomedium';
margin-top:30px;
}
.list_hin li{
float:left;
list-style:none;
margin-right:60px;
transition:0.3s;
}
.list_hin li:last-child{
margin-right:0px;
}
.list_hin a{
color:#000;
font-size:16px;
font-family: 'robotobold';
transition:0.3s;
}
.list_hin a:hover{
text-decoration:underline !important;
}
.list_hin{
margin-left:45px;
margin-top:30px;
}
.phone_hin p{
font-family: 'BebasNeueBold';
color:#000;
font-size:20px;
}
.phone_hin{
margin-top:20px;
margin-left:30px;
}
.call_hin{
margin-top:25px;
transition:0.3s;
}
.call_hin p{
color:#000;
font-size:13px;
}
.call_hin a{
font-family: 'robotobold';
font-size:15px;
color:#f08921;
background:url(../img/call_hin.png) repeat-x 0 100%;
padding-bottom:2px;
text-decoration:none !important;
}
.call_hin a:hover{
background:none;
}
.num_him{
display:block;
width:790px;
position:relative;
padding-top:8px;
}
.co_hin{
display:block;
width:1050px;
margin-right:-60px;
margin-top:-155px;
background:url(../img/co_hin.png) no-repeat;
}


.title_namu_him{
line-height:1.2;
}
.title_namu_him p{
color:#333333;
font-size:68px;
text-transform:uppercase;
font-family: 'BebasNeueBold';
margin-bottom:5px;
}
.title_namu_him span{
color:#f08921;
}
.not_num_him p{
color:#333;
font-size:36px;
font-family: 'BebasNeueBold';
text-transform:uppercase;
line-height:1.2;
}
.list_num_him li{
list-style:none;
float:left;
margin-right:5px;
}
.list_num_him li:last-child{
margin-right:0px;
}
.for_num_content{
background:url(../img/num.png) no-repeat;
display:block;
width:257px;
height:260px;
position:relative;
}
.for_special_num{
display:block;
width:60px;
height:60px;
border-radius:100px;
text-align:center;
font-size:36px;
font-family: 'BebasNeueBold';
line-height:60px;
color:#fff;
position:absolute;
left:30px;
top:7px;
}
.cont_fnc{
display:block;
width:196px;
margin:0px auto;
}
.cont_fnc p{
color:#000;
font-size:14px;
font-family: 'robotobold';
margin-bottom:5px;
}
.cont_fnc span{
color:#000;
font-size:14px;
}
.top_num_him{
margin-bottom:20px;
}
.for_num_content{
padding-top:95px;
}
.for_duck{
display:block;
width:1000px;
height:1061px;
background:url(../img/sim.png) no-repeat;
position:absolute;
right:0px;
top:138px;
}


.header{
margin-bottom:50px;
}
.list_ex_dc{
display:none;
transition:0.3s;
background:url(../img/ferma2.jpg) 50% 0;
border-radius:20px;
border:1px solid #a7b005;
padding-top:20px;
margin-bottom:30px;
}
.list_ex_dc li{
list-style:none;
display:inline-block;
transition:0.3s;
}
.list_ex_dc{
display:block;
text-align:center;
transition:0.3s;
}
.for_go{
display:block;
width:146px;
height:141px;
}
.bgr_fg1{
background:url(../img/bgr_fg1.png) no-repeat;
transition:0.3s;
}
.bgr_fg1:hover{
background:url(../img/bgr_fg1_h.png) no-repeat;
transition:0.3s;
}
.text_for_go{
display:block;
padding-top:97px;
font-size:14px;
padding-right:3px;
color:#000000;
}
.list_ex_dc li{
margin-bottom:12px;
}
.exist_duck{
display:none;
}



.list_rel_duck li{
list-style:none;
text-align:center;
transition:0.3s;
}
.for_rel_duck{
position:relative;
display:block;
width:1000px;
height:1000px;
}
.pos_fg_1{
position:absolute;
left:-60px;
bottom:360px;
}
.pos_fg_2{
position:absolute;
left:-55px;
bottom:505px;
}
.pos_fg_3{
position:absolute;
left:-10px;
bottom:644px;
}
.pos_fg_4{
position:absolute;
left:75px;
bottom:777px;
}
.pos_fg_5{
position:absolute;
left:197px;
bottom:874px;
}
.pos_fg_6{
position:absolute;
left:335px;
bottom:922px;
}
.pos_fg_7{
position:absolute;
left:475px;
bottom:935px;
}
.pos_fg_8{
position:absolute;
left:615px;
bottom:912px;
}
.pos_fg_9{
position:absolute;
left:745px;
bottom:862px;
}
.pos_fg_10{
position:absolute;
left:845px;
bottom:750px;
}


.title_abl h1{
color:#333333;
font-size:50px;
text-transform:uppercase;
font-family: 'BebasNeueBold';
margin-bottom:30px;
}
.text_abl{
display:block;
width:555px;
}
.text_abl p{
color:#666666;
font-size:14px;
margin-bottom:px;
line-height:1.6;
margin-bottom:30px;
}
.able_block{
margin-bottom:30px;
}

.bird_path{
background:#fff;
display:block;
height:265px;
-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.5);
border-radius:10px;
padding:25px;
padding-top:30px;
position:relative;
}
.bird_path p{
color:#666666;
font-size:14px;
line-height:1.6;
}
.title_path{
color:#76a9e3;
font-size:36px;
text-transform:uppercase;
font-family: 'BebasNeueBold';
text-align:center;
margin-bottom:35px;
display:block;
}
.for_path_go{
margin-bottom:70px;
}
.sm_path{
position:absolute;
left:25px;
top:20px;
}


.white_wdt_a{
background:#fff;
padding-top:60px;
padding-bottom:60px;
}
.hand_ability{
background:url(../img/hand_ability.png) no-repeat;
padding-left:55px;
padding-top:32px;
display:block;
}
.list_hab{
color:#666666;
font-size:16px;
margin-bottom:60px;
}
.list_hab li{
list-style:none;
margin-bottom:20px;
line-height:1.6;
}
.list_hab li:last-child{
padding-top:26px;
}
.hand_btn{
background:url(../img/hand_btn.png) no-repeat;
display:block;
width:224px;
height:56px;
border-radius:1000px;
-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.5);
transition:0.3s;
}
.hand_btn:hover{
-webkit-box-shadow: 0px 3px 10px 0px rgba(70, 70, 70, 0.8);
-moz-box-shadow:    0px 3px 10px 0px rgba(70, 70, 70, 0.8);
box-shadow:         0px 3px 10px 0px rgba(70, 70, 70, 0.8);
}

.grass_state{
background:url(../img/grass_state.jpg) no-repeat 50% 0;
display:block;
height:549px;
}
.grass_in{
padding-top:40px;
}
.left_grass{
display:block;
width:683px;
margin-top:50px;
}
.go_grass{
background:url(../img/go_grass.png) no-repeat;
display:block;
width:487px;
height:366px;
margin-top:-77px;
float:right;
position:relative;
}
.go_grass:hover .in_go_g{
-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.55);
box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.55);
}
.in_go_g{
position:absolute;
bottom:101px;
right:48px;
width:218px;
text-align:center;
border-radius:1000px;
padding-top:38px;
padding-bottom:38px;
}
.in_go_g p{
color:#fff;
font-size:30px;
font-family: 'BebasNeueBold';
margin-bottom:5px;
}
.in_go_g span{
color:#fff;
font-size:22px;
font-family: 'BebasNeueBold';
font-weight:normal;
}
.right_grass{
display:block;
width:340px;
}
.big_form{
display:block;
width:100%;
background:#fff;
-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.55);
box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.55);
border-radius:30px;
}
.big_f_in_mar{
display:block;
width:241px;
margin:0px auto;
padding-top:30px;
padding-bottom:25px;
}
.title_big_f{
color:#333;
font-size:16px;
font-family: 'robotobold';
text-align:center;
line-height:1.4;
margin-bottom:27px;
}
.form_bff{
display:block;
width:100%;
height:47px;
line-height:47px;
color:#666666;
font-size:13px;
padding-left:20px;
border:1px solid #76a9e3;
border-radius:8px;
}
.list_big_f li{
margin-bottom:15px;
list-style:none;
}
.list_big_f li:last-child{
margin-bottom:10px;
padding-top:15px;
}
.btn_fly{
background:url(../img/btn_fly.png) repeat-x;
display:block;
width:100%;
height:67px;
border-radius:1000px;
line-height:68px;
text-align:center;
color:#fff!important;
font-size:14px;
font-family: 'robotobold';
text-decoration:none !important;
-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.55);
box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.55);
transition:0.3s;
margin-bottom:15px;
}
.btn_fly:hover{
-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
-moz-box-shadow:    0px 0px 0px 0px rgba(0, 0, 0, 0.55);
box-shadow:         0px 0px 0px 0px rgba(0, 0, 0, 0.55);
}
.labe_fb{
display:block;
}
.labe_fb input{
float:left;
}
.labe_fb label{
font-size:11px;
color:#121415;
margin-left:20px;
font-family: 'RobotoRegular';
font-weight:100!important;
margin-top:-13px!important;
float:left;
}


.title_com{
margin-bottom:80px;
}
.title_com h2{
color:#333333;
font-size:50px;
text-transform:uppercase;
font-family: 'BebasNeueBold';
margin-bottom:30px;
}
.white_flow_com{
background:#fff;
display:block;
padding-top:100px;
padding-bottom:100px;
position:relative;
}
.grey_flow_com{
padding:50px 0px;
background:#fbfbfc;
display:block;
}

.own_bl{
display:block;
width:263px;
height:245px;
float:left;
margin-right:40px;
position:relative;
z-index:1000;
}
.bg_a1{
background:url(../img/a1.png) no-repeat;
}
.bg_a2{
background:url(../img/a2.png) no-repeat;
}
.bg_a3{
background:url(../img/a3.png) no-repeat;
}
.own_bl p{
color:#000;
font-size:16px;
font-family: 'robotomedium';
}
.own_bl span{
font-family: 'robotobold';

}
.text_own_bl{
display:block;
width:200px;
margin:0px auto;
padding-top:110px;
}
.stone{
background:url(../img/for_own_bl.jpg) no-repeat;
position:absolute;
display:block;
width:528px;
height:352px;
left:1150px;
bottom:0px;
}

.block_n_sys{
display:block;
width:100%;
border-radius:10px;
-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
transition:0.3s;
}
.block_n_sys:hover{
-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.5);
}
.block_n_sys img{
border-radius:10px 10px 0px 0px;
width:100%;
margin-bottom:px;
}
.cont_sys{
padding:30px 30px;
height:205px;
}
.cont_sys p{
color:#000000;
font-size:18px;
font-family: 'robotobold';
margin-bottom:20px;
line-height:1.4;
}
.cont_sys span{
font-size:14px;
color:#666666;
display:block;
line-height:1.4;
}

.footer{
background:#f1f1f2;
padding-top:40px;
padding-bottom:20px;
}

.ff_list a{
color:#000000;
font-size:14px;
text-decoration:none !important;
}
.ff_list a:hover{
text-decoration:underline !important;
}
.ff_list span{
font-family: 'robotomedium';
font-size:16px;
}
.ff_list li{
list-style:none;
margin-bottom:20px;
}
.ff_list li:last-child{
margin-bottom:0px;
}
.pos_ff_1{
margin-right:160px;
}
.pos_ff_2{
margin-right:70px;
}
.pos_ff_3{
margin-top:41px;
}
.ff_ad_like_list p{
color:#000000;
font-size:14px;
margin-bottom:12px;
}
.ff_ad_like_list span{
font-family: 'robotomedium';
font-size:16px;
}
.ff_ad_like_list{
margin-bottom:30px;
}
.ff_adress{
margin-right:135px;
}

.foot_company{
padding:25px 0px;
background:#f1f1f2;
border-top:1px solid #ccdbed;
}


.company{
background:url(../img/company.jpg) no-repeat 100% 50%;
display:block;
width:162px;
height:24px;
line-height:26px;
margin-left:5px;
margin-top:-3px;
padding-left:28px;
}
.footer_end{
border-top:1px solid #ccdbed;
background:#f1f1f2;
padding:20px 0px;
}
.copy_block a{
color:#787879;
font-size:13px;
font-family: 'robotobold';
}
.copy_block a:hover{
text-decoration:underline !important;
}
.copy_block p{
color:#787879;
font-size:13px;
font-family: 'robotobold';
}
.copy_block{
margin-right:65px;
float:left;
}
.mar_cp_right{
margin-right:0px;
}

.open_ex{
display:none;
}



/*---------- MODAL_START -----------*/

.modal-open {
padding-right: 0px !important;
}

#myModal1{
position:absolute;
top:20%;
z-index:20600000;
margin:0px auto;
width:100%;
position:fixed;
}
.modal-backdrop{
z-index:1050000;
background:#000!important;
position:absolute;
margin:0px auto;
width:100%;
height:100%;
position:fixed;
}
.modal-content{
width:276px;
margin:0px auto!important;
}
.list_modal{
list-style:none;
}
.for_mod1_cont h4{
text-align:center;
font-size:20px;
}
.open-modal{
padding:0px;
}
.form_rb{
display:block;
width:100%;
height:47px;
line-height:47px;
background:#f1f1f1;
border:none;
border-radius:8px;
color:#2e2929;
font-size:16px;
font-family: 'FuturaPT-Medium';
padding-left:20px;
margin-bottom:15px;
transition:0.3s;
}
.form_rb:hover{
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
border-radius:8px;
}
.btn_pro{
background:#f08921;
display:block;
width:100%;
height:51px;
line-height:51px;
border-radius:8px;
transition:0.3s;
color:#fff!important;
text-decoration:none !important;
margin:0px auto;
text-align:center;
}
.btn_pro:hover{
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
border-radius:8px;
color:#fff!important;
text-decoration:none !important;
}

/*---------- MODAL_END -----------*/



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE 767px   ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (max-width: 767px){
  .masonry[data-columns]::before {
    content:'1 .col-xs-12';
  }    

  .header_in{
  padding:0px 15px;
  position:relative;
  }  
  .logo{
  background:url(../img/logo4.png) no-repeat;
  display:block;
  width:90px;
  height:90px;
  margin-right:0px;
  } 
  .list_hin{
  display:none;
  } 
  .text_hin{  
  display:none;
  }
  .phone_hin{
  float:none;
  margin:0px auto;
  text-align:center;
  margin-bottom:15px;
  background:url(../img/style_burger.png);
  padding:15px 10px;
  width:200px;
  border-radius:10px;
  border:1px solid #f5821f;
  }
  .phone_hin p{
  font-size:20px;
  }
  .phone_hin p:last-child{
  margin:0px;
  }
  .call_hin{
  float:none;
  margin:0px auto;  
  text-align:center;
  margin-bottom:20px;
  background:url(../img/style_burger.png);
  padding:18px 10px;
  width:200px;  
  border-radius:10px;
  border:1px solid #f5821f;
  } 
  .open_hin{
  background:url(../img/open_hin.png) no-repeat 50% 50%;
  display:block;
  width:43px;
  height:43px;
  position:absolute;
  right:20px;
  top:40px;
  border:2px solid #fff;
  border-radius:5px;
  }
  .other_hin{
  padding-top:130px;
  display:block;
  width:px;
  height:px;
  }
    
  
  .num_him{
  float:none;
  display:block;
  width:100%;  
  } 
  .for_num_content{
  display:block;
  width:220px;
  height:223px;
  background:url(../img/num2.png) no-repeat;
  margin:0px auto;
  }
  .for_special_num{
  width:50px;
  height:50px;
  line-height:50px;
  left:26px;
  top:6px;
  font-size:28px;
  }
  .for_num_content{
  padding-top:75px;
  }
  .cont_fnc p{
  font-size:14px;
  text-align:left;
  }
  .cont_fnc{
  width:195px;
  }
  .cont_fnc span{
  font-size:14px;
  line-height:1.2;
  display:block;
  text-align:left;  
  }
  .list_num_him{
  display:block;  
  }
  .list_num_him li{
  margin:0px auto;
  float:none;
  display:block;    
  }
  
  .title_namu_him p{
  font-size:28px;
  text-align:center;
  }
  .not_num_him{  
  display:block;    
  }
  .not_num_him p{
  font-size:24px;
  text-align:center;
  }
  .co_hin{
  display:none;
  } 
  .header{
  background:url(../img/fn2.jpg) no-repeat 50% 0;
  }
  .for_duck{
  display:none;   
  }

  .list_ex_dc{
  background:url(../img/ferma2.jpg) 50% 0;
  padding:30px 0px;
  border:1px solid #f08921;
  border-radius:20px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:30px;
  display:block;  
  padding-bottom:10px;  
  } 
  .list_ex_dc li{
  transition:0.3s;
  }  
  .header{
  margin-bottom:30px;
  }
  .exist_duck{
  display:block;    
  transition:0.3s;
  }
  .bird_path{
  height:100%;
  padding:25px 15px;
  padding-top:35px;  
  margin-bottom:20px;
  }
  .bird_path p{
  padding-top:10px;
  }
  .sm_path{
  left:25px;
  }
  .title_path{
  font-size:28px;
  }
  .normal_center{
  padding:0px 15px;
  } 
  .title_abl h1{
  font-size:28px; 
  text-align:center;
  margin-bottom:10px;
  }  
  .title_com h2{
  font-size:28px; 
  text-align:center;
  margin-bottom:10px;
  }    
  .text_abl{
  width:100%;  
  }
  .text_abl p{
  margin-bottom:15px;
  }
  .title_path{
  position:relative;
  z-index:1000;
  }
  .sm_path{
  left:15px;
  }
  .able_block{
  margin-bottom:15px;
  }
  .for_hand{
  text-align:center;
  }
  .for_hand img{
  width:80%;
  }
  .last_bird{
  margin-bottom:-20px;
  }
  .hand_btn{
  margin:0px auto;
  }  
  .hand_ability{
  padding:0px;
  background:none;  
  }
  .list_hab li{
  background:url(../img/list_hab.png) no-repeat;
  padding-left:15px;
  font-size:14px;
  margin-bottom:10px;
  }
  .list_hab li:last-child{
  margin:0px;
  padding:0px;
  padding-left:15px;
  }
  .list_hab{
  margin-bottom:30px;
  } 
  .white_wdt_a{
  padding-bottom:30px;
  padding-top:40px;
  }
  
  
  .grass_state{
  background:url(../img/grass_state.jpg) no-repeat 50% 100%;
  display:block;
  height:100%;
  }    
  .left_grass{
  display:block;  
  float:none;  
  margin:0px;
  margin-top:20px;
  width:100%;  
  margin-bottom:30px;
  }
  .go_grass{
  background:url(../img/p250.png) no-repeat;
  display:block;
  width:250px;
  height:188px;
  float:none;
  margin:0px auto;
  margin-top:-70px;
  margin-bottom:-15px;
  }
  .in_go_g{
  display:block;
  width:111px;
  height:111px;
  bottom:52px;
  left:114px;
  padding-top:17px;  
  }
  .in_go_g p{
  font-size:16px;
  }
  .in_go_g span{
  font-size:13px;
  display:block;
  line-height:1.2;  
  }
  .right_grass{
  float:none;
  margin:0px auto;
  margin-bottom:30px;
  width:100%;
  padding:15px;
  }
  .big_f_in_mar{
  width:100%;
  padding:30px 15px;
  }

  .grass_in{
  display:block;
  width:100%;  
  margin:0px;
  padding:0px;
  }
  .for_c{
  text-align:center;
  margin-bottom:80px;
  }
  
  .stone{
  display:none;
  } 
  .own_bl{
  display:block;
  margin:0px auto;
  float:none; 
  margin-bottom:20px;
  }
  .white_flow_com{
  padding-top:20px;
  padding-bottom:30px;
  }
  .title_com{
  text-align:center;
  }
  .title_com h2{
  font-size:28px;
  }
  .grey_flow_com{
  padding-top:30px;
  }  
  
  .cont_sys{
  padding:20px;
  height:100%;
  overflow:hidden;
  }
  .normal_sys{
  margin-top:-40px;
  padding-left:15px;
  padding-right:15px;
  }  
  .block_n_sys{
  margin-bottom:20px;
  }
  
  
  .ff_list{
  display:block;
  width:100%;
  text-align:center;
  float:none;
  margin:0px auto;
  margin-bottom:25px;
  }
  
  .pos_ff_1{
  margin-right:30px;
  }
  .pos_ff_2{
  margin-right:30px;
  }
  .pos_ff_3{
  margin-top:-20px;
  }  
  .ff_adress{
  margin:0px;
  }
  .ff_list li{
  margin-bottom:5px;
  } 
  .ff_ad_like_list{
  float:none;
  text-align:center;
  margin-bottom:20px;
  }  
  .ff_adress{
  float:none;
  text-align:center;  
  }
  .ff_ad_like_list p{
  margin-bottom:5px;
  }
  .copy_block{
  display:block;
  width:100%;
  margin:0px;
  text-align:center;
  margin-bottom:5px;
  }
  .company{
  margin:0px auto;    
  }
  .company span{
  padding-right:65px;  
  }
  .mar_cp_right{
  padding-right:25px;
  margin-bottom:0px;
  }
  
  .open_ex  {
  display:block;
  width:100%;
  top:25px;
  right:0px; 
  position:absolute;   
  }
  .none_border{
  border:0px!important;
  }
  .literaly{
  background:none;
  }
  .open_hin{
  background:url(../img/open_hin.png) no-repeat 50% 50%;
  display:block;
  width:43px;
  height:43px;
  position:absolute;
  right:20px;
  top:50px;
  border:2px solid #fff;
  border-radius:5px;
  }  
  
  .style_toogle{
  background:#f08921!important;
  height:43px;  
  border:2px solid #fff!important; 
  font-size:0px!important;  
  }
  .style_toogle:hover{
  background:#f59636!important;
  }
  .open_resp{
  background:#f5821f!important;
  z-index:2000;
  border:0px;
  margin-top:20px;
  }
  .open_resp a{
  text-transform:uppercase;
  color:#fff!important;
  font-family: 'google_sansbold';
  font-size:16px;
  }
  .open_resp a:hover{
  background:url(../img/style_burger.png);
  color:#fff!important;
  }
  .mar_nav{
  margin-top:0px;
  margin-bottom:0px;
  border-top:1px solid #;
  border-bottom:1px solid #;
  }  
  
  
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE 990px   ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 767px) and (max-width: 990px){
  .masonry[data-columns]::before {
    content:'2 .col-xs-6';
  }
  
  .header_in{
  padding:0px;
  position:relative;
  }  
  .logo{
  background:url(../img/logo3.png) no-repeat;
  display:block;
  width:125px;
  height:125px;
  margin-right:0px;
  } 
  .list_hin{
  display:none;
  } 
  .text_hin{
  margin-top:10px;
  }
  .text_hin p{  
  font-size:13px;
  } 
  .phone_hin{
  float:left;
  margin-top:50px;
  }
  .call_hin{
  float:left;
  margin-top:56px;
  margin-left:45px;
  } 

  
  .num_him{
  float:none;
  display:block;
  width:100%;  
  } 
  .for_num_content{
  display:block;
  width:220px;
  height:223px;
  background:url(../img/num2.png) no-repeat;
  }
  .for_special_num{
  width:50px;
  height:50px;
  line-height:50px;
  left:26px;
  top:6px;
  font-size:28px;
  }
  .for_num_content{
  padding-top:75px;
  }
  .cont_fnc p{
  font-size:14px;
  }
  .cont_fnc{
  width:195px;
  }
  .cont_fnc span{
  font-size:14px;
  line-height:1.2;
  display:block;   
  }
  .list_num_him{
  display:block;
  text-align:center;    
  }
  .list_num_him li{
  margin-right:25px;
  }
  
  .title_namu_him p{
  font-size:46px;
  }
  .not_num_him{  
  display:block;    
  }
  .not_num_him p{
  font-size:34px;
  }
  .co_hin{
  display:none;
  }   
  .for_duck{
  display:none;   
  }   


  .list_ex_dc{
  background:url(../img/ferma2.jpg) 50% 0;
  padding:30px 0px;
  border:1px solid #f08921;
  border-radius:20px;
  margin-bottom:30px;
  padding-bottom:10px;
  }  
  .header{
  margin-bottom:30px;
  }  
  .exist_duck{
  display:block;    
  }  
  
  .bird_path{
  height:100%;
  padding:25px 15px;
  padding-top:35px;  
  margin-bottom:30px;
  }
  .sm_path{
  left:25px;
  }
  .title_path{
  font-size:28px;
  } 
  .for_hand{
  text-align:center;
  }
  .for_hand img{
  width:50%;
  }
  .white_wdt_a{
  padding-top:40px;
  }
  .last_bird{
  margin-bottom:-20px;
  }
  .hand_btn{
  margin:0px auto;
  }
  
  
  
  .grass_state{
  background:url(../img/grass_state.jpg) no-repeat 50% 100%;
  display:block;
  height:100%;
  }  
  
  .left_grass{
  display:block;  
  float:none;  
  margin:0px;
  margin-top:40px;
  width:100%;
  }
  .go_grass{
  margin:0px;
  padding:0px;
  margin:0px auto;
  float:none;
  margin-bottom:30px;  
  }
  .right_grass{
  float:none;
  margin:0px auto;
  margin-bottom:40px;
  }

  .grass_in{
  display:block;
  width:100%;  
  margin:0px;
  padding:0px;
  }
  .for_c{
  text-align:center;
  }
  
  .stone{
  display:none;
  } 
  .own_bl{
  display:block;
  width:200px;
  height:186px;  
  margin-right:70px;
  }
  .on_mar{
  margin-right:0px;
  }
  .bg_a3{
  background:url(../img/bg_a3_s.png) no-repeat;
  }
  .bg_a2{
  background:url(../img/bg_a2_s.png) no-repeat;
  }
  .bg_a1{
  background:url(../img/bg_a1_s.png) no-repeat;
  }  
  .text_own_bl{
  width:165px;
  padding-top:90px;
  }
  .text_own_bl p{
  font-size:13px;
  letter-spacing:-0.5px;
  }
  .text_own_bl span{
  font-size:13px;
  }
  .white_flow_com{
  padding-top:20px;
  padding-bottom:50px;
  }
  .title_com{
  text-align:center;
  }
  .title_com h2{
  font-size:34px;
  }
  .grey_flow_com{
  padding-top:30px;
  }
  
  .cont_sys{
  padding:20px;
  height:230px;
  overflow:hidden;
  }
  .cont_sys p{
  color:#000000;
  font-size:15px;
  font-family: 'robotobold';
  margin-bottom:15px;
  line-height:1.2;
  }
  .cont_sys span{
  font-size:13px;
  color:#666666;
  display:block;
  line-height:1.4;
  } 
  .normal_sys{
  margin-top:-40px;
  }
  
  .pos_ff_1{
  margin-right:30px;
  }
  .pos_ff_2{
  margin-right:30px;
  }
  .pos_ff_3{
  margin-top:34px;
  }  
  .ff_adress{
  margin-right:30px;
  }
  .ff_list li{
  margin-bottom:13px;
  }  
  
  
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE 1199px   ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width: 991px) and (max-width: 1199px){
  .masonry[data-columns]::before {
    content:'3 .col-xs-4';
  }
  

  .header_in{
  padding:0px;
  position:relative;
  }
  .list_hin{
  margin-left:30px;
  }
  .list_hin li{
  margin-right:23px;
  }
  .list_hin li:last-child{
  margin-right:0px;
  }
  .list_hin a{
  font-size:14px;
  }
  .logo{
  background:url(../img/logo3.png) no-repeat;
  display:block;
  width:125px;
  height:125px;
  margin-right:0px;
  }
  .phone_hin{
  margin-right:0px;
  float:none;
  }  
  .call_hin{
  float:none;
  text-align:right; 
  margin-top:10px;  
  }
  .text_hin{
  display:none;
  }
  .other_hin{
  float:right;
  }
  .text_hin{
  position:absolute;
  left:135px;
  top:40px;
  display:block;    
  width:290px;
  }
  .text_hin p{
  font-size:12px;
  }

  .num_him{
  float:none;
  display:block;
  width:100%;  
  } 
  .list_num_him  li{
  margin-right:30px;
  }
  .title_namu_him{
  margin-bottom:20px;
  }
  .not_num_him{
  margin-bottom:30px;
  }
  .co_hin{
  float:none;
  margin:0px;
  display:block;
  width:100%;
  margin:0px auto;
  border:1px solid #76c75e;
  background:url(../img/co_op.png);
  margin-top:200px;
  margin-bottom:40px;
  border-radius:50px;
  }
  .for_duck{
  display:none;   
  }   
  .exist_duck{
  display:block;    
  transition:0.3s;  
  }  
  .bird_path{
  height:100%;
  padding:35px 15px;
  padding-top:45px;  
  height:310px;
  }
  .sm_path{
  left:0px;
  }
  .title_path{
  font-size:28px;
  }
  .left_grass{
  width:600px;
  margin-top:20px;
  }  
  
  .stone{
  left:750px;
  }    
  .cont_sys{
  padding:20px;
  height:200px;
  overflow:hidden;
  }
  .cont_sys p{
  color:#000000;
  font-size:16px;
  font-family: 'robotobold';
  margin-bottom:20px;
  line-height:1.4;
  }
  .cont_sys span{
  font-size:14px;
  color:#666666;
  display:block;
  line-height:1.4;
  }  

  .pos_ff_1{
  margin-right:90px;
  }
  .pos_ff_2{
  margin-right:70px;
  }
  .pos_ff_3{
  margin-top:41px;
  }  
  .ff_adress{
  margin-right:70px;
  }
  
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------   STYLE ---+++  ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1200px) and (max-width: 1399px){
  .masonry[data-columns]::before {
    content:'3 .col-xs-4';
  }
  
  .lower{
  width:100%;
  }  
  .list_hin li{
  margin-right:20px;
  }
  .list_hin a{
  font-size:15px;
  }
  .logo{
  background:url(../img/logo2.png) no-repeat;
  display:block;
  width:150px;
  height:150px;
  }
  .phone_hin{
  margin-right:20px;
  }

  .num_him{
  float:none;
  display:block;
  width:100%;  
  } 
  .list_num_him  li{
  margin-right:30px;
  }
  .title_namu_him{
  margin-bottom:20px;
  }
  .not_num_him{
  margin-bottom:30px;
  }
  .co_hin{
  float:none;
  margin:0px;
  display:block;
  width:100%;
  margin:0px auto;
  border:1px solid #76c75e;
  background:url(../img/co_op.png);
  margin-top:100px;
  margin-bottom:40px;
  border-radius:50px;
  }
  
  .for_duck{
  display:none;   
  } 
  .exist_duck{
  display:block;    
  transition:0.3s;
  }    
  
  .stone{
  left:850px;
  }  
  
  
}

/*-----------------------------------------------------------*/

@media screen and (min-width: 1400px) and (max-width: 1799px){
  .masonry[data-columns]::before {
    content:'3 .col-xs-4';
  }
  
  .lower{
  width:100%;
  }  
  .list_hin li{
  margin-right:30px;
  }
  .phone_hin{
  margin-right:48px;
  }
  
  
  .num_him{
  width:690px;
  margin:0px;
  }
  .co_hin{
  width:630px;
  margin:0px;
  margin-right:-60px;
  margin-top:70px;
  }
  .title_namu_him p{
  font-size:58px;
  }
  .not_num_him p{
  font-size:38px;
  }
  .for_num_content{
  display:block;
  width:220px;
  height:223px;
  background:url(../img/num2.png) no-repeat;
  }
  .for_special_num{
  width:50px;
  height:50px;
  line-height:50px;
  left:26px;
  top:6px;
  font-size:28px;
  }
  .for_num_content{
  padding-top:75px;
  }
  .cont_fnc p{
  font-size:14px;
  }
  .cont_fnc{
  width:195px;
  }
  .cont_fnc span{
  font-size:14px;
  line-height:1.2;
  display:block;   
  }
  
  .for_duck{
  display:block;
  width:630px;
  height:630px;
  background:url(../img/sim.png) no-repeat;
  position:absolute;
  right:0px;
  top:300px;
  background-size:cover;
  z-index:1000;
  }
  .for_rel_duck{
  display:block;
  width:100%;
  height:100%;  
  }  
    
	.for_go{
	display:block;
	width:126px;
	height:122px;
	}
	.for_go p{
	font-size:13px;
	}
	.text_for_go{
	padding-top:85px;
	}
	.bgr_fg1{
	background:url(../img/s_bgr_fg1.png) no-repeat;
	}
	.bgr_fg1:hover{
	background:url(../img/s_bgr_fg1_h.png) no-repeat;
	}
	.pos_fg_1{
	position:absolute;
	left:-20px;
	bottom:200px;
	}
	.pos_fg_2{
	position:absolute;
	left:-20px;
	bottom:315px;
	}
	.pos_fg_3{
	position:absolute;
	left:20px;
	bottom:435px;
	}
	.pos_fg_4{
	position:absolute;
	left:105px;
	bottom:540px;
	}
	.pos_fg_5{
	position:absolute;
	left:225px;
	bottom:570px;
	}
	.pos_fg_6{
	position:absolute;
	left:345px;
	bottom:562px;
	}
	.pos_fg_7{
	position:absolute;
	left:455px;
	bottom:515px;
	}
	.pos_fg_8{
	position:absolute;
	left:515px;
	bottom:405px;
	}
	.pos_fg_9{
	position:absolute;
	left:115px;
	bottom:262px;
	}
	.pos_fg_10{
	position:absolute;
	left:445px;
	bottom:262px;
	}  
	.stone{
	left:1000px;
	} 	
  
  
  
}

/*-----------------------------------------------------------*/

@media screen and (min-width: 1800px){
  .masonry[data-columns]::before {
    content:'3 .col-xs-4';
  }
  
  .lower{
  width:100%;
  }
  
}




/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------      FONTS      ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'RobotoRegular';
    src: url('roboto-regular.eot');
    src: url('roboto-regular.eot') format('embedded-opentype'),
         url('roboto-regular.woff') format('woff'),
         url('roboto-regular.ttf') format('truetype'),
         url('roboto-regular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'robotoblack';
    src: url('3953.woff2') format('woff2'),
         url('3953.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('roboto-boldcondensed.eot');
    src: url('roboto-boldcondensed.eot') format('embedded-opentype'),
         url('roboto-boldcondensed.woff') format('woff'),
         url('roboto-boldcondensed.ttf') format('truetype'),
         url('roboto-boldcondensed.svg#RobotoBoldCondensed') format('svg');
}
@font-face {
    font-family: 'robotomedium';
    src: url('3964.woff2') format('woff2'),
         url('3964.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('3955.woff2') format('woff2'),
         url('3955.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'BebasNeueBold';
  src: url('BebasNeueBold.svg#BebasNeueBold') format('svg'),
       url('BebasNeueBold.ttf') format('truetype'),
       url('BebasNeueBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ofont.ru_Bebas Neue';
  src: url('ofont.ru_Bebas Neue.eot');
  src: url('ofont.ru_Bebas Neue.eot?#iefix') format('embedded-opentype'),
       url('ofont.ru_Bebas Neue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------      FONTS      ------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/


