mixin scr1()
  section.scr1(id="scr1")
    .scr1__bg
      noscript
        img.lazy(src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)
      img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/scr1-bg.jpg" alt="" width="125" height="90" data-object-fit-cover)

    .container
      .scr1__content
        h1.scr1__title Они подарили нам жизнь,
          br
          |  а мы вспоминаем о них
          br
          |  только 9 мая...

        .scr1__desc
          p Давайте постараемся окружить их нашей заботой,
            br
            |  ведь они так нуждаются в нашей помощи и поддержке

        .scr1__btns
          .btn__wrap
            a.btn.btn--red(href="#") Осуществить мечту ветерана


  // /.scr1
