mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      +breadcrumbs

      .post__df
        .post__content
          noscript
            img.lazy(src="img-temp/post-img-4.jpg" alt="" width="125" height="90")
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-4.jpg" alt="" width="125" height="90")

          h1 С 2020 года ветераны ВОВ смогут ездить
            br
            |  на поездах бесплатно

          .article
            h2 Ветераны войны будут год ездить на поездах в Крым бесплатно

            p В честь 75-летия годовщины Великой Победы в Великой Отечественной войне руководство оператора пассажирских ж/д перевозок в Крым «Гранд Сервис Экспресс» приняло решение предоставить право бесплатного проезда в поездах для участников и инвалидов войны.

            p В течении года они смогут воспользоваться вагонами класса СВ и «Купэ» без ограничения количества поездок.

            p В пресс-службе компании добавили, что с участниками ВОВ бесплатно сможет проехать и один сопровождающий. Белье и еда будут также бесплатными.

            p Оформить бесплатный проезд участники и инвалиды ВОВ могут в железнодорожных кассах, предъявив документ, подтверждающий право на льготу.

        .post__news
          +scr_news--post


  // /.scr_post
