mixin scr_veteran-item()
  section.scr_veteran-item.veteran-item(id="scr_veteran-item")
    .container
      +breadcrumbs--veteran

      .veteran-item__info
        .veteran-item__img
          noscript
            img.lazy(src="img-temp/veteran-item/veteran-img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

        .veteran-item__content
          h1 Матрененко
            br
            |  Василий Петрович

          p.veterans__age 83 года

          .veterans__dream
            p Издать книгу сборник стихов
              br
              |  под названием «Потомкам»

          .veterans__btns
            .btn__wrap
              a.btn.btn--red(href="#") осуществить мечту ветерана

      .veteran-item__links
        p.veteran-item__desc Мы все можем помочь воплотить в жизнь
          br
          strong  мечту ветеранов,
          |  для этого просто

        .veteran-item__socials
          p поделись ссылкой:

          +socials--veteran-item

    .veteran-item__life
      .container
        .veteran-item__life-left
          h2.title о жизни ветерана

          .article
            p Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании всесторонне сбалансированных нововведений. Равным образом выбранный нами инновационный путь способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач. Соображения высшего порядка, а также курс на социально-ориентированный национальный проект представляет собой интересный эксперимент проверки системы обучения кадров, соответствующей насущным потребностям.

            p Практический опыт показывает, что новая модель организационной деятельности в значительной степени обуславливает создание ключевых компонентов планируемого обновления. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности напрямую зависит от форм воздействия. Дорогие друзья, дальнейшее развитие различных форм деятельности обеспечивает широкому кругу специалистов участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Соображения высшего порядка, а также новая модель организационной деятельности напрямую зависит от дальнейших направлений развития проекта.

        .veteran-item__life-right
          .veteran-item__life-slider#veteran-item__life-slider
            .swiper-wrapper
              .veteran-item__life-slide.swiper-slide
                a.veteran-item__life-img.fancybox(href="img-temp/veteran-item/veteran-img-2.jpg" data-fancybox-group="veteran-item__life")
                  noscript
                    img.lazy(src="img-temp/veteran-item/veteran-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .veteran-item__life-slide.swiper-slide
                a.veteran-item__life-img.fancybox(href="img-temp/veteran-item/veteran-img-2.jpg" data-fancybox-group="veteran-item__life")
                  noscript
                    img.lazy(src="img-temp/veteran-item/veteran-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .veteran-item__life-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next


    .veteran-item__live
      .container
        h2.veteran-item__live-title А посмотрите как герои живут

        .veteran-item__live-wrap
          .swiper-container.veteran-item__live-thumbs
            .swiper-wrapper
              .swiper-slide(style="background-image:url(/img-temp/veteran-item/veteran-live-1.jpg)")
              .swiper-slide(style="background-image:url(/img-temp/veteran-item/veteran-live-2.jpg)")
              .swiper-slide(style="background-image:url(/img-temp/veteran-item/veteran-live-3.jpg)")
              .swiper-slide(style="background-image:url(/img-temp/veteran-item/veteran-live-4.jpg)")

          .swiper-container.veteran-item__live-gallery
            .swiper-wrapper
              .swiper-slide
                a.fancybox(href="img-temp/veteran-item/veteran-live-1.jpg" data-fancybox-group="veteran-item__live-gallery")
                  noscript
                    img.lazy(src="img-temp/veteran-item/veteran-live-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-live-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .swiper-slide
                a.fancybox(href="img-temp/veteran-item/veteran-live-2.jpg" data-fancybox-group="veteran-item__live-gallery")
                  noscript
                    img.lazy(src="img-temp/veteran-item/veteran-live-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-live-2.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .swiper-slide
                a.fancybox(href="img-temp/veteran-item/veteran-live-3.jpg" data-fancybox-group="veteran-item__live-gallery")
                  noscript
                    img.lazy(src="img-temp/veteran-item/veteran-live-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-live-3.jpg" alt="" width="125" height="90" data-object-fit-cover)

              .swiper-slide
                a.fancybox(href="img-temp/veteran-item/veteran-live-4.jpg" data-fancybox-group="veteran-item__live-gallery")
                  noscript
                    img.lazy(src="img-temp/veteran-item/veteran-live-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                  img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-live-4.jpg" alt="" width="125" height="90" data-object-fit-cover)


    .veteran-item__photo
      .container
        h2.title Фотоочеты выполненных мечт

        .swiper-container.veteran-item__photo-slider
          .swiper-wrapper
            .veteran-item__photo-slide.swiper-slide
              a.veteran-item__photo-img.fancybox(href="img-temp/veteran-item/veteran-photo-1.jpg" data-fancybox-group="veteran-item__life")
                noscript
                  img.lazy(src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .veteran-item__photo-slide.swiper-slide
              a.veteran-item__photo-img.fancybox(href="img-temp/veteran-item/veteran-photo-1.jpg" data-fancybox-group="veteran-item__life")
                noscript
                  img.lazy(src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .veteran-item__photo-slide.swiper-slide
              a.veteran-item__photo-img.fancybox(href="img-temp/veteran-item/veteran-photo-1.jpg" data-fancybox-group="veteran-item__life")
                noscript
                  img.lazy(src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

            .veteran-item__photo-slide.swiper-slide
              a.veteran-item__photo-img.fancybox(href="img-temp/veteran-item/veteran-photo-1.jpg" data-fancybox-group="veteran-item__life")
                noscript
                  img.lazy(src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veteran-item/veteran-photo-1.jpg" alt="" width="125" height="90" data-object-fit-cover)

          .veteran-item__photo-btns
            button.swiper-button-prev
            .swiper-dots
            button.swiper-button-next



  // /.scr_veteran-item
