mixin scr_veterans()
  section.scr_veterans.veterans(id="scr_veterans")
    .container
      h2.title Мы должны успеть воплотить
        br
        |  в жизнь мечты ветеранов

      .veterans__slider#veterans__slider
        .swiper-wrapper
          .swiper-slide.veterans__slide
            .veterans__item
              .veterans__img
                noscript
                  img.lazy(src="img-temp/veterans/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veterans/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .veterans__content
                .veterans__top
                  h3 Матрененко
                    br
                    |  Василий Петрович

                  p.veterans__age 83 года

                .veterans__dream
                  p Мечтает построить беседку во дворе

                  .veterans__scale

                    //. ID input'а у каждой карточки разный!!!

                    input(class="veterans__scale-range" id="veterans__scale-1" type="text" name="veterans__scale" aria-required="true" aria-invalid="false")

                    input(class="veterans__scale-min" type="hidden" name="veterans__scale-min" aria-required="true" aria-invalid="false" value="500")
                    input(class="veterans__scale-max" type="hidden" name="veterans__scale-max" aria-required="true" aria-invalid="false" value="50000")
                    input(class="veterans__scale-curr" type="hidden" name="veterans__scale-curr" aria-required="true" aria-invalid="false" value="5000")

                .veterans__btns
                  .btn__wrap
                    a.btn.btn--red(href="#") Подробнее

          .swiper-slide.veterans__slide
            .veterans__item
              .veterans__img
                noscript
                  img.lazy(src="img-temp/veterans/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veterans/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .veterans__content
                .veterans__top
                  h3 Поликарпов
                    br
                    |  Степан Николаевич

                  p.veterans__age 90 года

                .veterans__dream
                  p Мечтаето о новом слуховом аппарате

                  .veterans__scale
                    input(class="veterans__scale-range" id="veterans__scale-2" type="text" name="veterans__scale" aria-required="true" aria-invalid="false")

                    input(class="veterans__scale-min" type="hidden" name="veterans__scale-min" aria-required="true" aria-invalid="false" value="50")
                    input(class="veterans__scale-max" type="hidden" name="veterans__scale-max" aria-required="true" aria-invalid="false" value="5000")
                    input(class="veterans__scale-curr" type="hidden" name="veterans__scale-curr" aria-required="true" aria-invalid="false" value="1000")


                .veterans__btns
                  .btn__wrap
                    a.btn.btn--red(href="#") Подробнее

          .swiper-slide.veterans__slide
            .veterans__item
              .veterans__img
                noscript
                  img.lazy(src="img-temp/veterans/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veterans/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .veterans__content
                .veterans__top
                  h3 Матрененко
                    br
                    |  Василий Петрович

                  p.veterans__age 83 года

                .veterans__dream
                  p Мечтает построить беседку во дворе

                  .veterans__scale
                    input(class="veterans__scale-range" id="veterans__scale-3" type="text" name="veterans__scale" aria-required="true" aria-invalid="false")

                    input(class="veterans__scale-min" type="hidden" name="veterans__scale-min" aria-required="true" aria-invalid="false" value="500")
                    input(class="veterans__scale-max" type="hidden" name="veterans__scale-max" aria-required="true" aria-invalid="false" value="50000")
                    input(class="veterans__scale-curr" type="hidden" name="veterans__scale-curr" aria-required="true" aria-invalid="false" value="5000")

                .veterans__btns
                  .btn__wrap
                    a.btn.btn--red(href="#") Подробнее

          .swiper-slide.veterans__slide
            .veterans__item
              .veterans__img
                noscript
                  img.lazy(src="img-temp/veterans/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veterans/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .veterans__content
                .veterans__top
                  h3 Поликарпов
                    br
                    |  Степан Николаевич

                  p.veterans__age 90 года

                .veterans__dream
                  p Мечтаето о новом слуховом аппарате

                  .veterans__scale
                    input(class="veterans__scale-range" id="veterans__scale-4" type="text" name="veterans__scale" aria-required="true" aria-invalid="false")

                    input(class="veterans__scale-min" type="hidden" name="veterans__scale-min" aria-required="true" aria-invalid="false" value="50")
                    input(class="veterans__scale-max" type="hidden" name="veterans__scale-max" aria-required="true" aria-invalid="false" value="5000")
                    input(class="veterans__scale-curr" type="hidden" name="veterans__scale-curr" aria-required="true" aria-invalid="false" value="1000")


                .veterans__btns
                  .btn__wrap
                    a.btn.btn--red(href="#") Подробнее

          .swiper-slide.veterans__slide
            .veterans__item
              .veterans__img
                noscript
                  img.lazy(src="img-temp/veterans/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veterans/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .veterans__content
                .veterans__top
                  h3 Матрененко
                    br
                    |  Василий Петрович

                  p.veterans__age 83 года

                .veterans__dream
                  p Мечтает построить беседку во дворе

                  .veterans__scale
                    input(class="veterans__scale-range" id="veterans__scale-5" type="text" name="veterans__scale" aria-required="true" aria-invalid="false")

                    input(class="veterans__scale-min" type="hidden" name="veterans__scale-min" aria-required="true" aria-invalid="false" value="500")
                    input(class="veterans__scale-max" type="hidden" name="veterans__scale-max" aria-required="true" aria-invalid="false" value="50000")
                    input(class="veterans__scale-curr" type="hidden" name="veterans__scale-curr" aria-required="true" aria-invalid="false" value="5000")

                .veterans__btns
                  .btn__wrap
                    a.btn.btn--red(href="#") Подробнее

          .swiper-slide.veterans__slide
            .veterans__item
              .veterans__img
                noscript
                  img.lazy(src="img-temp/veterans/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/veterans/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .veterans__content
                .veterans__top
                  h3 Поликарпов
                    br
                    |  Степан Николаевич

                  p.veterans__age 90 года

                .veterans__dream
                  p Мечтаето о новом слуховом аппарате

                  .veterans__scale
                    input(class="veterans__scale-range" id="veterans__scale-6" type="text" name="veterans__scale" aria-required="true" aria-invalid="false")

                    input(class="veterans__scale-min" type="hidden" name="veterans__scale-min" aria-required="true" aria-invalid="false" value="50")
                    input(class="veterans__scale-max" type="hidden" name="veterans__scale-max" aria-required="true" aria-invalid="false" value="5000")
                    input(class="veterans__scale-curr" type="hidden" name="veterans__scale-curr" aria-required="true" aria-invalid="false" value="1000")


                .veterans__btns
                  .btn__wrap
                    a.btn.btn--red(href="#") Подробнее


        .slider__btns
          .swiper-dots

      .veterans__bottom
        .more__wrap
          a.more(href="#") Все ветераны

  // /.scr_veterans
