mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      h1.title контакты

      .contacts__df
        .contacts__item
          a.contacts__link(href="tel:+79787876767" rel="nofollow")
            i.fa.fa-phone
            |  +7 (978) 787-67-67
        .contacts__item
          a.contacts__link(href="mailto:info@мечтаветерана.рф" rel="nofollow")
            i.fa.fa-envelope
            |  info@мечтаветерана.рф

  // /.scr_contacts
