mixin scr_news()
  section.scr_news.news(id="scr_news")
    .container
      h2.title Новости проекта

      .news__slider#news__slider
        .swiper-wrapper
          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «Помочь людям, которых даже не знаешь». Нужны добровольцы

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «Помочь людям, которых даже не знаешь». Нужны добровольцы

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «Помочь людям, которых даже не знаешь». Нужны добровольцы

                  p Если вы живете в одном из указанных регионов

              .news__bottom
                .article
                  time 10 января 2020

        .slider__btns
          .swiper-dots

      .news__links
        .more__wrap
          a.more(href="#") Все ветераны


  // /.scr_news

mixin scr_news--page()
  section.scr_news.news.news--page(id="scr_news")
    .container
      h2.title Новости

      .news__slider
        .swiper-wrapper
          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «Помочь людям, которых даже не знаешь». Нужны добровольцы

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «БАНК ПАМЯТИ» — проект призван сохранить воспоминания

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 С 2020 года ветераны ВОВ смогут ездить на поездах бесплатно

                  p Если вы живете в одном из указанных регионов

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «Помочь людям, которых даже не знаешь». Нужны добровольцы

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «БАНК ПАМЯТИ» — проект призван сохранить воспоминания

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 С 2020 года ветераны ВОВ смогут ездить на поездах бесплатно

                  p Если вы живете в одном из указанных регионов

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «Помочь людям, которых даже не знаешь». Нужны добровольцы

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 «БАНК ПАМЯТИ» — проект призван сохранить воспоминания

                  p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

              .news__bottom
                .article
                  time 10 января 2020

          .news__slide.swiper-slide
            .news__item
              a.news__img(href="#")
                noscript
                  img.lazy(src="img-temp/post-img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-3.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

              .news__content
                .article
                  a.news__link(href="#")
                    h3 С 2020 года ветераны ВОВ смогут ездить на поездах бесплатно

                  p Если вы живете в одном из указанных регионов

              .news__bottom
                .article
                  time 10 января 2020


      +paginator


  // /.scr_news

mixin scr_news--post()
  section.scr_news.news.news--post(id="scr_news")
    .news__slide
      .news__item
        a.news__img(href="#")
          noscript
            img.lazy(src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

        .news__content
          .article
            a.news__link(href="#")
              h3 «Помочь людям, которых даже не знаешь». Нужны добровольцы

            p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

        .news__bottom
          .article
            time 10 января 2020

    .news__slide
      .news__item
        a.news__img(href="#")
          noscript
            img.lazy(src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)
          img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/post-img-2.jpg" alt="" width="125" height="90" data-object-fit-cover-top)

        .news__content
          .article
            a.news__link(href="#")
              h3 «БАНК ПАМЯТИ» — проект призван сохранить воспоминания

            p Если вы живете в одном из указанных регионов и готовы помочь, обращайтесь по указанным адресам, получайте данные воинов – ваших земляков и приступайте к поискам их потомков.

        .news__bottom
          .article
            time 10 января 2020

  // /.scr_news

