mixin scr_reports()
  section.scr_reports.reports(id="scr_reports")
    .container
      h1.title Отчеты

      ul.reports__list
        li
          a.reports__item(href="#" download) Выписка по счету январь 2020 года
        li
          a.reports__item(href="#" download) Выписка по счету январь 2020 года
        li
          a.reports__item(href="#" download) Выписка по счету январь 2020 года
        li
          a.reports__item(href="#" download) Выписка по счету январь 2020 года
        li
          a.reports__item(href="#" download) Выписка по счету январь 2020 года
        li
          a.reports__item(href="#" download) Выписка по счету январь 2020 года


  // /.scr_reports
