mixin scr_about()
  section.scr_about.about(id="scr_about")
    .about__info
      .container
        .about__df
          .about__content
            h1.title о проекте

            .article
              blockquote
                p Благодаря разного рода своей деятельности в 2018-2019 годах мне посчастливилось поздравлять наших ветеранов 9 мая с днем Великой Победы.

                p Не могу сказать, что увиденные условия жизни ветеранов всегда меня расстраивали, но внутренне я точно понимал, что они заслуживают большего и это большее в наших с Вами руках!
                p Их осталось совсем мало, особенно тех, кто реально принимал участие в боевых действиях, защищая наше будущее! Родившись, они даже представить себе не могли, как сильно изменится их жизнь!

                p А ведь они тоже о чем-то мечтали и некоторые из этих мечт до сих не сбылись…

                p Именно с этой мыслью было принято решение создать проект «МЕЧТА ВЕТЕРАНА», благодаря которому мы сможем не только сообщить друг другу о подвигах наших героев, но и об их несбывшихся мечтах, которые мы обязательно сможем осуществить, чего бы нам это не стоило!

              cite
                p.about__name Ярослав Селютин
                p.about__job Создатель проекта

          .about__img
            noscript
              img.lazy(src="img/about-img.jpg" alt="" width="125" height="90")
            img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img/about-img.jpg" alt="" width="125" height="90")

    .container
      .about__features
        .about__wrap.about__wrap--help
          h2.title Кому помогаем?

          .article
            p Ветеранам Великой Отечественной войны,
              br
              |  принимавшим участие в боевых действиях.

        .about__wrap.about__wrap--aim
          h2.title Наша цель

          .article
            p Объединиться, чтобы успеть выявить и осуществить максимально много мечт наших героев!

        .about__wrap.about__wrap--money
          h2.title Куда поступают перечисленные Вами деньги?

          .article
            p На мой личный идентифицированный Яндекс кошелек. Почему так?
            br
            p При создании благотворительной организации пожертвования расходуются не только на цели, ради которых она создана, но и на ее содержание, заработные платы сотрудников, аренду и прочие расходы.
            p А в данном проекте я хочу, чтобы абсолютно все деньги шли только на осуществление мечт наших героев. Я готов нести персональную ответственность за все перечисленные пожертвования, о чем соответственно буду публиковать информацию в разделе «Отчеты».

  // /.scr_about
