mixin scr_help()
  section.scr_help.help(id="scr_help")
    .container
      h1.title Как могу помочь?

      .help__donation.help__wrap
        h2.help__title Сделать пожертвование

        .article
          p Нажав кнопку
            strong  «Осуществить мечту ветерана»,
            |  перед Вами появится форма оплаты, с помощью которой Вы сможете сделать пожертвование на конкретную мечту ветерана.
          p При оплате необходимо обязательно указать фамилию ветерана, на чью мечту Вы жертвуете. В противном случае нам придётся самостоятельно выбрать любую мечту ветерана, что будет сделать крайне сложно, так как хочется воплотить в жизнь все мечты.
          br
          p
            strong Комиссия при переводе денежных средств зависит от выбранного Вами способа перевода:
          ul
            li при оплате с Яндекс.кошелька — 0,5% от суммы (если отправляете 100 рублей, то на мечту приходит 99,5 рублей);
            li при оплате с банковских карт — 2% от суммы (из 100 рублей на мечту ветерана приходит 98 рублей).

        .help__btns
          .btn__wrap
            a.btn.btn--red(href="#") Осуществить мечту ветерана

      .help__df
        .help__organization.help__wrap
          h2.help__title передать вещи
            br
            |  организовать встречу

          .article
            p Если мечта ветерана не носит денежный характер (например, наш герой хочет встретиться с каким-то артистом или даже с президентом), и Вы можете организовать это, то Вам так же необходимо нажать кнопку
              strong  «Осуществить мечту ветерана»,
              |  в результате чего появится форма, в которой Вам необходимо будет указать Ваши контактные данные, чтобы мы могли с Вами связаться и осуществить задуманное.

          .help__btns
            .btn__wrap
              a.btn.btn--red(href="#") Осуществить мечту ветерана

        .help__share.help__wrap
          h2.help__title Поделиться ссылкой
            br
            |  на наш сайт

          .article
            p Вы даже представить себе не можете как сильно Вы поможете нам, если поделитесь ссылкой на наш сайт. Ведь чем больше людей узнает о мечтах наших ветеранов, тем больше вероятность их исполнения.

          .help__links
            h2.help__title поделись ссылкой:
            +socials--help

  // /.scr_help
