mixin socials()
  section.socials(id="socials")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-facebook
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-odnoklassniki

  // /.socials

mixin socials--help()
  section.socials.socials--help(id="socials--help")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-facebook
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-odnoklassniki
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram

  // /.socials

mixin socials--veteran-item()
  section.socials.socials--veteran-item(id="socials--help")
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-vk
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-facebook
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-odnoklassniki
    a.socials__link(href='#', rel='nofollow', target='_blank')
      i.fa.fa-instagram

  // /.socials
