$r: #f5161f
$g: #263238

$accent: $r
$accent2: $g

$icon: #263238
$body-color: #263238

$grad: linear-gradient(180.0deg, #f5161f 0%, #ca0606 100%)

$font: 'AvenirNextCyr', sans-serif

$form-font: $font
$title-font: $font

// Миксин замены цвета placeholder у input. Нужно добавить в стилях элемента конструкцию вида @include placeholder(#000, 14px)
@mixin placeholder($color,$size)
  &::-webkit-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &::-moz-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font
  &:-ms-input-placeholder
    color: $color
    font-size: $size
    transition: 0.5s
    font-family: $form-font

