.post
  position: relative
  padding-bottom: 30px
  &__main
    margin-top: 30px
  &__wrap
    columns: 2
    column-gap: 30
  &__title
    margin-top: 0
    margin-bottom: 33px
    font-size: 24px
    line-height: 1.2
    font-weight: 400
  .article
    p
      margin-bottom: 22px
    img
      border-radius: 6px
  h1,h2,h3,h4,h5,h6
    max-width: calc(50% - 15px)

  @media screen and (max-width: 767px)
    &__wrap
      columns: 1
    &__title
      margin-bottom: 20px
      font-size: 21px
    h1,h2,h3,h4,h5,h6
      max-width: 100%
    .article
      p
        margin-bottom: 15px

  // max-width 767px

/* post */
