mixin footer(logotype)
  footer.footer(id="footer")
    .container
      .footer__df
        .footer__politics
          a.text(href="#") Политика конфиденциальности

        .footer__copyright
          p.text г. Симферополь © Copyright  2021&nbsp;г.

        a.made(href="https://sheer82.ru/")
          span.text Сделано в
          svg.icon
            use(xlink:href='img/svg/sprite.svg#iconSheer')

      // /.footer__df
    // /.container
  // /.footer

