mixin scr_lead()
  section.scr_lead.lead(id="scr_lead")
    .container
      .lead__df
        .lead__content
          p.page-title У нас вы можете отпраздновать любой праздник: день рождение, корпоративное мероприятие или просто праздник «души»

          .lead__desc
            p
              strong Боулинг-клуб «FM»
              |  приглашает всех желающих провести время с максимальным удовольствием и пользой! Это место, где уютно себя чувствуешь в окружении множества друзей и просто приятных и родных вам людей! Боулинг оборудован 12 дорожками. Для Вас работает барная стойка и кафе!

            p Мы ждем Вас ежедневно с
              strong  10:00 до 22:00,
              |  а все интересующие Вас вопросы и бронирование дорожек можно оформить по телефону:
              a(href="tel:+79788940240" rel="nofollow")
                strong  +7 (978) 894 02 40

        .lead__form
          .form.wpcf7
            form.wpcf7-form
              p.form__title Заполните форму
              p.form__desc чтобы забронировать дорожку
                br
                |  и мы вам перезвоним

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')

              .form__item.form__item--submit
                input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--red(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

  // /.scr_lead
