mixin scr_contacts()
  section.scr_contacts.contacts(id="scr_contacts")
    .container
      h1.page-title Контакты

      .contacts__df
        .contacts__col
          .contacts__item
            .contacts__text
              h3 Адрес:
              p Россия, Крым, г. Симферополь,
                br
                |  ул. Механизаторов 51
          .contacts__item
            .contacts__text
              h3 Приемная:
              a.xlink2(href="tel:+73652690590" rel="nofollow") +7 (3652) 690-590

          .contacts__item
            .contacts__text
              h3 Отдел аренды:
              a.xlink2(href="tel:+73652550618" rel="nofollow") +7 (3652) 550-618

        .contacts__col
          .contacts__item
            .contacts__text
              h3 Отдел маркетинга:
              a.xlink2(href="tel:+73652550618" rel="nofollow") +7 (3652) 550-618
          .contacts__item
            .contacts__text
              h3 Отдел кадров:
              a.xlink2(href="tel:+73652550603" rel="nofollow") +7 (3652) 550-603
          .contacts__item
            .contacts__text
              h3 E-mail:
              a.xlink2(href="mailto:trcfm.arenda@gmail.com" rel="nofollow") trcfm.arenda@gmail.com

        .contacts__col
          .contacts__item
            .contacts__text
              h3 Режим работы:
              p
                strong Отдел аренды:
                |  09:00 -  18:00,
                strong  телефон:&nbsp;
                a(href="tel:+73652690400" rel="nofollow") +7 (3652) 690-400
              p
                strong Юридический отдел:
                |  09:00 — 18:00,
                strong  телефон:&nbsp;
                a(href="tel:+73652550612" rel="nofollow") +7 (3652) 550-612
              p
                strong Отдел маркетинга и рекламы:
                |  09:00 — 18:00,
                strong  телефон:&nbsp;
                a(href="tel:+73652550608" rel="nofollow") +7 (3652) 550-608
              p
                strong Гипермаркет «Большое Яблоко»:
                |  08:00 — 23:00,
                strong  телефон:&nbsp;
                a(href="tel:+73652550610" rel="nofollow") +7 (3652) 550-610
              p
                strong Боулинг клуб:
                |  10:00 — 22:00,
                strong  телефоны:&nbsp;
                a(href="tel:+73652550610" rel="nofollow") +7 (3652) 690-777,&nbsp;
                a(href="tel:+79788940240" rel="nofollow") +7 (978) 894-02-40
              p
                strong Каток:
                |  10:00 — 22:00,
                strong  телефон:&nbsp;
                a(href="tel:+73652690700" rel="nofollow") +7 (3652) 690 — 700

      .contacts__item
        .contacts__text
          h3 Как проехать:
          p
            strong Троллейбусы:
            |  № 5/7, 13 (Остановка ТРЦ ФМ)
          p
            strong Маршрутные такси:
            |  № 10, 69, 86 (через Куйбышевский рынок), № 16, 62 (через Ж/д вокзал)

      .contacts__bottom
        .contacts__form
          .form.wpcf7
            form.wpcf7-form
              p.form__title Остались вопросы?
              p.form__desc Заполните форму и наш менеджер
                br
                |  ответит вам в течение 10 минут

              .form__item
                span.wpcf7-form-control-wrap.your-name.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-name(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваше имя')

              .form__item
                span.wpcf7-form-control-wrap.your-tel.text-input
                  input.wpcf7-form-control.wpcf7-text.wpcf7-tel(type='tel', name='your-tel', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Ваш телефон')

              .form__item.form__item--submit
                input.wpcf7-form-control.wpcf7-submit.xbtn.xbtn--red(type='submit', value='Отправить')

              .form__item
                span.wpcf7-form-control-wrap.accept
                  span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required
                    span.wpcf7-list-item
                      label
                        input(type='checkbox', name='accept', value='Согласие на обработку персональных данных', checked='checked')
                        span.wpcf7-list-item-label Согласие на обработку персональных данных
                          i.accept__icon

        .contacts__map#contacts__map

  // /.scr_contacts
