mixin scr_card()
  section.scr_card.card(id="scr_card")
    .container
      h1.page-title Боулинг

      .card__df
        .card__content
          p.card__title Стоимость боулинга в ТРЦ FM:

          .card__table
            table
              thead
                tr
                  td День недели:
                  td до 21:00
                  td после 21:00
              tbody
                tr
                  td Понедельник - четверг
                  td 400 руб.
                  td 450 руб.
                tr
                  td Пятница
                  td 400 руб.
                  td 450 руб.
                tr
                  td Суббота
                  td 400 руб.
                  td 450 руб.
                tr
                  td Воскресенье
                  td 400 руб.
                  td 450 руб.

        .card__img
          img(src="img/card-img.jpg" alt="")

      h2.page-title Бронирование дорожек

      .card__item
        p.card__title Выберите удобную для вас дату:

      .card__timeline-wrap
        .card__timeline#card__timeline
          .swiper-wrapper

        .card__timeline-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow2")
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow2")

      .card__timeline-wrap
        .card__timeline#card__timeline-hours
          .swiper-wrapper

        .card__timeline-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow2")
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow2")

      ul.card__tabs
        li.card__tab(data-day="27.04")
          ul.card__sub-tabs
            li.card__sub-tab(data-time-begin="12:00" data-time-end="13:00")
              .card__tracks#card__tracks-0-0
                .swiper-wrapper
                  .swiper-slide
                    a.card__tracks-item.open-modal(href="#modal__tracks" data-track="1")
                      p Свободно
                        br
                        |  1
                  .swiper-slide
                    a.card__tracks-item.open-modal(href="#modal__tracks" data-track="2")
                      p Свободно
                        br
                        |  2
                  .swiper-slide
                    a.card__tracks-item.open-modal(href="#modal__tracks" data-track="3")
                      p Свободно
                        br
                        |  3
                  .swiper-slide
                    a.card__tracks-item.open-modal(href="#modal__tracks" data-track="4")
                      p Свободно
                        br
                        |  4
                  .swiper-slide
                    a.card__tracks-item.open-modal(href="#modal__tracks" data-track="5")
                      p Свободно
                        br
                        |  5
                  .swiper-slide
                    a.card__tracks-item.open-modal(href="#modal__tracks" data-track="6")
                      p Свободно
                        br
                        |  6

              .card__tracks-btns
                .swiper-dots


  // /.scr_card
