mixin scr_photos()
  section.scr_photos.photos(id="scr_photos")
    .container
      h2.page-title Интерьер боулинга в ТРЦ FM

      .photos__wrap
        .photos__cont
          .photos__slider#photos__slider
            .swiper-wrapper
              .swiper-slide
                a.photos__item.fancybox(href="img-temp/cards/img-5.jpg" data-fancybox-group="photos")
                  img(src="img-temp/cards/img-5.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                a.photos__item.fancybox(href="img/card-img.jpg" data-fancybox-group="photos")
                  img(src="img/card-img.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                a.photos__item.fancybox(href="img-temp/cards/img-6.jpg" data-fancybox-group="photos")
                  img(src="img-temp/cards/img-6.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                a.photos__item.fancybox(href="img-temp/cards/img-5.jpg" data-fancybox-group="photos")
                  img(src="img-temp/cards/img-5.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                a.photos__item.fancybox(href="img/card-img.jpg" data-fancybox-group="photos")
                  img(src="img/card-img.jpg" alt="" data-object-fit-cover)
              .swiper-slide
                a.photos__item.fancybox(href="img-temp/cards/img-6.jpg" data-fancybox-group="photos")
                  img(src="img-temp/cards/img-6.jpg" alt="" data-object-fit-cover)

        .photos__slider-btns
          button.swiper-button-prev
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")
          .swiper-dots
          button.swiper-button-next
            svg.icon
              use(xlink:href="img/svg/sprite.svg#arrow")

  // /.scr_photos
