mixin scr_gallery()
  section.scr_gallery.gallery(id="scr_gallery")
    +breadcrumbs

    .container

      h1.page-title Галерея

      ul.gallery__list
        li
          .gallery__item
            a.gallery__top.gallery__top--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
              img(src="img-temp/gallery/img-1.jpg" alt="" data-object-fit-cover)

            h2.gallery__title Об Fm за 15 секунд
        li
          .gallery__item
            a.gallery__top.gallery__top--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
              img(src="img-temp/gallery/img-2.jpg" alt="" data-object-fit-cover)

            h2.gallery__title Кино и боулинг в ТРЦ FM
        li
          .gallery__item
            a.gallery__top.gallery__top--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
              img(src="img-temp/gallery/img-3.jpg" alt="" data-object-fit-cover)

            h2.gallery__title Все об Fm
        li
          .gallery__item
            a.gallery__top.gallery__top--video.fancybox(href="https://www.youtube.com/embed/atpnSRhv_f0?controls=1&amp;amp;showinfo=0&amp;amp;autoplay=1&amp;amp;loop=1&amp;amp;playlist=atpnSRhv_f0" data-fancybox-type="iframe")
              img(src="img-temp/gallery/img-4.jpg" alt="" data-object-fit-cover)

            h2.gallery__title Kinobox в ТРЦ Fm
        li
          .gallery__item
            a.gallery__top.fancybox(href="img-temp/gallery/img-5.jpg")
              img(src="img-temp/gallery/img-5.jpg" alt="" data-object-fit-cover)

            h2.gallery__title Торговые ряды в FM
        li
          .gallery__item
            a.gallery__top.fancybox(href="img-temp/gallery/img-6.jpg")
              img(src="img-temp/gallery/img-6.jpg" alt="" data-object-fit-cover)

            h2.gallery__title Бильярдные столы

  // /.scr_gallery
