mixin scr_card()
  section.scr_card.card(id="scr_card")
    .container
      h1.page-title Боулинг в FM

      .card__img
        img(src="img/card-img.jpg" alt="")

      ul.card__feat
        li
          .card__feat-img
            img(src="img-temp/cards/img-1.jpg" alt="" data-object-fit-cover)
          p.card__feat-title 12 просторных дорожек для&nbsp;боулинга
        li
          .card__feat-img
            img(src="img-temp/cards/img-2.jpg" alt="" data-object-fit-cover)
          p.card__feat-title Корпоративы разных
            br
            |  форматов
        li
          .card__feat-img
            img(src="img-temp/cards/img-3.jpg" alt="" data-object-fit-cover)
          p.card__feat-title Алкогольное и&nbsp;безалкогольное меню
        li
          .card__feat-img
            img(src="img-temp/cards/img-4.jpg" alt="" data-object-fit-cover)
          p.card__feat-title Организация
            br
            |  праздников

      h2.page-title Забронировать дорожку

      p.card__desc Мы ждем Вас ежедневно с
        b  10:00 до 22:00,
        |  а все интересующие Вас вопросы и пронирование дорожек
        br
        |  можно оформить по телефону:
        a(href="tel:+79788940240" rel="nofollow")
          b  +7 (978) 894-02-40

      .card__timeline-wrap
        button.swiper-button-prev
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow2")
        .card__timeline#card__timeline
          .swiper-wrapper
            .swiper-slide
              a.card__timeline-item.current(href="#card__tab-250521") Вт. 25.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-260521") Ср. 26.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-270521") Чт. 27.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-280521") Пт. 28.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-290521") Сб. 29.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-300521") Вс. 30.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-310521") Пн. 31.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-250521") Вт. 25.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-260521") Ср. 26.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-270521") Чт. 27.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-280521") Пт. 28.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-290521") Сб. 29.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-300521") Вс. 30.05.21
            .swiper-slide
              a.card__timeline-item(href="#card__tab-310521") Пн. 31.05.21
        button.swiper-button-next
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow2")

      ul.card__tabs
        li.card__tab#card__tab-250521
          .card__df
            .card__book
              .card__book-table
                table
                  thead
                    tr
                      td 10:00
                      td 11:00
                      td 12:00
                      td 13:00
                      td 14:00
                      td 15:00
                      td 16:00
                      td 17:00
                      td 18:00
                      td 19:00
                      td 20:00
                      td 21:00
                  tbody
                    tr
                      td
                        //. Дата/время/дорожка заняты
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        //. Дата/время/дорожка забронированы
                        .card__cell.card__cell--booked Бронь
                      td
                        .card__cell.card__cell--booked Бронь
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="15:00-16:00" data-book-line="1" data-book-price="400 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="16:00-17:00" data-book-line="1" data-book-price="400 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="17:00-18:00" data-book-line="1" data-book-price="400 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="1" data-book-price="500 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="1" data-book-price="500 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="1" data-book-price="500 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="1" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--booked Бронь
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="16:00-17:00" data-book-line="2" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="17:00-18:00" data-book-line="2" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="2" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="2" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="2" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="2" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--booked Бронь
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="16:00-17:00" data-book-line="3" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="17:00-18:00" data-book-line="3" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="3" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="3" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="3" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="3" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="4" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="4" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="4" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="4" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="5" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="5" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="5" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="5" data-book-price="500 р.")

                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="6" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="6" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="6" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="6" data-book-price="500 р.")


                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="7" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="7" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="7" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="7" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="8" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="8" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="8" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="8" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="9" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="9" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="9" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="9" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="10" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="10" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="10" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="10" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="11" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="11" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="11" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="11" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="18:00-19:00" data-book-line="12" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="19:00-20:00" data-book-line="12" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="20:00-21:00" data-book-line="12" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="25.05.2021" data-book-time="21:00-22:00" data-book-line="12" data-book-price="500 р.")

            .card__lines
              .card__book-table
                table
                  thead
                    tr
                      td
                  tbody
                    tr
                      td
                        .card__cell.card__cell--line #1
                    tr
                      td
                        .card__cell.card__cell--line #2
                    tr
                      td
                        .card__cell.card__cell--line #3
                    tr
                      td
                        .card__cell.card__cell--line #4
                    tr
                      td
                        .card__cell.card__cell--line #5
                    tr
                      td
                        .card__cell.card__cell--line #6
                    tr
                      td
                        .card__cell.card__cell--line #7
                    tr
                      td
                        .card__cell.card__cell--line #8
                    tr
                      td
                        .card__cell.card__cell--line #9
                    tr
                      td
                        .card__cell.card__cell--line #10
                    tr
                      td
                        .card__cell.card__cell--line #11
                    tr
                      td
                        .card__cell.card__cell--line #12

        li.card__tab#card__tab-260521
          .card__df
            .card__book
              .card__book-table
                table
                  thead
                    tr
                      td 10:00
                      td 11:00
                      td 12:00
                      td 13:00
                      td 14:00
                      td 15:00
                      td 16:00
                      td 17:00
                      td 18:00
                      td 19:00
                      td 20:00
                      td 21:00
                  tbody
                    tr
                      td
                        //. Дата/время/дорожка заняты
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        //. Дата/время/дорожка забронированы
                        .card__cell.card__cell--booked Бронь
                      td
                        .card__cell.card__cell--booked Бронь
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="15:00-16:00" data-book-line="1" data-book-price="400 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="16:00-17:00" data-book-line="1" data-book-price="400 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="17:00-18:00" data-book-line="1" data-book-price="400 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="1" data-book-price="500 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="1" data-book-price="500 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="1" data-book-price="500 р.")
                      td
                        //. Дата/время/дорожка свободны
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="1" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--booked Бронь
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="16:00-17:00" data-book-line="2" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="17:00-18:00" data-book-line="2" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="2" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="2" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="2" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="2" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--booked Бронь
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="16:00-17:00" data-book-line="3" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="17:00-18:00" data-book-line="3" data-book-price="400 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="3" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="3" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="3" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="3" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="4" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="4" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="4" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="4" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="5" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="5" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="5" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="5" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="6" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="6" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="6" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="6" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="7" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="7" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="7" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="7" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="8" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="8" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="8" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="8" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="9" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="9" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="9" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="9" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="10" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="10" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="10" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="10" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="11" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="11" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="11" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="11" data-book-price="500 р.")
                    tr
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--locked
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="18:00-19:00" data-book-line="12" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="19:00-20:00" data-book-line="12" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="20:00-21:00" data-book-line="12" data-book-price="500 р.")
                      td
                        .card__cell.card__cell--free(data-book-date="26.05.2021" data-book-time="21:00-22:00" data-book-line="12" data-book-price="500 р.")

            .card__lines
              .card__book-table
                table
                  thead
                    tr
                      td
                  tbody
                    tr
                      td
                        .card__cell.card__cell--line #1
                    tr
                      td
                        .card__cell.card__cell--line #2
                    tr
                      td
                        .card__cell.card__cell--line #3
                    tr
                      td
                        .card__cell.card__cell--line #4
                    tr
                      td
                        .card__cell.card__cell--line #5
                    tr
                      td
                        .card__cell.card__cell--line #6
                    tr
                      td
                        .card__cell.card__cell--line #7
                    tr
                      td
                        .card__cell.card__cell--line #8
                    tr
                      td
                        .card__cell.card__cell--line #9
                    tr
                      td
                        .card__cell.card__cell--line #10
                    tr
                      td
                        .card__cell.card__cell--line #11
                    tr
                      td
                        .card__cell.card__cell--line #12

      ul.card__legend
        li
          span.card__legend-color.card__legend-color--free
          span.card__legend-text Свободно
        li
          span.card__legend-color.card__legend-color--locked
          span.card__legend-text Занято
        li
          span.card__legend-color.card__legend-color--booked
          span.card__legend-text Бронь

      .card__tooltip
        p Стоимость:
        b 400 р.

    .card__prices
      .container
        h2.page-title Стоимость игры в боулинг за 1 час

        .card__table
          table
            thead
              tr
                td
                td 10:00 - 13:00
                td 13:00 - 18:00
                td 18:00 - 22:00
            tbody
              tr
                td
                  strong Понедельник
                td
                  span 400 руб.
                td
                  span 500 руб.
                td
                  span 700 руб.
              tr
                td
                  strong Вторник
                td
                  span 400 руб.
                td
                  span 500 руб.
                td
                  span 700 руб.
              tr
                td
                  strong Среда
                td
                  span 400 руб.
                td
                  span 500 руб.
                td
                  span 700 руб.
              tr
                td
                  strong Четверг
                td
                  span 400 руб.
                td
                  span 500 руб.
                td
                  span 700 руб.
              tr
                td
                  strong Пятница
                td
                  span 500 руб.
                td
                  span 650 руб.
                td
                  span 800 руб.
              tr
                td
                  strong Суббота
                td
                  span 700 руб.
                td
                  span 750 руб.
                td
                  span 800 руб.
              tr
                td
                  strong Воскресенье
                td
                  span 700 руб.
                td
                  span 750 руб.
                td
                  span 800 руб.

    .card__tariff
      .container
        h2.page-title Тарифы на мероприятия

        .card__table
          table
            thead
              tr
                td
                td Время
                td Акция
                td Цена за 1 час
                td Цена за последующий час
            tbody
              tr
                td
                  strong «День рождения»
                td Пн - Вс:
                  br
                  b  до 20:00
                td При оплате 1-го часа, 2-ой час
                  b  бесплатно
                td По тарифной сетке
                td По тарифной сетке
              tr
                td
                  strong «Студенческий»
                td Пн - Пт:
                  br
                  b  10:00 - 17:00
                td Студенты и школьники
                td
                  span
                    b 400 руб.
                td По тарифной сетке
              tr
                td
                  strong «Детский»
                td Пн - Пт:
                  br
                  b  10:00 - 17:00
                td Дети до
                  b  12 лет
                td
                  span
                    b 400 руб.
                td По тарифной сетке
              tr
                td(rowspan="3")
                  strong «Праздники»
                td 10:00 - 13:00
                td
                td
                  span
                    b 850 руб.
                td
              tr
                td 13:00 - 18:00
                td
                td
                  span
                    b 850 руб.
                td
              tr
                td 18:00 - 22:00
                td
                td
                  span
                    b 850 руб.
                td


  // /.scr_card
