mixin scr_amuse()
  section.scr_amuse.amuse(id="scr_amuse")
    .container
      h1.page-title Развлечения

      ul.amuse__list
        li
          a.amuse__img.xlink--more(href="#")
            img(src="img-temp/amuse/img-1.jpg" alt="" data-object-fit-cover)
          a.amuse__title(href="#") Боулинг в ТРЦ FM
          .amuse__text
            p Это место, где уютно себя чувствуешь в окружении множества друзей и просто приятных и родных вам людей! Боулинг оборудован 12 дорожками. Для Вас работает барная стойка и кафе! У нас Вы можете отпраздновать любой праздник: День Рождение, корпоративное мероприятие или просто праздник «души»!

        li
          a.amuse__img.xlink--more(href="#")
            img(src="img-temp/amuse/img-2.jpg" alt="" data-object-fit-cover)
          a.amuse__title(href="#") Бильярд в ТРЦ FM
          .amuse__text
            p У нас так же  вы можете получить удовольствие от игры в бильярд.
              br
              |  Вашему вниманию мы предлагаем два вида бильярда:  «Русский бильярд»,
              br
              |  «Американка». Стоимость игры — 300 руб/час.

        li
          a.amuse__img.xlink--more(href="#")
            img(src="img-temp/amuse/img-3.jpg" alt="" data-object-fit-cover)
          a.amuse__title(href="#") Ледовый каток в ТРЦ FM
          .amuse__text
            p Первый в Симферополе крытый ледовый каток.
              br
              |  Все интересующие Вас вопросы по телефону:
              a(href="tel:+73652690700" rel="nofollow")  +7 (3652) 690-700
              |;
              a(href="tel:+79780760736" rel="nofollow")  +7 (978) 076-07-36

        li
          a.amuse__img.xlink--more(href="#")
            img(src="img-temp/amuse/img-4.jpg" alt="" data-object-fit-cover)
          a.amuse__title(href="#") Кинотеатр в ТРЦ FM
          .amuse__text
            p Кинотеатр который подарит вам незабываемые эмоции!

  // /.scr_amuse

mixin scr_amuse--post()
  aside.scr_amuse.amuse.amuse--post(id="scr_amuse")
    ul.amuse__list
      li
        a.amuse__img.xlink--more(href="#")
          img(src="img-temp/post/img-1.jpg" alt="" data-object-fit-cover)
        a.amuse__title(href="#") Большой ассортимент одежды
      li
        a.amuse__img.xlink--more(href="#")
          img(src="img-temp/post/img-2.jpg" alt="" data-object-fit-cover)
        a.amuse__title(href="#") Крупнейший ледовый каток в городе
      li
        a.amuse__img.xlink--more(href="#")
          img(src="img-temp/post/img-3.jpg" alt="" data-object-fit-cover)
        a.amuse__title(href="#") Боулинг подарит вам уйму эмоций

  // /.scr_amuse
