mixin scr_jobs()
  section.scr_jobs.jobs(id="scr_jobs")
    .container
      h1.page-title Вакансии в ТРЦ FM

      .jobs__df
        .jobs__col
          ul.jobs__list
            li.jobs__item
              .top
                h2 Продавец-кассир
                button.open
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#close")

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .jobs__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.xbtn.xbtn--red(type='submit', value='Откликнуться')

                    .form__item
                      span.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.xlink Прикрепить резюме

            li.jobs__item
              .top
                h2 Мерчендайзер
                button.open
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#close")

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .jobs__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.xbtn.xbtn--red(type='submit', value='Откликнуться')

                    .form__item
                      span.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.xlink Прикрепить резюме

        .jobs__col
          ul.jobs__list
            li.jobs__item
              .top
                h2 Продавец-кассир
                button.open
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#close")

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .jobs__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.xbtn.xbtn--red(type='submit', value='Откликнуться')

                    .form__item
                      span.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.xlink Прикрепить резюме

            li.jobs__item
              .top
                h2 Мерчендайзер
                button.open
                  svg.icon
                    use(xlink:href="img/svg/sprite.svg#close")

              .hidden
                .article
                  h3 Обязанности:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Требования:
                  p Должностная инструкция продавца-кассира необходима для закрепления основ рабочего взаимодействия сотрудника, нанимаемого на обозначенную должность, с персоналом, клиентами и работодателем.

                  h3 Условия:
                  p Оформление в соответствии с ТК РФ
                    br
                    |  График работы 5/2, пн - чт с 9 - 00 до 17-00 пт с 9 - 00 до 16 - 00
                    br
                    |  З/п на время испытательного срока 1 мес. - 40 000 рублей
                    br
                    |  После - 50 000 рублей

                .jobs__bottom
                  form
                    .btn__wrap.btn__wrap--grad
                      input.xbtn.xbtn--red(type='submit', value='Откликнуться')

                    .form__item
                      span.your-file
                        label(tabindex="0")
                          input(type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required wpcf7-resume" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv" aria-required="true" aria-invalid="false")
                          span.sl.xlink Прикрепить резюме


  // /.scr_jobs
