mixin scr_cinema()
  section.scr_cinema.cinema.grey-bg(id="scr_cinema")
    .container
      .section-top
        h2.page-title Сейчас в кино
        a.xlink(href="#") Все фильмы

      ul.cinema__list
        li
          .cinema__item
            a.cinema__img.xlink--more(href="#")
              img(src="img-temp/cinema/img-1.jpg" alt="")

            a.cinema__title(href="#") Мортал Комбат
            p.cinema__text приключения, фантастика
        li
          .cinema__item
            a.cinema__img.xlink--more(href="#")
              img(src="img-temp/cinema/img-2.jpg" alt="")

            a.cinema__title(href="#") Кинотеатр кошмаров
            p.cinema__text хоррор
        li
          .cinema__item
            a.cinema__img.xlink--more(href="#")
              img(src="img-temp/cinema/img-3.jpg" alt="")

            a.cinema__title(href="#") Будь моим Кириллом
            p.cinema__text романтическая комедия
        li
          .cinema__item
            a.cinema__img.xlink--more(href="#")
              img(src="img-temp/cinema/img-4.jpg" alt="")

            a.cinema__title(href="#") 100% Волк
            p.cinema__text анимация

  // /.scr_cinema
