mixin scr_post()
  section.scr_post.post(id="scr_post")
    .container
      h1.page-title Почему большинство покупателей выбирают FM

      .post__df
        .post__wrap
          .post__img
            img(src="img-temp/post-img.jpg" alt="" data-object-fit-cover)

          .article
            h2 Добро пожаловать в первый и один из самых больших торгово-развлекательных центров Симферополя!

            p Современные торговые центры – это не только магазины, где можно купить продукты на неделю, это специализированные торговые площадки, где найдется место не только удачному и выгодному шоппингу, но и развлечениям и отдыху.
            p Торговый центр «ФМ» в Симферополе за несколько лет стал постоянным местом отдыха и шоппинга симферопольцев. Это удобное современное здание, вмещающее продуктовый гипермаркет «ФМ», сотни бутиков, кафе и многое другое.
            p ТРЦ «ФМ» удачно расположен на пересечении Ялтинской и Феодосийской магистралей. Здание общей площадью более 33 000 кв.м. (18 000 из них открылись в 2012 году) имеет 3 уровня и парковку на 800 автомобилей. Инфраструктура центра удобна и современна. Три торговых уровня сообщаются эскалаторами.

            ul
              li Самый большой ассортимент товара
              li Самый большие торговые площиди
              li Самый большой выбор техники
              li Одни из лучших развлечений

            p Современные торговые центры – это не только магазины, где можно купить продукты на неделю, это специализированные торговые площадки, где найдется место не только удачному и выгодному шоппингу, но и развлечениям и отдыху.
            p
              strong Первый уровень.
              |  На первом уровне расположены продуктовый супермаркет и бутиковая галерея.
            p
              strong Второй уровень.
              |  На втором уровне представлены бутики известных брендов (Kira Plastinina, Gloria jeans, Benetton), спортивные магазины Adidas, Reebok, Nike, Columbia, Puma , магазины обуви и аксессуаров.19 декабря 2012г открылся.
            p
              strong Третий уровень.
              |  В магазинах Никитка, Ивашка и гипермаркете  Лимпопо вам предложат модную одежду для ярких личностей. Если Вы пришли с детьми, не дайте им соскучиться, ни один малыш не сможет пройти мимо развлекательного центра, детской комнаты и аттракционов «Беби Бум»!

        +scr_amuse--post

  // /.scr_post

mixin scr_post--history()
  section.scr_post.post.post--history(id="scr_post")
    .container
      h1.page-title История ТРЦ FM

      .post__df
        .post__wrap
          .article
            h2 ТРЦ «ФМ» — известный торгово-развлекательный центр в Симферополе европейского уровня в популярном формате shopping mall

            p Торгово-развлекательный центр «ФМ» в Симферополе был открыт в декабре 2008 года.
            p Он расположен по адресу ул. Механизаторов,51 — возле одной из самых оживленных магистралей Ялта – Симферополь – Харьков.
            p Площадь ТРЦ составляет более 33 000 кв.м., 3 этажа, с возможностью паркинга на 800 автомобилей.
            p Удачное месторасположение, разнообразие товаров и развлечений, представленных в центре, способствуют привлечению в него посетителей со всего города. Ежедневно ТРЦ «ФМ» посещают порядка 5 тысяч человек, а в выходные и праздничные дни эта цифра достигает 10 тысяч.
            p Огромный выбор товаров, все самое необходимое на любой вкус и возможности! Современная женская, мужская и детская одежда от лучших торговых марок. Постоянные распродажи и акции увеличивает поток посетителей ТРЦ.

            img(src="img-temp/history-img.jpg" alt="")

            p На торговых площадях ТРЦ «ФМ» представлены магазины лучших мировых и отечественных брендов, кафе и кафетерии, развлечения для детей и взрослых, сфера услуг, офисный центр и многое другое. 19 декабря 2012г в ТРЦ были открыты боулинг, ледовый каток, бильярд, аттракционы.
            p В ТРЦ «ФМ» есть все, что угодно, а главное — все, что нужно! Здесь можно купить продукты на неделю в Гипермаркете «Большое Яблоко», площадь которого составляет 5 тыс. кв.м., одеть и обуть всю семью, а на сэкономленные деньги отлично отдохнуть!
            p Пока родители заняты покупками, дети развлекаются в детском центре под руководством опытных воспитателей.
            p Конкурентоспособность центра увеличивается за счет высоких стандартов работы команды ТРЦ «ФМ».
            p ТРЦ «ФМ» стал одним из самых любимых мест шоппинга и отдыха для симферопольцев и жителей других регионов Крыма.

        +scr_blog--history

  // /.scr_post

mixin scr_post--2()
  section.scr_post.post.post--2(id="scr_post")
    .container
      h1.page-title Почему большинство покупателей выбирают FM

      .post__df
        .post__wrap
          .post__img
            img(src="img-temp/post-img.jpg" alt="" data-object-fit-cover)

          .article
            h2 Добро пожаловать в первый и один из самых больших торгово-развлекательных центров Симферополя!

            p Современные торговые центры – это не только магазины, где можно купить продукты на неделю, это специализированные торговые площадки, где найдется место не только удачному и выгодному шоппингу, но и развлечениям и отдыху.
            p Торговый центр «ФМ» в Симферополе за несколько лет стал постоянным местом отдыха и шоппинга симферопольцев. Это удобное современное здание, вмещающее продуктовый гипермаркет «ФМ», сотни бутиков, кафе и многое другое.
            p ТРЦ «ФМ» удачно расположен на пересечении Ялтинской и Феодосийской магистралей. Здание общей площадью более 33 000 кв.м. (18 000 из них открылись в 2012 году) имеет 3 уровня и парковку на 800 автомобилей. Инфраструктура центра удобна и современна. Три торговых уровня сообщаются эскалаторами.

            ul
              li Самый большой ассортимент товара
              li Самый большие торговые площиди
              li Самый большой выбор техники
              li Одни из лучших развлечений

            p Современные торговые центры – это не только магазины, где можно купить продукты на неделю, это специализированные торговые площадки, где найдется место не только удачному и выгодному шоппингу, но и развлечениям и отдыху.
            p
              strong Первый уровень.
              |  На первом уровне расположены продуктовый супермаркет и бутиковая галерея.
            p
              strong Второй уровень.
              |  На втором уровне представлены бутики известных брендов (Kira Plastinina, Gloria jeans, Benetton), спортивные магазины Adidas, Reebok, Nike, Columbia, Puma , магазины обуви и аксессуаров.19 декабря 2012г открылся.
            p
              strong Третий уровень.
              |  В магазинах Никитка, Ивашка и гипермаркете  Лимпопо вам предложат модную одежду для ярких личностей. Если Вы пришли с детьми, не дайте им соскучиться, ни один малыш не сможет пройти мимо развлекательного центра, детской комнаты и аттракционов «Беби Бум»!

            ol
              li Самый большой ассортимент товара
              li Самый большие торговые площиди
              li Самый большой выбор техники
              li Одни из лучших развлечений

            p Современные торговые центры – это не только магазины, где можно купить продукты на неделю, это специализированные торговые площадки, где найдется место не только удачному и выгодному шоппингу, но и развлечениям и отдыху.

        +scr_blog--post

  // /.scr_post
