mixin scr_shops()
  section.scr_shops.shops(id="scr_shops")
    .container
      h1.page-title Магазины

      ul.shops__list
        li
          a.shops__img.xlink--more(href="#")
            img(src="img-temp/shops/img-1.jpg" alt="" data-object-fit-cover)
          a.shops__title(href="#") Одежда и обувь

        li
          a.shops__img.xlink--more(href="#")
            img(src="img-temp/shops/img-2.jpg" alt="" data-object-fit-cover)
          a.shops__title(href="#") Детские товары

        li
          a.shops__img.xlink--more(href="#")
            img(src="img-temp/shops/img-3.jpg" alt="" data-object-fit-cover)
          a.shops__title(href="#") Аксессуары и бижутерия

        li
          a.shops__img.xlink--more(href="#")
            img(src="img-temp/shops/img-4.jpg" alt="" data-object-fit-cover)
          a.shops__title(href="#") Сувениры и подарки

        li
          a.shops__img.xlink--more(href="#")
            img(src="img-temp/shops/img-5.jpg" alt="" data-object-fit-cover)
          a.shops__title(href="#") Бытовая техника

  // /.scr_shops
