mixin scr_side-menu(logotype)
  section.scr_side-menu.side-menu(id="scr_side-menu")
    .side-menu__wrap
      button.burger
        span.burger__wrap
          span.line

      .logo__wrap
        if logotype == "a"
          #{logotype}.logo(href="index.html")
            img(src="img/svg/icons/logo.svg" alt="лого")
        else
          #{logotype}.logo
            img(src="img/svg/icons/logo.svg" alt="лого")

        p.logo__text Торгово-развлекательный комплекс

      ul.menu
        li.menu-item.menu-item-has-children
          a(href="#")
            span.menu-item__icon
              img(src="img/svg/icons/mall.svg" alt="")

            span.menu-item__text О комплексе
            span.arrow
          ul.sub-menu
            li.menu-item
              a(href="#") О комплексе
            li.menu-item
              a(href="#") Наша история
            li.menu-item
              a(href="#") Галерея
            li.menu-item
              a(href="#") Вакансии

        li.menu-item
          a(href="#")
            span.menu-item__icon
              img(src="img/svg/icons/store.svg" alt="")

            span.menu-item__text Магазины

        li.menu-item
          a(href="#")
            span.menu-item__icon
              img(src="img/svg/icons/cinema.svg" alt="")

            span.menu-item__text Развлечения

        li.menu-item
          a(href="#")
            span.menu-item__icon
              img(src="img/svg/icons/discount.svg" alt="")

            span.menu-item__text Акции и новости

        li.menu-item
          a(href="#")
            span.menu-item__icon
              img(src="img/svg/icons/map.svg" alt="")

            span.menu-item__text Карта комплекса

        li.menu-item
          a(href="#")
            span.menu-item__icon
              img(src="img/svg/icons/write.svg" alt="")

            span.menu-item__text Арендаторам

        li.menu-item
          a(href="#")
            span.menu-item__icon
              img(src="img/svg/icons/shopping-center.svg" alt="")

            span.menu-item__text Контакты

      +socials

  // /.scr_side-menu
