mixin scr_map()
  section.scr_map(id="scr_map")
    .container
      .scr_map__wrap
        button.swiper-button-prev
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow3")
        .scr_map__slider#scr_map__slider
          .swiper-wrapper
            .swiper-slide
              a(href="#scr_map__tab-0") Цокольный этаж
            .swiper-slide
              a(href="#scr_map__tab-1") Первый этаж
            .swiper-slide
              a(href="#scr_map__tab-2") Второй этаж
        button.swiper-button-next
          svg.icon
            use(xlink:href="img/svg/sprite.svg#arrow3")

      ul.scr_map__tabs
        li.scr_map__tab#scr_map__tab-0
          .scr_map__map


          ul.scr_map__places
            li
              a(href="#")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#map-1")
                span Аренда
            li
              a(href="#")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#map-2")
                span Банкомат
            li
              a(href="#")
                svg.icon
                  use(xlink:href="img/svg/sprite.svg#map-3")
                span Туалет

  // /.scr_map
